---
title: "Improving Community - The power of good, centralized documentation."
author: "Lincoln Baxter III"
blogger_name: "Lincoln"
creation_date: "05-03-2010"
tags: [Community,Seam,Seam News,Weld]

relative_url: /2010/03/05/ImprovingCommunityThePowerOfGoodCentralizedDocumentation
slug: ImprovingCommunityThePowerOfGoodCentralizedDocumentation
lace: http://in.relation.to/14634.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/03/05/ImprovingCommunityThePowerOfGoodCentralizedDocumentation
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
If you've ever programmed in PHP, Ruby, Perl, Groovy, and probably others, then you know how nice it is to have a central, official space for reference documentation and inline community feedback.
</p>

<p class="wikiPara">
This is something that has sorely been missing from the JEE community, and something that has caused many disparate websites to attempt putting forward a weak effort in providing useful documentation -- you leave the community part aside to think that this is a good thing for any open-source technology.
</p>

<h3 class="wikiHeadline3" id="H-ASuccessfulOpensourceCommunityDocumentationInitiativeHas"><a href="/2010/03/05/ImprovingCommunityThePowerOfGoodCentralizedDocumentation#H-ASuccessfulOpensourceCommunityDocumentationInitiativeHas">A successful open-source community documentation initiative has:</a></h3>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Comprehensive documentation provided on a central, official website (http://seamframework.org)</li>
<li class="wikiUnorderedListItem"> Inline comments and user feedback.</li>
<li class="wikiUnorderedListItem"> The most common paths on the website are the most visible, intuitive paths.</li>
<li class="wikiUnorderedListItem"> Fluent navigation and document hierarchies. (The URL matches the Breadcrumbs matches the content. If users get lost, users give up.)</li>
<li class="wikiUnorderedListItem"> Accurate and relevant official information, well vetted information. </li>
</ul>

<p class="wikiPara">
I'm sure there is more, but that's what I have at the top of my head. 
</p>

<h3 class="wikiHeadline3" id="H-MakingProgressHappen"><a href="/2010/03/05/ImprovingCommunityThePowerOfGoodCentralizedDocumentation#H-MakingProgressHappen">Making progress happen:</a></h3>
<p class="wikiPara">
In kick-starting my (hopefully long) tenure with Red Hat, I'm focusing on improving community documentation for the Seam Framework, and for Java EE as a whole. I've started by updated the Seam Framework website to more clearly display the links to Seam and Weld JIRAs; you previously had to do a little digging.
</p>

<p class="wikiPara">
All of my efforts can be tracked here: <a href="https://jira.jboss.org/jira/browse/JBSEAM-4585" target="" class="regularLink">https://jira.jboss.org/jira/browse/JBSEAM-4585</a>
</p>

<p class="wikiPara">
Please, I ask if you find any outstanding problems, or points of pain with the Seam or Weld documentation, to add it to this Jira. If you can't, then comment here and I'll see that it's addressed.
</p>

<p class="wikiPara">
SeamFramework.org needs work, and I do think that the community really belongs on jboss.org, in order to fully get credit for their hard work and great achievements. Jboss.org also provides much of the functionality that I'm looking for in a community management tool, but we'll see what everyone wants ;)
</p>

<p class="wikiPara">
Happy communities make happy software!
</p>

</div>

