---
title: "Seam Faces - Version 3.0.0.Beta1 - Release Notes"
author: "Lincoln Baxter III"
blogger_name: "Lincoln"
layout: blog-post
tags: []
slug: SeamFacesVersion300Beta1ReleaseNotes
lace: http://in.relation.to/17626.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/SeamFacesVersion300Beta1ReleaseNotes">Seam Faces - Version 3.0.0.Beta1 - Release Notes</a>
                    </h1>
</div>
<p class="wikiPara">
Seam Faces - Version 3.0.0.Beta1 is released. Several bugfixes as well as several new features have been included. This new version requires Weld Version 1.0.1.Beta1 or later. (Meaning GlassFish 3.1 or JBoss AS 6 M5+)
</p>

<p class="wikiPara">
We have also begun integrating Seam Managed Transactions, however, this requires an optional dependency on the Seam Persistence Module.
</p>

<p class="wikiPara">
<a href="http://seamframework.org/Seam3/FacesModule" target="" class="regularLink">http://seamframework.org/Seam3/FacesModule</a>
</p>

<pre class="wikiPreformatted">&lt;dependency&gt;
    &lt;groupId&gt;org.jboss.seam.faces&lt;/groupId&gt;
    &lt;artifactId&gt;seam-faces&lt;/artifactId&gt;
    &lt;version&gt;3.0.0.Beta1&lt;/version&gt;
&lt;/dependency&gt;</pre>


<p class="wikiPara">
Also note that JBoss Logging is now required instead of SLF4J.
</p>

<pre class="wikiPreformatted">&lt;dependency&gt;
    &lt;groupId&gt;org.jboss.logging&lt;/groupId&gt;
    &lt;artifactId&gt;jboss-logging&lt;/artifactId&gt;
    &lt;version&gt;1.0.0.Beta4&lt;/version&gt;
&lt;/dependency&gt;</pre>


<h2>Bug</h2>

<ul>
<li>[<a href="https://jira.jboss.org/browse/SEAMFACES-42">SEAMFACES-42</a>] -         IllegalProductException: WELD-000052 Cannot return null from a non-dependent producer method
</li>
</ul>

<h2>Feature Request</h2>

<ul>
<li>[<a href="https://jira.jboss.org/browse/SEAMFACES-21">SEAMFACES-21</a>] -         raise before navigate event
</li>
<li>[<a href="https://jira.jboss.org/browse/SEAMFACES-22">SEAMFACES-22</a>] -         create an input field container component that supplements a composite component
</li>
<li>[<a href="https://jira.jboss.org/browse/SEAMFACES-54">SEAMFACES-54</a>] -         Need a producer for the standard Faces javax.faces.context.Flash object
</li>
<li>[<a href="https://jira.jboss.org/browse/SEAMFACES-56">SEAMFACES-56</a>] -         Update Seam Faces to use JBoss Logging
</li>
</ul>

<h2>Patch</h2>

<ul>
<li>[<a href="https://jira.jboss.org/browse/SEAMFACES-53">SEAMFACES-53</a>] -         The FlashScopedContext unnecessarily adds a fid parameter into the query string when only a single Flashcontext is active.
</li>
</ul>
<p class="wikiPara">
                            </p>
</div>
