.text-center.project-menu-title
  %a{:href => '/', :class => 'icon-stack'}
    %i.icon.circular.grid.quote.right.big

.ui.vertical.menu.fluid
  %a.item(href="/")
    %i.icon.grid.home
    Home
  %a.item(href="/blog.atom")
    %i.icon.grid.feed
    Feed
