- real_page = page['real_page']
.left-column
  = partial( 'blog/home-menu.html.haml' )
  = partial( real_page.left_column_extra_partial.nil? ? 'blog/left-column-extra-empty.html.haml' : real_page.left_column_extra_partial, {"real_page" => real_page} )
  %hr
  .cloud-tags
    %h2 Tags
    = site.posts_tags_cloud
  = partial( 'blog/blogger-list.html.haml' )
