-# Displays a single blog post
- post = page["post"]
- show_author_image = page["show_author_image"]
- # Author is a String in editor mode only
- member = site.people.values.detect{|member| member.name == (post.author.is_a?(String) ? post.author : post.author[0].to_s)}

= partial( 'blog/post-title.html.haml', {"post" => post} )
= partial( 'blog/post-content.html.haml', {"post" => post} )
