---
title: "Hibernate Tools Alpha 5 released"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "22-08-2005"
tags: []

relative_url: /2005/08/22/HibernateToolsAlpha5Released
slug: HibernateToolsAlpha5Released
lace: http://in.relation.to/2101.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2005/08/22/HibernateToolsAlpha5Released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
A new updated version of the Hibernate Tools (<a href="http://tools.hibernate.org" target="" class="regularLink">http://tools.hibernate.org</a>) project have
been made available.
</p>

<p class="wikiPara">
The tools are for both Eclipse and ANT, the ANT related docs are at
<a href="http://www.hibernate.org/hib_docs/tools/ant/index.html" target="" class="regularLink">http://www.hibernate.org/hib_docs/tools/ant/index.html</a>
</p>

<p class="wikiPara">
The eclipse plugins is now compatible with WTP 0.7 and contains a bunch of
new features and improvements. 
</p>

<p class="wikiPara">
My personal favorite at the moment, is the <q>Dynamic Query Translator</q> view which continously
shows you the SQL, Hibernate will generate for the query you are typing in the HQL editor.
Great for learning and tuning HQL queries - note that EJB3-QL works here too.
</p>

<p class="wikiPara">
The HQL editor is also new and replaces the HQL view and introduces
code formatting, syntax highlighting and code completion.
</p>

<p class="wikiPara">
Furthermore we have a initial class diagram view as well as many other
improvements to wizards, templates, and code generators. See the
complete list with screenshots at class diagrams at
<a href="http://www.hibernate.org/hib_docs/tools/newandnoteworthy/hibernate-eclipse-news-3.1.0.alpha5.html" target="" class="regularLink">http://www.hibernate.org/hib_docs/tools/newandnoteworthy/hibernate-eclipse-news-3.1.0.alpha5.html</a>
for more information.
</p>

<p class="wikiPara">
As always feedback, ideas, contributions, patches, bug-reports are more than welcome by the
usual means at <a href="http://forum.hibernate.org" target="" class="regularLink">http://forum.hibernate.org</a> and JIRA.
</p>
</div>
