---
title: "Hibernate Tools 3.1 Beta 1 released"
author: "Max Andersen"
creation_date: "19-10-2005"
blogger_name: "Max"
layout: blog-post
tags: []
slug: HibernateTools31Beta1Released
lace: http://in.relation.to/2103.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
A new updated version of the Hibernate Tools (<a href="http://tools.hibernate.org" target="" class="regularLink">http://tools.hibernate.org</a>) project have
been made available.
</p>

<p class="wikiPara">
The tools are for both Eclipse and ANT, the ANT related docs are at
<a href="http://www.hibernate.org/hib_docs/tools/ant/index.html" target="" class="regularLink">http://www.hibernate.org/hib_docs/tools/ant/index.html</a>
</p>

<p class="wikiPara">
The biggest new feature is that you can now use your annotated classes in the 
query console (require JDK 5) and thus be able to prototype EJB3 queries.
</p>

<p class="wikiPara">
We also added support for named parameters in the query console making it very
easy to test existing queries from your application since you do not need 
to replace the parameters with inplace values.
</p>

<p class="wikiPara">
See the screenshots and other noteworthy news at
<a href="http://www.hibernate.org/hib_docs/tools/eclipse/newandnoteworthy/hibernate-eclipse-news-3.1.0.beta1.html" target="" class="regularLink">http://www.hibernate.org/hib_docs/tools/eclipse/newandnoteworthy/hibernate-eclipse-news-3.1.0.beta1.html</a>
for more information.
</p>

<p class="wikiPara">
As always feedback, ideas, contributions, patches, bug-reports are more than welcome by the
usual means at <a href="http://forum.hibernate.org" target="" class="regularLink">http://forum.hibernate.org</a> and JIRA.
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'HibernateTools31Beta1Released';
    var disqus_title = 'Hibernate Tools 3.1 Beta 1 released';
    var disqus_url = 'http://in.relation.to/2103.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
