---
title: "Hibernate Tools Alpha 4 released"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "09-06-2005"
tags: []

relative_url: /2005/06/09/HibernateToolsAlpha4Released
slug: HibernateToolsAlpha4Released
lace: http://in.relation.to/2100.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2005/06/09/HibernateToolsAlpha4Released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The new updated version of the Hibernate Tools (<a href="http://tools.hibernate.org" target="" class="regularLink">http://tools.hibernate.org</a>) project includes
significant updates to the Eclipse editors, plugings, and wizards, as
well as a unified and convenient Ant task for integration of the tools
in your regular builds. 
</p>

<p class="wikiPara">
See <a href="http://www.hibernate.org/hib_docs/tools/newandnoteworthy/hibernate-eclipse-news-3.0.0.alpha4.html" target="" class="regularLink">http://www.hibernate.org/hib_docs/tools/newandnoteworthy/hibernate-eclipse-news-3.0.0.alpha4.html</a> for
a visual mini-tour of the new features.
</p>

<p class="wikiPara">
Ant task documentation is at <a href="http://www.hibernate.org/hib_docs/tools/ant/index.html" target="" class="regularLink">http://www.hibernate.org/hib_docs/tools/ant/index.html</a>
</p>
</div>
