---
title: "Hibernate Tools for Ant, Eclipse and NetBeans"
author: "Max Andersen"
blogger_name: "Max"
layout: blog-post
tags: []
slug: HibernateToolsForAntEclipseAndNetBeans
lace: http://in.relation.to/2140.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/HibernateToolsForAntEclipseAndNetBeans">Hibernate Tools for Ant, Eclipse and NetBeans</a>
                    </h1>
</div>
<p class="wikiPara">
Now that the dust is starting to settle from JavaOne it is time to explain what the announcement from JBoss about joining and endorsing NetBeans means in context of <a href="http://tools.hibernate.org" target="" class="regularLink">Hibernate Tools</a>.
</p>

<p class="wikiPara">
The core of Hibernate Tools have always and will always be independent
of any IDE; these are available via our <tt>&lt;hibernate-tool&gt;</tt> <a href="http://www.hibernate.org/hib_docs/tools/reference/en/html_single/#ant" target="" class="regularLink">Ant task</a>.
</p>

<p class="wikiPara">
<a href="http://www.hibernate.org/hib_docs/tools/reference/en/html_single/#plugins" target="" class="regularLink">Hibernate Tools for Eclipse</a> will still be developed and improved.  At
JBossWorld we will have a release with new features and it will be
compatible with Eclipse 3.2 and WTP 1.5 (Callisto), and for the brave
the <a href="http://download.jboss.com/jbosside/builds/nightly/" target="" class="regularLink">nightly builds</a> should soon be the Callisto-based version.
</p>

<p class="wikiPara">
In other words we are not moving away from Eclipse, we are simply
recognizing the great work that the NetBeans community have been
doing especially with respect to <a href="http://www.netbeans.org/kb/articles/javaee5-hello-world.html" target="" class="regularLink">Java EE 5 tooling</a>.
</p>

<p class="wikiPara">
Thus for NetBeans and Hibernate Tools we gladly accepted a
contribution from Leon Chiver which brings some of the Hibernate Tools
for Eclipse features to the NetBeans platform, primarily the HQL
editor (thank you Leon). We expect to also release a preview of this
around JBossWorld.
</p>

<p class="wikiPara">
Already with the initial contribution we have created a
shared code set for the HQL code completion which actually resulted in
merging both of best worlds and improving the functionality in both
the Eclipse and NetBeans plugins.
</p>

<p class="wikiPara">
We plan to align the feature set of the IDE tooling with help from the
community and have the plugins share as much code as feasible to allow contributions in both <q>camps</q> to benefit each other. I look forward <a href="http://forum.hibernate.org/viewforum.php?f=6" target="" class="regularLink">to hear</a> from you what features you want the most.
</p>

<p class="wikiPara">
There is more news coming and if you are curious come and hear
more about them at <a href="http://www.jbossworld.com" target="" class="regularLink">JBossWorld Las Vegas</a>. I and others from the
Hibernate and JBoss IDE Team will be there.
</p>
</div>
