---
title: "5 years and Hibernate in Copenhagen"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "27-11-2006"
original_tags: []
tags: []

relative_url: /2006/11/27/5-years-and-hibernate-in-copenhagen
slug: 5-years-and-hibernate-in-copenhagen
lace: http://in.relation.to/2146.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2006/11/27/5-years-and-hibernate-in-copenhagen
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I cannot believe it is now 5 years ago I bumped into hibernate, and if you use the <a href="http://www.archive.org/web/web.php" target="" class="regularLink">way back machine </a> and know the original url(s) of the project you can have a walk down memory lane (yes, the front page were even simpler than what Christian just posted in the very first days of Hibernate; I guess he were being nice towards Gavin and his taste of color) 
</p>

<p class="wikiPara">
Browsing through the online mail and forum archives is also tremendous fun; could be interesting to collect some of the milestones and funny anecdotes from these. 
</p>

<p class="wikiPara">
Coincidentally I get to celebrate this event by doing the first public training in Copenhagen about Hibernate on 5-6. December, see <a href="http://www.redpill.se/" target="" class="regularLink">here </a> for details. I'll look forward to be in the <q>motherland</q> to tell and teach about the current result of the 5 years journey. 
</p>

<p class="wikiPara">
I will also be presenting on Hibernate JPA and EJB3 in Copenhagen 4. December at Dansk-IT Java group meeting. You can see the program (in Danish) <a href="http://www.dansk-it.dk/netvaerk/4_typer_netvaerk/kompetence_netvaerk/java/Program_Naeste_Moede.aspx" target="" class="regularLink">here </a>. 
</p>

<p class="wikiPara">
See you in Copenhagen and to Hibernate and the team: Tillykke med fdselsdagen!
</p>
</div>

