---
title: "Hibernate Tools 3.2 Beta 6 released"
author: "Max Andersen"
blogger_name: "Max"
layout: blog-post
tags: []
slug: HibernateTools32Beta6Released
lace: http://in.relation.to/2144.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/HibernateTools32Beta6Released">Hibernate Tools 3.2 Beta 6 released</a>
                    </h1>
</div>
<p class="wikiPara">
Hibernate Tools 3.2.0.beta6 (<a href="http://tools.hibernate.org" target="" class="regularLink">http://tools.hibernate.org</a>) have been made available.
</p>

<p class="wikiPara">
As always the tools are for both Eclipse and ANT. 
</p>

<p class="wikiPara">
It was actually released a couple of days ago, but a holiday got in the way
of announcing it before now.
</p>

<p class="wikiPara">
The big news for this release is that it is now compatible with Eclipse 3.2 and WTP 1.5, 
so we have hereby joined or are least compatible with the <q>Callisto</q> train. 
</p>

<p class="wikiPara">
Eclipse 3.2 has some new interesting extension points that we have made good use of to
e.g. provide HQL code completion and validation <i class="wikiEmphasis">inside</i> the java code. 
</p>

<p class="wikiPara">
See screenshots and other noteworthy news 
<a href="http://www.hibernate.org/hib_docs/tools/eclipse/newandnoteworthy/hibernate-eclipse-news-3.2.0.beta6.html" target="" class="regularLink">here </a>
for more information.
</p>

<p class="wikiPara">
On a side note, <a href="http://jbossworld.com/" target="" class="regularLink">JBossWorld </a>(as always) allowed me to get in contact
with alot of users of the Hibernate Tools more directly and that was
tremendous fun and interesting - Thanks. I got a lot of new input for
new features and enhancements that should make it into future releases.
</p>

<p class="wikiPara">
But remember that even though you did not make it to JBossWorld your feedback and
contribution is always welcome at our <a href="http://forum.hibernate.org" target="" class="regularLink">forum </a> and our <a href="http://hibernate.org/217.html" target="" class="regularLink">JIRA </a>.
</p>
</div>
