---
title: "Hibernate Tools Demo at EclipseCon"
author: "Max Andersen"
creation_date: "28-02-2006"
blogger_name: "Max"
layout: blog-post
tags: []
slug: HibernateToolsDemoAtEclipseCon
lace: http://in.relation.to/2132.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'll be demo'ing <a href="http://tools.hibernate.org" target="" class="regularLink">Hibernate Tools </a> at
<a href="http://www.eclipsecon.org" target="" class="regularLink">EclipseCon </a> on March 21st. See details <a href="http://www.eclipsecon.org/2006/Sub.do?id=513" target="" class="regularLink">here </a>.
</p>

<p class="wikiPara">
It is a 15 minute demo, so will be a quick'n'dirty presentation; but it will give you a good insight on what
is available via the plugins <a href="http://www.hibernate.org/hib_docs/tools/reference/en/html_single/" target="" class="regularLink">currently </a> and what is <a href="http://opensource2.atlassian.com/projects/hibernate/browse/HBX?report=com.atlassian.jira.plugin.system.project:roadmap-panel" target="" class="regularLink">coming </a>.
</p>

<p class="wikiPara">
Koen Aers will also be presenting <a href="http://www.eclipsecon.org/2006/Sub.do?id=71" target="" class="regularLink">A Gentle Introduction to GEF </a> 
which is used in the basis of the jBPM designer which can be used to model 
<a href="http://docs.jboss.com/seam/reference/en/html/tools.html#d0e4582" target="" class="regularLink">business processes and pageflow </a> for
<a href="http://www.jboss.com/products/seam" target="" class="regularLink">JBoss Seam </a>.
</p>

<p class="wikiPara">
Marshall Culpepper is also present thus the core team behind <a href="http://www.jboss.org/products/jbosside" target="" class="regularLink">JBoss Eclipse IDE </a> will be there.
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'HibernateToolsDemoAtEclipseCon';
    var disqus_title = 'Hibernate Tools Demo at EclipseCon';
    var disqus_url = 'http://in.relation.to/2132.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
