---
title: "Hibernate Tools 3.2 Beta 7 released"
author: "Max Andersen"
blogger_name: "Max"
layout: blog-post
tags: []
slug: HibernateTools32Beta7Released
lace: http://in.relation.to/2145.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/HibernateTools32Beta7Released">Hibernate Tools 3.2 Beta 7 released</a>
                    </h1>
</div>
<p class="wikiPara">
Hibernate Tools 3.2.0.beta7 (<a href="http://tools.hibernate.org" target="" class="regularLink">http://tools.hibernate.org</a>) have been made available.
</p>

<h3 class="wikiHeadline3" id="H-ManytoMany"><a href="/Bloggers/HibernateTools32Beta7Released#H-ManytoMany">Many-to-Many</a></h3>
<p class="wikiPara">
One new <q>major</q> feature did go into this release (besides bugfixes and minor enhancements).
Namely support for many-to-many tables during reverse engineering; so please go check
that out if you have been waiting for it and give feedback at our <a href="http://forum.hibernate.org" target="" class="regularLink">forum </a> and
bugreports or enhancement requests at our <a href="http://hibernate.org/217.html" target="" class="regularLink">JIRA </a>.
</p>

<p class="wikiPara">
See screenshots and other noteworthy news 
<a href="http://www.hibernate.org/hib_docs/tools/eclipse/newandnoteworthy/hibernate-eclipse-news-3.2.0.beta7.html" target="" class="regularLink">here </a>
for more information.
</p>

<h3 class="wikiHeadline3" id="H-QueryEditingViewlet"><a href="/Bloggers/HibernateTools32Beta7Released#H-QueryEditingViewlet">Query editing viewlet</a></h3>

<p class="wikiPara">
I sat down and created a small viewlet of the HQL/JPAQL editing
features we added in the previous release. That viewlet can be seen <a href="http://www.hibernate.org/hib_docs/tools/viewlets/hqlcodecompletion_viewlet_swf.html" target="" class="regularLink">here </a>,
and one of the features it illustrates is shown in the following picture:
</p>

<p class="wikiPara">
<a href="http://www.hibernate.org/hib_docs/tools/eclipse/newandnoteworthy/completeinsidejava.png" target="" class="regularLink">http://www.hibernate.org/hib_docs/tools/eclipse/newandnoteworthy/completeinsidejava.png</a>
</p>

<p class="wikiPara">
p.s. to enable this feature, you need an <i class="wikiEmphasis">open</i> Hibernate Console configuration and remember to <i class="wikiEmphasis">enable Hibernate</i> for you java project in the properties of your project.
</p>
</div>
