---
title: "Hibernate Tools 3.1 Beta 4 released"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "30-01-2006"
tags: []

absolute_url: http://in.relation.to/2006/01/30/HibernateTools31Beta4Released
lace: http://in.relation.to/2109.lace
slug: HibernateTools31Beta4Released

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
A new updated version of the Hibernate Tools (<a href="http://tools.hibernate.org" target="" class="regularLink">http://tools.hibernate.org</a>) project have
been made available.
</p>

<p class="wikiPara">
The tools are for both Eclipse and ANT. In this release the documentation for
both ANT and Eclipse have been extensively updated and merged into a reference documentation, see
<a href="http://www.hibernate.org/hib_docs/tools/reference/en/html_single/" target="" class="regularLink">http://www.hibernate.org/hib_docs/tools/reference/en/html_single/</a>
</p>

<p class="wikiPara">
See screenshots and other noteworthy news at
<a href="http://www.hibernate.org/hib_docs/tools/eclipse/newandnoteworthy/hibernate-eclipse-news-3.1.0.beta4.html" target="" class="regularLink">http://www.hibernate.org/hib_docs/tools/eclipse/newandnoteworthy/hibernate-eclipse-news-3.1.0.beta4.html</a>
for more information.
</p>

<p class="wikiPara">
As always feedback, ideas, contributions, patches, bug-reports are more than welcome by the
usual means at <a href="http://forum.hibernate.org" target="" class="regularLink">http://forum.hibernate.org</a> and JIRA.
</p>

<p class="wikiPara">
Currently we are discussing wether FreeMarker should replace the current
Velocity template engine used in the tools or if something can be done to make the Velocity templates more <q>userfriendly</q>. Come and join at <a href="http://forum.hibernate.org/viewtopic.php?t=954602" target="" class="regularLink">http://forum.hibernate.org/viewtopic.php?t=954602</a>
</p>
</div>
