---
title: "Hibernate Tools 3.1 Beta 5 released"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "24-04-2006"
tags: []

relative_url: /2006/04/24/hibernate-tools-31-beta-5-released
slug: hibernate-tools-31-beta-5-released
lace: http://in.relation.to/2137.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2006/04/24/hibernate-tools-31-beta-5-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate Tools 3.1.0.beta5 (<a href="http://tools.hibernate.org" target="" class="regularLink">http://tools.hibernate.org</a>) have been made available.
</p>

<p class="wikiPara">
The tools are for both Eclipse and ANT. 
</p>

<p class="wikiPara">
This version is where the template functionallity is <a href="http://blog.hibernate.org/cgi-bin/blosxom.cgi/Max%20Andersen/a_story_about_freemarker_and_velocity.html" target="" class="regularLink">finally </a> based on FreeMarker.
</p>

<p class="wikiPara">
As an extra treat the tools now bundle a FreeMarker plugin to help out
when writing custom templates (Thanks to Joe Hudson).
</p>

<p class="wikiPara">
ANT users also get a most-wanted feature, namely removal of the old
requirement of having to specify all mapped classes in
hibernate.cfg.xml when e.g. generating the schema based on EJB3
annotated classes. 
</p>

<p class="wikiPara">
The new <i class="wikiEmphasis"><tt>&lt;ejb3configuration&gt;</tt></i> support in the ant
task allows standard EJB3 persistence packaged projects to be
automatically scanned for mappings and then used like any other
Hibernate compatible configuration.
</p>

<p class="wikiPara">
See screenshots and other noteworthy news at
<a href="http://www.hibernate.org/hib_docs/tools/eclipse/newandnoteworthy/hibernate-eclipse-news-3.1.0.beta5.html" target="" class="regularLink">here </a>
for more information.
</p>
</div>

