---
title: "JBoss Tools 2 Release Candidate"
author: "Max Andersen"
creation_date: "15-11-2007"
blogger_name: "Max"
layout: blog-post
tags: []
slug: JBossTools2ReleaseCandidate
lace: http://in.relation.to/2953.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The release candidate of <a href="http://jboss.org/tools" target="" class="regularLink">JBoss Tools</a> is now available at <a href="http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=242269&amp;release_id=554174" target="" class="regularLink">sourceforge</a> for <a href="http://downloads.sourceforge.net/jboss/JBossTools-2.0.0.CR1-ALL-linux-gtk.zip" target="" class="regularLink">Linux</a>, <a href="http://downloads.sourceforge.net/jboss/JBossTools-2.0.0.CR1-ALL-win32.zip" target="" class="regularLink">Windows</a> and <a href="http://downloads.sourceforge.net/jboss/JBossTools-2.0.0.CR1-ALL-macosx-carbon.zip" target="" class="regularLink">Mac</a>.
 
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Update 16.11:</i> The update site is now in-sync with CR1 too, Use <a href="http://download.jboss.org/jbosstools/updates/development" target="" class="regularLink">http://download.jboss.org/jbosstools/updates/development</a> in Eclipse.
</p>

<p class="wikiPara">
The major news in this release are <a href="http://in.relation.to/2628.lace" target="" class="regularLink">Seam 2</a> and <a href="http://blog.xam.dk/archives/78-Visual-Page-Editor-updated-now-with-MacOSX-support.html" target="" class="regularLink">Mac OS X support</a> plus a long list of bugfixes and enhancements. You can read more about the specific enhancements in the <a href="http://docs.jboss.org/tools/whatsnew" target="" class="regularLink">New and noteworthy</a> pages.
</p>

<h2 class="wikiHeadline2" id="H-NextStepIsGA"><a href="/Bloggers/JBossTools2ReleaseCandidate#H-NextStepIsGA">Next step is GA</a></h2>

<p class="wikiPara">
This release brings JBoss Tools very close to a final release, but to get there we are going to need help from the community to test out the release.
If you haven't already done so, please try out JBoss Tools and if you find any issues bring them up in the <a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="" class="regularLink">forum</a> or open issues in <a href="http://jira.jboss.com/jira/browse/JBIDE" target="" class="regularLink">JIRA</a>.
</p>

<h1 class="wikiHeadline1" id="H-Demo"><a href="/Bloggers/JBossTools2ReleaseCandidate#H-Demo">Demo</a></h1>

<p class="wikiPara">
We have also started doing some small movies to show of the functionallity in JBoss Tools and Red Hat Developer Studio. 
</p>

<p class="wikiPara">
The following shows the steps to create a JBoss Seam project with JBoss Tools and how to run and edit the project.
</p>

<div style="text-align:center">
<div id="j_id495:flashPluginDiv"><div id="j_id495:j_id496">
        <object width="800" height="620">
            <param name="movie" value="http://docs.jboss.org/tools/movies/ootb_new_seam_project.swf">
            <param name="wmode" value="transparent">
            <param name="allowFullScreen" value="true">
            <embed src="http://docs.jboss.org/tools/movies/ootb_new_seam_project.swf" type="application/x-shockwave-flash" wmode="transparent" allowfullscreen="true" width="800" height="620">
           </embed>
        </object>
</div></div>
</div>

<p class="wikiPara">
Have fun!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'JBossTools2ReleaseCandidate';
    var disqus_title = 'JBoss Tools 2 Release Candidate';
    var disqus_url = 'http://in.relation.to/2953.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
