---
title: "Hibernate Tools goes to the movies"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "23-01-2007"
tags: []

relative_url: /2007/01/23/hibernate-tools-goes-to-the-movies
slug: hibernate-tools-goes-to-the-movies
lace: http://in.relation.to/2147.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/01/23/hibernate-tools-goes-to-the-movies
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Last week we released <a href="http://tools.hibernate.org" target="" class="regularLink">Hibernate Tools 3.2.0.beta9 </a> and we actually did it twice.
</p>

<p class="wikiPara">
A typo error prevented JPA configurations from working from inside Eclipse thus if you downloaded Hibernate Tools early
last week you should go and make sure to get the <q><a href="http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=72248&amp;release_id=478192" target="" class="regularLink">beta9a </a></q> version.
</p>

<h3 class="wikiHeadline3" id="H-EaseOfSetup"><a href="/2007/01/23/hibernate-tools-goes-to-the-movies#H-EaseOfSetup">Ease of setup</a></h3>

<p class="wikiPara">
This release has a <a href="http://www.hibernate.org/hib_docs/tools/eclipse/newandnoteworthy/hibernate-eclipse-news-3.2.0.beta9.html" target="" class="regularLink">lot of improvements </a>
but the best new feature is definitely that we no longer require users to setup and maintain a separate classpath for the console configuration. 
Now the classpath of the java project will be used by default.
</p>

<p class="wikiPara">
This makes the setup much easier. 
</p>

<p class="wikiPara">
The second best new feature is the full support for JPA configurations
(through Hibernate EntityManager). This means that we do also no
longer require a <tt>hibernate.cfg.xml</tt> with a listing of all the
annotated classes; the discovery of entities and configuration will be
done automatically as long as you have a <tt>/META-INF/persistence.xml</tt>
in your class path.
</p>

<p class="wikiPara">
The last feature I want to mention is again a feature that strips down
the need for setup compared to before. HQL editing and
validation inside java code is now enabled automatically for projects
that has a console configuration associated.
</p>

<p class="wikiPara">
Could it be made easier ? Let us <a href="http://forum.hibernate.org/viewforum.php?f=6" target="" class="regularLink">know </a> 
</p>

<h3 class="wikiHeadline3" id="H-SeeingIsBelieving"><a href="/2007/01/23/hibernate-tools-goes-to-the-movies#H-SeeingIsBelieving">Seeing is believing...</a></h3>

<p class="wikiPara">
To get a feel of the improvements and the overall functionality we created a set of viewlets/movies.
</p>

<p class="wikiPara">
We have done this before and received good feedback on them and most
people thought they were informative but too long and boring.
</p>

<p class="wikiPara">
Therefore we made a bunch of small and to the point movies showing the
basics of each major/primary feature, allowing you to just see what
you are interested in and not get bored too long.
</p>

<p class="wikiPara">
The movies are listed <a href="http://www.hibernate.org/Modules/HibernateToolsViewlets" target="" class="regularLink">here </a>.
</p>

<p class="wikiPara">
Have fun!
</p>
</div>

