---
title: "New beta releases of JBossTools and Red Hat Developer Studio out!"
author: "Max Andersen"
creation_date: "09-10-2007"
blogger_name: "Max"
layout: blog-post
tags: []
slug: NewBetaReleasesOfJBossToolsAndRedHatDeveloperStudioOut
lace: http://in.relation.to/2568.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
New beta versions of <a href="http://labs.jboss.com/tools/download/index.html" target="" class="regularLink">JBoss Tools</a> and <a href="http://www.redhat.com/developers/rhds/index.html" target="" class="regularLink">Red Hat Developer Studio</a> got released today.
</p>

<p class="wikiPara">
This is good news for Seam 1.2 users since we now have full support for creating Eclipse WTP compatible projects including Seam 1.2.1 hotdeployment of Seam components. Add in the full incremental in-sync deployment to JBoss AS servers and you got a pretty sweet and fast development environment.
</p>

<p class="wikiPara">
The relase also provides some news for Hibernate Tools users and other additional bug fixes; you can read about them in <a href="http://docs.jboss.org/tools/whatsnew/" target="" class="regularLink">What's New and Noteworthy</a>
</p>

<p class="wikiPara">
Before you ask, then no Seam 2 is unfortunately not yet supported for the project creation wizards, but the code completion and Seam views will work with Seam 2; just need to right click on the project and click <q>Add Seam support</q>.
</p>

<p class="wikiPara">
...and if you are really into it you can use the Seam 1.2 generated project as a basis for migrating the libraries and configuration files to Seam 2 counter-parts and you will have all the goodies with hotdeployment available too you. 
</p>

<p class="wikiPara">
Have fun!
</p>

</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'NewBetaReleasesOfJBossToolsAndRedHatDeveloperStudioOut';
    var disqus_title = 'New beta releases of JBossTools and Red Hat Developer Studio out!';
    var disqus_url = 'http://in.relation.to/2568.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
