---
title: "JBoss Developer Studio 1.0 released"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "10-12-2007"
tags: [JBoss Tools]

absolute_url: http://in.relation.to/2007/12/10/JBossDeveloperStudio10Released
lace: http://in.relation.to/3228.lace
slug: JBossDeveloperStudio10Released

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm proud to report that we released JBoss Developer Studio 1.0
(formerly known as Red Hat Developer Studio) earlier today.
</p>

<p class="wikiPara">
The feature highlights of the Developer Studio are:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">Out-of-the-box configuration of Eclipse Web Tools, JBoss EAP incl. Seam</li>
<li class="wikiUnorderedListItem">JBoss Tools 2.0.GA included</li>
<li class="wikiUnorderedListItem">Visual Page editor for rich editing of (X)HTML/JSP/JSF/Facelets pages</li>
<li class="wikiUnorderedListItem">JSF support</li>
<li class="wikiUnorderedListItem">First-class support for JBoss Seam 1.2 and 2.0</li>
<li class="wikiUnorderedListItem">Hibernate 3 Support</li>
<li class="wikiUnorderedListItem">JBoss AS server integration</li>
<li class="wikiUnorderedListItem">Exploded deployment for fast turnaround times during development</li>
<li class="wikiUnorderedListItem">Start/Stop/Run/Debug of JBoss AS 3.2 to 4.2</li>
<li class="wikiUnorderedListItem">Project Archives</li>
<li class="wikiUnorderedListItem">Easy and fast incremental packaging of your project layout and deployment (not bound to WTP nor JBoss)</li>
<li class="wikiUnorderedListItem">JBPM support</li>
<li class="wikiUnorderedListItem">Spring IDE included </li>
<li class="wikiUnorderedListItem">TestNG plugin included    </li>
<li class="wikiUnorderedListItem">Available for Linux and Windows</li>
</ul>

<p class="wikiPara">
...and more!
</p>

<p class="wikiPara">
JBoss Developer Studio (JBDS) is JBoss and Red Hat's
Java developer offering where you for 99$ gets access to an easy-to-install
Eclipse based IDE fully configured and ready to run with the bundled
JBoss Enterprise Application Platform 4.2. 
</p>

<p class="wikiPara">
The advantage is that you get access to the fully supported
JBoss binaries and that you after the download get a no-fuzz installation
and everything is ready to run out-of-the-box.
</p>

<p class="wikiPara">
Furthermore you get entitlements to Red Hat Enterprise Linux (RHEL) and other Red Hat software. Please note that Developer Studio is cross-platform and is available for Windows and Linux today and we plan to have a Mac OS X available in the new year.  
</p>

<p class="wikiPara">
Read the details about the offering <a href="http://www.jboss.com/products/devstudio" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
p.s. I'll be back later this week with details about JBoss Tools 2 GA (currently under the mercy of the JavaPolis network gods :)
</p>

</div>
