---
title: "Seam meetup and JBoss/Red Hat at EclipseCon"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "01-03-2007"
tags: []

relative_url: /2007/03/01/SeamMeetupAndJBossRedHatAtEclipseCon
slug: SeamMeetupAndJBossRedHatAtEclipseCon
lace: http://in.relation.to/2148.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/03/01/SeamMeetupAndJBossRedHatAtEclipseCon
---
<div id="documentDisplay" class="documentDisplay">


<h1 class="wikiHeadline1" id="H-SeamMeetup"><a href="/2007/03/01/SeamMeetupAndJBossRedHatAtEclipseCon#H-SeamMeetup">Seam meetup</a></h1>

<p class="wikiPara">
Tonight most of the Hibernate Team and especially the Seam Team met for the first time in person in
San Francisco. The next couple of days we will have fun digging into
what is next for Hibernate and Seam in particular.
</p>

<p class="wikiPara">
Since this is such a special occurrence you are all invited to help us
celebrate this on Friday, March the 2nd in the evening.
The details is to be found at <a href="http://www.jboss.com/index.html?module=bb&amp;op=viewtopic&amp;t=101457" target="" class="regularLink">this space </a>.
</p>

<h1 class="wikiHeadline1" id="H-EclipseCon"><a href="/2007/03/01/SeamMeetupAndJBossRedHatAtEclipseCon#H-EclipseCon">EclipseCon</a></h1>

<p class="wikiPara">
That is though not the only thing happening around SF; next week
there is <a href="http://www.eclipsecon.org/2007" target="" class="regularLink">EclipseCon </a> in Santa Clara
where JBoss/Red Hat will have a booth and do the following talks.
</p>

<p class="wikiPara">
<a href="http://www.eclipsecon.org/2007/index.php?page=sub/&amp;id=3945" target="" class="regularLink">Eclipse Linux Distros Project Overview </a>
</p>

<p class="wikiPara">
<a href="http://www.eclipsecon.org/2007/index.php?page=sub/&amp;id=3766" target="" class="regularLink">Autotools demo </a>
</p>

<p class="wikiPara">
<a href="http://www.eclipsecon.org/2007/index.php?page=sub/&amp;id=4042" target="" class="regularLink">OSGi and JBoss Microcontainer </a>
</p>

<p class="wikiPara">
<a href="http://www.eclipsecon.org/2007/index.php?page=sub/&amp;id=4220" target="" class="regularLink">JBoss introduces new open source tools and frameworks for building rich internet applications </a>
</p>

<p class="wikiPara">
<a href="http://www.eclipsecon.org/2007/index.php?page=sub/&amp;id=3597" target="" class="regularLink">Developing an Editor for Directed Graphs with the Eclipse Graphical Editing Framework </a>
</p>

<p class="wikiPara">
<a href="http://www.eclipsecon.org/2007/index.php?page=sub/&amp;id=4219" target="" class="regularLink">Building Rich Internet Applications With Open Source JBoss Frameworks and Tools </a> 
</p>

<p class="wikiPara">
and finally, <a href="http://www.eclipsecon.org/2007/index.php?page=sub/&amp;id=4049" target="" class="regularLink">Hibernate Tools </a> 
</p>

<p class="wikiPara">
See you there!
</p>
</div>
