---
title: "Camera lost at JavaPolis"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "12-12-2007"
tags: []

absolute_url: http://in.relation.to/2007/12/12/CameraLostAtJavaPolis
lace: http://in.relation.to/3257.lace
slug: CameraLostAtJavaPolis

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
If anyone found a lonely Canon camera at JavaPolis yesterday then please hand it into the information desk or at the JBoss/Red Hat booth.
</p>

<p class="wikiPara">
It will be very much appreciated :)
</p>

<p class="wikiPara">
p.s. yes, I know it was stupid!
</p>


</div>
