---
title: "Seam 2 support in JBoss Tools"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "22-10-2007"
tags: []

relative_url: /2007/10/22/Seam2SupportInJBossTools
slug: Seam2SupportInJBossTools
lace: http://in.relation.to/2628.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/10/22/Seam2SupportInJBossTools
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Last nights build of <a href="http://download.jboss.org/jbosstools/builds/nightly/latestBuild.html" target="" class="regularLink">JBoss Tools</a> now has Seam 2 support in its project creation wizards and the artifact wizards (New Seam Action, Form, etc.)
</p>

<p class="wikiPara">
The generated test project still needs some work, but it is showing a green light when you run it and we still need to work on enabling our validator and parts of the Seam component view to properly pick up Seam 2 components. Until that is fixed there will be more noise in the list of validations.
</p>

<p class="wikiPara">
But it is otherwise fully functional and usable and I must say with (almost) omnipresent EL navigation and code completion, the <a href="http://blog.xam.dk/archives/78-Visual-Page-Editor-updated-now-with-MacOSX-support.html" target="" class="regularLink">improved visual JSF editor</a> and all the hotdeployment you could wish for, doing Seam development in Eclipse is becoming a breeze.
</p>

</div>
