---
title: "Camera lost at JavaPolis"
author: "Max Andersen"
blogger_name: "Max"
layout: blog-post
tags: []
slug: CameraLostAtJavaPolis
lace: http://in.relation.to/3257.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/CameraLostAtJavaPolis">Camera lost at JavaPolis</a>
                    </h1>
</div>
<p class="wikiPara">
If anyone found a lonely Canon camera at JavaPolis yesterday then please hand it into the information desk or at the JBoss/Red Hat booth.
</p>

<p class="wikiPara">
It will be very much appreciated :)
</p>

<p class="wikiPara">
p.s. yes, I know it was stupid!
</p>


</div>
