---
title: "Genuitec switches course part deux"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "22-03-2007"
tags: []

relative_url: /2007/03/22/GenuitecSwitchesCoursePartDeux
slug: GenuitecSwitchesCoursePartDeux
lace: http://in.relation.to/2149.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/03/22/GenuitecSwitchesCoursePartDeux
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I am glad that Genuitec finally made their changes to
Hibernate Tools publicly available at their <a href="http://www.myeclipseide.com/ContentExpress-display-ceid-108.html" target="" class="regularLink">open source resources </a> 
page. That is all that I/we ever asked for. 
</p>

<p class="wikiPara">
As an added bonus they even included their changes to the EPL based Aptena project. 
I look forward to see Genuitec keeping their open source page in-sync with any future updates they include in their product.
</p>

<p class="wikiPara">
In his blog, Mr. Masri claims they reached out to me a year ago to do a
contribution. He seem to forget that it was I who had to remind them
multiple times about the LGPL issue before this happened - the first direct 
reminder being sent four months earlier before they <q>reached out</q> to me.
</p>

<p class="wikiPara">
I did though receive a contribution from their developers one year ago. 
I replied back then why a particular feature could not be applied to our main
code base (it introduced a dependency to Eclipse API where it should not be). 
Contributors to open source know that rejection of submitted code is a common thing in open source development. 
</p>

<p class="wikiPara">
Since May-2006 none of the changes made to Hibernate Tools in the
MyEclipse code base have been made available (before
today) even though I and others privately asked for them, in at least
two written requests and a couple of private conversations.
</p>

<p class="wikiPara">
I would like to remind Mr. Masri that it is not my (or any others)
responsibility to make Genuitec's LGPL changes 
available in a timely manner, no matter if they have been rejected or accepted
by the original project - it is the sole responsibility of
Genuitec; it should not be necessary to repeatedly remind Genuitec or
any other third party about their responsibilities to make their LGPL'ed
code available as the license states.
</p>

<p class="wikiPara">
I do though encourage any LGPL, EPL or other copyleft licensed software
authors that notice their software license is not being honored by
Genuitec or any other third party to contact them to resolve the issue. 
</p>

<p class="wikiPara">
Hopefully they will now react faster and without the need for a public debate.
</p>

<p class="wikiPara">
I hope this now concludes our little saga; and I will do as I have
done multiple times before. Namely to encourage anyone
(including Genuitec) to put contributions/feature request/bug reports
into our JIRA so we all can benefit from it while it happens instead of
waiting months/years to do it - but please, do be ready to handle a rejection once in a while.
</p>

<p class="wikiPara">
FYI, a good external summary is available at <a href="http://weblogs.java.net/blog/kirillcool/archive/2007/03/genuitec_hibern.html" target="" class="regularLink">http://weblogs.java.net/blog/kirillcool/archive/2007/03/genuitec_hibern.html</a>
</p>
</div>

