---
title: "Seam 2 support in JBoss Tools"
author: "Max Andersen"
creation_date: "22-10-2007"
blogger_name: "Max"
layout: blog-post
tags: []
slug: Seam2SupportInJBossTools
lace: http://in.relation.to/2628.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Last nights build of <a href="http://download.jboss.org/jbosstools/builds/nightly/latestBuild.html" target="" class="regularLink">JBoss Tools</a> now has Seam 2 support in its project creation wizards and the artifact wizards (New Seam Action, Form, etc.)
</p>

<p class="wikiPara">
The generated test project still needs some work, but it is showing a green light when you run it and we still need to work on enabling our validator and parts of the Seam component view to properly pick up Seam 2 components. Until that is fixed there will be more noise in the list of validations.
</p>

<p class="wikiPara">
But it is otherwise fully functional and usable and I must say with (almost) omnipresent EL navigation and code completion, the <a href="http://blog.xam.dk/archives/78-Visual-Page-Editor-updated-now-with-MacOSX-support.html" target="" class="regularLink">improved visual JSF editor</a> and all the hotdeployment you could wish for, doing Seam development in Eclipse is becoming a breeze.
</p>

</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'Seam2SupportInJBossTools';
    var disqus_title = 'Seam 2 support in JBoss Tools';
    var disqus_url = 'http://in.relation.to/2628.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
