---
title: "JBoss Tools 2.0 GA goes final"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "12-12-2007"
original_tags: [JBoss Tools Eclipse]
tags: [JBoss Tools]

relative_url: /2007/12/12/jboss-tools-20-ga-goes-final
slug: jboss-tools-20-ga-goes-final
lace: http://in.relation.to/3256.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/12/12/jboss-tools-20-ga-goes-final
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We are releasing JBoss Tools 2.0.0.GA today! Downloads available <a href="http://downloads.jboss.org/jbosstools/" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
This is the first GA standalone release of our plugins that integrates the Eclipse plugins from what was formerly known as
JBossIDE and Exadel Studio into one. 
</p>

<p class="wikiPara">
The combined works gives you first-class support for JBoss related technology
and an unprecedented development environment for JSF and Seam. All the tooling is well integrated with JBoss technologies but we are not limited to that. All the functionality will work standalone and with other application servers.
</p>

<p class="wikiPara">
Main feature highlights are:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">First-class support for JBoss Seam 1.2 and 2.0</li>
<li class="wikiUnorderedListItem">Visual Page editor for rich editing of (X)HTML, JSP, JSF and Facelets pages</li>
<li class="wikiUnorderedListItem">Unique JSF and Facelets support</li>
<li class="wikiUnorderedListItem">JBoss AS server integration</li>
<li class="wikiUnorderedListItem">Project Archives</li>
<li class="wikiUnorderedListItem">Hibernate 3 Support</li>
<li class="wikiUnorderedListItem">JBPM support</li>
</ul>

<p class="wikiPara">
...and more! All available for Linux, Windows and Mac
</p>


<h1 class="wikiHeadline1" id="H-GettingStarted"><a href="/2007/12/12/jboss-tools-20-ga-goes-final#H-GettingStarted">Getting started</a></h1>

<p class="wikiPara">
The reference documentation are available at <a href="http://docs.jboss.org/tools/2.0.0.GA/index.html" target="" class="regularLink">docs.jboss.org</a>
</p>

<p class="wikiPara">
<a href="http://docs.jboss.org/tools/whatsnew/" target="" class="regularLink">What's New and Noteworthy</a> plus some screen casts are also avaible on the <a href="http://docs.jboss.org/tools/movies/ootb_new_seam_project.htm" target="" class="regularLink">Seam</a> and <a href="http://docs.jboss.org/tools/movies/archiving.htm" target="" class="regularLink">Project archives</a> features. 
</p>

<h1 class="wikiHeadline1" id="H-UpgradeFromPreviousVersions"><a href="/2007/12/12/jboss-tools-20-ga-goes-final#H-UpgradeFromPreviousVersions">Upgrade from previous versions</a></h1>

<p class="wikiPara">
If you are an JBossIDE user then you should be able to easily upgrade. 
</p>

<p class="wikiPara">
If you used JBossIDE Packaging you can either continue to just run the /packaging-build.xml/ directly or to migrate the related projects to JBoss Tools archiving. We have provided a migration script <a href="http://download.jboss.org/jbosstools/extras/packaging-convert.zip" target="" class="regularLink">here</a> and you can
read more about the JBoss Tools archiving in a <a href="http://in.relation.to/Bloggers/FastAndIncrementalPackagingInJBossTools" target="" class="regularLink">previous blog entry</a>.
</p>

<p class="wikiPara">
If you are an Exadel Studio user then you will find an migration guide  <a href="http://www.redhat.com/developer_studio/guides/Exadel-migration/html_single/" target="" class="regularLink">here</a>.
</p>

<h1 class="wikiHeadline1" id="H-WhatIsTheDifferenceBetweenJBossDeveloperStudioAndJBossTools"><a href="/2007/12/12/jboss-tools-20-ga-goes-final#H-WhatIsTheDifferenceBetweenJBossDeveloperStudioAndJBossTools">What is the difference between JBoss Developer Studio and JBoss Tools</a></h1>

<p class="wikiPara">
This release of JBoss Tools is what went into our JBoss Developer Studio which provides an easy-to-install
Eclipse based IDE fully configured and ready to run with the bundled JBoss Enterprise Application Platform.
</p>

<p class="wikiPara">
In short JBoss Tools are just a set of Eclipse plugins and JBoss Developer Studio adds: 
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">An installer</li>
<li class="wikiUnorderedListItem">Eclipse and Web Tools preconfigured</li>
<li class="wikiUnorderedListItem">JBoss EAP with JBoss AS and Seam preconfigured</li>
<li class="wikiUnorderedListItem">3rd party plugins bundled and configured</li>
<li class="wikiUnorderedListItem">Access to RHEL and Red Hat Network</li>
<li class="wikiUnorderedListItem">Access to the JBoss/Red Hat supported software</li>
</ul>


<p class="wikiPara">
It is available for existing support customers or under a 99$ subscription which you can read more about <a href="http://www.jboss.com/products/devstudio" target="" class="regularLink">here</a>.
</p>

<h1 class="wikiHeadline1" id="H-Feedback"><a href="/2007/12/12/jboss-tools-20-ga-goes-final#H-Feedback">Feedback</a></h1>

<p class="wikiPara">
As always your feedback and questions are very welcome in our <a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=201" target="" class="regularLink">forum</a>
and if you have found an issue or feature request then please report
that in our <a href="http://jira.jboss.com/jira/browse/JBIDE" target="" class="regularLink">jira</a>.
</p>

<p class="wikiPara">
Enjoy and Merry Christmas ;)
</p>


</div>

