---
title: "Emergency JPA talk at Devoxx"
author: "Max Andersen"
creation_date: "06-12-2008"
blogger_name: "Max"
layout: blog-post
tags: [Eclipse,JBoss Tools Eclipse,JPA]
slug: EmergencyJPATalkAtDevoxx
lace: http://in.relation.to/10164.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Alexander Snaps and I were asked a few moments ago to do a emergency step-in Monday morning at Devoxx because Mike Keith will not be able to make it.
</p>

<p class="wikiPara">
Therefor Mike's University talk <q>A Persistence Journey - From XML to JPA and Back Again</q> will be replaced with the following talk:
</p>

<h1 class="wikiHeadline1" id="H-JPAInPracticeKickStartJPA"><a href="/Bloggers/EmergencyJPATalkAtDevoxx#H-JPAInPracticeKickStartJPA">JPA in practice/KickStart JPA</a></h1>
<p class="wikiPara">
The talk will give a good overview of JPA and related tooling,
providing a good kickstart for those getting started with JPA. The
talk will also cover more advanced issues and discuss common pitfalls
of using JPA.
</p>

<p class="wikiPara">
We will start of with an introduction to JPA covering all the
interesting bits of the spec and move into presenting how to use JPA
effectively showing best practices and guidelines for using it.
In the latter part of the talk we will present Eclipse Dali, the JPA
tooling at Eclipse and Hibernate Tools a set of plug-ins that works
with Dali and provides Hibernate support.
</p>

<p class="wikiPara">
The talk will be open for questions and moderate discussion during the
presentation/demo.
</p>

<p class="wikiPara">
The <a href="http://devoxx.com/display/JV08/JPA+in+Practice" target="" class="regularLink">Devoxx agenda</a> will be updated shortly.
</p>

<p class="wikiPara">
See you there!
</p>

</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'EmergencyJPATalkAtDevoxx';
    var disqus_title = 'Emergency JPA talk at Devoxx';
    var disqus_url = 'http://in.relation.to/10164.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
