---
title: "JBoss Tools 3 CR - From All of us to All of you..."
author: "Max Andersen"
blogger_name: "Max"
creation_date: "22-12-2008"
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse]

absolute_url: http://in.relation.to/2008/12/22/JBossTools3CRFromAllOfUsToAllOfYou
lace: http://in.relation.to/10288.lace
slug: JBossTools3CRFromAllOfUsToAllOfYou

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
From all of us to all of you a very merry Candidate Release of JBoss Tools 3.
</p>

<div align="center">
<img src="/service/File/10241" width="510" height="359">
</div>

<p class="wikiPara">
[<a href="http://www.jboss.org/tools/download/index.html#development" target="" class="regularLink">Download</a>]
[<a href="http://download.jboss.org/jbosstools/updates/development" target="" class="regularLink">Update Site</a>] [<a href="http://docs.jboss.org/tools/whatsnew" target="" class="regularLink">What's'New</a>]
[<a href="http://docs.jboss.org/tools/movies/" target="" class="regularLink">Movies</a>]
[<a href="http://docs.jboss.org/tools/3.0.0.CR1/" target="" class="regularLink">Documentation</a>] 
[<a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="" class="regularLink">Forums</a>] 
[<a href="http://jira.jboss.com/jira/browse/JBIDE" target="" class="regularLink">JIRA</a>]
</p>

<h2 class="wikiHeadline2" id="H-Requirements"><a href="/Bloggers/JBossTools3CRFromAllOfUsToAllOfYou#H-Requirements">Requirements</a></h2>

<p class="wikiPara">
This release will only work with Eclipse 3.4/Web Tools Ganymede. Because of an <a href="https://bugs.eclipse.org/bugs/show_bug.cgi?id=257470" target="" class="regularLink">Eclipse bug</a> we recommend to use Web Tools 3.0.3.
</p>

<h2 class="wikiHeadline2" id="H-Highlights"><a href="/Bloggers/JBossTools3CRFromAllOfUsToAllOfYou#H-Highlights">Highlights</a></h2>

<p class="wikiPara">
With <a href="https://jira.jboss.org/jira/secure/IssueNavigator.jspa?reset=true&amp;pid=10020&amp;fixfor=12312464" target="" class="regularLink">360+ bugfixes and enhancements</a> this release is mostly a bugfix release.
</p>

<p class="wikiPara">
There is though a couple of Christmas features in there:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">JMX tools contribution from Jeff Mesnil which provides nice JMX explorer and editor for JBoss AS and any other applications with JMX support.</li>
<li class="wikiUnorderedListItem">The updated library locations in JBoss AS 5 is also now supported, allowing you to start using Seam WTP projects on JBoss 5</li>
<li class="wikiUnorderedListItem">A small, but much voted for feature in Hibernate Tools namely one-to-one support was also added.</li>
<li class="wikiUnorderedListItem">Support for upgrading/downgrading Seam versions</li>
<li class="wikiUnorderedListItem">...and more. Screenshots and detailed news is in <a href="http://docs.jboss.org/tools/whatsnew" target="" class="regularLink">What's'New</a>.</li>
</ul>

<h2 class="wikiHeadline2" id="H-UpdateSite"><a href="/Bloggers/JBossTools3CRFromAllOfUsToAllOfYou#H-UpdateSite">Update site</a></h2>

<p class="wikiPara">
Thanks to Nick our updatesites are now also optimized for p2 (Eclipse 3.4 new update manager) and packed with pack200 allowing for faster dependency resolution and smaller bandwidth usage. If you have any issues with the updatesite let us know, but be aware that we know the Birt Eclipse mirrors sometimes timeout giving an annoying error. The resolution for this is to try again (to hopefully catch a better mirror) or simply not select the Birt feature if you don't need it.
</p>

<h2 class="wikiHeadline2" id="H-Feedback"><a href="/Bloggers/JBossTools3CRFromAllOfUsToAllOfYou#H-Feedback">Feedback</a></h2>

<p class="wikiPara">
Now is the time to provide final feedback for version 3, no major new features is planned to go in but we really like to hear about both good features and bad bugs you find to make sure the next release will be the possible GA release.
It is much appreciated and we are ready to hear more in the <a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="" class="regularLink">Forums</a> and <a href="http://jira.jboss.com/jira/browse/JBIDE" target="" class="regularLink">JIRA</a>
</p>

<p class="wikiPara">
Have fun and happy holidays from the <a href="https://www.jboss.org/community/tags?tags=jbosstools&amp;taggableTypes=USER" target="" class="regularLink">JBoss Tools development team</a> 
</p>



<p class="wikiPara">
 </p>
</div>
