---
title: "Nightly build updatesite for JBoss Tools"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "20-10-2008"
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse]

relative_url: /2008/10/20/NightlyBuildUpdatesiteForJBossTools
slug: NightlyBuildUpdatesiteForJBossTools
lace: http://in.relation.to/9597.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/10/20/NightlyBuildUpdatesiteForJBossTools
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin:10px;">
<a href="/service/File/9602" target="" class="regularLink"><img src="/images/9602.png"></a>
</div>

<p class="wikiPara">
We have (almost) always had a nightly build zip file users could download and try out, but it had a couple of issues if users mixed GA/Beta releases with nightly builds. 
</p>

<p class="wikiPara">
Bleeding edge users were also complaining that they had to manually unzip the nightly builds instead of just having an update site to go to and get the latest builds.
</p>

<p class="wikiPara">
Thanks to <a href="http://jboss.org/community/people/dgolovin" target="" class="regularLink">Denis Golovin</a> the <a href="http://download.jboss.org/jbosstools/builds/nightly/latestBuild.html" target="" class="regularLink">nightly build zip</a> is no longer the only option, now we also have nightly build update site(s):
</p>

<p class="wikiPara">
<a href="http://download.jboss.org/jbosstools/updates/nightly/trunk" target="" class="regularLink">trunk nightly build update site</a>
</p>

<p class="wikiPara">
<a href="http://download.jboss.org/jbosstools/updates/nightly/3.0.0.Beta1" target="" class="regularLink">branch for 3.0.0.beta1 build update site</a>
</p>

<p class="wikiPara">
We keep both a trunk and a <q>latest branch</q> update site so anyone can now more easily help and see their favorite feature implemented or bug resolved in the proper build.
</p>

<p class="wikiPara">
With the nightly build updatesite you can try out the latest build, <a href="http://jira.jboss.org/jira/browse/JBIDE" target="" class="regularLink">report issues in jira</a> and when the jira get resolved
<a href="http://hudson.jboss.org/hudson/view/JBossTools/" target="" class="regularLink">wait for the next build to arrive</a> and update your eclipse to see how/if your issue got solved.
</p>

<p class="wikiPara">
Have fun!
</p>

</div>
