---
title: "JBoss Tools 2.1.0.GA is here!"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "02-06-2008"
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse]

relative_url: /2008/06/02/JBossTools210GAIsHere
slug: JBossTools210GAIsHere
lace: http://in.relation.to/9042.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/06/02/JBossTools210GAIsHere
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Today we are releasing JBoss Tools 2.1.0.GA.
</p>

<p class="wikiPara">
[<a href="http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=242269&amp;release_id=601514" target="" class="regularLink">Download</a>]
[<a href="http://download.jboss.org/jbosstools/updates/stable" target="" class="regularLink">Update Site</a>] [<a href="http://docs.jboss.org/tools/whatsnew" target="" class="regularLink">What's'New</a>]
[<a href="http://docs.jboss.org/tools/2.1.0.GA/" target="" class="regularLink">Documentation</a>] 
[<a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="" class="regularLink">Forums</a>] [<a href="http://jira.jboss.com/jira/browse/JBIDE" target="" class="regularLink">JIRA</a>]
</p>

<h1 class="wikiHeadline1" id="H-AboutJBossTools"><a href="/2008/06/02/JBossTools210GAIsHere#H-AboutJBossTools">About JBoss Tools</a></h1>

<p class="wikiPara">
JBoss Tools is a set of plugins that enhances and adds support in Eclipse for JBoss.org projects and related technologies such as JBoss AS, Hibernate, JPA, Seam, jBPM, JSF and more.
</p>

<h1 class="wikiHeadline1" id="H-News"><a href="/2008/06/02/JBossTools210GAIsHere#H-News">News</a></h1>

<p class="wikiPara">
Version 2.1 has over 350 fixes, improvements and new features which include faster startup, faster Visual Page Editor, <q>Find references/declarations</q> for Seam EL, flexible project layouts (e.g. a WTP project is not a requirement anymore), 64-bit Linux support and more. 
</p>

<p class="wikiPara">
Read the full details in the <a href="http://docs.jboss.org/tools/whatsnew" target="" class="regularLink">New and Noteworthy</a>.
</p>

<h1 class="wikiHeadline1" id="H-Upgrading"><a href="/2008/06/02/JBossTools210GAIsHere#H-Upgrading">Upgrading</a></h1>

<p class="wikiPara">
Most users should be able to upgrade without any problems to this version. It is just a drop-in replacement.
</p>

<p class="wikiPara">
It is though required to upgrade to Eclipse 3.3.2 and WTP 2.0.2 to use this release since it includes a set of fixes in the core Eclipse platform.
</p>

<p class="wikiPara">
One known caveat is though that users of Seam 1.x or other projects that has JEE5 jars without descriptors (Seam 2 works fine) it is necessary to use our patch to WTP 2.0.2 if you want WTP deployment to work correctly. See the details <a href="http://in.relation.to/8932.lace" target="" class="regularLink">here</a>.
</p>

<h1 class="wikiHeadline1" id="H-Feedback"><a href="/2008/06/02/JBossTools210GAIsHere#H-Feedback">Feedback</a></h1>

<p class="wikiPara">
I encourage everyone to try out JBoss Tools 2.1 and give us any feedback and contributions on our jira and forum. Your feedback is what will help us improve and extend the next version of JBoss Tools.
</p>

<p class="wikiPara">
Have fun!
</p>
</div>
