---
title: "Screencasts for JBoss Tools"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "27-09-2008"
tags: [JBoss Tools,JBoss Tools Eclipse]

absolute_url: http://in.relation.to/2008/09/27/ScreencastsForJBossTools
lace: http://in.relation.to/9443.lace
slug: ScreencastsForJBossTools

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We recently started updating and adding screencasts of various functionality in JBoss Tools and Developer studio
at <a href="http://docs.jboss.org/tools/movies/" target="" class="regularLink">JBoss Tools Movies</a>. 
</p>

<p class="wikiPara">
Thanks to Anatoly Fedosik, Michael Sorokin, Olga Chikvina and Anastasia Bogachuk for creating/updating these.
</p>

<p class="wikiPara">
Go check them out and let us know what you think. If you got suggestions or maybe even done your own screencast illustrating something cool you do with JBoss Tools, <a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="" class="regularLink">let us know</a>.
</p>

<h1 class="wikiHeadline1" id="H-NightlyBuilds"><a href="/Bloggers/ScreencastsForJBossTools#H-NightlyBuilds">Nightly builds</a></h1>

<p class="wikiPara">
We are also now providing <a href="http://download.jboss.org/jbosstools/nightly-docs/" target="" class="regularLink">nightly builds of the documentation</a> which could be helpful for those living on the bleeding edge with the <a href="http://download.jboss.org/jbosstools/builds/nightly/latestBuild.html" target="" class="regularLink">nightly builds of JBoss Tools plugins</a>.
</p>

<p class="wikiPara">
Have fun!
</p>




</div>
