---
title: "First JBug in Denmark with JBoss Seam and Tools"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "08-08-2008"
original_tags: [Eclipse,Seam]
tags: [Eclipse,Seam]

relative_url: /2008/08/08/firstjbug-in-denmark-withjboss-seam-and-tools
slug: firstjbug-in-denmark-withjboss-seam-and-tools
lace: http://in.relation.to/9269.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/08/08/firstjbug-in-denmark-withjboss-seam-and-tools
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<img src="/images/9268.png" width="187" height="250">
</p>

<p class="wikiPara">
On the 28th August, Pete and I will be presenting at the opening of the first JBoss User Group in Denmark.
</p>

<p class="wikiPara">
We will be talking about JBoss Seam, Web Beans and JBoss Tools/Developer Studio.
</p>

<p class="wikiPara">
You can see the full schedule at <a href="http://jbug.dk/html/upcomming.html" target="" class="regularLink">jbug.dk</a> (in Danish).
</p>

<p class="wikiPara">
Kenneth Christensen and Søren Pedersen who is organizing the event tells me that they 
only have five seats left so hurry up if you want in on the action.
</p>

<p class="wikiPara">
Vi Ses!
</p>


</div>

