---
title: "JBoss Tools at JAOO"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "12-09-2008"
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse]

relative_url: /2008/09/12/JBossToolsAtJAOO
slug: JBossToolsAtJAOO
lace: http://in.relation.to/9392.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/09/12/JBossToolsAtJAOO
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I will be talking about <a href="http://jaoo.dk/presentation/JBoss+Tools+and+Developer+Studio" target="" class="regularLink">JBoss Tools and Developer Studio</a> at <a href="http://jaoo.dk/conference/" target="" class="regularLink">JAOO</a> in Aarhus, Denmark 28th September.
You should also be able to catch me hanging out at the JBoss/Red Hat booth Monday to Wednesday.
</p>

<p class="wikiPara">
<img src="/images/9391.png" width="175" height="79">
</p>

<p class="wikiPara">
I've attended <a href="http://jaoo.dk/" target="" class="regularLink">JAOO</a> a handful times in the past (early 2000's) and even though I have visited many conferences since then, JAOO still stands as one of the best developer conferences I have been to.
The JAOO party is even almost as good as the JBoss World party.
</p>

<p class="wikiPara">
I'll be looking forward to see if they kept up the steam. 
</p>

<p class="wikiPara">
See you there!
</p>







</div>
