---
title: "JBoss Tools and Developer Studio at JBoss World, Florida"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "22-01-2008"
tags: []

relative_url: /2008/01/22/JBossToolsAndDeveloperStudioAtJBossWorldFlorida
slug: JBossToolsAndDeveloperStudioAtJBossWorldFlorida
lace: http://in.relation.to/3451.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/01/22/JBossToolsAndDeveloperStudioAtJBossWorldFlorida
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'll be talking about JBoss Tools and Developer Studio at <a href="http://www.jbossworld.com" target="" class="regularLink">JBoss World</a> in Orlando Florida next month.
</p>

<p class="wikiPara">
There will be a JBoss Developer Studio presentation, hands-on lab and a BOF with Gavin and Emmanuel about Seam and Developer Studio.
</p>

<p class="wikiPara">
If you haven't then please <a href="http://jbossworld.com/register" target="" class="regularLink">register</a> and see you there! 
</p>



</div>

