---
title: "Adding support for web frameworks in Eclipse (EclipseCon BOF)"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "06-03-2008"
tags: [EclipseCon,JBoss Tools,JBoss Tools Eclipse]

absolute_url: http://in.relation.to/2008/03/06/AddingSupportForWebFrameworksInEclipseEclipseConBOF
lace: http://in.relation.to/8687.lace
slug: AddingSupportForWebFrameworksInEclipseEclipseConBOF

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The last year we have been working full time on <a href="http://www.jboss.org/tools" target="" class="regularLink">JBoss Tools</a> and <a href="http://www.jboss.com/products/devstudio" target="" class="regularLink">JBoss Developer Studio</a>. One of the challenges we had were to add support for JBoss Seam in Eclipse. Similar to what the Seam team did for the underlying frameworks (JSF, EJB3, JPA, etc.) we had to do integrate/adjust for the various plugins that exists in the Eclipse family (WTP, JSF, Dali, etc.).
</p>

<p class="wikiPara">
It had its challenges, e.g. WTP not really supporting JEE 5, Dali not liking multiple projects, WTP requiring multiple projects, Eclipse not really having a good way of handling nested projects and the lack of proper library dependency management built into Eclipse. 
</p>

<p class="wikiPara">
Fortunately it had its upsides too, e.g. Eclipse's Java 5 support is decent, WTP having a Server API that was usable (but though not perfect), XULRunner being there to realize the visual page editor etc.
</p>

<p class="wikiPara">
I am sure others trying to implement Eclipse tooling support for their web or application framework will have bumped into similar good/bad things in Eclipse and would like to come and talk about it at the BOF at EclipseCon next week called <q><a href="http://www.eclipsecon.org/2008/?page=sub/&amp;id=613" target="" class="regularLink">Adding support for Web frameworks in Eclipse</a></q>. I and Koen Aaers will be there trying to spark the discussion.
</p>

<p class="wikiPara">
On the subject of EclipseCon I will also be doing two small talks:
</p>

<p class="wikiPara">
<a href="http://www.eclipsecon.org/2008/?page=sub/&amp;id=481" target="" class="regularLink">How to extend JBoss Tools Visual Page Editor for custom tag libraries</a>
</p>

<p class="wikiPara">
<a href="http://www.eclipsecon.org/2008/?page=sub/&amp;id=483" target="" class="regularLink">JBoss Seam and Eclipse</a>
</p>

<p class="wikiPara">
...and a JBoss Gold sponsored talk:
</p>

<p class="wikiPara">
<a href="http://www.eclipsecon.org/2008/?page=sub/&amp;id=611" target="" class="regularLink">Eclipse Plugins for Seam, JSF, JBoss AS and more</a>
</p>

<p class="wikiPara">
See you there!</p>
</div>
