---
title: "Hibernate and Seam meeting in Tuscany"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "28-07-2008"
tags: [Seam,Web Beans]

relative_url: /2008/07/28/HibernateAndSeamMeetingInTuscany
slug: HibernateAndSeamMeetingInTuscany
lace: http://in.relation.to/9212.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/07/28/HibernateAndSeamMeetingInTuscany
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Last week we had the good fortune of having a Hibernate and Seam team meeting.
</p>

<p class="wikiPara">
Despite of the following pictures, the week was really productive and we got all to meet up and put faces to new and old people. I also got a bunch of working pictures but they are boring ;)
</p>

<p class="wikiPara">
The topics of discussions were broad but mostly about road map's and action items for Seam and Hibernate, WebBeans and related tooling. You will start seeing the results of these talks on the forums and in upcoming release in the near future. 
</p>

<p class="wikiPara">
Now onto the fun part...
</p>

<p class="wikiPara">
The actual meeting were in Tuscany, Italy near a city named Chiusi.
</p>

<p class="wikiPara">
<img src="/service/File/9210" width="302" height="305">
</p>

<p class="wikiPara">
We rented a farmhouse which had a great view over a sunflower field.
</p>

<p class="wikiPara">
<img src="/service/File/9211" width="408" height="306">
</p>

<p class="wikiPara">
And it had  a great pool too.
</p>

<p class="wikiPara">
<img src="/service/File/9208" width="640" height="480">
</p>

<p class="wikiPara">
I unfortunately could not get to Tuscany before Wednesday so I missed out on the Hibernate meeting, so I only managed to get a few shots of the Seam meetings.
</p>

<p class="wikiPara">
We got all the Seam related JBoss employees there, but we had also invited a couple of external contributors. 
</p>

<p class="wikiPara">
One of those who made it despite being in the middle of most holidays were Dan Allen:
</p>

<p class="wikiPara">
<img src="/service/File/9205" width="276" height="200">
</p>

<p class="wikiPara">
Apparently Dan is a professional diver, but that did not stop Rich Sharples:
</p>

<p class="wikiPara">
<img src="/service/File/9209" width="335" height="529">
</p>

<p class="wikiPara">
nor Jay Balunas:
</p>

<p class="wikiPara">
<img src="/service/File/9207" width="313" height="394">
</p>

<p class="wikiPara">
Nothing like taking a swim after having discussed tech!
</p>

<p class="wikiPara">
Dinner were mostly done by Shane, The Australian Chef and Seam security Wizard in beginning of the week; but because of my late arrival I missed out on it and <q>only</q> attended a Shane breakfast:
</p>

<p class="wikiPara">
<img src="/service/File/9206" width="816" height="612">
</p>

<p class="wikiPara">
And i'm sure Gavin, Jay, Norman, Emmanuel, Marek, Christian, Steve, Rich, Ales, Samuel, Rodney, Hardy, Gail, Chris, Anthony and Dan all would like to say thanks to Shane for the great food and just as big a thanks to Pete for doing all the arrangements - it was definitely the best location ever for a team meet up I've been at.
</p>

<p class="wikiPara">
Now back to work...
</p>





</div>
