---
title: "JBoss Tools on Twitter"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "03-12-2008"
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse]

relative_url: /2008/12/03/jboss-tools-on-twitter
slug: jboss-tools-on-twitter
lace: http://in.relation.to/10135.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/12/03/jboss-tools-on-twitter
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I often have small pieces of information or thoughts I want to blog about but never get around to do it.
</p>

<p class="wikiPara">
<a href="http://twitter.com/maxandersen" target="" class="regularLink">I've grown</a> to like Twitter so I created <a href="http://twitter.com/jbosstools" target="" class="regularLink">http://twitter.com/jbosstools</a> to have as an outlet for JBoss Tools tips, new features in trunk and other tidbits of news related to JBoss Tools and Developer Studio...
</p>

<p class="wikiPara">
Should come in handy for the <a href="http://in.relation.to/Bloggers/JBossAtDevoxx" target="" class="regularLink">upcoming week</a>.
</p>




</div>

