---
title: "JBoss Tools Halloween"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "03-11-2008"
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse]

relative_url: /2008/11/03/JBossToolsHalloween
slug: JBossToolsHalloween
lace: http://in.relation.to/9742.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/11/03/JBossToolsHalloween
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
JBoss Tools 3 Beta1 was built and made available on Halloween night.
</p>

<div align="center">
<img src="/service/File/9725" width="480" height="223">
</div>

<p class="wikiPara">
[<a href="http://www.jboss.org/tools/download/index.html#development" target="" class="regularLink">Download</a>]
[<a href="http://download.jboss.org/jbosstools/updates/development" target="" class="regularLink">Update Site</a>] [<a href="http://docs.jboss.org/tools/whatsnew" target="" class="regularLink">What's'New</a>]
[<a href="http://docs.jboss.org/tools/movies/" target="" class="regularLink">Movies</a>]
[<a href="http://docs.jboss.org/tools/3.0.0.Beta1/" target="" class="regularLink">Documentation</a>] 
[<a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="" class="regularLink">Forums</a>] 
[<a href="http://jira.jboss.com/jira/browse/JBIDE" target="" class="regularLink">JIRA</a>]
</p>

<h2 class="wikiHeadline2" id="H-Requirements"><a href="/2008/11/03/JBossToolsHalloween#H-Requirements">Requirements</a></h2>

<p class="wikiPara">
This release will only work with Eclipse 3.4/Ganymede. 
</p>

<p class="wikiPara">
We recommend you do <i class="wikiEmphasis">not</i> use Eclipse.org update site to go from Eclipse 3.3 to Eclipse 3.4 - instead download <q>Eclipse IDE for Java EE Developers</q> from <a href="http://www.eclipse.org/downloads/" target="" class="regularLink">Eclipse</a>. To get the <i class="wikiEmphasis">optional</i> TPTP and BIRT integration to show up see the list of Eclipse drivers we use for JBoss Tools 3.x builds <a href="http://download.jboss.org/jbosstools/builds/nightly/latestBuild.html" target="" class="regularLink">here</a>
</p>

<p class="wikiPara">
If you can only use Eclipse 3.3 use <a href="http://in.relation.to/Bloggers/JBossTools212AndOtherNews" target="" class="regularLink">JBoss Tools 2.1.2</a>, but JBoss Tools 2.x will not have any of the new features.
</p>

<h2 class="wikiHeadline2" id="H-Highlights"><a href="/2008/11/03/JBossToolsHalloween#H-Highlights">Highlights</a></h2>

<p class="wikiPara">
Out of the <a href="https://jira.jboss.org/jira/secure/IssueNavigator.jspa?reset=true&amp;pid=10020&amp;fixfor=12312462" target="" class="regularLink">300+ bugfixes and enhancements</a> a couple major additions and new features I would like to mention:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">We got initial <a href="http://in.relation.to/9710.lace" target="" class="regularLink">Seam 2.1.SP</a> support by the hands of Slava and Alexey. </li>
<li class="wikiUnorderedListItem">Dima made <a href="http://docs.jboss.org/tools/whatsnew/images/selective_seam_generate_entities.png" target="" class="regularLink">Seam Generate Entities have an UI</a> for selecting exactly the tables you want to generate</li>
<li class="wikiUnorderedListItem">The <a href="http://docs.jboss.org/tools/whatsnew/images/enhance_pagesxmleditor.png" target="" class="regularLink">pages.xml editor got a face lift</a> by Daniel and Lex</li>
<li class="wikiUnorderedListItem">OpenOn and Code completions got various improvements and proper ordering by Victor </li>
<li class="wikiUnorderedListItem">Improved Hibernate Tools JPA project support by Dima</li>
<li class="wikiUnorderedListItem">Vitali created a brand new source/refactor action which turns your <a href="http://docs.jboss.org/tools/whatsnew/hibernate/hibernate-news-3.2.4.Beta1.html" target="" class="regularLink">JavaBeans into JPA annotated entities</a> automatically</li>
<li class="wikiUnorderedListItem">A new <a href="http://docs.jboss.org/tools/whatsnew/images/serveres_beta_view.png" target="" class="regularLink">tighter and leaner UI</a> for interacting with Servers introduced by Rob Stryker</li>
<li class="wikiUnorderedListItem">Support for editing external CSS styles directly from Visual Page Editor were added by Dzmitry</li>
<li class="wikiUnorderedListItem">The Visual Page Editor was made even faster by Maxim</li>
<li class="wikiUnorderedListItem">
<a href="http://docs.jboss.org/tools/whatsnew/examples/examples-news-1.0.0.Beta1.html" target="" class="regularLink">Project example Wizard</a> for quick and easy download of JBoss Tools/JBDS ready examples was suggested and implemented by Snjezana</li>
<li class="wikiUnorderedListItem">
<a href="http://www.jboss.org" target="" class="regularLink">Drools plugin</a> is now back into JBoss Tools builds thanks to Kris and Denis</li>
<li class="wikiUnorderedListItem">We added support for deployment of .esb archives used by <a href="http://www.jboss.org/jbossesb/" target="" class="regularLink">JBoss ESB</a> and <a href="http://www.jboss.com/products/platforms/soa" target="" class="regularLink">SOA-P</a> by Denny</li>
<li class="wikiUnorderedListItem">A conversation wizard from STP BPMN files to jPDL by Grid</li>
<li class="wikiUnorderedListItem">A first release of the <a href="http://milyn.codehaus.org/Smooks" target="" class="regularLink">Smooks</a> editor for building data transformations by Dart</li>
<li class="wikiUnorderedListItem">Updated <a href="http://docs.jboss.org/tools/movies/" target="" class="regularLink">screencasts</a> by Svetlana and her documentation team </li>
</ul>

<p class="wikiPara">
...and alot more by the rest of the <a href="https://www.jboss.org/community/tags?tags=jbosstools&amp;taggableTypes=USER" target="" class="regularLink">JBoss Tools development team</a>. See the full change list in <a href="https://jira.jboss.org/jira/secure/IssueNavigator.jspa?reset=true&amp;pid=12310500&amp;fixfor=12312308" target="" class="regularLink">jira</a> and see more details and screenshots in <a href="http://docs.jboss.org/tools/whatsnew" target="" class="regularLink">What's'New</a>
</p>

<h2 class="wikiHeadline2" id="H-Feedback"><a href="/2008/11/03/JBossToolsHalloween#H-Feedback">Feedback</a></h2>

<p class="wikiPara">
Thanks to everyone who have tried out the Alpha release and provided feedback - It is much appreciated and we are ready to hear more in the <a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="" class="regularLink">Forums</a> and <a href="http://jira.jboss.com/jira/browse/JBIDE" target="" class="regularLink">JIRA</a> so we can move quickly
forward to GA!
</p>

<p class="wikiPara">
Have fun!
</p>



<p class="wikiPara">
 </p>
</div>
