---
title: "JBoss Tools 2.1.2 and other news"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "19-07-2008"
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse]

relative_url: /2008/07/19/jboss-tools-212-and-other-news
slug: jboss-tools-212-and-other-news
lace: http://in.relation.to/9179.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/07/19/jboss-tools-212-and-other-news
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I noticed that there have been a lot of JBoss Tools related news going on while I were on vacation (maybe I should stay on vacation ?) 
</p>

<p class="wikiPara">
First off we got JBoss Tools 2.1.2 out which has some <a href="https://jira.jboss.org/jira/secure/IssueNavigator.jspa?reset=true&amp;pid=10020&amp;fixfor=12312403" target="" class="regularLink">important bug fixes</a>. Don't forget to use our patch to WTP to get proper JEE behavior when deploying ejb3 jars, see details <a href="http://in.relation.to/8932.lace" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
And No, this version is not for Eclipse 3.4/Ganymede - it is for Eclipse 3.3/Europa. JBoss Tools 3.0 will target Ganymede; I'll blog about that version later.
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/tools/download/index.html" target="" class="regularLink">Download</a>]
[<a href="http://download.jboss.org/jbosstools/updates/stable" target="" class="regularLink">Update Site</a>] [<a href="http://docs.jboss.org/tools/whatsnew" target="" class="regularLink">What's'New</a>]
[<a href="http://docs.jboss.org/tools/2.1.0.GA/" target="" class="regularLink">Documentation</a>] 
[<a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="" class="regularLink">Forums</a>] [<a href="http://jira.jboss.com/jira/browse/JBIDE" target="" class="regularLink">JIRA</a>]
</p>

<p class="wikiPara">
JBDS 1.1.0.GA which includes JBoss Tools 2.1.2 is also available now.
</p>

<h3 class="wikiHeadline3" id="H-OtherNews"><a href="/2008/07/19/jboss-tools-212-and-other-news#H-OtherNews">Other News</a></h3>

<p class="wikiPara">
Max Katz's from Exadel got his <a href="http://java.dzone.com/videos/using-jboss-richfaces?mz=3006-jboss">Using JBoss Richfaces with JBoss Developer Studio</a> from JavaOne posted on DZone.
</p>

<p class="wikiPara">
DZone also posted a <a href="http://java.dzone.com/articles/max-andersen-whats-new-jdbs?mz=3006-jboss" target="" class="regularLink">podcast interview (audio and transcript)</a> with me talking about JBoss Developer Studio 
</p>

<p class="wikiPara">
Edem Morny posted instructions on <a href="http://edemmorny.wordpress.com/2008/07/08/tweaking-jboss-tools-and-eclipse-for-tomcat-6/">how to get Tomcat 6 working with the Seam support in JBoss Tools</a> on his blog.
</p>

<p class="wikiPara">
Finall, Snjezana Peco from JBoss (JBoss Tools) is working on enabling Profile action for our JBoss AS adapters in JBoss Tools 3, but if you want to know how to do it with any version of JBoss Tools then take a look at <a href="http://www.jboss.com/index.html?module=bb&amp;op=viewtopic&amp;p=4160970#4160970" target="" class="regularLink">this forum post</a> where Snejana explains the steps for enabling TPTP profiling.
</p>














</div>

