---
title: "JBoss at Devoxx "
author: "Max Andersen"
blogger_name: "Max"
creation_date: "19-11-2008"
tags: [Eclipse,JBoss Tools,Seam,Web Beans]

relative_url: /2008/11/19/jboss-at-devoxx
slug: jboss-at-devoxx
lace: http://in.relation.to/10034.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/11/19/jboss-at-devoxx
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="http://devoxx.com/" target="" class="regularLink">Devoxx</a>, the show formerly known as JavaPolis is coming up soon and while I was preparing for my talks I started browsing the full program and saw it is going to be great for anyone interested in Hibernate, Seam, JBoss Tools, JBoss AS and other JBoss technologies.
</p>

<p class="wikiPara">
The list below is what I could find by browsing the program and it is a mix of JBoss and non-JBoss speakers.
There is so many that I'm just going to list them and let the titles speak for them self:
</p>

<h1 class="wikiHeadline1" id="H-Hibernate"><a href="/2008/11/19/jboss-at-devoxx#H-Hibernate">Hibernate</a></h1>

<p class="wikiPara">
<a href="http://devoxx.com/display/JV08/JPA+in+Practice" target="" class="regularLink">Kickstart JPA/JPA in Practice</a> by Max Rydahl Andersen and Alexander Snaps
</p>

<p class="wikiPara">
<a href="http://devoxx.com/display/JV08/Scaling+Hibernate+-+tips,+recipes+and+new+perspectives" target="" class="regularLink">Scaling Hibernate: tips, recipes and new perspectives</a> BOF by Emmanuel Bernard and Max Rydahl Andersen.
</p>

<p class="wikiPara">
<a href="http://devoxx.com/display/JV08/A+successful+search%2C+a+happy+user+make+it+happen" target="" class="regularLink">A successful search, a happy user: make it happen!</a> by Emmanuel Bernard
</p>

<p class="wikiPara">
<a href="http://devoxx.com/display/JV08/Envers+-+Easy+Entity+Versioning" target="" class="regularLink">Envers - Easy Entity Versioning</a> by Adam Warski.
</p>

<p class="wikiPara">
<a href="http://devoxx.com/display/JV08/Sharding+in+Hibernate" target="" class="regularLink">Sharding in Hibernate</a> by Andrew Glover.
</p>

<p class="wikiPara">
<a href="http://devoxx.com/display/JV08/Hibernate+Performance+Tuning" target="" class="regularLink">Hibernate Performance Tuning</a> by Volker Bergmann.
</p>

<h1 class="wikiHeadline1" id="H-SeamAndWebBeans"><a href="/2008/11/19/jboss-at-devoxx#H-SeamAndWebBeans">Seam and Web Beans</a></h1>
<p class="wikiPara">
<a href="http://devoxx.com/display/JV08/Introduction+to+Web+Beans" target="" class="regularLink">Introduction to Web Beans</a> by Pete Muir 
</p>

<p class="wikiPara">
<a href="http://devoxx.com/display/JV08/Seam+in+Action" target="" class="regularLink">Seam in Action</a> by Dan Allan
</p>

<p class="wikiPara">
<a href="http://devoxx.com/display/JV08/Seam,+Web+Beans+and+JBoss+Tools" target="" class="regularLink">Seam, Web Beans and JBoss Tools</a> BOF by Dan Allan, Pete Muir and Max Rydahl Andersen.
</p>

<p class="wikiPara">
<a href="http://devoxx.com/display/JV08/JSF%2C+Ajax%2C+and+Seam+portlet+development+with+the+JBoss+Portlet+Bridge" target="" class="regularLink">JSF, Ajax, and Seam portlet development with the JBoss Portlet Bridge</a> by Thomas Heute
</p>

<p class="wikiPara">
<a href="http://devoxx.com/display/JV08/JBoss+Seam+and+beyond" target="" class="regularLink">JBoss Seam and beyond</a> by The RealDolmen and Belgium JBUG quartet.
</p>

<h1 class="wikiHeadline1" id="H-JBossToolsAmpDeveloperStudio"><a href="/2008/11/19/jboss-at-devoxx#H-JBossToolsAmpDeveloperStudio">JBoss Tools &amp; Developer Studio</a></h1>
<p class="wikiPara">
<a href="http://devoxx.com/display/JV08/Editing+xml+and+html+with+JBoss+Visual+Page+Editor" target="" class="regularLink">Editing xml and html with JBoss Visual Page Editor</a> by Max Rydahl Andersen
</p>

<p class="wikiPara">
<a href="http://devoxx.com/display/JV08/Making+full+use+of+Hibernate+Tools" target="" class="regularLink">Making full use of Hibernate Tools</a> by Max Rydahl Andersen
</p>

<h1 class="wikiHeadline1" id="H-Others"><a href="/2008/11/19/jboss-at-devoxx#H-Others">Others</a></h1>
<p class="wikiPara">
<a href="http://devoxx.com/display/JV08/JBoss+Application+Server+5" target="" class="regularLink">JBoss Application Server 5</a> by Dimitris Andreadis and Ales Justin 
</p>

<p class="wikiPara">
<a href="http://devoxx.com/display/JV08/Declarative+programming+with+Rules%2C+Workflow+and+Event+Processing" target="" class="regularLink">Declarative programming with Rules, Workflow and Event Processing</a> by Mark Proctor and Kris Verlaenen
</p>

<p class="wikiPara">
<a href="http://devoxx.com/pages/viewpage.action?pageId=1377607" target="" class="regularLink">Profiler, the better debugger</a> by Heiko Rupp 
</p>

<p class="wikiPara">
<a href="http://devoxx.com/display/JV08/Systems+management+with+project+RHQ" target="" class="regularLink">Systems management with project RHQ</a> by Heiko Rupp 
</p>

<p class="wikiPara">
<a href="http://devoxx.com/display/JV08/The+JBoss+SOA+Platform+-+An+Overview+and+Methodology" target="" class="regularLink">The JBoss SOA Platform</a> by Mark Little 
</p>

<p class="wikiPara">
<a href="http://devoxx.com/display/JV08/Mobicents+Sip+Servlets+-+Telco+applications+in+Java" target="" class="regularLink">Mobicents Sip Servlets - Telco applications in Java</a> by Vladimir Ralev 
</p>

<p class="wikiPara">
If I missed any, let me know ;)
</p>

<p class="wikiPara">
Besides the above list I found that the program otherwise is looking really interesting this year - i'm looking forward to visit Antwerp again.
</p>

<p class="wikiPara">
See you there.
</p>










</div>

