---
title: "Balsamiq - UI Mockups done right!"
author: "Max Andersen"
blogger_name: "Max"
layout: blog-post
tags: [Eclipse]
slug: BalsamiqUIMockupsDoneRight
lace: http://in.relation.to/9813.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/BalsamiqUIMockupsDoneRight">Balsamiq - UI Mockups done right!</a>
                    </h1>
</div>
<p class="wikiPara">
Have you ever had an idea on how some web or desktop UI should look and needed to tell someone about ?
Your text explanations would be misunderstood or you were just too lazy to even write it down or use any of the many useless expensive tool to make it ? 
</p>

<p class="wikiPara">
I've been in that situation many times lately while working on JBoss Tools and Developer Studio, but 
ever since I bumped into <a href="http://www.balsamiq.com/products/mockups" target="" class="regularLink">Balsamiq Mockups</a> I'm (almost) enjoying doing mockups of UI features which I hated doing before.
</p>

<p class="wikiPara">
It already <a href="https://jira.jboss.org/jira/browse/JBIDE-2740" target="" class="regularLink">helped me</a> <a href="https://bugs.eclipse.org/bugs/attachment.cgi?id=115842" target="" class="regularLink">more</a> than once in 
making discussions that normally takes very long to be much more focused on the problem at hand.
</p>

<p class="wikiPara">
Thus instead of me trying to explain how it works go see the <a href="http://www.balsamiq.com/products/mockups" target="" class="regularLink">screencast here</a> and see it for your self.
</p>

<b>Note:</b><p class="wikiPara">
 I do not have any associations with Balsamiq, I just find their product to be really good and solving a problem I know alot of others have
and wanted to share that.
</p>



</div>
