---
title: "JBoss Tools 3.0.0 Alpha1: Ganymede, pages.xml, Portlet, TPTP, BIRT,..."
author: "Max Andersen"
blogger_name: "Max"
creation_date: "21-08-2008"
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse,Seam]

relative_url: /2008/08/21/JBossTools300Alpha1GanymedePagesxmlPortletTPTPBIRT
slug: JBossTools300Alpha1GanymedePagesxmlPortletTPTPBIRT
lace: http://in.relation.to/9311.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/08/21/JBossTools300Alpha1GanymedePagesxmlPortletTPTPBIRT
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Today we are releasing JBoss Tools 3 Alpha1! 
</p>

<div style="float:right;margin:10px;">
<img src="/images/9312.png" width="188" height="306">
</div>

<p class="wikiPara">
[<a href="http://www.jboss.org/tools/download/index.html#development" target="" class="regularLink">Download</a>]
[<a href="http://download.jboss.org/jbosstools/updates/development" target="" class="regularLink">Update Site</a>] [<a href="http://docs.jboss.org/tools/whatsnew" target="" class="regularLink">What's'New</a>]
[<a href="http://download.jboss.org/jbosstools/nightly-docs/" target="" class="regularLink">Documentation (Nightly)</a>] 
[<a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="" class="regularLink">Forums</a>] [<a href="http://jira.jboss.com/jira/browse/JBIDE" target="" class="regularLink">JIRA</a>]
</p>

<h2 class="wikiHeadline2" id="H-AlphaWarning"><a href="/2008/08/21/JBossTools300Alpha1GanymedePagesxmlPortletTPTPBIRT#H-AlphaWarning">Alpha Warning!</a></h2>

<p class="wikiPara">
This is an alpha version so do not just throw us away when your computer blows up while using this version, do please tell us what happened!
Getting feedback from users are very important for us.
</p>

<p class="wikiPara">
Use the <a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="" class="regularLink">Forums</a> and/or <a href="http://jira.jboss.com/jira/browse/JBIDE" target="" class="regularLink">JIRA</a> to provide feedback. Thank you!
</p>

<h2 class="wikiHeadline2" id="H-UpgradeToGanymede"><a href="/2008/08/21/JBossTools300Alpha1GanymedePagesxmlPortletTPTPBIRT#H-UpgradeToGanymede">Upgrade to Ganymede</a></h2>

<p class="wikiPara">
This release will only work with Eclipse 3.4/Ganymede. 
</p>

<p class="wikiPara">
We recommend you do <i class="wikiEmphasis">not</i> use Eclipse.org update site to go from Eclipse 3.3 to Eclipse 3.4 - instead download the full binary from <a href="http://www.eclipse.org/downloads/" target="" class="regularLink">Eclipse</a>. To get the <i class="wikiEmphasis">optional</i> TPTP and BIRT integration to show up see the list of Eclipse drivers we used for JBoss Tools 3.x <a href="http://download.jboss.org/jbosstools/builds/nightly/latestBuild.html" target="" class="regularLink">here</a>
</p>

<p class="wikiPara">
If you can only use Eclipse 3.3 use <a href="http://in.relation.to/Bloggers/JBossTools212AndOtherNews" target="" class="regularLink">JBoss Tools 2.1.2</a>, but JBoss Tools 2.x will not have any of the new features.
</p>

<h2 class="wikiHeadline2" id="H-Highlights"><a href="/2008/08/21/JBossTools300Alpha1GanymedePagesxmlPortletTPTPBIRT#H-Highlights">Highlights</a></h2>

<p class="wikiPara">
There is a lot going on in 3.x, but the following are the new feature highlights:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">Graphical Seam pages.xml editor, visual view and editing of page and exception navigation </li>
<li class="wikiUnorderedListItem">Faster editing in Visual Page Editor and the source tab is back!</li>
<li class="wikiUnorderedListItem">EL Variable substitution, allowing users to specify what a EL variable should be evaluated to; allowing includes and image references in pages that uses EL to be visualized.</li>
<li class="wikiUnorderedListItem">Project archives can use relative paths and Eclipse variables allowing for more portable .packages files</li>
<li class="wikiUnorderedListItem">Dali support for Hibernate, use Hibernate as a JPA platform in Eclipse JPA projects.</li>
<li class="wikiUnorderedListItem">Portlet wizard and facet with support for JSF/Seam via the Portlet Bridge</li>
<li class="wikiUnorderedListItem">JBossWS WTP support, enable usage of JBossWS in WTP web services functionality</li>
<li class="wikiUnorderedListItem"> Eclipse BIRT support, we added a Hibernate backed datasource for Eclipse BIRT and experimental Seam/JSF tags for using BIRT charts and reports.</li>
</ul>

<p class="wikiPara">
...and more. See the full change list in <a href="http://jira.jboss.org/jira/secure/IssueNavigator.jspa?reset=true&amp;pid=10020&amp;fixfor=12312307" target="" class="regularLink">jira</a> and see more details and screenshots in <a href="http://docs.jboss.org/tools/whatsnew" target="" class="regularLink">What's'New</a>
</p>

<p class="wikiPara">
Have fun!
</p>

<p class="wikiPara">
p.s. the <q>JBoss Tools Drink</q> is one of the suggestions we got for a JBoss Tools <q>identity</q> - I'll blog about that later, but if you got other suggestions let us know.
</p>

<p class="wikiPara">
 </p>
</div>
