---
title: "JBoss Tools 3 CR2 released"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "30-01-2009"
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse]

relative_url: /2009/01/30/JBossTools3CR2Released
slug: JBossTools3CR2Released
lace: http://in.relation.to/10558.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/01/30/JBossTools3CR2Released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
JBoss Tools 3 CR2 is ready! The next one will be GA.
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/tools/download" target="" class="regularLink">Download</a>]
[<a href="http://download.jboss.org/jbosstools/updates/development" target="" class="regularLink">Update Site</a>] [<a href="http://docs.jboss.org/tools/whatsnew" target="" class="regularLink">What's New</a>]
[<a href="http://docs.jboss.org/tools/movies/" target="" class="regularLink">Movies</a>]
[<a href="http://docs.jboss.org/tools/3.0.0.CR2/" target="" class="regularLink">Documentation</a>] 
[<a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="" class="regularLink">Forums</a>] 
[<a href="http://jira.jboss.com/jira/browse/JBIDE" target="" class="regularLink">JIRA</a>]
</p>

<p class="wikiPara">
<a href="https://jira.jboss.org/jira/secure/IssueNavigator.jspa?reset=true&amp;pid=10020&amp;fixfor=12312127" target="" class="regularLink">160+ issues</a> have been fixed since CR1 based on the feedback we have received (Thank You!)  
</p>

<p class="wikiPara">
We are heading for GA and therefore not a lot of new features, except for a few which you can see in the <a href="http://docs.jboss.org/tools/whatsnew/" target="" class="regularLink">New and Noteworthy</a>.
</p>

<p class="wikiPara">
I especially like the code folding in Visual Page editor for XML/HTML including namespaced tags like <code>rich:table</code>.
</p>

<p class="wikiPara">
While you download the new release you can go and look at some of our recent entries for JBoss Tools:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">The <a href="http://galder.zamarreno.com/?p=256" target="" class="regularLink">FreeTee project</a>, where Galder shows how he uses project archives from JBoss Tools to have quick incremental build of rt.jar from OpenJDK</li>
<li class="wikiUnorderedListItem">The <a href="http://www.vimeo.com/2828021" target="" class="regularLink">JBoss Tools Code swarm</a> done by Emanuel</li>
<li class="wikiUnorderedListItem">The <a href="https://jira.jboss.org/jira/browse/JBIDE-2739" target="" class="regularLink">Logo Jira</a> where you can contribute ideas to the work for a JBoss Tools logo (the final one will be chosen for the GA)</li>
</ul>

<p class="wikiPara">
As always feedback is very much appreciated.
</p>

<p class="wikiPara">
Have fun!
</p>



</div>

