---
title: "JBoss Tools and Developer Studio Webinar"
author: "Max Andersen"
blogger_name: "Max"
layout: blog-post
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse]
slug: JBossToolsAndDeveloperStudioWebinar
lace: http://in.relation.to/11132.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/JBossToolsAndDeveloperStudioWebinar">JBoss Tools and Developer Studio Webinar</a>
                    </h1>
</div>
<p class="wikiPara">
We will be holding a Webinar about JBoss Tools and Developer Studio on Thursday, 23rd April at <a href="http://timeanddate.com/worldclock/fixedtime.html?month=4&amp;day=23&amp;year=2009&amp;hour=14&amp;min=0&amp;sec=0&amp;p1=179" target="" class="regularLink">2 pm EDT/18:00 UTC</a>.
</p>

<p class="wikiPara">
The title is <q><a href="https://inquiries.redhat.com/go/redhat/20090423JBDSWebinar" target="" class="regularLink">New Features of JBoss Developer Studio - Portfolio Edition</a></q> which I will be doing together with Jim and Prakash.
</p>

<p class="wikiPara">
The registration is open and free you can register <a href="https://inquiries.redhat.com/go/redhat/20090423JBDSWebinar" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
The Webinar will have a live Q/A at the end so come by and get answers.
</p>

<p class="wikiPara">
See you there!</p>
</div>
