---
title: "JBoss Tools 3 CR2 download links fixed!"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "05-02-2009"
original_tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse]
tags: [Eclipse,JBoss Tools]

relative_url: /2009/02/05/jboss-tools-3-cr-2-download-links-fixed
slug: jboss-tools-3-cr-2-download-links-fixed
lace: http://in.relation.to/10638.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/02/05/jboss-tools-3-cr-2-download-links-fixed
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We had some issues with the <a href="http://www.jboss.org/tools/download/index.html#development" target="" class="regularLink">download links</a> to sf.net when we announced <a href="http://in.relation.to/Bloggers/JBossTools3CR2Released" target="" class="regularLink">JBoss Tools 3 CR2</a>.
</p>

<p class="wikiPara">
Now these links have been fixed and to recap here is the way to get JBoss Tools:
</p>

<p class="wikiPara">
Use our <a href="http://download.jboss.org/jbosstools/updates/development" target="" class="regularLink">update site</a> or get the zips from our <a href="http://www.jboss.org/tools/download/index.html#development" target="" class="regularLink">Download page</a>
</p>

<p class="wikiPara">
...and if in doubt read our <a href="http://www.jboss.org/community/docs/DOC-10044" target="" class="regularLink">Installing JBoss Tools</a> wiki page.
</p>

<p class="wikiPara">
And just as a final note:
</p>

<blockquote class="wikiBlockquote">
To err is human, to forgive divine
</blockquote>

<p class="wikiPara">
Have fun!</p>
</div>

