---
title: "JBoss Developer Studio 2 CR2 available"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "02-02-2009"
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse]

relative_url: /2009/02/02/JBossDeveloperStudio2CR2Available
slug: JBossDeveloperStudio2CR2Available
lace: http://in.relation.to/10622.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/02/02/JBossDeveloperStudio2CR2Available
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I just got the word that <a href="http://www.jboss.com/products/devstudio" target="" class="regularLink">JBoss Developer Studio 2 CR2</a> is now available for download for free from the <a href="https://inquiries.redhat.com/go/redhat/JBDS2" target="" class="regularLink">beta download page</a> or via the <a href="https://support.redhat.com/jbossnetwork/restricted/listSoftware.html?downloadType=distributions&amp;product=jbossdeveloperstudio&amp;version=2.0+CR2" target="" class="regularLink">Customer Support Portal (CSP) (requires a subscription)</a>.
</p>

<p class="wikiPara">
This version incorporates the productized plugins from <a href="http://in.relation.to/Bloggers/JBossTools3CR2Released" target="" class="regularLink">JBoss Tools 3 CR2</a> plus updates to the bundled 3rd party plugins and platforms.
</p>

<h1 class="wikiHeadline1" id="H-JBossDeveloperStudioVsJBossTools"><a href="/2009/02/02/JBossDeveloperStudio2CR2Available#H-JBossDeveloperStudioVsJBossTools">JBoss Developer Studio vs. JBoss Tools ?</a></h1>

<p class="wikiPara">
JBoss Developer Studio contains most parts of JBoss Tools but to illustrate what is included in JBoss Developer Studio from JBoss Tools and what is additionally provided you can go read the <a href="https://www.jboss.org/community/docs/DOC-13300" target="" class="regularLink">"Developer Studio vs. JBoss Tools"</a> which illustrates exactly this.
</p>

<h1 class="wikiHeadline1" id="H-WithOrWithoutEAP"><a href="/2009/02/02/JBossDeveloperStudio2CR2Available#H-WithOrWithoutEAP">With or without EAP ?</a></h1>

<p class="wikiPara">
From this release and going forward we we now are offering two different bundles, one with JBoss Enterprise Application Platform (EAP) at about 600 MB and a bundle that does not include EAP at about 300 MB. 
That gives users that already have one of our platforms installed to download the much smaller bundle. 
</p>

<p class="wikiPara">
The installer have also been made intelligent enough to allow you to get your existing runtimes (EAP, SOA-P, JBoss AS etc.) automatically configured as long as you tell the installer where it should
find the runtimes.
</p>

<p class="wikiPara">
Have fun! 
</p>

</div>
