---
title: "A Book, a talk and a comic about Eclipse Development and JBoss Tools"
author: "Max Andersen"
blogger_name: "Max"
layout: blog-post
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse]
slug: ABookATalkAndAComicAboutEclipseDevelopmentAndJBossTools
lace: http://in.relation.to/11543.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/ABookATalkAndAComicAboutEclipseDevelopmentAndJBossTools">A Book, a talk and a comic about Eclipse Development and JBoss Tools</a>
                    </h1>
</div>
<p class="wikiPara">
I've been sitting on these links too long. Time to set them free.
</p>

<h1 class="wikiHeadline1" id="H-TheBook"><a href="/Bloggers/ABookATalkAndAComicAboutEclipseDevelopmentAndJBossTools#H-TheBook">The Book</a></h1>

<blockquote class="wikiBlockquote">
<i class="wikiEmphasis">Disclaimer</i>: I have no connection to the book or Packt Publishing beyond being invited as a technical reviewer on the rough first version of the book. Unfortunately the deadline(s) for review were around my Wedding, so I could not participate.
</blockquote>

<p class="wikiPara">
Packt Publishing have released <q><a href="http://www.packtpub.com/developers-guide-for-jboss-tools-3/book" target="" class="regularLink">JBoss Tools 3 Developers Guide</a></q> by Anghel Leonard.
</p>

<p class="wikiPara">
I bought a copy recently and from my first looks I find that it is covering all the major features in JBoss Tools 3 and Developer Studio 2. 
</p>

<p class="wikiPara">
If you like to have an alternative to our user guides and especially if you are more to dead trees than screen reading then give the book a try. 
</p>

<p class="wikiPara">
If you do, I would be interested in hearing what you think about it compared to our online documentation.
</p>

<h1 class="wikiHeadline1" id="H-TheTalk"><a href="/Bloggers/ABookATalkAndAComicAboutEclipseDevelopmentAndJBossTools#H-TheTalk">The Talk</a></h1>

<p class="wikiPara">
John G. and my Excellent Plug-in Adventure for EclipseCon 2009 is now available from <a href="http://live.eclipse.org/node/735" target="" class="regularLink">Eclipse Live</a>. If you are into Eclipse plug-in development and would like to hear about all the mistakes we and many others have made and hear a few solutions too then take a look.
</p>

<h1 class="wikiHeadline1" id="H-TheComic"><a href="/Bloggers/ABookATalkAndAComicAboutEclipseDevelopmentAndJBossTools#H-TheComic">The Comic</a></h1>

<p class="wikiPara">
'Someone' have been having fun and started <a href="http://captainsofawesome.blogspot.com/" target="" class="regularLink">Being The Continuing Adventures of The Captains Of Awesome</a> - bonus points to those who can figure out the connection to JBoss Tools (no, nickb is not the answer)
</p>

<p class="wikiPara">
-max</p>
</div>
