---
title: "JBoss Tools Code Swarm (video)"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "15-01-2009"
tags: [Eclipse,JBoss Tools]

relative_url: /2009/01/15/JBossToolsCodeSwarmVideo
slug: JBossToolsCodeSwarmVideo
lace: http://in.relation.to/10448.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/01/15/JBossToolsCodeSwarmVideo
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Emanuel Muckenhuber send me this video today showing how JBoss Tools trunk looks like when animated with <a href="http://code.google.com/p/codeswarm/" target="" class="regularLink">code swarm</a>.
</p>

<p class="wikiPara">
The period is from December 2004 to January 2009. In the beginning all is pretty quiet/simple when JBoss Tools just
contained Hibernate Tools, AS tooling and Project archives - but wait and see what happens around May 2007 and forward
when we announced JBoss Developer Studio and got contributions from Exadel; pure fireworks:
</p>

<p class="wikiPara">
<img src="/images/10450.png" width="432" height="326">
</p>

<p class="wikiPara">
You can see the full video <a href="http://www.vimeo.com/2828021" target="" class="regularLink">here</a>. 
</p>

<p class="wikiPara">
p.s. this is just JBoss Tools trunk which does not contain jbpm and drools hence you won't
see activity for them.
</p>


</div>
