---
title: "JBoss Community Asylum 6 - JEE 6, CDI and Weld with Pete Muir and Dan Allen"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "09-12-2009"
tags: [Asylum,Seam,Web Beans,Weld]

absolute_url: http://in.relation.to/2009/12/09/JBossCommunityAsylum6JEE6CDIAndWeldWithPeteMuirAndDanAllen
lace: http://in.relation.to/13427.lace
slug: JBossCommunityAsylum6JEE6CDIAndWeldWithPeteMuirAndDanAllen

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<img src="http://in.relation.to/service/File/13429" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
Emmanuel and I sat down with Pete and Dan at Devoxx to talk about CDI and Weld.
</p>

<p class="wikiPara">
Dan and Pete present what is CDI and what is Weld.
</p>

<p class="wikiPara">
We discuss how CDI portable extensions allows you to extend and build on top instead of around the standard platform.
</p>

<p class="wikiPara">
And of course you get to hear how Dan and Pete ended up working within the JBoss Community.
</p>

<p class="wikiPara">
Get it all and more from <a href="http://asylum.jboss.org/index.php?post_id=558122" target="" class="regularLink">Episode 6</a> at The Asylum.
</p>



</div>
