---
title: "JBoss Community Asylum 4 - Validating Hardy and Opensource IDE business"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "19-11-2009"
tags: [Asylum,Bean Validation,Hibernate]

relative_url: /2009/11/19/JBossCommunityAsylum4ValidatingHardyAndOpensourceIDEBusiness
slug: JBossCommunityAsylum4ValidatingHardyAndOpensourceIDEBusiness
lace: http://in.relation.to/13109.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/11/19/JBossCommunityAsylum4ValidatingHardyAndOpensourceIDEBusiness
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Asylum 4 <a href="http://asylum.jboss.org/index.php?post_id=551031" target="" class="regularLink">is out</a>. 
</p>

<p class="wikiPara">
Talking with Hardy Ferentschik about the finalization of Bean Validation specification and its reference implementation (Hibernate Validator). 
</p>

<p class="wikiPara">
The podcast also covers short news from jboss.org and what we think about the opensourcing of Intellij.
</p>

<p class="wikiPara">
Have fun!
</p>




</div>

