---
title: "JBoss Community Asylum 7 - Manik Surtani on Infinispan"
author: "Max Andersen"
blogger_name: "Max"
layout: blog-post
tags: [Asylum,Infinispan]
slug: JBossCommunityAsylum7ManikSurtaniOnInfinispan
lace: http://in.relation.to/13681.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/JBossCommunityAsylum7ManikSurtaniOnInfinispan">JBoss Community Asylum 7 - Manik Surtani on Infinispan</a>
                    </h1>
</div>
<img src="&lt;%=%20site.base_url%20%&gt;/images/13429" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
Just in time for the holidays and New Year we present to you <a href="http://jbosscommunityasylum.libsyn.com/index.php?post_id=562565" target="" class="regularLink">Episode 7</a> of <a href="http://asylum.jboss.org" target="" class="regularLink">JBoss Asylum</a>
</p>

<p class="wikiPara">
This one is a recording Emmanuel and I did at Devoxx with Manik Surtani on the topic of Infinispan.
</p>

<p class="wikiPara">
We managed to cover a lot of ground in this one about Clustering, scalability, distributed caching, massive indexing and queryable caches via Hibernate Search.
</p>

<p class="wikiPara">
We even let Manik explain what Infinispan is and what he thinks about Devoxx.
</p>

<p class="wikiPara">
Grab it from <a href="http://jbosscommunityasylum.libsyn.com/index.php?post_id=562565" target="" class="regularLink">The Asylum Episode 7</a>
 </p>
</div>
