---
title: "JBoss Community Asylum 7 - Manik Surtani on Infinispan"
author: "Max Andersen"
creation_date: "22-12-2009"
blogger_name: "Max"
layout: blog-post
tags: [Asylum,Infinispan]
slug: JBossCommunityAsylum7ManikSurtaniOnInfinispan
lace: http://in.relation.to/13681.lace
---
<div id="documentDisplay" class="documentDisplay">


<img src="http://in.relation.to/service/File/13429" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
Just in time for the holidays and New Year we present to you <a href="http://jbosscommunityasylum.libsyn.com/index.php?post_id=562565" target="" class="regularLink">Episode 7</a> of <a href="http://asylum.jboss.org" target="" class="regularLink">JBoss Asylum</a>
</p>

<p class="wikiPara">
This one is a recording Emmanuel and I did at Devoxx with Manik Surtani on the topic of Infinispan.
</p>

<p class="wikiPara">
We managed to cover a lot of ground in this one about Clustering, scalability, distributed caching, massive indexing and queryable caches via Hibernate Search.
</p>

<p class="wikiPara">
We even let Manik explain what Infinispan is and what he thinks about Devoxx.
</p>

<p class="wikiPara">
Grab it from <a href="http://jbosscommunityasylum.libsyn.com/index.php?post_id=562565" target="" class="regularLink">The Asylum Episode 7</a>
 </p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'JBossCommunityAsylum7ManikSurtaniOnInfinispan';
    var disqus_title = 'JBoss Community Asylum 7 - Manik Surtani on Infinispan';
    var disqus_url = 'http://in.relation.to/13681.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
