---
title: "JBoss Community Asylum 4 - Validating Hardy and Opensource IDE business"
author: "Max Andersen"
creation_date: "19-11-2009"
blogger_name: "Max"
layout: blog-post
tags: [Asylum,Bean Validation,Hibernate]
slug: JBossCommunityAsylum4ValidatingHardyAndOpensourceIDEBusiness
lace: http://in.relation.to/13109.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Asylum 4 <a href="http://asylum.jboss.org/index.php?post_id=551031" target="" class="regularLink">is out</a>. 
</p>

<p class="wikiPara">
Talking with Hardy Ferentschik about the finalization of Bean Validation specification and its reference implementation (Hibernate Validator). 
</p>

<p class="wikiPara">
The podcast also covers short news from jboss.org and what we think about the opensourcing of Intellij.
</p>

<p class="wikiPara">
Have fun!
</p>




</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'JBossCommunityAsylum4ValidatingHardyAndOpensourceIDEBusiness';
    var disqus_title = 'JBoss Community Asylum 4 - Validating Hardy and Opensource IDE business';
    var disqus_url = 'http://in.relation.to/13109.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
