---
title: "JBoss Invasion at EclipseCon '09"
author: "Max Andersen"
blogger_name: "Max"
layout: blog-post
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse]
slug: JBossInvasionAtEclipseCon09
lace: http://in.relation.to/10701.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/JBossInvasionAtEclipseCon09">JBoss Invasion at EclipseCon '09</a>
                    </h1>
</div>
<p class="wikiPara">
<a href="http://www.eclipsecon.org" target="" class="regularLink">EclipseCon 2009</a> is getting closer and I really should get started preparing my talks.
</p>

<p class="wikiPara">
While trying to start working on the talk I saw the following list dropping into my inbox with curtesy of Nick Boldt.
It is the list of talks where one from JBoss or Red Hat is involved (if we missed one let us know).
</p>

<p class="wikiPara">
<a href="http://www.eclipsecon.org/2009/sessions?id=302" target="" class="regularLink">Hands-On: Using the new Common Builder for Push-Button PDE Builds</a> a 4-hour tutorial by Nick Boldt, Andrew Overholt, Andrew Niefer (IBM)	
</p>

<p class="wikiPara">
<a href="http://www.eclipsecon.org/2009/sessions?id=332" target="" class="regularLink">Executing BPMN</a> by Koen Aers a long talk by Koen Aers.
</p>

<p class="wikiPara">
<a href="http://www.eclipsecon.org/2009/sessions?id=800" target="" class="regularLink">Hands on with JBoss Developer Studio</a> a 2-hour tutorial by Jim Tyrrell and Max Rydahl Andersen
</p>

<p class="wikiPara">
<a href="http://www.eclipsecon.org/2009/sessions?id=588" target="" class="regularLink">New opportunities for server adapter providers in the new Server View</a>, a 10 min. short talk by Rob Stryker	
</p>

<p class="wikiPara">
<a href="http://www.eclipsecon.org/2009/sessions?id=466" target="" class="regularLink">An update on the Linux Distros/Tools project</a>, short 25 min talk by Andrew Overholt	
</p>

<p class="wikiPara">
<a href="http://www.eclipsecon.org/2009/sessions?id=338" target="" class="regularLink">Max and John's Excellent Plug-in Adventure: The Highlight Reel</a> by John Graham and Max Rydahl Andersen	
</p>

<p class="wikiPara">
<a href="http://www.eclipsecon.org/2009/sessions?id=793" target="" class="regularLink">BoF: Linux Extended IDE - Linux Tracing</a> a BOF by Andrew Overholt et.al.
</p>

<h1 class="wikiHeadline1" id="H-Discount"><a href="/Bloggers/JBossInvasionAtEclipseCon09#H-Discount">Discount</a></h1>

<p class="wikiPara">
JBoss is sponsoring a 10% discount for attendees to EclipseCon, you can use the coupon code <a href="http://www.eclipsecon.org/2009/?tag=JBOSS10" target="" class="regularLink">JBOSS10</a> to get it!
</p>

<h1 class="wikiHeadline1" id="H-JBossToolsMeetup"><a href="/Bloggers/JBossInvasionAtEclipseCon09#H-JBossToolsMeetup">JBoss Tools meetup</a></h1>

<p class="wikiPara">
We will also be having a JBoss Tools Team meeting in the days around EclipseCon. If you want to meet <a href="https://www.jboss.org/community/tags?tags=jbosstools&amp;taggableTypes=USER" target="" class="regularLink">the team</a> speak up and we will make sure
to let you know where we are or just stalk us on <a href="http://twitter.com/jbosstools" target="" class="regularLink">twitter</a>.
</p>

<p class="wikiPara">
See you there!
</p>

<img src="http://www.eclipsecon.org/2009/static/image/100x100_sponsoring.gif">
<img src="http://www.eclipsecon.org/2009/static/image/100x100_speaking.gif">
<img src="http://www.eclipsecon.org/2009/static/image/100x100_attending.gif">




</div>
