---
title: "Instant Mockup for Eclipse SWT Applications"
author: "Max Andersen"
blogger_name: "Max"
layout: blog-post
tags: [Eclipse,Mockup]
slug: InstantMockupForEclipseSWTApplications
lace: http://in.relation.to/11393.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/InstantMockupForEclipseSWTApplications">Instant Mockup for Eclipse SWT Applications</a>
                    </h1>
</div>
<p class="wikiPara">
<i class="wikiEmphasis">Note</i>: <a href="https://community.jboss.org/en/jbosstools/blog/2010/07/07/an-update-to-instant-mockup-for-swt" target="" class="regularLink">Updated version available</a> 
</p>

<p class="wikiPara">
I've been using <a href="http://www.balsamiq.com/products/mockups" target="" class="regularLink">Balsamiq</a> a lot lately, but I started to find it tedious to do mockup's that were additions to already existing dialogs/windows in JBoss Tools.
</p>

<p class="wikiPara">
Then over the weekend I saw Elias Volanakis <a href="http://eclipsesource.com/blogs/2009/05/08/uitostring-in-a-snippet/" target="" class="regularLink">blogging</a> about how to dump the hiearchy of SWT 
and with some sniffing on how the Plug-In Spy works I could very quickly create my little own SWT Spy.
</p>

<p class="wikiPara">
The Spy simply installs a command under the Alt+Shift+F3 shortcut which then takes the window in focus, generates the appropriate XML and put it in the clipboard for easy pasting into Balsamiq.
</p>

<p class="wikiPara">
That allows me to have something like this:
</p>

<p class="wikiPara">
<img src="/service/File/11391" width="506" height="450">
</p>

<p class="wikiPara">
and convert it into this:
</p>

<p class="wikiPara">
<img src="/service/File/11392" width="506" height="450">
</p>

<p class="wikiPara">
Which I then can edit and enhance as I want to.
</p>

<p class="wikiPara">
I also created a <a href="http://www.screencast.com/users/max.rydahl.andersen/folders/Eclipse%20Tips/media/fb22228f-8cad-4679-8dbe-5b4934437075" target="" class="regularLink">quick video</a> of the whole process too.
</p>

<p class="wikiPara">
Going to save me a lot of time in the future.
</p>

<p class="wikiPara">
You can try it out your self by using <a href="http://update.xam.dk" target="" class="regularLink">http://update.xam.dk</a> as your updatesite in Eclipse.
</p>

<p class="wikiPara">
I made the source available at <a href="http://github.com/maxandersen/update.xam.dk/tree/master" target="" class="regularLink">github</a> if others want to add support for the components I didn't got around to handle yet (Warning: It's a big hack, but get's the job done :)
</p>

<p class="wikiPara">
Hope you find it as useful as I do - Have fun!
</p>
</div>
