---
title: "XForms Visual Editor "
author: "Max Andersen"
blogger_name: "Max"
layout: blog-post
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse]
slug: XFormsVisualEditor
lace: http://in.relation.to/10761.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/XFormsVisualEditor">XForms Visual Editor </a>
                    </h1>
</div>
<p class="wikiPara">
Remember the blog, <a href="http://in.relation.to/Bloggers/HowToCreateAVisualDocBookEditorIn10Minutes" target="" class="regularLink">How to create a visual DocBook editor in 10 minutes</a> and how it described how to create a Docbook editor with the Visual page editor in JBoss Tools ?
</p>

<p class="wikiPara">
It turns out Ronald van Kuijk picked it up and created a visual editor for <a href="http://www.w3.org/MarkUp/Forms/" target="" class="regularLink">XForms</a>.
He introduced his attempt on <a href="http://www.jboss.org/index.html?module=bb&amp;op=viewtopic&amp;t=151107" target="" class="regularLink">our forums yesterday</a>, and in the evening he was fully running and did <a href="http://planetjbpm.wordpress.com/2009/02/25/xforms-editor-with-jboss-vpe-and-some-jbpm" target="" class="regularLink">a blog</a> showing of the features including screenshots.
</p>

<p class="wikiPara">
Here are two of them (click for full size):
</p>

<p class="wikiPara">
XForms as it looks by default without the plugin: 
</p>

<p class="wikiPara">
<a href="/service/File/10764" target="" class="regularLink"><img src="/service/File/10764?thumbnail=true"></a>
</p>

<p class="wikiPara">
XForms as it looks with the plugin enabled: 
</p>

<p class="wikiPara">
<a href="/service/File/10763" target="" class="regularLink"><img src="/service/File/10763?thumbnail=true"></a>
</p>

<p class="wikiPara">
You can download the experimental plugin <a href="http://www.megaupload.com/?d=OZJEPOCK" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
Since Ronald were so much on fire I instantly offered him to host the sourcecode for him at <a href="http://anonsvn.jboss.org/repos/jbosstools/workspace/kukeltje/xforms/plugins/" target="" class="regularLink">JBoss tools SVN </a>.
</p>

<p class="wikiPara">
That is what I like about open development, from idea to execution within less than 24-hours.
</p>

<p class="wikiPara">
Have fun!
</p>






</div>
