---
title: "JBoss Tools 3.1 Milestone Released"
author: "Max Andersen"
blogger_name: "Max"
layout: blog-post
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse]
slug: JBossTools31MilestoneReleased
lace: http://in.relation.to/11717.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/JBossTools31MilestoneReleased">JBoss Tools 3.1 Milestone Released</a>
                    </h1>
</div>
<p class="wikiPara">
If you are eager to try out Eclipse 3.5/Galileo together with exploring upcoming features in JBoss Tools you now can since we have uploaded JBoss Tools 3.1.0.M1 to the servers for you to have fun.
</p>

<div align="center">
<img src="/service/File/10824" width="600" height="145">
<h2>3.1 Milestone 1: Under Development</h2>
</div>

<div align="center">
[<a href="http://www.jboss.org/tools/download" target="" class="regularLink">Download</a>]
[<a href="http://download.jboss.org/jbosstools/updates/development" target="" class="regularLink">Update Site</a>] 
[<a href="http://docs.jboss.org/tools/whatsnew" target="" class="regularLink">What's New</a>]
[<a href="http://docs.jboss.org/tools/movies/" target="" class="regularLink">Movies</a>]
[<a href="http://docs.jboss.org/tools/3.1.0.M1/" target="" class="regularLink">Documentation</a>] 
[<a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="" class="regularLink">Forums</a>] 
[<a href="http://jira.jboss.com/jira/browse/JBIDE" target="" class="regularLink">JIRA</a>]
[<a href="http://twitter.com/jbosstools" target="" class="regularLink">Twitter</a>]
</div>

<h2 class="wikiHeadline2" id="H-Installation"><a href="/Bloggers/JBossTools31MilestoneReleased#H-Installation">Installation</a></h2>

<p class="wikiPara">
Don't forget to read the <a href="http://www.jboss.org/community/docs/DOC-10044" target="" class="regularLink">installation instructions for JBoss Tools</a> if this is the first time installing JBoss Tools (it is not so hard, you just need as a minimum Eclipse JEE bundle).
</p>

<p class="wikiPara">
Since this release targets Eclipse 3.5/Galileo you should be using a recent Galileo build. <a href="http://www.eclipse.org/downloads/packages/release/galileo/rc3" target="" class="regularLink">RC3</a> is the latest that is available as a
single download. You can download the individual dependencies from our <a href="http://download.jboss.org/jbosstools/builds/nightly/latestBuild.html" target="" class="regularLink">build page (lower right)</a> or monitor Eclipse Galileo releases for something newer.
</p>

<p class="wikiPara">
Please remember that this release is a  milestone build hence it is not fully QA'ed and some features might not be fully implemented yet. This release is made available so you can provide feedback to the upcoming final releases of JBoss Tools.
</p>

<h2 class="wikiHeadline2" id="H-NewFeatures"><a href="/Bloggers/JBossTools31MilestoneReleased#H-NewFeatures">New Features</a></h2>

<p class="wikiPara">
The feature highlights in this release are:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.jboss.org/index.html?module=bb&amp;op=viewtopic&amp;t=156668" target="" class="regularLink">Eclipse 3.5 Support</a> (Eclipse 3.4 might still work for some plugins, but it is not guaranteed/supported)</li>
<li class="wikiUnorderedListItem"> Almost all strings in JBoss Tools are now ready for i18n, this release includes <a href="http://docs.jboss.org/tools/whatsnew/images/japanesei18n.png" target="" class="regularLink">Japanese contribution</a> by Shinobu Nogami</li>
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/tools/whatsnew/images/renameseamcomponent.png" target="" class="regularLink">Refactoring support for renaming Seam components</a>, incl. updating EL references in pages.xml and XHTML.</li>
<li class="wikiUnorderedListItem"> Visual Page Editor support the new <a href="http://docs.jboss.org/tools/whatsnew/images/richlayoutpanel.png" target="" class="regularLink">layout components in Richfaces</a>
</li>
<li class="wikiUnorderedListItem"> Custom facelet components defined by users in their taglib.xml now shows up rendered in Visual Page Editor</li>
<li class="wikiUnorderedListItem"> Massive changes and improvements in the Smooks editor </li>
<li class="wikiUnorderedListItem"> Additional Project Examples sites can now be installed directly without the need for a plugin</li>
<li class="wikiUnorderedListItem"> Examples from Seam manual where converted to a cheatsheet tutorial and are now available via Project Examples  </li>
<li class="wikiUnorderedListItem"> ...and <a href="http://docs.jboss.org/tools/whatsnew" target="" class="regularLink">more</a>
</li>
</ul>

<p class="wikiPara">
You can see screenshots and more new features in <q><a href="http://docs.jboss.org/tools/whatsnew" target="" class="regularLink">What's New</a></q>.
</p>

<h2 class="wikiHeadline2" id="H-Feedback"><a href="/Bloggers/JBossTools31MilestoneReleased#H-Feedback">Feedback</a></h2>

<p class="wikiPara">
Show up in our <a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="" class="regularLink">forum</a> and/or <a href="http://jira.jboss.com/jira/browse/JBIDE" target="" class="regularLink">JIRA</a> and let us know what you think and open feature requests/bug reports - we are all ears!
</p>

<p class="wikiPara">
If you find bugs related to Eclipse 3.5 Galileo then remember to put them in at <a href="https://bugs.eclipse.org/bugs/" target="" class="regularLink">Eclipse Bugzilla</a> - also very much appreciated since any bugfix in Eclipse helps JBoss Tools :)
</p>

<h2 class="wikiHeadline2" id="H-UpcomingFeatures"><a href="/Bloggers/JBossTools31MilestoneReleased#H-UpcomingFeatures">Upcoming features</a></h2>

<p class="wikiPara">
If you want to be on the bleeding edge then follow our <a href="http://download.jboss.org/jbosstools/updates/nightly/trunk/" target="" class="regularLink">nightly updatesite</a> where we soon will be adding <a href="https://jira.jboss.org/jira/browse/JBIDE-3874" target="" class="regularLink">Maven integration</a>, more Seam refactorings, WebBeans/JSR-299 support, <a href="https://jira.jboss.org/jira/browse/JBIDE/component/12312029" target="" class="regularLink">more flexible VPE</a>, <a href="http://www.jboss.org/jbossprofiler/" target="" class="regularLink">JBoss Profiler</a> launching and more...
</p>

<p class="wikiPara">
Have fun!
</p>
</div>
