---
title: "JBoss Developer Studio 2.1 - EAP 5 support and official update site!"
author: "Max Andersen"
creation_date: "29-09-2009"
blogger_name: "Max"
layout: blog-post
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse,Seam]
slug: JBossDeveloperStudio21EAP5SupportAndOfficialUpdateSite
lace: http://in.relation.to/12457.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Just a quick note to inform that <a href="http://jboss.com/products/devstudio" target="" class="regularLink">JBoss Developer Studio 2.1</a> are now available from the <a href="https://network.jboss.com/jbossnetwork/login.html" target="" class="regularLink">JBoss CSP</a> and what i'm very happy to announce, it is also available from our new update site.
</p>

<h2 class="wikiHeadline2" id="H-OfficialUpdateSite"><a href="/Bloggers/JBossDeveloperStudio21EAP5SupportAndOfficialUpdateSite#H-OfficialUpdateSite">Official Update Site</a></h2>

<p class="wikiPara">
Until now upgrading JBoss Developer Studio required a full install, but we can now finally remove that obstacle (at least for 2.x releases).
</p>

<p class="wikiPara">
The update site is from now on the official supported way of upgrading JBoss Developer Studio 2.x.
</p>

<p class="wikiPara">
The site to use when upgrading from 2.0 to 2.1 is available at <a href="http://devstudio.jboss.com/updates/2.1" target="" class="regularLink">http://devstudio.jboss.com/updates/2.1</a> (customers has or will receive the username/password).
</p>

<p class="wikiPara">
Instructions on how to use it can be found <a href="http://www.jboss.com/products/devstudio/update" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-JBossEnterpriseApplicationPlatform5"><a href="/Bloggers/JBossDeveloperStudio21EAP5SupportAndOfficialUpdateSite#H-JBossEnterpriseApplicationPlatform5">JBoss Enterprise Application Platform 5</a></h2>

<p class="wikiPara">
The major new functionality in this release is the support for JBoss EAP 5 incl. Seam 2.2. This means you can add the EAP 5 server and start, stop and deploy your applications directly from Developer Studio. 
</p>

<p class="wikiPara">
Those who uses EAP 4.x, Developer Studio continues to support previous releases of EAP and any of your JBDS 2.0 projects will also continue to work.
</p>

<p class="wikiPara">
Note, for now we provide only the stand alone JBoss Developer Studio 2.1. You need to install the EAP separately and just use the Installer or the JBoss Server view to add your EAP server.
</p>

<h2 class="wikiHeadline2" id="H-JBossTools302"><a href="/Bloggers/JBossDeveloperStudio21EAP5SupportAndOfficialUpdateSite#H-JBossTools302">JBoss Tools 3.0.2</a></h2>

<p class="wikiPara">
This release contains JBoss Tools 3.0.2 which beyond the changes for EAP 5 and AS 5 support has <a href="https://jira.jboss.org/jira/browse/JBIDE/fixforversion/12313493" target="" class="regularLink">47 issues fixed</a>.
</p>

<p class="wikiPara">
Have fun!
</p>



</div>
