---
title: "JBoss Tools 3.0.1 available"
author: "Max Andersen"
blogger_name: "Max"
layout: blog-post
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse]
slug: JBossTools301Available
lace: http://in.relation.to/11261.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/JBossTools301Available">JBoss Tools 3.0.1 available</a>
                    </h1>
</div>
<p class="wikiPara">
JBoss Tools 3.0.1 is now available for download and also via our stable update-site.
</p>

<p class="wikiPara">
This is a bugfix release and you can see the various fixes in the <a href="https://jira.jboss.org/jira/secure/IssueNavigator.jspa?reset=true&amp;pid=10020&amp;fixfor=12312904" target="" class="regularLink">changelog</a>.
</p>

<div align="center">
[<a href="http://www.jboss.org/tools/download" target="" class="regularLink">Download</a>]
[<a href="http://download.jboss.org/jbosstools/updates/stable" target="" class="regularLink">Update Site</a>] 
[<a href="http://docs.jboss.org/tools/movies/" target="" class="regularLink">Movies</a>]
[<a href="http://docs.jboss.org/tools/3.0.1.GA/" target="" class="regularLink">Documentation</a>] 
[<a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="" class="regularLink">Forums</a>] 
[<a href="http://jira.jboss.com/jira/browse/JBIDE" target="" class="regularLink">JIRA</a>]
</div>

<p class="wikiPara">
Have fun!
</p>

<p class="wikiPara">
UPDATED: Documentation link were pointing to 3.0.0.GA, now it is pointing to the better and updated 3.0.1 version ;)
</p>


</div>
