---
title: "Recording of JBoss Tools & Developer Studio Webinar now available"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "27-04-2009"
tags: [Eclipse,JBoss Tools Eclipse]

relative_url: /2009/04/27/recording-ofjboss-tools-developer-studio-webinar-now-available
slug: recording-ofjboss-tools-developer-studio-webinar-now-available
lace: http://in.relation.to/11164.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/04/27/recording-ofjboss-tools-developer-studio-webinar-now-available
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The webinar we did last Thursday is now available <a href="https://jboss.webex.com/jboss/lsr.php?AT=pb&amp;SP=EC&amp;rID=34534657&amp;rKey=8032AAF8A0C844A0" target="" class="regularLink">here</a>.
</p>


<p class="wikiPara">
I had fun doing this even though I found it hard to talk into my monitor instead of to a crowd, but we must have done something right since everyone
stayed around for the full hour and we got more additional questions than ever before. In case it might be hard to follow the Q/A section in the recorded
version I took a selection of the questions and answered them below (some with more detail than I were able to give in the short timespan of the webinar):
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Q: We use JBoss Developer Studio 1.0.  What type of upgrade path is there?  Does it upgrade an existing installation ?</i>
</p>

<p class="wikiPara">
A: The current upgrade path is reinstallation because of the jump in major Eclipse version. Going forward we are working on having a full updatesite for JBoss Developer Studio.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Q: For those of use w/JBDev Studio support, all the features discussed today are available in the Windows, Mac and Linux Portfolio 2.0 release?</i>
</p>

<p class="wikiPara">
A: Yes, the only part which is not supported in the latest release of JBDS is the Smooks editor.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Q: Are there any plugins for MyEclipse</i>
</p>

<p class="wikiPara">
A: JBoss Tools in it self just a plain set of Eclipse plugins thus if MyEclipse work with normal plugins our plugins will work. We do know that the latest release of MyEclipse bundles a partial fork of Hibernate tools and parts ot the Visual Page Editor which are making it problematic for users to install our plugins to a MyEclipse installation.
</p>

<p class="wikiPara">
We are though very much interested in doing what we can to make it work inside MyEclipse (or any other Eclipse bundle) in case whatever prevents it from working is something we can control/fix. If you got information or even patches for issues with JBoss Tools in third-party Eclipse bundles please let us know.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Q: Does visual editing support richfaces ?</i>
</p>

<p class="wikiPara">
Yes - the Visual Page Editor has full support for Richfaces components and are being updated continously when new releases comes out from the Richfaces team.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Q: Do you support facelets that have library classes and no tlds ?</i>
</p>

<p class="wikiPara">
Yes and No. No in the sense that we cant render this automatically but Yes in the sense the editor is done by a VPE template file that controls the transformation for that specific library. You can also manually tell VPE how you want an unknown tag rendered (Right Click &gt; Template) if it is not too complex, i.e. render &lt;s:link&gt; 
as a button or link is trivial to do - but adding rendering for something like a rich:table requires some programmatics. Fortunately we have done that part for you for the common libraries and especially RichFaces. In case you want to see examples of how to extend the visual page editor see this <a href="http://in.relation.to/Bloggers/XFormsVisualEditor" target="" class="regularLink">blog entry</a>.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Q: Do you support code completion of source based facelets (ok - i know you can't complete the attributes, but how about the </i>.taglib.xml loaded facelets ?)<i class="wikiEmphasis">

A: Reading the </i>.taglib.xml full dynamically did not make it into the 3.0, but it is on the <a href="https://jira.jboss.org/jira/browse/JBIDE-1592" target="" class="regularLink">roadmap for 3.1</a>.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Q: I noticed you created a seam 2.0 project. How well supported is seam 2.1 in JBoss Tools ?</i>
</p>

<p class="wikiPara">
JBoss Tools support Seam 2.1 equally well as Seam 2.0. JBoss Developer Studio has 2.1 support as a technology preview. In both it requires you setup the Seam 2.1 runtime manually under Seam preferences.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Q: Does JBoss Developer Studio support debugging seam apps in the IDE ?</i>
</p>

<p class="wikiPara">
Yes, since we are based on Eclipse which includes excellent Java debug support and we have made sure that the proper paths and command line arguments are passed to JBoss making it possible to debug easily out-of-the-box.
</p>


<p class="wikiPara">
<i class="wikiEmphasis">Q: Is there a way to reveng a table to generate &lt;h:selectOneMenu&gt; code ?</i>
</p>

<p class="wikiPara">
Seams templates are always being improved and I believe the recent versions of Seam includes some examples of this. In any case, if the templates are not doing the generation just like you want it you can always tweak the templates your self and if your changes are good then consider contributing them back to the Seam project.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Q: Is there any specific integration with EPP? (Portal platform)</i>
</p>

<p class="wikiPara">
A: It was not covered in the presentation but we got support for JBoss Portal and Enterprise Portal Platform too. Some wizards for creating portlets, which even setups the portlet bridge magic to get Portal and Seam/JSF applications to work together.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Q: Does RichFaces work within Portlets yet?</i> 
</p>

<p class="wikiPara">
A: Yes, RichFaces works inside Portlets. Look for the portletbridge. You might need to update to the very latest versions to make it work. 
</p>

<p class="wikiPara">
That were the ones I got notes and more details for. There are more Q/A in the end of the recorded webinar.
</p>

<p class="wikiPara">
Have fun!
/max</p>
</div>

