---
title: "JBoss Tools 3 is here!"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "17-03-2009"
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse,RichFaces]

relative_url: /2009/03/17/JBossTools3IsHere
slug: JBossTools3IsHere
lace: http://in.relation.to/10851.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/03/17/JBossTools3IsHere
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
After an alpha, a beta, 2 CR's and countless nightly builds I'm proud to present <i class="wikiEmphasis">the</i> JBoss Tools 3 release!
</p>

<div align="center">
<img src="/service/File/10824" width="600" height="145">
</div>

<div align="center">
[<a href="http://www.jboss.org/tools/download" target="" class="regularLink">Download</a>]
[<a href="http://download.jboss.org/jbosstools/updates/stable" target="" class="regularLink">Update Site</a>] [<a href="http://docs.jboss.org/tools/whatsnew" target="" class="regularLink">What's New</a>]
[<a href="http://docs.jboss.org/tools/movies/" target="" class="regularLink">Movies</a>]
[<a href="http://docs.jboss.org/tools/3.0.0.GA/" target="" class="regularLink">Documentation</a>] 
[<a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="" class="regularLink">Forums</a>] 
[<a href="http://jira.jboss.com/jira/browse/JBIDE" target="" class="regularLink">JIRA</a>]
</div>

<h1 class="wikiHeadline1" id="H-Installation"><a href="/2009/03/17/JBossTools3IsHere#H-Installation">Installation</a></h1>

<p class="wikiPara">
Don't forget to read the <a href="http://www.jboss.org/community/docs/DOC-10044" target="" class="regularLink">installation instructions</a> for JBoss Tools if this is the first time installing JBoss Tools (it is not so hard, you just need as a minimum Eclipse JEE bundle).
</p>

<p class="wikiPara">
It is not recommended to update from Eclipse 3.3 to 3.4 via Eclipse updatesite - we recommend to do a fresh install.
</p>

<p class="wikiPara">
Starting JBoss Tools 3 with a workspace created/used with JBoss Tools 2 is supported, but do take a
backup just in case - let us know if you have issues upgrading.
</p>

<h1 class="wikiHeadline1" id="H-Features"><a href="/2009/03/17/JBossTools3IsHere#H-Features">Features</a></h1>

<p class="wikiPara">
This release has fixes for <a href="https://jira.jboss.org/jira/secure/IssueNavigator.jspa?reset=true&amp;mode=hide&amp;pid=10020&amp;fixfor=12313068" target="" class="regularLink">250+ issues</a>, a <a href="http://jira.jboss.org/jira/browse/JBIDE-2739" target="" class="regularLink">new logo</a>, an <a href="http://www.jboss.org/tools" target="" class="regularLink">updated website</a> and a couple of new features/improvements.
</p>

<p class="wikiPara">
You can see the improvements made since JBoss Tools 2 and up to this release <a href="http://docs.jboss.org/tools/whatsnew" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
The major highlights since JBoss Tools 3 are:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Seam pages.xml editor</li>
<li class="wikiUnorderedListItem"> Improved code completion and better EL warnings</li>
<li class="wikiUnorderedListItem"> Configure values for EL in Visual Editor</li>
<li class="wikiUnorderedListItem"> Faster Visual Page Editor with updates for Richfaces 3.3</li>
<li class="wikiUnorderedListItem"> Portlet Wizards</li>
<li class="wikiUnorderedListItem"> Project Examples for easy access to sample projects </li>
<li class="wikiUnorderedListItem"> Drools is back</li>
<li class="wikiUnorderedListItem"> JBoss ESB projects and deployment</li>
<li class="wikiUnorderedListItem"> JMX perspective</li>
<li class="wikiUnorderedListItem"> Hibernate runtime support in Eclipse JPA projects</li>
<li class="wikiUnorderedListItem"> Hibernate configuration can now use DTP and JPA configured connections</li>
<li class="wikiUnorderedListItem"> Hibernate Birt integration</li>
<li class="wikiUnorderedListItem"> ESB support in jBPM graphical editor</li>
<li class="wikiUnorderedListItem"> TPTP profiling mode for JBoss servers</li>
<li class="wikiUnorderedListItem"> Experimental Smooks editor</li>
<li class="wikiUnorderedListItem"> Based on Eclipse 3.4 (Ganymede)</li>
<li class="wikiUnorderedListItem"> ...and <a href="http://docs.jboss.org/tools/whatsnew" target="" class="regularLink">more</a>
</li>
</ul>

<h1 class="wikiHeadline1" id="H-Thanks"><a href="/2009/03/17/JBossTools3IsHere#H-Thanks">Thanks</a></h1>

<p class="wikiPara">
This is a major release and I dare not mention every individual that participated in this release from memory since I would most definitely forget some. Thus I'll list everyone who is listed in the commit logs in alphabetical order, without them nothing would have been done :
</p>

<p class="wikiPara">
Alexey Kazakov, Aliaksey Nis, Anastasiya Bogachuk, Anton Klimkovich, Daniel Azarov, Dart Peng, Denis Golovin, Denis Maliarevich, Denny Xu, Dmitry Geraskov, Grid Qian, Igor Zhukov, John Graham, Koen Aers, Kris Verlaenen, Lex Dmitriev, Maksim Areshkau, Mikhail Sorokin, Nick Boldt, Olga Chikvina, Rob Stryker, Sean Flanigan, Sergey Dzmitrovich, Slava Kabanovich, Snjezana Peco, Svetlana Mukhina, Victor Rubezhny, Vitali Yemialyanchyk, Yagor Radtsevich, Yura Zhishko!
</p>

<p class="wikiPara">
And to the top contributors in jira like Galder Zamarreño, Tom Feenelly, Krasimir Goutcev, Juergen Zimmermann, Francisco Jose Peredo Noguez, Adrian Mitev, Joao Paulo Viragine and everyone else who made contributions by emails, jiras and forum postings - Thank you! Without your feedback, our work would be boring; keep it coming!
</p>

<p class="wikiPara">
Until next time follow us at <a href="http://twitter.com/jbosstools" target="" class="regularLink">Twitter</a> and if you are there find us at <a href="http://in.relation.to/Bloggers/JBossInvasionAtEclipseCon09" target="" class="regularLink">EclipseCon</a> next week.
</p>

<p class="wikiPara">
Have fun!
</p>


</div>

