---
title: "JBoss Community Asylum 2 - Aaron Walker, Sexy Accents and community involvement"
author: "Max Andersen"
creation_date: "07-10-2009"
blogger_name: "Max"
layout: blog-post
tags: [Asylum,Eclipse]
slug: JBossCommunityAsylum2AaronWalkerSexyAccentsAndCommunityInvolvement
lace: http://in.relation.to/12534.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We just published the second episode of <a href="http://asylum.jboss.org" target="" class="regularLink">JBoss Community Asylum</a>.
</p>

<p class="wikiPara">
This time we sat down with Aaron Walker, a long time JBoss Community member which started his involvement all the way back to JBoss 2. From there on he worked on messaging, drools, hibernate search and others. Aaron also gives his advice on how to get involved with JBoss projects and how he learned to cope with being Brock'ed.
</p>

<p class="wikiPara">
In the short news we touch upon Google summer of code, Beer, Java 5 being end-of-life and more.
</p>

<p class="wikiPara">
Get the episode and see full show notes at <a href="http://asylum.jboss.org" target="" class="regularLink">Asylum</a></p>
</div>
