---
title: "JBoss Tools Code Swarm (video)"
author: "Max Andersen"
creation_date: "15-01-2009"
blogger_name: "Max"
layout: blog-post
tags: [Eclipse,JBoss Tools]
slug: JBossToolsCodeSwarmVideo
lace: http://in.relation.to/10448.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Emanuel Muckenhuber send me this video today showing how JBoss Tools trunk looks like when animated with <a href="http://code.google.com/p/codeswarm/" target="" class="regularLink">code swarm</a>.
</p>

<p class="wikiPara">
The period is from December 2004 to January 2009. In the beginning all is pretty quiet/simple when JBoss Tools just
contained Hibernate Tools, AS tooling and Project archives - but wait and see what happens around May 2007 and forward
when we announced JBoss Developer Studio and got contributions from Exadel; pure fireworks:
</p>

<p class="wikiPara">
<img src="/service/File/10450" width="432" height="326">
</p>

<p class="wikiPara">
You can see the full video <a href="http://www.vimeo.com/2828021" target="" class="regularLink">here</a>. 
</p>

<p class="wikiPara">
p.s. this is just JBoss Tools trunk which does not contain jbpm and drools hence you won't
see activity for them.
</p>


</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'JBossToolsCodeSwarmVideo';
    var disqus_title = 'JBoss Tools Code Swarm (video)';
    var disqus_url = 'http://in.relation.to/10448.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
