---
title: "Using Maven with JBoss Tools"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "16-03-2009"
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse,Seam]

relative_url: /2009/03/16/UsingMavenWithJBossTools
slug: UsingMavenWithJBossTools
lace: http://in.relation.to/10843.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/03/16/UsingMavenWithJBossTools
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
One of the most wanted feature requests for our tooling is Maven integration/support for our projects, such as Seam.
</p>

<p class="wikiPara">
Unfortunately we won't be able to add 'automatic' maven support in the upcoming JBoss Tools 3 release, but we have though started on doing the preparations to do so in a following release.
</p>

<p class="wikiPara">
The biggest part of supporting Maven is that actual runtimes (i.e. Seam, Hibernate, the various specs involved etc.) is now fully <q>mavenized</q> and the other part is that m2eclipse have matured greatly the last few months so it is now possible to combine Eclipse WTP projects with Maven without having your head explode too often.
</p>

<p class="wikiPara">
To illustrate how well these things work together today without any additional features from JBoss Tools Snjezana Peco made a few screencasts of how to use the examples she made available through JBoss Tools 'Project Example' functionality which are Seam projects that work with the Maven support m2eclipse offers.
</p>

<p class="wikiPara">
Requirements:
</p>

<ol class="wikiOrderedList">
<li class="wikiOrderedListItem">Eclipse 3.4 with JBoss Tools 3 or Developer Studio 2 (CR2 or latest release works with this)</li>
<li class="wikiOrderedListItem">JBoss AS 4.2, EAP 4.3 or AS 5 GA (the example work with either)</li>
<li class="wikiOrderedListItem">Seam 2.1.1 GA</li>
<li class="wikiOrderedListItem">A recent m2eclipse, from Sonatype's updatesite</li>
</ol>

<p class="wikiPara">
The following two screencasts Snjezana recorded shows how it works:
</p>

<p class="wikiPara">
<a href="http://screencast.com/t/7Xg4Zq68" target="" class="regularLink">Screencast #1</a>: Installing m2eclipse and get the Seam/Maven project example 
</p>


<ol class="wikiOrderedList">
<li class="wikiOrderedListItem"> Snjezana starts of with showing JBoss Developer Studio 2 (you can use JBoss Tools too, just requires a bit more typing/manual configuration)</li>
<li class="wikiOrderedListItem"> Shows where Seam and AS is configured </li>
<li class="wikiOrderedListItem"> Goes to Help &gt; Software Updates to install m2eclipse from their <a href="http://m2eclipse.sonatype.org/update-dev" target="" class="regularLink">update site</a>
</li>
<li class="wikiOrderedListItem"> Selects Maven Integration, Doxia editor and Maven Integration for WTP under Maven Project Configurators (you can choose them all, but these are just the important ones)</li>
<li class="wikiOrderedListItem"> Wait's for the download and the install etc. </li>
<li class="wikiOrderedListItem"> When m2eclipse is installed she goes to <q>Project Examples</q>, types in <q>maven</q> and selects the <q>Seam Booking Example - EAR mavenized - seam 2.1.21.GA</q>
</li>
<li class="wikiOrderedListItem"> Wait for the download and Maven getting all its dependencies</li>
<li class="wikiOrderedListItem"> Uses quick fix to configure the proper runtimes (i.e. jboss-seam-2.1.1.GA and JBoss 5.0 Runtime), if you had those configured from the start this step would not be needed.</li>
<li class="wikiOrderedListItem"> Wait for the project to compile</li>
<li class="wikiOrderedListItem"> Done!</li>
</ol>

<p class="wikiPara">
<a href="http://screencast.com/t/lmWNRjIhM0" target="" class="regularLink">Screencast #2</a>: Using the Project Example and how to deploy/use the application.
</p>

<ol class="wikiOrderedList">
<li class="wikiOrderedListItem"> Shows again how to get the Seam booking example via <q>Project examples</q>
</li>
<li class="wikiOrderedListItem"> Show's that the project is really a Maven project and have all the Maven features enabled</li>
<li class="wikiOrderedListItem"> Find and marks the datasource file (-ds.xml) as Deployable so the datasource will be known to JBoss</li>
<li class="wikiOrderedListItem"> Add the project to server which will deploy it</li>
<li class="wikiOrderedListItem"> Starts the server and goes to <a href="http://localhost:8080/booking/home.seam" target="" class="regularLink">http://localhost:8080/booking/home.seam</a> and see the Seam project runs</li>
</ol>

<p class="wikiPara">
There you have it - nothing more to it. A mavenized Seam project where all the features of JBoss Tools is available next to all the Maven features m2eclipse brings to the plate.
</p>

<p class="wikiPara">
Snjezana manually adjusted the pom.xml and Seam settings in tools to get this, in upcoming versions of JBoss Tools we will make sure that you can enable this automatically on new Maven/Seam projects.
</p>

<p class="wikiPara">
Hope you like it!
</p>

<p class="wikiPara">
Have fun!
/max
</p>




</div>

