---
title: "Asylum - a podcast about and by the JBoss Community "
author: "Max Andersen"
blogger_name: "Max"
creation_date: "24-09-2009"
tags: [Asylum,Eclipse,JBoss]

relative_url: /2009/09/24/AsylumAPodcastAboutAndByTheJBossCommunity
slug: AsylumAPodcastAboutAndByTheJBossCommunity
lace: http://in.relation.to/12420.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/09/24/AsylumAPodcastAboutAndByTheJBossCommunity
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
A crazy experiment called JBoss Community Asylum is now live via <a href="http://asylum.libsyn.com" target="" class="regularLink">asylum.libsyn.com</a> and iTunes.
</p>

<p class="wikiPara">
The idea is to get a podcast focused on the JBoss Community and its projects: news, interviews etc.
</p>

<p class="wikiPara">
The podcast are done by Emmanuel Bernard, Michael Neale and Me. 
</p>

<p class="wikiPara">
We welcome any feedback, please leave it as comments on the <a href="http://asylum.libsyn.com" target="" class="regularLink">Asylum blog</a>.
</p>
</div>
