---
title: "JBoss Community Asylum 5 - Portal Love and more French accents"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "01-12-2009"
tags: []

relative_url: /2009/12/01/JBossCommunityAsylum5PortalLoveAndMoreFrenchAccents
slug: JBossCommunityAsylum5PortalLoveAndMoreFrenchAccents
lace: http://in.relation.to/13207.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/12/01/JBossCommunityAsylum5PortalLoveAndMoreFrenchAccents
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We got Thomas Heute to talk with us shortly before Devoxx and had a chat about Portal's, what are they good for and what developers should care about when it come to using a portal such as JBoss Portal or the new GateIn portal project.
</p>

<p class="wikiPara">
General JBoss.org news and releases are also covered and you can listen to it from <a href="http://asylum.jboss.org/index.php?post_id=554842" target="" class="regularLink">asylum.jboss.org</a> or via <a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=332953048" target="" class="regularLink">iTunes</a>.
</p>

<p class="wikiPara">
Have fun!
</p>


</div>
