---
title: "JBoss Tools & Developer Studio at JBoss World"
author: "Max Andersen"
creation_date: "31-08-2009"
blogger_name: "Max"
layout: blog-post
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse]
slug: JBossToolsDeveloperStudioAtJBossWorld
lace: http://in.relation.to/12243.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
For those who are joining us at <a href="http://jbossworld.com" target="" class="regularLink">JBoss World in Chicago</a> this week here are the talks that we are set to have about or touch upon JBoss Tools &amp; Developer studio. 
</p>

<p class="wikiPara">
Wednesday we will have two <a href="http://jbossworld.com/agenda/tracks/labs.html" target="" class="regularLink">labs on JBoss Developer Studio</a>:
</p>

<p class="wikiPara">
9:40 - 11:40 <q>SOA and JBoss Developer Studio</q> by Jim Tyrell
</p>

<p class="wikiPara">
15:20 - 17:20 <q>Seam and JBoss Developer Studio</q> by Aaron Pestel
</p>

<p class="wikiPara">
I and others from the team will be hanging around those labs to help
out and answer questions.
</p>

<p class="wikiPara">
We conclude Wednesday by having a BOF:
</p>

<p class="wikiPara">
17:45 - 19:00 <a href="http://jbossworld.com/agenda/tracks/abstracts_whatsnext.html#2228674" target="" class="regularLink">"Seam &amp; JSR-299"</a> by Dan, Pete, Gavin, Emmanuel , my self and special guests
</p>

<p class="wikiPara">
Thursday I will be doing my main talk about current status and what is next:
</p>

<p class="wikiPara">
10:50 - 11:50 <a href="http://jbossworld.com/agenda/tracks/abstracts_whatsnext.html#570501" target="" class="regularLink">"The JBoss Tools Project and JBoss Developer Studio"</a> 
</p>

<p class="wikiPara">
Other talks will use JBoss Tools &amp; Developer Studio during their main presentations, you can spot those in <a href="http://jbossworld.com/agenda/tracks/" target="" class="regularLink">the full agenda</a>.
</p>

<p class="wikiPara">
Looking forward to meet everybody - don't be shy!
</p>

<p class="wikiPara">
p.s. feel free to follow <a href="http://twitter.com/maxandersen" target="" class="regularLink">me</a> and <a href="http://twitter.com/jbosstools" target="" class="regularLink">jbosstools</a> at Twitter to get some live updates from the event.
</p>

</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'JBossToolsDeveloperStudioAtJBossWorld';
    var disqus_title = 'JBoss Tools & Developer Studio at JBoss World';
    var disqus_url = 'http://in.relation.to/12243.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
