---
title: "JBoss Community Asylum 8 - Confessions, Embedded AS, ShrinkWrap and Arquillian with Andrew Rubinger and Aslak Knutsen"
author: "Max Andersen"
blogger_name: "Max"
layout: blog-post
tags: [Asylum,Eclipse]
slug: JBossCommunityAsylum8ConfessionsEmbeddedASShrinkWrapAndArquillianWithAndrewRubingerAndAslakKnutsen
lace: http://in.relation.to/13952.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/JBossCommunityAsylum8ConfessionsEmbeddedASShrinkWrapAndArquillianWithAndrewRubingerAndAslakKnutsen">JBoss Community Asylum 8 - Confessions, Embedded AS, ShrinkWrap and Arquillian with Andrew Rubinger and Aslak Knutsen</a>
                    </h1>
</div>
<img src="&lt;%=%20site.base_url%20%&gt;/images/13429" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
<a href="http://jbosscommunityasylum.libsyn.com/index.php?post_id=570171" target="" class="regularLink">Episode 8</a> of <a href="http://asylum.jboss.org" target="" class="regularLink">JBoss Asylum</a> is now available.
</p>

<p class="wikiPara">
In this late night episode Emmanuel has a confession concerning clustered Lucene indexes
</p>

<p class="wikiPara">
The news are a compacted version of the massive number of releases JBoss.org did, at least known to us, in December and January
</p>

<p class="wikiPara">
And finally we have Andrew and Aslak dropping in to talk about Embedded AS, ShrinkWrap and Arquillian - all ongoing prototype work to speed up and improve our unit and integration testing with EE application containers.
</p>

<p class="wikiPara">
Both Max and Aslak had issues with their connection during this interview, so the audio quality is not perfect in places but we hope you will enjoy it anyway.
</p>

<p class="wikiPara">
Go get it at <a href="http://jbosscommunityasylum.libsyn.com/index.php?post_id=570171" target="" class="regularLink">The Asylum Episode 8</a></p>
</div>
