---
title: "Announcing JUDCon and Rich Sharples on the future of Java and product vs project"
author: "Max Andersen"
creation_date: "02-03-2010"
blogger_name: "Max"
layout: blog-post
tags: []
slug: AnnouncingJUDConAndRichSharplesOnTheFutureOfJavaAndProductVsProject
lace: http://in.relation.to/14597.lace
---
<div id="documentDisplay" class="documentDisplay">


<img src="http://in.relation.to/service/File/13429" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
<a href="http://jbosscommunityasylum.libsyn.com/index.php?post_id=588389" target="" class="regularLink">Episode 10</a> of <a href="http://asylum.jboss.org" target="" class="regularLink">JBoss Asylum</a> is out.
</p>

<p class="wikiPara">
In this 10th anniversary episode we talk about the just <a href="http://bit.ly/aBq0Np" target="" class="regularLink">announced</a> JUDCon (which btw. is JBoss Users and Developer day and not the acronym we came up with in the podcast :), other short news and we have Rich Sharples from Red Hat product management as a guest.
</p>

<p class="wikiPara">
Rich Sharples is a previous Sun employee and he is the product manager of JBoss EAP making it fun to hear his view on how he thinks Oracle have done and will be doing with Sun and Java in the future.
</p>

<p class="wikiPara">
We also touch upon what is the difference between a commercial product and a community project and how they interact.
</p>

<p class="wikiPara">
Go listen at <a href="http://jbosscommunityasylum.libsyn.com/index.php?post_id=588389" target="" class="regularLink">The Asylum Episode 10</a></p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'AnnouncingJUDConAndRichSharplesOnTheFutureOfJavaAndProductVsProject';
    var disqus_title = 'Announcing JUDCon and Rich Sharples on the future of Java and product vs project';
    var disqus_url = 'http://in.relation.to/14597.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
