---
title: "Early Access to JBoss Developer Studio 3"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "19-01-2010"
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse,RichFaces,Seam]

relative_url: /2010/01/19/early-access-tojboss-developer-studio-3
slug: early-access-tojboss-developer-studio-3
lace: http://in.relation.to/14044.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/01/19/early-access-tojboss-developer-studio-3
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
When we released <a href="http://jboss.com/products/devstudio" target="" class="regularLink">JBoss Developer Studio</a> 2.1 we also announced its updatesite at <a href="https://devstudio.jboss.com/updates" target="" class="regularLink">https://devstudio.jboss.com/updates</a> which is for all customers to use. If you are a 2.1 user you have been able to use it to update to JBoss Developer Studio 2.1.1 which includes some minor bug fixes.
</p>

<p class="wikiPara">
We also started an Early Access Program for existing customers of JBoss Developer Studio 3, and this is available from <a href="https://devstudio.jboss.com/earlyaccess" target="" class="regularLink">https://devstudio.jboss.com/earlyaccess</a> using the same credentials as customers use for the updatesite. 
</p>

<p class="wikiPara">
This Early Access Program gives customers the chance to try out selected milestone builds for the upcoming JBoss Developer Studio 3 and give feedback on the complete JBoss Developer Studio package and not just on the standalone plugins available through the <a href="http://jboss.org/tools" target="" class="regularLink">JBoss Tools</a> project.
</p>

<p class="wikiPara">
At the time of writing the release available from the Early Access is JBoss Developer Studio 3 CR1 which is based on Eclipse 3.5 (Galileo), most of the JBoss Tools 3.1.CR1 plugins and supported 3rd party plugins such as TestNG. 
</p>

<p class="wikiPara">
Have fun!
</p>







</div>

