---
title: "JBoss Tools on Eclipse 3.6 (Helios)"
author: "Max Andersen"
creation_date: "05-07-2010"
blogger_name: "Max"
layout: blog-post
tags: []
slug: JBossToolsOnEclipse36Helios
lace: http://in.relation.to/16054.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
A reminder to follow the news on JBoss Tools please look at <a href="http://community.jboss.org/en/jbosstools/blog/" target="" class="regularLink">JBoss Tools Community Blog</a>.
</p>

<p class="wikiPara">
The latest entry explains how to get to run <a href="http://community.jboss.org/community/jbosstools/blog/2010/07/05/jboss-tools-on-eclipse-36-helios" target="" class="regularLink">JBoss Tools on Eclipse 3.6 (Helios)</a>
</p>

<p class="wikiPara">
<a href="http://community.jboss.org/community/jbosstools/blog/feeds" target="" class="regularLink">RSS feeds from community.jboss.org</a> are also available.
</p>

<p class="wikiPara">
Thank you.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'JBossToolsOnEclipse36Helios';
    var disqus_title = 'JBoss Tools on Eclipse 3.6 (Helios)';
    var disqus_url = 'http://in.relation.to/16054.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
