---
title: "Red Hat, JBoss and now Chris Aniszczyk at EclipseCon 2010"
author: "Max Andersen"
creation_date: "18-03-2010"
blogger_name: "Max"
layout: blog-post
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse]
slug: RedHatJBossAndNowChrisAniszczykAtEclipseCon2010
lace: http://in.relation.to/14889.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
EclipseCon 2010 is getting close and JBoss by Red Hat is again sponsoring this yearly Eclipse focused event!
</p>

<p class="wikiPara">
This will also be the week where <a href="http://aniszczyk.org/2010/03/18/fedoras-and-change/" target="" class="regularLink">Chris Aniszczyk</a> will be joining Red Hat. 
</p>

<p class="wikiPara">
Chris is the PDE co-lead, sits on Eclipse Architecture Council and on Eclipse Board of Directors and i'm looking forward to meet up with him as a collegaue and not just as a PDE bashing fan.
</p>

<p class="wikiPara">
Chris Aniszczyk will be joining the Eclipse Linux Tools team, but he have promised to visit the Java Middleware Tooling world once in a while.
</p>

<p class="wikiPara">
Welcome Aniszczyk!
</p>

<p class="wikiPara">
Beyond hiring Eclipse staff and sponsoring EclipseCon we are also there contributing with a good set of talks:
</p>

<p class="wikiPara">
I'm doing <a href="http://www.eclipsecon.org/2010/sessions?id=1390" target="" class="regularLink">How to make a framework plugin that does not suck</a> and <a href="http://www.eclipsecon.org/2010/sessions?id=1394" target="" class="regularLink">Pimp my bug report</a>.
</p>

<p class="wikiPara">
Rich Sharples is taking part in the panel on <a href="http://www.eclipsecon.org/2010/sessions/?page=sessions&amp;id=1559" target="" class="regularLink">The future of application servers</a> which is to be hosted by Chris Aniszczyk.
</p>

<p class="wikiPara">
Nick Boldt will be entertaining with <a href="http://www.eclipsecon.org/2010/sessions?id=1439" target="" class="regularLink">Dash Athena Exposed: Or, How I Learned to Quit Worrying About PDE &amp; Love the Build Process</a>, <a href="http://www.eclipsecon.org/2010/sessions?id=1442" target="" class="regularLink">Build and Continuous Integration with Eclipse</a> and on the <a href="http://www.eclipsecon.org/2010/sessions?id=1209" target="" class="regularLink">Challenge Eclipse - Ask the AC</a> panel.
</p>

<p class="wikiPara">
Brian Fitzpatrick will be talking about <a href="http://www.eclipsecon.org/2010/sessions?id=1157" target="" class="regularLink">DTP in the Real World</a> and <a href="http://www.eclipsecon.org/2010/sessions?id=1156" target="" class="regularLink">Distributed Teams and Eclipse: Developing Over the Miles</a>.
</p>

<p class="wikiPara">
Andrew Overholt shows <a href="http://www.eclipsecon.org/2010/sessions?id=1203" target="" class="regularLink">A world-class Linux IDE: how do we get there from here ?</a>, and hosts <a href="http://www.eclipsecon.org/2010/sessions/?page=sessions&amp;id=1595" target="" class="regularLink">The Linux IDE</a> BOF.
</p>

<p class="wikiPara">
John Graham will be presenting <a href="http://www.eclipsecon.org/2010/sessions?id=1471" target="" class="regularLink">SOA at REST</a> 
</p>

<p class="wikiPara">
Finally Chris A. is doing two tutorials: <a href="http://www.eclipsecon.org/2010/sessions/?page=sessions&amp;id=1140" target="" class="regularLink">Working with OSGi: The stuff you need to know</a> and <a href="http://www.eclipsecon.org/2010/sessions/?page=sessions&amp;id=1220" target="" class="regularLink">Understanding and Using Git at Eclipse</a>. He will also be presenting <a href="http://www.eclipsecon.org/2010/sessions/?page=sessions&amp;id=1285" target="" class="regularLink">Documentation: Single-Sourcing, Crowd-Sourcing And Other Voodoo</a> and <a href="http://www.eclipsecon.org/2010/sessions?id=1095" target="" class="regularLink">OSGi Best and Worst Practices</a>.
</p>

<p class="wikiPara">
Many others from the JBoss Tools team will also be visiting EclipseCon - come and say hi in the JBoss Booth and in the <a href="http://www.eclipsecon.org/2010/sessions/?page=sessions&amp;id=1552" target="" class="regularLink">JBoss Lounge Area</a> where there will be product demonstrations and possibly even beer.
</p>

<p class="wikiPara">
Looking forward to see you all in Santa Clara for a crazy week!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'RedHatJBossAndNowChrisAniszczykAtEclipseCon2010';
    var disqus_title = 'Red Hat, JBoss and now Chris Aniszczyk at EclipseCon 2010';
    var disqus_url = 'http://in.relation.to/14889.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
