---
title: "JBoss Tools 3.1 CR1 released"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "06-01-2010"
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse]

relative_url: /2010/01/06/JBossTools31CR1Released
slug: JBossTools31CR1Released
lace: http://in.relation.to/13762.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/01/06/JBossTools31CR1Released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
JBoss Tools 3.1 CR1 have been made available to celebrate the new year!
</p>

<div align="center">
<img src="/images/10824.png" width="600" height="145">
<h2>3.1 Milestone CR1: Happy New Year!</h2>
</div>

<div align="center">
[<a href="http://www.jboss.org/tools/download" target="" class="regularLink">Download</a>]
[<a href="http://download.jboss.org/jbosstools/updates/development" target="" class="regularLink">Update Site</a>] 
[<a href="http://docs.jboss.org/tools/whatsnew" target="" class="regularLink">What's New</a>]
[<a href="http://docs.jboss.org/tools/movies/" target="" class="regularLink">Movies</a>]
[<a href="http://docs.jboss.org/tools/3.1.0.CR1/" target="" class="regularLink">Documentation</a>] 
[<a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="" class="regularLink">Forums</a>] 
[<a href="http://jira.jboss.com/jira/browse/JBIDE" target="" class="regularLink">JIRA</a>]
[<a href="http://twitter.com/jbosstools" target="" class="regularLink">Twitter</a>]
</div>

<h2 class="wikiHeadline2" id="H-FeedbackFeedbackFeedback"><a href="/2010/01/06/JBossTools31CR1Released#H-FeedbackFeedbackFeedback">Feedback, Feedback, feedback</a></h2>

<p class="wikiPara">
With close to <a href="https://jira.jboss.org/jira/browse/JBIDE/fixforversion/12313494" target="" class="regularLink">280 issues</a> fixed in this release since the M4 release we are really looking for feedback on this first release candidate to be sure we reach a solid GA - so speak up :)
</p>

<h2 class="wikiHeadline2" id="H-Improvements"><a href="/2010/01/06/JBossTools31CR1Released#H-Improvements">Improvements</a></h2>

<p class="wikiPara">
The improvements are many this time around and since I was on holiday during the M4 release, i'll only be able to cover some of the highlights of both M4 and CR1. 
</p>

<p class="wikiPara">
The full details and screenshots are as always available in the <a href="http://docs.jboss.org/tools/whatsnew/" target="" class="regularLink">New and Noteworthy</a>.
</p>

<h3 class="wikiHeadline3" id="H-CocoaSupportOnSnowLeopard"><a href="/2010/01/06/JBossTools31CR1Released#H-CocoaSupportOnSnowLeopard">Cocoa support on Snow Leopard</a></h3>

<p class="wikiPara">
The visual page editor now works on both Carbon and Cocoa 32-bit versions for Snow leopard.
</p>

<h3 class="wikiHeadline3" id="H-JSF2AndImprovedCodeCompletion"><a href="/2010/01/06/JBossTools31CR1Released#H-JSF2AndImprovedCodeCompletion">JSF 2 and improved code completion</a></h3>

<p class="wikiPara">
The visual page editor and our code completion now supports JSF 2 features such as composite components and the new resource lookup rules. 
</p>

<p class="wikiPara">
The code completion features now provides completion based on what TLD's and resources are available on your projects classpath instead of from a fixed set data. This means the code completion will pickup basic attributes and tags from new release of Richfaces, ICEFaces etc. where as before you had to wait for an update to JBoss Tools to get that support.
</p>

<p class="wikiPara">
Of course not all information is available in the raw TLD's, so some completion features will still require updates - but much less than before.
</p>

<p class="wikiPara">
The code completion also now show javadoc for methods and information about where the component is from. See the screenshots in <a href="http://docs.jboss.org/tools/whatsnew/jst/jst-news-3.1.0.CR1.html" target="" class="regularLink">New and Noteworthy</a>.
</p>

<h3 class="wikiHeadline3" id="H-SeamAndHibernate"><a href="/2010/01/06/JBossTools31CR1Released#H-SeamAndHibernate">Seam and Hibernate</a></h3>

<p class="wikiPara">
Seam and Hibernate tooling are now even better integrated allowing them to share the same DTP connection removing the need to keeping connection information uptodate in multiple places.
</p>

<h3 class="wikiHeadline3" id="H-DeploymentViaSCP"><a href="/2010/01/06/JBossTools31CR1Released#H-DeploymentViaSCP">Deployment via SCP</a></h3>

<p class="wikiPara">
We've added a SCP Remote Server type that allows you perform deployments via scp/ssh. This makes it easy to deploy to a remote server hosted locally or in the cloud directly from within your IDE using the same tools that works for local deployments. The server supports both deploying exploded or in archived form.
</p>

<p class="wikiPara">
Note, the SCP server is not tied to any specific application platform such as JBoss AS but can be used as a general purpose deployment over SCP.
</p>

<h3 class="wikiHeadline3" id="H-SOATooling"><a href="/2010/01/06/JBossTools31CR1Released#H-SOATooling">SOA Tooling</a></h3>

<p class="wikiPara">
The Smooks editor really grew up this time. Many usability issues have been fixed and we now got the possibility to execute a Smooks test run so you can easily try out the Smooks transformation on your own test data.
</p>

<p class="wikiPara">
ESB deployment and configuration editing has now been updated to also support ESB 4.7 and its new actions.
</p>

<p class="wikiPara">
Both ESB and BPEL are now fully WTP type projects allowing them to work the same way as WAR, EAR and ejb-jar in eclipse.
</p>

<h3 class="wikiHeadline3" id="H-FilesetsForSelectedWTPProjects"><a href="/2010/01/06/JBossTools31CR1Released#H-FilesetsForSelectedWTPProjects">Filesets for (selected) WTP projects</a></h3>

<p class="wikiPara">
One of the biggest limiting features of Eclipse WTP is that you do not have much control over how your projects are built, i.e. there is no easy way for including a set of resources from another project such as a set of .xhtml files into your WAR.
</p>

<p class="wikiPara">
We now provide this functionality via the new <q>Module Assembly Page</q> on WTP based projects. This functionality we are already contributing back to WTP 3.2, but we wanted to give you a glimpse of it today on the project types we do, such as BPEL and ESB.
</p>

<h2 class="wikiHeadline2" id="H-Feedback"><a href="/2010/01/06/JBossTools31CR1Released#H-Feedback">Feedback</a></h2>

<p class="wikiPara">
Remember, if you want to ensure that JBoss Tools are useful for you too - leave a comment on this blog or use our <a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="" class="regularLink">forums</a> and/or <a href="http://jira.jboss.com/jira/browse/JBIDE" target="" class="regularLink">JIRA</a> or to let us know what you think! 
</p>

<p class="wikiPara">
Have fun!
</p>





</div>
