---
title: "Bob on Torquebox, Ruby in a Java world and other jewels"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "01-02-2010"
tags: [Asylum]

relative_url: /2010/02/01/bob-on-torquebox-ruby-in-a-java-world-and-other-jewels
slug: bob-on-torquebox-ruby-in-a-java-world-and-other-jewels
lace: http://in.relation.to/14182.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/02/01/bob-on-torquebox-ruby-in-a-java-world-and-other-jewels
---
<div id="documentDisplay" class="documentDisplay">


<img src="/images/13429.jpeg" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
<a href="http://jbosscommunityasylum.libsyn.com/index.php?post_id=577281" target="" class="regularLink">Episode 9</a> of <a href="http://asylum.jboss.org" target="" class="regularLink">JBoss Asylum</a> is ready for download.
</p>

<p class="wikiPara">
While I was trapped in the snowy mountains, Emmanuel and Michael recorded this podcast which has short news and a talk with Bob McWirther
about his work regarding <a href="http://torquebox.org" target="" class="regularLink">TorqueBox</a>.
</p>

<p class="wikiPara">
They talk about what TorqueBox brings to the table for both Java and Ruby developers and how TorqueBox via the JBoss AS 5 micro-container architecture
enables Ruby to run inside AS 5 and optionally utilize the Java environment for its added functionality and especially clustering facilities.
</p>

<p class="wikiPara">
Bob also talks about why he started The CodeHaus, help gave birth to Groovy and how he got involved into JBoss via his Drools and OSS community work.
</p>

<p class="wikiPara">
Go get it at <a href="http://jbosscommunityasylum.libsyn.com/index.php?post_id=577281" target="" class="regularLink">The Asylum Episode 9</a></p>
</div>

