---
title: "Podcast 11 - Security, JUDCon, jBPM, Maven, Hibernate, JBoss Tools and VMForce"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "03-05-2010"
original_tags: []
tags: [JBoss Asylum]

relative_url: /2010/05/03/podcast-11-securityjudcon-jbpm-maven-hibernatejboss-tools-and-vm-force
slug: podcast-11-securityjudcon-jbpm-maven-hibernatejboss-tools-and-vm-force
lace: http://in.relation.to/15365.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/05/03/podcast-11-securityjudcon-jbpm-maven-hibernatejboss-tools-and-vm-force
---
<div id="documentDisplay" class="documentDisplay">


<img src="/images/13429.jpeg" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
With a short but busy delay since the last podcast we now got <a href="http://bit.ly/cMPD83" target="" class="regularLink">Episode 11</a> of <a href="http://asylum.jboss.org" target="" class="regularLink">JBoss Asylum</a> out.
</p>

<p class="wikiPara">
We cover some of the big things that have happend since the last podcast such as the JBoss.org Security Incident, the upcoming JUDCon conference, changes around the jBPM project, the new Maven repository at JBoss, Hibernate 3.5 and JBoss Tools releases.
</p>

<p class="wikiPara">
In the end we briefly talk about the VMForce annoncement and other cloud offerings.
</p>

<p class="wikiPara">
You can get it all from <a href="http://bit.ly/cMPD83" target="" class="regularLink">The Asylum Episode 11</a>, send feedback <a href="mailto:asylum(AT)jboss.org" target="" class="regularLink">here</a>.</p>
</div>

