---
title: "Bob on Torquebox, Ruby in a Java world and other jewels"
author: "Max Andersen"
creation_date: "01-02-2010"
blogger_name: "Max"
layout: blog-post
tags: [Asylum]
slug: BobOnTorqueboxRubyInAJavaWorldAndOtherJewels
lace: http://in.relation.to/14182.lace
---
<div id="documentDisplay" class="documentDisplay">


<img src="http://in.relation.to/service/File/13429" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
<a href="http://jbosscommunityasylum.libsyn.com/index.php?post_id=577281" target="" class="regularLink">Episode 9</a> of <a href="http://asylum.jboss.org" target="" class="regularLink">JBoss Asylum</a> is ready for download.
</p>

<p class="wikiPara">
While I was trapped in the snowy mountains, Emmanuel and Michael recorded this podcast which has short news and a talk with Bob McWirther
about his work regarding <a href="http://torquebox.org" target="" class="regularLink">TorqueBox</a>.
</p>

<p class="wikiPara">
They talk about what TorqueBox brings to the table for both Java and Ruby developers and how TorqueBox via the JBoss AS 5 micro-container architecture
enables Ruby to run inside AS 5 and optionally utilize the Java environment for its added functionality and especially clustering facilities.
</p>

<p class="wikiPara">
Bob also talks about why he started The CodeHaus, help gave birth to Groovy and how he got involved into JBoss via his Drools and OSS community work.
</p>

<p class="wikiPara">
Go get it at <a href="http://jbosscommunityasylum.libsyn.com/index.php?post_id=577281" target="" class="regularLink">The Asylum Episode 9</a></p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'BobOnTorqueboxRubyInAJavaWorldAndOtherJewels';
    var disqus_title = 'Bob on Torquebox, Ruby in a Java world and other jewels';
    var disqus_url = 'http://in.relation.to/14182.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
