---
title: "Podcast 14 - JUDCon Berlin and Errai"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "19-10-2010"
tags: [Asylum,Errai]

relative_url: /2010/10/19/Podcast14JUDConBerlinAndErrai
slug: Podcast14JUDConBerlinAndErrai
lace: http://in.relation.to/17483.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/10/19/Podcast14JUDConBerlinAndErrai
---
<div id="documentDisplay" class="documentDisplay">


<img src="/images/13429.jpeg" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
This time we got Heiko and Pete talking with us about JUDCon Berlin and Heiko's work on the Errai project.
</p>

<p class="wikiPara">
As usual we also cover short news from the JBoss Community, but if you've wondered what Errai actually is and what it brings to the table then take a listen from about 30 minutes in, Heiko outlines it all in this episode.
</p>

<p class="wikiPara">
Audio and links are in <a href="http://asylum.libsyn.com/podcast-14-jud-con-berlin-and-errai" target="" class="regularLink">the shownotes</a>.
</p>

<p class="wikiPara">
If you got comments/feedback send it via <a href="mailto:asylum(AT)jboss.org" target="" class="regularLink">mail</a>
or on <a href="http://twitter.com/jbossasylum" target="" class="regularLink">twitter</a>.
</p>

<p class="wikiPara">
Now go get it <a href="http://asylum.libsyn.com/podcast-14-jud-con-berlin-and-errai" target="" class="regularLink">here</a>.</p>
</div>

