---
title: "My Pimped and Sucky slides from EclipseCon 2010"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "25-03-2010"
tags: [Eclipse]

relative_url: /2010/03/25/MyPimpedAndSuckySlidesFromEclipseCon2010
slug: MyPimpedAndSuckySlidesFromEclipseCon2010
lace: http://in.relation.to/14948.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/03/25/MyPimpedAndSuckySlidesFromEclipseCon2010
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I apparently struck a nerve doing my talks yesterday at EclipseCon so due to popular demand I pushed my slides to Slideshare instead of keep emailing them.
</p>

<p class="wikiPara">
<a href="http://www.slideshare.net/maxandersen/pimp-my-bug-report" target="" class="regularLink">Pimp My Bug Report</a> and <a href="http://www.slideshare.net/maxandersen/how-to-make-a-framework-plugin-that-does-not-suck" target="" class="regularLink">How to make a framework plugin that does not suck</a>.
</p>







</div>

