---
title: "Podcast 15 - JBoss Application Server 7 is looking shockingly good"
author: "Max Andersen"
blogger_name: "Max"
layout: blog-post
tags: [Eclipse,JBoss Asylum]
slug: Podcast15JBossApplicationServer7IsLookingShockinglyGood
lace: http://in.relation.to/17777.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/Podcast15JBossApplicationServer7IsLookingShockinglyGood">Podcast 15 - JBoss Application Server 7 is looking shockingly good</a>
                    </h1>
</div>
<img src="&lt;%=%20site.base_url%20%&gt;/images/13429" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
Ever wondered why there is development going on for AS 7 when AS 6 is not yet final ?
</p>

<p class="wikiPara">
Want to know why AS 7 starts up faster than Tomcat and still provides more functionallity ?
</p>

<p class="wikiPara">
Curious to why JBoss added yet another logging framework to the Java ecosystem ?
</p>

<p class="wikiPara">
Interested in knowing how AS 7 supports osgi bundles, but aren't built on an osgi container ?
</p>

<p class="wikiPara">
Wonder how you can manage a massive JBoss 7 cluster with just a few HTTP requests ?
</p>

<p class="wikiPara">
We wondered about that too and more...
</p>

<p class="wikiPara">
Majority of the JBoss Application Server team were at or around Devoxx this year and we had the opportunity to sit down 
and with three of them: Jason Greene, Emanuel Muckenhuber and David Lloyd.
</p>

<p class="wikiPara">
Episode 14 of JBoss Asylum will answer the above questions and more, take a listen and look at <a href="http://asylum.libsyn.com/podcast-14-j-boss-application-server-7-is-looking-shockingly-good" target="" class="regularLink">the shownotes</a>.
</p>

<p class="wikiPara">
If you got comments/feedback send it via <a href="mailto:asylum(AT)jboss.org" target="" class="regularLink">mail</a>
or on <a href="http://twitter.com/jbossasylum" target="" class="regularLink">twitter</a>.
</p>

<p class="wikiPara">
Now go get it <a href="http://asylum.libsyn.com/podcast-14-j-boss-application-server-7-is-looking-shockingly-good" target="" class="regularLink">here</a>.</p>
</div>
