---
title: "Moving to JBoss Tools Blog"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "08-06-2010"
tags: []

absolute_url: http://in.relation.to/2010/06/08/MovingToJBossToolsBlog
lace: http://in.relation.to/15780.lace
slug: MovingToJBossToolsBlog

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Future blogs by me related to JBoss Tools &amp; Developer Studio will be done at <a href="http://community.jboss.org/en/jbosstools/blog/" target="" class="regularLink">JBoss Tools Community Blog</a>.
</p>

<p class="wikiPara">
Here I and other members of the JBoss Tools team will be blogging about new and upcoming features of JBoss Tools; Brian Fitzpatrick already started with his new <a href="http://community.jboss.org/community/jbosstools/blog/2010/06/04/testing-web-services-from-wsdls" target="" class="regularLink">Webservices</a> <a href="http://community.jboss.org/community/jbosstools/blog/2010/05/26/testing-web-services" target="" class="regularLink">Testing tooling</a>.
</p>

<p class="wikiPara">
Please use the <a href="http://community.jboss.org/community/jbosstools/blog/feeds" target="" class="regularLink">RSS feeds from community.jboss.org</a> from now on to follow JBoss Tools entries.
</p>

<p class="wikiPara">
This feed will still contain Hibernate Core and JBoss Asylum related entries.
</p>

<p class="wikiPara">
Thank you!</p>
</div>
