---
title: "Podcast 12 - Live Panel podcast from JUDCon @ JBoss World 2010"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "30-06-2010"
original_tags: []
tags: [JBoss Asylum]

relative_url: /2010/06/30/podcast-12-live-panel-podcast-fromjudconjboss-world-2010
slug: podcast-12-live-panel-podcast-fromjudconjboss-world-2010
lace: http://in.relation.to/16016.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/06/30/podcast-12-live-panel-podcast-fromjudconjboss-world-2010
---
<div id="documentDisplay" class="documentDisplay">


<img src="/images/legacy/13429.jpeg" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
We recorded an improptu podcast at JUDCon 2010 which took place the day before the main event Red Hat Summit &amp; JBoss World last week in Boston.
</p>

<p class="wikiPara">
This podcast included a panel containing Kevin Connor (ESB/SOA), Jason Greene (AS), Aslak Knutsen (Arquillian) and Pete Muir (Seam/CDI) which
got a few minute each to outline their project and after that we opened up for questions.
</p>

<p class="wikiPara">
Those questions lead to discussions about Infinispan, JBoss AS performance, hotdeployment and other tidbits.
</p>

<p class="wikiPara">
Due to the improptu nature of the recording we unfortunately did not have enough mic's to cover the whole audience (20+ people) 
but we did our best to get people to repeat their questions into the microphones. All in all the sound quality is very good and 
we hope you will enjoy this.
</p>

<p class="wikiPara">
We also used some slides at this podcast, a link to those are in <a href="http://jbosscommunityasylum.libsyn.com/index.php?post_id=628137" target="" class="regularLink">the shownotes</a>.
</p>

<p class="wikiPara">
You can get it all from <a href="http://jbosscommunityasylum.libsyn.com/index.php?post_id=628137" target="" class="regularLink">The Asylum Episode 12</a>, send feedback via <a href="mailto:asylum(AT)jboss.org" target="" class="regularLink">mail</a>
or our new and shiny <a href="http://twitter.com/jbossasylum" target="" class="regularLink">twitter</a>.</p>
</div>

