---
title: "JBoss Tools on Eclipse 3.6 (Helios)"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "05-07-2010"
tags: []

absolute_url: http://in.relation.to/2010/07/05/JBossToolsOnEclipse36Helios
lace: http://in.relation.to/16054.lace
slug: JBossToolsOnEclipse36Helios

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
A reminder to follow the news on JBoss Tools please look at <a href="http://community.jboss.org/en/jbosstools/blog/" target="" class="regularLink">JBoss Tools Community Blog</a>.
</p>

<p class="wikiPara">
The latest entry explains how to get to run <a href="http://community.jboss.org/community/jbosstools/blog/2010/07/05/jboss-tools-on-eclipse-36-helios" target="" class="regularLink">JBoss Tools on Eclipse 3.6 (Helios)</a>
</p>

<p class="wikiPara">
<a href="http://community.jboss.org/community/jbosstools/blog/feeds" target="" class="regularLink">RSS feeds from community.jboss.org</a> are also available.
</p>

<p class="wikiPara">
Thank you.</p>
</div>
