---
title: "Podcast 16 - Byteman Begins"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "20-12-2010"
tags: [Byteman,Eclipse,jboss asylum]

relative_url: /2010/12/20/podcast-16-byteman-begins
slug: podcast-16-byteman-begins
lace: http://in.relation.to/17946.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/12/20/podcast-16-byteman-begins
---
<div id="documentDisplay" class="documentDisplay">


<img src="/images/13429.jpeg" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
This last episode of 2010 we are giving you short news and a very interesting interview with Andrew Dinn about his dark project called <q>Byteman</q>.
</p>

<p class="wikiPara">
Byteman is a tool meant for automation of tests for multi-threaded and multi-JVM Java applications using a technique called fault injection, but as the interview progresses you hear it can be used for so much more.
</p>

<p class="wikiPara">
We learned a great deal and we hope you will too - now take a listen by going to <a href="http://asylum.libsyn.com/podcast-16-byteman-begins" target="" class="regularLink">the shownotes</a>.
</p>

<p class="wikiPara">
If you got comments/feedback send it via <a href="mailto:asylum(AT)jboss.org" target="" class="regularLink">mail</a>
or on <a href="http://twitter.com/jbossasylum" target="" class="regularLink">twitter</a>.
</p>

<p class="wikiPara">
Merry Holidays and Have a Happy New Year!
</p>
</div>

