---
title: "JBoss Developer Studio 3 "
author: "Max Andersen"
blogger_name: "Max"
creation_date: "26-03-2010"
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse]

relative_url: /2010/03/26/JBossDeveloperStudio3
slug: JBossDeveloperStudio3
lace: http://in.relation.to/14975.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/03/26/JBossDeveloperStudio3
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
During <a href="http://in.relation.to/Bloggers/RedHatJBossAndNowChrisAniszczykAtEclipseCon2010" target="" class="regularLink">EclipseCon</a> we released <a href="http://devstudio.jboss.com/" target="" class="regularLink">JBoss Developer Studio 3</a>
</p>

<div align="center">
<img src="/images/14972.png" width="455" height="295">
</div>

<p class="wikiPara">
JBoss Developer Studio provides a single-install of a full Eclipse based development environment which includes Eclipse 3.5, productized <a href="https://community.jboss.org/wiki/JBossToolsvsDeveloperStudio" target="" class="regularLink">subset of JBoss Tools 3.1</a>, TestNG, SpringIDE and an (optional) bundled JBoss Enterprise Application Platform 5.
</p>

<p class="wikiPara">
JBoss Developer Studio is for those who would like to just install and IDE and get work done without the hassle of configuring Eclipse and related runtimes.
</p>

<p class="wikiPara">
If you are into JBoss SOA, Portal or the Enterprise Webserver platforms JBoss Developer Studio 3 supports these too and the <a href="http://devstudio.jboss.com/JBDS-PE-3.0.html" target="" class="regularLink">JBoss Developer Studio Portfolio Edition</a> product gives you access to these.
</p>

<p class="wikiPara">
Information about installation and migration from previous JBoss Developer Studio versions are available from <a href="http://devstudio.jboss.com/" target="" class="regularLink">JBoss Developer Studio 3</a> page.
</p>

<p class="wikiPara">
Have fun!
</p>
</div>
