---
title: "My Pimped and Sucky slides from EclipseCon 2010"
author: "Max Andersen"
creation_date: "25-03-2010"
blogger_name: "Max"
layout: blog-post
tags: [Eclipse]
slug: MyPimpedAndSuckySlidesFromEclipseCon2010
lace: http://in.relation.to/14948.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I apparently struck a nerve doing my talks yesterday at EclipseCon so due to popular demand I pushed my slides to Slideshare instead of keep emailing them.
</p>

<p class="wikiPara">
<a href="http://www.slideshare.net/maxandersen/pimp-my-bug-report" target="" class="regularLink">Pimp My Bug Report</a> and <a href="http://www.slideshare.net/maxandersen/how-to-make-a-framework-plugin-that-does-not-suck" target="" class="regularLink">How to make a framework plugin that does not suck</a>.
</p>







</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'MyPimpedAndSuckySlidesFromEclipseCon2010';
    var disqus_title = 'My Pimped and Sucky slides from EclipseCon 2010';
    var disqus_url = 'http://in.relation.to/14948.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
