---
title: "JBoss Tools 3.1 Final"
author: "Max Andersen"
creation_date: "10-03-2010"
blogger_name: "Max"
layout: blog-post
tags: [Eclipse,JBoss Tools,JBoss Tools Eclipse]
slug: JBossTools31Final
lace: http://in.relation.to/14750.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The final release of JBoss Tools 3.1 is here!
</p>

<div align="center">
<img src="/service/File/10824" width="600" height="145">
<h1>3.1 Final</h1>
</div>

<div align="center">
[<a href="http://www.jboss.org/tools/download" target="" class="regularLink">Download</a>]
[<a href="http://download.jboss.org/jbosstools/updates/stable/galileo" target="" class="regularLink">Update Site</a>] 
[<a href="http://docs.jboss.org/tools/whatsnew" target="" class="regularLink">What's New</a>]
[<a href="http://docs.jboss.org/tools/movies/" target="" class="regularLink">Movies</a>]
[<a href="http://docs.jboss.org/tools/3.1.0.GA/" target="" class="regularLink">Documentation</a>] 
[<a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=201" target="" class="regularLink">Forums</a>] 
[<a href="http://jira.jboss.com/jira/browse/JBIDE" target="" class="regularLink">JIRA</a>]
[<a href="http://twitter.com/jbosstools" target="" class="regularLink">Twitter</a>]
</div>

<h2 class="wikiHeadline2" id="H-UpdateSiteChanges"><a href="/Bloggers/JBossTools31Final#H-UpdateSiteChanges">Update site changes</a></h2>

<p class="wikiPara">
The update site for the final release is <a href="http://download.jboss.org/jbosstools/updates/stable/galileo" target="" class="regularLink">http://download.jboss.org/jbosstools/updates/stable/galileo</a>.
</p>

<p class="wikiPara">
Users moving from JBoss Tools 3.0 on Eclipse 3.4 to JBoss Tools 3.1 will need to install Eclipse 3.5 and then add the update site. Updating Eclipse major versions just goes easier if you do it like that.
</p>

<h2 class="wikiHeadline2" id="H-Installation"><a href="/Bloggers/JBossTools31Final#H-Installation">Installation</a></h2>

<p class="wikiPara">
This is the official version of JBoss Tools that will run on and require Eclipse 3.5 (Galileo). When installing you can either use the remote <a href="http://download.jboss.org/jbosstools/updates/galileo" target="" class="regularLink">Update Site</a> or download the update site zip from the main <a href="http://www.jboss.org/tools/download" target="" class="regularLink">Download</a> for offline installation. In both cases you can pick and choose which plugins/features you want to install. 
</p>

<p class="wikiPara">
For some features other dependencies are needed. For example Maven integration requires m2eclipse 0.10. We have done what we can to enable the related update sites, but in case you disabled them explicitly you would need to add or enable them manually. If you have problems with the installation see <a href="http://www.jboss.org/tools/download/update.html" target="" class="regularLink">this</a>
</p>


<h2 class="wikiHeadline2" id="H-NewFeaturesOverview"><a href="/Bloggers/JBossTools31Final#H-NewFeaturesOverview">New Features overview</a></h2>

<p class="wikiPara">
<a href="http://in.relation.to/Bloggers/JBossTools31MilestoneReleased" target="" class="regularLink">You</a> <a href="http://in.relation.to/Bloggers/JBossTools31M2NowWithMaven" target="" class="regularLink">can</a> <a href="http://in.relation.to/Bloggers/JBossTools31M3" target="" class="regularLink">read</a> the <a href="http://in.relation.to/Bloggers/JBossTools31CR1Released" target="" class="regularLink">previous</a> <a href="http://in.relation.to/Bloggers/JBossTools31CR2CDILessTypingAndTheLastPolish" target="" class="regularLink">release</a> blogs or read the full <a href="http://docs.jboss.org/tools/whatsnew" target="" class="regularLink">What's New and Noteworthy</a> to get all the glory details for the changes between JBoss Tools 3.0 to 3.1. 
</p>

<p class="wikiPara">
Following is a few of the highlights.
</p>

<h3 class="wikiHeadline3" id="H-AdditionalServerAndDeploymentSupport"><a href="/Bloggers/JBossTools31Final#H-AdditionalServerAndDeploymentSupport">Additional Server and deployment support</a></h3>

<p class="wikiPara">
Support for JBoss Enterprise Application Platform (EAP) and Enterprise SOA Platform (SOA-P) 5 as well as community JBoss AS 5.x and even AS 6 M1 is supported. 
</p>

<p class="wikiPara">
With the Module Assembly Page it is now possible to more finegrained control over the assembly of Web Tools Projects.
</p>

<p class="wikiPara">
We introduced the notion of deploying to SSH enabled hosts allowing for basic remote deployments on the local network or on remote <q>clouds</q> such as Amazon EC2.
</p>

<h3 class="wikiHeadline3" id="H-Portal"><a href="/Bloggers/JBossTools31Final#H-Portal">Portal</a></h3>

<p class="wikiPara">
Support for JBoss Portal and it's successor GateIn and Enterprise Portal Platform (EPP) have been added.
</p>

<h3 class="wikiHeadline3" id="H-JSF2"><a href="/Bloggers/JBossTools31Final#H-JSF2">JSF 2</a></h3>

<p class="wikiPara">
JSF 2 is now supported as well as JSF 1 w/facelets with many optimization in the performance of the visual page editor.
</p>

<p class="wikiPara">
New features in JSF 2 such as composite components and resource look ups are now supported in the visual page editor and in the (x)html code completion. 
</p>

<p class="wikiPara">
A lot of improvements in the code completion and visual presentation have made it now even easier and faster to write JSF components no matter if you are into editing source code or visual previewing. 
</p>

<h3 class="wikiHeadline3" id="H-Seam"><a href="/Bloggers/JBossTools31Final#H-Seam">Seam</a></h3>

<p class="wikiPara">
Seam 2.2 support including improved navigation and refactoring of Seam components together with the improvements in JSF support makes JBoss Tools perfect for Seam development.
</p>

<h3 class="wikiHeadline3" id="H-Hibernate"><a href="/Bloggers/JBossTools31Final#H-Hibernate">Hibernate</a></h3>
<p class="wikiPara">
 
Hibernate tooling works with connections configured in DTP and Eclipse Dali making it simpler to share connection settings.
</p>

<p class="wikiPara">
If you have an existing Java model you can now easily get either hbm.xml mappings or JPA annotations generated for this model. 
</p>

<h3 class="wikiHeadline3" id="H-ProjectExamples"><a href="/Bloggers/JBossTools31Final#H-ProjectExamples">Project Examples</a></h3>

<p class="wikiPara">
It is now easier to get started using JBoss technology by using the Help &gt; Project Examples menu.
</p>

<p class="wikiPara">
More examples have been added and the import have been enhanced to make it more informative about what runtime platforms and versions it will work on.
</p>

<h3 class="wikiHeadline3" id="H-Maven"><a href="/Bloggers/JBossTools31Final#H-Maven">Maven</a></h3>

<p class="wikiPara">
Maven users can now easily import their Maven projects with m2eclipse and JBoss Tools Maven integration will configure support for JSF, Maven and Portal development in the IDE.
</p>

<h3 class="wikiHeadline3" id="H-CDI"><a href="/Bloggers/JBossTools31Final#H-CDI">CDI</a></h3>

<p class="wikiPara">
The Context and Dependency Injection specification is supported by providing code completion for @Named component and all the code completion, open-on navigation and refactoring that was done for Seam also applies to CDI components.
</p>

<h3 class="wikiHeadline3" id="H-SOA"><a href="/Bloggers/JBossTools31Final#H-SOA">SOA</a></h3>

<p class="wikiPara">
SOA tooling have been extended massively by adding support for BPEL on Riftsaw, ESB projects, jbpm4, Drools 5 and Smooks.
</p>

<p class="wikiPara">
Smooks got its own revamped editor and the other editors have been extended and interlinking between the various SOA editors allowing for easy navigation is in place.
</p>

<p class="wikiPara">
ESB Projects allow for easy creation of ESB esb-service and deployment with instant debugging.
</p>

<p class="wikiPara">
...and <a href="http://docs.jboss.org/tools/whatsnew" target="" class="regularLink">more</a>! 
</p>

<p class="wikiPara">
Have fun!</p>
</div>
