---
title: "Podcast 16 - Byteman Begins"
author: "Max Andersen"
blogger_name: "Max"
layout: blog-post
tags: [Byteman,Eclipse,jboss asylum]
slug: Podcast16BytemanBegins
lace: http://in.relation.to/17946.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/Podcast16BytemanBegins">Podcast 16 - Byteman Begins</a>
                    </h1>
</div>
<img src="&lt;%=%20site.base_url%20%&gt;/images/13429" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
This last episode of 2010 we are giving you short news and a very interesting interview with Andrew Dinn about his dark project called <q>Byteman</q>.
</p>

<p class="wikiPara">
Byteman is a tool meant for automation of tests for multi-threaded and multi-JVM Java applications using a technique called fault injection, but as the interview progresses you hear it can be used for so much more.
</p>

<p class="wikiPara">
We learned a great deal and we hope you will too - now take a listen by going to <a href="http://asylum.libsyn.com/podcast-16-byteman-begins" target="" class="regularLink">the shownotes</a>.
</p>

<p class="wikiPara">
If you got comments/feedback send it via <a href="mailto:asylum(AT)jboss.org" target="" class="regularLink">mail</a>
or on <a href="http://twitter.com/jbossasylum" target="" class="regularLink">twitter</a>.
</p>

<p class="wikiPara">
Merry Holidays and Have a Happy New Year!
</p>
</div>
