---
title: "Podcast 13 - Season 2: The boys are back in town"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "13-09-2010"
tags: [JBoss Asylum]

relative_url: /2010/09/13/Podcast13Season2TheBoysAreBackInTown
slug: Podcast13Season2TheBoysAreBackInTown
lace: http://in.relation.to/16966.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/09/13/Podcast13Season2TheBoysAreBackInTown
---
<div id="documentDisplay" class="documentDisplay">


<img src="/images/13429.jpeg" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
Summer is over and its time for the new season of JBoss Asylum to start. Many things have happened since we last recorded at JBoss World in Boston back in June thus this podcast has a lot of news to cover.
</p>

<p class="wikiPara">
We highlight the recent releases from jboss.org but also ends up discussing the beauty of Git and Michael even gets to talk about his new job and the Oracle/Google saga. 
</p>

<p class="wikiPara">
As usual the audio and links are in <a href="http://asylum.jboss.org/podcast-13-season-2-the-boys-are-back-in-town" target="" class="regularLink">the shownotes</a>.
</p>

<p class="wikiPara">
If you got comments/feedback send it via <a href="mailto:asylum(AT)jboss.org" target="" class="regularLink">mail</a>
or on <a href="http://twitter.com/jbossasylum" target="" class="regularLink">twitter</a>.
</p>

<p class="wikiPara">
Now go get it <a href="http://asylum.jboss.org/podcast-13-season-2-the-boys-are-back-in-town" target="" class="regularLink">here</a>.</p>
</div>
