---
title: "Live Asylum at JUDCon"
author: "Max Andersen"
creation_date: "20-04-2011"
blogger_name: "Max"
layout: blog-post
tags: []
slug: LiveAsylumAtJUDCon
lace: http://in.relation.to/19461.lace
---
<div id="documentDisplay" class="documentDisplay">


<img src="http://in.relation.to/service/File/13429" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
If you haven't yet signed up for <a href="http://www.jboss.org/events/JUDCon/register.html" target="" class="regularLink">JUDCon</a> now is time to do it. Especially since Emmanuel Bernard and I will be doing a live recording at
the event with Mark Little, The Technical Head Honcho of JBoss honcho as our special guest.
</p>

<p class="wikiPara">
If you got questions you would like him to answer, let us know in the comments and we'll do what we can to get
him to answer them.
</p>

<p class="wikiPara">
Another option is that you get a ticket for <a href="http://www.jboss.org/events/JUDCon/register.html" target="" class="regularLink">JUDCon</a> and shout it to us during the recording.
</p>

<p class="wikiPara">
Besides the opportunity to heckle us there is a <a href="http://www.jboss.org/events/JUDCon/agenda.html" target="" class="regularLink">lot of great presentations</a> and hacking planned for two days by both JBoss employees and external contributors.
</p>

<p class="wikiPara">
See you there!
</p>


</div>
