---
title: "Podcast 18 - Mark Little at JUDCon"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "19-05-2011"
tags: []

relative_url: /2011/05/19/Podcast18MarkLittleAtJUDCon
slug: Podcast18MarkLittleAtJUDCon
lace: http://in.relation.to/20121.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/05/19/Podcast18MarkLittleAtJUDCon
---
<div id="documentDisplay" class="documentDisplay">


<img src="/images/13429.jpeg" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
A few weeks ago at <a href="http://www.jboss.org/events/JUDCon" target="" class="regularLink">JUDCon</a> Emmanuel and I sat down and talked with Mark Little during a live recording of an Asylum podcast.
</p>

<p class="wikiPara">
Mark Little got to talk about JBoss Everywhere, AS 7, Ceylon, the JCP and its JSRs, JBoss Development methodology, beers and why transactions matters.
</p>

<p class="wikiPara">
Thanks to all from the live JUDCon audience and those who asked question via @jbossasylum Twitter account to provide input to our questions.
</p>

<p class="wikiPara">
You can <a href="http://asylum.libsyn.com/podcast-17-mark-little-at-jud-con" target="" class="regularLink">get the episode from the Asylum website</a>.
</p>

<p class="wikiPara">
Enjoy!
</p>

</div>
