---
title: "JBoss Community Asylum 21 - JBoss at JavaOne 2011"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "24-10-2011"
tags: []

absolute_url: http://in.relation.to/2011/10/24/JBossCommunityAsylum21JBossAtJavaOne2011
lace: http://in.relation.to/22207.lace
slug: JBossCommunityAsylum21JBossAtJavaOne2011

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<img src="http://in.relation.to/service/File/13429" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
Michael Neale, Andrew L. Rubinger and I talking about what happened at JavaOne around JBoss technology.
</p>

<p class="wikiPara">
Topics covers JCP.next, JavaEE Rocks, Web Profile, TomEE, Duke Choice Awards, Arquillian, Netty, Jenkins, AS 7, OpenShift, CloudBees, JUDCon and how JBoss team used Air B&amp;B to get some sleep.
</p>

<p class="wikiPara">
<a href="http://asylum.libsyn.com/podcast-21-j-boss-at-java-one-2011" target="" class="regularLink">Show notes and episode downloads are at Asylum Website</a>
</p>

<p class="wikiPara">
Enjoy!
</p>
</div>
