---
title: "Podcast 19 - JBoss World 2011 Keynote: Behind the scene"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "08-06-2011"
original_tags: []
tags: [JBoss Asylum]

relative_url: /2011/06/08/podcast-19-jboss-world-2011-keynote-behind-the-scene
slug: podcast-19-jboss-world-2011-keynote-behind-the-scene
lace: http://in.relation.to/20708.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/06/08/podcast-19-jboss-world-2011-keynote-behind-the-scene
---
<div id="documentDisplay" class="documentDisplay">


<img src="/images/legacy/13429.jpeg" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
This time we are doing a very special episode of the Asylum podcast. 
</p>

<p class="wikiPara">
To understand the podcast it is good to have seen the <a href="http://vimeo.com/24798138" target="" class="regularLink">video of the keynote</a>.
</p>

<p class="wikiPara">
It gives a rare view behind the scenes of how the team behind the JBoss World 2011 Keynote created and made the whole demo work.
</p>

<p class="wikiPara">
Emmanuel and I recorded the podcast in his hotel room in Boston during JBoss World together with Manik Surtani, Jay Balunas, Jason Greene, Mike Brock and Sanne Grinovero. 
</p>

<p class="wikiPara">
It's filled with a lot of jokes and laughter and in between a lot of good technical content about the keynote and even some glimpses into how it is to be a developer in and at JBoss/Red Hat. 
</p>

<p class="wikiPara">
You can <a href="http://asylum.libsyn.com/podcast-19-j-boss-world-2011-keynote-behind-the-scene" target="" class="regularLink">get the episode from the Asylum website</a>.
</p>

<p class="wikiPara">
Don't forget to view the <a href="http://vimeo.com/24798138" target="" class="regularLink">video of the keynote</a> first :)
</p>

<p class="wikiPara">
Enjoy!
</p>

</div>

