---
title: "Podcast 20 - Drools Explained by Mark Proctor and Michael Anstis"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "18-07-2011"
tags: [Eclipse,asylum]

absolute_url: http://in.relation.to/2011/07/18/Podcast20DroolsExplainedByMarkProctorAndMichaelAnstis
lace: http://in.relation.to/21082.lace
slug: Podcast20DroolsExplainedByMarkProctorAndMichaelAnstis

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<img src="http://in.relation.to/service/File/13429" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
For this 20th anniversary of the podcast we have Mark Proctor and Michael Anstis from the Drools team on to talk about the recently released Drools 5.2.
</p>

<p class="wikiPara">
We cover the latest news from JBoss Community and then get to talk about Drools history, what a rules engine is good for and Mark Proctor gets to answer to Mike Brock's <q>allegations</q> from the last episode.
</p>

<p class="wikiPara">
You can <a href="http://asylum.libsyn.com/podcast-20-drools-explained-by-mark-proctor-and-michael-anstis-" target="" class="regularLink">get the episode from the Asylum website</a>.
</p>

<p class="wikiPara">
Enjoy!
</p>

</div>
