---
title: "JBoss Community Asylum 23 - Forging Forge"
author: "Max Andersen"
creation_date: "07-12-2011"
blogger_name: "Max"
layout: blog-post
tags: []
slug: JBossCommunityAsylum23ForgingForge
lace: http://in.relation.to/22557.lace
---
<div id="documentDisplay" class="documentDisplay">


<img src="http://in.relation.to/service/File/13429" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
At Devoxx we were preparing for having an interview with Lincoln Baxter III about Forge, tweeted it out and JBoss Community member Paul Bakker came by and joined in on the fun and Episode 23 was the result.
</p>

<p class="wikiPara">
In this episode we first cover news around OpenShift, Immutant, JUDCon India and Devoxx following with an interview with Lincoln and Paul about Forge.
</p>

<p class="wikiPara">
<a href="http://asylum.libsyn.com/webpage/podcast-23-forging-forge" target="" class="regularLink">Show notes and episode downloads are at Asylum Website</a>
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'JBossCommunityAsylum23ForgingForge';
    var disqus_title = 'JBoss Community Asylum 23 - Forging Forge';
    var disqus_url = 'http://in.relation.to/22557.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
