---
title: "Showing CDI & JEE 6 in Action at Miracle Open World in Denmark "
author: "Max Andersen"
creation_date: "07-04-2011"
blogger_name: "Max"
layout: blog-post
tags: [Contexts and Dependency Injection,eclipse]
slug: ShowingCDIJEE6InActionAtMiracleOpenWorldInDenmark
lace: http://in.relation.to/19044.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Next week I'll be doing a talk at <a href="http://www.mow2011.dk/" target="" class="regularLink">Miracle Open World</a> in Billund, Denmark called <a href="http://www.mow2011.dk/speakers/max-rydahl-andersen.aspx" target="" class="regularLink">See Context &amp; Dependency Injection from Java EE  6 in Action</a>. 
</p>

<p class="wikiPara">
Will be double fun since I'll be able to go and build lego's afterwards ;)
</p>
</div>
