---
title: "Fork! Hibernate Tools is now on github"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "09-03-2011"
tags: []

relative_url: /2011/03/09/fork-hibernate-tools-is-now-on-github
slug: fork-hibernate-tools-is-now-on-github
lace: http://in.relation.to/18683.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/03/09/fork-hibernate-tools-is-now-on-github
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
This morning I pushed live the github repository for Hibernate Tools (core).
</p>

<p class="wikiPara">
The new source location is at <a href="https://github.com/hibernate/hibernate-tools" target="" class="regularLink">https://github.com/hibernate/hibernate-tools</a>
</p>

<p class="wikiPara">
The Eclipse plugins for Hibernate Tools continues to live in the <a href="http://anonsvn.jboss.org/repos/jbosstools/trunk/hibernatetools" target="" class="regularLink">JBoss Tools SVN repository</a> for now.
</p>

<p class="wikiPara">
To get to know Git and how to contribute I recommend reading Emmanuel's nice <a href="http://in.relation.to/Bloggers/HibernateMovesToGitGitTipsAndTricks" target="" class="regularLink">Git Tips and Tricks</a>
blog .
</p>

<p class="wikiPara">
Fork On!
</p>

</div>

