---
title: "Neuchatel JBoss User Group starting next week "
author: "Max Andersen"
creation_date: "15-09-2011"
blogger_name: "Max"
layout: blog-post
tags: [jug]
slug: NeuchatelJBossUserGroupStartingNextWeek
lace: http://in.relation.to/21949.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
If you are near Neuchatel, Switzerland next week then we are having our first meeting in <a href="http://jbug-neuchatel.org" target="" class="regularLink">JBUG: Neuchatel</a> at the Red Hat/JBoss offices in Neuchatel, Wednesday 21st September 2011.
</p>

<img src="http://community.jboss.org/groups/image/1115/1.png?a=35468">

<p class="wikiPara">
The topic of the first meeting is JBUG Neuchatel Intro and AS 7.
</p>

<p class="wikiPara">
You can see the schedule <a href="http://community.jboss.org/wiki/JBUGNeuchatel-September21th2011-IntroAS7" target="" class="regularLink">here </a> and leave a comment if you plan on showing up or are interested in future meetups at Neuchatel and surrounding area.
</p>








</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'NeuchatelJBossUserGroupStartingNextWeek';
    var disqus_title = 'Neuchatel JBoss User Group starting next week ';
    var disqus_url = 'http://in.relation.to/21949.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
