---
title: "Podcast 17 - jBPM 5 Workflows with Kris Verlaenen"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "10-03-2011"
tags: [asylum,eclipse]

relative_url: /2011/03/10/Podcast17JBPM5WorkflowsWithKrisVerlaenen
slug: Podcast17JBPM5WorkflowsWithKrisVerlaenen
lace: http://in.relation.to/18716.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/03/10/Podcast17JBPM5WorkflowsWithKrisVerlaenen
---
<div id="documentDisplay" class="documentDisplay">


<img src="/images/13429.jpeg" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
<a href="http://asylum.libsyn.com/podcast-17-j-bpm-5-workflows-with-dr-kris-v-" target="" class="regularLink">This episode</a> had some bad luck with respect to the audio recording and took a while to get edited down to listenable quality.
</p>

<p class="wikiPara">
The news are therefore a bit out of date but the interview with Kris Verlaenen about jBPM 5 is all filled with great and interesting content.
</p>

<p class="wikiPara">
The interview part has good audio and you can skip to the 22m33s mark to hear about jBPM 5.
</p>

<p class="wikiPara">
We are again sorry that Emmanuel Bernard messed up the recording, but we will back soon with a new interviewee and with better sound ;)
</p>

<p class="wikiPara">
If you got comments/feedback send it via <a href="mailto:asylum(AT)jboss.org" target="" class="regularLink">mail</a>
or on <a href="http://twitter.com/jbossasylum" target="" class="regularLink">twitter</a>.
</p>

<p class="wikiPara">
Get the episode from <a href="http://asylum.libsyn.com/podcast-17-j-bpm-5-workflows-with-dr-kris-v-" target="" class="regularLink">here</a></p>
</div>
