---
title: "JBoss Community Asylum 23 - Forging Forge"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "07-12-2011"
tags: []

relative_url: /2011/12/07/JBossCommunityAsylum23ForgingForge
slug: JBossCommunityAsylum23ForgingForge
lace: http://in.relation.to/22557.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/12/07/JBossCommunityAsylum23ForgingForge
---
<div id="documentDisplay" class="documentDisplay">


<img src="/images/13429.jpeg" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
At Devoxx we were preparing for having an interview with Lincoln Baxter III about Forge, tweeted it out and JBoss Community member Paul Bakker came by and joined in on the fun and Episode 23 was the result.
</p>

<p class="wikiPara">
In this episode we first cover news around OpenShift, Immutant, JUDCon India and Devoxx following with an interview with Lincoln and Paul about Forge.
</p>

<p class="wikiPara">
<a href="http://asylum.libsyn.com/webpage/podcast-23-forging-forge" target="" class="regularLink">Show notes and episode downloads are at Asylum Website</a>
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
