---
title: "JBoss Community Asylum - Polyglot JBoss at JUDCon London"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "15-11-2011"
tags: [asylum]

relative_url: /2011/11/15/JBossCommunityAsylumPolyglotJBossAtJUDConLondon
slug: JBossCommunityAsylumPolyglotJBossAtJUDConLondon
lace: http://in.relation.to/22331.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/11/15/JBossCommunityAsylumPolyglotJBossAtJUDConLondon
---
<div id="documentDisplay" class="documentDisplay">


<img src="/images/13429.jpeg" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
We invited Marek Goldmann and Galder Zamerreno on to the stage for live podcast recorded at JUDCon London.
</p>

<p class="wikiPara">
In this informal panel we cover the various approaches different languages are being used, supported, extended and even created in and around JBoss.org.
</p>

<p class="wikiPara">
The sound is in areas not perfect because of the live scene, but the talks and topics comes out well so hope you will enjoy it :)
</p>

<p class="wikiPara">
<a href="http://asylum.libsyn.com/podcast-22-polyglot-j-boss-at-jud-con-london" target="" class="regularLink">Show notes and episode downloads are at Asylum Website</a>
</p>

<p class="wikiPara">
Enjoy!
</p>
</div>

