---
title: "Neuchatel JBoss User Group starting next week "
author: "Max Andersen"
blogger_name: "Max"
creation_date: "15-09-2011"
tags: [jug]

relative_url: /2011/09/15/NeuchatelJBossUserGroupStartingNextWeek
slug: NeuchatelJBossUserGroupStartingNextWeek
lace: http://in.relation.to/21949.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/09/15/NeuchatelJBossUserGroupStartingNextWeek
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
If you are near Neuchatel, Switzerland next week then we are having our first meeting in <a href="http://jbug-neuchatel.org" target="" class="regularLink">JBUG: Neuchatel</a> at the Red Hat/JBoss offices in Neuchatel, Wednesday 21st September 2011.
</p>

<img src="http://community.jboss.org/groups/image/1115/1.png?a=35468">

<p class="wikiPara">
The topic of the first meeting is JBUG Neuchatel Intro and AS 7.
</p>

<p class="wikiPara">
You can see the schedule <a href="http://community.jboss.org/wiki/JBUGNeuchatel-September21th2011-IntroAS7" target="" class="regularLink">here </a> and leave a comment if you plan on showing up or are interested in future meetups at Neuchatel and surrounding area.
</p>








</div>
