---
title: "JBoss Community Asylum 24 - What's up with JBoss AS 7.1 ?"
author: "Max Andersen"
creation_date: "02-04-2012"
blogger_name: "Max"
layout: blog-post
tags: [asylum,jboss,jbosscentral]
slug: JBossCommunityAsylum24WhatsUpWithJBossAS71
lace: http://in.relation.to/23063.lace
---
<div id="documentDisplay" class="documentDisplay">


<img src="http://in.relation.to/service/File/13429" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
I had the chance to get to sit down with Jason Greene, Emanuel Muckenhuber and their manager Bruno Georges while they were having an JBoss Application Server team meeting in our Neuchatel offices.
</p>

<p class="wikiPara">
We talked about how things changed since our last podcast about AS 7.0 (<a href="http://asylum.libsyn.com/podcast-14-j-boss-application-server-7-is-looking-shockingly-good" target="" class="regularLink">Episode 15</a>) and from that got to cover what is new and great in AS 7.1 and what the new JBoss Enterprise Application Platform 6 Beta have to offer.
</p>

<p class="wikiPara">
<a href="http://asylum.libsyn.com/webpage/podcast-24-what-s-up-with-j-boss-7-1-" target="" class="regularLink">Show notes and episode downloads are at Asylum Website</a>
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'JBossCommunityAsylum24WhatsUpWithJBossAS71';
    var disqus_title = 'JBoss Community Asylum 24 - What's up with JBoss AS 7.1 ?';
    var disqus_url = 'http://in.relation.to/23063.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
