---
title: "JBoss Community Asylum 26 - Ceylon"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "30-06-2012"
tags: [Ceylon,asylum]

relative_url: /2012/06/30/JBossCommunityAsylum26Ceylon
slug: JBossCommunityAsylum26Ceylon
lace: http://in.relation.to/23311.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/06/30/JBossCommunityAsylum26Ceylon
---
<div id="documentDisplay" class="documentDisplay">


<img src="http://in.relation.to/service/File/13429" align="left" style="padding-right: 15px; width: 150px;">

<img src="https://lh3.googleusercontent.com/-Vx98_E0U_to/T-spUPHHxBI/AAAAAAAAudY/_O5q-I4ZutU/s640/IMG_2294.JPG" align="center">

<p class="wikiPara">
During JBoss World we grabbed Stephan and dragged him to Emmanuel's room to finally create a podcast about Ceylon (listen to the podcast for the full story behind it).
</p>

<p class="wikiPara">
That resulted in a nice hour of us discussing the features of Ceylon, why it was created,what inspired its creation and how to learn and get involved with Ceylon.
</p>

<p class="wikiPara">
<a href="http://asylum.jboss.org/webpage/podcast-26-ceylon" target="" class="regularLink">Show notes and episode downloads are at Asylum Website</a>
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
