---
title: "JBoss Community Asylum 26 - Ceylon"
author: "Max Andersen"
creation_date: "30-06-2012"
blogger_name: "Max"
layout: blog-post
tags: [Ceylon,asylum]
slug: JBossCommunityAsylum26Ceylon
lace: http://in.relation.to/23311.lace
---
<div id="documentDisplay" class="documentDisplay">


<img src="http://in.relation.to/service/File/13429" align="left" style="padding-right: 15px; width: 150px;">

<img src="https://lh3.googleusercontent.com/-Vx98_E0U_to/T-spUPHHxBI/AAAAAAAAudY/_O5q-I4ZutU/s640/IMG_2294.JPG" align="center">

<p class="wikiPara">
During JBoss World we grabbed Stephan and dragged him to Emmanuel's room to finally create a podcast about Ceylon (listen to the podcast for the full story behind it).
</p>

<p class="wikiPara">
That resulted in a nice hour of us discussing the features of Ceylon, why it was created,what inspired its creation and how to learn and get involved with Ceylon.
</p>

<p class="wikiPara">
<a href="http://asylum.jboss.org/webpage/podcast-26-ceylon" target="" class="regularLink">Show notes and episode downloads are at Asylum Website</a>
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'JBossCommunityAsylum26Ceylon';
    var disqus_title = 'JBoss Community Asylum 26 - Ceylon';
    var disqus_url = 'http://in.relation.to/23311.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
