---
title: "JBoss Community Asylum 25 - Have you been Awestructed ?"
author: "Max Andersen"
blogger_name: "Max"
layout: blog-post
tags: [JBoss Asylum]
slug: JBossCommunityAsylum25HaveYouBeenAwestructed
lace: http://in.relation.to/23170.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/JBossCommunityAsylum25HaveYouBeenAwestructed">JBoss Community Asylum 25 - Have you been Awestructed ?</a>
                    </h1>
</div>
<img src="&lt;%=%20site.base_url%20%&gt;/images/13429" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
This week podcast we are back with some short news around JBoss.org and  
Emmanuel and I also sat down with Bob M., Lance B. and Dan A. to talk about Awestruct - a dynamic tool for making static sites.
</p>

<p class="wikiPara">
<a href="http://asylum.jboss.org/webpage/podcast-25-have-you-been-awestruct-" target="" class="regularLink">Show notes and episode downloads are at Asylum Website</a>
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
