---
title: "JBoss Community Asylum 31 - License and lawyers"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "19-09-2013"
original_tags: []
tags: [JBoss Asylum]

relative_url: /2013/09/19/jboss-community-asylum-31-license-and-lawyers
slug: jboss-community-asylum-31-license-and-lawyers
lace: http://in.relation.to/24373.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/09/19/jboss-community-asylum-31-license-and-lawyers
---
<div id="documentDisplay" class="documentDisplay">


<img src="/images/legacy/13429.jpeg" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
Ever heard about a lawyer that has a github account ? 
</p>

<p class="wikiPara">
Well, <a href="https://github.com/richardfontana" target="" class="regularLink">Richard Fontana</a> does and he is the guest of #31 of JBoss Asylum.
</p>

<p class="wikiPara">
We cover topics like what is an opensource license ? what things should a developer know about licenses ?is the WTF license really opensource ? Why is JSON license not opensource ? ...and what does a lawyer say instead of IANAL ?
</p>

<p class="wikiPara">
<a href="http://jbosscommunityasylum.libsyn.com/podcast-31-licenses-and-lawyers" target="" class="regularLink">Show notes and episode</a>
</p>

<p class="wikiPara">
Have fun!</p>
</div>

