---
title: "JBoss Community Asylum - Is there an Asciidoctor on board ?"
author: "Max Andersen"
blogger_name: "Max"
layout: blog-post
tags: []
slug: JBossCommunityAsylumIsThereAnAsciidoctorOnBoard
lace: http://in.relation.to/24508.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/JBossCommunityAsylumIsThereAnAsciidoctorOnBoard">JBoss Community Asylum - Is there an Asciidoctor on board ?</a>
                    </h1>
</div>
<img src="&lt;%=%20site.base_url%20%&gt;/images/13429" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
This time we sat down with Dan Allan and Alex Soto to talk about their work on Asciidoc and Asciidoctor.
</p>

<p class="wikiPara">
In the progress we touch on anything from markdown history, how to write books, what is asciidoc, where does asciidoctor helps 
and how ruby crosscompiling to javascript became a big win for asciidoctor.
</p>

<p class="wikiPara">
<a href="http://jbosscommunityasylum.libsyn.com/podcast-32-is-there-an-asciidoctor-on-board" target="" class="regularLink">Show notes and episode</a>
</p>

<p class="wikiPara">
Have fun!</p>
</div>
