---
title: "JBoss Community Asylum 29 - JBoss and Communities and 30 - Aerogear"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "18-06-2013"
tags: [JBossAsylum]

relative_url: /2013/06/18/JBossCommunityAsylum29JBossAndCommunitiesAnd30Aerogear
slug: JBossCommunityAsylum29JBossAndCommunitiesAnd30Aerogear
lace: http://in.relation.to/24261.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/06/18/JBossCommunityAsylum29JBossAndCommunitiesAnd30Aerogear
---
<div id="documentDisplay" class="documentDisplay">


<img src="http://in.relation.to/service/File/13429" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
During Red Hat Summit we got to record two episodes for the Asylum.
</p>

<p class="wikiPara">
First a live one at the end of JUDCon where we had Mark Little, Pete Muir and James Strachan discuss some of the advantages and disadvantages in the opensource communities JBoss is involved in.
</p>

<p class="wikiPara">
Warning: contains tongue-in-cheek and pieces of British humor :)
</p>

<p class="wikiPara">
<a href="http://jbosscommunityasylum.libsyn.com/podcast-29-a-tale-of-j-boss-and-communities" target="" class="regularLink">Show notes and episode downloads for "A tale about JBoss and Communities"</a>
</p>

<p class="wikiPara">
The second episode we invaded Jay Balunas hotel room together with Karel Piwko and talked about Aerogear, what it is and what is coming.
</p>

<p class="wikiPara">
<a href="http://jbosscommunityasylum.libsyn.com/podcast-30-what-is-aerogear" target="" class="regularLink">Show notes and episode downloads for "What is Aerogear"</a>
</p>

<p class="wikiPara">
Have fun!</p>
</div>
