---
title: "JBoss Community Asylum 28 - Fuse Stories"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "10-01-2013"
tags: []

relative_url: /2013/01/10/JBossCommunityAsylum28FuseStories
slug: JBossCommunityAsylum28FuseStories
lace: http://in.relation.to/23898.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/01/10/JBossCommunityAsylum28FuseStories
---
<div id="documentDisplay" class="documentDisplay">


<img src="http://in.relation.to/service/File/13429" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
In this first episode of the year we grabbed James Strachan and Rob Davies from the FuseSource team which recently joined Red Hat and the JBoss family.
</p>

<p class="wikiPara">
We talked about the origins of Fuse, all the scary things they built before it and how and where FuseSource and service oriented architectures are being used, what they are good at and where things are going now.
</p>

<p class="wikiPara">
<a href="http://jbosscommunityasylum.libsyn.com/podcast-28-fuse-stories" target="" class="regularLink">Show notes and episode downloads are at Asylum Website</a>
</p>

<p class="wikiPara">
Happy New Year and Enjoy!</p>
</div>
