---
title: "JBoss Community Asylum 28 - Fuse Stories"
author: "Max Andersen"
creation_date: "10-01-2013"
blogger_name: "Max"
layout: blog-post
tags: []
slug: JBossCommunityAsylum28FuseStories
lace: http://in.relation.to/23898.lace
---
<div id="documentDisplay" class="documentDisplay">


<img src="http://in.relation.to/service/File/13429" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
In this first episode of the year we grabbed James Strachan and Rob Davies from the FuseSource team which recently joined Red Hat and the JBoss family.
</p>

<p class="wikiPara">
We talked about the origins of Fuse, all the scary things they built before it and how and where FuseSource and service oriented architectures are being used, what they are good at and where things are going now.
</p>

<p class="wikiPara">
<a href="http://jbosscommunityasylum.libsyn.com/podcast-28-fuse-stories" target="" class="regularLink">Show notes and episode downloads are at Asylum Website</a>
</p>

<p class="wikiPara">
Happy New Year and Enjoy!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'JBossCommunityAsylum28FuseStories';
    var disqus_title = 'JBoss Community Asylum 28 - Fuse Stories';
    var disqus_url = 'http://in.relation.to/23898.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
