---
title: "JBoss Community Asylum - Catching a WildFly"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "18-03-2014"
tags: [JBoss Asylum]

relative_url: /2014/03/18/jboss-community-asylum-catching-a-wild-fly
slug: jboss-community-asylum-catching-a-wild-fly
lace: http://in.relation.to/25006.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2014/03/18/jboss-community-asylum-catching-a-wild-fly
---
<div id="documentDisplay" class="documentDisplay">


<img src="/images/13429.jpeg" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
Last week we met up with Jason Greene and Brian Stansberry from the WildFly team.
</p>

<p class="wikiPara">
In this you get to hear about the WildFly rename, its recent release that includes new web subsystem called Undertow,
new JavaEE 7 features and a core distribution. 
</p>

<p class="wikiPara">
<a href="http://jbosscommunityasylum.libsyn.com/podcast-33-catching-a-wildfly" target="" class="regularLink">Show notes and episode</a>
</p>

<p class="wikiPara">
Have fun!</p>
</div>

