---
title: "JBoss Community Asylum - What kind of animal is Teiid ?"
author: "Max Andersen"
blogger_name: "Max"
layout: blog-post
tags: [asylum]
slug: JBossCommunityAsylumWhatKindOfAnimalIsTeiid
lace: http://in.relation.to/28896.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/JBossCommunityAsylumWhatKindOfAnimalIsTeiid">JBoss Community Asylum - What kind of animal is Teiid ?</a>
                    </h1>
</div>
<img src="&lt;%=%20site.base_url%20%&gt;/images/13429" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
Last week Emmanuel met up with Steven Hawkings and Ramesh Reddy in St. Louis and did a live interview.
</p>

<p class="wikiPara">
They get to put on record the possible correct pronunciation of Teiid and to talk about how Teiid allows you to query across multiple datasources and provide a unified view on data in many different ways. 
</p>

<p class="wikiPara">
<a href="http://jbosscommunityasylum.libsyn.com/podcast-34-what-kind-of-animial-is-teiid" target="" class="regularLink">Show notes and episode</a>
</p>

<p class="wikiPara">
Have fun!</p>
</div>
