---
title: "JBoss Community Asylum - Lies, damn lies and Security"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "07-09-2014"
tags: []

relative_url: /2014/09/07/JBossCommunityAsylumLiesDamnLiesAndSecurity
slug: JBossCommunityAsylumLiesDamnLiesAndSecurity
lace: http://in.relation.to/30059.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2014/09/07/JBossCommunityAsylumLiesDamnLiesAndSecurity
---
<div id="documentDisplay" class="documentDisplay">


<img src="/images/13429.jpeg" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
This time around we are talking with David Jorm and Arun B. Neelicattu about Security, especially around Java.
</p>

<p class="wikiPara">
We get to hear about how climate change helped improve JBoss, all about the secret societies surrounding security and how all software is basically doomed - but also learn how you can improve security for your framework(s) and application(s).
</p>

<p class="wikiPara">
Listen in if you care about security and want to learn more, but also if you don't think you care - you might learn a few things. I know I did.
 
<a href="http://jbosscommunityasylum.libsyn.com/podcast-35-lies-damn-lies-and-security" target="" class="regularLink">Show notes and episode</a>
</p>

<p class="wikiPara">
Have fun!</p>
</div>

