---
title: "JBoss Community Asylum - What kind of animal is Teiid ?"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "28-07-2014"
tags: [asylum]

relative_url: /2014/07/28/jboss-community-asylum-what-kind-of-animal-is-teiid
slug: jboss-community-asylum-what-kind-of-animal-is-teiid
lace: http://in.relation.to/28896.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2014/07/28/jboss-community-asylum-what-kind-of-animal-is-teiid
---
<div id="documentDisplay" class="documentDisplay">


<img src="/images/13429.jpeg" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
Last week Emmanuel met up with Steven Hawkings and Ramesh Reddy in St. Louis and did a live interview.
</p>

<p class="wikiPara">
They get to put on record the possible correct pronunciation of Teiid and to talk about how Teiid allows you to query across multiple datasources and provide a unified view on data in many different ways. 
</p>

<p class="wikiPara">
<a href="http://jbosscommunityasylum.libsyn.com/podcast-34-what-kind-of-animial-is-teiid" target="" class="regularLink">Show notes and episode</a>
</p>

<p class="wikiPara">
Have fun!</p>
</div>

