---
title: "JBoss Community Asylum - Infinispan Encore"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "10-26-2015"
original_tags: []
tags: [JBoss Asylum]

relative_url: /2015/10/26/jboss-community-asylum-infinispan-encore
slug: jboss-community-asylum-infinispan-encore

layout: blog-post

---
<div id="documentDisplay" class="documentDisplay">


<img src="/images/legacy/13429.jpeg" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
It's been a while but here we go again with an encore about the
project that shall not be named. 
</p>

<p class="wikiPara">
Recorded by Emmanuel with notable Infinispan guests!
</p>

<p class="wikiPara">
Find it all in the
<a href="http://jbosscommunityasylum.libsyn.com/podcast-39-update-on-infinispan" target="" class="regularLink">Show notes and episode</a>.
</p>

<p class="wikiPara">
Have fun!
</p>
</div>

