---
title: "JBoss Community Asylum - OptaPlanner for the masses"
author: "Max Andersen"
creation_date: "16-01-2015"
blogger_name: "Max"
layout: blog-post
tags: []
slug: JBossCommunityAsylumOptaPlannerForTheMasses
lace: http://in.relation.to/42504.lace
---
<div id="documentDisplay" class="documentDisplay">


<img src="http://in.relation.to/service/File/13429" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
Its a new year and time for a new episode! Great time to talk about making plans.
</p>

<p class="wikiPara">
In this episode we are talking with Geoffrey about his OptaPlanner project.
</p>

<p class="wikiPara">
Find it all in the
<a href="http://jbosscommunityasylum.libsyn.com/podcast-37-optaplanner-for-the-masses" target="" class="regularLink">Show notes and episode</a>.
</p>

<p class="wikiPara">
Have fun!
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'JBossCommunityAsylumOptaPlannerForTheMasses';
    var disqus_title = 'JBoss Community Asylum - OptaPlanner for the masses';
    var disqus_url = 'http://in.relation.to/42504.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
