---
title: "JBoss Community Asylum - Feeding a Henry"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "02-04-2015"
original_tags: []
tags: [JBoss Asylum]

relative_url: /2015/04/02/jboss-community-asylum-feeding-a-henry
slug: jboss-community-asylum-feeding-a-henry
lace: http://in.relation.to/42630.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2015/04/02/jboss-community-asylum-feeding-a-henry
---
<div id="documentDisplay" class="documentDisplay">


<img src="/images/legacy/13429.jpeg" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
While we were in Newcastle for a meetup we sat down with John, Mícheál and John about FeedHenry, 
what it is and how it is going with the opensourcing of their platform.
</p>

<p class="wikiPara">
Also you will hear how the name is tied to royalty!
</p>

<p class="wikiPara">
Find it all in the
<a href="http://jbosscommunityasylum.libsyn.com/podcast-38-feeding-a-henry" target="" class="regularLink">Show notes and episode</a>.
</p>

<p class="wikiPara">
Have fun!
</p>
</div>

