---
title: "JBoss Community Asylum - Infinispan Encore"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "11-30-2015"
original_tags: []
tags: [JBoss Asylum]

relative_url: /2015/11/30/jboss-community-asylum-behind-the-scenes
slug: jboss-community-asylum-behind-the-scenes

layout: blog-post

---
<div id="documentDisplay" class="documentDisplay">


<img src="/images/legacy/13429.jpeg" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
I sat down with Burr Sutter and Scott Stark to talk about what they
did to make the middleware keynote demo happen.
</p>

<p class="wikiPara">
Recorded by me and with a few technical glitches causing the audio
quality to not be as good as usual. Hope you enjoy it anyway!
</p>

<p class="wikiPara">
Find it all in the
<a href="http://jbosscommunityasylum.libsyn.com/podcast-40-behind-the-scenes-of-the-summit-keynote" target="" class="regularLink">Show notes and episode</a>.
</p>

<p class="wikiPara">
Have fun!
</p>
</div>

