---
title: "JBoss Community Asylum - OptaPlanner for the masses"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "16-01-2015"
tags: []

relative_url: /2015/01/16/JBossCommunityAsylumOptaPlannerForTheMasses
slug: JBossCommunityAsylumOptaPlannerForTheMasses
lace: http://in.relation.to/42504.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2015/01/16/JBossCommunityAsylumOptaPlannerForTheMasses
---
<div id="documentDisplay" class="documentDisplay">


<img src="http://in.relation.to/service/File/13429" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
Its a new year and time for a new episode! Great time to talk about making plans.
</p>

<p class="wikiPara">
In this episode we are talking with Geoffrey about his OptaPlanner project.
</p>

<p class="wikiPara">
Find it all in the
<a href="http://jbosscommunityasylum.libsyn.com/podcast-37-optaplanner-for-the-masses" target="" class="regularLink">Show notes and episode</a>.
</p>

<p class="wikiPara">
Have fun!
</p>
</div>
