---
title: "JBoss Community Asylum - Hibernate Strikes Back Episode V"
author: "Max Andersen"
blogger_name: "Max"
creation_date: "12-01-2016"
original_tags: []
tags: [JBoss Asylum]

relative_url: /2016/12/01/jboss-community-asylum-hibernate-strikes-back-episode-v
slug: jboss-community-asylum-hibernate-strikes-back-episode-v

layout: blog-post

---
<div id="documentDisplay" class="documentDisplay">


<img src="/images/legacy/13429.jpeg" align="left" style="padding-right: 15px; width: 150px;">

<p class="wikiPara">
Emmanuel talks with Steve Ebersole about what is new and interesting in Hibernate 5.
</p>

<p class="wikiPara">
Find it all in the
<a href="http://jbosscommunityasylum.libsyn.com/hibernate-strikes-back-episode-v" target="" class="regularLink">Show notes and episode</a>.
</p>

<p class="wikiPara">
Have fun!
</p>
</div>

