---
title: "Hibernate OGM 4 beta 3 is out"
author: "Davide D'Alto"
blogger_name: "Davide"
layout: blog-post
tags: [Hibernate,Hibernate OGM]
slug: HibernateOGM4Beta3IsOut
lace: http://in.relation.to/24404.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/HibernateOGM4Beta3IsOut">Hibernate OGM 4 beta 3 is out</a>
                    </h1>
</div>
<p class="wikiPara">
We have been very quiet on the announcement front for Hibernate OGM, but
don't be fooled.
Davide and Gunnar have been very busy bees and did bring significant
foundation work
for features that you will see in the next few months.
</p>

<h2 class="wikiHeadline2" id="H-ImprovedQuerySupportAroundProjectionAndOperators"><a href="/Bloggers/HibernateOGM4Beta3IsOut#H-ImprovedQuerySupportAroundProjectionAndOperators">Improved query support around projection and operators</a></h2>

<p class="wikiPara">
Based on the foundation of our JP-QL parser,
we have added support for more JP-QL queries:
</p>

<h2 class="wikiHeadline2" id="H-SupportedOperators"><a href="/Bloggers/HibernateOGM4Beta3IsOut#H-SupportedOperators">Supported operators</a></h2>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> operators =, &lt;, &lt;=, &gt;, =, IN, LIKE, BETWEEN</li>
<li class="wikiUnorderedListItem"> Supported boolean combinations: AND, OR, NOT</li>
<li class="wikiUnorderedListItem"> Support for simple property projections and embedded objects</li>
</ul>

<p class="wikiPara">
In practice, that means that you can write the following JP-QL query
and have it run for example on Infinispan.
</p>

<p class="wikiPara">
    select u.firstname, u.lastname from User u where (u.age BETWEEN 12
    AND 18) OR u.supervision = 'free'
</p>

<p class="wikiPara">
As a reminder, we now support for following query features:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> operators =, &lt;, &lt;=, &gt;, =&gt;, IN, LIKE, BETWEEN</li>
<li class="wikiUnorderedListItem"> boolean combinations: AND, OR, NOT</li>
<li class="wikiUnorderedListItem"> simple proprerty projections</li>
<li class="wikiUnorderedListItem"> embedded objects</li>
<li class="wikiUnorderedListItem"> parametric queries</li>
</ul>

<h2 class="wikiHeadline2" id="H-JPQLQuerySupportForMongoDB"><a href="/Bloggers/HibernateOGM4Beta3IsOut#H-JPQLQuerySupportForMongoDB">JP-QL query support for MongoDB</a></h2>

<p class="wikiPara">
We now convert JP-QL queries into MongoQL queries and run them to
retrieve entities.
This is only the beginning and our support is comparable to the
Lucene support.
</p>

<p class="wikiPara">
This is a significant step forward for us
as we proved our tool chain can handle what we are planning.
</p>

<h2 class="wikiHeadline2" id="H-DiscriminatorBasedHierarchy"><a href="/Bloggers/HibernateOGM4Beta3IsOut#H-DiscriminatorBasedHierarchy">Discriminator based hierarchy</a></h2>

<p class="wikiPara">
OGM now supports the single table per class strategy for the mapping
of hierachies. In this case a column will be added to 
differentiate between entity types in a hierarchy.
Previously, you had to store subclasses in different <q>tables</q>.
</p>

<h2 class="wikiHeadline2" id="H-JBossAS7IntegrationModule"><a href="/Bloggers/HibernateOGM4Beta3IsOut#H-JBossAS7IntegrationModule">JBoss AS 7 integration module</a></h2>

<p class="wikiPara">
JBoss AS comes with a module system offering better packages and
isolated libraries.
We have added Hibernate OGM as a module to simplify JBoss AS users.
</p>

<p class="wikiPara">
Support for Wildfly is coming soon.
</p>

<h2 class="wikiHeadline2" id="H-SupportForHibernateSearchMassIndexing"><a href="/Bloggers/HibernateOGM4Beta3IsOut#H-SupportForHibernateSearchMassIndexing">Support for Hibernate Search mass indexing</a></h2>

<p class="wikiPara">
When using Hibernate Search in conjunction with Hibernate OGM,
you could not index entities using the MassIndexer.
</p>

<p class="wikiPara">
This is now fixed and we are back to an efficient indexing.
</p>

<h2 class="wikiHeadline2" id="H-Next"><a href="/Bloggers/HibernateOGM4Beta3IsOut#H-Next">Next</a></h2>

<p class="wikiPara">
Expect more regular releases from us from now on.
We forgot our release early, release often mantra but that has to
stop!
</p>

<p class="wikiPara">
As an example, expect support for Neo4J as well as the ability
to pass native queries (for example to MongoDB) and retrieve managed objects.
</p>


<h2 class="wikiHeadline2" id="H-HowToTryIt"><a href="/Bloggers/HibernateOGM4Beta3IsOut#H-HowToTryIt">How to try it</a></h2>

<p class="wikiPara">
You can take a <a href="http://www.hibernate.org/subprojects/ogm/docs.html" target="" class="regularLink">look at the documentation</a> or check how you can <a href="http://www.hibernate.org/subprojects/ogm/download" target="" class="regularLink">download Hibernate OGM 4.0.0.Beta3</a>.
</p>

<p class="wikiPara">
Many thanks to all the contributors that made this release possible whether it be via pull requests, bug reports or feedback on the forum.</p>
</div>
