---
title: "Hibernate OGM 4.1.0.Beta5 is out: JP-QL queries for Neo4j and more"
author: "Davide D'Alto"
blogger_name: "Davide"
creation_date: "10-07-2014"
tags: [Hibernate,Hibernate OGM,news]

relative_url: /2014/07/10/hibernate-ogm-410-beta-5-is-out-jpql-queries-for-neo-4-j-and-more
slug: hibernate-ogm-410-beta-5-is-out-jpql-queries-for-neo-4-j-and-more
lace: http://in.relation.to/27957.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2014/07/10/hibernate-ogm-410-beta-5-is-out-jpql-queries-for-neo-4-j-and-more
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
It's my pleasure to announce a new release of Hibernate OGM.
</p>

<p class="wikiPara">
Hibernate OGM can now convert JP-QL queries into cypher queries when working with Neo4j. We improved the JSON representation used for associations in CouchDB and MongoDB making it more concise.
We also worked on several bug fixes and improvements under the hood, you can <a href="https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10160&amp;version=16952" target="" class="regularLink">read more about it in the release note</a>.
</p>

<p class="wikiPara">
As always, you can either download a <a href="http://sourceforge.net/projects/hibernate/files/hibernate-ogm/4.1.0.Beta5/" target="" class="regularLink">release bundle</a> from SourceForge or retrieve the JARs from the JBoss Nexus <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/ogm/" target="" class="regularLink">repository server</a> using Maven, Gradle etc. The GAV coordinates are:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">org.hibernate.ogm:hibernate-ogm-core:4.1.0.Beta5</i> for the OGM engine and</li>
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">org.hibernate.ogm:hibernate-ogm-&lt;datastore&gt;:4.1.0.Beta5</i>, depending on the backend you want to use.</li>
</ul>

<h2 class="wikiHeadline2" id="H-FromJPQLToCypher"><a href="/2014/07/10/hibernate-ogm-410-beta-5-is-out-jpql-queries-for-neo-4-j-and-more#H-FromJPQLToCypher">From JP-QL to Cypher</a></h2>

<p class="wikiPara">
For example, if you execute the following JP-QL query:
</p>

<pre class="wikiPreformatted brush: java">from Hypothesis h where h.author IN ('alma', 'alfred')
</pre>


<p class="wikiPara">
OGM will execute the following Cypher query on Neo4j:
</p>

<pre class="wikiPreformatted brush: java">MATCH (h:Hypothesis) WHERE ANY(_x_ IN ["alma", "alfred"] WHERE h.author = _x_) RETURN h
</pre>


<p class="wikiPara">
The following subset of JP-QL constructs is available at the moment:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> simple comparisons</li>
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">IS NULL</i> and <i class="wikiEmphasis">IS NOT NULL</i>
</li>
<li class="wikiUnorderedListItem"> the boolean operators <i class="wikiEmphasis">AND</i>, <i class="wikiEmphasis">OR</i>, <i class="wikiEmphasis">NOT</i>
</li>
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">LIKE</i>, <i class="wikiEmphasis">IN</i> and <i class="wikiEmphasis">BETWEEN</i>
</li>
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">ORDER BY</i>
</li>
</ul>

<h2 class="wikiHeadline2" id="H-MoreNaturalMappingForAssociationsInMongoDBAndCouchDB"><a href="/2014/07/10/hibernate-ogm-410-beta-5-is-out-jpql-queries-for-neo-4-j-and-more#H-MoreNaturalMappingForAssociationsInMongoDBAndCouchDB">More natural mapping for associations in MongoDB and CouchDB</a></h2>

<p class="wikiPara">
In the previous releases, an entity with an association looked something like the following JSON:
</p>

<pre class="wikiPreformatted brush: java">{
   "_id": "4f5b48ad",
   ...
   "rows": [
       {
           "bankAccounts_id": "7873a2a7"
       }
   ]
}
</pre>

<p class="wikiPara">
We got rid of the name of the id in the <q>rows</q> field, this will now look like:
</p>

<pre class="wikiPreformatted brush: java">{
   "_id": "4f5b48ad",
   ...
   "rows": [
       {
           "7873a2a7"
       }
   ]
}
</pre>


<h2 class="wikiHeadline2" id="H-WhatsNext"><a href="/2014/07/10/hibernate-ogm-410-beta-5-is-out-jpql-queries-for-neo-4-j-and-more#H-WhatsNext">What's next?</a></h2>

<p class="wikiPara">
Some work on the Neo4j side is still required to make the mapping of the entities more natural. We also want to add caching in several places to improve performance (<a href="https://hibernate.atlassian.net/browse/OGM-541" target="" class="regularLink">OGM-541</a>, <a href="https://hibernate.atlassian.net/browse/OGM-515" target="" class="regularLink">OGM-515</a>, <a href="https://hibernate.atlassian.net/browse/OGM-522" target="" class="regularLink">OGM-522</a>).
</p>

<p class="wikiPara">
We are also discussing about a solution for <a href="https://hibernate.atlassian.net/browse/OGM-465" target="" class="regularLink">the generation of error reports with the failed operations on non-transactional db</a>. 
</p>

<p class="wikiPara">
You're very welcome to raise your voice on the <a href="https://lists.jboss.org/mailman/listinfo/hibernate-dev" target="" class="regularLink">mailing list</a>, ask questions in <a href="https://forum.hibernate.org/viewforum.php?f=31" target="" class="regularLink">the forum</a> or report any bugs or feature requests in the <a href="https://hibernate.atlassian.net/browse/OGM" target="" class="regularLink">issue tracker</a>.
</p>
</div>

