---
title: "Hibernate OGM 4.2 Final is out"
author: "Davide D'Alto"
blogger_name: "Davide"
creation_date: "02-06-2015"
original_tags: [Hibernate,Hibernate OGM,News]
tags: [Hibernate OGM]

relative_url: /2015/06/02/hibernate-ogm-42-final-is-out
slug: hibernate-ogm-42-final-is-out
lace: http://in.relation.to/42822.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2015/06/02/hibernate-ogm-42-final-is-out
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
After several months of hard work, I'm happy to announce the next final release of Hibernate OGM: 4.2.
</p>

<h3 class="wikiHeadline3" id="H-WhatsNew"><a href="/2015/06/02/hibernate-ogm-42-final-is-out#H-WhatsNew">What's new?</a></h3>

<p class="wikiPara">
Compared to <a href="http://in.relation.to/Bloggers/FirstHibernateOGMReleaseAka41Final" target="" class="regularLink">4.1 Final</a>, this version includes:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://in.relation.to/Bloggers/HibernateOGMErrorHandlingOnNontransactionalNoSQLStores" target="" class="regularLink">API for retrieving all executed and failed datastore operations</a>,</li>
<li class="wikiUnorderedListItem"> preview for <a href="http://cassandra.apache.org" target="" class="regularLink">Apache Cassandra</a> support,</li>
<li class="wikiUnorderedListItem"> <a href="https://github.com/fakemongo/fongo" target="" class="regularLink">Fongo</a> support,</li>
<li class="wikiUnorderedListItem"> new built-in types for boolean mapping,</li>
<li class="wikiUnorderedListItem"> <a href="http://docs.mongodb.org/manual/replication/" target="" class="regularLink">Support for MongoDB 3 and MongoDB replica sets</a>
</li>
<li class="wikiUnorderedListItem"> HQL support improvements and bug fixes,</li>
<li class="wikiUnorderedListItem"> bug fixes related to the mapping of embedded properties,</li>
<li class="wikiUnorderedListItem"> at least JDK 7 is required, more details <a href="https://developer.jboss.org/wiki/HibernateOGMMigrationNotes" target="" class="regularLink">in the migration notes</a>
</li>
</ul>

<p class="wikiPara">
You can find more details for each one of them in our previous posts about release <a href="http://in.relation.to/Bloggers/HibernateOGMTimes2413And42Beta1Released" target="" class="regularLink">4.2 Beta1</a>
and <a href="http://in.relation.to/Bloggers/CassandraSupportQueryImprovementsMoreBuiltinTypesHibernateOGM420CR1IsOut" target="" class="regularLink">4.2 CR1</a>. 
</p>

<p class="wikiPara">
A list of all resolved issues is available in the <a href="https://hibernate.atlassian.net/jira/secure/ReleaseNote.jspa?projectId=10160&amp;version=16953" target="" class="regularLink">release notes</a> (you can also find the one for <a href="https://hibernate.atlassian.net/jira/secure/ReleaseNote.jspa?projectId=10160&amp;version=16953" target="" class="regularLink">4.2.CR1 </a> and the one for <a href="https://hibernate.atlassian.net/jira/secure/ReleaseNote.jspa?projectId=10160&amp;version=19050" target="" class="regularLink">4.2.Beta1</a>).
</p>

<h3 class="wikiHeadline3" id="H-HowCanIGetIt"><a href="/2015/06/02/hibernate-ogm-42-final-is-out#H-HowCanIGetIt">How can I get it?</a></h3>

<p class="wikiPara">
You can download Hibernate OGM 4.2.0.Final from <a href="http://sourceforge.net/projects/hibernate/files/hibernate-ogm/4.2.0.Final/" target="" class="regularLink">SourceForge</a> or via Maven, Gradle etc., using the following GAV coordinates:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">org.hibernate.ogm:hibernate-ogm-core:4.2.0.Final</i> for the Hibernate OGM engine and</li>
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">org.hibernate.ogm:hibernate-ogm-&lt;%DATASTORE%&gt;:4.2.0.Final</i>, depending on the backend you want to use.</li>
</ul>

<h3 class="wikiHeadline3" id="H-ImNewToHibernateOGMWhereShouldIStart"><a href="/2015/06/02/hibernate-ogm-42-final-is-out#H-ImNewToHibernateOGMWhereShouldIStart">I’m new to Hibernate OGM, where should I start?</a></h3>

<p class="wikiPara">
If you are not familiar with Hibernate OGM, most of what you need is available in <a href="http://ogm.hibernate.org" target="" class="regularLink">our web site</a>.
There is a <a href="http://hibernate.org/ogm/documentation/getting-started/" target="" class="regularLink">getting started guide</a> and the more complete <a href="http://docs.jboss.org/hibernate/ogm/4.2/reference/en-US/html_single/" target="" class="regularLink">reference  documentation</a>.
And last but not least, for any help or feedback, reach us via our <a href="https://forum.hibernate.org/viewforum.php?f=31" target="" class="regularLink">forum</a> or via <a href="http://hibernate.org/community/" target="" class="regularLink">IRC</a>.
</p>

<h3 class="wikiHeadline3" id="H-WhatsNext"><a href="/2015/06/02/hibernate-ogm-42-final-is-out#H-WhatsNext">What’s next?</a></h3>

<p class="wikiPara">
We have <a href="http://hibernate.org/ogm/roadmap/" target="" class="regularLink">plenty of ideas</a>:
migrate to Hibernate ORM 5, custom types, new datastores, denormalization engine, and more.
You can influence what we are going to include in the next release letting us hear your voice with feedback, questions or ideas.
</p>

<p class="wikiPara">
Many thanks to all the people that helped us make this release possible.
</p>
</div>

