---
title: "Books for free..."
author: "Christian Bauer"
blogger_name: "Christian"
creation_date: "02-02-2004"
tags: []

relative_url: /2004/02/02/BooksForFree
slug: BooksForFree
lace: http://in.relation.to/1228.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2004/02/02/BooksForFree
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
This is a reply on the Hibernate forum, read the <a href="http://forum.hibernate.org/viewtopic.php?p=2188100" target="" class="regularLink">full thread </a> for the context.
</p>

<p class="wikiPara">
As some noticed, I'm a bit impulsive about that kind of thing right now. We get one question a day, sometimes
friendly, sometimes not so friendly, if we could just set up the book (Hibernate in Action) for free download
or simply send it over.
</p>

<p class="wikiPara">
Don't take it personal if I'm getting annoyed about that. It's sometimes just embarrassing when someone gives
you the feeling that you owe them something, just because they use Hibernate. I'd like to explain why its
not about the money for the book.
</p>

<p class="wikiPara">
First, and that is really my own personal opinion, a professional Java developer should have enough money
for whatever book in any case. Books are important, read at least one each month, better two. I don't buy
any of that offshore jobs talk, but knowledge is the only thing that keeps you in business. I don't want to
discuss $5 Amazon shipping costs about that.
</p>

<p class="wikiPara">
Now I'd like to start a little rant here, so you better stop reading if you are not in the mood :)
</p>

<p class="wikiPara">
Our software is free, our documentation is of course free, and we will always provide free support on a personal
level in this forum, and whenever we think it is needed.
</p>

<p class="wikiPara">
I also think that our software and the whole project shows that we are serious about what we are doing. We
worked many nights and weekends last year. Gavin and me quit our jobs to make this possible. Max, David,
Steve, Emmanuel spend hours a day after work, writing interesting things and answering questions
(now up to 120/day) on the forum.
</p>

<p class="wikiPara">
We really believe in professional open source as a business model in the software sector. Actually I'm now also
employed by JBoss Group. We have two people working fulltime on Hibernate.
</p>

<p class="wikiPara">
How do we earn our salary?
</p>

<p class="wikiPara">
With open source, there are no license fees. This is great for developers, as they can sell the software they'd
like to use to their project managers and accountants easily. Well, of course only if all the other qualities
are right:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> good software</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> good documentation and free support</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> commercial support (risk management)</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> nice extras</li>
</ul>


<p class="wikiPara">
A successful vendor of closed software can provide the second for free, but you have to pay for the other three
most of the time. Sometimes its hidden, sometimes not. The situation is quite different with an open source
software project. First, there are no hidden costs, because you actually can't hide anything. Second, we as software
developers don't like hiding any costs somewhere, we are not good with that kind of thing. It's much easier to tell
people what they need and what it costs upfront. I also like the look on peoples faces if you <q>admit</q> that
Hibernate solves only 95% of their problems, not 100! Shocking! The truth!
</p>

<p class="wikiPara">
It's hard to break with the traditions and I remember the early Linux days when it was first used used
commercially. You actually had to tell people that free software is good because they don't pay money for
licenses. They wouldn't believe you, just don't ask for a (real) reason. Usually they expected some hidden costs
in the other three items and simply denied that it was any good at all.
</p>

<p class="wikiPara">
Sometimes, I think it was too much propaganda back then, now everyone expects everything for free!
</p>

<p class="wikiPara">
To support a business, some revenue must be made from at least one of the four elements I listed.
</p>

<p class="wikiPara">
I'm not talking about the book, because that really doesn't pay. I think most people know that books don't pay in
the end, at least if your name is not Fowler or Bloch. Why do we write it then? It helps us to get more
people (and therefore ideas and opinions) into Hibernate, and we can finally write down some thoughts we can't
express in any other medium.
</p>

<p class="wikiPara">
And yes, we also hope that it will help us to grow the Hibernate business. Thats our job. There is no professional
quality without that background, or at least not for a long period of time.
</p>

<p class="wikiPara">
Hibernate is naturally a very open project driven by the users. This will not change, no matter what our business
model is. We think that listening to users and balancing requests is the heart of the project, it is the
reason why people like it and why it works(tm).
</p>
</div>
