---
title: "Hibernate3 ready for testing after 1000 days"
author: "Christian Bauer"
blogger_name: "Christian"
layout: blog-post
tags: []
slug: Hibernate3ReadyForTestingAfter1000Days
lace: http://in.relation.to/1305.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/Hibernate3ReadyForTestingAfter1000Days">Hibernate3 ready for testing after 1000 days</a>
                    </h1>
</div>
<p class="wikiPara">
<a href="http://www.hibernate.org" target="" class="regularLink">Hibernate3 </a> is now ready for a public test, go get it! It has all (well almost all) features we'll ever need for object/relational mapping, and if it doesn't have it, it's easy to subclass, extend, and implement. 
</p>

<p class="wikiPara">
We still have some things left on our TODO for the beta (no release date yet on the final), but it's getting better every day and we might have a very stable first beta.  If you want to help, we are still looking for documentation translators.
</p>

<p class="wikiPara">
Incidentally, the Hibernate project is now 1000 days old, if you believe the SourceForge <a href="http://sourceforge.net/project/stats/index.php?report=months&amp;group_id=40712" target="" class="regularLink">stats </a>.  We actually had the Hibernate3 alpha finished for the anniversary, but then Gavin's laptop didn't agree with its owner anymore. At least it was an excuse to finish some website redesign.
</p>

<p class="wikiPara">
P.S. The first copies of <a href="http://www.manning.com/bauer" target="" class="regularLink">Hibernate in Action </a> arrived! Mine was sent to an old address (thats the problem if you need years to finish something) and I'm going to hunt it down now. I already received a <q>Thank You!</q> email from the finder...
</p>
</div>
