---
title: "Finally final review"
author: "Christian Bauer"
blogger_name: "Christian"
creation_date: "01-07-2004"
original_tags: []
tags: []

relative_url: /2004/07/01/finally-final-review
slug: finally-final-review
lace: http://in.relation.to/1251.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2004/07/01/finally-final-review
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I finally got the comments from our <q>Hibernate in Action</q> reviewers back, so it's
time to give everyone an update on the current state. First, thanks to all of
you guys for your feedback. We really appreciate the many hours you spent reading
and commenting on the book. As one of you said: A good book is only possible with
excellent reviewers.
</p>

<p class="wikiPara">
Your feedback (and the overall response so far) was very positive, so we soon have
a great Hibernate manual for everyone. Some of the minor things you found will be fixed
immediately, as we go now in copyedit and typesetting (and then, finally to press).
</p>

<p class="wikiPara">
The current schedule is to have Chapter 1 on the Manning Early Access Program next
week. For all of you that don't know the process: With MEAP, you can get the chapters
of a Manning book while it's finalized. This means you get PDFs just after typesetting
and after some weeks, when all chapters are ready to print (remember that at the same
time the copyeditor has to proofread everything), you will get a hardcopy of the
finished book too. I'll give you an update as soon as we have something to show.
</p>

<p class="wikiPara">
I'm still busy fixing code bugs in our examples and most importantly, finishing
the example application. We also use this example app in our Hibernate
<a href="http://www.hibernate.org/175.html" target="" class="regularLink">public training </a>, so expect some very interesting
mapping techniques and Hibernate tricks. I'll have to add some kind of presentation
layer on top, but I wasn't really happy with the WebWork2/Hibernate demo app we
built earlier this year (WW2 needs documentation). I have to get back into web frameworks
now (poor me), an area I successfully avoided for more than a year. I think I should
give Tapestry a look, as it is at least properly documented. Any recommendations?
No, not Struts!
</p>
</div>

