---
title: "Updated CaveatEmptor with DAO pattern and Nested Set"
author: "Christian Bauer"
blogger_name: "Christian"
layout: blog-post
tags: []
slug: UpdatedCaveatEmptorWithDAOPatternAndNestedSet
lace: http://in.relation.to/1344.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/UpdatedCaveatEmptorWithDAOPatternAndNestedSet">Updated CaveatEmptor with DAO pattern and Nested Set</a>
                    </h1>
</div>
<p class="wikiPara">
As promised, a current snapshot of my work on Hibernate in Action, second edition. The
<a href="http://caveatemptor.hibernate.org/2.html" target="" class="regularLink">CaveatEmptor alpha2 release </a> has some quite
interesting new examples:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> New DAO pattern based on JDK 5.0 generics</li>
</ul>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> First implementation of a Nested Set model for tree-structured read-mostly data</li>
</ul>


<p class="wikiPara">
I'll blog about both later this week. Progress on the second edition of HiA is good
but there is just so much new material to write about (esp. annotation mappings).
Let's see if we can keep the <q>early Q4</q> release date.
</p>
</div>
