---
title: "Hibernate in Action Second Edition and EJB3"
author: "Christian Bauer"
creation_date: "03-07-2005"
blogger_name: "Christian"
layout: blog-post
tags: []
slug: HibernateInActionSecondEditionAndEJB3
lace: http://in.relation.to/1323.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The first edition of <a href="http://www.manning.com/" target="" class="regularLink">Hibernate in Action </a> has spread quite successfully. On
training or consulting somewhere on-site I often see people with a copy on their desk.
And it has proven to be invaluable to me (and others at JBoss) bringing a few copies
along every-time. There is simply no better additional training material than a professionally
edited full-length book. The only downside is that it is only covering Hibernate 2.x.
</p>

<p class="wikiPara">
Soon after the release of Hibernate in Action about a year ago we thought about
an update. After all, development on Hibernate3 had already started and we knew that interesting
stuff would happen in EJB3 persistence as well. I've mentioned a second edition a few times on the
forum but we haven't been very specific about release dates and new or updated content - hence
this blog entry to keep everybody up-to-date. The reason why we were quiet for some time is that
we simply had to finish Hibernate3 first, an effort that was completed only a few months ago. But also the
EJB3 specification and its influence on Hibernate had to be watched before we could start
updating the book. Since Hibernate 3.0 is now long stable and even 3.1 is already on the horizon,
and with EJB 3.0 available in public draft, we can continue updating the manuscript for
Hibernate in Action, Second Edition.
</p>

<p class="wikiPara">
I guess most of you first want to know when it is going to be available. Both Hibernate 3.1 and
EJB 3.0 are being finalized (despite the current alpha tag on Hibernate 3.1, it's soon feature
complete and not a <q>big</q> release anyway) but some things might still change. Usually these <q>minor</q>
changes have not much impact on development but can make whole sections of documentation obsolete.
After discussing the issue with our editor and publisher at Manning, we think that the updated
edition can be available end of September 2005, or early in Q4. As always, the eBook edition
might be available earlier than the print version.
</p>

<p class="wikiPara">
We'll update the book for Hibernate3 and EJB3, and based on the feedback we got from readers
and during training (our first <a href="http://www.hibernate.org/175.html" target="" class="regularLink">Hibernate training </a> last year was following the books structure) we'll make
some major changes:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> the <q>Toolset</q> chapter will be removed and integrated into a new beginners tutorial that also shows the new Eclipse-based and Ant tools, with a hands-on basic project setup</li>
</ul>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> a new chapter will be added with best practices, patterns, and general tips &amp; tricks - this will include a lot of FAQs from the forum and our customers, such as caching tricks, metadata-driven applications, dealing with large values, complex deployment scenarios, etc.</li>
</ul>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> more illustrations will be included with many mapping examples</li>
</ul>


<p class="wikiPara">
So, you can expect quite a lot of new content, especially wrt EJB3 API usage for all of you
who want to learn the new interfaces and lifecycle (it's easy if you know Hibernate...) and more
best practices.
</p>

<p class="wikiPara">
We also have an updated version of <a href="http://caveatemptor.hibernate.org" target="" class="regularLink">CaveatEmptor </a> for the second
edition. I've packaged an alpha release you can <a href="http://caveatemptor.hibernate.org/2.html" target="" class="regularLink">already download </a>.
It includes a complete mapping of the domain model with EJB3/Hibernate3 annotations and ready-to-run EJB3
persistence unit tests in straightforward J2SE, using <a href="http://entitymanager.hibernate.org" target="" class="regularLink">Hibernate EntityManager </a>
and <a href="http://annotations.hibernate.org" target="" class="regularLink">Hibernate Annotations </a>.
</p>

<p class="wikiPara">
I'll keep you updated here and release new versions of CaveatEmptor as I work on the manuscript.
</p>

<p class="wikiPara">
P.S. Don't miss the new <a href="http://www.jboss.com/docs/trailblazer" target="" class="regularLink">EJB3 TrailBlazer </a> tutorial for the
<a href="http://www.jboss.org/products/ejb3" target="" class="regularLink">JBoss EJB3 Application Server </a> and send feedback to the expert
group on the <a href="http://jcp.org/aboutJava/communityprocess/pr/jsr220/index.html" target="" class="regularLink">public draft </a>.
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'HibernateInActionSecondEditionAndEJB3';
    var disqus_title = 'Hibernate in Action Second Edition and EJB3';
    var disqus_url = 'http://in.relation.to/1323.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
