---
title: "Early access to Java Persistence with Hibernate book"
author: "Christian Bauer"
blogger_name: "Christian"
layout: blog-post
tags: []
slug: EarlyAccessToJavaPersistenceWithHibernateBook
lace: http://in.relation.to/1421.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/EarlyAccessToJavaPersistenceWithHibernateBook">Early access to Java Persistence with Hibernate book</a>
                    </h1>
</div>
<p class="wikiPara">
Finally, the Manning Early Access Program (MEAP) has the PDFs of /Java Persistence with Hibernate/ online. You can get access on the <a href="http://www.manning.com/bauer2/" target="" class="regularLink">book website</a>. Some caveats:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Manning used a draft from May/June 2006 to create the MEAP chapters. Since then these chapters went through reviews and edits, quite extensive actually. If you want to provide feedback, please note that any typos, code examples that don't match the illustrations, or even broken code examples are most likely already fixed. This makes this public review less useful than it could have been, but what can you do...</li>
</ul>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> If you know /Hibernate in Action/ you might be surprised that the first chapters are quite similar to what was in this old edition. This is normal, ORM is still ORM and POJOs are still POJOs, so much of that content hasn't changed (although it was certainly updated whenever necessary). Expect more interesting new stuff after chapter 4, there are 12 more left then.</li>
</ul>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Some terms are wrong in these older drafts, for example, I have used <q>entity bean</q> until June when I realized that Sun marketing wants to call these things <q>entities</q> now in EJB 3.0. Do a mental search and replace.</li>
</ul>


<p class="wikiPara">
I want to upload the source code and the examples for the Getting Started chapter as soon as possible, the main CavatEmptor source still needs some work though. Anyway, I will put the Getting Started on the CaveatEmptor website as soon as new releases of Hibernate, HAN, and HEM are out. Which should be any day now, so stay tuned. I'll post again next week.
</p>
</div>
