---
title: "Annotation bug fixed in next JDK 5.0 release"
author: "Christian Bauer"
blogger_name: "Christian"
creation_date: "26-01-2006"
original_tags: []
tags: []

relative_url: /2006/01/26/annotation-bug-fixed-in-next-jdk-50-release
slug: annotation-bug-fixed-in-next-jdk-50-release
lace: http://in.relation.to/1401.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2006/01/26/annotation-bug-fixed-in-next-jdk-50-release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I found a posting from Emmanuel with the following <a href="http://bugs.sun.com/bugdatabase/view_bug.do?bug_id=6322301" target="" class="regularLink">link to the JDK bug tracking system </a>.
</p>

<p class="wikiPara">
Let's say you annotated a class with Hibernate Annotations and made it an EJB 3.0 <tt>@Entity</tt> bean. Let's also assume that you wrote your own annotations, for whatever metadata you might need in your system. If you now try to discover your annotations through Reflection, you will also need the EJB 3.0 interfaces in your classpath, even if you don't access the EJB 3.0 annotations.
</p>

<p class="wikiPara">
It looks like this was fixed and will soon be included in a JDK update release.
</p>
</div>

