---
title: "My stack of Hibernate books"
author: "Christian Bauer"
blogger_name: "Christian"
layout: blog-post
tags: []
slug: MyStackOfHibernateBooks
lace: http://in.relation.to/1441.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/MyStackOfHibernateBooks">My stack of Hibernate books</a>
                    </h1>
</div>
<p class="wikiPara">
The UPS guy just came and brought me a heavy package. So I had to take a picture of the whole stack on my shelf, with the new one on top (of course!):
</p>

<p class="wikiPara">
<a href="/service/File/2241" target="" class="regularLink"><img src="/service/File/2241?thumbnail=true"></a>
</p>

<p class="wikiPara">
That ought to be enough documentation for a while.
</p>
</div>
