---
title: "Hibernate: 2 Million Downloads + 5 Years = 25 Books"
author: "Christian Bauer"
blogger_name: "Christian"
creation_date: "27-11-2006"
tags: []

relative_url: /2006/11/27/Hibernate2MillionDownloads5Years25Books
slug: Hibernate2MillionDownloads5Years25Books
lace: http://in.relation.to/1438.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2006/11/27/Hibernate2MillionDownloads5Years25Books
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Happy Birthday Hibernate! Now that the first copies of <a href="http://www.manning.com/bauer2" target="" class="regularLink">Java Persistence with Hibernate</a> are shipping (still waiting for mine though), the first people who should get one are Hibernate contributors. Manning Publications sponsors 25 copies of the book, and we'll distribute them in exchange for 25 Hibernate forum credits. See <a href="http://www.hibernate.org/401.html" target="" class="regularLink">this page</a> for details.
</p>

<p class="wikiPara">
Also, I'm not sure I promised Gavin to never show this, but this is how the Hibernate website looked like five years ago: <a href="/assets/hibernate_oldwebsite.gif" target="" class="regularLink">Old Hibernate Website</a>
</p>

<p class="wikiPara">
Say what you want about the look of the page, some of that content is still here today unchanged. Good stuff.
</p>
</div>
