---
title: "Java Persistence with Hibernate"
author: "Christian Bauer"
blogger_name: "Christian"
creation_date: "24-05-2006"
original_tags: []
tags: []

relative_url: /2006/05/24/java-persistence-with-hibernate
slug: java-persistence-with-hibernate
lace: http://in.relation.to/1404.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2006/05/24/java-persistence-with-hibernate
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
No /Hibernate in Action/ anymore. It has been a while since my last update on the book status, so here is a heads up. A lot of things happened in the past three months:
</p>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> The planned Hibernate in Action /Second Edition/ was more than a second edition. There was so much new content to write and add that we could no longer call it a new <q>edition</q>. It is now a new book with more than 90% new content, compared to Hibernate in Action, and with a new name, /Java Persistence with Hibernate/.</li>
</ul>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> The beast is currently at 700 pages, with the last chapter still incomplete. In printed form we expect it to be somehwere between 750 and 800 pages. This is mostly due to two factors. A) Hibernate 3.x has just so much more features than Hibernate 2.x and we wanted to have all of them in the book. B) Java Persistence described in parallel, with all annotation mappings, EntityManager and so on - they are all very similar to Hibernate native, but it needs space.</li>
</ul>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> The book will be published by Manning, we also have a <a href="http://www.manning.com/bauer2" target="" class="regularLink">book page and a cover</a>. We will post a TOC on that page soon.</li>
</ul>


<p class="wikiPara">
The Manning book page currently says <q>publishing date November 2006</q>. I think we can do better than that, we are actually in the last stage of reviews and should go into copy edit and production in a matter of weeks. I know that a lot of you wanted to have this earlier, but there was just too much to write. Also, things like the removal of FlushMode.NEVER from the JPA specification (well done, Oracle) forced me to rewrite dozens of pages  and introduce application design based on auto-commit mode. Now that the specification is final, I could commit and stabilize these sections.
</p>

<p class="wikiPara">
I will release another alpha or beta of CaveatEmptor and a sample chapter next week. Watch this space.
</p>
</div>

