---
title: "Java Persistence with Hibernate eBook available"
author: "Christian Bauer"
creation_date: "13-11-2006"
blogger_name: "Christian"
layout: blog-post
tags: []
slug: JavaPersistenceWithHibernateEBookAvailable
lace: http://in.relation.to/1432.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
After an extensive and quite challenging editing period, the 880 pages update to /Hibernate in Action/ is now available. You can get the eBook on the <a href="http://www.hibernate.org/beamto.php?action=beam&amp;beam_id=13" target="" class="regularLink">Manning website</a>. The book is currently being printed and should soon (I guess in about two weeks) be shipped to all MEAP subscribers and resellers such as Amazon.
</p>

<p class="wikiPara">
A sample chapter (<q>Starting a project</q>) can be downloaded <a href="http://www.manning.com/bauer2/chapter2.pdf" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
The source code of the example application has also been updated and is available on the <a href="http://caveatemptor.hibernate.org/" target="" class="regularLink">CaveatEmptor website</a>.
</p>
</div>
