---
title: "Annotation bug fixed in next JDK 5.0 release"
author: "Christian Bauer"
creation_date: "26-01-2006"
blogger_name: "Christian"
layout: blog-post
tags: []
slug: AnnotationBugFixedInNextJDK50Release
lace: http://in.relation.to/1401.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I found a posting from Emmanuel with the following <a href="http://bugs.sun.com/bugdatabase/view_bug.do?bug_id=6322301" target="" class="regularLink">link to the JDK bug tracking system </a>.
</p>

<p class="wikiPara">
Let's say you annotated a class with Hibernate Annotations and made it an EJB 3.0 <tt>@Entity</tt> bean. Let's also assume that you wrote your own annotations, for whatever metadata you might need in your system. If you now try to discover your annotations through Reflection, you will also need the EJB 3.0 interfaces in your classpath, even if you don't access the EJB 3.0 annotations.
</p>

<p class="wikiPara">
It looks like this was fixed and will soon be included in a JDK update release.
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'AnnotationBugFixedInNextJDK50Release';
    var disqus_title = 'Annotation bug fixed in next JDK 5.0 release';
    var disqus_url = 'http://in.relation.to/1401.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
