---
title: "Hibernate 3.2, Java Persistence provider final released"
author: "Christian Bauer"
creation_date: "16-10-2006"
blogger_name: "Christian"
layout: blog-post
tags: []
slug: Hibernate32JavaPersistenceProviderFinalReleased
lace: http://in.relation.to/1430.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The Hibernate developer team released Hibernate 3.2.0 GA today, this release is now ready for production use. Please read the migration guidelines if you are upgrading from an earlier version. 
</p>

<p class="wikiPara">
In addition to Hibernate Core, final releases of the Java Persistence provider are now available with Hibernate Annotations and Hibernate EntityManager. The Hibernate Java Persistence provider has been certified with the Sun TCK. You can use the Java Persistence API and annotation metadata in any Java project, inside or outside any Java EE 5.0 application server. If you are upgrading from an earlier version of the Hibernate Java Persistence provider, please see the migration guidelines. 
</p>

<p class="wikiPara">
We'd like to thank all contributors and users for their issue reports! 
</p>

<p class="wikiPara">
<a href="http://www.hibernate.org/6.html" target="" class="regularLink">Download the latest releases... </a>
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'Hibernate32JavaPersistenceProviderFinalReleased';
    var disqus_title = 'Hibernate 3.2, Java Persistence provider final released';
    var disqus_url = 'http://in.relation.to/1430.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
