---
title: "Chapter 2 source for Java Persistence with Hibernate"
author: "Christian Bauer"
blogger_name: "Christian"
creation_date: "20-09-2006"
tags: []

relative_url: /2006/09/20/Chapter2SourceForJavaPersistenceWithHibernate
slug: Chapter2SourceForJavaPersistenceWithHibernate
lace: http://in.relation.to/1429.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2006/09/20/Chapter2SourceForJavaPersistenceWithHibernate
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Had some time to package the Getting Started example code and put it on the
<a href="http://caveatemptor.hibernate.org" target="" class="regularLink">CaveatEmptor Website</a>. So all you MEAP
readers have something you can actually run without copy/pasting from the
PDFs. I should probably mention that the unedited draft you are reading with
MEAP is not completely in sync with the code I just packaged. Well, mostly the
Ant build files are a little different, so that shouldn't be a big problem.
</p>

<p class="wikiPara">
Working on the CaveatEmptor main application package now, hopefully ready in a
week or two. 
</p>
</div>
