---
title: "Hibernate 3.2, Java Persistence provider final released"
author: "Christian Bauer"
blogger_name: "Christian"
creation_date: "16-10-2006"
tags: []

absolute_url: http://in.relation.to/2006/10/16/Hibernate32JavaPersistenceProviderFinalReleased
lace: http://in.relation.to/1430.lace
slug: Hibernate32JavaPersistenceProviderFinalReleased

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The Hibernate developer team released Hibernate 3.2.0 GA today, this release is now ready for production use. Please read the migration guidelines if you are upgrading from an earlier version. 
</p>

<p class="wikiPara">
In addition to Hibernate Core, final releases of the Java Persistence provider are now available with Hibernate Annotations and Hibernate EntityManager. The Hibernate Java Persistence provider has been certified with the Sun TCK. You can use the Java Persistence API and annotation metadata in any Java project, inside or outside any Java EE 5.0 application server. If you are upgrading from an earlier version of the Hibernate Java Persistence provider, please see the migration guidelines. 
</p>

<p class="wikiPara">
We'd like to thank all contributors and users for their issue reports! 
</p>

<p class="wikiPara">
<a href="http://www.hibernate.org/6.html" target="" class="regularLink">Download the latest releases... </a>
</p>
</div>
