---
title: "My stack of Hibernate books"
author: "Christian Bauer"
blogger_name: "Christian"
creation_date: "29-11-2006"
tags: []

absolute_url: http://in.relation.to/2006/11/29/MyStackOfHibernateBooks
lace: http://in.relation.to/1441.lace
slug: MyStackOfHibernateBooks

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The UPS guy just came and brought me a heavy package. So I had to take a picture of the whole stack on my shelf, with the new one on top (of course!):
</p>

<p class="wikiPara">
<a href="/service/File/2241" target="" class="regularLink"><img src="/service/File/2241?thumbnail=true"></a>
</p>

<p class="wikiPara">
That ought to be enough documentation for a while.
</p>
</div>
