---
title: "New weblog is live"
author: "Christian Bauer"
blogger_name: "Christian"
layout: blog-post
tags: [Seam Wiki]
slug: NewWeblogIsLive
lace: http://in.relation.to/2238.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/NewWeblogIsLive">New weblog is live</a>
                    </h1>
</div>
<p class="wikiPara">
I just completed migration of the data from the old Hibernate weblog to the new site. This is actually the first <q>real</q> entry using the new software. Hurray!
</p>

<p class="wikiPara">
</p>
</div>
