---
title: "I want my free iPhone!"
author: "Christian Bauer"
blogger_name: "Christian"
creation_date: "20-09-2007"
tags: []

relative_url: /2007/09/20/IWantMyFreeIPhone
slug: IWantMyFreeIPhone
lace: http://in.relation.to/2382.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/09/20/IWantMyFreeIPhone
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
No, I really didn't get one. I think I deserve it, I'd even buy glasses and send my picture in for the ad. Actually, not interested if it's not a 3G iPhone.
</p>

<a href="http://www.t-mobile.de/iphone/mobiltelefon.jsp">
<img src="/images/2381.jpeg" width="466" height="364">
</a>
</div>
