---
title: "New weblog is live"
author: "Christian Bauer"
creation_date: "30-08-2007"
blogger_name: "Christian"
layout: blog-post
tags: [Seam Wiki]
slug: NewWeblogIsLive
lace: http://in.relation.to/2238.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I just completed migration of the data from the old Hibernate weblog to the new site. This is actually the first <q>real</q> entry using the new software. Hurray!
</p>

<p class="wikiPara">
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'NewWeblogIsLive';
    var disqus_title = 'New weblog is live';
    var disqus_url = 'http://in.relation.to/2238.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
