---
title: "Seam presentation video"
author: "Christian Bauer"
blogger_name: "Christian"
creation_date: "07-11-2007"
tags: [Seam]

relative_url: /2007/11/07/seam-presentation-video
slug: seam-presentation-video
lace: http://in.relation.to/2758.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/11/07/seam-presentation-video
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Two weeks ago I presented Seam at Grails eXchange in London. This presentation was recorded, unfortunately without the slides in the visible frame:
</p>

<div style="text-align:center">
<div id="j_id495:flashPluginDiv"><div id="j_id495:j_id496">
        <object width="400" height="326">
            <param name="movie" value="http://video.google.com/googleplayer.swf?docId=1030919232322118868&amp;hl=en-GB">
            <param name="wmode" value="transparent">
            <param name="allowFullScreen" value="true">
            <embed src="http://video.google.com/googleplayer.swf?docId=1030919232322118868&amp;hl=en-GB" type="application/x-shockwave-flash" wmode="transparent" allowfullscreen="true" width="400" height="326">
           </embed>
        </object>
</div></div>
</div>

<p class="wikiPara">
The <a href="#seam-presentation-video_attachment1" target="" class="regularLink">attached slide deck[1]</a> from September is almost the same as the one I used in the video. I guess the slides are actually more interesting than watching me walk around a table. Hm, I could find out how to cut a slide + audio version with the new iMovie... 
</p>

<p class="wikiPara">
I need to mention that I spent more time on JSF and EJB3 than usual because nobody in the room knew much about them (it was a Grails conference, after all). So if you just want to know something about Seam - and again, all quite basic - skip half an hour into the video.
</p>
</div>

<div class="attachments">
<h4>Attachments</h4>
<ol class="wikiOrderedList"><li class="wikiOrderedListItem"><a name="seam-presentation-video_attachment1" href="/assets/IntroductionToJBossSeam-Sept07.pdf">IntroductionToJBossSeam-Sept07.pdf</a></li>
</ol>
</div>

