---
title: "Java Persistence with Hibernate book available in German"
author: "Christian Bauer"
blogger_name: "Christian"
creation_date: "10-10-2007"
tags: [Books]

relative_url: /2007/10/10/JavaPersistenceWithHibernateBookAvailableInGerman
slug: JavaPersistenceWithHibernateBookAvailableInGerman
lace: http://in.relation.to/2576.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/10/10/JavaPersistenceWithHibernateBookAvailableInGerman
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Our book <q>Java Persistence with Hibernate</q> is now available in German. You can get it from <a href="http://www.hanser.de/buch.asp?isbn=978-3-446-40941-5" target="" class="regularLink">Hanser Verlag</a> and they also have an eBook edition available. This is a literal translation of the English original. However, to finish the translation faster we decided to cut the bonus chapter with the Seam introduction. Sorry folks, I will ask Manning if we can get this chapter published for free in the English original version. With Seam 2.0 approaching final release this is a bit outdated anyway.
</p>

<a href="http://www.hanser.de/buch.asp?isbn=978-3-446-40941-5">
<img src="/service/File/2575" width="150" height="181">
</a>

</div>

