---
title: "What NAS should I buy?"
author: "Christian Bauer"
creation_date: "21-11-2007"
blogger_name: "Christian"
layout: blog-post
tags: []
slug: WhatNASShouldIBuy
lace: http://in.relation.to/3099.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Someone asked on Slashdot <a href="http://ask.slashdot.org/article.pl?sid=07/11/21/141244" target="" class="regularLink">what NAS he should buy</a>. As usual, the clowns have a field day on the comments (even at threshold 5). The usual <q>You should not need one if you do foo</q>, <q>Why add a single point of failure</q>, and other Funny comments. I actually happen to have a NAS at home for more than a year. Here is what I wrote a year ago:
</p>

<p class="wikiPara">

</p>

<hr>

<div style="float:right; border-width: 1px; border-style: solid; border-color: gray; padding: 5px; margin-left: 15px; margin-bottom: 15px;">
<a href="/service/File/3098" target="" class="regularLink"><img src="/service/File/3098?thumbnail=true"></a>
</div>

<p class="wikiPara">
I needed more storage and after waiting months for prices to come down (I'm sure they will soon...) I decided to buy what was apparently the Mercedes of small NAS systems, the <a href="http://www.infrant.com/products/products_details.php?name=ReadyNAS%20NVPlus" target="" class="regularLink">Infrant ReadyNAS NV</a>. My decision was based on several reviews, the most accurate is probably <a href="http://www.tomsnetworking.com/2006/03/03/infrant_readynas_nv/" target="" class="regularLink">this one</a> on Toms Networking. The problem with reviews is always that reviewers focus on the wrong thing, or on something that doesn't interest you. For example, I don't care at all what the performance of the NAS is, and I don't think many home users (the target audience) should care. In the end it was the actual manual of the NAS that made the difference. I also found it interesting that Infrant does their own CPU, RAID controller, and board design, others seem to just throw Linux at some industrial ready-made board or use even software RAID. 
</p>

<p class="wikiPara">
So my review is going to be rather short but I'll give you the interesting details that really make you buy or hate a device like this.
</p>

<p class="wikiPara">
First, I want to be able to upgrade the NAS in two years down the road. I'm starting with 4 x 400 GB now, which in RAID5 leaves me with about 1200 GB net storage capacity. In two years I plan to throw in 4 x 750 GB or whatever is then affordable. I want to upgrade the disks without having to backup the data first. I'm surprised that no review of a home NAS is talking about such a feature, or at least highlighting it more. This is critical: home users don't have another 1 TB in cold standby to copy stuff to when they upgrade. They also can't afford to <q>just buy a completely new NAS</q> in two years, because these things are still really expensive considering what they do (I paid about 1300 EUR with 2 x 400 GB installed).
</p>

<p class="wikiPara">
The ReadyNAS NV has a smart RAID mode that upgrades your data on-the-fly to the higher levels, depending on how many disks you have installed. I started with 2 x 400 GB, automatically in RAID1. Once I plugged in the third 400 GB disk, the NAS migrated the volume to 800 GB RAID5 automatically (took a few hours). When I inserted the fourth 400 GB disk, I had 1200 GB in RAID5 ready. Consider upgrading: Remove a 400 GB disk and replace it with a 750 GB disk. The smart RAID setting will use only 400 GB of that disk. Replace all remaining three disks with higher capacity models. Once you replaced all, the whole RAID will upgrade and utilize the free space on the bigger disks. Perfect.
</p>

<p class="wikiPara">
What else is there to say about the ReadyNAS NV. It's very very small, barely larger than the 4 disks stacked, it is silent (no matter what the reviews tell you) and I have no problem having it next to my desk. The admin interface works great, every feature I tested worked (SMB, AFP, iTunes streaming server, permission system, etc.) great and without any issues.
</p>

<p class="wikiPara">
If I write a large file, I max out my 100 MBit network completely with about 8-10 Mb/s in SMB. Reading is the same. Smaller files are a little slower, but it's fast enough for everything I'm doing.
</p>

<p class="wikiPara">
Summary: The ReadyNAS NV is really the Mercedes of home NAS systems, at least I have absolutely no complaints about it and I'm perfectly happy with what it does and how it is designed (and that is rare).
</p>

<hr>

<p class="wikiPara">
Now, one year later, I have a few complaints. The machine still works fine and I would probably buy it again. However, the power supply died with a funny ozone smell about 5 months ago. If you search the Infrant forums, you will find other people with the same problem. So off I go, through the usual support channels, trying to get the unit fixed and the power supply replaced. Of course, this was the same time that Infrant was bought (for some 60 Mio cash) by Netgear. So, support suffered - big surprise. After several phone calls, and ping pong between Netgear and Infrant support, I finally figured that the easiest way was to send the unit back to the guy I bought it from, a local reseller in Switzerland. After four weeks it came back and it was working again. So I'm again happy with the NAS. Buy it, if you don't mind some support issues for the time being.
</p>

</div>
