---
title: "I want my free iPhone!"
author: "Christian Bauer"
blogger_name: "Christian"
layout: blog-post
tags: []
slug: IWantMyFreeIPhone
lace: http://in.relation.to/2382.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/IWantMyFreeIPhone">I want my free iPhone!</a>
                    </h1>
</div>
<p class="wikiPara">
No, I really didn't get one. I think I deserve it, I'd even buy glasses and send my picture in for the ad. Actually, not interested if it's not a 3G iPhone.
</p>

<a href="http://www.t-mobile.de/iphone/mobiltelefon.jsp">
<img src="/service/File/2381" width="466" height="364">
</a>
</div>
