---
title: "Seam presentation at Objekt Forum in Berlin"
author: "Christian Bauer"
blogger_name: "Christian"
creation_date: "06-09-2007"
tags: []

relative_url: /2007/09/06/seam-presentation-at-objekt-forum-in-berlin
slug: seam-presentation-at-objekt-forum-in-berlin
lace: http://in.relation.to/2294.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/09/06/seam-presentation-at-objekt-forum-in-berlin
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Yesterday I was in Berlin to present <a href="http://jboss.com/products/seam" target="" class="regularLink">JBoss Seam</a> at the <a href="http://www.andrena.de/ObjektForum/Veranstaltungen/78.html" target="" class="regularLink">Objekt Forum Nord</a>. 
</p>

<p class="wikiPara">
Good chats with some developers afterwards but unfortunately not much time - because I as always spent too much time explaining everything in German. It's funny how the more complex sentences and the repetition of some words in English and German can throw off your presentation timing. I usually calculate 2 minutes per slide on average. I rarely get to do presentations in German so I was surprised by this a few times. From now on I'm going to use 3 minutes for presentations in German, I promise :)
</p>

<p class="wikiPara">
Attached are <a href="#seam-presentation-at-objekt-forum-in-berlin_attachment1" target="" class="regularLink">the slides[1]</a> (all in English).</p>
</div>

<div class="attachments">
<h4>Attachments</h4>
<ol class="wikiOrderedList"><li class="wikiOrderedListItem"><a name="seam-presentation-at-objekt-forum-in-berlin_attachment1" href="/assets/IntroductionToJBossSeam-Sept07.pdf">IntroductionToJBossSeam-Sept07.pdf</a></li>
</ol>
</div>

