---
title: "New weblog is live"
author: "Christian Bauer"
blogger_name: "Christian"
creation_date: "30-08-2007"
tags: [Seam Wiki]

relative_url: /2007/08/30/new-weblog-is-live
slug: new-weblog-is-live
lace: http://in.relation.to/2238.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/08/30/new-weblog-is-live
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I just completed migration of the data from the old Hibernate weblog to the new site. This is actually the first <q>real</q> entry using the new software. Hurray!
</p>

<p class="wikiPara">
</p>
</div>

