---
title: "JBoss MC and AS 5.0 presentation at JUGS Zurich"
author: "Christian Bauer"
blogger_name: "Christian"
creation_date: "22-10-2007"
tags: []

relative_url: /2007/10/22/JBossMCAndAS50PresentationAtJUGSZurich
slug: JBossMCAndAS50PresentationAtJUGSZurich
lace: http://in.relation.to/2632.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/10/22/JBossMCAndAS50PresentationAtJUGSZurich
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Ales Justin and Mark Newton are going to present the new JBoss application server core and kernel <a href="http://www.jugs.ch/html/events/2007/jboss_microcontainer.html" target="" class="regularLink">on Thursday this week, at a meeting of the JBoss special interest group</a>. See you there.</p>
</div>
