---
title: "Generating pretty pictures from junk mail"
author: "Christian Bauer"
creation_date: "08-02-2008"
blogger_name: "Christian"
layout: blog-post
tags: []
slug: GeneratingPrettyPicturesFromJunkMail
lace: http://in.relation.to/3559.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
A friend just sent <a href="http://sq.ro/" target="" class="regularLink">this</a>, great pictures generated from malware, spam, random SQL, etc.</p>
</div>
