---
title: "RESTEasy support now available in Seam"
author: "Christian Bauer"
creation_date: "28-07-2008"
blogger_name: "Christian"
layout: blog-post
tags: [REST,RESTEasy,Seam,Seam News]
slug: RESTEasySupportNowAvailableInSeam
lace: http://in.relation.to/9213.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The <a href="http://wiki.jboss.org/wiki/RESTeasyJAXRS" target="" class="regularLink">RESTEasy</a> project is an implementation of <a href="http://jcp.org/en/jsr/detail?id=311" target="" class="regularLink">JAX-RS</a>. I've just committed <a href="http://fisheye.jboss.com/browse/Seam/trunk/doc/Seam_Reference_Guide/en-US/Webservices.xml?r=8505" target="" class="regularLink">the docs</a> for the first step of the integration into Seam. You need a <a href="http://hudson.jboss.org/hudson/job/seam-nightly/lastBuild/" target="" class="regularLink">nightly build</a> of Seam 2.1 trunk (wait until tomorrow for updated docs in the nightly build) or better a current SVN trunk checkout.
</p>

<p class="wikiPara">
Some of the integration highlights:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> No configuration files necessary, just drop the JARs into your classpath and deploy <tt>@Path</tt> annotated resources.</li>
<li class="wikiUnorderedListItem"> Fully integrated RESTEeasy configuration as regular Seam infrastructure component.</li>
<li class="wikiUnorderedListItem"> HTTP requests are served by Seam, no need for an external servlet.</li>
<li class="wikiUnorderedListItem"> Resources and providers can be Seam components (JavaBean or EJB), with full Seam injection, lifecycle, interception, and so on.</li>
</ul>

<p class="wikiPara">
We have some other items on the TODO list, see <a href="http://www.seamframework.org/Documentation/RESTfulApplicationsWithSeam" target="" class="regularLink">this wiki page</a>. If you have any ideas or suggestions you'd like to see for that integration, just edit the wiki page.
</p>

</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'RESTEasySupportNowAvailableInSeam';
    var disqus_title = 'RESTEasy support now available in Seam';
    var disqus_url = 'http://in.relation.to/9213.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
