---
title: "Generating pretty pictures from junk mail"
author: "Christian Bauer"
blogger_name: "Christian"
creation_date: "08-02-2008"
original_tags: []
tags: []

relative_url: /2008/02/08/generating-pretty-pictures-from-junk-mail
slug: generating-pretty-pictures-from-junk-mail
lace: http://in.relation.to/3559.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/02/08/generating-pretty-pictures-from-junk-mail
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
A friend just sent <a href="http://sq.ro/" target="" class="regularLink">this</a>, great pictures generated from malware, spam, random SQL, etc.</p>
</div>

