---
title: "Generating pretty pictures from junk mail"
author: "Christian Bauer"
blogger_name: "Christian"
creation_date: "08-02-2008"
tags: []

absolute_url: http://in.relation.to/2008/02/08/GeneratingPrettyPicturesFromJunkMail
lace: http://in.relation.to/3559.lace
slug: GeneratingPrettyPicturesFromJunkMail

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
A friend just sent <a href="http://sq.ro/" target="" class="regularLink">this</a>, great pictures generated from malware, spam, random SQL, etc.</p>
</div>
