---
title: "Generating pretty pictures from junk mail"
author: "Christian Bauer"
blogger_name: "Christian"
layout: blog-post
tags: []
slug: GeneratingPrettyPicturesFromJunkMail
lace: http://in.relation.to/3559.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/GeneratingPrettyPicturesFromJunkMail">Generating pretty pictures from junk mail</a>
                    </h1>
</div>
<p class="wikiPara">
A friend just sent <a href="http://sq.ro/" target="" class="regularLink">this</a>, great pictures generated from malware, spam, random SQL, etc.</p>
</div>
