---
title: "Fresh 1.0.0.Alpha1 - CLI for JBossAS "
author: "Christian Bauer"
blogger_name: "Christian"
layout: blog-post
tags: []
slug: Fresh100Alpha1CLIForJBossAS
lace: http://in.relation.to/11439.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/Fresh100Alpha1CLIForJBossAS">Fresh 1.0.0.Alpha1 - CLI for JBossAS </a>
                    </h1>
</div>
<p class="wikiPara">
I'm proud to present the initial version of Fresh, CLI for JBossAS.
</p>

<p class="wikiPara">
This is definitely not the only CLI developed under our roof (<a href="http://anonsvn.jboss.org/repos/jbossas/branches/Branch_5_x/adminclient/" target="" class="regularLink">see adminclient repository</a>) but it brings a ton of interesting stuff developed by the people who donated it, my friends from <a href="http://www.parsek.si" target="" class="regularLink">Parsek</a> company, Tomaz Cerar and Marko Strukelj (yes, the one who's responsible for vfszip :-)).
</p>

<p class="wikiPara">
This is the JIRA release issue, where you can learn more about it,
download the deployable artifact, etc
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://jira.jboss.org/jira/browse/FRESH-7" target="" class="regularLink">https://jira.jboss.org/jira/browse/FRESH-7</a>
</li>
</ul>

<p class="wikiPara">
A simple user guide can be found here
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.jboss.org/community/wiki/Fresh-JBossShell-GettingStartedGuide" target="" class="regularLink">http://www.jboss.org/community/wiki/Fresh-JBossShell-GettingStartedGuide</a>
</li>
</ul>

<p class="wikiPara">
Any additional ideas can be published here:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.jboss.org/community/wiki/Freshfeatureideas" target="" class="regularLink">http://www.jboss.org/community/wiki/Freshfeatureideas</a>
</li>
</ul>

<p class="wikiPara">
Basically the idea is to drop in the jboss-fresh.jar into deploy/
and then connect to it via ssh, port 2022.
Currently there is no user/pass, simply press Enter.
</p>

<p class="wikiPara">
Fresh is installed On_Demand, only ssh server deamon is fully installed 
at the beginning,
the rest kicks in when you first connect (thanks Bela for the tip).
</p>

<p class="wikiPara">
Marko and Tomaz already have plans to make this even better,
and I'll be there to help with some fancy MC tricks. :-)
</p>

<p class="wikiPara">
Enjoy, any feedback is welcome.
</p>

<p class="wikiPara">
ps: this was also posted on the <a href="http://lists.jboss.org/pipermail/jboss-development/2009-May/014409.html" target="" class="regularLink">jboss-dev mailing list</a>, so we can easily continue the discussion there
</p>


</div>
