---
title: "Are books tutorials?"
author: "Christian Bauer"
creation_date: "26-09-2009"
blogger_name: "Christian"
layout: blog-post
tags: [Books,Hibernate]
slug: AreBooksTutorials
lace: http://in.relation.to/12422.lace
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right; margin-left:15px;margin-bottom:15px">
<img src="http://in.relation.to/service/File/12424">
</div>

<p class="wikiPara">
I've picked up <a href="http://www.manning.com/dashorst/" target="" class="regularLink">Wicket in Action</a> last week and I've been reading without interrupting myself so far. So now I'm reading chapter 6 and I haven't written a single line of Wicket code. It's not the first time this happened, most of my books I've read once and never tried any of the code samples.
</p>

<p class="wikiPara">
Last week Gavin called me and we talked about the next edition of <q>Hibernate in Action</q>, which actually would be the second edition of <a href="http://www.manning.com/bauer2/" target="" class="regularLink">Java Persistence with Hibernate</a>. Now that <a href="http://jcp.org/en/jsr/detail?id=317" target="" class="regularLink">JPA2 is almost done</a>, and the <a href="http://in.relation.to/12153.lace" target="" class="regularLink">first beta release with JPA2 features of Hibernate</a> is out, updating the text is inevitable in the near future.
</p>

<p class="wikiPara">
What I need to decide soon is if this update is going to emphasize the tutorial aspect of the book, or if I'm going to add more reference material. I don't think that decision has much to do with the length of the book (JPwH is &gt;900 pages). It's actually all about the code examples. Of course you can not write a 1000 page tutorial, when you pass the 200 page marker, you will have to switch from tutorial mode into reference mode.
</p>

<p class="wikiPara">
Well, because that doesn't happen automatically, you constantly ask yourself the same question: Do readers expect code that works out-of-the-book? Are they going to write that code or copy/paste it, and then expect that it will run? Will it run within the project/product setup I've explained step-by-step up to this point?
</p>

<p class="wikiPara">
For the first two Hibernate books I always considered the answer to that question to be: <q>Yes, maybe</q> the readers want to try most code examples immediately and they probably will have the book open on their desk while reading, next to the keyboard, and they will try the product you are describing <q>in Action</q>. That was actually what the publisher expected from an <q>in Action</q> series book and we had endless and exhausting discussions about it. In the end, it was a lot of work and I'm sure it's not quite perfect. At some point a tutorial approach just doesn't make sense anymore and you have to break the flow and continue with point-by-point reference material. Some readers will not be able to make that jump. The reviews of the books show that, you have a few people who haven't been able to follow the text and examples and got lost at some point. They probably expected the tutorial to continue for another 800 pages.
</p>

<p class="wikiPara">
And here I am, asking myself if I would ever do this again and why I had so much trouble doing it before. I just realized that when I read a book, I don't try the code. I'm not a newbie and I have some Java and JEE specs/framework experience, and I think it's a waste of my time to try the <q>Hello World</q> example in a framework book I'm reading. I'll continue reading until I hit that barrier when it's obvious to me that I need try the code I'm reading. I'll actually not continue reading a book when all the <q>practical</q> details are getting in my way and I've to skip pages because they are full of trivial <q>copy this JAR here, then edit the properties file there</q> explanations. So I'm obviously not the target audience of my own books because they start with: <q>This is how you create your working directory, and here is how you do that on your Windows computing machine.</q> :)
</p>

<p class="wikiPara">
So why can't you have both in one book? I've been paying extra attention to how other writers resolve that issue. In Wicket in Action, for example, the writers obviously do not expect the reader to stop and try the examples immediately. They do not even include the product configuration and initial setup steps in the main text and instead refer to the appendix. I'm somewhat surprised they got this past the Manning <q>in Action</q> guidelines, btw. ;)
</p>

<p class="wikiPara">
I'd considered this for JPwH, moving all of the setup stuff into an appendix. Don't waste 50 pages on basic setup instructions (especially JEE vs. !JEE container) but cater to those readers who have some experience and expect to pick up new stuff quickly in a day or two, without the interruption of <q>real world</q> problems. As the title and subtitle are probably going to be <q>Java Persistence with Hibernate, Second Edition</q>, I'm not really worried about what the publisher has to say.
</p>

<p class="wikiPara">
Still, I'm afraid we're going to have many angry newbies who expect all the setup/configuration steps in chapter 1 or 2, and if one little detail is missing, they are not going to continue reading. On the other hand, what's so bad about <q>If <a href="https://forum.hibernate.org/viewtopic.php?f=1&amp;t=999749" target="" class="regularLink">you don't know how to create a directory and copy a JAR file</a>, you need to take a break and read this appendix</q>?
</p>

<p class="wikiPara">
So should the next edition be more like <q>Teach yourself Hibernate in 24 hours although your shoes have 'L' and 'R' on them</q> or should it be <q>The Hibernate Bible, Next Edition</q>?
</p>

<p class="wikiPara">
P.S. Whatever happens, the next edition of JPwH will not be 900 pages. As far as I can see, the <tt>.hbm.xml</tt> and <tt>org.hibernate.Session</tt> examples will be be removed whenever they duplicate JPA functionality, so without any other changes, that's going to be 150 pages gone already.
</p>

</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'AreBooksTutorials';
    var disqus_title = 'Are books tutorials?';
    var disqus_url = 'http://in.relation.to/12422.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
