---
title: "First release of AuthorDoclet"
author: "Christian Bauer"
blogger_name: "Christian"
creation_date: "25-01-2010"
tags: [AuthorDoclet]

relative_url: /2010/01/25/first-release-of-author-doclet
slug: first-release-of-author-doclet
lace: http://in.relation.to/14073.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/01/25/first-release-of-author-doclet
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
End of last year I wrote about my <a href="/Bloggers/IntroducingAuthorDoclet" target="" class="regularLink">first proof-of-concept with AuthorDoclet</a>, a documentation tool I've been working on. It took me a while to get it into shape for a first release and I also had to make some conceptual changes once it was mature enough to compile its own manual.
</p>

<p class="wikiPara">
What surprised me was how well that worked and how handy it is to have tested documentation examples. I frequently had to go back and make changes to a code snippet and it was a real timesaver to edit it in one place only, the actual runnable unit test. I also tried to implement and use features such as inline images, tables, automatic chapter/section numbering, automatic generation of a Table Of Contents etc. No problems so far and except for code example callouts (the numbered bullets inside code snippets you often see in books), I've all the features my older Docbook XML based toolchain provided.
</p>

<p class="wikiPara">
So if you have to document some testable Java software, try the <a href="#first-release-of-author-doclet_attachment1" target="" class="regularLink">attached alpha release[1]</a>. The code is still quite raw but I'm happy with the overall design of pipelines, processors, readers, etc. There is almost no documentation inside the core code though, I'll add that next. If you'd like to write an improved TOC generator or anything else that fits, you are more than welcome.
</p>
</div>

<div class="attachments">
<h4>Attachments</h4>
<ol class="wikiOrderedList"><li class="wikiOrderedListItem"><a name="first-release-of-author-doclet_attachment1" href="/assets/authordoclet-1.0alpha1.zip">authordoclet-1.0alpha1.zip</a></li>
</ol>
</div>

