---
title: "New edition of Java Persistence with Hibernate"
author: "Christian Bauer"
blogger_name: "Christian"
creation_date: "23-03-2013"
tags: [Books,Hibernate]

relative_url: /2013/03/23/new-edition-of-java-persistence-with-hibernate
slug: new-edition-of-java-persistence-with-hibernate
lace: http://in.relation.to/24021.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/03/23/new-edition-of-java-persistence-with-hibernate
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right; margin-left: 1em; margin-bottom: 1em;">
<a href="http://manning.com/bauer3"><img src="/images/24020.jpeg" width="150" height="187"></a>
</div>
<p class="wikiPara">
The second edition of <i class="wikiEmphasis">Java Persistence with Hibernate</i> is now available on the <a href="http://manning.com/bauer3/" target="" class="regularLink">Manning Early Access Program</a>. We have three chapters ready for you, and we'll add more chapters soon. 
</p>

<b>Until March 27th, get 50% off with promotion code <i class="wikiEmphasis">jpwh2au</i>!</b>

<p class="wikiPara">
Some highlights of the new edition:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Coverage of the latest JPA 2.1 specification version</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> All example code available as unit tests, ready to run</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Many new illustrations, hundreds of examples</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Application design recommendations for Java EE 7</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Condensed and more focused than the previous edition, 200 pages less but more content</li>
</ul>

<p class="wikiPara">
We will update the book as soon as Hibernate 4.3 (with JPA 2.1 support), and then later this year Hibernate 5, become available. Early access subscribers will be notified of any updates. This is a great opportunity to catch up with the latest Hibernate releases, and to learn the new features of JPA 2.1 and Java EE 7.
</p>

<p class="wikiPara">
The example code for this early access version, based on Hibernate 4.1 and JPA 2.0, can be found <a href="http://jpwh.org/examples" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
Talk to us on the <a href="http://www.manning-sandbox.com/forum.jspa?forumID=844" target="" class="regularLink">author online forum</a> if you have any questions.
</p>
</div>

