---
title: "What's new in Hibernate Core 4.0"
author: "Strong Liu"
blogger_name: "StrongLiu"
creation_date: "13-11-2011"
tags: [Hibernate]

relative_url: /2011/11/13/WhatsNewInHibernateCore40
slug: WhatsNewInHibernateCore40
lace: http://in.relation.to/22315.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/11/13/WhatsNewInHibernateCore40
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I saw someone is asking <q>what new in Hibernate Core 4.0</q>, so I take sometime and try to summary it here.
first of all, please see:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">the migration <a href="http://community.jboss.org/wiki/HibernateCoreMigrationGuide40" target="" class="regularLink">guide for 4.0 </a>
</li>
<li class="wikiUnorderedListItem">JIRA <a href="https://hibernate.onjira.com/secure/IssueNavigator.jspa?mode=hide&amp;requestId=11567" target="" class="regularLink">filter</a> link which lists all <i class="wikiEmphasis">improvements</i> and <i class="wikiEmphasis">new features</i> in <u>Hibernate Core 4.0.0</u>, you can get all details from this link :)</li>
</ul>


<p class="wikiPara">
some highlights:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">move to <a href="http://www.gradle.org" target="" class="regularLink">gradle </a> for builds </li>
<li class="wikiUnorderedListItem">Redesign SessionFactory building</li>
<li class="wikiUnorderedListItem">Introduction of services (see <a href="http://sourceforge.net/apps/mediawiki/hibernate/index.php?title=Category:Services" target="" class="regularLink">this</a> for more details)</li>
<li class="wikiUnorderedListItem">Improved metamodel (not in 4.0.0.Final yet, we planned this, but due to the tasks are more than we expected, and it would take too long to get 4.0 out, so we decided to move this out of 4.0.0.Final but will be upcoming release soon see <a href="http://in.relation.to/Bloggers/HibernateCore400CR1Release" target="" class="regularLink">this</a> for more details, and <a href="http://sourceforge.net/apps/mediawiki/hibernate/index.php?title=Category:Metamodel" target="" class="regularLink">this</a> is a design document)</li>
<li class="wikiUnorderedListItem">Initial osgi-fication by package splitting (public, internal, spi) </li>
<li class="wikiUnorderedListItem">Support for multi-tenant databases (see <a href="http://community.jboss.org/wiki/Multi-tenancyDesign" target="" class="regularLink">this</a> for more details)</li>
<li class="wikiUnorderedListItem">Migration to i18n logging framework (using <a href="https://github.com/dmlloyd/jboss-logging" target="" class="regularLink">jboss logging</a>)</li>
<li class="wikiUnorderedListItem">JDK 1.6 (JDBC4) as baseline</li>
<li class="wikiUnorderedListItem">and more (I can't remember all the things :)</li>
</ul>
</div>
