---
title: "Hibernate Core 4.0.0.CR2 Release"
author: "Strong Liu"
creation_date: "01-09-2011"
blogger_name: "StrongLiu"
layout: blog-post
tags: [Core Release,Development,Hibernate,News]
slug: HibernateCore400CR2Release
lace: http://in.relation.to/21794.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate Core 4.0.0.CR2 has just been released. The complete list of its changes can be found in the JIRA <a href="https://hibernate.onjira.com/secure/ReleaseNote.jspa?projectId=10031&amp;version=11352" target="" class="regularLink">release notes</a>.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">
<a href="https://hibernate.onjira.com/browse/HHH-6586" target="" class="regularLink">HHH-6586</a> As Steve said in this <a href="http://in.relation.to/Bloggers/HibernateCore400CR1Release" target="" class="regularLink">post</a>, we will continue new metamodel development after 4.0.0 release, we think the deprecation of <i class="wikiEmphasis">Configuration</i> may confuse the community, so in this issue, we removed the deprecation tag from this class, and we will continue to support this API until we get new metamodel ready, at which point this class will become deprecated and scheduled for removal in 5.0.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">
<a href="https://hibernate.onjira.com/browse/HHH-6622" target="" class="regularLink">HHH-6622</a> Upgrade to Hibernate Commons Annotations 4.0.0.CR2, now, we have fully moved to jboss logging, no slf4j-api dependency required anymore.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">
<a href="https://hibernate.onjira.com/browse/HHH-6618" target="" class="regularLink">HHH-6618</a> We have wrote a new <a href="http://gradle.org" target="" class="regularLink">gradle</a> plugin which can be used to run hibernate functional tests on different DBs besides <a href="http://h2database.com" target="" class="regularLink">H2</a>, this is useful for community contributors, see <a href="https://github.com/hibernate/hibernate-core/tree/master/buildSrc" target="" class="regularLink">hibernate-core/buildSrc/readme.txt</a> for more details.</li>
</ul>

<p class="wikiPara">
The release is available from SourceForge in <a href="https://sourceforge.net/projects/hibernate/files/hibernate4/4.0.0.CR2" target="" class="regularLink">bundle form</a> as well as from the JBoss Nexus repository under the <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">org.hibernate</a> groupId.
</p>

<p class="wikiPara">
Enjoy!
</p>

</div>
