---
title: "Hibernate ORM 新特性之 Service(Registry)"
author: "Strong Liu"
blogger_name: "StrongLiu"
creation_date: "23-12-2012"
tags: [Hibernate]

relative_url: /2012/12/23/HibernateORMServiceRegistry
slug: HibernateORMServiceRegistry
lace: http://in.relation.to/23816.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/12/23/HibernateORMServiceRegistry
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Apparently, most readers of this site are expecting english articles, so, I moved the original Chinese post to <a href="http://blog.takewithme.com/2013/01/hibernate-orm-xin-te-xing-zhi-service-registry/" target="" class="regularLink">my personal blog</a>
</p>

<p class="wikiPara">
I will try to post a English version here but can't promise the time.</p>
</div>
