---
title: "JBug Beijing, 26th July"
author: "Strong Liu"
blogger_name: "StrongLiu"
creation_date: "19-07-2012"
original_tags: [event]
tags: [Event]

relative_url: /2012/07/19/jbug-beijing-26-th-july
slug: jbug-beijing-26-th-july
lace: http://in.relation.to/23397.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/07/19/jbug-beijing-26-th-july
---
<div id="documentDisplay" class="documentDisplay">


<img src="http://design.jboss.org/jbugbeijing/logo/final/jbugbeijing_logo_600px.gif">

<p class="wikiPara">
Yes, we will have a JBug in Thursday night next week, there will be three topics all relates to EAP 6 and Cloud.
</p>

<p class="wikiPara">
I will talk OGM on that and show how to migrate an existing JPA project to use Infinispan and MongoDB as persistence Store. So, if you're in Beijing that time, welcome drop by.
</p>

<p class="wikiPara">
you can find more details from <a href="https://community.jboss.org/wiki/JBossUserGroup-EAP6Cloud-2012-07-26" target="" class="regularLink">here</a>, though it is written in Chinese :)</p>
</div>

