---
title: "JBug Beijing, 26th July"
author: "Strong Liu"
blogger_name: "StrongLiu"
layout: blog-post
tags: [event]
slug: JBugBeijing26thJuly
lace: http://in.relation.to/23397.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/JBugBeijing26thJuly">JBug Beijing, 26th July</a>
                    </h1>
</div>
<img src="http://design.jboss.org/jbugbeijing/logo/final/jbugbeijing_logo_600px.gif">

<p class="wikiPara">
Yes, we will have a JBug in Thursday night next week, there will be three topics all relates to EAP 6 and Cloud.
</p>

<p class="wikiPara">
I will talk OGM on that and show how to migrate an existing JPA project to use Infinispan and MongoDB as persistence Store. So, if you're in Beijing that time, welcome drop by.
</p>

<p class="wikiPara">
you can find more details from <a href="https://community.jboss.org/wiki/JBossUserGroup-EAP6Cloud-2012-07-26" target="" class="regularLink">here</a>, though it is written in Chinese :)</p>
</div>
