---
title: "Hibernate ORM 4.1.4 Release"
author: "Strong Liu"
creation_date: "31-05-2012"
blogger_name: "StrongLiu"
layout: blog-post
tags: [Core Release,Hibernate,News]
slug: HibernateORM414Release
lace: http://in.relation.to/23208.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate ORM version 4.1.4 has just been released. This is a minor bug fix release containing 37 bug fixes, See <a href="https://hibernate.onjira.com/browse/HHH/fixforversion/11960" target="" class="regularLink">the changelog</a> for the complete list of fixes. Specific fixes of note include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://hibernate.onjira.com/browse/HHH-7074" target="" class="regularLink">HHH-7074</a> - The @org.hibernate.annotation.Entity annotation had been deprecated for a while to in favor of the JPA one -- @javax.persistence.Entity, to use the features were defined in Hibernate @Entity annotation attributes now should use the new defined annotations, for example, @org.hibernate.annotations.Immutable, see <a href="http://docs.jboss.org/hibernate/orm/4.1/javadocs/org/hibernate/annotations/Entity.html" target="" class="regularLink">the javadoc</a> for more details. Also, this deprecated @org.hibernate.annotation.Entity will be removed in Hibernate ORM 5.0, so, it would better to start migrate your code now.</li>
</ul>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://hibernate.onjira.com/browse/HHH-7306" target="" class="regularLink">HHH-7306</a> SessionFactory#openSession() could not be used in a tenant-aware scenario due to this issue, because hibernate could not know which tenant identifier to use, we now have a contract named org.hibernate.context.spi.CurrentTenantIdentifierResolver for Hibernate to be able to resolve what the application considers the current tenant identifier. The fix of this issue also makes using mutil-tenant possible within HEM (still under development, see <a href="https://hibernate.onjira.com/browse/HHH-7312" target="" class="regularLink">HHH-7312</a>). To learn more about this, please check out <a href="http://docs.jboss.org/hibernate/orm/4.1/devguide/en-US/html_single/#d5e4686" target="" class="regularLink">the Dev Guide</a>.</li>
<li class="wikiUnorderedListItem"> <a href="https://hibernate.onjira.com/browse/HHH-7350" target="" class="regularLink">HHH-7350</a> A Readonly/Immutable Entity with 2LC enabled should be removable from cache.</li>
<li class="wikiUnorderedListItem"> <a href="https://hibernate.onjira.com/browse/HHH-3961" target="" class="regularLink">HHH-3961</a> SQLServerDialect now supports <i class="wikiEmphasis">nowait</i> in LockMode.UPGRADE_NOWAIT, thanks Guenther for the pull request.</li>
<li class="wikiUnorderedListItem"> <a href="https://hibernate.onjira.com/browse/HHH-6846" target="" class="regularLink">HHH-6846</a> / <a href="https://hibernate.onjira.com/browse/HHH-6256" target="" class="regularLink">HHH-6256</a> / <a href="https://hibernate.onjira.com/browse/HHH-7356" target="" class="regularLink">HHH-7356</a> The <q>javax.persistence.lock.timeout</q> setting was ignored by @NamedQuery, persistence.xml and query hint.</li>
</ul>

<p class="wikiPara">
As usual, the artifacts have been uploaded to <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">the JBoss Nexus repository</a> (and will be synchronized to Maven Central in a day or two) and the release bundles have been uploaded to the Hibernate SourceForge in both <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.1.4.Final/hibernate-release-4.1.4.Final.zip/download" target="" class="regularLink">ZIP</a> and <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.1.4.Final/hibernate-release-4.1.4.Final.tgz/download" target="" class="regularLink">TGZ</a> formats.
</p>

<p class="wikiPara">
Last but not the least, I would like to give special thanks to <a href="https://github.com/lukasz-antoniak" target="" class="regularLink">Lukasz Antoniak</a> and <a href="https://github.com/adamw" target="" class="regularLink">Adam Warski</a>, Hibernate Envers Developers from community and who are helping us on Envers module testing on DB matrix, Lukasz (with Adam's help) worked tirelessly and fixed <i class="wikiEmphasis">ALL</i> envers test failures we found, Great work and keep contributing :D
</p>

<p class="wikiPara">
Enjoy!
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'HibernateORM414Release';
    var disqus_title = 'Hibernate ORM 4.1.4 Release';
    var disqus_url = 'http://in.relation.to/23208.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
