---
title: "BootstrapServiceRegistry中提供的基础服务介绍"
author: "Strong Liu"
creation_date: "24-12-2012"
blogger_name: "StrongLiu"
layout: blog-post
tags: [Hibernate]
slug: BootstrapServiceRegistry
lace: http://in.relation.to/23818.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Apparently, most readers of this site are expecting english articles, so, I moved the original Chinese post to <a href="http://blog.takewithme.com/2013/01/bootstrapserviceregistryzhong-ti-gong-de-ji-chu-fu-wu-jie-shao/" target="" class="regularLink">my personal blog</a>
</p>

<p class="wikiPara">
I will try to post a English version here but can't promise the time.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'BootstrapServiceRegistry';
    var disqus_title = 'BootstrapServiceRegistry中提供的基础服务介绍';
    var disqus_url = 'http://in.relation.to/23818.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
