---
title: "Hibernate ORM 4.1.5 Release"
author: "Strong Liu"
creation_date: "12-07-2012"
blogger_name: "StrongLiu"
layout: blog-post
tags: [Core Release,Hibernate,News]
slug: HibernateORM415Release
lace: http://in.relation.to/23331.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate ORM version 4.1.5 has just been released. This is a minor bug fix release containing 20 bug fixes, See <a href="https://hibernate.onjira.com/browse/HHH/fixforversion/12150" target="" class="regularLink">the changelog</a> for the complete list of fixes. Specific fixes of note include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://hibernate.onjira.com/browse/HHH-4394" target="" class="regularLink">HHH-4394</a> - This issue was created 5 years ago, and watched by 12 community members,  now it is finally resolved :D, it has a long discussion history, so I'd not summary it here, check the link and find the details. </li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://hibernate.onjira.com/browse/HHH-7440" target="" class="regularLink">HHH-7440</a> / <a href="https://hibernate.onjira.com/browse/HHH-7370" target="" class="regularLink">HHH-7370</a> / <a href="https://hibernate.onjira.com/browse/HHH-7369" target="" class="regularLink">HHH-7369</a> - The dialect specific limit clause generation were causing lots of issues, esp with MS SQL Server dialect, now, Lukasz has redesigned it with a much cleaner API/code, and also resolved those issues.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://hibernate.onjira.com/browse/HHH-7431" target="" class="regularLink">HHH-7431</a> - Contributed by Eric Dalquist, he found NaturalIdCacheKey was using pre-generated toString, and this caused high memory footprint.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://hibernate.onjira.com/browse/HHH-7426" target="" class="regularLink">HHH-7426</a> - <q>cacheable</q> attribute in orm.xml was not handled.</li>
</ul>


<p class="wikiPara">
I'd like take this opportunity to thank our awesome community, most hibernate developer are working on the new metamodel stuff, which we're hoping to get into Hibernate 5, so, the community contributed most of bug fixes / improvements of this release, YOU ARE DOING GREAT, THANKS !
</p>

<p class="wikiPara">
Enjoy!
</p>
</div>
