---
title: "BootstrapServiceRegistry中提供的基础服务介绍"
author: "Strong Liu"
blogger_name: "StrongLiu"
layout: blog-post
tags: [Hibernate]
slug: BootstrapServiceRegistry
lace: http://in.relation.to/23818.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/BootstrapServiceRegistry">BootstrapServiceRegistry中提供的基础服务介绍</a>
                    </h1>
</div>
<p class="wikiPara">
Apparently, most readers of this site are expecting english articles, so, I moved the original Chinese post to <a href="http://blog.takewithme.com/2013/01/bootstrapserviceregistryzhong-ti-gong-de-ji-chu-fu-wu-jie-shao/" target="" class="regularLink">my personal blog</a>
</p>

<p class="wikiPara">
I will try to post a English version here but can't promise the time.</p>
</div>
