---
title: "Hibernate ORM 4.1.5.SP1 release"
author: "Strong Liu"
blogger_name: "StrongLiu"
creation_date: "12-07-2012"
tags: [Core Release,Hibernate,News]

relative_url: /2012/07/12/HibernateORM415SP1Release
slug: HibernateORM415SP1Release
lace: http://in.relation.to/23335.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/07/12/HibernateORM415SP1Release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
There is a <a href="https://hibernate.onjira.com/browse/HHH-7447" target="" class="regularLink">blocker bug</a> in the just released <a href="http://in.relation.to/Bloggers/HibernateORM415Release" target="" class="regularLink">4.1.5.Final</a>, it would cause Natural id cache not usable with 2LC.
</p>

<p class="wikiPara">
I feel sorry for this mistake :(
</p>

<p class="wikiPara">
Full change log can be found <a href="https://hibernate.onjira.com/browse/HHH/fixforversion/12155" target="" class="regularLink">here</a>, in this release, I also merged a pull request provided by Rob Worsnop, which fixes a five years <a href="https://hibernate.onjira.com/browse/HHH-2394" target="" class="regularLink">old issue</a>, with this fix, now you can use filter within sub-class. Thanks Rob Worsnop.
</p>

<p class="wikiPara">
As usual, the artifacts have been uploaded to the <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">JBoss Nexus repository</a> (and will be synchronized to Maven Central in a day or two) and the release bundles have been uploaded to the Hibernate SourceForge in both <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.1.4.Final/hibernate-release-4.1.5.SP1.zip/download" target="" class="regularLink">ZIP</a> and <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.1.4.Final/hibernate-release-4.1.5.SP1.tgz/download" target="" class="regularLink">TGZ</a> formats.
</p>

<p class="wikiPara">
Last but not the least, I would like to give special thanks to Lukasz Antoniak and Adam Warski, Hibernate Envers Developers from community and who are helping us on Envers module testing on DB matrix, Lukasz (with Adam's help) worked tirelessly and fixed ALL envers test failures we found, Great work and keep contributing :D
</p>
</div>

