---
layout: project
title_partial: blog/blog-hero-unit.html.haml
---
-# layout for pages related to the blog
-# display menu on the left
-# handles title display

-# Project specific navigation menu
.row-fluid
  -# Menu
  .span2
    .project-menu
      = partial( 'blog/home-menu.html.haml' )

      %hr.divider
      .cloud-tags
        %h2 Tags
        = site.posts_tags_cloud

      = partial( 'blog/blogger_list.html.haml' )

  .span10
    -# Title
    = partial( page.title_partial.nil? ? 'blog/title.html.haml' : page.title_partial, {"real_page" => page} )
    ~ content
