---
title: "Seam 2.0.2.SP1 Released!"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "28-05-2008"
tags: [Seam,Seam News]

relative_url: /2008/05/28/Seam202SP1Released
slug: Seam202SP1Released
lace: http://in.relation.to/9013.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/05/28/Seam202SP1Released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The 2.0.2.SP1 release addresses two issues that were found in the 2.0.2.GA release.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> [<a href="http://jira.jboss.com/jira/browse/JBSEAM-2917" target="" class="regularLink">JBSEAM-2917</a>] performance issues related to <tt>EjbDescriptor</tt> caching.</li>
<li class="wikiUnorderedListItem"> [<a href="http://jira.jboss.com/jira/browse/JBSEAM-3017" target="" class="regularLink">JBSEAM-3017</a>] off-line <tt>seam-gen</tt> support.</li>
</ul>

<p class="wikiPara">
We advise anyone who has installed 2.0.2.GA to upgrade to 2.0.2.SP1.  There are no migration steps required as the changes were very targeted.
</p>

<p class="wikiPara">
[<a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=602455" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/seam/2.0.2.SP1/reference/en-US/html/" target="" class="regularLink">Documentation</a>] [<a href="http://www.seamframework.org/Community/SeamUsers" target="" class="regularLink">Forums</a>] [<a href="http://jira.jboss.com/jira/browse/JBSEAM" target="" class="regularLink">JIRA</a>]
</p>

</div>
