---
title: "Seam Reference Guide Updated for WebLogic 10.3"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "04-11-2008"
tags: [Interoperability,Seam]

relative_url: /2008/11/04/SeamReferenceGuideUpdatedForWebLogic103
slug: SeamReferenceGuideUpdatedForWebLogic103
lace: http://in.relation.to/9745.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/11/04/SeamReferenceGuideUpdatedForWebLogic103
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The 2.1.0.SP1 release of Seam contained many features and updates, one of which is an updated <a href="http://docs.jboss.com/seam/2.1.0.SP1/reference/en-US/html/weblogic.html" target="" class="regularLink">Weblogic integration reference guide chapter</a>
</p>

<p class="wikiPara">
This update includes the latest information on integration with the new <a href="http://www.oracle.com/technology/software/products/ias/htdocs/wls_main.html" target="" class="regularLink">Weblogic Application server 10.3</a>.  Many Seam/Weblogic users were waiting expectantly for this release of Weblogic.  There were several issues relating to <tt>EJB 3</tt> support with <tt>wls 10.0.MP1</tt>, that were scheduled to be fixed in the <tt>10.3</tt> release.
</p>

<h3 class="wikiHeadline3" id="H-TheGoodNews"><a href="/2008/11/04/SeamReferenceGuideUpdatedForWebLogic103#H-TheGoodNews">The Good News</a></h3>
<p class="wikiPara">
The good news is that the original <tt>varargs</tt> issue is fixed in this release and does not require a patch.  For those of you not familiar with this Weblogic 10.0.MP1 ( and other earlier releases ) would fail to compile any EJB's that used variable arguments.  For some reason weblogic's compiler would mistake this as if the method had a <tt>transient</tt> modifier, which being a method would fail to compile. 
</p>

<h3 class="wikiHeadline3" id="H-TheBadNews"><a href="/2008/11/04/SeamReferenceGuideUpdatedForWebLogic103#H-TheBadNews">The Bad News</a></h3>
<p class="wikiPara">
The bad news is that the fix for the other <tt>EJB3</tt> issue found with <tt>10.0.MP1</tt> does not appear to have made the release.  I can only image that with the BEA's purchase by Oracle a few of these changes were lost.  Several Seam users have seen it, and my own investigation confirmed it.  
</p>

<p class="wikiPara">
This issue causes certain EJB methods to be incorrectly left out of Weblogic's generated internal stub classes. This occurs on the same files effected by the <tt>varargs</tt> issue, so I'm assuming it is related to their fix.  This results in the following error messages during deployment.
</p>

<pre class="wikiPreformatted">
&lt;&lt;Error&gt; &lt;EJB&gt; &lt;BEA-012036&gt; &lt;Compiling generated EJB classes produced the following Java compiler error message:
&lt;Compilation Error&gt; TimerServiceDispatcher_qzt5w2_Impl.java: The type TimerServiceDispatcher_qzt5w2_Impl must implement the inherited abstract method TimerServiceDispatcher_qzt5w2_Intf.scheduleTimedEvent(String, Schedule, Object[])
&lt;Compilation Error&gt; TimerServiceDispatcher_qzt5w2_LocalTimerServiceDispatcherImpl.java: Type mismatch: cannot convert from Object to Timer
&lt;Compilation Error&gt; TimerServiceDispatcher_qzt5w2_LocalTimerServiceDispatcherImpl.java: Type mismatch: cannot convert from Object to Timer&gt; 
&lt;Error&gt; &lt;Deployer&gt; &lt;BEA-149265&gt; &lt;Failure occurred in the execution of deployment request with ID '1223409267344' for task '0'. Error is: 'weblogic.application.ModuleException: Exception preparing module: EJBModule(jboss-seam.jar)</pre>


<h3 class="wikiHeadline3" id="H-TheWorkaround"><a href="/2008/11/04/SeamReferenceGuideUpdatedForWebLogic103#H-TheWorkaround">The Workaround</a></h3>
<p class="wikiPara">
Since the <tt>EJB3</tt> issues persist with <tt>10.3</tt> you have a couple of options for using <tt>EJB 3</tt> with Weblogic and Seam.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Use the <tt>jboss-seam-wls-compatible.jar</tt> in place of the <tt>jboss-seam.jar</tt> as described in the Seam reference guide here : <a href="http://docs.jboss.com/seam/2.1.0.SP1/reference/en-US/html/weblogic.html#weblogic-ejb-issues" target="" class="regularLink">EJB3 Issues with WebLogic</a>
</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Contact BEA's customer support and request a patch.  There was a patch available for <tt>10.0.MP1</tt> release, and I would hope it is also available for <tt>10.3</tt>
</li>
</ul>

<p class="wikiPara">
As always we well try to keep up to date with this issue, and when a patch or release is made public we'll review and update our documentation.
</p>


</div>

