---
title: "Deploying Seam to various application servers"
author: "Jay Balunas"
creation_date: "07-03-2008"
blogger_name: "Jay"
layout: blog-post
tags: [Interoperability,Seam,Seam News]
slug: DeployingSeamToVariousApplicationServers
lace: http://in.relation.to/8689.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
One of my first tasks since starting at JBoss/Red Hat was to investigate and document container interoperability.  What I found is what I expected - various tweaks, settings  and library requirements depending on what container is being deployed to.  These have more to do with specific server needs rather than anything Seam is requiring (mostly).
</p>

<p class="wikiPara">
Seam was designed to be container agnostic and run on any of the major application servers.  Deploying any application to multiple application servers can have its share complications.  This is usually due to variations in specification implementation, and special <q>value add</q> features. 
</p>

<h3 class="wikiHeadline3" id="H-NewChapters"><a href="/Bloggers/DeployingSeamToVariousApplicationServers#H-NewChapters">New Chapters</a></h3>
<p class="wikiPara">
As of <a href="http://www.seamframework.org/Download" target="" class="regularLink">Seam 2.0.1.GA</a> there are new reference guide chapters that cover specific servers and what is needed to get a Seam application running. 
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> IBM Websphere 6.1.0.13 + EJB3 FP [ <a href="http://docs.jboss.com/seam/2.0.1.GA/reference/en/html/websphere.html" target="" class="regularLink">2.0.1.GA</a> | <a href="http://docs.jboss.com/seam/2.1.0.A1/reference/en/html/websphere.html" target="" class="regularLink">2.1.0.A1 </a> ]</li>
<li class="wikiUnorderedListItem"> BEA Weblogic 10.X [ <a href="http://docs.jboss.com/seam/2.0.1.GA/reference/en/html/weblogic.html" target="" class="regularLink">2.0.1.GA</a> | <a href="http://docs.jboss.com/seam/2.1.0.A1/reference/en/html/weblogic.html" target="" class="regularLink">2.1.0.A1</a> ]</li>
<li class="wikiUnorderedListItem"> Oracle OC4J 11g [ <a href="http://docs.jboss.com/seam/2.0.1.GA/reference/en/html/oc4j.html" target="" class="regularLink">2.0.1.GA</a> | <a href="http://docs.jboss.com/seam/2.1.0.A1/reference/en/html/oc4j.html" target="" class="regularLink">2.1.0.A1</a> ]</li>
</ul>

<h3 class="wikiHeadline3" id="H-PlannedChapters"><a href="/Bloggers/DeployingSeamToVariousApplicationServers#H-PlannedChapters">Planned Chapters</a></h3>
<p class="wikiPara">
It is not that Seam applications can't be deployed to these servers, its just that the reference guide chapter has not been finished.  They either have existing information in the Seam documentation or other blogs, or have just not been written yet.  The plan is finish these as time permits.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Glassfish v2.X</li>
<li class="wikiUnorderedListItem"> Tomcat 6.X (with and without JBoss embedded)</li>
<li class="wikiUnorderedListItem"> JBoss AS 5.X</li>
</ul>

<h3 class="wikiHeadline3" id="H-ChapterFormat"><a href="/Bloggers/DeployingSeamToVariousApplicationServers#H-ChapterFormat">Chapter Format</a></h3>
<p class="wikiPara">
All of these chapters follow the same basic format.  First they discuss any installation or version requirements.  Then modify and deploy the <tt>examples/jee5/booking</tt> example which uses EJB3 and EJB transactions.  Then the <tt>examples/JPA</tt> example is examined and deployed.  This uses POJO's for seam components and JPA for transactions.  Then a <i class="wikiEmphasis">seam-gen</i> application is created, and modified for the given server.
</p>

<p class="wikiPara">
You can keep up to date with issues related to Seam interoperability through the <a href="http://jira.jboss.com/jira/secure/IssueNavigator.jspa?reset=true&amp;&amp;pid=10071&amp;component=12311446&amp;sorter/field=priority&amp;sorter/order=DESC" target="" class="regularLink">Seam Jira project</a>.
</p>

<p class="wikiPara">
Let us know if you run into any issues with this and I hope this is helpful.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'DeployingSeamToVariousApplicationServers';
    var disqus_title = 'Deploying Seam to various application servers';
    var disqus_url = 'http://in.relation.to/8689.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
