---
title: "JSF 2.0 Presenation at the New England JUG April 9th"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "06-04-2009"
tags: [JavaServer Faces,RichFaces,Seam News]

relative_url: /2009/04/06/JSF20PresenationAtTheNewEnglandJUGApril9th
slug: JSF20PresenationAtTheNewEnglandJUGApril9th
lace: http://in.relation.to/11069.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/04/06/JSF20PresenationAtTheNewEnglandJUGApril9th
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
On Thursday, April 9th I will be presenting an introduction and preview of <a href="http://jcp.org/en/jsr/detail?id=314" target="" class="regularLink">Java Server Faces 2.0</a> at the <a href="http://nejug.org/events/show/91" target="" class="regularLink">New England Java Users Group (NEJUG)</a>.  The talk will be given at Sun's Burlington Massachusetts campus.  
</p>

<p class="wikiPara">
I will be covering many the major features in JSF 2.0 including:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> New annotation paradigms</li>
<li class="wikiUnorderedListItem"> Integrated Ajax support</li>
<li class="wikiUnorderedListItem"> Facelets integration</li>
<li class="wikiUnorderedListItem"> Page Parameters</li>
<li class="wikiUnorderedListItem"> Resource Handling</li>
<li class="wikiUnorderedListItem"> and more...</li>
</ul>

<p class="wikiPara">
We will wrap up the discussion with some thought on the future of JSF, <a href="http://jcp.org/en/jsr/detail?id=299" target="" class="regularLink">JSR 299</a>, and <a href="http://www.jboss.org/jbossrichfaces/" target="" class="regularLink">RichFaces</a>.  Plus I'll have some goodies for the raffle.
</p>

<p class="wikiPara">
Registration is required, and more information can be found at the <a href="http://nejug.org/events/show/91" target="" class="regularLink">NEJUG</a> website.
</p>

<p class="wikiPara">
Hope to see you there!!
</p>
</div>
