---
title: "RichFaces Project Site Gets a Face Lift"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "11-08-2009"
original_tags: [JavaServer Faces,RichFaces,Seam News]
tags: [JSF,Rich Faces,Seam]

relative_url: /2009/08/11/rich-faces-project-site-gets-a-face-lift
slug: rich-faces-project-site-gets-a-face-lift
lace: http://in.relation.to/12094.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/08/11/rich-faces-project-site-gets-a-face-lift
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
 <a href="http://www.jboss.org/richfaces" target="blank"> 
 <img src="http://www.jroller.com/a4j/resource/richfaces_logo_200px.gif" alt="">
 </a>
</div>

<p class="wikiPara">
The RichFaces team is proud to announce that the RichFaces project site has gotten a face lift!!
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Check it out here <a href="http://www.jboss.org/richfaces" target="" class="regularLink">http://www.jboss.org/richfaces</a></i>
</p>

<p class="wikiPara">
Some notable new pages:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.jboss.org/richfaces/community.html" target="" class="regularLink">Community Page</a> - information on how the community interacts</li>
<li class="wikiUnorderedListItem"> <a href="http://www.jboss.org/richfaces/community/richfacescalendar.html" target="" class="regularLink">Calendar Page</a> - stay up to date on team meetings, talks, and releases</li>
<li class="wikiUnorderedListItem"> <a href="http://www.jboss.org/richfaces/issuetracker.html" target="" class="regularLink">Jira Page</a> - details on entering jira's and RichFaces jira projects</li>
<li class="wikiUnorderedListItem"> <a href="http://www.jboss.org/richfaces/sourcecode.html" target="" class="regularLink">Source Code Page</a> - get the details and dig into the source code here</li>
<li class="wikiUnorderedListItem"> <a href="http://www.jboss.org/richfaces/demos.html" target="" class="regularLink">Demos Page</a> - Links to our online demos</li>
</ul>

<p class="wikiPara">
Don't forget to check out our <a href="http://www.jboss.org/community/wiki/richfaceswikihomepage" target="" class="regularLink">wiki page</a> for even more information and details.
</p>

<p class="wikiPara">
Please let us know if you find any errors, or broken links to :-)
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/richfaces/download.html" target="" class="regularLink">Project Downloads</a>] 
[<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=261" target="" class="regularLink">User Forums</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=262" target="" class="regularLink">Design Forums</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]</p>
</div>

