---
title: "RichFaces 3.3.1 BETA3 Available"
author: "Jay Balunas"
blogger_name: "Jay"
layout: blog-post
tags: [RichFaces]
slug: RichFaces331BETA3Available
lace: http://in.relation.to/11049.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/RichFaces331BETA3Available">RichFaces 3.3.1 BETA3 Available</a>
                    </h1>
</div>
<p class="wikiPara">
RichFaces 3.3.1.BETA3 has been uploaded to the JBoss repository.  We are getting close to the release and continue to stabilize the code base on the way to final release.
</p>

<h3 class="wikiHeadline3" id="H-HighlightsOfRichFaces331"><a href="/Bloggers/RichFaces331BETA3Available#H-HighlightsOfRichFaces331">Highlights of RichFaces 3.3.1</a></h3>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Realworld demo [<a href="https://www.jboss.org/community/docs/DOC-12846" target="" class="regularLink">Wiki Page</a>]</li>
<li class="wikiUnorderedListItem"> New layout components <tt>&lt;rich:page/&gt;</tt>, <tt>&lt;rich:layout/&gt;</tt>, and <tt>&lt;rich:layoutPanel/&gt;</tt>
</li>
<li class="wikiUnorderedListItem"> New ColorPicker component <tt>&lt;rich:colorPicker/&gt;</tt>
</li>
<li class="wikiUnorderedListItem"> Lots of stabilization and bug fixing - <a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12313100&amp;styleName=Html&amp;projectId=12310341&amp;Create=Create" target="" class="regularLink">Release Notes</a>
</li>
</ul>

<p class="wikiPara">
<i class="wikiEmphasis">Give it a try, and please let us know if you run into any issues!</i>
</p>

<p class="wikiPara">
[<a href="http://repository.jboss.org/maven2/org/richfaces/ui/richfaces-ui/3.3.1.BETA3/" target="" class="regularLink">Download</a>] [<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] [<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=261" target="" class="regularLink">User Forums</a>] [<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=262" target="" class="regularLink">Design Forums</a>]</p>
</div>
