---
title: "Congratulations to Nick Belaevski: Newest Member of the JSF 2.0 Expert Group"
author: "Jay Balunas"
creation_date: "06-11-2009"
blogger_name: "Jay"
layout: blog-post
tags: [JavaServer Faces,RichFaces,Seam News]
slug: CongratulationsToNickBelaevskiNewestMemberOfTheJSF20ExpertGroup
lace: http://in.relation.to/12764.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="http://jboss.org/community/people/nbelaevski" target="" class="regularLink">Nick Belaevski</a> is the RichFaces dev lead in Minsk and has officially joined the <a href="http://jcp.org/en/jsr/summary?id=314" target="" class="regularLink">JSF 2.0 Expert Group (JSR-314)</a> along with <a href="http://alexsmirnov.wordpress.com/" target="" class="regularLink">Alex Smirnov</a> to represent RichFaces and Exadel.  As many of you know <a href="http://www.mojavelinux.com/" target="" class="regularLink">Dan Allen</a> and <a href="http://in.relation.to/Bloggers/Pete" target="" class="regularLink">Pete Muir</a> are also on the JSF 2.0 Expert Group representing Red Hat &amp; JBoss.  Together these 4 people along with the rest of the EG will continue to help advance JSF as a standard and a technology.
</p>

<p class="wikiPara">
Anyone who has worked with RichFaces at all is likely familiar with Nick (usually known as <b>nbelaevski</b>), either in the <a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=261" target="" class="regularLink">forums</a>, <a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">Jira</a>, or <a href="http://fisheye.jboss.org/browse/~author=nbelaevski/RichFaces" target="" class="regularLink">SVN</a>.  He has been an invaluable member of the RichFaces project for years, and brings a great level of insight into the EG.  
</p>

<p class="wikiPara">
Again, congratulations Nick!!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'CongratulationsToNickBelaevskiNewestMemberOfTheJSF20ExpertGroup';
    var disqus_title = 'Congratulations to Nick Belaevski: Newest Member of the JSF 2.0 Expert Group';
    var disqus_url = 'http://in.relation.to/12764.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
