---
title: "JSF 2.0 Presenation at the New England JUG April 9th"
author: "Jay Balunas"
creation_date: "06-04-2009"
blogger_name: "Jay"
layout: blog-post
tags: [JavaServer Faces,RichFaces,Seam News]
slug: JSF20PresenationAtTheNewEnglandJUGApril9th
lace: http://in.relation.to/11069.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
On Thursday, April 9th I will be presenting an introduction and preview of <a href="http://jcp.org/en/jsr/detail?id=314" target="" class="regularLink">Java Server Faces 2.0</a> at the <a href="http://nejug.org/events/show/91" target="" class="regularLink">New England Java Users Group (NEJUG)</a>.  The talk will be given at Sun's Burlington Massachusetts campus.  
</p>

<p class="wikiPara">
I will be covering many the major features in JSF 2.0 including:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> New annotation paradigms</li>
<li class="wikiUnorderedListItem"> Integrated Ajax support</li>
<li class="wikiUnorderedListItem"> Facelets integration</li>
<li class="wikiUnorderedListItem"> Page Parameters</li>
<li class="wikiUnorderedListItem"> Resource Handling</li>
<li class="wikiUnorderedListItem"> and more...</li>
</ul>

<p class="wikiPara">
We will wrap up the discussion with some thought on the future of JSF, <a href="http://jcp.org/en/jsr/detail?id=299" target="" class="regularLink">JSR 299</a>, and <a href="http://www.jboss.org/jbossrichfaces/" target="" class="regularLink">RichFaces</a>.  Plus I'll have some goodies for the raffle.
</p>

<p class="wikiPara">
Registration is required, and more information can be found at the <a href="http://nejug.org/events/show/91" target="" class="regularLink">NEJUG</a> website.
</p>

<p class="wikiPara">
Hope to see you there!!
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'JSF20PresenationAtTheNewEnglandJUGApril9th';
    var disqus_title = 'JSF 2.0 Presenation at the New England JUG April 9th';
    var disqus_url = 'http://in.relation.to/11069.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
