---
title: "RichFaces 3.3.1.CR1 Released!"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "25-04-2009"
tags: [RichFaces]

relative_url: /2009/04/25/rich-faces-331-cr-1-released
slug: rich-faces-331-cr-1-released
lace: http://in.relation.to/11154.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/04/25/rich-faces-331-cr-1-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
RichFaces 3.3.1.CR1 has been uploaded to the JBoss repository.  We are on track for the early May GA release.  Then we are on to RichFaces 4.0 more to come shortly.
</p>

<h3 class="wikiHeadline3" id="H-HighlightsOfRichFaces331"><a href="/2009/04/25/rich-faces-331-cr-1-released#H-HighlightsOfRichFaces331">Highlights of RichFaces 3.3.1</a></h3>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Realworld demo [<a href="https://www.jboss.org/community/docs/DOC-12846" target="" class="regularLink">Wiki Page</a>]</li>
<li class="wikiUnorderedListItem"> New layout components <tt>&lt;rich:page/&gt;</tt>, <tt>&lt;rich:layout/&gt;</tt>, and <tt>&lt;rich:layoutPanel/&gt;</tt>
</li>
<li class="wikiUnorderedListItem"> New ColorPicker component <tt>&lt;rich:colorPicker/&gt;</tt>
</li>
<li class="wikiUnorderedListItem"> Lots of stabilization and bug fixing - <a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12313100&amp;styleName=Html&amp;projectId=12310341&amp;Create=Create" target="" class="regularLink">Release Notes</a>
</li>
</ul>

<p class="wikiPara">
<i class="wikiEmphasis">If you find any issues please let us know!</i>
</p>

<p class="wikiPara">
We also need you feedback on some possible RichFaces logos.  Please check out <a href="https://jira.jboss.org/jira/browse/RF-6683" target="" class="regularLink">RF-6683</a> to see the current options and comments!!
</p>

<p class="wikiPara">
[<a href="http://repository.jboss.org/maven2/org/richfaces/ui/richfaces-ui/3.3.1.CR1/" target="" class="regularLink">Download</a>] [<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] [<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=261" target="" class="regularLink">User Forums</a>] [<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=262" target="" class="regularLink">Design Forums</a>]</p>
</div>

