---
title: "JSFSummit - a Component Libraries Point of View"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "17-12-2009"
tags: [JavaServer Faces,RichFaces,Seam News]

relative_url: /2009/12/17/jsf-summit-a-component-libraries-point-of-view
slug: jsf-summit-a-component-libraries-point-of-view
lace: http://in.relation.to/13608.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/12/17/jsf-summit-a-component-libraries-point-of-view
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/jbossrichfaces" target="blank"> 
         <img src="http://www.jroller.com/a4j/resource/richfaces_logo_200px.gif" alt="">
     </a>
</div>

<p class="wikiPara">
I wanted to follow up all the great content from <a href="http://in.relation.to/Bloggers/JSFSummit2009Postback" target="" class="regularLink">Dan Allen</a> on <a href="http://www.jsfsummit.com" target="" class="regularLink">JSFSummit</a> with some of my own, but from a component libraries point of view.  One of the really nice things about speaking at a conference like JSFSummit is that you know the attendees are going to be knowledgeable and are likely already using JSF.  This meant that speakers could really talk about the details of their topics.  For example my talk on <a href="http://www.jsfsummit.com/conference/speaker/topic_view?topicId=2200" target="" class="regularLink">RichFace Component Toolbox</a> was able to show users some of the advanced components and features of RichFaces including code examples and a demo (cruel demo gods aside).  Something else that JSFSummit and <a href="http://www.nofluffjuststuff.com/home/main" target="" class="regularLink">NFJS</a> get right is the length of the sessions, with 90 minutes we could really cover a lot. 
</p>

<h3 class="wikiHeadline3" id="H-ComponentLibrariesWorkingForYou"><a href="/2009/12/17/jsf-summit-a-component-libraries-point-of-view#H-ComponentLibrariesWorkingForYou">Component Libraries Working For You</a></h3>
<p class="wikiPara">
There was a very strong showing at JSFSummit, and this included the leads from several of the top JSF component libraries.  There was <a href="http://www.jsfsummit.com/conference/orlando/2009/12/speakers/andy_schwartz" target="" class="regularLink">Andy Schwartz from ADF Faces</a>, <a href="http://www.jsfsummit.com/conference/orlando/2009/12/speakers/ted_goddard" target="" class="regularLink">Ted Goddard from ICEFaces</a>, <a href="http://www.jsfsummit.com/conference/orlando/2009/12/speakers/cagatay_civici" target="" class="regularLink">Cagatay Civici from PrimeFaces</a>, and <a href="http://www.jsfsummit.com/conference/orlando/2009/12/speakers/jay__balunas" target="" class="regularLink">Me representing RichFaces</a> <i class="wikiEmphasis">All represented in this rare picture!</i>.  You might think that because technically we all have competing projects that this could be testy.  I'm very happy to say that is not the case.
</p>

<div style="float:left;margin-right:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/jbossrichfaces" target="blank"> 
         <img src="http://andyschwartz.files.wordpress.com/2009/12/jsfsummit-faces.jpg" alt="" width="450px" height="300px">
     </a>
</div>

<p class="wikiPara">
All of us, and the rest of the JSR-314 (JSF 2.0 ) expert group had many productive and enlightening discussions.  Some of these were late night at the previously mentioned Thirsty Fish at the conference hotel, other were at lunch, in meeting rooms, or even during some of the talks.  As Dan said there was no barrier between speakers and attendees and many times we would attend each others talks.  This would sometimes spark conversations that started to sound more like a expert group meeting than a presentation.  This would usually involve how to work XYZ feature or behavior into the next version of the spec.  The great thing about this was that everyone participated, and voiced their opinions.
</p>

<p class="wikiPara">
One of the large discussions involving the various component libraries involved proving one of the tenants and goals of JSF 2.0.  That was interoperability, between component libraries so that developers could combine component libraries when ever needed.  I am very keen on this topic, and pushed for the different libraries to collaborate on a combined example application.  Perhaps we pull a data table from RichFaces, a tree from IceFaces, a menu from ADF, and a collapsing panel from PrimeFaces.  This type of application would really do several things.  For one it would provide proof and an example to developers that JSF 2.0 component libraries really can work together.  For another it will help us all to shake out the lumps and issues developers will run into with the specification.  
</p>

<p class="wikiPara">
This second point should not be underestimated.  RichFaces in its development of 4.0 has already found some items that need to be <q>worked out</q>.  These items represent areas of implementation that could cause component libraries to not function together, or could also point out areas in the spec that need more definition.  To see a listing of some of these items check out <a href="http://www.jboss.org/community/wiki/JSFAjaxpointsfordiscussionwithEG" target="" class="regularLink">our wiki page</a>.  I'll give you an example of one of these issues just so you can get a taste:
</p>

<p class="wikiPara">
JSF 2.0 now has build in Ajax support that is supposed to act as a core Ajax bridge that component libraries are supposed to use.  This implementation has a very simple queue associated with it.  RichFaces has its own advanced queue functionality from 3.3.X that we want to bring forward to RichFaces 4.0.  How do we do this without overwriting the core queue, and stepping on other component libraries toes?  A few options have been discussed such as allowing developers to choose a single queue implementation that follows a defined contract so that users can switch implementations as they wish.  This would be similar to JSF 1.2 where you could plug in your own view handler, a.k.a. Facelets.  Another option that was discussed was to have one core implementation, but when it was a requests turn in the queue it would have full control of its behavior.  
</p>

<p class="wikiPara">
Needless to say this was not completely resolved, but gives you a taste of the efforts that will be required to make this all meld.  As I said above though, what struck me was the willingness of everyone from component libraries leads, EG members, and Jim Driscoll from the RI team to work together on a solution.  <i class="wikiEmphasis">In the end this is going to result in a better JSF, and component libraries to go with it</i>
</p>

<h3 class="wikiHeadline3" id="H-MigrationStrategiesWereKey"><a href="/2009/12/17/jsf-summit-a-component-libraries-point-of-view#H-MigrationStrategiesWereKey">Migration Strategies Were Key</a></h3>
<p class="wikiPara">
Obviously one of the <i class="wikiEmphasis">hot topics</i> was JSF 2.0 support, and more specifically how users can migrate from earlier versions to new versions.  This came up at literally every talk that I either gave or went to that discussed JSF 2.  Users need a solid path for migration in order to leverage their efforts from the past, while moving forward with the technology.  There was even a talk dedicated to migration that <a href="http://www.jsfsummit.com/conference/orlando/2009/12/speakers/kito_mann" target="" class="regularLink">Kito Mann</a> gave called <a href="http://www.jsfsummit.com/conference/orlando/2009/12/session?id=16066" target="" class="regularLink">Upgrading to JSF 2</a>.
</p>

<p class="wikiPara">
Something that surprised some developers was that although JSF 2.0 is backwards compatible, most of the component libraries could not support JSF 2.0 without some modifications.  For RichFaces this is because in order to accomplish some of advanced features with JSF 1.2 we needed to interact with some of the core APIs and internals of JSF.  This meant that when JSF 2.0 came along and some of those APIs changed it caused problems.  The RichFaces team has been working on a solution to this, and migration strategy for our users.
</p>

<p class="wikiPara">
We are current developing the RichFaces 3.3.3 release which will bring JSF 2.0 compatibly to the 3.3.X release branch.  We should be releasing a BETA of this release very soon, and hope to have a final release of this by early next year.  With this release users can begin to migrate their applications to JSF 2.0 containers, and environments.  Update their own code and begin playing with JSF 2.0.  It is important to note that this release is more about compatibility.  You'll be able to run your existing applications with JSF 2.0, but the release will not take advantage of JSF 2.0 new features and abilities.  This will need to wait for RichFaces 4.0.
</p>

<p class="wikiPara">
RichFaces 4.0 is in parallel development, and we have already had a <a href="http://in.relation.to/Bloggers/RichFaces400ALPHA1Released" target="" class="regularLink">4.0.0.ALPHA1</a> Release.  This is the release that will really leverage and push the functionality of JSF 2.0.  This will include new behaviors, events, and components, as well as an easy to use Component Development Kit.  We hope to continue to push the bounds of the standard and begin prototyping the features that someday will be standardized in another version of JSF.  We are currently planning to release 4.0.0 in early summer, but will have lots of interim releases between now and then. 
</p>

<p class="wikiPara">
So you might be asking yourself, how do I upgrade from RichFaces 3.3.3 to 4.0.0?  We are working on the details of that, but rest assured we'll make it as easy as possible.  This will certainly include a migration guide with step by step instructions.  We'll likely also have a compatibility bridge of some type that will make migration even easier.
</p>

<h3 class="wikiHeadline3" id="H-FeelingGood"><a href="/2009/12/17/jsf-summit-a-component-libraries-point-of-view#H-FeelingGood">Feeling Good</a></h3>
<p class="wikiPara">
I left JSFSummit feeling very good about a great many things.  For one thing Orlando is a nice place to visit in December when you live in New York.  More importantly I left feeling very positive about the  JSF technology and community.  I think JSF 2.0 is a great release that combined with component libraries like RichFaces, and other features in EE6 like CDI and Bean Validation really make an application stack that is hard to compete with.  I'm also very excited about RichFaces future, and the great community and developers that we have.
</p>

<p class="wikiPara">
Thanks to everyone that attended, and all the speakers and expert group members that were there!!
</p>

<p class="wikiPara">
[<a href="http://www.javaserverfaces.org/%5C" target="" class="regularLink">javaserverfaces.org</a>
[<a href="http://www.jboss.org/richfaces" target="" class="regularLink">RichFaces Project Site</a>]
[<a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">Downloads</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]
</p>



</div>

