---
title: "RichFaces 3.3.2.GA Released!!"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "06-10-2009"
original_tags: [JavaServer Faces,RichFaces,Seam News]
tags: [JSF,Rich Faces,Seam]

relative_url: /2009/10/06/rich-faces-332-ga-released
slug: rich-faces-332-ga-released
lace: http://in.relation.to/12510.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/10/06/rich-faces-332-ga-released
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/jbossrichfaces" target="blank"> 
         <img src="http://www.jroller.com/a4j/resource/richfaces_logo_200px.gif" alt="">
     </a>
</div>



<h3 class="wikiHeadline3" id="H-Update332SP1ReleaseRequired"><a href="/2009/10/06/rich-faces-332-ga-released#H-Update332SP1ReleaseRequired">Update : 3.3.2.SP1 Release Required</a></h3>
<p class="wikiPara">
Unfortunately a few regression issues slipped through the cracks and were found by our community (<i class="wikiEmphasis">thanks</i>).  So in order to fix them we are going to be releasing 3.3.2.SP1 as soon as possible.  For the list of jira's included in this very focused release please see the <a href="https://jira.jboss.org/jira/browse/RF/fixforversion/12314031" target="" class="regularLink">3.3.2.SP1 Jira page</a>.  Sorry about this and we'll get this fixed and available ASAP.  In the mean time please let us know of any other issues that you may find.
</p>

<h3 class="wikiHeadline3" id="H-EndUpdate"><a href="/2009/10/06/rich-faces-332-ga-released#H-EndUpdate">End Update</a></h3>

<p class="wikiPara">
We are happy to announce that 3.3.2.GA has now been released!  This is the latest stable release for the <a href="http://anonsvn.jboss.org/repos/richfaces/branches/community/3.3.X/" target="" class="regularLink">3.3.X branch</a>  and can be downloaded from our project's <a href="http://www.jboss.org/richfaces/download/stable.html" target="" class="regularLink">Stable Release page</a>.  
</p>

<p class="wikiPara">
This is primarily a bug fix and stabilization release and you can review the <a href="https://jira.jboss.org/jira/issues/?jql=project=12310341+AND+fixVersion=12313513" target="" class="regularLink">3.3.2.GA release notes</a> and the <a href="https://jira.jboss.org/jira/issues/?jql=project=12310341+AND+fixVersion=12313512" target="" class="regularLink">3.3.2.CR1 release notes</a> for the complete list of issues addressed.  For a listing of the most voted on issues you can check <a href="https://jira.jboss.org/jira/browse/RF/fixforversion/12313513?selected=com.atlassian.jira.plugin.system.project:version-popularissues-panel&amp;resolved=true" target="" class="regularLink">here</a> ( voting for issues is a good way to get them attention ).
</p>

<p class="wikiPara">
The whole team will now shift focus to the RichFaces 4.0 release with JSF 2.0 support.  We are making good progress and would like to release an ALPHA2 version in a little over a month.  As always please check out our <a href="http://www.jboss.org/community/wiki/richfacesteammeetinginformation" target="" class="regularLink">weekly IRC meetings</a> if you want the latest information or have topics to bring up.  You can also subscribe to the <a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a> account to get important updates and links.
</p>

<p class="wikiPara">
The next release of the 3.3.X branch will be 3.3.3.CR1 but we currently have no dates or plans for that.  Obviously if there are any critical issues found in 3.3.2.GA or enough community contributions we'll revisit.
</p>

<p class="wikiPara">
You can also check out my <a href="http://java.dzone.com/videos/richfaces-jay-balunas" target="" class="regularLink">DZone interview on the RichFaces project</a> for some more information on future plans, and RichFaces 4.0.
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/richfaces/download/stable.html" target="" class="regularLink">Project Downloads</a>]
[<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=261" target="" class="regularLink">User Forums</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=262" target="" class="regularLink">Design Forums</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]
</p>
</div>

