---
title: "RichFaces Team Meeting in Brno Czech Republic- June 15th-17th"
author: "Jay Balunas"
creation_date: "02-06-2009"
blogger_name: "Jay"
layout: blog-post
tags: [RichFaces,Seam News]
slug: RichFacesTeamMeetingInBrnoCzechRepublicJune15th17th
lace: http://in.relation.to/11675.lace
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
 <a href="http://labs.jboss.com/jbossrichfaces" target="blank"> 
 <img src="http://www.jroller.com/a4j/resource/richfaces_logo_200px.gif" alt="">
 </a>
</div>

<p class="wikiPara">
The RichFaces Team will be in <a href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brno,+Czech+Republic&amp;sll=37.649034,-95.712891&amp;sspn=41.21447,93.164063&amp;ie=UTF8&amp;z=11&amp;iwloc=A" target="" class="regularLink">Brno Czech Republic</a> for a rare face-to-face meeting from June 15th to June 17th. We will be discussing the future of RichFaces including RichFaces 4.0.0/JSF 2.0 &amp; 3.3.2 releases.
</p>

<p class="wikiPara">
If there is enough local interest we may be able to set up a night out with the community at a local establishment.  If you are interested and can make it to Brno one of those nights post a comment or head over to the <a href="http://www.jboss.org/index.html?module=bb&amp;op=viewtopic&amp;p=4234558" target="" class="regularLink">RichFaces User Forum</a>.
</p>

<p class="wikiPara">
Hope to hear from you!!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'RichFacesTeamMeetingInBrnoCzechRepublicJune15th17th';
    var disqus_title = 'RichFaces Team Meeting in Brno Czech Republic- June 15th-17th';
    var disqus_url = 'http://in.relation.to/11675.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
