---
title: "Recording of the RichFaces and JBoss Developer Studio Webinar Posted"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "08-05-2009"
original_tags: [JBoss Tools Eclipse,RichFaces,Seam News]
tags: [JBoss Tools,Rich Faces,Seam]

relative_url: /2009/05/08/recording-of-the-rich-faces-andjboss-developer-studio-webinar-posted
slug: recording-of-the-rich-faces-andjboss-developer-studio-webinar-posted
lace: http://in.relation.to/11331.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/05/08/recording-of-the-rich-faces-andjboss-developer-studio-webinar-posted
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The recording of the <a href="https://inquiries.redhat.com/go/redhat/20090507JBossWebinar" target="" class="regularLink">RichFaces and JBoss Developer Studio webinar</a> has been posted <a href="https://jboss.webex.com/jboss/lsr.php?AT=pb&amp;SP=EC&amp;rID=34596517&amp;rKey=4F20A4AF0ADF3B27" target="" class="regularLink">here</a>.  
</p>

<p class="wikiPara">
The talk went really well and there lots of good questions and feedback.  Check out the recording for all the questions and additional information.  
</p>

<p class="wikiPara">
I was asked to provide links to the RichFaces Photo Album demo so here they are:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">
<a href="https://www.jboss.org/community/docs/DOC-12846" target="" class="regularLink">Photo Album Wiki Page</a> - design, and instructions for building</li>
<li class="wikiUnorderedListItem">
<a href="http://anonsvn.jboss.org/repos/richfaces/trunk/examples/photoalbum/" target="" class="regularLink">Demo SVN</a> - source, test, and doc code</li>
<li class="wikiUnorderedListItem">
<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=261" target="" class="regularLink">User Forums</a> - For any questions you may have</li>
</ul>

<p class="wikiPara">
Also don't forget to follow the JBoss project twitter accounts for updates <a href="http://twitter.com/JBossNews" target="" class="regularLink">JBoss News</a>, <a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces</a>, <a href="http://twitter.com/jbossseam" target="" class="regularLink">Seam</a>, <a href="http://twitter.com/jbosstools" target="" class="regularLink">JBoss Tools</a>.
</p>
</div>

