---
title: "Introduction to Seam talk at Maine JUG"
author: "Jay Balunas"
creation_date: "25-03-2009"
blogger_name: "Jay"
layout: blog-post
tags: [Seam News]
slug: IntroductionToSeamTalkAtMaineJUG
lace: http://in.relation.to/10959.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'll cover the basics of Seam and whats in store for the future.  If the demo gods are smiling I will also be showing off <tt>seam-gen</tt> and reverse engineering a CRUD application as well.
</p>

<p class="wikiPara">
Date: March 25th <i class="wikiEmphasis">today</i>
</p>

<p class="wikiPara">
When: 6:00PM EST and should last until 7:30-8:00PM
</p>

<p class="wikiPara">
Where: 506 Main Street, Westbrook ME
</p>

<p class="wikiPara">
See <a href="http://www.techmaine.com/civicrm/event/info?reset=1&amp;id=23" target="" class="regularLink">techMaine site</a> for more details.
</p>

<p class="wikiPara">
If your in the area, see you there.
</p>

</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'IntroductionToSeamTalkAtMaineJUG';
    var disqus_title = 'Introduction to Seam talk at Maine JUG';
    var disqus_url = 'http://in.relation.to/10959.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
