---
title: "RichFaces and JBoss at JSFSummit!!"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "22-11-2009"
original_tags: [Contexts and Dependency Injection,RichFaces,Seam News,Weld]
tags: [CDI,Rich Faces,Seam,Weld]

relative_url: /2009/11/22/rich-faces-andjboss-at-jsf-summit
slug: rich-faces-andjboss-at-jsf-summit
lace: http://in.relation.to/13148.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/11/22/rich-faces-andjboss-at-jsf-summit
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/jbossrichfaces" target="blank"> 
         <img src="http://www.jroller.com/a4j/resource/richfaces_logo_200px.gif" alt="">
     </a>
</div>

<p class="wikiPara">
Several of us from JBoss will be presenting at <a href="http://www.jsfsummit.com/conference/orlando/2009/12/home" target="" class="regularLink">JSFSummit</a> in Orlando Florida between December 1st and 4th.  We'll be covering lots of different content from general RichFaces <q>how-to</q> sessions, advanced component demos, JSFUnit, Seam, CDI, and other JSF related topics.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.jsfsummit.com/conference/orlando/2009/12/session?id=16614" target="" class="regularLink">RichFaces Component Toolbox: Today and Tomorrow by Jay Balunas</a>
</li>
<li class="wikiUnorderedListItem"><a href="http://www.jsfsummit.com/conference/orlando/2009/12/session?id=16617" target="" class="regularLink">The Best Kept Secrets of Seam, RichFaces, JSF and Facelets by Jay Balunas</a></li>
<li class="wikiUnorderedListItem"><a href="http://www.jsfsummit.com/conference/orlando/2009/12/session?id=16527" target="" class="regularLink">CDI (JSR-299), Weld and the future of Seam by Dan Allen</a></li>
<li class="wikiUnorderedListItem"><a href="http://www.jsfsummit.com/conference/orlando/2009/12/session?id=16080" target="" class="regularLink">JSF 2: Keeping Progress Coming by Dan Allen and Andy Schwartz</a></li>
<li class="wikiUnorderedListItem"><a href="http://www.jsfsummit.com/conference/orlando/2009/12/session?id=16083" target="" class="regularLink">Seam &amp; RESTeasy: You haven't seen REST yet by Dan Allen and Lincoln Baxter III</a></li>
<li class="wikiUnorderedListItem"><a href="http://www.jsfsummit.com/conference/orlando/2009/12/session?id=16065" target="" class="regularLink">Maturing your application's security with Seam Security by Dan Allen</a></li>
<li class="wikiUnorderedListItem"><a href="http://www.jsfsummit.com/conference/orlando/2009/12/session?id=16092" target="" class="regularLink">Dumping JSF by Stan Silvert</a></li>
<li class="wikiUnorderedListItem"><a href="http://www.jsfsummit.com/conference/orlando/2009/12/session?id=16082" target="" class="regularLink">Holistic testing of JSF applications by Stan Silvert</a></li>
</ul>

<p class="wikiPara">
For all the details, and times check out the <a href="http://www.jsfsummit.com/conference/orlando/2009/12/sessions" target="" class="regularLink">JSFSummit Sessions</a> page.  We've also updated the <a href="http://www.jboss.org/richfaces/community/richfacescalendar.html" target="" class="regularLink">RichFaces project calendar</a> page with this info!
</p>

<p class="wikiPara">
Also don't forget to <a href="http://www.jsfsummit.com/conference/orlando/2009/12/register" target="" class="regularLink">register</a> if you have not already!!
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/richfaces" target="" class="regularLink">Project Site</a>]
[<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=261" target="" class="regularLink">User Forums</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=262" target="" class="regularLink">Design Forums</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]
</p>



</div>

