---
title: "RichFaces 4.0.0.ALPHA1 Released!!"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "01-09-2009"
tags: [JavaServer Faces,RichFaces,Seam News]

absolute_url: http://in.relation.to/2009/09/01/RichFaces400ALPHA1Released
lace: http://in.relation.to/12247.lace
slug: RichFaces400ALPHA1Released

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/richfaces" target="blank"> 
         <img src="http://www.jroller.com/a4j/resource/richfaces_logo_200px.gif" alt="">
     </a>
</div>

<p class="wikiPara">
The RichFaces team is very happy to announce that the first ALPHA release of RichFaces 4.0.0 with JSF 2.0 support has been released.  This first release will give all of you early adopters and fans out there a chance to play with the project.  Any feedback, issues, comments, or patches are welcome as always.
</p>

<p class="wikiPara">
You can download all the release artifacts at the <a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">RichFaces Download</a> page and the readme.txt in the <a href="http://download.jboss.com/jboss-richfaces/richfaces-4.0.0.ALPHA1.zip" target="" class="regularLink">richfaces-4.0.0.ALPHA1</a> distribution contains all you need to get started and integrate the library into your application.  You can also check out the <a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12313508&amp;styleName=Html&amp;projectId=12310341&amp;Create=Create" target="" class="regularLink">Release Notes</a> for even more details.
</p>

<h3 class="wikiHeadline3" id="H-Components"><a href="/Bloggers/RichFaces400ALPHA1Released#H-Components">Components</a></h3>
<p class="wikiPara">
There are eight components completed for this first release.  We will be adding more for each milestone including all the rich components.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">
<tt>a4j:ajax</tt> (<i class="wikiEmphasis">formally <tt>a4j:support</tt></i>)</li>
<li class="wikiUnorderedListItem"><tt>a4j:commandLink</tt></li>
<li class="wikiUnorderedListItem"><tt>a4j:commandButton</tt></li>
<li class="wikiUnorderedListItem"><tt>a4j:push</tt></li>
<li class="wikiUnorderedListItem"><tt>a4j:mediaOutput</tt></li>
<li class="wikiUnorderedListItem"><tt>a4j:status</tt></li>
<li class="wikiUnorderedListItem"><tt>a4j:jsFunction</tt></li>
<li class="wikiUnorderedListItem"><tt>a4j:log</tt></li>
<li class="wikiUnorderedListItem"><tt>a4j:outputPanel</tt></li>
</ul>

<p class="wikiPara">
Most function like their cousins in the 3.3.X series ( <i class="wikiEmphasis">for now</i> ), and the RichFaces demo application ( new name ideas welcome ) show them all.  
</p>

<h3 class="wikiHeadline3" id="H-RichFacesDemoExample"><a href="/Bloggers/RichFaces400ALPHA1Released#H-RichFacesDemoExample">RichFaces Demo Example</a></h3>
<p class="wikiPara">
We wanted a way for everyone to get started early with RichFaces 4.0 and try out the components so we created this component gallery example.  The readme.txt file in the <a href="http://download.jboss.com/jboss-richfaces/richfaces-examples-4.0.0.ALPHA1.zip" target="" class="regularLink">richfaces-examples-4.0.0.ALPHA1</a> download will have all the details, but here are steps to you started.
</p>

<h4 class="wikiHeadline4" id="H-BuildAndDeploy"><a href="/Bloggers/RichFaces400ALPHA1Released#H-BuildAndDeploy">Build and Deploy</a></h4>
<p class="wikiPara">
This demo application can be built and deployed to servlet containers and some JEE5 servers.  For convenience  we include 2 pre-built war files, one for each type of server.  Note for testing we used both <a href="http://tomcat.apache.org/download-60.cgi" target="" class="regularLink">tomcat 6</a> and <a href="http://jboss.org/jbossas/downloads/" target="" class="regularLink">JBoss AS 5.1</a>, and more will be added to this list.  
</p>

<p class="wikiPara">
You can also build the example fresh from the included source files.  However note that we are currently building from the SNAPSHOT versions of the JSF 2 Mojarra project and this can sometimes cause issues.  The build requires <a href="http://maven.apache.org/release-notes-2.1.x.html" target="" class="regularLink">Maven 2.1.0</a> and can be built and ran 3 different ways:
</p>

<p class="wikiPara">
Servlet container compatible <tt>war</tt>:
</p>

<pre class="wikiPreformatted">mvn install
</pre>


<p class="wikiPara">
Then deploy to Tomcat 6.x or just run using maven and jetty with:
</p>

<pre class="wikiPreformatted">mvn jetty:run-war
</pre>


<p class="wikiPara">
JEE5 compatible <tt>war</tt>:
</p>

<pre class="wikiPreformatted">mvn install -P jee5
</pre>


<p class="wikiPara">
Then deploy to JBoss AS 5.x/4.2.x or some other jee5 servers.  Don't forget to update your server's JSF libraries to the latest snapshots of <a href="https://javaserverfaces.dev.java.net/" target="" class="regularLink">JSF 2.0 Mojarra</a> project.  For JBoss AS you can follow these directions: <a href="http://www.jboss.org/community/wiki/UpgradeJBossAStoJSF2" target="" class="regularLink">Upgrade JBoss AS to JSF2</a>
</p>

<p class="wikiPara">
Anyway you deploy the example you can access it with this link <a href="http://localhost:8080/richfaces-demo" target="" class="regularLink">http://localhost:8080/richfaces-demo</a>
</p>

<h4 class="wikiHeadline4" id="H-IDEIntegration"><a href="/Bloggers/RichFaces400ALPHA1Released#H-IDEIntegration">IDE Integration</a></h4>
<p class="wikiPara">
Since we build using maven it is very easy to integrate with your favorite IDE.  Use the standard maven commands for your IDE.
</p>

<p class="wikiPara">
For eclipse:
</p>

<pre class="wikiPreformatted">mvn eclipse:eclipse
</pre>


<p class="wikiPara">
For Intelij:
</p>

<pre class="wikiPreformatted">mvn idea:idea
</pre>


<p class="wikiPara">
Then just import the project into your IDE and you can start playing!
</p>

<h3 class="wikiHeadline3" id="H-ComponentDevelopmentKit"><a href="/Bloggers/RichFaces400ALPHA1Released#H-ComponentDevelopmentKit">Component Development Kit</a></h3>
<p class="wikiPara">
This release also includes a preview of the 4.0 Component Development Kit (CDK).  This will make creating rich JSF components a snap with helpful tools, maven archetypes, and more.  Right now it is in a very early development state, and can be used to create very basic components.  Follow these instructions for ALPHA1 CDK: <a href="http://www.jboss.org/community/wiki/RichFaces400ALPHA1CDKTutorial" target="" class="regularLink">RichFaces 4.0.0.ALPHA1 CDK Tutorial</a> ( Watch this page for updates ).
</p>

<h3 class="wikiHeadline3" id="H-WhatsToCome"><a href="/Bloggers/RichFaces400ALPHA1Released#H-WhatsToCome">What's To Come</a></h3>
<p class="wikiPara">
We are planning another ALPHA release at the end of October, and regular BETAs to follow that.  Each milestone will have more features and components.  We will be discussing more details in the coming weeks and be updating both the wiki and jira to represent the changes - so keep an eye out if you are interested.
</p>

<h3 class="wikiHeadline3" id="H-MoreInformationAndGettingInvolved"><a href="/Bloggers/RichFaces400ALPHA1Released#H-MoreInformationAndGettingInvolved">More Information and Getting Involved</a></h3>
<p class="wikiPara">
RichFaces is an open community project and we want to encourage anyone interested to get involved.  That can be as simple as letting us know when you find a problem or answering questions on the forums, to submitting patches and helping to define direction and features.  
</p>

<p class="wikiPara">
We have weekly meeting via IRC which anyone can attend, please see the <a href="http://www.jboss.org/richfaces/community/richfacescalendar.html" target="" class="regularLink">Project Calendar</a> and the <a href="http://www.jboss.org/community/wiki/RichFacesTeamMeetingInformation" target="" class="regularLink">Meeting Information</a> page for more details.
</p>

<p class="wikiPara">
To get the latest on RichFaces 4.0 you can also keep eye out for updates to the <a href="http://www.jboss.org/community/wiki/RichFaces40Planning" target="" class="regularLink">4.0 planning wiki</a>  and the <a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=262" target="" class="regularLink">RichFaces Dev forums</a>
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/richfaces" target="" class="regularLink">Project Site</a>]
[<a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">Downloads</a>]
[<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=261" target="" class="regularLink">User Forums</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=262" target="" class="regularLink">Design Forums</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]</p>
</div>
