---
title: "RichFaces 3.3.3.BETA1 Released with JSF 2 Support!!"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "23-12-2009"
tags: [JavaServer Faces,RichFaces,Seam News]

relative_url: /2009/12/23/rich-faces-333-beta-1-released-with-jsf-2-support
slug: rich-faces-333-beta-1-released-with-jsf-2-support
lace: http://in.relation.to/13691.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/12/23/rich-faces-333-beta-1-released-with-jsf-2-support
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/jbossrichfaces" target="blank"> 
         <img src="http://www.jroller.com/a4j/resource/richfaces_logo_200px.gif" alt="">
     </a>
</div>

<p class="wikiPara">
The RichFaces team is pleased to announce that the first milestone of RichFaces 3.3.3 has been released!  You can download the bits from the <a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">milestone download page</a> or if you are using maven, you can update your dependencies following the <a href="http://community.jboss.org/wiki/HowtoaddRichFaces33xtomavenbasedproject" target="" class="regularLink">RichFaces Maven wiki page</a>.
</p>

<p class="wikiPara">
The 3.3.3 release is a special one for RichFaces because it brings JSF 2.0 support to the 3.3.X branch.  With this release you will be able to run your existing RichFaces applications with JSF 2.0.  This is an important step in migrating your existing applications to JSF 2.0.   
</p>

<p class="wikiPara">
When you innovate on top of a standard (like JSF 1.2), the way RichFaces 3.X did, there are bound to be a few issues when the underlying standard has a major revision as it did with JSF 2.0.  While the 3.3.3 release will let you run your applications with JSF 2.0 you'll still need to wait for RichFaces 4.0 for complete JSF 2.0 integration, development, and extensions.  There are a couple of known issues, and limitations that you should be aware of, and they can be reviewed at our wiki page : <a href="http://community.jboss.org/wiki/RichFaces333andJSF20" target="" class="regularLink">RichFaces 3.3.3 and JSF 2.0</a>.  We'll do what we can in the remaining 3.3.3 milestone release to address these, but there are a few items that will need to wait for 4.0.
</p>

<p class="wikiPara">
We wanted to keep this a small and focused release, but this was more than just a release for adding JSF 2.0 support.  There were a few stabilization issues we wanted to get in, some other issues brought up by our community.  You can check out the full list in the <a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12314119&amp;styleName=Html&amp;projectId=12310341&amp;Create=Create" target="" class="regularLink">release notes for 3.3.3.BETA1</a>.  
</p>

<p class="wikiPara">
We would like to ask our community to give 3.3.3.BETA1 a shot with JSF 2.0 and let us know if you find any issues.  We'll be following up this release with either a BETA2 or a CR1 release depending on number of issues found, and complexity of the fixes.  
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/richfaces/download/milestones.html%5C" target="" class="regularLink">Milestone Downloads</a>
[<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] 
[<a href="http://community.jboss.org/en/richfaces?view=discussions" target="" class="regularLink">User Forums</a>] 
[<a href="http://community.jboss.org/en/richfaces/dev?view=discussions" target="" class="regularLink">Design Forums</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]</p>
</div>

