---
title: "Introduction to Seam talk at Maine JUG"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "25-03-2009"
original_tags: [Seam News]
tags: [Seam]

relative_url: /2009/03/25/introduction-to-seam-talk-at-maine-jug
slug: introduction-to-seam-talk-at-maine-jug
lace: http://in.relation.to/10959.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/03/25/introduction-to-seam-talk-at-maine-jug
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'll cover the basics of Seam and whats in store for the future.  If the demo gods are smiling I will also be showing off <tt>seam-gen</tt> and reverse engineering a CRUD application as well.
</p>

<p class="wikiPara">
Date: March 25th <i class="wikiEmphasis">today</i>
</p>

<p class="wikiPara">
When: 6:00PM EST and should last until 7:30-8:00PM
</p>

<p class="wikiPara">
Where: 506 Main Street, Westbrook ME
</p>

<p class="wikiPara">
See <a href="http://www.techmaine.com/civicrm/event/info?reset=1&amp;id=23" target="" class="regularLink">techMaine site</a> for more details.
</p>

<p class="wikiPara">
If your in the area, see you there.
</p>

</div>

