---
title: "Introducing JBoss Tattletale 1.0 BETA1"
author: "Jay Balunas"
creation_date: "20-02-2009"
blogger_name: "Jay"
layout: blog-post
tags: [TattleTale]
slug: IntroducingJBossTattletale10BETA1
lace: http://in.relation.to/10713.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<i class="wikiEmphasis">Have you ever found yourself frustrated with a ClassNotFoundException?  Would you like to know what libraries are in your project and what they depend on?   Would you like to get a full report on this stuff every time you run your ant build?  If so you need to take a look at the new JBoss Tattletale project!</i>
</p>

<p class="wikiPara">
JBoss Tattletale is a tool that can help you get an overview of the project you are working on
or a product that you depend on.
</p>

<p class="wikiPara">
The tool will provide you with reports that can help you
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Identify dependencies between <tt>JAR</tt> files</li>
<li class="wikiUnorderedListItem"> Find missing classes from the classpath</li>
<li class="wikiUnorderedListItem"> Spot if a class is located in multiple <tt>JAR</tt> files</li>
<li class="wikiUnorderedListItem"> Spot if the same <tt>JAR</tt> file is located in multiple locations </li>
<li class="wikiUnorderedListItem"> Identify <tt>JAR</tt> file versions</li>
<li class="wikiUnorderedListItem"> With a list of what each <tt>JAR</tt> file requires and provides</li>
<li class="wikiUnorderedListItem"> Verify the SerialVersionUID of a class</li>
</ul>

<p class="wikiPara">
JBoss Tattletale will recursive scan a directory for <tt>JAR</tt> files and generate linked and formatted HTML reports.
</p>

<p class="wikiPara">
JBoss Tattletale is licensed under GNU Lesser General Public License (LGPL) version 2.1 or later.
</p>

<p class="wikiPara">
We hope that JBoss Tattletale will help you in your development tasks ! 
</p>

<p class="wikiPara">
[<a href="http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=311046&amp;release_id=662710" target="" class="regularLink">Download</a>] [<a href="http://jira.jboss.com/jira/browse/TTALE" target="" class="regularLink">Jira</a>] [<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=306" target="" class="regularLink">Forum</a>] [<a href="http://anonsvn.jboss.org/repos/tattletale" target="" class="regularLink">SVN</a>]
</p>
</div>
