---
title: "RichFaces 3.3.2.SR1 Released"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "14-10-2009"
tags: [JavaServer Faces,RichFaces,Seam News]

relative_url: /2009/10/14/RichFaces332SR1Released
slug: RichFaces332SR1Released
lace: http://in.relation.to/12579.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/10/14/RichFaces332SR1Released
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/jbossrichfaces" target="blank"> 
         <img src="http://www.jroller.com/a4j/resource/richfaces_logo_200px.gif" alt="">
     </a>
</div>

<p class="wikiPara">
Unfortunately a few regression issues slipped through the cracks and were found by our community.  To address these in a timely manor we have been working on, and just released 3.3.2.SR1 (Service Release).  This release can be downloaded from our project's <a href="http://www.jboss.org/richfaces/download/stable.html" target="" class="regularLink">Stable Release page</a> and accessed in maven using the version identifier <i class="wikiEmphasis">3.3.2.SR1</i> as usual.
</p>

<p class="wikiPara">
There were only 6 jira issues resolved in the release and they can be reviewed here - <a href="https://jira.jboss.org/jira/browse/RF/fixforversion/12314031" target="" class="regularLink">3.3.2.SR1 Jira page</a>.  Most have to do with the ExtendedDataTable, but others deal with Calendars, ModalPanel, and MenuItems.
</p>

<p class="wikiPara">
Although we never like to have regressions slip through - I think that it is testament  to the strength of our community that they were found so quickly and clearly reported.  Thanks to all involved in this!!
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/richfaces/download/stable.html" target="" class="regularLink">Project Downloads</a>]
[<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=261" target="" class="regularLink">User Forums</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=262" target="" class="regularLink">Design Forums</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Note: there were no changes to documentation so document links continue to point to 3.3.2.GA</i></p>
</div>

