---
title: "RichFaces 3.3.1 BETA2 Available"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "28-03-2009"
tags: [RichFaces]

relative_url: /2009/03/28/RichFaces331BETA2Available
slug: RichFaces331BETA2Available
lace: http://in.relation.to/10977.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/03/28/RichFaces331BETA2Available
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
RichFaces 3.3.1.BETA2 has been uploaded to the JBoss repository.  We continue to stabilize the code base on the way to final release.
</p>

<h3 class="wikiHeadline3" id="H-HighlightsOfRichFaces331"><a href="/2009/03/28/RichFaces331BETA2Available#H-HighlightsOfRichFaces331">Highlights of RichFaces 3.3.1</a></h3>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> New layout components <tt>&lt;rich:page/&gt;</tt>, <tt>&lt;rich:layout/&gt;</tt>, and <tt>&lt;rich:layoutPanel/&gt;</tt>
</li>
<li class="wikiUnorderedListItem"> New ColorPicker component <tt>&lt;rich:colorPicker/&gt;</tt>
</li>
<li class="wikiUnorderedListItem"> <a href="https://www.jboss.org/community/docs/DOC-13329" target="" class="regularLink">Maven Resource Dependency Plugin</a>
</li>
<li class="wikiUnorderedListItem"> Queue mechanism updated <a href="https://jira.jboss.org/jira/browse/RF-5788" target="" class="regularLink">RF-5788</a>
</li>
<li class="wikiUnorderedListItem"> Context menu improvements <a href="https://jira.jboss.org/jira/browse/RF-3532" target="" class="regularLink">RF-3532</a>
</li>
<li class="wikiUnorderedListItem"> <tt>rich.isUserInRole()</tt> added for security integrations Acegi and etc..). <a href="https://jira.jboss.org/jira/browse/RF-6551" target="" class="regularLink">RF-6551</a>
</li>
<li class="wikiUnorderedListItem"> Modal Panel DOM reposition made configurable. <a href="https://jira.jboss.org/jira/browse/RF-5588" target="" class="regularLink">RF-5588</a> <i class="wikiEmphasis">(released in 3.3.0 but not announced)</i>
</li>
<li class="wikiUnorderedListItem"> JQuery script updated to 1.3.2 version</li>
<li class="wikiUnorderedListItem"> Lots of stabilization and bug fixing - <a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12313100&amp;styleName=Html&amp;projectId=12310341&amp;Create=Create" target="" class="regularLink">Release Notes</a>
</li>
</ul>

<p class="wikiPara">
<i class="wikiEmphasis">Give it a try, and please let us know if you run into any issues!</i>
</p>

<p class="wikiPara">
[<a href="http://repository.jboss.org/maven2/org/richfaces/ui/richfaces-ui/3.3.1.BETA2/" target="" class="regularLink">Download</a>] [<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] [<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=261" target="" class="regularLink">User Forums</a>] [<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=262" target="" class="regularLink">Design Forums</a>]</p>
</div>
