---
title: "RichFaces 3.3.2.CR1 Released"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "26-08-2009"
original_tags: [JavaServer Faces,RichFaces,Seam News]
tags: [JSF,Rich Faces,Seam]

relative_url: /2009/08/26/rich-faces-332-cr-1-released
slug: rich-faces-332-cr-1-released
lace: http://in.relation.to/12224.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/08/26/rich-faces-332-cr-1-released
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/jbossrichfaces" target="blank"> 
         <img src="http://www.jroller.com/a4j/resource/richfaces_logo_200px.gif" alt="">
     </a>
</div>

<p class="wikiPara">
This is a candidate release for for the <a href="http://anonsvn.jboss.org/repos/richfaces/branches/community/3.3.X/" target="" class="regularLink">3.3.X branch</a> and is primarily a bug fix and stabilization release.  Please take a look at <a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">3.3.2.CR1</a> and let us know what you think, or if you find any issues! 
</p>

<p class="wikiPara">
For all the details of what is fixed take a look at the <a href="https://jira.jboss.org/jira/browse/RF/fixforversion/12313512" target="" class="regularLink">3.3.2.CR1 jira page</a> or the <a href="https://jira.jboss.org/jira/issues/?jql=project=12310341+AND+fixVersion=12313512" target="" class="regularLink">release notes</a>.
</p>

<p class="wikiPara">
We will be aiming for a 3.3.2.GA release at the end of September or early October.  
</p>

<p class="wikiPara">
We are all still very focused on the RichFaces 4.0 release with JSF 2.0 support.  Keep an eye out at <a href="http://in.relation.to/" target="" class="regularLink">in.releation.to</a> and <a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a> for updates and an ALPHA releases.
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">Project Downloads</a>]
[<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=261" target="" class="regularLink">User Forums</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=262" target="" class="regularLink">Design Forums</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]
</p>
</div>

