---
title: "Two JSF 2.0\\RichFaces Presentations at the Colorado Software Summit"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "13-05-2009"
tags: [JavaServer Faces,RichFaces,Seam News]

relative_url: /2009/05/13/TwoJSF20RichFacesPresentationsAtTheColoradoSoftwareSummit
slug: TwoJSF20RichFacesPresentationsAtTheColoradoSoftwareSummit
lace: http://in.relation.to/11381.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/05/13/TwoJSF20RichFacesPresentationsAtTheColoradoSoftwareSummit
---
<div id="documentDisplay" class="documentDisplay">


<table><tr>
<th>
Two of my JSF 2.0/RichFaces presentations have just been accepted for the <a href="http://www.softwaresummit.com/index.html" target="" class="regularLink">Colorado Software Summit</a> the week of October 25th-30th, 2009.  From what I can tell the conference is all technology and no marketing, and should be a lot of fun.  It does not hurt that it is in Keystone Colorado within the beautiful rocky mountains.
<br><br>
A summary of my two talks are below.  I will be giving each of these talks 3 times throughout the week.  This is something unique to this conference and makes it so everyone can attend the talks (although my tongue will likely be cramping by the end).
</th>
<th><img hspace="15" height="200px" width="260px" src="http://www.softwaresummit.com/2009/photos/confcenter.jpg"></th>
</tr></table>

<h3 class="wikiHeadline3" id="H-JavaServerFacesIsGrowingUp"><a href="/2009/05/13/TwoJSF20RichFacesPresentationsAtTheColoradoSoftwareSummit#H-JavaServerFacesIsGrowingUp">JavaServer Faces Is Growing Up</a></h3>

<p class="wikiPara">
JSF 2.0 is major step forward from JSF 1.2, reminiscent of the evolution between EJB 2.1 and EJB 3.  These updates make JSF easier to work with and provide many features that developers have been looking for.  These changes are here to make your life easier and we'll go through all of the major topics so you can jump in and start developing.  
</p>

<p class="wikiPara">
Key features explored:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Declarative annotations instead of verbose XML</li>
<li class="wikiUnorderedListItem"> Integrated Ajax behaviors </li>
<li class="wikiUnorderedListItem"> Page/view parameters</li>
<li class="wikiUnorderedListItem"> Integrated resource handling</li>
<li class="wikiUnorderedListItem"> View Definition Language (VDL) </li>
<li class="wikiUnorderedListItem"> View templating </li>
<li class="wikiUnorderedListItem"> and more....</li>
</ul>

<p class="wikiPara">
We'll be using the Mojarra implementation and RichFaces 4.0 for the demonstrations and examples so you can see these topics in action.  At the end of this session we'll also discuss the future of JSF and what the 2.1 version of the specification is likely to add.
</p>

<h3 class="wikiHeadline3" id="H-JavaServerFaces20ComponentImplications"><a href="/2009/05/13/TwoJSF20RichFacesPresentationsAtTheColoradoSoftwareSummit#H-JavaServerFaces20ComponentImplications">JavaServer Faces 2.0 Component Implications</a></h3>

<p class="wikiPara">
JavaServer Faces 2.0 has many great advancements, and some of the most notable are related to how components are created and used by developers. 
</p>

<p class="wikiPara">
In this session we will break down some of the most important updates related to components, what the implications are to both component and application developers.  These include the new View Description Language (VDL), composite components, behavior framework (including ajax behaviors), partial tree traversal and updates,, and the new event system.  
</p>

<p class="wikiPara">
With practical examples from the RichFaces project showing how to create and use new ajax enabled components, attendees should leave the session with an detailed understanding of what JSF 2.0 means to them, and the components that they use everyday.
</p>
</div>
