---
title: "Tattletale 1.0.BETA2 Released"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "04-03-2009"
original_tags: [TattleTale]
tags: []

relative_url: /2009/03/04/tattletale-10-beta-2-released
slug: tattletale-10-beta-2-released
lace: http://in.relation.to/10783.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/03/04/tattletale-10-beta-2-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
JBoss Tattletale 1.0.Beta2 was released today featuring new reports and important
bug-fixes. 
</p>

<p class="wikiPara">
JBoss Tattletale is a tool that can help you get an overview of the project 
you are working on or a product that you depend on. The tool will recursive scan 
a directory for JAR files and generate linked and formatted HTML reports.
</p>

<p class="wikiPara">
JBoss Tattletale now features the following reports to help you with the quality of
your project:
</p>

<p class="wikiPara">
Dependencies
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Dependents</li>
<li class="wikiUnorderedListItem"> Depends On</li>
<li class="wikiUnorderedListItem"> Transitive Dependents</li>
<li class="wikiUnorderedListItem"> Transitive Depends On</li>
</ul>

<p class="wikiPara">
Reports
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Class Location</li>
<li class="wikiUnorderedListItem"> Eliminate Jar files with different versions</li>
<li class="wikiUnorderedListItem"> Multiple Jar files</li>
<li class="wikiUnorderedListItem"> Multiple Locations</li>
<li class="wikiUnorderedListItem"> No version</li>
</ul>

<p class="wikiPara">
Furthermore we have included an initial implementation of the ClassLoaderStructure interface for
JBoss Application Server 4.x and JBoss Application Server 5.x which will scope the archives based
on classloader constraints.
</p>

<p class="wikiPara">
All users should upgrade to this release.
</p>

<p class="wikiPara">
JBoss Tattletale is licensed under GNU Lesser General Public License (LGPL) version 2.1 or later.
</p>

<p class="wikiPara">
We hope that JBoss Tattletale will help you in your development tasks !
</p>

<p class="wikiPara">
[<a href="http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=311046&amp;release_id=665534" target="" class="regularLink">Download</a>] [<a href="http://jira.jboss.com/jira/browse/TTALE" target="" class="regularLink">Jira</a>] [<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=306" target="" class="regularLink">Forum</a>] [<a href="http://anonsvn.jboss.org/repos/tattletale" target="" class="regularLink">SVN</a>]</p>
</div>

