---
title: "RichFaces 3.3.1.GA Released!"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "18-05-2009"
original_tags: [JavaServer Faces,RichFaces,Seam News]
tags: [JSF,Rich Faces,Seam]

relative_url: /2009/05/18/rich-faces-331-ga-released
slug: rich-faces-331-ga-released
lace: http://in.relation.to/11461.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/05/18/rich-faces-331-ga-released
---
<div id="documentDisplay" class="documentDisplay">


<table>
   <tr>
      <th>
<a href="http://labs.jboss.com/jbossrichfaces" target="blank"> 
 <img hspace="15" src="http://www.jboss.org/files/jbosslabs/design/richfaces/logo/final_logo/richfaces_logo_200px.gif" alt="">
 </a>
      </th>
<th>The RichFaces team is proud to announce the release of 3.3.1.GA.  There are several new components, lots of stabilization, and 1100+ jiras resolved.  We also have a new photo album example to explore and build from.</th>
   </tr>
</table>

<h3 class="wikiHeadline3" id="H-NewComponentsAmpFeatures"><a href="/2009/05/18/rich-faces-331-ga-released#H-NewComponentsAmpFeatures">New Components &amp; Features</a></h3>
<p class="wikiPara">
There several new component in 3.3.1.  The most anticipated are the new layout components, and themes, but we also added a new <tt>&lt;rich:colorPicker/&gt;</tt> in the release as well.
</p>

<h4 class="wikiHeadline4" id="H-LayoutComponentsAmpThemes"><a href="/2009/05/18/rich-faces-331-ga-released#H-LayoutComponentsAmpThemes">Layout Components &amp; Themes</a></h4>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <tt>&lt;rich:page/&gt;</tt> easily setup your page structure such as <i class="wikiEmphasis">header</i>, <i class="wikiEmphasis">footer</i>, <i class="wikiEmphasis">content</i>, and <i class="wikiEmphasis">sidebar</i>.  </li>
<li class="wikiUnorderedListItem"> <tt>&lt;rich:layout/&gt;</tt> and <tt>&lt;rich:layoutPanel/&gt;</tt>  nestable page layouts using <a href="http://developer.yahoo.com/yui/grids/" target="" class="regularLink">Yahoo's UI CSS Grid</a> under the hood to providing lots of flexibility.</li>
</ul>

<p class="wikiPara">
We also added a new concept called <i class="wikiEmphasis">themes</i> which are predefined and packaged layouts that interact with the tags above.  This makes it easy to experiment and adjust your layout in a similar way that skins make it easy to swap your look &amp; feel.  We also created maven archetypes and CDK goals to easily create your own themes.
</p>

<p class="wikiPara">
For more information see the <a href="http://www.jboss.org/community/docs/DOC-13336" target="" class="regularLink">layout design wiki</a> page, and <a href="http://www.jboss.org/jbossrichfaces/docs/" target="" class="regularLink">RichFaces development guide</a>.
</p>

<h3 class="wikiHeadline3" id="H-BugFixesAmpStabilizations"><a href="/2009/05/18/rich-faces-331-ga-released#H-BugFixesAmpStabilizations">Bug Fixes &amp; Stabilization's</a></h3>

<p class="wikiPara">
As I said over 1100 jira issues were resolved - the details can be found in the <a href="https://jira.jboss.org/jira/issues/?jql=project=12310341%20AND%20fixVersion=12313100" target="" class="regularLink">release notes</a>.
</p>

<p class="wikiPara">
Some of the more popular are:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> JQuery script updated to 1.3.2 version</li>
<li class="wikiUnorderedListItem"> <a href="https://www.jboss.org/community/docs/DOC-13329" target="" class="regularLink">Maven Resource Dependency Plugin</a>
</li>
<li class="wikiUnorderedListItem"> Calendar lazy loading implemented <a href="https://jira.jboss.org/jira/browse/RF-6884" target="" class="regularLink">RF-6884</a>
</li>
<li class="wikiUnorderedListItem"> Tree Adaptors configurable recursion order <a href="https://jira.jboss.org/jira/browse/RF-6639" target="" class="regularLink">RF-6639</a>
</li>
<li class="wikiUnorderedListItem"> <tt>rich.isUserInRole()</tt> added for security integrations Acegi and etc..). <a href="https://jira.jboss.org/jira/browse/RF-6551" target="" class="regularLink">RF-6551</a>
</li>
<li class="wikiUnorderedListItem"> Queue mechanism updated <a href="https://jira.jboss.org/jira/browse/RF-5788" target="" class="regularLink">RF-5788</a>
</li>
<li class="wikiUnorderedListItem"> Modal Panel DOM reposition made configurable. <a href="https://jira.jboss.org/jira/browse/RF-5588" target="" class="regularLink">RF-5588</a>
</li>
<li class="wikiUnorderedListItem"> <tt>limitToList</tt> server side optimizations <a href="https://jira.jboss.org/jira/browse/RF-5838" target="" class="regularLink">RF-5838</a>
</li>
</ul>

<p class="wikiPara">
We also extended and stabilized our selenium based automation suite which will ensure high quality and better environment coverage moving forward.
</p>

<h3 class="wikiHeadline3" id="H-PhotoAlbumDemo"><a href="/2009/05/18/rich-faces-331-ga-released#H-PhotoAlbumDemo">Photo Album Demo</a></h3>

<p class="wikiPara">
The team also worked hard to get a full scale demo application ready.  This is a separate download (see the links at the bottom), and contains best practices and example of RichFaces in action.  It includes drag-n-drop, file upload, wysiwyg editor components and more.  We will be hosting a version of it online soon, so keep an eye out on the project page, or watch the <a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a> account.
</p>

<h3 class="wikiHeadline3" id="H-Future"><a href="/2009/05/18/rich-faces-331-ga-released#H-Future">Future</a></h3>
<p class="wikiPara">
The focus of the RichFaces team will be on RichFaces 4.0 which will be fully integrated with JSF 2.0 and also be redesigned for consistency, performance, and ease of use.  All of our meetings and plans are open to all so please join us.  See <a href="http://www.jboss.org/community/wiki/RichFacesTeamMeetingInformation" target="" class="regularLink">RichFaces Team Meeting</a> wiki, and/or the <a href="http://www.jboss.org/community/wiki/RichFaces40Planning" target="" class="regularLink">RichFaces 4.0 Planning</a> wiki pages for more information.
</p>

<p class="wikiPara">
We will also be having a RichFaces 3.3.2 release sometime in the summer that will be strictly a bug fix release.  
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/jbossrichfaces/downloads/" target="" class="regularLink">Project Downloads</a>] 
[<a href="http://www.jboss.org/downloading/?projectId=jbossrichfaces&amp;url=http://download.jboss.com/jboss-richfaces/richfaces-examples-3.3.1.GA.tar.gz" target="" class="regularLink">Example Download</a>] 
[<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=261" target="" class="regularLink">User Forums</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=262" target="" class="regularLink">Design Forums</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]
</p>


</div>

