---
title: "RichFaces 3.3.1 BETA3 Available"
author: "Jay Balunas"
creation_date: "04-04-2009"
blogger_name: "Jay"
layout: blog-post
tags: [RichFaces]
slug: RichFaces331BETA3Available
lace: http://in.relation.to/11049.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
RichFaces 3.3.1.BETA3 has been uploaded to the JBoss repository.  We are getting close to the release and continue to stabilize the code base on the way to final release.
</p>

<h3 class="wikiHeadline3" id="H-HighlightsOfRichFaces331"><a href="/Bloggers/RichFaces331BETA3Available#H-HighlightsOfRichFaces331">Highlights of RichFaces 3.3.1</a></h3>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Realworld demo [<a href="https://www.jboss.org/community/docs/DOC-12846" target="" class="regularLink">Wiki Page</a>]</li>
<li class="wikiUnorderedListItem"> New layout components <tt>&lt;rich:page/&gt;</tt>, <tt>&lt;rich:layout/&gt;</tt>, and <tt>&lt;rich:layoutPanel/&gt;</tt>
</li>
<li class="wikiUnorderedListItem"> New ColorPicker component <tt>&lt;rich:colorPicker/&gt;</tt>
</li>
<li class="wikiUnorderedListItem"> Lots of stabilization and bug fixing - <a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12313100&amp;styleName=Html&amp;projectId=12310341&amp;Create=Create" target="" class="regularLink">Release Notes</a>
</li>
</ul>

<p class="wikiPara">
<i class="wikiEmphasis">Give it a try, and please let us know if you run into any issues!</i>
</p>

<p class="wikiPara">
[<a href="http://repository.jboss.org/maven2/org/richfaces/ui/richfaces-ui/3.3.1.BETA3/" target="" class="regularLink">Download</a>] [<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] [<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=261" target="" class="regularLink">User Forums</a>] [<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=262" target="" class="regularLink">Design Forums</a>]</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'RichFaces331BETA3Available';
    var disqus_title = 'RichFaces 3.3.1 BETA3 Available';
    var disqus_url = 'http://in.relation.to/11049.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
