---
title: "RichFaces and JBoss Developer Studio Webinar"
author: "Jay Balunas"
creation_date: "02-05-2009"
blogger_name: "Jay"
layout: blog-post
tags: [JBoss Tools,RichFaces,Seam News]
slug: RichFacesAndJBossDeveloperStudioWebinar
lace: http://in.relation.to/11197.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
On May 7th at both <a href="http://www.timeanddate.com/worldclock/fixedtime.html?month=5&amp;day=7&amp;year=2009&amp;hour=9&amp;min=0&amp;sec=0&amp;p1=43" target="" class="regularLink">9:00 AM EST</a> and again at <a href="http://www.timeanddate.com/worldclock/fixedtime.html?month=5&amp;day=7&amp;year=2009&amp;hour=14&amp;min=0&amp;sec=0&amp;p1=43" target="" class="regularLink">2:00 PM EST</a> we will be having a webinar on how to use RichFaces and JBoss Developer Studio to develop Rich Internet Applications (RIA).
</p>

<p class="wikiPara">
The title is <q><a href="https://inquiries.redhat.com/go/redhat/20090507JBossWebinar" target="" class="regularLink">Make it Rich: Using JBoss tools to easily build Rich Internet Applications</a></q>.  Aaron Darcy and I will go over some of the top RIA technologies and I'll demonstrate how to use JBoss Developer Studio with an advanced RichFaces application.
</p>

<p class="wikiPara">
The Q/A at the end is a great time to ask any questions you may have.
</p>

<p class="wikiPara">
The registration is free and open to everyone.  So go register <a href="https://inquiries.redhat.com/go/redhat/20090507JBossWebinar" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
See you there!</p>
</div>
