---
title: "New RichFaces Logo!!"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "12-05-2009"
tags: [RichFaces]

absolute_url: http://in.relation.to/2009/05/12/NewRichFacesLogo
lace: http://in.relation.to/11360.lace
slug: NewRichFacesLogo

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<table>
  <tr>
    <th>
       <img src="http://in.relation.to/service/File/11359">
    </th>
    <th>The RichFaces project has been without a logo for a long time, and I am proud to say that is changing.  The JBoss.org team has been working hard to create options and variations of different logos.  We then posted them to the community for opinions and feedback and through several different rounds a winner was chosen.
    </th>
  </tr>
</table>

<h3 class="wikiHeadline3" id="H-CommunityFeedbackAndOpinions"><a href="/Bloggers/NewRichFacesLogo#H-CommunityFeedbackAndOpinions">Community Feedback and Opinions</a></h3>
<p class="wikiPara">
To see the history and feedback of this discussion see:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://jira.jboss.org/jira/browse/RF-6683" target="" class="regularLink">Jira RF-6683</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.jboss.org/index.html?module=bb&amp;op=viewtopic&amp;t=153459" target="" class="regularLink">User Forum 1</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.jboss.org/index.html?module=bb&amp;op=viewtopic&amp;t=154284" target="" class="regularLink">User Forum 2</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>
</li>
</ul>

<h3 class="wikiHeadline3" id="H-FullLogo"><a href="/Bloggers/NewRichFacesLogo#H-FullLogo">Full Logo</a></h3>
<img src="http://in.relation.to/service/File/11358">
</div>
