---
title: "RichFaces 4.0.0.M1 Released!"
author: "Jay Balunas"
creation_date: "20-07-2010"
blogger_name: "Jay"
layout: blog-post
tags: [JavaServer Faces,RichFaces,Seam News]
slug: RichFaces400M1Released
lace: http://in.relation.to/16447.lace
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/richfaces" target="blank"> 
         <img src="http://www.jroller.com/a4j/resource/richfaces_logo_200px.gif" alt="">
     </a>
</div>

<p class="wikiPara">
RichFaces 4.0.0.M1 has been released!!  This is the first of our monthly releases on the road to the 4.0.0.Final release.  From here on out every month we will release an updated milestone with new components, features, and stabilization!
</p>

<p class="wikiPara">
As always you can download the release at the <a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">RichFaces Download</a> page and the readme.txt in the <a href="http://downloads.jboss.org/richfaces/milestones/4.0.X/4.0.0.M1/richfaces-4.0.0.M1.zip" target="" class="regularLink">RichFaces-4.0.0.M1</a> distribution contains all you need to get started and integrate the library into your application.  If you are using maven for your project you can follow the wiki instructions: <a href="http://community.jboss.org/wiki/HowtoaddRichFaces4xtomavenbasedproject" target="" class="regularLink">How to add RichFaces 4.X to Maven Based Project</a>. 
</p>

<p class="wikiPara">
For all the details you can review the <a href="https://jira.jboss.org/secure/ReleaseNote.jspa?projectId=12310341&amp;version=12313509" target="" class="regularLink">4.0.0.M1 Release Notes</a>. and please let us know of any problems for bugs you may find.  
</p>

<p class="wikiPara">
Some notable updates:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Improvements to the <a href="http://community.jboss.org/wiki/richfaces40componentsdevelopmentkit" target="" class="regularLink">Component Development Kit (CDK)</a>
</li>
<li class="wikiUnorderedListItem"> New components: <a href="https://jira.jboss.org/browse/RF-8887" target="" class="regularLink">jQuery, togglePanel, list, dataGrid, panel, and popup</a>
</li>
<li class="wikiUnorderedListItem"> Added <a href="http://community.jboss.org/wiki/a4jqueuein4x" target="" class="regularLink">named queue</a> support for our queue implementation</li>
<li class="wikiUnorderedListItem"> Further improvements to our iteration components; <tt>rich:dataTable</tt>, and <tt>rich:extendedDataTable</tt>
</li>
<li class="wikiUnorderedListItem"> Stabilization works for migrated code. Automation tests with quint, junit.</li>
</ul>

<h3 class="wikiHeadline3" id="H-DraftCDKDevelopmentGuide"><a href="/Bloggers/RichFaces400M1Released#H-DraftCDKDevelopmentGuide">Draft CDK Development Guide</a></h3>
<p class="wikiPara">
We're also really glad to announce a new 'CDK Guide' document started by Bernard Labno ( who's also working on a scheduler component for 4.0)!  For now it is a <a href="https://docs.google.com/Doc?docid=0AU_Xm4aXKuUrZGZobndrZndfMTBkZjVweHdndw&amp;hl=en&amp;authkey=CI617aML" target="" class="regularLink">google document</a> and is not complete, but worth a look through.  We are planning to shift this to a wiki based guide on the CDK in order to be closer to our community.  Bernard has done a great job starting the document, and any feedback or contributions are welcome!
</p>

<h3 class="wikiHeadline3" id="H-Milestone2AndBeyond"><a href="/Bloggers/RichFaces400M1Released#H-Milestone2AndBeyond">Milestone2 and Beyond</a></h3>
<p class="wikiPara">
Our next release is going to be 4.0.0.M2 and is scheduled for release in late August.  At that point CDK and core should be stable, and component migration should be in full swing.  If we are missing your favorite component, or if you find an issue please let us know either through our <a href="http://community.jboss.org/en/richfaces" target="" class="regularLink">forums</a>, or our <a href="https://jira.jboss.org/browse/RF" target="" class="regularLink">project jira</a>.  You can also see our current plans by following the <a href="https://jira.jboss.org/browse/RF/fixforversion/12313882" target="" class="regularLink">4.0.0.Milestone2</a> project in jira, or dropping by one of our public IRC meetings.  See the <a href="http://www.jboss.org/richfaces/community/richfacescalendar.html" target="" class="regularLink">Project Calendar</a> and the <a href="http://community.jboss.org/en/richfaces/dev/teammtgs" target="" class="regularLink">Meeting Information</a> page for more details, agendas, and minutes.
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/richfaces" target="" class="regularLink">Project Site</a>]
[<a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">Downloads</a>]
[<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=261" target="" class="regularLink">User Forums</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=262" target="" class="regularLink">Design Forums</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]</p>
</div>
