---
title: "JSF 2.0 Roadmap for RichFaces"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "26-02-2010"
tags: [JavaServer Faces,RichFaces,Seam News]

relative_url: /2010/02/26/jsf-20-roadmap-for-rich-faces
slug: jsf-20-roadmap-for-rich-faces
lace: http://in.relation.to/14509.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/02/26/jsf-20-roadmap-for-rich-faces
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/jbossrichfaces" target="blank"> 
         <img src="http://www.jroller.com/a4j/resource/richfaces_logo_200px.gif" alt="">
     </a>
</div>

<p class="wikiPara">
Now that RichFaces 3.3.3 is nearing its final release I wanted to take some time and discuss our plans for RichFaces and JSF 2.0 support in more detail.  
</p>

<h3 class="wikiHeadline3" id="H-RichFaces333"><a href="/2010/02/26/jsf-20-roadmap-for-rich-faces#H-RichFaces333">RichFaces 3.3.3+</a></h3>
<p class="wikiPara">
The goal of JSF 2.0 support in the 3.3.3 release is to run your existing RichFaces 3.3.X applications in a JSF 2.0/EE6 environment with little or no changes.  This is an important migration step for any large application, and infrastructure.  
</p>

<p class="wikiPara">
We have always meant the 3.3.3 release to be a stepping stone for JSF 2 support.  We needed to make a trade off between retro-fitting 3.3.X completely for JSF 2.0 ( a major undertaking ), or have limited JSF 2.0 support in 3.3.X and push forward with RichFaces 4.0 where we can really get the most out of JSF 2.0.  This is one of the reasons that we are working so hard to get RichFaces 4.0 out. 
</p>

<p class="wikiPara">
In addition to the information in our release announcements ( <a href="http://in.relation.to/Bloggers/RichFaces333BETA1ReleasedWithJSF2Support" target="" class="regularLink">3.3.3.BETA1</a> and <a href="http://in.relation.to/Bloggers/RichFaces333CR1ReleasedWithJSF20Support" target="" class="regularLink">3.3.3.CR1</a> ) and our wiki page <a href="http://community.jboss.org/wiki/RichFaces333andJSF20" target="" class="regularLink">Richfaces 3.3.3 and JSF 2.0</a>, a few people have also posted blogs and articles that I think explain the plans for RichFaces support of JSF 2.0 well.  DZone posted <a href="http://java.dzone.com/news/richfaces-333-begins-support?mz=3006-jboss" target="" class="regularLink">RichFaces 3.3.3 Begins Support for JSF 2.0</a> and Max Katz has posted <a href="http://mkblog.exadel.com/jsf/richfaces-3-3-3-rc1-and-jsf-2/" target="" class="regularLink">RichFaces 3.3.3 RC1 and JSF 2</a>. 
</p>

<h3 class="wikiHeadline3" id="H-RichFaces400"><a href="/2010/02/26/jsf-20-roadmap-for-rich-faces#H-RichFaces400">RichFaces 4.0.0</a></h3>
<p class="wikiPara">
RichFaces 4.0 is where we can really innovate and extend features to get the most out of JSF 2.0.  RichFaces did this for JSF 1.2 and we plan to push the specification to the limits, and prototype the future of JSF!  
</p>

<p class="wikiPara">
This is going to include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> New Custom behaviors</li>
<li class="wikiUnorderedListItem"> Dynamic resource extensions</li>
<li class="wikiUnorderedListItem"> Simplified component development kit (CDK)</li>
<li class="wikiUnorderedListItem"> Customizable request queues</li>
<li class="wikiUnorderedListItem"> Updated skinning </li>
<li class="wikiUnorderedListItem"> Consolidated component set ( with all functionality you expect )</li>
<li class="wikiUnorderedListItem"> Performance tuning and review</li>
<li class="wikiUnorderedListItem"> Semantic HTML markup changes to make styling easier</li>
<li class="wikiUnorderedListItem"> Interoperability with other component libraries</li>
<li class="wikiUnorderedListItem"> Module build system for easy contributions</li>
</ul>

<p class="wikiPara">
Plus, all the flexibility and stability needed for large scale development.  This does mean that taking advantage of some JSF 2.0 features with RichFaces will need to wait for 4.0.  The good news is that we are well on our way to our next 4.0 release, and we will have several time-boxed milestone releases to jump start your development.
</p>

<p class="wikiPara">
We are also going to have detailed migration instructions, scripts, examples and a migration bridge to assist users in moving their existing applications to RichFaces 4.0.  The details of this are not completely worked out yet, but our goal is make it as easy as possible for users of 3.3.X to migration to 4.0.
</p>

<p class="wikiPara">
I would like to encourage anyone with an opinion or an idea to contribute to the process.  Take a look at our releases, post to our forums, check out our meetings and get involved!
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/richfaces" target="" class="regularLink">Project Page</a>]
[<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] 
[<a href="http://community.jboss.org/en/richfaces?view=discussions" target="" class="regularLink">User Forums</a>] 
[<a href="http://community.jboss.org/en/richfaces/dev?view=discussions" target="" class="regularLink">Design Forums</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]</p>
</div>

