---
title: "RichFaces 3.3.3.CR1 Released, with JSF 2.0 Support!!"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "17-02-2010"
tags: [JavaServer Faces,RichFaces,Seam News]

relative_url: /2010/02/17/RichFaces333CR1ReleasedWithJSF20Support
slug: RichFaces333CR1ReleasedWithJSF20Support
lace: http://in.relation.to/14360.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/02/17/RichFaces333CR1ReleasedWithJSF20Support
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/jbossrichfaces" target="blank"> 
         <img src="http://www.jroller.com/a4j/resource/richfaces_logo_200px.gif" alt="">
     </a>
</div>

<p class="wikiPara">
The RichFaces team is another step closer to releasing the final 3.3.3 release!  Today we are pleased to announce that RichFaces 3.3.3.CR1 is up and ready to try!  This is most likely the last release before the final 3.3.3 release, which means it is also your last chance to help us help you :-)  
</p>

<p class="wikiPara">
Give this release a run-through and let us know if you have any issues.  You can download the bits from the <a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">milestone download page</a> or if you are using maven, you can update your dependencies following the <a href="http://community.jboss.org/wiki/HowtoaddRichFaces33xtomavenbasedproject" target="" class="regularLink">RichFaces Maven wiki page</a>. 
</p>

<p class="wikiPara">
The 3.3.3 release is a special one for RichFaces.  Not only because it adds a great amount of stability, but also brings JSF 2.0 support to the 3.3.X branch.  With this release you will be able to run your existing RichFaces applications with JSF 2.0.  This is an important step in migrating your existing applications to JSF 2.0.  If you plan on running this release on top of JSF 2.0 make sure to checkout <a href="http://community.jboss.org/wiki/RichFaces333andJSF20" target="" class="regularLink">RichFaces 3.3.3 and JSF 2.0</a> wiki page for all the details.
</p>

<p class="wikiPara">
We've tackled quite a few issues, and have stabilized much of the JSF 2.0 support.  You can check out the full list of jira issues resolved in the <a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12313806&amp;styleName=Html&amp;projectId=12310341&amp;Create=Create" target="" class="regularLink">Release Notes for 3.3.3.CR1</a>. 
</p>

<p class="wikiPara">
As always please let us know if you have any comments or feedback, and especially if you find any issues.  
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/richfaces" target="" class="regularLink">Project Pages</a>]
[<a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">Milestone Downloads</a>]
[<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] 
[<a href="http://community.jboss.org/en/richfaces?view=discussions" target="" class="regularLink">User Forums</a>] 
[<a href="http://community.jboss.org/en/richfaces/dev?view=discussions" target="" class="regularLink">Design Forums</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]</p>
</div>

