---
title: "When will JSF have a new JSR & official Expert Group"
author: "Jay Balunas"
blogger_name: "Jay"
layout: blog-post
tags: [JavaServer Faces,RichFaces,Seam,Seam News]
slug: WhenWillJSFHaveANewJSROfficialExpertGroup
lace: http://in.relation.to/17541.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/WhenWillJSFHaveANewJSROfficialExpertGroup">When will JSF have a new JSR &amp; official Expert Group</a>
                    </h1>
</div>
<div style="float:right;margin-left:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/richfaces" target="blank"> 
         <img src="http://design.jboss.org/richfaces/logo/final_logo/richfaces_logo_200px.png" alt="">
     </a>
</div>
<p class="wikiPara">
The RichFaces and Seam teams are nothing if not passionate about community, open source, and working with standard bodies like the <a href="http://jcp.org/" target="" class="regularLink">Java Community Process (JCP)</a>.  That is one of the reasons that Oracle/Sun's decision to disband the JSF expert group (<a href="http://jcp.org/en/jsr/summary?id=314" target="" class="regularLink">JSR-314</a>) with no successor JSR filed under which to develop future revisions of JSF is disappointing.  <a href="http://in.relation.to/Bloggers/Dan" target="" class="regularLink">Dan Allen</a> summed up JBoss/Red Hat's position quite clearly in his <a href="http://lists.jboss.org/pipermail/jsr-314-open-mirror/2010-August/000324.html" target="" class="regularLink">letter to the JSR-314 public mailing list</a>.  While we want to continue supporting the JSF specification, not having an official JSF and EG, along with the intellectual property and governance guarantees this brings, makes this very difficult.
</p>

<p class="wikiPara">
I want say something very clearly.  I believe that the individual engineers are doing the best they can with their current priorities and constraints.  They are still posting to the JSR-314 open mailing list, which you can view using the <a href="http://lists.jboss.org/pipermail/jsr-314-open-mirror" target="" class="regularLink">JBoss jsr-314-open-mirror</a>), and asking for comments and patches.  The RichFaces and Seam teams will also work within our current constraints and will work to resolve some of the core issues that will impact key features of JSF 2.0.  While at the same time we will be pushing for a new JSR to be formed.  Unfortunately, due to the above mentioned issues, JBoss's participation is limited, although we are fully prepared to contribute if the correct environment is present.  When it isn't, we can only expect the spec leads to take on board our issues and push them.    
</p>

<p class="wikiPara">
As an example of the above, one of the major goals of the JSF specification is to enable component libraries to interoperate with each other within the same application, and ideally the same page.  As component libraries develop to the new specification, and add features, we are finding areas where the specification needs to be updated.  As there is no official JSR, and the specification priorities are driven by the RI priorities, some of these issues have been pushed to future versions of the specification ( with an unknown timeline ).  Take for example <a href="https://javaserverfaces-spec-public.dev.java.net/issues/show_bug.cgi?id=658" target="" class="regularLink">#658</a> which deals with a problem with the PartialViewContext and how component libraries can extend it without breaking other component libraries.  The RichFaces team has provided a draft patch to resolve this (thanks Nick) , however due to timing this will not be included in JSF 2.1.
</p>

<p class="wikiPara">
With no known timeframe, JSR or expert group in place for JSF 2.2+ the Seam and RichFaces projects will continue to give our communities the features and functionality they expect, but in some cases this will need to be outside of the JSF specification.  For example <a href="http://seamframework.org/Documentation/JSF21#H-ViewActionsP1" target="" class="regularLink">View Actions</a> will be implemented by <a href="http://seamframework.org/Seam3/FacesModule" target="" class="regularLink">Seam Faces</a> instead of being part of the specification for now.  Richfaces has and will continue to reach out to other component libraries such as <a href="http://www.icefaces.org/main/home/" target="" class="regularLink">IceFaces</a>, <a href="http://www.primefaces.org/" target="" class="regularLink">PrimeFaces</a>, etc… to kick off discussions on how to address these issues outside of the specification.  Hopefully we'll be able to deliver the interoperability that was promised, while prototyping updates for future versions of the specification.
</p>

<p class="wikiPara">
Let's hope this situation can be resolved as soon as possible!</p>
</div>
