---
title: "RichFaces At JavaOne 2010"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "30-09-2010"
original_tags: [JavaServer Faces,RichFaces,Seam News]
tags: [JSF,Rich Faces,Seam]

relative_url: /2010/09/30/rich-faces-at-java-one-2010
slug: rich-faces-at-java-one-2010
lace: http://in.relation.to/17214.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/09/30/rich-faces-at-java-one-2010
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/richfaces" target="blank"> 
         <img src="http://www.jroller.com/a4j/resource/richfaces_logo_200px.gif" alt="">
     </a>
</div>

<p class="wikiPara">
Surprisingly enough this was my first JavaOne.  I know there are a lot of alumni out there, but for me this was #1.  I went into it with very few preconceived expectations.  For the most part it lived up to my expectations, but I must say after seeing the IronMan display out front of the keynote I expected <a href="http://en.wikipedia.org/wiki/Larry_Ellison" target="" class="regularLink">Larry Ellison</a> to make an entrance like Tony Stark.
</p>

<img src="http://images.starpulse.com/Photos/Previews/IronMan2-050610-0001.jpg">

<p class="wikiPara">
I heard from many people that previous JavaOnes were better.  That's fine, but this was fun too.  It was clear they wanted Oracle OpenWorld, and JavaOne separate, but I was even ok with that.  The attendees, and speakers had lots of open conversations, and I thought that the technical content was really good.  Sure we had to go between a few different hotels, but so what.  The only really annoying part was the shifting of schedules, and rooms, and trying to keep track of it.
</p>

<h3 class="wikiHeadline3" id="H-RichFaces"><a href="/2010/09/30/rich-faces-at-java-one-2010#H-RichFaces">RichFaces</a></h3>
<p class="wikiPara">
This year at JavaOne the RichFaces team had a very good, but busy time.  We gave a couple of core presentations; <a href="http://www.slideshare.net/balunasj/jsf2-rich-facesabovebeyondjavaones313705" target="" class="regularLink">A Peek At The Future: Going Beyond JavaServer Faces 2.0 With RichFaces 4</a> with Alex Smirnov and myself.  Max Katz also gave one call <a href="http://www.slideshare.net/maxkatz/hands-on-with-rich-faces-4-javaone-2010" target="" class="regularLink">Hands-on with RichFaces</a>.  Both were heavily attended, and went well.
</p>

<p class="wikiPara">
Alex and I also gave 3 mini-presentations at the JBoss booth.  One of our mini-booth talks was a condensed version of our JavaOne talk, but the other was all about <a href="http://www.slideshare.net/balunasj/rich-faces-inthecloudminibooth" target="" class="regularLink">RichFaces in the Cloud</a> and introduced our new Google App Engine archetype for getting JSF 2 and RichFaces on GAE in about 5 minutes. <i class="wikiEmphasis">See below for more</i>
</p>

<p class="wikiPara">
During our talks Alex introduced one of our new features, true Client Side Validation with RichFaces with Bean Validation.  This really caught the attention of people.  For a good reason, because what is a primary reason an application makes Ajax requests?  Validation, right.  Well soon enough with RichFace 4.0 we will have JavaScript implementations of validators, converters, and messages!  This is all going to be tied into Bean Validation through JSF.  Image how much better your applications can scale when you don't need to make a request just to check a value is not null.
</p>

<p class="wikiPara">
As a side note, a particularly funny moment was when I promoted one of our RichFaces mini-booth presentations as <q>Come hear about RichFaces, your NoSQL solution for JSF</q>.  I can't credit this to myself though, I was talked into it by <a href="http://community.jboss.org/people/manik.surtani%40jboss.com" target="" class="regularLink">Manik Surtani</a> of Infinispan fame.  We thought it would draw a new, albeit confused, new crowd.  I even had my comeback ready for the questions -- <q>I can guarantee, there is not single line of SQL in our runtime</q> ;-)
</p>

<h3 class="wikiHeadline3" id="H-WhatsNext"><a href="/2010/09/30/rich-faces-at-java-one-2010#H-WhatsNext">Whats Next</a></h3>
<p class="wikiPara">
The RichFaces team is in the middle of getting the 4.0.0.Milestone3 release out, and working on some other details.  One thing we are getting ready to announce is the RichFaces showcase demo hosted and available on Google App Engine.  We're not quite ready on that one, but keep an eye here for more.
</p>

<p class="wikiPara">
If you are itching to get on Google App Engine, you can always start with our <a href="http://anonsvn.jboss.org/repos/richfaces/trunk/archetypes/rf-gae-sample/" target="" class="regularLink">RichFaces GAE archetype</a> that we talked about at our <a href="http://www.slideshare.net/balunasj/rich-faces-inthecloudminibooth" target="" class="regularLink">RichFaces in the Cloud</a> talk at the JBoss mini-booth.
</p>

<p class="wikiPara">
Thanks for everyone that attended and that we talked with!!  It was a good time, and we hope to see you there next year :-)</p>
</div>

