---
title: "RichFaces 4.0.0.Alpha2 Released!!"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "15-06-2010"
original_tags: [JavaServer Faces,RichFaces,Seam News]
tags: [JSF,Rich Faces,Seam]

relative_url: /2010/06/15/rich-faces-400-alpha-2-released
slug: rich-faces-400-alpha-2-released
lace: http://in.relation.to/15861.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/06/15/rich-faces-400-alpha-2-released
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/richfaces" target="blank"> 
         <img src="http://www.jroller.com/a4j/resource/richfaces_logo_200px.gif" alt="">
     </a>
</div>

<p class="wikiPara">
RichFaces 4.0.0.Alpha2 has been released, and the project is moving into a new phase!  We had a lot to do on our way to this milestone, not only did we add new features, and components, but also made many general improvements.  The core functionality, build system, and CDK features were redesigned to make framework development more convenient for RichFaces developers and community contributors.
</p>

<h4 class="wikiHeadline4" id="H-SomeHighlightsInRichFaces400ALPHA2"><a href="/2010/06/15/rich-faces-400-alpha-2-released#H-SomeHighlightsInRichFaces400ALPHA2">Some highlights in RichFaces 4.0.0.ALPHA2:</a></h4>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Redesigned and improved Component Development Kit</li>
<li class="wikiUnorderedListItem"> Ajax core components set almost completely migrated.</li>
<li class="wikiUnorderedListItem"> Ajax request smart Queuing mechanism implemented</li>
<li class="wikiUnorderedListItem"> Rich Data Iteration components created</li>
<li class="wikiUnorderedListItem"> Skinning including standard control skinning feature was migrated.</li>
</ul>

<p class="wikiPara">
You can download all the release artifacts at the <a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">RichFaces download</a> page, and review the <a href="https://jira.jboss.org/secure/ReleaseNote.jspa?projectId=12310341&amp;version=12313881" target="" class="regularLink">release notes</a>.  The distribution <tt>readme.txt</tt> in the <a href="http://downloads.jboss.org/richfaces/milestones/4.0.X/4.0.0.Alpha2/richfaces-4.0.0.Alpha2.zip" target="" class="regularLink">richfaces-4.0.0.ALPHA2</a> file contains all you need to get started and integrate the library into your application.  If you are using maven you can follow the wiki instructions: <a href="http://community.jboss.org/wiki/HowtoaddRichFaces4xtomavenbasedproject" target="" class="regularLink">How to add RichFaces 4.X to Maven Based Project</a>.  
</p>

<p class="wikiPara">
Our next release will be 4.0.0.Milestone1 (M1), and is the first of the time-boxed milestone releases.  For M1 we will be releasing right around July 20th, with future milestone releases about every month, until we are ready for the final 4.0.0 releases. 
</p>

<h3 class="wikiHeadline3" id="H-GetStartedQuickWithOurArchetype"><a href="/2010/06/15/rich-faces-400-alpha-2-released#H-GetStartedQuickWithOurArchetype">Get Started Quick with our Archetype</a></h3>

<p class="wikiPara">
This release also includes a maven archetype.  This will create an very basic application that you can build from, and update as needed.  For future releases we'll have more complex archetypes as well. 
</p>

<p class="wikiPara">
To use the archetype the first step it to follow the <a href="http://community.jboss.org/wiki/MavenGettingStarted-Users" target="" class="regularLink">JBoss Maven Settings</a> to get the repository set up in your settings.xml file.  Then generate the archetype:
</p>

<pre class="wikiPreformatted">
mvn archetype:generate -DarchetypeGroupId=org.richfaces.archetypes -DarchetypeArtifactId=richfaces-archetype-simpleapp -DarchetypeVersion=4.0.0.Alpha2 -DgroupId=my.group.id -DartifactId=new_project
</pre>
<p class="wikiPara">
 
</p>

<p class="wikiPara">
For all the details check out our <a href="http://docs.jboss.org/richfaces/4.0.X/4.0.0.Alpha2/en-US/Developer_Guide/html_single/#sect-Component_Reference-Using_RichFaces_with_Maven-Using_the_RichFaces_project_archetype" target="" class="regularLink">Getting Started Guide</a>.
</p>

<h3 class="wikiHeadline3" id="H-Components"><a href="/2010/06/15/rich-faces-400-alpha-2-released#H-Components">Components</a></h3>

<p class="wikiPara">
As I said we have added many components, including <tt>rich:dataTable</tt>, and <tt>rich:extendedDataTable</tt>.  The complete list of the available components, behaviors, tags, and functions are listed below.  Every monthly milestone release we'll be adding to this list, and stabilizing what is already here.  Give these a shot and let us know what you think, or if you run into any <a href="https://jira.jboss.org/browse/rf" target="" class="regularLink">issues</a>.
</p>

<h4 class="wikiHeadline4" id="H-Core"><a href="/2010/06/15/rich-faces-400-alpha-2-released#H-Core">Core:</a></h4>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> a4j:ajax</li>
<li class="wikiUnorderedListItem"> a4j:commandLink</li>
<li class="wikiUnorderedListItem"> a4j:commandButton</li>
<li class="wikiUnorderedListItem"> a4j:push</li>
<li class="wikiUnorderedListItem"> a4j:mediaOutput</li>
<li class="wikiUnorderedListItem"> a4j:status</li>
<li class="wikiUnorderedListItem"> a4j:jsFunction</li>
<li class="wikiUnorderedListItem"> a4j:log</li>
<li class="wikiUnorderedListItem"> a4j:outputPanel</li>
<li class="wikiUnorderedListItem"> a4j:poll</li>
<li class="wikiUnorderedListItem"> a4j:param</li>
<li class="wikiUnorderedListItem"> a4j:queue</li>
<li class="wikiUnorderedListItem"> a4j:attachQueue</li>
<li class="wikiUnorderedListItem"> a4j:repeat  </li>
<li class="wikiUnorderedListItem"> a4j:region</li>
</ul>

<h4 class="wikiHeadline4" id="H-Iteration"><a href="/2010/06/15/rich-faces-400-alpha-2-released#H-Iteration">Iteration:</a></h4>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> rich:dataTable</li>
<li class="wikiUnorderedListItem"> rich:extendedDataTable</li>
<li class="wikiUnorderedListItem"> rich:subTable</li>
<li class="wikiUnorderedListItem"> rich:dataScroller</li>
<li class="wikiUnorderedListItem"> rich:subTableToggleControl</li>
<li class="wikiUnorderedListItem"> rich:columnGroup</li>
<li class="wikiUnorderedListItem"> rich:column</li>
</ul>

<h4 class="wikiHeadline4" id="H-Miscellaneous"><a href="/2010/06/15/rich-faces-400-alpha-2-released#H-Miscellaneous">Miscellaneous:</a></h4>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> rich:clientId</li>
<li class="wikiUnorderedListItem"> rich:element</li>
<li class="wikiUnorderedListItem"> rich:component</li>
<li class="wikiUnorderedListItem"> rich:isUserInRole</li>
<li class="wikiUnorderedListItem"> rich:findComponent</li>
<li class="wikiUnorderedListItem"> rich:componentControl</li>
<li class="wikiUnorderedListItem"> rich:hashParam</li>
</ul>

<h3 class="wikiHeadline3" id="H-RichFacesShowcaseAlpha2"><a href="/2010/06/15/rich-faces-400-alpha-2-released#H-RichFacesShowcaseAlpha2">RichFaces Showcase Alpha2</a></h3>

<p class="wikiPara">
We've also updated our showcase example to highlight the new components, and some of the new options.  The readme.txt file in the <tt>&lt;richfaces-4.0.0.Alpha2.zip&gt;/examples/richfaces-showcase</tt> directory explains how to build and run the example.  Hint <tt>maven clean package</tt> then deploy to your container :-)
</p>

<p class="wikiPara">
All of the source is there for you to import into your favorite IDE, and explore.  If you are using <a href="http://www.jboss.org/tools" target="" class="regularLink">JBoss Tools</a> it is easier than ever with the included m2eclipse plugin.
</p>

<h3 class="wikiHeadline3" id="H-ComponentDevelopmentKit"><a href="/2010/06/15/rich-faces-400-alpha-2-released#H-ComponentDevelopmentKit">Component Development Kit</a></h3>

<p class="wikiPara">
The 4.0 Component Development Kit (CDK) is also nearly complete!  We use this to help us make our components, and you can create your own with it as well.  We've created an initial CDK distribution, and have some initial archetype to kick start your component project.  Keep an eye out for more details on using the CDK in our wiki, and blogs.
</p>

<h3 class="wikiHeadline3" id="H-WhatsToCome"><a href="/2010/06/15/rich-faces-400-alpha-2-released#H-WhatsToCome">What's To Come</a></h3>

<p class="wikiPara">
As I said above the project is entering a new phase, and we will have regular monthly milestone releases of 4.0, leading up to the final 4.0 release.  This will allow everyone to see the progress being made, integrate components into your applications, etc….  More importantly I hope that we will see <a href="http://community.jboss.org/en/richfaces" target="" class="regularLink">feedback</a>, <a href="https://jira.jboss.org/browse/RF" target="" class="regularLink">bugs</a>, and <a href="http://community.jboss.org/en/richfaces/dev" target="" class="regularLink">contributions</a> from those who can try it out.  You can checkout the <a href="https://jira.jboss.org/browse/RF/fixforversion/12313509" target="" class="regularLink">4.0.0.Milestone1 jira</a> for the latest of planned items.
</p>

<h3 class="wikiHeadline3" id="H-HowToGetInvolved"><a href="/2010/06/15/rich-faces-400-alpha-2-released#H-HowToGetInvolved">How To Get Involved</a></h3>

<p class="wikiPara">
As I've said before RichFaces is an open community project, and we always welcome people to get involved anyway they can!  
</p>

<p class="wikiPara">
With the 4.0.0.Alpha2 release we have made significant updates to the RichFaces build structure, and design of our project: <a href="http://community.jboss.org/wiki/RichFaces40BuildDirectoryStructure" target="" class="regularLink">RichFaces 4.0 Build Structure</a>.  This is going to make development of RichFaces easier for new people and let users work on new components in various sandbox areas.  We'll be posting new wiki pages, and blogs outlining that in more details soon!
</p>

<p class="wikiPara">
We also continue to have our weekly meeting via IRC which anyone can attend and participate, please see the <a href="http://www.jboss.org/richfaces/community/richfacescalendar.html" target="" class="regularLink">Project Calendar</a> and the <a href="http://community.jboss.org/en/richfaces/dev/teammtgs" target="" class="regularLink">Meeting Information</a> page for more details, agendas, and minutes.
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/richfaces" target="" class="regularLink">Project Site</a>]
[<a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">Downloads</a>]
[<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] 
[<a href="http://community.jboss.org/community/richfaces" target="" class="regularLink">User Space</a>] 
[<a href="http://community.jboss.org/en/richfaces/dev" target="" class="regularLink">Development Space</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]</p>
</div>

