---
title: "RichFaces 4.0.0.Milestone3 Released!!"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "12-10-2010"
original_tags: [JavaServer Faces,RichFaces,Seam News]
tags: [JSF,Rich Faces,Seam]

relative_url: /2010/10/12/rich-faces-400-milestone-3-released
slug: rich-faces-400-milestone-3-released
lace: http://in.relation.to/17325.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/10/12/rich-faces-400-milestone-3-released
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/richfaces" target="blank"> 
         <img src="http://design.jboss.org/richfaces/logo/final_logo/richfaces_logo_200px.png" alt="">
     </a>
</div>

<p class="wikiPara">
The third milestone release of RichFaces 4.0 is now available!!  With this release we have added a few new components, GAE support, and more.  As before you can download the distribution at our <a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">RichFaces download</a> page.  The RichFaces-4.0.0.M3 distribution has everything you need to get started.  Check out the readme.txt files for any details, or dependencies.  If you are a maven user you can follow the instructions here: <a href="http://community.jboss.org/wiki/HowtoaddRichFaces4xtomavenbasedproject" target="" class="regularLink">How to add RichFaces 4.X to Maven Based Project</a>.
</p>

<p class="wikiPara">
As you may have seen several of the <a href="http://in.relation.to/Bloggers/RichFacesAtJavaOne2010" target="" class="regularLink">RichFaces team presented and attended JavaOne</a>.  During our talks we announced and discussed several items that are starting to emerge in milestone3.  There was a lot of interest in the new client side validation support that will bring bean validation all the way to the browser.  <i class="wikiEmphasis">Imagine the scalability impact if you can avoid server hits for validation</i>!  We also discussed support of JSF 2.0 and RichFaces 4.0 on cloud based hosting like GAE.  With more to come...  
</p>

<h3 class="wikiHeadline3" id="H-Updates"><a href="/2010/10/12/rich-faces-400-milestone-3-released#H-Updates">Updates:</a></h3>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Our new <a href="https://jira.jboss.org/browse/RF-7939" target="" class="regularLink">Resource Plugin</a> is done, and enables support for Cloud deployments and serving dynamic resources statically.</li>
<li class="wikiUnorderedListItem"> New Components <a href="https://jira.jboss.org/browse/RF-9150" target="" class="regularLink">tabPanel, inputNumberSpinner, collapsiblePanel, and progressBar</a>
</li>
<li class="wikiUnorderedListItem"> Google App Engine (GAE) support via a new <a href="http://anonsvn.jboss.org/repos/richfaces/tags/4.0.0.20101004-M3/archetypes/rf-gae-sample/" target="" class="regularLink">gae-archetype</a>, and a <i class="wikiEmphasis">gae</i> profile for building the <a href="http://anonsvn.jboss.org/repos/richfaces/tags/4.0.0.20101004-M3/examples/richfaces-showcase/" target="" class="regularLink">richfaces-showcase</a>.</li>
<li class="wikiUnorderedListItem"> Prototype and initial development on <a href="http://community.jboss.org/docs/DOC-15372" target="" class="regularLink">Client Side Validation</a> </li>
<li class="wikiUnorderedListItem"> Updated <a href="http://anonsvn.jboss.org/repos/richfaces/tags/4.0.0.20101004-M3/examples/richfaces-showcase/" target="" class="regularLink">richfaces-showcase</a> with new components</li>
<li class="wikiUnorderedListItem"> Stabilization work for core, CDK, and migrated code. Automation tests with quint, junit.</li>
</ul>

<p class="wikiPara">
The <a href="https://jira.jboss.org/secure/ReleaseNote.jspa?projectId=12310341&amp;version=12315185" target="" class="regularLink">4.0.0.M3 Release Notes</a> contains all the details, and specific issues.  We would be happy if you can give this release a try, and let us know how it goes.  The good, the bad, and the bugs…. 
</p>

<h3 class="wikiHeadline3" id="H-NextUpMilestone4"><a href="/2010/10/12/rich-faces-400-milestone-3-released#H-NextUpMilestone4">Next Up Milestone 4</a></h3>
<p class="wikiPara">
For Milestone 4 we will be working on more components like finalizing client side validation, calendar, tree, fileupload, and more.  There are also going to be some updates to our Push components that should be exciting to see.  We are looking at a November release for Milestone 4.
</p>

<p class="wikiPara">
If we are missing your favorite component, or if you find an issue please let us know through our <a href="http://community.jboss.org/en/richfaces" target="" class="regularLink">forums</a>, or our <a href="https://jira.jboss.org/browse/RF" target="" class="regularLink">project jira</a>.  You can also see our current plans by following the <a href="https://jira.jboss.org/browse/RF/fixforversion/12315401" target="" class="regularLink">4.0.0.Milestone4</a> project in jira, or dropping by one of our public IRC meetings.  See our <a href="http://www.jboss.org/richfaces/community/richfacescalendar.html" target="" class="regularLink">Project Calendar</a> and the <a href="http://community.jboss.org/en/richfaces/dev/teammtgs" target="" class="regularLink">Meeting Information</a> page for more details, agendas, and minutes.
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/richfaces" target="" class="regularLink">Project Site</a>]
[<a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">Downloads</a>]
[<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=261" target="" class="regularLink">User Forums</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=262" target="" class="regularLink">Design Forums</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]</p>
</div>

