---
title: "RichFaces 3.3.3 Final is Released!!"
author: "Jay Balunas"
creation_date: "13-04-2010"
blogger_name: "Jay"
layout: blog-post
tags: [JavaServer Faces,RichFaces,Seam News]
slug: RichFaces333FinalIsReleased
lace: http://in.relation.to/15145.lace
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/jbossrichfaces" target="blank"> 
         <img src="http://www.jroller.com/a4j/resource/richfaces_logo_200px.gif" alt="">
     </a>
</div>

<p class="wikiPara">
The RichFaces team is very happy to announce the 3.3.3 Final release!!  The 3.3.3 release is an important milestone for RichFaces.  Not only does this release build on the stability you expect from RichFaces, but it also brings basic JSF 2.0 support to the 3.3.X branch.  
</p>

<p class="wikiPara">
In this release we have resolved several critical issues, and stabilized the JSF 2.0 support.  The details can be found:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/wiki/RichFaces333andJSF20" target="" class="regularLink">RichFaces 3.3.3 and JSF 2.0</a> Wiki</li>
<li class="wikiUnorderedListItem"> <a href="http://in.relation.to/Bloggers/JSF20RoadmapForRichFaces" target="" class="regularLink">JSF 2.0 Roadmap for RichFaces</a> Blog</li>
<li class="wikiUnorderedListItem"> <a href="https://jira.jboss.org/jira/secure/ConfigureReport.jspa?versions=12314120&amp;versions=12313806&amp;versions=12314119&amp;sections=.1.7.2.4.10.9.8.3.12.11.5&amp;style=none&amp;selectedProjectId=12310341&amp;reportKey=pl.net.mamut:releasenotes&amp;Next=Next" target="" class="regularLink">Release Notes</a> for 3.3.3</li>
</ul>

<p class="wikiPara">
You can download the latest stable artifacts from the <a href="http://www.jboss.org/richfaces/download/stable.html" target="" class="regularLink">download page</a> or if you are using maven, you can update your dependencies following the <a href="http://community.jboss.org/wiki/HowtoaddRichFaces33xtomavenbasedproject" target="" class="regularLink">RichFaces Maven</a> wiki page. 
</p>

<p class="wikiPara">
As always, thanks to the development, QE, and doc teams.  I wanted to say a special thanks to Andrei Markhel for tackling the majority of the issues in the 3.3.3 release, and our QE guys in Brno, Czech Republic ( Lukas and Pavol ) who did a great job testing this release.  I am proud of everyone involved in this release.  
</p>

<h3 class="wikiHeadline3" id="H-JSF20Support"><a href="/Bloggers/RichFaces333FinalIsReleased#H-JSF20Support">JSF 2.0 Support</a></h3>
<p class="wikiPara">
The <a href="http://community.jboss.org/wiki/RichFaces333andJSF20" target="" class="regularLink">RichFaces 3.3.3 and JSF 2.0</a> and  <a href="http://in.relation.to/Bloggers/JSF20RoadmapForRichFaces" target="" class="regularLink">JSF 2.0 Roadmap for RichFaces</a> articles detail the integration requirements and plans for RichFaces and JSF 2.0.  Instead of going over everything said there again I'll just take a couple of small quotes from the roadmap regarding the 3.3.3 release and JSF 2.0:
</p>

<blockquote class="wikiBlockquote">

The goal of JSF 2.0 support in the 3.3.3 release is to run your existing RichFaces 3.3.X applications in a JSF 2.0/EE6 environment with little or no changes. This is an important migration step for any large application, or infrastructure.

</blockquote>
<blockquote class="wikiBlockquote">

We have always meant the 3.3.3 release to be a stepping stone for JSF 2 support. We needed to make a trade off between retro-fitting 3.3.X completely for JSF 2.0 ( a major undertaking ), or have limited JSF 2.0 support in 3.3.X and push forward with RichFaces 4.0 where we can really get the most out of JSF 2.0. This is one of the reasons that we are working so hard to get RichFaces 4.0 out.

</blockquote>

<h3 class="wikiHeadline3" id="H-OnwardToRichFaces40"><a href="/Bloggers/RichFaces333FinalIsReleased#H-OnwardToRichFaces40">Onward to RichFaces 4.0</a></h3>
<p class="wikiPara">
This is the latest and last release of the 3.3.X branch, from here on out the whole team will be focused on pushing RichFaces 4.0 releases out.  This is really going to be an exciting and busy time for the project.  Keep an eye on this space for more in the near future!!
</p>

<p class="wikiPara">
I would like to encourage anyone interested in Richfaces 4.0 and JSF 2.0 to look at the work already done, take part in our team meetings, and see where you can contribute.  Once 4.0.0.Alpha2 release is out I'll be posting some blogs and <q>how to</q> articles on getting involved!
</p>

<p class="wikiPara">
As one of the original JBoss leaders says - <q>Onward</q>…
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/richfaces" target="" class="regularLink">Project Site</a>]
[<a href="http://www.jboss.org/richfaces/download/stable.html" target="" class="regularLink">Stable Downloads</a>]
[<a href="https://jira.jboss.org/jira/secure/ConfigureReport.jspa?versions=12314120&amp;versions=12313806&amp;versions=12314119&amp;sections=.1.7.2.4.10.9.8.3.12.11.5&amp;style=none&amp;selectedProjectId=12310341&amp;reportKey=pl.net.mamut:releasenotes&amp;Next=Next" target="" class="regularLink">Release Notes</a>] 
[<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">Jira</a>] 
[<a href="http://community.jboss.org/en/richfaces?view=discussions" target="" class="regularLink">User Forums</a>] 
[<a href="http://community.jboss.org/en/richfaces/dev?view=discussions" target="" class="regularLink">Design Forums</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]</p>
</div>
