---
title: "RichFaces 4.0.0.Milestone 4 Released!!"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "17-11-2010"
tags: [JavaServer Faces,RichFaces,Seam News]

relative_url: /2010/11/17/rich-faces-400-milestone-4-released
slug: rich-faces-400-milestone-4-released
lace: http://in.relation.to/17739.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/11/17/rich-faces-400-milestone-4-released
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/richfaces" target="blank"> 
         <img src="http://design.jboss.org/richfaces/logo/final_logo/richfaces_logo_200px.png" alt="">
     </a>
</div>

<p class="wikiPara">
The RichFaces team is pleased to announce that 4.0.0.Milestone 4 is now released!!  You can get the distribution at our project site's <a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">download</a> page, or if you are using maven you can follow our: <a href="http://community.jboss.org/wiki/HowtoaddRichFaces4xtomavenbasedproject" target="" class="regularLink">How to add RichFaces 4.X to Maven Based Project</a> wiki page.   We are already hard at work on the final 4.0 milestone release which is due near the end of December.  This means that in January we'll start in on the CR releases and hope to get a final release of 4.0 out in February. 
</p>

<h3 class="wikiHeadline3" id="H-Updates"><a href="/2010/11/17/rich-faces-400-milestone-4-released#H-Updates">Updates</a></h3>

<p class="wikiPara">
As with all of our milestone releases we have added new components, stability, and functionality.  Below is a summary of the main items, and you can review the complete list in our <a href="https://jira.jboss.org/secure/ReleaseNote.jspa?projectId=12310341&amp;version=12315401" target="" class="regularLink">Jira Release Notes</a>
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> New <a href="https://jira.jboss.org/browse/RF-9331" target="" class="regularLink">components</a> such as inplaceSelect, select, calendar, tooltip, and tree!!  </li>
<li class="wikiUnorderedListItem"> Great progress on <a href="https://jira.jboss.org/browse/RF-8742" target="" class="regularLink">Client Side Validation</a>.  You can start using these components now, but will be using Ajax requests for validation until the M5.  The major parts of client/server side functionality are completed, and need to be integrated, and flushed out in milestone 5.    </li>
<li class="wikiUnorderedListItem"> <a href="https://jira.jboss.org/browse/RF-7817" target="" class="regularLink">a4j:push redesigns</a> are completed.  We have switched to advanced Comet implementation and targeted JMS integration.  We still need to wrap up documentation, and samples, but the component is there.  For a jump start until those are ready you can review <a href="https://jira.jboss.org/browse/RF-7817" target="" class="regularLink">here</a> and the <a href="http://anonsvn.jboss.org/repos/richfaces/trunk/examples/push-demo" target="" class="regularLink">developer sample in svn</a>
</li>
<li class="wikiUnorderedListItem"> We've also improved the functionality of the CDK, and continued stabilization work for our core, and migrated components!</li>
<li class="wikiUnorderedListItem"> Our <a href="http://anonsvn.jboss.org/repos/richfaces/trunk/examples/richfaces-showcase/" target="" class="regularLink">RichFaces Showcase demo</a> has also been updated with new components, and features.</li>
</ul>

<p class="wikiPara">
We would be happy if you can give this release a try, and let us know how it goes.  The good, the bad, and the bugs…. 
</p>

<h3 class="wikiHeadline3" id="H-WeNeedYourHelp"><a href="/2010/11/17/rich-faces-400-milestone-4-released#H-WeNeedYourHelp">We Need Your Help!!</a></h3>

<p class="wikiPara">
This is the time when open source projects like RichFaces <i class="wikiEmphasis">really</i> need the help of their communities.  In order to get 4.0.0.Final stabilized and ready to go for everyone we need everyone to take these later milestone releases for a spin.  We've already had some great feedback from users on Milestone 3, and really want to keep this going.  Believe me, this type of feedback makes all the difference!!!
</p>

<p class="wikiPara">
To those who have tried out previous release, thanks!!  
</p>

<h3 class="wikiHeadline3" id="H-NextUpMilestone5"><a href="/2010/11/17/rich-faces-400-milestone-4-released#H-NextUpMilestone5">Next Up Milestone 5</a></h3>
<p class="wikiPara">
Milestone 5 will be the last milestone release for the RichFaces 4.0!!  This means we are going to be wrapping up new component development before going into full fledged hardening mode for the CR releases.  The component we plan to add are outlined in <a href="https://jira.jboss.org/browse/RF-9332" target="" class="regularLink">RF-9332</a>.  For a complete list of jira's planned see our <a href="https://jira.jboss.org/browse/RF/fixforversion/12315402" target="" class="regularLink">Milestone 5 Jira</a> page.  Any component that did not make milestone 5 will be pushed out of the initial 4.0.0 release. 
</p>

<p class="wikiPara">
As we are a very open project if you find an issue, have any comments or ideas please let us know through our <a href="http://community.jboss.org/en/richfaces" target="" class="regularLink">forums</a>, or our <a href="https://jira.jboss.org/browse/RF" target="" class="regularLink">project jira</a>.  See our <a href="http://www.jboss.org/richfaces/community/richfacescalendar.html" target="" class="regularLink">Project Calendar</a> and the <a href="http://community.jboss.org/en/richfaces/dev/teammtgs" target="" class="regularLink">Meeting Information</a> page for more details, agendas, and minutes.
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/richfaces" target="" class="regularLink">Project Site</a>]
[<a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">Downloads</a>]
[<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=261" target="" class="regularLink">User Forums</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=262" target="" class="regularLink">Design Forums</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]</p>
</div>

