---
title: "RichFaces 4.0.0.M2 Released!!"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "01-09-2010"
tags: [JavaServer Faces,RichFaces,Seam News]

absolute_url: http://in.relation.to/2010/09/01/RichFaces400M2Released
lace: http://in.relation.to/16789.lace
slug: RichFaces400M2Released

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/richfaces" target="blank"> 
         <img src="http://www.jroller.com/a4j/resource/richfaces_logo_200px.gif" alt="">
     </a>
</div>

<p class="wikiPara">
The RichFaces team has just released 4.0.0.M2, and we are one more milestone closer to the Final.  This is our second monthly milestone release, with new components, bug fixes, and other updates.  We also worked hard to stabilize the core, CDK, build system, and previously migrated components.
</p>

<p class="wikiPara">
You can download the distribution at our <a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">RichFaces download</a> page.  The RichFaces-4.0.0.M2 distribution has everything you need to get started.  Check out the readme.txt files for any details, or dependencies.  If you are a maven user you can follow the instructions here: <a href="http://community.jboss.org/wiki/HowtoaddRichFaces4xtomavenbasedproject" target="" class="regularLink">How to add RichFaces 4.X to Maven Based Project</a>.  <i class="wikiEmphasis">Note that with the build updates some of the maven information has changed.</i>
</p>

<h3 class="wikiHeadline3" id="H-SomeNotableUpdates"><a href="/Bloggers/RichFaces400M2Released#H-SomeNotableUpdates">Some notable updates:</a></h3>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> New components: <a href="https://jira.jboss.org/browse/RF-8933" target="" class="regularLink">accordion, autocomplete, inplaceInput, and inputNumberSlider</a>
</li>
<li class="wikiUnorderedListItem"> Large scale stabilization to our <a href="https://jira.jboss.org/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=project+%3D+RF+AND+fixVersion+%3D+%224.0.0.Milestone2%22+AND+component+in+(build,+core)+ORDER+BY+priority+DESC" target="" class="regularLink">core</a> and <a href="https://jira.jboss.org/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=project+%3D+RF+AND+resolution+%3D+Unresolved+AND+component+%3D+CDK+ORDER+BY+priority+DESC" target="" class="regularLink">CDK</a> modules.</li>
<li class="wikiUnorderedListItem"> Finalized and updated our build structure to make it easier to download, update, and contribute.</li>
<li class="wikiUnorderedListItem"> The <a href="http://anonsvn.jboss.org/repos/richfaces/trunk/examples/richfaces-showcase/" target="" class="regularLink">RichFaces Showcase Demo</a> has been updated with all the M1, and M2 components, and now provides source listings.</li>
<li class="wikiUnorderedListItem"> We already completed cloud support updates, and will make an announcement with instructions soon.</li>
</ul>

<p class="wikiPara">
For all the details you can review the <a href="https://jira.jboss.org/secure/ReleaseNote.jspa?projectId=12310341&amp;version=12313882" target="" class="regularLink">4.0.0.M2 Release Notes</a>. and please let us know of any problems for bugs you may find.  
</p>

<h3 class="wikiHeadline3" id="H-NextUpMilestone3"><a href="/Bloggers/RichFaces400M2Released#H-NextUpMilestone3">Next Up Milestone 3</a></h3>
<p class="wikiPara">
In Milestone 3 we are ramping up <a href="https://jira.jboss.org/browse/RF-9150" target="" class="regularLink">component development</a>, including calendar, autoComplete behavior, tabPanel, messages, collapsiblePanel, inplaceSelect, and more.  This release is scheduled for late September, early October.  
</p>

<p class="wikiPara">
If we are missing your favorite component, or if you find an issue please let us know either through our <a href="http://community.jboss.org/en/richfaces" target="" class="regularLink">forums</a>, or our <a href="https://jira.jboss.org/browse/RF" target="" class="regularLink">project jira</a>.  You can also see our current plans by following the <a href="https://jira.jboss.org/browse/RF/fixforversion/12315185" target="" class="regularLink">4.0.0.Milestone3</a> project in jira, or dropping by one of our public IRC meetings.  See our <a href="http://www.jboss.org/richfaces/community/richfacescalendar.html" target="" class="regularLink">Project Calendar</a> and the <a href="http://community.jboss.org/en/richfaces/dev/teammtgs" target="" class="regularLink">Meeting Information</a> page for more details, agendas, and minutes.
</p>

<h3 class="wikiHeadline3" id="H-SoWhatAboutTheFinalRelease"><a href="/Bloggers/RichFaces400M2Released#H-SoWhatAboutTheFinalRelease">So What About the Final Release</a></h3>
<p class="wikiPara">
We are in the process of evaluating the remaining components, and features for the Final release.  Although our schedule have slipped due to unforeseen issues, we still plan to get the Final release out as soon as possible.  More to come…
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/richfaces" target="" class="regularLink">Project Site</a>]
[<a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">Downloads</a>]
[<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=261" target="" class="regularLink">User Forums</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=262" target="" class="regularLink">Design Forums</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]</p>
</div>
