---
title: "RichFaces 4.0.0 Release Plan Updated"
author: "Jay Balunas"
creation_date: "09-09-2010"
blogger_name: "Jay"
layout: blog-post
tags: [JavaServer Faces,RichFaces,Seam News]
slug: RichFaces400ReleasePlanUpdated
lace: http://in.relation.to/16885.lace
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/richfaces" target="blank"> 
         <img src="http://www.jroller.com/a4j/resource/richfaces_logo_200px.gif" alt="">
     </a>
</div>

<p class="wikiPara">
The RichFaces team has finished a review of the remaining components and features planned for the 4.0.0 release.  In order to deliver the quality, and functionality we aspire to we have decided to revamp our release schedule.  We are in the process of updating our <a href="http://community.jboss.org/wiki/RichFaces40ReleasePlanning" target="" class="regularLink">wiki</a>, and <a href="https://jira.jboss.org/browse/RF" target="" class="regularLink">jira</a> to reflect these changes.    
</p>

<h3 class="wikiHeadline3" id="H-RoadmapTo400Final"><a href="/Bloggers/RichFaces400ReleasePlanUpdated#H-RoadmapTo400Final">Roadmap to 4.0.0.Final</a></h3>
<p class="wikiPara">
We have added two more milestone releases, bringing our total to five.  Since these are roughly monthly releases this pushes the release out to just past the new year.  Each milestone release will bring a new set of components, features, and stability.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> October, 2010 : 4.0.0.Milestone3 <i class="wikiEmphasis">In Development</i>
</li>
<li class="wikiUnorderedListItem"> November, 2010 : 4.0.0.Milestone4</li>
<li class="wikiUnorderedListItem"> December, 2010 : 4.0.0.Milestone5</li>
<li class="wikiUnorderedListItem"> January, 2011 : 4.0.0.CR1</li>
<li class="wikiUnorderedListItem"> January, 2011 : 4.0.0.CR2</li>
<li class="wikiUnorderedListItem"> February, 2011 : 4.0.0.Final</li>
</ul>

<h3 class="wikiHeadline3" id="H-WhyTheShift"><a href="/Bloggers/RichFaces400ReleasePlanUpdated#H-WhyTheShift">Why The Shift?</a></h3>
<p class="wikiPara">
We had hoped to get the final release of 4.0 out before the end of the year, but as <a href="http://in.relation.to/Bloggers/RichFaces400M2Released#H-SoWhatAboutTheFinalRelease" target="" class="regularLink">mentioned previously</a> we have run into various hurdles: 
</p>

<p class="wikiPara">
These include identifying issues in the JSF 2 specification, and implementations (<a href="https://javaserverfaces.dev.java.net/" target="" class="regularLink">JSF RI</a>, <a href="http://myfaces.apache.org/" target="" class="regularLink">MyFaces</a>).  We have worked with both groups to discuss, and help resolve these issues.  As a result we are integrating the latest releases of both.  
</p>

<p class="wikiPara">
We also need to make sure that the components and features we are creating in the release live up to our standards of both functionality, and stability.  RichFaces 4.0 is <a href="http://in.relation.to/Bloggers/JSF20RoadmapForRichFaces#H-RichFaces400" target="" class="regularLink">more than just a component library</a> and we aim to provide these features to you ready for your project - be it personal, or enterprise.  This includes having the proper tooling with IDE's such as <a href="http://www.jboss.org/tools" target="" class="regularLink">JBoss Tools</a>, cloud deployment options, migration resources, and working towards component library interoperability.
</p>

<h3 class="wikiHeadline3" id="H-WhenCanIStartDevelopingWith40"><a href="/Bloggers/RichFaces400ReleasePlanUpdated#H-WhenCanIStartDevelopingWith40">When Can I Start Developing With 4.0</a></h3>
<p class="wikiPara">
The short answer is right now!  <a href="http://in.relation.to/Bloggers/RichFaces400M2Released" target="" class="regularLink">4.0.0.Milestone2 has been released</a> and contains everything needed to get going.  At this point the build structure, and core functionality is stable.  The list of components already available is long.  As milestones are released they should be drop in replacements with added components, and features.  
</p>

<p class="wikiPara">
As the project is working hard to get releases out your, feedback is always welcome and will help the project get to where it is going even faster.  If you find any issues or have an idea for the project please let us know!  You can drop by our <a href="http://community.jboss.org/wiki/RichFacesTeamMeetingInformation" target="" class="regularLink">weekly meeting</a>, post to the <a href="http://community.jboss.org/en/richfaces" target="" class="regularLink">forums</a>, create a <a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">jira</a>, or even pick a jira or two ;-)
</p>

<p class="wikiPara">
[<a href="http://community.jboss.org/wiki/RichFaces40ReleasePlanning" target="" class="regularLink">RichFace 4.0 Release Center</a>]
[<a href="http://www.jboss.org/richfaces" target="" class="regularLink">Project Site</a>]
[<a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">Downloads</a>]
[<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=261" target="" class="regularLink">User Forums</a>] 
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=262" target="" class="regularLink">Design Forums</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]</p>
</div>
