---
title: "RichFaces 4.0.0.CR1 is Here!!"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "07-03-2011"
original_tags: [JavaServer Faces,RichFaces,Seam News]
tags: [JSF,Rich Faces,Seam]

relative_url: /2011/03/07/rich-faces-400-cr-1-is-here
slug: rich-faces-400-cr-1-is-here
lace: http://in.relation.to/18628.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/03/07/rich-faces-400-cr-1-is-here
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/richfaces" target="blank"> 
         <img src="http://design.jboss.org/richfaces/logo/final_logo/richfaces_logo_200px.png" alt="">
     </a>
</div>

<p class="wikiPara">
RichFaces 4.0.0.CR1 is here!!  You can get the 4.0 candidate release distribution at our project site's <a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">download</a> page, or if you are using maven you can follow our: <a href="http://community.jboss.org/wiki/HowtoaddRichFaces4xtomavenbasedproject" target="" class="regularLink">How to add RichFaces 4.X to Maven Based Project</a> wiki page.
</p>

<p class="wikiPara">
We are excited about this release as it looks like the only CR release that will be needed before we release 4.0.0.Final.  We still need your feedback, to help run it through its paces.  As I've said before CR can also stand for <q>Community Required</q> when you are talking about an open source projects.  If you have any problems, or run into any issues with the release please let us know over on the <a href="http://community.jboss.org/en/richfaces" target="" class="regularLink">User Forums</a>.
</p>

<p class="wikiPara">
If all goes according to plan look for the final release at the end of this month!!  It has been a long haul, but the project team, and community have just been fantastic!!  We are almost there and to give back to our community please remember to vote for the <a href="http://community.jboss.org/message/590126#590126" target="" class="regularLink">RichFaces contributors for the JBoss Recognition Awards</a>!!
</p>

<h3 class="wikiHeadline3" id="H-UpdatesInCR1"><a href="/2011/03/07/rich-faces-400-cr-1-is-here#H-UpdatesInCR1">Updates in CR1</a></h3>

<p class="wikiPara">
This has been a busy phase of stabilization, clean up, and fixing.  We are obviously not adding new components in this phase, but we have piled on the polish.  Many of the issues found were from the community and that is greatly appreciated!  I've included a summary below of the major items addressed in CR1.  As usual you can checkout all the details in the <a href="https://issues.jboss.org/issues/?jql=project=12310341%20AND%20fixVersion=12315403" target="" class="regularLink">Jira Release Notes</a>.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Greatly stabilized the Client Side Validation (CSV) feature, and message components.</li>
<li class="wikiUnorderedListItem"> MyFaces support was also improved, and switched to it for some of our demo applications</li>
<li class="wikiUnorderedListItem"> Our <a href="http://anonsvn.jboss.org/repos/richfaces/trunk/examples/richfaces-showcase/" target="" class="regularLink">RichFaces Showcase demo</a> got a <a href="https://issues.jboss.org/browse/RF-9636" target="" class="regularLink">new design</a> and added new demos!  Check out the <a href="http://anonsvn.jboss.org/repos/richfaces/tags/4.0.0.20110209-M6/examples/richfaces-showcase/readme.txt" target="" class="regularLink">readme.txt</a> in the distribution for more.</li>
<li class="wikiUnorderedListItem"> Dependencies were updated to use latest versions: JQuery 1.5.1, MyFaces 2.0.4, Mojara 2.0.4, Atmosphere 0.6.4.</li>
<li class="wikiUnorderedListItem"> The Push component was polished.  <i class="wikiEmphasis">Look for a blog on this soon</i>
</li>
<li class="wikiUnorderedListItem"> Our <a href="http://community.jboss.org/docs/DOC-16319" target="" class="regularLink">RichFaces 3.X - 4.X migration guide</a> has moved to the wiki for quicker updates, and with new information!</li>
<li class="wikiUnorderedListItem"> All of our components had work done on them, but specifically our switchable panels, and panels menus are much improved.</li>
<li class="wikiUnorderedListItem"> Our IDE support via our <a href="https://issues.jboss.org/browse/RF-9936" target="" class="regularLink">taglib</a> files is also nearly complete!</li>
</ul>

<h3 class="wikiHeadline3" id="H-NextUp400Final"><a href="/2011/03/07/rich-faces-400-cr-1-is-here#H-NextUp400Final">Next Up 4.0.0.Final!!</a></h3>
<p class="wikiPara">
We should be less than a month away from the release of RichFaces 4.0.0.Final!!  We're working on minor clean up jira's and reviewing any issues you guys bring up, but CR1 is basically it.  
</p>

<p class="wikiPara">
It is more critical than ever that if you find an issue, have any comments or ideas please let us know through our <a href="http://community.jboss.org/en/richfaces" target="" class="regularLink">forums</a>, or our <a href="https://jira.jboss.org/browse/RF" target="" class="regularLink">project jira</a>.  See our <a href="http://www.jboss.org/richfaces/community/richfacescalendar.html" target="" class="regularLink">Project Calendar</a> and the <a href="http://community.jboss.org/en/richfaces/dev/teammtgs" target="" class="regularLink">Meeting Information</a> page for more details, agendas, and minutes.
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/richfaces" target="" class="regularLink">Project Site</a>]
[<a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">Downloads</a>]
[<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] 
[<a href="http://community.jboss.org/en/richfaces" target="" class="regularLink">User Forums</a>] 
[<a href="http://community.jboss.org/en/richfaces/dev" target="" class="regularLink">Design Forums</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]</p>
</div>

