---
title: "RichFaces is Hiring! Are you the next JBoss Core Developer?"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "02-03-2011"
tags: [RichFaces,Seam News]

relative_url: /2011/03/02/RichFacesIsHiringAreYouTheNextJBossCoreDeveloper
slug: RichFacesIsHiringAreYouTheNextJBossCoreDeveloper
lace: http://in.relation.to/18578.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/03/02/RichFacesIsHiringAreYouTheNextJBossCoreDeveloper
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/richfaces" target="blank"> 
         <img src="http://design.jboss.org/richfaces/logo/final_logo/richfaces_logo_200px.png" alt="">
     </a>
</div>

<p class="wikiPara">
I have some exciting news!  The RichFaces project is looking to hire some new JBoss Core Developers, and we want to hear from you.  Right now we have two positions open, one is a <a href="https://careers.redhat.com/ext/detail?redhat7156" target="" class="regularLink">Senior+ Software Engineer</a> and the other is for a <a href="https://careers.redhat.com/ext/detail?redhat7193" target="" class="regularLink">Software Engineer</a>.  
</p>

<p class="wikiPara">
These positions offer an opportunity to work on one of the most popular JavaServer Faces (JSF) component libraries out there, and for one of the greatest companies to work for - Red Hat!  These roles require advanced technical knowledge of both client, and server side technologies including Java, JavaScript, CSS, and HTML. Although a good attitude, motivation, and drive are also very important. We will be innovating and developing the future of enterprise web-tier technologies which will include cloud &amp; mobile based platforms, HTML5, CSS3, and more!!
</p>

<p class="wikiPara">
As a JBoss core developer you will be expected to be a community member/leader in our open source projects, and eventually a voice for RichFaces, and JBoss in general. If you have ever wanted to work on an open source project full time, and be part of a special group of developers this is your chance!!
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/richfaces" target="" class="regularLink">Project Site</a>]
[<a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">Downloads</a>]
[<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] 
[<a href="http://community.jboss.org/en/richfaces" target="" class="regularLink">User Forums</a>] 
[<a href="http://community.jboss.org/en/richfaces/dev" target="" class="regularLink">Dev Forums</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]</p>
</div>
