---
title: "RichFaces Showcase Online at Google App Engine!!"
author: "Jay Balunas"
creation_date: "17-03-2011"
blogger_name: "Jay"
layout: blog-post
tags: [JavaServer Faces,RichFaces,Seam News]
slug: RichFacesShowcaseOnlineAtGoogleAppEngine
lace: http://in.relation.to/18808.lace
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/richfaces" target="blank"> 
         <img src="http://design.jboss.org/richfaces/logo/final_logo/richfaces_logo_200px.png" alt="">
     </a>
</div>

<p class="wikiPara">
Now that RichFaces 4.0.0.Final is just a couple weeks away, we've had time to finalize our <a href="http://richfaces.org/showcase" target="" class="regularLink">RichFaces Showcase</a> and get it hosted up on Google App Engine (GAE)!  Now you have a great way to explore all of the great RichFaces 4.0 components, and give them a try yourself (<i class="wikiEmphasis">no login required</i>).  Plus we have all the <a href="http://community.jboss.org/wiki/HowtouseRichFaces40withGoogleAppEngine" target="" class="regularLink">instructions you need</a> to get your own application running up on GAE.  You can even host your own version of the RichFaces Showcase application!
</p>

<div style="float:left;margin-right:20px;margin-bottom:20px;">
     <a href="http://richfaces.org/showcase" target="blank"> 
         <img src="http://in.relation.to/service/File/18807" width="300" height="200" alt="">
     </a>
</div>

<h3 class="wikiHeadline3" id="H-OverviewOfTheShowcase"><a href="/Bloggers/RichFacesShowcaseOnlineAtGoogleAppEngine#H-OverviewOfTheShowcase">Overview of the showcase</a></h3>

<p class="wikiPara">
The showcase application is a gallery of RichFaces components that our project put together in order to demonstrate how to use the various tags available.  This includes basic use cases, but also some more complex examples that have been asked about on our <a href="http://community.jboss.org/en/richfaces" target="" class="regularLink">user forums</a>.  We've added enough information and source code to get you started quickly and you can access it anytime, so it is a great way to reference components.
</p>


<p class="wikiPara">
The primary link to the hosted demo is <a href="http://richfaces.org/showcase" target="" class="regularLink">http://richfaces.org/showcase</a>, so go check it out today!
</p>

<h2 class="wikiHeadline2" id="H-Quotas"><a href="/Bloggers/RichFacesShowcaseOnlineAtGoogleAppEngine#H-Quotas">Quota's</a></h2>
<p class="wikiPara">
Anyone familiar with Google App Engine will know about quota's.  We've configured the application with additional quota allowances and we'll see how it handles under load.  We've run it through its paces, but nothing tests like the real world :-)  If for some reason it is not accessible, or you get unexpected errors please let us know over at our <a href="http://community.jboss.org/en/richfaces" target="" class="regularLink">user forums</a>.
</p>

<h3 class="wikiHeadline3" id="H-WhatsNextForTheShowcase"><a href="/Bloggers/RichFacesShowcaseOnlineAtGoogleAppEngine#H-WhatsNextForTheShowcase">What's next for the showcase</a></h3>
<p class="wikiPara">
Once RichFaces 4.0.0.Final is released we have many plans for the showcase application.  These include contextual linking to JavaDocs, components guide articles, etc….  We also want to add support for more devices such as phones, and tablets!  We'll also be adding additional use-cases based on your feedback, and questions.  The list could certainly keep going, but we would appreciate any ideas you have.  
</p>

<h3 class="wikiHeadline3" id="H-HostingYourOwn"><a href="/Bloggers/RichFacesShowcaseOnlineAtGoogleAppEngine#H-HostingYourOwn">Hosting your own</a></h3>
<p class="wikiPara">
As I said we have put together all of the information needed to get started with RichFaces 4 and JSF 2 on GAE.  It can be found at our wiki page <a href="http://community.jboss.org/wiki/HowtouseRichFaces40withGoogleAppEngine" target="" class="regularLink">How to use RichFaces 4.0 with Google App Engine</a>.  In there you will find:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Updates required for any JSF 2 application on GAE</li>
<li class="wikiUnorderedListItem"> Information on RichFaces <tt>maven-resources-plugin</tt> to statically generate skinning resources</li>
<li class="wikiUnorderedListItem"> How to upload and deploy your application</li>
<li class="wikiUnorderedListItem"> Detailed steps and links to get your own version of the RichFaces Showcase running</li>
<li class="wikiUnorderedListItem"> Information on our RichFaces GAE archetype so you don't have to start from scratch on a new application</li>
</ul>

<p class="wikiPara">
[<a href="http://www.jboss.org/richfaces" target="" class="regularLink">Project Site</a>]
[<a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">Downloads</a>]
[<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] 
[<a href="http://community.jboss.org/en/richfaces" target="" class="regularLink">User Forums</a>] 
[<a href="http://community.jboss.org/en/richfaces/dev" target="" class="regularLink">Design Forums</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]</p>
</div>
