---
title: "Changing Of The Guard With RichFaces 4.1 "
author: "Jay Balunas"
creation_date: "09-12-2011"
blogger_name: "Jay"
layout: blog-post
tags: [JavaServer Faces,News,RichFaces,Seam News]
slug: ChangingOfTheGuardWithRichFaces41
lace: http://in.relation.to/22564.lace
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
    <a href="http://richfaces.org" target="blank"> 
        <img src="http://design.jboss.org/richfaces/logo/final_logo/richfaces_logo_200px.png" alt="">
    </a>
</div>

<p class="wikiPara">
The release of <a href="http://blog.bleathem.ca/2011/12/state-of-richfaces.html" target="" class="regularLink">RichFaces 4.1</a> is imminent and with it brings some great advancements to the project and JSF!  Among the most notable are additional mobile support, push upgrades, new components, and more.  
</p>

<div style="float:left;margin-right:20px;margin-bottom:20px;">
    <a href="http://showcase.richfaces.org/phoneHome.jsf" target="blank"> 
        <img src="http://in.relation.to/service/File/22563" alt="" height="250px" width="150px">
    </a>
</div>

<p class="wikiPara">
Recently however, I’ve been focusing on more general mobile and HTML5 initiatives.  You can see some of what I’ve been up to in the webinar I had Wednesday Dec. 7th on getting started with <a href="http://www.jboss.org/webinars" target="" class="regularLink">HTML5/Mobile development with JBoss</a> <i class="wikiEmphasis">(recording will be available soon)</i>.
</p>


<p class="wikiPara">
This has meant that I’ve not had the time to dedicate to RichFaces that it deserves, and so I’m thrilled that we have an engineer and leader like Brian Leathem who has agreed to lead the project into the future!!  He is already the seam-faces project lead, and has been a critical member of the RichFaces for some time!  
</p>

<div style="float:right;margin-left:20px;margin-bottom:20px;">
    <img src="http://in.relation.to/service/File/22562" alt="">
</div>

<p class="wikiPara">
Brian and the rest of the RichFaces team have not only done a great job on RichFaces 4.1, but also have some great plans for the future of RichFaces.  <a href="http://blog.bleathem.ca/2011/12/state-of-richfaces.html" target="" class="regularLink">Brian has started to outline these</a> to start the discussions.  This is only going to pick up steam once 4.1 is out!!
</p>

<p class="wikiPara">
I’m not just going to disappear though, mobile and HTML5 are certainly an integral part of RichFaces!  Keep an eye out in this space for more from me and JBoss about all aspects of mobile application development including mobile web, hybrid, and native techniques.
</p>

<p class="wikiPara">
I wanted to take a moment and thank the RichFaces team and community!  I’m could not be more proud of the people that use and develop RichFaces.  Through our forums, weekly meetings, and now github we’ve seen a huge increase in contributors, users, and colleagues.  To all of you:
</p>

<div style="margin-left:20px;margin-bottom:20px;">
<center>
    <img src="http://in.relation.to/service/File/22561" alt="">
</center>
</div>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'ChangingOfTheGuardWithRichFaces41';
    var disqus_title = 'Changing Of The Guard With RichFaces 4.1 ';
    var disqus_url = 'http://in.relation.to/22564.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
