---
title: "RichFaces 4.1.0.Final Released!"
author: "Jay Balunas"
creation_date: "14-12-2011"
blogger_name: "Jay"
layout: blog-post
tags: [JavaServer Faces,News,RichFaces,Seam News]
slug: RichFaces410FinalReleased
lace: http://in.relation.to/22574.lace
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
    <a href="http://richfaces.org" target="blank"> 
        <img src="http://design.jboss.org/richfaces/logo/final_logo/richfaces_logo_200px.png" alt="">
    </a>
</div>

<p class="wikiPara">
In my previous blog about <a href="http://in.relation.to/Bloggers/ChangingOfTheGuardWithRichFaces41" target="" class="regularLink">Brian Leathem becoming the RichFaces project lead</a>, I mentioned that the release of RichFaces 4.1 is imminent.  It is not longer imminent, but upon us!  
</p>

<p class="wikiPara">
I'm very happy to say that today Brian <a href="http://blog.bleathem.ca/2011/12/richfaces-410final-release-announcement.html" target="" class="regularLink">announced the release of RichFaces 4.1.0.Final</a>!!  This is a great release for RichFace and JSF, please take a look at <a href="http://blog.bleathem.ca/2011/12/richfaces-410final-release-announcement.html" target="" class="regularLink">Brian's blog</a> for all the details, and keep an eye out for some follow up blogs highlighting the new features!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'RichFaces410FinalReleased';
    var disqus_title = 'RichFaces 4.1.0.Final Released!';
    var disqus_url = 'http://in.relation.to/22574.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
