---
title: "RichFaces And The Mobile Web For The JBoss World 2011 Keynote"
author: "Jay Balunas"
blogger_name: "Jay"
layout: blog-post
tags: [Contexts and Dependency Injection,Hibernate,JBoss Tools,JavaServer Faces,RichFaces,Seam News,jbwkeynote2011]
slug: RichFacesAndTheMobileWebForTheJBossWorld2011Keynote
lace: http://in.relation.to/20818.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/RichFacesAndTheMobileWebForTheJBossWorld2011Keynote">RichFaces And The Mobile Web For The JBoss World 2011 Keynote</a>
                    </h1>
</div>
<div style="float:right;margin-left:20px;margin-bottom:20px;">
    <a href="http://richfaces.org" target="blank"> 
        <img src="http://design.jboss.org/richfaces/logo/final_logo/richfaces_logo_200px.png" alt="">
    </a>
</div>

<p class="wikiPara">
The JBoss World opening Keynote featured one of the best keynote demonstrations I've ever seen!!  Part of that demonstration included a RichFaces application customized for the mobile web call TweetStream.  We are going to talk about that app, why it works so well for mobile web development, and how you can get it running on your machine.
</p>

<div style="float:left;margin-right:20px;margin-bottom:20px">
   <p>
      <a href="http://vimeo.com/24798138" target="blank"> 
         <img src="&lt;%=%20site.base_url%20%&gt;/images/20811" width="300" height="200" alt="">
      </a>
   </p>
   <p></p>
<center>
      <a href="http://vimeo.com/24798138">JBoss World Keynote 2011 Video</a>
      </center>
   
</div>

<p class="wikiPara">
The entire JBoss World demonstration included many JBoss projects; such as <a href="http://www.jboss.org/jbossas" target="" class="regularLink">JBoss AS</a>, <a href="http://infinispan.blogspot.com/2011/06/keynote-of-decade-behind-scenes.html" target="" class="regularLink">Infinispan</a>, <a href="http://community.jboss.org/wiki/OverviewOfHibernateOGM" target="" class="regularLink">Hibernate OGM</a>, <a href="http://seamframework.org/Weld" target="" class="regularLink">CDI</a>, and <a href="http://www.jboss.org/errai" target="" class="regularLink">Errai</a>.  A video of the keynote &amp; demo is available through the image on the left.  The demo starts around 35:15 minutes in.  And <i class="wikiEmphasis">yes</i> that WAS my real iPad/iPhone password :-)
</p>

<p class="wikiPara">
The latest <a href="http://asylum.libsyn.com/podcast-19-j-boss-world-2011-keynote-behind-the-scene" target="" class="regularLink">JBoss Assylum</a> also features many of the developers giving behind the scenes perspective and humor.  Each project will be providing blogs and code for its own part.  You can get the latest at the <a href="http://www.jboss.org/jbw2011keynote" target="" class="regularLink">JBoss World Keynote 2011</a> landing page, and follow along with the <a href="http://twitter.com/#!/search/%23jbwkeynote2011" target="" class="regularLink">#jbwkeynote2011</a> twitter hashtag!
</p>

<h3 class="wikiHeadline3" id="H-RichFacesTweetStreamApplication"><a href="/Bloggers/RichFacesAndTheMobileWebForTheJBossWorld2011Keynote#H-RichFacesTweetStreamApplication">RichFaces TweetStream Application</a></h3>

<p class="wikiPara">
<a href="http://www.jroller.com/wesleyhales/" target="" class="regularLink">Wesley Hales</a> and I were looking for an application to show RichFaces 4 on mobile devices for our <a href="https://www.jboss.org/dms/judcon/presentations/Boston2011/JUDConBoston2011_day2track1session3.pdf" target="" class="regularLink">JUDCon</a> presentation: <a href="http://vimeo.com/24775911" target="" class="regularLink">Filling the Gap: Going Mobile With JBoss Technologies Today</a>.  We came up with a simple idea that would be instantly recognizable, allow audience participation, and with just enough UI complexity.  It was around this time that JBoss Keynote was being planned, and TweetStream just fit right in!
</p>

<p class="wikiPara">
TweetStream uses <a href="http://twitter4j.org/" target="" class="regularLink">twitter4j</a> to search and filter a stream of tweets containing a set of hashtags, and displays them to the user.  It also keeps track and calculates the top 10 tweeters, and the top 10 hashtags.  It then uses <a href="http://in.relation.to/Bloggers/GettingStartedWithRichFaces40Push" target="" class="regularLink">RichFaces Push</a> to keep the UI updated with the latest content across devices.
</p>

<p class="wikiPara">
In front of this Wesley and I built a set of RichFaces 4 views that provide advanced support for different mobile devices.  We targeted webkit browsers that run on iPhones, iPads, BlackBerry, and Android devices.  Each view is served through a single URL with device detection for a one bookmark solution.  We achieved near native behavior using advanced HTML5/CSS3 techniques to process orientation layout changes, transitions, and more.  
</p>

<div style="float:right;margin-left:20px;margin-bottom:20px;">
   <p>
      <a href="http://vimeo.com/24775911" target="blank"> 
         <img src="&lt;%=%20site.base_url%20%&gt;/images/20812" width="300" height="200" alt="">
      </a>
   </p>
   <p></p>
<center>
      <a href="http://vimeo.com/24775911">Filling The Gap Video</a>
      </center>
   
</div>

<p class="wikiPara">
If you just can't wait to check out the demo on your own machine we have a version of it hosted on <a href="https://openshift.redhat.com/app/" target="" class="regularLink">RedHat's OpenShift</a> just follow this link <a href="http://bit.ly/tweetstream2" target="" class="regularLink">http://bit.ly/tweetstream2</a>.  The Filling The Gap presentation was also <a href="http://vimeo.com/24775911" target="" class="regularLink">recorded</a> and contains Wesley and I discussing some of the apps details.
</p>

<h3 class="wikiHeadline3" id="H-SourceCodeOAuthAndIDEIntegration"><a href="/Bloggers/RichFacesAndTheMobileWebForTheJBossWorld2011Keynote#H-SourceCodeOAuthAndIDEIntegration">Source Code, OAuth, and IDE Integration</a></h3>

<p class="wikiPara">
Instead of just explaining the various parts all up front lets just jump right into getting the source code, building it, deploying to JBoss AS and integrating it into JBoss Tools.  We'll discuss some of the internals below, or is follow up blogs.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">note: I'm assuming you have <a href="http://git-scm.com/" target="" class="regularLink">git</a>, <a href="http://maven.apache.org/" target="" class="regularLink">Maven</a>, Java 1.6, <a href="http://www.jboss.org/jbossas/downloads.html" target="" class="regularLink">JBoss AS 6 Final</a>, and <a href="http://www.jboss.org/tools" target="" class="regularLink">JBoss Tools 3.2</a> for IDE integration</i> 
</p>

<p class="wikiPara">
The <a href="https://github.com/richfaces/tweetstream" target="" class="regularLink">TweetStream source code</a> is part the <a href="https://github.com/richfaces/" target="" class="regularLink">RichFaces organization</a> on github.com.  You can use git to clone the repo with: <tt>git clone git@github.com:richfaces/tweetstream.git</tt>.  We'll talk about the structure after we get it running.
</p>

<h4 class="wikiHeadline4" id="H-Twitter4jAmpOAuth"><a href="/Bloggers/RichFacesAndTheMobileWebForTheJBossWorld2011Keynote#H-Twitter4jAmpOAuth">Twitter4j &amp; OAuth</a></h4>

<p class="wikiPara">
While we would love to let you use our twitter account credentials, that would not be so good.  This means that you'll need to go through the steps outlined in the <a href="https://github.com/richfaces/tweetstream/blob/develop/README" target="" class="regularLink">README</a> to get <a href="http://twitter4j.org/en/configuration.html" target="" class="regularLink">twitter4j setup</a>.
</p>

<p class="wikiPara">
Twitter has a good step by step process for this on there <a href="https://dev.twitter.com/pages/auth" target="" class="regularLink">OAuth page</a>.  Once you go through that you'll be able to update the <a href="https://github.com/richfaces/tweetstream/blob/develop/tweetstream/src/main/resources/twitter4j.properties" target="" class="regularLink">twitter4j.properties</a> file with these values:
</p>

<pre class="wikiPreformatted">oauth.consumerKey=**************************
oauth.consumerSecret=**************************
oauth.accessToken=**************************
oauth.accessTokenSecret=**************************</pre>


<p class="wikiPara">
Once that's done all that is left is deploying the application!
</p>

<h4 class="wikiHeadline4" id="H-JBossAS6"><a href="/Bloggers/RichFacesAndTheMobileWebForTheJBossWorld2011Keynote#H-JBossAS6">JBoss AS 6</a></h4>

<p class="wikiPara">
In the base <tt>/tweetstream</tt> directory run <tt>mvn package</tt> to build the standalone version of the application.  You should now have the file <tt>/tweetstream/target/tweetstream.war</tt>.  Copy this file to the <tt>$JBOSS_HOME/server/default/deploy</tt> directory.
</p>

<p class="wikiPara">
At this point your can start the server, but I would recommend you start with the <tt>$JBOSS_HOME/bin/run.sh -b 0.0.0.0</tt> if you want to access the server from external clients, like your mobile phone ;-)
</p>

<p class="wikiPara">
Once the application starts up you can see it at <a href="http://localhost:8080/tweetstream" target="" class="regularLink">http://localhost:8080/tweetstream</a>.  If you want to try out your smartphone or tablet you may need to modify you firewall to allow port 8080 through.  Then access using your tablet, or phone at <q>http://your.ip:8080/tweetstream</q>.
</p>

<h4 class="wikiHeadline4" id="H-ImportingIntoJBossTools"><a href="/Bloggers/RichFacesAndTheMobileWebForTheJBossWorld2011Keynote#H-ImportingIntoJBossTools">Importing into JBoss Tools</a></h4>

<p class="wikiPara">
Importing this project into JBoss Tools 3.2 is easy because it uses m2eclipse under the covers.  All you need to do is choose <tt>File--&gt;Import--&gt;Existing Maven Project</tt>, and point it to where you cloned the source code.  Eclipse will run through it's normal project import, and in a few minutes have the new project ready to go.
</p>

<p class="wikiPara">
A couple of things to note:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Add your JBoss AS 6 server as normal and you can configure TweetStream to be deployed </li>
<li class="wikiUnorderedListItem"> You may see build issues in the <tt>/jbw</tt> project - I'll explain that in a minute </li>
</ul>

<h3 class="wikiHeadline3" id="H-StructureAndKeyFiles"><a href="/Bloggers/RichFacesAndTheMobileWebForTheJBossWorld2011Keynote#H-StructureAndKeyFiles">Structure and Key Files</a></h3>

<p class="wikiPara">
Now that you have the application running, and hopefully imported into JBoss Tools lets talk about the structure and some of the key areas to look at.  
</p>

<p class="wikiPara">
As I alluded to above this application was originally just going to be for Wesley and my JUDCon talk.  When it became part of the JBoss World Keynote demo we needed to support two different back-ends.  We did this by using the power of CDI, and Maven to create two profiles.  A standard profile for JUDCon, and a <i class="wikiEmphasis">keynote</i> version.  Below is a brief explanation of the various modules:
</p>

<pre class="wikiPreformatted">
/tweetstream  #Core application and views
/shared       #Classes files needed across the other two modules
/jbw          #Keynote specific source files to hook into the different backend
</pre>


<p class="wikiPara">
The build errors you get in eclipse for the <tt>/jbw</tt> directory is because of missing dependencies related to the keynote demo.  At some point in the near future we'll be releasing the whole keynote demo, but for now Tweetstream is moduler enough to run on its own.
</p>

<p class="wikiPara">
The way we were easily able to shift our backend so easily is a testament to not only JBoss, but to the Java EE as a whole.  The pieces fit together well, and with CDI, and JSF we were able to swap in a completely different backend with very little effort.
</p>

<p class="wikiPara">
As I said we'll be following up this blog with deep-dives into the various details, but for now, here are some things to take a look at:
</p>

<h4 class="wikiHeadline4" id="H-DeviceDetection"><a href="/Bloggers/RichFacesAndTheMobileWebForTheJBossWorld2011Keynote#H-DeviceDetection">Device detection</a></h4>
<p class="wikiPara">
We use a great little project called <a href="http://www.mobileesp.com" target="" class="regularLink">mobileESP</a> to help us with device detection.  It is a basic user-agent sniffer that we wrapped in a CDI bean to do our bidding in a class called <a href="https://github.com/richfaces/tweetstream/blob/develop/tweetstream/src/main/java/org/richfaces/examples/tweetstream/ui/useragent/UserAgentProcessor.java" target="" class="regularLink">UserAgentProcess.java</a>.  This could be swapped out for any of the other device detection libraries such as the <a href="http://wurfl.sourceforge.net/" target="" class="regularLink">WURLF API</a>.
</p>

<p class="wikiPara">
We take advantage of JSF 2.0 and facelets templating to provide a single point of access per view to act as a dispatcher for different devices.  This provides a single bookmark and URL no matter what device you are accessing it from.  You can review that in the <a href="https://github.com/richfaces/tweetstream/blob/develop/tweetstream/src/main/webapp/pages/home.xhtml" target="" class="regularLink">home.xhtml</a>
</p>

<h4 class="wikiHeadline4" id="H-OrientationsDetectionAndUpdates"><a href="/Bloggers/RichFacesAndTheMobileWebForTheJBossWorld2011Keynote#H-OrientationsDetectionAndUpdates">Orientations detection and updates</a></h4>
<p class="wikiPara">
Using CSS 3 <tt>@media</tt> selectors makes this a breeze.  We use this to great effect in for the tablet view.  Always keeping the top tweeters, and top hashtags in the best location.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://github.com/richfaces/tweetstream/blob/develop/tweetstream/src/main/webapp/pages/tabletHome.xhtml" target="" class="regularLink">tabletHome.xhtml</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://github.com/richfaces/tweetstream/blob/develop/tweetstream/src/main/webapp/resources/css/ipad.css" target="" class="regularLink">ipad.css</a> - should be named tablet.css ;-)</li>
</ul>

<h4 class="wikiHeadline4" id="H-SmartPhoneTransitions"><a href="/Bloggers/RichFacesAndTheMobileWebForTheJBossWorld2011Keynote#H-SmartPhoneTransitions">SmartPhone transitions</a></h4>
<p class="wikiPara">
Making the page handle the page transitions on smartphones was also easier than you'd think.  You can review the details in the <a href="https://github.com/richfaces/tweetstream/blob/develop/tweetstream/src/main/webapp/pages/phoneHome.xhtml" target="" class="regularLink">phoneHome.xhtml</a> file.
</p>

<h4 class="wikiHeadline4" id="H-Misc"><a href="/Bloggers/RichFacesAndTheMobileWebForTheJBossWorld2011Keynote#H-Misc">Misc</a></h4>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://github.com/richfaces/tweetstream/tree/develop/tweetstream/src/main/webapp/templates" target="" class="regularLink">Page templates</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://github.com/richfaces/tweetstream/tree/develop/tweetstream/src/main/webapp/WEB-INF" target="" class="regularLink">HornetQ config files</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://github.com/richfaces/tweetstream/blob/develop/tweetstream/src/main/java/org/richfaces/examples/tweetstream/dataserver/listeners/TweetStreamListener.java" target="" class="regularLink">TweetStreamListener.java</a> and <a href="https://github.com/richfaces/tweetstream/tree/develop/tweetstream/src/main/resources" target="" class="regularLink">Twitter4j property files</a>
</li>
</ul>

<div style="float:right;margin-left:20px;margin-bottom:20px;">
   <p>
      <a href="http://tstream522587673.prod.rhcloud.com/tweetstream/pages/home.jsf" target="blank"> 
         <img src="&lt;%=%20site.base_url%20%&gt;/images/20813" width="184" height="356" alt="">
      </a>
   </p>
   <p></p>
<center>
      <a href="http://tstream522587673.prod.rhcloud.com/tweetstream/pages/home.jsf">TweetStream Online</a>
 </center>
   
</div>

<h3 class="wikiHeadline3" id="H-ImprovementsThatCanBeMade"><a href="/Bloggers/RichFacesAndTheMobileWebForTheJBossWorld2011Keynote#H-ImprovementsThatCanBeMade">Improvements That Can Be Made</a></h3>

<p class="wikiPara">
TweetStream was developed quickly and with a singular goal in mind.  There are some great opportunities for improvements, future RichFaces components, and more.  I would like to encourage anyone who is interested to take look in more detail.  Here are some possible ideas for improvements
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Streamline device detection</li>
<li class="wikiUnorderedListItem"> Customizable search filters</li>
<li class="wikiUnorderedListItem"> Layout components to support transitions</li>
<li class="wikiUnorderedListItem"> RichFaces Mobile Skins</li>
<li class="wikiUnorderedListItem"> Combine, and compress CSS</li>
<li class="wikiUnorderedListItem"> Performance analysis and update</li>
<li class="wikiUnorderedListItem"> Drill-downs on tweets and tags</li>
<li class="wikiUnorderedListItem"> Flush out the desktop version</li>
</ul>

<p class="wikiPara">
There are a lot more possibilities, fork it, play, and lets see what you can come up with!!  We'll be standardizing and integrating some of these things into RichFaces, and other parts of JBoss so stay tuned!!
</p>

<h3 class="wikiHeadline3" id="H-WhereToGoFromHere"><a href="/Bloggers/RichFacesAndTheMobileWebForTheJBossWorld2011Keynote#H-WhereToGoFromHere">Where to go from here</a></h3>

<p class="wikiPara">
Wesley and I are going to post additional blogs and dig into some of the features just touched on above.  All of this should give you a good starting point for your own mobile web application using RichFaces 4 and JBoss!  Also, as I mentioned above there are going to be several more blogs related to the JBoss World Keynote demo that will detail Infinispan, Hibernate OGM, the plug computers and more!!
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/jbw2011keynote.html" target="" class="regularLink">JBW Keynote Page</a>]
[<a href="http://twitter.com/#!/search/%23jbw2011keynote" target="" class="regularLink">JBW Keynote Twitter</a>]
[<a href="http://asylum.libsyn.com/podcast-19-j-boss-world-2011-keynote-behind-the-scene" target="" class="regularLink">JBW Asylum</a>]
[<a href="http://tstream522587673.prod.rhcloud.com/tweetstream/pages/home.jsf" target="" class="regularLink">TweetStream Online</a>]
[<a href="https://github.com/richfaces/tweetstream" target="" class="regularLink">TweetStream Git Repo</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]
</p>
</div>
