---
title: "RichFaces 4.0.0.Milestone6 Released!!"
author: "Jay Balunas"
blogger_name: "Jay"
layout: blog-post
tags: [JavaServer Faces,RichFaces,Seam News]
slug: RichFaces400Milestone6Released
lace: http://in.relation.to/18299.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/RichFaces400Milestone6Released">RichFaces 4.0.0.Milestone6 Released!!</a>
                    </h1>
</div>
<div style="float:right;margin-left:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/richfaces" target="blank"> 
         <img src="http://design.jboss.org/richfaces/logo/final_logo/richfaces_logo_200px.png" alt="">
     </a>
</div>

<p class="wikiPara">
The RichFaces team has just released 4.0.0.Milestone 6!  You can get the 4.0.0.M6 distribution at our project site's <a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">download</a> page, or if you are using maven you can follow our: <a href="http://community.jboss.org/wiki/HowtoaddRichFaces4xtomavenbasedproject" target="" class="regularLink">How to add RichFaces 4.X to Maven Based Project</a> wiki page.
</p>

<p class="wikiPara">
I know I said <a href="http://in.relation.to/Bloggers/RichFaces400Milestone5Released" target="" class="regularLink">last release</a> that M5 was going to be the last milestone.  After the M5 release it became apparent that what we wanted to call our Candidate Release 1 (CR1) was not where it needed to be.  So instead we reviewed the remaining issues and decided to have one more <a href="http://community.jboss.org/message/584047#584047" target="" class="regularLink">Milestone</a>. 
</p>

<p class="wikiPara">
The <i class="wikiEmphasis">good news</i> is that after our review and the great work put into M6, we believe only a single CR release will be needed to catch anything we missed.  This means our plans for releasing 4.0.0.Final have only adjusted about a week (late March).
</p>

<h3 class="wikiHeadline3" id="H-UpdatesInMilestone6"><a href="/Bloggers/RichFaces400Milestone6Released#H-UpdatesInMilestone6">Updates in Milestone6</a></h3>

<p class="wikiPara">
So you can image there was a lot updated and finalized in M6.  I've included a summary below of the major items addressed in M6.  As usual you can checkout all the details in the <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310341&amp;version=12313510" target="" class="regularLink">Jira Release Notes</a>.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Client side validation feature is ready to go!!  This includes complete client side implementations of nearly all the standard JSF and JSR-303 (bean validation) validators!  This is a huge feature, but easy to use with the <tt>&lt;rich:validator&gt;</tt> behavior!  Check out the <a href="http://anonsvn.jboss.org/repos/richfaces/trunk/examples/richfaces-showcase/" target="" class="regularLink">RichFaces Showcase</a> example, and keep an eye out for a complete <q>how to</q> blog soon!</li>
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/RF-9679" target="" class="regularLink">ObjectValidation</a> is also completed in M6!  This allows you to validate complete objects with cross field validation using bean validation and the <tt>&lt;rich:graphValidator&gt;</tt> component.</li>
<li class="wikiUnorderedListItem"> The core Ajax framework has also be updated to support <a href="https://issues.jboss.org/browse/RF-9289" target="" class="regularLink">ignoreDupResponce</a> feature!  Combine this with the advanced queueing in RichFaces and you have some great tools to optimize you application. </li>
<li class="wikiUnorderedListItem"> The <a href="https://issues.jboss.org/browse/RF-841" target="" class="regularLink">client side API</a> for the various components has been stabilized, and will be fully documented in the component reference guide shortly!</li>
<li class="wikiUnorderedListItem"> We've also improved the functionality of the CDK, and continued stabilization work for our core, and migrated components!</li>
<li class="wikiUnorderedListItem"> Our <a href="http://anonsvn.jboss.org/repos/richfaces/trunk/examples/richfaces-showcase/" target="" class="regularLink">RichFaces Showcase demo</a> has also been updated with new components, and features.  Check out the <a href="http://anonsvn.jboss.org/repos/richfaces/tags/4.0.0.20110209-M6/examples/richfaces-showcase/readme.txt" target="" class="regularLink">readme.txt</a> in the distribution for more.</li>
</ul>

<h3 class="wikiHeadline3" id="H-SomeCommunityNews"><a href="/Bloggers/RichFaces400Milestone6Released#H-SomeCommunityNews">Some Community News</a></h3>

<p class="wikiPara">
I've said it before, but we are lucky to have such a fantastic community!  We've seen a huge impact from people trying out the 4.0.0 releases and letting us know what works and what does not.  All I can say is keep it up - we are almost to Final!!  
</p>

<p class="wikiPara">
I would like to call out a couple of users that have made specific contributions:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/people/blabno" target="" class="regularLink">Bernard Labno</a> - Great <a href="http://community.jboss.org/wiki/40SandboxComponents" target="" class="regularLink">sandbox components</a> and a <a href="https://docs.google.com/Doc?docid=0AU_Xm4aXKuUrZGZobndrZndfMTBkZjVweHdndw&amp;hl=en&amp;authkey=CI617aML&amp;pli=1" target="" class="regularLink">CDK Guide</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/people/ilya40umov" target="" class="regularLink">Ilya Sorokoumov</a> - Unbelievable effort on the user forum and reviewing 4.0 with us!</li>
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/people/juankprada" target="" class="regularLink">Juan Camilo Prada</a> - Just started helping with the wiki, and <a href="http://community.jboss.org/wiki/GettingstartedwithRichFaces4x" target="" class="regularLink">getting started</a> pages</li>
</ul>

<h3 class="wikiHeadline3" id="H-NextUpCR1"><a href="/Bloggers/RichFaces400Milestone6Released#H-NextUpCR1">Next Up CR1</a></h3>
<p class="wikiPara">
Milestone 6 really is our final Milestone release for 4.0.0 :-)  <a href="https://issues.jboss.org/browse/RF/fixforversion/12315403" target="" class="regularLink">CR1</a> is already going great, and our code freeze is coming up shortly.  We are hopeful that only a single CR release will be required, and it is looking good so far.
</p>

<p class="wikiPara">
As always if you find an issue, have any comments or ideas please let us know through our <a href="http://community.jboss.org/en/richfaces" target="" class="regularLink">forums</a>, or our <a href="https://jira.jboss.org/browse/RF" target="" class="regularLink">project jira</a>.  See our <a href="http://www.jboss.org/richfaces/community/richfacescalendar.html" target="" class="regularLink">Project Calendar</a> and the <a href="http://community.jboss.org/en/richfaces/dev/teammtgs" target="" class="regularLink">Meeting Information</a> page for more details, agendas, and minutes.
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/richfaces" target="" class="regularLink">Project Site</a>]
[<a href="http://www.jboss.org/richfaces/download/milestones.html" target="" class="regularLink">Downloads</a>]
[<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] 
[<a href="http://community.jboss.org/en/richfaces" target="" class="regularLink">User Forums</a>] 
[<a href="http://community.jboss.org/en/richfaces/dev" target="" class="regularLink">Design Forums</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]</p>
</div>
