---
title: "RichFaces 4.0.0.Final Released!!"
author: "Jay Balunas"
creation_date: "29-03-2011"
blogger_name: "Jay"
layout: blog-post
tags: [JavaServer Faces,RichFaces,Seam News]
slug: RichFaces400FinalReleased
lace: http://in.relation.to/18902.lace
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
    <a href="http://richfaces.org" target="blank"> 
        <img src="http://design.jboss.org/richfaces/logo/final_logo/richfaces_logo_200px.png" alt="">
    </a>
</div>

<p class="wikiPara">
The RichFaces team and community are happy to announce that RichFaces 4.0.0.Final has been released!!  This was a huge effort, but the end result was well worth it.  Without further ado, you can download the distribution from our <a href="http://www.jboss.org/richfaces/download/stable" target="" class="regularLink">project's download</a> page, and check out our collection of <a href="http://community.jboss.org/wiki/GettingstartedwithRichFaces4x" target="" class="regularLink">getting started guides</a> including <a href="http://community.jboss.org/docs/DOC-15447" target="" class="regularLink">Maven</a>, <a href="http://community.jboss.org/docs/DOC-16484" target="" class="regularLink">non-Maven</a>, <a href="http://community.jboss.org/docs/DOC-16645" target="" class="regularLink">Ant/Ivy</a>, and <a href="http://community.jboss.org/docs/DOC-16618" target="" class="regularLink">GAE</a>.  Plus you can now give our components a test drive anytime at our <i class="wikiEmphasis"><a href="http://richfaces.org/showcase" target="" class="regularLink">Online Component Showcase</a></i> demo.  
</p>

<p class="wikiPara">
For all the details of what went into this final release please review the <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310341&amp;version=12313511" target="" class="regularLink">jira release notes</a>.  We also have the final project <a href="http://downloads.jboss.org/richfaces/releases/4.0.X/4.0.0.Final/4.0.0.Final_release_notes.txt" target="" class="regularLink">release notes for the project</a> available for review.
</p>

<h3 class="wikiHeadline3" id="H-WhyRichFaces"><a href="/Bloggers/RichFaces400FinalReleased#H-WhyRichFaces">Why RichFaces?</a></h3>

<div style="float:left;margin-right:20px;margin-bottom:20px;">
     <a href="http://richfaces.org/showcase" target="blank"> 
         <img src="http://in.relation.to/service/File/18807" width="300" height="200" alt="">
     </a><br><center>
     <a href="http://richfaces.org/showcase" target="blank">
        RichFaces Component Showcase
     </a>
</center>
</div>

<p class="wikiPara">
RichFaces 4 goes beyond simply supporting JavaServer Faces (JSF) 2.  It has extended multiple areas of JSF, including usability, performance tuning, dynamic resources, skinning, and component development.  This allows users to take full advantage of all the productivity enhancements of JSF 2.  Some notable highlights include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> A full set of Ajax enabled <a href="http://richfaces.org/showcase" target="" class="regularLink">UI components ( Tables, trees, inputs, panels, etc… )</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://richfaces-showcase.appspot.com/richfaces/component-sample.jsf?demo=clientValidation&amp;skin=blueSky" target="" class="regularLink">Client-side validation</a>, expanding JSR 303 Bean Validation all the way to the browser.</li>
<li class="wikiUnorderedListItem"> <a href="http://richfaces-showcase.appspot.com/richfaces/component-sample.jsf?demo=queue&amp;skin=blueSky" target="" class="regularLink">Advanced queueing</a> to match the high performance requirements of real world applications.</li>
<li class="wikiUnorderedListItem"> <a href="http://in.relation.to/Bloggers/GettingStartedWithRichFaces40Push" target="" class="regularLink">Push component</a> upgrades including Java Message Service (JMS) integrations, and various transport mechanisms based on browser support, including Comet &amp; Web Sockets</li>
<li class="wikiUnorderedListItem"> Our own Component Development Kit (CDK).</li>
<li class="wikiUnorderedListItem"> Comprehensive <a href="http://www.jboss.org/richfaces/docs" target="" class="regularLink">documentation</a> covering development best practices, and component details.</li>
<li class="wikiUnorderedListItem"> Detailed and automated testing facilities for components, actions, listeners, and pages.</li>
<li class="wikiUnorderedListItem"> Broad cross-browser support</li>
<li class="wikiUnorderedListItem"> Run anywhere on <a href="http://www.jboss.org/jbossas" target="" class="regularLink">JBoss AS 6/7</a>, <a href="http://tomcat.apache.org/index.html" target="" class="regularLink">Tomcat 6/7</a>, <a href="http://glassfish.java.net/" target="" class="regularLink">Glassfish 3.X</a>, <a href="http://in.relation.to/Bloggers/RichFacesShowcaseOnlineAtGoogleAppEngine" target="" class="regularLink">GAE</a>, <a href="http://sensiblerationalization.blogspot.com/2011/03/richfaces-showcase-on-amazons-elastic.html" target="" class="regularLink">Amazon's Elastic Beanstalk</a>, <a href="http://sensiblerationalization.blogspot.com/2011/03/richfaces-showcase-on-cloudbees.html" target="" class="regularLink">Cloudbees</a>, on <a href="http://myfaces.apache.org/core20/index.html" target="" class="regularLink">MyFaces</a> or <a href="http://javaserverfaces.java.net/" target="" class="regularLink">Mojarra</a>
</li>
<li class="wikiUnorderedListItem"> Tooling support through <a href="http://www.jboss.org/tools" target="" class="regularLink">JBoss Tools</a>, Intellij, NetBeans</li>
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">Our awesome and <a href="http://community.jboss.org/community/richfaces" target="" class="regularLink">active community</a> at its foundation!!</i>
</li>
</ul>

<h4 class="wikiHeadline4" id="H-OurCommunity"><a href="/Bloggers/RichFaces400FinalReleased#H-OurCommunity">Our Community</a></h4>
<p class="wikiPara">
In previous blogs I've talk about about how open source communities really thrive on their community.  I've talk about how <i class="wikiEmphasis">CR</i> releases can stand for <a href="http://in.relation.to/Bloggers/RichFaces400CR1IsHere" target="" class="regularLink">"Community Required"</a> because of how important it is to get that feedback.  All I can say is that our community stepped up, and continue to impress!  We've seen a huge increase in the feedback, and both veterans and new users giving RichFaces 4 a try and helping us to make it to this point.
</p>

<p class="wikiPara">
There are too many to list out here, but you are all appreciated!!  Although, I would like to remind everyone that the <a href="http://community.jboss.org/message/590126#590126" target="" class="regularLink">JBoss Community Recognition</a> voting ends April 2nd.  Please check out the candidates from our community and give them a vote!
</p>

<h4 class="wikiHeadline4" id="H-OurQuality"><a href="/Bloggers/RichFaces400FinalReleased#H-OurQuality">Our Quality</a></h4>
<p class="wikiPara">
Closely related to our community and the feedback we get from them, is our focus on testing.  At RichFaces we have prided ourselves on the level of testing, and stability that we have achieved.  A big part of that is because of the effort our guys put into it.  
</p>

<p class="wikiPara">
Test framework development highlights:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://anonsvn.jboss.org/repos/richfaces/modules/tests/metamer/trunk/" target="" class="regularLink">Metamer</a> - Framework that makes it easy to <a href="http://community.jboss.org/wiki/AddingaComponenttoRichFaces4TestApplication" target="" class="regularLink">add new components and test</a> each attribute under different UI templates</li>
<li class="wikiUnorderedListItem"> Ajocado now part of <a href="http://www.jboss.org/arquillian" target="" class="regularLink">Arquillian</a> which allows type safe Ajax with Selenium</li>
<li class="wikiUnorderedListItem"> Rush Eye now part of <a href="http://www.jboss.org/arquillian" target="" class="regularLink">Arquillian</a> helps test regressions by doing a visual comparison of results.</li>
<li class="wikiUnorderedListItem"> Partial Google Page Speed and Selenium Integration for client side performance testing</li>
</ul>

<p class="wikiPara">
Total Number of Automated Tests: <i class="wikiEmphasis">2350</i>.  Multiply this by environment variables like JSF implementation, Application Server, and UI containers and the total number of complete automated tests go to : 2350 x 4  x 2 = <i class="wikiEmphasis">18, 800</i>!!  Plus we are adding to it all the time...
</p>

<h4 class="wikiHeadline4" id="H-OurDocumentation"><a href="/Bloggers/RichFaces400FinalReleased#H-OurDocumentation">Our Documentation</a></h4>
<p class="wikiPara">
We really wanted to have a focus on complete and quality documentation that would be available to everyone.  One of the guys on our team (Sean), really did a great job and focused on the documentation. We have also had some informative additions to our wiki page, and knowledge base from our community, and team.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Developer Guide: <a href="http://docs.jboss.org/richfaces/latest_4_0_X/Developer_Guide/en-US/pdf/Developer_Guide.pdf" target="" class="regularLink">PDF</a>, <a href="http://docs.jboss.org/richfaces/latest_4_0_X/Developer_Guide/en-US/html_single/" target="" class="regularLink">single HTML</a>, <a href="http://docs.jboss.org/richfaces/latest_4_0_X/Developer_Guide/en-US/html_single/" target="" class="regularLink">multiple HMTL</a>
</li>
<li class="wikiUnorderedListItem"> Component Reference: <a href="http://docs.jboss.org/richfaces/latest_4_0_X/Component_Reference/en-US/pdf/Component_Reference.pdf" target="" class="regularLink">PDF</a>, <a href="http://docs.jboss.org/richfaces/latest_4_0_X/Component_Reference/en-US/html_single/" target="" class="regularLink">single HTML</a>, <a href="http://docs.jboss.org/richfaces/latest_4_0_X/Component_Reference/en-US/html/" target="" class="regularLink">multiple HMTL</a>
</li>
<li class="wikiUnorderedListItem"> Getting started guides: <a href="http://community.jboss.org/docs/DOC-15447" target="" class="regularLink">Maven</a>, <a href="http://community.jboss.org/docs/DOC-16484" target="" class="regularLink">non-Maven</a>, <a href="http://community.jboss.org/docs/DOC-16645" target="" class="regularLink">Ant/Ivy</a>, and <a href="http://community.jboss.org/docs/DOC-16618" target="" class="regularLink">GAE</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/wiki/RichFacesMigrationGuide33x-4xMigration" target="" class="regularLink">Migration Guide 3.3 --&gt; 4.0</a>
</li>
<li class="wikiUnorderedListItem"> Generated <a href="http://docs.jboss.org/richfaces/latest_4_0_X/javadoc/" target="" class="regularLink">javadoc</a> and <a href="http://docs.jboss.org/richfaces/latest_4_0_X/vdldoc/" target="" class="regularLink">vdldoc</a> as well</li>
</ul>

<h3 class="wikiHeadline3" id="H-WantEvenMoreInformation"><a href="/Bloggers/RichFaces400FinalReleased#H-WantEvenMoreInformation">Want Even More Information</a></h3>
<p class="wikiPara">
We've got a whole stack of blogs, conference talks, and upcoming publications to keep you busy :-)
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://in.relation.to/Bloggers/GettingStartedWithRichFaces40Push" target="" class="regularLink">Getting started with RichFaces Push</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://in.relation.to/Bloggers/RichFacesShowcaseOnlineAtGoogleAppEngine" target="" class="regularLink">RichFaces Showcase on Google App Engine</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://in.relation.to/Bloggers/RichFaces4ClientSideValidation" target="" class="regularLink">RichFaces 4 Client-side Validation</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://in.relation.to/Bloggers/RichFaces4ObjectValidation" target="" class="regularLink">RichFaces 4 Object Validation</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://in.relation.to/Bloggers/RichFaces4OverviewPartIVInputsComponents" target="" class="regularLink">RichFaces 4 Overview - Input Components</a>
</li>
<li class="wikiUnorderedListItem"> Talks at <a href="http://www.jboss.org/events/JUDCon" target="" class="regularLink">JUDCon</a>, and <a href="http://www.redhat.com/summit/" target="" class="regularLink">JBoss World</a> in May, plus <a href="http://jaxconf.com/2011/jsfsummit/" target="" class="regularLink">JSFSummit</a> in June</li>
<li class="wikiUnorderedListItem"> Revised <a href="http://apress.com/book/view/9781430234494" target="" class="regularLink">Practical RichFaces</a> for 4.0</li>
<li class="wikiUnorderedListItem"> RichFaces 4.0 DZone RefCard coming soon!</li>
</ul>

<h3 class="wikiHeadline3" id="H-WhatsNext"><a href="/Bloggers/RichFaces400FinalReleased#H-WhatsNext">What's next</a></h3>
<p class="wikiPara">
That is a wide open question.  We're planning to start on a 4.1 version soon with shorter time-boxed release schedules.  We'll be discussing this more on the <a href="http://community.jboss.org/community/richfaces/dev" target="" class="regularLink">developer forums</a> and <a href="http://community.jboss.org/en/richfaces/dev/teammtgs" target="" class="regularLink">team meetings</a>.  This release will likely include a variety of new features such as; Mobile/Tablet specific components, HTML5 extensions, new components like the <tt>rich:editor</tt> and <tt>rich:growl</tt> and more.  Please join in the discussion, and be part of the future of RichFaces!
</p>

<p class="wikiPara">
In other areas of the project:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Series of <q>how-to</q> articles for development with and on the project</li>
<li class="wikiUnorderedListItem"> Mobile development series on how to build for the mobile web with RichFaces 4</li>
<li class="wikiUnorderedListItem"> Add examples, and more details the <a href="http://community.jboss.org/wiki/RichFacesMigrationGuide33x-4xMigration" target="" class="regularLink">Migration Guide 3.3 --&gt; 4.0</a>
</li>
<li class="wikiUnorderedListItem"> Component Sandbox rules, and wiki page updates to help everyone become a component developer guru</li>
<li class="wikiUnorderedListItem"> Jira reviews from the past, and future</li>
</ul>

<p class="wikiPara">
None of this is possible without you though!  We want to hear from you, and if you find an issue, have comments or ideas please let us know through our <a href="http://community.jboss.org/en/richfaces" target="" class="regularLink">forums</a>, or our <a href="https://jira.jboss.org/browse/RF" target="" class="regularLink">project jira</a>.  See our <a href="http://www.jboss.org/richfaces/community/richfacescalendar.html" target="" class="regularLink">Project Calendar</a> and the <a href="http://community.jboss.org/en/richfaces/dev/teammtgs" target="" class="regularLink">Meeting Information</a> page for more details, agendas, and minutes if you want to get involved more!
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/richfaces" target="" class="regularLink">Project Site</a>]
[<a href="http://www.jboss.org/richfaces/download/stable.html" target="" class="regularLink">Downloads</a>]
[<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] 
[<a href="http://community.jboss.org/en/richfaces" target="" class="regularLink">User Forums</a>] 
[<a href="http://community.jboss.org/en/richfaces/dev" target="" class="regularLink">Design Forums</a>]
[<a href="http://twitter.com/richfaces" target="" class="regularLink">RichFaces Twitter</a>]</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'RichFaces400FinalReleased';
    var disqus_title = 'RichFaces 4.0.0.Final Released!!';
    var disqus_url = 'http://in.relation.to/18902.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
