---
title: "Coming soon! New AeroGear Site & Other Updates"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "18-07-2012"
original_tags: [AeroGear,Contexts and Dependency Injection,Mobile,News]
tags: [AeroGear,CDI]

relative_url: /2012/07/18/coming-soon-new-aero-gear-site-other-updates
slug: coming-soon-new-aero-gear-site-other-updates
lace: http://in.relation.to/23395.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/07/18/coming-soon-new-aero-gear-site-other-updates
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
It's been a little while since I wrote about <a href="http://in.relation.to/Bloggers/WereHiringForOurMobileWebHybridAndNativeProjectAeroGearJoinTheTeamAtJBoss" target="" class="regularLink">AeroGear</a> (and we're still hiring by the way!) so I wanted to take a minute and give a bit of an update and preview some things we are working on.
</p>

<h3 class="wikiHeadline3" id="H-JBossWorld"><a href="/2012/07/18/coming-soon-new-aero-gear-site-other-updates#H-JBossWorld">JBoss World</a></h3>

<div style="float:right;margin-left:20px;">
    <a href="http://jboss.org/aerogear" target="blank"> 
        <img src="/images/legacy/22836.png" alt="">
    </a>
</div>

<p class="wikiPara">
For those of you that did not get a chance to make it to <a href="http://www.redhat.com/summit/" target="" class="regularLink">JBoss World</a> it was a great conference for mobile, and AeroGear was everywhere!  It all started at the opening <a href="http://www.jboss.org/jbw2012keynote" target="" class="regularLink">keynote demo</a> showcasing jBPM, mobile, and other JBoss technology.  The AeroGear team worked with the rest of the demo team to create a JBoss toy store application, both in mobile web and native versions using Apache Cordova.  We also deployed the application using <a href="http://appblade.com" target="" class="regularLink">AppBlade</a>, a partner of ours that allows for enterprise provisioning of native mobile applications.  You can check out this <a href="http://vimeo.com/45731657" target="" class="regularLink">video by Burr Sutter</a> for a technical run through of the various parts.  You can also download the source, and try it all out for yourself <a href="http://www.jboss.org/jbw2012keynote" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
There were several other sessions, BOF's and labs related to mobile development and AeroGear.  In one of the AeroGear sessions I discussed where the project is, and what our upcoming plans are.  I wanted to share these more broadly, and from that this blog was born!
</p>

<h3 class="wikiHeadline3" id="H-NewProjectSite"><a href="/2012/07/18/coming-soon-new-aero-gear-site-other-updates#H-NewProjectSite">New Project Site</a></h3>

<p class="wikiPara">
One of the first things I mentioned is that the <a href="http://www.jboss.org/aerogear" target="" class="regularLink">AeroGear project site</a> needed a revamp!  It was authored using a content management system (CMS), and as such could not really showcase some of the advanced functionality that we wanted to use.  We also wanted to update our roadmap and wiki pages with the items below, and have them be easier to maintain. 
</p>

<p class="wikiPara">
So we're moving our project site to use <a href="http://awestruct.org/" target="" class="regularLink">Awestruct</a>, a great tool for developing project sites that look great and let you have more control.  In this we are following the footsteps of <a href="http://torquebox.org" target="" class="regularLink">TorqueBox</a>, <a href="http://immutant.org/" target="" class="regularLink">Immutant</a>, <a href="http://arquillian.org/" target="" class="regularLink">Arquillian</a>, and <a href="http://www.jboss.org/jdf/" target="" class="regularLink">JBoss Developer Framework</a>.  This means our site will be developed on github, and hosted on JBoss.org just as before, only better :-)
</p>

<p class="wikiPara">
For our docs and wiki we're going to be moving to <a href="http://www.methods.co.nz/asciidoc/" target="" class="regularLink">AsciiDoc</a>, which is a lot like markdown, but even more powerful and supported by github!  This is another great option for open source projects that want their documents to be functional, beautiful and pull request-able.  
</p>

<p class="wikiPara">
We'll be getting these updates in place as soon as possible, hopefully in the next week or two!
</p>

<h3 class="wikiHeadline3" id="H-NativeClientLibraries"><a href="/2012/07/18/coming-soon-new-aero-gear-site-other-updates#H-NativeClientLibraries">Native Client Libraries</a></h3>

<p class="wikiPara">
As I mention in the current <q><a href="http://www.jboss.org/aerogear/WhatisAeroGear.html" target="" class="regularLink">What is AeroGear</a></q> page, we started out focused on education and examples for how to create mobile applications with existing JBoss technology.  We're now moving into that 3rd column - innovation!  
</p>

<div style="float:left;margin-right:20px;">
    <a href="http://jboss.org/aerogear" target="blank"> 
        <img src="/images/legacy/23394.jpeg" alt="">
    </a>
</div>

<p class="wikiPara">
We're currently defining and beginning development of a set of native client libraries for JavaScript (yes, I consider this native :-), Objective-C, and Android Java to make accessing and extending the power of JBoss and JavaEE to mobile clients easy and immediately recognizable to developers on those platforms.  
</p>

<p class="wikiPara">
In my presentation I talked about what these libraries would address:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>Persistence</b> (secure content access via REST &amp; Websockets, including bean validation and more)</li>
<li class="wikiUnorderedListItem"> <b>Security</b> (authentication, authorization, content encryption, and IDM)</li>
<li class="wikiUnorderedListItem"> <b>Messaging &amp; Connectivity</b> (Integrated CDI eventing, JMS, native/non-native push, Websockets)</li>
<li class="wikiUnorderedListItem"> <b>Data Sync &amp; Offline support</b> (Auto sync of various content across clients/servers, collision handling, and local cache)</li>
</ul>

<p class="wikiPara">
We'll be focusing first on persistence and security as the foundation for these libraries, and initially develop the JavaScript APIs, with the Objective-C and Android libraries following (maybe even Windows Phone someday).  We are still strong believers in Hybrid application frameworks like <a href="http://incubator.apache.org/cordova/" target="" class="regularLink">Apache Cordova</a>, and also plan to create plugins and advanced examples for these.
</p>

<p class="wikiPara">
Providing a server-side foundation for some of this functionality is also a new, early stage light-weight MVC that <a href="http://blog.qmx.me/" target="" class="regularLink">QMX</a> developed called AeroGear Controller.  While our client libraries will not depend on this entirely, some of the advanced functionality may require it, a lot of that is still TBD.  To join in, check out QMX's blog <a href="http://planet.jboss.org/post/aerogear_controller_1_0_0_alpha_is_out" target="" class="regularLink">aerogear controller 1.0.0.Alpha is out!</a>
</p>

<h3 class="wikiHeadline3" id="H-KeepAnEyeOpen"><a href="/2012/07/18/coming-soon-new-aero-gear-site-other-updates#H-KeepAnEyeOpen">Keep An Eye Open!</a></h3>

<p class="wikiPara">
So keep your eyes open for more from us in the near future, and jump into our IRC channel (#aerogear @ irc.freenode.net), forums, or mailing lists if you are interested in lending a hand or seeing whats going on!  
</p>

<p class="wikiPara">
[<a href="http://jboss.org/aerogear/" target="" class="regularLink">AeroGear Project</a>]
[<a href="https://github.com/aerogear" target="" class="regularLink">GitHub</a>]
[<a href="https://twitter.com/#!/aerogears" target="" class="regularLink">Twitter</a>]
[<a href="https://community.jboss.org/community/aerogear" target="" class="regularLink">User Forums</a>]
[<a href="http://www.redhat.com/mailman/listinfo/aerogear-dev" target="" class="regularLink">Dev Mailing List</a>]</p>
</div>

