---
title: "AeroGear 1.0.0.M3 Released! Welcome To Hybrid"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "26-04-2012"
tags: [AeroGear,HTML5,Mobile,News,Seam News]

relative_url: /2012/04/26/AeroGear100M3ReleasedWelcomeToHybrid
slug: AeroGear100M3ReleasedWelcomeToHybrid
lace: http://in.relation.to/23136.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/04/26/AeroGear100M3ReleasedWelcomeToHybrid
---
<div id="documentDisplay" class="documentDisplay">


<p>
</p>
<div style="float:left;margin-right:20px;">
    <a href="http://jboss.org/aerogear" target="blank"> 
        <img src="/images/22836.png" alt="">
    </a>
</div>

We've just released the next milestone of AeroGear, 1.0.0.M3b.  In this release we've created a hybrid mobile application using Apache Cordova/PhoneGap, started a Ruby/TorqueBox example, further refined the core POH5 quickstart/archetype, and started work on security, and a light weight MVC for integration.

<p>
The <a href="https://community.jboss.org/wiki/GetStartedWithHTML5MobileWebDevelopmentWithJBoss" target="" class="regularLink">getting started wiki</a> is fully updated, and we've also added a <a href="https://github.com/aerogear/kitchensink-cordova" target="" class="regularLink">repository</a> and <a href="https://community.jboss.org/wiki/ConvertingAnAeroGearPOH5WebAppToAHybridAppWithApacheCordova" target="" class="regularLink">wiki page</a> to kickstart your Cordova application with AeroGear.  The great thing about Plain Old HTML5 (POH5) and Cordova is that nearly all of the web based functionality is the same, so our <a href="https://community.jboss.org/wiki/HTML5MobileQuickstartArchetypeDeepDive" target="" class="regularLink">Deep Dive wiki</a> gives you all the details you need to build your own.
</p>

<div style="float:right;margin-left:20px;margin-bottom:20px">
   <p>
      <a href="https://community.jboss.org/wiki/ConvertingAnAeroGearPOH5WebAppToAHybridAppWithApacheCordova" target="blank"> 
         <img src="https://community.jboss.org/servlet/JiveServlet/downloadImage/18271/187-360/androidSim.png" alt="">
      </a>
   </p>
</div>

<h3 class="wikiHeadline3" id="H-NotableUpdates"><a href="/2012/04/26/AeroGear100M3ReleasedWelcomeToHybrid#H-NotableUpdates">Notable Updates</a></h3>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> More polish on the core <a href="https://issues.jboss.org/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=project+%3D+AEROGEAR+AND+fixVersion+%3D+12318676+AND+component+%3D+%22as-*%22+ORDER+BY+priority+DESC" target="" class="regularLink">quickstart and archetype</a>
</li>
<li class="wikiUnorderedListItem"> Apache Cordova/PhoneGap <a href="https://github.com/aerogear/kitchensink-cordova" target="" class="regularLink">example</a>, and <a href="https://community.jboss.org/wiki/ConvertingAnAeroGearPOH5WebAppToAHybridAppWithApacheCordova" target="" class="regularLink">wiki page</a>
</li>
<li class="wikiUnorderedListItem"> Upgraded to jQuery 1.7.1 and jQuery Mobile 1.1</li>
<li class="wikiUnorderedListItem"> Ruby/TorqueBox <a href="https://issues.jboss.org/browse/AEROGEAR-6" target="" class="regularLink">mobile example</a> started</li>
<li class="wikiUnorderedListItem"> Began <a href="https://github.com/abstractj/aerogear-security" target="" class="regularLink">security prototyping</a> and integration with <a href="https://cwiki.apache.org/confluence/display/DeltaSpike/Security+Module+Drafts" target="" class="regularLink">DeltaSpike security</a>
</li>
<li class="wikiUnorderedListItem"> Developed a proof of concept (PoC) for a <a href="http://blog.qmx.me/backing-mobile-web-apps-with-java/" target="" class="regularLink">light mvc</a> to integrate security</li>
<li class="wikiUnorderedListItem"> Updated <a href="https://community.jboss.org/wiki/DeployingHTML5ApplicationsToOpenshift" target="" class="regularLink">OpenShift deployment</a> instructions</li>
<li class="wikiUnorderedListItem"> Updated our live demo at <a href="http://poh5-aerogear.rhcloud.com" target="" class="regularLink">http://poh5-aerogear.rhcloud.com</a>
</li>
<li class="wikiUnorderedListItem"> Resolved various bugs, and miscellaneous items  </li>
<li class="wikiUnorderedListItem"> Switched to a <a href="http://www.redhat.com/mailman/listinfo/aerogear-dev" target="" class="regularLink">developer mailing list</a> from our developer forums</li>
</ul>

<h3 class="wikiHeadline3" id="H-WhatsNext"><a href="/2012/04/26/AeroGear100M3ReleasedWelcomeToHybrid#H-WhatsNext">Whats Next</a></h3>

<div style="float:left;margin-right:20px;">
    <a href="https://community.jboss.org/wiki/POH5PlainOldHTML5Applications" target="blank"> 
        <img src="/images/22839.jpeg" width="400px" height="132px" alt="">
    </a>
</div>

<p class="wikiPara">
With M3 we've started development into new mobile technologies, and functionality.  For M4 we'll be completing the TorqueBox example, updating the Cordova application, working on a new shopping cart example, and focusing on getting an alpha version of the security/mvc work in place.  
</p>

<p class="wikiPara">
The M4 release will likely be a shorter release for various reasons, so we'll get what we can in for it, and plan to have as much as possible ready by the time <a href="http://www.jboss.org/events/JUDCon/2012/boston" target="" class="regularLink">JUDCon</a> and <a href="http://www.redhat.com/summit/" target="" class="regularLink">JBoss World</a> comes around in June!  
</p>

<p class="wikiPara">
A few of us will speaking at JBoss World, specifically <a href="http://www.redhat.com/summit/speakers/session.html#jbalunas" target="" class="regularLink">myself</a>, and Doug Campos a.k.a. <a href="http://www.jboss.org/events/JUDCon/2012/boston/agenda/day1track2#1630" target="" class="regularLink">Qmx</a>.  We'll be discussing AeroGear and much of the work and features above, plus some extras!  Also as part of the <a href="http://www.redhat.com/summit/sessions/jboss.html#808" target="" class="regularLink">Mobile/HTML5 BOF</a> several JBoss core engineers and experts will also be discussing the future of mobile development both at Red Hat, and the larger enterprise ecosystem, so join us there!  If you want the latest, and I'm sure you do, register for <a href="http://www.jboss.org/events/JUDCon/2012/boston" target="" class="regularLink">JUDCon Boston</a>, and/or <a href="http://www.redhat.com/summit/" target="" class="regularLink">JBoss World 2012</a>!
</p>

<h3 class="wikiHeadline3" id="H-CommunityRoleCall"><a href="/2012/04/26/AeroGear100M3ReleasedWelcomeToHybrid#H-CommunityRoleCall">Community Role Call</a></h3>

<p class="wikiPara">
Aerogear is a new open source project, and like any other new project we would love developers to stop by, check us out, give us some feedback, and join our ranks if you're interested!  If you've got mobile or HTML5 requirements and you're wondering how to move forward post to our <a href="https://community.jboss.org/community/aerogear" target="" class="regularLink">user forums</a>, or stop by  #aerogear @ irc.freenode.net.  
</p>

<p class="wikiPara">
We're always looking for new team members, so if you've got server/client side skills, mobile, HTML5, or native/hybrid app experience, and a great attitude let us know!  You can also just jump right in by checking out our <a href="https://community.jboss.org/wiki/ContributingToAeroGear" target="" class="regularLink">Contributing to AeroGear</a> page.
</p>

<p class="wikiPara">
[<a href="http://jboss.org/aerogear/" target="" class="regularLink">AeroGear Project</a>]
[<a href="https://github.com/aerogear" target="" class="regularLink">GitHub</a>]
[<a href="https://twitter.com/#!/aerogears" target="" class="regularLink">Twitter</a>]
[<a href="https://community.jboss.org/community/aerogear" target="" class="regularLink">User Forums</a>]
[<a href="http://www.redhat.com/mailman/listinfo/aerogear-dev" target="" class="regularLink">Dev Mailing List</a>]</p>
</div>
