---
title: "AeroGear 1.0.0.M2 Released! More Mobile Goodness"
author: "Jay Balunas"
creation_date: "14-03-2012"
blogger_name: "Jay"
layout: blog-post
tags: [AeroGear,HTML5,JBoss Tools,Mobile,News,Seam News]
slug: AeroGear100M2ReleasedMoreMobileGoodness
lace: http://in.relation.to/23010.lace
---
<div id="documentDisplay" class="documentDisplay">


<p>
</p>
<div style="float:right;margin-left:20px;">
    <a href="http://jboss.org/aerogear" target="blank"> 
        <img src="http://in.relation.to/service/File/22836" alt="">
    </a>
</div>

The AeroGear project has just released 1.0.0.M2c as our first followup since launch!  This release was focused on improving the archetype and quickstart mobile/html5 examples.  They got more than just a new look and feel though.  We added better device detection, improved our responsive design, integrated with JBoss Tools, JBoss AS 7.1, and more...

<p>
The <a href="https://community.jboss.org/wiki/GetStartedWithHTML5MobileWebDevelopmentWithJBoss" target="" class="regularLink">getting started wiki</a> has been fully updated to show you how to build your own mobile/HTML5 based application.  This means built, tested, and deployed to JBoss AS 7.1 in just a matter of minutes.  Giving you a great base to build your own application from.  Then our <a href="https://community.jboss.org/wiki/HTML5MobileQuickstartArchetypeDeepDive" target="" class="regularLink">deep dive wiki</a> gives you all the details you need to need for our HTML5, CSS3, jQuery Mobile, JAX-RS endpoints and more.
</p>

<div style="float:right;margin-left:20px;margin-bottom:20px">
   <p>
      <a href="http://poh5-aerogear.rhcloud.com/" target="blank"> 
         <img src="http://in.relation.to/service/File/23006" alt="" width="300px" height="232px">
      </a>
   </p>
</div>

<h3 class="wikiHeadline3" id="H-NotableUpdates"><a href="/Bloggers/AeroGear100M2ReleasedMoreMobileGoodness#H-NotableUpdates">Notable Updates</a></h3>

<b>Here are some of the notable updates to our core example and archetype:</b>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Updates to our responsive design for better <a href="https://github.com/aerogear/as-quickstarts/blob/master/kitchensink-html5-mobile/src/main/webapp/index.html#L62" target="" class="regularLink">client and resolution</a> handling</li>
<li class="wikiUnorderedListItem"> Updated look and feel for both desktop, and mobile interfaces.</li>
<li class="wikiUnorderedListItem"> Added <a href="https://github.com/aerogear/as-quickstarts/blob/master/kitchensink-html5-mobile/SERVICES.md" target="" class="regularLink">JSONP support</a> for cross domain access to our endpoints.</li>
<li class="wikiUnorderedListItem"> <a href="https://community.jboss.org/en/tools/blog/2012/03/14/jboss-tools-and-developer-studio-beta1--chiliad" target="" class="regularLink">JBoss Tools 3.3 Beta1</a> integration with JBoss Central</li>
<li class="wikiUnorderedListItem"> Integrated with <a href="https://www.redhat.com/openshift/community/blogs/new-openshift-release-march-5-2012-jboss-71-and-new-console" target="" class="regularLink">OpenShift's AS 7.1 cartridge</a> with deployment straight from JBoss Tools.</li>
<li class="wikiUnorderedListItem"> Lots of updates to comments, and docs for better self explaining source</li>
<li class="wikiUnorderedListItem"> Updated our <a href="http://poh5-aerogear.rhcloud.com/" target="" class="regularLink">live demo</a> showing this all on <a href="https://www.redhat.com/openshift/" target="" class="regularLink">OpenShift</a>
</li>
<li class="wikiUnorderedListItem"> Added our <a href="https://github.com/aerogear/as-quickstarts/tree/master/helloworld-html5" target="" class="regularLink">HelloWorld quickstart</a> to the mix</li>
</ul>

<div style="float:left;margin-right:20px;">
    <a href="https://community.jboss.org/wiki/POH5PlainOldHTML5Applications" target="blank"> 
        <img src="http://in.relation.to/service/File/23007" alt="" width="300px" height="232px">
    </a>
</div>

<h3 class="wikiHeadline3" id="H-WhatsNext"><a href="/Bloggers/AeroGear100M2ReleasedMoreMobileGoodness#H-WhatsNext">Whats Next</a></h3>

<p class="wikiPara">
We're still just getting started, and our M3 release is going to dig into more advanced areas.  We'll be looking at <a href="https://community.jboss.org/wiki/GetStartedWithHybridApplicationFrameworks" target="" class="regularLink">hybrid application support</a>, application based security for clients and endpoints, and more.  We'll also be creating our own advanced example set to showcase different technologies and approaches for mobile development with JBoss.
</p>

<p class="wikiPara">
Stay tuned for 1.0.0.M3 in the next 6-8 weeks, and remember this is open source - so if you've got an itch and an idea stop by our forums, or our IRC channel to share!  If you are interested in a more permanent situation - we're hiring!!!  We're working on all aspects of mobile development, so if you want to play with some of the hottest technologies on the planet - <a href="https://community.jboss.org/people/jbalunas" target="" class="regularLink">contact me</a>!
</p>


<h3 class="wikiHeadline3" id="H-CommunityCallToAction"><a href="/Bloggers/AeroGear100M2ReleasedMoreMobileGoodness#H-CommunityCallToAction">Community Call To Action</a></h3>

<p class="wikiPara">
Just as a reminder we’ve got <a href="http://www.jboss.org/aerogear/AeroGearCalendar" target="" class="regularLink">team meetings</a> on IRC at #aerogear @ irc.freenode.net, <a href="https://community.jboss.org/community/aerogear" target="" class="regularLink">user</a>, and <a href="https://community.jboss.org/community/aerogear/dev" target="" class="regularLink">developer</a> forums, all of our code is up on <a href="https://github.com/aerogear" target="" class="regularLink">github</a> for sharing, and we’re always looking for motivated developers to step up and <a href="https://community.jboss.org/wiki/ContributingToAeroGear" target="" class="regularLink">join the team</a>!  
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Success</i> comes with a strong <i class="wikiEmphasis">community</i>, and everyone getting <i class="wikiEmphasis">involved</i> however they can!  Bring your questions, and opinions, and let's hear from you!! 
</p>

<p class="wikiPara">
[<a href="http://jboss.org/aerogear/" target="" class="regularLink">AeroGear Project</a>]
[<a href="https://github.com/aerogear" target="" class="regularLink">GitHub</a>]
[<a href="https://twitter.com/#!/aerogears" target="" class="regularLink">Twitter</a>]
[<a href="https://community.jboss.org/community/aerogear" target="" class="regularLink">User Forums</a>]
[<a href="https://community.jboss.org/community/aerogear/dev" target="" class="regularLink">Dev Forums</a>]</p>
</div>
