---
title: "The AeroGear Mobile & HTML5 Project Is Alive!!"
author: "Jay Balunas"
creation_date: "31-01-2012"
blogger_name: "Jay"
layout: blog-post
tags: [AeroGear,HTML5,JBoss Tools,Mobile,News,Seam News,jbosscentral]
slug: TheAeroGearMobileHTML5ProjectIsAlive
lace: http://in.relation.to/22841.lace
---
<div id="documentDisplay" class="documentDisplay">


<p></p>
<div style="float:right;margin-left:20px;">
    <a href="http://jboss.org/aerogear" target="blank"> 
        <img src="http://in.relation.to/service/File/22836" alt="">
    </a>
</div>

I’m very happy to announce the creation of <a href="http://jboss.org/aerogear" target="" class="regularLink">AeroGear</a>, the newest project at JBoss!  The AeroGear project is all about making mobile development of all kinds as easy as possible with JBoss!  This project is focused on three things; education, innovation, and community!


<h3 class="wikiHeadline3" id="H-Education"><a href="/Bloggers/TheAeroGearMobileHTML5ProjectIsAlive#H-Education">Education</a></h3>

<div style="float:left;margin-right:20px;margin-bottom:20px">
   <p>
      <a href="http://vimeo.com/35705170" target="blank"> 
         <img src="http://in.relation.to/service/File/22838" alt="">
      </a>
   </p>
</div>

<p class="wikiPara">
We’ll be covering all aspects of mobile application development!  This includes the latest HTML5 technologies used in the mobile web, and in hybrid application frameworks like the Apache Cordova.  All the way to JBoss AS based services, mobile RichFaces/JSF2, tooling, and native application support, and prototyping.
</p>

<p class="wikiPara">
To wet your whistle we’ve put together a 5 minute video to show you how easy it is to get from zero to a mobile web application with cloud hosted services on JBoss.
</p>

<p class="wikiPara">
Just in case you missed it at the end, the link to the live hosted demo on Openshift is at <a href="http://poh5-aerogear.rhcloud.com" target="" class="regularLink">http://poh5-aerogear.rhcloud.com</a>.
</p>

<p class="wikiPara">
Assuming that got your interests up, we go a lot deeper.  Our <a href="https://community.jboss.org/wiki/GetStartedWithHTML5MobileWebDevelopmentWithJBoss" target="" class="regularLink">step by step guide</a> on building this HTML5 mobile application yourself, including where to fork it on github is available right on our <a href="https://community.jboss.org/community/aerogear" target="" class="regularLink">wiki page</a>.  There are also guides detailing the specifics on single page applications, HTML5 updates, CSS3, jQuery Mobile, RESTful endpoints, and more <a href="https://community.jboss.org/wiki/HTML5MobileQuickstartArchetypeDeepDive" target="" class="regularLink">here</a>.
</p>

<h3 class="wikiHeadline3" id="H-Innovation"><a href="/Bloggers/TheAeroGearMobileHTML5ProjectIsAlive#H-Innovation">Innovation</a></h3>

<div style="float:right;margin-left:20px;">
    <a href="https://community.jboss.org/wiki/POH5PlainOldHTML5Applications" target="blank"> 
        <img src="http://in.relation.to/service/File/22839" width="400px" height="132px" alt="">
    </a>
</div>

<p class="wikiPara">
Our initial focus is on providing excellent examples, tutorials, and techniques for enterprise mobile developers.  These will cover mobile web, hybrid, and native applications approaches for working with JBoss and other 3rd party projects.  For all you polyglot lovers out there, we’re not limiting ourselves just to Java either, we’ll have pure HTML, and JavaScript demos, TorqueBox and Ruby will make an appearance, and we’ll be looking at other approaches as well.
</p>

<p class="wikiPara">
However, at the same time we'll be developing new mobile[native, hybrid, and web] based frameworks for solving real concerns of enterprise developers.  The most immediate of these include offline data synchronization, security, container integration, and support across a broad range of devices.
</p>

<p class="wikiPara">
We’re currently <a href="https://community.jboss.org/wiki/AeroGearHTML5ExtensionConcepts" target="" class="regularLink">designing and discussing</a> some of these solutions, and want your input!  Head over to the <a href="https://community.jboss.org/community/aerogear/dev" target="" class="regularLink">AeroGear Developer space</a> for more.  We plan on moving pretty fast here and hope to have some real world prototypes up and running soon.  
</p>

<h3 class="wikiHeadline3" id="H-Community"><a href="/Bloggers/TheAeroGearMobileHTML5ProjectIsAlive#H-Community">Community</a></h3>

<div style="float:left;margin-right:20px;">
    <a href="https://community.jboss.org/wiki/GetStartedWithHTML5MobileWebDevelopmentWithJBoss" target="blank"> 
        <img src="http://in.relation.to/service/File/22840" width="390px" height="191px" alt="">
    </a>
</div>

<p class="wikiPara">
Whether you are a long time Java EE developer looking to migrate existing applications to mobile clients, or client developers looking for a powerful back-end for your applications this is where you can learn more about both, and become part of the community building it!! 
</p>

<p class="wikiPara">
We’ve got team meetings on IRC at #aerogear @ irc.freenode.net, <a href="https://community.jboss.org/community/aerogear" target="" class="regularLink">user</a>, and <a href="https://community.jboss.org/community/aerogear/dev" target="" class="regularLink">developer</a> forums, all of our code is up on <a href="https://github.com/organizations/aerogear" target="" class="regularLink">github</a> for sharing, and we’re always looking for motivated developers to step up and <a href="https://community.jboss.org/wiki/ContributingToAeroGear" target="" class="regularLink">join the team</a>!  We’ll be speaking at up coming conferences and JUGs around the world, as well as having regular blogs, webinars, and screencasts!  Watch this space and our forums for the latest.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Success</i> comes with a strong <i class="wikiEmphasis">community</i>, and everyone getting <i class="wikiEmphasis">involved</i> however they can!  Bring your questions, and opinions, and let's hear from you!! 
</p>

<p class="wikiPara">
[<a href="http://jboss.org/aerogear/" target="" class="regularLink">AeroGear Project</a>]
[<a href="https://github.com/organizations/aerogear" target="" class="regularLink">GitHub</a>]
[<a href="https://twitter.com/#!/aerogears" target="" class="regularLink">Twitter</a>]
[<a href="https://community.jboss.org/community/aerogear" target="" class="regularLink">User Forums</a>]
[<a href="https://community.jboss.org/community/aerogear/dev" target="" class="regularLink">Dev Forums</a>]</p>
</div>
