---
title: "AeroGear 1.0.0.M4 Released!"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "22-05-2012"
original_tags: [AeroGear,Cordova,HTML5,Mobile,POH5,Seam News,TorqueBox]
tags: [AeroGear,Seam]

relative_url: /2012/05/22/aero-gear-100-m-4-released
slug: aero-gear-100-m-4-released
lace: http://in.relation.to/23203.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/05/22/aero-gear-100-m-4-released
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;">
    <a href="http://jboss.org/aerogear" target="blank"> 
        <img src="/images/22836.png" alt="">
    </a>
</div>

<div style="float:left;margin-right:20px;">
    <a href="http://jboss.org/aerogear" target="blank"> 
        <img src="http://s0.geograph.org.uk/geophotos/02/38/76/2387695_aba3c20c.jpg" alt="Polyglot" height="242" width="342">
    </a>
</div>

<p class="wikiPara">
We've just released the next milestone of AeroGear, 1.0.0.M4. In this release we've created a Ruby on Rails version of our POH5 kitchensink demo to bring home the full advantage of polyglotism on the JVM with <a href="http://torquebox.org" target="" class="regularLink">TorqueBox</a>, a Ruby application server built on JBoss AS7 and JRuby, we also finalized our core quickstarts and archetype, as well as, pushed forward on security prototyping with DeltaSpike.  
</p>

<p class="wikiPara">
Since our kichensink demo's are Plain Old HTML5 (POH5) based, we're not restricted to one server-side technology or language, sky's the limit! So you can check out our hosted Ruby on Rails <a href="http://tb-aerogear.rhcloud.com" target="" class="regularLink">kitchensink demo</a> with TorqueBox version, for POH5 + JavaEE take a look at the updated <a href="https://community.jboss.org/wiki/GetStartedWithHTML5MobileWebDevelopmentWithJBoss" target="" class="regularLink">getting started</a>, wiki and we've also updated our <a href="https://community.jboss.org/wiki/ConvertingAnAeroGearPOH5WebAppToAHybridAppWithApacheCordova" target="" class="regularLink">Cordova version</a> of the kitchensink as well.
</p>

<h3 class="wikiHeadline3" id="H-WhatsNew"><a href="/2012/05/22/aero-gear-100-m-4-released#H-WhatsNew">What's new?</a></h3>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Ruby on Rails <a href="https://github.com/aerogear/kitchensink-torquebox-mobile" target="" class="regularLink">mobile example</a> based on POH5 with TorqueBox</li>
<li class="wikiUnorderedListItem"> <a href="http://tb-aerogear.rhcloud.com" target="" class="regularLink">TorqueBox demo</a> alive and running on OpenShift</li>
<li class="wikiUnorderedListItem"> Updated our core POH5 + JavaEE backend demo at <a href="http://poh5-aerogear.rhcloud.com" target="" class="regularLink">http://poh5-aerogear.rhcloud.com</a>
</li>
<li class="wikiUnorderedListItem"> Arquillian and Java EE specs upgraded for our <a href="https://github.com/aerogear/as-quickstarts" target="" class="regularLink">quickstart</a> and <a href="https://github.com/aerogear/as-archetypes/" target="" class="regularLink">archetype</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://cwiki.apache.org/confluence/display/DeltaSpike/Security+Module+Drafts" target="" class="regularLink">DeltaSpike</a> integration and updates on <a href="https://github.com/abstractj/aerogear-security" target="" class="regularLink">security prototyping</a>
</li>
<li class="wikiUnorderedListItem"> Updated our <a href="http://vimeo.com/41667870" target="" class="regularLink">5 minutes to mobile</a> video too!</li>
<li class="wikiUnorderedListItem"> Updated our JBoss Tools integration with JBoss Central</li>
<li class="wikiUnorderedListItem"> Solved several minor bugs, and other miscellaneous items</li>
</ul>

<h3 class="wikiHeadline3" id="H-NextSteps"><a href="/2012/05/22/aero-gear-100-m-4-released#H-NextSteps">Next steps</a></h3>

<p class="wikiPara">
In M4 we gave Ruby a try to backup our POH5 example.  Now we've got our core POH5+JavaEE, POH5+Ruby, and Cordova+JavaEE examples all in place to show different ways to development mobile applications with JBoss.  
</p>

<p class="wikiPara">
We're also working on larger integrated examples and getting ready for JBoss World and JUDCon. Our team will be speaking at the party, specifically <a href="http://www.redhat.com/summit/speakers/session.html#jbalunas" target="" class="regularLink">Jay Balunas</a> and Douglas Campos a.k.a. <a href="http://www.jboss.org/events/JUDCon/2012/boston/agenda/day1track2#1630" target="" class="regularLink">Qmx</a>. 
</p>

<p class="wikiPara">
A lot of JBoss core developers will also be present at the <a href="http://www.redhat.com/summit/sessions/jboss.html#808" target="" class="regularLink">Mobile/HTML5 BOF</a> discussing the future of mobile development and HTML5, so join us there and register for JUDCon Boston, and/or JBoss World 2012! Stay tuned to further releases!
</p>


<h3 class="wikiHeadline3" id="H-DontBeShy"><a href="/2012/05/22/aero-gear-100-m-4-released#H-DontBeShy">Don't be shy!</a></h3>

<p class="wikiPara">
Aerogear is open source, so feel free to get in touch if you have any questions about mobile development with JBoss technologies. We'd appreciate your feedback! If you've got mobile or HTML5 requirements and you're wondering how to move forward post to our <a href="http://community.jboss.org/en/aerogear" target="" class="regularLink">user forums</a>, or stop by #aerogear @ irc.freenode.net.
</p>

<p class="wikiPara">
[<a href="http://jboss.org/aerogear/" target="" class="regularLink">AeroGear Project</a>]
[<a href="https://github.com/aerogear" target="" class="regularLink">GitHub</a>]
[<a href="https://twitter.com/#!/aerogears" target="" class="regularLink">Twitter</a>]
[<a href="https://community.jboss.org/community/aerogear" target="" class="regularLink">User Forums</a>]
[<a href="http://www.redhat.com/mailman/listinfo/aerogear-dev" target="" class="regularLink">Dev Mailing List</a>]
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Image © Copyright <a href="http://www.geograph.org.uk/profile/19422" target="" class="regularLink">Sarah Smith</a> and licensed for reuse under this <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="" class="regularLink">Creative Commons License</a>. The original can be be found <a href="http://www.geograph.org.uk/photo/2387695" target="" class="regularLink">here</a>.</i></p>
</div>

