---
title: "We're hiring for our mobile web, hybrid, and native project, AeroGear! Join the team at JBoss!"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "06-06-2012"
tags: [AeroGear,HTML5,Mobile,News,Seam News]

relative_url: /2012/06/06/WereHiringForOurMobileWebHybridAndNativeProjectAeroGearJoinTheTeamAtJBoss
slug: WereHiringForOurMobileWebHybridAndNativeProjectAeroGearJoinTheTeamAtJBoss
lace: http://in.relation.to/23229.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/06/06/WereHiringForOurMobileWebHybridAndNativeProjectAeroGearJoinTheTeamAtJBoss
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;">
    <a href="http://jboss.org/aerogear" target="blank"> 
        <img src="/images/22836.png" alt="">
    </a>
</div>

<p class="wikiPara">
JBoss is looking to expand our mobile team to develop the next generation of mobile enabled technologies around native, hybrid, and web based applications with <a href="http://www.jboss.org/aerogear" target="" class="regularLink">AeroGear</a>!  <i class="wikiEmphasis">These are world wide, remote positions working with the best open source company in the world - Red Hat!</i>
</p>

<p class="wikiPara">
This isn't you're father's JavaEE project. We're creating iOS, Android, and advanced JavaScript libraries to access the power of JBoss from nearly any client!  This will cover persistence, security, messaging, and data synchronization all the way to developer tools, and advanced testing techniques.  To learn more about AeroGear and our plans check out our <q><a href="http://www.jboss.org/aerogear/WhatisAeroGear.html" target="" class="regularLink">What is AeroGear</a></q> page.
</p>

<p class="wikiPara">
Not only will we be working with JBoss's own projects, we'll also be working with and contributing to other 3rd party, open source projects such as PhoneGap/Cordova, jQuery, and other related efforts.  We win, when the entire ecosystem is healthy and growing!
</p>

<h3 class="wikiHeadline3" id="H-JoinTheTeam"><a href="/2012/06/06/WereHiringForOurMobileWebHybridAndNativeProjectAeroGearJoinTheTeamAtJBoss#H-JoinTheTeam">Join The Team!</a></h3>

<p class="wikiPara">
Are you a passionate developers? Do you enjoy open source? This is your place!  We're hiring multiple positions, and skill-sets around the world:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://careers-redhat.icims.com/jobs/search?ss=1&amp;searchKeyword=aerogear&amp;searchLocation=&amp;searchCategory=&amp;searchPostedDate=&amp;searchRadius=5&amp;searchZip=" target="" class="regularLink">Client/Server</a> - Are you comfortable with both the server, and client side of the today's most advanced applications?</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://careers-redhat.icims.com/jobs/search?ss=1&amp;searchKeyword=aerogear&amp;searchLocation=&amp;searchCategory=&amp;searchPostedDate=&amp;searchRadius=5&amp;searchZip=" target="" class="regularLink">Client/JavaScript</a> - Can you pound out advanced JavaScript applications that bend browsers to your will?</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://careers-redhat.icims.com/jobs/search?ss=1&amp;searchKeyword=aerogear&amp;searchLocation=&amp;searchCategory=&amp;searchPostedDate=&amp;searchRadius=5&amp;searchZip=" target="" class="regularLink">Hybrid Mobile</a> - Have you already created applications with Apache Cordova, Sencha Touch 2, or other related hybrid technologies?</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://careers-redhat.icims.com/jobs/search?ss=1&amp;searchKeyword=aerogear&amp;searchLocation=&amp;searchCategory=&amp;searchPostedDate=&amp;searchRadius=5&amp;searchZip=" target="" class="regularLink">Native Mobile</a> - Objective-C, and Android Java don't scare you!  Are you're looking for a challenge, making it easier to use powerful backend features?</li>
</ul>

<b>Update:</b><p class="wikiPara">
 Due to a system change the original links to the positions are no longer working (I've updated them now).  Please use <a href="https://careers-redhat.icims.com/jobs/search?ss=1&amp;searchKeyword=aerogear&amp;searchLocation=&amp;searchCategory=&amp;searchPostedDate=&amp;searchRadius=5&amp;searchZip=" target="" class="regularLink">this link</a> to find the open positions.  You can apply to any of them for any of the positions.
</p>


<p class="wikiPara">
As a JBoss core developer you will be expected to be a community member/leader in our open source projects, and eventually a voice for AeroGear, and JBoss in general.  The intangibles are just as important as the right skills.  A great attitude, motivation, working effectively in remote groups, and drive are also very desired.
</p>

<h3 class="wikiHeadline3" id="H-CallToAction"><a href="/2012/06/06/WereHiringForOurMobileWebHybridAndNativeProjectAeroGearJoinTheTeamAtJBoss#H-CallToAction">Call To Action</a></h3>

<p class="wikiPara">
So, you're interested?  Submit your resume today using the links above, and we'll get the process started!
</p>

<p class="wikiPara">
If you have any questions about the project, the roles, or the team, contact me, <a href="http://in.relation.to/Bloggers/Jay" target="" class="regularLink">Jay Balunas</a>, or others on the team in the #aerogear channel on irc.freenode.net.  We'll be happy to talk with you, or answer any questions you may have!
</p>

<p class="wikiPara">
If you have ever wanted to work on an open source project full time, and be part of a special group of developers, this is your chance!!
</p>

<p class="wikiPara">
[<a href="http://jboss.org/aerogear/" target="" class="regularLink">AeroGear Project</a>]
[<a href="https://github.com/aerogear" target="" class="regularLink">GitHub</a>]
[<a href="https://twitter.com/#!/aerogears" target="" class="regularLink">Twitter</a>]
[<a href="https://community.jboss.org/community/aerogear" target="" class="regularLink">User Forums</a>]
[<a href="http://www.redhat.com/mailman/listinfo/aerogear-dev" target="" class="regularLink">Developer Mailing List</a>]</p>
</div>
