---
title: "AeroGear 1.0.0.M6 Release Jumps Ahead With iOS, and JavaScript!!"
author: "Jay Balunas"
blogger_name: "Jay"
creation_date: "25-10-2012"
tags: [AeroGear,Mobile,News,Seam News]

relative_url: /2012/10/25/AeroGear100M6ReleaseJumpsAheadWithIOSAndJavaScript
slug: AeroGear100M6ReleaseJumpsAheadWithIOSAndJavaScript
lace: http://in.relation.to/23617.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/10/25/AeroGear100M6ReleaseJumpsAheadWithIOSAndJavaScript
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;">
   <a href="http://jboss.org/aerogear" target="blank"> 
       <img src="/images/22836.png" alt="">
   </a>
</div>

<p class="wikiPara">
With the AeroGear 1.0.0.M6 release we've added a lot of new functionally and the JavaScript and iOS client libraries have really taken front stage!  Doug Campos (a.k.a. <a href="https://github.com/qmx" target="" class="regularLink">Qmx</a>) has summed it up really well on the new <a href="http://aerogear.org/news/2012/10/24/aerogear-1.0.0.M6-is-out/" target="" class="regularLink">project site's blog</a>.  
</p>

<p class="wikiPara">
Which reminds me :-) 
</p>

<p class="wikiPara">
Our new project site launched a little while back with a new responsive design, docs, and project information!  Check it out for all the details on AeroGear, our plans, and libraries!
</p>

<div style="float:left;margin-right:20px;">
   <a href="http://aerogear.org" target="blank"> 
       <img src="/images/23616.png" alt="">
   </a>
</div>

<h3 class="wikiHeadline3" id="H-ProjectUpdates"><a href="/2012/10/25/AeroGear100M6ReleaseJumpsAheadWithIOSAndJavaScript#H-ProjectUpdates">Project Updates</a></h3>

<p class="wikiPara">
As the AeroGear team and project have been expanding, so have our mobile efforts at Red Hat and JBoss!  My time has been split between many different things across them all.
</p>

<p class="wikiPara">
That is why, I've asked <a href="https://github.com/qmx" target="" class="regularLink">Qmx</a> to take on the project lead role for AeroGear.  He's has been with AeroGear since nearly the beginning and brings a wealth of open source, server and client based experience to the team!  As is often the case he's already been doing the job for a while now, and doing great at it!
</p>

<p class="wikiPara">
I'm not going anywhere, and will still be deeply involved in the AeroGear project as well as other mobile related efforts at JBoss!    
</p>

<h3 class="wikiHeadline3" id="H-DontBeShy"><a href="/2012/10/25/AeroGear100M6ReleaseJumpsAheadWithIOSAndJavaScript#H-DontBeShy">Don't be shy!</a></h3>

<p class="wikiPara">
And finally, as I've said, this isn't your father's JavaEE project, but Aerogear is certainly open source, and we're always looking for people to get involved, ask questions, or provide input! We'd appreciate your feedback! Stop by our IRC channel #aerogear@irc.freenode.net, or our <a href="http://aerogear.org/community/" target="" class="regularLink">community site</a> and <a href="https://lists.jboss.org/mailman/listinfo/aerogear-dev" target="" class="regularLink">mailing list</a> and see what we're up to!
</p>

<p class="wikiPara">
[<a href="http://aerogear.org" target="" class="regularLink">AeroGear Project</a>]
[<a href="https://github.com/aerogear" target="" class="regularLink">GitHub</a>]
[<a href="https://twitter.com/#!/aerogears" target="" class="regularLink">Twitter</a>]
[<a href="https://lists.jboss.org/mailman/listinfo/aerogear-dev" target="" class="regularLink">Developer Mailing List</a>]</p>
</div>
