---
layout: blog-post-list
left_column_extra_partial: blog/left-column-extra-author-bio.html.haml
---
-# template for author pages

- if not page.posts.nil?
  - member = site.people.values.detect{|member| member.name == page.posts[0].author[0].to_s}

