---
layout: blog-post-list
---
-# template for tag pages

// find the tag name based on the page output path and the tag url
- identifier = page.output_path.split("/")[-2].to_s
- if not page.posts.nil?
  - post = page.posts[0]
  - for tag in post.tags
    -# relying on primary_page.output_path instead of url which is for our purposes identical - see WEBSITE-318
    - tag_identifier = tag.primary_page.output_path.split("/")[1].to_s
    - if tag_identifier == identifier
      - page_tag = tag
