---
title: "What's new in Seam 2"
author: "Norman Richards"
blogger_name: "Norman"
creation_date: "05-11-2007"
tags: []

absolute_url: http://in.relation.to/2007/11/05/WhatsNewInSeam2
lace: http://in.relation.to/2731.lace
slug: WhatsNewInSeam2

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We've released Seam 2.0.0 GA to the world.  (<a href="http://labs.jboss.com/jbossseam/download/" target="" class="regularLink">downloads</a> and <a href="http://labs.jboss.com/portal/jbossseam/docs" target="" class="regularLink">docs</a> for the impatient)  Seam 2 is a big release. We'll be talking a lot about the new features over the coming days and weeks.  To get you started, I wrote up my list of the top 10 things you should know about Seam 2.
</p>

<h1 class="wikiHeadline1" id="H-WebServices"><a href="/Bloggers/WhatsNewInSeam2#H-WebServices">Web Services</a></h1>
<p class="wikiPara">
POJOs - check. Session beans - check.  Entity beans - check.  Message-driven beans - check.  Web Services?  <a href="http://docs.jboss.com/seam/2.0.0.GA/reference/en/html/webservices.html" target="" class="regularLink">Now we've got it all</a>.  Web services endpoints can now be Seam-aware.   Web services can be conversational and can make use of Seam components and services.
</p>

<h1 class="wikiHeadline1" id="H-Groovy"><a href="/Bloggers/WhatsNewInSeam2#H-Groovy">Groovy</a></h1>
<p class="wikiPara">
Tired of using Java?  Do you dream of builders and closures?  In Seam 2.0, <a href="http://docs.jboss.com/seam/2.0.0.GA/reference/en/html/groovy.html" target="" class="regularLink">Seam components can be written in Groovy</a>.  
</p>

<h1 class="wikiHeadline1" id="H-HotDeploy"><a href="/Bloggers/WhatsNewInSeam2#H-HotDeploy">Hot deploy</a></h1>
<p class="wikiPara">
In development mode, Seam can <a href="http://docs.jboss.com/seam/2.0.0.GA/reference/en/html/gettingstarted.html#gettingstarted-hotdeployment" target="" class="regularLink">hot-deploy component definitions</a> without needing to redeploy your entire WAR or EAR. We'll also automatically redeploy configuration files and view pages, giving  a super-quick dev cycle. Our new eclipse integration will copy hot-deploy incremental changes straight to the server whenever you make a change to your source. 
</p>

<h1 class="wikiHeadline1" id="H-EclipseSupport"><a href="/Bloggers/WhatsNewInSeam2#H-EclipseSupport">Eclipse support</a></h1>
<p class="wikiPara">
Did we just mention IDE support?  JBossTools and Red Hat Developer Studio both offer killer IDE support for Seam 1.2.  We're just wrapping up Seam 2 support in JBossTools.  You'll get complete project wizards, integrated tested, autocomplete on EL, visual editing of view pages, and more.  Keep your eyes out for the official release.  
</p>

<h1 class="wikiHeadline1" id="H-RemovingTheJSFDependency"><a href="/Bloggers/WhatsNewInSeam2#H-RemovingTheJSFDependency">Removing the JSF dependency</a></h1>
<p class="wikiPara">
The Seam core has been completely overhauled.  In addition to extensive packaging changes, Seam has now been de-coupled from JSF so that it can be more easily used with other web frameworks.  We've included some experimental <a href="http://docs.jboss.com/seam/2.0.0.GA/reference/en/html/gwt.html" target="" class="regularLink">GWT integration</a> that shows how this might work.  Want Seam with your favorite web framework?  We've opened the doors for the ambitious.
</p>

<h1 class="wikiHeadline1" id="H-JSF12"><a href="/Bloggers/WhatsNewInSeam2#H-JSF12">JSF 1.2</a></h1>
<p class="wikiPara">
If you are happy with JSF, we're now using JSF 1.2.  Seam 1 users should note that with switched from myfaces to the JSF RI as our default JSF implementation.
</p>

<h1 class="wikiHeadline1" id="H-JBossEL"><a href="/Bloggers/WhatsNewInSeam2#H-JBossEL">JBoss EL</a></h1>
<p class="wikiPara">
If plain-vanilla EL us a little too bland, <a href="http://docs.jboss.com/seam/2.0.0.GA/reference/en/html/elenhancements.html" target="" class="regularLink">we now offer JBoss EL</a>.  JBoss EL supports parameterized bindings, support for non-JavaBean properties and projection
</p>

<h1 class="wikiHeadline1" id="H-Maven"><a href="/Bloggers/WhatsNewInSeam2#H-Maven">Maven</a></h1>
<p class="wikiPara">
Ok, ok -  we get the message.  You guys want Maven support. Well, <a href="http://docs.jboss.com/seam/2.0.0.GA/reference/en/html/dependencies.html#d0e20262" target="" class="regularLink">now you have it</a> Not only are we managing our own Seam dependencies in Maven, we've got our own fancy Maven repository for you to pull Seam from. Stop sending the letters, ok?
</p>

<h1 class="wikiHeadline1" id="H-MoreIntegration"><a href="/Bloggers/WhatsNewInSeam2#H-MoreIntegration">More integration</a></h1>
<p class="wikiPara">
Seam is all about integration.  Our asynchronous invocation support now can use <a href="http://docs.jboss.com/seam/2.0.0.GA/reference/en/html/jms.html#d0e11477" target="" class="regularLink">Quartz</a> as an alternative to the EJB3 timer service.  We've made it easier to use <a href="http://docs.jboss.com/seam/2.0.0.GA/reference/en/html/search.html" target="" class="regularLink">Hibernate Search</a> in your applications.  And, we've added <a href="http://docs.jboss.com/seam/2.0.0.GA/reference/en/html/itext.html#itext.charting" target="" class="regularLink">JFreeChart</a> support both for web images and embedded in PDFs created with Seam's iText support.
</p>

<h1 class="wikiHeadline1" id="H-BetterSupportForNonEEEnvironements"><a href="/Bloggers/WhatsNewInSeam2#H-BetterSupportForNonEEEnvironements">Better support for non-EE environements</a></h1>
<p class="wikiPara">
We've moved from Embedded EJB3 to JBoss Embedded for unit testing and for full EJB3 support in the web container.   If you are a Seam+Tomcat user, you'll want to read up on <a href="http://docs.jboss.com/seam/2.0.0.GA/reference/en/html/configuration.html#d0e13965" target="" class="regularLink">the changes </a>
If you want nothing to do with that EE stuff, you can of course <a href="http://docs.jboss.com/seam/2.0.0.GA/reference/en/html/configuration.html#d0e13947" target="" class="regularLink">run in a completely non-EE environment</a>.  We've improved our support for this, especially when it comes to working without JTA support.  
</p>

<p class="wikiPara">
Of course, there's a lot more new in Seam.  In fact, I took the time to count out 301 new features in Seam 2.  (Really - take that Steve Jobs and your puny 300 new features in Leopard)  If you run into any issues, make sure to visit us on the <a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=231" target="" class="regularLink">Seam forums</a>.  We've got a huge, but still growing, community ready to help you get started.
</p>

</div>
