---
title: "Seam 2.0.0 CR2 is out!"
author: "Norman Richards"
creation_date: "06-10-2007"
blogger_name: "Norman"
layout: blog-post
tags: []
slug: Seam200CR2IsOut
lace: http://in.relation.to/2559.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Seam 2.0.0 CR2 is now out.  You can find it <a href="http://labs.jboss.com/jbossseam/download" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
This is the first release we've done under the new <a href="/Bloggers/SeamPublishedToMaven" target="" class="regularLink">maven-ized build system</a>.   Not only does it help us track our dependencies better, but it has helped use to trim back the JAR bloat from CR1.  We're still working on reducing the download size furthe, for those who don't want all the examples and all of their many dependencies.  If you just need the latest JARs, remember that you can get them directly from the repository.  
</p>

<p class="wikiPara">
We have been extremely pleased with how thoroughly the Seam community has been looking at CR1.  We've diligently attacked all the issues reported, and that's made this release very solid.  If we've missed something, please <a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=231" target="" class="regularLink">let us know</a> so we can fix it before the GA release.
</p>

<p class="wikiPara">
Speaking of the GA release, when will it be?  We expect it will be about a week.  If you check <a href="http://jira.jboss.com/jira/secure/IssueNavigator.jspa?reset=true&amp;mode=hide&amp;sorter/order=DESC&amp;sorter/field=priority&amp;resolution=-1&amp;pid=10071&amp;fixfor=12311436" target="" class="regularLink">JIRA</a>, you'll see we are going to be working on the documentation over the next week.  We are also taking to heart our need for more and better testing, and the entire Seam team will be taking a few days to crank out tests and improve our test suite.  We realize everyone out there wants the GA release out quickly, (trust me, nobody wants that more than we do) but we think the few extra days of wait will be worth it.  
</p>

<p class="wikiPara">
Oh, and before I forget, I want to take a second to welcome our newest Seam committer, <a href="http://www.mojavelinux.com/" target="" class="regularLink">Dan Allen</a>.  Dan has been contributing quite a bit to Seam, so we're very happy to have him as a committer.  
</p>
</div>
