---
title: "Seam 2.0.0.CR3"
author: "Norman Richards"
creation_date: "26-10-2007"
blogger_name: "Norman"
layout: blog-post
tags: [Seam]
slug: Seam200CR3
lace: http://in.relation.to/2665.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce that we've just released Seam 2.0.0.CR3.  (<a href="http://labs.jboss.org/jbossseam/download/index.html" target="" class="regularLink">download it</a>) As you can see from the <a href="http://jira.jboss.com/jira/secure/ReleaseNote.jspa?version=12311436&amp;styleName=Html&amp;projectId=10071&amp;Create=Create" target="" class="regularLink">release notes</a>, we've been rather busy the last few weeks.  Most of the changes since CR2 are documentation and test related, but we've also been busy fixing bugs, upgrading dependencies and making sure that JBossTools and Seam 2.0 work together. 
</p>

<p class="wikiPara">
We expect the GA release to come in the next few days, so stay tuned!
</p>
</div>
