---
title: "Seam 2.0.0 CR1 has been released!"
author: "Norman Richards"
creation_date: "20-09-2007"
blogger_name: "Norman"
layout: blog-post
tags: []
slug: Seam200CR1HasBeenReleased
lace: http://in.relation.to/2374.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I am very happy to announce that we have released <i class="wikiEmphasis">Seam 2.0.0 CR1</i>.  If you are impatient, you can get it <a href="http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=540438" target="" class="regularLink">here</a>. 
</p>


<p class="wikiPara">
This release moves the Seam 2.0 ever closer to a final release, but to get there we are going to need help from the Seam community to test out the release.  If you haven't already done so, please give Seam 2.0 a spin with your Seam applications.   The release looks very solid, but if you run into any issues, you can bring them up in the <a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=231" target="" class="regularLink">Seam forums</a> or open issues in <a href="http://jira.jboss.com/jira/browse/JBSEAM" target="" class="regularLink">JIRA </a>.
</p>


<p class="wikiPara">
Here's a rundown of the new features in Seam 2.0:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Seam WS allows Seam components to function as Web Service endpoints</li>
<li class="wikiUnorderedListItem"> Seam components may now be writted in Groovy</li>
<li class="wikiUnorderedListItem"> The Seam core is now independent of JSF</li>
<li class="wikiUnorderedListItem"> Experimental support for the Google Web Toolkit</li>
<li class="wikiUnorderedListItem"> Integration of Hibernate Search</li>
<li class="wikiUnorderedListItem"> Introduction of JBoss EL, an extension to the Unified EL of Java EE 5</li>
<li class="wikiUnorderedListItem"> Charting integration in PDF and HTML, using JFreeChart</li>
<li class="wikiUnorderedListItem"> Major enhancements to Seam Asynchronicity, including Quartz integration</li>
<li class="wikiUnorderedListItem"> Major enhancements to jBPM integration</li>
<li class="wikiUnorderedListItem"> Completely reorganized packaging of built-in components</li>
<li class="wikiUnorderedListItem"> Migration to JSF 1.2</li>
<li class="wikiUnorderedListItem"> Simplified configuration</li>
<li class="wikiUnorderedListItem"> Support for pageflow composition</li>
<li class="wikiUnorderedListItem"> Enhancements to the integration testing framework</li>
<li class="wikiUnorderedListItem"> New transaction abstraction layer with support for non-JTA environments</li>
<li class="wikiUnorderedListItem"> Enhanced JavaDoc</li>
<li class="wikiUnorderedListItem"> Two new example applications</li>
<li class="wikiUnorderedListItem"> Migration to the new Embedded JBoss</li>
<li class="wikiUnorderedListItem"> Seam JSF controls reimplemented using Ajax4JSF CDK</li>
<li class="wikiUnorderedListItem"> Many, many bugfixes</li>
</ul>
</div>
