---
title: "Seam 2.0.0.CR3"
author: "Norman Richards"
blogger_name: "Norman"
creation_date: "26-10-2007"
original_tags: [Seam]
tags: [Seam]

relative_url: /2007/10/26/seam-200-cr-3
slug: seam-200-cr-3
lace: http://in.relation.to/2665.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/10/26/seam-200-cr-3
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce that we've just released Seam 2.0.0.CR3.  (<a href="http://labs.jboss.org/jbossseam/download/index.html" target="" class="regularLink">download it</a>) As you can see from the <a href="http://jira.jboss.com/jira/issues/?jql=project=10071+AND+fixVersion=12311436" target="" class="regularLink">release notes</a>, we've been rather busy the last few weeks.  Most of the changes since CR2 are documentation and test related, but we've also been busy fixing bugs, upgrading dependencies and making sure that JBossTools and Seam 2.0 work together.
</p>

<p class="wikiPara">
We expect the GA release to come in the next few days, so stay tuned!
</p>
</div>

