---
title: "Seam 2.0.1 CR1"
author: "Norman Richards"
creation_date: "13-12-2007"
blogger_name: "Norman"
layout: blog-post
tags: []
slug: Seam201CR1
lace: http://in.relation.to/3260.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
You may have thought we'd be taking it easy after our big Seam 2.0 release a few weeks ago, but we've been hard at work getting ready for 2.0.1.  It's almost ready, so we're releasing CR1 today. (<a href="http://labs.jboss.com/jbossseam/download/" target="" class="regularLink">download</a> <a href="http://jira.jboss.com/jira/secure/ReleaseNote.jspa?version=12311437&amp;styleName=Html&amp;projectId=10071&amp;Create=Create" target="" class="regularLink">release notes</a> <a href="http://labs.jboss.com/jbossseam/docs/" target="" class="regularLink">docs</a>)
</p>

<p class="wikiPara">
Seam 2.0.1 is largely a maintenance release addressing bugs and feature requests from Seam 2.0 users.  The biggest new feature to report is that <a href="http://in.relation.to/Bloggers/JBossTools20GAGoesFinal" target="" class="regularLink">JBoss Tools</a> now supports Seam 2.  If we've done our jobs well, you won't notice the difference on the Seam side, but we've been jumping through hoops behind the scenes to make sure your Seam IDE experience is, well, seamless. Check it out if you haven't yet.  I guarantee you'll be impressed with it.
</p>

<p class="wikiPara">
If you are a 2.0 user, please give 2.0.1 CR1 a whirl and let us know how it's working.  As always, send feedback to the <a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=231" target="" class="regularLink">forums</a> and bug reports in <a href="http://jira.jboss.com/jira/browse/JBSEAM" target="" class="regularLink">JIRA</a>.
</p>

</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'Seam201CR1';
    var disqus_title = 'Seam 2.0.1 CR1';
    var disqus_url = 'http://in.relation.to/3260.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
