---
title: "Seam 2.1.1 CR1"
author: "Norman Richards"
creation_date: "21-11-2008"
blogger_name: "Norman"
layout: blog-post
tags: [Seam,Seam News]
slug: Seam211CR1
lace: http://in.relation.to/10050.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to say that Seam 2.1.1 is one step closer to being done.  We've just released <a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=641781" target="" class="regularLink">Seam 2.1.1.CR1</a>, so please take a look and let us know what you think.  CR1 is largely a bug-fix release, with a number of notable performance improvements, especially around hot deploy.  We've added support for PDF forms to the iText integration, and there's preliminary support for OpenID, but you'll have to wait for CR2 for the example and docs.  Seam-gen now generates IntelliJ IDEA projects.  And, I should also point out that we've changed a few of the URLs on examples to match up better with the example names.  
</p>


<p class="wikiPara">
[<a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=641781" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/seam/2.1.1.CR1/reference/en-US/html/" target="" class="regularLink">Reference Documentation</a>]  [<a href="https://jira.jboss.org/jira/browse/JBSEAM" target="" class="regularLink">JIRA</a>] [<a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12312736&amp;styleName=Html&amp;projectId=10071&amp;Create=Create" target="" class="regularLink">Release Notes</a>] [<a href="http://anonsvn.jboss.org/repos/seam/tags/JBoss_Seam_2_1_1_CR1/seam21migration.txt" target="" class="regularLink">Migration Guide</a>]</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'Seam211CR1';
    var disqus_title = 'Seam 2.1.1 CR1';
    var disqus_url = 'http://in.relation.to/10050.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
