---
title: "Seam 2.0.1 CR2"
author: "Norman Richards"
creation_date: "24-01-2008"
blogger_name: "Norman"
layout: blog-post
tags: []
slug: Seam201CR2
lace: http://in.relation.to/3455.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The Seam team is back from the holidays, and we're quite happy to be able to say that the 2.0.1.CR2 Seam release is out.  We've only got a couple of minor housekeeping (docs) issues to address, so unless we see some big bugs in the next few days, I think we can expect to see a GA release early next week.
</p>

<p class="wikiPara">
[<a href="http://labs.jboss.com/jbossseam/download/index.html" target="" class="regularLink">Download it</a>]
[<a href="http://docs.jboss.com/seam/2.0.1.CR2/reference/en/html/index.html" target="" class="regularLink">Read about it</a>]
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=231" target="" class="regularLink">Talk about it</a>]
[<a href="http://jira.jboss.com/jira/browse/JBSEAM" target="" class="regularLink">Let us know about problems</a>]</p>
</div>
