---
title: "Seam 2.1.1 CR1"
author: "Norman Richards"
blogger_name: "Norman"
creation_date: "21-11-2008"
tags: [Seam,Seam News]

relative_url: /2008/11/21/Seam211CR1
slug: Seam211CR1
lace: http://in.relation.to/10050.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/11/21/Seam211CR1
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to say that Seam 2.1.1 is one step closer to being done.  We've just released <a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=641781" target="" class="regularLink">Seam 2.1.1.CR1</a>, so please take a look and let us know what you think.  CR1 is largely a bug-fix release, with a number of notable performance improvements, especially around hot deploy.  We've added support for PDF forms to the iText integration, and there's preliminary support for OpenID, but you'll have to wait for CR2 for the example and docs.  Seam-gen now generates IntelliJ IDEA projects.  And, I should also point out that we've changed a few of the URLs on examples to match up better with the example names.  
</p>


<p class="wikiPara">
[<a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=641781" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/seam/2.1.1.CR1/reference/en-US/html/" target="" class="regularLink">Reference Documentation</a>]  [<a href="https://jira.jboss.org/jira/browse/JBSEAM" target="" class="regularLink">JIRA</a>] [<a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12312736&amp;styleName=Html&amp;projectId=10071&amp;Create=Create" target="" class="regularLink">Release Notes</a>] [<a href="http://anonsvn.jboss.org/repos/seam/tags/JBoss_Seam_2_1_1_CR1/seam21migration.txt" target="" class="regularLink">Migration Guide</a>]</p>
</div>

