---
title: "Seam 2.1.0.CR1 is out"
author: "Norman Richards"
creation_date: "02-10-2008"
blogger_name: "Norman"
layout: blog-post
tags: [Seam News]
slug: Seam210CR1IsOut
lace: http://in.relation.to/9474.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
That's right, we've just posted <a href="http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=629840" target="" class="regularLink">Seam 2.1.0.CR1</a>.
</p>


<p class="wikiPara">
If you weren't paying attention to the <a href="http://in.relation.to/Bloggers/PleaseStandClearOfTheClosingDoorsThisTrainIsReadyToDepartSeam210BETA1Released" target="" class="regularLink">beta release</a>, here's a run down of what's new in Seam 2.1
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/seam/2.1.0.BETA1/reference/en-US/html/wicket.html" target="" class="regularLink">First class support for Wicket</a> - check out the all new Wicket example. I'll be posting a tutorial on using Wicket with Seam in the next week or two</li>
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/seam/2.1.0.BETA1/reference/en-US/html/security.html#d0e8169" target="" class="regularLink">Identity management</a> - built in, flexible, support for managing users in a database (via JPA) or LDAP (or build your own store frontend!)</li>
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/seam/2.1.0.BETA1/reference/en-US/html/security.html#d0e12018" target="" class="regularLink">Permission management</a> - now you've got ACL permissions (stored using JPA) in addition to rule based permissions and simple permissions</li>
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/seam/2.1.0.BETA1/reference/en-US/html/excel.html" target="" class="regularLink">Create reports in Excel and CSV</a> using JSF tags and Facelets templates</li>
<li class="wikiUnorderedListItem"> Built in support for URL rewriting</li>
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/seam/2.1.0.BETA1/reference/en-US/html/webservices.html#d0e20283" target="" class="regularLink">Initial support for JAX-RS (JSR-311)</a> - the REST API for Java, through RESTeasy</li>
<li class="wikiUnorderedListItem"> A big speed improvement to SeamTest, and you can now run it at the same time as JBoss AS</li>
<li class="wikiUnorderedListItem"> Ability to <a href="http://docs.jboss.org/seam/2.1.0.BETA1/reference/en-US/html/configuration.html#d0e22796" target="" class="regularLink">deploy your own resources</a> when Seam boots (you can watch for annotations, file name patterns, file content - the list is endless!)</li>
<li class="wikiUnorderedListItem"> Customizing the default interceptor stack - watch for a tutorial on this in the next few weeks</li>
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/seam/2.1.0.BETA1/reference/en-US/html/cache.html#d0e19938" target="" class="regularLink">Support for</a> JBoss Cache 1.x or JBoss POJO Cache 1.x in JBoss AS 4.2, JBoss Cache 2.x in JBoss AS 5, and EHCache (of course, you can also use JBoss Cache in other app servers!)</li>
</ul>


<p class="wikiPara">
The GA shouldn't be too far away, so please let us know of any issues sooner rather than later!
</p>


<p class="wikiPara">
[<a href="http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=629840" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/seam/2.1.0.CR1/reference/en-US/html/" target="" class="regularLink">Reference Documentation</a>]  [<a href="https://jira.jboss.org/jira/browse/JBSEAM" target="" class="regularLink">JIRA</a>] [<a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?projectId=10071&amp;styleName=Html&amp;version=12312105" target="" class="regularLink">Release Notes</a>] [<a href="https://svn.jboss.org/repos/seam/tags/JBoss_Seam_2_1_0_CR1/seam21migration.txt" target="" class="regularLink">Migration Guide</a>]</p>
</div>
