---
title: "Seam 2.1.0.SP1"
author: "Norman Richards"
blogger_name: "Norman"
creation_date: "30-10-2008"
tags: [Seam News]

absolute_url: http://in.relation.to/2008/10/30/Seam210SP1
lace: http://in.relation.to/9710.lace
slug: Seam210SP1

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The 2.1 GA release was <a href="http://in.relation.to/Bloggers/Seam210GAReleased" target="" class="regularLink">just a week ago</a>, but a few minor issues slipped through the cracks, mostly around seam-gen.  We've put together an <a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=636834" target="" class="regularLink">SP1 release</a> to address the problems.  If you are using 2.1 already, I'd recommend grabbing 2.1 even if you aren't experiencing any of the issues.  
</p>


<p class="wikiPara">
[<a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=636834" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/seam/2.1.0.SP1/reference/en-US/html/" target="" class="regularLink">Reference Documentation</a>]  [<a href="https://jira.jboss.org/jira/browse/JBSEAM" target="" class="regularLink">JIRA</a>] [<a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12312863&amp;styleName=Html&amp;projectId=10071&amp;Create=Create" target="" class="regularLink">Release Notes</a>] [<a href="http://anonsvn.jboss.org/repos/seam/tags/JBoss_Seam_2_1_0_SP1/seam21migration.txt" target="" class="regularLink">Migration Guide</a>]</p>
</div>
