---
title: "Seam 2.0.3.CR1"
author: "Norman Richards"
blogger_name: "Norman"
layout: blog-post
tags: [Seam News]
slug: Seam203CR1
lace: http://in.relation.to/9091.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/Seam203CR1">Seam 2.0.3.CR1</a>
                    </h1>
</div>
<p class="wikiPara">
We've released <a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=606624" target="" class="regularLink">Seam 2.0.3.CR1</a>.  This is a relatively small release focussed on fixing up a few small issues with Seam 2.0, making our stable Seam 2.0 branch even better.  The most significant change is an upgrade of Facelets for better JBoss 5 compatibility, but there are a handful of other <a href="http://jira.jboss.com/jira/secure/ConfigureReport.jspa?versions=12312331&amp;sections=1&amp;sections=2&amp;sections=3&amp;sections=4&amp;sections=5&amp;sections=7&amp;sections=8&amp;sections=9&amp;style=none&amp;selectedProjectId=10071&amp;reportKey=pl.net.mamut%3Areleasenotes&amp;Next=Next" target="" class="regularLink">changes</a> that existing Seam users should look over.  Please give the release a spin and give us <a href="http://seamframework.org/Community/Forums" target="" class="regularLink">feedback</a> if you run into any issues. 
</p>


<p class="wikiPara">
Links: <a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=606624" target="" class="regularLink">Download</a> <a href="http://docs.jboss.com/seam/2.0.3.CR1/reference/en-US/html/" target="" class="regularLink">Docs</a>
</p>

</div>
