---
title: "OpenID and Seam"
author: "Norman Richards"
creation_date: "09-12-2008"
blogger_name: "Norman"
layout: blog-post
tags: [Seam,Seam News]
slug: OpenIDAndSeam
lace: http://in.relation.to/10181.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Seam 2.1.1 adds OpenID support as the first of, we hope, many external authentication options in Seam.  Since this is fairly new, I've put together a mini-FAQ on our OpenID support.
</p>

<h1 class="wikiHeadline1" id="H-WhatIsOpenID"><a href="/Bloggers/OpenIDAndSeam#H-WhatIsOpenID">What is OpenID?</a></h1>

<p class="wikiPara">
OpenID is a community standard for external web-based authentication.  The basic idea is that when a user comes to your application, instead of registering and maintaining a username and password for your application, the user can register and login with his OpenID.  Think of it as a user-controlled single sign-on.   Instead of trying to explain OpenID here, I recommend watching <a href="http://www.youtube.com/watch?v=xcmY8Pk-qEk" target="" class="regularLink">OpenID According to Dave</a> for a quick overview or <a href="http://www.youtube.com/watch?v=DslTkwON1Bk" target="" class="regularLink">Simon Willison's Google Tech Tech</a> for a more technical introduction. 
</p>

<h1 class="wikiHeadline1" id="H-DoesOpenIDReplaceMyCurrentAuthenticationMechanism"><a href="/Bloggers/OpenIDAndSeam#H-DoesOpenIDReplaceMyCurrentAuthenticationMechanism">Does OpenID replace my current authentication mechanism?</a></h1>

<p class="wikiPara">
OpenID can be used in a lot of different ways, and we've tried to keep our support as flexible as possible to support a wide variety of uses.  To do that, we've made OpenID a supplemental authentication mechanism.  The OpenID component doesn't replace your existing identity component; it sits along side it.  After validating an OpenID, the OpenID component can immediately log the user in with no additional work on behalf of your application.  Or, you handle the
validated OpenID in an application-specific manner.
</p>

<h1 class="wikiHeadline1" id="H-DoIStillNeedToMaintainAnEntityForTheUser"><a href="/Bloggers/OpenIDAndSeam#H-DoIStillNeedToMaintainAnEntityForTheUser">Do I still need to maintain an entity for the user?</a></h1>

<p class="wikiPara">
You don't have to use any form of local identity.   No local identity might make sense for some uses, like blog comments or voting in a poll, but for most applications you'll probably want to maintain a local user object to attach user-specific data to.  
</p>

<h1 class="wikiHeadline1" id="H-DoesOpenIDMeanYouGiveUpControlOverTheLoginProces"><a href="/Bloggers/OpenIDAndSeam#H-DoesOpenIDMeanYouGiveUpControlOverTheLoginProces">Does OpenID mean you give up control over the login proces?</a></h1>

<p class="wikiPara">
No.  OpenID is about authentication and not authorization.  The OpenID provider can tell you that the user trying to access your application is who he claims, but that doesn't necessarily mean the user should be allowed to access your application.  Blindly accepting OpenID credentials could open your application to spammers and other internet cretins, so you'll almost certainly want to impose the same registration and login requirements as you would for a non-OpenID login.
</p>

<h1 class="wikiHeadline1" id="H-DoWeSupportAttributeExchange"><a href="/Bloggers/OpenIDAndSeam#H-DoWeSupportAttributeExchange">Do we support attribute exchange?</a></h1>

<p class="wikiPara">
Not yet, but that's very high on the list of things we'd like to add.  
</p>

<h1 class="wikiHeadline1" id="H-HowDoIUseOpenIDInSeam"><a href="/Bloggers/OpenIDAndSeam#H-HowDoIUseOpenIDInSeam">How do I use OpenID in Seam?</a></h1>

<p class="wikiPara">
Look in examples/openid for a simple Seam application that uses OpenID.  This application demonstrates the simplest form of OpenID usage with no local user.  For a more thorough look at how to configure OpenID, have a look at the <a href="http://docs.jboss.com/seam/2.1.1.CR2/reference/en-US/html_single/#d0e13534" target="" class="regularLink">docs</a>.  If you have any questions, problems or suggestions regarding the OpenID support, post a message to the <a href="http://seamframework.org/Community/SeamUsersForum" target="" class="regularLink">forums</a>.
</p>

</div>
