---
title: "Seam 2.1.1.CR2"
author: "Norman Richards"
blogger_name: "Norman"
layout: blog-post
tags: []
slug: Seam211CR2
lace: http://in.relation.to/10176.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/Seam211CR2">Seam 2.1.1.CR2</a>
                    </h1>
</div>
<p class="wikiPara">
<a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=645819" target="" class="regularLink">Seam 2.1.1.CR2</a> is ready.  We're really close to a final release, so please give it a test.  Assuming we don't find any more issues, and right now things are looking good, you can probably look for a GA in the next week. 
</p>

<p class="wikiPara">
[<a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=645819" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/seam/2.1.1.CR2/reference/en-US/html/" target="" class="regularLink">Reference Documentation</a>]  [<a href="https://jira.jboss.org/jira/browse/JBSEAM" target="" class="regularLink">JIRA</a>] [<a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12312966&amp;styleName=Html&amp;projectId=10071&amp;Create=Create" target="" class="regularLink">Release Notes</a>] </p>
</div>
