---
title: "Seam 2.0.1 GA"
author: "Norman Richards"
creation_date: "30-01-2008"
blogger_name: "Norman"
layout: blog-post
tags: [Seam]
slug: Seam201GA
lace: http://in.relation.to/3509.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Seam 2.0.1.GA is <a href="http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=572530" target="" class="regularLink">now available</a>.   Since the big question is always <q>What's new?</q>, I'll get right to it:
</p>

<h1 class="wikiHeadline1" id="H-NaturalConversations"><a href="/Bloggers/Seam201GA#H-NaturalConversations">Natural conversations</a></h1>
<p class="wikiPara">
<a href="http://in.relation.to/Bloggers/NaturalConversationsInSeam" target="" class="regularLink">Natural conversations</a> are a replacement for generated conversation ids for user interactions that resolve around entities, or other similar objects with their own ids. Seam can use the object id as conversation key if you want, eliminating the need for the conversation id parameter.  
</p>

<h1 class="wikiHeadline1" id="H-CleanerRESTfulURLsWithUrlrewrite"><a href="/Bloggers/Seam201GA#H-CleanerRESTfulURLsWithUrlrewrite">Cleaner (RESTful) URLs with urlrewrite</a></h1>
<p class="wikiPara">
We've improved our ability to work with urlrewrite, including outbound rewrite rules.  It's now relatively easy to create URLS like /product/A14497 or /users/bob. Seam is now compatible with both inbound and outbound rules, meaning that you don't have to do any extra work to consume or generate cleaner URLs.  See the DVDStore example for inbound+outbound usage.
</p>

<h1 class="wikiHeadline1" id="H-JBossToolsSupport"><a href="/Bloggers/Seam201GA#H-JBossToolsSupport">JBoss Tools support</a></h1>

<p class="wikiPara">
Seam 2.0.1 works out of the book with the latest release of <a href="http://in.relation.to/3256.lace" target="" class="regularLink">JBoss Tools</a> for Eclipse.  From EL expression completion to automatic hotdeploy in live applications to a visual XHTML/JSP editor, JBoss Tools is a set of must have Eclipse plugins that will greatly simplify your life as a Seam developer.
</p>

<h1 class="wikiHeadline1" id="H-GenerateApplicationsAroundExistingEntities"><a href="/Bloggers/Seam201GA#H-GenerateApplicationsAroundExistingEntities">Generate applications around existing entities</a></h1>
<p class="wikiPara">
In the past, seam-gen was only capably of generating an application when deriving entities from database tables. That's an interesting model at times, but it doesn't work well when you want to code your entities first and worry about the schema later.  Now seam-gen supports this with the generate-ui action.
</p>

<h1 class="wikiHeadline1" id="H-PDFImprovements"><a href="/Bloggers/Seam201GA#H-PDFImprovements">PDF improvements</a></h1>

<p class="wikiPara">
Our PDF generation just got better.  Not only have we cleaned up the troublesome redirect problems, we've added the ability to render HTML (including the output from other components like s:formattedText) and some experimental support for rendering general Swing components to PDF so that you can do drawing with Swing's advanced 2D support.
</p>

<h1 class="wikiHeadline1" id="H-BetterDocumentationForOtherAppservers"><a href="/Bloggers/Seam201GA#H-BetterDocumentationForOtherAppservers">Better documentation for other appservers</a></h1>
<p class="wikiPara">
We've greatly improved our documentation for running Seam on other appservers.  We've put considerable effort into the Weblogic and Websphere documentation, so take a look if you are on those platforms.
</p>

<h1 class="wikiHeadline1" id="H-JBoss5Support"><a href="/Bloggers/Seam201GA#H-JBoss5Support">JBoss 5 support</a></h1>

<p class="wikiPara">
Seam 2.0.1 now runs on the latest JBoss 5 release, making use of the new VFS feature of JBoss 5.
</p>



<p class="wikiPara">
Have fun with the release! 
</p>


<p class="wikiPara">
[<a href="http://labs.jboss.com/jbossseam/download/index.html" target="" class="regularLink">Downloads</a>]
[<a href="http://docs.jboss.com/seam/2.0.1.GA/reference/en/html/index.html" target="" class="regularLink">Docs</a>]
[<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=231" target="" class="regularLink">Forums</a>]
[<a href="http://jira.jboss.com/jira/browse/JBSEAM" target="" class="regularLink">JIRA</a>]
</p>
</div>
