---
title: "Seam 2.2.0.GA is out"
author: "Norman Richards"
blogger_name: "Norman"
creation_date: "30-07-2009"
tags: []

absolute_url: http://in.relation.to/2009/07/30/Seam220GAIsOut
lace: http://in.relation.to/12050.lace
slug: Seam220GAIsOut

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The waiting is over. Seam 2.2 is now officially ready!
</p>

<p class="wikiPara">
<a href="https://sourceforge.net/projects/jboss/files/JBoss%20Seam/2.2.0.GA" target="" class="regularLink">Seam 2.2.0.GA</a> is largely a API bump, giving us a chance to upgrade Seam to the latest versions of a few libraries that are core to Seam. The largest is a bump to the entire <a href="http://hibernate.org" target="" class="regularLink">Hibernate family of APIs </a>- core 3.3.1, tools 3.2.4,  entitymanager 3.4.0, annotations 3.4.0 and search 3.1.1.  We've also moved our <a href="http://www.jboss.org/drools/" target="" class="regularLink">Drools</a> support from Drools 4 to Drools 5.  If the great new features of Drools 5 weren't enough, we've added <a href="http://seamframework.org/Community/CoupleOfNewFeaturesInSeamdroolsIntegration" target="" class="regularLink">a few new features</a> to the drools integration: decision table support, Seam components as consequence exception handlers and Seam components as Drools event listeners.
</p>

<p class="wikiPara">
If you are a JBoss AS user of Seam, we recommend you use JBoss AS 5.1 to make use of the new libraries.  Running a Seam 2.2 on JBoss 4.2 may require adding these newer JARs to your application.
</p>


<p class="wikiPara">
<i class="wikiEmphasis">We are seeing some problems with hot-redeployment of Seam on JBoss AS 5.1. Take a look at <a href="http://www.seamframework.org/Documentation/WhatHappensWhenYouDeploySeamAppInJBoss5" target="" class="regularLink">this FAQ</a> for more. We will update the FAQ and this blog once we have the issues fixed.</i>
</p>

<p class="wikiPara">
We've also put in some serious work towards making Seam work better for applications that deploy over multiple WAR files.  If that's something you've been having issues with, we definitely recommend that you give Seam 2.2 a try.
</p>


<p class="wikiPara">
As always, please ask questions in the <a href="http://seamframework.org/Community/SeamUsers" target="" class="regularLink">forums</a> and open issues in <a href="https://jira.jboss.org/jira/browse/JBSEA" target="" class="regularLink">JIRA</a> for confirmed bugs.
</p>


<p class="wikiPara">
[<a href="https://sourceforge.net/projects/jboss/files/JBoss%20Seam/2.2.0.GA" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/seam/2.2.0.GA/reference/en-US/html/" target="" class="regularLink">Documentation</a>] [<a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12312739&amp;styleName=Html&amp;projectId=10071&amp;Create=Create" target="" class="regularLink">Release Notes</a>]</p>
</div>
