---
title: "Selenium trojan false positive"
author: "Norman Richards"
creation_date: "10-10-2009"
blogger_name: "Norman"
layout: blog-post
tags: [Seam,Seam News]
slug: SeleniumTrojanFalsePositive
lace: http://in.relation.to/12540.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
It seams that some users of <a href="http://seleniumhq.org/" target="" class="regularLink">Selenium</a>, a framework Seam uses for testing, have <a href="http://clearspace.openqa.org/message/69045" target="" class="regularLink">reported anti-virus software detecting a possible trojan </a> in the Selenium JARs.  This specific issue is with the <tt>hudsuckr.exe</tt> windows executable, and has been confirmed to be a false positive.  
</p>

<p class="wikiPara">
If your AV software has started complaining about this file in the selenium JARs used with Seam, please contact the AV software provider for updated definition files.  If you need more information about the issue, please see the <a href="http://clearspace.openqa.org/message/69045" target="" class="regularLink">selenium forums</a>.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'SeleniumTrojanFalsePositive';
    var disqus_title = 'Selenium trojan false positive';
    var disqus_url = 'http://in.relation.to/12540.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
