---
title: "Seam 2.1.2.CR2"
author: "Norman Richards"
blogger_name: "Norman"
creation_date: "20-05-2009"
tags: [Seam,Seam News]

relative_url: /2009/05/20/Seam212CR2
slug: Seam212CR2
lace: http://in.relation.to/11494.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/05/20/Seam212CR2
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Good news! We've just gone live with <a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=683649" target="" class="regularLink">Seam 2.1.2.CR2</a>.  This release puts us right on the brink of a final release, with only documentation issues and a little more testing remaining on the work list.  If you haven't already done so, now is the time to test the release with your Seam projects and report back issues, as the next scheduled stop on the Seam roadmap will be Seam 2.2.  
</p>

<p class="wikiPara">
When we put CR1 out, I mentioned the focus we put on bug fixing, but I completely failed to mention that we do have a few new features in this release.  One of the biggest is the new <tt>s:token tag</tt>, aimed at <a href="http://www.seamframework.org/Documentation/CrossSiteRequestForgery" target="" class="regularLink">fighting cross site request forgery attacks against Seam applications</a>.  On the <a href="http://docs.jboss.com/seam/2.1.2.CR2/reference/en-US/html/itext.html#itext.charting" target="" class="regularLink">charting side</a>, we added the ability to customize generated charts and charting data sets in Seam components, for those cases when the strictly declarative charting tags are insufficient.  We now have some basic <a href="http://docs.jboss.com/seam/2.1.2.CR2/reference/en-US/html/guice.html" target="" class="regularLink">Guice support</a>.  And finally, we've been marching seam-gen forward with a number of new features like identity management support and Glassfish-ready project generation.
</p>


<p class="wikiPara">
[<a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=683649" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/seam/2.1.2.CR2/reference/en-US/html/" target="" class="regularLink">Reference Documentation</a>]  [<a href="https://jira.jboss.org/jira/browse/JBSEAM" target="" class="regularLink">JIRA</a>] [<a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12313473&amp;styleName=Html&amp;projectId=10071&amp;Create=Createe" target="" class="regularLink">Release Notes</a>] [<a href="http://anonsvn.jboss.org/repos/seam/tags/JBoss_Seam_2_1_2_CR2/seam21migration.txt" target="" class="regularLink">Migration Guide</a>]</p>
</div>
