---
title: "Seam 2.1.2"
author: "Norman Richards"
blogger_name: "Norman"
creation_date: "09-06-2009"
original_tags: [Seam,Seam News]
tags: [Seam]

relative_url: /2009/06/09/seam-212
slug: seam-212
lace: http://in.relation.to/11721.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/06/09/seam-212
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Thanks to the hard work of the entire Seam community, <a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=688245" target="" class="regularLink">Seam 2.1.2</a> is now out and ready to go.  Although 2.1.2 is largely about bug fixing, we do have a few new features for you guys.  
.  
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> We've added the <tt>s:token tag</tt>, aimed at <a href="http://www.seamframework.org/Documentation/CrossSiteRequestForgery" target="" class="regularLink">fighting cross site request forgery attacks against Seam applications</a>. </li>
<li class="wikiUnorderedListItem"> We've also added a few sample apps showing how to <a href="http://kennardconsulting.blogspot.com/2009/05/metawidget-and-seam-saying-goodbye-to.html" target="" class="regularLink">use Metawidget in a Seam application</a>
</li>
<li class="wikiUnorderedListItem"> On the <a href="http://docs.jboss.com/seam/2.1.2/reference/en-US/html/itext.html#itext.charting" target="" class="regularLink">charting side</a>, we added the ability to customize generated charts and charting data sets in Seam components, for those cases when the strictly declarative charting tags are insufficient.  </li>
<li class="wikiUnorderedListItem"> We now have some basic <a href="http://docs.jboss.com/seam/2.1.2/reference/en-US/html/guice.html" target="" class="regularLink">Guice support</a>.  </li>
<li class="wikiUnorderedListItem"> And finally, we've been marching seam-gen forward with a number of new features like identity management support and Glassfish-ready project generation.</li>
</ul>



<p class="wikiPara">
[<a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=%20688245" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/seam/2.1.2/reference/en-US/html/" target="" class="regularLink">Reference Documentation</a>]  [<a href="https://jira.jboss.org/jira/browse/JBSEAM" target="" class="regularLink">JIRA</a>] [<a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=%2012313502&amp;styleName=Html&amp;projectId=10071&amp;Create=Createe" target="" class="regularLink">Release Notes</a>] [<a href="http://anonsvn.jboss.org/repos/seam/tags/JBoss_Seam_2_1_2/seam21migration.txt" target="" class="regularLink">Migration Guide</a>]</p>
</div>

