---
title: "Selenium trojan false positive"
author: "Norman Richards"
blogger_name: "Norman"
layout: blog-post
tags: [Seam,Seam News]
slug: SeleniumTrojanFalsePositive
lace: http://in.relation.to/12540.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/SeleniumTrojanFalsePositive">Selenium trojan false positive</a>
                    </h1>
</div>
<p class="wikiPara">
It seams that some users of <a href="http://seleniumhq.org/" target="" class="regularLink">Selenium</a>, a framework Seam uses for testing, have <a href="http://clearspace.openqa.org/message/69045" target="" class="regularLink">reported anti-virus software detecting a possible trojan </a> in the Selenium JARs.  This specific issue is with the <tt>hudsuckr.exe</tt> windows executable, and has been confirmed to be a false positive.  
</p>

<p class="wikiPara">
If your AV software has started complaining about this file in the selenium JARs used with Seam, please contact the AV software provider for updated definition files.  If you need more information about the issue, please see the <a href="http://clearspace.openqa.org/message/69045" target="" class="regularLink">selenium forums</a>.</p>
</div>
