---
title: "Seam 2.1.2.CR1"
author: "Norman Richards"
blogger_name: "Norman"
creation_date: "16-04-2009"
tags: [JBoss Tools,Seam,Seam News]

relative_url: /2009/04/16/Seam212CR1
slug: Seam212CR1
lace: http://in.relation.to/11122.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/04/16/Seam212CR1
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
It's been a few months, and we're finally close enough on Seam 2.1.2 to <a href="http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=675932" target="" class="regularLink">push CR1 out for you guys</a>.  We don't have a ton of new features this time around.  Instead, we've focussed primarily on bug fixes, stability and minor enhancments, with <a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12312738&amp;styleName=Text&amp;projectId=10071&amp;Create=Create" target="" class="regularLink">165 JIRA items</a> cleared. I'd really like to thank the Seam community as a whole for the participation levels we've seen in this release.  We've seen an increase in the quality of the JIRA requests and an even bigger increase in the number of issues with patches and test cases. Seeing open source work is a beautiful thing.  
</p>


<p class="wikiPara">
[<a href="http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=675932" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/seam/2.1.2.CR1/reference/en-US/html/" target="" class="regularLink">Reference Documentation</a>]  [<a href="https://jira.jboss.org/jira/browse/JBSEAM" target="" class="regularLink">JIRA</a>] [<a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12312738&amp;styleName=Html&amp;projectId=10071&amp;Create=Create" target="" class="regularLink">Release Notes</a>] [<a href="http://anonsvn.jboss.org/repos/seam/tags/JBoss_Seam_2_1_2_CR1/seam21migration.txt" target="" class="regularLink">Migration Guide</a>]</p>
</div>

