---
title: "CDI Interview at DZone"
author: "Norman Richards"
creation_date: "20-01-2010"
blogger_name: "Norman"
layout: blog-post
tags: []
slug: CDIInterviewAtDZone
lace: http://in.relation.to/14050.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
DZone did a short <a href="http://java.dzone.com/articles/contexts-and-dependency" target="" class="regularLink">interview</a> with <a href="http://nostacktrace.com/" target="" class="regularLink">me</a> to go along with the recently released <a href="http://refcardz.dzone.com/refcardz/contexts-and-depencency" target="" class="regularLink">CDI Refcard</a>.  It's a bit on the short side, but it's a good concise overview of CDI for developers who might not get what it's all about yet.  Enjoy!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'CDIInterviewAtDZone';
    var disqus_title = 'CDI Interview at DZone';
    var disqus_url = 'http://in.relation.to/14050.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
