---
title: "CDI Interview at DZone"
author: "Norman Richards"
blogger_name: "Norman"
creation_date: "20-01-2010"
tags: []

relative_url: /2010/01/20/CDIInterviewAtDZone
slug: CDIInterviewAtDZone
lace: http://in.relation.to/14050.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/01/20/CDIInterviewAtDZone
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
DZone did a short <a href="http://java.dzone.com/articles/contexts-and-dependency" target="" class="regularLink">interview</a> with <a href="http://nostacktrace.com/" target="" class="regularLink">me</a> to go along with the recently released <a href="http://refcardz.dzone.com/refcardz/contexts-and-depencency" target="" class="regularLink">CDI Refcard</a>.  It's a bit on the short side, but it's a good concise overview of CDI for developers who might not get what it's all about yet.  Enjoy!</p>
</div>
