---
title: "Annotations 1.0.0.Alpha2 is out"
author: "Jesper Pedersen"
creation_date: "31-08-2009"
blogger_name: "Jesper"
layout: blog-post
tags: []
slug: Annotations100Alpha2IsOut
lace: http://in.relation.to/12245.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Annotation 1.0.0.Alpha2 brings a lot of changes :)
</p>

<p class="wikiPara">
We now have the following new features
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Support for inheritance</li>
<li class="wikiUnorderedListItem"> An annotation indexer - as an Apache Ant task</li>
<li class="wikiUnorderedListItem"> Make the dependency on Javassist optional</li>
<li class="wikiUnorderedListItem"> Removed the dependency on JAXB - who needs an XML model ?</li>
<li class="wikiUnorderedListItem"> Updated documentation</li>
<li class="wikiUnorderedListItem"> Improved the test suite coverage</li>
</ul>

<p class="wikiPara">
So all in all: Changes all over the map.
</p>

<p class="wikiPara">
This means that you can use the release in any standard Java 5 environment to do your annotation scanning without having any dependencies to other libraries.
</p>

<p class="wikiPara">
We'll continue with another developer snapshot where the focus will be to make the scanning configurable, so you only scan what you actually need scanned. Of course we welcome any feedback on the project !
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="https://jira.jboss.org/jira/browse/JBANN" target="" class="regularLink">JIRA</a>] [<a href="https://sourceforge.net/projects/jboss/" target="" class="regularLink">Download</a>] [<a href="http://viewvc.jboss.org/cgi-bin/viewvc.cgi/jbossas/projects/annotations/trunk/" target="" class="regularLink">ViewVC</a>] </p>
</div>
