---
title: "JBoss Profiler 2.0 Beta4 is out"
author: "Jesper Pedersen"
blogger_name: "Jesper"
layout: blog-post
tags: []
slug: JBossProfiler20Beta4IsOut
lace: http://in.relation.to/11663.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/JBossProfiler20Beta4IsOut">JBoss Profiler 2.0 Beta4 is out</a>
                    </h1>
</div>
<p class="wikiPara">
It has been 6 months since the last JBoss Profiler 2.0 release, so I have tagged and uploaded JBoss Profiler 2.0 Beta4 to the web site.
</p>

<p class="wikiPara">
Changes over the 2.0 Beta3 release include
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Converted all reports to HTML</li>
<li class="wikiUnorderedListItem"> Converted documentation to Docbook and include it as PDF in distribution</li>
<li class="wikiUnorderedListItem"> Bug-fixes</li>
<li class="wikiUnorderedListItem"> Initial build environment (cmake) for the native backend (SVN only)</li>
</ul>

<p class="wikiPara">
If you havn't looked at the JBoss Profiler 2 branch yet; here is a quick overview of its features
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> 100% Pure Java</li>
<li class="wikiUnorderedListItem"> Integration with JBoss Application Server 5.x and 4.2</li>
<li class="wikiUnorderedListItem"> Access through multiple protocols using JBoss Remoting (Socket, RMI, HTTP)</li>
<li class="wikiUnorderedListItem"> Reports (Overview, Packages, Classes, Methods, Hotspots, Caller, Wait time, PerThread,  PerClass)</li>
<li class="wikiUnorderedListItem"> Able to specify method visibility (Global, Package, Class)</li>
<li class="wikiUnorderedListItem"> Component identification (POJO, Throwable, Java Enterprise 5 (EJB, Servlet, ...), 3rd party plugins (Hibernate, Seam)</li>
<li class="wikiUnorderedListItem"> Compare snapshots</li>
<li class="wikiUnorderedListItem"> Client (Command line, Ant integration)</li>
</ul>

<p class="wikiPara">
A lot of features, so take a look and send us feedback through the forum.
</p>

<p class="wikiPara">
The next development cycle will focus on the JSF/RichFaces web front-end and the native JVMTI/HPROF backend. Also the documentation could use a bit more work ;)
</p>

<p class="wikiPara">
So if you are interested in helping out in ones of these areas
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Web front-end using JSF / RichFaces</li>
<li class="wikiUnorderedListItem"> Native backend (did someone say C ?)</li>
<li class="wikiUnorderedListItem"> Documentation / Screenshots</li>
<li class="wikiUnorderedListItem"> Your own ideas</li>
</ul>

<p class="wikiPara">
drop by the forum and let us know.
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/jbossprofiler" target="" class="regularLink">Website</a>] [<a href="http://www.jboss.org/jbossprofiler/downloads" target="" class="regularLink">Download</a>] [<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=199" target="" class="regularLink">Forum</a>] </p>
</div>
