---
title: "Announcing JBoss JCA 1.0.0.Alpha1"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "01-07-2009"
tags: []

relative_url: /2009/07/01/announcingjboss-jca-100-alpha-1
slug: announcingjboss-jca-100-alpha-1
lace: http://in.relation.to/11952.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/07/01/announcingjboss-jca-100-alpha-1
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The Java Connector Architecture (JCA) defines a standard architecture for connecting the Java EE platform to heterogeneous Enterprise Information Systems (EIS).
</p>

<p class="wikiPara">
The goal of the JBoss JCA project is to provide an implementation of the Java Connector Architecture 1.6 (<a href="http://jcp.org/en/jsr/detail?id=322" target="" class="regularLink">JSR-322</a>) specification scheduled for inclusion in the upcoming <a href="http://jcp.org/en/jsr/detail?id=313" target="" class="regularLink">Java Enterprise Edition 6</a> platform.
</p>

<h2 class="wikiHeadline2" id="H-WhatsNew"><a href="/2009/07/01/announcingjboss-jca-100-alpha-1#H-WhatsNew">What's New ?</a></h2>

<p class="wikiPara">
Among the changes are
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Ease of Development: The use of annotations reduces or completely eliminates the need to deal with a deployment descriptor in many cases. The use of annotations also reduces the need to keep the deployment descriptor synchronized with changes to source code.</li>
<li class="wikiUnorderedListItem"> Generic work context contract: A generic contract that enables a resource adapter to control the execution context of a Work instance that it has submitted to the application server for execution.</li>
<li class="wikiUnorderedListItem"> Security work context: A standard contract that enables a resource adapter to establish security information while submiting a Work instance for execution to a WorkManager and while delivering messages to message endpoints residing in the application server.</li>
<li class="wikiUnorderedListItem"> Standalone Container Environment: A defined set of services that makes up a standalone execution environment for resource adapters.</li>
</ul>

<h2 class="wikiHeadline2" id="H-WhyShouldICare"><a href="/2009/07/01/announcingjboss-jca-100-alpha-1#H-WhyShouldICare">Why should I care ?</a></h2>

<p class="wikiPara">
If you are using the <a href="http://www.jboss.org/jbossas/" target="" class="regularLink">JBoss Application Server</a> (and of course you are, right ?) for your deployments you depend on the JCA layer to give you access to your external datasources such as databases, messaging and mail systems.
</p>

<p class="wikiPara">
Furthermore the JDBC resource adapter deployed within JBoss Application Server provides you with a connection and prepared statement pool which gives your application a performance boost.
</p>

<p class="wikiPara">
So the JCA layer is actually quite important, so you should care :)
</p>

<h2 class="wikiHeadline2" id="H-EnterJBossJCA"><a href="/2009/07/01/announcingjboss-jca-100-alpha-1#H-EnterJBossJCA">Enter JBoss JCA</a></h2>

<p class="wikiPara">
The JBoss JCA project will implement the JCA 1.6 specification using a POJO based model and using the <a href="http://www.jboss.org/jbossmc" target="" class="regularLink">JBoss Microcontainer</a> as its foundation.
</p>

<p class="wikiPara">
The POJO based model will allow
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Easy integration with other projects</li>
<li class="wikiUnorderedListItem"> Multiple flavors (Running inside an application server, Standalone container, Embedded container)</li>
<li class="wikiUnorderedListItem"> Looser coupling of services</li>
</ul>

<p class="wikiPara">
I'll discuss these and other features in more details in future releases.
</p>

<p class="wikiPara">
As this is the first alpha release it is of course not feature complete nor production ready. The release is meant as a developer snapshot that will give an indication of where we are heading.
</p>

<p class="wikiPara">
If you are interested in helping out with the project in any way drop by our forum ! Or <a href="http://jcp.org/en/jsr/detail?id=322" target="" class="regularLink">download</a> the specification and post your <a href="http://wiki.jcp.org/boards/index.php?b=jsr-322-public" target="" class="regularLink">comments</a> to the expert group so your voice is heard.
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/jca" target="" class="regularLink">Website</a>] [<a href="http://www.jboss.org/jca/downloads.html" target="" class="regularLink">Download</a>] [<a href="https://jira.jboss.org/jira/browse/JBJCA" target="" class="regularLink">JIRA</a>] [<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=136" target="" class="regularLink">Forum</a>]</p>
</div>

