---
title: "JBoss Tattletale 1.0.1 is out"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "31-05-2009"
tags: []

relative_url: /2009/05/31/JBossTattletale101IsOut
slug: JBossTattletale101IsOut
lace: http://in.relation.to/11651.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/05/31/JBossTattletale101IsOut
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The first patch release for the 1.0 branch of JBoss Tattletale was released today.
</p>

<p class="wikiPara">
The <a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12313538&amp;styleName=Text&amp;projectId=12310784&amp;Create=Create" target="" class="regularLink">release</a> fixes a NPE in the Eliminate Multiple Jars report, so everybody should update.
</p>

<p class="wikiPara">
We are working on the next release which will feature many new cool reports that will help in your development.
</p>

<p class="wikiPara">
Join us on the forum if you want to help out !
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/tattletale" target="" class="regularLink">Website</a>] [<a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=311046" target="" class="regularLink">Download</a>] [<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=306" target="" class="regularLink">Forum</a>]
</p>
</div>
