---
title: "Tattletale 1.1.0.Beta1 is out"
author: "Jesper Pedersen"
creation_date: "17-11-2009"
blogger_name: "Jesper"
layout: blog-post
tags: []
slug: Tattletale110Beta1IsOut
lace: http://in.relation.to/13051.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce the Tattletale 1.1.0.Beta1 release, which contains many new features.
</p>

<p class="wikiPara">
Full release notes can be found <a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12313515&amp;styleName=Text&amp;projectId=12310784&amp;Create=Create" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-Profiles"><a href="/Bloggers/Tattletale110Beta1IsOut#H-Profiles">Profiles</a></h2>

<p class="wikiPara">
We have added the possibility to specify which profiles to resolve API dependencies against.
</p>

<p class="wikiPara">
The initial list of supported profiles is:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Java 5</li>
<li class="wikiUnorderedListItem"> Java 6</li>
<li class="wikiUnorderedListItem"> Java Enterprise Edition 5</li>
<li class="wikiUnorderedListItem"> Seam 2.2</li>
<li class="wikiUnorderedListItem"> Contexts and Dependency Injection (CDI) 1.0 (JSR-299)</li>
<li class="wikiUnorderedListItem"> Spring 2.5</li>
</ul>

<p class="wikiPara">
We will add more profiles in future releases. So if you have a profile would you like to see included drop by our forum.
</p>

<h2 class="wikiHeadline2" id="H-NewReports"><a href="/Bloggers/Tattletale110Beta1IsOut#H-NewReports">New reports</a></h2>

<p class="wikiPara">
This release also adds a couple of new reports
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Sealed information</li>
<li class="wikiUnorderedListItem"> Signed information</li>
<li class="wikiUnorderedListItem"> Unused Jar archives</li>
</ul>

<p class="wikiPara">
These reports were developed to support our <a href="http://www.jboss.com/products/platforms/application/" target="" class="regularLink">EAP 5.0</a> release.
</p>

<h2 class="wikiHeadline2" id="H-OtherEnhancements"><a href="/Bloggers/Tattletale110Beta1IsOut#H-OtherEnhancements">Other enhancements</a></h2>

<p class="wikiPara">
In addition to the standard bug-fixes and minor improvements Tattletale now has the ability to exclude directories and files from the scan.
</p>

<p class="wikiPara">
You can specify the excludes on the command line or in the configuration. See the users guide for more information.
</p>

<h2 class="wikiHeadline2" id="H-TattletaleLiveInAction"><a href="/Bloggers/Tattletale110Beta1IsOut#H-TattletaleLiveInAction">Tattletale: Live in Action</a></h2>

<p class="wikiPara">
Feel more than welcome to drop by my session at <a href="http://javasymposium.techtarget.com/html/tools_tech.html#JPedersenQuality" target="" class="regularLink">TheServerSide: Java Symposium</a> in Las Vegas, March 17-19, 2010. I'll share my thoughts on software quality and how improve the overall quality of projects. I hope to see you there !
</p>

<p class="wikiPara">
Now onto Beta2, where the focus is on better Apache Ant and Apache Maven integration. If this interest you; again drop by our forum :)
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/tattletale" target="" class="regularLink">WebSite</a>] [<a href="http://sourceforge.net/projects/jboss/files/JBoss%20Tattletale/" target="" class="regularLink">Download</a>] [<a href="https://jira.jboss.org/jira/browse/TTALE" target="" class="regularLink">JIRA</a>] [<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=306" target="" class="regularLink">Forum</a>]
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'Tattletale110Beta1IsOut';
    var disqus_title = 'Tattletale 1.1.0.Beta1 is out';
    var disqus_url = 'http://in.relation.to/13051.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
