---
title: "JBoss Profiler 2.0 Beta5 is out"
author: "Jesper Pedersen"
creation_date: "24-06-2009"
blogger_name: "Jesper"
layout: blog-post
tags: []
slug: JBossProfiler20Beta5IsOut
lace: http://in.relation.to/11879.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
A quick release after last month Beta4 release, but it doesn't mean that JBoss Profiler 2.0.0.Beta5 doesn't have new features.
</p>

<p class="wikiPara">
Along with the normal bug fixes and improvements this release has two cool features that you should check out.
</p>

<h2 class="wikiHeadline2" id="H-EmbeddedMode"><a href="/Bloggers/JBossProfiler20Beta5IsOut#H-EmbeddedMode">Embedded mode</a></h2>

<p class="wikiPara">
The profiler distribution now ships with a
</p>

<pre class="wikiPreformatted">jboss-profiler-embedded.jar</pre>


<p class="wikiPara">
file, which contains both the agent and the client API.
</p>

<p class="wikiPara">
This will make it easy to integrate JBoss Profiler into your own project, and control when profiling should be done.
</p>

<p class="wikiPara">
Feedback on this feature would be great so I can get an idea of what you would like to see in this space.
</p>

<h2 class="wikiHeadline2" id="H-Precompiler"><a href="/Bloggers/JBossProfiler20Beta5IsOut#H-Precompiler">Precompiler</a></h2>

<p class="wikiPara">
The distribution now also ships with a precompiler, which is able to precompile all your JAR files with profiler call-backs. This will allow you to
</p>

<ol class="wikiOrderedList">
<li class="wikiOrderedListItem"> Faster startup</li>
<li class="wikiOrderedListItem"> Easier to swap out JAR files that you have profiled</li>
</ol>

<p class="wikiPara">
Making it a lot easier to profile large applications or platforms.
</p>

<p class="wikiPara">
The precompiler uses the same option style as the agent for its arguments
</p>

<pre class="wikiPreformatted">java -Xmx1024m -jar jboss-profiler-precompiler.jar com.mycompany.* com.mycompany.highperformance.*,* private ~/myapplication</pre>


<p class="wikiPara">
You can read more about the precompiler in the users guide.
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/Bloggers/JBossProfiler20Beta5IsOut#H-TheRoadAhead">The road ahead</a></h2>

<p class="wikiPara">
Still a lot to do - and I'm still looking for people that wants to help out with
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> JVMTI/HPROF backend</li>
<li class="wikiUnorderedListItem"> JSF/RichFaces web ui</li>
<li class="wikiUnorderedListItem"> Documentation and examples</li>
<li class="wikiUnorderedListItem"> Your ideas of course !</li>
</ul>

<p class="wikiPara">
So feel free to drop by our forum :)
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/jbossprofiler/" target="" class="regularLink">Website</a>] [<a href="http://www.jboss.org/jbossprofiler/downloads/" target="" class="regularLink">Download</a>] [<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=199" target="" class="regularLink">Forum</a>] </p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'JBossProfiler20Beta5IsOut';
    var disqus_title = 'JBoss Profiler 2.0 Beta5 is out';
    var disqus_url = 'http://in.relation.to/11879.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
