---
title: "JBoss Tattletale 1.0.0 is out"
author: "Jesper Pedersen"
creation_date: "27-04-2009"
blogger_name: "Jesper"
layout: blog-post
tags: [tattletale]
slug: JBossTattletale100IsOut
lace: http://in.relation.to/11166.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The JBoss Tattletale team released the first official release of the application today.
</p>

<p class="wikiPara">
JBoss Tattletale is a tool that can help you get an overview of the project you are working on or a product that you depend on. JBoss Tattletale is licensed under GNU Lesser General Public License (LGPL) version 2.1 or later.
</p>

<p class="wikiPara">
The tool will provide you with reports that can help you
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Identify dependencies between JAR files</li>
<li class="wikiUnorderedListItem"> Find missing classes from the classpath</li>
<li class="wikiUnorderedListItem"> Spot if a class is located in multiple JAR files</li>
<li class="wikiUnorderedListItem"> Spot if the same JAR file is located in multiple locations</li>
<li class="wikiUnorderedListItem"> With a list of what each JAR file requires and provides</li>
<li class="wikiUnorderedListItem"> Verify the SerialVersionUID of a class</li>
<li class="wikiUnorderedListItem"> Find similar JAR files that have different version numbers</li>
<li class="wikiUnorderedListItem"> Find JAR files without a version number</li>
<li class="wikiUnorderedListItem"> Locate a class in a JAR file</li>
<li class="wikiUnorderedListItem"> Get the OSGi status of your project</li>
<li class="wikiUnorderedListItem"> Identify black listed API usage</li>
</ul>

<p class="wikiPara">
JBoss Tattletale will recursive scan the directory pass as the argument for JAR files and then build the reports as HTML files.
</p>

<p class="wikiPara">
The list of current reports:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Dependants</li>
<li class="wikiUnorderedListItem"> Depends On</li>
<li class="wikiUnorderedListItem"> Graphical Dependencies</li>
<li class="wikiUnorderedListItem"> Transitive Dependants</li>
<li class="wikiUnorderedListItem"> Transitive Depends On</li>
<li class="wikiUnorderedListItem"> Class Location</li>
<li class="wikiUnorderedListItem"> OSGi</li>
<li class="wikiUnorderedListItem"> Eliminate Jar files with different versions</li>
<li class="wikiUnorderedListItem"> Invalid version</li>
<li class="wikiUnorderedListItem"> Multiple Jar files</li>
<li class="wikiUnorderedListItem"> Multiple Locations</li>
<li class="wikiUnorderedListItem"> No version</li>
<li class="wikiUnorderedListItem"> Black listed API</li>
<li class="wikiUnorderedListItem"> JAR archive</li>
</ul>

<p class="wikiPara">
The packages includes the binaries plus both the user and developer guides as PDF files.
</p>

<p class="wikiPara">
Please, keep feedback coming in our forum as we will continue to improve JBoss Tattletale in the next development cycle.
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/tattletale" target="" class="regularLink">Website</a>] [<a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=311046" target="" class="regularLink">Download</a>] [<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=306" target="" class="regularLink">Forum</a>]
</p>
</div>
