---
title: "Papaki 1.0.0.Beta1 is out"
author: "Jesper Pedersen"
creation_date: "09-09-2009"
blogger_name: "Jesper"
layout: blog-post
tags: []
slug: Papaki100Beta1IsOut
lace: http://in.relation.to/12291.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm very happy to announce the first beta release of the Papaki project - formerly known as <q>JBoss Annotations</q>.
</p>

<p class="wikiPara">
Papaki is Greek slang for the '@' character and therefore very fitting for the new project name :)
</p>

<p class="wikiPara">
This release implements all major use-cases in the annotation space, so we are now looking for feedback if additional functionality is needed.
</p>

<h2 class="wikiHeadline2" id="H-TheRelease"><a href="/Bloggers/Papaki100Beta1IsOut#H-TheRelease">The release</a></h2>

<p class="wikiPara">
The release includes major updates to both the core functionality of the library and the annotation indexer.
</p>

<p class="wikiPara">
Core changes:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Support for parameter level annotations</li>
<li class="wikiUnorderedListItem"> Add support for a scanning configuration</li>
</ul>


<p class="wikiPara">
Indexer changes:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Ability to exclude annotations from the repository</li>
<li class="wikiUnorderedListItem"> Added a HTML report for the annotations found</li>
</ul>

<p class="wikiPara">
The full release notes are <a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12313940&amp;styleName=Text&amp;projectId=12310854&amp;Create=Create" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
The release of Papaki is also available in our <a href="http://repository.jboss.org/maven2/org/jboss/papaki/" target="" class="regularLink">Maven2 repository</a>.
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="https://jira.jboss.org/jira/browse/JBANN" target="" class="regularLink">JIRA</a>] [<a href="http://sourceforge.net/projects/jboss/" target="" class="regularLink">Download</a>] [<a href="http://viewvc.jboss.org/cgi-bin/viewvc.cgi/jbossas/projects/annotations/trunk/" target="" class="regularLink">ViewVC</a>]
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'Papaki100Beta1IsOut';
    var disqus_title = 'Papaki 1.0.0.Beta1 is out';
    var disqus_url = 'http://in.relation.to/12291.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
