---
title: "JBoss JCA 1.0.0.Alpha5 is out"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "29-10-2009"
tags: []

absolute_url: http://in.relation.to/2009/10/29/JBossJCA100Alpha5IsOut
lace: http://in.relation.to/12654.lace
slug: JBossJCA100Alpha5IsOut

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The 5th development snapshot of the JBoss JCA 1.6 container is out.
</p>

<h2 class="wikiHeadline2" id="H-Specification"><a href="/Bloggers/JBossJCA100Alpha5IsOut#H-Specification">Specification</a></h2>

<p class="wikiPara">
The <a href="http://jcp.org/en/jsr/detail?id=322" target="" class="regularLink">JCA 1.6 specification</a> is nearing completion, so we spent a lot of time this month going over the document and submit our final changes to it.
</p>

<p class="wikiPara">
Our implementation of the <i class="wikiEmphasis">javax.resource</i> API should now be complete, so feel free to start using the new JCA 1.6 features.
</p>

<h2 class="wikiHeadline2" id="H-RuntimeEnvironment"><a href="/Bloggers/JBossJCA100Alpha5IsOut#H-RuntimeEnvironment">Run-time environment</a></h2>

<p class="wikiPara">
We have switched to a Java 6 platform, since Java 5 is now End-of-Life. So remember that when you start the container.
</p>

<h2 class="wikiHeadline2" id="H-Embedded"><a href="/Bloggers/JBossJCA100Alpha5IsOut#H-Embedded">Embedded</a></h2>

<p class="wikiPara">
A couple of changes to the core of the container have resulted in that both the standalone and embedded version of the container starts in <b>ONE SECOND</b>. How do you like those apples ?
</p>

<p class="wikiPara">
We dare you to find further optimizations - but patches are of course most welcome ;) Now the time has come to look at the boot time for our dependencies.
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/Bloggers/JBossJCA100Alpha5IsOut#H-TheRoadAhead">The Road Ahead</a></h2>

<p class="wikiPara">
In the next cycle we will begin to look at how management of the new JCA container should look and what new functionality compared to the JBoss Application Server we can offer. If you want your requirements to be included stop by our forum.
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/jca" target="" class="regularLink">WebSite</a>] [<a href="http://www.jboss.org/jca/downloads.html" target="" class="regularLink">Download</a>] [<a href="https://jira.jboss.org/jira/browse/JBJCA" target="" class="regularLink">JIRA</a>] [<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=136" target="" class="regularLink">Forum</a>]
</p>
</div>
