---
title: "JBoss JCA 1.0.0.Alpha6 is out"
author: "Jesper Pedersen"
creation_date: "30-11-2009"
blogger_name: "Jesper"
layout: blog-post
tags: []
slug: JBossJCA100Alpha6IsOut
lace: http://in.relation.to/13191.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The 6th development snapshot of the JBoss JCA 1.6 container is out.
</p>

<p class="wikiPara">
Release notes are <a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12314138&amp;styleName=Html&amp;projectId=12310691&amp;Create=Create" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-EnterWeb"><a href="/Bloggers/JBossJCA100Alpha6IsOut#H-EnterWeb">Enter web</a></h2>

<p class="wikiPara">
We have included a web container in the standalone configuration in order to provide a web management console for the project.
</p>

<p class="wikiPara">
The console is located at
</p>

<pre class="wikiPreformatted">
http://localhost:8080/console
</pre>


<p class="wikiPara">
This is the first version, so if you are interested in improving the management interface or even to integrate <a href="http://www.jboss.org/embjopr" target="" class="regularLink">Embedded JOPR</a>, feel free to drop by our forum.
</p>

<p class="wikiPara">
We will leave it to the community to decided if the web server should be included in our embedded solution too. So speak up.
</p>

<h2 class="wikiHeadline2" id="H-Documentation"><a href="/Bloggers/JBossJCA100Alpha6IsOut#H-Documentation">Documentation</a></h2>

<p class="wikiPara">
We have integrated <a href="http://code.google.com/p/apiviz/" target="" class="regularLink">APIViz</a> into our JavaDoc environment such that pretty pictures are included for all the Java packages.
</p>

<p class="wikiPara">
And speaking of documentation - we have also included our entire bundle in the <q>root.war</q> file in the deploy/ directory, so just browse to
</p>

<pre class="wikiPreformatted">
http://localhost:8080/
</pre>


<p class="wikiPara">
after booting the container.
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/Bloggers/JBossJCA100Alpha6IsOut#H-TheRoadAhead">The Road Ahead</a></h2>

<p class="wikiPara">
We will look at providing a better integration for <a href="http://www.jboss.org/community/wiki/ShrinkWrap" target="" class="regularLink">ShrinkWrap</a> in our embedded environment such that writing resource adapters will be a lot simpler.
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/jca" target="" class="regularLink">WebSite</a>] [<a href="http://www.jboss.org/jca/downloads.html" target="" class="regularLink">Download</a>] [<a href="https://jira.jboss.org/jira/browse/JBJCA" target="" class="regularLink">JIRA</a>] [<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=136" target="" class="regularLink">Forum</a>]
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'JBossJCA100Alpha6IsOut';
    var disqus_title = 'JBoss JCA 1.0.0.Alpha6 is out';
    var disqus_url = 'http://in.relation.to/13191.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
