---
title: "IronJacamar 1.0.0.Beta1"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "29-07-2010"
tags: []

absolute_url: http://in.relation.to/2010/07/29/IronJacamar100Beta1
lace: http://in.relation.to/16496.lace
slug: IronJacamar100Beta1

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce the first beta release of IronJacamar 1.0 which implements the <a href="http://jcp.org/en/jsr/detail?id=322" target="" class="regularLink">Java EE Connector Architecture 1.6 specification</a>.
</p>

<p class="wikiPara">
Full release notes are <a href="https://jira.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&amp;version=12313376" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-IronJacamar"><a href="/Bloggers/IronJacamar100Beta1#H-IronJacamar">IronJacamar</a></h2>

<p class="wikiPara">
We have rebranded the project to IronJacamar, since JBoss JCA was simply too boring a name.
</p>

<p class="wikiPara">
This means of course that we have changed our <a href="http://www.jboss.org/ironjacamar" target="" class="regularLink">web site</a> and <a href="http://docs.jboss.org/ironjacamar" target="" class="regularLink">documentation</a> URLs.
</p>

<h2 class="wikiHeadline2" id="H-Certified"><a href="/Bloggers/IronJacamar100Beta1#H-Certified">Certified</a></h2>

<p class="wikiPara">
We have certified the Beta1 release against the Java EE Connector Architecture 1.6 TCK, which means that the release implements Chapter 3.5 of the specification.
</p>

<p class="wikiPara">
This basically means that full outbound communication is supported, so we want to hear about your success with the release.
</p>

<p class="wikiPara">
The distribution also features all of our extensions and tools
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Embedded environment with ShrinkWrap support</li>
<li class="wikiUnorderedListItem"> Arquillian support for the embedded environment</li>
<li class="wikiUnorderedListItem"> Validator chain for resource adapter archives</li>
<li class="wikiUnorderedListItem"> Code generator which can generate a full development environment including a test suite</li>
</ul>

<p class="wikiPara">
So check out our <a href="http://docs.jboss.org/ironjacamar/userguide/en/html/" target="" class="regularLink">documentation</a> on how to get started !
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/Bloggers/IronJacamar100Beta1#H-TheRoadAhead">The Road Ahead</a></h2>

<p class="wikiPara">
We are now working on integrating the container into the upcoming JBoss Application Server 7.0 release series and of course we will keep enhancing the distribution and our tools.
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You ! 
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/ironjacamar" target="" class="regularLink">WebSite</a>] [<a href="http://www.jboss.org/ironjacamar/downloads.html" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/ironjacamar/userguide/en/html/" target="" class="regularLink">Documentation</a>] [<a href="https://jira.jboss.org/browse/JBJCA" target="" class="regularLink">JIRA</a>] [<a href="http://community.jboss.org/en/jbossas/jca?view=discussions" target="" class="regularLink">Forum</a>] </p>
</div>
