---
title: "JBoss JCA 1.0.0.Alpha11 is out"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "30-04-2010"
original_tags: []
tags: []

relative_url: /2010/04/30/jboss-jca-100-alpha-11-is-out
slug: jboss-jca-100-alpha-11-is-out
lace: http://in.relation.to/15355.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/04/30/jboss-jca-100-alpha-11-is-out
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce the 11th developer snapshot release of JBoss JCA 1.0.
</p>

<p class="wikiPara">
Full release notes are <a href="https://jira.jboss.org/jira/issues/?jql=project=12310691%20AND%20fixVersion=12314758" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-CodeGenerator"><a href="/2010/04/30/jboss-jca-100-alpha-11-is-out#H-CodeGenerator">Code generator</a></h2>

<p class="wikiPara">
This snapshot saw the introduction of our new resource adapter code generator.
</p>

<p class="wikiPara">
The code generator will provide developers with a resource adapter code skeleton from which they can bootstrap their development.
</p>

<p class="wikiPara">
Currently the focus is on
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Resource adapter with JCA 1.6 annotations</li>
<li class="wikiUnorderedListItem"> Apache Ant build environment</li>
</ul>

<p class="wikiPara">
but we planning to support all versions of the spec as well as Apache Maven build environments.
</p>

<p class="wikiPara">
If you are interested in helping out with this task, feel free to drop by our forum.
</p>

<h2 class="wikiHeadline2" id="H-Presentations"><a href="/2010/04/30/jboss-jca-100-alpha-11-is-out#H-Presentations">Presentations</a></h2>

<p class="wikiPara">
I'll be speaking at
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://community.jboss.org/wiki/BostonJBossUserGroup-JCA16" target="" class="regularLink">Boston JBoss User Group</a> May 11</li>
<li class="wikiUnorderedListItem"> <a href="http://www.jboss.org/events/JUDCon.html" target="" class="regularLink">JUDCon</a> June 21</li>
</ul>

<p class="wikiPara">
both in Boston, so register today !
</p>

<p class="wikiPara">
Also; feel free to checkout my <a href="http://java.dzone.com/articles/jboss-jca" target="" class="regularLink">DZone article</a>.
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/2010/04/30/jboss-jca-100-alpha-11-is-out#H-TheRoadAhead">The Road Ahead</a></h2>

<p class="wikiPara">
The EE6 TCK is still our priority, so we will continue down that road - but be sure to send us feedback on your use-cases.
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://jboss.org/jca" target="" class="regularLink">WebSite</a>] [<a href="http://www.jboss.org/jca/downloads.html" target="" class="regularLink">Download</a>] [<a href="https://jira.jboss.org/jira/browse/JBJCA" target="" class="regularLink">JIRA</a>] [<a href="http://community.jboss.org/en/jbossas/jca?view=discussions" target="" class="regularLink">Forum</a>] 
</p>
</div>

