---
title: "Tattletale 1.1.0.CR2 is out"
author: "Jesper Pedersen"
creation_date: "09-03-2010"
blogger_name: "Jesper"
layout: blog-post
tags: []
slug: Tattletale110CR2IsOut
lace: http://in.relation.to/14699.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
A quick Tattletale 1.1.0.CR2 as some critical bugs were found in the 1.1.0.CR1 release.
</p>

<p class="wikiPara">
Full release notes are <a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12314223&amp;styleName=Html&amp;projectId=12310784&amp;Create=Create" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://jboss.org/tattletale/" target="" class="regularLink">WebSite</a>] [<a href="http://sourceforge.net/projects/jboss/files/JBoss%20Tattletale/" target="" class="regularLink">Download</a>] [<a href="https://jira.jboss.org/jira/browse/TTALE" target="" class="regularLink">JIRA</a>] [<a href="http://community.jboss.org/en/tattletale/dev?view=discussions" target="" class="regularLink">Forum</a>]
</p>
</div>
