---
title: "JBoss JCA 1.0.0.Alpha10 is out"
author: "Jesper Pedersen"
creation_date: "31-03-2010"
blogger_name: "Jesper"
layout: blog-post
tags: []
slug: JBossJCA100Alpha10IsOut
lace: http://in.relation.to/15034.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce the 10th developer snapshot release of JBoss JCA 1.0.
</p>

<p class="wikiPara">
Full release notes are <a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12314585&amp;styleName=Html&amp;projectId=12310691&amp;Create=Create" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-Validator"><a href="/Bloggers/JBossJCA100Alpha10IsOut#H-Validator">Validator</a></h2>

<p class="wikiPara">
A lot of progress was made on our resource adapter validator in this release.
</p>

<p class="wikiPara">
The validator now validates the classes and object as early as possible when used in the deployment chain. This means that you get rule violations even if your resource adapter fails to deploy.
</p>

<p class="wikiPara">
Also we now have an Apache Ant task for the validator, so you can integrate it into your build environment:
</p>

<pre class="wikiPreformatted">
&lt;validator rarFile="${myResourceAdapter.rar}" outputDir="${report.dir}"/&gt;
</pre>


<p class="wikiPara">
Keep sending us feedback on usability !
</p>

<h2 class="wikiHeadline2" id="H-NewCommitter"><a href="/Bloggers/JBossJCA100Alpha10IsOut#H-NewCommitter">New committer</a></h2>

<p class="wikiPara">
I'm very happy to announce that our community member Stefano Maestri has been promoted to a committer on the project due to his numerous patches to our validator.
</p>

<p class="wikiPara">
Happy to have you on board Stefano !!
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/Bloggers/JBossJCA100Alpha10IsOut#H-TheRoadAhead">The Road Ahead</a></h2>

<p class="wikiPara">
The EE6 TCK is still our priority, so we will continue down that road - but be sure to send us feedback on your use-cases.
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://jboss.org/jca" target="" class="regularLink">WebSite</a>] [<a href="http://www.jboss.org/jca/downloads.html" target="" class="regularLink">Download</a>] [<a href="https://jira.jboss.org/jira/browse/JBJCA" target="" class="regularLink">JIRA</a>] [<a href="http://community.jboss.org/en/jbossas/jca?view=discussions" target="" class="regularLink">Forum</a>]
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'JBossJCA100Alpha10IsOut';
    var disqus_title = 'JBoss JCA 1.0.0.Alpha10 is out';
    var disqus_url = 'http://in.relation.to/15034.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
