---
title: "JBoss JCA 1.0.0.Alpha13 is out"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "18-06-2010"
tags: []

absolute_url: http://in.relation.to/2010/06/18/JBossJCA100Alpha13IsOut
lace: http://in.relation.to/15892.lace
slug: JBossJCA100Alpha13IsOut

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce the 13th developer snapshot release of JBoss JCA 1.0.
</p>

<p class="wikiPara">
Full release notes are <a href="https://jira.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&amp;version=12315032" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-SecurityIntegration"><a href="/Bloggers/JBossJCA100Alpha13IsOut#H-SecurityIntegration">Security integration</a></h2>

<p class="wikiPara">
The initial security integration with the container is now done.
</p>

<p class="wikiPara">
We have added the possibility to specify users and roles in property files under the <q>config</q> directory.
</p>

<p class="wikiPara">
This means that you can now execute your javax.resource.spi.work.Work instances under a security context and make use of the JSR-196 callbacks as specified in the JCA 1.6 specification.
</p>

<p class="wikiPara">
We will be looking at adding additional security integration plugins in future releases.
</p>

<h2 class="wikiHeadline2" id="H-ArquillianSupport"><a href="/Bloggers/JBossJCA100Alpha13IsOut#H-ArquillianSupport">Arquillian support</a></h2>

<blockquote class="wikiBlockquote">
Look Ma' Space Aliens !
</blockquote>

<p class="wikiPara">
We have added integration with the <a href="http://www.jboss.org/arquillian" target="" class="regularLink">Arquillian</a> project in our embedded JCA container setup. This allows an even easier unit test setup than before.
</p>

<p class="wikiPara">
An example would be
</p>

<pre class="wikiPreformatted brush: java; gutter: true;">package org.jboss.jca.embedded.unit;

import org.jboss.jca.embedded.rars.simple.MessageListener;
import org.jboss.jca.embedded.rars.simple.TestActivationSpec;
import org.jboss.jca.embedded.rars.simple.TestConnection;
import org.jboss.jca.embedded.rars.simple.TestConnectionFactory;
import org.jboss.jca.embedded.rars.simple.TestConnectionInterface;
import org.jboss.jca.embedded.rars.simple.TestConnectionManager;
import org.jboss.jca.embedded.rars.simple.TestManagedConnection;
import org.jboss.jca.embedded.rars.simple.TestManagedConnectionFactory;
import org.jboss.jca.embedded.rars.simple.TestResourceAdapter;

import java.util.UUID;

import javax.annotation.Resource;

import org.jboss.arquillian.api.Deployment;
import org.jboss.arquillian.junit.Arquillian;
import org.jboss.logging.Logger;
import org.jboss.shrinkwrap.api.ShrinkWrap;
import org.jboss.shrinkwrap.api.spec.JavaArchive;
import org.jboss.shrinkwrap.api.spec.ResourceAdapterArchive;

import org.junit.Test;
import org.junit.runner.RunWith;
import static org.junit.Assert.*;

/**
 * Unit test for Arquillian integration
 * 
 * @author &lt;a href="mailto:jesper.pedersen@jboss.org"&gt;Jesper Pedersen&lt;/a&gt;
 */
@RunWith(Arquillian.class)
public class ArquillianTestCase
{
   // --------------------------------------------------------------------------------||
   // Class Members ------------------------------------------------------------------||
   // --------------------------------------------------------------------------------||

   private static Logger log = Logger.getLogger(ArquillianTestCase.class);

   private static String deploymentName = "ArquillianRA";

   /** The resource adapter */
   @Resource
   private TestConnectionFactory cf;

   /**
    * Define the deployment
    * @return The deployment archive
    */
   @Deployment
   public static ResourceAdapterArchive createDeployment()
   {
      ResourceAdapterArchive raa =
         ShrinkWrap.create(ResourceAdapterArchive.class, deploymentName + ".rar");

      JavaArchive ja = ShrinkWrap.create(JavaArchive.class, 
                                         UUID.randomUUID().toString() + ".jar");
      ja.addClasses(MessageListener.class, TestActivationSpec.class, TestConnection.class,
                    TestConnectionFactory.class, TestConnectionManager.class, 
                    TestConnectionInterface.class, TestManagedConnection.class, 
                    TestManagedConnectionFactory.class, TestResourceAdapter.class);

      raa.addLibrary(ja);
      raa.addManifestResource("simple.rar/META-INF/ra.xml", "ra.xml");

      return raa;
   }

   //-------------------------------------------------------------------------------------||
   // Tests ------------------------------------------------------------------------------||
   //-------------------------------------------------------------------------------------||

   /**
    * Basic
    * @exception Throwable Thrown if case of an error
    */
   @Test
   public void testBasic() throws Throwable
   {
      assertNotNull(cf);
   }
}
</pre>


<p class="wikiPara">
So when your boss ask you why you havn't got a proper test suite for the resource adapter -- what are you going say ?!?
</p>

<h2 class="wikiHeadline2" id="H-CodeGenerator"><a href="/Bloggers/JBossJCA100Alpha13IsOut#H-CodeGenerator">Code generator</a></h2>

<p class="wikiPara">
Our code generator have seen a lot of updates this month adding full support for all JCA specifications, and it now even creates a test suite setup for the resource adapter. 
</p>

<p class="wikiPara">
The code generator now has the following features
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> JCA 1.6 using annotations</li>
<li class="wikiUnorderedListItem"> JCA 1.6 using metadata</li>
<li class="wikiUnorderedListItem"> JCA 1.5</li>
<li class="wikiUnorderedListItem"> JCA 1.0</li>
<li class="wikiUnorderedListItem"> Test suite</li>
<li class="wikiUnorderedListItem"> Apache Ant build environment</li>
</ul>

<p class="wikiPara">
We will keep adding more features in our next releases, but be sure to send us your feedback on its usability.
</p>

<h2 class="wikiHeadline2" id="H-ContainerChanges"><a href="/Bloggers/JBossJCA100Alpha13IsOut#H-ContainerChanges">Container changes</a></h2>

<p class="wikiPara">
Our Jetty integration have been moved to the <q>system</q> directory in the container layout to allow an easy way to uninstall this feature if you don't need it.
</p>

<p class="wikiPara">
We have upgraded the version of Jetty to 7.1.4 to keep up with its development.
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/Bloggers/JBossJCA100Alpha13IsOut#H-TheRoadAhead">The Road Ahead</a></h2>

<p class="wikiPara">
This release brings us a lot closer to our first Beta release of the project :) We still have a couple of TODOs that needs to be fixed, but we are pushing hard to get the release out.
</p>

<p class="wikiPara">
See ya' @ <a href="http://www.jboss.org/events/JUDCon.html" target="" class="regularLink">JUDCon</a> on Monday !
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://jboss.org/jca" target="" class="regularLink">WebSite</a>] [<a href="http://www.jboss.org/jca/downloads.html" target="" class="regularLink">Download</a>] [<a href="https://jira.jboss.org/browse/JBJCA" target="" class="regularLink">JIRA</a>] [<a href="http://community.jboss.org/en/jbossas/jca?view=discussions" target="" class="regularLink">Forum</a>]
</p>
</div>
