---
title: "JBoss JCA 1.0.0.Alpha8"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "29-01-2010"
original_tags: []
tags: []

relative_url: /2010/01/29/jboss-jca-100-alpha-8
slug: jboss-jca-100-alpha-8
lace: http://in.relation.to/14159.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/01/29/jboss-jca-100-alpha-8
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce the 8th developer snapshot of the JBoss JCA project.
</p>

<p class="wikiPara">
The full release notes are <a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12314368&amp;styleName=Text&amp;projectId=12310691&amp;Create=Create" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-NewComponents"><a href="/2010/01/29/jboss-jca-100-alpha-8#H-NewComponents">New components</a></h2>

<p class="wikiPara">
In addition to focusing on EE6 - this release adds some component upgrades, which syncs up the versions against the upcoming <a href="http://www.jboss.org/jbossas/" target="" class="regularLink">JBoss Application Server 6.0.0.M2</a> release.
</p>

<p class="wikiPara">
Keep testing and provide feedback :)
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/2010/01/29/jboss-jca-100-alpha-8#H-TheRoadAhead">The Road Ahead</a></h2>

<p class="wikiPara">
We will keep focusing on implementing the JCA 1.6 specification until we hit 1.0.0.Beta1.
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://jboss.org/jca" target="" class="regularLink">WebSite</a>] [<a href="http://www.jboss.org/jca/downloads.html" target="" class="regularLink">Download</a>] [<a href="https://jira.jboss.org/jira/browse/JBJCA" target="" class="regularLink">JIRA</a>] [<a href="http://community.jboss.org/en/jbossas/jca?view=discussions" target="" class="regularLink">Forum</a>]</p>
</div>

