---
title: "JBoss JCA 1.0.0.Alpha9 is out"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "25-02-2010"
tags: []

absolute_url: http://in.relation.to/2010/02/25/JBossJCA100Alpha9IsOut
lace: http://in.relation.to/14462.lace
slug: JBossJCA100Alpha9IsOut

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce that the JCA team have shipped our 9th developer snapshot of the 1.0 series.
</p>

<p class="wikiPara">
Full release notes are <a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12314475&amp;styleName=Html&amp;projectId=12310691&amp;Create=Create" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-WorkManager"><a href="/Bloggers/JBossJCA100Alpha9IsOut#H-WorkManager">WorkManager</a></h2>

<p class="wikiPara">
This snapshot features a <a href="http://java.sun.com/javaee/6/docs/api/javax/resource/spi/work/WorkManager.html" target="" class="regularLink">WorkManager</a> which is backed by the <a href="http://community.jboss.org/wiki/ThreadPoolConfiguration" target="" class="regularLink">JBoss Threads</a> project.
</p>

<p class="wikiPara">
The WorkManager reference two separate threads pools; one for short running tasks and one for long running tasks. You should set the <a href="http://java.sun.com/javaee/6/docs/api/javax/resource/spi/work/HintsContext.html" target="" class="regularLink">HintsContext.LONGRUNNING_HINT</a> if your Work instance is in the latter category.
</p>

<p class="wikiPara">
Through our vendor specific metadata file - jboss-ra.xml - you can now select which <a href="http://java.sun.com/javaee/6/docs/api/javax/resource/spi/BootstrapContext.html" target="" class="regularLink">BootstrapContext</a> that your resource adapter will use. This will give you the ability to create different BootstrapContext configurations; f.ex. a bootstrap context which uses threads with a high priority and another with threads using a low priority. 
</p>

<p class="wikiPara">
Furthermore we have made some changes that will provide better scaling when deploying multiple resource adapter within the same container.
</p>

<p class="wikiPara">
We believe that only full <a href="http://java.sun.com/javaee/6/docs/api/javax/resource/spi/work/SecurityContext.html" target="" class="regularLink">SecurityContext</a> support is missing from the implementation at this point. So send us your feedback on our WorkManager implementation.
</p>

<h2 class="wikiHeadline2" id="H-Validator"><a href="/Bloggers/JBossJCA100Alpha9IsOut#H-Validator">Validator</a></h2>

<p class="wikiPara">
This release also features the initial version of our standalone resource adapter validator tool. You can now execute the validator against your resource adapter by
</p>

<pre class="wikiPreformatted">
java -jar jboss-jca-validator.jar myra.rar
</pre>


<p class="wikiPara">
In future releases we will look at how we can make it easier to use the standalone validator - and of course we will provide Apache Ant and Apache Maven plugins for the tool too.
</p>

<p class="wikiPara">
If you want to help out with improving usability - and get your use-cases covered - for the tool drop by our forum.
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/Bloggers/JBossJCA100Alpha9IsOut#H-TheRoadAhead">The Road Ahead</a></h2>

<p class="wikiPara">
The EE6 TCK is still our priority, so we will continue down that road - but be sure to send us feedback on your use-cases.
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://jboss.org/jca" target="" class="regularLink">WebSite</a>] [<a href="http://www.jboss.org/jca/downloads.html" target="" class="regularLink">Download</a>] [<a href="https://jira.jboss.org/jira/browse/JBJCA" target="" class="regularLink">JIRA</a>] [<a href="http://community.jboss.org/en/jbossas/jca?view=discussions" target="" class="regularLink">Forum</a>]
</p>
</div>
