---
title: "Tattletale 1.1.0.CR2 is out"
author: "Jesper Pedersen"
creation_date: "09-03-2010"
blogger_name: "Jesper"
layout: blog-post
tags: []
slug: Tattletale110CR2IsOut
lace: http://in.relation.to/14699.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
A quick Tattletale 1.1.0.CR2 as some critical bugs were found in the 1.1.0.CR1 release.
</p>

<p class="wikiPara">
Full release notes are <a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12314223&amp;styleName=Html&amp;projectId=12310784&amp;Create=Create" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://jboss.org/tattletale/" target="" class="regularLink">WebSite</a>] [<a href="http://sourceforge.net/projects/jboss/files/JBoss%20Tattletale/" target="" class="regularLink">Download</a>] [<a href="https://jira.jboss.org/jira/browse/TTALE" target="" class="regularLink">JIRA</a>] [<a href="http://community.jboss.org/en/tattletale/dev?view=discussions" target="" class="regularLink">Forum</a>]
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'Tattletale110CR2IsOut';
    var disqus_title = 'Tattletale 1.1.0.CR2 is out';
    var disqus_url = 'http://in.relation.to/14699.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
