---
title: "Boston JBoss User Group 2010"
author: "Jesper Pedersen"
creation_date: "31-12-2010"
blogger_name: "Jesper"
layout: blog-post
tags: []
slug: BostonJBossUserGroup2010
lace: http://in.relation.to/18008.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
As the year comes to an end it is time to reflect over how the <a href="http://community.jboss.org/wiki/BostonJBossUserGroup" target="" class="regularLink">Boston JBoss User Group</a> did in 2010.
</p>

<p class="wikiPara">
I think we can sum it up with: Great year !!
</p>

<p class="wikiPara">
We had A LOT of excellent presentations by numerous core JBoss developers and from our community here in the Boston area.
</p>

<p class="wikiPara">
Take a deep dive into
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/wiki/BostonJBossUserGroup-RESTEasy" target="" class="regularLink">RESTEasy</a>, by Bill Burke</li>
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/wiki/BostonJBossUserGroup-EJB31" target="" class="regularLink">EJB 3.1/ShrinkWrap/Arquillian</a>, by Andrew Lee Rubinger</li>
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/wiki/BostonJBossUserGroup-JBossAS6" target="" class="regularLink">JBoss Application Server 6</a>, by Shelly McGowan &amp; Scott Marlow</li>
<li class="wikiUnorderedListItem"> <a href="https://community.jboss.org/wiki/BostonJBossUserGroup-JCA16" target="" class="regularLink">Java EE Connector Architecture 1.6</a>, by Jesper Pedersen</li>
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/wiki/BostonJBossUserGroup-Teiid" target="" class="regularLink">Teiid</a>, by John Doyle</li>
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/wiki/BostonJBossUserGroup-TestingWithAS" target="" class="regularLink">Testing with JBoss Application Server</a>, by Shelly McGowan &amp; Andrew Lee Rubinger</li>
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/wiki/BostonJBossUserGroup-Tattletale" target="" class="regularLink">Tattletale</a>, by Jesper Pedersen</li>
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/wiki/BostonJBossUserGroup-RichFaces" target="" class="regularLink">RichFaces</a>, by Jay Balunas</li>
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/wiki/BostonJBossUserGroup-LightingTalks2010" target="" class="regularLink">Lighting Talks 2010</a>
</li>
</ul>

<p class="wikiPara">
A lot of good stuff :) So when you are in bed tomorrow nursing your head, there is more than enough material to watch to get you to the point where it is time to get back on the horse.
</p>

<p class="wikiPara">
I'm looking forward 2011 because I'm sure that the presentations will be great, and maybe even better than 2010, as these are exciting times at <a href="http://www.jboss.org" target="" class="regularLink">JBoss</a> and <a href="http://www.redhat.com" target="" class="regularLink">Red Hat</a>. So <a href="http://community.jboss.org/groups/boston-jbug" target="" class="regularLink">join our group</a> - you don't have to be located in Boston in order to provide your feedback to our sessions and/or give your thoughts on what you would like to see in 2011. This is for the community by the community.
</p>

<p class="wikiPara">
I wish all a Happy New Year, and <a href="http://www.imdb.com/title/tt0105793/" target="" class="regularLink">Party On, Wayne !</a>
</p>

<p class="wikiPara">
And remember
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'BostonJBossUserGroup2010';
    var disqus_title = 'Boston JBoss User Group 2010';
    var disqus_url = 'http://in.relation.to/18008.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
