---
title: "Boston JBoss User Group"
author: "Jesper Pedersen"
creation_date: "14-01-2010"
blogger_name: "Jesper"
layout: blog-post
tags: []
slug: BostonJBossUserGroup
lace: http://in.relation.to/13964.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce the creation of the <a href="http://community.jboss.org/wiki/BostonJBossUserGroup" target="" class="regularLink">Boston JBoss User Group</a>.
</p>

<p class="wikiPara">
We are group of JBoss employees at the Westford, <a href="http://www.redhat.com" target="" class="regularLink">Red Hat</a> office that have decided to create an user group for developers interested in JBoss development and <a href="http://www.jboss.org" target="" class="regularLink">JBoss.org</a> projects.
</p>

<p class="wikiPara">
The list of founders:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://bill.burkecentral.com/" target="" class="regularLink">Bill Burke</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/people/ALRubinger" target="" class="regularLink">Andrew Lee Rubinger</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/people/smarlow%40redhat.com" target="" class="regularLink">Scott Marlow</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/people/smcgowan%40redhat.com" target="" class="regularLink">Shelly McGowan</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/people/jdoyle" target="" class="regularLink">John Doyle</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/people/jesper.pedersen" target="" class="regularLink">Jesper Pedersen</a>
</li>
</ul>

<p class="wikiPara">
which is an impressive list considering the number of projects these people are involved with. The projects include <a href="http://www.jboss.org/jbossas/" target="" class="regularLink">JBoss Application Server</a>, <a href="http://www.jboss.org/resteasy" target="" class="regularLink">RESTEasy</a>, <a href="http://www.jboss.org/ejb3" target="" class="regularLink">EJB 3.x</a>, <a href="http://www.jboss.org/shrinkwrap" target="" class="regularLink">ShrinkWrap</a>, JBoss Bootstrap, EmbeddedAS, <a href="http://www.jboss.org/teiid" target="" class="regularLink">Teiid</a>, <a href="http://www.jboss.org/jca" target="" class="regularLink">JCA</a>, <a href="http://www.jboss.org/tattletale" target="" class="regularLink">Tattletale</a>, Papaki and JBoss Profiler 2.
</p>

<p class="wikiPara">
The user group will meet at <a href="http://cs-www.bu.edu/" target="" class="regularLink">Boston University</a> on the second Tuesday of each month. All material for each meeting will be released under a Creative Commons license such that people unable to join a meeting can watch it later :)
</p>

<p class="wikiPara">
Our first meeting will be Bill talking about his <a href="http://www.jboss.org/resteasy" target="" class="regularLink">RESTEasy</a> and <a href="http://www.jboss.org/reststar" target="" class="regularLink">REST-*</a> projects on February 9th, 2010 at 6 PM. Pretty cool stuff, so drop by !
</p>

<p class="wikiPara">
Sign up for our meetings at our <a href="http://community.jboss.org/wiki/BostonJBossUserGroup" target="" class="regularLink">homepage</a> !
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'BostonJBossUserGroup';
    var disqus_title = 'Boston JBoss User Group';
    var disqus_url = 'http://in.relation.to/13964.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
