---
title: "Boston JBug: New Videos"
author: "Jesper Pedersen"
blogger_name: "Jesper"
layout: blog-post
tags: []
slug: BostonJBugNewVideos
lace: http://in.relation.to/15323.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/BostonJBugNewVideos">Boston JBug: New Videos</a>
                    </h1>
</div>
<p class="wikiPara">
I have put up the videos from our last couple of meetings at the <a href="http://community.jboss.org/wiki/BostonJBossUserGroup" target="" class="regularLink">Boston JBoss User Group</a>.
</p>

<p class="wikiPara">
So feel free to checkout:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/wiki/BostonJBossUserGroup-EJB31" target="" class="regularLink">EJB 3.1 and testing</a> by Andrew Lee Rubinger</li>
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/wiki/BostonJBossUserGroup-JBossAS6" target="" class="regularLink">Java EE 6 and JBoss AS 6</a> by Shelly McGowan and Scott Marlow</li>
</ul>

<p class="wikiPara">
Our next meeting will be
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://community.jboss.org/wiki/BostonJBossUserGroup-JCA16" target="" class="regularLink">Java Connector Architecture 1.6</a>
</li>
</ul>

<p class="wikiPara">
on May 11th where I'll present the spec and the <a href="http://www.jboss.org/jca" target="" class="regularLink">JBoss JCA</a> project.
</p>

<p class="wikiPara">
Hope to see you there !</p>
</div>
