---
title: "Tattletale 1.1.1 is out"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "24-10-2010"
tags: []

relative_url: /2010/10/24/tattletale-111-is-out
slug: tattletale-111-is-out
lace: http://in.relation.to/17535.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/10/24/tattletale-111-is-out
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce the Tattletale 1.1.1.Final release.
</p>

<p class="wikiPara">
Full release notes are <a href="https://jira.jboss.org/secure/ReleaseNote.jspa?projectId=12310784&amp;version=12315139" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-TheRelease"><a href="/2010/10/24/tattletale-111-is-out#H-TheRelease">The release</a></h2>

<p class="wikiPara">
This releases fixing some critical bugs such as <a href="https://jira.jboss.org/browse/TTALE-148" target="" class="regularLink">TTALE-148</a> and <a href="https://jira.jboss.org/browse/TTALE-149" target="" class="regularLink">TTALE-149</a> that would allow dependencies to <q>hide</q>.
</p>

<p class="wikiPara">
However, the release also saw a couple improvements and two new reports:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Class dependencies report</li>
<li class="wikiUnorderedListItem"> Class dependants report</li>
</ul>

<p class="wikiPara">
which will allow you to dig deeper into the dependencies of your project.
</p>

<p class="wikiPara">
In short - All users of Tattletale should upgrade.
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/2010/10/24/tattletale-111-is-out#H-TheRoadAhead">The Road Ahead</a></h2>

<p class="wikiPara">
I'm looking for new talent to help out with the next release of Tattletale as 
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Support for enterprise archives</li>
<li class="wikiUnorderedListItem"> Integration with Hudson</li>
</ul>

<p class="wikiPara">
are next. So drop by our forum if you would like to help out with these tasks.
</p>

<p class="wikiPara">
In case you missed my talk at <a href="http://www.jboss.org/events/JUDCon/JUDCon2010Berlin.html" target="" class="regularLink">JUDCon/Berlin</a> look for the upcoming <a href="http://www.jboss.org/webinars" target="" class="regularLink">webniar</a> about the tool.
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://jboss.org/tattletale/" target="" class="regularLink">WebSite</a>] [<a href="http://sourceforge.net/projects/jboss/files/JBoss%20Tattletale/" target="" class="regularLink">Download</a>] [<a href="https://jira.jboss.org/browse/TTALE" target="" class="regularLink">JIRA</a>] [<a href="http://community.jboss.org/en/tattletale?view=discussions" target="" class="regularLink">Forum</a>]
</p>
</div>

