---
title: "IronJacamar 1.0.0.Beta3 is out"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "26-10-2010"
tags: []

relative_url: /2010/10/26/IronJacamar100Beta3IsOut
slug: IronJacamar100Beta3IsOut
lace: http://in.relation.to/17567.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/10/26/IronJacamar100Beta3IsOut
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce that the IronJacamar team have released 1.0.0.Beta3 of the container which implements the JCA 1.6 specification.
</p>

<p class="wikiPara">
Full release notes are <a href="https://jira.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&amp;version=12315443" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-Management"><a href="/2010/10/26/IronJacamar100Beta3IsOut#H-Management">Management</a></h2>

<p class="wikiPara">
This release features the initial management object model for resource adapters.
</p>

<p class="wikiPara">
This model will form the foundation for the various management platforms that the container will support - like JMX and <a href="http://www.rhq-project.org" target="" class="regularLink">RHQ</a>.
</p>

<p class="wikiPara">
So deploy your resource adapter to the <q>deploy</q> directory in the standalone version and point your browser to
</p>

<pre class="wikiPreformatted">
http://localhost:8080/console
</pre>


<p class="wikiPara">
to see the first JMX MBeans that have been generated based on the model. We are looking for feedback on what you would like to see in this area - especially what sort of statistics you are looking for. So drop by our forum and let us know.
</p>

<h2 class="wikiHeadline2" id="H-JBossApplicationServer7"><a href="/2010/10/26/IronJacamar100Beta3IsOut#H-JBossApplicationServer7">JBoss Application Server 7</a></h2>

<p class="wikiPara">
This release is the one that will be featured in the upcoming <a href="http://community.jboss.org/en/jbossas/dev/jboss_as7_development" target="" class="regularLink">JBoss Application Server 7.0.0.M1</a> milestone.
</p>

<p class="wikiPara">
We have unified some of the deployment infrastructure such that as much as possible can be shared between the standalone version and the version integrated in the <a href="http://github.com/jbossas/jboss-as" target="" class="regularLink">JBoss AS 7.0</a> server.
</p>

<p class="wikiPara">
So be sure to send us that feedback regarding our deployment descriptors !
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/2010/10/26/IronJacamar100Beta3IsOut#H-TheRoadAhead">The Road Ahead</a></h2>

<p class="wikiPara">
We will continue working with the application server/security team to integrate the new PicketBox security functionality into the container. And of course we will keep enhancing the container based on your feedback.
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/ironjacamar" target="" class="regularLink">WebSite</a>] [<a href="http://www.jboss.org/ironjacamar/downloads.html" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/ironjacamar/userguide/en/html/" target="" class="regularLink">Documentation</a>] [<a href="https://jira.jboss.org/browse/JBJCA" target="" class="regularLink">JIRA</a>] [<a href="http://community.jboss.org/en/jbossas/jca?view=discussions" target="" class="regularLink">Forum</a>] </p>
</div>

