---
title: "RESTEasy @ Boston JBoss User Group"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "13-02-2010"
tags: []

relative_url: /2010/02/13/rest-easy-bostonjboss-user-group
slug: rest-easy-bostonjboss-user-group
lace: http://in.relation.to/14319.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/02/13/rest-easy-bostonjboss-user-group
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
This week we had our first meeting at the <a href="http://community.jboss.org/wiki/BostonJBossUserGroup" target="" class="regularLink">Boston JBoss User Group</a> :)
</p>

<p class="wikiPara">
<a href="http://bill.burkecentral.com/" target="" class="regularLink">Bill Burke</a> gave an excellent presentation about <a href="http://www.jboss.org/resteasy" target="" class="regularLink">RESTEasy</a> and JAX-RS.
</p>

<p class="wikiPara">
We have now uploaded the <a href="http://community.jboss.org/wiki/BostonJBossUserGroup-RESTEasy" target="" class="regularLink">audio and video</a> to the meetings homepage. So check it out and feel free to provide feedback.
</p>

<p class="wikiPara">
Our next meeting will be <a href="http://exitcondition.alrubinger.com/" target="" class="regularLink">Andrew Lee Rubinger</a> talking about EJB 3.1 on March 9th, 2010. So <a href="http://community.jboss.org/wiki/BostonJBossUserGroup-EJB31" target="" class="regularLink">sign up now</a> for that meeting !
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

</div>

