---
title: "Tattletale 1.1 released"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "15-03-2010"
tags: []

relative_url: /2010/03/15/Tattletale11Released
slug: Tattletale11Released
lace: http://in.relation.to/14834.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/03/15/Tattletale11Released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm very happy to announce the availability of the Tattletale 1.1, the Java dependency analyzer, release.
</p>

<p class="wikiPara">
A lot of features have been added over the last year, so I'll give a brief run-down of some of them. See our documentation for full details.
</p>

<h2 class="wikiHeadline2" id="H-Profiles"><a href="/2010/03/15/Tattletale11Released#H-Profiles">Profiles</a></h2>

<p class="wikiPara">
Tattletale now features known <q>profiles</q>, which are well-known APIs targeting the Java Standard or Java Enterprise platforms.
</p>

<p class="wikiPara">
The list of profiles are
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Java 5 and Java 6</li>
<li class="wikiUnorderedListItem"> Java Enterprise Edition 5 and Java Enterprise Edition 6</li>
<li class="wikiUnorderedListItem"> Spring 2.5 and Spring 3.0</li>
<li class="wikiUnorderedListItem"> Contexts and Dependency Injection (CDI) 1.0 (JSR-299)</li>
<li class="wikiUnorderedListItem"> JBoss Seam 2.2</li>
</ul>

<p class="wikiPara">
Adding profiles to your configuration will resolve any dependencies on the specified profiles.
</p>

<h2 class="wikiHeadline2" id="H-NewReports"><a href="/2010/03/15/Tattletale11Released#H-NewReports">New reports</a></h2>

<p class="wikiPara">
Tattletale 1.1 also features new reports.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Sealed information</li>
<li class="wikiUnorderedListItem"> Signed information</li>
<li class="wikiUnorderedListItem"> Unused Jar archives</li>
<li class="wikiUnorderedListItem"> Circular Dependency</li>
</ul>

<p class="wikiPara">
which should help you make your product/project distribution even better.
</p>

<h2 class="wikiHeadline2" id="H-OtherEnhancements"><a href="/2010/03/15/Tattletale11Released#H-OtherEnhancements">Other enhancements</a></h2>

<p class="wikiPara">
A lot of small/large enhancements also went in the release.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Ability to exclude directories from the scan</li>
<li class="wikiUnorderedListItem"> Ability to filter results from the reports</li>
<li class="wikiUnorderedListItem"> Apache Ant support</li>
<li class="wikiUnorderedListItem"> Apache Maven support </li>
</ul>

<p class="wikiPara">
These features will allow you to integrate Tattletale into your QA environment and automate getting daily reports.
</p>

<p class="wikiPara">
I want to thank the people that helped out with the release over the last year, especially Torben Jaeger who did a lot of work :)
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://jboss.org/tattletale/" target="" class="regularLink">WebSite</a>] [<a href="http://sourceforge.net/projects/jboss/files/JBoss%20Tattletale/" target="" class="regularLink">Download</a>] [<a href="https://jira.jboss.org/jira/browse/TTALE" target="" class="regularLink">JIRA</a>] [<a href="http://community.jboss.org/en/tattletale/dev?view=discussions" target="" class="regularLink">Forum</a>]
</p>
</div>
