---
title: "Tattletale 1.1.0.Beta3 is out"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "27-01-2010"
tags: []

relative_url: /2010/01/27/Tattletale110Beta3IsOut
slug: Tattletale110Beta3IsOut
lace: http://in.relation.to/14147.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/01/27/Tattletale110Beta3IsOut
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The third beta for the Tattletale, the Java dependency analyzer, 1.1 release is out.
</p>

<p class="wikiPara">
Full release notes are <a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12314221&amp;styleName=Text&amp;projectId=12310784&amp;Create=Create" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-Profiles"><a href="/2010/01/27/Tattletale110Beta3IsOut#H-Profiles">Profiles</a></h2>

<p class="wikiPara">
This release adds two new profiles:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Java Enterprise Edition 6</li>
<li class="wikiUnorderedListItem"> Spring 3.0</li>
</ul>

<p class="wikiPara">
which will allow you to resolve dependencies against these new APIs.
</p>

<h2 class="wikiHeadline2" id="H-Filtering"><a href="/2010/01/27/Tattletale110Beta3IsOut#H-Filtering">Filtering</a></h2>

<p class="wikiPara">
This release also adds support for filtering in all reports.
</p>

<p class="wikiPara">
This means that you can filter out any unwanted results and thereby make all reports go green.
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/2010/01/27/Tattletale110Beta3IsOut#H-TheRoadAhead">The Road Ahead</a></h2>

<p class="wikiPara">
The next release will be the first Candidate Release for the 1.1 series, so we are now focusing on stabilizing the existing functionality. But if there are features you would like to see feel free to drop by our forum.
</p>

<p class="wikiPara">
And remember to order your cool <a href="http://www.cafepress.com/jbossorg/7025312" target="" class="regularLink">Tattletale swag</a> !
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://jboss.org/tattletale/" target="" class="regularLink">WebSite</a>] [<a href="http://sourceforge.net/projects/jboss/files/JBoss%20Tattletale/" target="" class="regularLink">Download</a>] [<a href="https://jira.jboss.org/jira/browse/TTALE" target="" class="regularLink">JIRA</a>] [<a href="http://community.jboss.org/en/tattletale/dev?view=discussions" target="" class="regularLink">Forum</a>]
 </p>
</div>
