---
title: "JBoss JCA 1.0.0.Alpha12 is out"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "01-06-2010"
tags: []

relative_url: /2010/06/01/jboss-jca-100-alpha-12-is-out
slug: jboss-jca-100-alpha-12-is-out
lace: http://in.relation.to/15687.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/06/01/jboss-jca-100-alpha-12-is-out
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce the 12th developer snapshot release of JBoss JCA 1.0.
</p>

<p class="wikiPara">
Full release notes are <a href="https://jira.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&amp;version=12314880" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-CodeGenerator"><a href="/2010/06/01/jboss-jca-100-alpha-12-is-out#H-CodeGenerator">Code generator</a></h2>

<p class="wikiPara">
The work on the code generator continued during this development cycle and we now have a functional generator for JCA 1.6 archives. So feel free to try it out and send us feedback.
</p>

<p class="wikiPara">
The work will continue with JCA 1.0 and JCA 1.5 support and adding more features to help developers getting starting with JCA development.
</p>

<h2 class="wikiHeadline2" id="H-ScopedDeployments"><a href="/2010/06/01/jboss-jca-100-alpha-12-is-out#H-ScopedDeployments">Scoped deployments</a></h2>

<p class="wikiPara">
The resource adapter deployer now allows you to set if the deployments should be scoped (isolated) and thereby allow use of libraries of a different version already included in the standalone distribution.
</p>

<h2 class="wikiHeadline2" id="H-JUDCon"><a href="/2010/06/01/jboss-jca-100-alpha-12-is-out#H-JUDCon">JUDCon</a></h2>

<p class="wikiPara">
I'll be speaking at <a href="http://www.jboss.org/events/JUDCon.html" target="" class="regularLink">JUDCon</a> where you can get an overview of JCA 1.6 and the project. You can catch a preview of the talk from the latest <a href="https://community.jboss.org/wiki/BostonJBossUserGroup-JCA16" target="" class="regularLink">Boston JBoss User Group presentation</a>.
</p>

<p class="wikiPara">
Remember to sign up for our <a href="http://community.jboss.org/wiki/JUDConHackfest" target="" class="regularLink">HackFest</a> too !
</p>

<p class="wikiPara">
For people who like food and beer: sign up for a <a href="http://community.jboss.org/wiki/BostonJBossUserGroup" target="" class="regularLink">Boston JBoss User Group</a> event special on Sunday June 20th: <a href="https://community.jboss.org/wiki/BostonJBossUserGroup-LetsGetReadytoRumble" target="" class="regularLink">Let's Get Ready to Rumble !</a>.
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/2010/06/01/jboss-jca-100-alpha-12-is-out#H-TheRoadAhead">The Road Ahead</a></h2>

<p class="wikiPara">
We are looking at our security integration and integration with <a href="http://community.jboss.org/en/arquillian" target="" class="regularLink">Arquillian</a>, so look for changes in these areas soon.
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://jboss.org/jca" target="" class="regularLink">WebSite</a>] [<a href="http://www.jboss.org/jca/downloads.html" target="" class="regularLink">Download</a>] [<a href="https://jira.jboss.org/browse/JBJCA" target="" class="regularLink">JIRA</a>] [<a href="http://community.jboss.org/en/jbossas/jca?view=discussions" target="" class="regularLink">Forum</a>] </p>
</div>

