---
title: "IronJacamar 1.1.0.Alpha2 is out"
author: "Jesper Pedersen"
blogger_name: "Jesper"
layout: blog-post
tags: []
slug: IronJacamar110Alpha2IsOut
lace: http://in.relation.to/22072.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/IronJacamar110Alpha2IsOut">IronJacamar 1.1.0.Alpha2 is out</a>
                    </h1>
</div>
<p class="wikiPara">
The second developer snapshot of the IronJacamar 1.1 container have been released.
</p>

<p class="wikiPara">
The full release notes are <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&amp;version=12318057" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-EnhancedArquillianSupport"><a href="/Bloggers/IronJacamar110Alpha2IsOut#H-EnhancedArquillianSupport">Enhanced Arquillian support</a></h2>

<p class="wikiPara">
We have started to integrate the newer versions of the Arquillian framework, and have enhanced our embedded environment with the possibility to inject IronJacamar objects into your test case by
</p>

<pre class="wikiPreformatted">
import org.jboss.jca.core.spi.mdr.MetadataRepository;
import org.jboss.jca.embedded.arquillian.Inject;

@RunWith(Arquillian.class)
public class MyTestCase

   @Inject(name = "MDR")
   private MetadataRepository mdr;
</pre>


<p class="wikiPara">
Of course this is considered advanced usage, but can help you verify your deployment state within the container repositories. It also helps us write test cases faster and easier :)
</p>

<p class="wikiPara">
The main thing is the integration of the ShrinkWrap/Descriptors 1.2 series which will give you access to write your ra.xml's with Java using the
</p>

<pre class="wikiPreformatted">
org.jboss.shrinkwrap.descriptor.api.connector15
org.jboss.shrinkwrap.descriptor.api.connector16
</pre>


<p class="wikiPara">
packages. Ralf - of <a href="https://github.com/shrinkwrap/descriptors" target="" class="regularLink">ShrinkWrap/Descriptors</a> fame - is working on getting <q>connector10</q> and IronJacamar's specific descriptors into our distribution too. Hopefully soon XML on disk will be a thing of the past for resource adapter test cases :)
</p>

<h2 class="wikiHeadline2" id="H-OtherGoodies"><a href="/Bloggers/IronJacamar110Alpha2IsOut#H-OtherGoodies">Other goodies</a></h2>

<p class="wikiPara">
Our AS7 upgrader tool now supports Maven snapshots, so it is easier to try out a hot-fix from us.
</p>

<p class="wikiPara">
The deployer chain saw some updates too in order to give better feedback on invalid configurations. Hopefully that will help people getting started quicker. Remember, we have a user guide with a description of the XSDs ;)
</p>

<p class="wikiPara">
And we found a nasty bug too...
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/Bloggers/IronJacamar110Alpha2IsOut#H-TheRoadAhead">The Road Ahead</a></h2>

<p class="wikiPara">
Our main focus is still on the AS 7.1 series, so keep the reports coming. We enjoy the feedback !
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/ironjacamar" target="" class="regularLink">WebSite</a>] [<a href="http://www.jboss.org/ironjacamar/downloads.html" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/ironjacamar/userguide/1.1/en-US/html/" target="" class="regularLink">Documentation</a>] [<a href="https://issues.jboss.org/browse/JBJCA" target="" class="regularLink">JIRA</a>] [<a href="http://community.jboss.org/en/ironjacamar/?view=discussions" target="" class="regularLink">Forum</a>]
</p>
</div>
