---
title: "IronJacamar 1.0.0.Beta4 is out"
author: "Jesper Pedersen"
blogger_name: "Jesper"
layout: blog-post
tags: []
slug: IronJacamar100Beta4IsOut
lace: http://in.relation.to/18582.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/IronJacamar100Beta4IsOut">IronJacamar 1.0.0.Beta4 is out</a>
                    </h1>
</div>
<p class="wikiPara">
I'm happy to announce that the IronJacamar team have released 1.0.0.Beta4 of the container which implements the JCA 1.6 specification.
</p>

<p class="wikiPara">
Full release notes are <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&amp;version=12315444" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-Security"><a href="/Bloggers/IronJacamar100Beta4IsOut#H-Security">Security</a></h2>

<p class="wikiPara">
You are now able to specify if you want to use your ConnectionRequestInfo objects or a security domain for the ManagedConnection::getConnection() call.
</p>

<p class="wikiPara">
Look under the <q>security</q> element for the new elements
</p>

<pre class="wikiPreformatted">
&lt;application/&gt;
&lt;security-domain&gt;my-security-domain&lt;/security-domain&gt;
&lt;security-domain-and-application&gt;my-security-domain&lt;/security-domain-and-application&gt;
</pre>
<p class="wikiPara">
 
</p>

<p class="wikiPara">
This also means that you can use a security domain now for backing a datasource deployment.
</p>

<h2 class="wikiHeadline2" id="H-Documentation"><a href="/Bloggers/IronJacamar100Beta4IsOut#H-Documentation">Documentation</a></h2>

<p class="wikiPara">
The entire documentation environment have been changed to use the JBoss.org style, so now the documentation look great !
</p>

<p class="wikiPara">
We have also added content like an overview of the different deployment descriptors. But also a complete HelloWorld resource adapter example is now included, so you can get started with your development. The code generator have of course been updated with improvements too that will help you get started.
</p>

<h2 class="wikiHeadline2" id="H-OtherHighlights"><a href="/Bloggers/IronJacamar100Beta4IsOut#H-OtherHighlights">Other highlights</a></h2>

<p class="wikiPara">
As you can see on the release notes there have been other enhancements too, like
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Improved metadata validation</li>
<li class="wikiUnorderedListItem"> JDBC 4.1 support</li>
<li class="wikiUnorderedListItem"> Spy functionality for the JDBC resource adapter</li>
<li class="wikiUnorderedListItem"> A SPI for the JDBC resource adapter for vendor extensions</li>
<li class="wikiUnorderedListItem"> Template replacement inside our -ds.xml deployments using system properties</li>
</ul>

<p class="wikiPara">
The release also saw a completely new inflow system, which will allow other containers to easy integrate and register message endpoints through the IronJacamar container. We hope that the EJB3 team will like this functionality for their MDB work :)
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/Bloggers/IronJacamar100Beta4IsOut#H-TheRoadAhead">The Road Ahead</a></h2>

<p class="wikiPara">
We will focus on adding more enterprise level features like XA recovery and reauthentication support. Of course the development of our RHQ plugin will continue too.
</p>

<p class="wikiPara">
So be sure to grab the next <a href="http://www.jboss.org/jbossas/" target="" class="regularLink">JBoss Application Server 7.0</a> release, which will feature this version and send your feedback to us.
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/ironjacamar" target="" class="regularLink">WebSite</a>] [<a href="http://www.jboss.org/ironjacamar/downloads.html" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/ironjacamar/userguide/1.0/en-US/html/%5C" target="" class="regularLink">Documentation</a> [<a href="https://issues.jboss.org/browse/JBJCA" target="" class="regularLink">JIRA</a>] [<a href="http://community.jboss.org/en/ironjacamar/?view=discussions" target="" class="regularLink">Forum</a>]
</p>
</div>
