---
title: "IronJacamar 1.0.0.Beta5 is out"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "28-03-2011"
tags: []

relative_url: /2011/03/28/IronJacamar100Beta5IsOut
slug: IronJacamar100Beta5IsOut
lace: http://in.relation.to/18890.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/03/28/IronJacamar100Beta5IsOut
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce the <a href="http://www.jboss.org/ironjacamar" target="" class="regularLink">IronJacamar 1.0.0.Beta5</a> release.
</p>

<p class="wikiPara">
The full release notes are <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&amp;version=12316090" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-EnterpriseFeatures"><a href="/2011/03/28/IronJacamar100Beta5IsOut#H-EnterpriseFeatures">Enterprise features</a></h2>

<p class="wikiPara">
This release focused on more enterprise level features of a Java EE Connector Architecture container, namely
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> XA Recovery</li>
<li class="wikiUnorderedListItem"> Reauthentication</li>
</ul>

<p class="wikiPara">
The stable release of the JCA container already features XA recovery, but this version adds the ability to specify which plugin that should be used to give hints to the container if a managed connection is still usable. This should give developers a better way to provide feedback to the recovery subsystem based on their Enterprise Information System specific interaction.
</p>

<p class="wikiPara">
We now have a pooling mechanism that supports reauthentication - JCA 1.6 specification section 9.1.9 - such that managed connection can be reauthenticated based on the input credentials. We have added an extension to our JDBC resource adapter which allows database specific plugin to take advantage of this functionality.
</p>

<p class="wikiPara">
If you are interested in these areas, try them out and send us your feedback.
</p>

<h2 class="wikiHeadline2" id="H-JBossApplicationServer7"><a href="/2011/03/28/IronJacamar100Beta5IsOut#H-JBossApplicationServer7">JBoss Application Server 7</a></h2>

<p class="wikiPara">
We continue to integrate with the <a href="http://www.jboss.org/jbossas" target="" class="regularLink">JBoss Application Server 7</a> release series, and have added features that will allow datasources to be started quicker than before. So look out for the 7.0.0.Beta2 release.
</p>

<p class="wikiPara">
And be sure to provide feedback through the <a href="http://community.jboss.org/en/jbossas/dev/jboss_as7_development" target="" class="regularLink">forum</a>.
</p>

<h2 class="wikiHeadline2" id="H-OtherImprovements"><a href="/2011/03/28/IronJacamar100Beta5IsOut#H-OtherImprovements">Other improvements</a></h2>

<p class="wikiPara">
We have added a couple of other improvements too
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Inflow enhancements to the code generator</li>
<li class="wikiUnorderedListItem"> New transaction infrastructure that will allow easier integration of new transaction manager versions</li>
<li class="wikiUnorderedListItem"> Initial management of datasources</li>
</ul>

<p class="wikiPara">
plus the various bug fixes.
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/2011/03/28/IronJacamar100Beta5IsOut#H-TheRoadAhead">The Road Ahead</a></h2>

<p class="wikiPara">
We will continue with expanding our management capabilities, so if there is an area that you would like to see that we worked on let us know.
</p>

<p class="wikiPara">
And be sure to check out our home page, as it now features our current test suite status -- we salute you, design rock star <a href="http://community.jboss.org/people/james.cobb" target="" class="regularLink">James Cobb</a> !
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/ironjacamar" target="" class="regularLink">WebSite</a>] [<a href="http://www.jboss.org/ironjacamar/downloads.html" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/ironjacamar/userguide/1.0/en-US/html/" target="" class="regularLink">Documentation</a>] [<a href="https://issues.jboss.org/browse/JBJCA" target="" class="regularLink">JIRA</a>] [<a href="http://community.jboss.org/en/ironjacamar/?view=discussions" target="" class="regularLink">Forum</a>]
</p>
</div>
