---
title: "Boston JBoss User Group 2011 (Part 2)"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "25-04-2011"
tags: []

absolute_url: http://in.relation.to/2011/04/25/BostonJBossUserGroup2011Part2
lace: http://in.relation.to/19500.lace
slug: BostonJBossUserGroup2011Part2

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
In a <a href="http://in.relation.to/Bloggers/BostonJBossUserGroup2011" target="" class="regularLink">previous blog</a> I announced the first part of the program for the <a href="http://community.jboss.org/wiki/BostonJBossUserGroup" target="" class="regularLink">Boston JBoss User Group</a>.
</p>

<p class="wikiPara">
As promised here is the second part:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> September 13: <a href="http://community.jboss.org/wiki/BostonJBossUserGroup-IntroductionToJBossAS7" target="" class="regularLink">Introduction to JBoss AS 7</a>, by members of the AS team</li>
<li class="wikiUnorderedListItem"> October 11: <a href="http://community.jboss.org/wiki/BostonJBossUserGroup-DevelopingInTheCloud" target="" class="regularLink">Developing in the Cloud</a>, by Fabian Donze</li>
<li class="wikiUnorderedListItem"> November 8: <a href="http://community.jboss.org/wiki/BostonJBossUserGroup-OpenSourceLicensingAndJavaProjects" target="" class="regularLink">Open Source Licensing and Java projects</a>, by Richard Fontana</li>
<li class="wikiUnorderedListItem"> December 6: <a href="http://community.jboss.org/wiki/BostonJBossUserGroup-LightningTalks2011" target="" class="regularLink">Lightning Talks 2011</a>, by the community</li>
</ul>

<p class="wikiPara">
So the fall program looks as good as the program for the first part of the year - sign up now !!
</p>

<p class="wikiPara">
Next week <a href="http://www.jboss.org/events/JUDCon.html" target="" class="regularLink">JUDCon</a> will hit the town followed by <a href="http://www.redhat.com/summit/" target="" class="regularLink">JBoss World</a>, so there is still time to sign up for that too. There will be A LOT of cool presentations.
</p>

<p class="wikiPara">
In the community spirit - or maybe just because we like beer ?!? - Boston JBoss User Group will follow last years success with a <a href="http://community.jboss.org/wiki/BostonJBossUserGroup-LetsGetReadyToRumble2" target="" class="regularLink">Let's Get Ready to Rumble 2</a> at John Havard's. Yummi :*) Everybody is welcome to come, and meet fellow hackers before it all starts.
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://community.jboss.org/wiki/BostonJBossUserGroup" target="" class="regularLink">Boston JBoss User Group</a>]
</p>
</div>
