---
title: "IronJacamar 1.0.0.CR1 is out"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "09-06-2011"
original_tags: []
tags: []

relative_url: /2011/06/09/iron-jacamar-100-cr-1-is-out
slug: iron-jacamar-100-cr-1-is-out
lace: http://in.relation.to/20728.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/06/09/iron-jacamar-100-cr-1-is-out
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm very happy to announce the IronJacamar 1.0.0.CR1 release, which implements the Java EE Connector Architecture 1.6 specification.
</p>

<p class="wikiPara">
Full release notes are <a href="https://issues.jboss.org/issues/?jql=project=12310691+AND+fixVersion=12313377" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-NewTransactionIntegration"><a href="/2011/06/09/iron-jacamar-100-cr-1-is-out#H-NewTransactionIntegration">New transaction integration</a></h2>

<p class="wikiPara">
This release saw a new transaction integration which has allowed us to better isolate the interaction with the transaction manager and its components - like recovery.
</p>

<p class="wikiPara">
So if you are looking to integrate a JCA container into your project, it has just become a lot easier.
</p>

<h2 class="wikiHeadline2" id="H-NewLoggingIntegration"><a href="/2011/06/09/iron-jacamar-100-cr-1-is-out#H-NewLoggingIntegration">New logging integration</a></h2>

<p class="wikiPara">
We have switched the project to use the new JBoss Logging framework, which allows us to assign unique identifiers to logging statements and exception messages.
</p>

<p class="wikiPara">
This integration will ease our quest to identify issues that may pop up when people run their applications.
</p>

<h2 class="wikiHeadline2" id="H-OtherFeatures"><a href="/2011/06/09/iron-jacamar-100-cr-1-is-out#H-OtherFeatures">Other features</a></h2>

<p class="wikiPara">
The release also saw updated in other areas
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Improvements to the code generator</li>
<li class="wikiUnorderedListItem"> Added support non JTA datasources</li>
</ul>

<p class="wikiPara">
along with the various bug fixes.
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/2011/06/09/iron-jacamar-100-cr-1-is-out#H-TheRoadAhead">The Road Ahead</a></h2>

<p class="wikiPara">
Since we have hit the Candidate for Release mark - yay ! - we have created a stable release branch, since this release could be promoted to 1.0.0.Final if no serious issues are found within the next two weeks.
</p>

<p class="wikiPara">
We will work on improving the documentation around areas that could use some - but we don't expect any major changes from this point on.
</p>

<p class="wikiPara">
Our trunk have been switched to 1.1 development - we expect to see the first developer snapshot in August. But more on that later :) However, I will say that there are a lot of exciting things ahead !
</p>

<p class="wikiPara">
So people, test and report any bugs that you may find, as it is almost time for champagne !
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/ironjacamar" target="" class="regularLink">WebSite</a>] [<a href="http://www.jboss.org/ironjacamar/downloads.html" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/ironjacamar/userguide/1.0/en-US/html/" target="" class="regularLink">Documentation</a>] [<a href="https://issues.jboss.org/browse/JBJCA" target="" class="regularLink">JIRA</a>] [<a href="http://community.jboss.org/en/ironjacamar/?view=discussions" target="" class="regularLink">Forum</a>]
</p>
</div>

