---
title: "Boston JBoss User Group 2011"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "01-03-2011"
tags: []

relative_url: /2011/03/01/bostonjboss-user-group-2011
slug: bostonjboss-user-group-2011
lace: http://in.relation.to/18449.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/03/01/bostonjboss-user-group-2011
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
It's March 1st, but the schedule for the <a href="http://community.jboss.org/wiki/BostonJBossUserGroup" target="" class="regularLink">Boston JBoss User Group</a> is already being finalized :)
</p>

<p class="wikiPara">
There will be a lot of killer presentations
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> March 8th: <a href="http://community.jboss.org/wiki/BostonJBossUserGroup-CDIMakingJavaEEgel" target="" class="regularLink">Making Java EE gel</a>, by Dan Allen</li>
<li class="wikiUnorderedListItem"> April 12th: <a href="http://community.jboss.org/wiki/BostonJBossUserGroup-JBossClustering" target="" class="regularLink">JBoss Clustering</a>, by Paul Ferraro</li>
<li class="wikiUnorderedListItem"> May 10th: <a href="http://community.jboss.org/wiki/BostonJBossUserGroup-JavaandPostgres" target="" class="regularLink">Java and Postgres</a>, Tom Kincaid</li>
<li class="wikiUnorderedListItem"> June 14th: <a href="http://community.jboss.org/wiki/BostonJBossUserGroup-Fedora" target="" class="regularLink">Fedora</a>, by Tom 'spot' Callaway</li>
</ul>

<p class="wikiPara">
As you can see - some big hitters !
</p>

<p class="wikiPara">
I won't give away the titles for the second part of the year just yet, but I can say that is going to be just as interesting.
</p>

<p class="wikiPara">
So <a href="http://community.jboss.org/groups/boston-jbug" target="" class="regularLink">join our group</a>, sign up for the meetings and give your feedback on previous presentations or things you would like to see in the future. And as always all our material is available online (slides, audio and video), so you don't even have to be local to Boston - how sweet is that ? For the community, by the community, right ?
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://community.jboss.org/wiki/BostonJBossUserGroup" target="" class="regularLink">Boston JBoss User Group</a>]
</p>
</div>

