---
title: "IronJacamar 1.1.0.Alpha1 is out"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "31-08-2011"
original_tags: []
tags: []

relative_url: /2011/08/31/iron-jacamar-110-alpha-1-is-out
slug: iron-jacamar-110-alpha-1-is-out
lace: http://in.relation.to/21790.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/08/31/iron-jacamar-110-alpha-1-is-out
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce the first developer build of the IronJacamar 1.1 series.
</p>

<p class="wikiPara">
Full release notes are <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&amp;version=12316786" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-TheIronJacamar11Series"><a href="/2011/08/31/iron-jacamar-110-alpha-1-is-out#H-TheIronJacamar11Series">The IronJacamar 1.1 series</a></h2>

<p class="wikiPara">
There are a couple of interest areas for the 1.1 series of the IronJacamar project.
</p>

<p class="wikiPara">
They include
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Usability</li>
<li class="wikiUnorderedListItem"> Tooling</li>
<li class="wikiUnorderedListItem"> Exotic features</li>
</ul>

<p class="wikiPara">
and of course the standard bug fixes.
</p>

<p class="wikiPara">
On the usability front we really want to drive the way that resource adapters should be tested, so improved integration with the <a href="http://www.jboss.org/arquillian" target="" class="regularLink">Arquillian</a> and <a href="http://www.jboss.org/shrinkwrap" target="" class="regularLink">ShrinkWrap</a> projects will have a high priority. You will see up-coming releases where having a requirement for on-disk deployment descriptors will be eliminated by using the <a href="https://github.com/shrinkwrap/descriptors" target="" class="regularLink">ShrinkWrap Descriptors</a> project and our own extensions for IronJacamar specific deployment metadata.
</p>

<p class="wikiPara">
Another area is better tooling for JCA based projects. We already have the <a href="http://docs.jboss.org/ironjacamar/userguide/1.1/en-US/html/codegenerator.html" target="" class="regularLink">code generator</a> and the <a href="http://docs.jboss.org/ironjacamar/userguide/1.1/en-US/html/validator.html" target="" class="regularLink">validator</a> tools, but better integration with <a href="http://www.jboss.org/tools" target="" class="regularLink">JBossTools</a> will be important. There will also be new tools that will help people migrate from earlier releases of the JBoss Application Server.
</p>

<p class="wikiPara">
The 1.1 series will still target the Java EE Connector Architecture 1.6 specification, but we will take a look at adding support for some of the more exotic features of the specification which are optional in the sense of TCK testing.
</p>

<h2 class="wikiHeadline2" id="H-LetsGetStarted"><a href="/2011/08/31/iron-jacamar-110-alpha-1-is-out#H-LetsGetStarted">Lets get started</a></h2>

<p class="wikiPara">
The first developer snapshot has been focused on fixing the bugs reported by our community - thanks ! - such that JCA integration in <a href="http://www.jboss.org/jbossas/" target="" class="regularLink">JBoss Application Server 7</a> has become a lot more stable. More on its way shortly.
</p>

<p class="wikiPara">
Other than that we have slowly started to migrate the project to newer versions of its dependencies - like Arquillian 1.0.0.CR4 and friends.
</p>

<p class="wikiPara">
Test it out and report back what you would like to see.
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/2011/08/31/iron-jacamar-110-alpha-1-is-out#H-TheRoadAhead">The Road Ahead</a></h2>

<p class="wikiPara">
So a lot of exciting things ahead, while we keep improving JCA functionality in JBoss AS 7 :)
</p>

<p class="wikiPara">
If you want to help us out drop by our forums, and give us a shout.
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/ironjacamar" target="" class="regularLink">WebSite</a>] [<a href="http://www.jboss.org/ironjacamar/downloads.html" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/ironjacamar/userguide/1.1/en-US/html/" target="" class="regularLink">Documentation</a>] [<a href="https://issues.jboss.org/browse/JBJCA" target="" class="regularLink">JIRA</a>] [<a href="http://community.jboss.org/en/ironjacamar/?view=discussions" target="" class="regularLink">Forum</a>]
</p>
</div>

