---
title: "IronJacamar 1.1.0.Alpha3 is out"
author: "Jesper Pedersen"
creation_date: "31-10-2011"
blogger_name: "Jesper"
layout: blog-post
tags: []
slug: IronJacamar110Alpha3IsOut
lace: http://in.relation.to/22228.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce the 3rd developer snapshot of the IronJacamar 1.1 series.
</p>

<p class="wikiPara">
Full release notes are <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&amp;version=12318152" target="" class="regularLink">here</a>
</p>

<h2 class="wikiHeadline2" id="H-Converter"><a href="/Bloggers/IronJacamar110Alpha3IsOut#H-Converter">Converter</a></h2>

<p class="wikiPara">
This release saw the introduction of our new converter tool, which can convert the old JBoss Application Server -ds.xml format to the formats used in JBoss Application Server 7.
</p>

<p class="wikiPara">
The tool is run by:
</p>

<pre class="wikiPreformatted">
./converter.sh -ra old-ds.xml new-ra.xml
</pre>


<p class="wikiPara">
where <q>old-ds.xml</q> is your old resource adapter deployment and <q>new-ra.xml</q> is the XML snippet you can use in the <q>resource-adapters</q> subsystem in JBoss AS7.
</p>

<p class="wikiPara">
Almost the same for datasources:
</p>

<pre class="wikiPreformatted">
./converter.sh -ds old-ds.xml new-ds.xml
</pre>


<p class="wikiPara">
so, copy the content of <q>new-ds.xml</q> to the <q>datasources</q> subsystem and change it to fit your requirements.
</p>

<p class="wikiPara">
Note, that the tool does a best effort so changes are most likely needed. Feedback is of course welcomed in our forum.
</p>

<h2 class="wikiHeadline2" id="H-OtherStuff"><a href="/Bloggers/IronJacamar110Alpha3IsOut#H-OtherStuff">Other stuff</a></h2>

<p class="wikiPara">
We have fixed a number of bugs too in this release, especially a bug around handling of native libraries inside resource adapter archives.
</p>

<p class="wikiPara">
We have added a new <a href="http://docs.jboss.org/ironjacamar/userguide/1.1/en-US/html/samples.html#sample_helloworld_native" target="" class="regularLink">sample</a> that shows a basic resource adapter using a native library to our documentation.
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/Bloggers/IronJacamar110Alpha3IsOut#H-TheRoadAhead">The Road Ahead</a></h2>

<p class="wikiPara">
Most of the bug fixes will be available in the upcoming JBoss Application Server 7.1.0.Beta1 release, and the rest will follow in a future release of the server. We are also working on a nice new JCA subsystem that should make it easier to integrate JCA with other technologies - did somebody say Spring ?!?
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/ironjacamar" target="" class="regularLink">WebSite</a>] [<a href="http://www.jboss.org/ironjacamar/downloads.html" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/ironjacamar/userguide/1.1/en-US/html/" target="" class="regularLink">Documentation</a>] [<a href="http://issues.jboss.org/browse/JBJCA" target="" class="regularLink">JIRA</a>] [<a href="http://community.jboss.org/en/ironjacamar/?view=discussions" target="" class="regularLink">Forum</a>] </p>
</div>
