---
title: "IronJacamar 1.0.0.Beta6 is out"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "25-04-2011"
original_tags: []
tags: []

relative_url: /2011/04/25/iron-jacamar-100-beta-6-is-out
slug: iron-jacamar-100-beta-6-is-out
lace: http://in.relation.to/19498.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/04/25/iron-jacamar-100-beta-6-is-out
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce the <a href="http://www.jboss.org/ironjacamar" target="" class="regularLink">IronJacamar 1.0.0.Beta6</a> release.
</p>

<p class="wikiPara">
The full release notes are <a href="https://issues.jboss.org/issues/?jql=project=12310691%20AND%20fixVersion=12316220" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-Pool"><a href="/2011/04/25/iron-jacamar-100-beta-6-is-out#H-Pool">Pool</a></h2>

<p class="wikiPara">
Our pool implementation now support different flush strategies when an error happens. These include
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> FailingConnectionOnly (default)</li>
<li class="wikiUnorderedListItem"> IdleConnections</li>
<li class="wikiUnorderedListItem"> EntirePool</li>
</ul>

<p class="wikiPara">
'FailingConnectionOnly' is the strategy that is currently is the stable version of the JBoss Application Server, and will be the default strategy for version 7. 'IdleConnections' will remove any idle connections from the pool together with the failing connection of course. 'EntirePool' will remove all connections from the pool - including active connections - so make sure that you know what you are doing before you enable this strategy.
</p>

<p class="wikiPara">
We have fixed an issue where the pool would - maybe a little bit too eager - prefill the pool, so that feature should work as documented now. While we were playing with the code we added support for prefill of PoolBySubject, so now your security domain backed configurations can be prefilled also. Last, we changed the default policy to 'false' in order to save resources on startup - change it by using
</p>

<pre class="wikiPreformatted">
&lt;pool&gt;
  &lt;min-pool-size&gt;1&lt;/min-pool-size&gt;
  &lt;prefill&gt;true&lt;/prefill&gt;
&lt;/pool&gt;
</pre>


<p class="wikiPara">
in your configuration.
</p>

<h2 class="wikiHeadline2" id="H-Statistics"><a href="/2011/04/25/iron-jacamar-100-beta-6-is-out#H-Statistics">Statistics</a></h2>

<p class="wikiPara">
We have added support for statistics modules in order to gain access to run-time information about the container and the deployed resource adapters.
</p>

<p class="wikiPara">
3rd party resource adapters can support statistics inside the IronJacamar container by implementing the following SPI:
</p>

<pre class="wikiPreformatted">
org.jboss.jca.core.spi.statistics.Statistics
</pre>


<p class="wikiPara">
on the resource adapter class, the managed connection factory(ies) and/or admin object(s).
</p>

<p class="wikiPara">
We have of course added some statistics about the <a href="http://community.jboss.org/wiki/IronJacamarManagement" target="" class="regularLink">core pool</a>, and statistics about the prepared statement cache in the JDBC resource adapter.
</p>

<p class="wikiPara">
Be sure to send us your <a href="http://community.jboss.org/thread/164780" target="" class="regularLink">feedback</a> on this - especially things that you would like to see in this area. 
</p>

<h2 class="wikiHeadline2" id="H-OtherImprovements"><a href="/2011/04/25/iron-jacamar-100-beta-6-is-out#H-OtherImprovements">Other improvements</a></h2>

<p class="wikiPara">
We have added a couple of other improvements too
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Made usage of the cached connection manager optional for each deployment</li>
<li class="wikiUnorderedListItem"> Enhancements to the code generator</li>
</ul>

<p class="wikiPara">
plus the various bug fixes.
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/2011/04/25/iron-jacamar-100-beta-6-is-out#H-TheRoadAhead">The Road Ahead</a></h2>

<p class="wikiPara">
We will integrate this release with the upcoming <a href="http://www.jboss.org/jbossas/" target="" class="regularLink">JBoss Application Server 7.0.0.Beta4</a> release, so you have access to all these cool new features. And we will take a look at how we can make testing a resource adapter even easier - although it is easy already; check our documentation !
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/ironjacamar" target="" class="regularLink">WebSite</a>] [<a href="http://www.jboss.org/ironjacamar/downloads.html" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/ironjacamar/userguide/1.0/en-US/html/" target="" class="regularLink">Documentation</a>] [<a href="https://issues.jboss.org/browse/JBJCA" target="" class="regularLink">JIRA</a>] [<a href="http://community.jboss.org/en/ironjacamar/?view=discussions" target="" class="regularLink">Forum</a>]
</p>
</div>

