---
title: "IronJacamar 1.1.0.Alpha4 is out"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "30-11-2011"
tags: []

relative_url: /2011/11/30/IronJacamar110Alpha4IsOut
slug: IronJacamar110Alpha4IsOut
lace: http://in.relation.to/22457.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/11/30/IronJacamar110Alpha4IsOut
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce the 4th developer snapshot of the IronJacamar 1.1 series.
</p>

<p class="wikiPara">
Full release notes are <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&amp;version=12318462" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-ResourceAdapterInformationTool"><a href="/2011/11/30/IronJacamar110Alpha4IsOut#H-ResourceAdapterInformationTool">Resource adapter information tool</a></h2>

<p class="wikiPara">
This release adds a resource adapter information tool, that can provide the important information about the resource adapter and a sample deployment descriptor.
</p>

<p class="wikiPara">
The information about the resource adapter is generated using the following command:
</p>

<pre class="wikiPreformatted">
./rar-info.sh myeis.rar
</pre>
<p class="wikiPara">
   
</p>

<p class="wikiPara">
where the report will be located in <q>myeis-report.txt</q>. The tool can take an optional -classpath parameter such that additional external dependencies can be resolved against the resource adapter.
</p>

<p class="wikiPara">
The report will contain information about
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> The name of the resource adapter</li>
<li class="wikiUnorderedListItem"> The Java EE Connector Architecture specification version</li>
<li class="wikiUnorderedListItem"> The type of the resource adapter</li>
<li class="wikiUnorderedListItem"> If the resource adapter supports reauthentication</li>
<li class="wikiUnorderedListItem"> If the resource adapter is compliant (see the validator tool)</li>
<li class="wikiUnorderedListItem"> If the resource adapter contains native libraries</li>
<li class="wikiUnorderedListItem"> Overview of the resource adapter class</li>
<li class="wikiUnorderedListItem"> Overview of the managed connection factory classes</li>
<li class="wikiUnorderedListItem"> Overview of the admin object classes</li>
<li class="wikiUnorderedListItem"> Overview of the activation specification classes</li>
<li class="wikiUnorderedListItem"> A sample deployment descriptor </li>
</ul>

<p class="wikiPara">
The tool (<q>rar-info.sh</q>) is located in the <q>doc/as/</q> directory of the distribution. Try it out and send us your thoughts :)
</p>

<h2 class="wikiHeadline2" id="H-JBossApplicationServer710Beta1"><a href="/2011/11/30/IronJacamar110Alpha4IsOut#H-JBossApplicationServer710Beta1">JBoss Application Server 7.1.0.Beta1</a></h2>

<p class="wikiPara">
The <a href="http://www.jboss.org/jbossas" target="" class="regularLink">JBoss Application Server 7.1.0.Beta1</a> release is out featuring IronJacamar 1.0.5.Final, so give that release a good run and report any issues that you may find. Be sure to check the forums for possible answers first though.
</p>

<p class="wikiPara">
As seen by the 1.1.0.Alpha4 release notes we have found some more bugs - the fixes should make their way into JBoss AS7 soon.
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/2011/11/30/IronJacamar110Alpha4IsOut#H-TheRoadAhead">The Road Ahead</a></h2>

<p class="wikiPara">
We will keep pushing to make JBoss Application Server 7.1.0.CR1 the best application server out there to deploy resource, adapters on, so we value any feedback that you will send.
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/ironjacamar" target="" class="regularLink">WebSite</a>] [<a href="http://www.jboss.org/ironjacamar/downloads.html" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/ironjacamar/userguide/1.1/en-US/html/" target="" class="regularLink">Documentation</a>] [<a href="https://issues.jboss.org/browse/JBJCA" target="" class="regularLink">JIRA</a>] [<a href="http://community.jboss.org/en/ironjacamar/?view=discussions" target="" class="regularLink">Forum</a>] </p>
</div>
