---
title: "IronJacamar 1.1.0.Alpha7 is out"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "30-04-2012"
original_tags: []
tags: []

relative_url: /2012/04/30/iron-jacamar-110-alpha-7-is-out
slug: iron-jacamar-110-alpha-7-is-out
lace: http://in.relation.to/23152.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/04/30/iron-jacamar-110-alpha-7-is-out
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce the 7th alpha release of our IronJacamar 1.1 series.
</p>

<p class="wikiPara">
Full release notes are <a href="https://issues.jboss.org/issues/?jql=project=12310691+AND+fixVersion=12319188" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-Datasources11"><a href="/2012/04/30/iron-jacamar-110-alpha-7-is-out#H-Datasources11">datasources:1.1</a></h2>

<p class="wikiPara">
This release adds support for the datasources-1_1.xsd schema, which adds the
</p>

<pre class="wikiPreformatted">
&lt;pool&gt;
  ...
  &lt;allow-multiple-users/&gt;
&lt;/pool&gt;
</pre>


<p class="wikiPara">
element, which tells the pool implementation to switch to an implementation that accounts for multiple users accessing the datasource instance through the <q>datasource.getConnection(user, password)</q> method.
</p>

<p class="wikiPara">
We have updated the datasources subsystem in JBoss Application Server 7 to support this new schema too.
</p>

<h2 class="wikiHeadline2" id="H-ArquillianAndFriends"><a href="/2012/04/30/iron-jacamar-110-alpha-7-is-out#H-ArquillianAndFriends">Arquillian and friends</a></h2>

<p class="wikiPara">
This release also features <a href="http://arquillian.org/" target="" class="regularLink">Arquillian 1.0.0.Final</a> and its friends making the foundation for our embedded testing environment.
</p>

<p class="wikiPara">
A congrats to our friends in the Arquillian community for their first stable release !
</p>

<h2 class="wikiHeadline2" id="H-OtherChanges"><a href="/2012/04/30/iron-jacamar-110-alpha-7-is-out#H-OtherChanges">Other changes</a></h2>

<p class="wikiPara">
Worth to mention is also
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Updates to our code generator</li>
<li class="wikiUnorderedListItem"> New security inflow module</li>
<li class="wikiUnorderedListItem"> Bug fixes</li>
</ul>

<p class="wikiPara">
Be sure to check that out too.
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/2012/04/30/iron-jacamar-110-alpha-7-is-out#H-TheRoadAhead">The Road Ahead</a></h2>

<p class="wikiPara">
We still have a number of outstanding features before we can release, so the race is on :) Of course we will keep an eye out for issues popping up with JBoss Application Server 7, and our upcoming <a href="http://www.redhat.com/products/jbossenterprisemiddleware/application-platform/" target="" class="regularLink">JBoss Enterprise Application Platform 6.0</a> release.
</p>


<p class="wikiPara">
And, if you didn't sign up for <a href="http://www.jboss.org/events/JUDCon/2012/boston/agenda/" target="" class="regularLink">JUDCon/Boston</a> yet do it now. I'll open the show with my <q>The Bird and the Cheetah - A Tale from the Depths of JBoss Application Server</q> talk where we will take a deep dive into why Java EE Connector Architecture is so important for an application server, and how to configure your deployments.
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/ironjacamar" target="" class="regularLink">WebSite</a>] [<a href="http://www.jboss.org/ironjacamar/downloads.html" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/ironjacamar/userguide/1.1/en-US/html/" target="" class="regularLink">Documentation</a>] [<a href="https://issues.jboss.org/browse/JBJCA" target="" class="regularLink">JIRA</a>] [<a href="https://community.jboss.org/en/ironjacamar/?view=discussions" target="" class="regularLink">Forum</a>]
</p>
</div>

