---
title: "Tattletale 1.2.0.Beta2 is out"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "20-02-2012"
tags: []

relative_url: /2012/02/20/tattletale-120-beta-2-is-out
slug: tattletale-120-beta-2-is-out
lace: http://in.relation.to/22932.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/02/20/tattletale-120-beta-2-is-out
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I have released Tattletale 1.2.0.Beta2 to the community for testing.
</p>

<p class="wikiPara">
Full release notes are <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310784&amp;version=12318287" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-BugFixes"><a href="/2012/02/20/tattletale-120-beta-2-is-out#H-BugFixes">Bug fixes</a></h2>

<p class="wikiPara">
The release mainly contains bug fixes for the issues found by the community. Over 1200 downloads of Beta1 is quite impressive, so keep the feedback coming !
</p>

<p class="wikiPara">
This release should work better on that <q>other</q> OS too...
</p>

<h2 class="wikiHeadline2" id="H-JBossApplicationServer7"><a href="/2012/02/20/tattletale-120-beta-2-is-out#H-JBossApplicationServer7">JBoss Application Server 7</a></h2>

<p class="wikiPara">
The JBoss Application Server 7 plugin has been updated to the <a href="http://www.jboss.org/jbossas" target="" class="regularLink">JBoss Application Server 7.1.0.Final</a> release, so that should get your applications up and running on that release faster :)
</p>

<h2 class="wikiHeadline2" id="H-Community"><a href="/2012/02/20/tattletale-120-beta-2-is-out#H-Community">Community</a></h2>

<p class="wikiPara">
There are still ideas that we are working on, so if you are interested in helping out with Tattletale development feel free to drop by our forums and fork the code from GitHub.
</p>

<p class="wikiPara">
For Those About to Rock, We Salute you !
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/tattletale/" target="" class="regularLink">WebSite</a>] [<a href="http://www.jboss.org/tattletale/downloads" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/tattletale/userguide/1.2/en-US/html/" target="" class="regularLink">Documentation</a>] [<a href="https://community.jboss.org/en/tattletale" target="" class="regularLink">Forum</a>] [<a href="https://issues.jboss.org/browse/TTALE" target="" class="regularLink">JIRA</a>] </p>
</div>

