---
title: "IronJacamar 1.1.0.Alpha5 is out"
author: "Jesper Pedersen"
creation_date: "31-01-2012"
blogger_name: "Jesper"
layout: blog-post
tags: []
slug: IronJacamar110Alpha5IsOut
lace: http://in.relation.to/22862.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce the 5th developer snapshot of the IronJacamar 1.1 container, which implements the Java EE Connector Architecture 1.6 specification.
</p>

<p class="wikiPara">
Full release notes are <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&amp;version=12318606" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-BugsWhatBugs"><a href="/Bloggers/IronJacamar110Alpha5IsOut#H-BugsWhatBugs">Bugs, what bugs ?</a></h2>

<p class="wikiPara">
This release mainly contains bug fixes that we have found during our testing with IronJacamar inside JBoss Application Server 7.1.
</p>

<p class="wikiPara">
The fixes has of course been included in the upcoming JBoss Application Server 7.1.0.Final release.
</p>

<h2 class="wikiHeadline2" id="H-SpringCleaning"><a href="/Bloggers/IronJacamar110Alpha5IsOut#H-SpringCleaning">Spring cleaning</a></h2>

<p class="wikiPara">
We have begone our spring cleaning of the project to provide the foundation of the upcoming features of the 1.1 series, which we should start to see really soon now.
</p>

<p class="wikiPara">
If you look at our code repository you should at least get one hint ;)
</p>

<p class="wikiPara">
But more on that later...
</p>

<h2 class="wikiHeadline2" id="H-JBossApplicationServer710CR1b"><a href="/Bloggers/IronJacamar110Alpha5IsOut#H-JBossApplicationServer710CR1b">JBoss Application Server 7.1.0.CR1b</a></h2>

<p class="wikiPara">
The <a href="http://www.jboss.org/jbossas/downloads" target="" class="regularLink">JBoss Application Server 7.1.0.CR1b</a> release is out featuring IronJacamar 1.0.7.Final, so give that release a good run and report any issues that you may find. Be sure to check the forums for possible answers first though.
</p>

<p class="wikiPara">
We have fixed additional issues post that release, so feel free to try a nightly snapshot too.
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/Bloggers/IronJacamar110Alpha5IsOut#H-TheRoadAhead">The Road Ahead</a></h2>

<p class="wikiPara">
We are pushing to get all the remaining JCA and datasources issues fixed before JBoss AS goes Final, so your help is highly valued one way or the other.
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/ironjacamar" target="" class="regularLink">WebSite</a>] [<a href="http://www.jboss.org/ironjacamar/downloads.html" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/ironjacamar/userguide/1.1/en-US/html/" target="" class="regularLink">Documentation</a>] [<a href="http://issues.jboss.org/browse/JBJCA" target="" class="regularLink">JIRA</a>] [<a href="http://community.jboss.org/community/ironjacamar/?view=discussions" target="" class="regularLink">Forum</a>] </p>
</div>
