---
title: "IronJacamar 1.1.0.Beta5 is out !"
author: "Jesper Pedersen"
blogger_name: "Jesper"
creation_date: "14-05-2013"
original_tags: []
tags: []

relative_url: /2013/05/14/iron-jacamar-110-beta-5-is-out
slug: iron-jacamar-110-beta-5-is-out
lace: http://in.relation.to/24228.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/05/14/iron-jacamar-110-beta-5-is-out
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce the release of IronJacamar 1.1.0.Beta5.
</p>

<p class="wikiPara">
Full release notes are <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&amp;version=12321282" target="" class="regularLink">here</a>.
</p>

<h2 class="wikiHeadline2" id="H-SecurityInflow"><a href="/2013/05/14/iron-jacamar-110-beta-5-is-out#H-SecurityInflow">Security inflow</a></h2>

<p class="wikiPara">
We have finished up our security inflow model for our <q>WorkManager</q>, which allows you to configure mapping of users and groups in the Enterprise Information System domain to the domain used in the application server.
</p>

<p class="wikiPara">
If you have additional use-cases that isn't covered by the existing <a href="http://docs.jboss.org/ironjacamar/schema/ironjacamar_1_1.xsd" target="" class="regularLink">configuration schemas</a> let us know.
</p>

<h2 class="wikiHeadline2" id="H-ImprovementsImprovementsAndMoreImprovements"><a href="/2013/05/14/iron-jacamar-110-beta-5-is-out#H-ImprovementsImprovementsAndMoreImprovements">Improvements, improvements, and more improvements</a></h2>

<p class="wikiPara">
This release really aims to finish up the work left on IronJacamar 1.1, so you will see a lot of small / bigger improvements in most of our components, like
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/JBJCA-704" target="" class="regularLink">Listener SPI for datasource connections</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/JBJCA-990" target="" class="regularLink">Make it possible to test a connection using CRI/Subject</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/JBJCA-1002" target="" class="regularLink">Improved reauthentication pool</a>
</li>
<li class="wikiUnorderedListItem"> Additional statistics for the pools</li>
<li class="wikiUnorderedListItem"> Improvements to our code generator</li>
<li class="wikiUnorderedListItem"> Improvements to our WebLogic converter</li>
</ul>

<p class="wikiPara">
And a ton of bug fixes. So, all in all, a release that should make you say <q>Yummi !</q>.
</p>

<h2 class="wikiHeadline2" id="H-TheRoadAhead"><a href="/2013/05/14/iron-jacamar-110-beta-5-is-out#H-TheRoadAhead">The Road Ahead</a></h2>

<p class="wikiPara">
We aim to submit this release for inclusion in <a href="http://www.wildfly.org/" target="" class="regularLink">WildFly</a>, and we further hope that this will be the last Beta release in the 1.1 series. So now is the time people if you are looking for something in the Java EE Connector Architecture space !
</p>

<p class="wikiPara">
For Those About to Rock, We Salute You !
</p>

<p class="wikiPara">
[<a href="http://www.jboss.org/ironjacamar/" target="" class="regularLink">WebSite</a>] [<a href="http://www.jboss.org/ironjacamar/downloads.html" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/ironjacamar/userguide/1.1/en-US/html/" target="" class="regularLink">Documentation</a>] [<a href="https://issues.jboss.org/browse/JBJCA" target="" class="regularLink">JIRA</a>] [<a href="https://community.jboss.org/en/ironjacamar/?view=discussions" target="" class="regularLink">Forum</a>]
</p>
</div>

