---
title: "Maintenance releases - commons-annotations, annotations and entitymanager "
author: "Hardy Ferentschik"
creation_date: "01-08-2008"
blogger_name: "Hardy"
layout: blog-post
tags: []
slug: MaintenanceReleasesCommonsannotationsAnnotationsAndEntitymanager
lace: http://in.relation.to/9247.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Without much ado I am happy to announce the following releases:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> commons-annotations 3.1.0.CR2</li>
<li class="wikiUnorderedListItem"> annotations 3.4.0.CR2</li>
<li class="wikiUnorderedListItem"> entitymanager 3.4.0.CR2</li>
</ul>

<p class="wikiPara">
Being maintenance releases there is not much to say about them. Changes to commons-annotations and 
entitymanager are minimal with most work being put into bug fixes in Annotations. Check out the change 
logs if you want to know more.
</p>

<p class="wikiPara">
BTW, all these new releases are aligned with Steve's 3.3.0.CR2 release of Core.</p>
</div>
