---
title: "Validator 3.1.0.GA Release"
author: "Hardy Ferentschik"
blogger_name: "Hardy"
creation_date: "10-09-2008"
original_tags: []
tags: []

relative_url: /2008/09/10/validator-310-ga-release
slug: validator-310-ga-release
lace: http://in.relation.to/9372.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/09/10/validator-310-ga-release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Last month we released GA versions of Hibernate Annotations and EntityManager, but only a CR for Validator. This has changed of today with the release of Validator 3.1.0.GA.
</p>

<p class="wikiPara">
Basically not much is happening on the Hibernate Validator, since we are focusing on the implementation of the BeanValidation (<a href="http://jcp.org/en/jsr/detail?id=303" target="" class="regularLink">JSR 303</a>) specification. If you want to know what's happening in this project check out the <a href="http://forum.hibernate.org/viewforum.php?f=26" target="" class="regularLink">forum</a> or <a href="http://opensource.atlassian.com/projects/hibernate/browse/BVAL" target="" class="regularLink">jira</a>.
</p>

<p class="wikiPara">
--Hardy</p>
</div>

