---
title: "JBUG Munich"
author: "Hardy Ferentschik"
blogger_name: "Hardy"
creation_date: "05-08-2008"
tags: []

absolute_url: http://in.relation.to/2008/08/05/JBUGMunich
lace: http://in.relation.to/9251.lace
slug: JBUGMunich

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Just waiting for my flight back to Sweden after being invited to present Hibernate Search at the monthly JBUG Munich meeting. I was pleasantly suprised that despite school holidays a respectable crowd showed up for the meeting. The feedback was throughout positiv and hopefully there are now a few new Search convertees spreading the word in Munich.
</p>

<p class="wikiPara">
One question which popped up was whether the performance of Hibernate Search is somehow quantifiable. Of course the same applies here for Hibernate Search as for Core (see <a href="http://www.hibernate.org/15.html" target="" class="regularLink"> http://www.hibernate.org/15.html</a>) - each application is different and it is hard to find a fair and compareable benchmark. I wonder though whether some specific benchmarks similar to the ones posted on the Lucene homepage would make sense.
</p>

<p class="wikiPara">
Last but not least - the highlight of the evening - German wheat beer after the presentation. That alone was worth the trip ;-)
</p>

<p class="wikiPara">
--Hardy</p>
</div>
