---
title: "Herbstcampus Nürnberg"
author: "Hardy Ferentschik"
blogger_name: "Hardy"
creation_date: "19-09-2008"
tags: [Hibernate Search]

relative_url: /2008/09/19/HerbstcampusNrnberg
slug: HerbstcampusNrnberg
lace: http://in.relation.to/9425.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/09/19/HerbstcampusNrnberg
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Just came back from Nürnberg where I was invited to present Hibernate Search at the Herbstcampus conference. It was the first year for this conference with the hope of making it an established yearly event. Given that already in the first year over 200 people showed up Herbstcampus might be on the right track.
</p>

<p class="wikiPara">
While in Nürnberg I started putting together a simple Hibernate Search demo. What I wanted was just the bare bone minimum to get things running. I ended up with a simple Swing GUI with a couple of buttons and a JTable. In case you are interested check <a href="http://www.hibernate.org/Documentation/HibernateSearchVanilla" target="" class="regularLink">it</a> out on the <a href="http://www.hibernate.org/37.html" target="" class="regularLink">Hibernate Wiki</a>.
</p>

<p class="wikiPara">
On the culinary side I had the luck that this week was also the yearly Nürnberger Altstadtfest. I ended up spending a couple of hours walking around the stalls and sampling some Nürnberger Rostbratwürste and <a href="http://en.wikipedia.org/wiki/Lebkuchen" target="" class="regularLink">Lebkuchen</a>. Yummi :)
</p>

<p class="wikiPara">
Finally some pictures from Nürnberg:
</p>

<p class="wikiPara">
<a href="/service/File/9427" target="" class="regularLink"><img src="/service/File/9427?thumbnail=true"></a> <a href="/service/File/9428" target="" class="regularLink"><img src="/service/File/9428?thumbnail=true"></a>
</p>


<p class="wikiPara">
--Hardy</p>
</div>
