---
title: "JBUG Munich"
author: "Hardy Ferentschik"
creation_date: "05-08-2008"
blogger_name: "Hardy"
layout: blog-post
tags: []
slug: JBUGMunich
lace: http://in.relation.to/9251.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Just waiting for my flight back to Sweden after being invited to present Hibernate Search at the monthly JBUG Munich meeting. I was pleasantly suprised that despite school holidays a respectable crowd showed up for the meeting. The feedback was throughout positiv and hopefully there are now a few new Search convertees spreading the word in Munich.
</p>

<p class="wikiPara">
One question which popped up was whether the performance of Hibernate Search is somehow quantifiable. Of course the same applies here for Hibernate Search as for Core (see <a href="http://www.hibernate.org/15.html" target="" class="regularLink"> http://www.hibernate.org/15.html</a>) - each application is different and it is hard to find a fair and compareable benchmark. I wonder though whether some specific benchmarks similar to the ones posted on the Lucene homepage would make sense.
</p>

<p class="wikiPara">
Last but not least - the highlight of the evening - German wheat beer after the presentation. That alone was worth the trip ;-)
</p>

<p class="wikiPara">
--Hardy</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'JBUGMunich';
    var disqus_title = 'JBUG Munich';
    var disqus_url = 'http://in.relation.to/9251.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
