---
title: "Hibernate Validator 4.0.1"
author: "Hardy Ferentschik"
blogger_name: "Hardy"
creation_date: "28-10-2009"
original_tags: []
tags: []

relative_url: /2009/10/28/hibernate-validator-401
slug: hibernate-validator-401
lace: http://in.relation.to/12648.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/10/28/hibernate-validator-401
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate Validator 4.0.1 is now available and can be downloaded from <a href="https://www.hibernate.org/6.html" target="" class="regularLink">here</a>. This release addresses issues discovered by the JCP integration efforts for <a href="http://jcp.org/en/jsr/detail?id=303" target="" class="regularLink">JSR-303</a>. Of course we used this opportunity to also fix some bugs identified by the community. Thanks for all the feedback. 
</p>

<p class="wikiPara">
Refer to the 4.0.1 <a href="http://opensource.atlassian.com/projects/hibernate/secure/ReleaseNote.jspa?projectId=10060&amp;version=10971" target="" class="regularLink">release notes</a> for a full list of changes. 
</p>

<p class="wikiPara">
Enjoy!</p>
</div>

