---
title: "Hibernate Validator 4.0.0 CR1"
author: "Hardy Ferentschik"
blogger_name: "Hardy"
layout: blog-post
tags: [Hibernate Validator]
slug: HibernateValidator400CR1
lace: http://in.relation.to/12235.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/HibernateValidator400CR1">Hibernate Validator 4.0.0 CR1</a>
                    </h1>
</div>
<p class="wikiPara">
The dust is settling around <a href="http://jcp.org/aboutJava/communityprocess/edr/jsr303/index.html" target="" class="regularLink">JSR-303</a> and we are happy to release <a href="https://sourceforge.net/projects/hibernate/files/hibernate-validator/4.0.0.CR1" target="" class="regularLink">Hibernate Validator 4.0.0.CR1</a>. With this release we will be going into feature freeze, especially since we aligned it with JBoss AS 5.2 and Glassfish for integration.
</p>

<p class="wikiPara">
Most of the work since Beta3 was spend on completing the Bean Validation TCK and ensuring that we cover all the assertions from the specification. We are really happy that we managed to create a TCK with readable and easy to understand tests. In fact, the TCK is an excellent source for usage examples. You can read more about the TCK on the <a href="http://www.hibernate.org/464.html" target="" class="regularLink">Bean Validation TCK</a> wiki page.
</p>

<p class="wikiPara">
Regarding the actual changes to the Hibernate Validator codebase refer to the <a href="http://opensource.atlassian.com/projects/hibernate/secure/ReleaseNote.jspa?version=10944&amp;styleName=Html&amp;projectId=10060&amp;Create=Create" target="" class="regularLink">Jira release notes</a>. From the changes listed there the following are worth mentioning seperately:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Hibernate Validator is now able to run in an environment with enabled SecurityManager (<a href="http://opensource.atlassian.com/projects/hibernate/browse/HV-171" target="" class="regularLink">HV-171</a>)</li>
<li class="wikiUnorderedListItem"> The package structure has changed from <i class="wikiEmphasis">org.hibernate.validation</i> to <i class="wikiEmphasis">org.hibernate.validator</i>
</li>
<li class="wikiUnorderedListItem"> And the main Provider class name has changed from <i class="wikiEmphasis">HibernateValidatorProvider</i> to <i class="wikiEmphasis">HibernateValidator</i>
</li>
</ul>

<p class="wikiPara">
Refer to the <a href="https://www.hibernate.org/468.html" target="" class="regularLink">Hibernate Validator Migration Guide</a> to see what this means for you.
</p>

<p class="wikiPara">
JBoss AS 5.2 beta is around the corner and it will have Bean Validation (Hibernate Validator) inside. Things are really coming together :)
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
