---
title: "Hibernate Search 3.1.1 GA"
author: "Hardy Ferentschik"
creation_date: "29-05-2009"
blogger_name: "Hardy"
layout: blog-post
tags: []
slug: HibernateSearch311GA
lace: http://in.relation.to/11607.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
With work on version 3.2 of Hibernate Search well underway and a range of very interesting features in the pipeline (eg programmatic configuration API, bulk indexing and dynamic boosting), we decided to provide some of the bug fixes also for the 3.1 version of Hibernate Search. Hence here is Hibernate Search 3.1.1 GA. On top of several bug fixes which are listed in the <a href="http://opensource.atlassian.com/projects/hibernate/secure/ReleaseNote.jspa?version=10880&amp;styleName=Text&amp;projectId=10061&amp;Create=Create" target="" class="regularLink">release notes</a> we also upgraded Lucene from 2.4 to 2.4.1. 
</p>

<p class="wikiPara">
We recommend users of version 3.1 to upgrade to 3.1.1 to come into the benefits of these bug fixes.
</p>

<p class="wikiPara">
You can download the release <a href="http://hibernate.org/6.html" target="" class="regularLink">here</a>. 
</p>

<p class="wikiPara">
enjoy! 
</p>
</div>
