---
title: "Hibernate Validator 4.0.0 Alpha2"
author: "Hardy Ferentschik"
creation_date: "03-03-2009"
blogger_name: "Hardy"
layout: blog-post
tags: []
slug: HibernateValidator400Alpha2
lace: http://in.relation.to/10777.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Following the Roadmap version  <a href="https://sourceforge.net/project/showfiles.php?group_id=40712&amp;package_id=225206" target="" class="regularLink">4.0.0 Alpha2</a> of Hibernate Validator is now available. This implementation is based on <a href="/Bloggers/HibernateValidator400Alpha2#attachment1" target="" class="regularLink">JSR 303 Specification 1.0.Beta4[1]</a>. The distribution contains everything you need to get started. If not let us know what you are 
missing.
</p>

<p class="wikiPara">
The main focus for this release was to implement groups, group sequences and the redefinition of the Default group for a class. Implicit grouping will be available in the next release. 
Next to the grouping feature <tt>ConstraintValidatorContext</tt> and <tt>TraversableResolver</tt> are now properly integrated in the implementation and all builtin constraints as per current spec are also supported.
</p>

<p class="wikiPara">
Naturally there were also several unrelated bug fixes, especially around the methods <tt>Validator.validateValue</tt> and <tt>Validator.validateProperty</tt>. Check the change log if you want to know more.
</p>

<p class="wikiPara">
It would be great if you could try out this release and provide us with some feedback.
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'HibernateValidator400Alpha2';
    var disqus_title = 'Hibernate Validator 4.0.0 Alpha2';
    var disqus_url = 'http://in.relation.to/10777.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
