---
title: "Hibernate Validator 4.0.0 Alpha2"
author: "Hardy Ferentschik"
blogger_name: "Hardy"
creation_date: "03-03-2009"
tags: []

relative_url: /2009/03/03/HibernateValidator400Alpha2
slug: HibernateValidator400Alpha2
lace: http://in.relation.to/10777.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/03/03/HibernateValidator400Alpha2
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Following the Roadmap version  <a href="https://sourceforge.net/project/showfiles.php?group_id=40712&amp;package_id=225206" target="" class="regularLink">4.0.0 Alpha2</a> of Hibernate Validator is now available. This implementation is based on <a href="/assets/JSR-303-Specification-1.0.Beta4.pdf" target="" class="regularLink">JSR 303 Specification 1.0.Beta4</a>. The distribution contains everything you need to get started. If not let us know what you are 
missing.
</p>

<p class="wikiPara">
The main focus for this release was to implement groups, group sequences and the redefinition of the Default group for a class. Implicit grouping will be available in the next release. 
Next to the grouping feature <tt>ConstraintValidatorContext</tt> and <tt>TraversableResolver</tt> are now properly integrated in the implementation and all builtin constraints as per current spec are also supported.
</p>

<p class="wikiPara">
Naturally there were also several unrelated bug fixes, especially around the methods <tt>Validator.validateValue</tt> and <tt>Validator.validateProperty</tt>. Check the change log if you want to know more.
</p>

<p class="wikiPara">
It would be great if you could try out this release and provide us with some feedback.
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
