---
title: "Hibernate Validator 4.1.0.CR1"
author: "Hardy Ferentschik"
blogger_name: "Hardy"
creation_date: "17-06-2010"
original_tags: [Hibernate Validator]
tags: [Hibernate Validator]

relative_url: /2010/06/17/hibernate-validator-410-cr-1
slug: hibernate-validator-410-cr-1
lace: http://in.relation.to/15886.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/06/17/hibernate-validator-410-cr-1
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate Validator 4.1.0.CR1 is now available. This is the last milestone build before the Final release. Not much has happened between Beta2 and CR1. 
The programmatic API as described in the <a href="http://in.relation.to/15699.lace" target="" class="regularLink">previous release blog entry</a> stayed as is and there were only three minor 
bug fixes. See <a href="http://opensource.atlassian.com/projects/hibernate/issues/?jql=project=10060%20AND%20fixVersion=11090" target="" class="regularLink">release notes</a> for details.
</p>

<p class="wikiPara">
Download as usual either from the JBoss Maven <a href="https://repository.jboss.org/nexus/content/repositories/public/org/hibernate/hibernate-validator/4.1.0.CR1" target="" class="regularLink">repo</a> or from <a href="https://sourceforge.net/projects/hibernate/files/hibernate-validator/4.1.0.CR1" target="" class="regularLink">SourceForge</a>.
</p>

<p class="wikiPara">
Ideas and suggestions are welcome on the <a href="http://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">Validator forum</a>. Let us know what you want to see in Validator post 4.1.0.
In case you find a bug create a jira issue in <a href="http://opensource.atlassian.com/projects/hibernate/browse/HV" target="" class="regularLink">HV</a>.
</p>

<p class="wikiPara">
Enjoy!</p>
</div>

