---
title: "Hibernate Validator 4.1.0.CR1"
author: "Hardy Ferentschik"
blogger_name: "Hardy"
layout: blog-post
tags: [Hibernate Validator]
slug: HibernateValidator410CR1
lace: http://in.relation.to/15886.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/HibernateValidator410CR1">Hibernate Validator 4.1.0.CR1</a>
                    </h1>
</div>
<p class="wikiPara">
Hibernate Validator 4.1.0.CR1 is now available. This is the last milestone build before the Final release. Not much has happened between Beta2 and CR1. 
The programmatic API as described in the <a href="http://in.relation.to/15699.lace" target="" class="regularLink">previous release blog entry</a> stayed as is and there were only three minor 
bug fixes. See <a href="http://opensource.atlassian.com/projects/hibernate/secure/ReleaseNote.jspa?projectId=10060&amp;version=11090" target="" class="regularLink">release notes</a> for details.
</p>

<p class="wikiPara">
Download as usual either from the JBoss Maven <a href="https://repository.jboss.org/nexus/content/repositories/public/org/hibernate/hibernate-validator/4.1.0.CR1" target="" class="regularLink">repo</a> or from <a href="https://sourceforge.net/projects/hibernate/files/hibernate-validator/4.1.0.CR1" target="" class="regularLink">SourceForge</a>.
</p>

<p class="wikiPara">
Ideas and suggestions are welcome on the <a href="http://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">Validator forum</a>. Let us know what you want to see in Validator post 4.1.0.
In case you find a bug create a jira issue in <a href="http://opensource.atlassian.com/projects/hibernate/browse/HV" target="" class="regularLink">HV</a>.
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
