---
title: "Hibernate Search 3.3.0.Beta3"
author: "Hardy Ferentschik"
blogger_name: "Hardy"
creation_date: "01-11-2010"
original_tags: [Hibernate,Hibernate Search]
tags: [Hibernate Search]

relative_url: /2010/11/01/hibernate-search-330-beta-3
slug: hibernate-search-330-beta-3
lace: http://in.relation.to/17622.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/11/01/hibernate-search-330-beta-3
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate Search 3.3.0.Beta3 is out with 12 freshly <q>squeezed</q> bugs. See the Jira <a href="http://opensource.atlassian.com/projects/hibernate/issues/?jql=project=10061%20AND%20fixVersion=11164" target="" class="regularLink">release notes</a> for a full list. Some of the more notable changes are:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://opensource.atlassian.com/projects/hibernate/browse/HSEARCH-405" target="" class="regularLink">HSEARCH-405</a> - Ability to specify a similarity implementation per index via the property hibernate.search.[index].similarity.</li>
<li class="wikiUnorderedListItem"> <a href="http://opensource.atlassian.com/projects/hibernate/browse/HSEARCH-374" target="" class="regularLink">HSEARCH-374</a> - Timeout support for full-text searches via FullTextQuery.setTimeout(). If the timeout exceed a QueryTimeoutException is thrown.</li>
<li class="wikiUnorderedListItem"> <a href="http://opensource.atlassian.com/projects/hibernate/browse/HSEARCH-603" target="" class="regularLink">HSEARCH-603</a> - Support pluggable services via org.hibernate.search.spi.ServiceProvider&lt;T&gt;. These services can be exposed to pluggable components like DirectoryProviders and ReaderProviders.</li>
<li class="wikiUnorderedListItem"> <a href="http://opensource.atlassian.com/projects/hibernate/browse/HSEARCH-569" target="" class="regularLink">HSEARCH-569</a> - Using the same global analyzer definition name more than once throws now an exception.</li>
</ul>

<p class="wikiPara">
We also forgot to mention in the previous <a href="http://in.relation.to/17425.lace" target="" class="regularLink">release blog</a> that we introduced a new artifact <i class="wikiEmphasis">org.hibernate:hibernate-search-analyzers</i>. This artifact is a replacement for <i class="wikiEmphasis">org.apache.solr:solr-core</i> when using the Solr analyzer framework. So far the namespace of the classes has not changed. Existing @AnalyzerDef definitions should continue to work.
</p>

<p class="wikiPara">
The next release in two weeks will be the <a href="http://opensource.atlassian.com/projects/hibernate/browse/HSEARCH/fixforversion/11165" target="" class="regularLink">CR1</a> release. Make sure to test this release and report problems early, either by creating a Jira issue in <a href="http://opensource.atlassian.com/projects/hibernate/browse/HSEARCH" target="" class="regularLink">HSEARCH</a> or starting a discussion on the Search <a href="https://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">forum</a>.
</p>

<p class="wikiPara">
You can download the release from the JBoss Maven <a href="http://repository.jboss.org/nexus/content/groups/public-jboss/org/hibernate/hibernate-search/3.3.0.Beta3" target="" class="regularLink">repository</a> or from <a href="http://sourceforge.net/projects/hibernate/files/hibernate-search/3.3.0.Beta3/" target="" class="regularLink">SourceForge</a>. The documentation is available <a href="http://docs.jboss.org/hibernate/search/3.3/reference/en-US/" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
--Hardy
</p>
</div>

