---
title: "Micro release - Hibernate Metamodel Generator 1.1.1.Final"
author: "Hardy Ferentschik"
blogger_name: "Hardy"
layout: blog-post
tags: []
slug: MicroReleaseHibernateMetamodelGenerator111Final
lace: http://in.relation.to/17856.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/MicroReleaseHibernateMetamodelGenerator111Final">Micro release - Hibernate Metamodel Generator 1.1.1.Final</a>
                    </h1>
</div>
<p class="wikiPara">
Hibernate Metamodel Generator 1.1.1.Final is available for download from the <a href="https://repository.jboss.org/nexus/content/repositories/public/org/hibernate/hibernate-jpamodelgen/1.1.1.Final" target="" class="regularLink">JBoss Maven repo</a> or from <a href="http://sourceforge.net/projects/hibernate/files/hibernate-jpamodelgen/1.1.1.Final" target="" class="regularLink">SourceForge</a>. 
This micro release addresses <a href="http://opensource.atlassian.com/projects/hibernate/browse/METAGEN-49" target="" class="regularLink">METAGEN-49</a> which can cause a ConcurrentModificationException in cases where xml and annotation based configuration are mixed. Hopefully this bug did not cause too much trouble.
</p>

<p class="wikiPara">
--Hardy</p>
</div>
