---
title: "Hibernate Validator 4.1.0.Final has landed ..."
author: "Hardy Ferentschik"
blogger_name: "Hardy"
creation_date: "28-06-2010"
tags: [Bean Validation,Hibernate Validator]

relative_url: /2010/06/28/hibernate-validator-410-final-has-landed
slug: hibernate-validator-410-final-has-landed
lace: http://in.relation.to/15996.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/06/28/hibernate-validator-410-final-has-landed
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
There are no functional changes between CR1 and this Final release. Some minor issues in the @Min, @Max and @EmailValidator
got fixed (<a href="http://opensource.atlassian.com/projects/hibernate/browse/HV-335" target="" class="regularLink">HV-335</a>, <a href="http://opensource.atlassian.com/projects/hibernate/browse/HV-339" target="" class="regularLink">HV-339</a>) as well
as some documentation typos. We also spend some time improving the parsing and validation speed by reviewing and improving some reflection based code
(<a href="http://opensource.atlassian.com/projects/hibernate/browse/HV-340" target="" class="regularLink">HV-340</a>, <a href="http://opensource.atlassian.com/projects/hibernate/browse/HV-341" target="" class="regularLink">HV-341</a>, <a href="http://opensource.atlassian.com/projects/hibernate/browse/HV-342" target="" class="regularLink">HV-342</a>). Review the full <a href="http://opensource.atlassian.com/projects/hibernate/secure/ReleaseNote.jspa?projectId=10060&amp;version=11091" target="" class="regularLink">release notes</a> for details.
</p>

<p class="wikiPara">
Download as usual either from the JBoss Maven <a href="https://repository.jboss.org/nexus/content/repositories/public/org/hibernate/hibernate-validator/4.1.0.Final" target="" class="regularLink">repo</a> or from <a href="https://sourceforge.net/projects/hibernate/files/hibernate-validator/4.1.0.Final" target="" class="regularLink">SourceForge</a>.
</p>

<p class="wikiPara">
There are already several issues on the <a href="http://opensource.atlassian.com/projects/hibernate/browse/HV/fixforversion/11030" target="" class="regularLink">4.2 roadmap</a>, but we are welcoming ideas and suggestions for the next release on the <a href="https://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">Validator Forum</a>. One of the major new features will most likely be method-level validation (as specified in Appendix C of the Bean Validation specification) as well. 
</p>

<p class="wikiPara">
Stay tuned!
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Amendment</i>: Gunnar did a great job summarizing the new features of Hibernate Validator 4.1 on his <a href="http://musingsofaprogrammingaddict.blogspot.com/2010/06/whats-new-in-hibernate-validator-41.html" target="" class="regularLink">blog</a>. And of course we covered already most of the new features here as well. See <a href="http://in.relation.to/15699.lace" target="" class="regularLink">programmatic constraint configuration</a>, <a href="http://in.relation.to/14950.lace" target="" class="regularLink">ResourceBundleLocator and @ScriptAssert</a>.</p>
</div>

