---
title: "Hibernate Core 4.0.0.Beta5"
author: "Hardy Ferentschik"
blogger_name: "Hardy"
layout: blog-post
tags: []
slug: HibernateCore400Beta5
lace: http://in.relation.to/21442.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/HibernateCore400Beta5">Hibernate Core 4.0.0.Beta5</a>
                    </h1>
</div>
<p class="wikiPara">
Hibernate Core 4.0.0.Beta5 has just been released. The complete list of changes can be found in JIRA <a href="https://hibernate.onjira.com/secure/ReleaseNote.jspa?projectId=10031&amp;version=11251" target="" class="regularLink">release notes</a>. Things are moving along with the main focus on the new metamodel and its integration into the Core engine.
</p>

<p class="wikiPara">
The release is available from SourceForge in <a href="https://sourceforge.net/projects/hibernate/files/hibernate4/4.0.0.Beta5" target="" class="regularLink">bundle form</a> as well as from the JBoss Nexus repository under the <i class="wikiEmphasis">org.hibernate</i> groupId.
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
