---
title: "JUDCon 2011:London - OGM Introduction Demo"
author: "Hardy Ferentschik"
blogger_name: "Hardy"
creation_date: "03-11-2011"
original_tags: []
tags: []

relative_url: /2011/11/03/judcon-2011-london-ogm-introduction-demo
slug: judcon-2011-london-ogm-introduction-demo
lace: http://in.relation.to/22244.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/11/03/judcon-2011-london-ogm-introduction-demo
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Fresh back from <a href="http://www.jboss.org/events/JUDCon/2011/london" target="" class="regularLink">JUDCon 2011:London</a>, I quickly want to blog about my <a href="http://ogm.hibernate.org" target="" class="regularLink">Hibernate OGM</a> presentation. For the impatient, all the code and the presentation itself is available on GitHub - <a href="https://github.com/hferentschik/ogm-kitchensink" target="" class="regularLink">ogm-kitchensink</a>. The <a href="https://github.com/hferentschik/ogm-kitchensink/blob/master/README.md" target="" class="regularLink">README.md</a> gets you started with building, testing and deploying the code. Deployment is possible into a local <a href="http://www.jboss.org/as7" target="" class="regularLink">JBoss AS 7</a> instance as well as into <a href="https://openshift.redhat.com" target="" class="regularLink">OpenShift Express</a>.
</p>

<p class="wikiPara">
The demo is based on the AS 7 quickstart application <a href="https://github.com/jbossas/quickstart/tree/master/kitchensink" target="" class="regularLink">kitchensink</a> and shows a registration screen with name, email and phone number. Even though this is a very simple application there are several interesting things going on under the hood, most importantly the use of OGM :-) 
</p>

<h3 class="wikiHeadline3" id="H-AS7Modules"><a href="/2011/11/03/judcon-2011-london-ogm-introduction-demo#H-AS7Modules">AS 7 modules</a></h3>
<p class="wikiPara">
The demo uses OGM in the version 3.0.0.Alpha2 which requires Hibernate Core 3.6. However, AS 7 ships with Hibernate 4. The solution to this problem is to define a Hibernate 3 module as described by Scott in <q><a href="http://in.relation.to/21601.lace" target="" class="regularLink">Using a different persistence provider with AS 7.0.1 </a></q>. The demo does exactly that. In fact it actually bundles all the steps described in the blog and let you create the required modules via a single maven command. Just check out ogm-kitchensink, make sure your JBOSS_HOME variable is set properly and run:</p>
<pre class="wikiPreformatted">
mvn groovy:execute
</pre>

This will copy all required module jars and configuration files into the appropriate location of your local AS 7 instance.


<h3 class="wikiHeadline3" id="H-RunningTheDemoLocally"><a href="/2011/11/03/judcon-2011-london-ogm-introduction-demo#H-RunningTheDemoLocally">Running the demo locally</a></h3>
<p class="wikiPara">
Provided you have installed the modules and started JBoss AS, you can run the demo locally as simple as:</p>
<pre class="wikiPreformatted">
mvn clean package jboss-as:deploy
</pre>



<h3 class="wikiHeadline3" id="H-Arquillian"><a href="/2011/11/03/judcon-2011-london-ogm-introduction-demo#H-Arquillian">Arquillian</a></h3>
<p class="wikiPara">
Of course the demo comes with a test. Check out <u><a href="https://github.com/hferentschik/ogm-kitchensink/blob/master/src/test/java/org/jboss/as/quickstarts/kitchensink/test/MemberRegistrationTest.java" target="" class="regularLink">MemberRegistrationTest</a></u> to see how to put together a <a href="http://www.jboss.org/arquillian" target="" class="regularLink">Arquillian</a> test and then run the test either via:</p>
<pre class="wikiPreformatted">
$ mvn test 
</pre>

or <pre class="wikiPreformatted">
$ mvn test -DremoteTests=true
</pre>

Check the profile setup in <u><a href="https://github.com/hferentschik/ogm-kitchensink/blob/master/pom.xml" target="" class="regularLink">pom.xml</a></u> to see the difference in the configuration.


<h3 class="wikiHeadline3" id="H-OpenShiftExpress"><a href="/2011/11/03/judcon-2011-london-ogm-introduction-demo#H-OpenShiftExpress">OpenShift Express</a></h3>
<p class="wikiPara">
Last but not least, let's push the demo into OpenShift Express. This is as simple as signing up for OpenShift, installing the <i class="wikiEmphasis">rhc</i> command line tools and then running:</p>
<pre class="wikiPreformatted">
 $ rhc-create-domain -n &lt;domain&gt;
 $ rhc-create-app -a &lt;app&gt; -t jbossas-7.0 --nogit
...
Success!  Your application is now published here:

      http://&lt;name&gt;-&lt;domain&gt;.rhcloud.com/

The remote repository is located here:

    &lt;repo-url&gt;
...
 $ git remote add openshift &lt;repo-url&gt;
 $ git push -f openshift master
</pre>

The interesting bit here is to get the required modules installed on the server side. It turns out, all you have to do is to check add them to the git repository under <i class="wikiEmphasis">.openshift/modules</i>.


<p class="wikiPara">
Again, check out <a href="https://github.com/hferentschik/ogm-kitchensink/blob/master/README.md" target="" class="regularLink">README.md</a>, <a href="https://github.com/hferentschik/ogm-kitchensink/blob/master/presentation/script.md" target="" class="regularLink">script.md</a> and the <a href="https://github.com/hferentschik/ogm-kitchensink/blob/master/presentation/ogm-intro.pdf" target="" class="regularLink">presentation slides</a> for more information.
</p>

<p class="wikiPara">
Looking forward to some feedback,
</p>

<p class="wikiPara">
Hardy
</p>


</div>

