---
title: "Hibernate Core 4.0.0.Beta5"
author: "Hardy Ferentschik"
blogger_name: "Hardy"
creation_date: "03-08-2011"
original_tags: []
tags: []

relative_url: /2011/08/03/hibernate-core-400-beta-5
slug: hibernate-core-400-beta-5
lace: http://in.relation.to/21442.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/08/03/hibernate-core-400-beta-5
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate Core 4.0.0.Beta5 has just been released. The complete list of changes can be found in JIRA <a href="https://hibernate.onjira.com/issues/?jql=project=10031%20AND%20fixVersion=11251" target="" class="regularLink">release notes</a>. Things are moving along with the main focus on the new metamodel and its integration into the Core engine.
</p>

<p class="wikiPara">
The release is available from SourceForge in <a href="https://sourceforge.net/projects/hibernate/files/hibernate4/4.0.0.Beta5" target="" class="regularLink">bundle form</a> as well as from the JBoss Nexus repository under the <i class="wikiEmphasis">org.hibernate</i> groupId.
</p>

<p class="wikiPara">
Enjoy!</p>
</div>

