---
title: "Hibernate Validator 4.3.0.CR1"
author: "Hardy Ferentschik"
blogger_name: "Hardy"
creation_date: "30-04-2012"
original_tags: []
tags: []

relative_url: /2012/04/30/hibernate-validator-430-cr-1
slug: hibernate-validator-430-cr-1
lace: http://in.relation.to/23150.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/04/30/hibernate-validator-430-cr-1
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate Validator 4.3.0.CR1 has just arrived. This release is hopefully the last stepping stone to 4.3.0.Final. As mentioned <a href="http://in.relation.to/22988.lace" target="" class="regularLink">before</a> we want to get 4.3
out as fast as possible, so that we can start working on Hibernate Validator 5 (aligning with
Bean Validation 1.1).
</p>

<p class="wikiPara">
Aside of some minor bug fixes (<a href="https://hibernate.onjira.com/browse/HV-572" target="" class="regularLink">HV-572</a>, <a href="https://hibernate.onjira.com/browse/HV-573" target="" class="regularLink">HV-573</a>, <a href="https://hibernate.onjira.com/browse/HV-574" target="" class="regularLink">HV-574</a>, <a href="https://hibernate.onjira.com/browse/HV-575" target="" class="regularLink">HV-575</a>), this release is all about performance. We wanted to
make sure that you get a Hibernate Validator which is at least as fast as the previous versions. To prove that, we introduced a new module <i class="wikiEmphasis">performance</i> which allows us to easier compare the performance of different validator
releases. For more information have a look at this <a href="https://github.com/hibernate/hibernate-validator/tree/master/performance" target="" class="regularLink">readme</a>.
</p>

<p class="wikiPara">
On important fact which is a side effect of the introduction of JBoss Logging is that even though the
API of Validator 4.3 is backwards compatible with 4.2, you need now a <u>Java 6</u> runtime environment
(see also <a href="https://hibernate.onjira.com/browse/HV-569" target="" class="regularLink">HV-569</a> and <a href="https://hibernate.onjira.com/browse/HV-481" target="" class="regularLink">HV-481</a>). We believe this should not a big issue and it is
time to move on, but if you think differently, speak now or forever hold your peace! ;-)
</p>

<p class="wikiPara">
Hibernate Validator 4.3.0.CR1 is available for download in the <a href="http://repository.jboss.org/nexus" target="" class="regularLink">JBoss Maven Repository</a> under the GAV <i class="wikiEmphasis">org.hibernate:hibernate-validator:4.3.0.CR1</i> or via <a href="http://sourceforge.net/projects/hibernate/files/hibernate-validator/4.3.0.CR1" target="" class="regularLink">SourceForge</a>.
Read the <a href="https://hibernate.onjira.com/issues/?jql=project=10060%20AND%20fixVersion=11953" target="" class="regularLink">changelog</a> for a list of all chnges and make sure to check the <a href="https://community.jboss.org/wiki/HibernateValidatorMigrationGuide" target="" class="regularLink">Hibernate Validator Migration Guide</a> as well.
</p>

<p class="wikiPara">
Let us know what you think via the <a href="https://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">forum</a> or the project <a href="http://opensource.atlassian.com/projects/hibernate/browse/HV" target="" class="regularLink">issue tracker</a>.
</p>

<p class="wikiPara">
Enjoy!</p>
</div>

