---
title: "Hibernate Metamodel Generator 1.2.0.Final"
author: "Hardy Ferentschik"
blogger_name: "Hardy"
creation_date: "06-03-2012"
tags: []

relative_url: /2012/03/06/hibernate-metamodel-generator-120-final
slug: hibernate-metamodel-generator-120-final
lace: http://in.relation.to/22982.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/03/06/hibernate-metamodel-generator-120-final
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I just wanted to announce the promotion of the Hibernate Metamodel Generator <a href="http://in.relation.to/Bloggers/HibernateMetamodelGenerator120CR1" target="" class="regularLink">1.2.0.CR1</a> release to 1.2.0.Final.
</p>

<p class="wikiPara">
There is nothing more to say, except that you can download the release from the <a href="https://repository.jboss.org/nexus/content/repositories/public/org/hibernate/hibernate-jpamodelgen/1.2.0.Final" target="" class="regularLink">JBoss Maven repo</a> or from <a href="http://sourceforge.net/projects/hibernate/files/hibernate-jpamodelgen/1.2.0.Final" target="" class="regularLink">SourceForge</a>. 
</p>

<p class="wikiPara">
Enjoy!</p>
</div>

