---
title: "Hibernate Metamodel Generator 1.2.0.Final"
author: "Hardy Ferentschik"
blogger_name: "Hardy"
layout: blog-post
tags: []
slug: HibernateMetamodelGenerator120Final
lace: http://in.relation.to/22982.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/HibernateMetamodelGenerator120Final">Hibernate Metamodel Generator 1.2.0.Final</a>
                    </h1>
</div>
<p class="wikiPara">
I just wanted to announce the promotion of the Hibernate Metamodel Generator <a href="http://in.relation.to/Bloggers/HibernateMetamodelGenerator120CR1" target="" class="regularLink">1.2.0.CR1</a> release to 1.2.0.Final.
</p>

<p class="wikiPara">
There is nothing more to say, except that you can download the release from the <a href="https://repository.jboss.org/nexus/content/repositories/public/org/hibernate/hibernate-jpamodelgen/1.2.0.Final" target="" class="regularLink">JBoss Maven repo</a> or from <a href="http://sourceforge.net/projects/hibernate/files/hibernate-jpamodelgen/1.2.0.Final" target="" class="regularLink">SourceForge</a>. 
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
