---
title: "CR2 x 2 - Hibernate Validator 5.0.0.CR2 and Bean Validation TCK 1.1.0.CR2 are out"
author: "Hardy Ferentschik"
blogger_name: "Hardy"
layout: blog-post
tags: []
slug: CR2X2HibernateValidator500CR2AndBeanValidationTCK110CR2AreOut
lace: http://in.relation.to/23999.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/CR2X2HibernateValidator500CR2AndBeanValidationTCK110CR2AreOut">CR2 x 2 - Hibernate Validator 5.0.0.CR2 and Bean Validation TCK 1.1.0.CR2 are out</a>
                    </h1>
</div>
<p class="wikiPara">
With the endgame for Bean Validation 1.1 in full swing, we want to make sure that everyone has the chance to test and integrate early. 
So without further ado:
</p>

<h2 class="wikiHeadline2" id="H-BeanValidationTCK110CR2"><a href="/Bloggers/CR2X2HibernateValidator500CR2AndBeanValidationTCK110CR2AreOut#H-BeanValidationTCK110CR2">Bean Validation TCK 1.1.0.CR2</a></h2>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Maven artefacts on the <a href="https://repository.jboss.org/" target="" class="regularLink">JBoss Maven repository</a> under the GAV <i class="wikiEmphasis">org.hibernate.beanvalidation.tck:beanvalidation-tck-tests:1.1.0.CR2</i>
</li>
<li class="wikiUnorderedListItem"> Zip and tar bundles on <a href="https://sourceforge.net/projects/hibernate/files/beanvalidation-tck/1.1.0.CR2" target="" class="regularLink">SourceForge</a>
</li>
</ul>

<h2 class="wikiHeadline2" id="H-HibernateValidator500CR2"><a href="/Bloggers/CR2X2HibernateValidator500CR2AndBeanValidationTCK110CR2AreOut#H-HibernateValidator500CR2">Hibernate Validator 5.0.0.CR2</a></h2>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Maven artefacts on the <a href="https://repository.jboss.org/" target="" class="regularLink">JBoss Maven repository</a> under the GAV <i class="wikiEmphasis">org.hibernate:hibernate-validator:5.0.0.CR2</i>
</li>
<li class="wikiUnorderedListItem"> Zip and tar bundles on <a href="http://sourceforge.net/projects/hibernate/files/hibernate-validator/5.0.0.CR2" target="" class="regularLink">SourceForge</a>
</li>
</ul>

<p class="wikiPara">
The TCK work has been about increasing test coverage - see <a href="https://hibernate.onjira.com/browse/BVTCK-42" target="" class="regularLink">BVTCK-42</a>, whereas Hibernate Validator
work was focused around these <a href="https://hibernate.onjira.com/secure/ReleaseNote.jspa?projectId=10060&amp;version=12754" target="" class="regularLink">17</a> issues. Most notably is the rework of the CDI integration via a portable extension (<a href="https://hibernate.onjira.com/browse/HV-723" target="" class="regularLink">HV-723</a>, <a href="https://hibernate.onjira.com/browse/HV-740" target="" class="regularLink">HV-740</a>). 
</p>

<p class="wikiPara">
Enjoy! </p>
</div>
