---
title: "In unison release of Bean Validation TCK 1.1.0.Beta3 and Hibernate Validator 5.0.0.Beta1"
author: "Hardy Ferentschik"
creation_date: "06-02-2013"
blogger_name: "Hardy"
layout: blog-post
tags: []
slug: InUnisonReleaseOfBeanValidationTCK110Beta3AndHibernateValidator500Beta1
lace: http://in.relation.to/23938.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Playing catchup with <a href="http://beanvalidation.org/news/2013/02/01/bean-validation-1-1-beta3-last-line" target="" class="regularLink">last week's</a> Bean Valdiation specification release (1.1.0.Beta3) we are happy to make the following releases available as well:
</p>

<h2 class="wikiHeadline2" id="H-BeanValidationTCK110Beta3"><a href="/Bloggers/InUnisonReleaseOfBeanValidationTCK110Beta3AndHibernateValidator500Beta1#H-BeanValidationTCK110Beta3">Bean Validation TCK 1.1.0.Beta3</a></h2>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Maven artefacts on the <a href="https://repository.jboss.org/" target="" class="regularLink">JBoss Maven repository</a> under the GAV <i class="wikiEmphasis">org.hibernate.beanvalidation.tck:beanvalidation-tck-tests:1.1.0.Beta3</i>
</li>
<li class="wikiUnorderedListItem"> Zip and tar bundles on <a href="https://sourceforge.net/projects/hibernate/files/beanvalidation-tck/1.1.0.Beta3" target="" class="regularLink">SourceForge</a>
</li>
</ul>

<h2 class="wikiHeadline2" id="H-HibernateValidator500Beta1"><a href="/Bloggers/InUnisonReleaseOfBeanValidationTCK110Beta3AndHibernateValidator500Beta1#H-HibernateValidator500Beta1">Hibernate Validator 5.0.0.Beta1</a></h2>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Maven artefacts on the <a href="https://repository.jboss.org/" target="" class="regularLink">JBoss Maven repository</a> under the GAV <i class="wikiEmphasis">org.hibernate:hibernate-validator:5.0.0.Beta1</i>
</li>
<li class="wikiUnorderedListItem"> Zip and tar bundles on <a href="http://sourceforge.net/projects/hibernate/files/hibernate-validator/5.0.0.Beta1" target="" class="regularLink">SourceForge</a>
</li>
</ul>

<p class="wikiPara">
Given that the specification addressed <a href="https://hibernate.onjira.com/secure/ReleaseNote.jspa?projectId=10090&amp;version=12551" target="" class="regularLink">38</a> issues in its latest release, we were not quite able to sync the TCK and RI completely. There are still some missing TCK tests and the RI has missing features as well. For example, the XML configuration of method validation is still work in progress (see <a href="https://hibernate.onjira.com/browse/HV-373" target="" class="regularLink">HV-373</a>). 
</p>

<p class="wikiPara">
The TCK addresses <a href="https://hibernate.onjira.com/secure/ReleaseNote.jspa?projectId=10100&amp;version=12652" target="" class="regularLink">6</a> issues and Hibernate Validator <a href="https://hibernate.onjira.com/browse/HV/fixforversion/12553" target="" class="regularLink">36</a>. In case you are wondering, the main work in the TCK was the addition of test for new Bean Validation 1.1 features. This was addressed in <a href="https://hibernate.onjira.com/browse/BVTCK-32" target="" class="regularLink">BVTCK-32</a> which alone has 12 pull requests. Feel free to review the tests to verify that we are on the right track ;-)
</p>

<p class="wikiPara">
Most notably we are behind with documentation though. Both, the <a href="http://docs.jboss.org/hibernate/beanvalidation/tck/1.1/reference/html_single/" target="" class="regularLink">TCK docs</a> as well as the <a href="http://docs.jboss.org/hibernate/validator/5.0/reference/en-US/html_single/" target="" class="regularLink">Hibernate Validator docs</a> could need some love. Ever wanted to contribute, but did not know how? Here is your chance! Contact us via email or use the <a href="https://hibernate.onjira.com/" target="" class="regularLink">issue tracker</a>.
</p>

<p class="wikiPara">
Last but not least, here is a little teaser about what is new in this release. As of <a href="https://hibernate.onjira.com/browse/HV-676" target="" class="regularLink">HV-676</a> it is now possible to use the Unified Expression Language (UEL) in the constraint message descriptors. We offered something in this direction before with <i class="wikiEmphasis">ValueFormatterMessageInterpolator</i> (which is by the way deprecated now), but there we offered only a way to format the validated value. Now you can interpolate the constraint annotation paramters as well and you can navigate the objects via the dot notation. And you can even have conditional messages. Here are a couple of examples:</p>
<pre class="wikiPreformatted">

    # ternary operator for conditional DecimalMax constraints - see also HV-256
    javax.validation.constraints.DecimalMax.message  = must be less than ${inclusive == true ? 'or equal to ' : ''}{value}

    # a custom date range annotation with custom formatted validated date
    com.acme.DateRange.message = the specified date ${formatter.format('%1%tY-%tm-%td', validatedValue)} lies not between formatter.format('%1%tY-%tm-%td', min)} and formatter.format('%1%tY-%tm-%td', max)}</pre>

There is another release at least of Hibernate Validator planned for next week. So stay tuned.


<p class="wikiPara">
Enjoy! </p>
</div>
