---
title: "Hibernate Search 5.0.0.CR2"
author: "Hardy Ferentschik"
blogger_name: "Hardy"
creation_date: "12-12-2014"
tags: [Hibernate Search]

relative_url: /2014/12/12/hibernate-search-500-cr-2
slug: hibernate-search-500-cr-2
lace: http://in.relation.to/41260.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2014/12/12/hibernate-search-500-cr-2
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
While working on the finishing touches for Hibernate Search 5 and updating the projects integrating with Hibernate Search, we discovered a couple of issues which we needed to address to proceed. So without further ado, here comes:
</p>

<h2 class="wikiHeadline2" id="H-HibernateSearch500CR2"><a href="/2014/12/12/hibernate-search-500-cr-2#H-HibernateSearch500CR2">Hibernate Search 5.0.0.CR2</a></h2>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Full change log available on <a href="https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10061&amp;version=18852" target="" class="regularLink">Jira</a>
</li>
<li class="wikiUnorderedListItem"> Jars available on the <a href="https://repository.jboss.org/" target="" class="regularLink">JBoss Maven repository</a> under the GAV <i class="wikiEmphasis">org.hibernate:hibernate-search-orm:5.0.0.CR2</i>
</li>
<li class="wikiUnorderedListItem"> Zip and tar bundles on <a href="https://sourceforge.net/projects/hibernate/files/hibernate-search/5.0.0.CR2" target="" class="regularLink">SourceForge</a>
</li>
</ul>

<p class="wikiPara">
Enjoy! </p>
</div>

