---
title: "Hibernate Metamodel Generator has moved"
author: "Hardy Ferentschik"
blogger_name: "Hardy"
creation_date: "16-01-2014"
tags: [Hibernate Metamodel Generator]

absolute_url: http://in.relation.to/2014/01/16/HibernateMetamodelGeneratorHasMoved
lace: http://in.relation.to/24790.lace
slug: HibernateMetamodelGeneratorHasMoved

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
This is just a quick note that the Hibernate Metamodel Generator code has moved and is now, as of version 4.3.0.Final, part of Hibernate ORM. You can find it in the <i class="wikiEmphasis"><a href="https://github.com/hibernate/hibernate-orm/tree/master/tooling/metamodel-generator" target="" class="regularLink">tooling/metamodel-generator</a></i> sub-directory of ORM. Unfortunately this news have been falling under the table during the announcement of <a href="http://in.relation.to/24664.lace" target="" class="regularLink">ORM 4.3.0.Final</a>. After all the focus was on JPA 2.1 support :-) 
</p>

<p class="wikiPara">
There are several reasons for the move. For one, we hope that the generator will get a greater exposure within the ORM code-base and that it will benefit from the more regular ORM release schedule. For another, the generator fitted nicely into the newly created collection of Hibernate ORM tooling artifacts (check for example the maven/gradle plugins for byte code enhancement). Code wise nothing has changed. The annotation processor is still agnostic of the JPA provider and can be used with <i class="wikiEmphasis">any</i> provider to generate the metamodel classes for type-safe criteria queries. So what has changed:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> The code location. It is now <a href="https://github.com/hibernate/hibernate-orm/tree/master/tooling/metamodel-generator" target="" class="regularLink">https://github.com/hibernate/hibernate-orm/tree/master/tooling/metamodel-generator</a>
</li>
<li class="wikiUnorderedListItem"> The Maven GAV. Even though the group and artifact id stay the same, there is now a version jump from 1.3.0.Final (the last release from the <a href="https://github.com/hibernate/hibernate-metamodelgen" target="" class="regularLink">old repository</a>) to 4.3.0.Final (latest stable ORM release): <pre class="wikiPreformatted">org.hibernate:hibernate-jpamodelgen:4.3.0.Final</pre>
 </li>
<li class="wikiUnorderedListItem"> The documentation. It is now part of the ORM - see <a href="http://docs.jboss.org/hibernate/stable/orm/topical/html/metamodelgen/MetamodelGenerator.html" target="" class="regularLink">JPA Static Metamodel Generator</a>
</li>
<li class="wikiUnorderedListItem"> The issue tracker. Please use the Hibernate ORM <a href="https://hibernate.atlassian.net/browse/HHH" target="" class="regularLink">issue tracker</a> for bug reports and select the <i class="wikiEmphasis">metagen</i> component to make it easier for us to categorize bugs</li>
</ul>

<p class="wikiPara">
Enjoy!
</p>
</div>
