---
title: "Hibernate Search 5.0.0.Beta2 released"
author: "Hardy Ferentschik"
creation_date: "13-11-2014"
blogger_name: "Hardy"
layout: blog-post
tags: [Hibernate,Hibernate Search]
slug: HibernateSearch500Beta2Released
lace: http://in.relation.to/37061.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I am happy keep the Hibernate Search 5 release train rolling by announcing Hibernate Search
5.0.0.Beta2. Download it from the <a href="http://repository.jboss.org/nexus" target="" class="regularLink">JBoss Maven Repository</a>
using the GAV <tt>org.hibernate:hibernate-search:5.0.0.Beta2</tt> or from <a href="http://sourceforge.net/projects/hibernate/files/hibernate-search/5.0.0.Beta2" target="" class="regularLink">SourceForge</a>. The full change log is available via the
<a href="https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10061&amp;version=17251" target="" class="regularLink">JIRA release notes</a>.
</p>

<p class="wikiPara">
As Sanne mentioned on the Beta1 <a href="http://in.relation.to/35971.lace" target="" class="regularLink">release blog</a>, it is all about
getting the final release of Search 5 over the finish line. The resolved issues are mostly minor and center
around polishing API and documentation. In particular the geospatial support got a bit of an overhaul.
One issue, however, stands out of the crowd - <a href="https://hibernate.atlassian.net/browse/HSEARCH-1699" target="" class="regularLink">HSEARCH-1699</a>.
It deals with how synchronous index updates are applied. You as user are probably only
interested in the indexing performance you gain (our initial tests show they are considerable and we will follow
up with some numbers). Still, in case you want to know more, refer to the JIRA issue which outlines the gory details.
</p>

<p class="wikiPara">
Make your voice heard and give us your feedback, for example via the <a href="http://www.hibernate.org/community/mailinglists" target="" class="regularLink">mailing list</a> or on <a href="http://www.hibernate.org/community/irc" target="" class="regularLink">IRC</a>.
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
