%p
  Hibernate Search is a library that
  integrates Hibernate ORM with Apache Lucene or Elasticsearch
  by automatically indexing entities,
  enabling advanced search functionality: full-text, geospatial, aggregations and more.
  For more information, see
  %a(href='https://hibernate.org/search/') Hibernate Search on hibernate.org.
