---
title: "Small Gotcha with SEAM-99"
author: "Jason Porter"
blogger_name: "JasonP"
creation_date: "06-12-2011"
original_tags: []
tags: [Seam]

relative_url: /2011/12/06/small-gotcha-with-seam-99
slug: small-gotcha-with-seam-99
lace: http://in.relation.to/22552.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/12/06/small-gotcha-with-seam-99
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
For those of you tracking Seam 3 releases and bug fixes, you might have seen <a href="https://issues.jboss.org/browse/SEAM-99" target="" class="regularLink">SEAM-99</a> was fixed with Seam 3.1.0.CR1 we released last week. I just discovered a small gotcha when using non-JTA transactions. If you are, your EntityManager must <i class="wikiEmphasis">not</i> be scoped <tt>@ConversationScoped</tt> or it will fail on every request.
</p>

<p class="wikiPara">
We prefer JTA and hope the majority of our users do as well, but some may choose to simply use transactions from the <tt>EntityManager</tt>, which is fine too. Just be aware of that little gotcha if you are not using JTA.</p>
</div>

