---
title: "Seam 3 Examples"
author: "Jason Porter"
creation_date: "24-02-2012"
blogger_name: "JasonP"
layout: blog-post
tags: []
slug: Seam3Examples
lace: http://in.relation.to/22952.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I wrote up an entry about some Seam 3 examples over at my <a href="https://community.jboss.org/blogs/lightguardjp/2012/02/24/seam-3-examples" target="" class="regularLink">JBoss Community Blog</a>. Check it out if you're interested in more examples.</p>
</div>
