---
title: "Spring and JBoss Webinar on June 2nd"
author: "Marius Bogoevici"
blogger_name: "Marius"
layout: blog-post
tags: []
slug: SpringAndJBossWebinarOnJune2nd
lace: http://in.relation.to/15659.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/SpringAndJBossWebinarOnJune2nd">Spring and JBoss Webinar on June 2nd</a>
                    </h1>
</div>
<p class="wikiPara">
I'm happy to invite you to attend the <q>Spring into JBoss</q> webinar on June 2nd. Everyone using Spring and running their applications on JBoss (or planning to do so) <i class="wikiEmphasis">must</i> attend. 
</p>

<p class="wikiPara">
You can find more details about the webinar <a href="https://inquiries.redhat.com/go/redhat/20100602SpringintoJBoss" target="" class="regularLink">here</a>. 
</p>

<p class="wikiPara">
Oh, and in case you really cannot make it - no worries, the webinar is recorded and you'll be able to watch it whenever you have time.</p>
</div>
