---
title: "Spring and JBoss Webinar on June 2nd"
author: "Marius Bogoevici"
creation_date: "27-05-2010"
blogger_name: "Marius"
layout: blog-post
tags: []
slug: SpringAndJBossWebinarOnJune2nd
lace: http://in.relation.to/15659.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to invite you to attend the <q>Spring into JBoss</q> webinar on June 2nd. Everyone using Spring and running their applications on JBoss (or planning to do so) <i class="wikiEmphasis">must</i> attend. 
</p>

<p class="wikiPara">
You can find more details about the webinar <a href="https://inquiries.redhat.com/go/redhat/20100602SpringintoJBoss" target="" class="regularLink">here</a>. 
</p>

<p class="wikiPara">
Oh, and in case you really cannot make it - no worries, the webinar is recorded and you'll be able to watch it whenever you have time.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'SpringAndJBossWebinarOnJune2nd';
    var disqus_title = 'Spring and JBoss Webinar on June 2nd';
    var disqus_url = 'http://in.relation.to/15659.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
