---
title: "Seam Spring 3.1.0.Alpha1 released"
author: "Marius Bogoevici"
blogger_name: "Marius"
creation_date: "22-11-2011"
tags: [CDI,Contexts and Dependency Injection,Seam,Seam News]

absolute_url: http://in.relation.to/2011/11/22/SeamSpring310Alpha1Released
lace: http://in.relation.to/22355.lace
slug: SeamSpring310Alpha1Released

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
It took a while to release it (due to other work that needed to be completed first), and it took me a couple of weeks to announce it (i.e. until now), but my bit of news for today is this: the first release of our CDI Spring bridge, aka Seam Spring 3.1.0.Alpha1 is out.
</p>

<p class="wikiPara">
The details are <a href="http://seamframework.org/Seam3/SpringModule" target="" class="regularLink">on the module main page</a>, and an explanation on how it works is <a href="http://docs.jboss.org/seam/3/spring/latest/reference/en-US/html/" target="" class="regularLink">on the documentation page</a>.
</p>

<p class="wikiPara">
This first release provides:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> facilities to bootstrap Spring contexts or access outstanding Spring contexts (e.g. web contexts bootstrapped by the <tt>ContextLoaderListener</tt>)</li>
<li class="wikiUnorderedListItem"> facilities to import Spring beans as CDI beans (thus making them available for standard CDI injection)</li>
<li class="wikiUnorderedListItem"> facilities to import CDI beans an Spring beans (thus making them available for Spring injection), including dedicated namespace support</li>
</ul>

<p class="wikiPara">
As this is an Alpha, I am looking forward for feedback, new feature suggestions (even suggestions on prioritizing certain items that we have on the roadmap). Please use it extensively, and file bug reports(they're inevitable, and the sooner, the better). 
</p>

<p class="wikiPara">
Usage examples can be found for now in the Arquillian tests of the project source code, and I will follow up with a post describing a detailed example pretty soon.
</p>


</div>
