---
title: "New MC DZone articles"
author: "Aleš Justin"
blogger_name: "Aleš"
layout: blog-post
tags: []
slug: NewMCDZoneArticles
lace: http://in.relation.to/12909.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/NewMCDZoneArticles">New MC DZone articles</a>
                    </h1>
</div>
<p class="wikiPara">
It's been a while since the last blog entry and any MC DZone article.
So, this entry is what will change this fact. :-)
</p>

<p class="wikiPara">
I actually forgot to put a short blog about my previous DZone article, where I talk about our VFS
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://java.dzone.com/news/jboss-virtual-file-system" target="" class="regularLink">JBoss Virtual File System</a>
</li>
</ul>

<p class="wikiPara">
and here is the latest article, still hot from the print
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://java.dzone.com/articles/jboss-microcontainer-classloading" target="" class="regularLink">Microcontainer &amp; ClassLoading</a>
</li>
</ul>

<p class="wikiPara">
Enjoy! 
</p>

<p class="wikiPara">
ps: any feedback welcome, either directly on the articles or our <a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=228" target="" class="regularLink">MC users forum</a>.
</p>

</div>
