---
title: "JBossAS5.1.0.GA released"
author: "Aleš Justin"
blogger_name: "Aleš"
layout: blog-post
tags: []
slug: JBossAS510GAReleased
lace: http://in.relation.to/11533.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/JBossAS510GAReleased">JBossAS5.1.0.GA released</a>
                    </h1>
</div>
<p class="wikiPara">
In case you missed the announcement, which is highly possible as I think the main voice behind AS, Dimitris, is driving with his motorcycle across Europe and the US team is enjoying a day off with national holiday.
</p>

<p class="wikiPara">
So, the make the long story short, here is your latest and greatest, <a href="http://www.jboss.org/jbossas/docs/Release_Notes/510GA/readme.html" target="" class="regularLink">JBossAS 5.1.0.GA</a>.
</p>

<p class="wikiPara">
Enjoy!
</p>
</div>
