---
title: "Microcontainer @ JavaOne"
author: "Aleš Justin"
blogger_name: "Aleš"
creation_date: "26-05-2009"
tags: []

absolute_url: http://in.relation.to/2009/05/26/MicrocontainerJavaOne
lace: http://in.relation.to/11535.lace
slug: MicrocontainerJavaOne

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
This year there will be huge presence of Microcontainer releated material at <a href="http://www.jboss.org/events/javaone.html" target="" class="regularLink">JavaOne</a>.
</p>

<p class="wikiPara">
To start off, I'll do a <a href="http://blog.athico.com/2009/04/drools-boot-camp-ales-justin-to-do.html" target="" class="regularLink">lightning talk</a> at Drools boot camp on Monday June 1st.
</p>

<p class="wikiPara">
Also on Moday, Scott Stark will present the new Virtual Deployment Framework, and I will share some tips and tricks on how to optimize MC's usage.
</p>

<p class="wikiPara">
On Tuesday Scott will continue to share his MC experience with component model mixture patterns, and on Wednesday you can hear me talk about the new ClassLoading layer and our plans with OSGi.
</p>

<p class="wikiPara">
With your head full of MC you'll probably be eager to share this knowledge at the famous <a href="http://www.jboss.org/events/javaoneparty.html" target="" class="regularLink">JBoss party</a>, not to mention the free drinks and a chance to grab core developers by the sleeve. ;-)
</p>

<p class="wikiPara">
To wrap it all up, leaving the best for last, a whole hour of technical MC talk :-)
</p>

<pre class="wikiPreformatted">TS-8611 - Technical Session
JBoss AS5 Microcontainer Architecture
Ales Justin, JBoss, a division of Red Hat
Friday, June 05
12:10 PM - 1:10 PM
Esplanade 305</pre>


<p class="wikiPara">
And the most important info, don't forget to ask for a <b>MC T-shirt</b> at our booth! :-)
</p>
</div>
