---
title: "New MC DZone articles"
author: "Aleš Justin"
creation_date: "12-11-2009"
blogger_name: "Aleš"
layout: blog-post
tags: []
slug: NewMCDZoneArticles
lace: http://in.relation.to/12909.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
It's been a while since the last blog entry and any MC DZone article.
So, this entry is what will change this fact. :-)
</p>

<p class="wikiPara">
I actually forgot to put a short blog about my previous DZone article, where I talk about our VFS
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://java.dzone.com/news/jboss-virtual-file-system" target="" class="regularLink">JBoss Virtual File System</a>
</li>
</ul>

<p class="wikiPara">
and here is the latest article, still hot from the print
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://java.dzone.com/articles/jboss-microcontainer-classloading" target="" class="regularLink">Microcontainer &amp; ClassLoading</a>
</li>
</ul>

<p class="wikiPara">
Enjoy! 
</p>

<p class="wikiPara">
ps: any feedback welcome, either directly on the articles or our <a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=228" target="" class="regularLink">MC users forum</a>.
</p>

</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'NewMCDZoneArticles';
    var disqus_title = 'New MC DZone articles';
    var disqus_url = 'http://in.relation.to/12909.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
