---
title: "JBossAS5.1.0.GA released"
author: "Aleš Justin"
blogger_name: "Aleš"
creation_date: "26-05-2009"
original_tags: []
tags: [JBoss AS]

relative_url: /2009/05/26/jboss-as-510-ga-released
slug: jboss-as-510-ga-released
lace: http://in.relation.to/11533.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/05/26/jboss-as-510-ga-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
In case you missed the announcement, which is highly possible as I think the main voice behind AS, Dimitris, is driving with his motorcycle across Europe and the US team is enjoying a day off with national holiday.
</p>

<p class="wikiPara">
So, the make the long story short, here is your latest and greatest, <a href="http://www.jboss.org/jbossas/docs/Release_Notes/510GA/readme.html" target="" class="regularLink">JBossAS 5.1.0.GA</a>.
</p>

<p class="wikiPara">
Enjoy!
</p>
</div>

