---
title: "New MC DZone article -- Virtual Deployment Framework"
author: "Aleš Justin"
creation_date: "10-03-2010"
blogger_name: "Aleš"
layout: blog-post
tags: []
slug: NewMCDZoneArticleVirtualDeploymentFramework
lace: http://in.relation.to/14713.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
New MC article -- for all eager to implement new deployers ;-)
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://java.dzone.com/articles/jboss-microcontainer-virtual-deployment-framework" target="" class="regularLink">http://java.dzone.com/articles/jboss-microcontainer-virtual-deployment-framework</a>
</li>
</ul>

</div>
