---
title: "JBossAS6.0.0.Final released"
author: "Aleš Justin"
blogger_name: "Aleš"
creation_date: "28-12-2010"
tags: []

relative_url: /2010/12/28/jboss-as-600-final-released
slug: jboss-as-600-final-released
lace: http://in.relation.to/17976.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/12/28/jboss-as-600-final-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
JBoss6 is out! :-)
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://sourceforge.net/projects/jboss/files/JBoss/JBoss-6.0.0.Final/" target="" class="regularLink">http://sourceforge.net/projects/jboss/files/JBoss/JBoss-6.0.0.Final/</a>
</li>
</ul>

<p class="wikiPara">
All of the Microcontainer libs were updated to 2.2..
</p>

<p class="wikiPara">
JSF got super cool integration: <a href="http://jsfunit.blogspot.com/2010/12/jsf-on-jboss-as6-final.html" target="" class="regularLink">http://jsfunit.blogspot.com/2010/12/jsf-on-jboss-as6-final.html</a>
</p>

<p class="wikiPara">
Any many more ... 
</p>


<p class="wikiPara">
Anyway, <i class="wikiEmphasis">happy MMXI</i> ... onward to Weld!
</p>


</div>

