---
title: "New MC DZone article -- Virtual Deployment Framework"
author: "Aleš Justin"
creation_date: "10-03-2010"
blogger_name: "Aleš"
layout: blog-post
tags: []
slug: NewMCDZoneArticleVirtualDeploymentFramework
lace: http://in.relation.to/14713.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
New MC article -- for all eager to implement new deployers ;-)
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://java.dzone.com/articles/jboss-microcontainer-virtual-deployment-framework" target="" class="regularLink">http://java.dzone.com/articles/jboss-microcontainer-virtual-deployment-framework</a>
</li>
</ul>

</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'NewMCDZoneArticleVirtualDeploymentFramework';
    var disqus_title = 'New MC DZone article -- Virtual Deployment Framework';
    var disqus_url = 'http://in.relation.to/14713.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
