---
title: "New MC DZone article -- Virtual Deployment Framework"
author: "Aleš Justin"
blogger_name: "Aleš"
layout: blog-post
tags: []
slug: NewMCDZoneArticleVirtualDeploymentFramework
lace: http://in.relation.to/14713.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/NewMCDZoneArticleVirtualDeploymentFramework">New MC DZone article -- Virtual Deployment Framework</a>
                    </h1>
</div>
<p class="wikiPara">
New MC article -- for all eager to implement new deployers ;-)
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://java.dzone.com/articles/jboss-microcontainer-virtual-deployment-framework" target="" class="regularLink">http://java.dzone.com/articles/jboss-microcontainer-virtual-deployment-framework</a>
</li>
</ul>

</div>
