---
title: "Weld 1.1.3.Final is out!"
author: "Aleš Justin"
blogger_name: "Aleš"
creation_date: "09-11-2011"
tags: []

relative_url: /2011/11/09/Weld113FinalIsOut
slug: Weld113FinalIsOut
lace: http://in.relation.to/22268.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/11/09/Weld113FinalIsOut
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce new Weld 1.1.3.Final release.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310891&amp;version=12316782" target="" class="regularLink">Release notes</a>
</li>
</ul>

<p class="wikiPara">
With this release we finally moved Weld Core Arquillian tests by default to <a href="http://www.jboss.org/as7" target="" class="regularLink">JBoss AS7</a>, making the build easier and faster -- thanks Stuart.
</p>

<p class="wikiPara">
But this of course doesn't mean we forgot about other containers; 
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> it's still fully tested against latest GlassFish (thanks GF guys!), </li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> added new web container tests (Tomcat 7; thanks Matija) and </li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> reduced Jetty config a bit (thanks Geoffrey).</li>
</ul>


<p class="wikiPara">
Other interesting issues or features include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> simple <a href="https://issues.jboss.org/browse/WELD-510" target="" class="regularLink">portlet integration</a> - thanks Marko</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> better conversation handling - thanks <a href="https://issues.jboss.org/browse/WELD-877" target="" class="regularLink">Lincoln</a> and <a href="https://issues.jboss.org/browse/WELD-865" target="" class="regularLink">George</a>; btw, <a href="http://twitter.com/#!/lincolnthree" target="" class="regularLink">LB3</a> I expect more patches from now on ;-)</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/WELD-966" target="" class="regularLink">resolution by name</a> - thanks Martin</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Java like <a href="https://issues.jboss.org/browse/WELD-1001" target="" class="regularLink">abstract method handling in decorators</a>- thanks me; since I'm already thanking everyone :-)</li>
</ul>

<br>

<p class="wikiPara">
<a href="https://github.com/weld/core/" target="" class="regularLink">Weld' github master</a> will now be the basis of future 1.2 releases, moving current to branch 1.1.
</p>

<p class="wikiPara">
(since there already is an <q>abandoned</q> 1.1 branch, we'll first move that one to 1.1-legacy)
</p>

<br>

<p class="wikiPara">
I also have a few exciting announcements - in case you missed them:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.jboss.org/events/JUDCon/2011/london/agenda/day2track1.html" target="" class="regularLink">Weld-OSGi: Injecting easyness in OSGi</a> is coming out soon as part of next Weld 1.2 release!</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/people/jharting" target="" class="regularLink">Jozef Hartinger</a> moved to Weld team to work on <a href="http://community.jboss.org/wiki/Weld2ImplementationPlan" target="" class="regularLink">Weld 2.0 (CDI 1.1 impl)</a>
</li>
</ul>


<br>

<p class="wikiPara">
Onward to Weld 1.2 and 2.0!!
</p>

<p class="wikiPara">
p.s.: let us know if there are any new issues with the latest release ;-)
</p>

</div>
