---
title: "SP1 for Weld 1.1.3.Final"
author: "Aleš Justin"
creation_date: "11-11-2011"
blogger_name: "Aleš"
layout: blog-post
tags: []
slug: SP1ForWeld113Final
lace: http://in.relation.to/22297.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
With Maven Surefire playing tricks on us, we unfortunately missed a few regressions with the latest <a href="http://in.relation.to/Bloggers/Weld113FinalIsOut" target="" class="regularLink">1.1.3.Final</a> release.
</p>

<p class="wikiPara">
Luckily Jozef spotted this early enough (too bad it wasn't before we actually did the release ;-), hopefully before you guys became grey of worry. :-)
</p>

<p class="wikiPara">
So, the new Weld 1.1.3.SP1 is already in our JBoss Maven repo and on SourceForge as .zip.
</p>

</div>
