---
title: "Already registered for JUDCon?"
author: "Aleš Justin"
blogger_name: "Aleš"
creation_date: "19-04-2011"
tags: []

absolute_url: http://in.relation.to/2011/04/19/AlreadyRegisteredForJUDCon
lace: http://in.relation.to/19447.lace
slug: AlreadyRegisteredForJUDCon

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="http://www.jboss.org/events/JUDCon.html" target="" class="regularLink">JUDCon</a> is just around the corner, and there is gonna be a lot of CDI / Weld presence.
</p>

<p class="wikiPara">
As <a href="http://in.relation.to/Bloggers/CDIJUDConAndJBossWorld" target="" class="regularLink">Pete already mentioned</a>, we'll be doing an overview of Weld; its integration and usage inside JBoss Application Server v6 and v7, its test environment and the new <a href="http://in.relation.to/Bloggers/JSR346CDI11PostedOnJCPSite" target="" class="regularLink">CDI 1.1</a>.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.jboss.org/events/JUDCon/day1track1.html#330PM" target="" class="regularLink">Weld - past, present and future</a>
</li>
</ul>

<p class="wikiPara">
I'll also present my latest CDI toy, a POC called Lhotse, aka <a href="http://appengine.google.com/" target="" class="regularLink">GAE</a> made simple:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.jboss.org/events/JUDCon/day1track1.html#1030AM" target="" class="regularLink">JavaEE inside Google AppEngine</a>
</li>
</ul>

<p class="wikiPara">
See you all at <a href="http://www.jboss.org/events/JUDCon.html" target="" class="regularLink">JUDCon</a>!
</p>
</div>
