---
title: "OpenBlend 2011, SIOUG, ..."
author: "Aleš Justin"
blogger_name: "Aleš"
creation_date: "24-09-2011"
tags: []

relative_url: /2011/09/24/OpenBlend2011SIOUG
slug: OpenBlend2011SIOUG
lace: http://in.relation.to/21965.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/09/24/OpenBlend2011SIOUG
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
With a wild 1.5 week behind us, I’m finally able to find some time to blog about the recent cool <a href="http://www.openblend.org" target="" class="regularLink">OpenBlend</a> conference.
</p>

<p class="wikiPara">
It was again nice attendee turn out, with very good 9 technical and 3 business presentations.
To finish it all off, for the first time, there was a cocktail party. Let me see if you can guess which cocktail belonged to certain major sponsor;  Shadowman, DeepBlue, VirtualBlend, IngredientX, BillyMo, Synergy and WarpDrive. :-)
</p>

<p class="wikiPara">
Conference pictures and presentations PDFs to follow asap.
</p>

<p class="wikiPara">
Next stop was <a href="http://www.sioug.si" target="" class="regularLink">SIOUG</a>, where <a href="http://community.jboss.org/people/mstruk" target="" class="regularLink">Marko</a> and me had our full day “<a href="http://www.seamframework.org/Weld" target="" class="regularLink">CDI</a> and <a href="http://www.jboss.org/arquillian/" target="" class="regularLink">Arquillian</a>” <a href="http://www.sioug.si/index.php?option=com_content&amp;view=article&amp;id=167&amp;Itemid=153&amp;lang=en" target="" class="regularLink">workshop</a>.
</p>

<p class="wikiPara">
The workshop code can be found here: <a href="https://github.com/alesj/cdi-arq-workshop" target="" class="regularLink">CDI-ARQ-Workshop</a>
</p>

<p class="wikiPara">
Where this are the slides we used during the workshop: <a href="/assets/cdi-arq_sioug.pdf" target="" class="regularLink">workshop PDF</a>
</p>
</div>
