---
title: "Weld 1.1.1.Final"
author: "Aleš Justin"
blogger_name: "Aleš"
creation_date: "05-04-2011"
tags: []

relative_url: /2011/04/05/weld-111-final
slug: weld-111-final
lace: http://in.relation.to/19016.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/04/05/weld-111-final
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm glad to announce we've finally released <a href="https://repository.jboss.org/nexus/content/groups/public-jboss/org/jboss/weld/weld-core/1.1.1.Final/" target="" class="regularLink">Weld 1.1.1.Final</a>.
</p>

<p class="wikiPara">
<a href="https://issues.jboss.org/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=project+%3D+WELD+AND+fixVersion+%3D+%221.1.1.Final%22+AND+status+%3D+Closed+ORDER+BY+priority+DESC&amp;mode=hide" target="" class="regularLink">The release includes</a> a couple of <q>nasty</q> bug fixes, which specially gave <a href="http://seamframework.org/Seam3" target="" class="regularLink">Seam3</a> and GlassFish users a lot of trouble:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/WELD-846" target="" class="regularLink">Incorrect handling of cyclic dependencies between BeanDeploymentArchives</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/WELD-833" target="" class="regularLink">ConcurrentModificationException while deactivating conversations</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/WELD-873" target="" class="regularLink">Injections not working for certain bean methods</a>
</li>
</ul>

<p class="wikiPara">
Another performance improvement:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/WELD-859" target="" class="regularLink">BeanManagers.buildAccessibleClosure is O(n!) on the number of bean deployment archives</a>
</li>
</ul>

<p class="wikiPara">
And re-factored web containers integration, which now includes Jetty7+ support:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/WELD-601" target="" class="regularLink">Injection into servlet Listeners on Tomcat and Jetty</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/WELD-729" target="" class="regularLink">Servlet / listener / filter injection support for Jetty 7 and above</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/WELD-784" target="" class="regularLink">Servlet / listener / filter injection support for Jetty 7.2</a>
</li>
</ul>

<p class="wikiPara">
The non-maven distribution can be found at SF.net:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://sourceforge.net/projects/jboss/files/Weld/1.1.1.Final/" target="" class="regularLink">Weld 1.1.1.Final zip</a>
</li>
</ul>

<p class="wikiPara">
Thanks to everyone involved -- Stuart, Pete, Martin, Nicklas, ... Seam3 guys, ... to name a few. :-)
</p>

</div>

