---
title: "A new @Special(izes) Weld 1.1.4.Final release"
author: "Aleš Justin"
blogger_name: "Aleš"
creation_date: "22-11-2011"
original_tags: []
tags: [Weld]

relative_url: /2011/11/22/a-new-specializes-weld-114-final-release
slug: a-new-specializes-weld-114-final-release
lace: http://in.relation.to/22361.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/11/22/a-new-specializes-weld-114-final-release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to say we finally fixed the pesky @Specializes bug
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/WELD-912" target="" class="regularLink">WELD-912</a> - Specializing beans in different bean archives does not work</li>
</ul>

<p class="wikiPara">
And some other issues also proved to be far more <q>interesting</q> from what one would expect while reading the initial problem.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/WELD-617" target="" class="regularLink">WELD-617</a> - Can not find beans when deploying compressed Archive to Tomcat</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/WELD-802" target="" class="regularLink">WELD-802</a> - Specialization of Beans registered through portable extension does not work.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/WELD-892" target="" class="regularLink">WELD-892</a> - Calling session-scoped components from session initialized observer goes into infinite loop</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/WELD-904" target="" class="regularLink">WELD-904</a> - Observer method inheritance broken</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/WELD-1010" target="" class="regularLink">WELD-1010</a> - @PreDestroy method invoked twice</li>
</ul>

<p class="wikiPara">
Full release notes can be found here: <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310891&amp;version=12318550" target="" class="regularLink">https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310891&amp;version=12318550</a>
</p>

<p class="wikiPara">
I've already uploaded the .zip to Sourceforge and of course pushed artifacts into our JBoss Maven repo.
</p>

<p class="wikiPara">
And a little bird told me this version is gonna be used in the upcoming JBossAS7.1.0.Beta1 release. ;-)
</p>
</div>

