---
title: "My JavaOne 2011"
author: "Aleš Justin"
creation_date: "17-10-2011"
blogger_name: "Aleš"
layout: blog-post
tags: [cdi,javaone,jboss,openshift]
slug: MyJavaOne2011
lace: http://in.relation.to/22184.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
It’s more than a week since I returned home from this year’s JavaOne, hence it’s probably high time I put down a few words on what was going on there.
</p>

<p class="wikiPara">
While I missed last year’s JavaOne, the first one under new uber-lord, I was a regular there in the past. I always really liked how things looked at the Moscone center, its huge space, filled with Java aficionados and other Java related stuff. Although I wasn’t really surprised when they told me last year that the venue has moved to downtown hotel, but I was a little worried about the negative feedback wrt this move. Hence I was pleasantly surprised by the whole setup and atmosphere this year - it wasn’t bad at all! Of course there were usual quirks - schedule with no presenter names, or actually - no schedules at all to begin with, no fill-out reports at the end of the session or someone telling people they should go online to do this; but then, it was difficult to go online with semi-working wi-fi, … Anyway, overall I think it was nice to be back again.
</p>

<p class="wikiPara">
But I wasn’t there just for fun - while we definitely had our share of partying there :-). On Monday I had a short presentation at our JBoss booth (I'll push the link once the videos are online), talking about my experience prototyping simple mobile apps against our latest JBossAS7 / OpenShift. This was sort of a lightweight introduction to my <a href="https://oracleus.wingateweb.com/scheduler/eventcatalog/eventCatalogJavaOne.do" target="" class="regularLink">JavaOne talk - Java EE and Google AppEngine: CDI to the rescue!</a> Monday’s talk hinted at best practices we stumbled upon while porting the server-side from GAE to OpenShift, and having properly tested UI against the server, where Tuesday’s JavaOne talk went into more details on what it takes to fully run Java EE on GAE. If you combine all of the lessons learned, you come up with my new project called <a href="https://github.com/capedwarf" target="" class="regularLink">CapeDwarf</a>.
</p>

<p class="wikiPara">
Another thing I like about such big conferences, is that there is a huge chance you’ll run into people you’ve only “met” via email - it’s always nice to put a face to the email address, and this year’s JavaOne was no exception for me in this regard. It’s actually funny how small Java world becomes during this time; e.g. while waiting to get into our famous JBoss party, I had a nice chat with another developer also waiting to get in. It turned out this dev was Greg Luck, whose <a href="http://ehcache.org/" target="" class="regularLink">EHCache</a> I’ve been using in the past, while also contributing some small patches. While there is a lot of Oracle folks here, specially those who work on the spec related projects / products, I also finally had a chance to meet the Weld + Glassfish guys I regularly exchange emails with.
</p>

<p class="wikiPara">
Onward to JavaOne 2012!
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'MyJavaOne2011';
    var disqus_title = 'My JavaOne 2011';
    var disqus_url = 'http://in.relation.to/22184.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
