---
title: "Not one, two Weld releases - 1.1.10.Final and 1.2.0.Beta1 !!"
author: "Aleš Justin"
creation_date: "12-10-2012"
blogger_name: "Aleš"
layout: blog-post
tags: []
slug: NotOneTwoWeldReleases1110FinalAnd120Beta1
lace: http://in.relation.to/23587.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I’m super happy to finally announce official Weld-OSGi release; again big thanks to Serli guys!
</p>

<p class="wikiPara">
After a series of not so trivial merges and rebases, mvn poms fixing and small code tweaks, it is finally here, as part of Weld 1.2.0.Beta1 release.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310891&amp;version=12319290" target="" class="regularLink">Weld 1.2.0.Beta1 Release Notes</a>
</li>
</ul>

<p class="wikiPara">
We also released Weld 1.1.10.Final, which includes a few tricky bug fixes.
</p>

<p class="wikiPara">
e.g. recent tests on both sides - JBossAS and GlassFish - show we (hopefully) finally got beans closure (aka visibility) right
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310891&amp;version=12319958" target="" class="regularLink">Weld 1.1.10.Final Release Notes</a>
</li>
</ul>

<p class="wikiPara">
All artifacts are available in our JBoss Nexus repository.
</p>

<p class="wikiPara">
While version 1.1.10.Final should be a drop-in replacement for any JBossAS7,
you’ll have to wait a bit for a full AS integration with version 1.2.0.Beta1 -- due to Weld API changes. But that shouldn’t stop you from trying out the new OSGi module.
</p>

<p class="wikiPara">
I suggest looking at Weld-OSGi vast number of tests and examples for the actual usage, or check Mathieu' presentation from <a href="https://www.jboss.org/dms/judcon/presentations/London2011/day2session4.pdf" target="" class="regularLink">London' JUDCon</a>.
</p>

<p class="wikiPara">
Any feedback welcome as always!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'NotOneTwoWeldReleases1110FinalAnd120Beta1';
    var disqus_title = 'Not one, two Weld releases - 1.1.10.Final and 1.2.0.Beta1 !!';
    var disqus_url = 'http://in.relation.to/23587.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
