---
title: "Fixing decorators validation - Weld 1.1.8.Final"
author: "Aleš Justin"
creation_date: "07-05-2012"
blogger_name: "Aleš"
layout: blog-post
tags: []
slug: FixingDecoratorsValidationWeld118Final
lace: http://in.relation.to/23176.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Finally <q>Labour day</q> holidays came to an end, and I'm happy to announce we did a new Weld release during the holidays (thanks Stuart!)
</p>

<p class="wikiPara">
We (me) over did it a bit on Decorators validation, which showed in increased deployment time. So this release mostly addresses this issue.
</p>

<p class="wikiPara">
But we also fixed a few other pesky issues.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310891&amp;version=12319459" target="" class="regularLink">Release notes</a>
</li>
</ul>

<p class="wikiPara">
Feedback welcome as always!
</p>
</div>
