---
title: "JUDCon India - it's all about the cloud"
author: "Aleš Justin"
blogger_name: "Aleš"
creation_date: "19-01-2012"
tags: []

absolute_url: http://in.relation.to/2012/01/19/JUDConIndiaItsAllAboutTheCloud
lace: http://in.relation.to/22775.lace
slug: JUDConIndiaItsAllAboutTheCloud

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
A bit late, but better then never, in case you missed it - JUDCon is coming to India:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.jboss.org/events/JUDCon/2012/india/agenda/" target="" class="regularLink">JUDCon India - Agenda</a>
</li>
</ul>

<p class="wikiPara">
As you can see it will be busy two days for me, talking a bit about the stuff I'm working on atm:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://github.com/capedwarf" target="" class="regularLink">CapeDwarf</a> -- first look at our super progress on the Blue layer</li>
<li class="wikiUnorderedListItem"> Java EE and GAE -- how CapeDwarf actually came about</li>
<li class="wikiUnorderedListItem"> Android and the Cloud -- client perspective on CapeDwarf's beginnings</li>
</ul>

<p class="wikiPara">
I hope to see you there!
</p>
</div>
