---
title: "Minor bug release fix - Weld 1.1.5.Final"
author: "Aleš Justin"
blogger_name: "Aleš"
creation_date: "06-01-2012"
original_tags: []
tags: [Weld]

relative_url: /2012/01/06/minor-bug-release-fix-weld-115-final
slug: minor-bug-release-fix-weld-115-final
lace: http://in.relation.to/22706.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/01/06/minor-bug-release-fix-weld-115-final
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I've just release a new Weld 1.1.5.Final.
</p>

<p class="wikiPara">
It doesn't have <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310891&amp;version=12318719" target="" class="regularLink">many fixes</a>, but a super pesky one with protection domains, which bugged us a lot for our EAP6 testing.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/WELD-1031" target="" class="regularLink">https://issues.jboss.org/browse/WELD-1031</a>
</li>
</ul>

<p class="wikiPara">
While I also finally managed to upgrade SLF4J:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/WELD-1015" target="" class="regularLink">https://issues.jboss.org/browse/WELD-1015</a>
</li>
</ul>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/WELD-1025" target="" class="regularLink">https://issues.jboss.org/browse/WELD-1025</a>
</li>
</ul>

<p class="wikiPara">
Now let me finally get <a href="https://twitter.com/#!/trevorreznik" target="" class="regularLink">Mathieu</a>'s OSGi integration into upstream ...</p>
</div>

