---
title: "Back from JUDCon China"
author: "Aleš Justin"
blogger_name: "Aleš"
creation_date: "02-12-2012"
tags: []

relative_url: /2012/12/02/back-fromjudcon-china
slug: back-fromjudcon-china
lace: http://in.relation.to/23719.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/12/02/back-fromjudcon-china
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I’m just on my way back from <a href="http://www.jboss.org/events/JUDCon/2012/china/" target="" class="regularLink">JUDCon China</a> in Beijing. I must say it was an interesting week. I mean what else can you say for a country when you don’t understand a word they are saying, or any written word for that matter. :-) But thankfully to our Chinese co-workers there was no problem for us to go around. The food and the view is spectacular - the new olympic stadium and aquatic center are just amazing.
</p>

<p class="wikiPara">
The conference was well organised. It could probably have a bit more attendees, but it’s a start, right. I gave a talk about our current work on <a href="http://www.jboss.org/capedwarf" target="" class="regularLink">CapeDwarf</a>. Was hoping to do a release just before, but the great firewall prevented me in that intention. So stay tuned these days. ;-) The second talk was about Weld-OSGi, the work done by our friends at SERLI. I borrowed <a href="http://www.devoxx.com/display/DV12/Weld-OSGi+in+action" target="" class="regularLink">Mat(t)hieu</a> slides, as they are just perfect to show what the new stuff can do.
</p>

<p class="wikiPara">
Last day we had some time to do some sightseeing - the Forbidden city and the Great wall. It was freezing cold to go around, but the view made it all worth. Waiting for <a href="http://rayploski.blogspot.de/" target="" class="regularLink">Ray</a> to post some photos. :-)
</p>
</div>

