---
title: "Visitors and CLASS Conference"
author: "Aleš Justin"
creation_date: "30-10-2012"
blogger_name: "Aleš"
layout: blog-post
tags: []
slug: VisitorsAndCLASSConference
lace: http://in.relation.to/23621.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
With plenty of work being done on <a href="http://www.jboss.org/capedwarf" target="" class="regularLink">CapeDwarf</a>, I now finally found some time to blog about previous week’ visits and a cloud oriented conference. 
</p>

<p class="wikiPara">
If you follow <a href="https://community.jboss.org/blogs/mark.little/2012/10/28/cloud-assisted-services-conference-in-solvenia" target="" class="regularLink">Mark’ blog</a> or tweets, you could catch that he spent a day here with us - Slovenia’s JBoss team - in a beautiful town of <a href="http://www.bled.si" target="" class="regularLink">Bled</a>. But he wasn’t the only Red Hat / JBoss visit we got, <a href="https://community.jboss.org/people/NadirX" target="" class="regularLink">Tristan Tarrant</a>, from Infinispan team, joined us as well. 
</p>

<p class="wikiPara">
The main reason for us being in Bled, apart from great view and food, was this year’s <a href="http://www.cloudconference.eu/" target="" class="regularLink">CLASS conference</a>. Mark had a short keynote about Red Hat’ vision wrt middleware and cloud, Tristan shared his view on how Infinispan data grid fits into the cloud, and I presented our latest work on CapeDwarf.
</p>

<p class="wikiPara">
CapeDwarf has grown a lot since I last gave a presentation on it. Lately we specially focused a lot on testing, with plenty of interesting ideas and approaches on how to squeeze the maximum out of existing tests and examples. Which is what the presentation was mostly about.
</p>

<p class="wikiPara">
But more about this in my next blog posts, stay tuned! ;-)
</p>
</div>
