---
title: "Minor bug release fix - Weld 1.1.5.Final"
author: "Aleš Justin"
creation_date: "06-01-2012"
blogger_name: "Aleš"
layout: blog-post
tags: []
slug: MinorBugReleaseFixWeld115Final
lace: http://in.relation.to/22706.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I've just release a new Weld 1.1.5.Final.
</p>

<p class="wikiPara">
It doesn't have <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310891&amp;version=12318719" target="" class="regularLink">many fixes</a>, but a super pesky one with protection domains, which bugged us a lot for our EAP6 testing.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/WELD-1031" target="" class="regularLink">https://issues.jboss.org/browse/WELD-1031</a>
</li>
</ul>

<p class="wikiPara">
While I also finally managed to upgrade SLF4J:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/WELD-1015" target="" class="regularLink">https://issues.jboss.org/browse/WELD-1015</a>
</li>
</ul>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/WELD-1025" target="" class="regularLink">https://issues.jboss.org/browse/WELD-1025</a>
</li>
</ul>

<p class="wikiPara">
Now let me finally get <a href="https://twitter.com/#!/trevorreznik" target="" class="regularLink">Mathieu</a>'s OSGi integration into upstream ...</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'MinorBugReleaseFixWeld115Final';
    var disqus_title = 'Minor bug release fix - Weld 1.1.5.Final';
    var disqus_url = 'http://in.relation.to/22706.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
