---
title: "Busy busy busy - new 1.0.0.Beta3 CapeDwarf release finally out!"
author: "Aleš Justin"
creation_date: "12-03-2013"
blogger_name: "Aleš"
layout: blog-post
tags: []
slug: BusyBusyBusyNew100Beta3CapeDwarfReleaseFinallyOut
lace: http://in.relation.to/24003.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Download it here:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://downloads.jboss.org/capedwarf/CapeDwarf_AS7_1.0.0.Beta3.zip" target="" class="regularLink">http://downloads.jboss.org/capedwarf/CapeDwarf_AS7_1.0.0.Beta3.zip</a>
</li>
</ul>

<p class="wikiPara">
As you can see from the JIRA release notes, it’s been super busy 2 months.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12311321&amp;version=12320952" target="" class="regularLink">https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12311321&amp;version=12320952</a>
</li>
</ul>

<p class="wikiPara">
Another new sub-project: CapeDwarf Shared.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://github.com/capedwarf/capedwarf-shared" target="" class="regularLink">https://github.com/capedwarf/capedwarf-shared</a>
</li>
</ul>

<p class="wikiPara">
It’s where we keep the shared code between our GAE API implementation (Blue) and JBossAS integration.
</p>

<p class="wikiPara">
There has been a lot of detail polishing on Blobstore, Logging and TaskQueue.
And we also added BlackList / WhiteList support, getting even closer to GAE behavior this way.
</p>

<p class="wikiPara">
Also big thanks to <a href="https://github.com/bartv" target="" class="regularLink">Bart</a> and <a href="http://distrinet.cs.kuleuven.be/people/showMember.do?memberID=u0059687" target="" class="regularLink">Wouter</a> for the patches and feedback.
</p>

<p class="wikiPara">
And yes, we finally simplified how you start the whole thing - thanks <a href="https://github.com/matejonnet" target="" class="regularLink">Lazo</a>. ;-)
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> ./capedwarf.sh or capedwarf.bat (in JBOSS_HOME/bin/) will do</li>
</ul>

<p class="wikiPara">
As always, feedback welcome!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'BusyBusyBusyNew100Beta3CapeDwarfReleaseFinallyOut';
    var disqus_title = 'Busy busy busy - new 1.0.0.Beta3 CapeDwarf release finally out!';
    var disqus_url = 'http://in.relation.to/24003.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
