---
title: "CapeDwarf 1.0.0.Beta4 is out!"
author: "Aleš Justin"
creation_date: "22-04-2013"
blogger_name: "Aleš"
layout: blog-post
tags: []
slug: CapeDwarf100Beta4IsOut
lace: http://in.relation.to/24127.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Continuing with our monthly releases, we’re happy to announce new 1.0.0.Beta4 release.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://downloads.jboss.org/capedwarf/CapeDwarf_AS7_1.0.0.Beta4.zip" target="" class="regularLink">http://downloads.jboss.org/capedwarf/CapeDwarf_AS7_1.0.0.Beta4.zip</a>
</li>
</ul>

<p class="wikiPara">
<a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12311321&amp;version=12321455" target="" class="regularLink">Quick rundown of release notes</a>
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> all logging data was moved into separate cache,</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> enabled metadata handling,</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> default cache is now “SYNC” by default (which made <a href="https://code.google.com/p/appengine-mapreduce/" target="" class="regularLink">MapReduce</a> tests very happy :-)),</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> we put back legacy factory transformers - which means older GAE API versions now again work to some extent,</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Velocity is jarjar-ed - so it doesn’t conflict with your version anymore,</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> we support static files handling - you don’t hit your filters and listeners anymore,</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> datastore queries now run sync as well, cluster wide - thanks <a href="https://github.com/Sanne" target="" class="regularLink">Sanne</a>, <a href="https://github.com/danberindei" target="" class="regularLink">Dan</a> and <a href="http://infinispan.org" target="" class="regularLink">Infinispan co.</a>,</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> and a bunch of other small tweaks.</li>
</ul>

<p class="wikiPara">
<a href="https://developers.google.com/events/io/" target="" class="regularLink">Google I/O 2013</a>
</p>

<p class="wikiPara">
CapeDwarf team will be at this year’s Google I/O’ Sandbox!
Make sure you drop by for a chat, demo and a nice T-shirt.
</p>

<p class="wikiPara">
Also be careful you don’t miss the exciting surprise announcement! ;-)
</p>
</div>
