---
title: "CapeDwarf blog moved to capedwarf.org"
author: "Aleš Justin"
blogger_name: "Aleš"
layout: blog-post
tags: []
slug: CapeDwarfBlogMovedToCapedwarforg
lace: http://in.relation.to/26054.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/CapeDwarfBlogMovedToCapedwarforg">CapeDwarf blog moved to capedwarf.org</a>
                    </h1>
</div>
<p class="wikiPara">
See subject. ;-)
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.capedwarf.org" target="" class="regularLink">CapeDwarf blog</a>
</li>
</ul>
</div>
