---
title: "CapeDwarf blog moved to capedwarf.org"
author: "Aleš Justin"
creation_date: "03-06-2014"
blogger_name: "Aleš"
layout: blog-post
tags: []
slug: CapeDwarfBlogMovedToCapedwarforg
lace: http://in.relation.to/26054.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
See subject. ;-)
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.capedwarf.org" target="" class="regularLink">CapeDwarf blog</a>
</li>
</ul>
</div>
