---
title: "CapeDwarf blog moved to capedwarf.org"
author: "Aleš Justin"
blogger_name: "Aleš"
creation_date: "03-06-2014"
tags: []

relative_url: /2014/06/03/CapeDwarfBlogMovedToCapedwarforg
slug: CapeDwarfBlogMovedToCapedwarforg
lace: http://in.relation.to/26054.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2014/06/03/CapeDwarfBlogMovedToCapedwarforg
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
See subject. ;-)
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.capedwarf.org" target="" class="regularLink">CapeDwarf blog</a>
</li>
</ul>
</div>

