---
title: "New MC DZone articles"
author: "Aleš Justin"
blogger_name: "Ales"
creation_date: "12-11-2009"
tags: []

relative_url: /2009/11/12/new-mcd-zone-articles
slug: new-mcd-zone-articles
lace: http://in.relation.to/12909.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/11/12/new-mcd-zone-articles
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
It's been a while since the last blog entry and any MC DZone article.
So, this entry is what will change this fact. :-)
</p>

<p class="wikiPara">
I actually forgot to put a short blog about my previous DZone article, where I talk about our VFS
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://java.dzone.com/news/jboss-virtual-file-system" target="" class="regularLink">JBoss Virtual File System</a>
</li>
</ul>

<p class="wikiPara">
and here is the latest article, still hot from the print
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://java.dzone.com/articles/jboss-microcontainer-classloading" target="" class="regularLink">Microcontainer &amp; ClassLoading</a>
</li>
</ul>

<p class="wikiPara">
Enjoy! 
</p>

<p class="wikiPara">
ps: any feedback welcome, either directly on the articles or our <a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=228" target="" class="regularLink">MC users forum</a>.
</p>

</div>

