---
title: "Weld 1.1.2.Final released!"
author: "Aleš Justin"
blogger_name: "Ales"
creation_date: "26-07-2011"
original_tags: []
tags: [Weld]

relative_url: /2011/07/26/weld-112-final-released
slug: weld-112-final-released
lace: http://in.relation.to/21347.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/07/26/weld-112-final-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to say we (finally) released Weld 1.1.2.Final.
</p>

<p class="wikiPara">
It includes a bunch of implemented tasks and fixed issues:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310891&amp;version=12316278" target="" class="regularLink">Release notes</a>
</li>
</ul>

<p class="wikiPara">
Big thanks to <a href="https://github.com/stuartwdouglas" target="" class="regularLink">Stuart</a> for stepping up and fixing some pesky bugs and providing cool <q>thread local</q> performance boost.
</p>

<p class="wikiPara">
We'll make sure this version is included in our super cool <a href="http://www.jboss.org/as7" target="" class="regularLink">JBossAS7</a>, as well as upcoming <a href="http://community.jboss.org/wiki/AS610StatusExecutiveSummary" target="" class="regularLink">JBossAS6.1</a> and latest GlassFish.
</p>

<p class="wikiPara">
Please give it a spin and let us know. The same means as usual: <a href="http://seamframework.org/Community/WeldUsers" target="" class="regularLink">forum</a>, <a href="https://issues.jboss.org/browse/WELD" target="" class="regularLink">JIRA</a>, <a href="https://github.com/weld/core" target="" class="regularLink">github + pull-requests</a>.
</p>

</div>

