---
title: "OpenBlend in 2D"
author: "Aleš Justin"
blogger_name: "Ales"
creation_date: "17-10-2011"
original_tags: [java,jboss,openblend]
tags: [Event]

relative_url: /2011/10/17/open-blend-in-2-d
slug: open-blend-in-2-d
lace: http://in.relation.to/22186.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/10/17/open-blend-in-2-d
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
As promised, we finally put our <a href="http://www.openblend.org" target="" class="regularLink">OpenBlend 2011</a> photos online.
You can see them here:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.flickr.com/photos/ctomc/sets/72157627766388563/with/6243442666/" target="" class="regularLink">OpenBlend 2011 photos</a>
</li>
</ul>

<p class="wikiPara">
To put this year’s OpenBlend into numbers a bit
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> 12 sessions (9 tech + 3 business)</li>
<li class="wikiUnorderedListItem"> 1 “keynote” by yours truly :-)</li>
<li class="wikiUnorderedListItem"> 11 presenters (Sanne did 2 sessions)</li>
<li class="wikiUnorderedListItem"> 200+ attendees</li>
<li class="wikiUnorderedListItem"> 10h of Java fun (8-18h)</li>
<li class="wikiUnorderedListItem"> 400 cocktails :-)</li>
</ul>

<p class="wikiPara">
I would like to again thank all that made this conference possible, wink wink Mark and Rayme ;-).
</p>

<p class="wikiPara">
Onward to OpenBlend 2012!
</p>

<p class="wikiPara">
(p.s.: I need to stop blogging for now, otherwise I’ll have to pay Sacha for the “Onward” ™ … :-)</p>
</div>

