---
title: "Fixing decorators validation - Weld 1.1.8.Final"
author: "Aleš Justin"
blogger_name: "Ales"
creation_date: "07-05-2012"
original_tags: []
tags: [Weld]

relative_url: /2012/05/07/fixing-decorators-validation-weld-118-final
slug: fixing-decorators-validation-weld-118-final
lace: http://in.relation.to/23176.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/05/07/fixing-decorators-validation-weld-118-final
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Finally <q>Labour day</q> holidays came to an end, and I'm happy to announce we did a new Weld release during the holidays (thanks Stuart!)
</p>

<p class="wikiPara">
We (me) over did it a bit on Decorators validation, which showed in increased deployment time. So this release mostly addresses this issue.
</p>

<p class="wikiPara">
But we also fixed a few other pesky issues.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/issues/?jql=project=12310891%20AND%20fixVersion=12319459" target="" class="regularLink">Release notes</a>
</li>
</ul>

<p class="wikiPara">
Feedback welcome as always!
</p>
</div>

