---
title: "CapeDwarf is back from vacation and conferences -- new 1.0.0.Beta5!"
author: "Aleš Justin"
blogger_name: "Ales"
creation_date: "10-07-2013"
tags: []

relative_url: /2013/07/10/cape-dwarf-is-back-from-vacation-and-conferences-new-100-beta-5
slug: cape-dwarf-is-back-from-vacation-and-conferences-new-100-beta-5
lace: http://in.relation.to/24292.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/07/10/cape-dwarf-is-back-from-vacation-and-conferences-new-100-beta-5
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
After successful Google I/O and Red Hat Summit presentations, and some vacation, it's finally time to do a new release.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://downloads.jboss.org/capedwarf/CapeDwarf_AS7_1.0.0.Beta5.zip" target="" class="regularLink">CapeDwarf 1.0.0.Beta5</a>
</li>
</ul>

<p class="wikiPara">
Regarding the release issues, they've been mostly driven by TCK failures,
hence I'll let the release notes speak for themselves.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12311321&amp;version=12321677" target="" class="regularLink">Release notes</a>
</li>
</ul>

<p class="wikiPara">
Note: for the Windows users, an issue I just discovered after releasing the .zip, and it's unfortunately not as trivial as it looks like, hence I didn't want to stale the release even more.
So the fix for this is coming in the next release.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/browse/CAPEDWARF-186" target="" class="regularLink">capedwarf-bytecode.bat is broken</a>
</li>
</ul>

<p class="wikiPara">
The simple workaround is to run the full AS start command: <q>standalone.bat -c standalone-capedwarf.xml</q>.
(and a bit more work if you wanna use GAE API jar as a module)
</p>

<h2 class="wikiHeadline2" id="H-Newsnstuff"><a href="/2013/07/10/cape-dwarf-is-back-from-vacation-and-conferences-new-100-beta-5#H-Newsnstuff">News'n'stuff</a></h2>

<p class="wikiPara">
Apart from classic coding, it's been busy three months with a lot of news and new things around CapeDwarf project.
</p>

<h2 class="wikiHeadline2" id="H-GAETCK"><a href="/2013/07/10/cape-dwarf-is-back-from-vacation-and-conferences-new-100-beta-5#H-GAETCK">GAE TCK</a></h2>

<p class="wikiPara">
For those who missed my tweets about GAE TCK, here is the link again
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://github.com/GoogleCloudPlatform/appengine-tck" target="" class="regularLink">GAE TCK</a>
</li>
</ul>

<h2 class="wikiHeadline2" id="H-BlogsArticles"><a href="/2013/07/10/cape-dwarf-is-back-from-vacation-and-conferences-new-100-beta-5#H-BlogsArticles">Blogs, articles</a></h2>

<p class="wikiPara">
It looks like we're getting more and more traction on the blog / article scene
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://googlecloudplatform.blogspot.com/2013/06/google-app-engine-running-in-private-cloud-with-capedrawf.html" target="" class="regularLink">Ludo's blog, Google Cloud Platform</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.h-online.com/open/news/item/Google-and-Red-Hat-bring-App-Engine-to-JBoss-1894797.html" target="" class="regularLink">The H Open</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.informationweek.com/cloud-computing/platform/google-enhances-cloud-platform-to-ease-l/240157220" target="" class="regularLink">InformationWeek</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://blogs.gartner.com/yefim_natis/2013/07/05/google-and-red-hat-an-intriguing-partnership/" target="" class="regularLink">Yefim Natis, Gartner</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://plus.google.com/110401818717224273095/posts/Uoj3pmhbCkH" target="" class="regularLink">Peter Magnusson, Google</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://adtmag.com/articles/2013/07/09/capedwarf-partnership.aspx?m=2" target="" class="regularLink">ADT</a>
</li>
</ul>


<h2 class="wikiHeadline2" id="H-ConferencesTalks"><a href="/2013/07/10/cape-dwarf-is-back-from-vacation-and-conferences-new-100-beta-5#H-ConferencesTalks">Conferences, talks</a></h2>

<p class="wikiPara">
Since JavaOne notifications are out, I can happily say that my <i class="wikiEmphasis">Implementing your own Google App Engine</i> talk got accepted.
And I'll prolong my US stay with <a href="http://www.meetup.com/DC-JBug/events/128068042/" target="" class="regularLink">my visit to DC JBUG</a>. Welcome to drop by!
</p>
</div>

