---
title: "Busy busy busy - new 1.0.0.Beta3 CapeDwarf release finally out!"
author: "Aleš Justin"
blogger_name: "Ales"
creation_date: "12-03-2013"
original_tags: []
tags: []

relative_url: /2013/03/12/busy-busy-busy-new-100-beta-3-cape-dwarf-release-finally-out
slug: busy-busy-busy-new-100-beta-3-cape-dwarf-release-finally-out
lace: http://in.relation.to/24003.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/03/12/busy-busy-busy-new-100-beta-3-cape-dwarf-release-finally-out
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Download it here:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://downloads.jboss.org/capedwarf/CapeDwarf_AS7_1.0.0.Beta3.zip" target="" class="regularLink">http://downloads.jboss.org/capedwarf/CapeDwarf_AS7_1.0.0.Beta3.zip</a>
</li>
</ul>

<p class="wikiPara">
As you can see from the JIRA release notes, it’s been super busy 2 months.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://issues.jboss.org/issues/?jql=project=12311321+AND+fixVersion=12320952" target="" class="regularLink">https://issues.jboss.org/issues/?jql=project=12311321+AND+fixVersion=12320952</a>
</li>
</ul>

<p class="wikiPara">
Another new sub-project: CapeDwarf Shared.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://github.com/capedwarf/capedwarf-shared" target="" class="regularLink">https://github.com/capedwarf/capedwarf-shared</a>
</li>
</ul>

<p class="wikiPara">
It’s where we keep the shared code between our GAE API implementation (Blue) and JBossAS integration.
</p>

<p class="wikiPara">
There has been a lot of detail polishing on Blobstore, Logging and TaskQueue.
And we also added BlackList / WhiteList support, getting even closer to GAE behavior this way.
</p>

<p class="wikiPara">
Also big thanks to <a href="https://github.com/bartv" target="" class="regularLink">Bart</a> and <a href="http://distrinet.cs.kuleuven.be/people/showMember.do?memberID=u0059687" target="" class="regularLink">Wouter</a> for the patches and feedback.
</p>

<p class="wikiPara">
And yes, we finally simplified how you start the whole thing - thanks <a href="https://github.com/matejonnet" target="" class="regularLink">Lazo</a>. ;-)
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> ./capedwarf.sh or capedwarf.bat (in JBOSS_HOME/bin/) will do</li>
</ul>

<p class="wikiPara">
As always, feedback welcome!</p>
</div>

