---
title: "Weld 2.0.0.Alpha3"
author: "Jozef Hartinger"
blogger_name: "Jozef"
creation_date: "13-07-2012"
original_tags: []
tags: [Weld]

relative_url: /2012/07/13/weld-200-alpha-3
slug: weld-200-alpha-3
lace: http://in.relation.to/23341.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/07/13/weld-200-alpha-3
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Weld 2.0.0.Alpha3 has been released. This is purely a bugfixing release with more than 30 issues resolved. For a complete list of changes, see <a href="https://issues.jboss.org/issues/?jql=project=12310891%20AND%20fixVersion=12319471" target="" class="regularLink">release notes</a>. This release also comes along with and updated TCK for CDI 1.1.
</p>

<p class="wikiPara">
[ Distribution (<a href="http://sourceforge.net/projects/jboss/files/Weld/2.0.0.Alpha3/weld-2.0.0.Alpha3.zip/download" target="" class="regularLink">Weld</a>, <a href="https://sourceforge.net/projects/jboss/files/CDI-TCK/1.1.0.Alpha3/" target="" class="regularLink">CDI TCK</a>) ] [ <a href="http://sourceforge.net/projects/jboss/files/Weld/2.0.0.Alpha3/jboss-as-7.1.1.Final-weld-2.0.0.Alpha3.zip/download" target="" class="regularLink">JBoss AS 7.1.1.Final with Weld 2.0.0.Alpha3</a> ] [Release notes (<a href="https://issues.jboss.org/issues/?jql=project=12310891%20AND%20fixVersion=12319471" target="" class="regularLink">Weld</a>, <a href="https://issues.jboss.org/issues/?jql=project=12310900%20AND%20fixVersion=12319503" target="" class="regularLink">CDI TCK</a>)] [ <a href="http://docs.jboss.org/cdi/api/1.1.EDR1/" target="" class="regularLink">CDI 1.1 EDR1 Javadoc</a> ]</p>
</div>

