---
title: "Weld 2.0.0.Alpha2 released"
author: "Jozef Hartinger"
blogger_name: "Jozef"
creation_date: "26-04-2012"
tags: []

relative_url: /2012/04/26/Weld200Alpha2Released
slug: Weld200Alpha2Released
lace: http://in.relation.to/23138.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/04/26/Weld200Alpha2Released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Weld 2.0.0.Alpha2 has just been released. Weld 2 is an implementation of JSR-346 (CDI 1.1). The highlights of the new version are:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Significant improvement of memory usage. Our benchmarks show that the memory footprint of Weld 2 has been reduced by 50 - 80% compared to Weld 1. This has been achieved mostly by rewriting the metadata layer and separating metadata needed for Weld bootstrap from metadata used at runtime.</li>
<li class="wikiUnorderedListItem"> Concurrent bean deployer and bean validator. These two components speed up Weld bootstrap by leveraging capabilities of multi-core CPUs. The bootstrap time improvement is most significant in large deployments. We plan on reducing bootstrap time even more in future releases.</li>
<li class="wikiUnorderedListItem"> Stuart removed the Javassist dependency entirely and switched to <a href="https://github.com/jbossas/jboss-classfilewriter" target="" class="regularLink">jboss-classfilewriter</a>
</li>
<li class="wikiUnorderedListItem"> Around 30 bug fixes, mostly picked from the 1.x branches (most of the credit here goes to Stuart, Ales and Marko)</li>
</ul>

<p class="wikiPara">
Furthermore, a new version of the CDI 1.1 TCK has been released. The TCK currently provides a solid coverage (90.60%) of the <a href="http://jcp.org/aboutJava/communityprocess/edr/jsr346/index.html" target="" class="regularLink">JSR-346 Early Draft</a>
</p>

<p class="wikiPara">
[ Distribution (<a href="https://sourceforge.net/projects/jboss/files/Weld/2.0.0.Alpha2" target="" class="regularLink">Weld</a>, <a href="https://sourceforge.net/projects/jboss/files/CDI-TCK/1.1.0.Alpha2" target="" class="regularLink">CDI TCK</a>) ] [ <a href="http://sourceforge.net/projects/jboss/files/Weld/2.0.0.Alpha2/jboss-as-7.1.1.Final-weld-2.0.0.Alpha2.zip/download" target="" class="regularLink">JBoss AS 7.1.1.Final with Weld 2.0.0.Alpha2</a> ] [Release notes (<a href="https://issues.jboss.org/secure/ReleaseNote.jspa?version=12318664&amp;projectId=12310891" target="" class="regularLink">Weld</a>, <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310900&amp;version=12318884" target="" class="regularLink">CDI TCK</a>)] [ <a href="http://docs.jboss.org/cdi/api/1.1.EDR1/" target="" class="regularLink">CDI 1.1 EDR1 Javadoc</a> ]</p>
</div>
