---
title: "Weld 2.0.0.Beta2 released!"
author: "Jozef Hartinger"
blogger_name: "Jozef"
creation_date: "19-12-2012"
tags: []

absolute_url: http://in.relation.to/2012/12/19/Weld200Beta2Released
lace: http://in.relation.to/23806.lace
slug: Weld200Beta2Released

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The 2.0.0.Beta2 release of Weld comes less than a month after the previous release. We planned a spin this short to give you a chance to try out the CDI 1.1 preview implementation before going away for the winter break. Several bugs have been fixed. In addition, this release implements the latest changes in the CDI 1.1 specification (see the release notes for details).
</p>

<h2 class="wikiHeadline2" id="H-JBossAS"><a href="/Bloggers/Weld200Beta2Released#H-JBossAS">JBoss AS</a></h2>

<p class="wikiPara">
It's easy to upgrade your existing JBoss AS 7 installations with Weld 2. Check the installer (packaged within the distribution bundle) and follow the instructions. You'll need JBoss AS 7.1.1.Final or better.
</p>

<p class="wikiPara">
Happy Holidays Everyone!
</p>

<p class="wikiPara">
[ Distribution (<a href="https://sourceforge.net/projects/jboss/files/Weld/2.0.0.Beta2/" target="" class="regularLink">Weld</a>, <a href="https://sourceforge.net/projects/jboss/files/CDI-TCK/1.1.0.Beta2/" target="" class="regularLink">CDI TCK</a>)] [Release notes (<a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310891&amp;version=12320688" target="" class="regularLink">Weld</a>, <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310900&amp;version=12320684" target="" class="regularLink">CDI TCK</a>)] [ <a href="http://docs.jboss.org/cdi/api/1.1-PRD/" target="" class="regularLink">CDI 1.1 PRD Javadoc</a> ]</p>
</div>
