---
title: "Weld 2.0.0.Final released"
author: "Jozef Hartinger"
blogger_name: "Jozef"
creation_date: "25-04-2013"
tags: []

absolute_url: http://in.relation.to/2013/04/25/Weld200FinalReleased
lace: http://in.relation.to/24155.lace
slug: Weld200FinalReleased

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I am pleased to announce the release of Weld 2.0.0.Final, the reference implementation of Contexts and Dependency Injection for Java EE 1.1 (<a href="http://www.jcp.org/en/jsr/detail?id=346" target="" class="regularLink">JSR 346</a>). For a list of major changes in CDI 1.1 see the <a href="http://docs.jboss.org/cdi/spec/1.1/cdi-spec.html#_major_changes" target="" class="regularLink">specification</a>.
</p>

<p class="wikiPara">
The reference implementation will soon be available in <a href="https://glassfish.java.net/" target="" class="regularLink">GlassFish 4</a> and <a href="http://wildfly.org/" target="" class="regularLink">WildFly</a> (formerly JBoss Application Server). In the meantime you can check snapshots of the application servers.
</p>

<p class="wikiPara">
As always, Weld artifacts can be obtained from maven or you can use a distribution bundle.
</p>

<p class="wikiPara">
Along with the Weld release comes the final release of the Technology Compatibility Kit (TCK) for CDI 1.1. Martin Kouba did an excellent job writing new tests and keeping the TCK in sync with the almost never-ending stream of specification changes. The TCK splits the specification into 1550 testable assertions out of which 96.71% is covered by TCK tests.
</p>

<p class="wikiPara">
I would like to thank to everyone who lent a hand and helped delivering these releases, especially: Martin Kouba, Pete Muir, Marko Lukša, Stuart Douglas, Marek Schmidt, Ron Šmeral, Tomáš Remeš, JJ Snyder, Phil Zampino, Tomaž Cerar, Hardy Ferentschik, Lincoln Baxter III, Matúš Abaffy and others.
</p>

<p class="wikiPara">
[ Distribution (<a href="http://sourceforge.net/projects/jboss/files/Weld/2.0.0.Final/" target="" class="regularLink">Weld</a>, <a href="https://sourceforge.net/projects/jboss/files/CDI-TCK/1.1.0.Final/" target="" class="regularLink">CDI TCK</a>)]   [ Documentation (<a href="http://docs.jboss.org/weld/reference/2.0.0.Final/en-US/" target="" class="regularLink">Weld</a>, <a href="http://docs.jboss.org/cdi/tck/reference/1.1.0.Final/doc/" target="" class="regularLink">CDI TCK</a>)]   [ Javadoc (<a href="http://docs.jboss.org/cdi/api/1.1/" target="" class="regularLink">CDI 1.1</a>, <a href="http://docs.jboss.org/weld/javadoc/2.0/" target="" class="regularLink">Weld SPI</a>)]   [ <a href="https://issues.jboss.org/browse/WELD" target="" class="regularLink">Issue tracker</a>]</p>
</div>
