---
title: "Weld 2.0.1.Final"
author: "Jozef Hartinger"
blogger_name: "Jozef"
creation_date: "06-06-2013"
original_tags: []
tags: [Weld]

relative_url: /2013/06/06/weld-201-final
slug: weld-201-final
lace: http://in.relation.to/24253.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/06/06/weld-201-final
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Weld 2.0.1.Final has been released. This is mainly a bug-fixing release with 20 issues fixed since the previous one. For details, see the <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310891&amp;version=12321507" target="" class="regularLink">release notes</a>.
</p>

<p class="wikiPara">
Our focus is now shifting towards WildFly and its Weld integration in order to provide a CDI 1.1 compliant container. For details about CDI 1.1, see <a href="http://in.relation.to/2013/05/31/cdi-11-available" target="" class="regularLink">Pete's blog post</a>. Furthermore, we plan frequent releases of Weld to continue, so expect another release in early July at the latest!
</p>

<p class="wikiPara">
[ <a href="https://sourceforge.net/projects/jboss/files/Weld/2.0.1.Final" target="" class="regularLink">Distribution</a> ] [ <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310891&amp;version=12321507" target="" class="regularLink">Release notes</a> ] [ <a href="http://docs.jboss.org/weld/reference/2.0.1.Final/en-US/html/" target="" class="regularLink">Documentation</a> ] [ <a href="http://docs.jboss.org/cdi/api/1.1/" target="" class="regularLink">CDI 1.1 Javadoc</a> ]</p>
</div>

