---
title: "Moving to Seam 3 "
author: "Tihomir Surdilovic"
blogger_name: "Tihomir"
creation_date: "12-10-2009"
tags: []

relative_url: /2009/10/12/MovingToSeam3
slug: MovingToSeam3
lace: http://in.relation.to/12550.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/10/12/MovingToSeam3
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I am starting to move all Drools5 integration code to the <a href="http://anonsvn.jboss.org/repos/seam/modules/trunk/drools/" target="" class="regularLink">Seam 3 drools module</a> and will update the previous posts with correct links as soon as they are available. There will be no further development against the <a href="http://anonsvn.jboss.org/repos/seam/branches/community/Seam_2_2_Drools5" target="" class="regularLink">Seam 2.2.Drools5 branch</a>.</p>
</div>
