---
title: "JUDCon2010 Berlin - Applying Drools in Assistive Technology"
author: "Tihomir Surdilovic"
blogger_name: "Tihomir"
layout: blog-post
tags: []
slug: JUDCon2010BerlinApplyingDroolsInAssistiveTechnology
lace: http://in.relation.to/17359.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/JUDCon2010BerlinApplyingDroolsInAssistiveTechnology">JUDCon2010 Berlin - Applying Drools in Assistive Technology</a>
                    </h1>
</div>
<div>
<a href="http://www.slideshare.net/tsurdilovic/applying-drools-in-assistive-technology">Here</a> are the slides for my talk at this years JUDCon in Berlin. I was unfortunately not able to make it there in person, however Skype worked out great. Having to get up at 4am to test the connection was the hardest part ;) </div>

<p class="wikiPara">
The main topic of the talk was on how to apply Drools in Assistive Technology which is considered a <q>non-typical</q> technology field. It shows some of my past research and work in the area of assistive mouse-cursor control and shows how Drools as a fully fledged integration platform can further enhance the overall needs of current assistive technology devices and systems now and in the future. 
</p>

<p class="wikiPara">
If you are interested in Drools and Assistive Technology have a look and let me know what you think.
</p>
</div>
