---
title: "jBPM5 - Web-based BPMN2 authoring in Guvnor"
author: "Tihomir Surdilovic"
blogger_name: "Tihomir"
creation_date: "04-02-2011"
original_tags: []
tags: []

relative_url: /2011/02/04/jbpm-5-webbased-bpmn-2-authoring-in-guvnor
slug: jbpm-5-webbased-bpmn-2-authoring-in-guvnor
lace: http://in.relation.to/18247.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/02/04/jbpm-5-webbased-bpmn-2-authoring-in-guvnor
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We have completed big parts of the integration between Guvnor and the Oryx web-based business process editor.
Our primary use cases supported by this integration are:
</p>

<p class="wikiPara">
- Viewing existing jBPM5 processes in Guvnor
</p>

<p class="wikiPara">
- Prototyping new jBPM5 processes in Guvnor.
</p>

<p class="wikiPara">
Please note that we are still working on full round-tripping support between the web-based Oryx editor and our BPMN2 support provided through the eclipse plugin.
</p>

<p class="wikiPara">
Oryx is a web-based editor for modeling business processes hosted at Google Code. Oryx is also backed by <a href="http://www.signavio.com/en.html" target="" class="regularLink">Signavio</a>, who provides a professionally maintained version. Within Guvnor we integrate with the BPMN2 process designer provided from the Oryx branch which is maintained by <a href="https://github.com/atoulme" target="" class="regularLink">Antoine Toulme</a>. The goal of this branch is to apply upstream patches to the Oryx project and it's latest version can be downloaded from <a href="https://github.com/intalio/process-designer" target="" class="regularLink">github</a>.
</p>

<p class="wikiPara">
To start learning about web-based BPMN2 authoring in Guvnor click on the video link below:
</p>

<a href="http://people.redhat.com/kverlaen/install-guvnor-jbpm.swf"><img src="http://people.redhat.com/tsurdilo/oryx/oryxintegration.png" width="250" height="150"></a>

<p class="wikiPara">
The integration code is currently in the <a href="https://github.com/droolsjbpm/droolsjbpm" target="" class="regularLink">droolsjbpm project master on github</a>. Next step is to download the designer-1.0.0.047-SNAPSHOT-jboss.war from <a href="http://people.redhat.com/tsurdilo/oryx/1.0.0.047-SNAPSHOT/" target="" class="regularLink">here</a> and deploy it alongside your Guvnor war. No further configuration is necessary. Start up your server and you can start playing with authoring BPMN2 processes in Guvnor.</p>
</div>

