---
title: "JBoss Modules at JUDCon 2011"
author: "David Lloyd"
creation_date: "27-04-2011"
blogger_name: "David"
layout: blog-post
tags: [JUDCon,Modules]
slug: JBossModulesAtJUDCon2011
lace: http://in.relation.to/19530.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I will be giving two talks about JBoss Modules next week at JUDCon 2011 (Boston) - the first on Monday at 9:00 am (ouch, I know) about JBoss Modules in JBoss AS 7, and the second on Monday at 2:30pm about using JBoss Modules itself.  Also, I'll be around for most of the week (including during JBoss World/Red Hat Summit), and will be willing to Chat about Stuff when I can.
</p>

<p class="wikiPara">
You can still get tickets to JUDCon for $99 <a href="http://www.jboss.org/events/JUDCon/register.html" target="" class="regularLink">on the JUDCon registration page</a> until May 1.  Get more information about JUDCon <a href="http://www.jboss.org/events/JUDCon.html" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
See you there!
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'JBossModulesAtJUDCon2011';
    var disqus_title = 'JBoss Modules at JUDCon 2011';
    var disqus_url = 'http://in.relation.to/19530.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
