---
title: "JBoss Marshalling 1.3.0 Final Release Candidate"
author: "David Lloyd"
creation_date: "27-04-2011"
blogger_name: "David"
layout: blog-post
tags: [Marshalling]
slug: JBossMarshalling130FinalReleaseCandidate
lace: http://in.relation.to/19550.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
JBoss Marshalling 1.3.0 is about to land!  The ninth (and probably final) release candidate for 1.3.0 has been made available for download.  New in this version:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> A complete <i class="wikiEmphasis">object cloner</i> API which can clone any object which is marshallable by the marshalling API</li>
<li class="wikiUnorderedListItem"> Version 3 of the River protocol, featuring even more compact representations of collection classes</li>
<li class="wikiUnorderedListItem"> Many more useful stream-oriented base classes which can be used by your application</li>
<li class="wikiUnorderedListItem"> The ability to override serializability for any class or object</li>
<li class="wikiUnorderedListItem"> New module-system-ready API for constructing <tt>MarshallerFactory</tt>s and finding implementations</li>
<li class="wikiUnorderedListItem"> An OSGi bundle containing the Marshalling API and implementations</li>
<li class="wikiUnorderedListItem"> Support for <tt>ObjectInput</tt> constructors in <tt>Externalizable</tt> classes</li>
</ul>

<p class="wikiPara">
JBoss Marshalling is an object serialization library for Java which is fully compatible with Java serialization, yet outperforms it significantly and offers a vast array of additional customization and performance features.  In addition it features the advanced River serialization protocol which is API-compatible with Java serialization yet far more space- and computation-efficient.  It can be found in use within the excellent <a href="http://www.jboss.org/infinispan" target="" class="regularLink">Infinispan</a> project as well as finding heavy use in the upcoming <a href="http://www.jboss.org/jbossas" target="" class="regularLink">JBoss AS 7</a> release.
</p>

<p class="wikiPara">
The project can be found <a href="http://www.jboss.org/jbossmarshalling" target="" class="regularLink">at JBoss.org</a>.  This release and others are available <a href="http://www.jboss.org/jbossmarshalling/downloads" target="" class="regularLink">on the downloads page</a> and <a href="https://repository.jboss.org/nexus/content/repositories/releases" target="" class="regularLink">in the JBoss Public Maven repository</a>.  The JavaDocs are online <a href="http://docs.jboss.org/jbossmarshalling/1.3.0.CR9" target="" class="regularLink">here</a>. Give it a try and file and bugs you may find <a href="http://issues.jboss.org/browse/JBMAR" target="" class="regularLink">in JIRA</a>.  I plan to put out the 1.3.0 final release after JBossWorld next week.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'JBossMarshalling130FinalReleaseCandidate';
    var disqus_title = 'JBoss Marshalling 1.3.0 Final Release Candidate';
    var disqus_url = 'http://in.relation.to/19550.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
