---
title: "JBoss Modules at JUDCon 2011"
author: "David Lloyd"
blogger_name: "David"
creation_date: "27-04-2011"
tags: [JUDCon,Modules]

relative_url: /2011/04/27/JBossModulesAtJUDCon2011
slug: JBossModulesAtJUDCon2011
lace: http://in.relation.to/19530.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/04/27/JBossModulesAtJUDCon2011
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I will be giving two talks about JBoss Modules next week at JUDCon 2011 (Boston) - the first on Monday at 9:00 am (ouch, I know) about JBoss Modules in JBoss AS 7, and the second on Monday at 2:30pm about using JBoss Modules itself.  Also, I'll be around for most of the week (including during JBoss World/Red Hat Summit), and will be willing to Chat about Stuff when I can.
</p>

<p class="wikiPara">
You can still get tickets to JUDCon for $99 <a href="http://www.jboss.org/events/JUDCon/register.html" target="" class="regularLink">on the JUDCon registration page</a> until May 1.  Get more information about JUDCon <a href="http://www.jboss.org/events/JUDCon.html" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
See you there!
</p>
</div>
