---
title: "JavaOne, Jigsaw, JBoss Modules, and the Community (you!)"
author: "David Lloyd"
blogger_name: "David"
layout: blog-post
tags: [Event,JBoss Modules,JavaOne,Jigsaw,Modules]
slug: JavaOneJigsawJBossModulesAndTheCommunityYou
lace: http://in.relation.to/22155.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/JavaOneJigsawJBossModulesAndTheCommunityYou">JavaOne, Jigsaw, JBoss Modules, and the Community (you!)</a>
                    </h1>
</div>
<p class="wikiPara">
I had the pleasure of gabbing about JBoss Modules a couple times at the Red Hat/JBoss booth at JavaOne this year, drawing frankly more interest than I thought I'd see.  As a part of my talk (the video for which you can download <a href="http://www.jboss.org/events/javaone/theater" target="" class="regularLink">here</a> [well, soon anyway]), I chatted a bit about what the future may hold for Java in terms of modular runtime, modular development lifecycle, and distribution management.  Some things seem certain - that the current paradigm won't hold, for example - and some are very uncertain - such as what, if anything, will replace Maven as the ubiquitous modular build/distribution system of the future.
</p>

<p class="wikiPara">
There are many things that we, as a community, have learned over time about how projects are built, deployed, maintained, and integrated.  However, every popular build and deployment system in existence today is crafted from only a limited subset of this shared knowledge, usually from the point of view of that project's particular czar.  The advent of modularity in common usage, and ultimately the JDK, is the final call to arms for the community to step up and share their knowledge.
</p>

<p class="wikiPara">
Because Oracle continues to turn a deaf ear to the community when it comes to Jigsaw, it is left to the community itself to establish and understand the true nature of the problem of program and library distribution for Java.  The requirements published thus far by Oracle are presented from the perspective of a company whose expertise lies not in the development of the applications that you write, but in the sales and marketing of the platform that <u>they</u> develop.  This is why there is a community process, which is unfortunately thus far being largely bypassed in the development of Jigsaw and its supporting infrastructure.  History has clearly shown that the success of any given Java specification depends largely on community involvement and empowerment.  So it seems clear to me that the success of the modularity initiative will also depend on the community.
</p>

<p class="wikiPara">
With that in mind, members of the jigsaw-dev mailing list <a href="http://mail.openjdk.java.net/pipermail/jigsaw-dev/2011-October/001554.html" target="" class="regularLink">recently discussed</a> the idea of holding a community meeting for the purpose of brainstorming requirements for modularity in Java.  I am hoping that we can discuss topics ranging from run-time modular resolution requirements and technical details to build dependency resolution to library distribution paradigms; if the chat goes well we could even evolve it into a regular or semi-regular event.
</p>

<p class="wikiPara">
The chat is scheduled to be held at 10:00 A.M. US Pacific time on Friday, October 21, 2011 in the ##java-modularity channel at irc.freenode.net (<a href="http://webchat.freenode.net?channels=%23%23java-modularity" target="" class="regularLink">web chat link</a>).  If you have any experience you'd like to share, either as a user or a developer of an existing build or modularity system, or you just want to see what happens, please join in the discussion.  It's undecided at the moment but the discussion <u>may</u> be moderated, depending on attendance.  <i class="wikiEmphasis">Note!</i>  Make sure you have a <a href="http://freenode.net/faq.shtml#userregistration" target="" class="regularLink">registered nickname</a> ahead of time so you can join in without any issues when the time arrives.
</p>

<p class="wikiPara">
I look forward to chatting with you!
</p>
</div>
