---
title: "Future posts moving to a new home..."
author: "David Lloyd"
blogger_name: "David"
creation_date: "27-02-2014"
tags: []

absolute_url: http://in.relation.to/2014/02/27/FuturePostsMovingToANewHome
lace: http://in.relation.to/24964.lace
slug: FuturePostsMovingToANewHome

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Future posts by me will be moving to a new home at <a href="http://word-bits.flurg.com/" target="" class="regularLink">Word Bits</a>.  Be sure to update/add the new <a href="http://word-bits.flurg.com/feed/" target="" class="regularLink">RSS Link</a> if you do that sort of thing.</p>
</div>
