---
title: "Future posts moving to a new home..."
author: "David Lloyd"
blogger_name: "David"
layout: blog-post
tags: []
slug: FuturePostsMovingToANewHome
lace: http://in.relation.to/24964.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/FuturePostsMovingToANewHome">Future posts moving to a new home...</a>
                    </h1>
</div>
<p class="wikiPara">
Future posts by me will be moving to a new home at <a href="http://word-bits.flurg.com/" target="" class="regularLink">Word Bits</a>.  Be sure to update/add the new <a href="http://word-bits.flurg.com/feed/" target="" class="regularLink">RSS Link</a> if you do that sort of thing.</p>
</div>
