---
title: "Weld 1.1.7.Final Released"
author: "Stuart Douglas"
blogger_name: "Stuart"
layout: blog-post
tags: [weld]
slug: Weld117FinalReleased
lace: http://in.relation.to/23105.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/Weld117FinalReleased">Weld 1.1.7.Final Released</a>
                    </h1>
</div>
<p class="wikiPara">
Hot on the heels of Weld 1.1.6 we have released Weld 1.1.7.Final. This release has only a few minor changes, mainly performance improvements, especially in the area of observer method resolution. Due to community feedback we have also relaxed the stricter checking of interceptor method signatures that were introduced in 1.1.6. 
</p>

</div>
