---
title: "Weld 1.1.7.Final Released"
author: "Stuart Douglas"
blogger_name: "Stuart"
creation_date: "13-04-2012"
tags: [weld]

relative_url: /2012/04/13/Weld117FinalReleased
slug: Weld117FinalReleased
lace: http://in.relation.to/23105.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/04/13/Weld117FinalReleased
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hot on the heels of Weld 1.1.6 we have released Weld 1.1.7.Final. This release has only a few minor changes, mainly performance improvements, especially in the area of observer method resolution. Due to community feedback we have also relaxed the stricter checking of interceptor method signatures that were introduced in 1.1.6. 
</p>

</div>

