---
title: "Hibernate 3.6.0.CR2 release"
author: "Gail Badner"
blogger_name: "Gail"
creation_date: "30-09-2010"
tags: [Core Release,Hibernate,News]

relative_url: /2010/09/30/Hibernate360CR2Release
slug: Hibernate360CR2Release
lace: http://in.relation.to/17202.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/09/30/Hibernate360CR2Release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate 3.6.0.CR2 has mainly minor bug fixes with several improvements. 
</p>

<p class="wikiPara">
The improvements are:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-5560" target="" class="regularLink">HHH-5560</a> Envers has added support for ValidityAuditStrategy - an alternative way to write history entries. The new strategy offers increased query performance, at the cost of additional operations during audit writing. For details see the blogs <a href="http://www.warski.org/blog/?p=239" target="" class="regularLink">here</a> and <a href="http://www.warski.org/blog/?p=261" target="" class="regularLink">here</a>.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://opensource.atlassian.com/projects/hibernate/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=project+%3D+HHH+AND+component=annotations+AND+%28summary+%21%7ETestCase%29+AND+resolution+%3D+Fixed+AND+fixVersion+%3D+%223.6.0.CR2%22+ORDER+BY+priority+DESC" target="" class="regularLink">Several</a> improvements to annotations support for discriminators, column-level read/write expressions, and timestamp versions.</li>
</ul>

<p class="wikiPara">
Some fixes of particular interest are:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-5552" target="" class="regularLink">HHH-5552</a> and <a href="http://hibernate.onjira.com/browse/HHH-5563" target="" class="regularLink">HHH-5563</a> fix classloading issues using Infinispan.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-892" target="" class="regularLink">HHH-892</a> would cause an exception when an HQL query has an ORDER BY clause that refers to a result variable (i.e., select expression alias).</li>
</ul>

<p class="wikiPara">
For more details about Hibernate 3.6.0.CR2, see the <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH/fixforversion/11131" target="" class="regularLink">release notes</a>.
</p>

<p class="wikiPara">
The <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">artifacts</a> have all been published to the <a href="https://repository.jboss.org/nexus/" target="" class="regularLink">JBoss Maven repository</a>. 
</p>

<p class="wikiPara">
The release bundles have been uploaded to <a href="https://sourceforge.net/projects/hibernate/files/hibernate3/3.6.0.CR2" target="" class="regularLink">SourceForge</a>.
</p>

<p class="wikiPara">
Please report any issues to <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH" target="" class="regularLink">Jira</a>. Visit us on <a href="http://hibernate.org/community/irc.html" target="" class="regularLink">IRC</a> or the <a href="https://forum.hibernate.org/" target="" class="regularLink">forums</a> if you have usage questions.
</p>

<p class="wikiPara">
Thanks!</p>
</div>
