---
title: "Hibernate 3.5.3-Final release"
author: "Gail Badner"
creation_date: "17-06-2010"
blogger_name: "Gail"
layout: blog-post
tags: [Core Release,Hibernate,News]
slug: Hibernate353FinalRelease
lace: http://in.relation.to/15882.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
3.5.3-Final is a maintenance release of mainly minor bug fixes. Some fixes of particular interest are:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-5098" target="" class="regularLink">HHH-5098</a> would cause an AssertionFailure when Entity Manager builds the metamodel for an entity that has a parameterized collection. </li>
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-3220" target="" class="regularLink">HHH-3220</a> would cause an AssertionFailure when a StatelessSession is used to execute a query that requires joins that exceed the max<u>fetch</u>depth setting.</li>
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-4036" target="" class="regularLink">HHH-4036</a> would lead to an exception when an entity subclass is mapped with an entity name.</li>
</ul>

<p class="wikiPara">
For the the full list of changes, see the <a href="http://opensource.atlassian.com/projects/hibernate/secure/ReleaseNote.jspa?projectId=10031&amp;version=11051" target="" class="regularLink">release notes</a>.
</p>

<p class="wikiPara">
For more details about Hibernate 3.5.3-Final, see the <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH/fixforversion/11051" target="" class="regularLink">release page</a>
</p>

<p class="wikiPara">
The <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">artifacts</a> have all been published to the <a href="https://repository.jboss.org/nexus/" target="" class="regularLink">JBoss Maven repository</a>. You can find out more about the JBoss Maven repository <a href="http://community.jboss.org/en/build/blog/2010/04/20/announcement--new-maven-repository-infrastructure" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
The release bundles have been uploaded to <a href="https://sourceforge.net/projects/hibernate/files/hibernate3/3.5.3-Final" target="" class="regularLink">SourceForge</a>.
</p>

<p class="wikiPara">
Please report any issues to <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH" target="" class="regularLink">Jira</a>. Visit us on <a href="http://hibernate.org/community/irc.html" target="" class="regularLink">IRC</a> or the <a href="https://forum.hibernate.org/" target="" class="regularLink">forums</a> if you have usage questions.
</p>

<p class="wikiPara">
Thanks!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'Hibernate353FinalRelease';
    var disqus_title = 'Hibernate 3.5.3-Final release';
    var disqus_url = 'http://in.relation.to/15882.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
