---
title: "Simultaneous Hibernate 3.5.6-Final and 3.6.0.CR1 Releases"
author: "Gail Badner"
blogger_name: "Gail"
creation_date: "16-09-2010"
original_tags: [Core Release,Hibernate,News]
tags: [Hibernate ORM,Releases]

relative_url: /2010/09/16/simultaneous-hibernate-356-final-and-360-cr-1-releases
slug: simultaneous-hibernate-356-final-and-360-cr-1-releases
lace: http://in.relation.to/16996.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/09/16/simultaneous-hibernate-356-final-and-360-cr-1-releases
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Today we have released both 3.5.6-Final and 3.6.0.CR1. 
</p>

<h1 class="wikiHeadline1" id="H-356"><a href="/2010/09/16/simultaneous-hibernate-356-final-and-360-cr-1-releases#H-356">3.5.6</a></h1>

<p class="wikiPara">
3.5.6-Final is a maintenance release of mainly minor bug fixes. Some fixes of particular interest are:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-5310" target="" class="regularLink">HHH-5310</a> would cause a MappingException when deploying a JEE application with orm<u>2</u>0.xml compliant mapping</li>
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-5564" target="" class="regularLink">HHH-5564</a> upgraded Infinispan to 4.2.x; in addition, there were <a href="http://opensource.atlassian.com/projects/hibernate/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=project+%3D+HHH+AND+%28summary+%7E+Infinispan+OR+description+%7E+Infinispan%29+AND+resolution+%3D+Fixed+AND+fixVersion+%3D+%223.5.6%22+ORDER+BY+priority+DESC" target="" class="regularLink">several</a> fixes to integration code for Infinispan.</li>
</ul>

<p class="wikiPara">
For more details about Hibernate 3.5.6-Final, see the <a href="http://opensource.atlassian.com/projects/hibernate/issues/?jql=project=10031%20AND%20fixVersion=11142" target="" class="regularLink">release notes</a>.
</p>

<p class="wikiPara">
The <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">artifacts</a> have all been published to the <a href="https://repository.jboss.org/nexus/" target="" class="regularLink">JBoss Maven repository</a>. 
</p>

<p class="wikiPara">
The release bundles have been uploaded to <a href="https://sourceforge.net/projects/hibernate/files/hibernate3/3.5.6-Final" target="" class="regularLink">SourceForge</a>.
</p>


<h1 class="wikiHeadline1" id="H-360CR1"><a href="/2010/09/16/simultaneous-hibernate-356-final-and-360-cr-1-releases#H-360CR1">3.6.0.CR1</a></h1>

<p class="wikiPara">
3.6.0.CR1 builds on the work from 3.6.0.Beta4 as well as from 3.5.6-Final.
</p>

<p class="wikiPara">
In addition to the fixes mentioned above for 3.5.6-Final, the following are of particular interest:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-5441" target="" class="regularLink">HHH-5441</a> completes the Getting Started Guide, which contains a collection of tutorials (including Envers) and information on the Hibernate community, etc. You can see it <a href="http://docs.jboss.org/hibernate/core/3.6/quickstart/en-US/html_single/index.html" target="" class="regularLink">here</a>.</li>
<li class="wikiUnorderedListItem"> <a href="http://opensource.atlassian.com/projects/hibernate/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=project+%3D+HHH+AND+%28summary+%7E+Sybase+OR+description+%7E+Sybase%29+AND+resolution+%3D+Fixed+AND+fixVersion+%3D+%223.6.0.CR1%22+ORDER+BY+priority+DESC" target="" class="regularLink">Several</a> improvements in Hibernate's support for Sybase ASE 15.</li>
</ul>

<p class="wikiPara">
For more details about Hibernate 3.6.0.CR1, see the <a href="http://opensource.atlassian.com/projects/hibernate/issues/?jql=project=10031%20AND%20fixVersion=11141" target="" class="regularLink">release notes</a>.
</p>

<p class="wikiPara">
The <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">artifacts</a> have all been published to the <a href="https://repository.jboss.org/nexus/" target="" class="regularLink">JBoss Maven repository</a>. 
</p>

<p class="wikiPara">
The release bundles have been uploaded to <a href="https://sourceforge.net/projects/hibernate/files/hibernate3/3.6.0.CR1" target="" class="regularLink">SourceForge</a>.
</p>

<p class="wikiPara">
Please report any issues to <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH" target="" class="regularLink">Jira</a>. Visit us on <a href="https://hibernate.org/community/irc.html" target="" class="regularLink">IRC</a> or the <a href="https://forum.hibernate.org/" target="" class="regularLink">forums</a> if you have usage questions.
</p>

<p class="wikiPara">
Thanks!</p>
</div>

