---
title: "Hibernate Core 3.6.4.Final"
author: "Gail Badner"
blogger_name: "Gail"
creation_date: "06-05-2011"
original_tags: [Core Release,Hibernate,News]
tags: [Hibernate ORM,Releases]

relative_url: /2011/05/06/hibernate-core-364-final
slug: hibernate-core-364-final
lace: http://in.relation.to/19946.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/05/06/hibernate-core-364-final
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate 3.6.4.Final is mainly a maintenance release with a couple of improvements. 
</p>

<p class="wikiPara">
Of interest are:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-2049" target="" class="regularLink">HHH-2049</a> resulted in a entity's collection having missing elements if the collectoin was outer-joined using a subcriteria with restrictions; the only elements in the collection would be those that satisfied the subcriteria restriction.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Envers bugfixes: <a href="http://hibernate.onjira.com/browse/HHH-4073" target="" class="regularLink">HHH-4073</a>, <a href="http://hibernate.onjira.com/browse/HHH-4787" target="" class="regularLink">HHH-4787</a>, <a href="http://hibernate.onjira.com/browse/HHH-5276" target="" class="regularLink">HHH-5276</a>, <a href="http://hibernate.onjira.com/browse/HHH-6069" target="" class="regularLink">HHH-6069</a>.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-6170" target="" class="regularLink">HHH-6170</a> provides a way to customize the default TransactionFactory and TransactionManagerLookup if none is specified.</li>
</ul>

<p class="wikiPara">
For more details about Hibernate 3.6.4-Final, see the <a href="http://opensource.atlassian.com/projects/hibernate/secure/ReleaseNote.jspa?projectId=10031&amp;version=11220" target="" class="regularLink">release notes</a>.
</p>

<p class="wikiPara">
The <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">artifacts</a> have all been published to the <a href="https://repository.jboss.org/nexus/" target="" class="regularLink">JBoss Maven repository</a>. 
</p>

<p class="wikiPara">
The release bundles have been uploaded to <a href="https://sourceforge.net/projects/hibernate/files/hibernate3/3.6.4.Final/" target="" class="regularLink">SourceForge</a>.</p>
</div>

