---
title: "Hibernate Core 3.6.7-Final release"
author: "Gail Badner"
creation_date: "18-08-2011"
blogger_name: "Gail"
layout: blog-post
tags: [Core Release,Hibernate,News]
slug: HibernateCore367FinalRelease
lace: http://in.relation.to/21581.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate Core 3.6.7.Final is a maintenance release with just a couple of fixes. 
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-1780" target="" class="regularLink">HHH-1780</a> caused negation (NOT) in HQL WHERE clauses to be inverted incorrectly when a single NOT was applied to AND-ed or OR-ed constraints, as in <q>WHERE NOT ( constraint1 OR constraint2 )</q>; NOT was only being applied to the first constraint.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-6370" target="" class="regularLink">HHH-6370</a> fixed some issues and made some improvements to HSQLDialect.</li>
</ul>

<p class="wikiPara">
For more details about Hibernate 3.6.7-Final, see the <a href="https://hibernate.onjira.com/browse/HHH/fixforversion/11250" target="" class="regularLink">release notes</a>.
</p>

<p class="wikiPara">
The artifacts have all been published to the <a href="https://repository.jboss.org/nexus/" target="" class="regularLink">JBoss Nexus repository</a> under the org.hibernate groupId at <a href="http://repository.jboss.org/nexus/content/groups/public-jboss/" target="" class="regularLink">http://repository.jboss.org/nexus/content/groups/public-jboss/</a> (not browsable). To browse this repository, go <a href="https://repository.jboss.org/nexus/index.html#view-repositories;public-jboss~browsestorage" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
DOWNLOAD the release bundles from <a href="https://sourceforge.net/projects/hibernate/files/hibernate3/3.6.7.Final/" target="" class="regularLink">SourceForge</a>.
</p>

<p class="wikiPara">
Please report any issues to <a href="https://hibernate.onjira.com/secure/Dashboard.jspa" target="" class="regularLink">Jira</a>. Visit us on <a href="http://hibernate.org/community/irc.html" target="" class="regularLink">IRC</a> or the <a href="https://forum.hibernate.org/" target="" class="regularLink">forums</a> if you have usage questions.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'HibernateCore367FinalRelease';
    var disqus_title = 'Hibernate Core 3.6.7-Final release';
    var disqus_url = 'http://in.relation.to/21581.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
