---
title: "Hibernate Core 4.0.0.CR5 Release"
author: "Gail Badner"
blogger_name: "Gail"
creation_date: "27-10-2011"
original_tags: [Core Release,Hibernate,News]
tags: [Hibernate ORM,Releases]

relative_url: /2011/10/27/hibernate-core-400-cr-5-release
slug: hibernate-core-400-cr-5-release
lace: http://in.relation.to/22219.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/10/27/hibernate-core-400-cr-5-release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate Core 4.0.0.CR5 has just been released. 
</p>

<p class="wikiPara">
We are releasing a new CR because of a classloading issue (<a href="http://hibernate.onjira.com/browse/HHH-6715" target="" class="regularLink">HHH-6715</a>) affecting applications that integrate with Hibernate. In addition, some bugs were fixed and some improvements were made that should improve performance.
</p>

<p class="wikiPara">
For more details, see the <a href="https://hibernate.onjira.com/secure/ReleaseNote.jspa?projectId=10031&amp;version=11550" target="" class="regularLink">JIRA release notes</a>.
</p>

<p class="wikiPara">
The artifacts have all been published to the <a href="https://repository.jboss.org/nexus/" target="" class="regularLink">JBoss Nexus repository</a> under the org.hibernate groupId at <a href="http://repository.jboss.org/nexus/content/groups/public-jboss/" target="" class="regularLink">http://repository.jboss.org/nexus/content/groups/public-jboss/</a>.
</p>

<p class="wikiPara">
Please report any issues to <a href="https://hibernate.onjira.com/secure/Dashboard.jspa" target="" class="regularLink">Jira</a>. Visit us on <a href="https://hibernate.org/community/irc.html" target="" class="regularLink">IRC</a> or the <a href="https://forum.hibernate.org/" target="" class="regularLink">forums</a> if you have usage questions.
</p>

<h1><a href="https://sourceforge.net/projects/hibernate/files/hibernate4/4.0.0.CR5/">=&gt; DOWNLOAD</a></h1>
</div>

