---
title: "Hibernate Core 3.6.6.Final Release"
author: "Gail Badner"
creation_date: "21-07-2011"
blogger_name: "Gail"
layout: blog-post
tags: [Core Release,Hibernate,News]
slug: HibernateCore366FinalRelease
lace: http://in.relation.to/21172.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate 3.6.6.Final is mainly a maintenance release with a couple of improvements. 
</p>

<p class="wikiPara">
There were a couple of dependencies that were upgraded:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-6322" target="" class="regularLink">HHH-6322</a> upgraded to hibernate-jpa-2.0-api-1.0.1.Final</li>
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-6455" target="" class="regularLink">HHH-6455</a> upgraded to Ehcache 2.4.3.</li>
</ul>

<p class="wikiPara">
There were several improvements to dialects:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-2614" target="" class="regularLink">HHH-2614</a> caused LOB columns specified without a length to be exported with length 255 when using a Derby database. With this fix, the length is no longer exported for LOB columns, enabling Derby to set the default length to 2M-1 bytes. If a length is specified it will be ignored, so if you want a LOB column with a non-default length, then you will have to write the DDL yourself.</li>
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-6386" target="" class="regularLink">HHH-6386</a> and <a href="http://hibernate.onjira.com/browse/HHH-6420" target="" class="regularLink">HHH-6420</a> provided improvements to Sybase and SQL Server support, respectively</li>
</ul>

<p class="wikiPara">
For more details about Hibernate 3.6.6-Final, see the <a href="https://hibernate.onjira.com/secure/ReleaseNote.jspa?projectId=10031&amp;version=11232" target="" class="regularLink">release notes</a>.
</p>

<p class="wikiPara">
The artifacts have all been published to the <a href="https://repository.jboss.org/nexus/" target="" class="regularLink">JBoss Maven repository</a> under the org.hibernate groupId. For more information about using the JBoss Maven repository, go <a href="http://community.jboss.org/wiki/MavenSettings" target="" class="regularLink">here</a>
</p>

<p class="wikiPara">
The release bundles have been uploaded to <a href="https://sourceforge.net/projects/hibernate/files/hibernate3/3.6.6.Final/" target="" class="regularLink">SourceForge</a>.
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'HibernateCore366FinalRelease';
    var disqus_title = 'Hibernate Core 3.6.6.Final Release';
    var disqus_url = 'http://in.relation.to/21172.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
