---
title: "Hibernate ORM 4.3.7.Final and 4.2.16.Final Released"
author: "Gail Badner"
blogger_name: "Gail"
creation_date: "03-11-2014"
tags: [Core Release,Hibernate,News]

relative_url: /2014/11/03/HibernateORM437FinalAnd4216FinalReleased
slug: HibernateORM437FinalAnd4216FinalReleased
lace: http://in.relation.to/35997.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2014/11/03/HibernateORM437FinalAnd4216FinalReleased
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
For more information, please see:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> 4.3.7.Final change log: <a href="https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=17650" target="" class="regularLink">https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=17650</a>
</li>
<li class="wikiUnorderedListItem"> 4.2.16.Final change log: <a href="https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=17750" target="" class="regularLink">https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=17750</a>
</li>
</ul>

<p class="wikiPara">
Most changes applied to both versions. Of note are:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-9312" target="" class="regularLink">HHH-9312</a> fixed a database connection leak with JTA transaction tracking caused by a transaction timeout detected by a background thread with the transaction rolled back immediately; the background thread was not closing the database connection when Synchronization.afterCompletion(int status) was called; instead, the database connection was not closed until the next application request that used the affected Hibernate session.</li>
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-9387" target="" class="regularLink">HHH-9387</a>, <a href="https://hibernate.atlassian.net/browse/HHH-9389" target="" class="regularLink">HHH-9389</a>, and <a href="https://hibernate.atlassian.net/browse/HHH-9390" target="" class="regularLink">HHH-9390</a> fixed some bugs in generated table and foreign key column names for collections when JPA annotations were used. Because these fixes could break existing applications (that rely on the incorrectly generated table and column names) they are not fixed by default. A new API (NamingStrategyDelegator) was added (<a href="https://hibernate.atlassian.net/browse/HHH-9388" target="" class="regularLink">HHH-9388</a>) to enable these fixes because the NamingStrategy API was too inflexible to allow making changes without causing regressions when a custom NamingStrategy is used. NamingStrategy has been deprecated (<a href="https://hibernate.atlassian.net/browse/HHH-7079" target="" class="regularLink">HHH-7079</a> in favor of this new API. Documentation for the NamingStrategyDelegator API has not been added to the manual yet, and the API is not supported in the standalone schema tools yet. Both will be added in 4.3.8 and 4.2.17. For now, you can see details about enabling the fix in the Jira issues.</li>
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-9305" target="" class="regularLink">HHH-9305</a> fixed various bugs in SQL generated for HQL queries that contain an <q>implicit join</q>. The following are examples of HQL affected by this bug are:</li>
</ul>

<pre class="wikiPreformatted">
       // e.department is implicitly joined in the "select" clause, and is explicitly joined in the "from" clause
       select e.department from Employee e inner join e.department

       // a.zoo is implicitly joined in the "select", "where", and "order by" clauses
       select distinct a.zoo from Animal a where a.zoo is not null order by a.zoo.name
</pre>


<p class="wikiPara">
There were several fixes made to 4.3.7 (only):
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-8839" target="" class="regularLink">HHH-8839</a> fixed a bug that caused an IllegalStateException when rendering the SQL for loading an entity with an eager map having an entity key.</li>
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-8895" target="" class="regularLink">HHH-8895</a> fixed a bug that caused a SQLGrammarException when   enabling a filter that is defined on a @MappedSuperclass hierarchy because the filter condition was getting applied to all tables in the hierarchy, instead of just one where the filter is defined.</li>
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-3868" target="" class="regularLink">HHH-3868</a> fixed a bug that caused NullPointerException when merging an entity  Merging transient entity with an @Embeddable property containing a @org.hibernate.annotations.Parent mapping.</li>
</ul>

<p class="wikiPara">
JBoss Nexus: <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate" target="" class="regularLink">https://repository.jboss.org/nexus/content/groups/public/org/hibernate</a><br>
Maven Central: <a href="http://repo1.maven.org/maven2/org/hibernate/hibernate-core" target="" class="regularLink">http://repo1.maven.org/maven2/org/hibernate/hibernate-core</a> (should update in a couple of days)<br>
</p>

<p class="wikiPara">
SourceForge: <a href="https://sourceforge.net/projects/hibernate/files/hibernate4" target="" class="regularLink">https://sourceforge.net/projects/hibernate/files/hibernate4</a><br>
4.3.7.Final Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.3.7.Final/hibernate-release-4.3.7.Final.zip/download" target="" class="regularLink">4.3.7.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.3.7.Final/hibernate-release-4.3.7.Final.tgz/download" target="" class="regularLink">4.3.7.Final TGZ</a><br>
4.2.16.Final Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.16.Final/hibernate-release-4.2.16.Final.zip/download" target="" class="regularLink">4.2.16.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.16.Final/hibernate-release-4.2.16.Final.tgz/download" target="" class="regularLink">4.2.16.Final TGZ</a>
</p>
</div>

