---
title: "Hibernate ORM 4.2.14.Final Released"
author: "Gail Badner"
blogger_name: "Gail"
creation_date: "26-06-2014"
original_tags: [Core Release,Hibernate,News]
tags: [Hibernate ORM,Releases]

relative_url: /2014/06/26/hibernate-orm-4214-final-released
slug: hibernate-orm-4214-final-released
lace: http://in.relation.to/27287.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2014/06/26/hibernate-orm-4214-final-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate ORM 4.2.14.Final was just released! Please see the full changelog for more information: <a href="https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=17152" target="" class="regularLink">https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=17152</a>.
</p>

<p class="wikiPara">
Another 4.2.x version was necessary to make the following changes:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-9255" target="" class="regularLink">HHH-9255</a> reverts <a href="https://hibernate.atlassian.net/browse/HHH-9222" target="" class="regularLink">HHH-9222</a>, which caused incorrect SQL to be generated when bulk deleting collections that use a property-ref;</li>
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-9252" target="" class="regularLink">HHH-9252</a> fixes a bug where an error executing a batch did not abort the rest of the batch.</li>
</ul>

<p class="wikiPara">
JBoss Nexus: <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate" target="" class="regularLink">https://repository.jboss.org/nexus/content/groups/public/org/hibernate</a><br>
Maven Central: <a href="http://repo1.maven.org/maven2/org/hibernate/hibernate-core" target="" class="regularLink">http://repo1.maven.org/maven2/org/hibernate/hibernate-core</a> (should update in a couple of days)<br>
SourceForge: <a href="https://sourceforge.net/projects/hibernate/files/hibernate4" target="" class="regularLink">https://sourceforge.net/projects/hibernate/files/hibernate4</a><br>
Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.14.Final/hibernate-release-4.2.14.Final.zip/download" target="" class="regularLink">4.2.14.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.14.Final/hibernate-release-4.2.14.Final.tgz/download" target="" class="regularLink">4.2.14.Final TGZ</a></p>
</div>

