---
title: "Hibernate ORM 4.2.13.Final Released"
author: "Gail Badner"
blogger_name: "Gail"
creation_date: "29-05-2014"
tags: [Core Release,Hibernate,News]

relative_url: /2014/05/29/HibernateORM4213FinalReleased
slug: HibernateORM4213FinalReleased
lace: http://in.relation.to/25979.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2014/05/29/HibernateORM4213FinalReleased
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate ORM 4.2.13.Final was just released!  Please see the full changelog for more information: <a href="https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=16650" target="" class="regularLink">https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=16650</a>.
</p>

<p class="wikiPara">
Another 4.2.x release was necessary to fix the following:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-9154" target="" class="regularLink">HHH-9154</a>: fixes a regression introduced in 4.2.12 that broke HQL queries with a named parameter that is an HQL keyword;</li>
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-9204" target="" class="regularLink">HHH-9204</a>: fixes a regression introduced in 4.2.12 that changed the method signature for an SPI, AbstractCollectionPersister.doProcessQueuedOps(PersistentCollection, Serializable, SessionImplementor);</li>
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-9170" target="" class="regularLink">HHH-9170</a>: fixes a regression introduced in 4.2.8 that enables the second-level cache for a StatelessSession in some cases.</li>
</ul>

<p class="wikiPara">
In addition, there were several improvements and minor fixes. 
</p>

<p class="wikiPara">
JBoss Nexus: <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate" target="" class="regularLink">https://repository.jboss.org/nexus/content/groups/public/org/hibernate</a><br>
Maven Central: <a href="http://repo1.maven.org/maven2/org/hibernate/hibernate-core" target="" class="regularLink">http://repo1.maven.org/maven2/org/hibernate/hibernate-core</a> (should update in a couple of days)<br>
SourceForge: <a href="https://sourceforge.net/projects/hibernate/files/hibernate4" target="" class="regularLink">https://sourceforge.net/projects/hibernate/files/hibernate4</a><br>
Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.13.Final/hibernate-release-4.2.13.Final.zip/download" target="" class="regularLink">4.2.13.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.13.Final/hibernate-release-4.2.13.Final.tgz/download" target="" class="regularLink">4.2.13.Final TGZ</a></p>
</div>
