---
title: "Hibernate ORM 4.3.8.Final and 4.2.17.Final Released"
author: "Gail Badner"
blogger_name: "Gail"
creation_date: "07-01-2015"
original_tags: [Core Release,Hibernate,News]
tags: [Hibernate ORM,Releases]

relative_url: /2015/01/07/hibernate-orm-438-final-and-4217-final-released
slug: hibernate-orm-438-final-and-4217-final-released
lace: http://in.relation.to/42474.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2015/01/07/hibernate-orm-438-final-and-4217-final-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
These releases contain mostly minor bugfixes and improvements. For more information, please see:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> 4.3.8.Final change log: <a href="https://hibernate.atlassian.net/issues/?jql=project=10031+AND+fixVersion=18151" target="" class="regularLink">https://hibernate.atlassian.net/issues/?jql=project=10031+AND+fixVersion=18151</a>
</li>
<li class="wikiUnorderedListItem"> 4.2.17.Final change log: <a href="https://hibernate.atlassian.net/issues/?jql=project=10031+AND+fixVersion=18451" target="" class="regularLink">https://hibernate.atlassian.net/issues/?jql=project=10031+AND+fixVersion=18451</a>
</li>
</ul>

<p class="wikiPara">
Most changes applied to both versions. Of note are:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> A new MySQL dialect (MySQL57InnoDBDialect) that adds support for fractional seconds <a href="https://hibernate.atlassian.net/browse/HHH-8401" target="" class="regularLink">HHH-8401</a>;</li>
<li class="wikiUnorderedListItem"> NamingStrategyDelegator is now supported by standalone schema tools <a href="https://hibernate.atlassian.net/browse/HHH-9467" target="" class="regularLink">HHH-9467</a>.</li>
</ul>

<p class="wikiPara">
Other fixes made to 4.3.8 (only) were minor bug fixes and improvements.
</p>

<p class="wikiPara">
JBoss Nexus: <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate" target="" class="regularLink">https://repository.jboss.org/nexus/content/groups/public/org/hibernate</a><br>
Maven Central: <a href="http://repo1.maven.org/maven2/org/hibernate/hibernate-core" target="" class="regularLink">http://repo1.maven.org/maven2/org/hibernate/hibernate-core</a> (should update in a couple of days)<br>
</p>

<p class="wikiPara">
SourceForge: <a href="https://sourceforge.net/projects/hibernate/files/hibernate4" target="" class="regularLink">https://sourceforge.net/projects/hibernate/files/hibernate4</a><br>
4.3.8.Final Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.3.8.Final/hibernate-release-4.3.8.Final.zip/download" target="" class="regularLink">4.3.8.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.3.8.Final/hibernate-release-4.3.8.Final.tgz/download" target="" class="regularLink">4.3.8.Final TGZ</a><br>
4.2.17.Final Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.17.Final/hibernate-release-4.2.17.Final.zip/download" target="" class="regularLink">4.2.17.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.17.Final/hibernate-release-4.2.17.Final.tgz/download" target="" class="regularLink">4.2.17.Final TGZ</a>
</p>

</div>

