---
title: "Hibernate ORM 4.3.9.Final, 4.2.18.Final, and 4.2.19.Final Released"
author: "Gail Badner"
blogger_name: "Gail"
creation_date: "16-04-2015"
original_tags: [Core Release,Hibernate,News]
tags: [Hibernate ORM,Releases]

relative_url: /2015/04/16/hibernate-orm-439-final-4218-final-and-4219-final-released
slug: hibernate-orm-439-final-4218-final-and-4219-final-released
lace: http://in.relation.to/42644.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2015/04/16/hibernate-orm-439-final-4218-final-and-4219-final-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
4.3.9.Final and 4.2.19.Final were released 15/Apr/2015. 
</p>

<p class="wikiPara">
4.2.18.Final was actually released 28/Jan/2015. At the time of that release there were problems with in.relation.to. Unfortunately, after those issues were resolved, the announcement for 4.2.18.Final fell through the cracks, so I am covering that release here as well.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> 4.3.9.Final change log: <a href="https://hibernate.atlassian.net/issues/?jql=project=10031+AND+fixVersion=18953" target="" class="regularLink">https://hibernate.atlassian.net/issues/?jql=project=10031+AND+fixVersion=18953</a>
</li>
<li class="wikiUnorderedListItem"> 4.2.18.Final change log: <a href="https://hibernate.atlassian.net/issues/?jql=project=10031+AND+fixVersion=18952" target="" class="regularLink">https://hibernate.atlassian.net/issues/?jql=project=10031+AND+fixVersion=18952</a>
</li>
<li class="wikiUnorderedListItem"> 4.2.19.Final change log: <a href="https://hibernate.atlassian.net/issues/?jql=project=10031+AND+fixVersion=19152" target="" class="regularLink">https://hibernate.atlassian.net/issues/?jql=project=10031+AND+fixVersion=19152</a>
</li>
</ul>

<p class="wikiPara">
4.2.18.Final and 4.2.19.Final fixes several regressions. Those fixes were also included in 4.3.9.Final.
</p>

<p class="wikiPara">
4.3.9.Final includes mainly bugfixes with some improvements:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> improved support for AttributeConverters (backported from 5.0.0.Beta1);</li>
<li class="wikiUnorderedListItem"> EntityGraph bugfixes;</li>
<li class="wikiUnorderedListItem"> fixes for load plan bugs that caused problems with CompositeCustomType IDs, embeddable @MapKey, maps containing embeddable keys;</li>
<li class="wikiUnorderedListItem"> fix for a classloading bug that affects Hibernate under GlassFish 4.0 <a href="https://hibernate.atlassian.net/browse/HHH-9446" target="" class="regularLink">HHH-9446</a> that was introduced by in 4.3.6 by <a href="https://hibernate.atlassian.net/browse/HHH-8818" target="" class="regularLink">HHH-8818</a>; by setting an environment variable, Hibernate reverts to pre-<a href="https://hibernate.atlassian.net/browse/HHH-8818" target="" class="regularLink">HHH-8818</a> behavior;</li>
<li class="wikiUnorderedListItem"> fix for Envers to work with dynamic (non-POJO) entities.</li>
</ul>

<p class="wikiPara">
JBoss Nexus: <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate" target="" class="regularLink">https://repository.jboss.org/nexus/content/groups/public/org/hibernate</a><br>
Maven Central: <a href="http://repo1.maven.org/maven2/org/hibernate/hibernate-core" target="" class="regularLink">http://repo1.maven.org/maven2/org/hibernate/hibernate-core</a> (should update in a couple of days)<br>
</p>

<p class="wikiPara">
SourceForge: <a href="https://sourceforge.net/projects/hibernate/files/hibernate4" target="" class="regularLink">https://sourceforge.net/projects/hibernate/files/hibernate4</a><br>
4.3.9.Final Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.3.9.Final/hibernate-release-4.3.9.Final.zip/download" target="" class="regularLink">4.3.9.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.3.9.Final/hibernate-release-4.3.9.Final.tgz/download" target="" class="regularLink">4.3.9.Final TGZ</a><br>
4.2.18.Final Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.18.Final/hibernate-release-4.2.18.Final.zip/download" target="" class="regularLink">4.2.18.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.18.Final/hibernate-release-4.2.18.Final.tgz/download" target="" class="regularLink">4.2.18.Final TGZ</a><br>
4.2.19.Final Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.19.Final/hibernate-release-4.2.19.Final.zip/download" target="" class="regularLink">4.2.19.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.19.Final/hibernate-release-4.2.19.Final.tgz/download" target="" class="regularLink">4.2.19.Final TGZ</a><br></p>
</div>

