---
title: "Slides from Bean Validation talk available"
author: "Gunnar Morling"
blogger_name: "Gunnar"
creation_date: "03-05-2013"
tags: [Bean Validation,Event]

relative_url: /2013/05/03/SlidesFromBeanValidationTalkAvailable
slug: SlidesFromBeanValidationTalkAvailable
lace: http://in.relation.to/24175.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/05/03/SlidesFromBeanValidationTalkAvailable
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Recently I had the chance to give a talk on Bean Validation 1.1 at <a href="http://bed-con.org/" target="" class="regularLink">Berlin Expert Days</a> (BED-Con), a nice mid-sized conference (2 days, 500 attendees) hosted at <q>Freie Universität</q> in Berlin. As in the last years, BED-Con was a great experience with awesome people and many insightful talks in the fields of Java EE, NoSQL, Continuous Delivery etc. I really can recommend this event which is planned to take place next year again.
</p>

<p class="wikiPara">
My talk on Bean Validation went very well and I got lots of questions on the new functionality. In particular the possibility to use constraints on method parameters and return values (method validation) seems to be a helpful feature for many. You can find <a href="http://bed-con.org/2013/talks/bean-validation-1-1-whats-cooking/" target="" class="regularLink">my slides</a> which discuss the new features on the conference web site (in German, though). 
</p>

<p class="wikiPara">
I also used the opportunity to listen to some talks around client side web applications using HTML 5 and REST. There's a lot of activity going on in this field right now, and it appears like a new framework is released every day.
</p>

<p class="wikiPara">
An interesting question to me is how Bean Validation as Java based technology fits into this picture. Bean Validation provides <a href="http://docs.jboss.org/hibernate/stable/validator/reference/en-US/html/validator-metadata-api.html" target="" class="regularLink">an API</a> for retrieving constraint meta-data from models which could be used to perform a client-side validation of data entered by the user. It would surely be interesting to see how this could be leveraged to expose constraint meta-data e.g. via a REST service and use it on the client with frameworks such as AngularJS. Maybe this is even done by some frameworks already?</p>
</div>
