---
title: "More supported data types and some bug fixes: Hibernate OGM 4.1.1 released"
author: "Gunnar Morling"
blogger_name: "Gunnar"
creation_date: "15-01-2015"
tags: [Hibernate,Hibernate OGM,News]

absolute_url: http://in.relation.to/2015/01/15/MoreSupportedDataTypesAndSomeBugFixesHibernateOGM411Released
lace: http://in.relation.to/42500.lace
slug: MoreSupportedDataTypesAndSomeBugFixesHibernateOGM411Released

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
It’s my pleasure to announce the first maintenance release of Hibernate OGM 4.1! This version makes a few more data types usable for your entity properties (float, short, char), comes with several component upgrades (Hibernate ORM 4.3.8 and Infinispan 7.0.3) and fixes some bugs.
</p>

<p class="wikiPara">
The latter were discovered by helpful users who gave Hibernate OGM a spin after <a href="http://in.relation.to/Bloggers/FirstHibernateOGMReleaseAka41Final" target="" class="regularLink">4.1 was out</a> in December. Kudos to everyone testing the library and reporting bugs or feature requests, that’s much appreciated!
</p>

<p class="wikiPara">
We see an increased interest in Hibernate OGM by means of questions in <a href="https://forum.hibernate.org/viewforum.php?f=31" target="" class="regularLink">the forum</a>. Keep those coming; specifically we’re looking forward to your feature proposals, so we know which functionality we should implement next to provide the most value for you. We are also monitoring the <a href="https://stackoverflow.com/questions/tagged/?tagnames=hibernate-ogm&amp;sort=newest" target="" class="regularLink">hibernate-ogm tag</a> on Stack Overflow. So if that’s more your kind of thing, ask your question there and we’ll come up with an answer.
</p>

<p class="wikiPara">
To give the new release a try, either download the <a href="https://sourceforge.net/projects/hibernate/files/hibernate-ogm/4.1.1.Final/" target="" class="regularLink">release bundle</a> from SourceForge or use these GAV coordinates with your preferred build tool:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">org.hibernate.ogm:hibernate-ogm-core:4.1.1.Final</i> for the Hibernate OGM engine and</li>
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">org.hibernate.ogm:hibernate-ogm-&lt;%DATASTORE%&gt;:4.1.1.Final</i>, depending on the backend you want to use.</li>
</ul>

<p class="wikiPara">
Also let me use the opportunity to say a big Thank You to our community member <a href="https://github.com/ajaybhat" target="" class="regularLink">Ajay Bhat</a> who contributed the support for the new data types!
</p>

<p class="wikiPara">
Finally, some useful links:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10160&amp;version=18950" target="" class="regularLink">Change log</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://forum.hibernate.org/viewforum.php?f=31" target="" class="regularLink">User forum</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/OGM" target="" class="regularLink">Issue tracker</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://lists.jboss.org/pipermail/hibernate-dev/" target="" class="regularLink">Mailing list</a>
</li>
</ul>
</div>
