---
title: "Bug fixes around JP-QL and more: Hibernate OGM 4.1.2 released"
author: "Gunnar Morling"
blogger_name: "Gunnar"
creation_date: "02-03-2015"
tags: [Hibernate,Hibernate OGM,News]

relative_url: /2015/03/02/BugFixesAroundJPQLAndMoreHibernateOGM412Released
slug: BugFixesAroundJPQLAndMoreHibernateOGM412Released
lace: http://in.relation.to/42562.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2015/03/02/BugFixesAroundJPQLAndMoreHibernateOGM412Released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
It’s my pleasure to announce the release of Hibernate OGM 4.1.2!
</p>

<p class="wikiPara">
This maintenance release fixes several bugs, e.g. <a href="https://hibernate.atlassian.net/browse/OGM-737" target="" class="regularLink">around JP-QL</a>, using Hibernate OGM <a href="https://hibernate.atlassian.net/browse/OGM-733" target="" class="regularLink">in SaaS environments</a> or mapping <a href="https://hibernate.atlassian.net/browse/OGM-735" target="" class="regularLink">byte[] properties</a> on CouchDB. We also clarified several issues in the <a href="http://docs.jboss.org/hibernate/ogm/4.1/reference/en-US/html_single/" target="" class="regularLink">reference guide</a>. Many thanks to everyone test-driving Hibernate OGM and reporting bugs (and feature requests) to us!
</p>

<p class="wikiPara">
As always you can get this release as ZIP or TAR.GZ from <a href="https://sourceforge.net/projects/hibernate/files/hibernate-ogm/4.1.2.Final/" target="" class="regularLink">SourceForge</a> or use the following GAV coordinates with your preferred build tool:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">org.hibernate.ogm:hibernate-ogm-core:4.1.2.Final</i> for the Hibernate OGM engine and</li>
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">org.hibernate.ogm:hibernate-ogm-&lt;%DATASTORE%&gt;:4.1.2.Final</i>, depending on the backend you want to use.</li>
</ul>

<p class="wikiPara">
While preparing another release for fixing some more issues in Hibernate OGM 4.1, we take in parallel the first steps towards Hibernate OGM 4.2. You can expect many improvements in the field of JP-QL queries, support for custom types, an SPI for logging executed/failed operations on non-transactional NoSQL stores and much more. The first 4.2 Alpha will be out soon.
</p>

<p class="wikiPara">
Finally, some useful links:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/jira/secure/ReleaseNote.jspa?projectId=10160&amp;version=18754" target="" class="regularLink">Change log</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://forum.hibernate.org/viewforum.php?f=31" target="" class="regularLink">User forum</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/OGM" target="" class="regularLink">Issue tracker</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://lists.jboss.org/pipermail/hibernate-dev/" target="" class="regularLink">Mailing list</a>
</li>
</ul>
</div>
