// Import website style and customize it
// Also import coderay style
@import "styles", "coderay";

.jumbotron h1 a {
	color: white;

	&:hover span {
			background-color: #89969c;
	}
}

.left-column {
	h2 {
		color: #59666c;
		margin-top: 15px;
	}

	// Author bio
	.bio {
		margin-bottom: 20px;
	}

	// Cloud authors

	.cloud-authors {
		.author {
			display: block;
			margin: 4px 0;
		}

		.author:first-child {
			margin-top: 0;
		}

		.more-link {
			margin-top: 1em;
		}
	}

	// Cloud tags

	.tags-cloud {
		.tags {
			display: inline-block;
			margin: 4px;

			&:first-child {
				margin-top: 0;
			}
		}

		.tags-0 {
			font-size: 0.70em;
			opacity: 0.80;
		}

		.tags-1 {
			font-size: 0.95em;
			opacity: 0.85;
		}

		.tags-2 {
			font-size: 1.10em;
			opacity: 0.9;
		}

		.tags-3 {
			font-size: 1.25em;
			opacity: 0.95;
		}

		.tags-4 {
			font-size: 1.40em;
			opacity: 1;
		}

		.tags-5 {
			font-size: 1.55em;
			line-height: 0.9em;
			opacity: 1;
		}

		.tags-6 {
			font-size: 1.70em;
			line-height: 0.9em;
			opacity: 1;
		}

		.tags-7 {
			font-size: 1.95em;
			opacity: 1;
		}

		.tags-8 {
			font-size: 2.1em;
			opacity: 1;
		}

		.tags-9 {
			font-size: 2.25em;
			opacity: 1;
		}

		.tags-10 {
			font-size: 2.40em;
			opacity: 1;
		}

		.tags-11 {
			font-size: 2.55em;
			opacity: 1;
		}
	}
}

.blog-title-bar {
	overflow: hidden;

	.blog-title-image {
		float: left;
		padding-right: 10px;
	}

	.blog-title-caption {
		overflow: hidden;
	}

	.blog-author-bar {
		color: #858585;

		padding-top: 3px;
		margin-top: -15px;
		line-height: 2.1em;
	}

	div.author-image-container {
		text-align: center;
	}

	div.author-image {
		border: 1px solid #ddd;
		border-radius: 0px;
		margin-bottom: 15px;
		display: inline-block;
		padding: 3px;
	}

	div.author-image > img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

#content {
	color: #656565;

	.blogpost .blog-body {
		margin-left: 15px;
		margin-right: 15px;
	}

	.blog-title-bar h2 {
		font-size: 2em;
		border-bottom: 0;
		margin-top: 0 !important;
	}
	
	p, table td, table th, ul {
		font-size: 1.2em;
		line-height: 1.5em;
	}

	table td p, ul ul, ul p {
		font-size: 1em;
	}

	h2 {
		font-size: 1.6em;
	}

	.blogpost {
		padding-bottom: 15px;
		margin-bottom: 30px;

		border-bottom: 1px dotted #bcae79;
	}

	.pagination {
		margin-bottom: 20px;
		margin-top: -10px;
	}
	
	#preamble .sectionbody {
		font-size: 1em;
		font-weight: normal;
		color: #656565;
	}

	.ui.card p {
		font-size: 1em;
	}
}

.page-title {
	background-color: #FAFAFA;
	border-bottom: 2px solid #EEE;
	padding-bottom: 18px;
	padding-top: 20px;
	margin-bottom: 30px;

	.blog-title-bar {
		div.author-image {
			margin-bottom: 0px;
		}

		.blog-title-image {
			padding-right: 20px;
		}

		.blog-author-bar {
			margin-top: -5px;
			margin-bottom: 0;
		}
	}
}

.blog-article {
	.content {
		max-width: 860px;
		margin: auto;
	}

	.blog-body {
		margin-bottom: 20px;
	}
}

.author-list-element-wrapper {
	overflow: hidden;
	margin-bottom: 25px;
}

.author-list-element-image {
	float: left;
	padding-right: 20px;
}

.author-list-element-description {
	overflow: hidden;
}

div.imageblock {
	margin: 10px;
	text-align: center;
}

#disqus_thread {
	margin-top: 40px;
}

