// Import website style and customize it
// Also import coderay style
@import "styles", "coderay.css";

// Post title
.blogpost h2:first-child a {
  color: #656565;
}

.blogpost {
  padding-bottom: 15px;
  margin-bottom: 30px;

  border-bottom-style: solid;
  border-width: 1px;
  border-color: #e6e7e8;
}

h2 {
  margin-top: 0px;
}

.blog-title-bar {
  overflow: hidden;
}

.blog-title-image {
  float: left;
  padding-right: 10px;
}

.blog-title-caption {
  overflow: hidden;
}

.blog-author-bar {
  font-size: 85%;
  color: #858585;

  padding-top: 3px;
  margin-top: -15px;
  margin-bottom: 15px;
}

.more-link {
  margin-top: 0.5em;
}

.author-list-element-wrapper {
  overflow: hidden;
  margin-bottom: 25px;
}

.author-list-element-image {
  float: left;
  padding-right: 20px;
}

.author-list-element-description {
  overflow: hidden;
}

#disqus_thread {
  margin-top: 15px;
}

div.author-image-container {
  text-align: center;
}
div.author-image {
  border: 1px solid #ddd;
  border-radius: 0px;
  margin-bottom: 15px;
  display: inline-block;
  padding: 3px;
}

div.author-image > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .cloud-authors, .cloud-tags, .divider, .bio, .expandable {
    display: block;
  }
}

@media (max-width: 767px) {
  .cloud-authors, .cloud-tags, .divider, .bio, .expandable {
    display: none;
  }
}

@media (max-width: 470px) {
  .cloud-authors, .cloud-tags, .project-menu .divider, .bio, .expandable {
    display: none;
  }
}

@media (max-width: 447px) {
  .cloud-authors, .cloud-tags, .project-menu .divider, .bio, .expandable {
    display: none;
  }
}

@media (max-width: 365px) {
  .cloud-authors, .cloud-tags, .project-menu .divider, .bio, .expandable {
    display: none;
  }
}

@media (max-width: 270px) {
  .cloud-authors, .cloud-tags, .project-menu .divider, .bio, .expandable {
    display: none;
  }
}

#preamble {
    font-size: 100%;
}

.tags:first-child {
  margin-top: 0;
}

// Cloud authors
.author {
  display: block;
  margin: 4px 0;
}

.author:first-child {
  margin-top: 0;
}

// Cloud tags
.tags {
  display: inline-block;
  margin: 4px;
}

.tags-cloud .tags-0 {
   font-size: 0.70em;
   opacity: 0.80;
}

.tags-cloud .tags-1 {
     font-size: 0.95em;
     opacity: 0.85;
}

.tags-cloud .tags-2 {
     font-size: 1.10em;
     opacity: 0.9;
}

.tags-cloud .tags-3 {
     font-size: 1.25em;
     opacity: 0.95;
}

.tags-cloud .tags-4 {
     font-size: 1.40em;
     opacity: 1;
}

.tags-cloud .tags-5 {
     font-size: 1.55em;
     line-height: 0.9em;
     opacity: 1;
}

.tags-cloud .tags-6 {
     font-size: 1.70em;
     line-height: 0.9em;
     opacity: 1;
}

.tags-cloud .tags-7 {
     font-size: 1.95em;
     opacity: 1;
}

.tags-cloud .tags-8 {
     font-size: 2.1em;
     opacity: 1;
}

.tags-cloud .tags-9 {
     font-size: 2.25em;
     opacity: 1;
}

.tags-cloud .tags-10 {
     font-size: 2.40em;
     opacity: 1;
}

.tags-cloud .tags-11 {
     font-size: 2.55em;
     opacity: 1;
}
