---
title: "New \"RichFaces In Production\" wiki page created!"
author: "Ilya Shaikovsky"
creation_date: "09-06-2009"
blogger_name: "Ilya"
layout: blog-post
tags: [RichFaces]
slug: NewRichFacesInProductionWikiPageCreated
lace: http://in.relation.to/11723.lace
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
 <a href="http://labs.jboss.com/jbossrichfaces" target="blank"> 
 <img src="http://www.jroller.com/a4j/resource/richfaces_logo_200px.gif" alt="">
 </a>
</div>

<p class="wikiPara">
We are glad to announce a new <q><a href="http://www.jboss.org/community/wiki/RichFacesInProduction" target="" class="regularLink">RichFaces in Production</a></q> wiki page! The <a href="http://www.jboss.org/jbossrichfaces/" target="" class="regularLink">RichFaces</a> framework has a strong history and has been used by the <b>JSF</b> community for a long time. Until now we never provided a place for the community to showcase their projects and achievements that were completed with the help of <b>RichFaces</b>.  We think better late than never, so now the page is <a href="http://www.jboss.org/community/wiki/RichFacesInProduction" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
If you are or have worked on a project that is using <b>RichFaces</b> or <b>Ajax4jsf</b> please see the wiki page for instructions and rules for posting, and it doesn't matter if you designed huge enterprise systems or small e-shop projects.  Any project story is interesting for all of us in the community!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'NewRichFacesInProductionWikiPageCreated';
    var disqus_title = 'New "RichFaces In Production" wiki page created!';
    var disqus_url = 'http://in.relation.to/11723.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
