---
title: "RichFaces 3.3.1 BETA1 Available "
author: "Ilya Shaikovsky"
blogger_name: "Ilya"
creation_date: "20-03-2009"
tags: [Ajax,Java Server Faces,RIA,RichFaces]

absolute_url: http://in.relation.to/2009/03/20/RichFaces331BETA1Available
lace: http://in.relation.to/10925.lace
slug: RichFaces331BETA1Available

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
RichFaces 3.3.1.BETA1 has been deployed to: <a href="http://repository.jboss.org/maven2/org/richfaces/ui/richfaces-ui/3.3.1.BETA1/" target="" class="regularLink">jboss repository</a> and ready for community preview.
</p>

<h3 class="wikiHeadline3" id="H-NewComponents"><a href="/Bloggers/RichFaces331BETA1Available#H-NewComponents">New components:</a></h3>
<p class="wikiPara">
There are several new components in 3.3.1,  There are the much anticipated set of layout components and a color picker component that are new for this release.
</p>

<p class="wikiPara">
<tt>&lt;rich:page/&gt;</tt> 
</p>

<p class="wikiPara">
Provides a an easy way to format and break up you page structure.  You can set facets for <i class="wikiEmphasis">header</i>, <i class="wikiEmphasis">footer</i>, and even <i class="wikiEmphasis">sidebar</i>.  We're also introducing a <i class="wikiEmphasis">Theme</i> mechanism that can help to setup and precofigure page layouts and skinning interactions.
</p>

<p class="wikiPara">
<tt>&lt;rich:layout/&gt;</tt> and <tt>&lt;rich:layoutPanel/&gt;</tt>
</p>

<p class="wikiPara">
Allows nestable page layouts using <a href="http://developer.yahoo.com/yui/grids/" target="" class="regularLink">Yahoo's UI CSS Grid</a> under the hood to providing lots of flexibility.
</p>

<p class="wikiPara">
For more information see <a href="http://www.jboss.org/community/docs/DOC-13336" target="" class="regularLink">Layouts design wiki</a> page.
</p>

<p class="wikiPara">
<tt>&lt;rich:colorPicker/&gt;</tt>
</p>

<p class="wikiPara">
Often requested Color picker component,
</p>

<h3 class="wikiHeadline3" id="H-NewFeatures"><a href="/Bloggers/RichFaces331BETA1Available#H-NewFeatures">New features</a></h3>

<p class="wikiPara">
Here are some new features too.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://www.jboss.org/community/docs/DOC-13329" target="" class="regularLink">Maven Resource Dependency Plugin</a>
</li>
<li class="wikiUnorderedListItem"> Queue mechanism updated <a href="https://jira.jboss.org/jira/browse/RF-5788" target="" class="regularLink">RF-5788</a>
</li>
<li class="wikiUnorderedListItem"> Context menu improvements <a href="https://jira.jboss.org/jira/browse/RF-3532" target="" class="regularLink">RF-3532</a>
</li>
<li class="wikiUnorderedListItem"> <tt>rich.isUserInRole()</tt> added for security integrations Acegi and etc..). <a href="https://jira.jboss.org/jira/browse/RF-6551" target="" class="regularLink">RF-6551</a>
</li>
<li class="wikiUnorderedListItem"> Modal Panel DOM reposition made configurable. <a href="https://jira.jboss.org/jira/browse/RF-5588" target="" class="regularLink">RF-5588</a>
</li>
<li class="wikiUnorderedListItem"> JQuery script updated to 1.3.2 version</li>
</ul>

<h3 class="wikiHeadline3" id="H-StabilityImprovements"><a href="/Bloggers/RichFaces331BETA1Available#H-StabilityImprovements">Stability Improvements</a></h3>

<p class="wikiPara">
Out selenium based automation suite keeps growing, and numerous issues fixed. 
</p>

<p class="wikiPara">
Please let know if you find any issues, or have any comments.
</p>

<p class="wikiPara">
[<a href="https://jira.jboss.org/jira/browse/RF" target="" class="regularLink">JIRA</a>] [<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=261" target="" class="regularLink">User Forums</a>] [<a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=262" target="" class="regularLink">Design Forums</a>]</p>
</div>
