---
title: "RichFaces Calendar for Month's selection"
author: "Ilya Shaikovsky"
creation_date: "01-10-2009"
blogger_name: "Ilya"
layout: blog-post
tags: []
slug: RichFacesCalendarForMonthsSelection
lace: http://in.relation.to/12480.lace
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:right;margin-left:20px;margin-bottom:20px;">
     <a href="http://labs.jboss.com/richfaces" target="blank"> 
         <img src="http://www.jroller.com/a4j/resource/richfaces_logo_200px.gif" alt="">
     </a>
</div>

<p class="wikiPara">
In this article I want to share a simple but useful trick which was asked frequently at the <a href="http://www.jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=261" target="" class="regularLink">Richfaces User Forum</a> last weeks.  The <a href="http://www.jboss.org/index.html?module=bb&amp;op=viewtopic&amp;p=4257842#4257842" target="" class="regularLink">use case</a>  is to allow just month and year selections from the <b>Calendar</b> component and hide date selection feature.
</p>

<p class="wikiPara">
At first we will add a simple inline calendar to our form:
</p>


<pre class="wikiPreformatted">&lt;rich:calendar value="#{calendarBean.selectedDate}" popup="false"/&gt;</pre>


<img src="http://www.jroller.com/a4j/resource/calendar.png" alt="">

<p class="wikiPara">
Then we hide the days labels list above the grid and the footer via the attributes:
</p>

<pre class="wikiPreformatted">&lt;rich:calendar value="#{calendarBean.selectedDate}" 
popup="false" showWeekDaysBar="false" showFooter="false"/&gt;</pre>


<p class="wikiPara">
Now we want to hide the dates grid. As you could easily check in <b>FireBug</b> — the calendar is a table with one <i class="wikiEmphasis">&lt;tr&gt;</i> for header and six <i class="wikiEmphasis">&lt;tr&gt;</i> for grid itself. And the date grid <i class="wikiEmphasis">&lt;tr&gt;</i> elements has special ids defined. And header element <i class="wikiEmphasis">&lt;tr&gt;</i> has no id. So all we need to add common <b>styleClass</b> to calendar and write simple selector which will hide <i class="wikiEmphasis">&lt;tr&gt;</i> elements with id defined:
</p>


<pre class="wikiPreformatted">&lt;style type="text/css"&gt;
	.special tr[id]{
		display:none; 
	}
&lt;/style&gt; 

&lt;rich:calendar value="#{calendarBean.selectedDate}" popup="false" 
showWeekDaysBar="false" showFooter="false" styleClass="special"/&gt;</pre>


<table>
<tr>
<td style="vertical-align:top"><img src="http://www.jroller.com/a4j/resource/calendarcut.png" alt="" style="float:right"></td>
<td><img src="http://www.jroller.com/a4j/resource/calendarexpanded.png" alt=""></td>
</tr>
</table>

<p class="wikiPara">
And now the last step. The calendar should pass the selected date to the bean according to value binding defined. So we need to select some date(<i class="wikiEmphasis">e.g. first day of the month</i>) when the current month scrolling occurs. We will use <b>oncurrentdateselected</b> attribute for that. <b>currentdateselected</b> event fired every time when the month/year scrolled. So finally we will have the following code:
</p>

<pre class="wikiPreformatted">&lt;rich:calendar showWeekDaysBar="false" showFooter="false" 
value="#{calendarBean.selectedDate}" 
oncurrentdateselected="event.rich.component.selectDate(event.rich.date)"
popup="false" styleClass="special"/&gt;
</pre>

<p class="wikiPara">
Now after the user  scrolls the months or years the first date of the chosen month will be selected and we will be able to process the selected month at server side. It will be passed to the <b>selectedDate</b> property of <b>calendarBean</b>.
</p>

<p class="wikiPara">
All you will need to add in your concrete cases is maybe some styling(<i class="wikiEmphasis">pretty easy using rich classes</i>) or redefine the header itself(<i class="wikiEmphasis">also easy using header facet and macrosubstitutions</i>)
</p>

<b>NOTE:</b>
<p class="wikiPara">
Somebody could note that just <b>currentDate</b> could be used in order to bind selected month. And it's correct but only for inline calendar. In the sample I wrote, you really could get rid of oncurrentdateselected and use just currentDate value binding. But somebody might need the same but for popup mode. And in this case they will need to use value instead of current date because the result should appears at input and because of the fact that calendar ignores currentDay on initial rendering by design and opens on selected date month or at current month if selected date isn't defined. So for popup mode — such selected date trick could be used.
</p>
</div>
