---
title: "Modern Java Technologies Workshop Featuring RichFaces Team"
author: "Ilya Shaikovsky"
blogger_name: "Ilya"
creation_date: "02-02-2010"
original_tags: [JBoss Tools,RichFaces,Seam]
tags: [JBoss Tools,Rich Faces,Seam]

relative_url: /2010/02/02/modern-java-technologies-workshop-featuring-rich-faces-team
slug: modern-java-technologies-workshop-featuring-rich-faces-team
lace: http://in.relation.to/14192.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/02/02/modern-java-technologies-workshop-featuring-rich-faces-team
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<u>5th February</u> several members of the <a href="http://jboss.org/richfaces" target="" class="regularLink">RichFaces</a> and <a href="http://jboss.org/tools" target="" class="regularLink">JBoss Tools</a> teams will be presenting at the <b><q>Modern Java Technologies Workshop</q></b> in <a href="http://maps.google.com/maps/place?cid=9764543395529374850&amp;q=Minsk+Hi+Tech+Park&amp;hl=ru&amp;cd=1&amp;cad=src:pplink&amp;ei=DkFnS5vdMISXsQbwn4TGDw" target="" class="regularLink">Minsk, Belarus</a>. 
</p>

<p class="wikiPara">
From the <b>RichFaces</b> team <a href="http://community.jboss.org/people/nbelaevski" target="" class="regularLink">Nick Belaevski</a> and <a href="http://community.jboss.org/people/ilya_shaikovsky" target="" class="regularLink">myself</a> will be discussing <b>Java Server Faces 2.0</b>, and then two topics on <b>RichFaces 3.3.X and 4.0.X</b>. 
</p>

<p class="wikiPara">
Full list of Topics: 
</p>

<ul>

<li>
<b>Java Contexts and Dependency Injection for the Java EE platform</b> (<i class="wikiEmphasis">Seam 3 and Weld overviews</i>) by Maksim Kaszynski </li>
<li>
<b>JavaServer(tm) Faces 2.0</b> by Ilya Shaikovsky and Nick Belaevski</li>
<li>
<b>RichFaces 3.x &amp; JSF 1.2</b> by Ilya Shaikovsky</li>
<li>
<b>RichFaces 4.x &amp; JSF 2.0</b> by Nick Belaevski</li>
<li>
<b>Jboss Developer studio overview</b> by Maxim Areshkau</li>
<li>
<b>Visual Page Editor in JBoss Tools</b> by Yahor Radtsevich</li>
<li>
<b>Hibernate Tools in JBDS</b> by Denis Maliarevich</li>
</ul>

<p class="wikiPara">
If you are in the area this sounds like a fantastic day of presentations and topics for anyone interested in the latest Java technologies!</p>
</div>

