---
title: "Modern Java Technologies Workshop Overview"
author: "Ilya Shaikovsky"
blogger_name: "Ilya"
creation_date: "12-02-2010"
tags: []

absolute_url: http://in.relation.to/2010/02/12/ModernJavaTechnologiesWorkshopOverview
lace: http://in.relation.to/14307.lace
slug: ModernJavaTechnologiesWorkshopOverview

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
On February 5th several members of the RichFaces team presented at <b>Minsk</b>, main building of <a href="http://maps.google.com/maps/place?cid=9764543395529374850&amp;q=Minsk+Hi+Tech+Park&amp;hl=ru&amp;cd=1&amp;cad=src:pplink&amp;ei=DkFnS5vdMISXsQbwn4TGDw" target="" class="regularLink">"Belarusian High Technologies Park"</a>. It was really cool day full of good discussions and feedback! Here is our overview of the JSF – RichFaces related presentations.
</p>

<img alt="" src="http://community.jboss.org/servlet/JiveServlet/download/14778-3-7727/pres.JPG">

<p class="wikiPara">
<i class="wikiEmphasis">Nick presenting RichFaces 4</i>
</p>

<p class="wikiPara">
 
 <b>We started with a JSF 2 presentation and a practical feature show case</b>. The attendees were happy to hear about all the changes in the specification and about all the good features which have been added. As most of them were familiar with <b>Seam 2</b> and <b>RichFaces 3</b> – many of the features which have been added to standard are already known. But it was really good news that those features are now part of the spec.
Some good questions came up as well. Like new scopes usage and transactions management in the view scope was discussed. Also JSP deprecation reasons were mentioned. Most popular question was performance, so we also talked a lot about new features like partial state saving which addresses the problems in JSF 2.
</p>

<p class="wikiPara">
 <b>The next presentation was on RichFaces 3.3.x</b>. I was happy to know that most of the questions related to RichFaces usage are ones that we are already addressing in 4.x:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Addend's were very concerned about interoperability with the other JSF frameworks like PrimeFaces</li>
</ul>

<p class="wikiPara">
<i class="wikiEmphasis">
As you may have seen  in <a href="http://in.relation.to/13608.lace" target="" class="regularLink">Jay’s blog</a> we are also concerned  about this point, and  are planning tasks related to interoperability , including working with other component frameworks.</i>
</p>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Client side performance problems (especially with  tables) were mentioned</li>
</ul>


<p class="wikiPara">
<i class="wikiEmphasis">We have made many optimizations in the latest 3.3.3 version. So many of the questions were solved. Unfortunately some of them require huge redesign which is not acceptable for stabilization branch – so some of the remained problems will be addressed in 4.x.</i>
</p>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> More Client side API was requests. The point was that it still easier in some cases to write custom JavaScript controls than use our API because of problems with customization.</li>
</ul>

<p class="wikiPara">
<i class="wikiEmphasis">This point also addressed in our requirements and planning wiki pages for 4.x version. Many of the components which were done before 3.2 really lack JavaScript API and some customization could require JS coding. But starting from 4.x this will be one of the check-points for every component.</i>
</p>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Also some people asked good questions about our skinning feature and ways to create custom skins. </li>
</ul>

<p class="wikiPara">
<i class="wikiEmphasis">plug-n-skin usage for creation skins for applications were discussed.</i>
</p>

<p class="wikiPara">
 <b>Then Nick made presentation on RichFaces 4</b>. And most of discussions from JSF 2 presentation were touched again but concerning development components with new CDK and applications with future RF 4.x versions.
</p>

<p class="wikiPara">
After the talk questions related to mobile devices development came up. This question did not surprised us – we are already thinking about plans for mobile device support work after 4.0 releases.
Our presentations available at:
</p>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/servlet/JiveServlet/download/14778-1-7726/jsf20_en.odp" target="" class="regularLink">JavaServer Faces 2.0</a>
</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/servlet/JiveServlet/download/14778-1-7724/richfaces3.3_0%20eng.odp" target="" class="regularLink">RichFaces 3.3</a>
</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/servlet/JiveServlet/download/14778-3-7725/rf40_en.odp" target="" class="regularLink">RichFaces 4.x</a>
</li>
</ul>
</div>
