---
title: "Packt launch fifth annual Open Source Awards "
author: "Ilya Shaikovsky"
creation_date: "30-08-2010"
blogger_name: "Ilya"
layout: blog-post
tags: []
slug: PacktLaunchFifthAnnualOpenSourceAwards
lace: http://in.relation.to/16764.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Birmingham, UK. 9th August 2010
</p>

<p class="wikiPara">
 <b>The 2010 Open Source Awards</b> was launched today by Packt, inviting people to visit <a href="http://PacktPub.com" target="" class="regularLink">www.PacktPub.com</a>  and submit nominations for their favorite Open Source project. Now in its fifth year, the Award has been adapted from the established Open Source CMS Award with the wider aim of encouraging, supporting, recognizing and rewarding all Open Source projects. 
</p>

<p class="wikiPara">
WordPress won the 2009 Open Source Content Management System (CMS) Award in what was a very close contest with MODx and SilverStripe. While MODx was the first runner up, SilverStripe, a Most Promising CMS Award winner in 2008, made its way to the second runner up position in its first year in the Open Source CMS Award final.
</p>

<p class="wikiPara">
The 2010 Award will feature a prize fund of $24,000 with several new categories introduced. While the Open Source CMS Award category will continue to recognize the best content management system, Packt is introducing categories for the Most Promising Open Source Project, Open Source E-Commerce Applications, Open Source JavaScript Libraries and Open Source Graphics Software.  CMSes that won the Overall CMS Award in previous years will continue to compete against one another in the Hall of Fame CMS category. 
These new categories will ensure that the Open Source Awards is the ultimate platform to recognise excellence within the community while supporting projects both new and old. “We believe that the adaption of the Award and the new categories will provide a new level of accessibility, with the Award recognizing a wider range of Open Source projects; both previous winners while at the same time, encouraging new projects” said Julian Copes, organizer of this year’s Awards.
</p>

<p class="wikiPara">
Packt has opened up nominations for people to submit their favorite Open Source projects for each category at <a href="http://PacktPub.com/open-source-awards-home" target="" class="regularLink">www.PacktPub.com/open-source-awards-home</a> . The top five in each category will go through to the final, which begins in the last week of September. For more information on the categories, please visit Packt’s website <a href="http://www.packtpub.com/blog/packt%E2%80%99s-2010-open-source-awards-announcement" target="" class="regularLink">www.PacktPub.com/blog/packt’s-2010-open-source-awards-announcement</a>  
</p>

<h3 class="wikiHeadline3" id="H-Contacts"><a href="/Bloggers/PacktLaunchFifthAnnualOpenSourceAwards#H-Contacts">Contacts</a></h3>
<p class="wikiPara">
Julian Copes
PR Executive, Packt Publishing
</p>

<p class="wikiPara">
<a href="mailto:julianc(AT)packtpub.com" target="" class="regularLink">julianc@packtpub.com</a>  <a href="http://PacktPub.com" target="" class="regularLink">www.PacktPub.com</a> 
</p>

<h3 class="wikiHeadline3" id="H-AboutPackt"><a href="/Bloggers/PacktLaunchFifthAnnualOpenSourceAwards#H-AboutPackt">About Packt</a></h3>

<p class="wikiPara">
Packt is a modern, unique publishing company with a focus on producing cutting-edge books for communities of developers, administrators, and newbies alike.
Packt’s books and publications share the experiences of fellow IT professionals in adapting and customizing today's systems, applications, and frameworks. Their solutions-based books give readers the knowledge and power to customize the software and technologies they’re using to get the job done.
For more information, please visit <a href="http://PacktPub.com" target="" class="regularLink">www.PacktPub.com</a> 
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'PacktLaunchFifthAnnualOpenSourceAwards';
    var disqus_title = 'Packt launch fifth annual Open Source Awards ';
    var disqus_url = 'http://in.relation.to/16764.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
