---
title: "New JavaServer Faces book by Ian Hlavats coming soon"
author: "Ilya Shaikovsky"
blogger_name: "Ilya"
creation_date: "19-02-2010"
original_tags: []
tags: []

relative_url: /2010/02/19/new-java-server-faces-book-by-ian-hlavats-coming-soon
slug: new-java-server-faces-book-by-ian-hlavats-coming-soon
lace: http://in.relation.to/14392.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/02/19/new-java-server-faces-book-by-ian-hlavats-coming-soon
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:left;margin-right:20px;margin-bottom:20px;">
     <a href="http://www.packtpub.com/jsf-1-2-components-develop-advanced-ajax-enabled-applications/book?utm_source=in.relation.to&amp;utm_medium=bookrev&amp;utm_content=blog&amp;utm_campaign=mdb_002502" target="blank"> 
         <img src="https://www.packtpub.com/images/100x123/1847197620.png" alt="">
     </a>
</div>

<p class="wikiPara">
I was invited to participate in the review of the new <b><a href="http://www.packtpub.com/jsf-1-2-components-develop-advanced-ajax-enabled-applications/book?utm_source=in.relation.to&amp;utm_medium=bookrev&amp;utm_content=blog&amp;utm_campaign=mdb_002502"><q>JSF 1.2 Components</q></a></b> book written by <b>Ian Hlavats</b>. It describes the basics of JSF technology itself and main points of development using particular component libraries. The book looks very interesting for me as it covers all of the popular JSF component libraries present on the market today. Example <a href="http://www.packtpub.com/files/7627-developing-jsf-components-sample-chapter-2-facelets-components.pdf">Facelets Components</a> chapter is already available for free review - so you can check it right now.
</p>

<p class="wikiPara">
I'll post more detailed information after will finish the review.</p>
</div>

