---
title: "Practical RichFaces second edition is published!"
author: "Ilya Shaikovsky"
blogger_name: "Ilya"
creation_date: "06-09-2011"
original_tags: []
tags: []

relative_url: /2011/09/06/practical-rich-faces-second-edition-is-published
slug: practical-rich-faces-second-edition-is-published
lace: http://in.relation.to/21883.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/09/06/practical-rich-faces-second-edition-is-published
---
<div id="documentDisplay" class="documentDisplay">


<div style="float:left">
<a href="http://www.apress.com/9781430234494" target="_blank">
<img src="http://www.apress.com/media/catalog/product/cache/9/image/9df78eab33525d08d6e5fb8d27136e95/A/9/A9781430234494-3d_3.png" alt="">
</a>
</div>
<p class="wikiPara">
After some waiting time and much promising announcements I can proudly tell that the <b><a href="http://www.apress.com/9781430234494" target="_blank"><q>Practical RichFaces</q></a></b> book is published! It’s very happy moment for <b><a href="http://mkblog.exadel.com/" target="_blank">Max Katz</a></b> and I because a lot of effort was made to make it happen. We’ve done our best to make it as much useful for JSF developers as possible, and now we believe that it doesn’t matter if you’re a novice in JSF world or skilled developer with rich expertise in various development areas – everyone should find useful parts inside.
</p>

<p class="wikiPara">
The book completely dedicated to development with latest <b>RichFaces 4</b> release and that means that it's all based on new <b>JavaServer Faces 2</b>.  Let me briefly describe what is waiting our readers inside.
</p>

<h2 class="wikiHeadline2" id="H-BookContentOverview"><a href="/2011/09/06/practical-rich-faces-second-edition-is-published#H-BookContentOverview">Book Content Overview</a></h2>
<p class="wikiPara">
We  start with <b>describing new and most important pieces of JSF 2</b>. It should be useful for future understanding of how the component works, and how the RichFaces extends  standard JSF. We will tell not only about brand new features but also highlight most important general points for those who just starting to learn JSF 2. Good understanding of where are the core features and where the extension points should greatly help the developers with further development and troubleshooting of any kind.
</p>

<p class="wikiPara">
Then we  continue with RichFaces. Two chapters are dedicated to <b>RichFaces core framework features and tags (<i class="wikiEmphasis">a4j:</i>)</b>. That knowledge should become a baseline for any developer who is planning to work with RichFaces 4. Because any rich component starting from simplest ones and up to most complex built according to the same basic rules and follows the same approaches that we will describe there. It's simple just to play with JSF creating pages using simple drag and drop operations in your favorite IDE. But only good knowledge of basics will make your future application really extendable and efficient.  That was our main point during writing that chapter.
</p>

<p class="wikiPara">
After the core features we will spend most of the time describing <b>various component groups in rich: RichFaces components library</b>. Every component section, in every group provides set of <b>ready-to-use examples</b> starting from very basic (<i class="wikiEmphasis">using component on simple page</i>) and to really interesting ones (<i class="wikiEmphasis">like custom model for data and tree components, using server and client side components API and customization options and so on</i>). We paid significant attention to making examples as useful as possible by making them as real-life as possible. Most of the complex samples were done according to common Web use-cases, interesting requests from RichFaces community or good questions sent to us directly. So you may think about those chapters as about a good combination of cookbook and reference guide.
</p>

<p class="wikiPara">
A few chapters in the end will describe <b>utility components and functions</b> which are also included in the <i class="wikiEmphasis">rich:</i> library. We will tell (<i class="wikiEmphasis">also with numerous examples</i>) about new RichFaces validation facilities like client and object validation, components providing drag and drop  functionality, and about functions and other utility tags available in RichFaces.
</p>

<p class="wikiPara">
Penultimate chapter will describe redesigned <b>Skins</b> feature of RichFaces 4. Being simplified and optimized Skins become even more powerful than before allowing you add  styling to the whole application in a very short time and then perform detailed customization of any depth without using any proprietary formats but relying to standard CSS enhanced with EL support.
</p>

<p class="wikiPara">
Finally, the last chapter will show you the <b>RichFaces Components Development Kit (<i>CDK</i>)</b>. Also being fully redesigned in RichFaces 4, it become really easy to use tool which allows you to create JSF 2 components of any complexity in a very short time doing most of routine work for you. This chapter demonstrates  how to build a complete example of custom component written from scratch and implemented with all the RichFaces capabilities including skinning. 
</p>

<blockquote class="wikiBlockquote">
Full table of content and other information are available at <b><a href="http://www.apress.com/9781430234494" target="_blank">Apress page</a></b>. 

</blockquote>
<blockquote class="wikiBlockquote">
All sources available at <b><a href="https://github.com/ishaikovsky/Practical-RichFaces-Book" target="_blank">Github</a></b>.

</blockquote>

<h2 class="wikiHeadline2" id="H-Acknowledgements"><a href="/2011/09/06/practical-rich-faces-second-edition-is-published#H-Acknowledgements">Acknowledgements</a></h2>

<p class="wikiPara">
After finishing that work on the book and also looking backward to my working experience in RichFaces development I would like to extend a few special thanks to the guys without whom it would not be possible. It’s <b>Alexander Smirnov</b>, <b>Nick Belaevski</b> and <b>Pavel Yaschenko</b>. There were many other great developers working on that project for sure, but these three people were always the core team and great mentors and supporters for anybody who had most complex challenges in JSF world. It’s their ideas implemented now in RichFaces 4 and incorporated in JSF 2. Besides I would like to extend special thanks to <b>Jay Balunas</b> who helped me a lot in establishing myself as a good (<i>as I hope :) </i>) JBoss community member. 
</p>

<p class="wikiPara">
It was (<i>and will be</i>) always easy to move forward together with you guys. So, thank you all!
</p>

<p class="wikiPara">
So, the book is now here, and we are looking forward for your feedback! Hope it will help to make a bunch of good starts for many Java developers.
</p>

<hr>

<p class="wikiPara">
[<a href="http://twitter.com/ilya_shaikovsky" target="" class="regularLink">Get updates of my blogs in twitter</a>]
</p>

<p class="wikiPara">
[<a href="http://www.jroller.com/a4j/" target="" class="regularLink">My jroller.com blog</a>]</p>
</div>

