---
title: "RichFaces 4 - programmatic control of partial processing"
author: "Ilya Shaikovsky"
blogger_name: "Ilya"
creation_date: "26-05-2011"
tags: [Ajax,JavaServer Faces,PartialViewContext,RichFaces]

relative_url: /2011/05/26/RichFaces4ProgrammaticControlOfPartialProcessing
slug: RichFaces4ProgrammaticControlOfPartialProcessing
lace: http://in.relation.to/20473.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/05/26/RichFaces4ProgrammaticControlOfPartialProcessing
---
<div id="documentDisplay" class="documentDisplay">


<div style="float: right; margin-left: 20px; margin-bottom: 20px;">
     <a href="http://labs.jboss.com/richfaces" target="blank"> 
         <img src="http://design.jboss.org/richfaces/logo/final_logo/richfaces_logo_200px.png">
     </a>
</div>

<p class="wikiPara">
There is an important feature in <b>RichFaces 4</b> that get documented at wiki recently and today I want to point you to that article. That article is related to <b><a href="http://community.jboss.org/wiki/ProgrammaticControlOfPartialProcessingInRichFaces4" target="" class="regularLink">Programmatic control of partial processing in RichFaces 4</a></b>.
</p>

<blockquote class="wikiBlockquote">
If you working with <b>RichFaces 3.3.x</b> and looking for the same info - do not ignore that page. It's written as comparison of 3.3.x and 4.x functionality so you will see RichFaces 3.3.x methods also!
</blockquote>

<p class="wikiPara">
 <b>Questions which are adressed in that article</b> (<i>for both RichFaces 3.3.x and 4.x</i>) listed below. Again all the answers related to programmatical access to <b>PartialViewContext</b> and not just working at component/attributes level.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> How to add component to set of <b>execute</b>'d ones.</li>
<li class="wikiUnorderedListItem"> How to add component to set of <b>render</b>'ed ones.</li>
<li class="wikiUnorderedListItem"> How to check if current request is Ajax request.</li>
<li class="wikiUnorderedListItem"> How to <b>limit Ajax updates</b> to just set of render'ed components excluding automatically rendered ones. </li>
<li class="wikiUnorderedListItem"> How to <b>append JavaScript event handlers</b> from server side</li>
<li class="wikiUnorderedListItem"> ...more</li>
</ul>

<p class="wikiPara">
So look through <a href="http://community.jboss.org/wiki/ProgrammaticControlOfPartialProcessingInRichFaces4" target="" class="regularLink">the article</a> and let RichFaces team know about your experience of using all that stuff. And share your thoughts about anything still missing at <a href="http://community.jboss.org/en/richfaces?view=discussions" target="" class="regularLink">User Forum</a>. 
</p>

<hr>

<p class="wikiPara">
[<a href="http://twitter.com/ilya_shaikovsky" target="" class="regularLink">Get updates of my blogs in twitter</a>]
</p>

<p class="wikiPara">
[<a href="http://www.jroller.com/a4j/" target="" class="regularLink">My jroller.com blog</a>]</p>
</div>

