---
title: "Hibernate Entity Manager 3.1 beta 2 and Hibernate Annotations 3.1 beta 4"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
layout: blog-post
tags: []
slug: HibernateEntityManager31Beta2AndHibernateAnnotations31Beta4
lace: http://in.relation.to/2165.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/HibernateEntityManager31Beta2AndHibernateAnnotations31Beta4">Hibernate Entity Manager 3.1 beta 2 and Hibernate Annotations 3.1 beta 4</a>
                    </h1>
</div>
<p class="wikiPara">
New releases of both Hibernate Entity Manager and Hibernate Annotations are available.
</p>

<p class="wikiPara">
Hibernate Entity Manager now supports full .par archive including 
entity and hbm files auto discovery (see the previous blog entry for more details on this feature) 
and fixes some critical bugs (see the release notes <a href="http://sourceforge.net/project/shownotes.php?release_id=346915" target="" class="regularLink">http://sourceforge.net/project/shownotes.php?release_id=346915</a>).
</p>

<p class="wikiPara">
Hibernate Annotations new release is focused on better support of Hibernate specific features
(all Hibernate id generators support, column indexes generation, non PK referencedColumnName 
support for @OneToOne, @ManyToOne, and @OneToMany...) and of course bug fixes (See the release 
notes <a href="http://sourceforge.net/project/shownotes.php?release_id=346914" target="" class="regularLink">http://sourceforge.net/project/shownotes.php?release_id=346914</a> for more details).
</p>

<p class="wikiPara">
These releases are compatible with the latest Hibernate core release (3.1 beta1).
</p>
</div>
