---
title: "Hibernate Annotations alpha1"
author: "Emmanuel Bernard"
creation_date: "07-01-2005"
blogger_name: "Emmanuel"
layout: blog-post
tags: []
slug: HibernateAnnotationsAlpha1
lace: http://in.relation.to/2161.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We just released the brand new Hibernate Annotations module as an alpha version.
This module provides the Hibernate facilities to declare Hibernate O/R mapping metadata 
through JDK 5.0 metadata annotations (instead of XML mapping files or 
XDoclet preprocessing). We have implemented the EJB3 (JSR-220) O/R metadata annotations defined 
in the early draft 1 of the spec.
This set of annotations covers all common mappings cases. 
</p>

<p class="wikiPara">
Next step for us is to provide custom annotations to cover Hibernate specific 
features while following the EJB3 spec evolutions.
</p>

<p class="wikiPara">
This tool is designed for easy-of-dev and quick application development (mapping
metadata in the sources, no preprocessing step, configuration by exception minimizing
the metadata declarations). Give a try to this new programming model.
Feedbacks are welcome, especially on the Hibernate specific features you want to
see covered by annotations.
</p>

<p class="wikiPara">
Download it and have a look at the tutorial and the comprehensive test suite. It will
give some good samples.
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'HibernateAnnotationsAlpha1';
    var disqus_title = 'Hibernate Annotations alpha1';
    var disqus_url = 'http://in.relation.to/2161.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
