---
title: "Hibernate Entity Manager 3.1 beta 2 and Hibernate Annotations 3.1 beta 4"
author: "Emmanuel Bernard"
creation_date: "05-08-2005"
blogger_name: "Emmanuel"
layout: blog-post
tags: []
slug: HibernateEntityManager31Beta2AndHibernateAnnotations31Beta4
lace: http://in.relation.to/2165.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
New releases of both Hibernate Entity Manager and Hibernate Annotations are available.
</p>

<p class="wikiPara">
Hibernate Entity Manager now supports full .par archive including 
entity and hbm files auto discovery (see the previous blog entry for more details on this feature) 
and fixes some critical bugs (see the release notes <a href="http://sourceforge.net/project/shownotes.php?release_id=346915" target="" class="regularLink">http://sourceforge.net/project/shownotes.php?release_id=346915</a>).
</p>

<p class="wikiPara">
Hibernate Annotations new release is focused on better support of Hibernate specific features
(all Hibernate id generators support, column indexes generation, non PK referencedColumnName 
support for @OneToOne, @ManyToOne, and @OneToMany...) and of course bug fixes (See the release 
notes <a href="http://sourceforge.net/project/shownotes.php?release_id=346914" target="" class="regularLink">http://sourceforge.net/project/shownotes.php?release_id=346914</a> for more details).
</p>

<p class="wikiPara">
These releases are compatible with the latest Hibernate core release (3.1 beta1).
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'HibernateEntityManager31Beta2AndHibernateAnnotations31Beta4';
    var disqus_title = 'Hibernate Entity Manager 3.1 beta 2 and Hibernate Annotations 3.1 beta 4';
    var disqus_url = 'http://in.relation.to/2165.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
