---
title: "Hibernate 3.1.1 released"
author: "Emmanuel Bernard"
creation_date: "19-01-2006"
blogger_name: "Emmanuel"
layout: blog-post
tags: []
slug: Hibernate311Released
lace: http://in.relation.to/2166.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate 3.1.1 has been released earlier this week. This maintenance release focused on bugfixes and improvements, especially regarding:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> SQL Server support</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> DML-style HQL (UPDATE, DELETE, INSERT INTO... SELECT)</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Native Query support</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Connection handling</li>
</ul>


<p class="wikiPara">
For details check out the <a href="http://sourceforge.net/project/shownotes.php?release_id=386304&amp;group_id=40712" target="" class="regularLink">release notes</a>
</p>

<p class="wikiPara">
Hibernate 3.1 introduced non OLTP features as well as better environment integration:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Custom strategy for session handling through CurrentSessionContext including 2 default implementations (JTA based and ThreadLocal based session handling)</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> more natural and aggressive connection handling in J2EE and J2SE environments</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> command-oriented API (StatelessSession API) for operations on huge number of objects</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> bulk UPDATE, DELETE, INSERT INTO ... SELECT for multi table entities</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <q>extra lazy</q> collections for huge collection handling</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> use of join fetch on collection through scrollable resultsets through break processing</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> database generated properties (including database timestamps)</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> additional ON clauses for joins</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> dirty checking short-cuts for instrumented classes</li>
</ul>



<p class="wikiPara">
Downloads are available <a href="http://sourceforge.net/project/showfiles.php?group_id=40712&amp;package_id=127784&amp;release_id=386304" target="" class="regularLink">here</a>
</p>
</div>
