---
title: "EJB3 Proposed Final Draft implemented in Hibernate Annotations-EntityManager"
author: "Emmanuel Bernard"
creation_date: "20-01-2006"
blogger_name: "Emmanuel"
layout: blog-post
tags: []
slug: EJB3ProposedFinalDraftImplementedInHibernateAnnotationsEntityManager
lace: http://in.relation.to/2168.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The Hibernate team is please to announce Hibernate EntityManager 3.1beta6 and Hibernate Annotations 3.1beta8, a compliant implementation of 
the latest and greatest EJB3 Proposed Final Draft.
</p>

<p class="wikiPara">
What's new in the <a href="http://jcp.org/en/jsr/detail?id=220" target="" class="regularLink">spec</a> and in Hibernate's implementation:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> cleaner way to persist enums</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> enhancement round queries including support for scalar and composite primary keys in native queries</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> implicit entity access type depending on the @Id annotation position</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> callbacks and entity listeners inheritance in an entity hierarchy</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> more natural annotation design (better separation of concern for some features)</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> possibility to have mapped superclasses or even non mapped superclasses in between two entities in the hierarchy</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> support for long conversation programmatic model</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> enhanced locking API</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> multiple persistence unit declaration per jar file</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> possibility to disable entities autodiscovery in jar files</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> .par extension no longer needed</li>
</ul>


<p class="wikiPara">
<a href="http://www.hibernate.org/5.html" target="" class="regularLink">Check it out</a>
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'EJB3ProposedFinalDraftImplementedInHibernateAnnotationsEntityManager';
    var disqus_title = 'EJB3 Proposed Final Draft implemented in Hibernate Annotations-EntityManager';
    var disqus_url = 'http://in.relation.to/2168.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
