---
title: "Hibernate at JavaPolis"
author: "Emmanuel Bernard"
creation_date: "05-12-2007"
blogger_name: "Emmanuel"
layout: blog-post
tags: [Bean Validation,Hibernate Search]
slug: HibernateAtJavaPolis
lace: http://in.relation.to/3178.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Max and I will be at JavaPolis next week. I don't know what Max is doing there but I will talk about <a href="http://www.javapolis.com/confluence/display/JP07/Hibernate+Search" target="" class="regularLink">Hibernate Search</a> and <a href="http://www.javapolis.com/confluence/display/JP07/JSR+303+-+Bean+Validation" target="" class="regularLink">JSR-303 Bean Validation</a>, both talks on Thursday the 13th. Speaking of JSR-303, I have done a <a href="http://labs.jboss.com/community/interviews/emmanuel_jsr303.html" target="" class="regularLink">quick interview</a> with Mark Newton on the topic: in a nutshell, it's shaping well and we hope to have a draft out in a month or so for you to review :)
</p>

<p class="wikiPara">
Max should have some exciting news on the tooling side for Seam, JSF and Hibernate.
</p>

<p class="wikiPara">
Speaking of Seam, Pete will be there as well for a <a href="http://www.javapolis.com/confluence/display/JP07/Seam+in+Action" target="" class="regularLink">university</a> around JBoss Seam
</p>

<p class="wikiPara">
Come by the booth, I'm sure we will have some beers for you.</p>
</div>
