---
title: "Hibernate Search and Shards talk at AJUG Sept 18th"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
layout: blog-post
tags: []
slug: HibernateSearchAndShardsTalkAtAJUGSept18th
lace: http://in.relation.to/2326.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/HibernateSearchAndShardsTalkAtAJUGSept18th">Hibernate Search and Shards talk at AJUG Sept 18th</a>
                    </h1>
</div>
<p class="wikiPara">
I will be giving a talk at the Atlanta JUG next Tuesday (18th).
</p>

<p class="wikiPara">
The talk will go through Hibernate Search: why using it, where to use it, it's internal architecture and how to use it best.
</p>

<p class="wikiPara">
I will also introduce Hibernate Shards, what it is and what it is not :)
</p>

<p class="wikiPara">
Hopefully Q&amp;A will have a decent slice of the time cake.
</p>

<p class="wikiPara">
See you in the Perimeter area :)</p>
</div>
