---
title: "Welcome Hibernate Shards!"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "20-03-2007"
tags: []

relative_url: /2007/03/20/WelcomeHibernateShards
slug: WelcomeHibernateShards
lace: http://in.relation.to/2232.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/03/20/WelcomeHibernateShards
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
This is a pretty big day for the Hibernate family. We welcome three new top level projects:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Hibernate Shards</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Hibernate Validator</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Hibernate Search</li>
</ul>


<p class="wikiPara">
So total we have made <a href="http://www.hibernate.org/" target="" class="regularLink">five new releases today </a>.
</p>

<h2 class="wikiHeadline2" id="H-HibernateShards300Beta1"><a href="/2007/03/20/WelcomeHibernateShards#H-HibernateShards300Beta1">Hibernate Shards 3.0.0 Beta1</a></h2>

<p class="wikiPara">
Contributed by Google, Hibernate Shards is a horizontal partitioning solution built on top of Hibernate Core. When you need to distribute (shard) your data across multiple databases, Hibernate Shards is for you (too much data for a single database instance, regional deployment requirements, etc.) Like all Hibernate projects, Hibernate Shards is released under the LGPL license. Big thanks to Max Ross, Maulik Shah Tomislav Nad, and Google :-) for contributing back to the community their pretty impressive Google's 20 percent project.
</p>

<p class="wikiPara">
Check the <a href="http://shards.hibernate.org" target="" class="regularLink">documentation </a> for more information.
</p>

<h2 class="wikiHeadline2" id="H-HibernateSearch300Beta1"><a href="/2007/03/20/WelcomeHibernateShards#H-HibernateSearch300Beta1">Hibernate Search 3.0.0.Beta1</a></h2>

<p class="wikiPara">
Hibernate Search is now a top level project independent of Hibernate Annotations. New in this release:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> out of the box index clustering through JMS - master/slaves model -(maximizing throughput)</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> asynchronous indexing (maximizing application response time)</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> indexing of embedded/associated objects and correlated queries (semantically similar to a SQL JOIN)</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> use of Apache Lucene(tm) 2.1.0 (lot's of performance and scalability improvements)</li>
</ul>


<p class="wikiPara">
While marked as Beta because its scope is rapidly growing and some APIs are still subject to change, Hibernate Search is already used by quite a few people, <a href="http://search.hibernate.org" target="" class="regularLink">check it out </a>.
</p>

<h2 class="wikiHeadline2" id="H-HibernateValidator300GA"><a href="/2007/03/20/WelcomeHibernateShards#H-HibernateValidator300GA">Hibernate Validator 3.0.0.GA</a></h2>

<p class="wikiPara">
Hibernate Validator is also a new top level project independent of Hibernate Annotations. New in this release:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> run with pure Java Persistence Provider (entity listener provided)</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> more business oriented validators</li>
</ul>


<p class="wikiPara">
Check the <a href="http://validator.hibernate.org" target="" class="regularLink">website </a> and the <a href="http://opensource.atlassian.com/projects/hibernate/secure/IssueNavigator.jspa?reset=true&amp;pid=10060&amp;fixfor=10661" target="" class="regularLink">change log </a> for more information.
</p>

<h2 class="wikiHeadline2" id="H-HibernateAnnotationsAndHibernateEntityManager330GA"><a href="/2007/03/20/WelcomeHibernateShards#H-HibernateAnnotationsAndHibernateEntityManager330GA">Hibernate Annotations and Hibernate EntityManager 3.3.0.GA</a></h2>

<p class="wikiPara">
A few minor configuration changes (necessary to introduce the previous projects) lead us to an version number increase. This version is however mostly backward compatible with 3.2.x. Some of the new features are listed:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> transparent event wiring for Hibernate Validator and Hibernate Search</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> performance improvements during cascading in Hibernate EntityManager</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> more SQL customizations as well as fetching and lazy configurations</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> the usual bunch of bug fixes</li>
</ul>


<p class="wikiPara">
The past few months have been pretty busy preparing this unique feature rich Hibernate bundle with smooth out of the box experience. Enjoy :-)
</p>
</div>
