---
title: "Hibernate and Seam at JavaOne 2007"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "19-04-2007"
tags: []

relative_url: /2007/04/19/HibernateAndSeamAtJavaOne2007
slug: HibernateAndSeamAtJavaOne2007
lace: http://in.relation.to/2233.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/04/19/HibernateAndSeamAtJavaOne2007
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate and JBoss Seam will be covered by some of the JBoss folks at JavaOne.
</p>

<h2 class="wikiHeadline2" id="H-HibernateSearch"><a href="/2007/04/19/HibernateAndSeamAtJavaOne2007#H-HibernateSearch">Hibernate Search</a></h2>

<p class="wikiPara">
TS-4746 - Hibernate Search: Googling Your Java Technology-Based Persistent Domain Model
</p>

<p class="wikiPara">
I will describe the problem addressed, how <a href="http://search.hibernate.org" target="" class="regularLink">Hibernate Search</a> backed by Apache Lucene provides a solution, the internal architecture and some tips and tricks.
I will also demo how to add Hibernate Search to an application.
</p>

<h2 class="wikiHeadline2" id="H-HibernateValidatorAndJSR303"><a href="/2007/04/19/HibernateAndSeamAtJavaOne2007#H-HibernateValidatorAndJSR303">Hibernate Validator and JSR-303</a></h2>

<p class="wikiPara">
TS-4112 - Declarative Programming: Tighten Enterprise JavaBeans (EJB) 3.0 and JSR 303 Beans Validation
</p>

<p class="wikiPara">
I will provide an update about <a href="http://www.jcp.org/en/jsr/detail?id=303" target="" class="regularLink">JSR-303</a> Bean Validation and <a href="http://validator.hibernate.org" target="" class="regularLink">Hibernate Validator</a>, how it will fit into the Java SE/Java EE world. I will also demo how to use it today with EJB 3.0 interceptors.
</p>

<h2 class="wikiHeadline2" id="H-JBossSeam"><a href="/2007/04/19/HibernateAndSeamAtJavaOne2007#H-JBossSeam">JBoss Seam</a></h2>

<p class="wikiPara">
TS-4089 - Web Beans Update
</p>

<p class="wikiPara">
Gavin will talk about <a href="http://www.jcp.org/en/jsr/detail?id=299" target="" class="regularLink">Web Beans</a>, the standardization process around <a href="http://labs.jboss.com/portal/jbossseam" target="" class="regularLink">JBoss Seam</a>.
</p>

<p class="wikiPara">
BOF-4400 - Improve and Expand JavaServer Faces Technology with JBoss Seam
</p>

<p class="wikiPara">
BOF-9792 - Rapid Seam Application Development with the NetBeans IDE
</p>

<p class="wikiPara">
Michael will also talk about JBoss Seam, the product. These tracks are more focused on JBoss Seam ease of use and Rapid Application Development (this is what JBoss Seam is about after all ;- ) )
</p>

<p class="wikiPara">
Check the <a href="http://www28.cplan.com/cc158/sessions_catalog.jsp?ilc=158-1&amp;ilg=english&amp;isort=&amp;isort_type=&amp;is=yes&amp;icriteria1=+&amp;icriteria2=+&amp;icriteria7=+&amp;icriteria9=&amp;icriteria8=&amp;icriteria3=JBoss" target="" class="regularLink">JavaOne</a> website or the <a href="http://www.jboss.com/events/javaone07" target="" class="regularLink">JBoss</a> website for more info.
</p>

<p class="wikiPara">
I think a party is planed too, see you there.
</p>
</div>

