---
title: "Hibernate Shards in the blogosphere"
author: "Emmanuel Bernard"
creation_date: "13-12-2007"
blogger_name: "Emmanuel"
layout: blog-post
tags: [Hibernate Shards]
slug: HibernateShardsInTheBlogosphere
lace: http://in.relation.to/3262.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
There has been a couple of interesting blog entries about Hibernate Shards and data sharding / partitioning in the last few days (<a href="http://softwarecarnival.blogspot.com/2007/12/playing-with-hibernate-shards.html" target="" class="regularLink">here</a> and <a href="http://highscalability.com/sharding-hibernate-way" target="" class="regularLink">there</a>). Both give a decent five / ten minutes overview of <a href="http://shards.hibernate.org" target="" class="regularLink">Hibernate Shards</a>.
</p>

<p class="wikiPara">
We are also planning to do a full talk about the project at <a href="http://www.jbossworld.com" target="" class="regularLink">JBoss World</a> Orlando in february.
</p>
</div>
