---
title: "Release Candidate for Hibernate Search 3.0.0"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "05-09-2007"
tags: []

relative_url: /2007/09/05/release-candidate-for-hibernate-search-300
slug: release-candidate-for-hibernate-search-300
lace: http://in.relation.to/2282.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/09/05/release-candidate-for-hibernate-search-300
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="http://search.hibernate.org" target="" class="regularLink">Hibernate Search</a> 3.0.0.CR1 is now out. This release is mainly the last bits of new features and polishing before the final version. The next cycle will be dedicated to bug fixes (of any bug that pops up), as well as test suite and documentation improvements.
</p>

<p class="wikiPara">
Thanks to Hardy for the new <i class="wikiEmphasis">getting started guide</i> (this should ease the path for newcomers), and to John for hammering the last features we wanted in the GA version:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">/manual indexing/ you can disable event based indexing: useful when the</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">/purge/ you can remove an entity from the index without affecting the database. This is especially useful if you take care of the indexing manually (using a timestamp method for example)</li>
</ul>

<p class="wikiPara">
The next version should be the GA release unless some complex bugs are discovered.
</p>

<p class="wikiPara">
Check the <a href="http://opensource.atlassian.com/projects/hibernate/browse/HSEARCH?report=com.atlassian.jira.plugin.system.project:changelog-panel" target="" class="regularLink">changelogs</a> for a detailed change list.</p>
</div>

