---
title: "Talk about Web Beans and Hibernate scalability"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
layout: blog-post
tags: []
slug: TalkAboutWebBeansAndHibernateScalability
lace: http://in.relation.to/9289.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/TalkAboutWebBeansAndHibernateScalability">Talk about Web Beans and Hibernate scalability</a>
                    </h1>
</div>
<p class="wikiPara">
I will be talking about Web Beans at <a href="http://jsfone.com" target="" class="regularLink">JSF.One</a> September 4-6 in Washington and <a href="http://qconsf.com/sf2008/conference/" target="" class="regularLink">QCon San Francisco 2008</a> about Hibernate and scalability.
</p>

<p class="wikiPara">
The Web Bean talk is an introduction to the elegant loosely coupled strongly typed component model that Web Beans introduces. After a brief intro, I will walk through examples to demonstrate how each concept is used in practice. Depending on how advanced the reference implementation is, I might try to make some of these live.
</p>

<p class="wikiPara">
The second talk will cover Hibernate and Scalability. I will co-present with Max Ross from Google (one of the engineers behind Hibernate Shards). We will cover various subjects:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> stateless session</li>
<li class="wikiUnorderedListItem"> how Software as a Service providers scale Hibernate in their platforms</li>
<li class="wikiUnorderedListItem"> some of the patterns that ensure better scalability</li>
<li class="wikiUnorderedListItem"> Hibernate Shards and how to scale to many DBs</li>
<li class="wikiUnorderedListItem"> Hibernate Search and how to save your DBA's butt</li>
</ul>

<p class="wikiPara">
Hope to see you there!</p>
</div>
