---
title: "Hibernate Search 3.1 is out: performance, robustness and new features on the menu"
author: "Emmanuel Bernard"
creation_date: "04-12-2008"
blogger_name: "Emmanuel"
layout: blog-post
tags: [Hibernate Search]
slug: HibernateSearch31IsOutPerformanceRobustnessAndNewFeaturesOnTheMenu
lace: http://in.relation.to/10148.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I am please to announce the GA release of Hibernate Search 3.1. This release focuses on performance improvement and code robustness but also add interesting new features focused on usability:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> An analyzer configuration model to declaratively use and compose features like phonetic approximation, n-gram approximation, search by synonyms, stop words filtering, elision correction, unaccented search and many more.</li>
<li class="wikiUnorderedListItem"> A lot of performance improvements at indexing time (including reduced lock contention, parallel execution). </li>
<li class="wikiUnorderedListItem"> A lot of performance improvements at query time (including I/O reduction both for Lucene and SQL, and better concurrency).</li>
<li class="wikiUnorderedListItem"> Additional new features both for indexing and querying (including support for term vector, access to scoped analyzer at query time and access to results explanation).</li>
</ul>

<p class="wikiPara">
A more detailed overlook of the features follows
</p>

<h1 class="wikiHeadline1" id="H-Analyzer"><a href="/Bloggers/HibernateSearch31IsOutPerformanceRobustnessAndNewFeaturesOnTheMenu#H-Analyzer">Analyzer</a></h1>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Support for declarative analyzer composition through the Solr library</li>
</ul>

<p class="wikiPara">
Analyzers can now be declaratively composed as a tokenizer and a set of filters. This enable easy composition of the following features: phonetic approximation, n-gram approximation, search by synonyms, stop words filtering, elision correction, unaccented search and so on.  
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Support for dynamic analyzers</li>
</ul>

<p class="wikiPara">
Allows a given entity to defined of the analyzer used at runtime. A typical use case is multi-language support where the language varies from one entity instance to an other.
</p>

<h1 class="wikiHeadline1" id="H-Indexing"><a href="/Bloggers/HibernateSearch31IsOutPerformanceRobustnessAndNewFeaturesOnTheMenu#H-Indexing">Indexing</a></h1>

<p class="wikiPara">
Indexing performance has been enhanced and new controls have been added
</p>

<h2 class="wikiHeadline2" id="H-NewFeatures"><a href="/Bloggers/HibernateSearch31IsOutPerformanceRobustnessAndNewFeaturesOnTheMenu#H-NewFeatures">New features</a></h2>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Better control over massive manual indexing (<tt>flushToIndexes()</tt>)</li>
<li class="wikiUnorderedListItem"> Support for term vector</li>
<li class="wikiUnorderedListItem"> Support for custom similarity</li>
<li class="wikiUnorderedListItem"> Better control over index writing (RAM consumption, non-compound file format flag, ...)</li>
<li class="wikiUnorderedListItem"> Better support for large index replication</li>
</ul>

<h2 class="wikiHeadline2" id="H-PerformanceImprovements"><a href="/Bloggers/HibernateSearch31IsOutPerformanceRobustnessAndNewFeaturesOnTheMenu#H-PerformanceImprovements">Performance improvements</a></h2>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Improve contention and lock window during indexing</li>
<li class="wikiUnorderedListItem"> Reduce the number of index opening/closing </li>
<li class="wikiUnorderedListItem"> Indexing is done in parallel per directory</li>
</ul>

<h1 class="wikiHeadline1" id="H-Querying"><a href="/Bloggers/HibernateSearch31IsOutPerformanceRobustnessAndNewFeaturesOnTheMenu#H-Querying">Querying</a></h1>

<p class="wikiPara">
New useful features have been added to queries and performance has been improved.
</p>

<h2 class="wikiHeadline2" id="H-NewFeatures"><a href="/Bloggers/HibernateSearch31IsOutPerformanceRobustnessAndNewFeaturesOnTheMenu#H-NewFeatures">New features</a></h2>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Expose entity-scoped and named analyzer for easy reuse at query time</li>
<li class="wikiUnorderedListItem"> Filter results (<tt>DocIdSet</tt>) can now be cached declaratively (default)</li>
<li class="wikiUnorderedListItem"> Query results <tt>Explanation</tt> is now exposed for better debugging information</li>
</ul>

<h2 class="wikiHeadline2" id="H-PerformanceImprovements"><a href="/Bloggers/HibernateSearch31IsOutPerformanceRobustnessAndNewFeaturesOnTheMenu#H-PerformanceImprovements">Performance improvements</a></h2>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Reduces the number of database roundtrips on multi-entity searches</li>
<li class="wikiUnorderedListItem"> Faster Lucene queries on indexes containing a single entity type (generally the case)</li>
<li class="wikiUnorderedListItem"> Better performance on projected properties (no noticeable overhead compared to raw Lucene calls)</li>
<li class="wikiUnorderedListItem"> Reduction of I/O consumption on Lucene by reading only the necessary fields of a document (when possible)</li>
<li class="wikiUnorderedListItem"> Reduction of document reads (during pagination and on <tt>getResultSize()</tt> calls)</li>
<li class="wikiUnorderedListItem"> Faster index reopening (keeps unchanged segments opened)</li>
<li class="wikiUnorderedListItem"> Better index reader concurrency (use of the read only flag)</li>
</ul>

<h1 class="wikiHeadline1" id="H-Libraries"><a href="/Bloggers/HibernateSearch31IsOutPerformanceRobustnessAndNewFeaturesOnTheMenu#H-Libraries">Libraries</a></h1>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Migration to Lucene 2.4 (and its performance improvements)</li>
<li class="wikiUnorderedListItem"> Upgrade to Hibernate Core 3.3</li>
<li class="wikiUnorderedListItem"> Use SLF4J as log facade</li>
</ul>

<h1 class="wikiHeadline1" id="H-BugFixes"><a href="/Bloggers/HibernateSearch31IsOutPerformanceRobustnessAndNewFeaturesOnTheMenu#H-BugFixes">Bug fixes</a></h1>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Fix a few race conditions on multi core machines</li>
<li class="wikiUnorderedListItem"> Resources are properly discarded at <tt>SessionFactory.close()</tt>
</li>
<li class="wikiUnorderedListItem"> Fix bug related to embedded entities and <tt>@Indexed</tt> (<a href="http://opensource.atlassian.com/projects/hibernate/browse/HSEARCH-142" target="" class="regularLink">HSEARCH-142</a>)</li>
<li class="wikiUnorderedListItem"> Filter instances are properly cached now</li>
<li class="wikiUnorderedListItem"> And more (see the change logs)</li>
</ul>

<h1 class="wikiHeadline1" id="H-DownloadAndAll"><a href="/Bloggers/HibernateSearch31IsOutPerformanceRobustnessAndNewFeaturesOnTheMenu#H-DownloadAndAll">Download and all</a></h1>

<p class="wikiPara">
You can download the release <a href="http://hibernate.org/6.html" target="" class="regularLink">here</a>. Changelogs are available <a href="http://opensource.atlassian.com/projects/hibernate/secure/BrowseProject.jspa?id=10061&amp;subset=-1" target="" class="regularLink">on JIRA</a>. Migrating to this version is recommended for all users (see the <a href="http://www.hibernate.org/424.html" target="" class="regularLink">Migration guide</a>).
</p>

<p class="wikiPara">
Many thanks to everyone who contributed to the development and test of this release. Especially, many thanks to Sanne and Hardy who worked tirelessly pushing new features and enhancements and fixing bugs while John and I where finishing <a href="http://www.manning.com/affiliate/idevaffiliate.php?id=952_117_1_24" target="" class="regularLink">Hibernate Search in Action</a>.
</p>

<p class="wikiPara">
We have some features on the work that we could not put in 3.1, so stay tuned.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'HibernateSearch31IsOutPerformanceRobustnessAndNewFeaturesOnTheMenu';
    var disqus_title = 'Hibernate Search 3.1 is out: performance, robustness and new features on the menu';
    var disqus_url = 'http://in.relation.to/10148.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
