---
title: "Hibernate Search 3.1 enters release candidate phase"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "17-11-2008"
tags: [Hibernate Search]

relative_url: /2008/11/17/HibernateSearch31EntersReleaseCandidatePhase
slug: HibernateSearch31EntersReleaseCandidatePhase
lace: http://in.relation.to/9960.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/11/17/HibernateSearch31EntersReleaseCandidatePhase
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate Search 3.1.0.CR1 is out. Download it <a href="http://hibernate.org/6.html" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
One of the main work was to align more closely with the new Lucene features:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> read-only IndexReader for better concurrency at search time</li>
<li class="wikiUnorderedListItem"> use of <tt>DocIdSet</tt> rather than <tt>BitSet</tt> in filter implementations for greater flexibility</li>
<li class="wikiUnorderedListItem"> explicit use of Lucene's <tt>commit()</tt>
</li>
</ul>

<p class="wikiPara">
We have also added a few performance tricks:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> avoid reading unnecessary fields from Lucene when possible</li>
<li class="wikiUnorderedListItem"> use Hibernate queries when projecting the object instance (as opposed to rely on batch size)</li>
</ul>

<p class="wikiPara">
<tt>@DocumentId</tt> is now optional and defaults to the property marked as <tt>@Id</tt>. Scores are no longer normalized (ie no longer &lt;= 1)
</p>

<p class="wikiPara">
The full changelog is available <a href="http://opensource.atlassian.com/projects/hibernate/secure/IssueNavigator.jspa?reset=true&amp;pid=10061&amp;fixfor=10872" target="" class="regularLink">here</a>. Expect a GA in the next two weeks. Help us iron this release and provide issue reports in <a href="http://opensource.atlassian.com/projects/hibernate" target="" class="regularLink">JIRA</a>.
</p>

<p class="wikiPara">
Many thanks to Hardy for literally hammering out fixes after fixes and making the release happen on time.
</p>

</div>

