---
title: "Hibernate sister projects aligned with Core 3.3.0"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
layout: blog-post
tags: []
slug: HibernateSisterProjectsAlignedWithCore330
lace: http://in.relation.to/9305.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/HibernateSisterProjectsAlignedWithCore330">Hibernate sister projects aligned with Core 3.3.0</a>
                    </h1>
</div>
<p class="wikiPara">
After the release of <a href="http://in.relation.to/9273.lace" target="" class="regularLink">Hibernate Core 3.3.0.GA</a> last week, we are releasing aligned versions of its sister projects. These releases are primarily ensuring that everything works property on Core 3.3. They also improved a few other things:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> use of slf4j as the logging facade eliminating classloader headaches</li>
<li class="wikiUnorderedListItem"> all projects are now deployed in the <a href="http://repository.jboss.org/maven2/" target="" class="regularLink">JBoss Maven repository</a> under <a href="http://repository.jboss.org/maven2/org/hibernate/" target="" class="regularLink">org/hibernate</a> with their proper pom.xml files. Hopefully, the dark ages of Hibernate dependencies for Maven are behind us (we are still looking at pushing the JBoss repository changes to the central Maven one but it takes longer than expected: check the Hibernate development mailing list for more info)</li>
<li class="wikiUnorderedListItem"> the build system is more modular and lets you work on each project independently making contributions much easier</li>
<li class="wikiUnorderedListItem"> the regular set of bug fixes (check the change logs for more details)</li>
</ul>

<p class="wikiPara">
The following releases are now available:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Hibernate Annotations 3.4.0.GA (<a href="http://sourceforge.net/project/shownotes.php?group_id=40712&amp;release_id=617091" target="" class="regularLink">changelog</a>)</li>
<li class="wikiUnorderedListItem"> Hibernate EntityManager 3.4.0.GA (<a href="http://sourceforge.net/project/shownotes.php?group_id=40712&amp;release_id=620628" target="" class="regularLink">changelog</a>)</li>
<li class="wikiUnorderedListItem"> Hibernate Commons Annotations 3.1.0.GA (<a href="http://sourceforge.net/project/shownotes.php?group_id=40712&amp;release_id=620627" target="" class="regularLink">changelog</a>)</li>
<li class="wikiUnorderedListItem"> Hibernate Validator 3.1.0.CR2 * (<a href="http://sourceforge.net/project/shownotes.php?release_id=620836&amp;group_id=40712" target="" class="regularLink">changelog</a>)</li>
</ul>

<p class="wikiPara">
<i class="wikiEmphasis"> * A small <a href="http://opensource.atlassian.com/projects/hibernate/browse/HV-66" target="" class="regularLink">glitch</a> slipped through when we released Hibernate Core. Be sure to use Hibernate Validator 3.1.0.CR2 or above when using Core 3.3. We wanted to take our time fixing this, Validator CR2 will become GA in a week if no problem pops up. </i>
</p>

<p class="wikiPara">
All projects can be downloaded <a href="http://hibernate.org/6.html" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
Note that Hibernate Search 3.1.0.Beta1 is already aligned with Hibernate Core 3.3.0.GA.
</p>

<p class="wikiPara">
Enjoy</p>
</div>
