---
title: "JavaOne 2008: Hibernate at JBoss Speakeasy"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "25-04-2008"
tags: []

relative_url: /2008/04/25/JavaOne2008HibernateAtJBossSpeakeasy
slug: JavaOne2008HibernateAtJBossSpeakeasy
lace: http://in.relation.to/8912.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/04/25/JavaOne2008HibernateAtJBossSpeakeasy
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Gavin and I are talking at JavaOne about the various standardization efforts JBoss is leading at the moment around Seam and Hibernate Validator:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Web Beans and the simplification of web application developments in Java EE 6 (<i class="wikiEmphasis">Gavin King - TS-5286 - Introduction to Web Beans – Wednesday, May 7 10:50-11:50am</i>)</li>
<li class="wikiUnorderedListItem"> Bean Validation: the Hibernate Validator cousin and how it integrates into the Java development landscape (<i class="wikiEmphasis">Emmanuel Bernard - TS-5616 – JSR 303: From a World of Constraints to Constrain the World - Wednesday, May 7 4:10-5:10pm</i>)</li>
</ul>

<p class="wikiPara">
Burr and Max (yet another one) Katz will be talking about JBoss Developer Studio and how tools help you speed up your Java EE developments nowadays (<i class="wikiEmphasis">Burr Sutter and Max Katz (Exadel) – TS-7479 – Open Source Development Tools for the Java™ Platform, Enterprise Edition (Java EE Platform), Web 2.0, and SOA – Thursday, May 8 4:10-5:10pm and Friday, May 9, 2:50-3:50pm</i>).
</p>

<p class="wikiPara">
And, of course, we will be at the JBoss Speakeasy party: open food, open bar, open talks.<a href="http://www.jboss.org/files/events/javaone2008.htm" target="" class="regularLink">Registration </a> is required.
</p>

<p class="wikiPara">
See you there!</p>
</div>
