---
title: "Bean Validation feedback forum"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "29-03-2008"
tags: [Bean Validation]

absolute_url: http://in.relation.to/2008/03/29/BeanValidationFeedbackForum
lace: http://in.relation.to/8780.lace
slug: BeanValidationFeedbackForum

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
To make the feedback process on the specification draft more open, constructive and simple, we have opened a dedicated <a href="http://forum.hibernate.org/viewforum.php?f=26" target="" class="regularLink">feedback forum</a>.
</p>

<p class="wikiPara">
No more excuse, speak up :)</p>
</div>
