---
title: "Slides from JavaOne 2009: Bean Validation and Hibernate Search"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "12-06-2009"
tags: []

relative_url: /2009/06/12/SlidesFromJavaOne2009BeanValidationAndHibernateSearch
slug: SlidesFromJavaOne2009BeanValidationAndHibernateSearch
lace: http://in.relation.to/11829.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/06/12/SlidesFromJavaOne2009BeanValidationAndHibernateSearch
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
A few people have asked me to publish my slides on Bean Validation and Hibernate Search. Here we go :)
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="/2009/06/12/SlidesFromJavaOne2009BeanValidationAndHibernateSearch#attachment1" target="" class="regularLink">Bean Validation: Declare once validate anywhere. A reality?[1]</a>
</li>
<li class="wikiUnorderedListItem"> <a href="/2009/06/12/SlidesFromJavaOne2009BeanValidationAndHibernateSearch#attachment2" target="" class="regularLink">Hibernate Search: Human Heaven and Database Savior in the Cloud[2]</a>
</li>
</ul>

<p class="wikiPara">
Speaking of conferences, I will be presenting Hibernate Search and the magic of analyzers at <a href="http://jazoon.com/en/conference/presentationdetails.html?type=sid&amp;detail=7240" target="" class="regularLink">Jazoon (Zurich) on Thursday 25th at 11:30</a>. See you there.</p>
</div>
