---
title: "Bean Validation (JSR-303) and Hibernate Search at javaOne"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
layout: blog-post
tags: [Bean Validation]
slug: BeanValidationJSR303AndHibernateSearchAtJavaOne
lace: http://in.relation.to/11645.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/BeanValidationJSR303AndHibernateSearchAtJavaOne">Bean Validation (JSR-303) and Hibernate Search at javaOne</a>
                    </h1>
</div>
<a target="_blank" href="http://java.sun.com/javaone">
<img href="http://java.sun.com/javaone" src="http://www.cplan.com/javaone2009/creativetoolbox/images/09J1_200x200_Speaker_Button_Duke.gif" style="float:right;padding-left:15px;padding-bottom:15px;width:100px;height:100px;">
</a>

<p class="wikiPara">
Aaron and I will be talking about Hibernate Search and how it can complement your database when you need to scale big, like in... ahem a cloud. It's on <a href="http://www28.cplan.com/cc230/session_details.jsp?isid=305198&amp;ilocation_id=230-1&amp;ilanguage=english" target="" class="regularLink">Wednesday, June 3 at 9:45 am in Hall 134</a>. I know it's early, someone in the program committee did not like us so much ;)
</p>

<p class="wikiPara">
I will also do an author signing session of <a href="http://www.amazon.com/dp/1933988649?tag=hsia-20&amp;camp=213381&amp;creative=390973&amp;linkCode=as4&amp;creativeASIN=1933988649&amp;adid=12TS2185Z8X14AKT175F&amp;" target="" class="regularLink">Hibernate Search in Action</a> the same day Wed, June 3 at the JavaOne bookstore. 
</p>


<p class="wikiPara">
I will also discuss Bean Validation (JSR-303), what it does and how it integrates in Java EE 6 (which I will demo on stage) and any other architecture. This will be <a href="http://www28.cplan.com/cc230/session_details.jsp?isid=305184&amp;ilocation_id=230-1&amp;ilanguage=english" target="" class="regularLink">Thursday, June 4 at 13:30 in Hall 134</a>. The latest version of the spec is always available <a href="http://people.redhat.com/~ebernard/validation/" target="" class="regularLink">here</a> at least till we make it final. <a href="http://www.hibernate.org/412.html" target="" class="regularLink">Hibernate Validator 4</a>, the reference implementation is well underway, give it a try.</p>
</div>
