---
title: "Bean Validation is voted YES!"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
layout: blog-post
tags: []
slug: BeanValidationIsVotedYES
lace: http://in.relation.to/12855.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/BeanValidationIsVotedYES">Bean Validation is voted YES!</a>
                    </h1>
</div>
<p class="wikiPara">
That's now official, the Bean Validation specification has been voted <a href="http://jcp.org/en/jsr/results?id=5006" target="" class="regularLink">YES</a> by the JCP expert committee. That's the culmination of two and a half years of work. (I know the vote has ended nov 2nd but nobody told me ;) )
</p>

<p class="wikiPara">
Many many thanks to all the persons involved that believed in this spec, worked on it, provided feedback and improvements over time whether it be the members of the expert group, of other expert groups or people in the community. Bringing a specification to birth is very tough, I have a lot more respect for specification leads now ;)
</p>

<p class="wikiPara">
The final specification should officially show up soon on the <a href="http://jcp.org/en/jsr/summary?id=303" target="" class="regularLink">JSR-303 webpage</a> but in the mean time, you can read it <a href="http://people.redhat.com/~ebernard/validation/" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
Now go download <a href="https://www.hibernate.org/6.html" target="" class="regularLink">Hibernate Validator 4</a> and use it. The next preview of JBoss AS (due very soon) will contain support for JSF 2, Bean Validation (via Hibernate Validator), Java Context and Dependency injection (via Weld) and partial support for JPA 2 (via Hibernate 3.5.Beta2). All these specs and products integrate with each other to provide cross-the-board validation.
</p>

<p class="wikiPara">
Now off to my Bean Validation presentation at <a href="http://it-republik.de/jaxenter/wjax09/sessions/?tid=1286#session-11683" target="" class="regularLink">W-JAX</a>.
</p>

<p class="wikiPara">
PS: Congratulations to the 299 EG and to the WebBea-ahem Weld team for their release.</p>
</div>
