---
title: "Slides from JavaOne 2009: Bean Validation and Hibernate Search"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
layout: blog-post
tags: []
slug: SlidesFromJavaOne2009BeanValidationAndHibernateSearch
lace: http://in.relation.to/11829.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/SlidesFromJavaOne2009BeanValidationAndHibernateSearch">Slides from JavaOne 2009: Bean Validation and Hibernate Search</a>
                    </h1>
</div>
<p class="wikiPara">
A few people have asked me to publish my slides on Bean Validation and Hibernate Search. Here we go :)
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="&lt;%=%20site.base_url%20%&gt;/assets/BeanValidationAndJavaEE-TS-5184.pdf" target="" class="regularLink">Bean Validation: Declare once validate anywhere. A reality?</a>
</li>
<li class="wikiUnorderedListItem"> <a href="&lt;%=%20site.base_url%20%&gt;/assets/HSearchAndClouds-Javaone2009-TS-5198.pdf" target="" class="regularLink">Hibernate Search: Human Heaven and Database Savior in the Cloud</a>
</li>
</ul>

<p class="wikiPara">
Speaking of conferences, I will be presenting Hibernate Search and the magic of analyzers at <a href="http://jazoon.com/en/conference/presentationdetails.html?type=sid&amp;detail=7240" target="" class="regularLink">Jazoon (Zurich) on Thursday 25th at 11:30</a>. See you there.</p>
</div>
