---
title: "EE 6 tsunami"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "18-11-2009"
tags: [Bean Validation,Contexts and Dependency Injection,EE,JavaServer Faces]

relative_url: /2009/11/18/ee-6-tsunami
slug: ee-6-tsunami
lace: http://in.relation.to/13071.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/11/18/ee-6-tsunami
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I have been at a few conferences lately and the EE 6 wave is taking a bunch of people by surprise. Tsunami level 6.
The last two examples are W-JAX and Devoxx.
</p>

<h1 class="wikiHeadline1" id="H-Devoxx"><a href="/2009/11/18/ee-6-tsunami#H-Devoxx">Devoxx</a></h1>

<p class="wikiPara">
The Java EE 6 university talk was packed. And when you know the capacity of Devoxx's rooms that's really impressive! 
Kudos to Antonio and Alexis for managing expectations during they lecture.
</p>

<p class="wikiPara">
The JSF 2 and the Java EE 6 BoFs were basically full as well.
</p>

<h1 class="wikiHeadline1" id="H-WJAX"><a href="/2009/11/18/ee-6-tsunami#H-WJAX">W-JAX</a></h1>

<p class="wikiPara">
Keynote on Java EE 6, full day tracks on EE 6 and EJB: full. An EJB session full, WTF? What's going on?
</p>

<p class="wikiPara">
What we are seeing is Java EE 6 and its Web profiles are becoming the hot topic of the day.
If I was a proprietary web application stack, in Java or not, I would be very scared:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> JSF 2 becomes actually usable</li>
<li class="wikiUnorderedListItem"> CDI (JSR-299) brings injection, context management and framework portability across the SE and EE platforms</li>
<li class="wikiUnorderedListItem"> Bean Validation integrates validation from the presentation down to the data layer</li>
<li class="wikiUnorderedListItem"> JAX-RS is simply awesome when you want to expose REST APIs</li>
<li class="wikiUnorderedListItem"> EE 6 looks like a platform designed by a single person, heresy!</li>
</ul>

<p class="wikiPara">
and many more features are invading the EE landscape.
</p>

<h1 class="wikiHeadline1" id="H-Disclaimer"><a href="/2009/11/18/ee-6-tsunami#H-Disclaimer">Disclaimer</a></h1>

<p class="wikiPara">
I know it sounds like a blog written by some marketing borg but I have a few counter arguments to that:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> did you see any forward-looking statement in this blog?</li>
<li class="wikiUnorderedListItem"> seriously, that's just happening (I am especially excited about CDI's portable extensions Gavin has been <a href="http://in.relation.to/tag/Portable+Extensions" target="" class="regularLink">blogging about</a> lately).</li>
</ul>

</div>

