---
title: "Slides from JavaOne 2009: Bean Validation and Hibernate Search"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "12-06-2009"
original_tags: []
tags: [Hibernate Search]

relative_url: /2009/06/12/slides-from-java-one-2009-bean-validation-and-hibernate-search
slug: slides-from-java-one-2009-bean-validation-and-hibernate-search
lace: http://in.relation.to/11829.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/06/12/slides-from-java-one-2009-bean-validation-and-hibernate-search
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
A few people have asked me to publish my slides on Bean Validation and Hibernate Search. Here we go :)
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="#slides-from-java-one-2009-bean-validation-and-hibernate-search_attachment1" target="" class="regularLink">Bean Validation: Declare once validate anywhere. A reality?[1]</a>
</li>
<li class="wikiUnorderedListItem"> <a href="#slides-from-java-one-2009-bean-validation-and-hibernate-search_attachment2" target="" class="regularLink">Hibernate Search: Human Heaven and Database Savior in the Cloud[2]</a>
</li>
</ul>

<p class="wikiPara">
Speaking of conferences, I will be presenting Hibernate Search and the magic of analyzers at <a href="http://jazoon.com/en/conference/presentationdetails.html?type=sid&amp;detail=7240" target="" class="regularLink">Jazoon (Zurich) on Thursday 25th at 11:30</a>. See you there.</p>
</div>

<div class="attachments">
<h4>Attachments</h4>
<ol class="wikiOrderedList"><li class="wikiOrderedListItem"><a name="slides-from-java-one-2009-bean-validation-and-hibernate-search_attachment1" href="/assets/BeanValidationAndJavaEE-TS-5184.pdf">BeanValidationAndJavaEE-TS-5184.pdf</a></li>
<li class="wikiOrderedListItem"><a name="slides-from-java-one-2009-bean-validation-and-hibernate-search_attachment2" href="/assets/HSearchAndClouds-Javaone2009-TS-5198.pdf">HSearchAndClouds-Javaone2009-TS-5198.pdf</a></li>
</ol>
</div>

