---
title: "Slides from JavaOne 2009: Bean Validation and Hibernate Search"
author: "Emmanuel Bernard"
creation_date: "12-06-2009"
blogger_name: "Emmanuel"
layout: blog-post
tags: []
slug: SlidesFromJavaOne2009BeanValidationAndHibernateSearch
lace: http://in.relation.to/11829.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
A few people have asked me to publish my slides on Bean Validation and Hibernate Search. Here we go :)
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="/Bloggers/SlidesFromJavaOne2009BeanValidationAndHibernateSearch#attachment1" target="" class="regularLink">Bean Validation: Declare once validate anywhere. A reality?[1]</a>
</li>
<li class="wikiUnorderedListItem"> <a href="/Bloggers/SlidesFromJavaOne2009BeanValidationAndHibernateSearch#attachment2" target="" class="regularLink">Hibernate Search: Human Heaven and Database Savior in the Cloud[2]</a>
</li>
</ul>

<p class="wikiPara">
Speaking of conferences, I will be presenting Hibernate Search and the magic of analyzers at <a href="http://jazoon.com/en/conference/presentationdetails.html?type=sid&amp;detail=7240" target="" class="regularLink">Jazoon (Zurich) on Thursday 25th at 11:30</a>. See you there.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'SlidesFromJavaOne2009BeanValidationAndHibernateSearch';
    var disqus_title = 'Slides from JavaOne 2009: Bean Validation and Hibernate Search';
    var disqus_url = 'http://in.relation.to/11829.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
