---
title: "Hibernate Search 3.3 Beta2: please test"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "15-10-2010"
tags: [Hibernate,Hibernate Search]

relative_url: /2010/10/15/HibernateSearch33Beta2PleaseTest
slug: HibernateSearch33Beta2PleaseTest
lace: http://in.relation.to/17425.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/10/15/HibernateSearch33Beta2PleaseTest
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
It's all in the title, we have released a new beta of Hibernate Search. This is primarily a consolidation release plus the move to Lucene 3.0. The main changes are:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> migration to Lucene 3.0</li>
<li class="wikiUnorderedListItem"> improvement of the analyzer framework to support Lucene 3.0 changes</li>
<li class="wikiUnorderedListItem"> backward compatible support for people using STORE.COMPRESS</li>
<li class="wikiUnorderedListItem"> improvements around error reporting (more human friendly)</li>
<li class="wikiUnorderedListItem"> support for Hibernate Core 3.6 Final</li>
<li class="wikiUnorderedListItem"> a good chunk of bug fixes particularly for the mass indexer, queries, the programmatic api</li>
</ul>

<p class="wikiPara">
We have a quite aggressive schedule ahead. Another beta in two weeks followed by the release candidate two weeks after. We strongly encourage you to test this release in particular in the areas noted above.
</p>

<p class="wikiPara">
Check out the new release on JBoss.org's Maven <a href="http://repository.jboss.org/nexus/content/groups/public-jboss/" target="" class="regularLink">repository</a> or <a href="http://www.hibernate.org/subprojects/search/download" target="" class="regularLink">download the distribution</a>. You can also <a href="http://docs.jboss.org/hibernate/search/3.3/reference/en-US/" target="" class="regularLink">read the documentation</a>.
</p>

<p class="wikiPara">
The move to Lucene 3.0 should not trigger index incompatibilities (though it is a forward only move), if you use advanced analyzers, make sure to read the <a href="http://community.jboss.org/wiki/HibernateSearchMigrationGuide" target="" class="regularLink">migration guide</a>.
</p>

<p class="wikiPara">
And of course, if you find an issue, <a href="http://opensource.atlassian.com/projects/hibernate/browse/HSEARCH" target="" class="regularLink">let us know</a>.</p>
</div>
