---
title: "Bean Validation in Wicket"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "26-02-2010"
tags: [Bean Validation,Wicket]

absolute_url: http://in.relation.to/2010/02/26/BeanValidationInWicket
lace: http://in.relation.to/14475.lace
slug: BeanValidationInWicket

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
People following our work and vision on Bean Validation know that the ultimate goal is to get the ecosystem of Java frameworks to natively integrate Bean Validation where it makes sense. A particularly important area is the the presentation layer that should call Bean Validation to validate the values to be put in the domain model.
</p>

<p class="wikiPara">
This is a feature we have added in JSF 2 and I am happy to see the model being embraced by other frameworks. A new addition to the game is Wicket: Zenika has created a project to integrate Bean Validation in Wicket just like we did for JSF. It's all explained <a href="http://blog.zenika.com/index.php?post/2010/02/24/Wicket-JSR-303-Validators" target="" class="regularLink">here</a>. 
</p>

<p class="wikiPara">
If I may, my next wish is to get rid of this annoying lonely line:
</p>

<pre class="wikiPreformatted">
personForm.add(new JSR303FormValidator());
</pre>


<p class="wikiPara">
Just get it to work out of the box :) Aside from this detail, this is exactly how a component based framework should integrate Bean Validation. great work.</p>
</div>
