---
title: "Santa brings Hibernate Search 3.3"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "15-12-2010"
tags: [Hibernate,Hibernate Search]

absolute_url: http://in.relation.to/2010/12/15/SantaBringsHibernateSearch33
lace: http://in.relation.to/17936.lace
slug: SantaBringsHibernateSearch33

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Santa has come early to deliver Hibernate Search 3.3! This release comes with many new interesting and useful features as well as its lot of performance improvements and bug fixes.
</p>

<h1 class="wikiHeadline1" id="H-Compatibility"><a href="/Bloggers/SantaBringsHibernateSearch33#H-Compatibility">Compatibility</a></h1>

<p class="wikiPara">
This version has been tailored to work in conjunction with:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> JBoss AS 6</li>
<li class="wikiUnorderedListItem"> Seam 2.2.1</li>
<li class="wikiUnorderedListItem"> Hibernate Core 3.6</li>
</ul>

<h1 class="wikiHeadline1" id="H-Queries"><a href="/Bloggers/SantaBringsHibernateSearch33#H-Queries">Queries</a></h1>

<p class="wikiPara">
Most likely the biggest feature is the new query DSL providing an easy-to-use, easy-to-read fluent API for programmatic queries. The Query DSL abstracts things like the right property bridge to use, the right analyzer to use for a given property etc. You work at the object level and let Hibernate Search do the conversion to the Lucene world.
</p>

<p class="wikiPara">
Here is a fairly complex example
</p>

<pre class="wikiPreformatted">QueryBuilder mythQB = searchFactory.buildQueryBuilder().forEntity( Myth.class ).get();

//look for popular modern myths that are not urban
Date twentiethCentury = ...;
Query luceneQuery = mythQB
    .bool()
      .must( mythQB.keyword().onField("description_stem").matching("urban").createQuery() )
        .not()
      .must( mythQB
        .range()
        .onField("starred")
        .from(3).excludeLimit()
        .to(5)
        .createQuery() )
      .must( mythQB
        .range()
        .onField("creationDate")
        .above(twentiethCentury)
        .createQuery() )
    .createQuery();</pre>


<p class="wikiPara">
We hope this will make complex queries much easier and much less buggy for you. You can get more info <a href="http://docs.jboss.org/hibernate/search/3.3/reference/en-US/html/search-query.html#search-query-querydsl" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
While we are on the subject, you can now limit the time a query takes. While this is a hint for Hibernate Search and is a <q>best effort</q>, you can do it in two ways:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> throw an exception if the query takes too long</li>
<li class="wikiUnorderedListItem"> return only the elements found when the time limit is reached (partial results)</li>
</ul>

<p class="wikiPara">
More info <a href="http://docs.jboss.org/hibernate/search/3.3/reference/en-US/html/search-query.html#d0e4578" target="" class="regularLink">here</a>.
</p>

<h1 class="wikiHeadline1" id="H-Backend"><a href="/Bloggers/SantaBringsHibernateSearch33#H-Backend">Backend</a></h1>

<p class="wikiPara">
We have reworked the queuing algorithm which should make things substantially faster for people with complex object graphs and with massive changes.
</p>

<p class="wikiPara">
You can now store your index in the Infinispan grid system (in a distributed way) instead of the traditional file-system based approach. The index data is store on the grid and shared amongst the cluster of machines. This eliminates some of the complexity of copying files between and master and a slave. More info <a href="http://docs.jboss.org/hibernate/search/3.3/reference/en-US/html/search-configuration.html#infinispan-directories" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
Hibernate Search now exposes various statistics like the average query time, the slowest query etc. This will help you tune your application with hard data. More info <a href="http://docs.jboss.org/hibernate/search/3.3/reference/en-US/html/search-monitoring.html" target="" class="regularLink">here</a>.
</p>

<h1 class="wikiHeadline1" id="H-IndexingAndLucene"><a href="/Bloggers/SantaBringsHibernateSearch33#H-IndexingAndLucene">Indexing and Lucene</a></h1>

<p class="wikiPara">
We have migrated to Lucene 3.0. While this new version has some backward incompatibilities in its API, Hibernate Search shields you against all of this. Your application will be faster with minimal to no change to your application.
</p>

<p class="wikiPara">
Note that to that effect, we have introduced a new artifact <tt>org.hibernate:hibernate-search-analyzers</tt>. This artifact is a replacement for <tt>org.apache.solr:solr-core</tt> when using the Solr analyzer framework. So far the namespace of the classes has not changed. Existing <tt>@AnalyzerDef</tt> definitions should continue to work.
</p>

<p class="wikiPara">
We also have added support for the new Lucene <tt>NumericField</tt>. Numeric fields can provides significant query improvements on numeric properties. While this feature is marked as experimental in Lucene, we are quite optimistic about it. 
</p>

<pre class="wikiPreformatted">@Field @NumericField 
Long size;</pre>


<p class="wikiPara">
More info <a href="http://docs.jboss.org/hibernate/search/3.3/reference/en-US/html/search-mapping.html#basic-mapping" target="" class="regularLink">here</a>.
</p>

<h1 class="wikiHeadline1" id="H-AndManyMore"><a href="/Bloggers/SantaBringsHibernateSearch33#H-AndManyMore">And many more</a></h1>

<p class="wikiPara">
There are some of the most prominent new features, don't hesitate to look for <a href="http://in.relation.to/tag/Hibernate+Search" target="" class="regularLink">previous blog entries</a> on the subject and of course the <a href="https://github.com/hibernate/hibernate-search/blob/3.3.0.Final/changelog.txt" target="" class="regularLink">changelog</a> and the reference documentation which has been updated and cleaned up.
</p>

<p class="wikiPara">
Check out the new release on JBoss.org's Maven <a href="http://repository.jboss.org/nexus/content/groups/public-jboss/" target="" class="regularLink">repository</a> or <a href="http://www.hibernate.org/subprojects/search/download" target="" class="regularLink">download the distribution</a>. You can also <a href="http://docs.jboss.org/hibernate/search/3.3/reference/en-US/" target="" class="regularLink">read the documentation</a>.
</p>

<p class="wikiPara">
Many thanks to the various contributors, in particular <a href="http://twitter.com/gustavonalle" target="" class="regularLink">Gustavo</a> from <a href="http://www.sourcesense.com" target="" class="regularLink">Sourcesense </a>. And welcome <a href="http://in.relation.to/Bloggers/Sanne" target="" class="regularLink">Sanne</a> to the team (sorry for the rough release baptism :) ).
</p>

<p class="wikiPara">
Happy searching!</p>
</div>
