---
title: "Hibernate Search 3.2.1 is out: please upgrade"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "26-07-2010"
tags: [Hibernate,Hibernate Search,News]

relative_url: /2010/07/26/HibernateSearch321IsOutPleaseUpgrade
slug: HibernateSearch321IsOutPleaseUpgrade
lace: http://in.relation.to/16486.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/07/26/HibernateSearch321IsOutPleaseUpgrade
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
While working on Hibernate Search 3.3, we have discovered a critical <a href="http://opensource.atlassian.com/projects/hibernate/browse/HSEARCH-540" target="" class="regularLink">issue</a> with Hibernate 3.2. If you use Hibernate Core 3.5 in a JTA environment (recommended), the way Hibernate Search 3.2 registers itself can lead to inconsistent indexing and generate assertion failures.
All this is fixed in Hibernate 3.2.1 which you can get <a href="http://www.hibernate.org/subprojects/search/download" target="" class="regularLink">here</a> and ported to trunk as well. We have also added tests to cover the JTA area.
</p>

<p class="wikiPara">
We highly recommend people using Hibernate Search 3.2.0 to migrate to 3.2.1.
</p>

<p class="wikiPara">
For more information on this bug and others fixed in 3.2.1, check out <a href="http://opensource.atlassian.com/projects/hibernate/secure/ReleaseNote.jspa?projectId=10061&amp;version=11130" target="" class="regularLink">the changelog</a>.
</p>

<p class="wikiPara">
Many thanks to Tom Waterhouse for helping us all along the discovery, fix and testing process.</p>
</div>

