---
title: "More Bean Validation integration with third party frameworks"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "27-02-2010"
tags: [Bean Validation]

absolute_url: http://in.relation.to/2010/02/27/MoreBeanValidationIntegrationWithThirdPartyFrameworks
lace: http://in.relation.to/14571.lace
slug: MoreBeanValidationIntegrationWithThirdPartyFrameworks

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
It was bound to happen, the minute I announced the <a href="/Bloggers/BeanValidationInWicket" target="" class="regularLink">Wicket integration</a>, I've received a few emails describing integrations with other frameworks (like Tapestry).
I've created a wiki page to list all frameworks integrating Bean Validation and a pointer to their documentation. Go ahead and fill it up with any active integration you are aware of. The page is <a href="https://www.hibernate.org/473.html" target="" class="regularLink">here</a>.</p>
</div>
