---
title: "More Bean Validation integration with third party frameworks"
author: "Emmanuel Bernard"
creation_date: "27-02-2010"
blogger_name: "Emmanuel"
layout: blog-post
tags: [Bean Validation]
slug: MoreBeanValidationIntegrationWithThirdPartyFrameworks
lace: http://in.relation.to/14571.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
It was bound to happen, the minute I announced the <a href="/Bloggers/BeanValidationInWicket" target="" class="regularLink">Wicket integration</a>, I've received a few emails describing integrations with other frameworks (like Tapestry).
I've created a wiki page to list all frameworks integrating Bean Validation and a pointer to their documentation. Go ahead and fill it up with any active integration you are aware of. The page is <a href="https://www.hibernate.org/473.html" target="" class="regularLink">here</a>.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'MoreBeanValidationIntegrationWithThirdPartyFrameworks';
    var disqus_title = 'More Bean Validation integration with third party frameworks';
    var disqus_url = 'http://in.relation.to/14571.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
