---
title: "Presentation on Bean Validation: Best practices for real life"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "29-09-2010"
tags: [Bean Validation,Hibernate Validator]

relative_url: /2010/09/29/PresentationOnBeanValidationBestPracticesForRealLife
slug: PresentationOnBeanValidationBestPracticesForRealLife
lace: http://in.relation.to/17198.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/09/29/PresentationOnBeanValidationBestPracticesForRealLife
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
At JavaOne this year, I gave a more advanced presentation than usual on how to use Bean Validation. A few folks have asked me to share it and there it is.
</p>

<p class="wikiPara">
A bit of warning though, this is a presentation that is best seen live as I talk a lot on my slides and even more during the live demo. I am not the kind of person that reads its slides and the demo part is probably about 50% of the presentation so if you can see Hardy or me doing this presentation live, by all means go.
</p>

<p class="wikiPara">
But in the mean time, here are the slides <a href="/2010/09/29/PresentationOnBeanValidationBestPracticesForRealLife#attachment1" target="" class="regularLink">BeanValidationBestPractices-1.0.pdf[1]</a>. I have also put the demo code on a git repository. Simply do
</p>

<pre class="wikiPreformatted">
//retrieve the GIT repository
git clone http://emmanuelbernard.com/various/presentations/beanvalidation-bestpractices/beanvalidation-bestpractices.git bv-bp
cd bv-bp

//checkout the demo when starting
git checkout -b demo-start-branch demo-start-state

//checkout the demo when done
git checkout -b branch-demo-done demo-done-state

//hack
</pre>

<p class="wikiPara">
I've defined two tags:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <tt>demo-start-state</tt> which correspond to the demo when I start working on it on stage</li>
<li class="wikiUnorderedListItem"> <tt>demo-done-state</tt> which correspond to the demo when I am done and leave the stage</li>
</ul>

<p class="wikiPara">
I have left a bunch of TODOs in the start state and described what I do in a <tt>txt</tt> file at the root, you should be able to follow.
</p>

<p class="wikiPara">
Enjoy</p>
</div>
