---
title: "Emmanuel at JavaOne 2010"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "18-09-2010"
tags: [Conference]

relative_url: /2010/09/18/EmmanuelAtJavaOne2010
slug: EmmanuelAtJavaOne2010
lace: http://in.relation.to/17117.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/09/18/EmmanuelAtJavaOne2010
---
<div id="documentDisplay" class="documentDisplay">


<h1 class="wikiHeadline1" id="H-JavaOne2010"><a href="/2010/09/18/EmmanuelAtJavaOne2010#H-JavaOne2010">JavaOne 2010</a></h1>

<p class="wikiPara">
JBoss will be at JavaOne 2010 and so am I.
</p>

<p class="wikiPara">
I will be doing a couple of regular sessions:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Bean Validation: Best Practice for Real Life (Tuesday, September 21, 1:00PM Hilton San Francisco, Continental Parlor 1/2/3)</li>
<li class="wikiUnorderedListItem"> Panel: Java EE 6 Panel: What Do We Do Now? (Wednesday, September 22, 10:00AM Hilton San Francisco, Continental Parlor 1/2/3)</li>
<li class="wikiUnorderedListItem"> Java Persistence API Futures BOF (Wednesday, September 22, 14:15)</li>
</ul>

<p class="wikiPara">
And some of the JBoss mini-session at our booth (#5206). What's new in Hibernate: a JPA 2 perspective on Monday at 11:00AM and Wednesday at 2:00PM.
</p>

<p class="wikiPara">
And of course I won't miss the <a href="http://www.jboss.org/events/javaone/javaone2010party.html" target="" class="regularLink">JBoss party on Tuesday 21st 5:00PM</a> (registration required).
</p>

<p class="wikiPara">
If you want to know about all the JBoss events at Java One 2010, check out <a href="http://www.jboss.org/events/javaone.html" target="" class="regularLink">this page</a>.
</p>

<p class="wikiPara">
See you there.
</p>

<h1 class="wikiHeadline1" id="H-JUDCon"><a href="/2010/09/18/EmmanuelAtJavaOne2010#H-JUDCon">JUDCon</a></h1>

<p class="wikiPara">
And for the JBoss community (especially the European on), don't miss the <a href="http://www.jboss.org/events/JUDCon/JUDCon2010Berlin.html" target="" class="regularLink">JUDCon community gathering Oct 7-8 in Berlin</a>. You can even speak but hurry, the call-for-papers ends this Sunday (19th).</p>
</div>

