---
title: "Ceylon has a new home"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "22-11-2011"
original_tags: [Ceylon,News]
tags: [Ceylon]

relative_url: /2011/11/22/ceylon-has-a-new-home
slug: ceylon-has-a-new-home
lace: http://in.relation.to/22351.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/11/22/ceylon-has-a-new-home
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We have some exciting news on Ceylon, the new JVM based programming language Gavin has been <a href="http://in.relation.to/tag/Ceylon" target="" class="regularLink">discussing on this blog</a>.
We now have a <a href="http://ceylon-lang.org" target="" class="regularLink">website</a>, a <a href="http://ceylon-lang.org/blog" target="" class="regularLink">blog</a> and opened up all our <a href="http://ceylon-lang.org/code" target="" class="regularLink">source code</a>.
Let's dive into some details.
</p>

<h3 class="wikiHeadline3" id="H-ACommunityWebsiteAndABlog"><a href="/2011/11/22/ceylon-has-a-new-home#H-ACommunityWebsiteAndABlog">A community website and a blog</a></h3>

<p class="wikiPara">
We have just launched a <a href="http://ceylon-lang.org" target="" class="regularLink">dedicated website</a> on everything related Ceylon.
Whether you want to 
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> quickly know what Ceylon is about,</li>
<li class="wikiUnorderedListItem"> want to explore it in more details,</li>
<li class="wikiUnorderedListItem"> or even try some live coding,</li>
</ul>

<p class="wikiPara">
this is the right place. It's filled with doc, faqs, how-to etc.
</p>

<p class="wikiPara">
And of course, we have a <a href="http://ceylon-lang.org/blog" target="" class="regularLink">dedicated blog</a> for Ceylon. Make sure
to register to the <a href="http://ceylon-lang.org/blog/blog.atom" target="" class="regularLink">Ceylon feed</a>.
</p>

<h3 class="wikiHeadline3" id="H-SourcesAndIDE"><a href="/2011/11/22/ceylon-has-a-new-home#H-SourcesAndIDE">Sources and IDE</a></h3>

<p class="wikiPara">
The other big news is that we have opened up our source repositories. Everything is on GitHub.
If you want to explore the source or try it out, <a href="http://ceylon-lang.org/code" target="" class="regularLink">this is the place</a>.
</p>

<p class="wikiPara">
Note that we are not satisfied enough to call it a milestone 1 which should come in the next few weeks
(check our <a href="http://ceylon-lang.org/documentation/roadmap" target="" class="regularLink">roadmap</a>). We essentially need to nail down more
bugs and improve the integration between modules.
But that should be good enough for adventurous souls.
</p>

<p class="wikiPara">
To let you play more easily, we have also opened up the Ceylon IDE based on Eclipse. This is really cutting
edge, you have been warned. Now <a href="http://ceylon-lang.org/documentation/ide" target="" class="regularLink">go for it</a> ;)
</p>

<h3 class="wikiHeadline3" id="H-Feedback"><a href="/2011/11/22/ceylon-has-a-new-home#H-Feedback">Feedback</a></h3>

<p class="wikiPara">
Probably the most important reason for releasing the source code and the website is that Ceylon is 
community driven. We want your feedback on design decisions we made or are making.
One place to look for is on our issue tracker, any issue marked <tt>request for feedback</tt> or directly
<a href="https://github.com/ceylon/ceylon-spec/issues?labels=request+for+feedback&amp;sort=created&amp;direction=desc&amp;state=open&amp;page=1" target="" class="regularLink">request them</a>.
</p>

<p class="wikiPara">
Now is a great time to <a href="http://ceylon-lang.org/code" target="" class="regularLink">get involved</a>. And make sure to follow our <a href="http://ceylon-lang.org/blog" target="" class="regularLink">blog</a>.</p>
</div>

