---
title: "Emmanuel's back on the road"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
layout: blog-post
tags: [conference]
slug: EmmanuelsBackOnTheRoad
lace: http://in.relation.to/22033.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/EmmanuelsBackOnTheRoad">Emmanuel's back on the road</a>
                    </h1>
</div>
<p class="wikiPara">
After quite a pleasant time off the road, it looks like break time is over for me. I'm quite happy and terrified at the same time as it allows me to meet and chat with you but also means I set expectations and have less time to deliver on the projects.
</p>

<h3 class="wikiHeadline3" id="H-Topics"><a href="/Bloggers/EmmanuelsBackOnTheRoad#H-Topics">Topics</a></h3>


<p class="wikiPara">
I will cover mainly <a href="http://hibernate.org/subproject/ogm" target="" class="regularLink">Hibernate OGM</a>, a general presentation explaining
</p>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> why NoSQL databases are here, </li>
<li class="wikiUnorderedListItem"> where Hibernate OGM comes, </li>
<li class="wikiUnorderedListItem"> how things are done inside and </li>
<li class="wikiUnorderedListItem"> what is the status of the project.</li>
</ul>


<p class="wikiPara">
I will also discuss what is <a href="http://in.relation.to/tag/Ceylon" target="" class="regularLink">Ceylon</a>, what this new language brings you and what our status is.
</p>


<p class="wikiPara">
And finally, I'll do a couple of appearances on various JSR related panels on everything Java EE 7 and Bean Validation 1.1 in particular.
</p>


<h3 class="wikiHeadline3" id="H-Conferences"><a href="/Bloggers/EmmanuelsBackOnTheRoad#H-Conferences">Conferences</a></h3>

<p class="wikiPara">
The big two are JavaOne and Devoxx (which one is biggest, I'll let you judge ;) )
</p>


<h2 class="wikiHeadline2" id="H-JavaOneOct2ndOct7thSanFranciscoUSA"><a href="/Bloggers/EmmanuelsBackOnTheRoad#H-JavaOneOct2ndOct7thSanFranciscoUSA">JavaOne (Oct 2nd - Oct 7th: San Francisco, USA)</a></h2>


<p class="wikiPara">
 <b>JPA on NoSQL: An Approach with Hibernate OGM</b>, Wednesday, 03:00 PM, Hilton San Francisco - Imperial Ballroom A
</p>


<p class="wikiPara">
 <b>The Road to Java EE 7: Is It All About the Cloud?</b>, Panel, Wednesday, 11:30 AM, Hilton San Francisco - Imperial Ballroom A
</p>


<p class="wikiPara">
 <b>Lightning Talks: JSRs in Progress</b>, No idea when that one is but we will find out :)
</p>


<p class="wikiPara">
There are many other JBoss and Red Hat technologies related talks at JavaOne, <a href="http://www.jboss.org/events/javaone/sessions" target="" class="regularLink">check it out</a>.
</p>


<h2 class="wikiHeadline2" id="H-RivieraDevOct20th21stSophiaAntipolisFrance"><a href="/Bloggers/EmmanuelsBackOnTheRoad#H-RivieraDevOct20th21stSophiaAntipolisFrance">RivieraDev (Oct 20th-21st: Sophia-Antipolis, France)</a></h2>


<p class="wikiPara">
 <b><a href="http://rivieradev.fr/application/talk?id=136" target="" class="regularLink">JPA on NoSQL: An Approach with Hibernate OGM</a></b>, Friday oct 21st, 9:00 - really?!)
</p>


<p class="wikiPara">
 <b><a href="http://rivieradev.fr/application/talk?id=138" target="" class="regularLink">Ceylon</a></b>, Friday 14:00. I am not speaking here but I'll certainly be there and give moral support to Stephane :)
</p>

<h2 class="wikiHeadline2" id="H-YaJUGOct25thLuxembourg"><a href="/Bloggers/EmmanuelsBackOnTheRoad#H-YaJUGOct25thLuxembourg">YaJUG (Oct 25th, Luxembourg)</a></h2>


<b><a href="http://www.yajug.org/" target="" class="regularLink">JPA on NoSQL: An Approach with Hibernate OGM</a></b>


<p class="wikiPara">
With the remaining time, we will also have either a discussion around <b>What's new in Hibernate Search</b> or a <b>Hibernate Q&amp;A panel</b> on anything Hibernate technologies related.
</p>


<h2 class="wikiHeadline2" id="H-JUDConOct31stNov1stLondonUK"><a href="/Bloggers/EmmanuelsBackOnTheRoad#H-JUDConOct31stNov1stLondonUK">JUDCon (Oct 31st - Nov 1st, London, UK)</a></h2>


<p class="wikiPara">
<a href="http://www.jboss.org/events/JUDCon/2011/london.html" target="" class="regularLink">JUDCon</a> is the big JBoss community event. I'll be hosting with my friend Max a <b>live recording of JBoss Community Asylum podcast</b> Oct 31st at 19:00.
</p>


<h2 class="wikiHeadline2" id="H-DevoxxNov14thNov18thAnversBelgium"><a href="/Bloggers/EmmanuelsBackOnTheRoad#H-DevoxxNov14thNov18thAnversBelgium">Devoxx (Nov 14th - Nov 18th, Anvers, Belgium)</a></h2>


<p class="wikiPara">
<a href="http://www.devoxx.com" target="" class="regularLink">Devoxx</a> is the most influential Java conference these days and that's its 10th anniversary. That will be big :)
</p>


<p class="wikiPara">
 <b><a href="http://www.devoxx.com/display/DV11/JPA+on+NoSQL++an+approach+with+Hibernate+OGM" target="" class="regularLink">JPA on NoSQL: An Approach with Hibernate OGM</a></b>, Thursday Nov 17th at 14:00
</p>


<p class="wikiPara">
 <b><a href="http://www.devoxx.com/display/DV11/The+Ceylon+programming+language" target="" class="regularLink">The Ceylon programming language: say more, more clearly</a></b>, Friday Nov 18th at 11:50 (yes this year there is a very good reason to stay till the end :) )
</p>


<h3 class="wikiHeadline3" id="H-PodcastsAllYearLongInternet"><a href="/Bloggers/EmmanuelsBackOnTheRoad#H-PodcastsAllYearLongInternet">Podcasts (all year long, Internet)</a></h3>


<p class="wikiPara">
I also hosts two podcasts
</p>


<p class="wikiPara">
One about JBoss Community technologies <a href="http://asylum.libsyn.com/" target="" class="regularLink">JBoss Cummunity Asylum</a> with Max Andersen. That's in English and yes releases are infrequent but Max is lazy.
</p>


<p class="wikiPara">
And one about Java in general <a href="http://lescastcodeurs.com" target="" class="regularLink">Les Cast Codeurs</a> with Guillaume Laforge, Antonio Goncalves, Vincent Massol and Arnaud Heritier. That's in French.
</p>


<p class="wikiPara">
Now you know where to find me in the next few months, come and say hi.
</p>
</div>
