---
title: "Bean Validation 1.1 has started: join us"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "26-07-2011"
tags: [Bean Validation,Hibernate Validator]

relative_url: /2011/07/26/BeanValidation11HasStartedJoinUs
slug: BeanValidation11HasStartedJoinUs
lace: http://in.relation.to/21343.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/07/26/BeanValidation11HasStartedJoinUs
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
So it's official Bean Validation 1.1 has started. It has been voted yes by the JCP <a href="http://jcp.org/en/jsr/results?id=5227" target="" class="regularLink">expert committee</a> yesterday.
</p>

<p class="wikiPara">
I must admit I'm quite furious about <a href="http://community.jboss.org/blogs/mark.little" target="" class="regularLink">Mark Little</a>, 
the Red Hat representative and my boss, for forgetting to vote on the ballot. But provided he went on vacations 
last Friday and has a lot on his plate, I forgive him. You owe me though :)
</p>

<p class="wikiPara">
More seriously, Red Hat is committed to make Bean Validation 1.1 a success and I will spend the next couple of days 
gathering the expert group members to get started as quickly as possible.
</p>

<p class="wikiPara">
In the mean time and to celebrate, have a look at the official <a href="http://beanvalidation.org" target="" class="regularLink">beanvalidation.org</a> website. 
The idea behind the website are simple:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> execute on the promise to run the spec in an open fashion</li>
<li class="wikiUnorderedListItem"> offer regular updates on the work in progress (see the <a href="http://beanvalidation.org/news/" target="" class="regularLink">news section</a>)</li>
<li class="wikiUnorderedListItem"> a one time shop for everything Bean Validation related</li>
</ul>

<p class="wikiPara">
There are several ways for you to participate in the process. From joining the development mailing list to joining the expert group full blown. Check out the <a href="http://beanvalidation.org/contribute/" target="" class="regularLink">contribution page</a>.</p>
</div>

