---
title: "Hibernate Search 4.0.0 CR1"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "13-10-2011"
tags: [Hibernate,Hibernate Search]

relative_url: /2011/10/13/HibernateSearch400CR1
slug: HibernateSearch400CR1
lace: http://in.relation.to/22151.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/10/13/HibernateSearch400CR1
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We are continuing our quest for Hibernate Search 4.0. 
No breaking news for this release, we are quietly moving to the candidate release phase. 
As Sanne, said the big news is that there are no big news ;)
</p>

<p class="wikiPara">
We have fixed a bunch of issues and expanded our test coverage. Thanks to Davide's work, we now have a nice <a href="http://www.jboss.org/arquillian" target="" class="regularLink">Arquillian</a> 
test harness making sure Hibernate Search runs fine on JBoss AS 7. We also fired up our Windows VMs and added Windows to our Jenkins tests to make sure 
Hibernate Search runs without issues there. Hint: playing with files on Windows is hell.
</p>

<p class="wikiPara">
We also have native support for UUIDs thanks to Gregory Beachy.
</p>

<h2 class="wikiHeadline2" id="H-WhatsInHibernateSearch40"><a href="/2011/10/13/HibernateSearch400CR1#H-WhatsInHibernateSearch40">What's in Hibernate Search 4.0</a></h2>

<p class="wikiPara">
Many things:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> near real time search</li>
<li class="wikiUnorderedListItem"> new per-index backend architecture</li>
<li class="wikiUnorderedListItem"> Hibernate Core 4 support</li>
<li class="wikiUnorderedListItem"> new portable and efficient binary format between nodes</li>
<li class="wikiUnorderedListItem"> Hibernate Core is now an optional dependency</li>
</ul>

<p class="wikiPara">
Read more in 
<a href="http://in.relation.to/Bloggers/HibernateSearch4IsComing" target="" class="regularLink">our</a> 
<a href="http://in.relation.to/Bloggers/HibernateSearch400Alpha2IsOut" target="" class="regularLink">previous</a> 
<a href="http://in.relation.to/Bloggers/HibernateSearch400Beta1" target="" class="regularLink">blog</a> 
<a href="http://in.relation.to/Bloggers/HibernateSearch40Beta2HibernateCoreNoLongerMandatory" target="" class="regularLink">posts</a>.
</p>

<h2 class="wikiHeadline2" id="H-GetTheRelease"><a href="/2011/10/13/HibernateSearch400CR1#H-GetTheRelease">Get the release</a></h2>

<p class="wikiPara">
<a href="http://hibernate.org/subprojects/search/download" target="" class="regularLink">Check out the release</a> and as usual, make sure you read the <a href="http://community.jboss.org/wiki/HibernateSearchMigrationGuide" target="" class="regularLink">Migration guide</a>
when you upgrade from a previous version.</p>
</div>
