---
title: "Hibernate Search 4.0 Beta 2: Hibernate Core no longer mandatory"
author: "Emmanuel Bernard"
creation_date: "29-09-2011"
blogger_name: "Emmanuel"
layout: blog-post
tags: [Hibernate,Hibernate Search]
slug: HibernateSearch40Beta2HibernateCoreNoLongerMandatory
lace: http://in.relation.to/22058.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Continuing our journey towards Hibernate Search 4, we decided to add a Beta2 to the schedule.
</p>

<h2 class="wikiHeadline2" id="H-HibernateCoreIsNoMoreARequiredDependency"><a href="/Bloggers/HibernateSearch40Beta2HibernateCoreNoLongerMandatory#H-HibernateCoreIsNoMoreARequiredDependency">Hibernate Core is no more a required dependency</a></h2>

<p class="wikiPara">
The main feature is the full abstraction of Hibernate Search from Hibernate Core. This is especially good news for 
<a href="https://docs.jboss.org/author/display/ISPN/Querying+Infinispan" target="" class="regularLink">Infinispan Query</a> users who won't have to drag Hibernate Core and its dependencies anymore. 
Once can write an integration between Hibernate Search and another datastore: all the contracts have been fleshed out. 
</p>

<p class="wikiPara">
If we have done our job right, you will have nothing to change in your Maven dependency declaration while migrating to this version. <tt>hibernate-search</tt> is still the main artifact to include, but it is now just a shell depending on the new <tt>hibernate-search-orm</tt> module.
</p>

<p class="wikiPara">
We also have upgraded to Lucene 3.4 which contains performance improvements and important bug fixes.
</p>

<h2 class="wikiHeadline2" id="H-TranslateTheDocumentation"><a href="/Bloggers/HibernateSearch40Beta2HibernateCoreNoLongerMandatory#H-TranslateTheDocumentation">Translate the documentation</a></h2>

<p class="wikiPara">
On a completely different note we moved the Hibernate Search documentation to <a href="https://translate.jboss.org" target="" class="regularLink">Zanata</a> which is a web-based system for translators to translate documentation using a web-browser. So far it was quite hard for translators to contribute. They had to checkout the source code, install the <a href="http://fedoraproject.org/wiki/DocBook" target="" class="regularLink">publican toolchain</a> and run multiple maven commands. With Zanata a translator can just contribute translations without installing anything. All you have to do is to join the JBoss community of translators by following the steps described in the <a href="http://community.jboss.org/docs/DOC-16540?uniqueTitle=false" target="" class="regularLink">Zanata Getting Started Guide</a> and start translating. Hopefully this will encourage some more people to contribute. It never has been easier :-)
</p>

<p class="wikiPara">
And of course, Hibernate Search 4 comes with new features like near real time search, 
new per-index backend architecture, Hibernate Core 4 support, new portable and efficient binary format between nodes. 
You can read more in our 
<a href="http://in.relation.to/Bloggers/HibernateSearch4IsComing" target="" class="regularLink">previous</a> 
<a href="http://in.relation.to/Bloggers/HibernateSearch400Alpha2IsOut" target="" class="regularLink">blog</a> 
<a href="http://in.relation.to/Bloggers/HibernateSearch400Beta1" target="" class="regularLink">posts</a>.
</p>

<h2 class="wikiHeadline2" id="H-GetTheRelease"><a href="/Bloggers/HibernateSearch40Beta2HibernateCoreNoLongerMandatory#H-GetTheRelease">Get the release</a></h2>

<p class="wikiPara">
<a href="http://hibernate.org/subprojects/search/download" target="" class="regularLink">Check out the release</a> and as usual, make sure you read the <a href="http://community.jboss.org/wiki/HibernateSearchMigrationGuide" target="" class="regularLink">Migration guide</a>
when you upgrade from a previous version.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'HibernateSearch40Beta2HibernateCoreNoLongerMandatory';
    var disqus_title = 'Hibernate Search 4.0 Beta 2: Hibernate Core no longer mandatory';
    var disqus_url = 'http://in.relation.to/22058.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
