---
title: "Hibernate OGM and Red Hat at the OpenWorldForum and OSDC"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "26-08-2011"
original_tags: [Hibernate OGM,conference]
tags: [Event,Hibernate OGM]

relative_url: /2011/08/26/hibernate-ogm-and-red-hat-at-the-open-world-forum-and-osdc
slug: hibernate-ogm-and-red-hat-at-the-open-world-forum-and-osdc
lace: http://in.relation.to/21762.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/08/26/hibernate-ogm-and-red-hat-at-the-open-world-forum-and-osdc
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
This september in Paris, we are lucky to host both the <a href="http://www.openworldforum.org/" target="" class="regularLink">OpenWorldForum</a> and <a href="http://osdc.fr/" target="" class="regularLink">Open Source Developer Conference</a>. And they had the common sense to host them at the same time in the same place. It's September 22th-24th in Paris. I believe it's free but requires registration.
</p>

<p class="wikiPara">
I will personally be there and put to work:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> I will be presenting Hibernate OGM on Friday afternoon at OSDC</li>
<li class="wikiUnorderedListItem"> I will be part of a panel on Code and Cloud at the OpenWorldForum</li>
<li class="wikiUnorderedListItem"> Vittorio Amos Ziparo a co-member of the <a href="http://cloudtm.eu" target="" class="regularLink">Cloud-TM</a> initiative will be talking about how he uses <a href="http://infinispan.org" target="" class="regularLink">Infinispan</a> to store data for a MMOG</li>
</ul>

<p class="wikiPara">
There are other Red Hat folks put to work:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Jim Meyering : ‎Goodbye World! The perils of relying on output streams in C</li>
<li class="wikiUnorderedListItem"> Christophe Fergeau : ‎SPICE, affichage distant de machines virtuelles</li>
</ul>

<p class="wikiPara">
If you are around Paris at that time and do / use Open Source software, you know what to do.</p>
</div>

