---
title: "Vote for Pedro"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "03-03-2011"
tags: [Bean Validation,Hibernate Validator]

absolute_url: http://in.relation.to/2011/03/03/VoteForPedro
lace: http://in.relation.to/18580.lace
slug: VoteForPedro

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Well not really ;)
</p>

<p class="wikiPara">
We have talked about Gunnar and Kevin that have and are still doing an awesome job on Hibernate Validator, especially for the last release and the current one in development. Please consider voting for them for the JBoss.org recognition awards.
</p>

<p class="wikiPara">
Gunnar Morling is nominated in the:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> New features category <a href="http://community.jboss.org/polls/1066" target="" class="regularLink">vote here</a>
</li>
</ul>

<p class="wikiPara">
The new method validation feature is all his for example.
</p>

<p class="wikiPara">
And Kevin Pollet is nominated in the:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Bug fixes category <a href="http://community.jboss.org/polls/1067" target="" class="regularLink">vote here</a>
</li>
</ul>

<p class="wikiPara">
He fixed many bugs but also added some nice cool features like Joda-time support.</p>
</div>
