---
title: "What can you expect at Devoxx 2012?"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "07-11-2012"
tags: [Ceylon,Event,Hibernate]

relative_url: /2012/11/07/what-can-you-expect-at-devoxx-2012
slug: what-can-you-expect-at-devoxx-2012
lace: http://in.relation.to/23647.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/11/07/what-can-you-expect-at-devoxx-2012
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I will be at <a href="http://devoxx.com" target="" class="regularLink">Devoxx</a> this year again - this starts to 
look like a pilgrimage ;). But I am particularly excited as I have given it
a participating twist: less <tt>@OneToMany</tt> talks more <tt>@Code</tt> and <tt>@ManyToMany</tt>
interactions.  What can you expect from Devoxx?
</p>

<h2 class="wikiHeadline2" id="H-CeylonLabs"><a href="/2012/11/07/what-can-you-expect-at-devoxx-2012#H-CeylonLabs">Ceylon labs</a></h2>

<p class="wikiPara">
<i class="wikiEmphasis">Monday afternoon</i> <a href="http://www.devoxx.com/display/DV12/Lab+Day+1" target="" class="regularLink">13:30-16:30</a>,
I will co-host a Ceylon lab with my fellow Ceylon gang
members <a href="http://ceylon-lang.org/blog/authors/stephane-epardaud/" target="" class="regularLink">Stéphane Épardaud</a>
and <a href="http://ceylon-lang.org/blog/authors/gavin-king/" target="" class="regularLink">Gavin King</a>.
</p>

<p class="wikiPara">
This is your chance to get your hands on Ceylon. Come with your laptop, we will
start with the installation and walk you through your first few Ceylon programs.
</p>

<h2 class="wikiHeadline2" id="H-Hackergarten"><a href="/2012/11/07/what-can-you-expect-at-devoxx-2012#H-Hackergarten">Hackergarten</a></h2>

<p class="wikiPara">
<i class="wikiEmphasis">Tuesday all day</i>, I will be there for the <a href="http://lanyrd.com/2012/devoxx/syzdq/" target="" class="regularLink">Hackergarten</a>.
Want to contribute to Ceylon, Hibernate Search, Hibernate OGM, Bean Validation?
Bring your laptop and we will hack together.
Secret tip: the hackergarten is open to all, not only to Devoxx attendees.
</p>

<h2 class="wikiHeadline2" id="H-BeanValidationUpdate"><a href="/2012/11/07/what-can-you-expect-at-devoxx-2012#H-BeanValidationUpdate">Bean Validation update</a></h2>

<p class="wikiPara">
I will also speak about Bean Validation 1.1 on <i class="wikiEmphasis"><a href="http://schedule.devoxx.com/application/presentation/1994" target="" class="regularLink">Thursday morning</a></i>
to give you an update now hat we have been working on and what you could expect soon
in this area.
</p>

<h2 class="wikiHeadline2" id="H-LesCastCodeurs"><a href="/2012/11/07/what-can-you-expect-at-devoxx-2012#H-LesCastCodeurs">Les Cast Codeurs</a></h2>

<p class="wikiPara">
Finally, if I'm not dead by then, I will co-host an episode of Les Cast Codeurs 
podcast <i class="wikiEmphasis"><a href="https://schedule.devoxx.com/application/Fpresentation/2097" target="" class="regularLink">Friday morning</a></i> 
with my buddies Antonio Goncalves, Vicent Massol and Guillaume Laforge. 
It's in French and it's awesome.
</p>

<h2 class="wikiHeadline2" id="H-BigJBossPresence"><a href="/2012/11/07/what-can-you-expect-at-devoxx-2012#H-BigJBossPresence">Big JBoss presence</a></h2>

<p class="wikiPara">
I hear that this year JBoss is coming en masse. If you are a JBoss technology
consumer or contributor, come and talk to us. If you are not a JBoss
technology consumer or contributor, what are you waiting for, come and talk
to us ;)</p>
</div>

