---
title: "Bean Validation 1.1 update and first draft"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "14-03-2012"
tags: [Bean Validation]

relative_url: /2012/03/14/BeanValidation11UpdateAndFirstDraft
slug: BeanValidation11UpdateAndFirstDraft
lace: http://in.relation.to/23008.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/03/14/BeanValidation11UpdateAndFirstDraft
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I have been quite quiet of late on what I have been busy with. One thing has been working on is <a href="http://beanvalidation.org?utm_source=inrelationto&amp;utm_medium=web&amp;utm_content=home&amp;utm_campaign=1_1_edr1" target="" class="regularLink">Bean Validation 1.1</a>, 
the version targeted for Java EE 7.
</p>

<p class="wikiPara">
The Bean validation expert group has just released the first draft of what will become Bean Validation 1.1, 
<a href="http://beanvalidation.org/news/2012/03/13/release-1-1-edr1/?utm_source=inrelationto&amp;utm_medium=web&amp;utm_content=blogentry&amp;utm_campaign=1_1_edr1" target="" class="regularLink">go grab it</a> 
and don't forget to give us your feedback!
</p>

<p class="wikiPara">
If you are interested in news about Bean Validation in general, I highly encourage you to subscribe to the 
<a href="http://beanvalidation.org/news/news.atom" target="" class="regularLink">news feed</a> of beanvalidation.org.</p>
</div>
