---
title: "English is dead, Chinese is not there yet, here comes the French revolution"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
layout: blog-post
tags: []
slug: EnglishIsDeadChineseIsNotThereYetHereComesTheFrenchRevolution
lace: http://in.relation.to/23158.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/EnglishIsDeadChineseIsNotThereYetHereComesTheFrenchRevolution">English is dead, Chinese is not there yet, here comes the French revolution</a>
                    </h1>
</div>
<p class="wikiPara">
One of the good thing about open companies is that your manager knows what you do through your blog
and commit history. Which made me think that I have not explained what I have been busy with in a long
time :D
</p>

<p class="wikiPara">
In the past few weeks a bunch of rallies have happened all over France. No, it's not because of the 
elections. It's because developers see the benefit of dev conferences.
</p>

<h2 class="wikiHeadline2" id="H-DevoxxFrance"><a href="/Bloggers/EnglishIsDeadChineseIsNotThereYetHereComesTheFrenchRevolution#H-DevoxxFrance">Devoxx France</a></h2>

<p class="wikiPara">
<a href="http://devoxx.fr" target="" class="regularLink">Devoxx France</a> is self defined as 25% English, 75% French and no bullshit. I was lucky enough to talk about
a few of the subjects that keep me busy these days:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> an introduction to <a href="http://ceylon-lang.org" target="" class="regularLink">Ceylon</a>
</li>
<li class="wikiUnorderedListItem"> a discussion on <a href="http://ogm.hibernate.org" target="" class="regularLink">Hibernate OGM</a> and where we are at</li>
<li class="wikiUnorderedListItem"> and a live session of <a href="http://lescastcodeurs.com" target="" class="regularLink">Les Cast Codeurs podcast</a>
</li>
</ul>

<p class="wikiPara">
For a premiere, it was damn well executed: 1200 Java enthusiasts at the center of Paris.
Congratulation to the team. Well except for the choice of carpet, what have you been smoking? :)
</p>

<h2 class="wikiHeadline2" id="H-MixIT"><a href="/Bloggers/EnglishIsDeadChineseIsNotThereYetHereComesTheFrenchRevolution#H-MixIT">Mix-IT</a></h2>

<p class="wikiPara">
I also went to Lyon to the <a href="http://www.mix-it.fr/" target="" class="regularLink">Mix-IT</a> conference. What was interesting here was
the mix of Java and Agile content. I did a new talk on <a href="http://search.hibernate.org" target="" class="regularLink">Hibernate Search</a>, 
spending a lot of time in demo and live coding mode
building a search engine and in particular adding faceting.
</p>

<h2 class="wikiHeadline2" id="H-InterviewOnOTN"><a href="/Bloggers/EnglishIsDeadChineseIsNotThereYetHereComesTheFrenchRevolution#H-InterviewOnOTN">Interview on OTN</a></h2>

<p class="wikiPara">
I also got interviewed at Devoxx France for the Oracle Technology Network. I brushed over JPA 2.1, 
Bean Validation 1.1, JSR openness and JPA for NoSQL. It's in English and it's around 10 mins.
<a href="http://www.parleys.com/#st=5&amp;id=3166&amp;sl=0" target="" class="regularLink">Check it out</a>.
</p>

<h2 class="wikiHeadline2" id="H-MoreFrenchConferences"><a href="/Bloggers/EnglishIsDeadChineseIsNotThereYetHereComesTheFrenchRevolution#H-MoreFrenchConferences">More French conferences</a></h2>

<p class="wikiPara">
If you are in France, you must go to one of the many conferences organized around you. They grow like
mushrooms. Besides Devoxx France and Mix-IT, here are a few more you will be interested in:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.breizhcamp.org/" target="" class="regularLink">Breizhcamp</a> in Breizhlandy near Rennes</li>
<li class="wikiUnorderedListItem"> <a href="http://www.jugsummercamp.org/" target="" class="regularLink">JUG Summer Camp</a> at La Rochelle</li>
<li class="wikiUnorderedListItem"> <a href="http://rivieradev.fr/" target="" class="regularLink">RivieraDev</a> at Sophia-Antipolis</li>
</ul>

<h2 class="wikiHeadline2" id="H-AreYouASalesPersonAlwaysOnTheRoad"><a href="/Bloggers/EnglishIsDeadChineseIsNotThereYetHereComesTheFrenchRevolution#H-AreYouASalesPersonAlwaysOnTheRoad">Are you a sales person? Always on the road?</a></h2>

<p class="wikiPara">
No, I try and work in between conferences but I must admit that has been tough recently.
I forced myself to slow down and get back to code. Many good things are coming up in Hibernate OGM
and Hibernate Search. Stay tuned.</p>
</div>
