---
title: "Standardizing JPA for NoSQL: are we there yet? "
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "28-06-2012"
tags: [Hibernate OGM]

relative_url: /2012/06/28/standardizing-jpa-for-no-sql-are-we-there-yet
slug: standardizing-jpa-for-no-sql-are-we-there-yet
lace: http://in.relation.to/23303.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/06/28/standardizing-jpa-for-no-sql-are-we-there-yet
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Every now and then, I am asked if a JPA for NoSQL JSR should be started. Let me share my opinion 
on the subject.
</p>

<blockquote class="wikiBlockquote">
In short, probably at some point but certainly not today.
</blockquote>


<p class="wikiPara">
I do think there is something to offering an Object X Mapper for NoSQL engines
and <a href="http://ogm.hibernate.org" target="" class="regularLink">Hibernate OGM</a> is proof of my belief but jumping on the 
standardization wagon is a whole different thing.
</p>

<p class="wikiPara">
Trying to standardize something not mature enough or without practical experience
on the subject very often go wrong and for good reasons. Cemeteries are filled with
dead cold standards that hurt developers. I am a strong believer in standards and
Mark our CTO too. But look at what we did
for JPA and Bean Validation: take solid and useful techs and standardize them to
improve integration with the rest of the ecosystem. 
That's the same model we use for the data grid JSR.
</p>

<p class="wikiPara">
In Hibernate OGM, we are barely exploring how to properly map data and discovering 
interesting possibilities such a layer offers. Now would be a bad time to try
and set in store rules. Heck, we might even arrive to the conclusion
that such tool turns out not being useful after all.
</p>

<p class="wikiPara">
I am of course open to discuss and exchange on the subject and more than happy to change 
my mind :) You know where I stand, what's your position on the subject?</p>
</div>

