---
title: "Hibernate Search 4.1.0.Final - conditional indexing and more"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "04-04-2012"
original_tags: [Hibernate,Hibernate Search]
tags: [Hibernate Search]

relative_url: /2012/04/04/hibernate-search-410-final-conditional-indexing-and-more
slug: hibernate-search-410-final-conditional-indexing-and-more
lace: http://in.relation.to/23067.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/04/04/hibernate-search-410-final-conditional-indexing-and-more
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate Search is a full-text search engine for your persistent domain model.
</p>

<p class="wikiPara">
The Hibernate Search team is really proud to announce version 4.1. It has been a long road, but the final result includes many improvements and new features. As usual, a big thanks to our community and our contributors. What's in there for you?
</p>

<h2 class="wikiHeadline2" id="H-ConditionalIndexing"><a href="/2012/04/04/hibernate-search-410-final-conditional-indexing-and-more#H-ConditionalIndexing">Conditional indexing</a></h2>

<p class="wikiPara">
We have added interceptors that let you control whether or not a given entity instance is indexed based on its state. This is very
useful to implement things like:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> soft deletes</li>
<li class="wikiUnorderedListItem"> indexing an entity only if in a given state, for example only index PUBLISHED blogs</li>
</ul>

<p class="wikiPara">
Not only does it make your index smaller and thus faster but Hibernate Search is not triggered unless indexing is happening.
<a href="http://in.relation.to/2012/02/29/hibernate-search-41-cr-1-soft-deletes" target="" class="regularLink">Read more</a>.
</p>

<h2 class="wikiHeadline2" id="H-FasterLighterIndexing"><a href="/2012/04/04/hibernate-search-410-final-conditional-indexing-and-more#H-FasterLighterIndexing">Faster, lighter indexing</a></h2>

<p class="wikiPara">
We have improved indexing of associations to embed only required information (we were a bit generous before).
</p>

<p class="wikiPara">
In the same vein, you can now define which specific path of an association you want indexed (for further querying). Instead of indexing all 
of the associated object(s), Hibernate Search will only index the specific path(s). This makes for much faster indexing and smaller indexes.
<a href="http://in.relation.to/2012/02/15/new-paths-to-indexing-do-we-know-better" target="" class="regularLink">Read more</a>.
</p>

<h2 class="wikiHeadline2" id="H-Clustering"><a href="/2012/04/04/hibernate-search-410-final-conditional-indexing-and-more#H-Clustering">Clustering</a></h2>

<p class="wikiPara">
We have improved the JGroups backend to use a single channel (roughly a single connection between nodes). This makes the bootstrap 
faster but more importantly simplifies greatly the configuration. Simpler is better as far as we are concerned :) 
<a href="http://docs.jboss.org/hibernate/search/4.1/reference/en-US/html_single/#jgroups-backend" target="" class="regularLink">Read more</a>.
</p>

<h2 class="wikiHeadline2" id="H-Compatibility"><a href="/2012/04/04/hibernate-search-410-final-conditional-indexing-and-more#H-Compatibility">Compatibility</a></h2>

<p class="wikiPara">
Hibernate Search is compatible with Hibernate ORM 4.1 and has been tested on JBoss AS 7.1. We have also upgraded the following
main libraries: Lucene to 3.5, JGroups to 3 and Infinispan to 5.1.
</p>

<p class="wikiPara">
We have improved support for modular environments - thanks for the constant nagging of Ales. We still have some work in this area so stay tuned.
</p>

<h2 class="wikiHeadline2" id="H-GetTheRelease"><a href="/2012/04/04/hibernate-search-410-final-conditional-indexing-and-more#H-GetTheRelease">Get the release</a></h2>

<p class="wikiPara">
Download the release from <a href="http://sourceforge.net/projects/hibernate/files/hibernate-search/4.1.0.Final/" target="" class="regularLink">Sourceforge</a> or via <a href="http://www.hibernate.org/subprojects/search/download" target="" class="regularLink">Maven artifacts</a>. And go read the <a href="http://www.hibernate.org/subprojects/search/docs" target="" class="regularLink">documentation</a>.
</p>

<p class="wikiPara">
If you are migrating from an earlier version, make sure to check <a href="https://community.jboss.org/wiki/HibernateSearchMigrationGuide" target="" class="regularLink">our migration guide</a>.
</p>

<p class="wikiPara">
Enjoy</p>
</div>

