---
title: "Bean Validation 1.1 CR3 - Final Approval Ballot"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "21-03-2013"
tags: [Bean Validation,Hibernate Validator,News]

relative_url: /2013/03/21/bean-validation-11-cr-3-final-approval-ballot
slug: bean-validation-11-cr-3-final-approval-ballot
lace: http://in.relation.to/24018.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/03/21/bean-validation-11-cr-3-final-approval-ballot
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Bean Validation, Hibernate Validator (its Reference Implementation) and the Test Compatibility Kit have been handed over to the JCP for what is called the Final Approval Ballot. That's when the expert committee votes for the go / no-go of the specification going final as it is.
</p>

<p class="wikiPara">
We have found a few glitches when working on both the RI and the TCK in the last month but everything is in order now. The biggest visible change for you is that we renamed <tt>@ValidateExecutable</tt> into <tt>@ValidateOnExecution</tt> and we added a way to disable method validation entirely via the XML deployment descriptor.
</p>

<p class="wikiPara">
We worked hard to make a stellar TCK. Let's speak numbers: the specification has <b>549 assertions</b> including <b>492 testable</b>. We cover <b>98,8%</b> of them with <b>1500 tests</b>. Good luck to all future Bean Validation 1.1 implementors :)
</p>

<p class="wikiPara">
Everything is already available for you to use:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://beanvalidation.org/1.1/spec/1.1.0.cr3/" target="" class="regularLink">the specification</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.hibernate.org/subprojects/validator/download" target="" class="regularLink">Hibernate Validator (the RI)</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.hibernate.org/subprojects/validator/download" target="" class="regularLink">the TCK</a>
</li>
</ul>

<p class="wikiPara">
Enjoy!
</p>

<p class="wikiPara">
PS: If you want regular info on Bean Validation, you should go to <a href="http://beanvalidation.org/news/" target="" class="regularLink">the Bean Validation website</a> and enlist to the RSS.</p>
</div>

