---
title: "A bit of Hibernate at JUDCon and Red Hat Summit"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "28-05-2013"
tags: [Ceylon,Hibernate,Infinispan,conference,event]

absolute_url: http://in.relation.to/2013/05/28/ABitOfHibernateAtJUDConAndRedHatSummit
lace: http://in.relation.to/24243.lace
slug: ABitOfHibernateAtJUDConAndRedHatSummit

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
If you travel in the JBoss universe you should be aware that <a href="http://www.redhat.com/summit/" target="" class="regularLink">Red Hat Summit</a> and
<a href="http://www.jboss.org/events/JUDCon/2013/unitedstates/" target="" class="regularLink">JUDCon</a> are taking place
in Boston between June 10th and June 14th. If you want to meet the persons behind
the code, that's a pretty good deal.
</p>

<p class="wikiPara">
Sanne, Emmanuel (that's me), <a href="http://ceylon-lang.org/blog/authors/gavin-king/" target="" class="regularLink">Gavin</a> and <a href="http://ceylon-lang.org/blog/authors/stephane-epardaud/" target="" class="regularLink">Stef</a>
are going to give various talks on various Hibernate projects and on Ceylon.
</p>

<h3 class="wikiHeadline3" id="H-CeylonWorkshop"><a href="/Bloggers/ABitOfHibernateAtJUDConAndRedHatSummit#H-CeylonWorkshop">Ceylon workshop</a></h3>

<p class="wikiPara">
Monday June 10th at JUDCon, Stef,
Gavin
and I are doing a full day workshop on Ceylon. Come with your laptop and code
with us. <a href="http://www.jboss.org/events/JUDCon/2013/unitedstates/agenda/jbossworkshops.html" target="" class="regularLink">More info</a>.
</p>

<h3 class="wikiHeadline3" id="H-HibernateSearchLiveCoding"><a href="/Bloggers/ABitOfHibernateAtJUDConAndRedHatSummit#H-HibernateSearchLiveCoding">Hibernate Search live coding</a></h3>

<p class="wikiPara">
Tuesday June 11th at JUDCon I will be adding full-text search, faceting and
geolocation queries to an application live. I am working hard on this code and
not at all on my slides, this should be quite interesting. It is based of the
famous <a href="http://www.jboss.org/jdf/examples/ticket-monster/tutorial/WhatIsTicketMonster/" target="" class="regularLink">TicketMonster app</a>.
<a href="http://www.jboss.org/events/JUDCon/2013/unitedstates/agenda/day3track1.html" target="" class="regularLink">More info</a>.
</p>

<h3 class="wikiHeadline3" id="H-HibernateAndInfinispanJBossDataGrid"><a href="/Bloggers/ABitOfHibernateAtJUDConAndRedHatSummit#H-HibernateAndInfinispanJBossDataGrid">Hibernate and Infinispan / JBoss Data Grid</a></h3>

<p class="wikiPara">
At Red Hat Summit Thursday June 13th, Sanne will talk about the use cases that really
benefit from mixing Infinispan / JBoss Data Grid with the Hibernate suite of
projects (Hibernate ORM, Hibernate Search and Hibernate OGM). You will see the
big work we did to make 1+1=3 with these projects. <a href="http://www.redhat.com/summit/sessions/index.html#445" target="" class="regularLink">More info</a>.
</p>

<h3 class="wikiHeadline3" id="H-HibernateStateOfTheUnion"><a href="/Bloggers/ABitOfHibernateAtJUDConAndRedHatSummit#H-HibernateStateOfTheUnion">Hibernate State of the Union</a></h3>

<p class="wikiPara">
At Red Hat Summit Wednesday June 12th, I will be giving an overview of what's
new in the Hibernate sphere (ORM, Search, OGM, Envers, Validator). A good one to
keep your knowledge fresh or if you believe that Hibernate is a JPA compliant
ORM and that's it :) <a href="http://www.redhat.com/summit/sessions/index.html#330" target="" class="regularLink">More info</a>.
</p>


<p class="wikiPara">
Anyways, feel free to ping us if you are there, we accept chats as long as there
is beer, whisky or any kind of good technical content :)
</p>
</div>
