---
title: "Hibernate has a new website"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "05-12-2013"
tags: [Hibernate,News]

relative_url: /2013/12/05/HibernateHasANewWebsite
slug: HibernateHasANewWebsite
lace: http://in.relation.to/24623.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/12/05/HibernateHasANewWebsite
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="http://hibernate.org" target="" class="regularLink">hibernate.org</a> has been completely revamped.
</p>

<p class="wikiPara">
The entire team has been working on it for a long time. I am personally
very happy to see this puppy out.
</p>

<p class="wikiPara">
Our goals were:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> to help newcomers understand what each Hibernate project is about and why it matters</li>
<li class="wikiUnorderedListItem"> to help regular / advanced users to find what they are looking for quickly</li>
<li class="wikiUnorderedListItem"> to give higher visibility to what mattered most</li>
<li class="wikiUnorderedListItem"> to clarify the fact that Hibernate is an umbrella of (awesome) projects</li>
</ul>

<p class="wikiPara">
The infrastructure is also much easier and flexible (<i class="wikiEmphasis">you</i> can even contribute
pull-requests to fix typos or improve the site). You will see additional
improvements over the coming months. Especially around better integrated
documentation.
</p>

<p class="wikiPara">
Let us know what you think and of any glitch you might see.
</p>

<p class="wikiPara">
Now on to <a href="http://hibernate.org" target="" class="regularLink">hibernate.org</a> and enjoy.</p>
</div>
