---
title: "Hibernate OGM: roadmap to first final"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "12-12-2013"
tags: []

relative_url: /2013/12/12/hibernate-ogm-roadmap-to-first-final
slug: hibernate-ogm-roadmap-to-first-final
lace: http://in.relation.to/24644.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/12/12/hibernate-ogm-roadmap-to-first-final
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
One of the benefit of rewriting our <a href="http://hibernate.org" target="" class="regularLink">Hibernate website</a>
is that we made our roadmaps more prominent.
And in case of Hibernate OGM, we had to write it :)
</p>

<p class="wikiPara">
Hibernate OGM, in a nutshell, is JPA for NoSQL backends (<a href="http://hibernate.org/ogm/" target="" class="regularLink">more here</a>).
</p>

<p class="wikiPara">
Gunnar and Davide have made significant forays into the feature set we wanted for our first stable version.
This has made writing the roadmap much easier.
You can get all the (up to date) details on <a href="http://hibernate.org/ogm/roadmap/" target="" class="regularLink">Hibernate OGM's roadmap page</a>.
Here I will sum up what is between us and our first final version.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Option system</i>: offer ability to define per property, per association, per entity or global options.
Offered via annotations and via a programmatic API.
This system will enable declarative denormalization, specific backend optimization settings and so on.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">CouchDB support</i>: offer CRUD support for CouchDB
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Performance check</i>: we keep a eye on them but a dedicated round of optimization will happen.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Better navigation with Neo4J</i>: our initial mapping works but we know we can access associations in a faster way.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Batch changes</i>: use the backend batching capability if it exists.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">query support for known backends</i>: add our current query support for Neo4J and CouchDB as much as possible.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">cache query plans</i>: it's all in the title :) Hibernate ORM already does that, we need to catch up.
</p>

<p class="wikiPara">
I'm sure we will have to chop off a few additional tasks here and there
but our goal is to stay focused on these as much as we can.</p>
</div>

