---
title: "Hibernate Search 4.2 final is out: spatial query and more"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "16-01-2013"
original_tags: [Hibernate,Hibernate Search,News]
tags: [Hibernate Search]

relative_url: /2013/01/16/hibernate-search-42-final-is-out-spatial-query-and-more
slug: hibernate-search-42-final-is-out-spatial-query-and-more
lace: http://in.relation.to/23902.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/01/16/hibernate-search-42-final-is-out-spatial-query-and-more
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="https://sourceforge.net/projects/hibernate/files/hibernate-search/4.2.0.Final/" target="" class="regularLink">Hibernate Search 4.2.0.Final</a>
is ready for download;
grab the distribution from
<a href="https://sourceforge.net/projects/hibernate/files/hibernate-search/4.2.0.Final/" target="" class="regularLink">Sourceforge</a>
or use the <a href="http://www.hibernate.org/subprojects/search/download.html" target="" class="regularLink">Maven artifacts</a>.
</p>

<h2 class="wikiHeadline2" id="H-ReleaseHighlights"><a href="/2013/01/16/hibernate-search-42-final-is-out-spatial-query-and-more#H-ReleaseHighlights">Release Highlights</a></h2>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Hibernate Search now supports Spatial queries: search in a geographic area, sort by distance, and all that good jazz. Check <a href="http://docs.jboss.org/hibernate/search/4.2/reference/en-US/html_single/#spatial" target="" class="regularLink">the documentation</a>: we just reorganized to make it clearer and more action focused.</li>
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">Apache Lucene 3.6</i>: this version of Hibernate Search is compatible with any 3.6 version of Lucene; the suggested version is <i class="wikiEmphasis">3.6.2</i>.</li>
<li class="wikiUnorderedListItem"> Indexing files like MP3, Word documents etc via our integration with <i class="wikiEmphasis">Apache Tika</i> for easy extraction and indexing of (meta)data from a large collection of file types.</li>
<li class="wikiUnorderedListItem"> Simplified support for JBoss AS 7: we now release a set of tested modules for the <i class="wikiEmphasis">JBoss Application Server 7</i> to simplify your integration.</li>
<li class="wikiUnorderedListItem"> Performance improvements for the <i class="wikiEmphasis">Near Real Time</i> support.</li>
<li class="wikiUnorderedListItem"> General improvements: many minor fixes and some important ones for the MassIndexer functionality.</li>
<li class="wikiUnorderedListItem"> Compatibility with the latest <i class="wikiEmphasis">Hibernate ORM 4.1.9.Final</i>.</li>
</ul>

<h2 class="wikiHeadline2" id="H-Upgrading"><a href="/2013/01/16/hibernate-search-42-final-is-out-spatial-query-and-more#H-Upgrading">Upgrading</a></h2>

<p class="wikiPara">
We took care to make it easy to upgrade from the previous stable
version; in case of trouble make sure to check the
<a href="https://community.jboss.org/wiki/HibernateSearchMigrationGuide" target="" class="regularLink">Migration Guide</a>,
as we use it to keep track
of any change which could have an impact on backwards compatibility.
As always when changing versions of Lucene it is recommended to rebuild
the indexes.
</p>

<h2 class="wikiHeadline2" id="H-GetInTouch"><a href="/2013/01/16/hibernate-search-42-final-is-out-spatial-query-and-more#H-GetInTouch">Get in touch</a></h2>

<p class="wikiPara">
The easiest way to get in touch with us and other Hibernate Search
users is the <a href="https://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">forums</a>,
this is where we
provide volunteer-based help (which includes you as well if you
can), or if you are a veteran and know you have found a problem you
can open a
<a href="https://hibernate.onjira.com/browse/HSEARCH" target="" class="regularLink">JIRA</a> issue directly.
Patches are welcome in any form, but the easiest way is to provide
a pull request from
<a href="https://github.com/hibernate/hibernate-search" target="" class="regularLink">GitHub</a>.
</p>

<p class="wikiPara">
Little known fact: you can get support for Hibernate Search when you
use <a href="http://www.redhat.com/products/jbossenterprisemiddleware/application-platform/" target="" class="regularLink">JBoss Enterprise Application Platform</a>
and <a href="http://www.redhat.com/products/jbossenterprisemiddleware/web-framework-kit/" target="" class="regularLink">JBoss Web Framework Kit</a>
from Red Hat.
</p>

<h2 class="wikiHeadline2" id="H-WhatsNext"><a href="/2013/01/16/hibernate-search-42-final-is-out-spatial-query-and-more#H-WhatsNext">What's next?</a></h2>

<p class="wikiPara">
We would like to hear your opinion on what you want next in Hibernate Search.
Please share your stories and use cases on the
<a href="https://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">forums</a> to help us
shape the future.
</p>

<p class="wikiPara">
Sanne's idea is to work more on the Infinispan integration to cluster your indexes more easily and then upgrade to <i class="wikiEmphasis">Apache Lucene 4.x</i>.
</p>

<h3 class="wikiHeadline3" id="H-Thanks"><a href="/2013/01/16/hibernate-search-42-final-is-out-spatial-query-and-more#H-Thanks">Thanks</a></h3>

<p class="wikiPara">
... to all contributors and everyone else for the motivating suggestions!
</p>

<p class="wikiPara">
Many special thanks to Guillaume Smet and his coworkers for their tests and bug reports
and to <a href="https://twitter.com/NHelleringer" target="" class="regularLink">Nicolas Helleringer</a> for his
work on the spatial feature. We have iterated to much on this one it's
already <i class="wikiEmphasis">at least</i> in version 2 :D</p>
</div>

