---
title: "Hibernate OGM 4.1 Beta2: WildFly and JBoss EAP modules"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "17-04-2014"
tags: [Hibernate,Hibernate OGM,News]

relative_url: /2014/04/17/HibernateOGM41Beta2WildFlyAndJBossEAPModules
slug: HibernateOGM41Beta2WildFlyAndJBossEAPModules
lace: http://in.relation.to/25331.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2014/04/17/HibernateOGM41Beta2WildFlyAndJBossEAPModules
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Time for a new release of Hibernate OGM.
</p>

<p class="wikiPara">
On the new feature side, we have added integration modules for both:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://www.redhat.com/products/jbossenterprisemiddleware/application-platform/" target="" class="regularLink">JBoss EAP</a>.</li>
<li class="wikiUnorderedListItem"> and <a href="http://wildfly.org" target="" class="regularLink">WildFly</a> (ex-JBoss AS)</li>
</ul>

<p class="wikiPara">
But the bulk of the work has been around polishing and fixing issues based on your feedback.
In a nutshell, we polished MongoDB's support (security, native queries) and Neo4J.
We fixed a few bugs around collections and query support.
We kept improving the option framework which we use to define backend specific behaviors.
</p>

<h2 class="wikiHeadline2" id="H-HowToTryIt"><a href="/2014/04/17/HibernateOGM41Beta2WildFlyAndJBossEAPModules#H-HowToTryIt">How to try it</a></h2>

<p class="wikiPara">
You can take a <a href="http://www.hibernate.org/ogm/documentation/" target="" class="regularLink">look at the documentation</a>
or check how you can <a href="http://hibernate.org/ogm/downloads/" target="" class="regularLink">download Hibernate OGM 4.1.0.Beta2</a>.
</p>

<p class="wikiPara">
Many thanks to all the contributors that made this release possible whether it be via pull requests, bug reports or feedback on the forum.</p>
</div>

