---
title: "Entrée Devoxx France à Gagner - Free pass for Devoxx France"
author: "Emmanuel Bernard"
blogger_name: "Emmanuel"
creation_date: "23-03-2015"
original_tags: [Event,Hibernate,News]
tags: [Events,Java EE]

relative_url: /2015/03/23/entre-devoxx-france-gagner-free-pass-for-devoxx-france
slug: entre-devoxx-france-gagner-free-pass-for-devoxx-france
lace: http://in.relation.to/42604.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2015/03/23/entre-devoxx-france-gagner-free-pass-for-devoxx-france
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Célébrons l'open source et le partage (English version below).
</p>

<h2 class="wikiHeadline2" id="H-PlacePourDevoxxFranceGagner"><a href="/2015/03/23/entre-devoxx-france-gagner-free-pass-for-devoxx-france#H-PlacePourDevoxxFranceGagner">Place pour Devoxx France à gagner</a></h2>

<p class="wikiPara">
<a href="http://www.devoxx.fr" target="" class="regularLink">Devoxx France</a> vous offre une place: je ne suis que le messager :) Elle sera gagnée par l'un d'entre vous.
La règle est simple.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Contribuer à un projet open source (code, doc, etc) entre maintenant et dimanche 29 mars 2015 et tweeter le lien vers la pull request ou le patch à <tt>@Hibernate</tt>.</i>
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Quel projet ? N'importe pourvu que la licence soit open source. Donc pas limité à Hibernate.</li>
<li class="wikiUnorderedListItem"> Comment sera choisi le vainqueur ? La contribution que je préfère sera choisie. Super bonus si c'est votre première contribution à ce projet : il faut que ça brasse :)</li>
<li class="wikiUnorderedListItem"> Mais si on contribue à un projet Red Hat, on a plus de chance ? Non, tous les projets open source sont (libres et) égaux.</li>
<li class="wikiUnorderedListItem"> Je suis employé Red Hat, je peux gagner? Non. Contacte-moi directement.</li>
<li class="wikiUnorderedListItem"> Et ? C'est tout.</li>
</ul>

<p class="wikiPara">
Devoxx France se déroule du 8 au 10 avril à Paris (Palais des Congrès).
J'y parlerai entre autre des sujets <a href="http://goo.gl/IBHXGL" target="" class="regularLink">Object Mappers dans le NoSQL</a> et <a href="http://cfp.devoxx.fr/2015/talk/YOK-7115/Hibernate_BoF" target="" class="regularLink">une BoF Hibernate</a>.
</p>

<p class="wikiPara">
Aller au boulot !
</p>

<h2 class="wikiHeadline2" id="H-FreePassForDevoxxFrance"><a href="/2015/03/23/entre-devoxx-france-gagner-free-pass-for-devoxx-france#H-FreePassForDevoxxFrance">Free pass for Devoxx France</a></h2>

<p class="wikiPara">
<a href="http://www.devoxx.fr" target="" class="regularLink">Devoxx France</a> is giving away a free pass through me. I am just the messenger :) One of you will win it. The rule is simple.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Contribute to an open source project (code, doc, etc) between now and Sunday evening 29th of March 2015 and tweet the link to the pull request or the patch to <tt>@Hibernate</tt>.</i>
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Which project? Any project released under an open source license. Not limited to Hibernate.</li>
<li class="wikiUnorderedListItem"> How will you chose the winner? The contribution I prefer will be chosen. Extra bonus if that's your first contribution on that project: let's exchange!</li>
<li class="wikiUnorderedListItem"> But if I contribute to a Red Hat project, I have a better chance? No, all open source projects are equals.</li>
<li class="wikiUnorderedListItem"> I am a Red Hat employee, can I win? No. Contact me directly instead.</li>
</ul>


<p class="wikiPara">
Devoxx France happens in Paris from the 8th to the 10th of April.
I will be speaking about a few topics including <a href="http://goo.gl/IBHXGL" target="" class="regularLink">Object Mappers and NoSQL</a> and an <a href="http://cfp.devoxx.fr/2015/talk/YOK-7115/Hibernate_BoF" target="" class="regularLink">Hibernate BoF</a>.
</p>

<p class="wikiPara">
Now go contribute!
</p>

<p class="wikiPara">
PS légal: cette place est offerte par Devoxx France et Emmanuel Bernard à titre personnel, pas par Red Hat. Bref, je fais ce que je veux, avec mes cheveux.
Legal PS: this pass if given away by Devoxx France and Emmanuel Bernard as an individual and free human being, not Red Hat.</p>
</div>

