---
title: "Introducing JBoss AS 6.0.0.M1"
author: "Jason Greene"
blogger_name: "Jason"
creation_date: "03-12-2009"
tags: [JBoss AS 6,Java EE 6,Seam News]

relative_url: /2009/12/03/IntroducingJBossAS600M1
slug: IntroducingJBossAS600M1
lace: http://in.relation.to/13275.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/12/03/IntroducingJBossAS600M1
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
How do you follow the fantastic news of the week with the <a href="http://press.redhat.com/2009/12/02/red-hats-leadership-in-java-community-process-drives-simplified-specification/" target="" class="regularLink">Java EE6 platform and CDI  getting final approval</a> ? How about a JBoss AS release that includes support for three key EE6 features: <a href="http://www.jcp.org/en/jsr/detail?id=299" target="" class="regularLink">CDI</a>, <a href="http://www.jcp.org/en/jsr/detail?id=303" target="" class="regularLink">Bean Validation</a>, and <a href="http://www.jcp.org/en/jsr/detail?id=314" target="" class="regularLink">JSF 2</a>? 
</p>

<p class="wikiPara">
<a href="http://www.jboss.org/jbossas/downloads/" target="" class="regularLink">Done</a>!
</p>

<p class="wikiPara">
For those that aren't familiar with these technologies, each offers significant improvements to EE application development. 
</p>

<p class="wikiPara">
CDI (or Contexts and Dependency Injection) brings real context management and DI to the EE platform, and simplifies the integration of EE services with your application. Not only does it have innovative features that make life easier, but everything it does is completely type-safe, and easily extensible. Check out <a href="http://java.dzone.com/videos/gavin-king-jsr299" target="" class="regularLink">Gavin's interview</a> with DZone for more information. Also check out the <a href="http://seamframework.org/Weld" target="" class="regularLink">Weld page</a> (our implementation and also the RI for CDI).
</p>

<p class="wikiPara">
Bean Validation solves one of the biggest problems developers face daily, ensuring their data model is validated consistently and correctly as it progresses through each layer of an application.  Instead of the common current <q>cut-and-paste</q> practice that is difficult to maintain and error prone, Bean Validation allows you to put all of your validation rules where they belong, the data model itself. Since JSF 2 and JPA 2 integrate with Bean Validation, all layers of your application will enforce those rules. This reduces errors, simplifies development, and saves time (and your <q>C</q> and <q>V</q> keys). For more information see <a href="http://in.relation.to/Bloggers/HibernateValidator4Unleashed" target="" class="regularLink">Emmanuel's blog on Hibernate Validator 4</a> (our implementation of Bean Validation). Stay tuned for more info on how to integrate Bean Validation in your EE applications.
</p>

<p class="wikiPara">
For those of you running in high availability environments, we have also included a brand new intelligent load balancing module called mod_cluster. You can read all about that in <a href="http://bstansberry.wordpress.com/2009/12/02/clustering-features-in-jboss-application-server-6-0-0-m1/" target="" class="regularLink">Brian's blog</a>.
</p>

<p class="wikiPara">
Note that in this release we are switching to a milestone based versioning scheme. The primary reason for this change is to provide a way to get completed features to the community as soon as they are ready. This is quite a bit different from a normal Alpha/Beta scheme which typically results in many incomplete capabilities in raw fashion, that slowly become complete towards the end of the release lifespan. The milestone model instead focuses on time constrained releases that each provide a small set of completed features.  As an example, the M1 release actually includes Weld 1.0.0, which is a stable final release of Weld. If you are thinking of targeting your application on AS 6.0.0, you will be able to start with M1, and progress to future milestones as we add features and improvements.
</p>

<p class="wikiPara">
You can find the full release notes for the release <a href="http://www.jboss.org/community/wiki/AS600M1ReleaseNotes" target="" class="regularLink">here</a>, and the official download location is <a href="http://www.jboss.org/jbossas/downloads/" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
As always, have a great open source day!</p>
</div>
