---
title: "JBoss AS 5.1.0.CR1 is out (and with a new console)"
author: "Jason Greene"
blogger_name: "Jason"
creation_date: "30-04-2009"
original_tags: []
tags: [JBoss AS]

relative_url: /2009/04/30/jboss-as-510-cr-1-is-out-and-with-a-new-console
slug: jboss-as-510-cr-1-is-out-and-with-a-new-console
lace: http://in.relation.to/11182.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/04/30/jboss-as-510-cr-1-is-out-and-with-a-new-console
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I am happy to announce the 5.1.0.CR1 release of the <a href="http://www.jboss.org/jbossas" target="" class="regularLink">JBoss Application Server</a>! This is the first AS release to include <a href="http://www.jboss.org/embjopr" target="" class="regularLink">Embedded JOPR</a>, our new web-based administration console. We are hoping to get as much feedback as possible before releasing the final 5.1.0, so please <a href="http://www.jboss.org/community/docs/DOC-13615" target="" class="regularLink">try it out</a> and <a href="http://jboss.org/index.html?module=bb&amp;op=viewforum&amp;f=294" target="" class="regularLink">tell us what you think</a>.
</p>

<p class="wikiPara">
Also included in this release is the new 1.0.0.PREVIEW release of <a href="http://www.tardis.ed.ac.uk/~pmuir/webbeans/reference/1.0.0.PREVIEW1/en-US/html/intro.html" target="" class="regularLink">Web Beans</a>, a key technology that greatly simplifies EE web development. This release is the first feature complete implementation of the public draft. Check out <a href="/Bloggers/FirstPreviewOfWebBeansAvailable" target="" class="regularLink">Pete's blog</a> for more info.
</p>

<p class="wikiPara">
For those that were missing the farming clustering service, it is now back as of this release. See the <a href="http://www.jboss.org/community/docs/DOC-13616" target="" class="regularLink">wiki page on the relevant changes</a>.
</p>

<p class="wikiPara">
As always, many other updates too numerous to mention were made. To see the full list, check out the <a href="http://anonsvn.jboss.org/repos/jbossas/tags/JBoss_5_1_0_CR1/build/docs/readme.html" target="" class="regularLink">detailed release notes</a>. 
</p>

<p class="wikiPara">
Download 5.1.0.CR1 <a href="http://www.jboss.org/jbossas/downloads/" target="" class="regularLink">here</a>, and have a great open source day!</p>
</div>

