---
title: "AS 6.0.0.M2 is here!"
author: "Jason Greene"
creation_date: "17-02-2010"
blogger_name: "Jason"
layout: blog-post
tags: []
slug: AS600M2IsHere
lace: http://in.relation.to/14348.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
JBoss AS 6.0.0.M2 has just been released. A major highlight is that this release delivers three more key EE6 capabilities:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> JPA 2</li>
<li class="wikiUnorderedListItem"> Servlet 3</li>
<li class="wikiUnorderedListItem"> JAX-RS (RESTful services). </li>
</ul>

<p class="wikiPara">
You can read all about it in Brian's official announcement <a href="http://bstansberry.wordpress.com/2010/02/16/jboss-application-server-6-0-0-m2-is-out/" target="" class="regularLink">here</a>. 
</p>

<p class="wikiPara">
<a href="http://www.jboss.org/jbossas/downloads/" target="" class="regularLink">Get it now!</a>
</p>








</div>
