---
title: "Git is awesome"
author: "Jason Greene"
blogger_name: "Jason"
creation_date: "03-09-2010"
tags: []

absolute_url: http://in.relation.to/2010/09/03/GitIsAwesome
lace: http://in.relation.to/16811.lace
slug: GitIsAwesome

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Very rarely do I find a tool that doesn't have some issue I have to workaround (even minor). Even more rarely do I find a tool that continues to impress me beyond what I thought I needed. 
</p>

<p class="wikiPara">
Git is such a tool.</p>
</div>
