---
title: "Git is awesome"
author: "Jason Greene"
blogger_name: "Jason"
layout: blog-post
tags: []
slug: GitIsAwesome
lace: http://in.relation.to/16811.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/GitIsAwesome">Git is awesome</a>
                    </h1>
</div>
<p class="wikiPara">
Very rarely do I find a tool that doesn't have some issue I have to workaround (even minor). Even more rarely do I find a tool that continues to impress me beyond what I thought I needed. 
</p>

<p class="wikiPara">
Git is such a tool.</p>
</div>
