---
title: "The 7 ^ 2 Heros of AS7"
author: "Jason Greene"
blogger_name: "Jason"
creation_date: "12-07-2011"
original_tags: [as7,jbossas7]
tags: [JBoss AS]

relative_url: /2011/07/12/the-72-heros-of-as-7
slug: the-72-heros-of-as-7
lace: http://in.relation.to/20995.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/07/12/the-72-heros-of-as-7
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
You may have heard that <a href="http://www.jboss.org/as7" target="" class="regularLink">AS7 Final has been released! </a>. I plan to say a lot about this, but before I do, I wanted to call attention to the many heroes whose contributions made this <i class="wikiEmphasis">monumental release possible</i>.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Dan Allen</li>
<li class="wikiUnorderedListItem"> Max Rydahl Andersen</li>
<li class="wikiUnorderedListItem"> Dimitris Andreadis</li>
<li class="wikiUnorderedListItem"> John E. Bailey</li>
<li class="wikiUnorderedListItem"> Marius Bogoevici</li>
<li class="wikiUnorderedListItem"> David Bosschaert</li>
<li class="wikiUnorderedListItem"> Heiko Braun </li>
<li class="wikiUnorderedListItem"> Tomaz Cerar</li>
<li class="wikiUnorderedListItem"> Jean-Frederic Clere</li>
<li class="wikiUnorderedListItem"> Thomas Diesler</li>
<li class="wikiUnorderedListItem"> Andrew Dinn</li>
<li class="wikiUnorderedListItem"> Vladimir Dosoudil</li>
<li class="wikiUnorderedListItem"> Stuart Douglas</li>
<li class="wikiUnorderedListItem"> Steve Ebersole</li>
<li class="wikiUnorderedListItem"> Paul Ferraro</li>
<li class="wikiUnorderedListItem"> Howard Gao</li>
<li class="wikiUnorderedListItem"> Paul Gier</li>
<li class="wikiUnorderedListItem"> Stefan Guilhen</li>
<li class="wikiUnorderedListItem"> Ales Justin</li>
<li class="wikiUnorderedListItem"> Kabir Khan</li>
<li class="wikiUnorderedListItem"> Aslak Knutsen</li>
<li class="wikiUnorderedListItem"> David M. Lloyd</li>
<li class="wikiUnorderedListItem"> Darran Lofthouse</li>
<li class="wikiUnorderedListItem"> Alexey Loubyansky</li>
<li class="wikiUnorderedListItem"> Jim Ma</li>
<li class="wikiUnorderedListItem"> Stefano Maestri</li>
<li class="wikiUnorderedListItem"> Scott Marlow</li>
<li class="wikiUnorderedListItem"> Rémy Maucherat</li>
<li class="wikiUnorderedListItem"> Shelly McGowan</li>
<li class="wikiUnorderedListItem"> Bob McWhirter</li>
<li class="wikiUnorderedListItem"> Marcus Moyses</li>
<li class="wikiUnorderedListItem"> Emanuel Muckenhuber</li>
<li class="wikiUnorderedListItem"> Pete Muir</li>
<li class="wikiUnorderedListItem"> Richard Opalka</li>
<li class="wikiUnorderedListItem"> Jaikiran Pai</li>
<li class="wikiUnorderedListItem"> Jonathan Pearlin</li>
<li class="wikiUnorderedListItem"> Jesper Pedersen</li>
<li class="wikiUnorderedListItem"> James Perkins</li>
<li class="wikiUnorderedListItem"> Flavia Rainone</li>
<li class="wikiUnorderedListItem"> Andrew Lee Rubinger</li>
<li class="wikiUnorderedListItem"> Anil Saldhana</li>
<li class="wikiUnorderedListItem"> Stan Silvert</li>
<li class="wikiUnorderedListItem"> Alessio Soldano</li>
<li class="wikiUnorderedListItem"> Brian Stansberry</li>
<li class="wikiUnorderedListItem"> Scott M Stark</li>
<li class="wikiUnorderedListItem"> Andy Taylor</li>
<li class="wikiUnorderedListItem"> Carlo de Wolf</li>
<li class="wikiUnorderedListItem"> Jeff Zhang</li>
</ul>

<p class="wikiPara">
and lastly:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> The JBoss Community, and all our excellent first class components whose authors are too many to mention.</li>
</ul>
</div>

