---
title: "Newcastle JBug meeting about Hibernate Search, Hibernate OGM"
author: "Sanne Grinovero"
creation_date: "07-07-2011"
blogger_name: "Sanne"
layout: blog-post
tags: [Hibernate OGM,Hibernate Search,event,jbug]
slug: NewcastleJBugMeetingAboutHibernateSearchHibernateOGM
lace: http://in.relation.to/20954.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
As every month, we're having a JBoss user group meeting in Newcastle. Next Tuesday 12th July at 6pm I'll be presenting
</p>

<h2 class="wikiHeadline2" id="H-HibernateSearchAndOGMTakingAdvantageOfNoSQLLeavingOutTheComplexity"><a href="/Bloggers/NewcastleJBugMeetingAboutHibernateSearchHibernateOGM#H-HibernateSearchAndOGMTakingAdvantageOfNoSQLLeavingOutTheComplexity">Hibernate Search and OGM: taking advantage of NoSQL leaving out the complexity</a></h2>
<p class="wikiPara">
and as always I'm looking forward to talk to all attendees: we'll follow up with free drinks and food to discuss about anything: open questions, suggestions, opportunities to tell your use cases in person, meet other developers.
</p>

<p class="wikiPara">
Discussing code changes is also an option, so don't miss this opportunity to make sure your favourite tools are better fit for your needs!
</p>

<p class="wikiPara">
<a href="http://community.jboss.org/docs/DOC-17002" target="" class="regularLink">full abstract and venue details here</a>
</p>

<p class="wikiPara">
Reminder: the location is in a highly secured building, if you arrive late make sure to get in touch so that someone can open you the door.
</p>

<p class="wikiPara">
For more cool developer oriented events in Newcastle, see the <a href="http://community.jboss.org/groups/jbug-newcastle" target="" class="regularLink">JBug homepage</a>
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'NewcastleJBugMeetingAboutHibernateSearchHibernateOGM';
    var disqus_title = 'Newcastle JBug meeting about Hibernate Search, Hibernate OGM';
    var disqus_url = 'http://in.relation.to/20954.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
