---
title: "OpenBlend: Hibernate OGM and Jokre presented in Ljubljana"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "06-09-2011"
tags: [Hibernate,Hibernate OGM,Jokre,OGM,conference,event]

relative_url: /2011/09/06/open-blend-hibernate-ogm-and-jokre-presented-in-ljubljana
slug: open-blend-hibernate-ogm-and-jokre-presented-in-ljubljana
lace: http://in.relation.to/21846.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/09/06/open-blend-hibernate-ogm-and-jokre-presented-in-ljubljana
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The <a href="http://www.openblend.org/en/home" target="" class="regularLink">OpenBlend conference</a> in Ljubljana, Slovenia will be held the 15th September in the fabulous setting of the Ljubljana Castle.
</p>

<p class="wikiPara">
Since it was incredibly complex to plan my travel to get there, I'll make it worth the effort by having two talks:
</p>

<ol class="wikiOrderedList">
<li class="wikiOrderedListItem"> <a href="http://www.openblend.org/en/abstracts#grinoverosanne" target="" class="regularLink">Introducing Hibernate OGM: porting JPA applications to NoSQL</a>
</li>
<li class="wikiOrderedListItem"> <a href="http://www.openblend.org/en/abstracts#grinoverosanne2" target="" class="regularLink">Introduction to Byteman and The Jokre</a>
</li>
</ol>

<p class="wikiPara">
Both projects are very young, in fact I think this is going to be the first time we reveal (1) the Jokre - a very innovative optimisation engine - and Hibernate OGM is definitely a hot topic.
</p>

<p class="wikiPara">
I also look forward to see <a href="http://www.openblend.org/en/program" target="" class="regularLink">the other talks of the day</a>, meet team mates such as Bela Ban from JGroups and Infinispan, Adam Warski the creator of Hibernate Envers (but presenting Torquebox &amp; CDI), Aleš Justin the Weld lead and master of the conference, and everyone else meeting there: above all, it's always nice to hear what people do or would like to do with the tools we build, and meeting more people willing to join the open source effort.
</p>

<p class="wikiPara">
1- please don't cheat by downloading the source code yet: it's pointless, you won't understand it. If you do, please add some comments to the code.
</p>
</div>

