---
title: "After Devoxx, JBug Newcastle"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "06-12-2011"
original_tags: [conference,event,jbug]
tags: [Events]

relative_url: /2011/12/06/after-devoxxjbug-newcastle
slug: after-devoxxjbug-newcastle
lace: http://in.relation.to/22555.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/12/06/after-devoxxjbug-newcastle
---
<div id="documentDisplay" class="documentDisplay">


<div><img src="https://lh6.googleusercontent.com/-BmhSyfbkL60/Ts-VlJytKoI/AAAAAAAABSI/K8R98AOJPT8/s1024/2011-11-15%2B15.49.05.jpg" height="180" width="200" align="right" hspace="8px"></div>
<h1 class="wikiHeadline1" id="H-InfinispanTeamAtDevoxx"><a href="/2011/12/06/after-devoxxjbug-newcastle#H-InfinispanTeamAtDevoxx">Infinispan team at Devoxx</a></h1>
<div>
<img src="https://docs.jboss.org/author/download/attachments/3737207/ISPN" align="left" hspace="8px">Two weeks ago we where at Devoxx, with Pete Muir and Mircea Markus we had a three hours long workshop about using <i class="wikiEmphasis">Infinispan</i> in a real world JEE application. All our notes for the presentation <a href="https://docs.jboss.org/author/display/ISPN/Lab+-+Getting+Started+with+Infinispan" target="" class="regularLink">are available here</a>, and it includes the source code used for the demo and all slides. <br>The instructions contain both a zip of the source code or pointers to a Git repository; if you're familiar with Git the history contains each step from the guide so you can try follow the workshop chapter by chapter: we hope it's clear enough for anyone not familiar with Infinispan, if not questions and suggestions for improvements are welcome.</div>

<h1 class="wikiHeadline1" id="H-HibernateOGMAndSearchUpdates"><a href="/2011/12/06/after-devoxxjbug-newcastle#H-HibernateOGMAndSearchUpdates">Hibernate OGM and Search updates</a></h1>
<p class="wikiPara">
At the same conference as a member of the <a href="http://www.hibernate.org/subprojects/ogm.html" target="" class="regularLink">Hibernate OGM</a> team we met Greg Luck from EHCache fame and we started some concrete plans to support <a href="http://ehcache.org" target="" class="regularLink">EHCache</a> as a data store for Hibernate OGM. If anyone wants to write a custom module for OGM, please note that we have now an experimental integration layer and Infinispan is no longer a dependency: we have instead an example implementation using a HashMap, so it should be easy to integrate with any other NoSQL database. Some interest was shown around Neo4J, MongoDB and HBase integration, but we need a volunteer to start working on it... feel free to join!
</p>

<p class="wikiPara">
In a different area, same conference we met Karel Maesen of Hibernate Spatial, so stay tuned for a better integration in that area; if you're interested in geolocation you might want to have a look at the draft for integration in Hibernate Search being proposed by Emmanuel and Nicholas Helleringer at <a href="https://hibernate.onjira.com/browse/HSEARCH-923" target="" class="regularLink">HSEARCH-923</a>.
</p>


<h2 class="wikiHeadline2" id="H-NextWeekArquillianAtJBugNewcastle"><a href="/2011/12/06/after-devoxxjbug-newcastle#H-NextWeekArquillianAtJBugNewcastle">Next week: Arquillian at JBug Newcastle</a></h2>
<img src="http://design.jboss.org/arquillian/logo/final/arquillian_logo_200px.png" align="left" hspace="8px">
<img src="https://issues.jboss.org/secure/attachment/12340286/jbugnewcastle_banner_360x90.png" align="right" hspace="8px">
<p class="wikiPara">
Next week I'll be in the Newcastle office introducing Arquillian and Shrinkwrap together with Paul Robinson, the lead of the Web Service Transactions project. The talk is named <u>Testing JEE Applications in the container using Arquillian</u>: after an introduction on the coolest testing tools we plan to run a workshop and have everyone try it out.
</p>

<p class="wikiPara">
The workshop is scheduled for <i class="wikiEmphasis">Tuesday 13th December</i> in the University of Newcastle, and as always discussions and questions are welcome on any JBoss technology. Full details of the event can be found <a href="http://community.jboss.org/wiki/DecemberJBUGMeeting" target="" class="regularLink">here</a>.</p>
</div>

