---
title: "Newcastle JBug meeting about Hibernate Search, Hibernate OGM"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "07-07-2011"
original_tags: [Hibernate OGM,Hibernate Search,event,jbug]
tags: [Events,Hibernate OGM,Hibernate Search]

relative_url: /2011/07/07/newcastlejbug-meeting-about-hibernate-search-hibernate-ogm
slug: newcastlejbug-meeting-about-hibernate-search-hibernate-ogm
lace: http://in.relation.to/20954.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/07/07/newcastlejbug-meeting-about-hibernate-search-hibernate-ogm
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
As every month, we're having a JBoss user group meeting in Newcastle. Next Tuesday 12th July at 6pm I'll be presenting
</p>

<h2 class="wikiHeadline2" id="H-HibernateSearchAndOGMTakingAdvantageOfNoSQLLeavingOutTheComplexity"><a href="/2011/07/07/newcastlejbug-meeting-about-hibernate-search-hibernate-ogm#H-HibernateSearchAndOGMTakingAdvantageOfNoSQLLeavingOutTheComplexity">Hibernate Search and OGM: taking advantage of NoSQL leaving out the complexity</a></h2>
<p class="wikiPara">
and as always I'm looking forward to talk to all attendees: we'll follow up with free drinks and food to discuss about anything: open questions, suggestions, opportunities to tell your use cases in person, meet other developers.
</p>

<p class="wikiPara">
Discussing code changes is also an option, so don't miss this opportunity to make sure your favourite tools are better fit for your needs!
</p>

<p class="wikiPara">
<a href="http://community.jboss.org/docs/DOC-17002" target="" class="regularLink">full abstract and venue details here</a>
</p>

<p class="wikiPara">
Reminder: the location is in a highly secured building, if you arrive late make sure to get in touch so that someone can open you the door.
</p>

<p class="wikiPara">
For more cool developer oriented events in Newcastle, see the <a href="http://community.jboss.org/groups/jbug-newcastle" target="" class="regularLink">JBug homepage</a>
</p>
</div>

