---
title: "Hibernate Search reached 3.4.0.CR1"
author: "Sanne Grinovero"
creation_date: "29-03-2011"
blogger_name: "Sanne"
layout: blog-post
tags: [Hibernate,Hibernate Search]
slug: HibernateSearchReached340CR1
lace: http://in.relation.to/18892.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
One week after <i class="wikiEmphasis">3.4.0.Beta1</i>, two weeks after <i class="wikiEmphasis">3.4.0.Alpha1</i>, we're on a run for <i class="wikiEmphasis">3.4.0.Final</i>!
</p>

<p class="wikiPara">
So this is your last chance to <a href="http://opensource.atlassian.com/projects/hibernate/browse/HSEARCH" target="" class="regularLink">report issues on JIRA</a> before the final release, which is of course planned for next week.
</p>

<p class="wikiPara">
Download it from <a href="http://sourceforge.net/projects/hibernate/files/hibernate-search/3.4.0.CR1/" target="" class="regularLink">Sourceforge</a> or via Maven from the <a href="https://repository.jboss.org/nexus/content/groups/public/" target="" class="regularLink">JBoss repository</a>, discuss about it on the <a href="https://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">forums</a>.
</p>

<h3 class="wikiHeadline3" id="H-Changes"><a href="/Bloggers/HibernateSearchReached340CR1#H-Changes">Changes</a></h3>
<p class="wikiPara">
As with all good candidate releases should have, there where no big changes since previous beta: we just made it a bit easier to embed the Hibernate Search engine into other frameworks, as Infinispan does with the <a href="http://community.jboss.org/docs/DOC-14155" target="" class="regularLink">Query API</a>.
</p>

<h3 class="wikiHeadline3" id="H-InfinispanQuery"><a href="/Bloggers/HibernateSearchReached340CR1#H-InfinispanQuery">Infinispan Query</a></h3>
<p class="wikiPara">
Since first releases Infinispan is providing a Query module, which is reusing the Hibernate Search engine. Infinispan v.4 provided a <q>technology preview</q>, for version 5 we're polishing the API and making sure it's simpler to setup and use.
Expect some API updates in the next Alpha of Infinispan 5, and be aware that you can reuse all Hibernate Search annotations and extensions!
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'HibernateSearchReached340CR1';
    var disqus_title = 'Hibernate Search reached 3.4.0.CR1';
    var disqus_url = 'http://in.relation.to/18892.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
