---
title: "A much requested Hibernate Search 3.4.1 released"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "26-08-2011"
original_tags: [Hibernate,Hibernate Search]
tags: [Hibernate Search]

relative_url: /2011/08/26/a-much-requested-hibernate-search-341-released
slug: a-much-requested-hibernate-search-341-released
lace: http://in.relation.to/21766.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/08/26/a-much-requested-hibernate-search-341-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
While our focus has been on the exciting new improvements in <a href="http://in.relation.to/Bloggers/HibernateSearch4IsComing" target="" class="regularLink">Hibernate Search 4</a>, since the release of the last stable release 3.4.0.Final we had much interesting feedback from the community, including bugreports and patches.
</p>

<p class="wikiPara">
Since some contributors have asked for a bugfix release, here comes Hibernate Search 3.4.1.Final!
</p>

<h1 class="wikiHeadline1" id="H-WhatsNew"><a href="/2011/08/26/a-much-requested-hibernate-search-341-released#H-WhatsNew">What's new</a></h1>
<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Some tricky indexing issues with @IndexedEmbedded entities in a @ManyToOne relation fixed</li>
<li class="wikiUnorderedListItem"> Faceting was a new feature, several bugs where fixed</li>
<li class="wikiUnorderedListItem"> 3.4 introduced dirty checking of collections: both a bug was solved and performance was improved even more</li>
</ul>

<p class="wikiPara">
All details are <a href="https://hibernate.onjira.com/secure/ReleaseNote.jspa?projectId=10061&amp;version=11221" target="" class="regularLink">tracked on JIRA</a>.
</p>

<h1 class="wikiHeadline1" id="H-ASadWarning"><a href="/2011/08/26/a-much-requested-hibernate-search-341-released#H-ASadWarning">A sad warning</a></h1>
<p class="wikiPara">
As we now mention on the documentation too, <a href="http://docs.jboss.org/hibernate/stable/search/reference/en-US/html_single/#java7bugWarning" target="" class="regularLink">Java 7 is not a recommended VM to use yet</a>.
</p>

<h1 class="wikiHeadline1" id="H-TheUsualLinks"><a href="/2011/08/26/a-much-requested-hibernate-search-341-released#H-TheUsualLinks">The usual links</a></h1>
<p class="wikiPara">
As always distribution bundles are available from <a href="https://sourceforge.net/projects/hibernate/files/hibernate-search/3.4.1.Final/" target="" class="regularLink">Sourceforge</a>, or you can get it via <a href="http://www.hibernate.org/subprojects/search/download.html" target="" class="regularLink">Maven artifact</a>.
Questions can be posted <a href="https://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">on the forums</a>, bugs can be discussed <a href="http://hibernate.org/community" target="" class="regularLink">with us</a> or posted to <a href="https://hibernate.onjira.com/browse/HSEARCH" target="" class="regularLink">JIRA</a> directly, possibly with unit tests.
</p>

<p class="wikiPara">
Many thanks to Mathieu Perez, Nikita D, Kyrill Alyoshin, Elmer van Chastelet, Guillaume Smet and Samppa Saarela for their code analysis, tests and fixes.</p>
</div>

