---
title: "Hibernate Search 3.4.0.CR2"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "07-04-2011"
tags: [Hibernate,Hibernate Search,Infinispan]

relative_url: /2011/04/07/hibernate-search-340-cr-2
slug: hibernate-search-340-cr-2
lace: http://in.relation.to/19054.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/04/07/hibernate-search-340-cr-2
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We decided to insert another candidate release in the roadmap for two
improvements which where too good to leave out
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Lucene 3.1</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Smart object graph analysis to skip expensive operations</li>
</ul>

<p class="wikiPara">
As usual download links <a href="http://www.hibernate.org/subprojects/search/download" target="" class="regularLink">are here</a>, as are instructions for Maven users.
In case you spot some issue, the <a href="http://opensource.atlassian.com/projects/hibernate/browse/HSEARCH" target="" class="regularLink">issue tracker</a> didn't move either, or use <a href="https://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">the forums</a> for questions.
</p>

<h2 class="wikiHeadline2" id="H-UsingApacheLucene31"><a href="/2011/04/07/hibernate-search-340-cr-2#H-UsingApacheLucene31">using Apache Lucene 3.1</a></h2>
<p class="wikiPara">
Finally released, we've been waiting long for it so that in just a
week we where able to provide you with a compatible version of
Hibernate Search.
</p>

<p class="wikiPara">
As it seems the usual business with Lucene, many APIs changed. The
good news is that it seems Hibernate Search was able to shield users
from all breaking changes: code-wise, it's a drop-in replacement to
previous versions.
</p>

<p class="wikiPara">
Some things to consider during the migration:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> It's possible that some Analyzers from Lucene and Solr extensions where moved around to other jars, but if you're depending to <tt>hibernate-search-analyzers</tt> via Maven, again it looks like you shouldn't need to change anything.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> The <tt>max_field_length</tt> option is not meaningful anymore, see <a href="http://docs.jboss.org/hibernate/search/3.4/reference/en-US/html_single/" target="" class="regularLink">the docs</a> on how to implement something similar if needed.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Hibernate Search 3.4.0.CR2 actually <i class="wikiEmphasis">requires</i> Lucene 3.1</li>
</ul>

<h2 class="wikiHeadline2" id="H-MorePerformanceOptimizations"><a href="/2011/04/07/hibernate-search-340-cr-2#H-MorePerformanceOptimizations">more performance optimizations</a></h2>

<p class="wikiPara">
Besides the nice boost inherited from the updated Lucene, our internal
engine also got smarter.
</p>

<p class="wikiPara">
It figures possible work to skip in the objects graph, being now much better when reacting to collections update events.
See <a href="http://opensource.atlassian.com/projects/hibernate/browse/HSEARCH-679" target="" class="regularLink">HSEARCH-679</a> for the hairy details, and many thanks to Tom Waterhouse for a complex functional test and the hard work of convincing me of the importance of this improvement.
</p>

<h2 class="wikiHeadline2" id="H-InfinispanIntegration"><a href="/2011/04/07/hibernate-search-340-cr-2#H-InfinispanIntegration">Infinispan integration</a></h2>

<p class="wikiPara">
There are several interactions between Hibernate Search and
Infinispan, above the most obvious usage of Infinispan as a second
level cache you can also:
</p>

<h3 class="wikiHeadline3" id="H-ClusterIndexesViaLucene"><a href="/2011/04/07/hibernate-search-340-cr-2#H-ClusterIndexesViaLucene">Cluster indexes via Lucene</a></h3>

<p class="wikiPara">
Nothing changed in our code, just a reminder that it's possible to
replicate or distribute the Lucene indexes on an Infinispan grid, and
it is compatible with both Infinispan 4.2.1.FINAL and with 5.0.0.BETA1
</p>

<h3 class="wikiHeadline3" id="H-InfinispanQuery"><a href="/2011/04/07/hibernate-search-340-cr-2#H-InfinispanQuery">Infinispan Query</a></h3>
<p class="wikiPara">
In <a href="http://goo.gl/0aisM" target="" class="regularLink">Infinispan 5</a> the query engine is Hibernate
Search itself: the integration just got much better, making it easier
to use and exposing all features from latest Search versions,
including for example Faceting and clustering via Infinispan itself.
More improvements coming, especially documentation.
</p>

<a href="http://www.jboss.org/events/JUDCon"><img border="0" alt="join us for JUDCon!" src="http://www.jboss.org/dms/judcon/projectimage_judcon.png"></a><p class="wikiPara">
 I'm going to talk about this integration at <a href="http://www.jboss.org/events/JUDCon.html" target="" class="regularLink">JUDCon 2011, in Boston, May 2-3</a> during the talk <a href="http://bit.ly/iciUk1" target="" class="regularLink">Advanced Queries on the Infinispan Data Grid</a>, see you there! </p>
</div>

