---
title: "Hibernate Search 4 is coming"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "18-08-2011"
tags: [Hibernate,Hibernate Search]

relative_url: /2011/08/18/HibernateSearch4IsComing
slug: HibernateSearch4IsComing
lace: http://in.relation.to/21595.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/08/18/HibernateSearch4IsComing
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The release cycle of Hibernate Search 4 has begun. Alpha 1 is out. We already have many 
things implemented so this change is consistent and more releases will come quickly.
</p>

<p class="wikiPara">
Hibernate Search 4 goals are two folds:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Be compatible with the new Hibernate Core 4 releases.</li>
<li class="wikiUnorderedListItem"> Make the necessary architecture change to reach the future goals of Hibernate Search.</li>
</ul>

<p class="wikiPara">
In particular, making Hibernate Search independent from Hibernate Core and allowing more 
scalable <q>cloud-tainted</q> backends.
</p>

<p class="wikiPara">
This release already includes lots of changes
</p>

<h1 class="wikiHeadline1" id="H-SplitBetweenAPISPIAndImplementationClasses"><a href="/2011/08/18/HibernateSearch4IsComing#H-SplitBetweenAPISPIAndImplementationClasses">Split between API / SPI and implementation classes</a></h1>

<p class="wikiPara">
Each class is now categorized into either an API, a SPI or an implementation class.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> APIs (in <q>regular</q> packages) are safe to be used in your application and we try very hard to not break these contracts</li>
<li class="wikiUnorderedListItem"> SPI (in <tt>.spi</tt> packages) are classes that are used by frameworks integrating with Hibernate Search (like Infinispan's search module). These contract are pretty stable but might change more often than APIs</li>
<li class="wikiUnorderedListItem"> Implementations (in <tt>.impl</tt> packages) are implementation details. Don't let your application depend on these.</li>
</ul>

<p class="wikiPara">
If you were a good citizen and already used the API only, you should not be affected. If you 
were using SPI or internal classes, you will have to adjust. Check our wiki page for the 
<a href="http://community.jboss.org/wiki/HibernateSearchMigrationGuide" target="" class="regularLink">migration guide</a>.
</p>

<h1 class="wikiHeadline1" id="H-MoveToJBossLoggingAndErrorCodes"><a href="/2011/08/18/HibernateSearch4IsComing#H-MoveToJBossLoggingAndErrorCodes">Move to JBoss Logging and error codes</a></h1>

<p class="wikiPara">
JBoss Logging has some nice features including error internationalization and error codes 
in messages. You will be able to Google HSEARCH00043 and see why you have such problem.
</p>

<h2 class="wikiHeadline2" id="H-IntegrationWithHibernateCore4"><a href="/2011/08/18/HibernateSearch4IsComing#H-IntegrationWithHibernateCore4">Integration with Hibernate Core 4</a></h2>

<p class="wikiPara">
Nuf said.
</p>

<h1 class="wikiHeadline1" id="H-MoveToThePerIndexBackendArchitecture"><a href="/2011/08/18/HibernateSearch4IsComing#H-MoveToThePerIndexBackendArchitecture">Move to the per index backend architecture</a></h1>

<p class="wikiPara">
This will give you more flexibility on how you want your entities indexed and us the possibility for additional optimizations down the road. You can use different technologies for each index, for example use a Lucene backend for some indexes
and an Infinispan index for others which need real-time clustering.
Also it's now possible to configure the performance parameters of each index separately, from the async/sync 
option to the number of Worker threads and queue sized in the backend executor.
</p>

<h1 class="wikiHeadline1" id="H-MassIndexerIsNoLongerAnExclusiveMode"><a href="/2011/08/18/HibernateSearch4IsComing#H-MassIndexerIsNoLongerAnExclusiveMode">MassIndexer is no longer an exclusive mode</a></h1>

<p class="wikiPara">
The MassIndexer no longer locks out the main backend listening for Hibernate events, so it can be started 
while other transactions run. Until it finished however some results might be missing from the index.
</p>

<h1 class="wikiHeadline1" id="H-NewBinaryFormatOfCommunicationBetweenRemoteBackends"><a href="/2011/08/18/HibernateSearch4IsComing#H-NewBinaryFormatOfCommunicationBetweenRemoteBackends">New binary format of communication between remote backends</a></h1>

<p class="wikiPara">
Lucene no longer guarantees the <tt>Serializable</tt> contract for <tt>Document</tt>s and <tt>Field</tt>s. This is a problem 
when you use a clustered model for Hibernate Search.
</p>

<p class="wikiPara">
So we have introduced a new communication protocol in the JMS and JGroups backends so they 
can pass along Lucene works in a safe way. This aligns with our quest to shield you from incompatible 
changes Lucene may make in future versions. We also want to make it easier to upgrade a cluster of 
Hibernate Search nodes and let them interact without issue when possible.
</p>

<p class="wikiPara">
So now you can use <tt>NumericField</tt> in clustered environment, which was previously not possible as 
it has never been <tt>Serializable</tt>.
</p>

<h1 class="wikiHeadline1" id="H-AggressiveOnPerformance"><a href="/2011/08/18/HibernateSearch4IsComing#H-AggressiveOnPerformance">Aggressive on performance</a></h1>

<p class="wikiPara">
The backend is now quite aggressive in write performance, enabling <tt>exclusive_index_use</tt> by default and 
having merged some of the performance tricks from the MassIndexer back into the standard backend to take 
advantage of them all the time.
For example the new backend design allows us to analyse Documents in multiple threads while still guaranteeing 
writes happen in the proper order. This is configured with the <tt>worker.thread_pool.size</tt> property, defaulting 
to one, and applies even to backends configured for synchronous updates.
</p>

<h1 class="wikiHeadline1" id="H-GetTheRelease"><a href="/2011/08/18/HibernateSearch4IsComing#H-GetTheRelease">Get the release</a></h1>

<p class="wikiPara">
That's all for now, <a href="http://hibernate.org/subprojects/search/download" target="" class="regularLink">check out the release</a> and make sure to 
read the <a href="http://community.jboss.org/docs/DOC-15249" target="" class="regularLink">Migration Guide</a>.
</p>

<p class="wikiPara">
Many thanks to the community and particularly Davide D'Alto for his contributions and Adam Harris, Samppa Saarela and Elmer van Chastelet for their suggestions for performance and design improvements.
</p>
</div>
