---
title: "Progress on Hibernate Search 4.2: Tika text extraction and sort-by-distance"
author: "Sanne Grinovero"
creation_date: "18-10-2012"
blogger_name: "Sanne"
layout: blog-post
tags: [Hibernate,Hibernate Search]
slug: ProgressOnHibernateSearch42TikaTextExtractionAndSortbydistance
lace: http://in.relation.to/23599.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The latest <a href="https://sourceforge.net/projects/hibernate/files/hibernate-search/4.2.0.Beta2/" target="" class="regularLink">Hibernate Search beta v. 4.2.0.Beta2</a> is available!
</p>

<p class="wikiPara">
In this iteration we introduce Apache Tika integration, Spatial Queries are now able to sort on distance, and as usual a list of less noticeable improvements.
</p>

<h2 class="wikiHeadline2" id="H-ApacheTikaIntegration"><a href="/Bloggers/ProgressOnHibernateSearch42TikaTextExtractionAndSortbydistance#H-ApacheTikaIntegration">Apache Tika integration</a></h2>

<p class="wikiPara">
Apache Tika allows you to extract text and index any kind of documents, like MP3 metadata, PDF text, office files. You can annotate a Blob field if loading the media files from a database, or have the String field point to a resource or file path.
</p>

<pre class="wikiPreformatted brush:java">@Entity
@Indexed
public class Book {

	Integer id;
	Blob content;

	@Id @GeneratedValue
	public Integer getId() {
		return id;
	}

	public void setId(Integer id) {
		this.id = id;
	}

	@Lob @Basic(fetch = FetchType.LAZY)
	@Field @TikaBridge // &lt;- just add the TikaBridge as an adaptor to make the Blob indexable as any
	public Blob getContent() {
		return content;
	}

	public void setContent(Blob content) {
		this.content = content;
	}
}</pre>


<p class="wikiPara">
The <i class="wikiEmphasis">@TikaBridge</i> annotation supports more options to tune the kind of text extraction; refer to <a href="http://docs.jboss.org/hibernate/search/4.2/reference/en-US/html_single/#d0e4034" target="" class="regularLink">the documentation</a> for more details. Consider this feature experimental for now: we didn't add an option to make the text extraction asynchronous yet, so we might need to change the API to introduce that.
</p>

<h2 class="wikiHeadline2" id="H-SpatialQueriesSortedByDistance"><a href="/Bloggers/ProgressOnHibernateSearch42TikaTextExtractionAndSortbydistance#H-SpatialQueriesSortedByDistance">Spatial Queries sorted by distance</a></h2>

<p class="wikiPara">
Thanks to all of Nicolas's Helleringer work, it's now easy to
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">Return the distance from the search center to each hit (via a projection)</li>
<li class="wikiUnorderedListItem">Apply a sort criteria on the distance</li>
</ul>

<p class="wikiPara">
Let's see an example from our large collection of self-documenting examples (the testsuite!):
</p>

<pre class="wikiPreformatted brush:java">QueryBuilder builder = em.getSearchFactory().buildQueryBuilder().forEntity( Cafe.class ).get();

org.apache.lucene.search.Query luceneQuery = builder.spatial()
    .onCoordinates( "location" )
    .within( 100, Unit.KM )
        .ofLatitude( centerLatitude )
        .andLongitude( centerLongitude )
    .createQuery();

FullTextQuery hibQuery = em.createFullTextQuery( luceneQuery, Cafe.class );

Sort distanceSort = new Sort( new DistanceSortField( centerLatitude, centerLongitude, "location" ) );

hibQuery.setSort( distanceSort );

hibQuery.setProjection( FullTextQuery.THIS, FullTextQuery.SPATIAL_DISTANCE );

hibQuery.setSpatialParameters( centerLatitude, centerLongitude, "location" );

List results = hibQuery.getResultList();</pre>


<h2 class="wikiHeadline2" id="H-SeveralMoreReasonsToUpgrade"><a href="/Bloggers/ProgressOnHibernateSearch42TikaTextExtractionAndSortbydistance#H-SeveralMoreReasonsToUpgrade">Several more reasons to upgrade</a></h2>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Apache Lucene upgraded to version 3.6.1</li>
<li class="wikiUnorderedListItem"> JMS and JMX integrations improved</li>
<li class="wikiUnorderedListItem"> The MassIndexer now correctly applies <a href="http://docs.jboss.org/hibernate/search/4.2/reference/en-US/html_single/#search-mapping-indexinginterceptor" target="" class="regularLink">EntityIndexingInterceptor</a>
</li>
<li class="wikiUnorderedListItem"> Lower memory usage</li>
<li class="wikiUnorderedListItem"> Spatial Queries improved</li>
<li class="wikiUnorderedListItem"> Improved some classloaders for better integration with other libraries</li>
</ul>

<p class="wikiPara">
The complete list of changes can be found <a href="https://hibernate.onjira.com/secure/ReleaseNote.jspa?projectId=10061&amp;version=12363" target="" class="regularLink">here</a>. Check the <a href="https://community.jboss.org/wiki/HibernateSearchMigrationGuide#Hibernate_Search_420Beta2" target="" class="regularLink">Migration Guide</a>.
</p>

<p class="wikiPara">
It has been a while since 4.2.0.Beta1 but the summer is over, so try these quickly as we'll move to the Final soon! As always, feedback is very welcome.
</p>

<h2 class="wikiHeadline2" id="H-TheUsualLinks"><a href="/Bloggers/ProgressOnHibernateSearch42TikaTextExtractionAndSortbydistance#H-TheUsualLinks">The usual links:</a></h2>
<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Download it from <a href="https://sourceforge.net/projects/hibernate/files/hibernate-search/4.2.0.Beta2/" target="" class="regularLink">Sourceforge</a> or via <a href="http://www.hibernate.org/subprojects/search/download.html" target="" class="regularLink">Maven artifacts</a>
</li>
<li class="wikiUnorderedListItem"> Get in touch on the <a href="https://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">forums</a> or on <a href="http://hibernate.org/community" target="" class="regularLink">the mailing list</a>, or join us for a chat on <a href="http://hibernate.org/community" target="" class="regularLink">IRC</a>
</li>
<li class="wikiUnorderedListItem"> Get the spotlight in the next release: have a look at <a href="https://hibernate.onjira.com/browse/HSEARCH" target="" class="regularLink">JIRA</a> and get the code from <a href="https://github.com/hibernate/hibernate-search" target="" class="regularLink">GitHub</a>
</li>
</ul>
</div>
