---
title: "At Berlin Buzzwords: Lucene index replication on Infinispan"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "23-05-2012"
tags: [Hibernate Search,Infinispan,Lucene,event]

absolute_url: http://in.relation.to/2012/05/23/AtBerlinBuzzwordsLuceneIndexReplicationOnInfinispan
lace: http://in.relation.to/23205.lace
slug: AtBerlinBuzzwordsLuceneIndexReplicationOnInfinispan

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<a href="http://berlinbuzzwords.de" target="_blank"><img src="http://berlinbuzzwords.de/sites/berlinbuzzwords.de/files/u36/BB12-Banner4_800x90.jpg" align="right" hspace="20px" vspace="20px"></a>
<h1 class="wikiHeadline1" id="H-BerlinBuzzwordsComingSoon"><a href="/Bloggers/AtBerlinBuzzwordsLuceneIndexReplicationOnInfinispan#H-BerlinBuzzwordsComingSoon">Berlin Buzzwords coming soon</a></h1>
<p class="wikiPara">
I'll be at <a href="http://berlinbuzzwords.de" target="" class="regularLink">Berlin Buzzwords 2012</a>, to meet with the awesome community of people interested in scalable search, NoSQL and bigdata in the cloud.
</p>

<h1 class="wikiHeadline1" id="H-InfinispanLuceneDirectory"><a href="/Bloggers/AtBerlinBuzzwordsLuceneIndexReplicationOnInfinispan#H-InfinispanLuceneDirectory">Infinispan Lucene Directory</a></h1>
<p class="wikiPara">
Of particular interest to Hibernate Search and Infinispan Query users and contributors, I've been given the opportunity to <a href="http://berlinbuzzwords.de/sessions/what-you-get-replicating-lucene-indexes-infinispan-data-grid" target="" class="regularLink">talk about the Infinispan Lucene Directory</a> we built as an extension to the Infinispan project: the capability to store and efficiently replicate Lucene indexes in the Infinispan grid. Of course, this Directory implementation doesn't depend on Hibernate Search or Infinispan Query and can be used to solve the <q>reliable replication problem</q> with Lucene indexes in any other application using Lucene. In fact its development was initially sponsored by Sourcesense to replicate JIRA instances and is now evolving in the Infinispan project as a high performance alternative to the traditional Directory implementations.. for more details <a href="http://berlinbuzzwords.de/sessions/what-you-get-replicating-lucene-indexes-infinispan-data-grid" target="" class="regularLink">come to my talk</a> or come <a href="https://twitter.com/SanneGrinovero" target="" class="regularLink">talking to me</a> at any time.
</p>

<h1 class="wikiHeadline1" id="H-TheConference"><a href="/Bloggers/AtBerlinBuzzwordsLuceneIndexReplicationOnInfinispan#H-TheConference">The conference</a></h1>
<p class="wikiPara">
It's the first time for me to go to Berlin Buzzwords, but I've heard excellent feedback from the past editions so I'm really looking forward it: <a href="http://berlinbuzzwords.de/program/session-schedule/all" target="" class="regularLink">the program</a> is full of amazing titles, and many interesting speakers and no doubt attendees to talk with.
</p>

<p class="wikiPara">
About other <i class="wikiEmphasis">JBoss people</i> going, you might meet <a href="https://twitter.com/mirceamarkus" target="" class="regularLink">Mircea Markus</a> from the Infinispan team and <a href="https://twitter.com/#!/lukasvlcek" target="" class="regularLink">Lukáš Vlček</a> our ElasticSearch expert and the man behind our new <a href="http://search.jboss.org" target="" class="regularLink">search.jboss.org</a>.
</p>

<p class="wikiPara">
Looking forward to meet you all there!
</p>
</div>
