---
title: "Back from Berlin"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "08-06-2012"
original_tags: [Infinispan,Lucene,event]
tags: [Event,Infinispan]

relative_url: /2012/06/08/back-from-berlin
slug: back-from-berlin
lace: http://in.relation.to/23247.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/06/08/back-from-berlin
---
<div id="documentDisplay" class="documentDisplay">


<a href="http://www.c-base.org/cv50f/" target="_blank"><img src="https://lh5.googleusercontent.com/-D5qrPPWizZY/T9G7Ti6DBxI/AAAAAAAACGs/LuMgsPnpl3M/s554/photo.jpg" align="right" hspace="20px" vspace="20px"></a>
<h1 class="wikiHeadline1" id="H-BerlinBuzzwordsBarcamp"><a href="/2012/06/08/back-from-berlin#H-BerlinBuzzwordsBarcamp">Berlin Buzzwords Barcamp</a></h1>
<p class="wikiPara">
The main conference was introduced by a barcamp event on Sunday afternoon and night, in a fascinating location!
</p>

<h2 class="wikiHeadline2" id="H-Cbase"><a href="/2012/06/08/back-from-berlin#H-Cbase">c-base</a></h2>
<p class="wikiPara">
The barcamp was at <a href="http://www.c-base.org/cv50f/" target="" class="regularLink">c-base</a>, which I initially had mistaken for a creative design company or an underground disco. Kosch, an Infinispan user and contributor, welcomed me with a nice glass of mead and corrected my blind guess: it actually is a massive space ship being built by hackers in the underground of the city. This place pours with hard core hackers culture, staffs 400 members in this huge place, full of self made droids, LDAP-verifying doors, advanced equipment all over up to self made 3d printers, scanners, arcade video games and of course connections to The Matrix.
</p>

<h2 class="wikiHeadline2" id="H-MeetingsAndDiscussions"><a href="/2012/06/08/back-from-berlin#H-MeetingsAndDiscussions">meetings and discussions</a></h2>
<p class="wikiPara">
There were a lot of people from the Apache communities, I have been talking almost all the evening with Lucene developers, but also listened to experiences people had with HBase, Cassandra, MongoDB, Solr, ElasticSearch, and of course our very own Hibernate Search, Infinispan and JBoss AS.
</p>

<p class="wikiPara">
A recurring subject was the need to use multiple of these datastores in a better integrated way, mostly it was about integrating {bigdataX} with Lucene.
</p>

<h2 class="wikiHeadline2" id="H-SQLVsNoSQL"><a href="/2012/06/08/back-from-berlin#H-SQLVsNoSQL">SQL vs. NoSQL</a></h2>
<p class="wikiPara">
So this place was packed with NoSQL zealots. You can imagine this strong pack, excited and a bit drunk too. Perfect timing for some members of the SQL standards to show up! They had some reasonable objections to the <q>NoSQL</q> expression, most notably that all these alternative engines would need, could be standardized in the new revision of the specification. The answer from Chris Harris was hilarious: <q>you're missing the point</q>.
</p>

<h1 class="wikiHeadline1" id="H-TheBerlinBuzzwords2012Conference"><a href="/2012/06/08/back-from-berlin#H-TheBerlinBuzzwords2012Conference">The Berlin Buzzwords 2012 conference</a></h1>
<p class="wikiPara">
The main conference started with many interesting talks, from the keynote from colleague Leslie Hawthorn, but the buzz of the <q>hallway track</q> continued very strongly for me. I've met amazing people and had interesting chats with a lot of users of our technologies. It was easy to meet a lot of known community members, I've been talking with many users I don't remember the name of, but also with Shay Banon (Elastic Search founder), Grant Ingersoll (Chief Scientist at Lucid Imagination, and well known contributor of several Apache projects), Uwe Schindler (Lucene), Robert Muir (Lucene, also Lucid Imagination), Michael Busch (Lucene, at Twitter), Nick Burch (Apache Tika, Alfresco), Christian Moen (Lucene, creator of the awesome Japanese analyzers), Karel Minarik (Ruby client for Elastic Search), Simon Willnauer (Lucene, and conference organizer), Chris Harris (MongoDB), Martijn van Groningen (JOIN implementations on Lucene) and colleagues Mircea Markus (Infinispan) and Lukáš Vlček (search.jboss.org, Elastic Search).
</p>

<h2 class="wikiHeadline2" id="H-UpdatableFieldsForLucene"><a href="/2012/06/08/back-from-berlin#H-UpdatableFieldsForLucene">Updatable fields for Lucene</a></h2>
<p class="wikiPara">
Andrzej Bialecki had an amazing talk on the codecs coming in Lucene 4, and explained how fields could be made update-able. There are some patches already but there is still lots of work to do, and he is inviting users to help out: <a href="https://issues.apache.org/jira/browse/LUCENE-3837" target="" class="regularLink">LUCENE-3837</a>.
</p>

<h2 class="wikiHeadline2" id="H-JOINsInLucene"><a href="/2012/06/08/back-from-berlin#H-JOINsInLucene">JOINs in Lucene</a></h2>
<p class="wikiPara">
Martijn van Groningen is working on JOIN functionality in Lucene, it would be very interesting if someone could experiment with support for it in Hibernate Search: such a feature is highly requested and would be very useful for Hibernate OGM too.
</p>

<h2 class="wikiHeadline2" id="H-HowIsInfinispanDifferentThanKeyvalueStoreX"><a href="/2012/06/08/back-from-berlin#H-HowIsInfinispanDifferentThanKeyvalueStoreX">How is Infinispan different than key/value store X?</a></h2>
<p class="wikiPara">
This was a frequent question people had to me. The main point - besides supporting transactions - is that it focuses on <i class="wikiEmphasis">in-memory</i> while still preserving high availability. It's a good idea to use it together with {your favourite other store here} for disk persistence. Why? Our tests just breached the one million operations/sec, and there is still much we can improve...
</p>

<h2 class="wikiHeadline2" id="H-ThePeopleThere"><a href="/2012/06/08/back-from-berlin#H-ThePeopleThere">The people there</a></h2>
<p class="wikiPara">
The conference was great, as it somehow managed to keep marketing low and keep the spotlight on the developers, the people, and the stuff that really matters. An example of this was that most talks were in 20 minutes slots, forcing speakers to focus very strictly on the juicy aspects and leave everything else out for face to face discussions in the halls. That worked amazingly well for me.
I'm glad for all the chats I had with everyone, so thank you all!</p>
</div>

