---
title: "Hibernate Search 4.1 CR3"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "29-03-2012"
tags: [Hibernate,Hibernate Search]

absolute_url: http://in.relation.to/2012/03/29/HibernateSearch41CR3
lace: http://in.relation.to/23053.lace
slug: HibernateSearch41CR3

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Another CR for Hibernate Search 4.1 is ready! Even being in candidate release phase, we introduced something more than <a href="https://hibernate.onjira.com/secure/ReleaseNote.jspa?projectId=10061&amp;version=11956" target="" class="regularLink">the usual minor bugfixes</a>, as the following improvements are too nice to delay and technically not very risky.
</p>

<h2 class="wikiHeadline2" id="H-DependingOnHibernate41"><a href="/Bloggers/HibernateSearch41CR3#H-DependingOnHibernate41">Depending on Hibernate 4.1</a></h2>
<p class="wikiPara">
Hibernate Search was updated to work with Hibernate ORM 4.1, as it was still using 4.0.
</p>

<h2 class="wikiHeadline2" id="H-RethinkingTheJGroupsIntegration"><a href="/Bloggers/HibernateSearch41CR3#H-RethinkingTheJGroupsIntegration">Rethinking the JGroups integration</a></h2>
<p class="wikiPara">
The JGroups Channel is the communication transport used when connecting multiple nodes in cluster using JGroups; before 4.1.0.CR3, Hibernate Search would expect you to configure a Channel for each clustered index, but having to configure multiple JGroups Channel is tedious: for example, each channel should use a different set of network ports.
</p>

<p class="wikiPara">
The Channel is now a service shared across all indexes: every index configured to use JGroups will share the same Channel instance. This simplifies configuration, network administration and speeds up initialization.
</p>

<p class="wikiPara">
Configuration details are described in the <a href="http://docs.jboss.org/hibernate/search/4.1/reference/en-US/html_single/#jgroups-backend" target="" class="regularLink">JGroups configuration paragraph</a>.
</p>

<p class="wikiPara">
If you were using JGroups before, please see the <a href="https://community.jboss.org/wiki/HibernateSearchMigrationGuide#JGroups_integration_and_configuration" target="" class="regularLink">Migration Guide</a>.
</p>

<h3 class="wikiHeadline3" id="H-JGroupsChannelInjection"><a href="/Bloggers/HibernateSearch41CR3#H-JGroupsChannelInjection">JGroups channel injection</a></h3>

<p class="wikiPara">
It is now possible to have Hibernate Search use an existing JGroups Channel, injecting the instance in the configuration. This was primarily introduced for other frameworks integrating our search engine, such as <a href="http://www.jboss.org/capedwarf" target="" class="regularLink">CapeDwarf</a>, so they can control the Channel lifecycle and make use of alternative initialization options. Remember however: Search installs it's own message Receiver, it's not going to share the channel with other services!
</p>

<pre class="wikiPreformatted brush: java">import org.hibernate.search.backend.impl.jgroups.JGroupsChannelProvider;

org.jgroups.JChannel channel = ...//initialize or lookup the channel directly
Map&lt;String,String&gt; properties = new HashMap&lt;String,String&gt;();
properties.put( JGroupsChannelProvider.CHANNEL_INJECT, channel );
properties.put( //...other options
EntityManagerFactory emf = Persistence.createEntityManagerFactory( "userPU", properties );
</pre>


<h3 class="wikiHeadline3" id="H-PlansForNext"><a href="/Bloggers/HibernateSearch41CR3#H-PlansForNext">Plans for next...</a></h3>

<p class="wikiPara">
We're working as well on making the master/slave an automatic election process, but that's too big of a change for a CR, so consider it just a teaser for upcoming 4.2 ! Of course, you can help starting to test it today if you're willing to participate in the coding and try the bleeding edge.
</p>

<h2 class="wikiHeadline2" id="H-TheUsualLinks"><a href="/Bloggers/HibernateSearch41CR3#H-TheUsualLinks">The usual links</a></h2>
<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Download it from <a href="https://sourceforge.net/projects/hibernate/files/hibernate-search/4.1.0.CR3/" target="" class="regularLink">Sourceforge</a> or via <a href="http://www.hibernate.org/subprojects/search/download.html" target="" class="regularLink">Maven artifacts</a>
</li>
<li class="wikiUnorderedListItem"> Get in touch on the <a href="https://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">forums</a> or on <a href="http://hibernate.org/community" target="" class="regularLink">the mailing list</a>
</li>
<li class="wikiUnorderedListItem"> Help out: have a look at <a href="https://hibernate.onjira.com/browse/HSEARCH" target="" class="regularLink">JIRA</a> and get the code from <a href="https://github.com/hibernate/hibernate-search" target="" class="regularLink">GitHub</a>
</li>
</ul>

</div>
