---
title: "Spatial Queries: First Beta for Hibernate Search 4.2 is available"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "21-06-2012"
tags: [Hibernate Search]

relative_url: /2012/06/21/SpatialQueriesFirstBetaForHibernateSearch42IsAvailable
slug: SpatialQueriesFirstBetaForHibernateSearch42IsAvailable
lace: http://in.relation.to/23273.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/06/21/SpatialQueriesFirstBetaForHibernateSearch42IsAvailable
---
<div id="documentDisplay" class="documentDisplay">


<h2 class="wikiHeadline2" id="H-SpatialQueriesAkaGETCOFFEENOW"><a href="/2012/06/21/SpatialQueriesFirstBetaForHibernateSearch42IsAvailable#H-SpatialQueriesAkaGETCOFFEENOW">Spatial Queries, aka GET COFFEE NOW!</a></h2>

<p class="wikiPara">
This release introduces support for <i class="wikiEmphasis">Spatial Queries</i>, a superb feature, especially when combined with traditional full-text.
</p>

<p class="wikiPara">
As usual, we strive to boost your productivity. With Spatial Queries you can express the equivalent of:
</p>

<blockquote class="wikiBlockquote">
Find me a coffee shop SHOULD In [2 miles] radius from [location] MUST NOT Starbucks
</blockquote>

<p class="wikiPara">
Enjoy!
Of course that's fake meta-language, the actual syntax would require to use the new Spatial DSL; all details and examples are in <a href="http://docs.jboss.org/hibernate/search/4.2/reference/en-US/html/spatial.html" target="" class="regularLink">the new Spatial chapter of the documentation</a>.
</p>

<p class="wikiPara">
Big thanks to Nicolas Helleringer, who coded it all, wrote the documentation and endured all our criticism for many months of work. Now it's your turn to try it out, comment, and maybe improve on it?
</p>

<h2 class="wikiHeadline2" id="H-Lucene36"><a href="/2012/06/21/SpatialQueriesFirstBetaForHibernateSearch42IsAvailable#H-Lucene36">Lucene 3.6</a></h2>
<p class="wikiPara">
Apache Lucene 3.6 was released, and once more we stay up to date. <i class="wikiEmphasis">Nothing</i> changed in the API we expose, once more protecting you from the changes in Lucene code, but it's worth considering to reindex or at least use the <a href="http://docs.jboss.org/hibernate/search/4.2/reference/en-US/html_single/#d0e2465" target="" class="regularLink">compatibility options</a>.
</p>

<h2 class="wikiHeadline2" id="H-MoreUpdates"><a href="/2012/06/21/SpatialQueriesFirstBetaForHibernateSearch42IsAvailable#H-MoreUpdates">More updates</a></h2>
<p class="wikiPara">
As usual it includes some minor improvements, for a detailed list see the <a href="https://hibernate.onjira.com/secure/ReleaseNote.jspa?projectId=10061&amp;version=11957" target="" class="regularLink">changelogs on JIRA</a> and keep an eye on <a href="https://community.jboss.org/wiki/HibernateSearchMigrationGuide#Hibernate_Search_420Beta1" target="" class="regularLink">the Migration Guide</a>.
</p>

<h3 class="wikiHeadline3" id="H-DownloadHibernateSearch420Beta1"><a href="/2012/06/21/SpatialQueriesFirstBetaForHibernateSearch42IsAvailable#H-DownloadHibernateSearch420Beta1">Download Hibernate Search 4.2.0.Beta1</a></h3>
<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Download it from <a href="https://sourceforge.net/projects/hibernate/files/hibernate-search/4.2.0.Beta1/" target="" class="regularLink">Sourceforge</a> or via <a href="http://www.hibernate.org/subprojects/search/download.html" target="" class="regularLink">Maven artifacts</a>.</li>
</ul>

<h3 class="wikiHeadline3" id="H-Forums"><a href="/2012/06/21/SpatialQueriesFirstBetaForHibernateSearch42IsAvailable#H-Forums">Forums</a></h3>
<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> The <a href="https://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">user forums</a> are the place to get on how to use it, where you can help other users, or search for past questions.</li>
</ul>

<h4 class="wikiHeadline4" id="H-WantToHelp"><a href="/2012/06/21/SpatialQueriesFirstBetaForHibernateSearch42IsAvailable#H-WantToHelp">Want to help?</a></h4>
<p class="wikiPara">
We maintain a list of <q>low hanging fruits</q> which should be easy starting points to get anyone started to improve Hibernate Search: have a look into <a href="https://hibernate.onjira.com/secure/IssueNavigator.jspa?mode=hide&amp;requestId=11250" target="" class="regularLink">issues suited for new contributors (maybe)</a>, <a href="https://community.jboss.org/wiki/ContributingToHibernateSearch" target="" class="regularLink">the wiki pages</a> and of course feel free to get in touch if you're stuck.
</p>
</div>
