---
title: "Hibernate Search 4.1.1.Final: fix file handle leak and more"
author: "Sanne Grinovero"
blogger_name: "Sanne"
layout: blog-post
tags: [Hibernate,Hibernate Search]
slug: HibernateSearch411FinalFixFileHandleLeakAndMore
lace: http://in.relation.to/23182.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/HibernateSearch411FinalFixFileHandleLeakAndMore">Hibernate Search 4.1.1.Final: fix file handle leak and more</a>
                    </h1>
</div>
<p class="wikiPara">
A bugfix release for Hibernate Search 4.1 ! Some of you have been reporting reduced performance after migrating from 3.4 or 4.0, which was not expected at all as the internals got smarter at each release. It turns out there was a quite critical bug: file handle leaks.
</p>

<p class="wikiPara">
Big thanks to Bostjan Lah for reporting this problem and providing a nice test to let me reproduce the problem, and to Jan Slezak for all the help verifying the solution.
Also Michael Heinrichs reported an issue with programmatic configuration and fixed it, awesome!
</p>

<h2 class="wikiHeadline2" id="H-WhatChangedComparedTo410Final"><a href="/Bloggers/HibernateSearch411FinalFixFileHandleLeakAndMore#H-WhatChangedComparedTo410Final">What changed compared to 4.1.0.Final?</a></h2>
<p class="wikiPara">
Besides the important bugfixes, not much changed as expected for minor releases: mostly documentation clarifications, some classloader issues which would affect you only when embedding it in a JBoss Module. For a detailed list see the <a href="https://hibernate.onjira.com/secure/ReleaseNote.jspa?version=12050&amp;styleName=Html&amp;projectId=10061" target="" class="regularLink">JIRA changelogs</a>.
</p>

<p class="wikiPara">
We strongly recommend to upgrade; see also <a href="https://community.jboss.org/wiki/HibernateSearchMigrationGuide#Hibernate_Search_411Final" target="" class="regularLink">the Migration Guide</a>.
</p>

<h2 class="wikiHeadline2" id="H-TheUsualLinks"><a href="/Bloggers/HibernateSearch411FinalFixFileHandleLeakAndMore#H-TheUsualLinks">The usual links:</a></h2>
<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Download it from <a href="https://sourceforge.net/projects/hibernate/files/hibernate-search/4.1.1.Final/" target="" class="regularLink">Sourceforge</a> or via <a href="http://www.hibernate.org/subprojects/search/download.html" target="" class="regularLink">Maven artifacts</a>
</li>
<li class="wikiUnorderedListItem"> Get in touch on the <a href="https://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">forums</a> or on <a href="http://hibernate.org/community" target="" class="regularLink">the mailing list</a>
</li>
<li class="wikiUnorderedListItem"> Help out: have a look at <a href="https://hibernate.onjira.com/browse/HSEARCH" target="" class="regularLink">JIRA</a> and get the code from <a href="https://github.com/hibernate/hibernate-search" target="" class="regularLink">GitHub</a>
</li>
</ul>

</div>
