---
title: "Hibernate Search 4.1.0.Beta1: improve Infinispan Query mapping"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "06-02-2012"
tags: [Hibernate Search,Infinispan]

absolute_url: http://in.relation.to/2012/02/06/HibernateSearch410Beta1ImproveInfinispanQueryMapping
lace: http://in.relation.to/22874.lace
slug: HibernateSearch410Beta1ImproveInfinispanQueryMapping

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate Search version <i class="wikiEmphasis">4.1.0.Beta1</i> was tagged; the most essential change compared to January's release <a href="http://in.relation.to/Bloggers/HibernateSearch41IsComing" target="" class="regularLink">4.1.0.Alpha1</a> was <a href="https://hibernate.onjira.com/browse/HSEARCH-1034" target="" class="regularLink">HSEARCH-1034</a>, made to allow Infinispan Query to use the fluent <a href="http://docs.jboss.org/hibernate/search/4.1/reference/en-US/html_single/#hsearch-mapping-programmaticapi" target="" class="regularLink">Programmatic Mapping API</a> as already available to Hibernate users.
</p>

<p class="wikiPara">
More changes are being developed: stay tuned for new MassIndexer improvements, some new performance improving tricks, and a fierce discussion is going on to provide a new pragmatic way to define index mappings starting from the Query use cases.
</p>

<h1 class="wikiHeadline1" id="H-IntegrationsWithInfinispan"><a href="/Bloggers/HibernateSearch410Beta1ImproveInfinispanQueryMapping#H-IntegrationsWithInfinispan">Integrations with Infinispan</a></h1>
<p class="wikiPara">
The <a href="http://www.jboss.org/infinispan/" target="" class="regularLink">Infinispan</a> project released a new milestone version 5.1.1.FINAL, which is relevant to Hibernate Search users in many ways:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Hibernate Search can use Infinispan to distribute the index among several clustered nodes.</li>
<li class="wikiUnorderedListItem"> JBoss AS 7.1 will use this version as the fundamental clustering technology.</li>
<li class="wikiUnorderedListItem"> <a href="http://www.hibernate.org/subprojects/ogm.html" target="" class="regularLink">Hibernate OGM</a> can map JPA entities to Infinispan instead of a database, and use Hibernate Search as query engine and replicate the indexes storing them in Infinispan.</li>
<li class="wikiUnorderedListItem"> Infinispan Query uses the Hibernate Search Engine component to make it possible to search across the values stored in Infinispan. All you need to do is add the dependency to infinispan-query, enable indexing in the configuration and either annotate the objects you store in the grid like you would do with Hibernate Search entitites, or define the mappings using the programmatic API.</li>
</ul>

<p class="wikiPara">
More details on Infinispan Query can be found in the <a href="https://docs.jboss.org/author/display/ISPN51/Querying+Infinispan" target="" class="regularLink">Infinispan reference</a>, but if you're familiar with Hibernate Search there's not much to learn as they share most features and configuration options as defined on the <a href="http://docs.jboss.org/hibernate/search/4.1/reference/en-US/" target="" class="regularLink">Hibernate Search reference manual</a>.
</p>

<h2 class="wikiHeadline2" id="H-TheUsualLinks"><a href="/Bloggers/HibernateSearch410Beta1ImproveInfinispanQueryMapping#H-TheUsualLinks">The usual links</a></h2>
<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Download from <a href="https://sourceforge.net/projects/hibernate/files/hibernate-search/4.1.0.Beta1/" target="" class="regularLink">Sourceforge</a>.</li>
<li class="wikiUnorderedListItem"> or get it via <a href="http://www.hibernate.org/subprojects/search/download.html" target="" class="regularLink">Maven artifacts</a>.</li>
<li class="wikiUnorderedListItem"> User <a href="https://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">forums</a>.</li>
<li class="wikiUnorderedListItem"> New ideas and suggestions via <a href="http://hibernate.org/community" target="" class="regularLink">the mailing list</a>.</li>
<li class="wikiUnorderedListItem"> Issue tracker is <a href="https://hibernate.onjira.com/browse/HSEARCH" target="" class="regularLink">JIRA</a>; bug reports are welcome, especially those providing patches and/or tests.</li>
<li class="wikiUnorderedListItem"> Source code is on <a href="https://github.com/hibernate/hibernate-search" target="" class="regularLink">GitHub</a>, pull requests welcome.</li>
</ul>

</div>
