---
title: "JBoss Community Recognition Awards: Voting ends tomorrow!"
author: "Sanne Grinovero"
creation_date: "25-07-2013"
blogger_name: "Sanne"
layout: blog-post
tags: [Hibernate,Hibernate Search,News]
slug: JBossCommunityRecognitionAwardsVotingEndsTomorrow
lace: http://in.relation.to/24322.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The voting for the JBoss Community Recognition Awards 2013 ends tomorrow; if you haven't done it yet please <a href="https://www.jboss.org/jbcra/vote" target="" class="regularLink">vote for our contributors</a>.
</p>

<p class="wikiPara">
Among other amazing contributors, some have done amazing work on Hibernate projects and we think they deserve a special recognition: 
</p>


<h2 class="wikiHeadline2" id="H-GuillaumeSmet"><a href="/Bloggers/JBossCommunityRecognitionAwardsVotingEndsTomorrow#H-GuillaumeSmet">Guillaume Smet</a></h2>
<p class="wikiPara">
Guillaume Smet has been thoroughly testing Hibernate Search, and providing many critical fixes. His contributions have been priceless and he also regularly contributes to the mailing list with great advice. Not least, he motivates us all to put the quality bar higher at every release.
</p>

<h2 class="wikiHeadline2" id="H-UkaszAntoniak"><a href="/Bloggers/JBossCommunityRecognitionAwardsVotingEndsTomorrow#H-UkaszAntoniak">Łukasz Antoniak</a></h2>
<p class="wikiPara">
Łukasz is always willing to dig in and tackle difficult issues spanning a <i class="wikiEmphasis">wide</i> breadth of topics -- especially ones outside the scope of his typical expertise. His help in resolving many issues in the Hibernate database testing matrix really illustrates how reliably amazingly his contributions have been. These were mostly databases where we could not offer him the greatest tooling (often not even database access to databases being tested).  Those were contributions that directly affected Hibernate and EAP timelines in very positive ways. And all of that in addition to maintaining Envers...
</p>

<h2 class="wikiHeadline2" id="H-GuillaumeScheibel"><a href="/Bloggers/JBossCommunityRecognitionAwardsVotingEndsTomorrow#H-GuillaumeScheibel">Guillaume Scheibel</a></h2>
<p class="wikiPara">
Guillaume Scheibel looks like a full time Hibernate team member. He has been leading the development for the MongoDB GridDialect for Hibernate OGM, developed most of it himself, and participates in design decisions. The need for Hibernate OGM to have a MongoDB/Infinispan integration to complete query support was reason enough for him to implement one and contribute it to Infinispan. Not least, he presented the project at JUG events!
</p>

<h2 class="wikiHeadline2" id="H-NicolasHelleringer"><a href="/Bloggers/JBossCommunityRecognitionAwardsVotingEndsTomorrow#H-NicolasHelleringer">Nicolas Helleringer</a></h2>
<p class="wikiPara">
Nicolas proposed a great new feature to the Hibernate Search project: spatial queries and proximity filtering. He lead the design of it in the most collaborative way with the team, donated his expertise in spatial coordinates handling, spent months to implement it and polish it considering feedback from the whole community, and a year later is still actively helping new users with it, improving documentation and taking ownership of bug reports.
</p>

<h2 class="wikiHeadline2" id="H-TimWard"><a href="/Bloggers/JBossCommunityRecognitionAwardsVotingEndsTomorrow#H-TimWard">Tim Ward</a></h2>
<p class="wikiPara">
Tim's expertise, help, advice and support were instrumental in getting OSGi support into Hibernate. As an Apache Aries PMC member and Enterprise OSGi advocate, Tim has a wealth of knowledge; but his patience and knack for doing a <i class="wikiEmphasis">great</i> job at explaining the concepts were what made him truly amazing to work with. 
 
Without Tim's help OSGi support in Hibernate would still be a talking point rather than an implemented reality.</p>
</div>
