---
title: "Hibernate Search pushes forward: 4.3.0.CR1 already"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "28-05-2013"
tags: [Hibernate Search,News]

relative_url: /2013/05/28/HibernateSearchPushesForward430CR1Already
slug: HibernateSearchPushesForward430CR1Already
lace: http://in.relation.to/24241.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/05/28/HibernateSearchPushesForward430CR1Already
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
After a week from publishing Hibernate Search 4.3.0.Beta1 with its <a href="http://in.relation.to/Bloggers/HibernateSearch430Beta1ReleasedMoreNearRealTimeThanEver" target="" class="regularLink">great performance improvements</a> we're feeling it is actually solid enough to move quickly towards a release, so here you have...
</p>

<h1 class="wikiHeadline1" id="H-HibernateSearch430CR1IsReleased"><a href="/2013/05/28/HibernateSearchPushesForward430CR1Already#H-HibernateSearch430CR1IsReleased">Hibernate Search 4.3.0.CR1 is released</a></h1>
<p class="wikiPara">
now available both in Maven repositories and from <a href="https://sourceforge.net/projects/hibernate/files/hibernate-search/4.3.0.CR1/" target="" class="regularLink">Sourceforge</a>. No significant changes where made to the codebase.
</p>

<h1 class="wikiHeadline1" id="H-Roadmap"><a href="/2013/05/28/HibernateSearchPushesForward430CR1Already#H-Roadmap">Roadmap</a></h1>
<p class="wikiPara">
In case you're wondering about this new release pace or would like more insight, or provide some suggestions, we've published a <a href="https://community.jboss.org/wiki/HibernateSearchRoadmap" target="" class="regularLink">temptative roadmap on the wiki</a>. As always feedback is welcome on the <a href="http://www.hibernate.org/community/mailinglists" target="" class="regularLink">Mailing Lists</a> or on <a href="http://www.hibernate.org/community/irc" target="" class="regularLink">IRC</a>: you can have an impact on the roadmap.
</p>

<h3 class="wikiHeadline3" id="H-TheUsualLinks"><a href="/2013/05/28/HibernateSearchPushesForward430CR1Already#H-TheUsualLinks">The usual links</a></h3>
<p class="wikiPara">
Please report any issue on <a href="https://hibernate.atlassian.net/browse/HSEARCH" target="" class="regularLink">JIRA</a>, and feel free to fork the source from <a href="https://github.com/hibernate/hibernate-search" target="" class="regularLink">GitHub</a>. If you need some advice you can ask on <a href="https://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">the forums</a>.
</p>
</div>

