---
title: "Hibernate Search 4.3.0.Final was spotted in Boston"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "11-06-2013"
original_tags: [Hibernate Search,News,event]
tags: [Events,Hibernate Search]

relative_url: /2013/06/11/hibernate-search-430-final-was-spotted-in-boston
slug: hibernate-search-430-final-was-spotted-in-boston
lace: http://in.relation.to/24257.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/06/11/hibernate-search-430-final-was-spotted-in-boston
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We're in Boston for <a href="http://www.jboss.org/events/JUDCon/2013/unitedstates/" target="" class="regularLink">JUDCon</a> and <a href="http://www.redhat.com/summit/" target="" class="regularLink">Red Hat Summit</a>; Emmanuel is on stage coding live a nice new demo using  Hibernate Search to combine full-text with geographic filtering. It will be contributed to <a href="http://www.jboss.org/jdf/" target="" class="regularLink">JDF</a> quickstarts but you can already <a href="https://github.com/jboss-jdf/ticket-monster/tree/hibernate-search" target="" class="regularLink">get the sources</a>.
</p>

<h3 class="wikiHeadline3" id="H-HesUsingHibernateSearch430Final"><a href="/2013/06/11/hibernate-search-430-final-was-spotted-in-boston#H-HesUsingHibernateSearch430Final">He's using Hibernate Search 4.3.0.Final!</a></h3>
<p class="wikiPara">
That's right it's released and available as usual from <a href="https://sourceforge.net/projects/hibernate/files/hibernate-search/4.3.0.Final/" target="" class="regularLink">Sourceforge</a> or via <a href="http://www.hibernate.org/subprojects/search/download.html" target="" class="regularLink">Maven</a>, and will be available in <a href="http://www.redhat.com/products/jbossenterprisemiddleware/web-framework-kit/" target="" class="regularLink">WFK 2.3</a> with professional support. Let's recap what is most interesting in this release:
</p>

<h4 class="wikiHeadline4" id="H-ImprovedJGroupsSupport"><a href="/2013/06/11/hibernate-search-430-final-was-spotted-in-boston#H-ImprovedJGroupsSupport">Improved JGroups support</a></h4>
<p class="wikiPara">
The JGroups backend was <a href="http://in.relation.to/2013/04/22/hibernate-search-43-simplify-clustering-andjboss-eap-61-integrations" target="" class="regularLink">refactored</a> and also introduced an option to use it as a synchronous backend.
</p>

<h4 class="wikiHeadline4" id="H-ModulesCreatedForJBossEAPOrWildFly"><a href="/2013/06/11/hibernate-search-430-final-was-spotted-in-boston#H-ModulesCreatedForJBossEAPOrWildFly">Modules created for JBoss EAP or WildFly</a></h4>
<p class="wikiPara">
It is now possible to not include the Hibernate Search jars in your application but add it as a set of Modules to the application server. Details for this deployment can be found in <a href="http://docs.jboss.org/hibernate/search/4.3/reference/en-US/html_single/#search-configuration-deploy-on-AS7" target="" class="regularLink">the new chapter in the reference documentation</a>. Of course you can still include the jars in your applications if you prefer that.
</p>

<h4 class="wikiHeadline4" id="H-VerySignificantPerformanceImprovementsInTheNearRealTimeBackend"><a href="/2013/06/11/hibernate-search-430-final-was-spotted-in-boston#H-VerySignificantPerformanceImprovementsInTheNearRealTimeBackend">Very significant performance improvements in the Near-Real-Time backend</a></h4>
<p class="wikiPara">
While fixing a bug in the NRT backend we also found an opportunity for a great performance improvement. I posted some figures on a <a href="http://in.relation.to/2013/05/25/hibernate-search-430-beta-1-released-more-near-real-time-than-ever" target="" class="regularLink">previous blog post</a>.
</p>

<h4 class="wikiHeadline4" id="H-SpatialImproved"><a href="/2013/06/11/hibernate-search-430-final-was-spotted-in-boston#H-SpatialImproved">Spatial improved</a></h4>
<p class="wikiPara">
The API was made more consistent, the documentation got some love: no big highlights but we got some nice polishing all around.
</p>

<h4 class="wikiHeadline4" id="H-UpdatedComponents"><a href="/2013/06/11/hibernate-search-430-final-was-spotted-in-boston#H-UpdatedComponents">Updated components</a></h4>
<p class="wikiPara">
All dependencies where updated; in particular we took care to be compatible with latest JBoss EAP 6.1 release and its associated versions of Infinispan and JGroups.
</p>

<p class="wikiPara">
The complete list of changes can be found on <a href="https://hibernate.atlassian.net/secure/ReleaseNote.jspa?version=12450&amp;styleName=Text&amp;projectId=10061" target="" class="regularLink">the JIRA release notes</a>.
</p>

<h3 class="wikiHeadline3" id="H-GetInTouch"><a href="/2013/06/11/hibernate-search-430-final-was-spotted-in-boston#H-GetInTouch">Get in touch</a></h3>
<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> on the <a href="https://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">forums</a> or on <a href="http://hibernate.org/community" target="" class="regularLink">the mailing list</a>, or join us for a chat on <a href="http://hibernate.org/community" target="" class="regularLink">IRC</a>
</li>
<li class="wikiUnorderedListItem"> the issue tracker is <a href="https://hibernate.atlassian.net/browse/HSEARCH" target="" class="regularLink">JIRA</a> and all code is on <a href="https://github.com/hibernate/hibernate-search" target="" class="regularLink">GitHub</a>
</li>
<li class="wikiUnorderedListItem"> send us an email or a tweet to let us know what cool things you're doing with it!</li>
</ul>

<h3 class="wikiHeadline3" id="H-WhatsNext"><a href="/2013/06/11/hibernate-search-430-final-was-spotted-in-boston#H-WhatsNext">What's next?</a></h3>
<p class="wikiPara">
Patches for Hibernate Search 4.4 have been merged already, an partially on 5.0 which is finally going to support Lucene 4. More details are shared on <a href="https://community.jboss.org/wiki/HibernateSearchRoadmap" target="" class="regularLink">The Roadmap</a>.
</p>
</div>

