---
title: "Hibernate Search 4.3: simplify clustering and JBoss EAP 6.1 integrations"
author: "Sanne Grinovero"
creation_date: "22-04-2013"
blogger_name: "Sanne"
layout: blog-post
tags: [Hibernate Search,News]
slug: HibernateSearch43SimplifyClusteringAndJBossEAP61Integrations
lace: http://in.relation.to/24129.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The Hibernate Search 4.3 iteration reached its first milestone: version 4.3.0.Alpha1 is now available for download from <a href="https://sourceforge.net/projects/hibernate/files/hibernate-search/4.3.0.Alpha1/" target="" class="regularLink">Sourceforge.net</a> and Maven repositories.
</p>

<p class="wikiPara">
The theme for the 4.3 development cycle is clustering: we want to make it better, faster and easier to setup multiple nodes using Hibernate Search in both traditional bare-metal clusters and clouds. For now we're focusing on JGroups and Infinispan integrations but other contributions in the area are very welcome.
</p>

<h2 class="wikiHeadline2" id="H-JGroupsBackend"><a href="/Bloggers/HibernateSearch43SimplifyClusteringAndJBossEAP61Integrations#H-JGroupsBackend">JGroups backend</a></h2>

<p class="wikiPara">
Besides some minor bugfixes and improved logging messages, the big news is automatic master election.
</p>

<p class="wikiPara">
Rather than having to setup some <u>jgroupsSlave</u> instances and a single <u>jgroupsMaster</u> instance with different configurations, you can now simply specify <u>jgroups</u> as backend on all your instances and they will elect a single master.
The main benefit of this new feature is that when a master fails, it can automatically elect a new one; beware though the failover approach is still experimental and it won't - for one - cleanup stale locks the dead master could have left behind.
</p>

<pre class="wikiPreformatted">
### backend configuration
hibernate.search.default.worker.backend = jgroups
</pre>

<p class="wikiPara">
Also we introduced some more configuration options for the power user: see <a href="http://docs.jboss.org/hibernate/search/4.3/reference/en-US/html_single/#jgroups-backend" target="" class="regularLink">the reference documentation</a> for all details.
</p>

<h2 class="wikiHeadline2" id="H-UpdatedJBossModules"><a href="/Bloggers/HibernateSearch43SimplifyClusteringAndJBossEAP61Integrations#H-UpdatedJBossModules">Updated JBoss modules</a></h2>

<p class="wikiPara">
The JBoss Modules where updated to match JBoss EAP 6.1 and JBoss AS 7.2 (<a href="http://wildfly.org/" target="" class="regularLink">now renamed WildFly</a>), and now also include the <a href="https://docs.jboss.org/author/display/ISPN/Infinispan+as+a+storage+for+Lucene+indexes" target="" class="regularLink">Infinispan Directory</a> for easy usage of Infinispan when deploying in the application server.
</p>

<p class="wikiPara">
The modules are availalble as a zip in Maven repositories, or can be downloaded from <a href="https://sourceforge.net/projects/hibernate/files/hibernate-search/4.3.0.Alpha1/" target="" class="regularLink">Sourceforge.net</a>; more on how to use it is described in <a href="http://docs.jboss.org/hibernate/search/4.3/reference/en-US/html_single/#search-configuration-deploy-on-AS7" target="" class="regularLink">this section of the documentation</a>.
</p>

<h2 class="wikiHeadline2" id="H-ComponentsUpgraded"><a href="/Bloggers/HibernateSearch43SimplifyClusteringAndJBossEAP61Integrations#H-ComponentsUpgraded">Components upgraded</a></h2>

<p class="wikiPara">
Many dependencies where upgraded, and integration points are now expecting the following versions:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">JBoss EAP 6.1</li>
<li class="wikiUnorderedListItem">Hibernate ORM 4.2.x</li>
<li class="wikiUnorderedListItem">JGroups 3.2.x</li>
<li class="wikiUnorderedListItem">Infinispan 5.2.x</li>
<li class="wikiUnorderedListItem">Lucene 3.6.x (this didn't actually change compared to Hibernate Search 4.2 but it's good to remind the version)</li>
</ul>

<h2 class="wikiHeadline2" id="H-WhatsNext"><a href="/Bloggers/HibernateSearch43SimplifyClusteringAndJBossEAP61Integrations#H-WhatsNext">What's next?</a></h2>

<p class="wikiPara">
In the next few weeks we will be working on better Infinispan integration: easier setup and more configuration examples. Also we have some open tasks about Spatial queries, especially the API needs some polishing.
</p>

<p class="wikiPara">
The complete list of changes can be found on <a href="https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10061&amp;version=13250" target="" class="regularLink">the JIRA release notes</a>.
</p>

<h2 class="wikiHeadline2" id="H-LinksRecap"><a href="/Bloggers/HibernateSearch43SimplifyClusteringAndJBossEAP61Integrations#H-LinksRecap">Links recap:</a></h2>
<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Download it from <a href="https://sourceforge.net/projects/hibernate/files/hibernate-search/4.3.0.Alpha1/" target="" class="regularLink">Sourceforge</a> or via <a href="http://www.hibernate.org/subprojects/search/download.html" target="" class="regularLink">Maven</a>
</li>
<li class="wikiUnorderedListItem"> Get in touch on the <a href="https://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">forums</a> or on <a href="http://hibernate.org/community" target="" class="regularLink">the mailing list</a>, or join us for a chat on <a href="http://hibernate.org/community" target="" class="regularLink">IRC</a>
</li>
<li class="wikiUnorderedListItem"> The issue tracker is <a href="https://hibernate.atlassian.net/browse/HSEARCH" target="" class="regularLink">JIRA</a> and all code is on <a href="https://github.com/hibernate/hibernate-search" target="" class="regularLink">GitHub</a>
</li>
</ul>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'HibernateSearch43SimplifyClusteringAndJBossEAP61Integrations';
    var disqus_title = 'Hibernate Search 4.3: simplify clustering and JBoss EAP 6.1 integrations';
    var disqus_url = 'http://in.relation.to/24129.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
