---
title: "Hibernate Search 4.4.0.Alpha2: the fasting before the cheese"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "19-09-2013"
tags: [Hibernate,Hibernate Search]

absolute_url: http://in.relation.to/2013/09/19/HibernateSearch440Alpha2TheFastingBeforeTheCheese
lace: http://in.relation.to/24371.lace
slug: HibernateSearch440Alpha2TheFastingBeforeTheCheese

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
This 4.4.0.Alpha2 release might look like quite boring to end users as there apparently are no exciting new features.
</p>

<h2 class="wikiHeadline2" id="H-SoWhyBotherReleasing"><a href="/Bloggers/HibernateSearch440Alpha2TheFastingBeforeTheCheese#H-SoWhyBotherReleasing">So why bother releasing?</a></h2>
<p class="wikiPara">
Of course we made some small bugfixes. Some code looks better. Some dependencies had minor upgrades. Some small performance improvements might be experienced... in exotic situations.
For details, see <a href="https://hibernate.atlassian.net/secure/ReleaseNote.jspa?version=14450&amp;projectId=10061" target="" class="regularLink">the changelog on JIRA</a>.
</p>

<p class="wikiPara">
The real reason is timing: our friends from the <a href="http://infinispan.org/" target="" class="regularLink">Infinispan team</a> are building some really cool features which require some of these changes. Also, Alpha1 is several weeks old already so it was about time to wrap up all those minor improvements in a fresh tag.
</p>

<blockquote class="wikiBlockquote">
The early bird gets the worm, but the second mouse gets the cheese.
</blockquote>
<p class="wikiPara">
- Willie Nelson (rumored)
</p>

<h2 class="wikiHeadline2" id="H-WhatsInItForMe"><a href="/Bloggers/HibernateSearch440Alpha2TheFastingBeforeTheCheese#H-WhatsInItForMe">What's in it for me?</a></h2>
<p class="wikiPara">
An easy upgrade with minimal risk: some of the minor bugfixes might be worth it. Help testing this sooner: we have some big cheeses coming :-)
</p>

<h2 class="wikiHeadline2" id="H-WhyIsThisAlpha"><a href="/Bloggers/HibernateSearch440Alpha2TheFastingBeforeTheCheese#H-WhyIsThisAlpha">Why is this Alpha?</a></h2>
<p class="wikiPara">
We start with betas when we're mostly feature complete, and there still are some very cool features planned for the Hibernate Search 4.4 series.
</p>

<p class="wikiPara">
Also a quite notable reason: this version <u>is not compatible with Hibernate ORM 4.3</u>. Several compatibility improvements where made, but we're not there yet; we hope in your forgiveness considering ORM 4.3 isn't final yet either.
</p>

<h3 class="wikiHeadline3" id="H-TheUsualLinks"><a href="/Bloggers/HibernateSearch440Alpha2TheFastingBeforeTheCheese#H-TheUsualLinks">The usual links</a></h3>
<p class="wikiPara">
Please report any issue on <a href="https://hibernate.atlassian.net/browse/HSEARCH" target="" class="regularLink">JIRA</a>, and feel free to fork the source from <a href="https://github.com/hibernate/hibernate-search" target="" class="regularLink">GitHub</a>. If you need some advice you can ask on <a href="https://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">the forums</a>.
</p>

</div>
