---
title: "Five talks and more in India"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "30-01-2013"
tags: [Hibernate OGM,Hibernate Search,Infinispan,event]

relative_url: /2013/01/30/five-talks-and-more-in-india
slug: five-talks-and-more-in-india
lace: http://in.relation.to/23919.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/01/30/five-talks-and-more-in-india
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Past week I returned from my trip to Bengaluru, where we had one of our great developers conferences.
</p>

<h2 class="wikiHeadline2" id="H-JUDConIndia2013"><a href="/2013/01/30/five-talks-and-more-in-india#H-JUDConIndia2013">JUDCon India 2013</a></h2>

<p class="wikiPara">
As always at these events the best part was the people attending: a good mix of new users and experts, but all having in common a very healthy curiosity and not intimidated at all, so proposing a terrific amount of questions, discussions and for my long trip home a lot of things to think about.
</p>

<h2 class="wikiHeadline2" id="H-Presentations"><a href="/2013/01/30/five-talks-and-more-in-india#H-Presentations">Presentations</a></h2>

<p class="wikiPara">
I had the honor to present several topics:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Hibernate Search: queries for Hibernate and Infinispan</li>
<li class="wikiUnorderedListItem"> Infinispan in 50 minutes</li>
<li class="wikiUnorderedListItem"> Cross data center replication with Infinispan</li>
<li class="wikiUnorderedListItem"> Measuring performance and capacity planning for Data Grids</li>
<li class="wikiUnorderedListItem"> Participating on the JBoss experts panel</li>
</ul>

<p class="wikiPara">
The talk about Hibernate Search was a last minute addition: by shuffling the agenda a bit we could insert the additional subject and given the amount of nice feedback I'm happy we did.
</p>

<h2 class="wikiHeadline2" id="H-TheBigDenormalizationProblem"><a href="/2013/01/30/five-talks-and-more-in-india#H-TheBigDenormalizationProblem">The big denormalization problem</a></h2>

<p class="wikiPara">
An expert Hibernate Search user asked me what would happen when having a domain model connecting User types to Addresses, when you have many Users and the city name changes. He actually knew what would happen, but was looking for alternatives to compensate for the problem; since Lucene requires denormalization, all User instances in the Lucene index need to be updated, triggering a reload of all Users living in the particular city. Yes that might be a problem! But that is not something happening frequently in model schemas right? I stated that in this example, it would take a city to change name! Well that caused a good amount of laugher as <i class="wikiEmphasis">Bangalore</i> just changed it's official name to the old traditional <i class="wikiEmphasis">Bengaluru</i>.. so since they where using Hibernate Search and this was an unexpected behaviour when the city changed name - having more than 8 million inhabitants - the public registry had some servers working very hard!
</p>

<p class="wikiPara">
Obviously this needed specific testing and possibly better warnings from out part. Such problems are a natural consequence of denormalization and need to be addressed with ad-hoc solutions; in this case I'd suggest using a <i class="wikiEmphasis">synonym</i> and register the two names as <q>same</q> in the context of searching by configuring the Synonym support in the used <i class="wikiEmphasis">Analyzer</i>: the city name would need a single record change in the database and no reindexing would be needed.
</p>

<h2 class="wikiHeadline2" id="H-HibernateOGM"><a href="/2013/01/30/five-talks-and-more-in-india#H-HibernateOGM">Hibernate OGM</a></h2>

<p class="wikiPara">
While I'm part of the OGM team, I had no need to talk about OGM as well because there where other speakers on the subject already. I greatly enjoyed listening to the other presentors, Ramya Subash and Shekhar Gulati: they where extremely well prepared and even with the most complex questions there was no need for me to help out.
</p>

<p class="wikiPara">
To all attending and especially all those I've been talking to, thank you so much it was very interesting and I very much appreciate all the feedback. As always feel free to get more questions flowing on our <a href="https://forum.hibernate.org/index.php" target="" class="regularLink">Hibernate forums</a> or <a href="https://community.jboss.org/en/infinispan?view=discussions" target="" class="regularLink">Infinispan forum</a>, and you're all welcome to participate more by sending tests or patches.
</p>



</div>

