---
title: "Hibernate Search: weekend releases from both maintenance branches"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "15-12-2013"
tags: [Hibernate,Hibernate Search]

relative_url: /2013/12/15/hibernate-search-weekend-releases-from-both-maintenance-branches
slug: hibernate-search-weekend-releases-from-both-maintenance-branches
lace: http://in.relation.to/24662.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/12/15/hibernate-search-weekend-releases-from-both-maintenance-branches
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
While the team is working on master we're keeping an eye on the other two actively maintained branches:
</p>

<h2 class="wikiHeadline2" id="H-ReleasedHibernateSearch442Final"><a href="/2013/12/15/hibernate-search-weekend-releases-from-both-maintenance-branches#H-ReleasedHibernateSearch442Final">Released Hibernate Search 4.4.2.Final</a></h2>
<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> from stable branch 4.4.x</li>
<li class="wikiUnorderedListItem"> to be used with Hibernate ORM 4.2.x (and JPA 2.0, JBoss AS 7.2)</li>
</ul>

<h2 class="wikiHeadline2" id="H-ReleasedHibernateSearch450Alpha2"><a href="/2013/12/15/hibernate-search-weekend-releases-from-both-maintenance-branches#H-ReleasedHibernateSearch450Alpha2">Released Hibernate Search 4.5.0.Alpha2</a></h2>
<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> from development branch 4.5.x</li>
<li class="wikiUnorderedListItem"> to be used with Hibernate ORM 4.3.x (and JPA 2.1, WildFly 8)</li>
</ul>

<h1 class="wikiHeadline1" id="H-BugfixRelease"><a href="/2013/12/15/hibernate-search-weekend-releases-from-both-maintenance-branches#H-BugfixRelease">Bugfix release</a></h1>
<p class="wikiPara">
Both branches where released to address a single bugfix.
The problem was in the processing of @IndexedEmbedded relations, specifically in the depth computation in relation with attributes <u>depth</u> and <u>includePaths</u>. Yoann Rodière from OpenWide sent a fix, so we decided to make it immediately available to all users as this could be a blocker for some.
For more details see <a href="https://hibernate.atlassian.net/browse/HSEARCH-1442" target="" class="regularLink">HSEARCH-1442</a>. Thanks Yoann!
</p>

<h1 class="wikiHeadline1" id="H-HibernateORM43JPA21Compatibility"><a href="/2013/12/15/hibernate-search-weekend-releases-from-both-maintenance-branches#H-HibernateORM43JPA21Compatibility">Hibernate ORM 4.3 (JPA 2.1) compatibility</a></h1>
<p class="wikiPara">
This Hibernate Search 4.5.0.Alpha2 release was tested and built against Hibernate ORM 4.3.0.CR2, which is expected to be re-released as the first stable version of Hibernate ORM 4.3. So remember: if you plan to play with the new cool features from the JPA 2.1 spec, you will need to use this version of Hibernate Search (older versions are not compatible with Hibernate ORM 4.3).
</p>

<h1 class="wikiHeadline1" id="H-UsefulLinks"><a href="/2013/12/15/hibernate-search-weekend-releases-from-both-maintenance-branches#H-UsefulLinks">Useful links</a></h1>
<p class="wikiPara">
We have a new website! It should be super easy to find all the needed links on the new downloads page: <a href="http://hibernate.org/search/downloads/" target="" class="regularLink">hibernate.org/search/downloads/</a>
</p>
</div>

