---
title: "London: Meet an Open Source Project"
author: "Sanne Grinovero"
creation_date: "23-07-2013"
blogger_name: "Sanne"
layout: blog-post
tags: [Event,Hibernate Search,London]
slug: LondonMeetAnOpenSourceProject
lace: http://in.relation.to/24320.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Tomorrow the London Java Community (LJC) meets for the monthly <q>Meet a Project</q> night. I'll be there again, this time to explain how to get started contributing to <i class="wikiEmphasis">Hibernate Search</i> and answer all the questions you might have about the mysterious world of open source professionals.
</p>

<h2 class="wikiHeadline2" id="H-ContributingToHibernate"><a href="/Bloggers/LondonMeetAnOpenSourceProject#H-ContributingToHibernate">Contributing to Hibernate</a></h2>
<p class="wikiPara">
I don't expect to need to explain what <i class="wikiEmphasis">Hibernate Search</i> is to the readers of this blog, but to clarify what it means in terms of CV and career opportunities, you get to learn and contribute to two very popular open source projects in one shot: <i class="wikiEmphasis">Apache Lucene</i> and <i class="wikiEmphasis">Hibernate</i>. Technically it's maintained under the <i class="wikiEmphasis">Hibernate</i> umbrella but you get very close to <i class="wikiEmphasis">Lucene</i>/<i class="wikiEmphasis">Solr</i> as well. And there are other cool projects being presented too: we do quick round-tables, so you'll get to talk face to face with many developers.
</p>

<h2 class="wikiHeadline2" id="H-FreeAsInBeer"><a href="/Bloggers/LondonMeetAnOpenSourceProject#H-FreeAsInBeer">Free as in Beer</a></h2>
<p class="wikiPara">
Anyone is welcome and <i class="wikiEmphasis">Red Hat</i> kindly sponsors with some refreshments, so you have an excuse to come and say hi even if you think you're not going to contribute any code: your suggestions and complaints over a drink are very welcome too. <q>Free as in Beer</q> is getting a new meaning:-)
</p>


<h2 class="wikiHeadline2" id="H-WhereAndWhen"><a href="/Bloggers/LondonMeetAnOpenSourceProject#H-WhereAndWhen">Where and When</a></h2>
<p class="wikiPara">
To register and find more details look at the <a href="http://www.meetup.com/Londonjavacommunity/events/126252202/" target="" class="regularLink">Meetup event page</a>.</p>
</div>
