---
title: "JBoss Developer Day in London"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "28-11-2013"
tags: [Events,Hibernate,Hibernate Search,Infinispan,event]

relative_url: /2013/11/28/JBossDeveloperDayInLondon
slug: JBossDeveloperDayInLondon
lace: http://in.relation.to/24587.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/11/28/JBossDeveloperDayInLondon
---
<div id="documentDisplay" class="documentDisplay">


<a href="http://www.redhatonline.com/london/jbossdeveloperday.php" target="_blank"><img src="http://www.redhatonline.com/london/img/jboss-day.png" align="right" hspace="20px" vspace="5px" height="174" width="474"></a>

<p class="wikiPara">
We'll have a full day dedicated to developers in London the 5th of December. It's a free event with an high concentration of technical people and passionate developers.
</p>

<h1 class="wikiHeadline1" id="H-InfinispanAmpHibernateIntegrations"><a href="/2013/11/28/JBossDeveloperDayInLondon#H-InfinispanAmpHibernateIntegrations">Infinispan &amp; Hibernate integrations</a></h1>
<p class="wikiPara">
I'll introduce you to several different integration strategies to make the most of both Hibernate and Infinispan, but I'll also be available to discuss technical questions for either project.
</p>

<h1 class="wikiHeadline1" id="H-ManyMoreInterestingTalks"><a href="/2013/11/28/JBossDeveloperDayInLondon#H-ManyMoreInterestingTalks">Many more interesting talks</a></h1>
<p class="wikiPara">
There are many interesting talks, covering cool subjects like the latest news in BRMS space, JBoss Fuse &amp; Camel, OpenShift, Arquillian and JBoss Tools, JBoss performance tuning, HTML5 built on JBoss... the full agenda can be found <a href="http://www.redhatonline.com/london/jbossdeveloperday.php" target="" class="regularLink">here</a>.
</p>

<h1 class="wikiHeadline1" id="H-GetInTouch"><a href="/2013/11/28/JBossDeveloperDayInLondon#H-GetInTouch">Get in touch</a></h1>
<p class="wikiPara">
As always myself and all my colleagues look forward for interactive sessions and lots of open discussions. Feel free to reach out to discuss anything related to the coolest technologies, in the sessions or after the talks.
</p>

<p class="wikiPara">
If you can make it, please <a href="http://www.redhatonline.com/london/register.php?date=jboss" target="" class="regularLink">register</a>, help me to advertise the event, and see you there.
</p>

<p class="wikiPara">
Sanne</p>
</div>

