---
title: "Hibernate Search 5.0.0 Candidate Release 1 spotted in the wild"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "09-12-2014"
tags: [Hibernate,Hibernate Search]

relative_url: /2014/12/09/HibernateSearch500CandidateRelease1SpottedInTheWild
slug: HibernateSearch500CandidateRelease1SpottedInTheWild
lace: http://in.relation.to/40742.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2014/12/09/HibernateSearch500CandidateRelease1SpottedInTheWild
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Version <i class="wikiEmphasis"><tt>5.0.0.CR1</tt></i> of Hibernate Search is now available.
</p>

<h3 class="wikiHeadline3" id="H-NumericFieldsBeingUsedByDefault"><a href="/2014/12/09/HibernateSearch500CandidateRelease1SpottedInTheWild#H-NumericFieldsBeingUsedByDefault">Numeric Field(s) being used by default</a></h3>

<p class="wikiPara">
If you don't specify any <i class="wikiEmphasis">FieldBridge</i> for your Numeric attributes, or Date or Calendar fields, now Hibernate Search will encode them by default using Lucene's specialized <i class="wikiEmphasis">NumericField</i> format. This format was available since long in both Lucene and Hibernate Search, but so far you had to explicitly enable it as Hibernate Search would - by default - stick to the backwards compatible format of transforming these types into keywords (strings).
The NumericField format is much more efficient to perform range queries - which we expect being common for these types.
</p>

<p class="wikiPara">
Remember that - unless you had explicit field configuration - this implies that you might need to fix how your queries are created. By using the Hibernate Search Query DSL you will get an exception to warn you if you try to force it using the wrong type. If you're using the Lucene API directly, make sure to check you're getting the results you expect.
</p>

<h3 class="wikiHeadline3" id="H-APIChanges"><a href="/2014/12/09/HibernateSearch500CandidateRelease1SpottedInTheWild#H-APIChanges">API changes</a></h3>

<p class="wikiPara">
I have no other major changes to report regarding our public API; however for power users and other frameworks integrating with Hibernate Search you might notice a significant reorganization of our SPI.
We've documented all relevant changes in the <a href="https://developer.jboss.org/wiki/HibernateSearchMigrationGuide#jive_content_id_Hibernate_Search_500CR1" target="" class="regularLink">Migration Guide</a>.
</p>


<p class="wikiPara">
The <i class="wikiEmphasis">final</i> release of version 5 will be released very soon, so please make sure you test this quickly.
Any comment is welcome on the <a href="http://www.hibernate.org/community/mailinglists" target="" class="regularLink">mailing list</a> or via <a href="http://www.hibernate.org/community/irc" target="" class="regularLink">IRC</a>.
</p>

<p class="wikiPara">
Sanne</p>
</div>

