---
title: "Maintenance releases for stable branches of Hibernate Search"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "11-04-2014"
tags: [Hibernate,Hibernate Search]

relative_url: /2014/04/11/MaintenanceReleasesForStableBranchesOfHibernateSearch
slug: MaintenanceReleasesForStableBranchesOfHibernateSearch
lace: http://in.relation.to/25267.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2014/04/11/MaintenanceReleasesForStableBranchesOfHibernateSearch
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Last night I uploaded two bugfix releases of Hibernate Search stable branches:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">4.4.3.Final (Hibernate ORM 4.2 and JPA 2.0 users, JBoss 7.2 and EAP6)</li>
<li class="wikiUnorderedListItem">4.5.1.Final (Hibernate ORM 4.3 and JPA 2.1 users, WildFly 8)</li>
</ul>

<p class="wikiPara">
They both contain several backported fixes, thanks to the excellent testing efforst of Guillaume Smet and Yoann Rodiere, who found very sophisticated issues and also helped with patches. I now added Yoann as committer too, congratulations!
</p>

<p class="wikiPara">
Details of fixes can be found in the <a href="https://github.com/hibernate/hibernate-search/blob/4.4.3.Final/changelog.txt#L4" target="" class="regularLink">4.4.3.Final changelog.txt</a> and <a href="https://github.com/hibernate/hibernate-search/blob/4.5.1.Final/changelog.txt#L4" target="" class="regularLink">4.5.1.Final changelog.txt</a>.
</p>

<p class="wikiPara">
Happy searching!</p>
</div>
