---
title: "The JBUG London event of next January is all about Hibernate Search (and pizza)"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "03-12-2014"
original_tags: [Hibernate,Hibernate Search,event,jbug,london]
tags: [Event,Hibernate Search]

relative_url: /2014/12/03/the-jbug-london-event-of-next-january-is-all-about-hibernate-search-and-pizza
slug: the-jbug-london-event-of-next-january-is-all-about-hibernate-search-and-pizza
lace: http://in.relation.to/39747.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2014/12/03/the-jbug-london-event-of-next-january-is-all-about-hibernate-search-and-pizza
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
If you are around in London the evening of the 14th of January, I would love to see you at our monthly JBUG event.
</p>

<p class="wikiPara">
We'll start the evening with an introduction to Hibernate Search, including basics of concepts from Apache Lucene, and then discuss the novelties you'll find in Hibernate Search 5.0, before discussing the more advanced features.
That should be interesting both for those of you already familiar with the technology, and for those who never heard of it and are now wondering how and if it could help you.
</p>

<p class="wikiPara">
The event will be at Skills Matters, organized by our partner C2B2, and after the demo we'll have plenty of time for pizza, beers and face to face discussions about all things Hibernate.
</p>

<p class="wikiPara">
Please find all venue details <a href="http://www.meetup.com/JBoss-User-Group/events/219038939/" target="" class="regularLink">on meetup.com</a> and don't forget to <a href="http://www.c2b2.co.uk/london_jbug_january_2015" target="" class="regularLink">register here</a>.</p>
</div>

