---
title: "Hibernate Search now requires Java7, brings OSGi and FieldBridge discovery"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "20-05-2014"
tags: [Hibernate,Hibernate Search]

relative_url: /2014/05/20/hibernate-search-now-requires-java-7-brings-os-gi-and-field-bridge-discovery
slug: hibernate-search-now-requires-java-7-brings-os-gi-and-field-bridge-discovery
lace: http://in.relation.to/25786.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2014/05/20/hibernate-search-now-requires-java-7-brings-os-gi-and-field-bridge-discovery
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Today we released yet another milestone for the Hibernate Search 5 train.
We worked in parallel on multiple fronts; the most notable changes are:
</p>


<h2 class="wikiHeadline2" id="H-OSGiSupportAPIChanges"><a href="/2014/05/20/hibernate-search-now-requires-java-7-brings-os-gi-and-field-bridge-discovery#H-OSGiSupportAPIChanges">OSGi support, API changes</a></h2>
<p class="wikiPara">
All our modules now provide OSGi metadata to make life easier for users running in OSGi containers. We also included an example features file and integration tests using Karaf.
</p>

<p class="wikiPara">
Keep in mind that Apache Lucene is not providing this same metadata, so it might be worth looking into <a href="https://github.com/hibernate/hibernate-search/blob/5.0.0.Alpha4/integrationtest/osgi/karaf-features/src/main/features/features.xml" target="" class="regularLink">the features file we use</a> to learn how the Lucene modules need to be wrapped.
</p>

<h3 class="wikiHeadline3" id="H-ClassRelocations"><a href="/2014/05/20/hibernate-search-now-requires-java-7-brings-os-gi-and-field-bridge-discovery#H-ClassRelocations">Class Relocations</a></h3>
<p class="wikiPara">
A consequence of being OSGi compliant is that we had to move some packages of well-known APIs; please see the <a href="https://community.jboss.org/wiki/HibernateSearchMigrationGuide#jive_content_id_Hibernate_Search_500Alpha4" target="" class="regularLink">migration guide</a> for all details.
</p>

<h2 class="wikiHeadline2" id="H-ApacheLucene481Java7NowRequired"><a href="/2014/05/20/hibernate-search-now-requires-java-7-brings-os-gi-and-field-bridge-discovery#H-ApacheLucene481Java7NowRequired">Apache Lucene 4.8.1, Java7 now required</a></h2>
<p class="wikiPara">
Apache Lucene requires Java7 since version 4.8 and we don't want you to miss out some of the great improvements it provides, or potential bugfixes in the near future so we now require Java7 too.
</p>

<p class="wikiPara">
Apache Lucene 4.8.1 was released today, so we could include it in this release too.
</p>

<h2 class="wikiHeadline2" id="H-BridgeProvidersLoadedByAutodiscovery"><a href="/2014/05/20/hibernate-search-now-requires-java-7-brings-os-gi-and-field-bridge-discovery#H-BridgeProvidersLoadedByAutodiscovery">Bridge Providers loaded by auto-discovery</a></h2>

<p class="wikiPara">
We always had a strong differentiation between FieldBridge(s) included in Hibernate Search, and custom (application provided) FieldBridges. From this release the discovery of <q>built-in</q> bridges uses the Service Loader pattern, so that we can move some bridge implementations to optional modules, and also eventually provide support for the new date/time types defined in Java8 but also by Joda Time, and potentially your own custom types but this will need some further refinement work.
</p>

<h2 class="wikiHeadline2" id="H-SeveralOtherImprovements"><a href="/2014/05/20/hibernate-search-now-requires-java-7-brings-os-gi-and-field-bridge-discovery#H-SeveralOtherImprovements">Several other improvements</a></h2>
<p class="wikiPara">
These won't make the headlines as a Java requirements change, still we have some more relevant news:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Infinispan upgraded to 7.0.0.Alpha4: now also requires Java7 and supports the distributed Lucene Directory for Apache Lucene 4.8</li>
<li class="wikiUnorderedListItem"> the needed Infinispan update implies using latest JGroups 3.5.0.Beta5</li>
<li class="wikiUnorderedListItem"> all our documentation was migrated to <a href="http://asciidoctor.org/" target="" class="regularLink">AsciiDoc </a>, it's now much easier to contribute to documentation!</li>
</ul>



<pre class="wikiPreformatted brush: xml">&lt;dependency&gt;
 &lt;groupId&gt;org.hibernate&lt;/groupId&gt;
 &lt;artifactId&gt;hibernate-search-orm&lt;/artifactId&gt;
 &lt;version&gt;5.0.0.Alpha4&lt;/version&gt;
&lt;/dependency&gt;
</pre>


<h2 class="wikiHeadline2" id="H-TheUsualLinks"><a href="/2014/05/20/hibernate-search-now-requires-java-7-brings-os-gi-and-field-bridge-discovery#H-TheUsualLinks">The usual links</a></h2>
<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://hibernate.org/search/downloads/" target="" class="regularLink">Downloads</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/hibernate/search/5.0/reference/en-US/html_single/" target="" class="regularLink">Documentation</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://community.jboss.org/wiki/HibernateSearchMigrationGuide#jive_content_id_Hibernate_Search_500Alpha4" target="" class="regularLink">Migration guide</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HSEARCH" target="" class="regularLink">JIRA</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">Forums</a>
</li>
</ul>
</div>

