---
title: "Yet another JPA 2.0 compatible release of Hibernate Search"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "29-08-2014"
tags: [Hibernate,Hibernate Search,News]

absolute_url: http://in.relation.to/2014/08/29/YetAnotherJPA20CompatibleReleaseOfHibernateSearch
lace: http://in.relation.to/29436.lace
slug: YetAnotherJPA20CompatibleReleaseOfHibernateSearch

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Back from holidays, before we resume the work on Hibernate Search 5 for those of you maintaining a mature project we released today a micro bugfix release: <i class="wikiEmphasis">4.4.4.Final</i>
</p>

<h2 class="wikiHeadline2" id="H-WhichVersionShouldIUse"><a href="/Bloggers/YetAnotherJPA20CompatibleReleaseOfHibernateSearch#H-WhichVersionShouldIUse">Which version should I use?</a></h2>

<p class="wikiPara">
Branch 4.4 is our Hibernate Search line for those using Hibernate 4.2.x aka JPA 2.0.
If you're using Hibernate ORM at version higher than 4.3.0 then you want our JPA 2.1 compatible version - as included in WildFly 8.1 : Hibernate Search 4.5.x
</p>

<p class="wikiPara">
For those starting new projects, wishing to help testing, or just interested in all the new power offered by Apache Lucene 4, you should try out our latest development version Hibernate Search 5.0.0.Alpha6
</p>

<h2 class="wikiHeadline2" id="H-JBossEAPUsersAndCustomers"><a href="/Bloggers/YetAnotherJPA20CompatibleReleaseOfHibernateSearch#H-JBossEAPUsersAndCustomers">JBoss EAP users and customers</a></h2>

<p class="wikiPara">
So this version 4.4.4.Final is compatible with the JBoss EAP 6.x line, but remember! If you have a JBoss EAP subscription you have access to the custom built version of Hibernate Search (included for free in the EAP subscription) which entitles you to premium support and more.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">If you're using Hibernate Search via this subscription, I would LOVE you could drop me a line, even confidentially if you need so: by giving it away for free we're unable to track its usage and I need some data to justify team expansion options, so this could significantly help improve your free software.</i>
</p>

<h2 class="wikiHeadline2" id="H-WhatsNew"><a href="/Bloggers/YetAnotherJPA20CompatibleReleaseOfHibernateSearch#H-WhatsNew">What's new</a></h2>

<p class="wikiPara">
Just one but important fix: a conconcurrency issue which you could hit if you're having high load while performing write operations out of transactions. If you recognize a pattern you might be using, you want to upgrade to avoid missing some index updates.
</p>

<p class="wikiPara">
Special thanks to Yoann Gendre for identifying the problem and providing a test for it!
</p>

<h2 class="wikiHeadline2" id="H-TheUsualLinks"><a href="/Bloggers/YetAnotherJPA20CompatibleReleaseOfHibernateSearch#H-TheUsualLinks">The usual links</a></h2>
<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://hibernate.org/search/downloads/" target="" class="regularLink">Downloads</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/hibernate/search/4.4/reference/en-US/html_single/" target="" class="regularLink">Documentation</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HSEARCH" target="" class="regularLink">JIRA</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">Forums</a>
</li>
</ul>
</div>
