---
title: "The JBUG London event of next January is all about Hibernate Search (and pizza)"
author: "Sanne Grinovero"
creation_date: "03-12-2014"
blogger_name: "Sanne"
layout: blog-post
tags: [Hibernate,Hibernate Search,event,jbug,london]
slug: TheJBUGLondonEventOfNextJanuaryIsAllAboutHibernateSearchAndPizza
lace: http://in.relation.to/39747.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
If you are around in London the evening of the 14th of January, I would love to see you at our monthly JBUG event.
</p>

<p class="wikiPara">
We'll start the evening with an introduction to Hibernate Search, including basics of concepts from Apache Lucene, and then discuss the novelties you'll find in Hibernate Search 5.0, before discussing the more advanced features.
That should be interesting both for those of you already familiar with the technology, and for those who never heard of it and are now wondering how and if it could help you.
</p>

<p class="wikiPara">
The event will be at Skills Matters, organized by our partner C2B2, and after the demo we'll have plenty of time for pizza, beers and face to face discussions about all things Hibernate.
</p>

<p class="wikiPara">
Please find all venue details <a href="http://www.meetup.com/JBoss-User-Group/events/219038939/" target="" class="regularLink">on meetup.com</a> and don't forget to <a href="http://www.c2b2.co.uk/london_jbug_january_2015" target="" class="regularLink">register here</a>.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'TheJBUGLondonEventOfNextJanuaryIsAllAboutHibernateSearchAndPizza';
    var disqus_title = 'The JBUG London event of next January is all about Hibernate Search (and pizza)';
    var disqus_url = 'http://in.relation.to/39747.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
