---
title: "WildFly 8 integration, JPA 2.1 ready: Hibernate Search 4.5.0.Final is here"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "29-01-2014"
tags: [Hibernate,Hibernate Search,OpenShift,WildFly]

absolute_url: http://in.relation.to/2014/01/29/WildFly8IntegrationJPA21ReadyHibernateSearch450FinalIsHere
lace: http://in.relation.to/24821.lace
slug: WildFly8IntegrationJPA21ReadyHibernateSearch450FinalIsHere

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate Search <i class="wikiEmphasis">4.5.0.Final</i> is available now.
</p>

<p class="wikiPara">
This minor release could be promoted quickly as we didn't include any new feature compared to the 4.4 series, other than to focus on compatibility with Hibernate ORM 4.3 and WildFly 8 (JPA 2.1 and JavaEE 7 respectively).
</p>

<h1 class="wikiHeadline1" id="H-WildFly8Integration"><a href="/Bloggers/WildFly8IntegrationJPA21ReadyHibernateSearch450FinalIsHere#H-WildFly8Integration">WildFly 8 Integration</a></h1>
<p class="wikiPara">
The WildFly application server will <u>include</u> this Hibernate Search version, making it even simpler to get started.
Our <a href="http://docs.jboss.org/hibernate/search/4.5/reference/en-US/html_single/#search-configuration-deploy-on-wildfly" target="" class="regularLink">documentation explains how to activate the module</a>, but this will be outdated soon!
</p>

<p class="wikiPara">
Essentially you need to either
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Add a line to the MANIFEST of your deployment</li>
</ul>

<p class="wikiPara">
or
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Declare the dependency in a <i class="wikiEmphasis">jboss-deployment-structure.xml</i> file included in your deployment</li>
</ul>

<p class="wikiPara">
The documentation still instructs to download the necessary modules, as that's required with WildFly 8.0.0.CR1, but this step should not be necessary in the final version of WildFly 8!
</p>

<p class="wikiPara">
Of course, we'll still provide the same modules in future so that you won't be limited to use the version included in WildFly exclusively, but will always have the option to choose a different version.
</p>

<h1 class="wikiHeadline1" id="H-OpenShiftUsers"><a href="/Bloggers/WildFly8IntegrationJPA21ReadyHibernateSearch450FinalIsHere#H-OpenShiftUsers">OpenShift users</a></h1>
<p class="wikiPara">
Since Hibernate Search is being included in WildFly 8, we're looking forward to it being available to all OpenShift users via the WildFly cartridge.
</p>

<h1 class="wikiHeadline1" id="H-WhyShouldYouUpgrade"><a href="/Bloggers/WildFly8IntegrationJPA21ReadyHibernateSearch450FinalIsHere#H-WhyShouldYouUpgrade">Why should you upgrade?</a></h1>
<p class="wikiPara">
To remind on all the good reasons to update, these are the most notable improvements of the 4.5 branch:
</p>

<h3 class="wikiHeadline3" id="H-JPA21Compatibility"><a href="/Bloggers/WildFly8IntegrationJPA21ReadyHibernateSearch450FinalIsHere#H-JPA21Compatibility">JPA 2.1 compatibility</a></h3>
<p class="wikiPara">
This Hibernate Search version is meant to work with Hibernate ORM 4.3.x series: our implementation for the JPA 2.1 standard, now included in WildFly 8.
</p>

<h3 class="wikiHeadline3" id="H-ImprovedPerformance"><a href="/Bloggers/WildFly8IntegrationJPA21ReadyHibernateSearch450FinalIsHere#H-ImprovedPerformance">Improved performance</a></h3>
<p class="wikiPara">
Both Hibernate ORM and Hibernate Search are getting leaner at each release, allowing you to make better usage of your memory.
</p>

<h3 class="wikiHeadline3" id="H-SimplifiedMassIndexer"><a href="/Bloggers/WildFly8IntegrationJPA21ReadyHibernateSearch450FinalIsHere#H-SimplifiedMassIndexer">Simplified MassIndexer</a></h3>
<p class="wikiPara">
The MassIndexer is now simpler to tune, and some problems related to lazy initialization exceptions where resolved.
</p>


<h2 class="wikiHeadline2" id="H-UsefulLinks"><a href="/Bloggers/WildFly8IntegrationJPA21ReadyHibernateSearch450FinalIsHere#H-UsefulLinks">Useful links</a></h2>
<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://hibernate.org/search/downloads/" target="" class="regularLink">Downloads</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://community.jboss.org/wiki/HibernateSearchMigrationGuide#jive_content_id_Hibernate_Search_45" target="" class="regularLink">Migration guide</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HSEARCH" target="" class="regularLink">JIRA</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">Forums</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/hibernate/search/4.5/reference/en-US/html_single/" target="" class="regularLink">Documentation</a>
</li>
</ul>

<pre class="wikiPreformatted brush: xml">&lt;dependency&gt;
 &lt;groupId&gt;org.hibernate&lt;/groupId&gt;
 &lt;artifactId&gt;hibernate-search-orm&lt;/artifactId&gt;
 &lt;version&gt;4.5.0.Final&lt;/version&gt;
&lt;/dependency&gt;
</pre>


<h2 class="wikiHeadline2" id="H-NextSteps"><a href="/Bloggers/WildFly8IntegrationJPA21ReadyHibernateSearch450FinalIsHere#H-NextSteps">Next steps</a></h2>
<p class="wikiPara">
We expect to start rolling out preview tags of Hibernate Search 5 very soon: this is going to be based on the highly requested Apache Lucene 4.
</p>

<p class="wikiPara">
Consequentially the 4.5 branch is from now on in maintenance mode, and will receive only critical fixes or as contributed by goodwilling users.
</p>

<p class="wikiPara">
See our <a href="http://hibernate.org/search/roadmap/" target="" class="regularLink">Roadmap</a> for an overview of the plan, and don't hesitate to send suggestions our way!</p>
</div>
