---
title: "More performance improvements in Hibernate Search 5.0.0.Beta3"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "21-11-2014"
tags: [Hibernate,Hibernate Search,News]

relative_url: /2014/11/21/MorePerformanceImprovementsInHibernateSearch500Beta3
slug: MorePerformanceImprovementsInHibernateSearch500Beta3
lace: http://in.relation.to/38097.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2014/11/21/MorePerformanceImprovementsInHibernateSearch500Beta3
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
You can now upgrade to Version <i class="wikiEmphasis"><tt>5.0.0.Beta3</tt></i> of Hibernate Search, and benefit from the following improvements:
</p>

<h3 class="wikiHeadline3" id="H-IndexingPerformance"><a href="/2014/11/21/MorePerformanceImprovementsInHibernateSearch500Beta3#H-IndexingPerformance">Indexing Performance</a></h3>

<p class="wikiPara">
We did some further polishing of the shiny new backend improvements introduced by last week. I would be really happy to get some feedback on this, as you should be able to get a very significant performance boost on index writing - whatever the storage technology you're using. We're preparing some large scale tests, but the environments we can test on are limited so I'd be happy if you could send us a note on what your experience with it looks like.
</p>

<p class="wikiPara">
The new design should have a significant improvement in throughput, but also requires less locking, needs less threads and will result into less pressure on GC as it has a lower allocation rate.
</p>

<h3 class="wikiHeadline3" id="H-JDK9Compatibility"><a href="/2014/11/21/MorePerformanceImprovementsInHibernateSearch500Beta3#H-JDK9Compatibility">JDK9 compatibility</a></h3>

<p class="wikiPara">
We now have continuous integration running for Java 9 (preview builds) running as well. Except the OSGi integration tests running in Apache Karaf, everything else seems to work fine.
</p>

<h3 class="wikiHeadline3" id="H-APIChanges"><a href="/2014/11/21/MorePerformanceImprovementsInHibernateSearch500Beta3#H-APIChanges">API changes</a></h3>

<p class="wikiPara">
We're now polishing the API, and it's possible that this might be the last Beta. Two very frequently used interfaces were renamed; please don't miss the <a href="https://developer.jboss.org/wiki/HibernateSearchMigrationGuide#jive_content_id_Hibernate_Search_500Beta3" target="" class="regularLink">Migration Guide</a>.
</p>


<p class="wikiPara">
As always, looking forward for your experience with it! ideas and suggestions on the <a href="http://www.hibernate.org/community/mailinglists" target="" class="regularLink">mailing list</a> or via <a href="http://www.hibernate.org/community/irc" target="" class="regularLink">IRC</a>.
</p>

<p class="wikiPara">
Sanne</p>
</div>

