---
title: "Maintenance releases for stable branches of Hibernate Search"
author: "Sanne Grinovero"
creation_date: "11-04-2014"
blogger_name: "Sanne"
layout: blog-post
tags: [Hibernate,Hibernate Search]
slug: MaintenanceReleasesForStableBranchesOfHibernateSearch
lace: http://in.relation.to/25267.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Last night I uploaded two bugfix releases of Hibernate Search stable branches:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">4.4.3.Final (Hibernate ORM 4.2 and JPA 2.0 users, JBoss 7.2 and EAP6)</li>
<li class="wikiUnorderedListItem">4.5.1.Final (Hibernate ORM 4.3 and JPA 2.1 users, WildFly 8)</li>
</ul>

<p class="wikiPara">
They both contain several backported fixes, thanks to the excellent testing efforst of Guillaume Smet and Yoann Rodiere, who found very sophisticated issues and also helped with patches. I now added Yoann as committer too, congratulations!
</p>

<p class="wikiPara">
Details of fixes can be found in the <a href="https://github.com/hibernate/hibernate-search/blob/4.4.3.Final/changelog.txt#L4" target="" class="regularLink">4.4.3.Final changelog.txt</a> and <a href="https://github.com/hibernate/hibernate-search/blob/4.5.1.Final/changelog.txt#L4" target="" class="regularLink">4.5.1.Final changelog.txt</a>.
</p>

<p class="wikiPara">
Happy searching!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'MaintenanceReleasesForStableBranchesOfHibernateSearch';
    var disqus_title = 'Maintenance releases for stable branches of Hibernate Search';
    var disqus_url = 'http://in.relation.to/25267.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
