---
title: "Hibernate Search releases 5.0.0.Beta1: the Final sprint begins"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "03-11-2014"
tags: [Hibernate,Hibernate Search,News]

relative_url: /2014/11/03/hibernate-search-releases-500-beta-1-the-final-sprint-begins
slug: hibernate-search-releases-500-beta-1-the-final-sprint-begins
lace: http://in.relation.to/35971.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2014/11/03/hibernate-search-releases-500-beta-1-the-final-sprint-begins
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Version <i class="wikiEmphasis"><tt>5.0.0.Beta1</tt></i> of Hibernate Search is now available for download!
</p>

<p class="wikiPara">
This summer we've been slower than expected, and based on your feedback we decided that some features that we wished to have in the 5.0 release are going to be moved to future 5.x releases: the current codebase supports latest Apache Lucene 4 since a while and we believe it's in excellent shape already, so we're aiming now at a fast feedback loop to release a <tt>5.0.0.Final</tt> in 4-6 weeks.
</p>

<p class="wikiPara">
So in the following weeks we're going to aim at:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> last needed future-proofing API changes to make it possible to introduce the postponed features without (hopefully) affecting public API down the road of the <tt>5.x</tt> cycle,</li>
<li class="wikiUnorderedListItem"> polish documentation</li>
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">react on your feedback!</i>
</li>
</ul>

<h1 class="wikiHeadline1" id="H-NoteworthyChanges"><a href="/2014/11/03/hibernate-search-releases-500-beta-1-the-final-sprint-begins#H-NoteworthyChanges">Noteworthy changes</a></h1>

<p class="wikiPara">
Those looking at our detailed changelogs might have seen a log of small changes, apparently not too interesting.. that's because we've been working closely with the Infinispan team and some great improvements are being introduced disguised as a simple micro version update of our dependencies.
</p>

<h3 class="wikiHeadline3" id="H-SignificantPerformanceImprovementsAsyncBackend"><a href="/2014/11/03/hibernate-search-releases-500-beta-1-the-final-sprint-begins#H-SignificantPerformanceImprovementsAsyncBackend">Significant performance improvements: Async backend</a></h3>

<p class="wikiPara">
The new async backend is various orders of magnitude more efficient than the previous one! If you are an <i class="wikiEmphasis">async</i> user, you will love the new design. Also, while the previous implementation was simply <i class="wikiEmphasis">async</i> and wouldn't give any timing guarantees, now we expose a new configuration property <tt>index_flush_interval</tt> which could make it possible for many more systems to use the async backend: you can decide to have it flush for example every 5 minutes, so to not have a big performance penalty on writes and guarantee that new items are visible in approximately 5 minutes.
</p>

<p class="wikiPara">
The performance benefit of this backend is extremely high, and we're looking forward to apply the same principles for the <i class="wikiEmphasis">sync</i> backend too; in case you're interested, the design is described at <a href="https://hibernate.atlassian.net/browse/HSEARCH-1699" target="" class="regularLink">HSEARCH-1699</a>.
</p>

<h3 class="wikiHeadline3" id="H-InfinispanIntegrationImprovements"><a href="/2014/11/03/hibernate-search-releases-500-beta-1-the-final-sprint-begins#H-InfinispanIntegrationImprovements">Infinispan integration improvements</a></h3>

<p class="wikiPara">
With the Infinispan team we've worked on several areas:
</p>

<h4 class="wikiHeadline4" id="H-InfinispanDirectory"><a href="/2014/11/03/hibernate-search-releases-500-beta-1-the-final-sprint-begins#H-InfinispanDirectory">Infinispan Directory</a></h4>

<p class="wikiPara">
Was updated to latest Apache Lucene <tt>4.10</tt> and it is now significantly more reliable: we could finally resolve all known issues and added lots of new tests, and a lot of work on performance was done as well.
</p>

<h4 class="wikiHeadline4" id="H-InfinispanQuery"><a href="/2014/11/03/hibernate-search-releases-500-beta-1-the-final-sprint-begins#H-InfinispanQuery">Infinispan Query</a></h4>

<p class="wikiPara">
Infinispan includes a <i class="wikiEmphasis">Query</i> module which exposes Hibernate Search 5 capabilities to all Infinispan users: if you know how to use Hibernate Search with a regular Hibernate ORM application (JPA), it will be very easy for you to learn how to use the full-text capabilities of Infinispan Query.
Of course this last release <i class="wikiEmphasis"><tt>5.0.0.Beta1</tt></i> is included in Infinispan 7.
</p>

<h4 class="wikiHeadline4" id="H-WildFlyModulesForInfinispanIntegration"><a href="/2014/11/03/hibernate-search-releases-500-beta-1-the-final-sprint-begins#H-WildFlyModulesForInfinispanIntegration">WildFly modules for Infinispan integration</a></h4>

<p class="wikiPara">
The Infinispan project now also provides a nice to use pre-packaged zip file with all modules you might need to copy into WildFly 8, and we've been working together to make sure that Hibernate Search can use these latest modules rather than the ones included by the container: that would allow you to immediately benefit from all new features, and generally speaking not be constrained by the versions of Infinispan that the container might be having at any point in time.
This subject is still work in progress, in particular better documentation is needed but essentially you just need to download and unzip the modules package from both projects.
</p>

<h3 class="wikiHeadline3" id="H-DebuggingCapabilities"><a href="/2014/11/03/hibernate-search-releases-500-beta-1-the-final-sprint-begins#H-DebuggingCapabilities">Debugging capabilities</a></h3>

<p class="wikiPara">
Apache Lucene has the notion of an <q>InfoStream</q>, which outputs lots of detailed information about index writing to the console. Via <a href="https://hibernate.atlassian.net/browse/HSEARCH-1658" target="" class="regularLink">HSEARCH-1658</a> you can now configure Hibernate Search to capture all those details and forward it to your logging stream: see also <i class="wikiEmphasis">Troubleshooting: enable Lucene’s Infostream</i> in the <a href="http://docs.jboss.org/hibernate/search/5.0/reference/en-US/html_single/#_lucene_configuration" target="" class="regularLink">Lucene configuration</a> chapter of the documentation.
</p>

<h3 class="wikiHeadline3" id="H-CriticalIssueResolvedInTheAvroBasedSerializer"><a href="/2014/11/03/hibernate-search-releases-500-beta-1-the-final-sprint-begins#H-CriticalIssueResolvedInTheAvroBasedSerializer">Critical issue resolved in the Avro based serializer</a></h3>

<p class="wikiPara">
Early <tt>alpha</tt> versions of Hibernate Search 5 were affected by a critical threadsafety issue in the code managing the Serializer service based on Apache Avro, making it essentially unusable except in trivial unit tests. This is now resolved, and does not affect any (older) stable release.
</p>

<h3 class="wikiHeadline3" id="H-AvroProtocolVersionBumped"><a href="/2014/11/03/hibernate-search-releases-500-beta-1-the-final-sprint-begins#H-AvroProtocolVersionBumped">Avro protocol: version bumped</a></h3>

<p class="wikiPara">
The serializer backend based on Avro is now able to transmit Flush commands as well; this is mostly to allow transparent improvements but as a user you need to keep in mind that you'd need to upgrade a master node first, as older master nodes will not be able to decode messages sent by this new version of Hibernate Search.
</p>

<h3 class="wikiHeadline3" id="H-EvolutionOfTheTtContainedInttAnnotation"><a href="/2014/11/03/hibernate-search-releases-500-beta-1-the-final-sprint-begins#H-EvolutionOfTheTtContainedInttAnnotation">Evolution of the <tt>@ContainedIn</tt> annotation</a></h3>

<p class="wikiPara">
This annotation used to be simply a counter-part of <tt>@IndexedEmbedded</tt>, but as discussed on <a href="https://hibernate.atlassian.net/browse/HSEARCH-1580" target="" class="regularLink">HSEARCH-1580</a> it is useful as well to define any other form of indexing dependency. This did work in the past, but was unintentional and therefore broken during recent development, so now the functionality is restored and we're making it an intentionally supported feature.
</p>

<p class="wikiPara">
Thanks Guillaume Smet, for both bringing it up and providing the patches!
</p>


<h3 class="wikiHeadline3" id="H-ComponentUpgrades"><a href="/2014/11/03/hibernate-search-releases-500-beta-1-the-final-sprint-begins#H-ComponentUpgrades">Component upgrades</a></h3>

<p class="wikiPara">
This version was built and tested against Hibernate ORM <tt>4.3.7.Final</tt>, JGroups <tt>3.6.0.Final</tt>, Infinispan <tt>7.0.0.CR2</tt>, WildFly <tt>8.1.0.Final</tt>, Apache Lucene <tt>4.10.1</tt>.
</p>

<h1 class="wikiHeadline1" id="H-FeedbackNeeded"><a href="/2014/11/03/hibernate-search-releases-500-beta-1-the-final-sprint-begins#H-FeedbackNeeded">Feedback needed!</a></h1>

<p class="wikiPara">
Please try it out and let us know if you have any trouble with it, or if any part of the documentation is not clear enough. As always, we'll be monitoring the <a href="https://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">Forums</a>, the <a href="https://lists.jboss.org/mailman/listinfo/hibernate-dev" target="" class="regularLink">Mailing Lists</a>, and StackOverflow if you use tag <tt>hibernate-search</tt>.
</p>


<h2 class="wikiHeadline2" id="H-TheUsualLinks"><a href="/2014/11/03/hibernate-search-releases-500-beta-1-the-final-sprint-begins#H-TheUsualLinks">The usual links</a></h2>
<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://hibernate.org/search/downloads/" target="" class="regularLink">Downloads</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/hibernate/search/5.0/reference/en-US/html_single/" target="" class="regularLink">Documentation</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://developer.jboss.org/wiki/HibernateSearchMigrationGuide#jive_content_id_Hibernate_Search_500Beta1" target="" class="regularLink">Migration guide</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HSEARCH" target="" class="regularLink">JIRA</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://forum.hibernate.org/viewforum.php?f=9" target="" class="regularLink">Forums</a>
</li>
</ul>

</div>

