---
title: "Hibernate Search 5.3.0.Final now available!"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "10-06-2015"
original_tags: [Hibernate,Hibernate Search,News]
tags: [Hibernate Search]

relative_url: /2015/06/10/hibernate-search-530-final-now-available
slug: hibernate-search-530-final-now-available
lace: http://in.relation.to/42852.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2015/06/10/hibernate-search-530-final-now-available
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
As suggested <a href="http://in.relation.to/Bloggers/TheNewFacetingEngineGetsCloserHibernateSearch530CR1Released" target="" class="regularLink">last week</a>, today we released Hibernate Search version <i class="wikiEmphasis">5.3.0.Final</i>.
</p>

<p class="wikiPara">
Compared to the previous candidate release, the only changes are some minor clarifications in the documentation.
</p>

<pre class="wikiPreformatted brush: xml; gutter: false;">   &lt;dependency&gt;
      &lt;groupId&gt;org.hibernate&lt;/groupId&gt;
      &lt;artifactId&gt;hibernate-search-orm&lt;/artifactId&gt;
      &lt;version&gt;5.3.0.Final&lt;/version&gt;
   &lt;/dependency&gt;
</pre>

<h2 class="wikiHeadline2" id="H-FacetingAPIChanges"><a href="/2015/06/10/hibernate-search-530-final-now-available#H-FacetingAPIChanges">Faceting API changes</a></h2>

<p class="wikiPara">
The new great faceting integration comes at a small migration cost: remember you now need to use the new <tt>@Facet</tt> annotation as explained in the <a href="http://in.relation.to/Bloggers/HibernateSearch530Beta1WithNativeLuceneFaceting" target="" class="regularLink">the example of the previous post</a>.
</p>

<h2 class="wikiHeadline2" id="H-WhatsNext"><a href="/2015/06/10/hibernate-search-530-final-now-available#H-WhatsNext">What's next?</a></h2>

<p class="wikiPara">
Barring some maintenance needs on this branch <tt>5.3</tt>, we have no plans of other Hibernate Search releases to target Hibernate ORM 4.3.x.
The focus is now on Hibernate 5 compatibility.
</p>

<h3 class="wikiHeadline3" id="H-Links"><a href="/2015/06/10/hibernate-search-530-final-now-available#H-Links">Links</a></h3>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Artefact jars are available on Maven Central under the GAV <u>org.hibernate:hibernate-search-orm:5.3.0.Final</u>
</li>
<li class="wikiUnorderedListItem"> Tarballs and zip bundles can be downloaded from <a href="http://hibernate.org/search/downloads/" target="" class="regularLink">our website</a>
</li>
<li class="wikiUnorderedListItem"> Feedback is welcome on the <a href="https://forums.hibernate.org/viewforum.php?f=9" target="" class="regularLink">forums</a> and <a href="http://hibernate.org/community/" target="" class="regularLink">emails, IRC</a>
</li>
</ul>
</div>

