---
title: "Hibernate Search 5.2.0.Final brings full multi-tenancy support"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "06-05-2015"
original_tags: [Hibernate,Hibernate Search,News]
tags: [Hibernate Search]

relative_url: /2015/05/06/hibernate-search-520-final-brings-full-multitenancy-support
slug: hibernate-search-520-final-brings-full-multitenancy-support
lace: http://in.relation.to/42704.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2015/05/06/hibernate-search-520-final-brings-full-multitenancy-support
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The latest stable release of Hibernate Search, version 5.2.0.Final, is now available in Maven mirrors and as traditional downloads from <a href="https://sourceforge.net/projects/hibernate/files/hibernate-search/5.2.0.Final" target="" class="regularLink">Sourceforge</a>.
</p>

<h3 class="wikiHeadline1" id="H-MultitenancyIntegration"><a href="/2015/05/06/hibernate-search-520-final-brings-full-multitenancy-support#H-MultitenancyIntegration">Multi-tenancy integration</a></h3>

<p class="wikiPara">
The most visible new feature is that it now transparently integrates with <a href="http://docs.jboss.org/hibernate/orm/4.3/devguide/en-US/html/ch16.html" target="" class="regularLink">Hibernate ORM's support for multi-tenancy</a>. The <a href="http://docs.jboss.org/hibernate/search/5.2/reference/en-US/html_single/#_using_a_tenant_aware_literal_fulltextsession_literal" target="" class="regularLink">Hibernate Search documentation on multi-tenancy</a> describes how using this near feature from Hibernate ORM will affect the content of your indexes and how it is transparently applied to any Query operation.
</p>

<p class="wikiPara">
The good news is that, while you might want to read the documentation to better understand how it works exactly, the documentation is short as it's all pretty much automatic: full-text queries are automatically filtered on the tenant identifier, providing the same semantics as you would with any other kind of query.
</p>

<h3 class="wikiHeadline1" id="H-OtherImprovements"><a href="/2015/05/06/hibernate-search-520-final-brings-full-multitenancy-support#H-OtherImprovements">Other improvements</a></h3>

<p class="wikiPara">
This version incorporates many more improvements which we won't list in detail here. As usual you might find some benefits in the areas of performance and efficiency, improved javadocs, improved OSGi support. The <a href="http://docs.jboss.org/hibernate/search/5.2/reference/en-US/html_single/#search-query-querydsl" target="" class="regularLink">Query builder DSL</a> is  improving thanks to the ever increasing great feedback. Keep it coming, we'll keep improving!
</p>

<h3 class="wikiHeadline2" id="H-AReminderOnTheRequirementsForThisVersion"><a href="/2015/05/06/hibernate-search-520-final-brings-full-multitenancy-support#H-AReminderOnTheRequirementsForThisVersion">A reminder on the requirements for this version</a></h3>
<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Java 7 or later</li>
<li class="wikiUnorderedListItem"> Hibernate versions 4.3.x</li>
<li class="wikiUnorderedListItem"> Apache Lucene versions 4.10.x</li>
</ul>

<h3 class="wikiHeadline1" id="H-WhatsComingNext"><a href="/2015/05/06/hibernate-search-520-final-brings-full-multitenancy-support#H-WhatsComingNext">What's coming next?</a></h3>

<p class="wikiPara">
We've been working on a <i class="wikiEmphasis">fully renewed Faceting support</i>. Version 5.3.0.Beta1 will be available very soon as well, and include all of this work. Brace yourself though! While it will be API compatible, it will require some changes to your mapping: watch this space.
</p>

<h3 class="wikiHeadline1" id="H-GetTheUpdate"><a href="/2015/05/06/hibernate-search-520-final-brings-full-multitenancy-support#H-GetTheUpdate">Get the update!</a></h3>

<p class="wikiPara">
Everything you need is available on Hibernate Search's <a href="https://hibernate.org/search/" target="" class="regularLink">web site</a>.
Download the <a href="https://sourceforge.net/projects/hibernate/files/hibernate-search/5.2.0.Final" target="" class="regularLink">full distribution from here</a>, or get it from Maven Central, and don't hesitate to reach us in our <a href="https://forums.hibernate.org/viewforum.php?f=9" target="" class="regularLink">forums</a>.</p>
</div>

