---
title: "A community improved version of Hibernate Search: 5.1.1.Final"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "19-03-2015"
original_tags: [Hibernate,Hibernate Search,News]
tags: [Hibernate Search]

relative_url: /2015/03/19/a-community-improved-version-of-hibernate-search-511-final
slug: a-community-improved-version-of-hibernate-search-511-final
lace: http://in.relation.to/42596.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2015/03/19/a-community-improved-version-of-hibernate-search-511-final
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We released <i class="wikiEmphasis">Hibernate Search 5.1.1.Final</i>, a micro update for version 5.1: our latest best release ever which <a href="http://in.relation.to/Bloggers/HibernateSearch51" target="" class="regularLink">we described early this month</a>.
</p>

<p class="wikiPara">
Special thanks to:
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Török László</i> for fixing a subtle bug in <i class="wikiEmphasis">NullEncodingTwoWayFieldBridge</i>
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Russell Dickenson</i> for fixing many typos in the documentation
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Thach Hoang</i> for improving javadoc of the <i class="wikiEmphasis">@Spatial</i> annotation
</p>

<p class="wikiPara">
Besides the above fixes, a good reason to publish this release already was <a href="https://hibernate.atlassian.net/browse/HSEARCH-1824" target="" class="regularLink">HSEARCH-1824</a>. This problem won't affect you as Hibernate user but was a blocker to update the Infinispan Query engine to Hibernate Search 5.1.x.
</p>

<p class="wikiPara">
Remember you can annotate any Java pojo - even not Hibernate entities - and <a href="http://infinispan.org/docs/7.1.x/user_guide/user_guide.html#sid-68355061" target="" class="regularLink">have them indexed and queried as usual when you store them in Infinispan</a>. 
</p>

<h1 class="wikiHeadline1" id="H-GetUpdated"><a href="/2015/03/19/a-community-improved-version-of-hibernate-search-511-final#H-GetUpdated">Get updated!</a></h1>

<p class="wikiPara">
Everything you need is available on Hibernate Search's <a href="http://hibernate.org/search/" target="" class="regularLink">web site</a>.
Download the <a href="https://sourceforge.net/projects/hibernate/files/hibernate-search/5.1.1.Final" target="" class="regularLink">full distribution from here</a>, or get it from Maven Central, and don't hesitate to reach us in our <a href="https://forums.hibernate.org/viewforum.php?f=9" target="" class="regularLink">forums</a>.
</p>

<h3 class="wikiHeadline3" id="H-Stackoverflow"><a href="/2015/03/19/a-community-improved-version-of-hibernate-search-511-final#H-Stackoverflow">Stackoverflow</a></h3>

<p class="wikiPara">
If you prefer to use <a href="http://stackoverflow.com/questions/tagged/hibernate-search" target="" class="regularLink">stackoverflow.com</a>, please use the tag <i class="wikiEmphasis">hibernate-search</i>.
And if you have a moment to help other users, some please consider registering to the <a href="http://stackoverflow.com/questions/tagged/hibernate-search" target="" class="regularLink">hibernate-search</a> tag to help us answering all the questions.
</p>

<p class="wikiPara">
If you are new to Hibernate Search, best is to start with our <a href="http://hibernate.org/search/documentation/getting-started/" target="" class="regularLink">getting started guide</a>. And remember: feedback, comments and/or <a href="https://github.com/hibernate/hibernate.org" target="" class="regularLink">pull-requests</a> are welcome on the website too.</p>
</div>

