---
title: "First preview of Hibernate Search for Hibernate ORM 5"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "05-06-2015"
original_tags: [Hibernate,Hibernate Search,News]
tags: [Hibernate ORM,Hibernate Search]

relative_url: /2015/06/05/first-preview-of-hibernate-search-for-hibernate-orm-5
slug: first-preview-of-hibernate-search-for-hibernate-orm-5
lace: http://in.relation.to/42826.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2015/06/05/first-preview-of-hibernate-search-for-hibernate-orm-5
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
For those of you using <i class="wikiEmphasis">Hibernate ORM version 5.0.0.CR1</i>, you can now use the freshly released Hibernate Search 5.4 version <tt>5.4.0.Alpha1</tt>.
</p>


<h3 class="wikiHeadline2" id="H-WhatsNew"><a href="/2015/06/05/first-preview-of-hibernate-search-for-hibernate-orm-5#H-WhatsNew">What's new</a></h3>

<p class="wikiPara">
Absolutely nothing! This Hibernate Search version is identical in terms of features and API to version <tt>5.3.0.CR1</tt>: this should make it easier for you all to upgrade the Hibernate ORM libraries (<tt>hibernate-core</tt>, <tt>hibernate-entitymanager</tt>,..) without the distraction of changes because of Hibernate Search: focus on the changes you'll need to apply because of the major version upgrade of Hibernate (if any, as it's not too complex at all).
</p>

<h3 class="wikiHeadline2" id="H-WildFlyCompatibilityAndJBossModules"><a href="/2015/06/05/first-preview-of-hibernate-search-for-hibernate-orm-5#H-WildFlyCompatibilityAndJBossModules">WildFly compatibility and JBoss Modules</a></h3>

<p class="wikiPara">
With every release of Hibernate Search we normally also release a set of modules to run the latest version of it on WildFly, but in this case since the updated Hibernate ORM 5 integrations for WildFly have yet to be released, we skipped this step.
Fear not, the WildFly integration will be finished soon and we'll then resume releasing such module packs as usual. Not least, this very same version of Hibernate Search will soon be available in WildFly 10, so the modules missing today won't actually be needed at all.
</p>


<h3 class="wikiHeadline2" id="H-ThisIsAGreatTimeToTryHibernate5"><a href="/2015/06/05/first-preview-of-hibernate-search-for-hibernate-orm-5#H-ThisIsAGreatTimeToTryHibernate5">This is a great time to try Hibernate 5</a></h3>

<p class="wikiPara">
While the latest polish is performed on Hibernate 5, we're all looking forward for feedback from you. It is likely that some more changes will be done, but we consider it good enough already to not expect any regression so please try it and let us know!
We're at that sweet spot in which you can still propose changes without the chains of strong API compatibility requirements, but good enough for you to not be wasting time on a quickly changing target.
</p>

<h3 class="wikiHeadline2" id="H-VersionsReminder"><a href="/2015/06/05/first-preview-of-hibernate-search-for-hibernate-orm-5#H-VersionsReminder">Versions reminder</a></h3>

<p class="wikiPara">
This version of Hibernate Search requires:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Hibernate ORM 5.0.0.CR1</li>
<li class="wikiUnorderedListItem"> Apache Lucene 4.10.x</li>
<li class="wikiUnorderedListItem"> Java SE 7</li>
</ul>

<p class="wikiPara">
Our rules and conventions for versions and compatibility <a href="https://github.com/hibernate/hibernate-orm/wiki/Compatibility-Considerations" target="" class="regularLink">are documented here on the GitHub Wiki</a>.
</p>


<h3 class="wikiHeadline3" id="H-Links"><a href="/2015/06/05/first-preview-of-hibernate-search-for-hibernate-orm-5#H-Links">Links</a></h3>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Artefact jars are available on Maven Central under the GAV <u>org.hibernate:hibernate-search-orm:5.4.0.Alpha1</u>
</li>
<li class="wikiUnorderedListItem"> Zip and tar bundles are available via <a href="http://hibernate.org/search/downloads/" target="" class="regularLink">our website</a>
</li>
<li class="wikiUnorderedListItem"> Feedback is welcome on the <a href="https://forums.hibernate.org/viewforum.php?f=9" target="" class="regularLink">forums</a> and <a href="http://hibernate.org/community/" target="" class="regularLink">emails, IRC</a>
</li>
</ul>
</div>

