---
title: "Some more Hibernate Search 5"
author: "Sanne Grinovero"
blogger_name: "Sanne"
creation_date: "12-01-2015"
original_tags: [Hibernate,Hibernate Search,News]
tags: [Hibernate Search]

relative_url: /2015/01/12/some-more-hibernate-search-5
slug: some-more-hibernate-search-5
lace: http://in.relation.to/42488.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2015/01/12/some-more-hibernate-search-5
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
After the great news in December of the release of <a href="http://in.relation.to/Bloggers/AFreshNewMajorReleaseHibernateSearch500Final" target="" class="regularLink">Hibernate Search 5.0.0.Final</a> and the first stable (.Final) release of <a href="http://in.relation.to/Bloggers/FirstHibernateOGMReleaseAka41Final" target="" class="regularLink">Hibernate OGM</a>, we plan to keep updates coming regularly.
</p>

<p class="wikiPara">
So today we introduce:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">Hibernate Search 5.0.1.Final</i>
</li>
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">Hibernate Search 4.5.3.Final</i>
</li>
</ul>

<p class="wikiPara">
Both are considered stable; as expected for micro maintenance there was no need to update neither documentation nor the migration guide.
</p>

<h2 class="wikiHeadline2" id="H-WhatsNewInVersion501Final"><a href="/2015/01/12/some-more-hibernate-search-5#H-WhatsNewInVersion501Final">What's new in version 5.0.1.Final</a></h2>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> updated to latest stable Hibernate ORM 4.3.8.Final</li>
<li class="wikiUnorderedListItem"> updated to latest stable Apache Lucene 4.10.3</li>
<li class="wikiUnorderedListItem"> improved some logging messages to be able to better help some users</li>
</ul>

<h2 class="wikiHeadline2" id="H-WhatsNewInVersion453Final"><a href="/2015/01/12/some-more-hibernate-search-5#H-WhatsNewInVersion453Final">What's new in version 4.5.3.Final</a></h2>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> backported some backend changes like <a href="https://hibernate.atlassian.net/browse/HSEARCH-1770" target="" class="regularLink">HSEARCH-1770</a>, mostly useful to third party integrators such as <a href="http://blog.infinispan.org/2015/01/infinispan-710beta1.html" target="" class="regularLink">Infinispan Query</a> to improve their indexing efficiency.</li>
</ul>

<h2 class="wikiHeadline2" id="H-WildFly9IsComing"><a href="/2015/01/12/some-more-hibernate-search-5#H-WildFly9IsComing">WildFly 9 is coming</a></h2>

<p class="wikiPara">
The source code of WildFly was updated to include our latest Hibernate Search 5. Looking forward to the final release of this super popular application server, as you won't have to download the Hibernate Search 5 dependencies separately!
</p>

<h2 class="wikiHeadline2" id="H-HowToGetIt"><a href="/2015/01/12/some-more-hibernate-search-5#H-HowToGetIt">How to get it</a></h2>

<p class="wikiPara">
Everything you need is available on Hibernate Search's <a href="http://hibernate.org/search/" target="" class="regularLink">web site</a>.
Download the <a href="https://sourceforge.net/projects/hibernate/files/hibernate-search/5.0.1.Final" target="" class="regularLink">full distribution from here</a>.
And don't hesitate to reach us in our <a href="https://forums.hibernate.org/viewforum.php?f=9" target="" class="regularLink">forums</a>.
</p>

<h2 class="wikiHeadline2" id="H-Stackoverflow"><a href="/2015/01/12/some-more-hibernate-search-5#H-Stackoverflow">Stackoverflow</a></h2>

<p class="wikiPara">
If you prefer to use <a href="http://stackoverflow.com/questions/tagged/hibernate-search" target="" class="regularLink">stackoverflow.com</a>, please use the tag <i class="wikiEmphasis">hibernate-search</i>.
And if you have a moment to help other users, some please consider registering to the <a href="http://stackoverflow.com/questions/tagged/hibernate-search" target="" class="regularLink">hibernate-search</a> tag to help us answering all the questions.
</p>

<p class="wikiPara">
If you are new to Hibernate Search, best is to start with our <a href="http://hibernate.org/search/documentation/getting-started/" target="" class="regularLink">getting started guide</a>. And remember: feedback, comments and/or <a href="https://github.com/hibernate/hibernate.org" target="" class="regularLink">pull-requests</a> are welcome on the website too.
</p>

<h1 class="wikiHeadline1" id="H-NextTalkJBUGLondon"><a href="/2015/01/12/some-more-hibernate-search-5#H-NextTalkJBUGLondon">Next talk: JBUG London</a></h1>

<p class="wikiPara">
Please remember I'll be talking about Hibernate Search 5 <a href="http://www.meetup.com/JBoss-User-Group/events/219038939/" target="" class="regularLink">this Wednesday the 14th of January in London</a>. There will be pizza, beers, and pub time to discuss anything related to Search.</p>
</div>

