---
title: "Rich Faces 3.3.0.BETA1 Available"
author: "Sergey Smirnov"
creation_date: "25-11-2008"
blogger_name: "Sergey"
layout: blog-post
tags: []
slug: RichFaces330BETA1Available
lace: http://in.relation.to/10100.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
RichFaces 3.3.0.BETA1 has been deployed to: <a href="http://repository.jboss.org/maven2/org/richfaces/ui/richfaces-ui/3.3.0.BETA1/" target="" class="regularLink">http://repository.jboss.org/maven2/org/richfaces/ui/richfaces-ui/3.3.0.BETA1/</a>
</p>

<p class="wikiPara">
So, <b>rich:editor</b> and <b>global queue</b> mechanism including a4j:queue component available for public review within this BETA. So awaiting for community feedback!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'RichFaces330BETA1Available';
    var disqus_title = 'Rich Faces 3.3.0.BETA1 Available';
    var disqus_url = 'http://in.relation.to/10100.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
