---
title: "RichFaces 3.2.0 SR1 has been released"
author: "Sergey Smirnov"
blogger_name: "Sergey"
creation_date: "15-04-2008"
tags: [RichFaces]

absolute_url: http://in.relation.to/2008/04/15/RichFaces320SR1HasBeenReleased
lace: http://in.relation.to/8876.lace
slug: RichFaces320SR1HasBeenReleased

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We have released the SR1 for RichFaces 3.2.0. This service release closes the most critical issues reported by community. The list includes:
</p>

<ol class="wikiOrderedList">
<li class="wikiOrderedListItem"> Correct work with I18N text</li>
<li class="wikiOrderedListItem"> Fixed problem with use of 'binding' attribute in case of JSP environment</li>
<li class="wikiOrderedListItem"> Enabled use of special chars for new components such as inplace input and select, comboBox</li>
<li class="wikiOrderedListItem"> Fixed problem with push component under Facelets - eventProducer method that won't get invoked</li>
<li class="wikiOrderedListItem"> Fixed problem with using the horizontal scoll bar for scrollableDataTable component</li>
<li class="wikiOrderedListItem"> Fixed problem when scroller listener in datascroller isn't fired</li>
<li class="wikiOrderedListItem"> Fixed problems of new components(inplaces, comboBox) in concurrent environment</li>
<li class="wikiOrderedListItem"> Fixed problem of symbols escaping between edit/view states in inplaces</li>
</ol>

<p class="wikiPara">
The release notes for RichFaces 3.2.0SR1 is available at:
 <a href="http://wiki.jboss.org/wiki/RichFacesWhatIsNewIn3_2_0SR1" target="" class="regularLink">http://wiki.jboss.org/wiki/RichFacesWhatIsNewIn3_2_0SR1</a>
</p>


<p class="wikiPara">
You can download 3.2.0SR1 from the official download page at 
<a href="http://www.jboss.org/jbossrichfaces/downloads/" target="" class="regularLink">http://www.jboss.org/jbossrichfaces/downloads/</a>
</p>

<p class="wikiPara">
Thank you everyone who posted feedback on the RichFaces forum and submitted jira issue.
</p>
</div>
