---
title: "Rich Faces 3.3.0.BETA1 Available"
author: "Sergey Smirnov"
blogger_name: "Sergey"
creation_date: "25-11-2008"
tags: []

relative_url: /2008/11/25/RichFaces330BETA1Available
slug: RichFaces330BETA1Available
lace: http://in.relation.to/10100.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/11/25/RichFaces330BETA1Available
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
RichFaces 3.3.0.BETA1 has been deployed to: <a href="http://repository.jboss.org/maven2/org/richfaces/ui/richfaces-ui/3.3.0.BETA1/" target="" class="regularLink">http://repository.jboss.org/maven2/org/richfaces/ui/richfaces-ui/3.3.0.BETA1/</a>
</p>

<p class="wikiPara">
So, <b>rich:editor</b> and <b>global queue</b> mechanism including a4j:queue component available for public review within this BETA. So awaiting for community feedback!</p>
</div>

