---
title: "Rich Faces 3.2.2 Beta 1 and Beta 2"
author: "Sergey Smirnov"
creation_date: "28-07-2008"
blogger_name: "Sergey"
layout: blog-post
tags: []
slug: RichFaces322Beta1AndBeta2
lace: http://in.relation.to/9202.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We've started to build 3.2.2 betas. 
</p>

<p class="wikiPara">
<u>Beta 1</u> can be found at: 
</p>

<p class="wikiPara">
<a href="http://repository.jboss.org/maven2/org/richfaces/ui/richfaces-ui/3.2.2.BETA1/%20" target="" class="regularLink">http://repository.jboss.org/maven2/org/richfaces/ui/richfaces-ui/3.2.2.BETA1/</a>
</p>

<p class="wikiPara">
And <u>Beta 2</u> has been deployed to: 
</p>

<p class="wikiPara">
<a href="http://repository.jboss.org/maven2/org/richfaces/ui/richfaces-ui/3.2.2.BETA2/%20" target="" class="regularLink">http://repository.jboss.org/maven2/org/richfaces/ui/richfaces-ui/3.2.2.BETA2/</a>
</p>

<p class="wikiPara">
New features list can be found at 
</p>

<p class="wikiPara">
<a href="http://wiki.jboss.org/wiki/RichFacesWhatIsNewIn3_2_2%20" target="" class="regularLink">Our wiki</a>
</p>

<p class="wikiPara">
Short list of new features: 
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> validation components </li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> hotKey component </li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> state management API </li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Tree drag and drop API </li>
</ul>

<p class="wikiPara">
Examples can be found in SVN in trunk samples folder. The richfaces-demo examples are also commited as drafts to svn.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'RichFaces322Beta1AndBeta2';
    var disqus_title = 'Rich Faces 3.2.2 Beta 1 and Beta 2';
    var disqus_url = 'http://in.relation.to/9202.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
