---
title: "RichFaces. How do you see it in the future?"
author: "Sergey Smirnov"
blogger_name: "Sergey"
creation_date: "01-05-2008"
tags: [RichFaces]

absolute_url: http://in.relation.to/2008/05/01/RichFacesHowDoYouSeeItInTheFuture
lace: http://in.relation.to/8919.lace
slug: RichFacesHowDoYouSeeItInTheFuture

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Based on the feedback from the community (RichFaces Forum) and the RedHat/JBoss support team, we can emphasize four possible major directions:
</p>

<ol class="wikiOrderedList">
<li class="wikiOrderedListItem"> Developing new components  to continuously extend the component set</li>
<li class="wikiOrderedListItem"> Simplifying the development  with JSF and RichFaces</li>
<li class="wikiOrderedListItem"> Keeping RichFaces constantly stable</li>
<li class="wikiOrderedListItem"> Making RichFaces modern and cool</li>
</ol>

<p class="wikiPara">
What are your personal preferences. Vote for one of the options at:
</p>

<p class="wikiPara">
<a href="http://jboss.com/index.html?module=bb&amp;op=viewtopic&amp;t=134778" target="" class="regularLink">http://jboss.com/index.html?module=bb&amp;op=viewtopic&amp;t=134778</a></p>
</div>
