---
title: "Rich Faces 3.3.0.BETA1 Available"
author: "Sergey Smirnov"
blogger_name: "Sergey"
layout: blog-post
tags: []
slug: RichFaces330BETA1Available
lace: http://in.relation.to/10100.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/RichFaces330BETA1Available">Rich Faces 3.3.0.BETA1 Available</a>
                    </h1>
</div>
<p class="wikiPara">
RichFaces 3.3.0.BETA1 has been deployed to: <a href="http://repository.jboss.org/maven2/org/richfaces/ui/richfaces-ui/3.3.0.BETA1/" target="" class="regularLink">http://repository.jboss.org/maven2/org/richfaces/ui/richfaces-ui/3.3.0.BETA1/</a>
</p>

<p class="wikiPara">
So, <b>rich:editor</b> and <b>global queue</b> mechanism including a4j:queue component available for public review within this BETA. So awaiting for community feedback!</p>
</div>
