---
title: "Rich Faces 3.2.1 released"
author: "Sergey Smirnov"
blogger_name: "Sergey"
creation_date: "05-06-2008"
tags: [RichFaces]

relative_url: /2008/06/05/rich-faces-321-released
slug: rich-faces-321-released
lace: http://in.relation.to/9051.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/06/05/rich-faces-321-released
---
<div id="documentDisplay" class="documentDisplay">


<h3 class="wikiHeadline3" id="H-ThisReleaseIntroducedNextNewFeaturesAndImprovements"><a href="/2008/06/05/rich-faces-321-released#H-ThisReleaseIntroducedNextNewFeaturesAndImprovements">This release introduced next new features and improvements:</a></h3>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>Plug'n'Skin</b> feature introduced</li>
</ul>

<i>This feature allows fast and convinient predefined skins customization and new skins based on predefined ones creation.</i>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Demo <b>laguna</b> skin created using plug'n'skin</li>
</ul>

<i>An example of skin created using plug'n'skin added to demosite</i>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>Suggestion Box</b> improved </li>
</ul>

<i>This API gaves possibility to save selected objects instead of strings in some hidden fields for further processing. And also API for calling suggestion added(for comboBox like usage)</i>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>Sorting</b> futher <b>improvements</b> (Sorting objects not strings) </li>
</ul>

<i>Now built-in dataTable sorting uses objects sorting so additional comparators not needed anymore for simple sorting functionality implementation. Also some issues reported by the community resolved</i>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>Filtering</b> further <b>improvements</b> </li>
</ul>

<i>Default input corrected and styled. Also some issues reported by the community resolved</i>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>DataScroller improvements</b> </li>
</ul>

<i>Multiple instances behaviour and page bindings corrected. Incorrect page after model changes handling added.</i>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>componentControl and contextMenu</b> attachement <b>improvements</b>
</li>
</ul>

<i>Problems with attachements to DOM elements solved</i>

<h3 class="wikiHeadline3" id="H-AlsoNextBugfixesReportedByTheCommunityWasPerformed"><a href="/2008/06/05/rich-faces-321-released#H-AlsoNextBugfixesReportedByTheCommunityWasPerformed">Also next bugfixes reported by the community was performed:</a></h3>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>dataTable</b> issues (including sorting, filtering features) </li>
</ul>

<i>corrections on decode </i>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>scrollableDataTable</b> fixes </li>
</ul>

<i>Scrolling and loading data problems, cross-browser support fixes</i><p class="wikiPara">
 
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>ComboBox</b> numerous fixes </li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>File Upload</b> improvements and fixes </li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>Character encoding</b> problems</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>Memory leaks and perfomance</b> fixes </li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>MyFaces specific</b> fixes </li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>Opera browser</b> support fixes</li>
</ul>

<p class="wikiPara">
You can download 3.2.1 GA from the official download page at http://www.jboss.org/jbossrichfaces/downloads/ 
</p>

<p class="wikiPara">
Thank you everyone who posted feedback on the RichFaces forum and submitted jira issue.</p>
</div>

