---
title: "RichFaces 3.2.2 GA Available"
author: "Sergey Smirnov"
blogger_name: "Sergey"
creation_date: "10-09-2008"
original_tags: []
tags: []

relative_url: /2008/09/10/rich-faces-322-ga-available
slug: rich-faces-322-ga-available
lace: http://in.relation.to/9370.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/09/10/rich-faces-322-ga-available
---
<div id="documentDisplay" class="documentDisplay">


<h3 class="wikiHeadline3" id="H-ThisReleaseIntroducedTheNextNewComponents"><a href="/2008/09/10/rich-faces-322-ga-available#H-ThisReleaseIntroducedTheNextNewComponents">This release introduced the next new components:</a></h3>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>rich:beanValidator</b> component </li>
</ul>

<i>It could be used to <u>register </u>model-based constraints defined <u>Hibernate validators</u> for the component.</i>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>rich:ajaxValidator</b> component </li>
</ul>

<i><u>a4j:support like</u> component which <u>enables validation </u>according to some event on parent component. Also registers model-based Hibernate Validators on parent component.</i>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>rich:graphValidator</b> component</li>
</ul>

<i>The component <u>register model-based Hibernate Validators for some subtree</u>. it also could be used in order to fire the whole bean validation including fields which are not used on the page.</i>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>rich:extendedDataTable</b> component</li>
</ul>

<i>The component is contributed to Rich Faces from the community. It <u>extends rich:dataTable</u> with additional features - <u>manageable selection of rows, columns reordering, grouping by columns and etc</u>..</i>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>rich:hotKey</b> component</li>
</ul>

<i>Component is implemented on the top of <u>jQuerry hotKey plugin</u>. It allows to register JS callbacks on some hot keys as for the page either as for separate components.</i>

<h3 class="wikiHeadline3" id="H-AlsoTheNextNewFeaturesAvailableStartingFromThisRelease"><a href="/2008/09/10/rich-faces-322-ga-available#H-AlsoTheNextNewFeaturesAvailableStartingFromThisRelease">Also the next new features available starting from this release:</a></h3>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>State Manager API</b> component </li>
</ul>

<i>It allows to <u>define set of states for the page and navigate between these states</u> using standard JSF navigation.</i>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>Tree Drag and Drop API</b> component </li>
</ul>

<i>TreeAPI extended in order to provide convenient D'n'D feature usage as inside the Tree either as between the trees and other page components</i>

<h3 class="wikiHeadline3" id="H-UsefullGuidelinesAndSamplesCreated"><a href="/2008/09/10/rich-faces-322-ga-available#H-UsefullGuidelinesAndSamplesCreated">Usefull guidelines and samples created:</a></h3>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>DarkX and GlassX skins created using plug'n'skin feature</b> </li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b><a href="http://www.jboss.org/file-access/default/members/jbossrichfaces/freezone/docs/cdkguide/en/html_single/index.html%20" target="" class="regularLink">CDK guide</a> initial version created</b> </li>
</ul>

<i>Step by step <u>components creation guideline </u>with general CDK features explanations available together with the RF developer guide.</i>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <b>Samples and articles for all the new features and components </b> mentioned above are also created and available online.</li>
</ul>

<p class="wikiPara">
You can download 3.2.2 GA from the official download page at <a href="http://www.jboss.org/jbossrichfaces/downloads/" target="" class="regularLink">Rich Faces downloads</a> 
</p>

<p class="wikiPara">
Thank you everyone who posted feedback on the RichFaces forum and submitted jira issues.</p>
</div>

