---
title: "RichFaces 3.3.0 Release: New Components and Features Overview"
author: "Sergey Smirnov"
blogger_name: "Sergey"
creation_date: "15-01-2009"
tags: []

relative_url: /2009/01/15/RichFaces330ReleaseNewComponentsAndFeaturesOverview
slug: RichFaces330ReleaseNewComponentsAndFeaturesOverview
lace: http://in.relation.to/10457.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/01/15/RichFaces330ReleaseNewComponentsAndFeaturesOverview
---
<div id="documentDisplay" class="documentDisplay">


<blockquote class="wikiBlockquote">
The Improved Queue

The a4j:queue component creates a queue of the Ajax requests. The Ajax4JSF or RichFaces components with built-in Ajax can reference the queue to optimize their Ajax requests.

Previous version of RichFaces also provided queue functionality, but there was a number of reasons to develop the queue component and enhance the queue functionality. In the previous versions the queue had quite a simple implementation: it sent to the server only the last Ajax request out of all requests coming in the queue during a request delay...
</blockquote>


<p class="wikiPara">
This is a part of the article posted on JBoss Wiki pages, to read more of it, plz visit <a href="https://www.jboss.org/community/docs/DOC-13245" target="" class="regularLink">this Wiki page</a>
</p>

</div>
