---
title: "RichFaces 3.3.0 GA Available "
author: "Sergey Smirnov"
blogger_name: "Sergey"
creation_date: "14-01-2009"
original_tags: []
tags: []

relative_url: /2009/01/14/rich-faces-330-ga-available
slug: rich-faces-330-ga-available
lace: http://in.relation.to/10444.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/01/14/rich-faces-330-ga-available
---
<div id="documentDisplay" class="documentDisplay">


<h2 class="wikiHeadline2" id="H-Links"><a href="/2009/01/14/rich-faces-330-ga-available#H-Links">Links</a></h2>

<p class="wikiPara">
RichFaces 3.3.0 could be downloaded <a href="http://labs.jboss.com/portal/jbossrichfaces/downloads" target="" class="regularLink">here</a>
</p>

<p class="wikiPara">
Documentation for the new release could be checked <a href="http://labs.jboss.com/jbossrichfaces/docs/index.html" target="" class="regularLink">here</a>
</p>

<p class="wikiPara">
As usual you could check all the new components, features and examples <a href="http://livedemo.exadel.com/richfaces-demo/welcome.jsf" target="" class="regularLink">here</a>
</p>

<h2 class="wikiHeadline2" id="H-ThisReleaseIntroducedTheNextNewComponents"><a href="/2009/01/14/rich-faces-330-ga-available#H-ThisReleaseIntroducedTheNextNewComponents">This release introduced the next new components:</a></h2>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> rich:editor </li>
</ul>

<p class="wikiPara">
WYSIWYG editor that allows to input the formatted text. 
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> a4j:queue</li>
</ul>

<p class="wikiPara">
Global/default queues mechanisms is implemented. Separate component for queues definition is created.
</p>

<h2 class="wikiHeadline2" id="H-EnhancementsSimplifications"><a href="/2009/01/14/rich-faces-330-ga-available#H-EnhancementsSimplifications">Enhancements, Simplifications:</a></h2>

<ol class="wikiOrderedList">
<li class="wikiOrderedListItem"> ExtendedDataTable component was reviewed and improved according to the community feedback (was introduced in 3.2.2 in <q>preview</q> state).</li>
<li class="wikiOrderedListItem"> Menu Components are improved according to the requests from community. Menu Items now could be used as standalone components. E.g. direct children for the toolbar.  <a href="https://jira.jboss.org/jira/browse/RF-2937" target="" class="regularLink">issue</a>
</li>
<li class="wikiOrderedListItem"> <a href="https://jira.jboss.org/jira/browse/RF-2170" target="" class="regularLink">Data Table improvement</a> - onRowContextMenu event is introduced according to numerous community requests.</li>
<li class="wikiOrderedListItem"> Framework Queue script implementation was fully reviewed and improved additionally to a4j:queue component implementation.</li>
<li class="wikiOrderedListItem"> inputNumberSlider vertical layout contributed by the extendedDataTable authors (Many Thanks!)</li>
</ol>

<h2 class="wikiHeadline2" id="H-CodeStability"><a href="/2009/01/14/rich-faces-330-ga-available#H-CodeStability">Code Stability</a></h2>

<ol class="wikiOrderedList">
<li class="wikiOrderedListItem"> bug fixing</li>
<li class="wikiOrderedListItem"> keeping unit test coverage on a high level.</li>
<li class="wikiOrderedListItem"> auto tests (Server and Client). Selenium Test Suite. </li>
<li class="wikiOrderedListItem"> control of common quality metrics (PMD/Checkstyle). </li>
</ol>
</div>

