---
title: "RichFaces 3.3.0 Release: New Components and Features Overview"
author: "Sergey Smirnov"
creation_date: "15-01-2009"
blogger_name: "Sergey"
layout: blog-post
tags: []
slug: RichFaces330ReleaseNewComponentsAndFeaturesOverview
lace: http://in.relation.to/10457.lace
---
<div id="documentDisplay" class="documentDisplay">


<blockquote class="wikiBlockquote">
The Improved Queue

The a4j:queue component creates a queue of the Ajax requests. The Ajax4JSF or RichFaces components with built-in Ajax can reference the queue to optimize their Ajax requests.

Previous version of RichFaces also provided queue functionality, but there was a number of reasons to develop the queue component and enhance the queue functionality. In the previous versions the queue had quite a simple implementation: it sent to the server only the last Ajax request out of all requests coming in the queue during a request delay...
</blockquote>


<p class="wikiPara">
This is a part of the article posted on JBoss Wiki pages, to read more of it, plz visit <a href="https://www.jboss.org/community/docs/DOC-13245" target="" class="regularLink">this Wiki page</a>
</p>

</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'RichFaces330ReleaseNewComponentsAndFeaturesOverview';
    var disqus_title = 'RichFaces 3.3.0 Release: New Components and Features Overview';
    var disqus_url = 'http://in.relation.to/10457.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
