---
title: "JSF 2.0. Test Drive PDL. Part 2. Conditional Insert"
author: "Sergey Smirnov"
blogger_name: "Sergey"
creation_date: "17-01-2009"
tags: [JavaServer Faces,RichFaces]

relative_url: /2009/01/17/JSF20TestDrivePDLPart2ConditionalInsert
slug: JSF20TestDrivePDLPart2ConditionalInsert
lace: http://in.relation.to/10480.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/01/17/JSF20TestDrivePDLPart2ConditionalInsert
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
As it was mentioned previously, <tt>rich:panel</tt> shows the header only if the <tt>facet name="header"</tt> is defined. Otherwise, it is just omitted.
</p>

<p class="wikiPara">
In case the header presents, its content is wrapped with div:
</p>



<pre class="wikiPreformatted">  &lt;div class="rich-panel-header #{compositeComponent.attrs.headerClass}"&gt;
   &lt;composite:insertFacet name="header"/&gt;
  &lt;/div&gt;</pre>



<p class="wikiPara">
What happens in the code above if panel has no header facet on the xhtml page? PDL processor just inserts nothing inside the div without any notes (the same happens, BWT if you have a typo in the facet name). However, it is not what we need, as we need to omit the whole div.
</p>

<p class="wikiPara">
In general, it looks like a common use case: if facet is missing, the whole block that represents the facet in the final layout is omitted. I did not find anything like that in the pdldocs. The second idea was to use a conditional operation. 
</p>

<p class="wikiPara">
The following EL returns true if header facet presents. Otherwise, it returns false.
</p>


<pre class="wikiPreformatted">#{! empty compositeComponent.facets.header}</pre>



<p class="wikiPara">
Thus, the following snippet is a solution:
</p>


<pre class="wikiPreformatted">&lt;c:if test="#{! empty compositeComponent.facets.header}"&gt;
  &lt;div class="rich-panel-header #{compositeComponent.attrs.headerClass}"&gt;
   &lt;composite:insertFacet name="header"/&gt;
  &lt;/div&gt;
&lt;/c:if&gt;</pre>



<p class="wikiPara">
However, it does not work. There is a good explanation why it does not work in this article:
</p>

<p class="wikiPara">
<a href="http://www.ilikespam.com/blog/c:foreach-vs-ui:repeat-in-facelets" target="" class="regularLink">http://www.ilikespam.com/blog/c:foreach-vs-ui:repeat-in-facelets</a>
</p>

<p class="wikiPara">
When the c:if test is evaluated the <tt>compositeComponent.facets</tt> is always empty. Hence, a header is not shown even when it presents. The solution is also in that article. We will use <tt>ui:fragment</tt>. The final code that is sensible to a header facet is following:
</p>


<pre class="wikiPreformatted">&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:composite="http://java.sun.com/jsf/composite"&gt;
&lt;head&gt;

&lt;title&gt;panel&lt;/title&gt;

&lt;/head&gt;

&lt;body&gt;

&lt;composite:interface&gt;
    &lt;composite:attribute name="style" required="false"/&gt;
    &lt;composite:attribute name="styleClass" required="false"/&gt;
    &lt;composite:attribute name="headerClass" required="false"/&gt;
    &lt;composite:attribute name="bodyClass" required="false"/&gt;
&lt;/composite:interface&gt;



&lt;composite:implementation&gt;
    &lt;h:outputStylesheet name="rich/css/panel.css" /&gt;

 &lt;div class="rich-panel #{compositeComponent.attrs.styleClass}"
            style="#{compositeComponent.attrs.style}"&gt;

  &lt;ui:fragment rendered="#{! empty compositeComponent.facets.header}"&gt;
   &lt;div class="rich-panel-header #{compositeComponent.attrs.headerClass}"&gt;
    &lt;composite:insertFacet name="header"/&gt;
   &lt;/div&gt;
  &lt;/ui:fragment&gt;
 
  &lt;div class="rich-panel-body #{compositeComponent.attrs.bodyClass}" &gt; 
   
   &lt;composite:insertChildren /&gt;
  &lt;/div&gt; 

 &lt;/div&gt;
&lt;/composite:implementation&gt;

&lt;/body&gt;

&lt;/html&gt;</pre>


<b>update January 19, 2009:</b><p class="wikiPara">
 Today we have been notified that it will be possible to use c:if as well as other jstl like tags for conditional operations inside the templates.</p>
</div>

