---
title: "Names, what's in 'um?"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "02-12-2003"
tags: []

relative_url: /2003/12/02/names-whats-in-um
slug: names-whats-in-um
lace: http://in.relation.to/1465.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2003/12/02/names-whats-in-um
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Names are important in computing. Really Important. I'm not talking about calling classes sensible things like UpdateUserDetailsCommand in preference to UpdUDetsCd. I mean the names of products themselves. A great name tells us lots about a piece of software: it tells us that the creater has some imagination, a sense of style even. It tells us that this person is serious about the success of the product, that they understand that there is more to making great software than writing great code.
</p>

<p class="wikiPara">
 <q>Java</q> is a fantastic name for just about anything. I love the ambiguity; coffee, or the largest island of the Indonesian archipeligo? There is no way I could hear the name <q>Java</q> and not wonder what it is a name for. C# (pronounced cee-hash by those in the know) is twee and derivative. Its pathetic enough trying to impress girls with the fact that I am a <q>Java developer</q>. Imagine if I had to say I was a <q>cee sharp</q> or <q>dot net</q> programmer? Ugggh. But from this we can learn something of the mindset that created these two languages - C# /is/ actually more derivative than Java.
</p>

<p class="wikiPara">
So, if we have eliminated C# as the next step forward in languages, what about the other two possible Java-replacements: Python and Ruby. Well, <q>Python</q> is great, of course. There's that ambiguity once again: funny Englishmen, or snakes. Snakes are cool. Actually, naming things after animals is /always/ cool, even Ants. Ruby grows on me. I don't /love/ it, but as an English name given by a non-native English speaker, I'm happy to give it a pass. I've noticed that non-native speakers tend to name their projects by horrible acronyms.
</p>

<p class="wikiPara">
The Apache project gives us some great examples of both good and bad. <q>Tapestry</q> is a beautiful, evocative name, just perfect for a web presentation framework. <q>Struts</q> is a good (perhaps a little too obvious) pun on <q>framework</q>. <q>Lucene</q> and <q>Avalon</q> are nice enough. <q>Ant</q> we mentioned already. <q>commons-lang</q> is an abomination, being the concatenation of <q>commons</q> (ugh) with that incredibly romantic English word <q>lang</q>. Worse, the concatenation is performed with a hyphen. Names don't have hyphens in them, guys! (Well, apart from <a href="http://blogs.atlassian.com/rebelutionary" target="" class="regularLink">Mike's </a>). <q>Commons</q> could evoke either <q>typical</q> or <q>communal</q> or both; neither interpretation is inspiring in this age. Actually, <q>commons</q> seems to be Jakarta's moniker for <q>stuff we don't have proper names for</q> or, perhaps, <q>stuff that doesn't really deserve to be a real project</q>. Similarly, <q>commons-primitives</q> could /almost/ conjure up some kind of vision of neolithic tribal society, uncorrupted by modern notions of private property .... but it doesn't. To me this indicates something about the respective quality of the projects. Would any truly committed developer, bulding something they love and believe in, possibly call their project <q>commons-lang</q>? Nope. They would call it <q>Tapestry</q>. If they had Howard's sense of theater, that is.
</p>

<p class="wikiPara">
In the realm of distributed computing, we have been given <q>CORBA</q> - a nice, easily pronouncable acronym that sounds like a real English word and even better reminds us of snakes - and the ridiculous WSDL (pronounced <q>whizz-dull</q>, which is an oxymoron). I guess this means that Web Services are just another dead end - surely, nothing useful could ever be named WSDL?
</p>

<p class="wikiPara">
Being a contrarian, I named our project with a verb. Hibernate isn't a thing - it's not even a state of mind; it's something you /do/.
</p>

<p class="wikiPara">
disclaimer: this post is meant in good humour, please don't take offense
</p>
</div>

