---
title: "Hibernate 2.1.2"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "05-02-2004"
tags: []

relative_url: /2004/02/05/Hibernate212
slug: Hibernate212
lace: http://in.relation.to/1500.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2004/02/05/Hibernate212
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I just released <a href="http://www.hibernate.org/Download/DownloadOverview" target="" class="regularLink">2.1.2 </a>. This is a maintenence release, meaning no especially exciting new features (the interesting work is all going on in the 2.2 branch). However there are some small changes that might make a big performance difference in certain specific cases, especially if you are using a second-level cache. I'm hoping that this release brings the 2.1 branch to the same level of maturity that we were able to achieve with 2.0.3.
</p>
</div>
