---
title: "SQL Tuning"
author: "Gavin King"
creation_date: "02-04-2004"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: SQLTuning
lace: http://in.relation.to/1537.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
If you ever work with relational databases, you should go out and buy O'Reilly's 
/SQL Tuning/, by Dan Tow. The book is all about how to represent a SQL query in a 
graphical form and then, using some simple rules of thumb, determine an optimal 
execution plan for the query. Once you have found the optimal execution plan, you 
can add indexes, query hints, or use some other tricks to persuade your database 
to use this execution plan. Fantastic stuff. There is even sufficient introductory 
material for those of us (especially me) who know less than we should about the 
actual technical details of full table scans, index scans, nested loops joins, 
hash joins, etcetera to be able to start feeling confident reading and understanding 
execution plans. Unlike most database books out there, this book is not very 
platform-specific, though it does often refer specifically to Oracle, DB2 and SQL 
Server.
</p>
</div>
