---
title: "Wrestling With Pigs"
author: "Gavin King"
creation_date: "05-02-2004"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: WrestlingWithPigs
lace: http://in.relation.to/1501.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I have to repeat this cliche to myself at least once a week:
</p>

<p class="wikiPara">
/Never wrestle with a pig; you both get dirty and the pig loves it./
</p>

<p class="wikiPara">
One of the problems with online forums is that, naturally, they are
dominated by the people with the most time on their hands - and by
the people with the most dogmatic views. As in any community, the
loudest views are often the least-informed. When criticized in a
forum like <a href="http://www.theserverside.com" target="" class="regularLink">TSS </a>, it's usually better
to just stay out of the mud. As difficult as it is to let uninformed 
statements go unchallenged, it is almost always the best decision. 
Let the pig be. Disputing a post brings attention to it. If the 
poster is of a particular personality type, the disputation will
very quickly turn personal. Maintaining your dignity once that
happens is virtually impossible.
</p>

<p class="wikiPara">
In fact, what most amazes me about IT communities is the sheer
ubiquity of /argumentum ad hominem/. I've always associated
computing with the pursuit of understanding via scientifically
inclined methodology. Yet most of the debate that occurs in the
Java community consists of name-calling. I got so mad about this 
today that I broke all my own rules and launched some /ad hominem/
of my own, which is really quite self-defeating, I suppose.
</p>

<p class="wikiPara">
The big problem from my point of view is that I can't simply
ignore the online forums; as an open source project they are an
absolutely indispensible way for us to get our ideas heard.
</p>

<p class="wikiPara">
Clay Shirky has <a href="http://shirky.com/writings/group_enemy.html" target="" class="regularLink">written </a> 
insightfully about how online
communities can be <q>designed</q>, so it is interesting to speculate
about what kind of adjustments could be made to a community like
TSS if we wanted to bring out our good sides, and encourage
technical arguments rather than personal ones. But perhaps the
very strength of TSS is the freewheeling nature of the debate
there. Flame wars get attention; they generate the most traffic.
</p>

<p class="wikiPara">
Well, I'm a big boy. Hibernate has been subject to all kinds of
outlandish criticisms right from the start. But we are
growing every month. We often joke that criticisms of
Hibernate invariably begin with <q>I've never used Hibernate but...</q>
and indeed that is still true. If our actual /users/ start
bitching, /then/ we will need to start listening harder!
</p>

<p class="wikiPara">
Apologies for the nontechnical post ;)
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'WrestlingWithPigs';
    var disqus_title = 'Wrestling With Pigs';
    var disqus_url = 'http://in.relation.to/1501.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
