---
title: "Hibernate 3.0 goes beta"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "20-12-2004"
tags: []

relative_url: /2004/12/20/hibernate-30-goes-beta
slug: hibernate-30-goes-beta
lace: http://in.relation.to/1761.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2004/12/20/hibernate-30-goes-beta
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We just released Hibernate 3.0 beta 1. I've no time to list all the many changes 
since the alpha was released four months ago, let alone everything that is new in 
Hibernate3, which has been in development for over a year now.
</p>


<p class="wikiPara">
The most exciting new thing from our point of view is the new AST-based HQL 
parser, written by Joshua Davis. It uses 3 ANTLR grammars to transform HQL/EJBQL 
to SQL. The work on this is not quite finished, but almost all legacy tests pass. 
You can try out the new query parser by setting
</p>

<pre class="wikiPreformatted">
hibernate.query.factory_class=org.hibernate.hql.ast.ASTQueryTranslatorFactor</pre>


<p class="wikiPara">
I'll try to get Joshua to blog about the design of the parser (very cool stuff).
</p>
</div>

