---
title: "Hibernate 3.0 goes beta"
author: "Gavin King"
creation_date: "20-12-2004"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: Hibernate30GoesBeta
lace: http://in.relation.to/1761.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We just released Hibernate 3.0 beta 1. I've no time to list all the many changes 
since the alpha was released four months ago, let alone everything that is new in 
Hibernate3, which has been in development for over a year now.
</p>


<p class="wikiPara">
The most exciting new thing from our point of view is the new AST-based HQL 
parser, written by Joshua Davis. It uses 3 ANTLR grammars to transform HQL/EJBQL 
to SQL. The work on this is not quite finished, but almost all legacy tests pass. 
You can try out the new query parser by setting
</p>

<pre class="wikiPreformatted">
hibernate.query.factory_class=org.hibernate.hql.ast.ASTQueryTranslatorFactor</pre>


<p class="wikiPara">
I'll try to get Joshua to blog about the design of the parser (very cool stuff).
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'Hibernate30GoesBeta';
    var disqus_title = 'Hibernate 3.0 goes beta';
    var disqus_url = 'http://in.relation.to/1761.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
