---
title: "Recent and upcoming presentations on EJB3 and object persistence"
author: "Gavin King"
creation_date: "26-06-2004"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: RecentAndUpcomingPresentationsOnEJB3AndObjectPersistence
lace: http://in.relation.to/1627.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I've posted the slides for two recent presentations.
</p>

<p class="wikiPara">
<a href="http://hibernate.org/~gavin/pdoi.pdf" target="" class="regularLink">The first</a> is
one I did for this year's TSS symposium. It discusses
some of the issues surrounding persistent identity,
and how they affect everything from how you define
equals() for a persistent object, to what kind of
cache architecture makes sense.
</p>

<p class="wikiPara">
<a href="http://hibernate.org/~gavin/ebejb3.pdf" target="" class="regularLink">The next</a> is
a presentation about EJB3, focussing on entity beans.
(Note that, so far, almost all of the blog coverage 
of EJB3 was written by people who havn't actually 
read the spec - the draft is not available just yet.)
</p>

<p class="wikiPara">
Finally, I am hosting a BOF at JavaOne, on Monday
at Monday 10:30 PM, at the North Meeting Room. I'll
be talking about how ORM solutions work with /graphs/
of objects, especially in the context of detach/reattach.
I'll compare three different approaches: peristence
by reachability, Hibernate, and EJB3.
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'RecentAndUpcomingPresentationsOnEJB3AndObjectPersistence';
    var disqus_title = 'Recent and upcoming presentations on EJB3 and object persistence';
    var disqus_url = 'http://in.relation.to/1627.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
