---
title: "Recent and upcoming presentations on EJB3 and object persistence"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "26-06-2004"
tags: []

relative_url: /2004/06/26/RecentAndUpcomingPresentationsOnEJB3AndObjectPersistence
slug: RecentAndUpcomingPresentationsOnEJB3AndObjectPersistence
lace: http://in.relation.to/1627.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2004/06/26/RecentAndUpcomingPresentationsOnEJB3AndObjectPersistence
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I've posted the slides for two recent presentations.
</p>

<p class="wikiPara">
<a href="http://hibernate.org/~gavin/pdoi.pdf" target="" class="regularLink">The first</a> is
one I did for this year's TSS symposium. It discusses
some of the issues surrounding persistent identity,
and how they affect everything from how you define
equals() for a persistent object, to what kind of
cache architecture makes sense.
</p>

<p class="wikiPara">
<a href="http://hibernate.org/~gavin/ebejb3.pdf" target="" class="regularLink">The next</a> is
a presentation about EJB3, focussing on entity beans.
(Note that, so far, almost all of the blog coverage 
of EJB3 was written by people who havn't actually 
read the spec - the draft is not available just yet.)
</p>

<p class="wikiPara">
Finally, I am hosting a BOF at JavaOne, on Monday
at Monday 10:30 PM, at the North Meeting Room. I'll
be talking about how ORM solutions work with /graphs/
of objects, especially in the context of detach/reattach.
I'll compare three different approaches: peristence
by reachability, Hibernate, and EJB3.
</p>
</div>

