---
title: "Hibernate Training in Melbourne"
author: "Gavin King"
creation_date: "14-09-2004"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: HibernateTrainingInMelbourne
lace: http://in.relation.to/1753.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
September 20-22 in Melbourne will be the first time we deliver our new three-day Hibernate course. The course has been heavily revised and expanded to include previews of the cool new stuff coming in Hibernate3 and an overview of Hibernate internals (/very/ useful if you ever need to debug a Hibernate application). There are still seats available, if you're quick! This will be the last training we run in Australia for a while, since I won't be in the country much, if at all, over the next six months or so. Email training@jboss.com for more information. (We also have an upcoming course in Paris, November 3-5.) 
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'HibernateTrainingInMelbourne';
    var disqus_title = 'Hibernate Training in Melbourne';
    var disqus_url = 'http://in.relation.to/1753.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
