---
title: "Hibernate 3.0 released!"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "28-02-2005"
tags: []

absolute_url: http://in.relation.to/2005/02/28/Hibernate30Released
lace: http://in.relation.to/1771.lace
slug: Hibernate30Released

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate 3.0 is the world's most sophisticated ORXM (Object/Relational/XML Mapping) solution. Hibernate3 makes it easier than ever before for Java applications to interact with persistent data, allowing a single definition of the transformation between various in-memory representations of the entity data and the relational schema, even in the case of very complex legacy schemas and schemas for historical data or data with visibility rules. Hibernate3 also provides the most comprehensive object/relational query functionality, with three full-featured query facilities: Hibernate Query Language, the newly enhanced Hibernate Criteria Query API, and enhanced support for queries expressed in the native SQL dialect of the database.
</p>

<p class="wikiPara">
Compared to Hibernate 2.1 - the most popular object/relational mapping solution in any language - Hibernate 3.0 offers:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Much more flexible O/R mapping: support for exotic association and inheritance mappings, and greater flexibility when working with legacy data.</li>
</ul>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Hibernate3 filters: a unique feature for working with temporal (historical), regional or permissioned data.</li>
</ul>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Unprecendented flexibility for mixing handwritten and generated SQL within a single application or even a single entity: full support for <q>derived</q> entities and attributes defined in the mapping document, full support for overriding any generated SQL statement with handwritten SQL, support for stored procedures.</li>
</ul>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Object/Relational/XML mapping: query XML directly from the database for reporting, replicate data between databases via intermediate XML, externalize entity data as XML when interacting with remote systems.</li>
</ul>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Enhanced ease of use: better defaulting, an unchecked exceptions model, simplified natural (and composite) key support, simplified CMT integration.</li>
</ul>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Enhanced Criteria query API: with full support for projection/aggregation and subselects.</li>
</ul>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Runtime performance monitoring: via JMX or local Java API, including a second-level cache browser.</li>
</ul>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Brand new AST-based HQL parser: bulk update/delete enhancement, better syntax validation.</li>
</ul>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> JBoss EJB 3.0 preview: support for annotation-based O/R mappings, full support for EJB-QL 3.0, support for EJB 3.0 persist()/merge() lifecycle, JACC-based security model.</li>
</ul>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Hibernate Tools preview: a full suite of Eclipse plugins for working with Hibernate 3.0, including mapping editor, interactive query prototyping, schema reverse engineering tool.</li>
</ul>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Many new extension points: including a new, extensible, event-driven architecture</li>
</ul>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Documentation enhancements.</li>
</ul>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Brand new test suite, including many useful examples of exotic Hibernate mappings.</li>
</ul>


<p class="wikiPara">
A full list of new features may be found at: <a href="http://www.hibernate.org/About/RoadMap" target="" class="regularLink">http://www.hibernate.org/About/RoadMap</a>
</p>

<p class="wikiPara">
Download link: <a href="http://www.hibernate.org/Download/DownloadOverview" target="" class="regularLink">http://www.hibernate.org/Download/DownloadOverview</a>
</p>

<p class="wikiPara">
The Hibernate 3.0 core is 68,549 lines of Java code together with 27,948 lines of unit tests, all freely available under the LGPL, and has been in development for well over a year. We would like to thank the many people who contributed to this release!
</p>

<p class="wikiPara">
The Hibernate Team,
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Max Rydahl Andersen, JBoss Inc</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Christian Bauer, JBoss Inc</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Emmanuel Bernard</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> David Channon</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Joshua Davis</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Steve Ebersole, JBoss Inc</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Michael Gloegl</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Gavin King, JBoss Inc</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Anthony Patricio</li>
</ul>
</div>
