---
title: "Hibernate 3.0 presentations"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "16-03-2005"
tags: []

relative_url: /2005/03/16/hibernate-30-presentations
slug: hibernate-30-presentations
lace: http://in.relation.to/1860.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2005/03/16/hibernate-30-presentations
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I recently spoke at TheServerSideJavaSymposium and at the <a href="http://www.nejug.org" target="" class="regularLink">New England JUG</a>. My presentations, which cover some new ideas implemented in Hibernate 3.0 are now online:
</p>

<p class="wikiPara">
<a href="http://hibernate.sourceforge.net/HibernateThreeNEJUG.pdf" target="" class="regularLink">http://hibernate.sourceforge.net/HibernateThreeNEJUG.pdf</a>
</p>

<p class="wikiPara">
<a href="http://hibernate.sourceforge.net/HowHibernate3MakesComplexThingsEasy.pdf" target="" class="regularLink">http://hibernate.sourceforge.net/HowHibernate3MakesComplexThingsEasy.pdf</a>
</p>

<p class="wikiPara">
I find it quite hard to talk about HB3, because there is simply so much new stuff, and a lot of it is somewhat obscure. It's really difficult to communicate what a big step forward this is for us.
</p>
</div>

