---
title: "Rod Johnson: \"neither I nor any of my colleagues have a sense of humor\""
author: "Gavin King"
creation_date: "07-03-2005"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: RodJohnsonNeitherINorAnyOfMyColleaguesHaveASenseOfHumor
lace: http://in.relation.to/1783.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We got <a href="http://www.eweek.com/article2/0,1759,1773154,00.asp" target="" class="regularLink">dissed </a> by a Spring developer!
</p>

<p class="wikiPara">
But Rod, you'd make /such/ a great Egghead! Well ... if you didn't take youself so damn seriously, that is ;-)
</p>

<p class="wikiPara">
While we're on the topic, who else has noticed that Rod has a double-phallic name?
</p>
</div>
