---
title: "Seam Webinar"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: SeamWebinar
lace: http://in.relation.to/1879.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/SeamWebinar">Seam Webinar</a>
                    </h1>
</div>
<p class="wikiPara">
Don't miss the Seam webinar on December 7 at 1PM EST. Enrol <a href="http://jboss.webex.com/jboss/mywebex/default.php?Rnd5111=0.7226869326454937" target="" class="regularLink">here </a>.
</p>

<p class="wikiPara">
For people based in Melbourne or Atlanta, I'll be speaking at EJV on December 15, and at AJUG on January 16.
</p>
</div>
