---
title: "Seam"
author: "Gavin King"
creation_date: "19-09-2005"
blogger_name: "Gavin"
layout: blog-post
tags: [Seam]
slug: Seam
lace: http://in.relation.to/1865.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We released Seam today.
</p>

<p class="wikiPara">
<a href="http://jboss.com/products/seam" target="" class="regularLink">http://jboss.com/products/seam</a>
</p>

<p class="wikiPara">
I feel like this is something I'm obligated to blog about. Unfortunately,
I've just spent the past two weeks writing docs and webpages and blurbs
and I feel if I sit down now and try to describe what Seam is all about, 
then I'll just be saying the same stuff, yet again, in another slightly 
different way. (And I'm afraid I get more grandiose each time.)
</p>

<p class="wikiPara">
So let me just link to this page instead:
</p>

<p class="wikiPara">
<a href="http://docs.jboss.com/seam/reference/en/html/pr01.html" target="" class="regularLink">http://docs.jboss.com/seam/reference/en/html/pr01.html</a>
</p>

<p class="wikiPara">
Hopefully, I'll find the time to get a bit deeper into specific bits of
Seam in future posts.
</p>

<p class="wikiPara">
Thanks to everyone who made this release possible.
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'Seam';
    var disqus_title = 'Seam';
    var disqus_url = 'http://in.relation.to/1865.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
