---
title: "Position vacant: Hibernate consultant for JBoss"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "16-03-2005"
tags: []

relative_url: /2005/03/16/PositionVacantHibernateConsultantForJBoss
slug: PositionVacantHibernateConsultantForJBoss
lace: http://in.relation.to/1864.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2005/03/16/PositionVacantHibernateConsultantForJBoss
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
JBoss, Inc is looking to hire a full-time Hibernate consultant based in the United States to help deliver Hibernate-related onsite consulting and training. We're looking for someone with significant experience building enterprise applications using Hibernate. JBoss knowledge is useful but not essential. Please send resumes to gavin@hibernate.org.
</p>
</div>

