---
title: "Hibernate 3.0 presentations"
author: "Gavin King"
creation_date: "16-03-2005"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: Hibernate30Presentations
lace: http://in.relation.to/1860.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I recently spoke at TheServerSideJavaSymposium and at the <a href="http://www.nejug.org" target="" class="regularLink">New England JUG</a>. My presentations, which cover some new ideas implemented in Hibernate 3.0 are now online:
</p>

<p class="wikiPara">
<a href="http://hibernate.sourceforge.net/HibernateThreeNEJUG.pdf" target="" class="regularLink">http://hibernate.sourceforge.net/HibernateThreeNEJUG.pdf</a>
</p>

<p class="wikiPara">
<a href="http://hibernate.sourceforge.net/HowHibernate3MakesComplexThingsEasy.pdf" target="" class="regularLink">http://hibernate.sourceforge.net/HowHibernate3MakesComplexThingsEasy.pdf</a>
</p>

<p class="wikiPara">
I find it quite hard to talk about HB3, because there is simply so much new stuff, and a lot of it is somewhat obscure. It's really difficult to communicate what a big step forward this is for us.
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'Hibernate30Presentations';
    var disqus_title = 'Hibernate 3.0 presentations';
    var disqus_url = 'http://in.relation.to/1860.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
