---
title: "Seam on the Java EE 5 RI"
author: "Gavin King"
creation_date: "29-04-2006"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: SeamOnTheJavaEE5RI
lace: http://in.relation.to/1908.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I've seen a couple of comments online to the effect that Seam is some kind of JBoss-only thing. This is not the case, Seam doesn't have any hard dependencies to anything other than the standard Java EE 5 APIs.
</p>

<p class="wikiPara">
Roger Kitain from Sun <a href="http://weblogs.java.net/blog/rogerk/archive/2006/04/java_ee_sdk_run_1.html#post" target="" class="regularLink">has done the hard work</a> to get Seam up and running on the Java EE 5 reference implementation. He had to make a couple of patches to the Seam sourecode, mainly reflecting the fact that I'm developing Seam on JBoss, which is currently slightly behind the final draft of the Java EE specs. This situation should be fixed sometime in the next two weeks. My plan is that Seam 1.0 final - coming /real/ soon now - will run on both JBoss and the Java EE RI (and presumably, any other Java EE 5 implementation). Thanks to Roger I now know what I need to do ;-) Of course, Seam already runs on standalone Tomcat, if you use the JBoss Embeddable EJB3 container, or if you are happy using JavaBeans and Hibernate instead of EJB3.
</p>

<p class="wikiPara">
So, thanks Roger!
</p>
</div>
