---
title: "Seam book excerpt on InfoQ"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "20-12-2006"
tags: [Seam]

relative_url: /2006/12/20/SeamBookExcerptOnInfoQ
slug: SeamBookExcerptOnInfoQ
lace: http://in.relation.to/1962.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2006/12/20/SeamBookExcerptOnInfoQ
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Michael and Thomas are writing a <a href="http://safari.oreilly.com/013241273X" target="" class="regularLink">book </a> about Seam for <a href="http://www.oreillynet.com/" target="" class="regularLink">O'Reilly </a>, which is apparently the hottest selling item on Rough Cuts. InfoQ are running an <a href="http://www.infoq.com/articles/jboss-seam" target="" class="regularLink">excerpt </a> from the first chapter.
</p>

<p class="wikiPara">
Meanwhile, Norman and I have been tearing our way through JIRA issues, and so 1.1.1 will be ready to go when I get back from vacation :-)
</p>
</div>
