---
title: "Seam 1.1 on InfoQ"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "22-11-2006"
tags: [Seam]

relative_url: /2006/11/22/Seam11OnInfoQ
slug: Seam11OnInfoQ
lace: http://in.relation.to/1944.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2006/11/22/Seam11OnInfoQ
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
InfoQ interviewed me on the subject of Seam 1.1. Check it out:
</p>

<p class="wikiPara">
<a href="http://www.infoq.com/news/2006/11/seam-11-Gavin-King-interview" target="" class="regularLink">http://www.infoq.com/news/2006/11/seam-11-Gavin-King-interview</a>
</p>
</div>
