---
title: "Seam 1.1 CR2 released"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "01-12-2006"
original_tags: []
tags: [Seam]

relative_url: /2006/12/01/seam-11-cr-2-released
slug: seam-11-cr-2-released
lace: http://in.relation.to/1945.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2006/12/01/seam-11-cr-2-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Seam 1.1.0.CR2 fixes a number of minor bugs in the CR1 release, and adds some minor improvements. This release includes a version of the booking example application which deploys on GlassFish, the Java EE 5 reference implementation, along with the <q>hibernate2</q> and <q>jpa</q> examples which run cross-platform on JBoss 4 (with or without EJB3), GlassFish and Tomcat out of the box, and which may be made to run on any J2EE 1.4 compliant application server. The ICEfaces example has been upgraded to ICEfaces 1.5.1.
</p>

<p class="wikiPara">
Download:
</p>

<p class="wikiPara">
<a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=467898" target="" class="regularLink">https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=467898</a>
</p>

<p class="wikiPara">
Changelog:
</p>

<p class="wikiPara">
<a href="http://jira.jboss.com/jira/issues/?jql=project=10071%20AND%20fixVersion=12311064" target="" class="regularLink">http://jira.jboss.com/jira/issues/?jql=project=10071%20AND%20fixVersion=12311064</a>
</p>

<p class="wikiPara">
Enjoy!
</p>
</div>

