---
title: "Seam on InfoQ"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "13-06-2006"
tags: [Seam]

absolute_url: http://in.relation.to/2006/06/13/SeamOnInfoQ
lace: http://in.relation.to/1921.lace
slug: SeamOnInfoQ

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Floyd provides an excellent summary of some of the key ideas on Seam based on an interview we did yesterday:
</p>

<p class="wikiPara">
<a href="http://www.infoq.com/news/JBoss-SEAM-1.0-Gavin-interview" target="" class="regularLink">http://www.infoq.com/news/JBoss-SEAM-1.0-Gavin-interview</a>
</p>
</div>
