---
title: "Seam 1.1 thankyous"
author: "Gavin King"
creation_date: "14-12-2006"
blogger_name: "Gavin"
layout: blog-post
tags: [Seam]
slug: Seam11Thankyous
lace: http://in.relation.to/1951.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
In the <a href="http://blog.hibernate.org/cgi-bin/blosxom.cgi/2006/12/13#seam11-goes-ga" target="" class="regularLink">announcement </a> I neglected to give credit to all the people who worked on <a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=470955" target="" class="regularLink">Seam 1.1 </a>, so I'll take care of that now. Many thanks to:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> James Williams for seam-gen</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Norman Richards for the namespace support in components.xml, and <tt>&lt;s:selectDate/&gt;</tt>
</li>
<li class="wikiUnorderedListItem"> Michael Yuan for testing Seam on WebLogic and GlassFish and getting the examples running on those platforms (this kind of work is always a frustrating and thankless task)</li>
<li class="wikiUnorderedListItem"> The Ajax4JSF team and Todd Smart for getting Ajax4JSF working with Seam</li>
<li class="wikiUnorderedListItem"> Ted Goddard and the ICEfaces team for getting ICEfaces working with Seam</li>
<li class="wikiUnorderedListItem"> Max Andersen for the improvements to Hibernate Tools needed by seam-gen</li>
<li class="wikiUnorderedListItem"> Stan Silvert for the EL enhancements</li>
</ul>

<p class="wikiPara">
And thanks to the <a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=231" target="" class="regularLink">Seam community </a> for your trust and patience!
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'Seam11Thankyous';
    var disqus_title = 'Seam 1.1 thankyous';
    var disqus_url = 'http://in.relation.to/1951.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
