---
title: "Seam 1.1 CR2 released"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: Seam11CR2Released
lace: http://in.relation.to/1945.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/Seam11CR2Released">Seam 1.1 CR2 released</a>
                    </h1>
</div>
<p class="wikiPara">
Seam 1.1.0.CR2 fixes a number of minor bugs in the CR1 release, and adds some minor improvements. This release includes a version of the booking example application which deploys on GlassFish, the Java EE 5 reference implementation, along with the <q>hibernate2</q> and <q>jpa</q> examples which run cross-platform on JBoss 4 (with or without EJB3), GlassFish and Tomcat out of the box, and which may be made to run on any J2EE 1.4 compliant application server. The ICEfaces example has been upgraded to ICEfaces 1.5.1.
</p>

<p class="wikiPara">
Download:
</p>

<p class="wikiPara">
<a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=467898" target="" class="regularLink">https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=467898</a>
</p>

<p class="wikiPara">
Changelog:
</p>

<p class="wikiPara">
<a href="http://jira.jboss.com/jira/secure/ReleaseNote.jspa?projectId=10071&amp;styleName=Html&amp;version=12311064" target="" class="regularLink">http://jira.jboss.com/jira/secure/ReleaseNote.jspa?projectId=10071&amp;styleName=Html&amp;version=12311064</a>
</p>

<p class="wikiPara">
Enjoy!
</p>
</div>
