---
title: "1000 downloads yesterday"
author: "Gavin King"
creation_date: "15-12-2006"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: 1000DownloadsYesterday
lace: http://in.relation.to/1959.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Cool: Seam was <a href="http://labs.jboss.com/portal/jbossseam/download/index.html" target="" class="regularLink">downloaded </a> more than one thousand times on December 14. 
</p>

<p class="wikiPara">
And the <a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=231" target="" class="regularLink">user forum </a> is easily the most active on jboss.org, which is a great sign of things to come.
</p>

<p class="wikiPara">
OK, back to work, enough of the self congratulation...
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = '1000DownloadsYesterday';
    var disqus_title = '1000 downloads yesterday';
    var disqus_url = 'http://in.relation.to/1959.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
