---
title: "Seam 1.0 GA released!"
author: "Gavin King"
creation_date: "13-06-2006"
blogger_name: "Gavin"
layout: blog-post
tags: [Seam]
slug: Seam10GAReleased
lace: http://in.relation.to/1920.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The Seam project is proud to announce the release of JBoss Seam 1.0 GA, an application framework for Java EE 5. Seam aims to be the most productive platform for development of enterprise and rich internet applications in any programming language. 
</p>

<p class="wikiPara">
Seam integrates Java EE 5 technologies like EJB 3.0, JSF and JMS into a unified programming model and then narrows the semantic gap between the business domain and the Java programming language by deeply integrating technologies like jBPM for business process and user interaction modelling and Drools for management of business rules. Seam Remoting provides an AJAX-based remoting layer for EJB 3.0, allowing client-side JavaScript to call EJB session beans directly. Seam's unique contextual state management architecture makes it easy to build applications with complex, stateful user interactions and helps eliminate a whole class of bugs endemic to browser-based applications. Seam also eliminates the <q>XML hell</q> that plagues Java frameworks designed for use with J2EE by leveraging Java 5 annotations for declarative programming.
</p>

<p class="wikiPara">
Seam 1.0 introduces the following new features:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Seam Remoting - an AJAX-based remoting layer for EJB 3.0 components and JMS (created by Shane Bryzak)</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Support for JSR-168 compliant portal engines such as JBoss Portal</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Elegant handling of internationalization and JSF messages via EL-based interpolation</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Helper components for JMS senders/publishers</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> JSF tag library</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Redesigned XML-based configuration facility</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Support for integrating databinding architectures</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Eventing architecture for loosely-coupled components</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Seam Logging</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> JBoss Cache integration for cluster-wide state replication</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Experimental Drools integration</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Compatibility with the Java EE 5 reference implementation</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Much more...</li>
</ul>


<p class="wikiPara">
As usual, the best way to learn about Seam is to check out the example applications. Start with the registration, numberguess, booking, blog, dvdstore and chatroom examples.
</p>

<p class="wikiPara">
Get it here:
</p>

<p class="wikiPara">
<a href="http://jboss.com/products/seam" target="" class="regularLink">http://jboss.com/products/seam</a>
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'Seam10GAReleased';
    var disqus_title = 'Seam 1.0 GA released!';
    var disqus_url = 'http://in.relation.to/1920.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
