---
title: "Web Beans JSR Proposal"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "17-05-2006"
tags: [Web Beans]

absolute_url: http://in.relation.to/2006/05/17/WebBeansJSRProposal
lace: http://in.relation.to/1912.lace
slug: WebBeansJSRProposal

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The recently finalized Java EE 5 platform dramatically simplifies development of Java 
applications. 
</p>

<p class="wikiPara">
For example, no other programming environment in existence makes it as easy to access
transactional resources - particularly relational databases - as EJB 3.0. The
combination of plain Java classes, annotations and deep integration of a full-fledged 
O/R mapping solution leapfrogs all other contenders in this space.
</p>

<p class="wikiPara">
Even better, EE 5 is designed for extension, so we expect to see a flowering of new
open source frameworks built to run on and integrate with this new platform. Seam is 
a perfect example of what is possible here. The deep integration of EJB, JSF and jBPM
would simply not have been possible in J2EE 1.4.
</p>

<p class="wikiPara">
Well, it turns out that Seam has been recieved with enthusiasm. The user community is 
buzzing, with hundreds of Seam projects in the works, and the first crop of Seam 
applications going into production over the next couple of months. Seam 1.0 will be
released in the next few weeks. In light of this success, we've decided the time is
ripe to bring some of the ideas in Seam back to the JCP. 
</p>

<p class="wikiPara">
So we've been working with Sun, Oracle, Borland, Google and Sybase to put together
a JSR proposal for a new spec that will draw on ideas from Seam, Struts Shale and
Oracle ADF and push forward with the next layer of simplification of enterprise 
Java. Today we submitted the <q>Web Beans</q> JSR, which will address the problem of deeply
integrating EJB 3.0 with the web tier, including, to quote from the proposal:
</p>

<pre class="wikiPreformatted">
* Definition of additional capabilities to be used with the EJB component model, 
  allowing EJB beans to act as JSF managed beans in a JavaServer Faces application.

* Definition of a unified annotation-based facility for manipulating contextual 
  variables in a stateful, contextual, component-base architecture.

* Definition of an enhanced context model including conversational and business 
  process contexts.

* Definition of an extension point allowing integration of business process 
  management engines with the contextual component model.

* Integration of Java Persistence API extended persistence contexts with the 
  enhanced context model.

* Collaboration with the JSF and Common Annotations for the Java Platform expert 
  groups on the definition of Java annotation based metadata for JSF.
</pre>


<p class="wikiPara">
We're all looking forward to serving the Java community with this new work!
</p>

<p class="wikiPara">
Read the press release here:
</p>

<p class="wikiPara">
<a href="http://jboss.com/pdf/press/webbeans.pdf" target="" class="regularLink">http://jboss.com/pdf/press/webbeans.pdf</a>
</p>
</div>
