---
title: "1000 downloads yesterday"
author: "Gavin King"
creation_date: "15-12-2006"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: 1000DownloadsYesterday
lace: http://in.relation.to/1959.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Cool: Seam was <a href="http://labs.jboss.com/portal/jbossseam/download/index.html" target="" class="regularLink">downloaded </a> more than one thousand times on December 14. 
</p>

<p class="wikiPara">
And the <a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=231" target="" class="regularLink">user forum </a> is easily the most active on jboss.org, which is a great sign of things to come.
</p>

<p class="wikiPara">
OK, back to work, enough of the self congratulation...
</p>
</div>
