---
title: "Reverse engineering a Seam application from a database"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "11-02-2006"
tags: []

absolute_url: http://in.relation.to/2006/02/11/ReverseEngineeringASeamApplicationFromADatabase
lace: http://in.relation.to/1885.lace
slug: ReverseEngineeringASeamApplicationFromADatabase

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Thomas has posted a movie demonstrating the use of Hibernate Tools (part of JBoss IDE)
to reverse engineer an entire runnable Seam application from an existing database.
</p>

<p class="wikiPara">
<a href="http://www.jboss.com/products/seam/SeamHBTools.html" target="" class="regularLink">http://www.jboss.com/products/seam/SeamHBTools.html</a>
</p>

<p class="wikiPara">
The generated application includes
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> search screens with sorting and pagination</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> create/update/delete screens with association editing and navigation</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> full internationalization</li>
</ul>


<p class="wikiPara">
I'm especially proud of the association handling, which is something that these kinds
of application generation tools usually miss.
</p>

<p class="wikiPara">
Of course, there is nothing very new about tools like this. There have always been tools
in Java that let you reverse engineer databases. Unfortunately, the code that was
generated tended not to be so easily customized or extended to handle complex cases.
But this tool is generating JSF/Seam/EJB3 code. These are technologies designed to make
it easy to handle the complex cases. So, you'll use the tool to get started quickly, and
yet know that you aren't going to run into a wall when you get to the features that go 
beyond the trivial CRUD-type stuff.
</p>
</div>
