---
title: "Seam 1.1 on InfoQ"
author: "Gavin King"
creation_date: "22-11-2006"
blogger_name: "Gavin"
layout: blog-post
tags: [Seam]
slug: Seam11OnInfoQ
lace: http://in.relation.to/1944.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
InfoQ interviewed me on the subject of Seam 1.1. Check it out:
</p>

<p class="wikiPara">
<a href="http://www.infoq.com/news/2006/11/seam-11-Gavin-King-interview" target="" class="regularLink">http://www.infoq.com/news/2006/11/seam-11-Gavin-King-interview</a>
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'Seam11OnInfoQ';
    var disqus_title = 'Seam 1.1 on InfoQ';
    var disqus_url = 'http://in.relation.to/1944.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
