---
title: "Seam hands-on lab from JBoss World"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "21-06-2006"
tags: []

absolute_url: http://in.relation.to/2006/06/21/SeamHandsonLabFromJBossWorld
lace: http://in.relation.to/1926.lace
slug: SeamHandsonLabFromJBossWorld

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Norman Richards (super-smart/thoughtful guy doing product management stuff at JBoss) has posted a download of the Seam hands-on lab from JBoss World. This is a nice way to get started with Seam, and much more interesting than listening to me rant on about conversations and state management and unified component models for an hour and a half...
</p>

<p class="wikiPara">
<a href="http://docs.jboss.org/seam/jbossworld-seam-lab.zip" target="" class="regularLink">http://docs.jboss.org/seam/jbossworld-seam-lab.zip</a>
</p>

<p class="wikiPara">
(Warning: it's a bit enormous because it bundles the appserver!)
</p>
</div>
