---
title: "1000 downloads yesterday"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "15-12-2006"
original_tags: []
tags: []

relative_url: /2006/12/15/1000-downloads-yesterday
slug: 1000-downloads-yesterday
lace: http://in.relation.to/1959.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2006/12/15/1000-downloads-yesterday
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Cool: Seam was <a href="http://labs.jboss.com/portal/jbossseam/download/index.html" target="" class="regularLink">downloaded </a> more than one thousand times on December 14. 
</p>

<p class="wikiPara">
And the <a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=231" target="" class="regularLink">user forum </a> is easily the most active on jboss.org, which is a great sign of things to come.
</p>

<p class="wikiPara">
OK, back to work, enough of the self congratulation...
</p>
</div>

