---
title: "Red Hat to acquire JBoss"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "10-04-2006"
tags: []

relative_url: /2006/04/10/RedHatToAcquireJBoss
slug: RedHatToAcquireJBoss
lace: http://in.relation.to/1897.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2006/04/10/RedHatToAcquireJBoss
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I, for one, welcome our new penguin overlords. 
</p>

<p class="wikiPara">
The last couple of months have been pretty nerve wracking. The various rumors floating about generated a fair amount of uncertainty for our customers, employees and user community at large (nevertheless, despite the uncertainty, March was a record month for sales!). In the end, Marc chose to sell to Red Hat. This is the combination that offers the greatest synergies to both companies, is most reassuring to our customers, and causes the least disruption to our overall business and technology strategy. Most of all, it clearly signals our continued commitment to Free Software. The two companies have similar business models, similar licenses and a similar record of successful evangelization and commercialization of open source.
</p>

<p class="wikiPara">
The planned acquisition of JBoss by Red Hat will revitalize the middleware market - expect a more competitive marketplace, with all major products based on open source codebases. And expect us to be leaders in SOA. No other software company offers an open source enterprise software platform of comparable depth and maturity.
</p>

<p class="wikiPara">
Obviously, Marc deserves all the congratulations he's getting today. He's delivered on basically everything he promised when I joined the company two and a half years ago (back when there were three people working out of our Atlanta headquaters). He's changed the middleware market for good. He's built a company where technical people have the freedom to pursue their ideas. And he's made a whole bundle of money for himself and his employees. 
</p>

<p class="wikiPara">
For a technical guy like me, JBoss is Camelot. Three years ago I was dragging myself out of bed each morning to go to my depressing job building boring web applications for organizations run by risk-averse middle managers and clueless <q>architects</q>. I was thoroughly frustrated with the lack of productivity of the technology platform - always WebSphere - that was forced down my throat by these guys. And I knew I was wasting most of my life sitting in a cube reading blogs (the dirty secret is that when you sit them in a cube farm, very few developers are actually productive for more than about three of the eight hours in a workday). That was a world where an idea - however unoriginal - was valued on the basis of how many grey hairs were in evidence on the head of the person expressing the idea. But the hair was not the only thing that needed to be grey. In the world of <q>professional services</q>, only the greyest personalities succeed. Passion, creativity, vision - all liabilities. Knowing no other world, I believed that that world was the whole world. At night I'd work on Hibernate, hoping that perhaps - if Hibernate became wildly successful - I might get just an ounce more respect in that world, despite my obvious lack of greyness.
</p>

<p class="wikiPara">
My first visit to America was for a conference in Massachusetts. JBoss sent Bill Burke and Ben Sabrin to meet and recruit me. These guys are the perfect metaphor for the culture of JBoss: a culture driven equally by technology and sales. Bill is a technology guy through and through. Ben is my perfect ideal of a fast-talking American salesman. If Ben tries to sell you something, you can't possibly not buy it. Ben sold me JBoss. A few weeks later I was back in the states to meet Marc Fleury. I was expecting a difficult relationship here. I'd been warned by a several people that Marc was a difficult guy. I'm a difficult guy myself. And indeed, for a while, there were many difficult issues to work through. This was all happening during what were undoubtedly the darkest days for JBoss. A month or two earlier, three people had very noisily left the company and, through clever PR, created the impression that JBoss Group had split down the middle. The rest of the company felt deeply betrayed, angry and distrustful. But as memories of those events faded, what remained was a more unified, more motivated company. Bitterness was transformed into purposeful determination. The company grew from a headcount of less than 20 to almost 200. To my knowledge, not a single developer has left the company in the period since I joined. If you're creative, self-motivated, thick-skinned, this is perhaps the best software company in the world to work for. I look forward to seeing the continuation of this culture at Red Hat.
</p>
</div>

