---
title: "JSR-299 Web Beans approved by the EC"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "07-06-2006"
original_tags: [Web Beans]
tags: [CDI]

relative_url: /2006/06/07/jsr-299-web-beans-approved-by-the-ec
slug: jsr-299-web-beans-approved-by-the-ec
lace: http://in.relation.to/1918.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2006/06/07/jsr-299-web-beans-approved-by-the-ec
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The Web Beans JSR was approved unanimously by the JCP executive committee.
You can read the proposal here:
</p>

<p class="wikiPara">
<a href="http://jcp.org/en/jsr/detail?id=299" target="" class="regularLink">http://jcp.org/en/jsr/detail?id=299</a>
</p>

<p class="wikiPara">
We've already received a bunch of expert nominations from companies and
individuals, and so I'm sure we'll be able to form a very talented 
expert group over the next few weeks. If you're interested, the nomination
form is here:
</p>

<p class="wikiPara">
<a href="http://jcp.org/en/jsr/egnom?id=299" target="" class="regularLink">http://jcp.org/en/jsr/egnom?id=299</a>
</p>

<p class="wikiPara">
This is the first time JBoss (or even Red Hat) has led a JSR, so we are 
very excited about this opportunity to serve the Java EE community!
</p>
</div>

