---
title: "Seam 1.1 CR1 released"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "21-11-2006"
original_tags: [Seam]
tags: [Seam]

relative_url: /2006/11/21/seam-11-cr-1-released
slug: seam-11-cr-1-released
lace: http://in.relation.to/1943.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2006/11/21/seam-11-cr-1-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
With the release of CR1, we are proud to announce Seam 1.1 to the world. Seam 1.1 brings 
Ajax, lightweight asynchronicity and the Seam Application Framework to Seam, and brings Seam 
to the J2EE platform. No matter what application server you use, you can experience the difference made by Seam's unique state and concurrency management architecture. This release is also a huge step forward in maturity, with many bugfixes and minor enhancements.
</p>

<p class="wikiPara">
New features include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> New concurrency model for AJAX-based applications</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Integration with ICEfaces and Ajax4JSF</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Support for J2EE environments</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> The Seam Application Framework for data-oriented applications</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> seam-gen, a command line tool for generating seam projects, actions, and reverse engineering existing databases</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Efficient clustering of Seam-managed extended persistence contexts and JavaBean components</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Support for atomic conversations</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Asynchronous methods and events</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Enhanced configuration via components.xml</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Exception handling via annotations or exceptions.xml</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Page fragment caching via <tt>&lt;s:cache/&gt;</tt>
</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Decoration of invalid input via <tt>&lt;s:decorate/&gt;</tt>
</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Page parameters for RESTful applications</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Themes</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Support for the Sun JSF 1.2 reference implementation</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Many, many bugfixes and other enhancements</li>
</ul>


<p class="wikiPara">
Many thanks to everyone who contributed to this release, which was a real team effort.
</p>

<p class="wikiPara">
Download it here:
</p>

<p class="wikiPara">
<a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=465354" target="" class="regularLink">https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=465354</a>
</p>
</div>

