---
title: "Seam on InfoQ"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: [Seam]
slug: SeamOnInfoQ
lace: http://in.relation.to/1921.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/SeamOnInfoQ">Seam on InfoQ</a>
                    </h1>
</div>
<p class="wikiPara">
Floyd provides an excellent summary of some of the key ideas on Seam based on an interview we did yesterday:
</p>

<p class="wikiPara">
<a href="http://www.infoq.com/news/JBoss-SEAM-1.0-Gavin-interview" target="" class="regularLink">http://www.infoq.com/news/JBoss-SEAM-1.0-Gavin-interview</a>
</p>
</div>
