---
title: "Seam 1.0.1 released"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "19-06-2006"
tags: [Seam]

relative_url: /2006/06/19/Seam101Released
slug: Seam101Released
lace: http://in.relation.to/1922.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2006/06/19/Seam101Released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Last week thousands of people downloaded Seam 1.0 and tried it out. Inevitably, they picked up on a couple of bugs of the <q>minorish</q> variety. At the same time, I was getting some useful feedback from users who are already developing and/or deploying Seam applications at JBoss World. Finally, Roger Kitain from Sun reported a problem running Seam on GlassFish. So, I needed to do a 1.0.1 release:
</p>

<p class="wikiPara">
<a href="http://labs.jboss.com/portal/jbossseam/download/index.html" target="" class="regularLink">http://labs.jboss.com/portal/jbossseam/download/index.html</a>
</p>

<p class="wikiPara">
This release has been properly tested on GlassFish.
</p>

<p class="wikiPara">
Note that if you are using JBoss AS, Seam requires JBoss EJB 3.0 RC8. The best way to get the right versions of everything is to use the JEMS installer here:
</p>

<p class="wikiPara">
<a href="http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=193295&amp;release_id=424215" target="" class="regularLink">http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=193295&amp;release_id=424215</a>
</p>

<p class="wikiPara">
(I know that this caused some hiccups for some people.)
</p>

<p class="wikiPara">
Of late, the pressure on us has been to stop throwing in new features, and focus on stabilising the platform, so that people can feel confident using Seam in production. I think we are finally there now. I'm really happy with some of the applications I'm seeing built in Seam: you can really see the difference in user experience between a traditional web application and a Seam application with conversations, AJAX, business process management, etc. I was especially impressed with the workflow application built by JBoss Innovation Award winners Lexicon Genetics in just a couple of months. Doing something like that without jBPM and Seam would be a seriously much bigger undertaking. And they are pushing the limits of the environment, and helping feed me new ideas for Seam.
</p>
</div>
