---
title: "Let's demo the wiki-text"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "01-09-2007"
tags: [Seam Wiki]

relative_url: /2007/09/01/LetsDemoTheWikitext
slug: LetsDemoTheWikitext
lace: http://in.relation.to/2273.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/09/01/LetsDemoTheWikitext
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Check out the new <i class="wikiEmphasis">blog</i>! How do you like the /text/ styling?
</p>

<p class="wikiPara">
Some plain HTML:
</p>

<table style="border-width: 1px; border-style: solid; border-color:blue;">
<tr>
<td>Foo</td>
<td>Bar</td>
</tr>
</table>

<p class="wikiPara">
A numbered list:
</p>

<ol class="wikiOrderedList">
<li class="wikiOrderedListItem"> something</li>
<li class="wikiOrderedListItem"> something else</li>
</ol>

<p class="wikiPara">
A bullet list:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> something</li>
<li class="wikiUnorderedListItem"> something else</li>
</ul>

<h1 class="wikiHeadline1" id="H-HereIsAFirstlevelHeading"><a href="/2007/09/01/LetsDemoTheWikitext#H-HereIsAFirstlevelHeading">Here is a first-level heading</a></h1>

<p class="wikiPara">
And some text beneath.
</p>

<h2 class="wikiHeadline2" id="H-HereIsASecondlevelHeading"><a href="/2007/09/01/LetsDemoTheWikitext#H-HereIsASecondlevelHeading">Here is a second-level heading</a></h2>

<p class="wikiPara">
Here is a pretty picture:
</p>

<p class="wikiPara">
<img src="/service/File/2280" width="400" height="300">
</p>

<pre class="wikiPreformatted">//here is some code
//it gets displayed in monospace

x = x + 1;</pre>


<blockquote class="wikiBlockquote">
This is a quote from someone else,
in block form.
</blockquote>

<p class="wikiPara">
But you can also <q>quote someone</q> inline.
</p>

<p class="wikiPara">
Here is some <tt>monospace</tt> and <sup>super</sup>script and <del>deleted</del> text.
</p>

<p class="wikiPara">
Here is a simple link: <a href="http://docs.jboss.org/seam/1.2.1.GA/reference/en/html/text.html" target="" class="regularLink">http://docs.jboss.org/seam/1.2.1.GA/reference/en/html/text.html</a>
</p>

<p class="wikiPara">
For more complex things, we can use plugins :-)
</p>

<p class="wikiPara">
You can get more information <a href="http://docs.jboss.org/seam/1.2.1.GA/reference/en/html/text.html" target="" class="regularLink">here</a>.
</p>
</div>
