---
title: "EL in QL"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: ELInQL
lace: http://in.relation.to/1979.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/ELInQL">EL in QL</a>
                    </h1>
</div>
<p class="wikiPara">
By the way, my favorite new Seam 1.2 feature is this one:
</p>

<pre class="wikiPreformatted">
entityManager.createQuery("select u from User u where u.name=#{user.name}").getResultList();
</pre>


<p class="wikiPara">
Nice, huh? ;-)
</p>
</div>
