---
title: "Genuitec switches course :-)"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "22-03-2007"
tags: []

relative_url: /2007/03/22/GenuitecSwitchesCourse
slug: GenuitecSwitchesCourse
lace: http://in.relation.to/1987.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/03/22/GenuitecSwitchesCourse
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Wow, amazing how quickly my last blog entry got results!
Since I posted it, it appears that Genuitec have decided
to comply with the LGPL and provide their modifications
to Hibernate tools in source form:
</p>

<p class="wikiPara">
<a href="http://www.myeclipseide.com/ContentExpress-display-ceid-108.html" target="" class="regularLink">http://www.myeclipseide.com/ContentExpress-display-ceid-108.html</a>
</p>

<p class="wikiPara">
I don't know why it had to take 1.5 years for them to take 
this step.
</p>

<p class="wikiPara">
Of course, rather than apologizing for the <q>oversight</q>, Maher
writes yet another silly and this time dishonest blog, 
blaming us for Genuitec's noncompliance. Whatever - I'm sure
some people will believe his version of the story, but 
some people will believe anything :-)
</p>

<p class="wikiPara">
We'll take a look at what has been released today, and 
hopefully this is the end of this sorry episode.
</p>

<p class="wikiPara">
Amazing what a 'lil bit of good old fashioned public shaming 
could accomplish that 1.5 years worth of friendly private 
approaches could not.
</p>

<p class="wikiPara">
UPDATE: Ups! Max thinks some stuff is missing from the source
bundle. He's digging a bit deeper. We'll keep you up to date
on how this news evolves ;-)
</p>
</div>
