---
title: "Wiki Road Map"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "20-09-2007"
tags: [Seam Wiki]

relative_url: /2007/09/20/WikiRoadMap
slug: WikiRoadMap
lace: http://in.relation.to/2384.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/09/20/WikiRoadMap
---
<div id="documentDisplay" class="documentDisplay">

<p class="wikiPara">
In case you're wondering, this site is running on a new wiki platform that 
<a href="/Bloggers/ChristiansBlog" target="" class="regularLink">Christian</a> has developed over the last few months. We'll use this wiki 
for the new seamframework.org site and, eventually, port 
<a href="http://hibernate.org" target="" class="regularLink">hibernate.org</a> across. For now, 
<a href="http://in.relation.to" target="" class="regularLink">this blog</a> is a perfect way to validate the content 
and plugin architecture and test the overall stability of the platform.
</p>

<p class="wikiPara">
(Yeah, I know the site was crawling yesterday, hopefully this problem will be 
resolved soon, we'll see...)
</p>

<p class="wikiPara">
Every page on this website is a wiki page, and was produced by writing
<a href="/Help/WikiTextMarkup" target="" class="regularLink">wiki text</a>. The only reason you see this content as a blog is 
that Christian has developed a set of plugins that may be used to aggregate
and embed content within the surrounding Seam Text content.
</p>

<p class="wikiPara">
For example, the Seam Text source of <a href="/Bloggers/GavinsBlog" target="" class="regularLink">my blog home page</a> is:
</p>

<pre>[&lt;=hideCreatorHistory]
[&lt;=clearBackground]

&lt;div style="float:right; width:29%;"&gt;
&lt;div&gt;[&lt;=userProfile]&lt;/div&gt;
&lt;div style="margin-top:15px;"&gt;[&lt;=blogRecentEntries]&lt;/div&gt;
&lt;div style="margin-top:15px;"&gt;[&lt;=blogArchive]&lt;/div&gt;

&lt;div class="box" style="margin-top:15px;"&gt;
    &lt;div class="boxHeader"&gt;My Links&lt;/div&gt;
    &lt;div class="boxContent"&gt;
        [Hibernate=&gt;http://www.hibernate.org]
        &lt;br/&gt;
        [Seam=&gt;http://www.jboss.com/products/seam]
        &lt;br/&gt;
        [My Photo Blog=&gt;http://gavin-king.blogspot.com]
    &lt;/div&gt;
 &lt;/div&gt;

&lt;/div&gt;
&lt;div style="width:70%;"&gt;[&lt;=blogDirectory]&lt;/div&gt;</pre>
<p class="wikiPara">
 
</p>

<p class="wikiPara">
So why are we wasting our time building wikis and blogs when we could be doing
real work? Well, first, it gives us a good way to explore the limits of 
<a href="http://www.jboss.com/products/seam" target="" class="regularLink">our chosen application framework</a>. (Mmmmm, 
dogfood...) Second, it is frankly embarrassing that major Java framework sites
like <a href="http://hibernate.org" target="" class="regularLink">hibernate.org</a> and 
<a href="http://springframework.org" target="" class="regularLink">springframework.org</a> don't run on Java!
<a href="http://jboss.org" target="" class="regularLink">jboss.org</a> /does/ run on Java (and JBoss) but to be honest
we're simply not satisfied with the legacy-ish infrastructure that is available
there at this time. 
</p>

<p class="wikiPara">
Nor are we satisfied with any of the other open source Java-based wiki's out 
there. This is partly because our needs go beyond a pure wiki engine. We need 
the platform to also support a blog, discussion forum and knowledge base, with
a uniform interface for all of the following concerns:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> user registration and administration</li>
<li class="wikiUnorderedListItem"> content creation and editing</li>
<li class="wikiUnorderedListItem"> content versioning and diffing</li>
<li class="wikiUnorderedListItem"> syndication</li>
<li class="wikiUnorderedListItem"> permissioning</li>
<li class="wikiUnorderedListItem"> tagging</li>
<li class="wikiUnorderedListItem"> attachments</li>
<li class="wikiUnorderedListItem"> preferences management </li>
<li class="wikiUnorderedListItem"> search</li>
</ul>

<p class="wikiPara">
Much of this infrastructure is already in place. But we do have a few more items
to go before we can start work on seamframework.org. Top of my list are:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> A forum plugin, which would aggregate content as a forum thread, just as the blog plugins aggregate content as a blog</li>
<li class="wikiUnorderedListItem"> A knowledge base plugin, to aggregate content as FAQ page</li>
<li class="wikiUnorderedListItem"> Support for tagging, in addition to the existing heirarchical organization of content</li>
<li class="wikiUnorderedListItem"> The ability to easily move pages between directories</li>
<li class="wikiUnorderedListItem"> a plugin for syndicating external Atom feeds onto the wiki</li>
<li class="wikiUnorderedListItem"> Help</li>
<li class="wikiUnorderedListItem"> Internationalization</li>
<li class="wikiUnorderedListItem"> A plugin for opinion polls (just for fun!)</li>
</ul>

</div>

