---
title: "Seam 1.1.1 released"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: [Seam]
slug: Seam111Released
lace: http://in.relation.to/1963.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/Seam111Released">Seam 1.1.1 released</a>
                    </h1>
</div>
<p class="wikiPara">
Seam 1.1.1 is now available for download.
</p>

<p class="wikiPara">
<a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=479605" target="" class="regularLink">https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=479605</a> 
</p>

<p class="wikiPara">
This release fixes several minor bugs, introduces a number of improvements to seam-gen,
and adds the following new features:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Facelets PDF templates (a JSF tag library for iText)</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> definition of navigation rules via pages.xml</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Seam Text, a built-in text formatting language for use in blogs, forums and wikis</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <q>transaction success</q> events</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> several improvements to pages.xml </li>
</ul>


<p class="wikiPara">
The most exciting feature is the PDF generation (developed by Norman Richards). It's now 
super easy to generate PDF from Seam, by writing a simple facelets template. Check out the 
samples in the examples/pdf directory.
</p>

<p class="wikiPara">
For people building collaboration-oriented websites, Seam Text is a wikitext parser built
using an ANTLR grammar. It's totally trivial to display wikitext in your Seam application 
using <tt>&lt;s:formattedText/&gt;</tt>. The language itself is nice and flexible - much, much better than 
the awful wikitext language used by the software that runs this blog. I guess its well past
time for blog.hibernate.org to be running on Seam. 
</p>
</div>
