---
title: "JBoss Tools Screenshots"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "15-11-2007"
tags: [JBoss Tools,Seam]

relative_url: /2007/11/15/JBossToolsScreenshots
slug: JBossToolsScreenshots
lace: http://in.relation.to/3001.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/11/15/JBossToolsScreenshots
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
To celebrate the <a href="/Bloggers/JBossTools2ReleaseCandidate" target="" class="regularLink">new release</a> of JBoss Tools, I'm going to walk through some of the features of JBoss Tools that are interesting to Seam developers.
</p>

<p class="wikiPara">
There are two perspectives that are of interest for people using Seam: the Seam perspective and the Hibernate perspective: 
</p>

<div style="text-align:center">
<a href="/service/File/2993" target="" class="regularLink"><img src="/service/File/2993?thumbnail=true"></a>
</div>

<p class="wikiPara">

</p>

<p class="wikiPara">
The Seam perspective features some very useful wizards in the <tt>New</tt> menu:
</p>

<div style="text-align:center">
<a href="/service/File/2989" target="" class="regularLink"><img src="/service/File/2989?thumbnail=true"></a>
</div>

<p class="wikiPara">
The first thing you'll want to do is create a <tt>Seam Web Project</tt>, by following the wizard:
</p>

<div style="text-align:center">
<a href="/service/File/2990" target="" class="regularLink"><img src="/service/File/2990?thumbnail=true"></a>
</div>

<div style="text-align:center">
<a href="/service/File/2992" target="" class="regularLink"><img src="/service/File/2992?thumbnail=true"></a>
</div>

<p class="wikiPara">
Next, create a <tt>Seam Action</tt>:
</p>

<div style="text-align:center">
<a href="/service/File/2988" target="" class="regularLink"><img src="/service/File/2988?thumbnail=true"></a>
</div>

<p class="wikiPara">
All Seam components are easily accessible from the Seam Component View:
</p>

<div style="text-align:center">
<a href="/service/File/2997" target="" class="regularLink"><img src="/service/File/2997?thumbnail=true"></a>
</div>

<p class="wikiPara">
Even better, they're autocompleted whenever you start typing an EL expression:
</p>

<div style="text-align:center">
<a href="/service/File/2996" target="" class="regularLink"><img src="/service/File/2996?thumbnail=true"></a>
</div>

<p class="wikiPara">
Even property names are autocompleted (JBoss Tools is even smart enough to understand generic types!):
</p>

<div style="text-align:center">
<a href="/service/File/2995" target="" class="regularLink"><img src="/service/File/2995?thumbnail=true"></a>
</div>

<p class="wikiPara">
We can run our application from the <tt>Run</tt> menu, or from the Servers View. JBoss Tools automatically deploys changes incrementally, a /big/ improvement over the Ant-based solution used in seam-gen:
</p>

<div style="text-align:center">
<a href="/service/File/2998" target="" class="regularLink"><img src="/service/File/2998?thumbnail=true"></a>
</div>

<p class="wikiPara">
The most impressive feature of JBoss Tools is the visual page editor, which does a great job of previewing complex Facelets pages with RichFaces controls, standard JSF controls and even Facelets templating:
</p>

<div style="text-align:center">
<a href="/service/File/2999" target="" class="regularLink"><img src="/service/File/2999?thumbnail=true"></a>
</div>

<p class="wikiPara">
Of course, autocomplete and hyperlink/F3 navigation to Seam components and Seam component properties also works in the visual editor: 
</p>

<div style="text-align:center">
<a href="/service/File/2994" target="" class="regularLink"><img src="/service/File/2994?thumbnail=true"></a>
</div>

<p class="wikiPara">
There is a visual editor for <tt>web.xml</tt>:
</p>

<div style="text-align:center">
<a href="/service/File/3000" target="" class="regularLink"><img src="/service/File/3000?thumbnail=true"></a>
</div>

<p class="wikiPara">
And one for <tt>components.xml</tt>:
</p>

<div style="text-align:center">
<a href="/service/File/2984" target="" class="regularLink"><img src="/service/File/2984?thumbnail=true"></a>
</div>

<p class="wikiPara">
Autocomplete and hyperlinking/F3 work here too:
</p>

<div style="text-align:center">
<a href="/service/File/2983" target="" class="regularLink"><img src="/service/File/2983?thumbnail=true"></a>
</div>

<p class="wikiPara">
If we use <tt>Seam Generate Entities</tt>, we can reverse engineer an application from a database schema, or from existing entities:
</p>

<div style="text-align:center">
<a href="/service/File/2985" target="" class="regularLink"><img src="/service/File/2985?thumbnail=true"></a>
</div>

<p class="wikiPara">
And, switching to the Hibernate Perspective, we can browse the entities via a treeview:
</p>

<div style="text-align:center">
<a href="/service/File/2986" target="" class="regularLink"><img src="/service/File/2986?thumbnail=true"></a>
</div>

<p class="wikiPara">
Or via a full visualization of the mapping:
</p>

<div style="text-align:center">
<a href="/service/File/2987" target="" class="regularLink"><img src="/service/File/2987?thumbnail=true"></a>
</div>
</div>

