---
title: "Welcome to the new blog"
author: "Gavin King"
creation_date: "01-09-2007"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: WelcomeToTheNewBlog
lace: http://in.relation.to/2271.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Now we're getting really really close to having a real community site for <a href="http://labs.jboss.com/jbossseam" target="" class="regularLink">Seam</a>!
</p>

<p class="wikiPara">
Thanks Christian!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'WelcomeToTheNewBlog';
    var disqus_title = 'Welcome to the new blog';
    var disqus_url = 'http://in.relation.to/2271.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
