---
title: "Seam 2.0 now in beta"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "28-06-2007"
tags: [Seam]

relative_url: /2007/06/28/Seam20NowInBeta
slug: Seam20NowInBeta
lace: http://in.relation.to/1993.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/06/28/Seam20NowInBeta
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Three months to the day after the release of Seam 1.2.1, Seam2 has entered its beta phase. The Seam 2.0 codebase is more robust, better organized, better documented and is designed to take Seam beyond the world of JSF. Seam 2.0 introduces the following changes and new features:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Seam WS allows Seam components to function as Web Service endpoints</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Seam components may now be writted in Groovy</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> The Seam core is now independent of JSF</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Experimental support for the Google Web Toolkit</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Integration of Hibernate Search</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Introduction of JBoss EL, an extension to the Unified EL of Java EE 5 </li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Major enhancements to Seam Asynchronicity, including Quartz integration</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Major enhancements to jBPM integration</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Completely reorganized packaging of built-in components</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Migration to JSF 1.2</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Simplified configuration</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Support for pageflow composition</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Enhancements to the integration testing framework</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> New transaction abstraction layer with support for non-JTA environments</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Enhanced JavaDoc</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Two new example applications</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Migration to the new Embedded JBoss</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Seam JSF controls reimplemented using Ajax4JSF CDK</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Many, many bugfixes</li>
</ul>


<p class="wikiPara">
Many thanks to everyone who contibuted to this major release, and to the Seam community for your ongoing support, encouragement and enthusiasm.
</p>

<p class="wikiPara">
Get it here:
</p>

<p class="wikiPara">
<a href="http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=519157" target="" class="regularLink">http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=519157</a>
</p>
</div>

