---
title: "Seam 1.2.1 with incremental hot deployment"
author: "Gavin King"
creation_date: "28-03-2007"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: Seam121WithIncrementalHotDeployment
lace: http://in.relation.to/1988.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Norman released <a href="http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=496874" target="" class="regularLink">1.2.1 </a> 
yesterday. Have you ever wished you could have the same edit/test cycle in Java that people in the PHP, Ruby or Grails
communities take for granted? I mean, the ability to edit a Java class or XHTML page in your editor, and then see the 
result immediately, just by clicking refresh in your browser? Well, now you can. The easiest way to try out this new
feature is to create a WAR project using seam-gen, and start coding - it's wicked fun.
</p>

<p class="wikiPara">
Of course, there are some limitations to this feature: at this time, only Seam JavaBean components are supported - it 
doesn't work for entities, and it doesn't (yet) work for EJB3 components. We do plan to support this feature for EJB3 
components, but it looks like we won't have time to work on that until after JavaOne.
</p>

<p class="wikiPara">
Also new in this release is integration of RichFaces into the UI created by seam-gen, enhancements to <tt>&lt;s:decorate/&gt;</tt> 
and support for conversation propagation via a <q>business key</q> (ie. instead of seeing conversationId=3 in your URL, 
you would see orderId=45656). As usual, there are many bugfixes and documentation improvements.
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'Seam121WithIncrementalHotDeployment';
    var disqus_title = 'Seam 1.2.1 with incremental hot deployment';
    var disqus_url = 'http://in.relation.to/1988.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
