---
title: "Exadel and JBoss partnership"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: ExadelAndJBossPartnership
lace: http://in.relation.to/1985.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/ExadelAndJBossPartnership">Exadel and JBoss partnership</a>
                    </h1>
</div>
<p class="wikiPara">
Exadel and JBoss are partnering to build a unified development environment for enterprise Java, comparable to Microsoft's .Net. Please read the announcement here:
</p>

<p class="wikiPara">
<a href="http://www.theserverside.com/news/thread.tss?thread_id=44506" target="" class="regularLink">http://www.theserverside.com/news/thread.tss?thread_id=44506</a>
</p>

<p class="wikiPara">
Let me give a quick summary of what is happening, and especially what it means for Seam and Hibernate users:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> The Exadel RichFaces JSF component suite, and the Exadel Studio Pro eclipse plugin suite are being released into open source as <q>JBoss RichFaces</q> and <q>Red Hat Developer Studio</q> under LGPL and GPL licenses respectively. Ajax4JSF, which was already open source, will also be hosted at JBoss.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> The existing team at Exadel will continue to develop RichFaces, Ajax4JSF and the eclipse-based toolset, in partnership with JBoss.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Existing functionality in JBoss IDE will be integrated with Exadel Studio Pro and maintained by the existing JBoss IDE team. Max Andersen of Hibernate Tools fame is co-ordinating the huge task of joining the two projects together and productizing them as Red Hat Developer Studio.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Future development of the combined toolset will emphasize support for Seam and also Hibernate. Our goal is to build a deeply integrated and insanely productive development environment that is comparable to Microsoft's .Net, but based upon open standards, scalability, and the robustness for which enterprise Java is famous.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Existing JSF components in Seam will be migrated to the Ajax4JSF CDK (component development kit). CDK will also be productized as an API for JSF component development, which is a missing piece of the JSF ecosystem today.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Since a vibrant JSF ecosystem is of absolutely critical importance to Seam, we will continue to work with the development teams of other component suites (icefaces, trinidad, woodstock, etc) to ensure that Seam and the JSF tooling works well with these products. IMO, there will never be a single dominant vendor in this space, since UI is such a personal thing. We will also be working to make it easier to use different component suites together. For example, Trinidad and RichFaces can already co-exist, but we've got some ideas for making the experience of using them together even better.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Exadel and JBoss hope to make a big contribution to the next revision of JSF, slated for Java EE 6.</li>
</ul>


<p class="wikiPara">
Now for a bit more detail on the pre-existing technology that is actually being released into open source:
</p>

<p class="wikiPara">
Exadel Studio Pro is a suite of Eclipse plugins, including:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> a visual JSF/Facelets/JSP/HTML editor, </li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> ORM tooling, </li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> tooling for JSF including EL </li>
</ul>


<p class="wikiPara">
and much more. Ajax4JSF is a JSF addon that provides 
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> partial page rendering, partial form submission, etc, via the standard JSF lifecycle,</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> a small set of JSF controls for controlling partial submits, </li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> a <q>resource management framework</q> which makes it possible for JSF controls to manage CSS and JavaScript resources elegantly (no more inline JavaScript ugliness),</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> a Component Development Kit for building JSF controls for both JSP and Facelets with minimal code,</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> a fantastic skinning architecture for controlling look and feel of JSF controls built using CDK.</li>
</ul>


<p class="wikiPara">
Finally, RichFaces is a suite of JSF controls built using Ajax4JSF, with all the cool stuff like drag 'n drop, etc. You can see a demo here:
</p>

<p class="wikiPara">
<a href="http://livedemo.exadel.com/richfaces-demo" target="" class="regularLink">http://livedemo.exadel.com/richfaces-demo</a>
</p>

<p class="wikiPara">
I would like to welcome the Exadel folks to the JBoss and Seam communities. These guys are super-technical and have built some really fantastic technology. I'm hugely excited at the opportunity to bring their stuff to a much wider audience.
</p>

<p class="wikiPara">
I would also like to thank Ram Venkataraman for killing himself for months to make this deal happen.
</p>
</div>
