---
title: "JSR-299 Web Beans Early Draft "
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "19-10-2007"
tags: [Web Beans]

relative_url: /2007/10/19/JSR299WebBeansEarlyDraft
slug: JSR299WebBeansEarlyDraft
lace: http://in.relation.to/2609.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/10/19/JSR299WebBeansEarlyDraft
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The first <a href="#attachment1" target="" class="regularLink">early draft[1]</a> is now available! Please send comments to <a href="mailto:jsr-299-comments(AT)jcp.org" target="" class="regularLink">jsr-299-comments(AT)jcp.org</a>. We really /do/ pay attention to community feedback, so if you take the time, it won't be wasted!
</p>

<p class="wikiPara">
(The JCP site is currently experiencing technical difficulties, so we're making the spec available for download here, temporarily.)
</p>

<p class="wikiPara">
I would like to give a huge thanks to everyone on the expert group who helped get us this far. I know it's inelegant to single out individuals, but since it is rare to see people (especially individual JCP members) recognized for their contributions to spec groups, I'm going to do it anyway. Extra special thanks to:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Bob Lee</li>
<li class="wikiUnorderedListItem"> Linda DeMichiel</li>
<li class="wikiUnorderedListItem"> Jacob Hookom</li>
<li class="wikiUnorderedListItem"> Adam Winer</li>
<li class="wikiUnorderedListItem"> Michael Youngstrom</li>
<li class="wikiUnorderedListItem"> Richard Kennard</li>
<li class="wikiUnorderedListItem"> Conny Lundgren</li>
<li class="wikiUnorderedListItem"> Roger Kitain</li>
<li class="wikiUnorderedListItem"> Chris Maki</li>
</ul>

<p class="wikiPara">
Let us know what you think!</p>
</div>

<div class="attachments">
<h4>Attachments</h4>
<ol class="wikiOrderedList"><li class="wikiOrderedListItem"><a name="attachment1" href="/assets/Web Beans EDR.pdf">Web Beans EDR.pdf</a></li>
</ol>
</div>

