---
title: "Web Beans EDR now available at jcp.org"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "24-10-2007"
tags: []

relative_url: /2007/10/24/WebBeansEDRNowAvailableAtJcporg
slug: WebBeansEDRNowAvailableAtJcporg
lace: http://in.relation.to/2651.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/10/24/WebBeansEDRNowAvailableAtJcporg
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The JCP folks seem to have resolved their technical problems, and the Web Beans EDR is now <a href="http://jcp.org/aboutJava/communityprocess/edr/jsr299/" target="" class="regularLink">available at jcp.org</a>. We've had some great feedback on the <a href="mailto:jsr-299-comments(AT)jcp.org" target="" class="regularLink">comments alias</a> already. Please keep it coming!</p>
</div>

