---
title: "Welcome to the new blog"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: WelcomeToTheNewBlog
lace: http://in.relation.to/2271.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/WelcomeToTheNewBlog">Welcome to the new blog</a>
                    </h1>
</div>
<p class="wikiPara">
Now we're getting really really close to having a real community site for <a href="http://labs.jboss.com/jbossseam" target="" class="regularLink">Seam</a>!
</p>

<p class="wikiPara">
Thanks Christian!</p>
</div>
