---
title: "Seam 1.2 GA is out"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "28-02-2007"
tags: [Seam]

absolute_url: http://in.relation.to/2007/02/28/Seam12GAIsOut
lace: http://in.relation.to/1973.lace
slug: Seam12GAIsOut

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Seam 1.2 introduces many improvements including out of the box integration with the Spring Framework, EL support in HQL/EJB-QL, entity level security, SSL redirection, simplified configuration, improvements to orchestation via pages.xml and many enhancements to seam-gen, including support for composite keys and circular associations and integration of Ajax4JSF.
</p>

<p class="wikiPara">
Many thanks to everyone who contributed to this release, and especially to Michael Youngstrom who contributed the Spring integration module documented here:
</p>

<p class="wikiPara">
<a href="http://docs.jboss.com/seam/1.2.0.GA/reference/en/html/spring.html" target="" class="regularLink">http://docs.jboss.com/seam/1.2.0.GA/reference/en/html/spring.html</a>
</p>

<p class="wikiPara">
Spring beans may now be injected into Seam components and Seam components into Spring beans.
Or, existing Spring beans may be turned into a Seam component with just a single line
of Spring XML. Seam's powerful contexts may be used as Spring custom scopes. Finally,
Seam's sophisticated persistence context management may be used by Spring beans.
</p>

<p class="wikiPara">
Go get it here:
</p>

<p class="wikiPara">
<a href="http://labs.jboss.com/portal/jbossseam/download/index.html" target="" class="regularLink">http://labs.jboss.com/portal/jbossseam/download/index.html</a>
</p>
</div>
