---
title: "Slides from Web Beans talk"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: SlidesFromWebBeansTalk
lace: http://in.relation.to/2595.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/SlidesFromWebBeansTalk">Slides from Web Beans talk</a>
                    </h1>
</div>
<p class="wikiPara">
Here's <a href="&lt;%=%20site.base_url%20%&gt;/assets/Introduction%20to%20Web%20Beans.pdf" target="" class="regularLink">my slides</a> from the <a href="/Bloggers/SiliconValleyJUGSQ07MexicoCityJavaEdgeTelAviv" target="" class="regularLink">talk at Silicon Valley JUG</a>. This was a basic overview of Web Beans, for those who know nothing about it.
</p>

<p class="wikiPara">
Thanks to everyone for coming down!</p>
</div>
