---
title: "Michael Yuan on Seam 1.1.5"
author: "Gavin King"
creation_date: "02-02-2007"
blogger_name: "Gavin"
layout: blog-post
tags: [Seam]
slug: MichaelYuanOnSeam115
lace: http://in.relation.to/1969.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Micheal wrote an excellent overview of the new features in 1.1.5:
</p>

<p class="wikiPara">
<a href="http://www.michaelyuan.com/blog/2007/02/01/new-features-in-seam-115/" target="" class="regularLink">http://www.michaelyuan.com/blog/2007/02/01/new-features-in-seam-115/</a>
</p>

<p class="wikiPara">
Michael, by the way, is the guy who has been responsible for making sure
that Seam runs on as many platforms as possible. (When we say that
Seam <q>supports</q> a platform, we mean we actually tested it on that
platform, and we actually ship with an example application that
deploys on the platform.)
</p>

<p class="wikiPara">
There's also a discussion going on at TSS. Please feel welcome to ask questions there...
</p>

<p class="wikiPara">
<a href="http://www.theserverside.com/news/thread.tss?thread_id=44086" target="" class="regularLink">http://www.theserverside.com/news/thread.tss?thread_id=44086</a>
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'MichaelYuanOnSeam115';
    var disqus_title = 'Michael Yuan on Seam 1.1.5';
    var disqus_url = 'http://in.relation.to/1969.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
