---
title: "Seam2 interview on infoq.com"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "06-11-2007"
tags: [Seam]

absolute_url: http://in.relation.to/2007/11/06/Seam2InterviewOnInfoqcom
lace: http://in.relation.to/2738.lace
slug: Seam2InterviewOnInfoqcom

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
InfoQ asked me a few questions about Seam 2.0 and Web Beans a few weeks back. They've just posted the article <a href="http://www.infoq.com/news/2007/11/seam20" target="" class="regularLink">here</a>.</p>
</div>
