---
title: "Seam and Drools win Bossies"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "14-09-2007"
tags: [Seam]

relative_url: /2007/09/14/seam-and-drools-win-bossies
slug: seam-and-drools-win-bossies
lace: http://in.relation.to/2328.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/09/14/seam-and-drools-win-bossies
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Seam and Drools both <a href="http://www.infoworld.com/article/07/09/10/37FE-boss-platforms_1.html" target="" class="regularLink">got</a> the <a href="http://www.infoworld.com/slideshow/2007/09/116-best_of_open_so-5.html" target="" class="regularLink">nod</a> in InfoWorld's Best of Open Source awards. Apparently the judges did not have a category for application frameworks but they were so determined to reward Seam that they decided to hand us the application server category ;-)
</p>

<p class="wikiPara">
The editors had this to say:
</p>

<blockquote class="wikiBlockquote">
Although many pundits believe that simplification of enterprise Java via the heralded release of EJB 3.0 might lead the way to greater adoption, we think that lightweight, high-functionality frameworks such as JBoss Seam are an even more compelling driver. For this combination of functionality and elegant design, Seam gets our nod for the Bossie.
</blockquote>

<p class="wikiPara">
Thanks InfoWorld!</p>
</div>

