---
title: "Slides from Web Beans talk"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "17-10-2007"
original_tags: []
tags: []

relative_url: /2007/10/17/slides-from-web-beans-talk
slug: slides-from-web-beans-talk
lace: http://in.relation.to/2595.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/10/17/slides-from-web-beans-talk
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Here's <a href="#slides-from-web-beans-talk_attachment1" target="" class="regularLink">my slides[1]</a> from the <a href="/2007/10/09/silicon-valley-jugsq-07-mexico-city-java-edge-tel-aviv" target="" class="regularLink">talk at Silicon Valley JUG</a>. This was a basic overview of Web Beans, for those who know nothing about it.
</p>

<p class="wikiPara">
Thanks to everyone for coming down!</p>
</div>

<div class="attachments">
<h4>Attachments</h4>
<ol class="wikiOrderedList"><li class="wikiOrderedListItem"><a name="slides-from-web-beans-talk_attachment1" href="/assets/Introduction to Web Beans.pdf">Introduction to Web Beans.pdf</a></li>
</ol>
</div>

