---
title: "EL in QL"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "28-02-2007"
tags: []

relative_url: /2007/02/28/ELInQL
slug: ELInQL
lace: http://in.relation.to/1979.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/02/28/ELInQL
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
By the way, my favorite new Seam 1.2 feature is this one:
</p>

<pre class="wikiPreformatted">
entityManager.createQuery("select u from User u where u.name=#{user.name}").getResultList();
</pre>


<p class="wikiPara">
Nice, huh? ;-)
</p>
</div>

