---
title: "Check out my hits"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: CheckOutMyHits
lace: http://in.relation.to/2418.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/CheckOutMyHits">Check out my hits</a>
                    </h1>
</div>
<p class="wikiPara">
<a href="http://stuffthathappens.com/blog/2007/09/20/comic-tribute-to-java-versus-ruby/" target="" class="regularLink">Funny!</a>
</p>
</div>
