---
title: "Silicon Valley JUG, SQ07 Mexico City, JavaEdge Tel Aviv"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "09-10-2007"
tags: []

absolute_url: http://in.relation.to/2007/10/09/SiliconValleyJUGSQ07MexicoCityJavaEdgeTelAviv
lace: http://in.relation.to/2570.lace
slug: SiliconValleyJUGSQ07MexicoCityJavaEdgeTelAviv

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Over the past year I've started turning down most speaking invitations from conferences and other events. I found that when I do too many talks, I stop enjoying it, and this doesn't help me give a good performance. But in the next few weeks I'm going to get out and talk about <a href="http://jboss.com/products/seam" target="" class="regularLink">Seam</a> and <a href="http://jcp.org/en/jsr/detail?id=299" target="" class="regularLink">Web Beans</a> at the following events:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://weblogs.java.net/blog/van_riper/archive/2007/10/seam_presentati.html" target="" class="regularLink">Silicon Valley JUG</a>, October 16</li>
<li class="wikiUnorderedListItem"> <a href="http://www.sg.com.mx/sg07/" target="" class="regularLink">SG'07</a> in Mexico City, October 29-31</li>
<li class="wikiUnorderedListItem"> <a href="http://www.pc.co.il/Index.asp?CategoryID=82&amp;ArticleID=649" target="" class="regularLink">JavaEdge</a> in Tel Aviv, November 22</li>
</ul>

<p class="wikiPara">
These events are really going to be the first opportunity I have to talk in detail about what we're doing with Web Beans, so I'm looking forward to hearing people's reactions!
</p>
</div>
