---
title: "Seam 1.1.6 is out"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "08-02-2007"
tags: []

relative_url: /2007/02/08/Seam116IsOut
slug: Seam116IsOut
lace: http://in.relation.to/1970.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/02/08/Seam116IsOut
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Seam 1.1.6 features several important bugfixes and new features for Seam/Security, 
including <q>remember me</q> functionality, integration of JCaptcha, support for automatic
redirects to and from the login page when authorization checks fail and a minor API
redesign. Seam's exception handling facility was totally redesigned, to be much more
robust and work better with Seam/Security. Also, the seam-gen tool now integrates
Seam/Security. This work was all based upon the huge volume of user feedback we
received since the 1.1.5 release.
</p>

<p class="wikiPara">
Seam's email templates now support attachments, and the PDF and email libraries have 
been integrated so that a PDF document may be rendered and sent as an attachment
in an email just by using a simple facelets include.
</p>

<p class="wikiPara">
This release also fixes a serious bug affecting clustered Seam deployments that was
introduced in 1.1.5 and enhances the file upload control.
</p>

<p class="wikiPara">
Thanks to the guys for working all weekend to get this release out fast.
</p>


<p class="wikiPara">
Get it here:
</p>

<p class="wikiPara">
<a href="http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=484764" target="" class="regularLink">http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=484764</a>
</p>
</div>

