---
title: "Genuitec CEO beclowns himself"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "21-03-2007"
original_tags: []
tags: []

relative_url: /2007/03/21/genuitec-ceo-beclowns-himself
slug: genuitec-ceo-beclowns-himself
lace: http://in.relation.to/1986.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/03/21/genuitec-ceo-beclowns-himself
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
In an amazingly intemperate and irrational blog entry:
</p>

<p class="wikiPara">
<a href="http://www.jroller.com/page/myeclipseblog?entry=biting_the_hands_that_feed#comments" target="" class="regularLink">http://www.jroller.com/page/myeclipseblog?entry=biting_the_hands_that_feed#comments</a>
</p>

<p class="wikiPara">
the CEO of Genuitec, the company behind MyEclipse, calls Max and I <q>children</q>, <q>thugs</q> and <q>bullies</q>, claims credit for the success of Hibernate (apparently he, Maher, is <q>the hand that feeds</q>) and demonstrates an astonishing ignorance of the nature of open source licenses. Nevertheless, from this blog alone, it's quite difficult to tell the cause of the outburst, so a little 
background information is in order.
</p>

<p class="wikiPara">
Hibernate Tools is an open source project created primarily by Max Andersen,
one of the earliest contributors to the Hibernate project, who now works for
JBoss and is currently leading the integration of Exadel Studio and JBoss
IDE.
</p>

<p class="wikiPara">
MyEclipse is a commercial product distributed only in binary form. MyEclipse,
however, does embed several open source libraries, including Hibernate Tools,
Spring IDE, etc, in this binary distribution. So far, so good. However, more
than embedding is going on here. The version of Hibernate Tools (and, if we
understand correctly, some of the other open source plugins) that is embedded
in MyEclipse is actually built from a modified form of the original code.
</p>

<p class="wikiPara">
Now comes the problem: Hibernate Tools is distributed under a licence known
as the LGPL. The LGPL is one of a class of open source licences called <q>copyleft</q> licences. These licences place responsibilities upon people who
redistribute the open source product. Namely, they require that whenever a
modified version of the product is redistributed, the full sourcecode of the
modifications must be made available, under the terms of the LGPL. The 
purpose of this restriction is to ensure that open source products stay
open source - that closed forks of the product are not able to compete on
unfair terms with the original, open project (taking from open source,
but never giving back).
</p>

<p class="wikiPara">
Genuitec have decided not to comply with this restriction.
</p>

<p class="wikiPara">
We (JBoss) have made at least three or four private overtures to Genuitec, 
asking that they comply with the licence, and make their changes available in 
source form to people who purchase MyEclipse. On repeated occasions, Genuitec 
has assured us that they will do this. On repeated occasions, absolutely 
nothing has come of these promises.
</p>

<p class="wikiPara">
Recently, as a way of turning up the heat on Genuitec over this issue, we 
mentioned it, in passing, in a public forum. The result of this was the 
aforementioned tirade.
</p>

<p class="wikiPara">
At this point, Genuitec have two choices. If they don't like the LGPL, they
can stop distributing Hibernate Tools. Otherwise, they need to comply with
the license. Note that this issue potentially affects other open source
plugins that are embedded in MyEclipse, not only Hibernate Tools.
</p>

<p class="wikiPara">
I'm not really upset about the namecalling - I've been called worse names
by people who are far better namecallers than Maher (Hani Suleiman, Ward
Mullins, and many others). All I'm asking is that Genuitec comply with what 
is legally required of them.
</p>

<p class="wikiPara">
UPDATE: Of course, Maher's claim that since we've placed our Eclipse-based 
tooling under the GPL, user code created using this tooling will be subject 
to the terms of the GPL is, of course, utterly false, as his commenters point
out. It's pretty scary that he's so unfamiliar with the basics of open source
licences, when he's building a product around several open source projects.
</p>
</div>

