---
title: "Seam2 is out!"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "06-11-2007"
original_tags: [Seam]
tags: [Seam]

relative_url: /2007/11/06/seam-2-is-out
slug: seam-2-is-out
lace: http://in.relation.to/2736.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/11/06/seam-2-is-out
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Seam 2.0 was released this morning, after 8 months in development!
</p>

<p class="wikiPara">
Aside from new features, I think the most important thing about the new release is  simply that the codebase is /much/ cleaner. The migration to JSF 1.2 allowed us to solve many problems and remove quite a few hacks. We also repackaged built-in components according to a much more logical schema. 
</p>

<p class="wikiPara">
Actually, this release has been ready for a couple of weeks, but we held the release back to spend time on compatibility testing with the upcoming JBoss Tools release. As excited as I am to see Seam2 finally out there, the full impact of the work we've been doing in these eight months won't be seen until JBoss Tools is officially released. I've spent many hours testing the Seam2 support over the past month, and at this point I'm super-excited about the potential of this tooling to increase productivity another notch. I can't wait to get out there and demo this to people!    
</p>

<p class="wikiPara">
Please read <a href="/Bloggers/WhatsNewInSeam2" target="" class="regularLink">Norman's announcement</a> :-)</p>
</div>

