---
title: "Seam 1.1.5: Security, Email, PDF and more!"
author: "Gavin King"
creation_date: "02-02-2007"
blogger_name: "Gavin"
layout: blog-post
tags: [Seam]
slug: Seam115SecurityEmailPDFAndMore
lace: http://in.relation.to/1967.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Seam 1.1.5, despite the strange version number, includes exciting new functionality including:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Seam/Security - integrated JAAS-based authentication and unique EL and Drools-based authorization engine</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Facelets-based email templating - define emails using JSF tags in a Facelets template</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Facelets-based PDF templating - create iText PDF pages using JSF tags and Facelets</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> WebSphere support - examples now tested and deployable on WebSphere 6.1 (along with JBoss, WebLogic and GlassFish)</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> J2EE support for seam-gen - quickly generate a Seam application that deploys to a WAR on any J2EE 1.4 application server</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> New JSF controls including a file upload component</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> New examples and documentation enhancements</li>
</ul>


<p class="wikiPara">
Seam 1.1.5 takes JSF where it has never been before: you can use Facelets with Seam's new JSF tag libraries to define PDF documents, and even email templates! It's now super-easy to generate reports and send emails from a Seam application. A future version of Seam will even include JSF tags for generating charts in the PDF document - soon you'll be able to use Seam for problems which you previously would have needed a specialized reporting engine for.
</p>

<p class="wikiPara">
Until today, Security was the most requested feature in the Seam forums. Seam/Security offers an innovative authorization model based around Unified EL and JBoss Rules. The model was designed to allow elegant solution of complex cases such as row-level security and ACL-based permissioning. Right now, Seam/Security lacks some bells and whistles, but the hard work is done and we can now concentrate on executing our aggressive roadmap of new features.
</p>

<p class="wikiPara">
Seam has now been tested on all the mainstream Java EE application servers, and JBoss is now preparing to offer Seam support on platforms other than JBoss AS (at first, the list of supported platforms will include WebLogic, WebSphere, GlassFish and possibly Tomcat).
</p>

<p class="wikiPara">
This release was a team effort by Shane Bryzak (Seam/Security, file uploads), Norman Richards (PDF controls), Pete Muir (Email, select list control), Michael Yuan (WebSphere support) and definitely not by Gavin King (vacation, influenza, girlfriend birthday).
</p>

<p class="wikiPara">
Full changelog:
</p>

<p class="wikiPara">
<a href="http://jira.jboss.org/jira/secure/ReleaseNote.jspa?projectId=10071&amp;styleName=Html&amp;version=12311059" target="" class="regularLink">http://jira.jboss.org/jira/secure/ReleaseNote.jspa?projectId=10071&amp;styleName=Html&amp;version=12311059</a>
</p>

<p class="wikiPara">
Download page:
</p>

<p class="wikiPara">
<a href="http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=482792" target="" class="regularLink">http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=482792</a>
</p>

<p class="wikiPara">
Seam/Security documentation:
</p>

<p class="wikiPara">
<a href="http://docs.jboss.com/seam/1.1.5.GA/reference/en/html/security.html" target="" class="regularLink">http://docs.jboss.com/seam/1.1.5.GA/reference/en/html/security.html</a>
</p>

<p class="wikiPara">
Seam PDF documentation:
</p>

<p class="wikiPara">
<a href="http://docs.jboss.com/seam/1.1.5.GA/reference/en/html/itext.html" target="" class="regularLink">http://docs.jboss.com/seam/1.1.5.GA/reference/en/html/itext.html</a>
</p>

<p class="wikiPara">
Seam email documentation:
</p>

<p class="wikiPara">
<a href="http://docs.jboss.com/seam/1.1.5.GA/reference/en/html/mail.html" target="" class="regularLink">http://docs.jboss.com/seam/1.1.5.GA/reference/en/html/mail.html</a>
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'Seam115SecurityEmailPDFAndMore';
    var disqus_title = 'Seam 1.1.5: Security, Email, PDF and more!';
    var disqus_url = 'http://in.relation.to/1967.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
