---
title: "Web Beans Update at JavaOne"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "09-05-2007"
tags: [Web Beans]

absolute_url: http://in.relation.to/2007/05/09/WebBeansUpdateAtJavaOne
lace: http://in.relation.to/1991.lace
slug: WebBeansUpdateAtJavaOne

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Tomorrow (Wednesday) morning at 9:30, Bob Lee and 
I will talk about the work in progress on JSR-299. 
Over the last couple of months, we've been working 
with the rest of the Web Beans expert group to create
a component model that combines the best of Seam,
Juice, JSF and EJB 3.0. The end goal is the
definitive programming model for business logic
components in Java, combining Seam's state management 
with Guice's typesafety. 
</p>

<p class="wikiPara">
For those not at J1, we'll have more to say later :-)
</p>
</div>
