---
title: "Slides from Web Beans talk"
author: "Gavin King"
creation_date: "17-10-2007"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: SlidesFromWebBeansTalk
lace: http://in.relation.to/2595.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Here's <a href="/Bloggers/SlidesFromWebBeansTalk#attachment1" target="" class="regularLink">my slides[1]</a> from the <a href="/Bloggers/SiliconValleyJUGSQ07MexicoCityJavaEdgeTelAviv" target="" class="regularLink">talk at Silicon Valley JUG</a>. This was a basic overview of Web Beans, for those who know nothing about it.
</p>

<p class="wikiPara">
Thanks to everyone for coming down!</p>
</div>
