---
title: "Web Beans EDR now available at jcp.org"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: WebBeansEDRNowAvailableAtJcporg
lace: http://in.relation.to/2651.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/WebBeansEDRNowAvailableAtJcporg">Web Beans EDR now available at jcp.org</a>
                    </h1>
</div>
<p class="wikiPara">
The JCP folks seem to have resolved their technical problems, and the Web Beans EDR is now <a href="http://jcp.org/aboutJava/communityprocess/edr/jsr299/" target="" class="regularLink">available at jcp.org</a>. We've had some great feedback on the <a href="mailto:jsr-299-comments(AT)jcp.org" target="" class="regularLink">comments alias</a> already. Please keep it coming!</p>
</div>
