---
title: "Stop downloading Seam 1.1.0!"
author: "Gavin King"
creation_date: "24-01-2007"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: StopDownloadingSeam110
lace: http://in.relation.to/1965.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I just noticed that of the 1630 downloads of Seam since 
the release of 1.1.1 on Thursday, only 666 were of Seam 1.1.1. So I must have somehow 
fluffed the release announcement. (PST is a horrible timezone for announcing things.)
</p>

<p class="wikiPara">
So here it is again, people: Seam 1.1.1 has already been released! You can stop
downloading 1.1.0 now. It already had almost 11000 downloads. That's plenty :-)
</p>

<p class="wikiPara">
Get the new stuff here:
</p>

<p class="wikiPara">
<a href="http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777" target="" class="regularLink">http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777</a>
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'StopDownloadingSeam110';
    var disqus_title = 'Stop downloading Seam 1.1.0!';
    var disqus_url = 'http://in.relation.to/1965.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
