---
title: "Podcast from JavaOne"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "19-09-2007"
tags: []

relative_url: /2007/09/19/PodcastFromJavaOne
slug: PodcastFromJavaOne
lace: http://in.relation.to/2350.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/09/19/PodcastFromJavaOne
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The <a href="http://jboss.org" target="" class="regularLink">jboss.org team</a> has posted <a href="http://labs.jboss.com/file-access/default/members/jbosslabs/freezone/podcasts/King_JavaOne2007.m4v" target="" class="regularLink">video of an interview</a> we did at JavaOne this year. Well, I hope it's interesting, I think I come off a bit too /easygoing/ at first, and what is up with that limp wrist? Apparently I'm in need of some masculinity training!</p>
</div>
