---
title: "Welcome to the new blog"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "01-09-2007"
tags: []

relative_url: /2007/09/01/welcome-to-the-new-blog
slug: welcome-to-the-new-blog
lace: http://in.relation.to/2271.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/09/01/welcome-to-the-new-blog
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Now we're getting really really close to having a real community site for <a href="http://labs.jboss.com/jbossseam" target="" class="regularLink">Seam</a>!
</p>

<p class="wikiPara">
Thanks Christian!</p>
</div>

