---
title: "Seam: bigger than Hibernate ;-)"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "30-03-2007"
original_tags: []
tags: [Seam]

relative_url: /2007/03/30/seam-bigger-than-hibernate
slug: seam-bigger-than-hibernate
lace: http://in.relation.to/1989.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/03/30/seam-bigger-than-hibernate
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
It's fun to compare the historical download numbers of
<a href="http://jboss.com/products/seam" target="" class="regularLink">my new project </a> with
the <a href="https://hibernate.org" target="" class="regularLink">last project I worked on </a>.
Until recently, they had been tracking pretty much 
level - Seam downloads had been growing slightly slower 
than Hibernate downloads did, about one month behind.
But recently, the downloads jumped up, and Seam after
18 months is now where Hibernate was after almost 2
years. So, for now, we are doing better than Hibernate
did.
</p>

<p class="wikiPara">
Of course, the comparison is unfair: Seam has a fulltime 
development team, the JBoss and Red Hat brands, and a 
partnership with Exadel. Hibernate had a couple of guys 
working out of their bedrooms.
</p>

<p class="wikiPara">
On the other hand, Seam entered a market crowded with 
hundreds (thousands?) of open source application 
frameworks, including a couple of strong competitors.
We had to work hard to show people that Seam was not
just <q>yet another web framework</q>, or <q>yet another
IoC container</q>. Thankfully, we're past that phase now.
</p>

<p class="wikiPara">
I'm interested to see what happens next. From 12k 
per month (where Seam is at now) to 30k per month (the
point at which Hibernate downloads suddenly exploded) 
was a long hard slog for Hibernate. But I remember that
it was also the most exciting bit: we were coming to 
grips with the technology, the user forum was full of 
smart, friendly people, and we didn't yet have a great 
big target painted on our backs. The Seam community 
today feels just the same. I can't express how nice
that is :-)
</p>
</div>

