---
title: "1000 registered users in the first month"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "12-03-2008"
tags: [Seam News,Seam Wiki]

relative_url: /2008/03/12/1000RegisteredUsersInTheFirstMonth
slug: 1000RegisteredUsersInTheFirstMonth
lace: http://in.relation.to/8698.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/03/12/1000RegisteredUsersInTheFirstMonth
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The <a href="http://seamframework.org" target="" class="regularLink">seam community site</a> went live exactly one month ago, and already boasts more than 1000 registered members, with twenty-something people signing up every day. The <a href="http://www.seamframework.org/Community/Forums" target="" class="regularLink">new forum</a> is buzzing, and we're starting to get lots of useful information up on the wiki.
</p>

<p class="wikiPara">
Meanwhile, I've just got back from a long trip to Japan and Australia, where I met with a bunch of big companies who are either using Seam, considering using Seam, or just curious. And a <i class="wikiEmphasis">lot</i> of people have been asking about Web Beans...
</p>

</div>
