---
title: "Some cool applications powered by Seam"
author: "Gavin King"
creation_date: "11-11-2008"
blogger_name: "Gavin"
layout: blog-post
tags: [Seam]
slug: SomeCoolApplicationsPoweredBySeam
lace: http://in.relation.to/9819.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
It's fun to see what people are using <a href="http://seamframework.org/" target="" class="regularLink">Seam</a> for:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.cocompose.com/" target="" class="regularLink">http://www.cocompose.com/</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.trendrr.com/" target="" class="regularLink">http://www.trendrr.com/</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.javelincrm.com/" target="" class="regularLink">http://www.javelincrm.com/</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.bikelogger.de/" target="" class="regularLink">http://www.bikelogger.de/</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.easycity.com/" target="" class="regularLink">http://www.easycity.com/</a>
</li>
</ul>

<p class="wikiPara">
And many more <a href="http://seamframework.org/Documentation/SeamInProduction" target="" class="regularLink">here</a>.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'SomeCoolApplicationsPoweredBySeam';
    var disqus_title = 'Some cool applications powered by Seam';
    var disqus_url = 'http://in.relation.to/9819.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
