---
title: "Panasonic DMC-LX3"
author: "Gavin King"
creation_date: "17-11-2008"
blogger_name: "Gavin"
layout: blog-post
tags: [Photography]
slug: PanasonicDMCLX3
lace: http://in.relation.to/9936.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I want to say something about the <a href="http://www2.panasonic.com/consumer-electronics/shop/Cameras-Camcorders/Digital-Cameras/Lumix-Digital-Cameras/model.DMC-LX3K_11002_7000000000000005702" target="" class="regularLink">Panasonic DMC-LX3</a>. I've never written a camera review before, but I'm so inspired by the fact that <i class="wikiEmphasis">finally</i> someone made a compact camera for people who actually know something about photography, that I want to do something to encourage this trend.
</p>

<img src="http://a.img-dpreview.com/reviews/panasonicDMCLX3/Images/3qtr.jpg" width="480">

<p class="wikiPara">
For the past 10 or 15 years, camera manufacturers have invested in one awesome technological leap - digital - and a bunch of verging-on-useless features that bamboozle new users and complicate usage for everyone. Here's a quick sampling of just some of the non-features of a typical compact camera:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> face detection</li>
<li class="wikiUnorderedListItem"> baby mode </li>
<li class="wikiUnorderedListItem"> multi-point autofocus (for all those folks who do action photography with a compact camera)</li>
<li class="wikiUnorderedListItem"> in-camera image processing (useful for people who don't own computers)</li>
<li class="wikiUnorderedListItem"> 10x zoom (at f5.6, of course)</li>
<li class="wikiUnorderedListItem"> 15 megapixels (crammed onto a 1/1.7 inch sensor)</li>
</ul>

<p class="wikiPara">
Some of these features are harmful because they actually guide the user to use the camera in exactly the wrong way. For example, multi-point autofocus is enabled by default, since it's apparently too difficult to teach users the correct way to take a photograph (first focus, then recompose). Others are harmful mainly because they distract the buyer's attention from what's <i class="wikiEmphasis">really</i> important in a camera.
</p>

<p class="wikiPara">
I was so excited by the LX3 that I ordered one on Amazon before there were even any published reviews. How did I know to do this? Well, what most buyers of compact cameras <i class="wikiEmphasis">don't</i> know - and what even a lot of camera reviews tend to downplay - is that most of what matters in a camera can be expressed with exactly three numbers. Here they are, in approximate order of importance:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> the f ratio</li>
<li class="wikiUnorderedListItem"> the focal length </li>
<li class="wikiUnorderedListItem"> the size of the sensor</li>
</ul>

<p class="wikiPara">
The f number tells you how much light the lens is able to capture. The smaller, the better. Most really good photos are taken in low-ish light conditions, or of moving subjects. Photos taken of still subjects in the middle of the day are usually boring, with ugly colors. Therefore, the more light you can get, the better your photos will be. Most buyers of compact cameras don't even know what an f number is, and the salespeople don't tell them.
</p>

<p class="wikiPara">
The focal length determines the field of view. Unfortunately, almost all compact cameras are equipped with zoom lenses. In theory, a zoom lens makes a camera more versatile by offering a range of different focal lengths. Compact cameras are marketed on the basis of how much <q>zoom</q> they have (the ratio between the shortest and longest focal length). But in practice, cameras with more zoom take worse photos. It's <i class="wikiEmphasis">very</i> difficult to manufacture a good lens with a low f ratio and high zoom ratio. My gorgeous <q>professional</q> <a href="http://www.usa.canon.com/consumer/controller?act=ModelInfoAct&amp;fcategoryid=148&amp;modelid=14907" target="" class="regularLink">16-35 f/2.8L</a> costs $1300 and has just 2.2x zoom. A compact camera that costs $500 and boasts 10x zoom does <i class="wikiEmphasis">not</i> have a good lens! Furthermore, these zoom lenses generally begin at a fairly long focal length, robbing you of all the beauty of wide-angle photographs. Of course, there's no <q>right</q> or <q>best</q> focal length - the right focal length depends upon the subject matter. But, for the type of photographs that <i class="wikiEmphasis">I</i> use a compact camera for, I need some decent wide angle.
</p>

<p class="wikiPara">
The size of the sensor limits the ugly digital noise that appears especially in low light conditions. It does <i class="wikiEmphasis">not</i> help to simply pack more and more pixels into a tiny space - resolution is not only limited by the number of pixels, but also by digital noise. A compact camera with a 15 megapixel sensor does not take photographs remotely comparable in sharpness and depth to an entry level SLR with a 12 megapixel sensor. That's because the sensor in an SLR is much larger. And a fullframe SLR like my 12.8 megapixel 5D is a different experience again. Unfortunately, a compact camera, <i class="wikiEmphasis">by definition</i> features a fairly small sensor.
</p>

<p class="wikiPara">
So why is the LX3 different?
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> f/2.0-2.8</li>
<li class="wikiUnorderedListItem"> 24-60mm (35mm equivalent)</li>
<li class="wikiUnorderedListItem"> 1/1.63-inch 10.1 megapixel sensor</li>
</ul>

<p class="wikiPara">
By comparison, my previous compact camera (the best compact camera on the market when I bought it a year ago) was a Canon G9. I got a lot of use out of it this year on a motorcycle trip from San Francisco to Nicuragua, and I was just never very happy with it (unfortunately, there was no room on my bike for an SLR). The numbers tell the story:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> f/2.8-4.8</li>
<li class="wikiUnorderedListItem"> 35-210mm </li>
<li class="wikiUnorderedListItem"> 1/1.7 inch 12.1 megapixel sensor</li>
</ul>

<p class="wikiPara">
Compared to the G9, the LX3 captures twice as much light, offers much more potential for dramatic wide-angle photographs, but has much less zoom (my experience is that the G9 takes ugly photographs at full zoom). In practice, this means I can take photos that I simply would not be able to capture using the G9. 
</p>

<p class="wikiPara">
Some examples:
</p>

<p><a href="http://www.flickr.com/photos/gavinaking/2972967036/" title="P1000127.JPG by oneovthafew, on Flickr"><img src="http://farm4.static.flickr.com/3287/2972967036_29d210ca61_b.jpg" width="1024" height="683" alt="P1000127.JPG"></a></p>

<p><a href="http://www.flickr.com/photos/gavinaking/2976064096/" title="P1000188.JPG by oneovthafew, on Flickr"><img src="http://farm4.static.flickr.com/3055/2976064096_2704279407_b.jpg" width="1024" height="576" alt="P1000188.JPG"></a></p>

<p><a href="http://www.flickr.com/photos/gavinaking/2975922060/" title="P1000187.JPG by oneovthafew, on Flickr"><img src="http://farm4.static.flickr.com/3269/2975922060_f6b862a3f9_b.jpg" width="1024" height="576" alt="P1000188.JPG"></a></p>

<p><a href="http://www.flickr.com/photos/gavinaking/2930100012/" title="P1000075.JPG by oneovthafew, on Flickr"><img src="http://farm4.static.flickr.com/3200/2930100012_ebdaeb8a43_b.jpg" width="1024" height="576" alt="P1000075.JPG"></a></p>

<p><a href="http://www.flickr.com/photos/gavinaking/2972126355/" title="P1000132.JPG by oneovthafew, on Flickr"><img src="http://farm4.static.flickr.com/3252/2972126355_a1e7baa99e_b.jpg" width="1024" height="683" alt="P1000132.JPG"></a></p>

<p><a href="http://www.flickr.com/photos/gavinaking/3017456327/" title="P1000446.JPG by oneovthafew, on Flickr"><img src="http://farm4.static.flickr.com/3018/3017456327_3b2b5322a1_b.jpg" width="1024" height="576" alt="P1000446.JPG"></a></p>

<p class="wikiPara">
Please bear in mind that most of these photographs were taken at night, by a drunk Australian.
</p>

<p class="wikiPara">
Of course, the LX3 will never replace my 5D/16-35L combo. Don't expect it to rival any SLR with a decent lens. But I'm never going to take my 5D clubbing with me. So I could never have taken the photos above with the 5D. I can bring the LX3 almost <i class="wikiEmphasis">anywhere</i>. Most importantly, this camera is <i class="wikiEmphasis">fun</i>. I hate to admit, but I actually enjoy it more than an SLR...
</p>

<p class="wikiPara">
Please <a href="http://www.adorama.com/IPCDMCLX3BK.html?searchinfo=dmc-lx3&amp;item_no=14" target="" class="regularLink">buy this camera</a>, even if only to help make it commercially successful. I already bought one for each of my sisters for Christmas this year :-)
</p>

<p class="wikiPara">
UPDATE: a couple more points about the LX3:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> it's small, but jacket-pocket small, not trouser-pocket small</li>
<li class="wikiUnorderedListItem"> yes, the lens cap is irritating - especially when your friends get their fingerprints all over the lens reviewing photos - but that's a small price to pay for such a great lens</li>
<li class="wikiUnorderedListItem"> to my surprise, the ability to switch aspect ratio turns out to be more than just a silly gimmick - the native 16:9 aspect ration makes for some really interesting compositions</li>
<li class="wikiUnorderedListItem"> the screen is so super-bright and contrasty that sometimes I'm tricked into thinking that an underexposed shot is fine :-/</li>
<li class="wikiUnorderedListItem"> the images look great even after some pretty heavy post-processing which is unusual for a compact camera</li>
<li class="wikiUnorderedListItem"> I hate and despise flash photography, but the couple of times I tried it, the flash seemed to be very well-metered (unlike other compact cameras I've used, this flash doesn't totally drain all color and depth from the scene and make everyone with white skin look like ugly hags) and if that's not enough, there's even a hotshoe for an external flash</li>
<li class="wikiUnorderedListItem"> I would prefer a dial for fiddling aperture/exposure, but honestly the little joysticky thing seems to work just fine</li>
<li class="wikiUnorderedListItem"> the mode dial at the top of the camera should be stiffer, it often shifts coming in and out of my pocket</li>
<li class="wikiUnorderedListItem"> you have to enter the menus to change ISO, which is a major pain (but better than the stupid dial on the G9, which always got bumped coming in and out of the camera bag)</li>
<li class="wikiUnorderedListItem"> it looks way sexier than the Canons</li>
</ul>
</div>
