---
title: "Seam support in IntelliJ"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "10-11-2008"
tags: [Seam,Seam News]

relative_url: /2008/11/10/SeamSupportInIntelliJ
slug: SeamSupportInIntelliJ
lace: http://in.relation.to/9801.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/11/10/SeamSupportInIntelliJ
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
IntelliJ IDEA 8 has <a href="http://www.jetbrains.com/idea/features/newfeatures.html" target="" class="regularLink">Seam support</a>. Cool!</p>
</div>
