---
title: "Web Beans teaser..."
author: "Gavin King"
creation_date: "21-10-2008"
blogger_name: "Gavin"
layout: blog-post
tags: [Web Beans]
slug: WebBeansTeaser
lace: http://in.relation.to/9609.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
For everyone who's been waiting for news of Web Beans ... and for everyone who thought it would never happen ... the public draft is ready, and should be available later this week or early next. I've just started work on an extended article explaining Web Beans from the point of view of the developer, and hope to have that out in a couple of weeks. And Pete Muir, Shane Bryzak and David Allen have made a good start on the RI. Stay tuned...</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'WebBeansTeaser';
    var disqus_title = 'Web Beans teaser...';
    var disqus_url = 'http://in.relation.to/9609.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
