---
title: "RichFaces 3.2 released"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "01-04-2008"
original_tags: [RichFaces,Seam News]
tags: [Rich Faces,Seam]

relative_url: /2008/04/01/rich-faces-32-released
slug: rich-faces-32-released
lace: http://in.relation.to/8789.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/04/01/rich-faces-32-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
RichFaces 3.2.0.GA is <a href="http://labs.jboss.com/jbossrichfaces/downloads/" target="" class="regularLink">out</a>!
</p>

<p class="wikiPara">
This release introduces the following new components:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Combo Box</li>
<li class="wikiUnorderedListItem"> Inplace Input</li>
<li class="wikiUnorderedListItem"> Inplace Select</li>
<li class="wikiUnorderedListItem"> Progress Bar</li>
<li class="wikiUnorderedListItem"> File Upload</li>
<li class="wikiUnorderedListItem"> Columns</li>
<li class="wikiUnorderedListItem"> Pick List</li>
</ul>

<p class="wikiPara">
Along with these enhancements:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <tt>DataTable</tt> Sorting</li>
<li class="wikiUnorderedListItem"> <tt>DataTable</tt> Filtering</li>
<li class="wikiUnorderedListItem"> <tt>Calendar</tt> month and year manual selection</li>
<li class="wikiUnorderedListItem"> Objects selection for suggestion box</li>
<li class="wikiUnorderedListItem"> Standard component skinning</li>
<li class="wikiUnorderedListItem"> Client-side EL functions: <tt>rich:clientId(Id)</tt>, <tt>rich:element(Id)</tt>, <tt>rich:component(Id)</tt>
</li>
</ul>

<p class="wikiPara">
RichFaces 3.2 requires JSF 1.2 and JDK 5.0 or above.
</p>

<p class="wikiPara">
You can try out a demo of the new components <a href="http://livedemo.exadel.com/richfaces-demo/richfaces/inplaceInput.jsf?c=inplaceInput" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
Congratulations to the RichFaces team!</p>
</div>

