---
title: "Seam3"
author: "Gavin King"
creation_date: "18-11-2008"
blogger_name: "Gavin"
layout: blog-post
tags: [Seam,Seam News,Web Beans]
slug: Seam3
lace: http://in.relation.to/10004.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I keep getting asked about the relationship between <a href="http://seamframework.org" target="" class="regularLink">Seam</a> and <a href="http://in.relation.to/Bloggers/WebBeansPublicReviewDraftReleased" target="" class="regularLink">Web Beans</a>. At a high level, the mission of the Seam project remains unchanged: to provide a fully integrated development platform for building rich Internet applications, based upon the Java EE environment. In Seam2, this platform consists of the following layers:
</p>

<ol class="wikiOrderedList">
<li class="wikiOrderedListItem"> the contextual lifecycle, configuration and dependency injection model that forms the essential <q>glue</q> that makes everything work together in a consistent way</li>
<li class="wikiOrderedListItem"> a set of modules that integrate other technologies such as JSF, jBPM, Hibernate, Drools, Groovy, Wicket and GWT, or solve common concerns such as security, asynchronicity and rendering PDF, email, Excel, RSS</li>
<li class="wikiOrderedListItem"> <a href="http://www.jboss.org/tools/" target="" class="regularLink">tooling</a>
</li>
</ol>

<p class="wikiPara">
The first layer is the part that is addressed by <a href="http://jcp.org/en/jsr/detail?id=299" target="" class="regularLink">JSR-299</a>. The <a href="http://docs.jboss.org/webbeans/spec/PDR/pdf/Web%20Beans%2020081029.pdf" target="" class="regularLink">spec</a> defines a more elegant, more typesafe, more user-friendly, <i class="wikiEmphasis">standard</i> solution that is a huge improvement over Seam2 (and everything else out there). The value of this is more elegant, more typesafe, more loosely coupled application code. But for many people, the true value of Seam is that it provides a complete pre-built, pre-integrated stack of technologies, together with tool support. That's not the role of JSR-299.
</p>

<p class="wikiPara">
So the goal of Seam3 is to take the second layer and port it to the Web Beans backbone. This will allow applications using the Web Beans programming model to take advantage of all the integrated technologies that make up Seam. A second immediate benefit is that Seam will integrate <i class="wikiEmphasis">much</i> more consistently and transparently with application servers that natively support Web Beans. Seam3 will probably be packaged in a more modular way than Seam2, allowing any Web Beans-based application to <q>drop in</q> Seam security, jBPM integration, Drools integration, etc. And hopefully, Seam won't be the only project providing infrastructure based upon Web Beans.
</p>

<p class="wikiPara">
Of course, we want to make it's easy for people with Seam2 applications to migrate to Web Beans. There's two possible approaches and I'm not sure exactly which path we will take. We could:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> reimplement the core of Seam as a layer over the Web Beans backbone, or</li>
<li class="wikiUnorderedListItem"> simply allow Seam2 and Web Beans to run side-by-side, with advanced <i class="wikiEmphasis">interoperability</i> between Web Beans and Seam2 components.</li>
</ul>

<p class="wikiPara">
The first option <i class="wikiEmphasis">sounds</i> like a lot more work, but I suspect it might be easier than you would think.
</p>
</div>
