---
title: "Web Beans teaser..."
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: [Web Beans]
slug: WebBeansTeaser
lace: http://in.relation.to/9609.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/WebBeansTeaser">Web Beans teaser...</a>
                    </h1>
</div>
<p class="wikiPara">
For everyone who's been waiting for news of Web Beans ... and for everyone who thought it would never happen ... the public draft is ready, and should be available later this week or early next. I've just started work on an extended article explaining Web Beans from the point of view of the developer, and hope to have that out in a couple of weeks. And Pete Muir, Shane Bryzak and David Allen have made a good start on the RI. Stay tuned...</p>
</div>
