---
title: "seamframework.org goes live!"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: [Seam News]
slug: SeamframeworkorgGoesLive
lace: http://in.relation.to/8577.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

 </p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/SeamframeworkorgGoesLive">seamframework.org goes live!</a>
                    </h1>
</div>
<p class="wikiPara">
The Seam community finally has a <a href="http://seamframework.org" target="" class="regularLink">new home</a>. Yes, everyone's been begging for this for, like, <i class="wikiEmphasis">forever</i>, but we wanted the Seam website to run entirely on Seam, which meant we had to build the infrastructure first.
</p>

<p class="wikiPara">
<a href="http://seamframework.org" target="" class="regularLink">seamframework.org</a> was created using <a href="/Bloggers/WikiRoadMap" target="" class="regularLink">Seam Wiki</a>, a brand new wiki/forum/blog/FAQ engine implemented using Seam, <a href="http://hibernate.org" target="" class="regularLink">Hibernate</a>, <a href="http://labs.jboss.com/jbossrichfaces" target="" class="regularLink">RichFaces</a> and <a href="http://jquery.com" target="" class="regularLink">JQuery</a>. (Seam Wiki also powers this blog.)
</p>

<p class="wikiPara">
A huge thanks to <a href="/Bloggers/ChristiansBlog" target="" class="regularLink">Christian</a> for all his hard work on Seam Wiki, <tt>seamframework.org</tt> and <tt>in.relation.to</tt>. And thanks to James Cobb for the design of <tt>seamframework.org</tt>.
</p>

<p class="wikiPara">
Let us know what you think in the <a href="http://seamframework.org/Community/SeamUsers" target="" class="regularLink">forum</a>!</p>
</div>
