---
title: "Some cool applications powered by Seam"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "11-11-2008"
tags: [Seam]

absolute_url: http://in.relation.to/2008/11/11/SomeCoolApplicationsPoweredBySeam
lace: http://in.relation.to/9819.lace
slug: SomeCoolApplicationsPoweredBySeam

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
It's fun to see what people are using <a href="http://seamframework.org/" target="" class="regularLink">Seam</a> for:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.cocompose.com/" target="" class="regularLink">http://www.cocompose.com/</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.trendrr.com/" target="" class="regularLink">http://www.trendrr.com/</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.javelincrm.com/" target="" class="regularLink">http://www.javelincrm.com/</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.bikelogger.de/" target="" class="regularLink">http://www.bikelogger.de/</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.easycity.com/" target="" class="regularLink">http://www.easycity.com/</a>
</li>
</ul>

<p class="wikiPara">
And many more <a href="http://seamframework.org/Documentation/SeamInProduction" target="" class="regularLink">here</a>.</p>
</div>
