---
title: "Seam support in IntelliJ"
author: "Gavin King"
creation_date: "10-11-2008"
blogger_name: "Gavin"
layout: blog-post
tags: [Seam,Seam News]
slug: SeamSupportInIntelliJ
lace: http://in.relation.to/9801.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
IntelliJ IDEA 8 has <a href="http://www.jetbrains.com/idea/features/newfeatures.html" target="" class="regularLink">Seam support</a>. Cool!</p>
</div>
