---
title: "Web Beans Public Review Draft released"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: [Seam News,Web Beans]
slug: WebBeansPublicReviewDraftReleased
lace: http://in.relation.to/9749.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/WebBeansPublicReviewDraftReleased">Web Beans Public Review Draft released</a>
                    </h1>
</div>
<p class="wikiPara">
The Web Beans (JSR-299) specification is now available for public review.
</p>

<p class="wikiPara">
Web Beans defines a set of services for the Java EE environment that makes applications much easier to develop. Web Beans layers an enhanced lifecycle and interaction model over existing Java component types including JavaBeans and Enterprise Java Beans. As a complement to the traditional Java EE programming model, the Web Beans services provide:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> an improved lifecycle for stateful components, bound to well-defined contexts,</li>
<li class="wikiUnorderedListItem"> a typesafe approach to dependency injection,</li>
<li class="wikiUnorderedListItem"> interaction via an event notification facility, and</li>
<li class="wikiUnorderedListItem"> a better approach to binding interceptors to components, along with a new kind of interceptor, called a decorator, that is more appropriate for use in solving business problems.</li>
</ul>

<p class="wikiPara">
Web Beans is especially useful in the context of web applications, but is applicable to many different kinds of applications and may even be used in the Java SE context, in conjunction with an embeddable EJB Lite container, as defined in the EJB 3.1 specification.
</p>

<p class="wikiPara">
The Web Beans public draft is available in PDF or HTML format at: 
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/webbeans/spec/PDR/pdf/Web%20Beans%2020081029.pdf" target="" class="regularLink">http://docs.jboss.org/webbeans/spec/PDR/pdf/Web%20Beans%2020081029.pdf</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/webbeans/spec/PDR/html/" target="" class="regularLink">http://docs.jboss.org/webbeans/spec/PDR/html/</a>
</li>
</ul>

<p class="wikiPara">
or from:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://jcp.org/en/jsr/detail?id=299" target="" class="regularLink">http://jcp.org/en/jsr/detail?id=299</a>
</li>
</ul>

<p class="wikiPara">
Please send feedback on the public draft to:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <tt>jsr-299-comments@jcp.org</tt>
</li>
</ul>

<p class="wikiPara">
An even easier way to learn about Web Beans is the Introduction to Web Beans guide available in PDF or HTML format here:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/webbeans/reference/1.0/en-US/pdf/guide.pdf" target="" class="regularLink">http://docs.jboss.org/webbeans/reference/1.0/en-US/pdf/guide.pdf</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/webbeans/reference/1.0/en-US/html/" target="" class="regularLink">http://docs.jboss.org/webbeans/reference/1.0/en-US/html/</a>
</li>
</ul>

<p class="wikiPara">
The Web Beans Reference Implementation and Compatibility Test Suite are being developed at:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/WebBeans" target="" class="regularLink">http://www.seamframework.org/WebBeans</a>
</li>
</ul>

<p class="wikiPara">
This is a great time to get involved!
</p>
</div>
