---
title: "Web Beans teaser..."
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "21-10-2008"
tags: [Web Beans]

relative_url: /2008/10/21/web-beans-teaser
slug: web-beans-teaser
lace: http://in.relation.to/9609.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/10/21/web-beans-teaser
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
For everyone who's been waiting for news of Web Beans ... and for everyone who thought it would never happen ... the public draft is ready, and should be available later this week or early next. I've just started work on an extended article explaining Web Beans from the point of view of the developer, and hope to have that out in a couple of weeks. And Pete Muir, Shane Bryzak and David Allen have made a good start on the RI. Stay tuned...</p>
</div>

