---
title: "News on the JSR-299 Public Review"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "04-12-2008"
tags: [Web Beans]

absolute_url: http://in.relation.to/2008/12/04/NewsOnTheJSR299PublicReview
lace: http://in.relation.to/10144.lace
slug: NewsOnTheJSR299PublicReview

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Over the past few weeks, we've had a number of conversations between the major Java EE vendors regarding the inclusion of Web Beans (JSR-299) in the Java EE 6 platform. Several members of the EE 6 expert group have concerns about how the current draft of the specification characterizes the functionality of Web Beans, and about how well the functionality integrates at the platform level. Therefore, as requested by one of the other vendors, we've extended the Public Review period until early February with the goal of taking further input from folks with platform expertise. The expert group will submit a revised Public Review Draft in late January or February that incorporates this feedback.
</p>

<p class="wikiPara">
The really good news is that there is now unanimous agreement between the folks involved in these discussions that:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> the EE platform needs a contextual dependency injection solution with capabilities that match the capabilities of existing proprietary solutions</li>
<li class="wikiUnorderedListItem"> the approach taken by JSR-299 is, overall, a good one</li>
<li class="wikiUnorderedListItem"> that the goal of this work is inclusion of JSR-299 in all Java EE 6 profiles, and in the <q>embedded</q> EJB Lite environment</li>
</ul>

<p class="wikiPara">
This is an excellent outcome. We'll have a lot of work to do over the next couple of months, but I'm confident that Web Beans and the EE platform will see great benefit from this work!</p>
</div>
