---
title: "JBoss Tool 2.0.1"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: [JBoss Tools,Seam News]
slug: JBossTool201
lace: http://in.relation.to/8721.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/JBossTool201">JBoss Tool 2.0.1</a>
                    </h1>
</div>
<p class="wikiPara">
Congratulations to the JBoss Tools team at JBoss and Exadel for getting <a href="http://downloads.jboss.org/jbosstools" target="" class="regularLink">2.0.1</a> out the door!</p>
</div>
