---
title: "Just an observation..."
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "17-11-2008"
tags: []

relative_url: /2008/11/17/just-an-observation
slug: just-an-observation
lace: http://in.relation.to/9930.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/11/17/just-an-observation
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Something that's always slightly bemused me is that software development <q>methodology</q> is something you never seem to hear discussed in organizations whose <i class="wikiEmphasis">business</i> is technology. Sure, product companies are certainly very interested in practices and tools to support good practices. (For example, product companies certainly care about testing practices.) But technical practices are kinda orthogonal to methodology debates. And I never hear about a company like Red Hat paying any attention at all to the latest fashions sweeping through the world of <q>agile consultants</q> and <q>project managers</q>. In fact, I'd be very interested to hear of a single example of a truly great software product that was developed (at least initially) according to a methodology.
</p>

<p class="wikiPara">
I have a number of theories as to what the difference might be, but I'm not sure which, if any, of those theories are correct:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> arguments about methodology help keep especially boring projects interesting</li>
<li class="wikiUnorderedListItem"> methodology is important in an environment where developers are viewed as interchangeable resources</li>
<li class="wikiUnorderedListItem"> methodology is important in an environment where developers have heterogeneous ability/experience levels</li>
<li class="wikiUnorderedListItem"> methodologies like <q>agile</q> are used by project teams to defend themselves against ignorant managers</li>
<li class="wikiUnorderedListItem"> good product companies just naturally <i class="wikiEmphasis">do</i> agile-ish stuff without really needing to think about it (or, if they don't, they die)</li>
<li class="wikiUnorderedListItem"> methodology helps achieve predictability, but gets in the way of innovation</li>
</ul>

<p class="wikiPara">
What I'm most interested in is why companies buy into this stuff without any real evidence that any of it is used by companies which are able to repeatedly build successful and innovative software. Or, does such evidence exist and I'm simply too disconnected from this world to know about it?
</p>

<p class="wikiPara">
If this post sounds like snark, it's not. I'm actually genuinely interested...
</p>
</div>

