---
title: "Q&A on InfoQ"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "18-11-2009"
tags: [Contexts and Dependency Injection,Java EE 6,Seam News,Weld]

relative_url: /2009/11/18/QAOnInfoQ
slug: QAOnInfoQ
lace: http://in.relation.to/13087.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/11/18/QAOnInfoQ
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
InfoQ has published a <a href="http://www.infoq.com/news/2009/11/weld10" target="" class="regularLink">their questions and my answers about CDI and Weld</a>.</p>
</div>
