---
title: "Nice article about Seam"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "20-05-2009"
original_tags: [Seam,Seam News]
tags: [Seam]

relative_url: /2009/05/20/nice-article-about-seam
slug: nice-article-about-seam
lace: http://in.relation.to/11496.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/05/20/nice-article-about-seam
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Timothy Potter has posted a really nice <a href="http://thelabdude.blogspot.com/2009/05/user-registration-solution-using-jboss.html" target="" class="regularLink">article and example application</a> for Seam.
</p>

<p class="wikiPara">
But damn, I'm really looking forward to seeing how nice the example apps turn out on JSF 2.0, Web Beans and Seam 3.0!</p>
</div>

