---
title: "Ideas for next release of CDI"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "20-11-2009"
tags: [Contexts and Dependency Injection]

relative_url: /2009/11/20/ideas-for-next-release-of-cdi
slug: ideas-for-next-release-of-cdi
lace: http://in.relation.to/13125.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/11/20/ideas-for-next-release-of-cdi
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I've written up a <a href="http://www.seamframework.org/Weld/CDIWishlist" target="" class="regularLink">wish list</a> for the next release of CDI (either a maintenance release, or a version 1.1). These are just suggestions that I'll be taking to the Expert Group.
</p>

<p class="wikiPara">
UPDATE: If you're interested, it might also be worth checking out <a href="http://www.seamframework.org/Weld/PortableExtensionsPackage" target="" class="regularLink">my list</a> of some of the things we want to implement as portable extensions. Of course, there's many more portable extensions we'll be working on, as part of the effort to port features of Seam2 across to the CDI backbone.</p>
</div>

