---
title: "Java EE 6 Final Release"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "12-12-2009"
tags: [Bean Validation,Contexts and Dependency Injection,JPA 2,Java EE 6,Seam News]

relative_url: /2009/12/12/JavaEE6FinalRelease
slug: JavaEE6FinalRelease
lace: http://in.relation.to/13548.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/12/12/JavaEE6FinalRelease
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
As I'm sure you've all seen, <a href="http://java.sun.com/javaee/" target="" class="regularLink">Java EE 6</a> has gone final. You can now download the Final Release of the <a href="http://jcp.org/aboutJava/communityprocess/final/jsr299/index.html" target="" class="regularLink">Contexts and Dependency Injection</a>, <a href="http://jcp.org/aboutJava/communityprocess/final/jsr303/index.html" target="" class="regularLink">Bean Validation</a>, <a href="http://jcp.org/aboutJava/communityprocess/final/jsr317/index.html" target="" class="regularLink">Java Persistence API 2</a> and <a href="http://jcp.org/aboutJava/communityprocess/final/jsr315/index.html" target="" class="regularLink">Java Servlet 3</a> specifications from <tt>jcp.org</tt>, and read the linked <a href="http://java.sun.com/javaee/6/docs/api/" target="" class="regularLink">javadoc for the entire platform</a>. It's also a good chance to check out the <a href="http://jcp.org/aboutJava/communityprocess/mrel/jsr311/index.html" target="" class="regularLink">Java API for RESTful Web Services</a> specification, which now includes CDI integration, if you havn't already.
</p>

<p class="wikiPara">
 Sun have also published a <a href="http://java.sun.com/developer/technicalArticles/JavaEE/JavaEE6Overview.html" target="" class="regularLink">three-part overview of the new platform</a> and the <a href="http://java.sun.com/javaee/6/docs/tutorial/doc/" target="" class="regularLink">Java EE 6 tutorial</a> and <a href="http://java.sun.com/javaee/reference/code/" target="" class="regularLink">sample applications</a>.
</p>

<p class="wikiPara">
It's just fantastic to finally see the fruits of all that work :-)</p>
</div>
