---
title: "Web Beans Interview on InfoQ"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "07-01-2009"
tags: [Seam News,Web Beans]

relative_url: /2009/01/07/web-beans-interview-on-info-q
slug: web-beans-interview-on-info-q
lace: http://in.relation.to/10435.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/01/07/web-beans-interview-on-info-q
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
InfoQ is running an <a href="http://www.infoq.com/news/2009/01/webbeansqa" target="" class="regularLink">interview</a> we did about <a href="http://seamframework.org/WebBeans" target="" class="regularLink">Web Beans</a>.</p>
</div>

