---
title: "JSF 2 and CDI with Netbeans and Glassfish"
author: "Gavin King"
creation_date: "18-12-2009"
blogger_name: "Gavin"
layout: blog-post
tags: [Contexts and Dependency Injection,Java EE 6,JavaServer Faces]
slug: JSF2AndCDIWithNetbeansAndGlassfish
lace: http://in.relation.to/13642.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Andy Gibson has written a nice tutorial to help you <a href="http://www.andygibson.net/blog/index.php/2009/12/16/getting-started-with-jsf-2-0-and-cdi-in-jee-6-part-1" target="" class="regularLink">get started with JSF 2 and CDI using Netbeans and Glassfish</a>. It's great to see that both <a href="http://netbeans.org/kb/docs/javaee/javaee-gettingstarted.html" target="" class="regularLink">Netbeans</a> and <a href="http://www.infoq.com/news/2009/12/intellij-idea-9" target="" class="regularLink">Intellij 9</a> already have excellent support for Java EE 6.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'JSF2AndCDIWithNetbeansAndGlassfish';
    var disqus_title = 'JSF 2 and CDI with Netbeans and Glassfish';
    var disqus_url = 'http://in.relation.to/13642.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
