---
title: "JSR-299 and JSF 2.0 talks at NEJUG"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: [Seam News]
slug: JSR299AndJSF20TalksAtNEJUG
lace: http://in.relation.to/12459.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/JSR299AndJSF20TalksAtNEJUG">JSR-299 and JSF 2.0 talks at NEJUG</a>
                    </h1>
</div>
<p class="wikiPara">
Dan Allen and I are speaking at the New England JUG on Thursday, October 8, at 1 Network Way, Burlington. I've been doing a lot less public speaking lately, so I'm looking forward to it!</p>
</div>
