---
title: "Web Beans Interview on InfoQ"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: [Seam News,Web Beans]
slug: WebBeansInterviewOnInfoQ
lace: http://in.relation.to/10435.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/WebBeansInterviewOnInfoQ">Web Beans Interview on InfoQ</a>
                    </h1>
</div>
<p class="wikiPara">
InfoQ is running an <a href="http://www.infoq.com/news/2009/01/webbeansqa" target="" class="regularLink">interview</a> we did about <a href="http://seamframework.org/WebBeans" target="" class="regularLink">Web Beans</a>.</p>
</div>
