---
title: "Great post about database soft deletes"
author: "Gavin King"
creation_date: "10-09-2009"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: GreatPostAboutDatabaseSoftDeletes
lace: http://in.relation.to/12303.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Totally agree with <a href="http://www.udidahan.com/2009/09/01/dont-delete-just-dont/" target="" class="regularLink">this</a>. (Via InfoQ.)</p>
</div>
