---
title: "JSR-299 presentation "
author: "Gavin King"
creation_date: "25-03-2009"
blogger_name: "Gavin"
layout: blog-post
tags: [Contexts and Dependency Injection,Seam News,Web Beans]
slug: JSR299Presentation
lace: http://in.relation.to/10944.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I just got done presenting on JSR-299 at the SDC conference in Gotenborg, Sweden. Here's the latest <a href="/Bloggers/JSR299Presentation#attachment1" target="" class="regularLink">slide set[1]</a>!</p>
</div>
