---
title: "JSR-299 Public Review Draft approved by EC"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: [Contexts and Dependency Injection,Seam News,Web Beans]
slug: JSR299PublicReviewDraftApprovedByEC
lace: http://in.relation.to/10664.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/JSR299PublicReviewDraftApprovedByEC">JSR-299 Public Review Draft approved by EC</a>
                    </h1>
</div>
<p class="wikiPara">
The revised Public Review Draft of <i class="wikiEmphasis">Contexts and Dependency Injection</i> (<a href="http://jcp.org/en/jsr/detail?id=299" target="" class="regularLink">JSR-299</a>, the spec formerly known as Web Beans) was <a href="http://jcp.org/en/jsr/results?id=4748" target="" class="regularLink">approved by the EC</a> with all EC members voting Yes, except for Nortel and SpringSource who did not vote.
</p>

<p class="wikiPara">
As expected, there were comments from several EC members:
</p>

<p class="wikiPara">
IBM:
</p>

<blockquote class="wikiBlockquote">
IBM has serious reservations about introducing another competing component model into the EE platform when this JSR was supposed to be focused on integrating technologies into the platform.  Aside from the duplication and confusion caused by this, the specification has expanded to cover a large spectrum of technology that is somewhat ambitious to fully define within a single specification. However, we acknowledge that the spec lead has made substantial progress in addressing feedback and therefore, we are willing to vote yes to allow the specification to move forward on the assumption that the spec lead will continue to address feedback and concerns.
</blockquote>

<p class="wikiPara">
Oracle:
</p>

<blockquote class="wikiBlockquote">
We believe this specification has the potential to augment the platform with useful functionality. However, we feel strongly that it must be properly and sufficiently integrated with the overall Java EE platform, specifically in the areas of XML definition, annotation usage, interceptors and events, and most particularly with respect to the perceived introduction of an additional component model.

We therefore support the continuance of this specification on the conditions that the component model issues be resolved and that the integration of these aspects of the specification be completed.

We appreciate Red Hat's ongoing work to address these issues with the community.
</blockquote>

<p class="wikiPara">
SAP:
</p>

<blockquote class="wikiBlockquote">
There are a number of good concepts, but we are missing an overarching principle for a number of diverging goals that this JSR tries to address. 

In our opinion, Web Beans  would be a great addition to the Java EE platform, in both capabilities and ease-of-use, but only if its ideas are better aligned and integrated into the existing Java EE world. 

We have communicated the details of our concerns to the Spec Lead. There is enough goodness that well justifies this JSR to proceed for now and we want to thank the Spec Lead for listening to our concerns.
</blockquote>

<p class="wikiPara">
I would like to thank everyone who worked on the Public Review Draft and everyone who has supported the specification in other ways. 299 has had a somewhat difficult ride, but it looks like we're moving toward a very satisfying outcome.</p>
</div>
