---
title: "Interview on DZone"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "03-12-2009"
original_tags: [Contexts and Dependency Injection,Java EE 6]
tags: [CDI,Java EE]

relative_url: /2009/12/03/interview-on-d-zone
slug: interview-on-d-zone
lace: http://in.relation.to/13291.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/12/03/interview-on-d-zone
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
DZone recently <a href="http://java.dzone.com/videos/gavin-king-jsr299" target="" class="regularLink">interviewed me about CDI and Weld</a>. Please, no more jokes about the hat. I had a horrid morning that day and had to run off to the interview without a shower, breakfast or coffee.</p>
</div>

