---
title: "An exciting day for enterprise Java"
author: "Gavin King"
creation_date: "01-12-2009"
blogger_name: "Gavin"
layout: blog-post
tags: [Bean Validation,Contexts and Dependency Injection,Java EE 6,Seam News]
slug: AnExcitingDayForEnterpriseJava
lace: http://in.relation.to/13209.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The <a href="http://jcp.org/en/jsr/detail?id=316" target="" class="regularLink">Java EE 6 platform</a>, along with <a href="http://jcp.org/en/jsr/detail?id=299" target="" class="regularLink">Contexts and Dependency Injection</a>, <a href="http://jcp.org/en/jsr/detail?id=303" target="" class="regularLink">Bean Validation</a>, <a href="http://jcp.org/en/jsr/detail?id=318" target="" class="regularLink">EJB 3.1</a>, <a href="http://jcp.org/en/jsr/detail?id=317" target="" class="regularLink">JPA 2</a> and <a href="http://jcp.org/en/jsr/detail?id=315" target="" class="regularLink">Servlet 3</a> have just been approved by the JCP EC. This completely changes the landscape for people developing web and enterprise applications in Java. There's just so much to digest here, and so many problems that are finally solved. EE 6 is something of a new start, and the beginning of a whole new ecosystem. Congratulations!</p>
</div>
