---
title: "Almost there..."
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: [Contexts and Dependency Injection,Seam News,Web Beans]
slug: AlmostThere
lace: http://in.relation.to/12658.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/AlmostThere">Almost there...</a>
                    </h1>
</div>
<p class="wikiPara">
CDI (<a href="http://jcp.org/en/jsr/detail?id=299" target="" class="regularLink">JSR-299</a>) and <a href="http://seamframework.org/Weld" target="" class="regularLink">Weld</a> 1.0 are almost a reality. We've got word from Sun that CDI and the rest of Java EE 6 will be submitted to the JCP on November 9. I've spent the last few days filling out the Javadoc for the CDI API and SPI packages and making some last-minute cleanups to the spec. Meanwhile, Pete and the others are fixing bugs in the RI and TCK. This process has taken more than 3 years, and an incredible amount of pain, but we're now looking at one of the most well-reviewed JCP specifications <i class="wikiEmphasis">ever</i>. </p>
</div>
