---
title: "JSR-299 presentation "
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: [Contexts and Dependency Injection,Seam News,Web Beans]
slug: JSR299Presentation
lace: http://in.relation.to/10944.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/JSR299Presentation">JSR-299 presentation </a>
                    </h1>
</div>
<p class="wikiPara">
I just got done presenting on JSR-299 at the SDC conference in Gotenborg, Sweden. Here's the latest <a href="&lt;%=%20site.base_url%20%&gt;/assets/Contexts-and-Dependency-Injection.pdf" target="" class="regularLink">slide set</a>!</p>
</div>
