---
title: "Great post about database soft deletes"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: GreatPostAboutDatabaseSoftDeletes
lace: http://in.relation.to/12303.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/GreatPostAboutDatabaseSoftDeletes">Great post about database soft deletes</a>
                    </h1>
</div>
<p class="wikiPara">
Totally agree with <a href="http://www.udidahan.com/2009/09/01/dont-delete-just-dont/" target="" class="regularLink">this</a>. (Via InfoQ.)</p>
</div>
