---
title: "Weld with Jetty and Maven tutorial"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "23-10-2009"
original_tags: [Contexts and Dependency Injection,Web Beans,Weld]
tags: [CDI,Weld]

relative_url: /2009/10/23/weld-with-jetty-and-maven-tutorial
slug: weld-with-jetty-and-maven-tutorial
lace: http://in.relation.to/12632.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/10/23/weld-with-jetty-and-maven-tutorial
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Steven Boscarine has written a <a href="http://info.rmatics.org/2009/10/17/jsf2_tutorial_0/" target="" class="regularLink">nice short tutorial</a> on getting up and running with Weld and JSF on Jetty, using Maven. Note that there's a bit more boilerplate here than there would be in a Java EE environment, since integration of Weld in Jetty requires explicit configuration. Nevertheless, I think Steven does a good job of demonstrating that it's easy to get up and running with this stuff. 
</p>

<p class="wikiPara">
UPDATE: Steven has extended the tutorial to cover <a href="http://info.rmatics.org/2009/10/24/jsf2_tutorial_0b/" target="" class="regularLink">deployment to Tomcat</a>.</p>
</div>

