---
title: "Weld with Jetty and Maven tutorial"
author: "Gavin King"
creation_date: "23-10-2009"
blogger_name: "Gavin"
layout: blog-post
tags: [Contexts and Dependency Injection,Web Beans,Weld]
slug: WeldWithJettyAndMavenTutorial
lace: http://in.relation.to/12632.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Steven Boscarine has written a <a href="http://info.rmatics.org/2009/10/17/jsf2_tutorial_0/" target="" class="regularLink">nice short tutorial</a> on getting up and running with Weld and JSF on Jetty, using Maven. Note that there's a bit more boilerplate here than there would be in a Java EE environment, since integration of Weld in Jetty requires explicit configuration. Nevertheless, I think Steven does a good job of demonstrating that it's easy to get up and running with this stuff. 
</p>

<p class="wikiPara">
UPDATE: Steven has extended the tutorial to cover <a href="http://info.rmatics.org/2009/10/24/jsf2_tutorial_0b/" target="" class="regularLink">deployment to Tomcat</a>.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'WeldWithJettyAndMavenTutorial';
    var disqus_title = 'Weld with Jetty and Maven tutorial';
    var disqus_url = 'http://in.relation.to/12632.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
