---
title: "Almost there..."
author: "Gavin King"
creation_date: "29-10-2009"
blogger_name: "Gavin"
layout: blog-post
tags: [Contexts and Dependency Injection,Seam News,Web Beans]
slug: AlmostThere
lace: http://in.relation.to/12658.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
CDI (<a href="http://jcp.org/en/jsr/detail?id=299" target="" class="regularLink">JSR-299</a>) and <a href="http://seamframework.org/Weld" target="" class="regularLink">Weld</a> 1.0 are almost a reality. We've got word from Sun that CDI and the rest of Java EE 6 will be submitted to the JCP on November 9. I've spent the last few days filling out the Javadoc for the CDI API and SPI packages and making some last-minute cleanups to the spec. Meanwhile, Pete and the others are fixing bugs in the RI and TCK. This process has taken more than 3 years, and an incredible amount of pain, but we're now looking at one of the most well-reviewed JCP specifications <i class="wikiEmphasis">ever</i>. </p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'AlmostThere';
    var disqus_title = 'Almost there...';
    var disqus_url = 'http://in.relation.to/12658.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
