---
title: "JSR 299 Proposed Final Draft 2"
author: "Gavin King"
creation_date: "22-09-2009"
blogger_name: "Gavin"
layout: blog-post
tags: [Contexts and Dependency Injection,Seam News,Web Beans]
slug: JSR299ProposedFinalDraft2
lace: http://in.relation.to/12374.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I've just submitted <a href="/Bloggers/JSR299ProposedFinalDraft2#attachment1" target="" class="regularLink">a revised PFD[1]</a> of <a href="http://jcp.org/en/jsr/detail?id=299" target="" class="regularLink">JSR-299</a> (now named <i class="wikiEmphasis">Contexts and Dependency Injection for the Java EE platform</i>) to the JCP. There are four notable changes in this revision:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">re-use of dependency injection annotations defined by JSR-330</li>
<li class="wikiUnorderedListItem">replacement of the notion of deployment types with the new <tt>@Alternative</tt> declaration</li>
<li class="wikiUnorderedListItem">removal of the ability to dynamically register event observers</li>
<li class="wikiUnorderedListItem">constructor injection for EJB session beans</li>
</ul>

<p class="wikiPara">
The biggest change from a user point of view is that the <tt>@Inject</tt> annotation is now used to declare bean constructors, initializer methods and injected fields.
</p>

<p class="wikiPara">
I would like to thank Mike Keith from Oracle for his work on alignment of JSR-330 with JSR-299.
</p>

<p class="wikiPara">
Work on the 299 RI and TCK is moving extremely rapidly, and we hope to have a release of the <a href="http://seamframework.org/WebBeans" target="" class="regularLink">RI</a> that implements PFD2 in a couple of weeks. And before the end of the year you guys should see the release of the at least two application servers with built-in support for 299. (The first application server with built-in support for 299, Resin 4, is already available.)</p>
</div>
