---
title: "Interview on DZone"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: [Contexts and Dependency Injection,Java EE 6]
slug: InterviewOnDZone
lace: http://in.relation.to/13291.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/InterviewOnDZone">Interview on DZone</a>
                    </h1>
</div>
<p class="wikiPara">
DZone recently <a href="http://java.dzone.com/videos/gavin-king-jsr299" target="" class="regularLink">interviewed me about CDI and Weld</a>. Please, no more jokes about the hat. I had a horrid morning that day and had to run off to the interview without a shower, breakfast or coffee.</p>
</div>
