---
title: "JavaOne presentation on JSR-299"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "28-05-2009"
tags: [Contexts and Dependency Injection,Seam News,Web Beans]

relative_url: /2009/05/28/JavaOnePresentationOnJSR299
slug: JavaOnePresentationOnJSR299
lace: http://in.relation.to/11572.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/05/28/JavaOnePresentationOnJSR299
---
<div id="documentDisplay" class="documentDisplay">


<a target="_blank" href="http://java.sun.com/javaone">
<img href="http://java.sun.com/javaone" src="http://www.cplan.com/javaone2009/creativetoolbox/images/09J1_200x200_Speaker_Button_Duke.gif" style="float:right;padding-left:20px;" width="100" height="100">
</a>

<p class="wikiPara">
I'll be talking about JSR-299 (Contexts and Dependendency Injection for the Java EE platform) on Wednesday, June 3 at 4:10 PM in Hall E 134. There's never time for questions at JavaOne sessions, so if you have questions, please come and talk to me at the Red Hat booth after my talk.
</p>

<p class="wikiPara">
The current plan for JSR-299 is to submit the Proposed Final Draft on Monday, June 8, right after JavaOne is over and the JCP starts accepting submissions again. 
</p>

<p class="wikiPara">
If you're trying to keep up with the spec, here's the <a href="/assets/JSR-299-20090527.pdf" target="" class="regularLink">latest draft</a>. Enjoy!</p>
</div>
