---
title: "Andy Schwartz's JSF2 summary"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "16-11-2009"
tags: [JavaServer Faces]

absolute_url: http://in.relation.to/2009/11/16/AndySchwartzsJSF2Summary
lace: http://in.relation.to/12977.lace
slug: AndySchwartzsJSF2Summary

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
In case you're like me, and you missed this when it was first published, check out Andy Schwartz's <a href="http://andyschwartz.wordpress.com/2009/07/31/whats-new-in-jsf-2/#validation-bean" target="" class="regularLink">summary of what's new in JSF2</a>. (Andy's one of the good guys on the JSF EG.) It's fun to compare the final product to <a href="/Bloggers/EE6WishlistPartIIJSF" target="" class="regularLink">my wishlist</a> from back in '07. Oh, what innocent, carefree days...
</p>

<p class="wikiPara">
Side note: is that <i class="wikiEmphasis">really</i> meant to be <q>Andy Schwartz's blog</q> rather than <q>Andy Schwartz' blog</q>?! How do you say that, <q>Schwartsez</q>?</p>
</div>
