---
title: "The usual suspects"
author: "Gavin King"
creation_date: "10-12-2009"
blogger_name: "Gavin"
layout: blog-post
tags: [Java EE 6,Payasos]
slug: TheUsualSuspects
lace: http://in.relation.to/13434.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
On InfoQ, Spring's Jürgen Höller <a href="http://www.infoq.com/news/2009/12/is-the-web-profile-enough" target="" class="regularLink">says this</a> about the EE 6 Web Profile:
</p>

<blockquote class="wikiBlockquote">
Implementing this profile is not very attractive. I am yet to see a vendor who is aiming to implement this profile but not the full profile.
</blockquote>

<p class="wikiPara">
So I asked Scott Ferguson from Caucho. He replies:
</p>

<blockquote class="wikiBlockquote">
We definitely are aiming for the web profile.
</blockquote>

<p class="wikiPara">
So I hope that's the last we hear of this particular item of FUD. I promise to keep you guys up to date with future FUD, as it emerges.
</p>

<p class="wikiPara">
By the way, I have friends who are using Resin and the built-in CDI implementation, CanDI, with great success.</p>
</div>
