---
title: "Horizon-expanding blogs"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "17-01-2009"
original_tags: []
tags: []

relative_url: /2009/01/17/horizonexpanding-blogs
slug: horizonexpanding-blogs
lace: http://in.relation.to/10470.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/01/17/horizonexpanding-blogs
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Two of my favorite blogs are <a href="http://volokh.com/" target="" class="regularLink">The Volokh Conspiracy</a>, written by a bunch of libertarianish legal academics, and <a href="http://languagelog.ldc.upenn.edu/nll/" target="" class="regularLink">Language Log</a>, about linguistics. I really enjoy seeing how folks from very different disciplines reason and express themselves in writing (lawyers in particular are especially clear thinkers). This morning I started wondering if I'm missing out on other equally great groupblogs.
</p>

<p class="wikiPara">
So a question: what blog do <i class="wikiEmphasis">you</i> read from outside the field of technology? I don't mean news / politics / gadgets / hobbies / etc, I mean something with a vaguely academic bent.
</p>

<p class="wikiPara">
And a related question: do you think there are any deveopment-related blogs that a non-developer (say a lawyer, or a linguist) would enjoy reading? The only thing I can think of is <a href="http://www.artima.com/index.jsp" target="" class="regularLink">Artima</a>, perhaps.</p>
</div>

