---
title: "Q&A on InfoQ"
author: "Gavin King"
creation_date: "18-11-2009"
blogger_name: "Gavin"
layout: blog-post
tags: [Contexts and Dependency Injection,Java EE 6,Seam News,Weld]
slug: QAOnInfoQ
lace: http://in.relation.to/13087.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
InfoQ has published a <a href="http://www.infoq.com/news/2009/11/weld10" target="" class="regularLink">their questions and my answers about CDI and Weld</a>.</p>
</div>
