---
title: "CDI Javadoc"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: [Contexts and Dependency Injection,Seam News,Web Beans,Weld]
slug: CDIJavadoc
lace: http://in.relation.to/12801.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/CDIJavadoc">CDI Javadoc</a>
                    </h1>
</div>
<p class="wikiPara">
I put a whole bunch of work into the Javadoc for CDI recently. You can <a href="http://docs.jboss.org/cdi/api/1.0/" target="" class="regularLink">see it here</a>. There's a good overview of the spec in the package doc for <tt>javax.enterprise.inject</tt>.
</p>

<p class="wikiPara">
Oh, I also did the Javadoc for <tt>javax.interceptor</tt>, but that's not available anywhere yet.</p>
</div>
