---
title: "CDI Javadoc"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "09-11-2009"
tags: [Contexts and Dependency Injection,Seam News,Web Beans,Weld]

relative_url: /2009/11/09/cdi-javadoc
slug: cdi-javadoc
lace: http://in.relation.to/12801.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/11/09/cdi-javadoc
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I put a whole bunch of work into the Javadoc for CDI recently. You can <a href="http://docs.jboss.org/cdi/api/1.0/" target="" class="regularLink">see it here</a>. There's a good overview of the spec in the package doc for <tt>javax.enterprise.inject</tt>.
</p>

<p class="wikiPara">
Oh, I also did the Javadoc for <tt>javax.interceptor</tt>, but that's not available anywhere yet.</p>
</div>

