---
title: "JSR-299 support in IntelliJ"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "06-06-2009"
original_tags: [Contexts and Dependency Injection,Web Beans]
tags: [CDI]

relative_url: /2009/06/06/jsr-299-support-in-intelli-j
slug: jsr-299-support-in-intelli-j
lace: http://in.relation.to/11707.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/06/06/jsr-299-support-in-intelli-j
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Great to see that IntelliJ are <a href="http://blogs.jetbrains.com/idea/tag/jsr-299/" target="" class="regularLink">already working on their support for JSR-299</a>.</p>
</div>

