---
title: "JSR-299 support in IntelliJ"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: [Contexts and Dependency Injection,Web Beans]
slug: JSR299SupportInIntelliJ
lace: http://in.relation.to/11707.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/JSR299SupportInIntelliJ">JSR-299 support in IntelliJ</a>
                    </h1>
</div>
<p class="wikiPara">
Great to see that IntelliJ are <a href="http://blogs.jetbrains.com/idea/tag/jsr-299/" target="" class="regularLink">already working on their support for JSR-299</a>.</p>
</div>
