---
title: "JSR-299 and JSF 2.0 talks at NEJUG"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "29-09-2009"
tags: [Seam News]

relative_url: /2009/09/29/jsr-299-and-jsf-20-talks-at-nejug
slug: jsr-299-and-jsf-20-talks-at-nejug
lace: http://in.relation.to/12459.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/09/29/jsr-299-and-jsf-20-talks-at-nejug
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Dan Allen and I are speaking at the New England JUG on Thursday, October 8, at 1 Network Way, Burlington. I've been doing a lot less public speaking lately, so I'm looking forward to it!</p>
</div>

