---
title: "Pete and Dan on DZone"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "01-12-2009"
tags: []

absolute_url: http://in.relation.to/2009/12/01/PeteAndDanOnDZone
lace: http://in.relation.to/13201.lace
slug: PeteAndDanOnDZone

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="/Bloggers/PeteMuir" target="" class="regularLink">Pete</a> and <a href="/Bloggers/DansBlog" target="" class="regularLink">Dan</a> have material up on DZone. Pete was interviewed about <a href="http://java.dzone.com/articles/coming-java-ee-extensions-jsr" target="" class="regularLink">portable extensions in CDI</a>, and Dan has the <a href="http://java.dzone.com/articles/fluent-navigation-jsf-2?mz=3006-jboss" target="" class="regularLink">third part of his series about JSF2</a>.</p>
</div>
