---
title: "JSF 2 and CDI with Netbeans and Glassfish"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "18-12-2009"
original_tags: [Contexts and Dependency Injection,Java EE 6,JavaServer Faces]
tags: [CDI,Java EE,JSF]

relative_url: /2009/12/18/jsf-2-and-cdi-with-netbeans-and-glassfish
slug: jsf-2-and-cdi-with-netbeans-and-glassfish
lace: http://in.relation.to/13642.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/12/18/jsf-2-and-cdi-with-netbeans-and-glassfish
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Andy Gibson has written a nice tutorial to help you <a href="http://www.andygibson.net/blog/index.php/2009/12/16/getting-started-with-jsf-2-0-and-cdi-in-jee-6-part-1" target="" class="regularLink">get started with JSF 2 and CDI using Netbeans and Glassfish</a>. It's great to see that both <a href="http://netbeans.org/kb/docs/javaee/javaee-gettingstarted.html" target="" class="regularLink">Netbeans</a> and <a href="http://www.infoq.com/news/2009/12/intellij-idea-9" target="" class="regularLink">Intellij 9</a> already have excellent support for Java EE 6.</p>
</div>

