---
title: "Unbest practices"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "16-01-2009"
tags: []

relative_url: /2009/01/16/UnbestPractices
slug: UnbestPractices
lace: http://in.relation.to/10466.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/01/16/UnbestPractices
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I had fun <a href="http://www.satisfice.com/blog/archives/27" target="" class="regularLink">reading this</a>. The author degenerates into relativism toward the end, but the core point of the article is spot on: the phrase <q>best practice</q> is one that is used by bullies and the intellectually incurious to avoid having to evaluate novel solutions upon their own merits. It's an appeal to authority that sidesteps the nasty requirement of having to actually state any actual authority.
</p>

<p class="wikiPara">
The best line is: <q>A maturity model is basically a gang of best practices hooked on crystal meth. In my maturity model of the industry, promoting a maturity model is mere level 2 behavior. By level 3, we outgrow it.</q> Funny 'cos it's true.</p>
</div>
