---
title: "Weld with Jetty and Maven tutorial"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: [Contexts and Dependency Injection,Web Beans,Weld]
slug: WeldWithJettyAndMavenTutorial
lace: http://in.relation.to/12632.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/WeldWithJettyAndMavenTutorial">Weld with Jetty and Maven tutorial</a>
                    </h1>
</div>
<p class="wikiPara">
Steven Boscarine has written a <a href="http://info.rmatics.org/2009/10/17/jsf2_tutorial_0/" target="" class="regularLink">nice short tutorial</a> on getting up and running with Weld and JSF on Jetty, using Maven. Note that there's a bit more boilerplate here than there would be in a Java EE environment, since integration of Weld in Jetty requires explicit configuration. Nevertheless, I think Steven does a good job of demonstrating that it's easy to get up and running with this stuff. 
</p>

<p class="wikiPara">
UPDATE: Steven has extended the tutorial to cover <a href="http://info.rmatics.org/2009/10/24/jsf2_tutorial_0b/" target="" class="regularLink">deployment to Tomcat</a>.</p>
</div>
