---
title: "Nice article about Seam"
author: "Gavin King"
creation_date: "20-05-2009"
blogger_name: "Gavin"
layout: blog-post
tags: [Seam,Seam News]
slug: NiceArticleAboutSeam
lace: http://in.relation.to/11496.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Timothy Potter has posted a really nice <a href="http://thelabdude.blogspot.com/2009/05/user-registration-solution-using-jboss.html" target="" class="regularLink">article and example application</a> for Seam.
</p>

<p class="wikiPara">
But damn, I'm really looking forward to seeing how nice the example apps turn out on JSF 2.0, Web Beans and Seam 3.0!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'NiceArticleAboutSeam';
    var disqus_title = 'Nice article about Seam';
    var disqus_url = 'http://in.relation.to/11496.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
