---
title: "JavaServer Faces 2.0 passes Final Approval Ballot"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "28-05-2009"
tags: [Seam News]

relative_url: /2009/05/28/java-server-faces-20-passes-final-approval-ballot
slug: java-server-faces-20-passes-final-approval-ballot
lace: http://in.relation.to/11591.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/05/28/java-server-faces-20-passes-final-approval-ballot
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
JSR-314 has passed its <a href="http://jcp.org/en/jsr/results?id=4939" target="" class="regularLink">final approval ballot</a>. Finally, JSF gets a chance to live up to its promise. JSF 2.0 brings a bunch of innovation that happened in third-party extensions (including Facelets, Seam and Ajax4JSF) back into the specification. Back in July '07, I wrote up <a href="http://in.relation.to/Bloggers/EE6WishlistPartIIJSF" target="" class="regularLink">this wishlist</a> and it's great to see that most of the issues on this list (and much more) have been addressed. It takes an enormous amount of work to put together a specification like this, so please join me in thanking the expert group. Of course, I should especially thank the members of my team (Dan Allen and Pete Muir) who worked hard on getting some important features in very late in the cycle.</p>
</div>

