---
title: "JPA 2.0 typesafe CriteriaQuery support in IntelliJ"
author: "Gavin King"
creation_date: "20-11-2009"
blogger_name: "Gavin"
layout: blog-post
tags: [Contexts and Dependency Injection,Criteria Queries,Hibernate,JPA,JPA 2]
slug: JPA20TypesafeCriteriaQuerySupportInIntelliJ
lace: http://in.relation.to/13123.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
IntelliJ <a href="http://blogs.jetbrains.com/idea/2009/11/userfriendly-annotation-processing-support-jpa-20-metamodel/" target="" class="regularLink">now has support</a> for the new JPA 2.0 typesafe query facility I've <a href="/Bloggers/Java6CompilerPluginsAndTypesafeCriteriaQueries" target="" class="regularLink">been</a> <a href="/Bloggers/ATypesafeCriteriaQueryAPIForJPA" target="" class="regularLink">blogging</a> <a href="/Bloggers/LindaBlogsTheTypesafeQueryAPIForJPA20" target="" class="regularLink">about</a>. It's very important that this stuff works smoothly with tooling, so it's great to see that the tooling vendors are on this early.
</p>

<p class="wikiPara">
UPDATE: Even better, <a href="http://blogs.jetbrains.com/idea/2009/11/cdi-jsr-299-run-with-me/" target="" class="regularLink">here</a> and <a href="http://blogs.jetbrains.com/idea/2009/11/web-beans-jsr-299-dependency-injection-diagram/" target="" class="regularLink">here</a> are some screenshots of the CDI support in IntelliJ. Looks great!</p>
</div>
