---
title: "Granite DS and CDI"
author: "Gavin King"
creation_date: "14-11-2009"
blogger_name: "Gavin"
layout: blog-post
tags: [Contexts and Dependency Injection,Granite DS,Weld]
slug: GraniteDSAndCDI
lace: http://in.relation.to/12967.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
William Drai has blogged about his experience <a href="http://graniteds.blogspot.com/2009/11/new-in-graniteds-210-rc1-early-support.html" target="" class="regularLink">integrating Granite DS and CDI</a>.
</p>

<blockquote class="wikiBlockquote">
Our feeling is that JCDI is a perfect fit for Flex RIAs with an event-driven architecture. JCDI applications look extremely clean and even though JBoss Seam provides a lot more features, they do not necessarily make sense with a RIA front-end.
</blockquote>

<p class="wikiPara">
The mapping to Flex does look very clean to me. I especially like what William has done with mapping CDI events into the client. Very nice, and very faithful to CDI.</p>
</div>
