---
title: "Resin EE Web Profile strategy"
author: "Gavin King"
creation_date: "18-02-2010"
blogger_name: "Gavin"
layout: blog-post
tags: [Java EE 6]
slug: ResinEEWebProfileStrategy
lace: http://in.relation.to/14376.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The guys at Caucho have an <a href="http://blog.caucho.com/?p=384" target="" class="regularLink">interesting write up</a> about their decision to aim for EE 6 Web Profile compliance. It's worth hearing their take on the new platform.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'ResinEEWebProfileStrategy';
    var disqus_title = 'Resin EE Web Profile strategy';
    var disqus_url = 'http://in.relation.to/14376.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
