---
title: "Article on Ajax and JSF"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "08-01-2010"
tags: [JavaServer Faces]

relative_url: /2010/01/08/article-on-ajax-and-jsf
slug: article-on-ajax-and-jsf
lace: http://in.relation.to/13780.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/01/08/article-on-ajax-and-jsf
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
In case you missed it, Jay and Dan published an <a href="http://java.dzone.com/articles/ajax-jsf-joined" target="" class="regularLink">article about Ajax and JSF2</a> on DZone.</p>
</div>

