---
title: "Where I've been"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: WhereIveBeen
lace: http://in.relation.to/16708.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/WhereIveBeen">Where I've been</a>
                    </h1>
</div>
<p class="wikiPara">
A few folks have been asking what the hell's happened to me, and I realized that I have not posted anything here for like 6 months. Well, the truth is, apart from recently becoming a father, I've been quite busy with a <i class="wikiEmphasis">really</i> exciting new project. And yeah, my head is full of a hundred interesting things I could blog about, but, unfortunately, the new project is super-duper secret for now, so I'll have to keep a lid on it until we're ready for an alpha release (perhaps another 6 months from now).</p>
</div>
