---
title: "What a month!"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "26-02-2010"
tags: []

relative_url: /2010/02/26/WhatAMonth
slug: WhatAMonth
lace: http://in.relation.to/14493.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/02/26/WhatAMonth
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="/Bloggers/JBossTools31CR2CDILessTypingAndTheLastPolish" target="" class="regularLink">Wow,</a> <a href="/Bloggers/AS600M2IsHere" target="" class="regularLink">we</a> <a href="/Bloggers/Hibernate350CR2Release" target="" class="regularLink">are</a> <a href="/Bloggers/RichFaces333CR1ReleasedWithJSF20Support" target="" class="regularLink">on</a> <a href="/Bloggers/Weld101AndCDITCK101Published" target="" class="regularLink">fire</a>. :-)</p>
</div>

