---
title: "Resin EE Web Profile strategy"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: [Java EE 6]
slug: ResinEEWebProfileStrategy
lace: http://in.relation.to/14376.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/ResinEEWebProfileStrategy">Resin EE Web Profile strategy</a>
                    </h1>
</div>
<p class="wikiPara">
The guys at Caucho have an <a href="http://blog.caucho.com/?p=384" target="" class="regularLink">interesting write up</a> about their decision to aim for EE 6 Web Profile compliance. It's worth hearing their take on the new platform.</p>
</div>
