---
title: "5 non-myths about older developers?"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: 5NonmythsAboutOlderDevelopers
lace: http://in.relation.to/14519.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/5NonmythsAboutOlderDevelopers">5 non-myths about older developers?</a>
                    </h1>
</div>
<p class="wikiPara">
Via TSS, I found this <a href="http://www.lessonsoffailure.com/developers/pervasive-myths-older-software-developers/" target="" class="regularLink">excellent post</a>. Unfortunately, while I appreciate the sentiment (hell, <a href="http://www.flickr.com/photos/gavinaking/4296579767/in/set-72157623141311671/" target="" class="regularLink">I'm not so young and commitment-free</a> no more), I'm simply not convinced that these things are actually myths. Sure, age discrimination sucks, I guess, and I'd like them to be myths, but is it really a myth that:
</p>

<blockquote class="wikiBlockquote">
Older software developers are less able to perform the arduous tasks of software development (read: work long, painful hours) because of family commitments and other attachments that younger workers don’t have.
</blockquote>

<p class="wikiPara">
Or that:
</p>

<blockquote class="wikiBlockquote">
Older software developers are more jaded and cynical and therefore, less desirable in the workplace than younger ones. Younger developers are more enthusiastic than older ones.
</blockquote>

<p class="wikiPara">
C'mon, let's give these young snippets their due! Lots of young guys really <i class="wikiEmphasis">are</i> smart, hard-working and enthusiastic. And their crazy ideas are much too often shot down by experienced, but clueless, people in more senior roles.
</p>

<p class="wikiPara">
Sure, there's lots of reasons to want some more level-headed folks floating around the project somewhere, but you're going to have to do more than simply <i class="wikiEmphasis">assert</i> that these things are myths before I'm going to drop my (totally-based-on-personal-experience-so-take-it-with-a-grain-of-salt) belief that younger folks are, on average, more productive than older folks.
</p>

<p class="wikiPara">
And now let me flip this around a bit: is the incredible salary discrimination (5x, or more) against younger developers <i class="wikiEmphasis">really</i> defensible?</p>
</div>
