---
title: "Thankyou to Norman"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: ThankyouToNorman
lace: http://in.relation.to/14515.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/ThankyouToNorman">Thankyou to Norman</a>
                    </h1>
</div>
<p class="wikiPara">
<a href="http://nostacktrace.com/dev/" target="" class="regularLink">Norman Richards</a> has left Red Hat to work for a startup company. Thanks, Norman, for all your work on the Seam project over the last 4 years, and good luck with your new endeavor.
</p>

<p class="wikiPara">
Norman leaves us with a <a href="http://nostacktrace.com/dev/2010/2/26/the-worst-interview-question-ever.html" target="" class="regularLink">funny blog post</a> showing how many large companies scare away talented potential employees like Norman, one of the many things that makes it hard for large organizations to stay competitive and innovative.</p>
</div>
