---
title: "What a month!"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "26-02-2010"
original_tags: []
tags: []

relative_url: /2010/02/26/what-a-month
slug: what-a-month
lace: http://in.relation.to/14493.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/02/26/what-a-month
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="/2010/02/26/jboss-tools-31-cr-2-cdi-less-typing-and-the-last-polish" target="" class="regularLink">Wow,</a> <a href="/2010/02/17/as-600-m-2-is-here" target="" class="regularLink">we</a> <a href="/2010/02/25/hibernate-350-cr-2-release" target="" class="regularLink">are</a> <a href="/2010/02/17/rich-faces-333-cr-1-released-with-jsf-20-support" target="" class="regularLink">on</a> <a href="/2010/02/24/weld-101-and-cditck-101-published" target="" class="regularLink">fire</a>. :-)</p>
</div>

