---
title: "What a month!"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: WhatAMonth
lace: http://in.relation.to/14493.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/WhatAMonth">What a month!</a>
                    </h1>
</div>
<p class="wikiPara">
<a href="/Bloggers/JBossTools31CR2CDILessTypingAndTheLastPolish" target="" class="regularLink">Wow,</a> <a href="/Bloggers/AS600M2IsHere" target="" class="regularLink">we</a> <a href="/Bloggers/Hibernate350CR2Release" target="" class="regularLink">are</a> <a href="/Bloggers/RichFaces333CR1ReleasedWithJSF20Support" target="" class="regularLink">on</a> <a href="/Bloggers/Weld101AndCDITCK101Published" target="" class="regularLink">fire</a>. :-)</p>
</div>
