---
title: "Article on Ajax and JSF"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: [JavaServer Faces]
slug: ArticleOnAjaxAndJSF
lace: http://in.relation.to/13780.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/ArticleOnAjaxAndJSF">Article on Ajax and JSF</a>
                    </h1>
</div>
<p class="wikiPara">
In case you missed it, Jay and Dan published an <a href="http://java.dzone.com/articles/ajax-jsf-joined" target="" class="regularLink">article about Ajax and JSF2</a> on DZone.</p>
</div>
