---
title: "JBoss AS 6 released"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "29-12-2010"
tags: [Java EE 6,Seam News]

relative_url: /2010/12/29/JBossAS6Released
slug: JBossAS6Released
lace: http://in.relation.to/17996.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/12/29/JBossAS6Released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Congratulations to the whole AS team on the release of <a href="http://sourceforge.net/projects/jboss/files/JBoss/JBoss-6.0.0.Final/" target="" class="regularLink">version 6!</a> JBoss AS 6 is a Java EE 6 compliant application server, so it includes built-in support for many of the technologies we talk about here: CDI, JPA 2, Bean Validation, EJB 3.1, JSF 2.0, Servlets 3.0, along with many major enhancements in other areas.</p>
</div>

