---
title: "JBoss AS 6 released"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: [Java EE 6,Seam News]
slug: JBossAS6Released
lace: http://in.relation.to/17996.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/JBossAS6Released">JBoss AS 6 released</a>
                    </h1>
</div>
<p class="wikiPara">
Congratulations to the whole AS team on the release of <a href="http://sourceforge.net/projects/jboss/files/JBoss/JBoss-6.0.0.Final/" target="" class="regularLink">version 6!</a> JBoss AS 6 is a Java EE 6 compliant application server, so it includes built-in support for many of the technologies we talk about here: CDI, JPA 2, Bean Validation, EJB 3.1, JSF 2.0, Servlets 3.0, along with many major enhancements in other areas.</p>
</div>
