---
title: "Where I've been"
author: "Gavin King"
creation_date: "25-08-2010"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: WhereIveBeen
lace: http://in.relation.to/16708.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
A few folks have been asking what the hell's happened to me, and I realized that I have not posted anything here for like 6 months. Well, the truth is, apart from recently becoming a father, I've been quite busy with a <i class="wikiEmphasis">really</i> exciting new project. And yeah, my head is full of a hundred interesting things I could blog about, but, unfortunately, the new project is super-duper secret for now, so I'll have to keep a lid on it until we're ready for an alpha release (perhaps another 6 months from now).</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'WhereIveBeen';
    var disqus_title = 'Where I've been';
    var disqus_url = 'http://in.relation.to/16708.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
