---
title: "Resin EE Web Profile strategy"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "18-02-2010"
tags: [Java EE 6]

relative_url: /2010/02/18/ResinEEWebProfileStrategy
slug: ResinEEWebProfileStrategy
lace: http://in.relation.to/14376.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/02/18/ResinEEWebProfileStrategy
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The guys at Caucho have an <a href="http://blog.caucho.com/?p=384" target="" class="regularLink">interesting write up</a> about their decision to aim for EE 6 Web Profile compliance. It's worth hearing their take on the new platform.</p>
</div>

