---
title: "Talk at QCon Beijing"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "29-03-2011"
tags: []

relative_url: /2011/03/29/TalkAtQConBeijing
slug: TalkAtQConBeijing
lace: http://in.relation.to/18896.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/03/29/TalkAtQConBeijing
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'll be at <a href="http://www.qconbeijing.com/" target="" class="regularLink">QCon Beijing</a>, talking about some stuff I've been working on. Wow, this is like my first conference talk for a very long time. A year and a half, I think...</p>
</div>
