---
title: "Ceylon on InfoQ"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "13-04-2011"
original_tags: []
tags: [Ceylon]

relative_url: /2011/04/13/ceylon-on-info-q
slug: ceylon-on-info-q
lace: http://in.relation.to/19199.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/04/13/ceylon-on-info-q
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Alex Blewitt of InfoQ has published <a href="http://www.infoq.com/news/2011/04/ceylon" target="" class="regularLink">my answers to his questions about Ceylon</a>.</p>
</div>

