---
title: "Ceylon at JAX"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "23-05-2011"
tags: [Ceylon]

relative_url: /2011/05/23/CeylonAtJAX
slug: CeylonAtJAX
lace: http://in.relation.to/20217.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/05/23/CeylonAtJAX
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm speaking about Ceylon on Thursday, June 23, at 10am at <a href="http://jaxconf.com/" target="" class="regularLink">JAX in San Jose</a>. My last conference presentation on the subject of Ceylon was well-received at the conference itself, but not when subsequently published online, leaving we with the impression that it wasn't very effective. So I'm taking a <a href="http://entwickler.com/konferenzen/ext_scripts/v2/php/sessions-popup.php?module=jax_us_2011_&amp;id=19413" target="" class="regularLink">different tack</a> this time.</p>
</div>
