---
title: "Ceylon presentation video"
author: "Gavin King"
creation_date: "28-04-2011"
blogger_name: "Gavin"
layout: blog-post
tags: [Ceylon]
slug: CeylonPresentationVideo
lace: http://in.relation.to/19554.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
InfoQ posted a <a href="http://www.infoq.com/presentations/ceylon" target="" class="regularLink">video</a> of my presentation in China. This being the first time I had <i class="wikiEmphasis">ever</i> tried to talk about the language in front of other people, I'm quite disfluent, and even say some stuff that isn't even correct. I certainly don't do a great job of explaining some things. Well, I'm sure that with all the conference invitations that have suddenly started filling up my inbox, I'll be getting plenty of practice. :-/</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'CeylonPresentationVideo';
    var disqus_title = 'Ceylon presentation video';
    var disqus_url = 'http://in.relation.to/19554.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
