---
title: "Modules in Ceylon"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "21-07-2011"
tags: [Ceylon]

relative_url: /2011/07/21/ModulesInCeylon
slug: ModulesInCeylon
lace: http://in.relation.to/21189.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/07/21/ModulesInCeylon
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Built-in support for <i class="wikiEmphasis">modularity</i> is a major goal of the Ceylon project, but what am I really talking about when I use this word? Well, I suppose there's multiple layers to this:
</p>

<ol class="wikiOrderedList">
<li class="wikiOrderedListItem"> Language-level support for a unit of visibility that is bigger than a package, but smaller than <q>all packages</q>.</li>
<li class="wikiOrderedListItem"> A module descriptor format that expresses dependencies between specific <i class="wikiEmphasis">versions</i> of modules.</li>
<li class="wikiOrderedListItem"> A built-in module archive format and module repository layout that is understood by all tools written for the language, from the compiler, to the IDE, to the runtime.</li>
<li class="wikiOrderedListItem"> A runtime that features a peer-to-peer classloading (one classloader per module) and the ability to manage multiple versions of the same module.</li>
<li class="wikiOrderedListItem"> An ecosystem of remote module repositories where folks can share code with others.</li>
</ol>

<p class="wikiPara">
I'm not going to get into a whole lot of fine detail of this, partly because what I have written down in the language spec today will probably change by the time you actually get to use any of this stuff, but let me give you a taste of the overall architecture proposed.
</p>

<h3 class="wikiHeadline3" id="H-ModulelevelVisibility"><a href="/2011/07/21/ModulesInCeylon#H-ModulelevelVisibility">Module-level visibility</a></h3>

<p class="wikiPara">
A package in Ceylon may be shared or unshared. An unshared package (the default) is visible only to the module which contains the package. We can make the package <tt>shared</tt> by providing a <i class="wikiEmphasis">package descriptor</i>:
</p>

<pre class="wikiPreformatted brush:ceylon">Package package { 
    name = 'org.hibernate.query'; 
    shared = true; 
    doc = "The typesafe query API."; 
}</pre>


<p class="wikiPara">
(Alert readers will notice that this is just a snippet of Ceylon code, using the <q>declarative</q> object builder syntax.)
</p>

<p class="wikiPara">
A shared package defines part of the <q>public</q> API of the module. Other modules can directly access <tt>shared</tt> declarations in a shared package.
</p>

<h3 class="wikiHeadline3" id="H-ModuleDescriptors"><a href="/2011/07/21/ModulesInCeylon#H-ModuleDescriptors">Module descriptors</a></h3>

<p class="wikiPara">
A module must explicitly specify the other modules on which it depends. This is accomplished via a <i class="wikiEmphasis">module descriptor</i>:
</p>

<pre class="wikiPreformatted brush:ceylon">Module module { 
    name = 'org.hibernate'; 
    version = '3.0.0.beta'; 
    doc = "The best-ever ORM solution!"; 
    license = 'http://www.gnu.org/licenses/lgpl.html'; 
    Import {
        name = 'ceylon.language'; 
        version = '1.0.1'; 
        export = true;
    }, 
    Import {
        name = 'java.sql'; 
        version = '4.0';
    }
}</pre>


<p class="wikiPara">
A module may be <i class="wikiEmphasis">runnable</i>. A runnable module must specify a <tt>run()</tt> method in the module descriptor:
</p>

<pre class="wikiPreformatted brush:ceylon">Module module { 
    name = 'org.hibernate.test'; 
    version = '3.0.0.beta'; 
    doc = "The test suite for Hibernate";
    license = 'http://www.gnu.org/licenses/lgpl.html'; 
    void run() {
        TestSuite().run();
    } 
    Import {
        name = 'org.hibernate'; version = '3.0.0.beta';
    }
}</pre>


<h3 class="wikiHeadline3" id="H-ModuleArchivesAndModuleRepositories"><a href="/2011/07/21/ModulesInCeylon#H-ModuleArchivesAndModuleRepositories">Module archives and module repositories</a></h3>

<p class="wikiPara">
A module archive packages together compiled <tt>.class</tt> files, package descriptors, and module descriptors into a Java-style <tt>jar</tt> archive with the extension <tt>car</tt>. The Ceylon compiler doesn't usually produce individual <tt>.class</tt> files in a directory. Instead, it directly produces module archives.
</p>

<p class="wikiPara">
Module archives live in <i class="wikiEmphasis">module repositories</i>. A module repository is a well-defined directory structure with a well-defined location for each module. A module repository may be either <i class="wikiEmphasis">local</i> (on the filesystem) or <i class="wikiEmphasis">remote</i> (on the Internet). Given a list of module repositories, the Ceylon compiler can automatically locate dependencies mentioned in the module descriptor of the module it is compiling. And when it finishes compiling the module, it puts the resulting module archive in the right place in a local module repository.
</p>

<p class="wikiPara">
(The architecture also includes support for source directories, source archives, and module documentation directories, but I'm not going to cover all that today.)
</p>

<h3 class="wikiHeadline3" id="H-ModuleRuntime"><a href="/2011/07/21/ModulesInCeylon#H-ModuleRuntime">Module runtime</a></h3>

<p class="wikiPara">
Ceylon's module runtime is based on <a href="/Bloggers/ModularizedJavaWithJBossModules" target="" class="regularLink">JBoss Modules</a>, a technology that also exists at the very core of JBoss 7. Given a list of module repositories, the runtime automatically locates a module archive and its versioned dependencies in the repositories, even downloading module archives from remote repositories if necessary.
</p>

<p class="wikiPara">
Normally, the Ceylon runtime is invoked by specifying the name of a runnable module at the command line.
</p>

<h3 class="wikiHeadline3" id="H-ModuleRepositoryEcosystem"><a href="/2011/07/21/ModulesInCeylon#H-ModuleRepositoryEcosystem">Module repository ecosystem</a></h3>

<p class="wikiPara">
One of the nice advantages of this architecture is that it's possible to run a module <q>straight off the internet</q>, just by typing, for example:
</p>

<pre class="wikiPreformatted">ceylon org.jboss.ceylon.demo -rep http://jboss.org/ceylon/modules</pre>


<p class="wikiPara">
And all required dependencies get automatically downloaded as needed.
</p>

<p class="wikiPara">
Red Hat will maintain a central public module repository where the community can contribute reusable modules. Of course, the module repository format will be an open standard, so any organization can maintain its own public module repository.
</p>
</div>
