---
title: "Ceylon + JavaFX"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "29-05-2011"
original_tags: []
tags: [Ceylon]

relative_url: /2011/05/29/ceylon-java-fx
slug: ceylon-java-fx
lace: http://in.relation.to/20539.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/05/29/ceylon-java-fx
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I can't wait to try my hand at creating a Ceylon wrapper for <a href="http://weblogs.java.net/blog/opinali/archive/2011/05/28/javafx-20-beta-first-impressions" target="" class="regularLink">JavaFX 2</a>. The Ceylon language was <a href="http://in.relation.to/Bloggers/IntroductionToCeylonPart9" target="" class="regularLink">designed with this kind of problem in mind</a>. And JavaFX was originally designed for <a href="http://code.google.com/p/visage/" target="" class="regularLink">a language with some of the same ideas in it as Ceylon</a>. Damn, better get back to work on that damn compiler I keep promising...
</p>

<p class="wikiPara">
UPDATE: Hrm, sadly there's currently no Mac support :-(</p>
</div>

