---
title: "Ceylon presentation video"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: [Ceylon]
slug: CeylonPresentationVideo
lace: http://in.relation.to/19554.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/CeylonPresentationVideo">Ceylon presentation video</a>
                    </h1>
</div>
<p class="wikiPara">
InfoQ posted a <a href="http://www.infoq.com/presentations/ceylon" target="" class="regularLink">video</a> of my presentation in China. This being the first time I had <i class="wikiEmphasis">ever</i> tried to talk about the language in front of other people, I'm quite disfluent, and even say some stuff that isn't even correct. I certainly don't do a great job of explaining some things. Well, I'm sure that with all the conference invitations that have suddenly started filling up my inbox, I'll be getting plenty of practice. :-/</p>
</div>
