---
title: "Ceylon presentation video"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "28-04-2011"
tags: [Ceylon]

relative_url: /2011/04/28/CeylonPresentationVideo
slug: CeylonPresentationVideo
lace: http://in.relation.to/19554.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/04/28/CeylonPresentationVideo
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
InfoQ posted a <a href="http://www.infoq.com/presentations/ceylon" target="" class="regularLink">video</a> of my presentation in China. This being the first time I had <i class="wikiEmphasis">ever</i> tried to talk about the language in front of other people, I'm quite disfluent, and even say some stuff that isn't even correct. I certainly don't do a great job of explaining some things. Well, I'm sure that with all the conference invitations that have suddenly started filling up my inbox, I'll be getting plenty of practice. :-/</p>
</div>

