---
title: "CDISource"
author: "Gavin King"
creation_date: "29-03-2011"
blogger_name: "Gavin"
layout: blog-post
tags: [Contexts and Dependency Injection]
slug: CDISource
lace: http://in.relation.to/18894.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Andy Gibson and Rick Hightower have <a href="http://www.andygibson.net/blog/article/announcing-cdisource/" target="" class="regularLink">announced</a> the <a href="https://sites.google.com/site/cdipojo/get-started" target="" class="regularLink">CDISource project</a>.</p>
</div>
