---
title: "Talk at QCon Beijing"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: TalkAtQConBeijing
lace: http://in.relation.to/18896.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/TalkAtQConBeijing">Talk at QCon Beijing</a>
                    </h1>
</div>
<p class="wikiPara">
I'll be at <a href="http://www.qconbeijing.com/" target="" class="regularLink">QCon Beijing</a>, talking about some stuff I've been working on. Wow, this is like my first conference talk for a very long time. A year and a half, I think...</p>
</div>
