---
title: "Raw types != type erasure"
author: "Gavin King"
creation_date: "02-08-2011"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: RawTypesTypeErasure
lace: http://in.relation.to/21426.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
In connection with <a href="/Bloggers/ThreeArgumentsForReifiedGenerics" target="" class="regularLink">this discussion</a> it's worth making explicit what I guess everybody knows, but that sometimes seems to get a bit mixed up in conversation: that Java's support for raw types (necessary for backward compatibility with pre-generics code) doesn't really have anything much to do with type argument erasure. In a hypothetical language:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> you could have raw types without type argument erasure, or</li>
<li class="wikiUnorderedListItem"> you could have type argument erasure without raw types.</li>
</ul>

<p class="wikiPara">
Raw types have their own problems, of course (they're a designed-in hole in the type system). But a defense of the existence of raw types does <i class="wikiEmphasis">not</i> amount to a defense of partially reified types.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'RawTypesTypeErasure';
    var disqus_title = 'Raw types != type erasure';
    var disqus_url = 'http://in.relation.to/21426.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
