---
title: "Ceylon M1 \"Newton\" released"
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: [Ceylon]
slug: CeylonM1NewtonReleased
lace: http://in.relation.to/22650.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/CeylonM1NewtonReleased">Ceylon M1 "Newton" released</a>
                    </h1>
</div>
<p class="wikiPara">
The first release of the <a href="http://ceylon-lang.org" target="" class="regularLink">Ceylon</a> command line tools is finally available!
</p>

<p class="wikiPara">
Quoting from the <a href="http://ceylon-lang.org/blog/2011/12/20/ceylon-m1-newton/?utm_source=news&amp;utm_medium=web&amp;utm_content=newslink&amp;utm_campaign=1_0_M1release" target="" class="regularLink">release announcement</a>:
</p>

<blockquote>

<p>Today, we're proud to announce the release of Ceylon M1 "Newton". This is the first official release of the Ceylon command line compiler, documentation compiler, language module, and runtime, and a major step down the roadmap toward Ceylon 1.0. ...</p>

<p>In terms of the language itself, M1 has essentially all the features of Java except enumerated types, user-defined annotations, and reflection. It even incorporates a number of improvements over Java ...</p>

<p>The toolset and runtime for Ceylon is based around <tt>.car</tt> module archives and module repositories. The runtime supports a modular, peer-to-peer class loading architecture, with full support for module versioning and multiple repositories.</p>

</blockquote>

<p class="wikiPara">
You can <a href="http://ceylon-lang.org/download?utm_source=blog&amp;utm_medium=web&amp;utm_content=download&amp;utm_campaign=1_0_M1release" target="" class="regularLink">download it right here</a>.
</p>

<p class="wikiPara">
An official M1 release of the <a href="http://ceylon-lang.org/documentation/ide" target="" class="regularLink">Ceylon IDE</a> is on its way.
</p>

<p class="wikiPara">
You can read more about the Ceylon programming language in the <a href="http://ceylon-lang.org/documentation/introduction" target="" class="regularLink">Quick Introduction</a>.
</p>

<p class="wikiPara">
Huge thanks to everyone who worked so hard to make this release happen.</p>
</div>
