---
title: "This is just nuts..."
author: "Gavin King"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: ThisIsJustNuts
lace: http://in.relation.to/18219.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/ThisIsJustNuts">This is just nuts...</a>
                    </h1>
</div>
<p class="wikiPara">
<a href="http://www.exploringbinary.com/java-hangs-when-converting-2-2250738585072012e-308/" target="" class="regularLink">Speechless.</a>
</p>
</div>
