---
title: "The dangers of extrapolation"
author: "Gavin King"
creation_date: "10-06-2011"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: TheDangersOfExtrapolation
lace: http://in.relation.to/20734.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
One of the things most people are taught early in their scientific education is that extrapolation is unreliable. And yet it's always seemed to me that the tendency of the Human mind to extrapolate current trends to the unknown future is so reflexive that we barely notice ourselves or others doing it. A huge percentage of popular debate in many fields (politics, economics, culture, science) falls prey to this fallacy. The fallacy is especially visible right now in the totally debased discussion of the causes and effects of climate change. Few of the loud voices on either side of this discussion, no matter how many times they mention the word <q>science</q> are actually doing anything remotely approaching a critical, sceptical, <a href="http://en.wikipedia.org/wiki/Karl_Popper" target="" class="regularLink">Popperian scientific method</a>. It's the victory of <a href="http://en.wikipedia.org/wiki/Thomas_Samuel_Kuhn" target="" class="regularLink">Kuhn's description of science</a>, but vulgarized to the level of cable news, and then repurposed for political ends. There's barely a word written on this topic that isn't dripping with <a href="http://en.wikipedia.org/wiki/Confirmation_bias" target="" class="regularLink">confirmation bias</a>. A plague on both your houses.
</p>

<p class="wikiPara">
You would think that <a href="http://clivebest.com/blog/?p=2208" target="" class="regularLink">this</a> should be sufficiently embarrassing to the <q>since is settled</q> camp to give them at least pause for reflection. (But I doubt it.) Science is never settled. Falsification is always out there, in objective reality, waiting to eat your cherished theory and spit it out.
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'TheDangersOfExtrapolation';
    var disqus_title = 'The dangers of extrapolation';
    var disqus_url = 'http://in.relation.to/20734.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
