---
title: "CDISource"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "29-03-2011"
original_tags: [Contexts and Dependency Injection]
tags: [CDI]

relative_url: /2011/03/29/cdi-source
slug: cdi-source
lace: http://in.relation.to/18894.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/03/29/cdi-source
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Andy Gibson and Rick Hightower have <a href="http://www.andygibson.net/blog/article/announcing-cdisource/" target="" class="regularLink">announced</a> the <a href="https://sites.google.com/site/cdipojo/get-started" target="" class="regularLink">CDISource project</a>.</p>
</div>

