---
title: "Everything that's wrong with the post-Java-language debate in one easy blog post"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "12-08-2011"
tags: [Payasos]

relative_url: /2011/08/12/EverythingThatsWrongWithThePostJavalanguageDebateInOneEasyBlogPost
slug: EverythingThatsWrongWithThePostJavalanguageDebateInOneEasyBlogPost
lace: http://in.relation.to/21537.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/08/12/EverythingThatsWrongWithThePostJavalanguageDebateInOneEasyBlogPost
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="http://ochsenreither.posterous.com/scala-kotlin-ceylon-lets-start-by-being-hones" target="" class="regularLink">This</a> is a gorgeous, perfect example of  precisely how <i class="wikiEmphasis">not</i> to engage in debate over technical issues. I won't respond point-by-point, because the post is mainly self-refuting, but it does amuse me to highlight the following:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Vague accusations of dishonesty in the title, which are never actually supported in the post itself.</li>
<li class="wikiUnorderedListItem"> The claim that projects which were announced to the community approximately three months ago are <q>vaporware</q>. (That's the fastest progression from announcement to vapor in history!)</li>
<li class="wikiUnorderedListItem"> The absurd accusation that people working an alternatives to Java have a secret ulterior motive to actually reinforce the status quo. Yes, seriously.</li>
<li class="wikiUnorderedListItem"> Further unsupported accusations of <q>intellectual dishonestly</q>, though it's not precisely clear on whose part.</li>
<li class="wikiUnorderedListItem"> Misattribution / invention of staw man arguments. (To the best of my knowledge none of the teams advocating alternative JVM languages have <i class="wikiEmphasis">ever</i> claimed that Scala is <q>too academic</q> or <q>too functional</q> or <q>not functional enough</q>.)</li>
<li class="wikiUnorderedListItem"> Insults directed at the entire Java programmer community.</li>
<li class="wikiUnorderedListItem"> No actual substantive technical arguments for or against any particular language.</li>
</ul>

<p class="wikiPara">
The most ironic thing about this amazingly incivil flamebait post, is that after throwing around accusations of dishonestly and secret agendas, the poster (can't be bothered checking his name) writes:
</p>

<blockquote class="wikiBlockquote">
If you plan to comment, keep in mind that your comment should be constructive and civilized.
</blockquote>

<p class="wikiPara">
Wow. I guess he at least deserves credit for <i class="wikiEmphasis">chutzpah</i>. :-)
</p>

<p class="wikiPara">
(I'm closing comments since I can't be bothered responding to the inevitable trolls.)
</p>

<p class="wikiPara">
P.S. Accusations of dishonesty, or of <q>misinformation</q> (which, in case English is your second language, means <q>deliberate lying</q>) have been a recurring theme lately. You guys need to put that one to rest. It's not reasonable to call someone a liar because you disagree with them.
</p>
</div>
