---
title: "Ceylon on InfoQ"
author: "Gavin King"
creation_date: "13-04-2011"
blogger_name: "Gavin"
layout: blog-post
tags: []
slug: CeylonOnInfoQ
lace: http://in.relation.to/19199.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Alex Blewitt of InfoQ has published <a href="http://www.infoq.com/news/2011/04/ceylon" target="" class="regularLink">my answers to his questions about Ceylon</a>.</p>
</div>
