---
title: "Ceylon M2 \"Minitel\" released"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "20-03-2012"
tags: [Ceylon]

relative_url: /2012/03/20/ceylon-m-2-minitel-released
slug: ceylon-m-2-minitel-released
lace: http://in.relation.to/23020.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/03/20/ceylon-m-2-minitel-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
This is the second release of the Ceylon compiler and other command line tools.
</p>

<p class="wikiPara">
You can read Stef's announcement here at the <a href="http://ceylon-lang.org/blog/2012/03/20/ceylon-m2-minitel/?utm_source=news&amp;utm_medium=web&amp;utm_content=newslink&amp;utm_campaign=1_0_M2release" target="" class="regularLink">Ceylon blog</a>. The major new features are:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Java interoperability</li>
<li class="wikiUnorderedListItem"> enumerated/algebraic types and <tt>switch/case</tt>
</li>
<li class="wikiUnorderedListItem"> first-class and higher-order functions</li>
<li class="wikiUnorderedListItem"> support for remote module repositories and Maven repositories</li>
</ul>

<p class="wikiPara">
<a href="http://ceylon-lang.org/download/" target="" class="regularLink">Try it out!</a>
</p>

<p class="wikiPara">
A huge thanks to the Ceylon team for getting this release done on schedule while I've been taking a break from development! Thanks so much!
</p>

</div>

