---
title: "Ceylon IDE M1 release"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "10-01-2012"
tags: [Ceylon,Ceylon IDE]

absolute_url: http://in.relation.to/2012/01/10/CeylonIDEM1Release
lace: http://in.relation.to/22726.lace
slug: CeylonIDEM1Release

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The first official public release of the <a href="http://ceylon-lang.org/documentation/ide" target="" class="regularLink">Ceylon IDE</a> is out! You can read David's announcement <a href="http://ceylon-lang.org/blog/2012/01/10/ceylon-ide-m1-newton/" target="" class="regularLink">here</a>. 
</p>

<img src="http://ceylon-lang.org/images/screenshots/teaser.png" alt="Teaser image">

<p class="wikiPara">
This is a full-featured development environment for Ceylon, with I guess everything you use regularly in your Java IDE, including interactive error reporting, incremental build, syntax highlighting, proposals, quick fixes, refactoring, searching, wizards, hover help, debugging, and much more. It even has a major feature that your Java IDE doesn't have: deep integration with Ceylon's module and module repository architecture. (No more futzing with the project build path!)
</p>

<p class="wikiPara">
Check out the <a href="http://ceylon-lang.org/documentation/ide/" target="" class="regularLink">feature list</a>, and some <a href="http://ceylon-lang.org/documentation/ide/screenshots/" target="" class="regularLink">screenshots</a>. Then <a href="http://ceylon-lang.org/documentation/ide/install/" target="" class="regularLink">try it out from our update site</a>.
</p>

<img src="http://ceylon-lang.org/images/screenshots/intro.png">

<p class="wikiPara">
I'll have more to say about how we were able to engineer an entire professional IDE for a new language in less than 6 months with two part-time developers in a future post.
</p>

<p class="wikiPara">
Once again: thanks to David Festal for all his hard work, and to <a href="http://www.serli.com/" target="" class="regularLink">SERLI</a> for their support.</p>
</div>
