---
title: "Ceylon M4 released"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "30-10-2012"
tags: [Ceylon,News]

relative_url: /2012/10/30/ceylon-m-4-released
slug: ceylon-m-4-released
lace: http://in.relation.to/23623.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/10/30/ceylon-m-4-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
In case you missed it, we just released the <a href="http://ceylon-lang.org/blog/2012/10/29/ceylon-m4-analytical-engine/" target="" class="regularLink">fourth milestone of Ceylon and Ceylon IDE</a>. The next release will be the feature-complete Ceylon 1.0 beta, now due in January. We've also pushed a major update to <a href="http://modules.ceylon-lang.org/" target="" class="regularLink">Ceylon Herd</a>.
</p>

<p class="wikiPara">
This is the first release of Ceylon IDE to include complete support for compilation to JavaScript and execution on Node.js.(Since M3, the Ceylon compiler has offered the option of compiling a Ceylon module to a <a href="http://www.commonjs.org/" target="" class="regularLink">CommonJS</a> module) I personally <i class="wikiEmphasis">love</i> being able to write a snatch of Ceylon code and then watch it execute on both the JVM and Node, all from directly within Eclipse.
</p>

<p class="wikiPara">
Another cool new features of the language is the <tt>assert</tt> statement. If <q>assertions</q> doesn't sound that cool or new to you, then I bet you have not yet seen Ceylon's unique spin on the concept. You can <a href="http://ceylon-lang.org/blog/2012/10/30/assertions/" target="" class="regularLink">read more about it at the Ceylon blog</a>.
</p>

<p class="wikiPara">
(P.S. I'm now mostly blogging over at the Ceylon site, and on <a href="https://profiles.google.com/gavin.king" target="" class="regularLink">Google plus</a>, but I'll still post items here from time to time.)</p>
</div>

