---
title: "Free Ceylon conference in Paris"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "12-12-2013"
original_tags: [Ceylon]
tags: [Ceylon]

relative_url: /2013/12/12/free-ceylon-conference-in-paris
slug: free-ceylon-conference-in-paris
lace: http://in.relation.to/24642.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/12/12/free-ceylon-conference-in-paris
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
To celebrate the recent release of <a href="http://ceylon-lang.org" target="" class="regularLink">Ceylon 1.0</a>, we're putting on a one-day <i class="wikiEmphasis">free conference</i> in Paris on Friday, January 24.
</p>

<div style="text-align:center"><img src="http://ceylon-lang.org/images/ceylon-tour-paris-2014.png"></div>

<p class="wikiPara">
The format of the conference is:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> a morning of short presentations about different bits of the Ceylon ecosystem, followed by</li>
<li class="wikiUnorderedListItem"> a hands-on Ceylon programming workshop in the afternoon.</li>
</ul>

<p class="wikiPara">
Almost the whole Ceylon team will be present, since we're having a four-day team meeting prior to the conference day. So if you have any questions about Ceylon, or if you want to bend our ears on some pet topic, this is your chance.
</p>

<p class="wikiPara">
You can see the conference program, and sign up for the conference <a href="http://ceylon-lang.org/community/conferences/ceylon-tour-paris-2014/" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
P.S. If you're coming to the conference, or even if you're not, please feel very welcome to join the team for drinks on Thursday night.</p>
</div>

