---
title: "Ceylon 1.0 beta now available!"
author: "Gavin King"
blogger_name: "Gavin"
creation_date: "25-09-2013"
original_tags: [Ceylon]
tags: [Ceylon]

relative_url: /2013/09/25/ceylon-10-beta-now-available
slug: ceylon-10-beta-now-available
lace: http://in.relation.to/24387.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/09/25/ceylon-10-beta-now-available
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
It's been a long three years since my first posts on this site describing our ideas for the Ceylon language. Now, finally, Ceylon 1.0 is feature complete. From the <a href="http://ceylon-lang.org/blog/2013/09/22/ceylon-1/" target="" class="regularLink">announcement</a> on <a href="http://ceylon-lang.org" target="" class="regularLink">ceylon-lang.org</a>:
</p>

<blockquote class="wikiBlockquote">

After more than three years of development, Ceylon is now feature-complete. Ceylon 1.0 beta implements the whole language specification, providing the capability to execute Ceylon programs on both Java and JavaScript virtual machines and to interoperate with native code written for those platforms. This release includes:

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> a complete <a href="http://ceylon-lang.org/documentation/1.0/spec" target="" class="regularLink">formal language specification</a> that defines the syntax and semantics of Ceylon in language accessible to the professional developer,</li>
<li class="wikiUnorderedListItem"> a <a href="http://ceylon-lang.org/documentation/1.0/reference/tool/ceylon/subcommands/index.html" target="" class="regularLink">command line toolset</a> including compilers for Java and JavaScript, a documentation compiler, and support for executing modular programs on the JVM and Node.js,</li>
<li class="wikiUnorderedListItem"> a powerful module architecture for code organization, dependency management, and module isolation at runtime, and</li>
<li class="wikiUnorderedListItem"> the <a href="http://modules.ceylon-lang.org/modules/ceylon.language" target="" class="regularLink">language module</a>, our minimal, cross-platform foundation of the <a href="https://modules.ceylon-lang.org/categories/SDK" target="" class="regularLink">Ceylon SDK</a>.</li>
</ul>

Simultaneously, we're releasing Ceylon IDE 1.0 beta, the latest iteration of our <a href="http://ceylon-lang.org/documentation/1.0/ide/features" target="" class="regularLink">full-featured</a> Eclipse-based development environment.

</blockquote>

<p class="wikiPara">
The team has now switched into bug-fix/performance-enhancement mode, as we prepare for a final release.
</p>

<p class="wikiPara">
Yeah, yeah, three years is a long time, and it's taken longer than I had hoped to get to a 1.0 release. OTOH, we're releasing a lot <u>more</u> than I had expected to have for 1.0. I never imagined that we would have stuff like <a href="http://modules.ceylon-lang.org" target="" class="regularLink">Ceylon Herd</a> and the IDE ready for Ceylon 1.0.
</p>

<p class="wikiPara">
We have a great little community working on Ceylon development, and I would like to welcome you guys to join us over there, now that we're ready for people to really start making use of Ceylon in their projects!
</p>
</div>

