---
title: "Want some help understanding the finer points of Seam's conversational model?"
author: "Pete Muir"
creation_date: "14-12-2007"
blogger_name: "Pete"
layout: blog-post
tags: [Seam]
slug: WantSomeHelpUnderstandingTheFinerPointsOfSeamsConversationalModel
lace: http://in.relation.to/3291.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Well, help is on hand. Jacob Orshalick wrote an excellent article on <a href="http://developer.redhatmagazine.com/2007/10/31/continuing-the-conversation-understanding-seam-nested-conversations/" target="" class="regularLink">nested conversations</a> which he seems to be making into bit of series with this latest <a href="http://solutionsfit.com/blog/2007/12/13/explaining-the-conversation-timeout-setting-through-example/" target="" class="regularLink">blog posting on conversation timeouts</a>.
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
