---
title: "Integration Testing Seam Mail"
author: "Pete Muir"
creation_date: "10-10-2007"
blogger_name: "Pete"
layout: blog-post
tags: []
slug: IntegrationTestingSeamMail
lace: http://in.relation.to/2578.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Here's a quick overview of a feature I've been wanting to add to Seam for ages.  It's really easy to use - just create a standard <tt>SeamTest</tt> and inside the <tt>invokeApplication()</tt> call <tt>getRenderedMailMessage(viewIdOfMailMessageToRender)</tt>.  You can then make assertion's against the returned <tt>MimeMessage</tt>.
</p>

<pre class="wikiPreformatted">public class MailTest extends SeamTest {
    
   @Test
   public void testSimpleMessage() throws Exception {
        
      new FacesRequest() {

         @Override
         protected void invokeApplication() throws Exception {
            MimeMessage renderedMessage = getRenderedMailMessage("/simple.xhtml");
            assert renderedMessage.getAllRecipients().length == 1;
            InternetAddress to = (InternetAddress) renderedMessage.getAllRecipients()[0];
            assert to.getAddress().equals("test@example.com");
         }
            
      }.run();       
   }
}</pre>


<p class="wikiPara">
This is still a feature under development so if you try it out and can't get it working, post on the <a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=231" target="" class="regularLink">forum</a></p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'IntegrationTestingSeamMail';
    var disqus_title = 'Integration Testing Seam Mail';
    var disqus_url = 'http://in.relation.to/2578.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
