---
title: "Want to use Seam with Maven?"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "14-10-2007"
tags: [Maven,Seam]

relative_url: /2007/10/14/want-to-use-seam-with-maven
slug: want-to-use-seam-with-maven
lace: http://in.relation.to/2589.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/10/14/want-to-use-seam-with-maven
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Since I <a href="/Bloggers/SeamPublishedToMaven" target="" class="regularLink">posted</a> that Seam was now available in Maven, both <a href="http://www.michaelyuan.com/blog/about/" target="" class="regularLink">Michael Yuan</a> and <a href="http://www.jroller.com/wesleyhales/" target="" class="regularLink">Wesley Hales</a> have blogged about creating a Seam project with Maven, including automagically setting up Tomcat with JBoss Embedded (cool, huh!) and deploying the project to it.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"><a href="http://www.michaelyuan.com/blog/2007/10/02/jboss-seam-project-setup-with-maven/" target="" class="regularLink">A sample Seam POJO-only project for JBoss AS or Tomcat</a></li>
<li class="wikiUnorderedListItem"><a href="http://www.michaelyuan.com/blog/2007/10/09/jboss-seam-project-setup-with-maven-%e2%80%94-part-2-ear-deployment/" target="" class="regularLink">A sample Seam EJB3 project for JBoss AS</a></li>
<li class="wikiUnorderedListItem"><a href="http://www.jroller.com/wesleyhales/entry/running_seam_2_0_on" target="" class="regularLink">A sample Seam EJB3 project for Tomcat with JBoss Embedded</a></li>
</ul>

<p class="wikiPara">
Enjoy!</p>
</div>

