---
title: "Seam on OpenJDK"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "19-11-2007"
original_tags: [OpenJDK,Seam]
tags: [Seam]

relative_url: /2007/11/19/seam-on-open-jdk
slug: seam-on-open-jdk
lace: http://in.relation.to/3073.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/11/19/seam-on-open-jdk
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I've just installed <a href="http://fedoraproject.org/" target="" class="regularLink">Fedora 8</a> on my ThinkPad X60, and as it comes with packages for <a href="http://icedtea.classpath.org/" target="" class="regularLink">Iced Tea</a> (Red Hat's version of <a href="http://openjdk.java.net/" target="" class="regularLink">OpenJDK</a>), I thought I would take the Seam  Booking Example out for a spin.
</p>

<p class="wikiPara">
Well, it was a very pleasant experience - I booted the <a href="http://fedoraproject.org/get-fedora" target="" class="regularLink">Fedora KDE LiveCD</a>, and ran the Fedora installer from the desktop which took about 20 minutes. Once I had rebooted, I used the package manager to the /Java Development/ set of packages (which gave me Iced Tea and ant). I then downloaded and unzipped <a href="http://labs.jboss.com/jbossas/downloads/" target="" class="regularLink">JBoss AS 4.2.2.GA</a> and <a href="http://labs.jboss.com/jbossseam/download/index.html" target="" class="regularLink">Seam 2.0.0.GA</a>, deployed the booking example, started JBoss AS, and booked myself a suite!
</p>

<p class="wikiPara">
I did notice that the application seemed more faster than normal, so I took a look at my favourite completely subjective performance measure -- how long it takes JBoss AS to start with just the booking example deployed -- and it seemed good at around 20s.
</p>

<p class="wikiPara">
This piqued my interest, so I did a highly unscientific test and installed the <a href="http://java.sun.com/javase/downloads/index_jdk5.jsp" target="" class="regularLink">Sun JDK 1.5.0_14</a> and the <a href="http://java.sun.com/javase/downloads/index.jsp" target="" class="regularLink">Sun JDK 1.6.0_03</a>, and (using Seam and the example compiled by JDK 1.5) took a look at how long the server takes to start. 
</p>

<p class="wikiPara">
I found that using JDK 5 to boot the server it took 32s, using JDK 6 it took 25s and using Iced Tea (JDK 7) 21s -- definitely going in the right directions! I then compiled Seam and the example using Iced Tea, and (running JBoss AS using Iced Tea) got a startup time around 19-20s. 
</p>

<p class="wikiPara">
Of course, this no match for a real performance test, but I found it interesting.</p>
</div>

