---
title: "Seam and SOA presentations at JBUG, Rotterdam"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "23-10-2007"
tags: []

relative_url: /2007/10/23/SeamAndSOAPresentationsAtJBUGRotterdam
slug: SeamAndSOAPresentationsAtJBUGRotterdam
lace: http://in.relation.to/2644.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/10/23/SeamAndSOAPresentationsAtJBUGRotterdam
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Peter Hilton and Nicolas Leroux will present their experience of implementing an application using Seam, and Bruno Georges will talk about Open Source SOA.
</p>

<h3 class="wikiHeadline3" id="H-SecondJBossBeneluxUserGroupMeeting"><a href="/2007/10/23/SeamAndSOAPresentationsAtJBUGRotterdam#H-SecondJBossBeneluxUserGroupMeeting">Second JBoss Benelux User Group Meeting</a></h3>

<blockquote>

The programme will begin with a presentation on Open Source SOA by Bruno Georges, Technical Development Manager, Enterprise Frameworks at JBoss. This will include an ESB Presentation and a demo based on jBPM for process flow orchestration.

In the second presentation, Peter Hilton and Nicolas Leroux, will describe Lunatech's practical experience with JBoss Seam. We will talk about strengths and limitations of JBoss Seam 1.2.1.

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">Date: Friday, 2nd November 2007</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">Time: Arrive 1700-1800, presentations start 1800, finish 2000-2100.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">Location: Lunatech Research, Heemraadssingel 70, 3021 DD Rotterdam, The Netherlands (<a href="http://www.lunatech-research.com/contact/" target="" class="regularLink">http://www.lunatech-research.com/contact/</a>)</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">Please reply by e-mail to <a href="mailto:nicolas(AT)lunatech.com" target="" class="regularLink">nicolas(AT)lunatech.com</a>
</li>
</ul>

</blockquote>
</div>
