---
title: "JSF2 or: How I learned to stop worrying and love components"
author: "Pete Muir"
creation_date: "26-08-2008"
blogger_name: "Pete"
layout: blog-post
tags: [Seam News]
slug: JSF2OrHowILearnedToStopWorryingAndLoveComponents
lace: http://in.relation.to/9337.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
It's been a <a href="http://pmuir.bleepbleep.org.uk/2007/03/thoughts-on-jsf-20-draft.html" target="" class="regularLink">while since I wrote about JSF</a>, but over the past few weeks I've been working hard on <a href="http://jcp.org/en/jsr/detail?id=314" target="" class="regularLink">JSF 2</a>, trying to bring some of the lessons we learnt in Seam back to the expert group. Invariably, this leads to an improvement of the idea, as we've all had to solve the same problems, often with slightly varying solutions.
</p>

<p class="wikiPara">
With so many issues up in the air for the expert group to consider, we at JBoss <a href="http://seamframework.org/Documentation/JSF2" target="" class="regularLink">created a wiki page</a> which we use to manage where our top objectives are going. The expert group has spent a lot of time working on everyone's top priorities of Ajax, Easy Component Creation, and standardizing Facelets. So, I've made it my mission to work on proposals for some of other objectives (like <a href="http://seamframework.org/Documentation/JSF2#H-ExceptionErrorHandlingP1" target="" class="regularLink">exception handling</a> and <a href="http://seamframework.org/Documentation/JSF2#H-ImprovedOrchestrationP1" target="" class="regularLink">navigation</a>). It's not quite finished, but I thought others might like to take a look and share their thoughts on our ideas. 
</p>

<p class="wikiPara">
Please comment on the wiki page itself :-)
</p>

<small><small>And now for the smallprint:
<small>Credit for the blog title goes to Dan Hinojosa ;-)</small></small></small>
</div>
