---
title: "Developing Portlets using JSF, Ajax, and Seam"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "06-08-2008"
tags: [JBoss Portlet Bridge,RichFaces,Seam,Seam News]

relative_url: /2008/08/06/DevelopingPortletsUsingJSFAjaxAndSeam
slug: DevelopingPortletsUsingJSFAjaxAndSeam
lace: http://in.relation.to/9264.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/08/06/DevelopingPortletsUsingJSFAjaxAndSeam
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="http://www.jroller.com/wesleyhales/" target="" class="regularLink">Wesley Hales</a>, <a href="http://www.jboss.org/portletbridge/" target="" class="regularLink">JBoss Portlet Bridge</a> lead, has posted <a href="http://www.infoq.com/articles/jsf-ajax-seam-portlets-pt-1" target="" class="regularLink">the first in a three part series of tutorials</a> on developing applications using <a href="http://www.seamframework.org" target="" class="regularLink">Seam</a>, <a href="http://richfaces.org" target="" class="regularLink">RichFaces</a> and the <a href="http://www.jboss.org/portletcontainer/" target="" class="regularLink">JBoss Portlet Container</a>.
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
