---
title: "Web Beans 1.0.0.ALPHA1 released!"
author: "Pete Muir"
creation_date: "22-12-2008"
blogger_name: "Pete"
layout: blog-post
tags: [Seam News,Web Beans]
slug: WebBeans100ALPHA1Released
lace: http://in.relation.to/10304.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm pleased to announce the release of the <a href="http://seamframework.org/WebBeans" target="" class="regularLink">Web Beans RI</a> 1.0.0.ALPHA1. This release implements the core of the JSR-299 Web Beans specification and represents a major milestone on the road towards the GA release. Some of the highlights of this release include simple and enterprise Web Beans, support for JBoss Application Server 5, typesafe injection, events and producer methods. There's an exhaustive list below.
</p>

<p class="wikiPara">
The release also includes three examples, a full EE example, with enterprise beans, a war example with simple beans and the login example from the reference docs. To learn more about Web Beans I suggest you <a href="http://docs.jboss.org/webbeans/reference/1.0.0.ALPHA1/en/html/" target="" class="regularLink">read the reference guide</a> or browse <a href="http://www.seamframework.org/WebBeans" target="" class="regularLink">seamframework.org</a>.
</p>

<p class="wikiPara">
This release wouldn't have been possible without the sterling work of a number of people. In alphabetical order, thanks go to: David Allen (events and much more), Nik Karlsson (enterprise beans, contexts and much more), Ales Justin (JBoss Microcontainer integration) Gavin King (oversight, documentation) and Andrew Lee Rubinger (JBoss EJB3 integration).
</p>

<p class="wikiPara">
In detail, this release provides support for:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> support for simple Web Beans</li>
<li class="wikiUnorderedListItem"> support for enterprise Web Beans and enterprise bean remove methods</li>
<li class="wikiUnorderedListItem"> typesafe and name based resolution</li>
<li class="wikiUnorderedListItem"> producer methods</li>
<li class="wikiUnorderedListItem"> producer fields</li>
<li class="wikiUnorderedListItem"> the dependent context</li>
<li class="wikiUnorderedListItem"> support for JBoss 5</li>
<li class="wikiUnorderedListItem"> the servlet contexts: application, session and request</li>
<li class="wikiUnorderedListItem"> Field and constructor injection</li>
<li class="wikiUnorderedListItem"> @Initializer methods</li>
<li class="wikiUnorderedListItem"> Event support (firing and observing events)</li>
<li class="wikiUnorderedListItem"> definition of observer methods through annotations</li>
<li class="wikiUnorderedListItem"> injection of event producers</li>
<li class="wikiUnorderedListItem"> conditional events</li>
<li class="wikiUnorderedListItem"> stereotypes</li>
<li class="wikiUnorderedListItem"> Support for lifecycle callbacks (@PostConstruct and @PostDestroy)</li>
<li class="wikiUnorderedListItem"> an SPI to integrate with other containers</li>
</ul>

<p class="wikiPara">
There is also a preview of support for:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> the login example from chapter 2 of the reference guide</li>
<li class="wikiUnorderedListItem"> transactional observers</li>
<li class="wikiUnorderedListItem"> dynamic lookup through @Obtains</li>
<li class="wikiUnorderedListItem"> specialization</li>
</ul>

<p class="wikiPara">
We'll be moving fast over the next few weeks to deliver ALPHA2, and then BETA1 (which will be feature complete). Watch this space!
</p>

<p class="wikiPara">
[<a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=303713&amp;release_id=648966" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/webbeans/reference/1.0.0.ALPHA1/en/html/" target="" class="regularLink">Reference Documentation</a>]  [<a href="http://jira.jboss.com/jira/browse/WBRI" target="" class="regularLink">JIRA</a>] [<a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?projectId=12310650&amp;styleName=Html&amp;version=12312496" target="" class="regularLink">Release Notes</a>] </p>
</div>
