---
title: "JavaBlend 2008"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "13-10-2008"
tags: []

absolute_url: http://in.relation.to/2008/10/13/JavaBlend2008
lace: http://in.relation.to/9552.lace
slug: JavaBlend2008

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I just got back from <a href="http://www.javablend.net/en/" target="" class="regularLink">JavaBlend 2008</a>, the first Java conference in Slovenia, where I was speaking about Seam. I gave an overview of Seam, and discussed how atomic conversations can help you develop apps. I also demonstrated JBDS to the crowd, to show how easy it is get started with Seam.
</p>

<img src="http://farm4.static.flickr.com/3175/2929374098_98623127ae.jpg?v=0" align="right" style="padding: 15px; padding-left: 30px;"><p class="wikiPara">
 <img src="http://farm4.static.flickr.com/3019/2928513617_016116b428.jpg?v=0" align="right" style="padding: 15px; padding-left: 30px;">
</p>

<p class="wikiPara">
All the talks were excellent, and the topics well chosen. I particulary enjoyed Marko's presentation on some ideas about where Java is going (closures, improvements to generics). Boštjan gave a lively talk about the JDBC centric vs. object centric approaches for accessing databases. We also heard from Dominik about Google's scalable MapReduce algorithm, followed by Žiga giving us the wisdom of his J2ME development experiences.
</p>

<p class="wikiPara">
After a superb lunch, Mladen talked about JBoss Native (JBoss' native code layer which massively improves performance) and the problems involved in writing cross-platform native libraries, followed by Domen who introduced projects and the techniques they use to allow you to build a domain specifc search engines, finally, Wieslaw introduced the audience to SOA.
</p>

<p class="wikiPara">
The event has held in the beautiful Ljubliana Castle - what an amazing venue for a conference!
</p>

<p class="wikiPara">
Thanks to the entire organizing team from <a href="http://www.parsek.si/onas.html" target="" class="regularLink">Parsek</a> and <a href="http://www.housing.si/" target="" class="regularLink">Housing</a> for organizing the conference, and especially Tomaž, Marko and <a href="https://www.jboss.org/jbossmc/" target="" class="regularLink">Aleš</a> for showing me around the beautiful country of Slovenia.
</p>

<p class="wikiPara">
And, if you want to refresh yourself, <a href="/Bloggers/JavaBlend2008#attachment1" target="" class="regularLink">here[1]</a>
</p>

<img src="http://farm4.static.flickr.com/3157/2929375736_a2439f2c4e.jpg?v=0">
</div>
