---
title: "Seam 2.1 Podcast on JSF Central"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "30-10-2008"
tags: [Seam,Seam News,Web Beans]

relative_url: /2008/10/30/Seam21PodcastOnJSFCentral
slug: Seam21PodcastOnJSFCentral
lace: http://in.relation.to/9714.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/10/30/Seam21PodcastOnJSFCentral
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Kito Mann, editor of <a href="http://www.jsfcentral.com/" target="" class="regularLink">JSF Central</a>, recorded a podcast with me a couple of weeks back. We deleved deep into the features of <a href="/Bloggers/Seam210GAReleased" target="" class="regularLink">Seam 2.1</a>, but also talked about the Public Review Draft of Web Beans (keep an eye on <a href="http://in.relation.to/Bloggers/Gavin" target="" class="regularLink">Gavin's blog</a> for updates) and <a href="https://javaserverfaces-spec-public.dev.java.net/" target="" class="regularLink">JSF2</a>.
</p>

<p class="wikiPara">
<a href="http://www.jsfcentral.com/articles/muir-10-08.html" target="" class="regularLink">Check it out!</a></p>
</div>
