---
title: "Seam Podcast up on DZone"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "05-08-2008"
tags: [JBoss Tools,Seam,Seam News,Web Beans]

relative_url: /2008/08/05/SeamPodcastUpOnDZone
slug: SeamPodcastUpOnDZone
lace: http://in.relation.to/9249.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/08/05/SeamPodcastUpOnDZone
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
DZone <a href="http://java.dzone.com/articles/whats-new-seam-21-an-interview?mz=3006-jboss" target="" class="regularLink">just posted</a> an interview with me about Seam.
</p>

<p class="wikiPara">
We spoke for a few minutes about Seam, and some of the features of Seam 2. Then we moved on to talk about the upcoming Seam 2.1, how it will support other view layers, and where JSF is going. Finally we spent a few minutes talking about Web Beans, and what it will mean for Seam users.
</p>

<p class="wikiPara">
The site has both a transcript, and the audio.</p>
</div>
