---
title: "Please stand clear of the closing doors, this train is ready to depart - Seam 2.1.0.BETA1 released!"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "27-08-2008"
original_tags: [Seam,Seam News]
tags: [Seam]

relative_url: /2008/08/27/please-stand-clear-of-the-closing-doors-this-train-is-ready-to-depart-seam-210-beta-1-released
slug: please-stand-clear-of-the-closing-doors-this-train-is-ready-to-depart-seam-210-beta-1-released
lace: http://in.relation.to/9343.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/08/27/please-stand-clear-of-the-closing-doors-this-train-is-ready-to-depart-seam-210-beta-1-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm pleased to announce the release of Seam 2.1.0.BETA1.
</p>

<p class="wikiPara">
[<a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=622172" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/seam/2.1.0.BETA1/reference/en-US/html/" target="" class="regularLink">Reference Documentation</a>] [<a href="http://seamframework.org/Community/SeamUsers" target="" class="regularLink">Forums</a>] [<a href="https://jira.jboss.org/jira/browse/JBSEAM" target="" class="regularLink">JIRA</a>] [<a href="https://jira.jboss.org/jira/issues/?jql=project=10071%20AND%20fixVersion=12312004" target="" class="regularLink">Release Notes</a>]
</p>

<p class="wikiPara">
This is an exciting day for us, as we get to show off what we've been working on for the last 6 months, since the dust settled around the Seam 2.0 release. So, what should you look for?
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/seam/2.1.0.BETA1/reference/en-US/html/wicket.html" target="" class="regularLink">First class support for Wicket</a> - check out the all new Wicket example. I'll be posting a tutorial on using Wicket with Seam in the next week or two</li>
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/seam/2.1.0.BETA1/reference/en-US/html/security.html#d0e8169" target="" class="regularLink">Identity management</a> - built in, flexible, support for managing users in a database (via JPA) or LDAP (or build your own store frontend!)</li>
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/seam/2.1.0.BETA1/reference/en-US/html/security.html#d0e12018" target="" class="regularLink">Permission management</a> - now you've got ACL permissions (stored using JPA) in addition to rule based permissions and simple permissions</li>
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/seam/2.1.0.BETA1/reference/en-US/html/excel.html" target="" class="regularLink">Create reports in Excel and CSV</a> using JSF tags and Facelets templates</li>
<li class="wikiUnorderedListItem"> Built in support for URL rewriting</li>
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/seam/2.1.0.BETA1/reference/en-US/html/webservices.html#d0e20283" target="" class="regularLink">Initial support for JAX-RS (JSR-311)</a> - the REST API for Java, through RESTeasy</li>
<li class="wikiUnorderedListItem"> A big speed improvement to SeamTest, and you can now run it at the same time as JBoss AS</li>
<li class="wikiUnorderedListItem"> Ability to <a href="http://docs.jboss.org/seam/2.1.0.BETA1/reference/en-US/html/configuration.html#d0e22796" target="" class="regularLink">deploy your own resources</a> when Seam boots (you can watch for annotations, file name patterns, file content - the list is endless!)</li>
<li class="wikiUnorderedListItem"> Customizing the default interceptor stack - watch for a tutorial on this in the next few weeks</li>
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/seam/2.1.0.BETA1/reference/en-US/html/cache.html#d0e19938" target="" class="regularLink">Support for</a> JBoss Cache 1.x or JBoss POJO Cache 1.x in JBoss AS 4.2, JBoss Cache 2.x in JBoss AS 5, and EHCache (of course, you can also use JBoss Cache in other app servers!)</li>
</ul>

<p class="wikiPara">
And of course, we got the usual plethora of updates, such as:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Groovy 1.5</li>
<li class="wikiUnorderedListItem"> RichFaces 3.2</li>
</ul>

<p class="wikiPara">
Not to forget the <a href="https://jira.jboss.org/jira/issues/?jql=project=10071%20AND%20fixVersion=12312004" target="" class="regularLink">massive 279 issues</a> closed since 2.1.0.ALPHA1!
</p>

<p class="wikiPara">
And finally, I would like to introduce to you four new community contributors to Seam, who have joined the team over the last few months; <a href="http://seamframework.org/user/mattdrees" target="" class="regularLink">Matt Drees</a>, <a href="http://seamframework.org/user/jorshalick" target="" class="regularLink">Jacob Orshalick</a>, <a href="http://seamframework.org/user/Nik" target="" class="regularLink">Nicklas Karlsson</a> and <a href="http://seamframework.org/user/danielroth" target="" class="regularLink">Daniel Roth</a> (Nik and Daniel are responsible for the Excel module, excellent work guys!)</p>
</div>

