---
title: "Seam Quick Reference"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "27-11-2008"
tags: [Seam]

relative_url: /2008/11/27/SeamQuickReference
slug: SeamQuickReference
lace: http://in.relation.to/10110.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/11/27/SeamQuickReference
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
DZone <a href="http://refcardz.dzone.com/refcardz/core-seam?oid=hom6084" target="" class="regularLink">just published</a> a Seam reference card, by Seam committer <a href="http://solutionsfit.com/blog/" target="" class="regularLink">Jacob Orshalick</a>.
</p>

<p class="wikiPara">
I've long wanted one of these for Seam - Jacob does a great job of outlining the built in Seam components and how you can configure them in <tt>components.xml</tt>, as well as describing all the annotations and conversation management. He also provides a quick reference for <tt>seam-gen</tt>.
</p>

<p class="wikiPara">
Check it out!</p>
</div>

