---
title: "Seam Quick Reference"
author: "Pete Muir"
creation_date: "27-11-2008"
blogger_name: "Pete"
layout: blog-post
tags: [Seam]
slug: SeamQuickReference
lace: http://in.relation.to/10110.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
DZone <a href="http://refcardz.dzone.com/refcardz/core-seam?oid=hom6084" target="" class="regularLink">just published</a> a Seam reference card, by Seam committer <a href="http://solutionsfit.com/blog/" target="" class="regularLink">Jacob Orshalick</a>.
</p>

<p class="wikiPara">
I've long wanted one of these for Seam - Jacob does a great job of outlining the built in Seam components and how you can configure them in <tt>components.xml</tt>, as well as describing all the annotations and conversation management. He also provides a quick reference for <tt>seam-gen</tt>.
</p>

<p class="wikiPara">
Check it out!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'SeamQuickReference';
    var disqus_title = 'Seam Quick Reference';
    var disqus_url = 'http://in.relation.to/10110.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
