---
title: "Seam 2.0.2.GA is out!"
author: "Pete Muir"
creation_date: "15-05-2008"
blogger_name: "Pete"
layout: blog-post
tags: [Seam,Seam News]
slug: Seam202GAIsOut
lace: http://in.relation.to/8960.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm pleased to say we have released Seam 2.0.2.GA.
</p>

<p class="wikiPara">
This release focuses on stability, component updates and documentation improvements. We've fixed over 150 bugs since Seam 2 was released back in November, and, with over 70 000 downloads since then, Seam 2 has had pretty good exposure.
</p>

<p class="wikiPara">
Thanks to the hard work of the <a href="http://www.jboss.org/community/jbossORG.html" target="" class="regularLink">JBoss.org team</a> we've also improved the look and feel of the reference documentation.  Technical content has also been added with chapters on <a href="http://docs.jboss.com/seam/2.0.2.GA/reference/en-US/html/gettingstartedwithjbosstools.html" target="" class="regularLink">getting started</a> with <a href="http://jboss.org/tools" target="" class="regularLink">JBoss Tools</a>, <a href="http://docs.jboss.com/seam/2.0.2.GA/reference/en-US/html/i18n.html#d0e8998" target="" class="regularLink">a tutorial on internationalising your app</a>, and updated information on using Seam with different application containers.
</p>


<p class="wikiPara">
[<a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=592152" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/seam/2.0.2.GA/reference/en-US/html/" target="" class="regularLink">Documentation</a>] [<a href="http://www.seamframework.org/Community/SeamUsers" target="" class="regularLink">Forums</a>] [<a href="http://jira.jboss.com/jira/browse/JBSEAM" target="" class="regularLink">JIRA</a>]</p>
</div>
