---
title: "Seam 2.1 Podcast on JSF Central"
author: "Pete Muir"
blogger_name: "Pete"
layout: blog-post
tags: [Seam,Seam News,Web Beans]
slug: Seam21PodcastOnJSFCentral
lace: http://in.relation.to/9714.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/Seam21PodcastOnJSFCentral">Seam 2.1 Podcast on JSF Central</a>
                    </h1>
</div>
<p class="wikiPara">
Kito Mann, editor of <a href="http://www.jsfcentral.com/" target="" class="regularLink">JSF Central</a>, recorded a podcast with me a couple of weeks back. We deleved deep into the features of <a href="/Bloggers/Seam210GAReleased" target="" class="regularLink">Seam 2.1</a>, but also talked about the Public Review Draft of Web Beans (keep an eye on <a href="http://in.relation.to/Bloggers/Gavin" target="" class="regularLink">Gavin's blog</a> for updates) and <a href="https://javaserverfaces-spec-public.dev.java.net/" target="" class="regularLink">JSF2</a>.
</p>

<p class="wikiPara">
<a href="http://www.jsfcentral.com/articles/muir-10-08.html" target="" class="regularLink">Check it out!</a></p>
</div>
