---
title: "s:selectItems: Customising the value"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "19-02-2008"
tags: [Seam]

relative_url: /2008/02/19/SselectItemsCustomisingTheValue
slug: SselectItemsCustomisingTheValue
lace: http://in.relation.to/8630.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/02/19/SselectItemsCustomisingTheValue
---
<div id="documentDisplay" class="documentDisplay">


<blockquote class="wikiBlockquote">
<tt>&lt;s:selectItems /&gt;</tt> and <tt>&lt;s:convertEntity /&gt;</tt> output a key based on a
numeric sequence to the page. How can I make it output something
meaningful (e.g. the natural id of the entity)?
</blockquote>

<p class="wikiPara">
Why would you want to do this? Well, perhaps you want to use do some client side manipulation using JavaScript.
</p>

<p class="wikiPara">
In Seam 2.0.1 I've added two mechanisms for doing this. You'll need to choose one based on your requirement.
</p>

<p class="wikiPara">
By default <tt>&lt;s:selectItems value="#{people}"/&gt;</tt> uses, as its <tt>itemValue</tt> (which is rendered as the value attribute on <tt>&lt;option /&gt;</tt>) each item in the list.  Perhaps you want to use some associated object (for example, <tt>#{person.employeeNumber}</tt>). In this case it's as easy as:
</p>

<pre class="wikiPreformatted">&lt;h:selectOneMenu value="#{project.teamLeadEmployeeNumber}"&gt;
  &lt;s:selectItems value="#{people}" var="person" label="#{person.name}" itemValue="#{person.employeeNumber}" /&gt;
&lt;/h:selectOneMenu&gt;</pre>


<p class="wikiPara">
Great! But what if you want to use <tt>&lt;s:convertEntity /&gt;</tt> (which doesn't play nicely with this approach)? Why? Well the <i class="wikiEmphasis">value</i> referenced by the <tt>itemValue</tt> attribute is passed to <tt>&lt;s:convertEntity /&gt;</tt>.
</p>

<p class="wikiPara">
So, there is a second, slightly more complex option, if you want to use <tt>&lt;s:convertEntity /&gt;</tt> with custom keys - you need to provide a strategy for converting the entity <tt>Identifier</tt> to the output value and back.
</p>

<p class="wikiPara">
First, override the <tt>org.jboss.seam.ui.entityIdentifierStore</tt> component:
</p>

<pre class="wikiPreformatted">@Name("org.jboss.seam.ui.entityIdentifierStore")
@Scope(PAGE)
public class MyEntityIdentifierStore extends EntityIdentifierStore {</pre>


<p class="wikiPara">
Then, override the <tt>public String put(Identifier identifier, Object
entity)</tt> method:
</p>

<pre class="wikiPreformatted">  public String put(Identifier identifier, Object entity) {
    if (entity instanceof Person) {
      Person person = (Person) entity;
      return "person:" + person.getEmployeeNumber();
    } else {
      return super.put(identifier, entity);
    }
  }</pre>


<p class="wikiPara">
Finally, override <tt>public Identifier get(String key)</tt>:
</p>

<pre class="wikiPreformatted">  public Identifier get(String key) {
    if (key.startsWith("person")) {
      String id = key.substring(6, key.length());
      return new EntityIdentifier(Person.class, new Long(id));
    } else {
      return super.get(key);
    }
  }
}</pre>


<p class="wikiPara">
I've used <tt>EntityIdentifier</tt> as I'm using JPA, but of course of you could use <tt>HibernateEntityIdentifier</tt> if you are using plain Hibernate.
</p>

<p class="wikiPara">
I hope you've learnt in this tutorial how to customise <tt>&lt;s:selectItems /&gt;</tt>, BUT I also hope it highlights what I think is one of the most powerful features of Seam - that you can easily override the core components of Seam!
</p>
</div>

