---
title: "Microcontainer goes 2.0.0.GA "
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "28-11-2008"
tags: [deployers,jboss5,microcontainer,vfs]

relative_url: /2008/11/28/MicrocontainerGoes200GA
slug: MicrocontainerGoes200GA
lace: http://in.relation.to/10127.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/11/28/MicrocontainerGoes200GA
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
What better time to start blogging here as on the day we push our 2years+ work out as GA ready.<br>
By our work I mean <a href="http://www.jboss.org/jbossmc" target="" class="regularLink">JBoss Microcontainer</a> project, MC for short name. ;-) </p>
<p></p>


<p class="wikiPara">
So, I'm happy to announce that we've finally went 2.0.0.GA with MC.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Reflect 2.0.2.GA</li>
<li class="wikiUnorderedListItem"> VFS 2.0.0.GA</li>
<li class="wikiUnorderedListItem"> MDR 2.0.1.GA</li>
<li class="wikiUnorderedListItem"> Managed 2.0.0.GA</li>
<li class="wikiUnorderedListItem"> Kernel 2.0.2.GA</li>
<li class="wikiUnorderedListItem"> ClassLoader 2.0.1.GA</li>
<li class="wikiUnorderedListItem"> Deployers 2.0.3.GA</li>
</ul>

<p class="wikiPara">
And the piece that binds my blog with other Seam bloggers
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.jboss.org/community/docs/DOC-12848" target="" class="regularLink">Seam JBoss5 Integration 5.0.0.GA</a>
</li>
</ul>

<p class="wikiPara">
All MC sub-projects are fully mavenized, hence making it super easy to use.<br>
We're a bit behind with <a href="http://www.jboss.org/file-access/default/members/jbossmc/freezone/docs/2.0.x/userGuide/index.html" target="" class="regularLink">documentation</a>, but we'll be happy to help you on our forums:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=228" target="" class="regularLink">MC User Forum</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=204" target="" class="regularLink">MC Dev Forum</a>
</li>
</ul>

<p class="wikiPara">
For some light reading / coding check my DZone article along with its demos:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://java.dzone.com/articles/a-look-inside-jboss-microconta" target="" class="regularLink">DZone Article</a> (more articles coming soon)</li>
<li class="wikiUnorderedListItem"> <a href="http://anonsvn.jboss.org/repos/jbossas/projects/demos/microcontainer/trunk/" target="" class="regularLink">MC Demos</a> (fully Mavenized)</li>
</ul>

<p class="wikiPara">
JBoss people blogging about it:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://oddthesis.org/" target="" class="regularLink">BMW's JBoss Rails</a> (really cool Deployers usage)</li>
<li class="wikiUnorderedListItem"> <a href="http://sacha.labourey.com/2008/11/11/tech-presentation-on-jboss-microcontainer/" target="" class="regularLink">Sacha about MC</a> (if you read our JBoss Newsletter, he'll be doing some MC in Paris soon)</li>
</ul>

<p class="wikiPara">
Cool customizations
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.jboss.org/community/docs/DOC-13178" target="" class="regularLink">MC / JBoss5 custom files</a>
</li>
</ul>

<p class="wikiPara">
And for all who will be at <a href="http://www.devoxx.com" target="" class="regularLink">Devoxx</a>, come and grab me if you wanna talk about MC. ;-)
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.devoxx.com/display/JV08/JBoss+Application+Server+5" target="" class="regularLink">Dimitris's and my JBoss5 presentation</a>
</li>
</ul>

</div>

