---
title: "Seam talk at Benelux JBug"
author: "Pete Muir"
blogger_name: "Pete"
layout: blog-post
tags: [Seam,Seam News]
slug: SeamTalkAtBeneluxJBug
lace: http://in.relation.to/8646.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/SeamTalkAtBeneluxJBug">Seam talk at Benelux JBug</a>
                    </h1>
</div>
<p class="wikiPara">
I'll highlight a few of my favourite features of Seam 2, then go on to discuss how where Seam will go over next year, and finally introduce Web Beans.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Date</i>: Friday, 29 February 2008
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Time</i>: Arrive 1430-1530, presentations start 1530, finish 1900-1930.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Location</i>: <a href="http://www.paddymurphys.nl/" target="" class="regularLink">Paddy Murphy’s</a>, Rodezand 15, 3011 AM, Rotterdam (<a href="http://maps.google.com/maps?q=paddy+murphys,rotterdam" target="" class="regularLink">map</a>)
</p>

<p class="wikiPara">
There is also a talk on the Process Virtual Machine from Tom Baeyens, jBPM lead, and a talk on jBPM from Lunatech Research.
</p>

<p class="wikiPara">
More <a href="http://www.lunatech-research.com/archives/2008/01/17/jbug-2008-02" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
See you there!</p>
</div>
