---
title: "An afternoon of Seam in London"
author: "Pete Muir"
blogger_name: "Pete"
layout: blog-post
tags: []
slug: AnAfternoonOfSeamInLondon
lace: http://in.relation.to/9153.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/AnAfternoonOfSeamInLondon">An afternoon of Seam in London</a>
                    </h1>
</div>
<p class="wikiPara">
On Monday afternoon I will be talking about Seam and Web Beans at the UK JBoss User Group in London.
</p>

<p class="wikiPara">
The programme starts at 14:30, and I'm speaking at 15:00. I'll give a short intro to Seam, and then move on talk about future - Seam 2.1 and Web Beans.
</p>

<p class="wikiPara">
More info <a href="http://www.bsg.co.uk/newsevents/events/jbug/default.aspx" target="" class="regularLink">here...</a></p>
</div>
