---
title: "Seam at JBossWorld Orlando"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "17-02-2008"
tags: [Seam News]

absolute_url: http://in.relation.to/2008/02/17/SeamAtJBossWorldOrlando
lace: http://in.relation.to/8610.lace
slug: SeamAtJBossWorldOrlando

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Well, I'm safely home after my first JBossWorld, and I wanted to share some of the highlights for Seam at <a href="http://jbossworld.com/" target="" class="regularLink">JBossWorld Orlando</a> - lots of presentations about Seam, and more on RichFaces, Hibernate, Tools etc.
</p>

<p class="wikiPara">
Of particular interest to me was the <a href="http://jbossworld.com/agenda/thursday.html#next_thurs_2" target="" class="regularLink">presentation</a> by <a href="http://www.rationaldeveloper.com/" target="" class="regularLink">Cameron Ingram and Shawn Hill</a> on <a href="http://www.graniteds.org/confluence/display/DOC/2.7.+Seam+Services" target="" class="regularLink">using Seam with Flex</a>. Cameron and I had a couple of discussions about where they plans to take this project and I'm looking forward to seeing Flex become a <q>first-class</q> view layer for use with Seam. Great work guys!
</p>

<p class="wikiPara">
I also attended Thomas Heute's presentation on <a href="http://labs.jboss.com/jbossportal/" target="" class="regularLink">JBoss Portal</a>,
where he introduced the <a href="http://labs.jboss.com/portletbridge/" target="" class="regularLink">JBoss Portlet Bridge</a>, a joint effort between the Seam, JBoss Portal and RichFaces teams to allow you to use JBoss Portal with Seam and RichFaces - he showed off using the <a href="http://livedemo.exadel.com/portal/portal/default/seamBookingPortlet" target="" class="regularLink">Seam Booking example in a Portal</a>.
</p>

<p class="wikiPara">
And, the highlight for many was the <a href="http://jcp.org/en/jsr/detail?id=299" target="" class="regularLink">Web Beans (JSR 299)</a> talk by
Gavin. Some really good work has gone on since the Early Draft Review - it's shaping up to be a great spec! You can find out more <a href="http://in.relation.to/tag/Web+Beans" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
My personal favourite though was the Seam/Web Beans/Hibernate/Tools BOF - we had an excellent attendance and got some really good discussions going - I love interacting with the community like this!
</p>

<p class="wikiPara">
I promised to put the <a href="http://www.seamframework.org/service/File/3101" target="" class="regularLink">slides</a> up from my Introduction to Seam presentation - and also the <a href="http://www.seamframework.org/service/File/3102" target="" class="regularLink">slides</a> from the BOF where I talked a bit about Seam with Wicket.
</p>

<p class="wikiPara">
It would be great to collect the slides from the various Seam presentations on <a href="http://www.seamframework.org" target="" class="regularLink">SeamFramework.org </a> - so please, put a link <a href="http://www.seamframework.org/Community/JBossWorldOrlando" target="" class="regularLink">here</a> - feel free to upload them onto <a href="http://www.seamframework.org" target="" class="regularLink">SeamFramework.org</a>.</p>
</div>
