---
title: "Developing Portlets using JSF, Ajax, and Seam"
author: "Pete Muir"
creation_date: "06-08-2008"
blogger_name: "Pete"
layout: blog-post
tags: [JBoss Portlet Bridge,RichFaces,Seam,Seam News]
slug: DevelopingPortletsUsingJSFAjaxAndSeam
lace: http://in.relation.to/9264.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="http://www.jroller.com/wesleyhales/" target="" class="regularLink">Wesley Hales</a>, <a href="http://www.jboss.org/portletbridge/" target="" class="regularLink">JBoss Portlet Bridge</a> lead, has posted <a href="http://www.infoq.com/articles/jsf-ajax-seam-portlets-pt-1" target="" class="regularLink">the first in a three part series of tutorials</a> on developing applications using <a href="http://www.seamframework.org" target="" class="regularLink">Seam</a>, <a href="http://richfaces.org" target="" class="regularLink">RichFaces</a> and the <a href="http://www.jboss.org/portletcontainer/" target="" class="regularLink">JBoss Portlet Container</a>.
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'DevelopingPortletsUsingJSFAjaxAndSeam';
    var disqus_title = 'Developing Portlets using JSF, Ajax, and Seam';
    var disqus_url = 'http://in.relation.to/9264.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
