---
title: "Seam 2.1.0.GA released!"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "22-10-2008"
tags: [Seam,Seam News]

relative_url: /2008/10/22/Seam210GAReleased
slug: Seam210GAReleased
lace: http://in.relation.to/9617.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/10/22/Seam210GAReleased
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
As you've <a href="/Bloggers/Seam210CR1IsOut" target="" class="regularLink">probably</a> <a href="/Bloggers/PleaseStandClearOfTheClosingDoorsThisTrainIsReadyToDepartSeam210BETA1Released" target="" class="regularLink">noticed</a>, we've been busy over the last month preparing the Seam 2.1.0 release - and I'm pleased to say that it's here at last! Some of the highlights from Seam 2.1.0 include an <a href="http://shane.bryzak.com/blog/articles/seam_security_gets_an_upgrade" target="" class="regularLink">identity management framework with ACL style permissions</a>, <a href="http://docs.jboss.org/seam/2.1.0.GA/reference/en-US/html/excel.html" target="" class="regularLink">an Excel reporting module</a>, <a href="/Bloggers/SeamgenGetsAModestUpgrade" target="" class="regularLink">an embellished and more flexible seam-gen</a>, <a href="/Bloggers/SeamlessWicketOrchestratingYourApplication" target="" class="regularLink">first class support for Wicket</a>, <a href="http://docs.jboss.org/seam/2.1.0.GA/reference/en-US/html/events.html#d0e5013" target="" class="regularLink">built-in support for URL rewriting</a> and a <a href="http://docs.jboss.org/seam/2.1.0.GA/reference/en-US/html/webservices.html#d0e21244" target="" class="regularLink">technology preview of JAX-RS (REST) support</a> through the <a href="http://www.jboss.org/resteasy/" target="" class="regularLink">RESTeasy project</a>.
</p>

<p class="wikiPara">
We've also made numerous improvements to Seam core to make your life with Seam easier - support for rendering JSF components in mail templates when sending mail from an asynchronous method, <a href="http://docs.jboss.org/seam/2.1.0.GA/reference/en-US/html/cache.html#d0e20899" target="" class="regularLink">support for JBoss Cache 2 and EHCache as well as JBoss Cache</a>, faster SeamTest and <a href="http://docs.jboss.org/seam/2.1.0.GA/reference/en-US/html/conversations.html#d0e6411" target="" class="regularLink">better handling of concurrent requests to conversations</a>. We've also kept track with JBoss AS 5, increasing the number of examples that work; as always, you can deploy your Seam appliction to most major containers. Check out the Seam reference guide to find more comprehensive documentation for deploying to  <a href="http://docs.jboss.org/seam/2.1.0.GA/reference/en-US/html/weblogic.html" target="" class="regularLink">WebLogic</a>, <a href="http://docs.jboss.org/seam/2.1.0.GA/reference/en-US/html/websphere.html" target="" class="regularLink">WebSphere</a>, <a href="http://docs.jboss.org/seam/2.1.0.GA/reference/en-US/html/oc4j.html" target="" class="regularLink">OC4J</a> and now <a href="http://docs.jboss.org/seam/2.1.0.GA/reference/en-US/html/glassfish.html" target="" class="regularLink">Glassfish</a>. Seam integrates with a huge number of other libraries and frameworks, and Seam 2.1.0 updates these to their latest versions, such as <a href="http://www.jboss.org/richfaces/" target="" class="regularLink">RichFaces</a> 3.2 and <a href="http://groovy.codehaus.org/" target="" class="regularLink">Groovy</a> 1.5.
</p>

<p class="wikiPara">
JBoss has always been committed to open standards - bringing our experience with Hibernate to JPA and participating actively in many JCP (and other) standards bodies. And that is why we took many of the ideas and concepts in Seam and sought to standardize them by leading the Web Beans specification. Speaking of which, work on the <a href="http://seamframework.org/WebBeans" target="" class="regularLink">Web Beans RI</a> is well underway, and the <a href="/Bloggers/WebBeansTeaser" target="" class="regularLink">public draft should be published soon</a>...
</p>

<p class="wikiPara">
Next up, Seam 2.1.1! We'll be focusing on performance, scalability and clustering; Jay and Shane have already made a great start on scalability analysis, which has resulted in a 12-17% increase in performance under load. Watch <a href="http://lists.jboss.org/pipermail/seam-dev/" target="" class="regularLink">this space</a> for more analysis and results! Seam has always been focused on helping you cross the bridge to new technologies and architectures. That's why Marek and Dan will be working closely with the JBoss Clustering team; their aim is two-fold, to increase <i class="wikiEmphasis">your</i> understanding of how to use Seam in a cluster through documentation and examples and to improve entity-replication. I think Norman is even planning to slip in OpenID support :-) We're expecting to have a pretty quick turnaround for this one!
</p>

<p class="wikiPara">
[ <a href="http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=634976" target="" class="regularLink">Download</a> | <a href="http://docs.jboss.org/seam/2.1.0.GA/reference/en-US/html/" target="" class="regularLink">Reference Documentation</a> | <a href="https://jira.jboss.org/jira/browse/JBSEAM" target="" class="regularLink">JIRA</a> | <a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?projectId=10071&amp;styleName=Html&amp;version=12312104" target="" class="regularLink">Release Notes</a> | <a href="http://anonsvn.jboss.org/repos/seam/tags/JBoss_Seam_2_1_0_GA/seam21migration.txt" target="" class="regularLink">Migration Guide</a> ]</p>
</div>

