---
title: "Want to learn about Seam 2? "
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "08-09-2008"
tags: [Seam,Seam News]

relative_url: /2008/09/08/want-to-learn-about-seam-2
slug: want-to-learn-about-seam-2
lace: http://in.relation.to/9363.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/09/08/want-to-learn-about-seam-2
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Then you should attend this <a href="http://www.info.redhat.com/forms/20080918Seam2" target="" class="regularLink">webinar</a> - I'll spend about 40 minutes introducing some of the key ideas behind Seam (contexts, Seam managed persistence contexts and transactions, validation, navigation) and then they'll be 20 minutes for questions. The webinar is on Thursday, 18th September, at 10:00 East Coast US (or <a href="http://www.timeanddate.com/worldclock/fixedtime.html?day=18&amp;month=9&amp;year=2008&amp;hour=10&amp;min=0&amp;sec=0&amp;p1=43" target="" class="regularLink">everywhere</a> else for us international types).
</p>

<p class="wikiPara">
And whilst we're here, JBoss has just <a href="http://blog.softwhere.org/archives/316" target="" class="regularLink">announced</a> the release of Feature Pack 1 for the <a href="http://www.redhat.com/jboss/platforms/application/" target="" class="regularLink">Enterprise Application Platform</a>. This feature pack brings Seam 2.0 into the JBoss enterpise platform stable, along with Hibernate Search. You may be wondering how this affects you, as Seam 2.0 has been available from <a href="http://www.seamframework.org" target="" class="regularLink">seamframework.org</a> since late 2007. If so, I suggest you take a look <a href="http://andrigjboss.blogspot.com" target="" class="regularLink">Andy Miller's</a> <a href="http://andrigjboss.blogspot.com/2008/06/more-reasons-to-adopt-jboss-enterprise.html" target="" class="regularLink">blog</a> on the <a href="http://andrigjboss.blogspot.com/2008/04/why-adopt-jboss-enterprise-platforms.html" target="" class="regularLink">subject</a>, where he describes the benefits of the enterprise platforms.</p>
</div>

