---
title: "Seam 2.0.2.CR1 released!"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "04-04-2008"
tags: [Seam News]

relative_url: /2008/04/04/Seam202CR1Released
slug: Seam202CR1Released
lace: http://in.relation.to/8795.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/04/04/Seam202CR1Released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We just finished uploading Seam 2.0.2.CR1 to <a href="http://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777" target="" class="regularLink">SourceForge</a> and <a href="http://repository.jboss.org/maven2/org/jboss/seam/" target="" class="regularLink">the Maven repository</a> - so go get it!
</p>

<p class="wikiPara">
This <a href="http://jira.jboss.com/jira/secure/ReleaseNote.jspa?projectId=10071&amp;styleName=Html&amp;version=12311726" target="" class="regularLink">release</a> fixes around 30 bugs and updates various component libraries (Groovy 1.5, Drools 4.0.6, jfreechart 1.0.8a, RichFaces 3.1.4 and Trinidad 1.2.5).
</p>

<p class="wikiPara">
But perhaps most exciting is that we have a brand new structure for our documentation, that brings with it a style themed on <a href="http://www.seamframework.org" target="" class="regularLink">SeamFramework.org</a>! This new structure will allow us to simply incorporate translations of the reference guide and keep them up to date.
</p>

<p class="wikiPara">
We've already had a translation of the Seam 2.0.0.GA docs <a href="http://www.redsaga.com/opendoc/Seam2.0/html/" target="" class="regularLink">into Chinese</a> (thanks to Xiaogang Cao, Yu Limin and their community!) and I'm looking forward to others flooding in (well, perhaps not flooding... ;-)
</p>

<p class="wikiPara">
[<a href="http://www.seamframework.org/Download" target="" class="regularLink">Download</a>]
[<a href="http://docs.jboss.org/seam/2.0.2.CR1/reference/en-US/html/" target="" class="regularLink">Reference Documentation</a>]
[<a href="http://www.seamframework.org/Community/Forums" target="" class="regularLink">Forums</a>]
[<a href="http://jira.jboss.com/jira/browse/JBSEAM" target="" class="regularLink">JIRA</a>]</p>
</div>
