---
title: "Seam Podcast up on DZone"
author: "Pete Muir"
creation_date: "05-08-2008"
blogger_name: "Pete"
layout: blog-post
tags: [JBoss Tools,Seam,Seam News,Web Beans]
slug: SeamPodcastUpOnDZone
lace: http://in.relation.to/9249.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
DZone <a href="http://java.dzone.com/articles/whats-new-seam-21-an-interview?mz=3006-jboss" target="" class="regularLink">just posted</a> an interview with me about Seam.
</p>

<p class="wikiPara">
We spoke for a few minutes about Seam, and some of the features of Seam 2. Then we moved on to talk about the upcoming Seam 2.1, how it will support other view layers, and where JSF is going. Finally we spent a few minutes talking about Web Beans, and what it will mean for Seam users.
</p>

<p class="wikiPara">
The site has both a transcript, and the audio.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'SeamPodcastUpOnDZone';
    var disqus_title = 'Seam Podcast up on DZone';
    var disqus_url = 'http://in.relation.to/9249.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
