---
title: "Audio from Introduction to Seam at JBoss World posted"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "15-04-2008"
original_tags: []
tags: [Seam]

relative_url: /2008/04/15/audio-from-introduction-to-seam-atjboss-world-posted
slug: audio-from-introduction-to-seam-atjboss-world-posted
lace: http://in.relation.to/8877.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/04/15/audio-from-introduction-to-seam-atjboss-world-posted
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="http://www.jboss.org" target="" class="regularLink">JBoss.org</a>/<a href="http://developer.redhatmagazine.com/" target="" class="regularLink">Dev Fu</a> have <a href="http://developer.redhatmagazine.com/2008/04/14/intro-to-seam-jboss-world-audiocast/" target="" class="regularLink">just posted</a> the <a href="http://jboss.org/files/default/presentations/IntroToSeam_Muir_Orlando_2008.mp3" target="" class="regularLink">audio</a> from my JBoss World presentation - <q>Introduction to Seam</q>. You can find the slides  <a href="http://www.seamframework.org/service/File/3101" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
Enjoy!</p>
</div>

