---
title: "JSF Days (Austria) and JAX (Germany)"
author: "Pete Muir"
creation_date: "29-03-2009"
blogger_name: "Pete"
layout: blog-post
tags: []
slug: JSFDaysAustriaAndJAXGermany
lace: http://in.relation.to/10982.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
This month I'm presenting at JSF Days in Vienna, Austria on Web Beans, and at JAX in Mainz, Germany on Web Beans and Seam. If you are in the area, drop by!
</p>

<h3 class="wikiHeadline3" id="H-JSFDays"><a href="/Bloggers/JSFDaysAustriaAndJAXGermany#H-JSFDays">JSF Days</a></h3>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">When?</i> 2nd April 2009</li>
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">Where?</i> Vienna, Austria</li>
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">What?</i> Introduction to Web Beans</li>
<li class="wikiUnorderedListItem"> <a href="http://jsfdays.irian.at/main/index.jsf#" target="" class="regularLink">http://jsfdays.irian.at/main/index.jsf#</a>
</li>
</ul>

<h3 class="wikiHeadline3" id="H-JAX"><a href="/Bloggers/JSFDaysAustriaAndJAXGermany#H-JAX">JAX</a></h3>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">When?</i> 22nd and 23rd April 2009</li>
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">Where?</i> Mainz, Germany</li>
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">What?</i> Introduction to Web Beans (22nd) and Seam 3 (23rd)</li>
<li class="wikiUnorderedListItem"> <a href="http://it-republik.de/jaxenter/jax/" target="" class="regularLink">http://it-republik.de/jaxenter/jax/</a>
</li>
</ul>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'JSFDaysAustriaAndJAXGermany';
    var disqus_title = 'JSF Days (Austria) and JAX (Germany)';
    var disqus_url = 'http://in.relation.to/10982.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
