---
title: "Oops-a-daisy"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "14-11-2009"
tags: [Contexts and Dependency Injection,Seam News,Weld]

relative_url: /2009/11/14/oopsadaisy
slug: oopsadaisy
lace: http://in.relation.to/12965.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/11/14/oopsadaisy
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Gavin pointed out to me that my script to build the Weld distribution was broken, so I've create Weld 1.0.0 SP1 (Service Pack 1) which remedies this. You can now find Weld's sources and binaries in <tt>artifacts/weld</tt> and the CDI API source, javadoc and binary in <tt>artifacts/cdi</tt>. Download it from <a href="https://sourceforge.net/projects/jboss/files/Weld/1.0.0.SP1/weld-1.0.0.SP1.zip/download" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
At the same time, Shane and I realized that the signature test definition for the TCK had been generated against a slightly out of date API. So I've posted 1.0.0 SP1 of the TCK <a href="https://sourceforge.net/projects/jboss/files/CDI-TCK/1.0.0.SP1/jsr299-tck-1.0.0-SP1-dist.zip/download" target="" class="regularLink">here</a>.</p>
</div>

