---
title: "Webinar on JSR-299: Contexts and Dependency injection"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "07-05-2009"
tags: [Seam News,Web Beans]

relative_url: /2009/05/07/WebinarOnJSR299ContextsAndDependencyInjection
slug: WebinarOnJSR299ContextsAndDependencyInjection
lace: http://in.relation.to/11207.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/05/07/WebinarOnJSR299ContextsAndDependencyInjection
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm giving a webinar on JSR-299 on Gassfish TV
</p>

<p class="wikiPara">
<i class="wikiEmphasis">When:</i> Tuesday, 19th May, 2009 at 10:00am PT (<a href="http://www.timeanddate.com/worldclock/fixedtime.html?year=2009&amp;month=5&amp;day=19&amp;hour=17&amp;min=00&amp;sec=0" target="" class="regularLink">other timezones</a>)
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Where:</i> http://ustream.tv/channel/theaquarium
</p>

<p class="wikiPara">
<a href="http://wikis.sun.com/display/TheAquarium/JCDI+-+JSR299" target="" class="regularLink">Find out more</a></p>
</div>
