---
title: "Java EE6 in public review"
author: "Pete Muir"
blogger_name: "Pete"
layout: blog-post
tags: [EE6,Seam News,Web Beans]
slug: JavaEE6InPublicReview
lace: http://in.relation.to/10624.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/JavaEE6InPublicReview">Java EE6 in public review</a>
                    </h1>
</div>
<p class="wikiPara">
Roberto Chinnici (EE6 co-spec lead) <a href="http://weblogs.java.net/blog/robc/archive/2009/01/java_ee_6_platf_1.html" target="" class="regularLink">posted</a> that <a href="http://jcp.org/en/jsr/detail?id=316" target="" class="regularLink">EE6</a> has entered <a href="http://jcp.org/en/introduction/timeline" target="" class="regularLink">public review</a> phase - the perfect chance for you to <a href="mailto:jsr-316-comments(AT)jcp.org" target="" class="regularLink">comment</a>! Or, if you are in a hurry, perhaps just vote in <a href="http://java.net/pub/pq/244" target="" class="regularLink">this poll</a>.
</p>

<p class="wikiPara">
Of particluar interest to readers of this blog will be the news that both <a href="/Bloggers/RevisedPublicDraftOfJSR299JavaContextsAndDependencyInjection" target="" class="regularLink">JSR-299 (Java Contexts and Dependency Injection, formerly known as Web Beans)</a> and <a href="/Bloggers/BeanValidationJSR303PublicDraftGiveUsFeedback" target="" class="regularLink">JSR-303 (Bean Validation)</a> are both under consideration for inclusion in both the full platform and the Web Profile (neither will definitely be included) - so if you feel strongly either way it's worth dropping a note to the EG to let them know what you, the community, feel.</p>
</div>
