---
title: "CDI tutorials, talks, JBoss World wrap up and more"
author: "Pete Muir"
creation_date: "14-09-2009"
blogger_name: "Pete"
layout: blog-post
tags: [Seam News,Web Beans]
slug: CDITutorialsTalksJBossWorldWrapUpAndMore
lace: http://in.relation.to/12312.lace
---
<div id="documentDisplay" class="documentDisplay">


<img align="left" src="http://in.relation.to/service/File/12314" style="padding-right: 10px" width="150" height="205"><p class="wikiPara">
 
</p>

<p class="wikiPara">
Back from JBoss World, I discovered a I had a few links I should share with the community :-)
</p>

<p class="wikiPara">
First up is the talk on <a href="http://jcp.org/en/jsr/detail?id=299" target="" class="regularLink">CDI</a> (or Web Beans as it was then known) I gave at <a href="http://devoxx.com" target="" class="regularLink">Devoxx</a> <a href="http://devoxx.com/display/JV08/Home" target="" class="regularLink">last year</a>. It's <a href="http://parleys.com/display/PARLEYS/Home#slide=1;talk=34537485;title=Introduction%20to%20Web%20Beans" target="" class="regularLink">now up</a> on <a href="http://parleys.com" target="" class="regularLink">parleys.com</a>. Whilst the material is slightly outdated due to the introduction of <a href="http://atinject.googlecode.com/" target="" class="regularLink">JSR-330</a>, the description of the programming model is still accurate if you make a few replacements (replace <i>deployment types</i> with <i>alternatives</i>, <i>binding types</i> with <i>qualifiers</i> and <i>initializer methods</i> with <code>@Inject</code>).
</p>

<img align="right" src="http://in.relation.to/service/File/12315" style="padding-left: 10px" width="150" height="200"><p class="wikiPara">
 
</p>

<p class="wikiPara">
Next, <a href="http://weblogs.java.net/blog/rogerk/" target="" class="regularLink">Roger Kitain</a> (who is working on integrating <a href="http://www.seamframework.org/Download/SeamDownloads#H-WebBeansReleases" target="" class="regularLink">Web Beans</a> with <a href="https://glassfish.dev.java.net/" target="" class="regularLink">GlassFish V3</a>), has written <a href="http://www.java.net/blog/rogerk/archive/2009/09/04/contexts-and-dependency-injection-jsr-299-and-glassfish" target="" class="regularLink">a blog</a> introducing a number guess example running on GlassFish (based on the <code>numberguess</code> <a href="http://docs.jboss.org/webbeans/reference/1.0.0.PREVIEW1/en-US/html/ri.html#d0e936" target="" class="regularLink">example</a> from the Web Beans distribution. It shows off JSF integration, producer methods, qualifiers and more - a great starting point!
</p>

<p class="wikiPara">
CDI also allows you to inject into <i class="wikiEmphasis">Java EE component classes</i> (such as servlets, filters, JSF managed beans, WS endpoints etc.), and Roger's <a href="http://www.java.net/blog/rogerk/archive/2009/09/09/context-and-dependency-injection-jsr-299-and-servlets" target="" class="regularLink">second blog</a> deals with how you can perform injection into servlets.
</p>

<p class="wikiPara">
Next, for those of you in Europe wanting to learn more about CDI, I've got a few talks coming up - on Friday, 2nd October, I'm speaking at <a href="http://www.rivierajug.org/xwiki/bin/view/Main/20091002" target="" class="regularLink">Sophia fait sa Java</a> in Nice - on Wednesday, 7th October at <a href="http://javablend.net" target="" class="regularLink">JavaBlend</a> in Ljubljana and again on Friday, 9th October in Belgrade.
</p>

<p class="wikiPara">
Or, if you want to learn a bit more about JSF2, how about coming to the talk <a href="http://in.relation.to/Bloggers/Dan" target="" class="regularLink">Dan</a>, <a href="http://andyschwartz.wordpress.com/" target="" class="regularLink">Andy</a> and I are doing at <a href="http://devoxx.com/display/DV09/JSF2+Keep+the+progress+coming" target="" class="regularLink">Devoxx</a> (Monday, 16th November)? There will be a very strong emphasis on involving the audience - so come prepared with your favourite issues - and your solutions to them!
</p>

<p class="wikiPara">
Finally, I wanted to point those of you who were at JBoss World to the <a href="http://www.redhat.com/promo/summit/2009/downloads/#jbw" target="" class="regularLink">slides</a> for the CDI talk I did with Gavin.
</p>

<p class="wikiPara">
Oh, and watch this space, shortly we'll be getting into much more depth on what is coming in Seam 3!
</p>

<small>Photo credits to Bruno Georges</small>
</div>
