---
title: "Weld 1.0.0 :-)"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "12-11-2009"
original_tags: [Contexts and Dependency Injection,Seam News,Weld]
tags: [CDI,Seam,Weld]

relative_url: /2009/11/12/weld-100
slug: weld-100
lace: http://in.relation.to/12911.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/11/12/weld-100
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm pleased to announce the release of Weld 1.0.0 - the <a href="/2009/11/11/jsr-299-final-draft-submitted" target="" class="regularLink">announcements</a> <a href="/2009/11/12/cditck-100-posted" target="" class="regularLink">have</a> <a href="/2009/11/11/bean-validation-is-voted-yes" target="" class="regularLink">been</a> <a href="/2009/11/09/cdi-javadoc" target="" class="regularLink">flowing</a> in over the last few days, but this is <b>my</b> favorite!
</p>

<p class="wikiPara">
You can find some quick download links below or you can pull the artifacts from the <a href="http://repo1.maven.org/maven2/org/jboss/weld" target="" class="regularLink">maven central repository</a>.
</p>

<p class="wikiPara">
Weld is used in <a href="http://glassfish.dev.java.net" target="" class="regularLink">GlassFish V3</a> and the upcoming <a href="http://hudson.jboss.org/hudson/view/JBoss%20AS/job/JBoss-AS-5.x-sun16/" target="" class="regularLink">JBoss AS EE 6 Preview release</a> release (watch <a href="/Bloggers/JasonGreene" target="" class="regularLink">Jason's blog</a> for more!). We also have support for Servlet containers such as <a href="http://tomcat.apache.org" target="" class="regularLink">Tomcat</a> and <a href="http://www.mortbay.org/jetty/" target="" class="regularLink">Jetty</a>. JSF support is built in, but with Weld you could use <a href="http://wicket.apache.org" target="" class="regularLink">Wicket</a> as your view layer, and Swing, or even JavaFX is supported via the Java SE support. If you are an OSGi fan, there's a <a href="http://repo1.maven.org/maven2/org/jboss/weld/weld-osgi-bundle/" target="" class="regularLink">bundle</a>. 
</p>

<p class="wikiPara">
If you are just getting started, there are a few examples in the <a href="https://sourceforge.net/projects/jboss/files/Weld/1.0.0/weld-1.0.0.zip/download" target="" class="regularLink">distribution</a> to guide you (look for instructions in the reference guide, and each example has a <tt>readme.txt</tt>). If you are looking for help, try our <a href="http://www.seamframework.org/Community/WeldUsers" target="" class="regularLink">forums</a>, or perhaps join us on <a href="irc://freenode.net/#weld">IRC</a>.
</p>

<p class="wikiPara">
I intend to do regular releases of Weld from now on (around 8-10 weeks apart), and for 1.0.1 we'll be concentrating on running an indepth performance and scalability analysis (as well as fixing those bugs you <a href="https://jira.jboss.org/jira/browse/WELD" target="" class="regularLink">report</a>!). Those of you who follow us closely will know that we've been concentrating on Weld/JSR-299 recently, but with 1.0.0 out, you can expect to see our attention swing back to Seam 3 - so watch this space, as soon as we have nightly builds to try out, I'll post instructions :-)
</p>

<p class="wikiPara">
One omission from the CR1 release was the reference documentation -- since then a lot of effort has been put into the reference guide and the JavaDoc for the CDI API - make sure you check it out!
</p>

<p class="wikiPara">
[<a href="https://sourceforge.net/projects/jboss/files/Weld/1.0.0/weld-1.0.0.zip/download" target="" class="regularLink">Weld Download</a>] | [<a href="http://jira.jboss.com/jira/browse/WELD" target="" class="regularLink">Weld JIRA</a>] | [<a href="http://docs.jboss.org/cdi/api/1.0/" target="" class="regularLink">CDI Javadoc</a>] [<a href="http://docs.jboss.org/weld/reference/1.0.0/en-US/html" target="" class="regularLink"> Reference Guide</a>] | [<a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?projectId=12310891&amp;styleName=Html&amp;version=12314092" target="" class="regularLink">Weld Release Notes</a>] ]</p>
</div>

