---
title: "CDI TCK 1.0.0 posted"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "12-11-2009"
tags: [Contexts and Dependency Injection,JavaServer Faces,Seam News]

relative_url: /2009/11/12/CDITCK100Posted
slug: CDITCK100Posted
lace: http://in.relation.to/12890.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/11/12/CDITCK100Posted
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I've posted the CDI TCK 1.0.0 on <a href="http://seamframework.org" target="" class="regularLink">seamframework.org</a>. You can read the <a href="http://docs.jboss.org/cdi/tck/reference/1.0.0/html" target="" class="regularLink">docs</a> or <a href="http://www.seamframework.org/Download/SeamDownloads#H-WeldAndJSR299TCKReleases" target="" class="regularLink">download the TCK</a> for your use.
</p>

<p class="wikiPara">
When I sat down a year ago to start writing Weld, the thought of having more than 850 tests, which will run on any Java EE app was pretty daunting! But of course we made it :-) Around 820 tests pass on JBoss AS, the GlassFish team are hard at work getting GlassFish to pass, and the OpenWebBeans team seem to be making progress.
</p>

<p class="wikiPara">
If you want to see in more detail how we mapped the spec to tests, you can take a look at the <a href="http://repo1.maven.org/maven2/org/jboss/jsr299/tck/jsr299-tck-impl/1.0.0/jsr299-tck-impl-1.0.0-coverage-cdi.html" target="" class="regularLink">audit report</a>.
</p>

<p class="wikiPara">
I take my hat off to David Allen and Jozef Hartinger who spent weeks and months plugging away, writing tests - both of them showed a remarkable level of attention to detail. Shane concentrated on the infrastructure, writing the audit tool (you see the output above) and keeping the audit up to date with the spec. Finally, Dan and Norman pitched in when the deadlines were looming to lend a hand. Great work all!
</p>

<p class="wikiPara">
Of course, we needed a good way to run the tests in any container, and 3 weeks work I did back in the winter ended up being used in both the JSR-299 and JSR-303 TCK, and is one of the inspirations for a couple of projects we are working on to make testing easier - <a href="http://www.jboss.org/community/wiki/ShrinkWrap" target="" class="regularLink">Shrinkwrap</a> and Arquillian (more on this one soon!).</p>
</div>
