---
title: "Upcoming JSR-299 talks in Europe"
author: "Pete Muir"
creation_date: "29-09-2009"
blogger_name: "Pete"
layout: blog-post
tags: [Seam News]
slug: UpcomingJSR299TalksInEurope
lace: http://in.relation.to/12467.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'll be talking about <a href="http://jcp.org/en/jsr/detail?id=299" target="" class="regularLink">JSR-299: Contexts and Dependency Injection For Java EE</a> at the <a href="http://www.rivierajug.org/xwiki/bin/view/Main/20091002#HProgramme" target="" class="regularLink">Riviera JUG</a> this week, on Friday 2nd October at 14:00. Next week, I'm off to Ljubljana, Slovenia and Belgrade, Serbia for JavaBlend; my slot is 09:00 on Wednesday 7th October in Ljubljana, and 11:00 on Friday 9th October in Belgrade.
</p>

<p class="wikiPara">
See you there!</p>
</div>
