---
title: "ACL Security in Seam"
author: "Pete Muir"
creation_date: "21-01-2009"
blogger_name: "Pete"
layout: blog-post
tags: [Seam,Seam News]
slug: ACLSecurityInSeam
lace: http://in.relation.to/10496.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="http://shane.bryzak.com" target="" class="regularLink">Shane</a> just <a href="http://java.dzone.com/articles/acl-security-in-seam" target="" class="regularLink">posted</a> the first part of an article on ACL Security in <a href="http://www.seamframework.org" target="" class="regularLink">Seam</a> 2.1 on DZone.</p>
</div>
