---
title: "Want to use Seam with SSO? Then take a look at JBoss Identity Management"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "20-08-2009"
tags: [Seam News]

absolute_url: http://in.relation.to/2009/08/20/WantToUseSeamWithSSOThenTakeALookAtJBossIdentityManagement
lace: http://in.relation.to/12150.lace
slug: WantToUseSeamWithSSOThenTakeALookAtJBossIdentityManagement

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="http://anil-identity.blogspot.com/" target="" class="regularLink">Anil Saldhana</a> just pointed out <a href="http://www.jboss.org/community/wiki/SeamIntegrationWithJBossIdentity" target="" class="regularLink">this article</a> about how you can use <a href="http://www.jboss.org/jbossidentity/" target="" class="regularLink">JBoss Identity Management</a> to provide SSO capabilities to your Seam application. It discusses a couple of approaches.
</p>

<p class="wikiPara">
One of the medium priority targets for Seam 3 is to provide better support for JBoss Identity Management out of the box.</p>
</div>
