---
title: "JSF2 almost complete!"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "07-01-2009"
tags: [JSF 2,Seam News]

relative_url: /2009/01/07/jsf-2-almost-complete
slug: jsf-2-almost-complete
lace: http://in.relation.to/10425.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/01/07/jsf-2-almost-complete
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
As you may know, I've been working very closely with the other stake holders in JSF (e.g. Sun, Oracle, Apache) on <a href="http://jcp.org/en/jsr/detail?id=314" target="" class="regularLink">JSF 2</a>. I just wanted to pull together a few recents threads to give you an update.
</p>

<p class="wikiPara">
First, Ed Burns (the specification lead) <a href="http://weblogs.java.net/blog/edburns/archive/2009/01/jsf_20_public_r.html" target="" class="regularLink">posted</a> on the status - not long to go now before the proposed final draft.
</p>

<p class="wikiPara">
Second, Stan Silvert just <a href="http://jsfunit.blogspot.com/2009/01/jsf-20-and-upcoming-ga-release-of.html" target="" class="regularLink">blogged</a> about using JSF2 in JBoss AS 5. You can read more at <a href="http://www.jboss.org/community/wiki/UpgradeJBossAStoJSF2" target="" class="regularLink">jboss.org</a>
</p>

<p class="wikiPara">
Enjoy!</p>
</div>

