---
title: "Seam at JBoss World"
author: "Pete Muir"
blogger_name: "Pete"
layout: blog-post
tags: [Seam News]
slug: SeamAtJBossWorld
lace: http://in.relation.to/12148.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/SeamAtJBossWorld">Seam at JBoss World</a>
                    </h1>
</div>
<p class="wikiPara">
As <a href="http://blogs.jboss.org/blog/mlittle/2009/08/20/JBoss_World_2009_is_almost_here.txt" target="" class="regularLink">others</a> have <a href="http://blog.softwhere.org/archives/944" target="" class="regularLink">mentioned</a> JBoss World is coming up, and I just wanted to a highlight a few talks that will be of interest to you Seam aficionados.
</p>

<p class="wikiPara">
First up, Dan, Gavin and I are talking about Seam and Contexts and Dependency Injection for Java EE:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.jbossworld.com/agenda/tracks/abstracts_whatsnext.html#570991" target="" class="regularLink">The Best Kept Secrets of Seam, Richfaces JSF, and Facelets</a> with Dan</li>
<li class="wikiUnorderedListItem"> <a href="http://www.jbossworld.com/agenda/tracks/abstracts_whatsnext.html#580098" target="" class="regularLink">Introduction to Web Beans, the Reference Implementation of JSR-299</a> with Gavin and I</li>
<li class="wikiUnorderedListItem"> <a href="http://www.jbossworld.com/agenda/tracks/abstracts_whatsnext.html#2228674" target="" class="regularLink">BOF</a> with Dan, Gavin, Max, Emmanuel, myself, and others</li>
</ul>

<p class="wikiPara">
Then, there's a <q>Seam in the wild</q> talk:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.jbossworld.com/agenda/tracks/abstracts_decodingthecode.html#581505" target="" class="regularLink">Using JBoss Seam to go from Stove-Piped Apps to an Integrated Web 2.0 Platform</a>
</li>
</ul>

<p class="wikiPara">
And of course, there are lots of talks on <a href="http://www.jbossworld.com/agenda/tracks/abstracts_osfitl.html#444789" target="" class="regularLink">Hibernate</a>, <a href="http://www.jbossworld.com/agenda/tracks/abstracts_decodingthecode.html#528005" target="" class="regularLink">JBoss AS</a> as well as some <a href="http://www.jbossworld.com/agenda/tracks/abstracts_decodingthecode.html#100130" target="" class="regularLink">new JBoss projects</a>.
</p>

<p class="wikiPara">
See you there!</p>
</div>
