---
title: "Seam 2.2.0.CR1 released"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "29-06-2009"
tags: [Seam,Seam News]

relative_url: /2009/06/29/Seam220CR1Released
slug: Seam220CR1Released
lace: http://in.relation.to/11936.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/06/29/Seam220CR1Released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The Seam team is happy to report that <a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=692445" target="" class="regularLink">Seam 2.2.0.CR1 is now out</a>.  This release gives us a chance to upgrade Seam to the latest versions of a few libraries that are core to Seam.   These changes were big enough to warrant bumping minor version numbers.
</p>

<p class="wikiPara">
The largest is a bump to the entire <a href="http://hibernate.org" target="" class="regularLink">Hibernate family of APIs </a>- core 3.3.1, tools 3.2.4,  entitymanager 3.4.0, annotations 3.4.0 and search 3.1.1.  We've also moved our <a href="http://www.jboss.org/drools/" target="" class="regularLink">Drools</a> support from Drools 4 to Drools 5.  If the great new features of Drools 5 weren't enough, we've added <a href="http://seamframework.org/Community/CoupleOfNewFeaturesInSeamdroolsIntegration" target="" class="regularLink">a few new features</a> to the drools integration: decision table support, Seam components as consequence exception handlers and Seam components as Drools event listeners.
</p>

<p class="wikiPara">
Finally, we've put in some serious work towards making Seam work better for applications that deploy over multiple WAR files.  If that's something you've been having issues with, we definitely recommend that you give Seam 2.2 a try.
</p>

<p class="wikiPara">
As always, please ask questions in the <a href="http://seamframework.org/Community/SeamUsers" target="" class="regularLink">forums</a> and open issues in <a href="https://jira.jboss.org/jira/browse/JBSEAM" target="" class="regularLink">JIRA</a> for confirmed bugs.
</p>


<p class="wikiPara">
[<a href="https://sourceforge.net/project/showfiles.php?group_id=22866&amp;package_id=163777&amp;release_id=692445" target="" class="regularLink">Download</a>] [<a href="http://docs.jboss.org/seam/2.2.0.CR1/reference/en-US/html/" target="" class="regularLink">Documentation</a>] [<a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12313445&amp;styleName=Html&amp;projectId=10071&amp;Create=Create" target="" class="regularLink">Release Notes</a>]</p>
</div>

