---
title: "Slides posted from Glassfish.TV JCDI webinar"
author: "Pete Muir"
creation_date: "26-05-2009"
blogger_name: "Pete"
layout: blog-post
tags: [Seam News,Web Beans]
slug: SlidesPostedFromGlassfishTVJCDIWebinar
lace: http://in.relation.to/11541.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Eduardo <a href="http://wikis.sun.com/display/TheAquarium/JCDI+-+JSR299" target="" class="regularLink">just posted</a> a slide cast from the webinar. Check them out if you haven't managed to catch a JCDI presentation in the flesh!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'SlidesPostedFromGlassfishTVJCDIWebinar';
    var disqus_title = 'Slides posted from Glassfish.TV JCDI webinar';
    var disqus_url = 'http://in.relation.to/11541.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
