---
title: "JSR-299 at Munich JBug"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "20-07-2009"
tags: [Seam,Seam News,Web Beans]

relative_url: /2009/07/20/JSR299AtMunichJBug
slug: JSR299AtMunichJBug
lace: http://in.relation.to/12023.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/07/20/JSR299AtMunichJBug
---
<div id="documentDisplay" class="documentDisplay">


<img src="/images/12021.jpeg" align="right" width="320" height="240" style="padding: 5px">

<p class="wikiPara">
A couple of weeks ago I presented on <a href="http://www.seamframework.org/WebBeans" target="" class="regularLink">JSR-299: Contexts and Dependency Injection for Java EE</a> at the <a href="http://www.jbug-munich.org/" target="" class="regularLink">Munich JBug</a>. Thanks to everyone who attended - we had some great questions and discussions at the end, and over the pizza and beer!
</p>

<p class="wikiPara">
Here are the <a href="#JSR299AtMunichJBug_attachment1" target="" class="regularLink">slides[1]</a>
</p>

<p class="wikiPara">
Next up for me is <a href="http://www.jbossworld.com/index.html" target="" class="regularLink">JBoss World in Chicago</a>. We have a few Seam sessions:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Gavin and I are presenting <i class="wikiEmphasis"><a href="http://www.jbossworld.com/agenda/tracks/abstracts_whatsnext.html#580098" target="" class="regularLink">JSR-299: Contexts and Dependency Injection</a></i>
</li>
<li class="wikiUnorderedListItem"> Dan is presenting <i class="wikiEmphasis"><a href="http://www.jbossworld.com/agenda/tracks/abstracts_whatsnext.html#570991" target="" class="regularLink">The Best Kept Secrets of Seam, JSF, and Facelets</a></i>
</li>
<li class="wikiUnorderedListItem"> In <i class="wikiEmphasis"><a href="http://www.jbossworld.com/agenda/tracks/abstracts_whatsnext.html#2228674" target="" class="regularLink">Birds of a Feather: Seam and JSR-299</a></i> we'll discuss the roadmap for Seam 3</li>
</ul>

<p class="wikiPara">
As well as <a href="http://www.jbossworld.com/agenda/tracks/abstracts_whatsnew.html#570486" target="" class="regularLink">RichFaces</a>, <a href="http://www.jbossworld.com/agenda/tracks/abstracts_whatsnext.html#570501" target="" class="regularLink">JBoss Tools</a>, <a href="http://www.jbossworld.com/agenda/tracks/abstracts_carveoutcosts.html#2229100" target="" class="regularLink">JBoss AS</a> and much more!</p>
</div>

<div class="attachments">
<h4>Attachments</h4>
<ol class="wikiOrderedList"><li class="wikiOrderedListItem"><a name="JSR299AtMunichJBug_attachment1" href="/assets/Introduction to Web Beans.pdf">Introduction to Web Beans.pdf</a></li>
</ol>
</div>

