---
title: "Weld logo"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "25-11-2009"
tags: [Seam News,Weld]

relative_url: /2009/11/25/weld-logo
slug: weld-logo
lace: http://in.relation.to/13154.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/11/25/weld-logo
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="http://www.jboss.org/community/people/james.cobb%40jboss.com" target="" class="regularLink">James</a> and <a href="http://www.jboss.org/community/people/cheyenneweaver" target="" class="regularLink">Cheyenne</a> (from the JBoss.org design team) have been hard at work creating a <a href="http://www.jboss.org/files/jbosslabs/design/weld/index.htm" target="" class="regularLink">logo</a>. We've worked through a few designs, and picked a few that we want to share with the community and get feedback on.
</p>

<p class="wikiPara">
Let <a href="http://tinyurl.com/weldLogoSurvey" target="" class="regularLink">us know</a> what <i class="wikiEmphasis">you</i> think!</p>
</div>

