---
title: "Want to learn more about JCDI, Web Beans and Seam 3?"
author: "Pete Muir"
creation_date: "19-05-2009"
blogger_name: "Pete"
layout: blog-post
tags: [Seam,Seam News,Web Beans]
slug: WantToLearnMoreAboutJCDIWebBeansAndSeam3
lace: http://in.relation.to/11488.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Last week I recorded a couple of podcasts. The <a href="http://java.dzone.com/articles/java-contexts-dependency-injection" target="" class="regularLink">first one</a>, with Nitin from DZone, gives a good overview of where we are going with Web Beans and Seam 3 - we talk about what JCDI is, how it fits into Seam 3, and the migration path.
</p>

<p class="wikiPara">
A couple of days later, I talked to <a href="http://techcast.chariotsolutions.com/index.php?post_id=478352#" target="" class="regularLink">Ken from Chariot Tech Cast</a>; we got into a lot of depth on JCDI and did an extensive tour of it's features - a good companion to the <a href="http://wikis.sun.com/display/TheAquarium/JCDI+-+JSR299" target="" class="regularLink">JCDI webinar</a> I'm recording later today!</p>
</div>
