---
title: "Seam 3 and Web Beans slides from JAX posted"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "05-05-2009"
original_tags: [Seam,Seam News,Web Beans]
tags: [CDI,Seam]

relative_url: /2009/05/05/seam-3-and-web-beans-slides-from-jax-posted
slug: seam-3-and-web-beans-slides-from-jax-posted
lace: http://in.relation.to/11203.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/05/05/seam-3-and-web-beans-slides-from-jax-posted
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I've posted the slides from my <q>Seam 3</q> and <q>Introduction to Web Beans</q> sessions:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/service/File/75154" target="" class="regularLink">Introduction to Web Beans</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/service/File/75153" target="" class="regularLink">Seam 3</a>
</li>
</ul>
</div>

