---
title: "The State of Seam"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "02-04-2009"
tags: [Seam,Seam News]

relative_url: /2009/04/02/the-state-of-seam
slug: the-state-of-seam
lace: http://in.relation.to/11007.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/04/02/the-state-of-seam
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
As many of you will have noticed, recently we (the Seam team) have been putting our energy into other efforts than Seam 2. I've been working on <a href="http://seamframework.org/WebBeans" target="" class="regularLink">Web Beans</a> (the reference implementation of JSR-299). Shane has been working on the JSR-299 TCK (to test all implementations of JSR-299 for compatibility with the spec). Dan and I have spent a lot of time pushing some of the JSF improvements from Seam into <a href="http://jcp.org/en/jsr/detail?id=314" target="" class="regularLink">JSF 2</a> (the proposed final draft should be up any day now!). 
</p>

<p class="wikiPara">
But we've still found some time to work on Seam 2. We've closed over <a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?projectId=10071&amp;styleName=Html&amp;version=12312738" target="" class="regularLink">110 issues</a> since 2.1.1, so it's definitely time for a new release. We plan to release Seam 2.1.2.CR1 the week starting 13th April, and 2.1.2 the week starting 27th April. The focus of this release is bug fixing.
</p>

<p class="wikiPara">
Those of you who work with <a href="http://jbpm.org" target="" class="regularLink">jBPM</a> and <a href="http://drools.org" target="" class="regularLink">Drools</a> will be pleased to know that we will fully support jBPM 4 and Drools 5 in the 2.2 series. As we want to get 2.2.0 out before the jBPM 4.0.0 release, we're going to make the jBPM integration pluggable, so that you can simply drop the jBPM 3 integration in favour of jBPM4, when it is released. We plan to release 2.2.0 in mid June.
</p>

<p class="wikiPara">
At the same time, we'll be pushing ahead with Seam 3, so expect an alpha in the next few months. And never fear, we will provide a migration path from Seam 2, to Seam 3 :-)</p>
</div>

