---
title: "Seam and Web Beans downloads temporarily relocated"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "02-07-2009"
original_tags: [Seam,Seam News,Web Beans]
tags: [CDI,Seam]

relative_url: /2009/07/02/seam-and-web-beans-downloads-temporarily-relocated
slug: seam-and-web-beans-downloads-temporarily-relocated
lace: http://in.relation.to/11960.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/07/02/seam-and-web-beans-downloads-temporarily-relocated
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
UPDATE: The files are now back on SourceForge, but the links take you to the general JBoss page - search for Seam or Web Beans.
</p>

<p class="wikiPara">
This is a known issue and should be fixed tomorrow.
</p>

<hr>

<p class="wikiPara">
Unfortunately a hiccup with SourceForge has meant that Seam and Web Beans downloads are currently unavailable - please bear with us while we sort it out.
</p>

<p class="wikiPara">
In the meantime, I've put the latest releases of Seam and Web Beans up on another server:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://snapshots.jboss.org/maven2/org/jboss/webbeans/webbeans-distribution/1.0.0.PREVIEW1/webbeans-distribution-1.0.0.PREVIEW1.zip" target="" class="regularLink">Web Beans 1.0.0.PREVIEW1</a>
</li>
<li class="wikiUnorderedListItem"> Seam 2.1.2.GA (watch this space)</li>
<li class="wikiUnorderedListItem"> Seam 2.2.0.CR1 (watch this space)</li>
</ul>
</div>

