---
title: "Slides posted from Glassfish.TV JCDI webinar"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "26-05-2009"
tags: [Seam News,Web Beans]

relative_url: /2009/05/26/SlidesPostedFromGlassfishTVJCDIWebinar
slug: SlidesPostedFromGlassfishTVJCDIWebinar
lace: http://in.relation.to/11541.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/05/26/SlidesPostedFromGlassfishTVJCDIWebinar
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Eduardo <a href="http://wikis.sun.com/display/TheAquarium/JCDI+-+JSR299" target="" class="regularLink">just posted</a> a slide cast from the webinar. Check them out if you haven't managed to catch a JCDI presentation in the flesh!</p>
</div>

