---
title: "Seam Team @ Devoxx"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "14-10-2009"
original_tags: [Seam News]
tags: [Seam]

relative_url: /2009/10/14/seam-team-devoxx
slug: seam-team-devoxx
lace: http://in.relation.to/12573.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/10/14/seam-team-devoxx
---
<div id="documentDisplay" class="documentDisplay">


<b>Updated: the venue is <a href="http://www.viaviacafe.com/" target="" class="regularLink">ViaVia Antwerp</a> - Wolstraat 43, Antwerp</b>

<p class="wikiPara">
I wanted to give those of you coming to <a href="http://devoxx.com/" target="" class="regularLink">Devoxx</a> a heads up - the Seam team will be holding their annual <a href="http://in.relation.to/Bloggers/HibernateAndSeamMeetingInTuscany" target="" class="regularLink">face to face meeting</a> in Antwerp around Devoxx this year. Taking advantage of this, we are we are planning a community event for Friday, after the main conference finishes. The location is still TBD (I'll post again when it is confirmed -- it will be somewhere in the center of Antwerp).
</p>

<blockquote>Please come join us for a combined community event for both Seam and Infinispan.  At this event will be presentations from both teams, opportunities to meet and ask questions of core developers, and food to sustain yourself.  Beverages may (or may not!) be the responsibility of the attendee and buying a core developer a cold one may increase your chances of getting your question answered.  :)

The event will be held on Friday, 20 November, at ViaVia Antwerp - (http://www.viaviacafe.com/) - Wolstraat 43, Antwerp with the doors opening at 16:30.  The first talk will begin at 17:00 with the second one ending by 19:30.  Pizza to follow.  We look forward to seeing you all there.</blockquote>

<p class="wikiPara">
If you are interested in coming, please fill in <a href="http://tinyurl.com/devoxxresponseform" target="" class="regularLink">this</a> simple form, which will allow us to track numbers, and contact people in case we have a last minute change of plans. We won't use your details for any nefarious purposes, I promise!
</p>

<p class="wikiPara">
And of course, there are a few <b>must see</b> talks at Devoxx ;-) First up, myself, <a href="http://in.relation.to/Bloggers/Dan" target="" class="regularLink">Dan Allen and Andy Schwartz</a> are presenting a <a href="http://devoxx.com/display/DV09/JSF+2+and+beyond" target="" class="regularLink">University talk on JSF2</a>, and that evening we have a <a href="http://devoxx.com/display/DV09/JSF2+and+Beyond" target="" class="regularLink">BOF on JSF2</a>. Finally, I'll be showing off our new testing tools, <a href="http://www.jboss.org/community/wiki/ShrinkWrap" target="" class="regularLink">Shrinkwrap</a> and Arquillian in a <a href="http://devoxx.com/display/DV09/Portable+in-container+testing+with+Arquillian" target="" class="regularLink">Quickie on Thursday</a>.</p>
</div>

