---
title: "Getting started with Weld and JBoss AS 6"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "08-12-2009"
tags: [Seam News,Weld]

absolute_url: http://in.relation.to/2009/12/08/GettingStartedWithWeldAndJBossAS6
lace: http://in.relation.to/13393.lace
slug: GettingStartedWithWeldAndJBossAS6

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I just updated the <a href="http://www.seamframework.org/Documentation/RunningWeldExamplesWithJBossApplicationServer6" target="" class="regularLink">Examples Guide</a> for <a href="http://www.seamframework.org/Download/SeamDownloads#H-WeldAndJSR299TCKReleases" target="" class="regularLink">Weld 1.0</a> on the newly released <a href="http://in.relation.to/Bloggers/IntroducingJBossAS600M1" target="" class="regularLink">JBoss AS 6.0.0.M1</a>, including how to load the projects into Eclipse.
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
