---
title: "Weld 1.0.0.CR1 available!"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "16-10-2009"
tags: [Contexts and Dependency Injection,Seam News,Weld]

relative_url: /2009/10/16/Weld100CR1Available
slug: Weld100CR1Available
lace: http://in.relation.to/12585.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/10/16/Weld100CR1Available
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hot on the heels of the renaming of the <q><a href="http://jcp.org/en/jsr/detail?id=299" target="" class="regularLink">JSR-299: Contexts and Dependency Injection for Java EE</a></q>, <a href="http://in.relation.to/Bloggers/TheJSR299ReferenceImplementationGetsANewName" target="" class="regularLink">Weld</a>, I'm pleased to announce the 1.0.0.CR1 release. This is a major milestone; for the <a href="http://seamframework.org/Weld" target="" class="regularLink">project</a> and for <a href="http://java.sun.com/javaee/technologies/javaee6.jsp" target="" class="regularLink">Java EE 6</a>, as it represents a feature complete implementation of the <a href="http://in.relation.to/Bloggers/JSR299ProposedFinalDraft2" target="" class="regularLink">JSR-299 Proposed Final Draft 2 specification</a>; the specification, implementation and TCK will be submitted to the <a href="http://jcp.org" target="" class="regularLink">JCP</a> for the Final Draft ballot.
</p>

<p class="wikiPara">
You can find some quick download links below or you can pull the artifacts from the <a href="http://repo1.maven.org/maven2/org/jboss/weld" target="" class="regularLink">Maven central repository</a>.
</p>

<p class="wikiPara">
The reference implementation is used in <a href="http://glassfish.dev.java.net" target="" class="regularLink">GlassFish V3</a> and the upcoming <a href="http://jboss.org/jbossas/" target="" class="regularLink">JBoss AS 5.2.0.Beta1</a> release (watch <a href="http://in.relation.to/Bloggers/Jason" target="" class="regularLink">Jason's blog</a> for details!). Our implementation also adds support for Servlet containers such as <a href="http://tomcat.apache.org" target="" class="regularLink">Tomcat</a> and <a href="http://www.mortbay.org/jetty/" target="" class="regularLink">Jetty</a>. Furthermore you could choose to use <a href="http://wicket.apache.org" target="" class="regularLink">Wicket</a> as your view layer, or perhaps Swing via the Java SE support. If you are using an OSGi container, there's a <a href="http://repo1.maven.org/maven2/org/jboss/weld/weld-osgi-bundle/" target="" class="regularLink">bundle</a> for that too! If you are getting started, there are a few examples in the <a href="https://sourceforge.net/projects/jboss/files/Weld/1.0.0.CR1/weld-1.0.0.CR1.zip/download" target="" class="regularLink">distribution</a> to guide you. If you are looking for help, try our <a href="http://www.seamframework.org/Community/WeldUsers" target="" class="regularLink">forums</a>, or perhaps join us on <a href="irc://freenode.net/#weld">IRC</a>.
</p>

<p class="wikiPara">
Looking ahead, we'll be releasing a second release candidate in early November, so please <a href="https://jira.jboss.org/jira/browse/WELD" target="" class="regularLink">let</a> <a href="irc://freenode.net/#weld">us</a> <a href="http://www.seamframework.org/Community/WeldUsers" target="" class="regularLink">know</a> about any bugs you find! If you are interested in contributing to Weld, check out the <a href="http://www.seamframework.org/Weld/GuidelinesForWeldDevelopment" target="" class="regularLink">development guidelines</a>. Being an open source contributor can really expand your horizons - plus you get to meet some great people;-)
</p>

<p class="wikiPara">
I want to take this opportunity to thank the numerous people who have helped out with the Web Beans/Weld project over the last year. In no particular order we have: <a href="http://vcard.acm.org/~david.allen" target="" class="regularLink">David Allen</a>, <a href="http://in.relation.to/Bloggers/Dan" target="" class="regularLink">Dan Allen</a> (they swear they are no relation!), Nicklas Karlsson, <a href="http://in.relation.to/Bloggers/Gavin" target="" class="regularLink">Gavin King</a>, <a href="http://in.relation.to/Bloggers/Ales" target="" class="regularLink">Ales Justin</a>, <a href="http://exitcondition.alrubinger.com/" target="" class="regularLink">Andrew Rubinger</a>, <a href="http://blogs.sun.com/kensaks/" target="" class="regularLink">Ken Saks</a>, <a href="http://www.java.net/blogs/rogerk" target="" class="regularLink">Roger Kitain</a>, <a href="http://www.jboss.org/community/people/smcgowan@redhat.com" target="" class="regularLink">Shelly McGowan</a>, <a href="http://kabir-khan.blogspot.com/" target="" class="regularLink">Kabir Kahn</a>, <a href="http://www.jboss.org/community/people/wolfc" target="" class="regularLink">Carlo de Wolf</a>, Takeshi Kondo, <a href="http://in.relation.to/Bloggers/Shane" target="" class="regularLink">Shane Bryzak</a>, Jozef Hartinger, Ondrej Skutka, Karel Pwiko, Marius Bogoevici, <a href="http://www.java.net/blogs/ss141213/" target="" class="regularLink">Sahoo</a>, <a href="http://members.capmac.org/~orb/blog.cgi" target="" class="regularLink">Norman Richards</a>, <a href="http://screamingcoder.com/life/" target="" class="regularLink">Pete Royle</a>, <a href="http://42lines.net/" target="" class="regularLink">Clint Popetz</a>, <a href="http://in.relation.to/Bloggers/Daniel" target="" class="regularLink">Daniel Roth</a> and Rodney Russ.
</p>

<p class="wikiPara">
You'll notice one omission from this release is the reference documentation -- so much has changed recently (support for JSR-330, the rename of both the specification and reference implementation, the metamodel API), that I decided to remove this from this distribution. The first target for the docs will likely be the getting started guide - once we have that up to date, we'll make sure to publish a snapshot!
</p>

<p class="wikiPara">
[<a href="https://sourceforge.net/projects/jboss/files/Weld/1.0.0.CR1/weld-1.0.0.CR1.zip/download" target="" class="regularLink">Weld Download</a>] [<a href="https://sourceforge.net/projects/jboss/files/CDI-TCK/1.0.0.CR1/jsr299-tck-1.0.0.CR1.zip/download" target="" class="regularLink">TCK Download</a>] | [<a href="http://jira.jboss.com/jira/browse/WELD" target="" class="regularLink">Weld JIRA</a>] [<a href="http://jira.jboss.com/jira/browse/CDITCK" target="" class="regularLink">TCK JIRA</a>] | [<a href="http://docs.jboss.org/cdi/api/1.0-CR1/" target="" class="regularLink">JSR-299 Javadoc</a>] [<a href="http://docs.jboss.org/cdi/tck/reference/1.0.0.CR1/html" target="" class="regularLink">CDI TCK Reference Guide</a>] | [<a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?projectId=12310891&amp;styleName=Html&amp;version=12314032" target="" class="regularLink">Weld Release Notes</a>] [<a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?projectId=12310900&amp;styleName=Html&amp;version=12314073" target="" class="regularLink">TCK Release Notes</a>]</p>
</div>

