---
title: "First preview of Web Beans available"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "21-04-2009"
original_tags: [Seam News,Web Beans]
tags: [CDI,Seam]

relative_url: /2009/04/21/first-preview-of-web-beans-available
slug: first-preview-of-web-beans-available
lace: http://in.relation.to/11142.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/04/21/first-preview-of-web-beans-available
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm pleased to announce the release of <a href="http://seamframework.org/WebBeans" target="" class="regularLink">Web Beans (the reference implementation of JSR-299)</a> 1.0.0.PREVIEW. This is our first feature complete milestone of the Java Contexts and Dependency Injection specification!JSR-299 specifies a set of services for the Java EE environment that makes applications much easier to develop. JSR-299 layers an enhanced lifecycle and interaction model over existing Java component types including JavaBeans and Enterprise Java Beans.
</p>

<p class="wikiPara">
New in this release is support for servlet containers (no EJB) such as Tomcat or Jetty, support for Apache Wicket as a view layer and support for using Web Beans with Java SE. This release is also bundled in the upcoming <a href="http://www.jboss.org/jbossas/" target="" class="regularLink">JBoss AS 5.1.0.CR1 release</a>, and <a href="https://glassfish.dev.java.net/" target="" class="regularLink">GlassFish V3 build 46</a> (no EJB support), so you can just download the examples and deploy them!
</p>

<p class="wikiPara">
The <a href="http://www.tardis.ed.ac.uk/~pmuir/webbeans/reference/1.0.0.PREVIEW1/en-US/html/" target="" class="regularLink">Web Beans reference guide</a> has been now been translated into <a href="http://www.tardis.ed.ac.uk/~pmuir/webbeans/reference/1.0.0.PREVIEW1/de-DE/html" target="" class="regularLink">German</a>, <a href="http://www.tardis.ed.ac.uk/~pmuir/webbeans/reference/1.0.0.PREVIEW1/ko-KR/html" target="" class="regularLink">Korean</a>, <a href="http://www.tardis.ed.ac.uk/~pmuir/webbeans/reference/1.0.0.PREVIEW1/zh-TW/html" target="" class="regularLink">Traditional Chinese</a>, <a href="http://www.tardis.ed.ac.uk/~pmuir/webbeans/reference/1.0.0.PREVIEW1/zh-CN/html" target="" class="regularLink">Simplified Chinese</a>, <a href="http://www.tardis.ed.ac.uk/~pmuir/webbeans/reference/1.0.0.PREVIEW1/es-ES/html" target="" class="regularLink">Spanish</a>, <a href="http://www.tardis.ed.ac.uk/~pmuir/webbeans/reference/1.0.0.PREVIEW1/pt-BR/html" target="" class="regularLink">Portugese</a>, and <a href="http://www.tardis.ed.ac.uk/~pmuir/webbeans/reference/1.0.0.PREVIEW1/it-IT/html" target="" class="regularLink">Italian</a>.
</p>

<p class="wikiPara">
The release also includes six examples: for JSF there is a full EE example, with enterprise beans, a war example with simple beans and the login example from the reference docs; there is also a clone of the war example for Wicket, Tomcat and servlet containers. To learn more about JSR-299 and the Web Beans project, I suggest you <a href="http://www.tardis.ed.ac.uk/~pmuir/webbeans/reference/1.0.0.PREVIEW1/en-US/html/" target="" class="regularLink">read the reference guide</a> or browse <a href="http://www.seamframework.org/" target="" class="regularLink">seamframework.org</a>.
</p>

<p class="wikiPara">
This release wouldn't have been possible without the work of a number of people. Thanks go to: Clint Popetz (Wicket support), David Allen (logging), Ales Justin (JBoss integration),  Takeshi Kondo (bug reports), Pete Royle (Java SE support), Andrew Lee Rubinger (EJB integration), João Paulo Viragine (Portugese translation), Sean Wu (Simplified Chinese translation) and Sanjeeb Sahoo (OSGi support).
</p>

<p class="wikiPara">
In detail, this release adds support for:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Servlet containers such as Tomcat or Jetty</li>
<li class="wikiUnorderedListItem"> Java SE</li>
<li class="wikiUnorderedListItem"> Apache Wicket</li>
<li class="wikiUnorderedListItem"> disposal methods</li>
<li class="wikiUnorderedListItem"> Child activities</li>
<li class="wikiUnorderedListItem"> Injection of Java EE resources via beans.xml aliasing</li>
<li class="wikiUnorderedListItem"> OSGi support</li>
<li class="wikiUnorderedListItem"> An injectable logger</li>
<li class="wikiUnorderedListItem"> The ability to gracefully disable services depending on envrionment </li>
</ul>

<p class="wikiPara">
and, previously released in BETA1, provides support for:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> simple beans</li>
<li class="wikiUnorderedListItem"> enterprise beans</li>
<li class="wikiUnorderedListItem"> typesafe and name based resolution</li>
<li class="wikiUnorderedListItem"> producer methods</li>
<li class="wikiUnorderedListItem"> producer fields</li>
<li class="wikiUnorderedListItem"> the dependent context</li>
<li class="wikiUnorderedListItem"> support for JBoss 5</li>
<li class="wikiUnorderedListItem"> the servlet contexts: application, session and request</li>
<li class="wikiUnorderedListItem"> Conversations, including propagation in JSF</li>
<li class="wikiUnorderedListItem"> field and constructor injection</li>
<li class="wikiUnorderedListItem"> @Initializer methods</li>
<li class="wikiUnorderedListItem"> dynamic lookup through @Obtains</li>
<li class="wikiUnorderedListItem"> Event support (firing and observing events)</li>
<li class="wikiUnorderedListItem"> definition of observer methods through annotations</li>
<li class="wikiUnorderedListItem"> injection of event producers</li>
<li class="wikiUnorderedListItem"> conditional events</li>
<li class="wikiUnorderedListItem"> Transactional observers</li>
<li class="wikiUnorderedListItem"> Asynchronous Observers</li>
<li class="wikiUnorderedListItem"> stereotypes</li>
<li class="wikiUnorderedListItem"> support for lifecycle callbacks (@PostConstruct and @PostDestroy)</li>
<li class="wikiUnorderedListItem"> an SPI to integrate with other containers</li>
<li class="wikiUnorderedListItem"> Injection of new instances via @New</li>
<li class="wikiUnorderedListItem"> Support for passivating scope</li>
<li class="wikiUnorderedListItem"> Updates to metadata inheritance rules</li>
<li class="wikiUnorderedListItem"> specialization </li>
<li class="wikiUnorderedListItem"> realization</li>
<li class="wikiUnorderedListItem"> injection point metadata</li>
<li class="wikiUnorderedListItem"> injection via @Resource, @EJB and @PersistenceContext into simple beans</li>
</ul>

<p class="wikiPara">
We'll be moving fast over the next few weeks to deliver another preview (including a Seam bridge and a Spring bridge). Watch this space! If you are interested in learning more about JSR-299 / Web Beans, keep 11am (Pacific) on the 30th April free - I'm doing a <a href="http://wikis.sun.com/display/TheAquarium/JCDI+-+JSR299" target="" class="regularLink">webinar</a> that will take you through the basics of JSR-299 and allow you to ask some questions.
</p>

<p class="wikiPara">
[<a href="http://downloads.sourceforge.net/jboss/webbeans-1.0.0.PREVIEW1.zip" target="" class="regularLink">Download</a>] [<a href="http://www.tardis.ed.ac.uk/~pmuir/webbeans/reference/1.0.0.PREVIEW1/en-US/html/" target="" class="regularLink">Reference Documentation</a> | <a href="http://www.tardis.ed.ac.uk/~pmuir/webbeans/apidocs/1.0.0.PREVIEW1/" target="" class="regularLink">API Javadoc</a> | <a href="http://www.tardis.ed.ac.uk/~pmuir/webbeans/reference/1.0.0.PREVIEW1/de-DE/html" target="" class="regularLink">German</a> | <a href="http://www.tardis.ed.ac.uk/~pmuir/webbeans/reference/1.0.0.PREVIEW1/ko-KR/html" target="" class="regularLink">Korean</a> | <a href="http://www.tardis.ed.ac.uk/~pmuir/webbeans/reference/1.0.0.PREVIEW1/zh-TW/html" target="" class="regularLink">Traditional Chinese</a> | <a href="http://www.tardis.ed.ac.uk/~pmuir/webbeans/reference/1.0.0.PREVIEW1/zh-CN/html" target="" class="regularLink">Simplified Chinese</a> | <a href="http://www.tardis.ed.ac.uk/~pmuir/webbeans/reference/1.0.0.PREVIEW1/es-ES/html" target="" class="regularLink">Spanish</a> | <a href="http://www.tardis.ed.ac.uk/~pmuir/webbeans/reference/1.0.0.PREVIEW1/pt-BR/html" target="" class="regularLink">Portugese</a> | <a href="http://www.tardis.ed.ac.uk/~pmuir/webbeans/reference/1.0.0.PREVIEW1/it-IT/html" target="" class="regularLink">Italian</a>]  [<a href="http://jira.jboss.com/jira/browse/WBRI" target="" class="regularLink">JIRA</a>] [<a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?projectId=12310650&amp;styleName=Html&amp;version=12313150" target="" class="regularLink">Release Notes</a>]
</p>
</div>

