---
title: "Weld logo"
author: "Pete Muir"
blogger_name: "Pete"
layout: blog-post
tags: [Seam News,Weld]
slug: WeldLogo
lace: http://in.relation.to/13154.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/WeldLogo">Weld logo</a>
                    </h1>
</div>
<p class="wikiPara">
<a href="http://www.jboss.org/community/people/james.cobb%40jboss.com" target="" class="regularLink">James</a> and <a href="http://www.jboss.org/community/people/cheyenneweaver" target="" class="regularLink">Cheyenne</a> (from the JBoss.org design team) have been hard at work creating a <a href="http://www.jboss.org/files/jbosslabs/design/weld/index.htm" target="" class="regularLink">logo</a>. We've worked through a few designs, and picked a few that we want to share with the community and get feedback on.
</p>

<p class="wikiPara">
Let <a href="http://tinyurl.com/weldLogoSurvey" target="" class="regularLink">us know</a> what <i class="wikiEmphasis">you</i> think!</p>
</div>
