---
title: "ACL Security in Seam"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "21-01-2009"
tags: [Seam,Seam News]

absolute_url: http://in.relation.to/2009/01/21/ACLSecurityInSeam
lace: http://in.relation.to/10496.lace
slug: ACLSecurityInSeam

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="http://shane.bryzak.com" target="" class="regularLink">Shane</a> just <a href="http://java.dzone.com/articles/acl-security-in-seam" target="" class="regularLink">posted</a> the first part of an article on ACL Security in <a href="http://www.seamframework.org" target="" class="regularLink">Seam</a> 2.1 on DZone.</p>
</div>
