---
title: "JSF Days (Austria) and JAX (Germany)"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "29-03-2009"
tags: []

absolute_url: http://in.relation.to/2009/03/29/JSFDaysAustriaAndJAXGermany
lace: http://in.relation.to/10982.lace
slug: JSFDaysAustriaAndJAXGermany

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
This month I'm presenting at JSF Days in Vienna, Austria on Web Beans, and at JAX in Mainz, Germany on Web Beans and Seam. If you are in the area, drop by!
</p>

<h3 class="wikiHeadline3" id="H-JSFDays"><a href="/Bloggers/JSFDaysAustriaAndJAXGermany#H-JSFDays">JSF Days</a></h3>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">When?</i> 2nd April 2009</li>
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">Where?</i> Vienna, Austria</li>
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">What?</i> Introduction to Web Beans</li>
<li class="wikiUnorderedListItem"> <a href="http://jsfdays.irian.at/main/index.jsf#" target="" class="regularLink">http://jsfdays.irian.at/main/index.jsf#</a>
</li>
</ul>

<h3 class="wikiHeadline3" id="H-JAX"><a href="/Bloggers/JSFDaysAustriaAndJAXGermany#H-JAX">JAX</a></h3>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">When?</i> 22nd and 23rd April 2009</li>
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">Where?</i> Mainz, Germany</li>
<li class="wikiUnorderedListItem"> <i class="wikiEmphasis">What?</i> Introduction to Web Beans (22nd) and Seam 3 (23rd)</li>
<li class="wikiUnorderedListItem"> <a href="http://it-republik.de/jaxenter/jax/" target="" class="regularLink">http://it-republik.de/jaxenter/jax/</a>
</li>
</ul>
</div>
