---
title: "Seam 3 and Web Beans slides from JAX posted"
author: "Pete Muir"
creation_date: "05-05-2009"
blogger_name: "Pete"
layout: blog-post
tags: [Seam,Seam News,Web Beans]
slug: Seam3AndWebBeansSlidesFromJAXPosted
lace: http://in.relation.to/11203.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I've posted the slides from my <q>Seam 3</q> and <q>Introduction to Web Beans</q> sessions:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/service/File/75154" target="" class="regularLink">Introduction to Web Beans</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/service/File/75153" target="" class="regularLink">Seam 3</a>
</li>
</ul>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'Seam3AndWebBeansSlidesFromJAXPosted';
    var disqus_title = 'Seam 3 and Web Beans slides from JAX posted';
    var disqus_url = 'http://in.relation.to/11203.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
