---
title: "Weld logo"
author: "Pete Muir"
creation_date: "25-11-2009"
blogger_name: "Pete"
layout: blog-post
tags: [Seam News,Weld]
slug: WeldLogo
lace: http://in.relation.to/13154.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="http://www.jboss.org/community/people/james.cobb%40jboss.com" target="" class="regularLink">James</a> and <a href="http://www.jboss.org/community/people/cheyenneweaver" target="" class="regularLink">Cheyenne</a> (from the JBoss.org design team) have been hard at work creating a <a href="http://www.jboss.org/files/jbosslabs/design/weld/index.htm" target="" class="regularLink">logo</a>. We've worked through a few designs, and picked a few that we want to share with the community and get feedback on.
</p>

<p class="wikiPara">
Let <a href="http://tinyurl.com/weldLogoSurvey" target="" class="regularLink">us know</a> what <i class="wikiEmphasis">you</i> think!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'WeldLogo';
    var disqus_title = 'Weld logo';
    var disqus_url = 'http://in.relation.to/13154.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
