---
title: "The JSR-299 Reference Implementation gets a new name!"
author: "Pete Muir"
creation_date: "05-10-2009"
blogger_name: "Pete"
layout: blog-post
tags: [Contexts and Dependency Injection,Seam News]
slug: TheJSR299ReferenceImplementationGetsANewName
lace: http://in.relation.to/12500.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm pleased to announce that the Web Beans project has a new name -- <b>Weld</b>
</p>

<p class="wikiPara">
As keen readers of <a href="http://in.relation.to" target="" class="regularLink">in.relation.to</a> will know, this is just the latest in a series of <a href="http://in.relation.to/Bloggers/RevisedPublicDraftOfJSR299JavaContextsAndDependencyInjection#H-TerminologyAndNameChanges" target="" class="regularLink">name</a> <a href="http://in.relation.to/Bloggers/JSR299PublicReviewDraftApprovedByEC" target="" class="regularLink">changes</a> for <a href="http://jcp.org/en/jsr/detail?id=299" target="" class="regularLink">JSR-299</a>. This time around, one of the Java EE vendors had strong objections to the previous name of the reference implementation, and asked us to change it.
</p>

<p class="wikiPara">
After consulting with the committers on the project (those employed by Red Hat, and those in the community), we decided on Weld.
</p>

<p class="wikiPara">
We'll be updating the project (artifact names, package names, documentation, website, JIRA, SVN etc.) over the next week in time for our release which is feature-complete to the Proposed Final Draft 2 (PFD2) of the JSR-299: Contexts and Dependency Injection Specification. We'll send regular updates to the <a href="https://lists.jboss.org/mailman/listinfo/webbeans-dev" target="" class="regularLink">webbeans-dev</a> mailing list (which of course, will need a rename!).
</p>

<p class="wikiPara">
I'll blog again once the rename is done with new URLs, mailing list addresses etc.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'TheJSR299ReferenceImplementationGetsANewName';
    var disqus_title = 'The JSR-299 Reference Implementation gets a new name!';
    var disqus_url = 'http://in.relation.to/12500.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
