---
title: "Future of Component Models in the JBoss Platform"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "12-11-2009"
tags: [Contexts and Dependency Injection,Seam,Seam News,Weld]

relative_url: /2009/11/12/FutureOfComponentModelsInTheJBossPlatform
slug: FutureOfComponentModelsInTheJBossPlatform
lace: http://in.relation.to/12916.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/11/12/FutureOfComponentModelsInTheJBossPlatform
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="http://markclittle.blogspot.com/" target="" class="regularLink">Mark Little</a>, the CTO of <a href="http://jboss.com" target="" class="regularLink">JBoss</a>, <a href="http://blogs.jboss.org/blog/mlittle/2009/11/11/The_future_of_component_models.txt" target="" class="regularLink">blogged</a> about our vision for component models in <a href="http://www.jboss.com/products/" target="" class="regularLink">JBoss platforms</a> - he gives a great overview, describing how <a href="http://seamframework.org" target="" class="regularLink">Seam</a> (and JSR-299/Weld) will form the core programming model.</p>
</div>
