---
title: "Getting started with Weld and JBoss AS 6"
author: "Pete Muir"
creation_date: "08-12-2009"
blogger_name: "Pete"
layout: blog-post
tags: [Seam News,Weld]
slug: GettingStartedWithWeldAndJBossAS6
lace: http://in.relation.to/13393.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I just updated the <a href="http://www.seamframework.org/Documentation/RunningWeldExamplesWithJBossApplicationServer6" target="" class="regularLink">Examples Guide</a> for <a href="http://www.seamframework.org/Download/SeamDownloads#H-WeldAndJSR299TCKReleases" target="" class="regularLink">Weld 1.0</a> on the newly released <a href="http://in.relation.to/Bloggers/IntroducingJBossAS600M1" target="" class="regularLink">JBoss AS 6.0.0.M1</a>, including how to load the projects into Eclipse.
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'GettingStartedWithWeldAndJBossAS6';
    var disqus_title = 'Getting started with Weld and JBoss AS 6';
    var disqus_url = 'http://in.relation.to/13393.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
