---
title: "Future plans for CDI TCK"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "22-11-2009"
tags: [Contexts and Dependency Injection,Seam News]

relative_url: /2009/11/22/future-plans-for-cditck
slug: future-plans-for-cditck
lace: http://in.relation.to/13140.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/11/22/future-plans-for-cditck
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I've <a href="http://www.seamframework.org/Community/ItsNotAboutDependencyInjection#comment103726" target="" class="regularLink">alluded</a> to our plans for the <a href="http://docs.jboss.org/cdi/tck/reference/1.0.0/html/" target="" class="regularLink">CDI TCK</a>, but I wanted to expand upon them. We're pretty proud of the fact that the CDI TCK is <a href="http://www.seamframework.org/Weld/WeldLicensing" target="" class="regularLink">open source</a> (something we share in common with Bean Validation and JSR-330 in the Java EE space), and we intend to treat the TCK like any other open source project (as far as possible within the constraints set by the JCP).
</p>

<p class="wikiPara">
I've just created the <a href="http://anonsvn.jboss.org/repos/weld/cdi-tck/branches/1.0/" target="" class="regularLink">1.0 branch</a> of the TCK, and we will use this branch to deliver TCK bug fixes only (no new tests allowed) to implementers of JSR-299 and the Java EE platform. In general, we won't be working on this branch much :-)
</p>

<p class="wikiPara">
<a href="http://anonsvn.jboss.org/repos/weld/cdi-tck/trunk" target="" class="regularLink">Trunk</a> has been re-versioned to 1.1.x, and will be the place where we place new tests for JSR-299 - we plan to significantly increase our test coverage over the next few weeks. It is totally optional for implementers to use 1.1.x, but we strongly encourage them to as it will increase <i class="wikiEmphasis">their</i> test coverage too. We certainly will use this version for Weld :-)
</p>

<p class="wikiPara">
To ensure we make progress in this area, myself, Shane, Dan and Norman will be adding a couple of tests a week each. Contact us if you are interested in helping out :-)</p>
</div>

