---
title: "Seam and Web Beans downloads temporarily relocated"
author: "Pete Muir"
creation_date: "02-07-2009"
blogger_name: "Pete"
layout: blog-post
tags: [Seam,Seam News,Web Beans]
slug: SeamAndWebBeansDownloadsTemporarilyRelocated
lace: http://in.relation.to/11960.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
UPDATE: The files are now back on SourceForge, but the links take you to the general JBoss page - search for Seam or Web Beans.
</p>

<p class="wikiPara">
This is a known issue and should be fixed tomorrow.
</p>

<hr>

<p class="wikiPara">
Unfortunately a hiccup with SourceForge has meant that Seam and Web Beans downloads are currently unavailable - please bear with us while we sort it out.
</p>

<p class="wikiPara">
In the meantime, I've put the latest releases of Seam and Web Beans up on another server:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://snapshots.jboss.org/maven2/org/jboss/webbeans/webbeans-distribution/1.0.0.PREVIEW1/webbeans-distribution-1.0.0.PREVIEW1.zip" target="" class="regularLink">Web Beans 1.0.0.PREVIEW1</a>
</li>
<li class="wikiUnorderedListItem"> Seam 2.1.2.GA (watch this space)</li>
<li class="wikiUnorderedListItem"> Seam 2.2.0.CR1 (watch this space)</li>
</ul>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'SeamAndWebBeansDownloadsTemporarilyRelocated';
    var disqus_title = 'Seam and Web Beans downloads temporarily relocated';
    var disqus_url = 'http://in.relation.to/11960.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
