---
title: "Weld extensions alpha available"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "11-03-2010"
original_tags: [Weld]
tags: [Weld]

relative_url: /2010/03/11/weld-extensions-alpha-available
slug: weld-extensions-alpha-available
lace: http://in.relation.to/14781.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/03/11/weld-extensions-alpha-available
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Weld Extensions is set of portable services and utility classes for CDI which make up a good base layer for extension and application development. You can read more about the sort of portable extensions we are planning <a href="http://java.dzone.com/articles/coming-java-ee-extensions-jsr" target="" class="regularLink">in this interview</a> I gave.
</p>

<h3 class="wikiHeadline3" id="H-InjectableLogger"><a href="/2010/03/11/weld-extensions-alpha-available#H-InjectableLogger">Injectable Logger</a></h3>

<p class="wikiPara">
Weld extensions includes an injectable logger, based on slf4j. By default, the fully qualified class name will be used as the category:
</p>

<pre class="wikiPreformatted brush: java;">class Sparrow {
   @Inject
   private Logger log;

   ...
}</pre>


<p class="wikiPara">
Alternatively you can specify a category:
</p>

<pre class="wikiPreformatted brush: java;">class Finch
{
   @Inject @Category("Finch")
   private Logger log;
   
   ...
}</pre>


<h3 class="wikiHeadline3" id="H-ManagedResourceStreams"><a href="/2010/03/11/weld-extensions-alpha-available#H-ManagedResourceStreams">Managed Resource Streams</a></h3>

<p class="wikiPara">
Weld extensions also contains managed resource streams (the stream is automatically closed for you when the bean goes out of scope) for resources loaded from the classpath:
</p>

<pre class="wikiPreformatted brush: java;">@RequestScoped
class ResourceClient {
   
   @Inject @Resource("/META-INF/config.xml") 
   InputStream inputStream;

   public void parse() {
      // TODO Parse the inputStream!
   }
}</pre>


<p class="wikiPara">
Here the stream will be closed for you when the request ends. Of course, you often don't know the file name you want to parse at development time, so you can also specify the name at runtime:
</p>

<pre class="wikiPreformatted brush: java;">@SessionScoped
class ResourceClient {
   
   @Inject ResourceProvider resourceProvider;

   public void parse(String fileName) {
      InputStream is = resourceProvider.loadResourceAsStream(fileName);
      // TODO parse the XML!
   }
}</pre>


<p class="wikiPara">
Here, the stream will be closed for you when the session is destroyed. 
</p>

<p class="wikiPara">
At the moment, only loading resources from the classpath is supported, but we'll add support for loading resources from the servlet context soon. As you can see, this can greatly simplyfy using input streams!
</p>

<h3 class="wikiHeadline3" id="H-ExtensionsToTheCoreCDIProgrammingModel"><a href="/2010/03/11/weld-extensions-alpha-available#H-ExtensionsToTheCoreCDIProgrammingModel">Extensions to the core CDI programming model</a></h3>

<p class="wikiPara">
Gavin has blogged about a number of improvements to the CDI programming model, some of which are available in this release. Included are:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/Weld/PortableExtensionsPackage#H-BeanDeclarationAtConstructorLevel" target="" class="regularLink">Bean declaration at the constructor level</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/Weld/PortableExtensionsPackage#H-TtExactttQualifier" target="" class="regularLink">The exact qualifier</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/Weld/PortableExtensionsPackage#H-CompoundNameDefaulting" target="" class="regularLink">Compound name defaulting</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/Weld/PortableExtensionsPackage#H-GenericBeans" target="" class="regularLink">Generic beans</a>
</li>
</ul>

<p class="wikiPara">
The extensions package <a href="http://repo2.maven.org/maven2/org/jboss/weld/weld-extensions/1.0.0.Alpha1/" target="" class="regularLink">is currently available in Maven</a>, and we welcome feedback, either in the <a href="http://www.seamframework.org/Community/WeldUsers" target="" class="regularLink">Weld forum</a> or in <a href="https://jira.jboss.org/jira/browse/WELDX" target="" class="regularLink">JIRA</a>. Thanks for this release go to David Allen for the injectable logger and to Gavin King and Stuart Douglas for the extensions to the core CDI programming model.</p>
</div>

