---
title: "The CDI Extensions directory"
author: "Pete Muir"
blogger_name: "Pete"
layout: blog-post
tags: [Contexts and Dependency Injection,Seam 3,Seam News]
slug: TheCDIExtensionsDirectory
lace: http://in.relation.to/15802.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/TheCDIExtensionsDirectory">The CDI Extensions directory</a>
                    </h1>
</div>
<p class="wikiPara">
Portability is one of greatest advantages of the Java platform. It represents the concept that from one application to another, from one application-server vendor to another, and from one job to another, knowledge is freely transferable; the same skills, technologies, and designs can be used with assurance that there are always multiple choices for business solutions.
</p>

<p class="wikiPara">
Often times, in the world of open-source standards, we find ourselves solving similar problems in many places, sometimes leading to innovation, but frequently leading to frustration; this is where the world of portability takes on new meaning - with portable extensions to <a href="http://docs.jboss.org/weld/reference/1.0.1-Final/en-US/html/intro.html" target="" class="regularLink">Contexts and Dependency Injection for Java EE (CDI)</a>.
</p>

<p class="wikiPara">
Portable Extensions are usable on any Servlet container, application-server, or Java runtime; learn once, run anywhere - the same promise that Java guarantees.
</p>

<p class="wikiPara">
<a href="http://www.seamframework.org/Seam3/Home" target="" class="regularLink">Seam 3</a> represents our pick of the best CDI extensions including like custom web-application security, web-flow engines, internationalization and localization, simplified web-page development, and even mail templating or document generation - business needs that nearly every application developer must provide, <i class="wikiEmphasis">but that nobody should need to re-invent</i>.
</p>

<p class="wikiPara">
But sometimes, you'll want something different, and that is why we have created the <a href="http://groups.diigo.com/groups/cdi-extensions" target="" class="regularLink">CDI Extensions Directory</a> - where <i class="wikiEmphasis">anybody</i> can link their extension. These extensions might be a jar you can drop into your application through to an example someone threw together for a blog.
</p>

<p class="wikiPara">
We encourage anyone who has written an extension to add a link in the directory, so that everyone can take advantage of it!
</p>

</div>
