---
title: "Seam and Weld leadership changes"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "14-12-2010"
tags: [Contexts and Dependency Injection,Seam News,Weld]

relative_url: /2010/12/14/seam-and-weld-leadership-changes
slug: seam-and-weld-leadership-changes
lace: http://in.relation.to/17910.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/12/14/seam-and-weld-leadership-changes
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We've decided to make a few changes to the leadership of the Seam and Weld projects, the reasons for which I'll outline in this blog post. First however, let me give you the headline changes!
</p>

<p class="wikiPara">
Shane Bryzak will be at the helm of Seam 3, driving it to a 3.0 release in Q1 2011. Shane has worked on Seam since Seam 1.0 (in fact since February 2006), and has proven himself time and again - he is the author of Seam Security, perhaps Seam's most important feature and he worked tirelessly on the CDI TCK giving him a great knowledge of the foundations of Seam 3.
</p>

<p class="wikiPara">
Marek Novotny, who has responsibility for Seam in the JBoss EAP platform, will take the reins for making sure Seam 2 runs on JBoss AS 6, in effect he's been doing this for months now!
</p>

<p class="wikiPara">
Ales Justin will take on Weld. Ales led the development effort for the kernel of JBoss AS 5 and 6, meaning he has a very strong understanding of bean containers and also of how app servers fit together - which are certainly the two key skills needed. I can't think of anyone better suited to take Weld to the next level.
</p>

<p class="wikiPara">
I'll  be moving to <a href="http://jboss.org/infinispan" target="" class="regularLink">Infinispan</a>, <a href="http://www.inf.ed.ac.uk/publications/thesis/online/IM050248.pdf" target="" class="regularLink">an area I've always been interested in</a>; starting on the 10th January.
</p>

<p class="wikiPara">
Shane and Ales will blog soon to give you a flavour of where they intend to take the projects, so keep an eye out for that.
</p>

<p class="wikiPara">
Seam's sister projects such as Arquillian, and our recent efforts around Forge are both future stars, and I trust both Aslak (Arquillian) and Lincoln (Forge) at their helm.
</p>

<p class="wikiPara">
So, why are we doing this? It's quite simple really. After 4 years on the Seam project (my first commit was <a href="http://www.ohloh.net/p/Seam/commits/39350373" target="" class="regularLink">January 2007</a> I've reached the point where I am ready to tackle some new challenges. My move rippled through, causing us to look at each of the projects I have had a hand in and consider who would be best to take on each one.
</p>

<p class="wikiPara">
I'll also be keeping my hand in with Seam and Weld; Red Hat plans to submit a JSR for CDI 1.1 shortly (with myself as EG lead), aligned with the Java EE timeframe (functionality complete in Q1 2011, with the final in Q3 2011). In general we're very happy with CDI 1.0 and don't feel there's a need for extensive new functionality in CDI 1.1. Instead, we'll be focusing on improvements and clarifications to areas of the spec we've identified as hurdles for both application developers and those writing portable extensions. Watch this space for more on this topic in the next month or so.</p>
</div>

