---
title: "JBoss World 2010"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "12-04-2010"
tags: [Seam News]

relative_url: /2010/04/12/JBossWorld2010
slug: JBossWorld2010
lace: http://in.relation.to/15134.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/04/12/JBossWorld2010
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The schedules for <a href="http://www.redhat.com/promo/summit/2010/sessions/jboss.html" target="" class="regularLink">JBoss World</a> and <a href="http://www.jboss.org/events/JUDCon/schedule.html" target="" class="regularLink">JUDCon</a> have now been finalised. I'll be talking about how the Java EE 6 programming model at JUDCon; I'll present the model and also look at directions the platform is likely to take. At JBoss World <a href="http://www.redhat.com/promo/summit/2010/speakers/session.html#dallen" target="" class="regularLink">Dan</a> and <a href="http://www.redhat.com/promo/summit/2010/speakers/session.html#pmuir" target="" class="regularLink">I</a> will lay out the <a href="http://www.redhat.com/promo/summit/2010/sessions/jboss.html#546873" target="" class="regularLink">roadmap for Seam 3</a> and show you how it harnesses the innovations of Java EE 6 to provide a loosely coupled collection of portable extensions for Servlet containers and Java SE as well as Java EE 6. We also have a <a href="http://www.redhat.com/promo/summit/2010/sessions/jboss.html#523000" target="" class="regularLink">BOF covering Seam and RichFaces</a> (hosted by Dan, Jay and myself, with as many guests as we coerce into coming!) - so start thinking up those tough questions :-D
</p>

<p class="wikiPara">
<a href="http://www.redhat.com/promo/summit/2010/" target="" class="regularLink">JBoss World</a> is in Boston this year, and runs for four days between 22 and 25th June. It's co-located with Red Hat Summit again this year, and there are about 50 sessions on JBoss technologies. There are a host of other sessions from fellow <a href="http://in.relation.to/Bloggers/Everyone" target="" class="regularLink">in.relation.to</a> bloggers, including Dan, Jay, Jason, Emmanuel and Max.
</p>

<p class="wikiPara">
<a href="http://www.jboss.org/events/JUDCon.html" target="" class="regularLink">JUDCon</a> is a new conference aiming to connect JBoss Users and Developers, with highly technical presentations. The first JUDCon is happening in the same venue as JBoss World in Boston, and runs the day before JBoss World starts - admission is free (but register now as attendance is limited)! It's up to all of us (Red Hat engineers assigned to JBoss projects, community contributors and users) to make this conference a run-away success, so I encourage you to attend, or, better yet, to submit a presentation on your favourite piece of JBoss technology.
</p>

<p class="wikiPara">
Look forward to seeing you there!</p>
</div>
