---
title: "Seam Forge introduction"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "21-10-2010"
original_tags: [Seam Forge,Seam News]
tags: [Seam]

relative_url: /2010/10/21/seam-forge-introduction
slug: seam-forge-introduction
lace: http://in.relation.to/17503.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/10/21/seam-forge-introduction
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Lincoln Baxter and Mike Brock have been working away on our next generation RAD tooling for rapidly scaffolding applications. Seam Forge is different because it allows anyone to interact with the project via plugins written using CDI.
</p>

<p class="wikiPara">
Lincoln gave a great overview of progress and architecture at the Seam development meeting today. We captured the presentation, so if you are interested in tooling for Seam 3, or looking to add a project generation for your framework (due to the extreme pluggability, Seam Forge can be adapted to generate projects for anything), then you should check out the <a href="https://sas.elluminate.com/p.jnlp?psid=2010-10-21.0709.M.390C7DEAB81485CE3EDBCDCC98DD29.vcr&amp;sid=819" target="" class="regularLink">recording</a>!</p>
</div>

