---
title: "Community Liaison"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "11-03-2010"
tags: [Seam News]

absolute_url: http://in.relation.to/2010/03/11/CommunityLiaison
lace: http://in.relation.to/14779.lace
slug: CommunityLiaison

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I want to spend a moment introducing you to a team restructuring we're undertaking for the Seam and Weld projects. We have decided to consolidate the community-focused roles that various people have held in the past to a single person. Whilst I (as project lead) am often focused on architecture, making sure releases happen on time, and coordinating the various contributors, the community liaison is more focused on making sure the project is both easy to consume by the community and easy to contribute ideas and code into.
</p>

<p class="wikiPara">
Briefly, the community liaison for Weld and Seam will be responsible for taking an overview of the electronic and in-person resources. This could include maintaining a directory of blogs about Seam and Weld or identifying that there are a lot of new users struggling with a particular area through to ensuring that we have a good spread of content types (e.g. screencasts, conference appearances, reference docs etc.). You can read more about the role in the <q><a href="http://www.seamframework.org/Community/CommunityLiaison" target="" class="regularLink">job description</a></q> on <a href="http://seamframework.org" target="" class="regularLink">seamframework.org</a>.
</p>

<blockquote class="wikiBlockquote">
<i class="wikiEmphasis">Please do not confuse the community liaison for Weld and Seam with the <a href="http://community.jboss.org/people/newtonm" target="" class="regularLink">Community Leader of JBoss.org, Mark Newton</a>. As head of JBoss.org, Mark oversees all of the JBoss.org websites, projects and community members. The role described in this blog is more fine-grained, focused specifically on the interaction between the Seam and Weld teams and its community members and contributors.</i>
</blockquote>

<p class="wikiPara">
We're currently planning this to be a rotating position that a full time project member occupies. <a href="http://in.relation.to/Bloggers/Dan" target="" class="regularLink">Dan Allen</a> will be the first in the hot seat.</p>
</div>
