---
title: "Java EE 6 and CDI"
author: "Pete Muir"
blogger_name: "Pete"
layout: blog-post
tags: [Contexts and Dependency Injection,Java EE 6,Seam News]
slug: JavaEE6AndCDI
lace: http://in.relation.to/17423.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/JavaEE6AndCDI">Java EE 6 and CDI</a>
                    </h1>
</div>
<p class="wikiPara">
Dan did a webinar yesterday looking at Java EE 6 and CDI, showing how it can be used to improve your application development.
</p>

<p class="wikiPara">
<a href="http://bit.ly/aIcfsD" target="" class="regularLink">Check it out!</a></p>
</div>
