---
title: "Upcoming Talks on Seam"
author: "Pete Muir"
creation_date: "23-09-2010"
blogger_name: "Pete"
layout: blog-post
tags: [Seam,Seam 3,Seam News]
slug: UpcomingTalksOnSeam
lace: http://in.relation.to/17162.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Just a brief note to mention a couple of conferences where I'll be talking about Seam 3, and diving into how you can build rich apps taking advantage of some of the recent cloud technologies from JBoss (such as Infinispan and EC2 images). Next week you can catch me at <a href="http://jaxlondon.com/2010/speaker/#3790" target="" class="regularLink">JAXLondon</a> on Tuesday at 11:45 AM.
</p>

<p class="wikiPara">
I'll also be speaking at <a href="http://www.jboss.org/events/JUDCon/JUDCon2010Berlin/agenda.html" target="" class="regularLink">JUDCon in Berlin</a> on Thursday 7th October at 16:30. The line up for JUDCon (Red Hat's developer orientated conference for developers) looks pretty good - of course, there are the obligatory Infinispan talks, an exposition of how to use CDI with GWT, an update on jBPM 5, and a chance to learn how use Arquillian to test apps in the cloud. It's one of the better value conferences out there at €132 for two full days - so go and <a href="http://www.jboss.org/events/JUDCon/JUDCon2010Berlin/registration.html" target="" class="regularLink">register</a>!</p>
</div>
