---
title: "CDI RefCard available"
author: "Pete Muir"
creation_date: "18-01-2010"
blogger_name: "Pete"
layout: blog-post
tags: [Contexts and Dependency Injection,Seam News]
slug: CDIRefCardAvailable
lace: http://in.relation.to/14008.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="http://members.capmac.org/~orb/blog.cgi" target="" class="regularLink">Norman Richards</a> has been busy working on a reference card for <a href="http://jcp.org/en/jsr/detail?id=299" target="" class="regularLink">JSR-299: Contexts and Dependency Injection</a> recently. DZone just published it so go and <a href="http://refcardz.dzone.com/refcardz/contexts-and-depencency?oid=hom16925" target="" class="regularLink">check it out</a>!
</p>

<p class="wikiPara">
Great work Norman :-)</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'CDIRefCardAvailable';
    var disqus_title = 'CDI RefCard available';
    var disqus_url = 'http://in.relation.to/14008.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
