---
title: "Seam 3 interview"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "18-10-2010"
tags: [Seam 3,Seam News]

relative_url: /2010/10/18/Seam3Interview
slug: Seam3Interview
lace: http://in.relation.to/17467.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/10/18/Seam3Interview
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Whilst at JUDCon 2010:Berlin, <a href="http://twitter.com/michaelschuetz" target="" class="regularLink">Michael Schuetz</a> interviewed me about Seam 3. We covered the current status of the project, development challenges and what you can expect from Seam 3. You can read the whole interview <a href="http://jaxenter.com/seam-3-interview.1-32253.html" target="" class="regularLink">here</a>
</p>

<p class="wikiPara">
Thanks Michael!</p>
</div>

