---
title: "Seam 3 slides, Arquillian slides and Seam whitepaper"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "11-05-2010"
tags: [Arquillian,Seam,Seam 3,Seam News]

relative_url: /2010/05/11/seam-3-slides-arquillian-slides-and-seam-whitepaper
slug: seam-3-slides-arquillian-slides-and-seam-whitepaper
lace: http://in.relation.to/15495.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/05/11/seam-3-slides-arquillian-slides-and-seam-whitepaper
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I had the opportunity to present <a href="http://seamframework.org" target="" class="regularLink">Seam</a> and <a href="http://jboss.org/arquillian" target="" class="regularLink">Arquillian</a> to an enthusiastic audience in <a href="http://www.jbossinbossa.com.br/" target="" class="regularLink">São Paulo on Saturday</a> - I also saw a really nice presentation from <a href="http://twitter.com/salaboy" target="" class="regularLink">Mauricio Salatino</a> and <a href="http://twitter.com/porcelli" target="" class="regularLink">Alexandre Porcelli</a> explaining very clearly why you should use Drools - hopefully they will post a screencast   If you were at the event, and wanted a copy of the slides (or if you are just interested), here they are:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://in.relation.to/service/File/15494" target="" class="regularLink">Building Java EE 6 application using Seam</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://in.relation.to/service/File/15491" target="" class="regularLink">Real World Java EE testing</a>
</li>
</ul>

<p class="wikiPara">
I also just received news that the Red Hat have published a <a href="http://www.jboss.com/pdf/JB_Seam_RIAdevFW_2116957_0510_cw_web.pdf" target="" class="regularLink">whitepaper</a> on Seam - it's been written by <a href="http://solutionsfit.com/blog/" target="" class="regularLink">Jacob Orshalick</a>, who co-authored the <a href="http://www.amazon.com/gp/product/0137129394?ie=UTF8&amp;tag=solutionsfitc-20&amp;linkCode=as2&amp;camp=1789&amp;creative=9325&amp;creativeASIN=0137129394" target="" class="regularLink">Seam Framework book</a> and is a seam contributor. Good work Jacob!</p>
</div>

