---
title: "CDI RefCard available"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "18-01-2010"
tags: [Contexts and Dependency Injection,Seam News]

absolute_url: http://in.relation.to/2010/01/18/CDIRefCardAvailable
lace: http://in.relation.to/14008.lace
slug: CDIRefCardAvailable

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="http://members.capmac.org/~orb/blog.cgi" target="" class="regularLink">Norman Richards</a> has been busy working on a reference card for <a href="http://jcp.org/en/jsr/detail?id=299" target="" class="regularLink">JSR-299: Contexts and Dependency Injection</a> recently. DZone just published it so go and <a href="http://refcardz.dzone.com/refcardz/contexts-and-depencency?oid=hom16925" target="" class="regularLink">check it out</a>!
</p>

<p class="wikiPara">
Great work Norman :-)</p>
</div>
