---
title: "Weld 1.0.1 and CDI TCK 1.0.1 published"
author: "Pete Muir"
creation_date: "24-02-2010"
blogger_name: "Pete"
layout: blog-post
tags: [Contexts and Dependency Injection,Seam News,Weld]
slug: Weld101AndCDITCK101Published
lace: http://in.relation.to/14435.lace
---
<div id="documentDisplay" class="documentDisplay">


<b>UPDATE: The artifacts are now published to the Maven Central Repository (apologies, I forgot to hit the <q>promote</q> button).</b>

<p class="wikiPara">
I'm pleased to say that we have completed the 1.0.1 release of Weld, the reference implementation of JSR-299: Contexts and Dependency Injection for Java EE.  It's based on the <a href="http://docs.jboss.org/cdi/api/1.0-SP1/" target="" class="regularLink">CDI 1.0 API</a>. So go get it!. You can find direct download links at the bottom of this post or you can pull the artifacts from the <a href="http://repo1.maven.org/maven2/org/jboss/weld" target="" class="regularLink">Maven Central Repository</a>.
</p>

<p class="wikiPara">
With that out of the way, let's look at what's new and noteworthy in this release.
</p>

<h2 class="wikiHeadline2" id="H-ReleaseNotes"><a href="/Bloggers/Weld101AndCDITCK101Published#H-ReleaseNotes">Release notes</a></h2>

<p class="wikiPara">
In this release we've focused on bug fixing, as well as scalability improvements. Extensive profiling of memory usage has resulted in some good improvements (more to come), and we've added clustering tests to the project for JBoss AS 6.
</p>

<p class="wikiPara">
Thanks go to the whole Weld team!
</p>

<h3 class="wikiHeadline3" id="H-GoogleAppEngine"><a href="/Bloggers/Weld101AndCDITCK101Published#H-GoogleAppEngine">Google App Engine</a></h3>

<p class="wikiPara">
If you're a fan of <a href="http://code.google.com/appengine/" target="" class="regularLink">Google App Engine</a> (GAE), or just looking to experiment with it (using CDI, of course!), we have really exciting news for you! Weld now has basic support for running on Google's scalable infrastructure. And just to prove it to you, we gave the Weld numberguess example its own <a href="http://weld-numberguess.appspot.com" target="" class="regularLink">appspot</a>, where it's currently running the latest version of Weld.
</p>

<p class="wikiPara">
If you want to get your own CDI + JSF 2 application running on Google App Engine, Shane Bryzak has done a fantastic job of showing you how to <a href="/Bloggers/WeldJSF20AndGoogleAppEngineNavigatingTheMinefieldPart1" target="" class="regularLink">navigate the minefield</a> to arrive at a successful GAE deployment. He takes you through App Engine signup, installation of the App Engine SDK plugin in Eclipse, the required CDI and JSF configurations and libraries and, finally, deployment.
</p>

<h3 class="wikiHeadline3" id="H-WeldSE"><a href="/Bloggers/Weld101AndCDITCK101Published#H-WeldSE">Weld SE</a></h3>

<p class="wikiPara">
Weld 1.0.1 brings improvements to the Java SE support, most notably allowing programmatic instantiation of the container (i.e., <tt>new Weld()</tt>). I'll let the following code do the talking:
</p>

<pre class="wikiPreformatted">Weld weld = new Weld().initialize();
weld.instance().select(Foo.class).get();
weld.event().select(Bar.class).fire(new Bar());
weld.shutdown();</pre>


<h3 class="wikiHeadline3" id="H-CDITCK"><a href="/Bloggers/Weld101AndCDITCK101Published#H-CDITCK">CDI TCK</a></h3>

<p class="wikiPara">
The CDI TCK (1.0.1) is also available, and includes quite a few fixes to the tests which both the <a href="http://glassfish.dev.java.net/" target="" class="regularLink">GlassFish</a> and the <a href="http://openwebbeans.apache.org/" target="" class="regularLink">OpenWebBeans</a> teams reported. Thanks to both groups for their work on this!
</p>

<h2 class="wikiHeadline2" id="H-WhatsAroundTheCorner"><a href="/Bloggers/Weld101AndCDITCK101Published#H-WhatsAroundTheCorner">What's around the corner?</a></h2>

<p class="wikiPara">
In the 1.0.2 release you can expect more work on memory usage, performance profiling as well as bug fixes. We'll also be working on improving support for Jetty and Tomcat. You can expect to see 1.0.2 in around 3 months time.
</p>

<p class="wikiPara">
However our main focus is now on <a href="http://seamframework.org/Documentation/Seam3Modules" target="" class="regularLink">developing Seam 3</a>, a collection of portable extensions for CDI and Java EE 6!
</p>

<h2 class="wikiHeadline2" id="H-JBossAS6Milestone2"><a href="/Bloggers/Weld101AndCDITCK101Published#H-JBossAS6Milestone2">JBoss AS 6 Milestone 2</a></h2>

<p class="wikiPara">
It's important for you to know that this version of Weld is not in JBoss AS 6 Milestone 2. To use Weld 1.0.1 with JBoss AS, you can update JBoss AS 6 M2:
</p>

<pre class="wikiPreformatted">JBOSS_HOME=/path/to/jboss-as-6 mvn -f jboss-as/pom.xml</pre>


<h2 class="wikiHeadline2" id="H-AboutWeld"><a href="/Bloggers/Weld101AndCDITCK101Published#H-AboutWeld">About Weld</a></h2>

<p class="wikiPara">
<a href="http://seamframework.org/Weld" target="" class="regularLink">Weld</a> is used in <a href="http://glassfish.dev.java.net" target="" class="regularLink">GlassFish V3</a> and the <a href="http://jboss.org/jbossas/" target="" class="regularLink">JBoss AS 6</a> series. Weld also has support for Servlet containers such as <a href="http://tomcat.apache.org" target="" class="regularLink">Tomcat</a> and <a href="http://www.mortbay.org/jetty/" target="" class="regularLink">Jetty</a>. While JSF support is built in, you also have the option to use <a href="http://wicket.apache.org" target="" class="regularLink">Wicket</a> as your view layer or even Swing and JavaFX through the Java SE support. If you are an OSGi fan, there's a <a href="http://repo1.maven.org/maven2/org/jboss/weld/weld-osgi-bundle/" target="" class="regularLink">bundle</a> for that too.
</p>

<p class="wikiPara">
If you are just getting started, there are a few examples in the <a href="https://sourceforge.net/projects/jboss/files/Weld/1.0.1-Final/weld-1.0.1-Final.zip/download" target="" class="regularLink">distribution</a> to guide you (look for instructions in the reference guide, and each example has a <tt>readme.txt</tt>). If you are looking for help, try our <a href="http://www.seamframework.org/Community/WeldUsers" target="" class="regularLink">user forums</a>, or perhaps join us on <a href="irc://freenode.net/#weld">IRC</a>.
</p>

<p class="wikiPara">
[ Distribution (<a href="https://sourceforge.net/projects/jboss/files/Weld/1.0.1.Final/weld-1.0.1-Final.zip/download" target="" class="regularLink">Weld</a>, <a href="https://sourceforge.net/projects/jboss/files/CDI-TCK/1.0.1.Final/jsr299-tck-1.0.1-Final-dist.zip/download" target="" class="regularLink">CDI TCK</a>) ] | [ Release Notes (<a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?projectId=12310891&amp;styleName=Html&amp;version=12314457" target="" class="regularLink">Weld 1.0.1-Final</a>, <a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?projectId=12310900&amp;styleName=Html&amp;version=12314455" target="" class="regularLink">CDI TCK 1.0.1-Final</a>) ] | [ Reference Guide (<a href="http://docs.jboss.org/weld/reference/1.0.1-Final/en-US/html" target="" class="regularLink">Weld</a>, <a href="http://docs.jboss.org/cdi/tck/reference/1.0.1-Final/html/" target="" class="regularLink">CDI TCK</a> ] | [ <a href="http://jira.jboss.com/jira/browse/WELD" target="" class="regularLink">Issue Tracker</a> ] | [ <a href="http://docs.jboss.org/cdi/api/1.0-SP1/" target="" class="regularLink">CDI Javadoc</a> ]</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'Weld101AndCDITCK101Published';
    var disqus_title = 'Weld 1.0.1 and CDI TCK 1.0.1 published';
    var disqus_url = 'http://in.relation.to/14435.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
