---
title: "Happy New Year!"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "14-01-2010"
tags: [Seam,Seam News,Weld]

relative_url: /2010/01/14/HappyNewYear
slug: HappyNewYear
lace: http://in.relation.to/13968.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/01/14/HappyNewYear
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Happy New Year everyone!
</p>

<p class="wikiPara">
I got a cool present in my email today -- the JBoss.org design team have put <a href="http://www.cafepress.com/jbossorg/7028333" target="" class="regularLink">Seam</a> and <a href="http://www.cafepress.com/jbossorg/7031139" target="" class="regularLink">Weld</a> <a href="http://www.cafepress.com/jbossorg.426626434" target="" class="regularLink">t-shirts</a>, <a href="http://images1.cafepress.com/product/427027281v2_150x150_Back.jpg" target="" class="regularLink">mugs</a> and <a href="http://images2.cafepress.com/product/426626422v2_150x150_Front.jpg" target="" class="regularLink">badges</a> into the JBoss Community Shop, and posted <a href="https://www.jboss.org/coolstuff/desktopwallpapers/weld.html" target="" class="regularLink">wallpapers</a> for Weld.
</p>

<p class="wikiPara">
They've also posted the final <a href="http://www.jboss.org/files/jbosslabs/design/weld/logo/images/weld_icon_64x.gif" target="" class="regularLink">logo</a> and <a href="http://www.jboss.org/files/jbosslabs/design/weld/banner/images/weld_banner.png" target="" class="regularLink">banner</a> for Weld - you'll start to see these used more. Thanks to everyone who gave feedback - very useful :-)</p>
</div>

