---
title: "The timeline for Seam 3"
author: "Pete Muir"
creation_date: "22-04-2010"
blogger_name: "Pete"
layout: blog-post
tags: [Seam,Seam 3,Seam News]
slug: TheTimelineForSeam3
lace: http://in.relation.to/15261.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
At the last <a href="/Bloggers/Seam3DesignMeetings" target="" class="regularLink">Seam meeting</a> we ran over the the time line for Seam 3.0 release. We are aiming to have development finished by mid June, spend a month polishing up the documentation and examples, and have a release candidate ready for you to try out in mid July.
</p>

<p class="wikiPara">
Seam 3.0 will contain: 
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/Seam3/DroolsModule" target="" class="regularLink">Drools 5 integration</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/Seam3/FacesModule" target="" class="regularLink">Additional JSF 2 support</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/Seam3/InternationalModule" target="" class="regularLink">Internationalization support</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/Seam3/SecurityModule" target="" class="regularLink">Seam Security</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/Seam3/XMLBeanConfigModule" target="" class="regularLink">XML Bean Config</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/Documentation/Seam3Modules#H-SeamApplicationFrameworkLedByGavinKing" target="" class="regularLink">The Seam Application Framework</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/Documentation/Seam3Modules#H-JBPMSupportLedByPiotrSteiningerWithJoramBarezAndPeteMuir" target="" class="regularLink">jBPM 3 support</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/Documentation/Seam3Modules#H-JAXRSIntegrationLedByJozefHartinger" target="" class="regularLink">Additional support for JAX-RS</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/Documentation/Seam3Modules#H-ServletSupportLedByNicklasKarlssonAndLincolnBaxter" target="" class="regularLink">Additional support for Servlet</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/Seam3/PersistenceModule" target="" class="regularLink">Seam managed transactions and seam persistence contexts</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/Seam3/PersistenceModule" target="" class="regularLink">Support for transactions in Servlet Containers</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/Seam3/RemotingModule" target="" class="regularLink">Javascript Remoting</a>
</li>
</ul>

<p class="wikiPara">
and, if available in time:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/Seam3/JMSModule" target="" class="regularLink">JMS events bridge</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/Documentation/Seam3Modules#H-GWTViaErraiBusLedByHeikoBraunAndPeteMuir" target="" class="regularLink">Support for Errai/GWT</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/Documentation/Seam3Modules#H-SchedulingLedByPeteRoyle" target="" class="regularLink">Scheduling support, including asynchronous events</a>
</li>
</ul>

<p class="wikiPara">
Looking ahead, we're aiming to release Seam 3.1 around Christmas, which will likely add support for:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/Documentation/Seam3Modules#H-Seam2BackwardsCompatibilityLeadNeeded" target="" class="regularLink">Seam 2 Backwards Compatibility</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/Documentation/Seam3Modules#H-SpringIntegrationLedByMariusBogoevici" target="" class="regularLink">Spring Integration</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/Documentation/Seam3Modules#H-DocumentManagementLedByNicklasKarlssonWithNormanRichardsTomazCerarAndDanielRoth" target="" class="regularLink">Reporting (Excel and PDF support)</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://www.seamframework.org/Documentation/Seam3Modules#H-JBossESB5IntegrationLedByKevConnorAndPeteMuir" target="" class="regularLink">Support for JBoss ESB</a>
</li>
<li class="wikiUnorderedListItem"> Provisionally, support for <a href="http://enterprisebpm.blogspot.com/2010/04/announcing-jbpm-5.html" target="" class="regularLink">jBPM 5</a>
</li>
</ul>

<p class="wikiPara">
Some of these modules have <a href="/Bloggers/SeamXML300Alpha1BringsXMLbasedConfigurationToFruition" target="" class="regularLink">releases</a> <a href="/Bloggers/SeamRemoting300Beta1Released" target="" class="regularLink">already</a> (and you can expect to see more very soon), and we'll continue in this vein - so you may well find that there is some support before the Seam release is complete!
</p>

<p class="wikiPara">
We'd also like to <a href="http://www.seamframework.org/Community/Seam3UsersForum" target="" class="regularLink">hear what you think</a> - do you think we should delay the 3.0 release to get more in? What would you include in the 3.0 release if you had the choice?</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'TheTimelineForSeam3';
    var disqus_title = 'The timeline for Seam 3';
    var disqus_url = 'http://in.relation.to/15261.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
