---
title: "Java EE 6 and CDI"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "15-10-2010"
tags: [Contexts and Dependency Injection,Java EE 6,Seam News]

relative_url: /2010/10/15/JavaEE6AndCDI
slug: JavaEE6AndCDI
lace: http://in.relation.to/17423.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/10/15/JavaEE6AndCDI
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Dan did a webinar yesterday looking at Java EE 6 and CDI, showing how it can be used to improve your application development.
</p>

<p class="wikiPara">
<a href="http://bit.ly/aIcfsD" target="" class="regularLink">Check it out!</a></p>
</div>
