---
title: "Seam 3 interview"
author: "Pete Muir"
blogger_name: "Pete"
layout: blog-post
tags: [Seam 3,Seam News]
slug: Seam3Interview
lace: http://in.relation.to/17467.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/Seam3Interview">Seam 3 interview</a>
                    </h1>
</div>
<p class="wikiPara">
Whilst at JUDCon 2010:Berlin, <a href="http://twitter.com/michaelschuetz" target="" class="regularLink">Michael Schuetz</a> interviewed me about Seam 3. We covered the current status of the project, development challenges and what you can expect from Seam 3. You can read the whole interview <a href="http://jaxenter.com/seam-3-interview.1-32253.html" target="" class="regularLink">here</a>
</p>

<p class="wikiPara">
Thanks Michael!</p>
</div>
