---
title: "Seam 3 Design Meetings"
author: "Pete Muir"
creation_date: "09-04-2010"
blogger_name: "Pete"
layout: blog-post
tags: [Seam,Seam News]
slug: Seam3DesignMeetings
lace: http://in.relation.to/15109.lace
---
<div id="documentDisplay" class="documentDisplay">


<img src="http://lh6.ggpht.com/_E9lxlvQZqik/S77VACxHZdI/AAAAAAAADsE/kDR8H6OelxQ/s512/SL272660.JPG" align="right" style="padding: 10px">

<p class="wikiPara">
Following on from the success of the <a href="http://www.jboss.org/community/docs/DOC-13462" target="" class="regularLink">RichFaces Design Meetings</a> held weekly on IRC, we're going to do the same for Seam 3. We'll be holding a regular 45 minute meeting every <a href="http://www.timeanddate.com/worldclock/fixedtime.html?day=15&amp;month=4&amp;year=2010&amp;hour=14&amp;min=45&amp;sec=0&amp;p1=90" target="" class="regularLink">Thursday at 13:45</a> in <tt>#seam-dev</tt> on <a href="http://freenode.net" target="" class="regularLink">irc.freenode.net</a>. At this meeting we will cover a mix of technical architecture and project planning - if you are interested in working on a Seam module, or just want to know more about the progress of Seam 3, this is a good opportunity to drop by!
</p>

<p>I'm also back recently from an extended holiday to Nepal, which is a good enough excuse for me to include a photo of the high point of the trip (and at 5500m of my life!).</p>

<p style="padding: 200px"></p>



</div>
