---
title: "Seam contributor competition"
author: "Pete Muir"
blogger_name: "Pete"
layout: blog-post
tags: [Seam,Seam 3,Seam News]
slug: SeamContributorCompetition
lace: http://in.relation.to/16431.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/SeamContributorCompetition">Seam contributor competition</a>
                    </h1>
</div>
<p class="wikiPara">
Calling all Seam module contributors!
</p>

<p class="wikiPara">
We're running a small competition for all Seam contributors - so if you've been thinking about pitching in, now would be a good time ;-)
</p>

<p class="wikiPara">
We have a number of categories:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Best module example</li>
<li class="wikiUnorderedListItem"> Best module documentation (Javadoc and reference guide</li>
<li class="wikiUnorderedListItem"> Most innovative feature</li>
<li class="wikiUnorderedListItem"> Best API design</li>
<li class="wikiUnorderedListItem"> Most active module promoter (e.g. blogging, tweeting)</li>
</ul>

<p class="wikiPara">
Once Seam 3 is final, we will run a poll so that the community can select the winner for each category. And of course, we have prizes! The winning module for each category will receive a gift voucher for the <a href="http://www.cafepress.com/jbossorg/7028333" target="" class="regularLink">Seam store</a> - it'll be up to the module lead to distribute this as they see fit!
</p>

<p class="wikiPara">
Happy coding :-)
</p>
</div>
