---
title: "CDI and Arquillian talks tomorrow"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "09-11-2010"
tags: [Seam News]

relative_url: /2010/11/09/CDIAndArquillianTalksTomorrow
slug: CDIAndArquillianTalksTomorrow
lace: http://in.relation.to/17660.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/11/09/CDIAndArquillianTalksTomorrow
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
What with just getting back from vacation, I forgot to post that I will be speaking tomorrow (Thursday 10th) evening in Belgium on CDI, Java EE 6 and Arquillian as a guest of the Belgium JBoss User Group. <a href="http://jbug.be/" target="" class="regularLink">More here</a>.
</p>

<p class="wikiPara">
See you there!</p>
</div>

