---
title: "Seam 3 status update"
author: "Pete Muir"
creation_date: "24-08-2010"
blogger_name: "Pete"
layout: blog-post
tags: [Seam 3 News,Seam News]
slug: Seam3StatusUpdate
lace: http://in.relation.to/16692.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I realize that a Seam 3 status update is overdue, so without further ado let me fill you in on where we are. From my <a href="http://in.relation.to/Bloggers/TheTimelineForSeam3" target="" class="regularLink">previous blog</a>, we are aiming to include these modules in Seam 3.0:
</p>

<table>
<tr style="text-align: left">
<th>Module</th>
<th>Target Version</th>
<th>Code Quality</th>
<th>Blockers</th>
</tr>
<tr>
<td><a href="http://www.seamframework.org/Seam3/DroolsModule" target="" class="regularLink">Drools 5 integration</a></td>
<td style="text-align: center;">3.0</td>
<td style="text-align: center;">Alpha</td>
<td>Weld Extensions Alpha 3</td>
</tr>
<tr>
<td><a href="http://www.seamframework.org/Seam3/FacesModule" target="" class="regularLink">Additional JSF 2 support</a></td>
<td style="text-align: center;">3.0</td>
<td style="text-align: center;">Beta</td>
<td>Seam Persistence Alpha 1</td>
</tr>
<tr>
<td><a href="http://www.seamframework.org/Seam3/InternationalModule" target="" class="regularLink">Internationalization support</a></td>
<td style="text-align: center;">3.0</td>
<td style="text-align: center;">Alpha</td>
<td>JBoss Logging 3</td>
</tr>
<tr>
<td><a href="http://www.seamframework.org/Seam3/SecurityModule" target="" class="regularLink">Seam Security</a></td>
<td style="text-align: center;">3.0</td>
<td style="text-align: center;">Alpha</td>
<td>Seam Persistence Alpha 1 and Seam XML Beta 1</td>
</tr>
<tr>
<td><a href="http://www.seamframework.org/Seam3/XMLConfigurationModule" target="" class="regularLink">XML Configuration</a></td>
<td style="text-align: center;">3.0</td>
<td style="text-align: center;">Beta</td>
<td>Weld Extensions Alpha 3</td>
</tr>
<tr>
<td><a href="http://www.seamframework.org/Seam3/JBPMModule" target="" class="regularLink">jBPM 3 support</a></td>
<td style="text-align: center;">3.0</td>
<td style="text-align: center;">Alpha</td>
<td></td>
</tr>
<tr>
<td><a href="http://seamframework.org/Documentation/RESTEasyIntegrationInSeam3" target="" class="regularLink">Additional support for RESTEasy</a></td>
<td style="text-align: center;">3.0</td>
<td style="text-align: center;">Alpha</td>
<td></td>
</tr>
<tr>
<td><a href="http://www.seamframework.org/Seam3/ServletModule" target="" class="regularLink">Additional support for Servlet</a></td>
<td style="text-align: center;">3.0</td>
<td style="text-align: center;">Beta</td>
<td></td>
</tr>
<tr>
<td><a href="http://www.seamframework.org/Seam3/PersistenceModule" target="" class="regularLink">Seam Persistence</a></td>
<td style="text-align: center;">3.0</td>
<td style="text-align: center;">Alpha</td>
<td>Seam XML Beta1</td>
</tr>
<tr>
<td><a href="http://www.seamframework.org/Seam3/RemotingModule" target="" class="regularLink">Javascript Remoting</a></td>
<td style="text-align: center;">3.0</td>
<td style="text-align: center;">Beta</td>
<td></td>
</tr>
<tr>
<td><a href="http://www.seamframework.org/Seam3/JMSModule" target="" class="regularLink">JMS events bridge</a></td>
<td style="text-align: center;">3.0</td>
<td style="text-align: center;">Alpha</td>
<td></td>
</tr>
<tr>
<td><a href="http://www.jboss.org/errai/Components/CDI-Integration.html" target="" class="regularLink">Support for GWT</a></td>
<td style="text-align: center;">3.0</td>
<td style="text-align: center;">RC</td>
<td></td>
</tr>
<tr>
<td>Support for Wicket</td>
<td style="text-align: center;">3.0</td>
<td style="text-align: center;">RC</td>
<td></td>
</tr>
<tr>
<td><a href="http://www.seamframework.org/Documentation/Seam3Modules#H-DocumentManagementLedByNicklasKarlssonWithNormanRichardsTomazCerarAndDanielRoth" target="" class="regularLink">Reporting (Excel and PDF support)</a></td>
<td style="text-align: center;">3.0 or 3.1</td>
<td style="text-align: center;">Alpha</td>
<td></td>
</tr>
<tr>
<td>Seam Mail</td>
<td style="text-align: center;">3.0 or 3.1</td>
<td style="text-align: center;">Alpha</td>
<td></td>
</tr>
<tr>
<td>Exception Handling</td>
<td style="text-align: center;">3.0 or 3.1</td>
<td style="text-align: center;">Alpha</td>
<td></td>
</tr>
<tr>
<td><a href="http://www.seamframework.org/Documentation/Seam3Modules#H-SchedulingLedByPeteRoyle" target="" class="regularLink">Scheduling support, including asynchronous events</a></td>
<td style="text-align: center;">3.0 or 3.1</td>
<td style="text-align: center;">Alpha</td>
<td></td>
</tr>
<tr>
<td><a href="http://www.seamframework.org/Documentation/Seam3Modules#H-Seam2BackwardsCompatibilityLeadNeeded" target="" class="regularLink">Seam 2 Backwards Compatibility</a></td>
<td style="text-align: center;">3.1</td>
<td style="text-align: center;"></td>
<td></td>
</tr>
<tr>
<td><a href="http://www.seamframework.org/Documentation/Seam3Modules#H-SpringIntegrationLedByMariusBogoevici" target="" class="regularLink">Spring Integration</a></td>
<td style="text-align: center;">3.1</td>
<td style="text-align: center;"></td>
<td></td>
</tr>
<tr>
<td><a href="http://www.seamframework.org/Documentation/Seam3Modules#H-JBossESB5IntegrationLedByKevConnorAndPeteMuir" target="" class="regularLink">Support for JBoss ESB</a></td>
<td style="text-align: center;">3.1</td>
<td style="text-align: center;"></td>
<td></td>
</tr>
<tr>
<td>Provisionally, support for <a href="http://enterprisebpm.blogspot.com/2010/04/announcing-jbpm-5.html" target="" class="regularLink">jBPM 5</a>
</td>
<td style="text-align: center;">3.1</td>
<td style="text-align: center;"></td>
<td></td>
</tr>

</table>

<p class="wikiPara">
As you can see, all modules have been started, with many in or approaching Beta (feature complete). The primary blockers are getting Weld Extensions and XML Configuration API complete - you can expect these, and the waterfall of other module releases over the next few weeks.
</p>

<p class="wikiPara">
Once we have have alpha or beta releases of all required modules for Seam 3.0 we will put out a beta of the whole distribution - again, expect this in the next few weeks.
</p>

<p class="wikiPara">
We purposefully do not give even estimates of an overall release date - I can only say it will be ready when it is ready!
</p>

<b>Update: if you want to track development of Seam 3, then checkout <a href="http://www.seamframework.org/Seam3/ProjectStatusAndDirection#H-Modules" target="" class="regularLink">the wiki page</a> which has an overview of the modules and will be kept up to date</b>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'Seam3StatusUpdate';
    var disqus_title = 'Seam 3 status update';
    var disqus_url = 'http://in.relation.to/16692.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
