---
title: "Weld Extensions 1.0.0.Beta1 available!"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "12-10-2010"
original_tags: [Contexts and Dependency Injection,Seam News,Weld]
tags: [CDI,Seam,Weld]

relative_url: /2010/10/12/weld-extensions-100-beta-1-available
slug: weld-extensions-100-beta-1-available
lace: http://in.relation.to/17329.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/10/12/weld-extensions-100-beta-1-available
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="http://seamframework.org/WeldExtensions" target="" class="regularLink">Weld Extensions</a> is a portable library (licensed under the ASL 2) providing utilities and common functionality for CDI applications and libraries or frameworks based on CDI alike. We'll be using it as the base of <a href="http://seamframework.org/Seam3" target="" class="regularLink">Seam 3</a>. It contains extensions to the <a href="http://docs.jboss.org/weld/extensions/reference/latest/en-US/html/programmingmodel.html" target="" class="regularLink">core CDI programming model</a>, <a href="http://docs.jboss.org/weld/extensions/reference/latest/en-US/html/logging.html" target="" class="regularLink">typed logging (courtesy of JBoss Logging 3)</a>, <a href="http://docs.jboss.org/weld/extensions/reference/latest/en-US/html/resourceloading.html" target="" class="regularLink">managed resource loading</a> and support for <a href="http://docs.jboss.org/weld/extensions/reference/latest/en-US/html/elextensions.html" target="" class="regularLink">evaluating EL anywhere</a>.
</p>

<p class="wikiPara">
Weld Extensions also provides <a href="http://docs.jboss.org/weld/extensions/reference/latest/en-US/html/annotationutilities.html%20for%20working%20with%20AnnotatedTypes" target="" class="regularLink">builders and utilities</a> and <a href="http://docs.jboss.org/weld/extensions/reference/latest/en-US/html/beanutilities.html" target="" class="regularLink">Beans</a>, getting <a href="http://docs.jboss.org/weld/extensions/reference/latest/en-US/html/beanmanagerprovider.html" target="" class="regularLink">hold of the BeanManager</a> where CDI injection is unavailable and <a href="http://docs.jboss.org/weld/extensions/reference/latest/en-US/html/properties.html" target="" class="regularLink">accessing JavaBean properties</a>.
</p>

<p class="wikiPara">
Finally, Weld Extensions has a number of <a href="http://docs.jboss.org/weld/extensions/reference/latest/en-US/html/part3.html" target="" class="regularLink">CDI extensions to make configuration easier</a>. <a href="http://docs.jboss.org/weld/extensions/reference/latest/en-US/html/genericbeans.html" target="" class="regularLink">Generic beans</a> allow for groups of beans to be installed based on configurations, <a href="http://docs.jboss.org/weld/extensions/reference/latest/en-US/html/defaultbeans.html" target="" class="regularLink">default beans</a> allow you to automatically install a bean unless the user provides another, <a href="http://docs.jboss.org/weld/extensions/reference/latest/en-US/html/unwraps.html" target="" class="regularLink">unwrapping producer methods</a> allow you to manage the lifecycle of an object, and <a href="http://docs.jboss.org/weld/extensions/reference/latest/en-US/html/servicehandler.html" target="" class="regularLink">service handlers</a> allow for automatically implemented beans.
</p>

<p class="wikiPara">
This project wouldn't have been possible without Stuart Douglas, additionally thanks go to Shane Bryzak, Dan Allen and Nicklas Karlsson for their contributions.
</p>

<p class="wikiPara">
The API in this release is considered stable (unless there are any critical issues) and there are no planned changes. Currently we are planning to tidy up some of the error handling for Beta2, and then move towards a Final release.
</p>

<p class="wikiPara">
[<a href="http://sourceforge.net/projects/jboss/files/Weld%20Extensions/1.0.0.Beta1/weld-extensions-1.0.0.Beta1-dist.zip/download" target="" class="regularLink">Download</a>] | [<a href="https://jira.jboss.org/browse/WELDX" target="" class="regularLink">JIRA</a>] | [<a href="http://docs.jboss.org/weld/extensions/apidocs/1.0.0.Beta1/" target="" class="regularLink">Javadoc</a>] [<a href="http://docs.jboss.org/weld/extensions/reference/1.0.0.Beta1/en-US/html/" target="" class="regularLink"> Reference Guide</a>] | [<a href="https://jira.jboss.org/issues/?jql=project=12310892%20AND%20fixVersion=12314888" target="" class="regularLink">Release Notes</a>] ]</p>
</div>

