---
title: "Seam XML Alpha 3 and Seam Persistence Alpha 1 available"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "18-10-2010"
original_tags: [Seam 3,Seam News]
tags: [Seam]

relative_url: /2010/10/18/seam-xml-alpha-3-and-seam-persistence-alpha-1-available
slug: seam-xml-alpha-3-and-seam-persistence-alpha-1-available
lace: http://in.relation.to/17463.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/10/18/seam-xml-alpha-3-and-seam-persistence-alpha-1-available
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Stuart released a couple of Seam 3 modules --  XML and Persistence over the weekend. Check out his <a href="http://community.jboss.org/blogs/stuartdouglas/2010/10/15/seam-xml-configuration-and-persistence-released" target="" class="regularLink">blog</a>.
</p>

<p class="wikiPara">
Seam XML allows you to configure your CDI beans via XML - very useful and as it has pretty minimal dependencies (just the CDI API and the interceptors API) usable now. I know Stuart plans to move to an API complete beta very soon. You can check out <a href="http://community.jboss.org/blogs/stuartdouglas/2010/10/15/seam-xml-configuration-and-persistence-released" target="" class="regularLink">the module page</a> for more on the roadmap
</p>

<p class="wikiPara">
This alpha of Seam Persistence brings JPA and JTA support to CDI outside of Java EE (Stuart has both working on Tomcat) as well as transactions for managed beans anywhere, conversation scoped persistence contexts, and Hibernate Search integration. 
</p>

<p class="wikiPara">
On Seam Persistence roadmap are tests for all containers, integration with Envers, easy manual flush mode control and more -- check out the <a href="http://seamframework.org/Seam3/PersistenceModule" target="" class="regularLink">module page</a></p>
</div>

