---
title: "CDI and Arquillian talks tomorrow"
author: "Pete Muir"
blogger_name: "Pete"
layout: blog-post
tags: [Seam News]
slug: CDIAndArquillianTalksTomorrow
lace: http://in.relation.to/17660.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/CDIAndArquillianTalksTomorrow">CDI and Arquillian talks tomorrow</a>
                    </h1>
</div>
<p class="wikiPara">
What with just getting back from vacation, I forgot to post that I will be speaking tomorrow (Thursday 10th) evening in Belgium on CDI, Java EE 6 and Arquillian as a guest of the Belgium JBoss User Group. <a href="http://jbug.be/" target="" class="regularLink">More here</a>.
</p>

<p class="wikiPara">
See you there!</p>
</div>
