---
title: "JUDCon 2010:Berlin and the Berlin JUG"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "11-10-2010"
original_tags: [Contexts and Dependency Injection]
tags: [CDI]

relative_url: /2010/10/11/judcon-2010-berlin-and-the-berlin-jug
slug: judcon-2010-berlin-and-the-berlin-jug
lace: http://in.relation.to/17301.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/10/11/judcon-2010-berlin-and-the-berlin-jug
---
<div id="documentDisplay" class="documentDisplay">


<img align="left" src="/images/legacy/17300.jpeg" width="300px" style="padding: 20px"><p class="wikiPara">
 
</p>

<p class="wikiPara">
I've just got back from a great trip to Berlin. Aslak and I started off by <a href="https://www.xing.com/net/jugbb" target="" class="regularLink">heading to the Berlin JUG</a> to talk about <a href="#judcon-2010-berlin-and-the-berlin-jug_attachment1" target="" class="regularLink">CDI, Java EE 6[1]</a> and Arquillian, which <a href="http://blog.akquinet.de/2010/10/05/akquinet-presents-aslak-knutsen-and-pete-muir-on-the-future-of-java-enterprise-testing-and-the-unified-programming-model-of-java-ee-6/" target="" class="regularLink">Michael Schütz had organised</a> with just one week notice. It was great to see such an engaged and informed audience, with people working in all areas of Java.
</p>

<img align="right" src="/images/legacy/17299.jpeg" width="300px" style="padding: 20px"><p class="wikiPara">
 
</p>

<p class="wikiPara">
The next day JBoss held it's second <i class="wikiEmphasis"><a href="http://www.jboss.org/events/JUDCon/" target="" class="regularLink">Java Users and Developers Conference</a></i> in East Berlin. We had an excellent turnout, and I managed to catch up with a lot of familiar faces, from the community and colleagues. I presented a session on the Seam 3 roadmap, and showed off a few of the modules we plan to include in Seam 3. I also demonstrated some of the cloud tooling that Max and team have been working on.
</p>

<p class="wikiPara">
At the Hackfest that evening, I had a great discussion with Heiko (from the RHQ team) and Peter (a Seam/JBoss user and fellow countryman) with some great ideas on <a href="http://seamframework.org/Community/StudentProjects#H-MonitoringAndManagementForAppsUsingWeld" target="" class="regularLink">how to add monitoring to Weld</a> and also <a href="http://seamframework.org/Community/StudentProjects#H-JMXSupportForCDIAndCommonMonitoringOperationsForAppsUsingCDI" target="" class="regularLink">make it easy to add monitoring to CDI based apps</a>.
</p>

<p class="wikiPara">
Next up, Devoxx :-)</p>
</div>

<div class="attachments">
<h4>Attachments</h4>
<ol class="wikiOrderedList"><li class="wikiOrderedListItem"><a name="judcon-2010-berlin-and-the-berlin-jug_attachment1" href="/assets/Java EE Programming Model.pdf">Java EE Programming Model.pdf</a></li>
</ol>
</div>

