---
title: "Brazil, May 2010"
author: "Pete Muir"
blogger_name: "Pete"
layout: blog-post
tags: [Seam News]
slug: BrazilMay2010
lace: http://in.relation.to/15155.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/BrazilMay2010">Brazil, May 2010</a>
                    </h1>
</div>
<p class="wikiPara">
It looks like I'll be doing a series of presentations in Brazil next month - the rough schedule is:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> May 8th - <a href="http://www.jbossinbossa.com.br/2010/index.htm" target="" class="regularLink">JBossInBossa</a> conference in Sao Paulo</li>
<li class="wikiUnorderedListItem"> May 12th - JUG in Brasilia <i>(tentative)</i>
</li>
<li class="wikiUnorderedListItem"> May 13th - JUG in Rio de Janeiro <i>(tentative)</i>
</li>
</ul>

<p class="wikiPara">
Currently only the Sao Paulo event is confirmed, so if you can make that, I would strongly recommend you attend!
</p>

<p class="wikiPara">
We would like to know what <i class="wikiEmphasis">you</i> want to hear about:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Seam 3 Overview and Roadmap</li>
<li class="wikiUnorderedListItem"> An overview of Java EE 6</li>
<li class="wikiUnorderedListItem"> CDI Technical Deep dive</li>
<li class="wikiUnorderedListItem"> Test Driven Development with Java EE 6</li>
<li class="wikiUnorderedListItem"> JSF 2 overview, highlighting a few features</li>
</ul>

<p class="wikiPara">
<a href="https://spreadsheets.google.com/viewform?formkey=dFdYa1V5aDlLblJQUHJsSnRVSEk1REE6MQ" target="" class="regularLink">Vote now!</a></p>
</div>
