---
title: "Seam Forge introduction"
author: "Pete Muir"
creation_date: "21-10-2010"
blogger_name: "Pete"
layout: blog-post
tags: [Seam Forge,Seam News]
slug: SeamForgeIntroduction
lace: http://in.relation.to/17503.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Lincoln Baxter and Mike Brock have been working away on our next generation RAD tooling for rapidly scaffolding applications. Seam Forge is different because it allows anyone to interact with the project via plugins written using CDI.
</p>

<p class="wikiPara">
Lincoln gave a great overview of progress and architecture at the Seam development meeting today. We captured the presentation, so if you are interested in tooling for Seam 3, or looking to add a project generation for your framework (due to the extreme pluggability, Seam Forge can be adapted to generate projects for anything), then you should check out the <a href="https://sas.elluminate.com/p.jnlp?psid=2010-10-21.0709.M.390C7DEAB81485CE3EDBCDCC98DD29.vcr&amp;sid=819" target="" class="regularLink">recording</a>!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'SeamForgeIntroduction';
    var disqus_title = 'Seam Forge introduction';
    var disqus_url = 'http://in.relation.to/17503.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
