---
title: "Seam contributor competition"
author: "Pete Muir"
creation_date: "19-07-2010"
blogger_name: "Pete"
layout: blog-post
tags: [Seam,Seam 3,Seam News]
slug: SeamContributorCompetition
lace: http://in.relation.to/16431.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Calling all Seam module contributors!
</p>

<p class="wikiPara">
We're running a small competition for all Seam contributors - so if you've been thinking about pitching in, now would be a good time ;-)
</p>

<p class="wikiPara">
We have a number of categories:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Best module example</li>
<li class="wikiUnorderedListItem"> Best module documentation (Javadoc and reference guide</li>
<li class="wikiUnorderedListItem"> Most innovative feature</li>
<li class="wikiUnorderedListItem"> Best API design</li>
<li class="wikiUnorderedListItem"> Most active module promoter (e.g. blogging, tweeting)</li>
</ul>

<p class="wikiPara">
Once Seam 3 is final, we will run a poll so that the community can select the winner for each category. And of course, we have prizes! The winning module for each category will receive a gift voucher for the <a href="http://www.cafepress.com/jbossorg/7028333" target="" class="regularLink">Seam store</a> - it'll be up to the module lead to distribute this as they see fit!
</p>

<p class="wikiPara">
Happy coding :-)
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'SeamContributorCompetition';
    var disqus_title = 'Seam contributor competition';
    var disqus_url = 'http://in.relation.to/16431.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
