---
title: "CDI in Newcastle next week"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "06-05-2011"
tags: [Contexts and Dependency Injection,Seam News]

relative_url: /2011/05/06/CDIInNewcastleNextWeek
slug: CDIInNewcastleNextWeek
lace: http://in.relation.to/19974.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/05/06/CDIInNewcastleNextWeek
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'll be talking at the <a href="http://community.jboss.org/wiki/NewcastleJBUGSchedule" target="" class="regularLink">Newcastle JBoss User Group</a> on Tuesday evening. I'll be giving a pretty technical introduction to the CDI programming model and talking about how it fits into both the Java EE ecosystem and the JBoss platforms. I'll cover the updates we are planning in CDI 1.1. We'll keep the session pretty informal -- I'm looking forward to some good discussions!
</p>

<p class="wikiPara">
See you there!</p>
</div>
