---
title: "CDI @ JUDCon and JBoss World"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "19-04-2011"
tags: []

relative_url: /2011/04/19/CDIJUDConAndJBossWorld
slug: CDIJUDConAndJBossWorld
lace: http://in.relation.to/19437.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/04/19/CDIJUDConAndJBossWorld
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
So, what's coming up at JUDCon 2011 and JBoss World 2011?
</p>

<p class="wikiPara">
Ales and I will be talking about <a href="http://www.jboss.org/events/JUDCon/day1track1.html#330PM" target="" class="regularLink">Weld, looking at how you can use it today, and at future plans</a>. We'll also discuss JBoss AS 7, and what's coming up in the CDI 1.1 specification.
</p>

<p class="wikiPara">
At JBoss World, I'm talking about CDI. I'll provide a short intro to Java EE, and then overview some use cases where CDI can help you. I'll then talk about what the future holds for CDI, and where it fits into Java EE 7.
</p>

<p class="wikiPara">
There are still <a href="http://www.jboss.org/events/JUDCon/register.html" target="" class="regularLink">a few tickets left</a> for JUDCon (and at $99 it's a steal - there are 36 sessions, a panel discussion and a recording of the JBoss Asylum podcast), and if you want to learn about CDI, lots of good sessions to go to with talks from Google App Engine (from Ales), CDI extensions (from Dan) and Seam (from Jason Porter). There is a hackfest in the evening, and I'm planning to spend some time beefing up the CDI support for Infinispan if anyone fancies joining me.
</p>

<p class="wikiPara">
See you there!</p>
</div>
