---
title: "JavaOne, JUDCon and Devoxx 2011"
author: "Pete Muir"
creation_date: "02-09-2011"
blogger_name: "Pete"
layout: blog-post
tags: [Contexts and Dependency Injection,Infinispan,conference]
slug: JavaOneJUDConAndDevoxx2011
lace: http://in.relation.to/21816.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
This autumn I'm speaking at <a href="http://www.oracle.com/javaone/index.html" target="" class="regularLink">JavaOne</a> (2nd - 6th October in San Francisco), <a href="http://www.jboss.org/events/JUDCon/2011/london.html" target="" class="regularLink">JUDCon London</a> (31st October, 1st November) and <a href="http://devoxx.com/display/DV11/Home" target="" class="regularLink">Devoxx</a> (14th - 18th November).
</p>

<b>JavaOne</b>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">Introducing Contexts and Dependency Injection 1.1 - technical session in which I'll overview some of the changes coming in CDI 1.1</li>
<li class="wikiUnorderedListItem">CDI Today and Tomorrow - panel session on CDI with <a href="http://blog.dblevins.com/" target="" class="regularLink">David Blevins</a>, <a href="http://www.java.net/blogs/arungupta" target="" class="regularLink">Arun Gupta</a>, <a href="http://blogs.oracle.com/sivakumart/" target="" class="regularLink">Sivakumar Thyagarajan</a> and <a href="http://blog.rahmannet.net/" target="" class="regularLink">Reza Rahman</a>
</li>
<li class="wikiUnorderedListItem">Making Java EE Cloud-Friendly: JSR 347, Data Grids for the Java Platform - BOF with <a href="http://manik.surtani.org/" target="" class="regularLink">Manik Surtani</a>
</li>
</ul>

<b>JUDCon London</b>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">Java EE in the Cloud - a technical session in which I'll show you how to use Java EE in the cloud, using Red Hat's OpenShift Platform-as-a-Service</li>
<li class="wikiUnorderedListItem">Using Infinispan as a remote data store - a technical session with <a href="http://galder.zamarreno.com/" target="" class="regularLink">Galder Zamarreño</a> in which we'll show you how to use Infinispan as a remote data store on Red Hat's OpenShift Platform-as-a-Service, with a client app written using CDI.</li>
</ul>

<p class="wikiPara">
JUDCon is the official <b>J</b>Boss <b>U</b>sers and <b>D</b>evelopers <b>Con</b>ference, and is great value at £100 for a day - so if you near London, I recommend <a href="http://www.jboss.org/events/JUDCon/2011/london/register.html" target="" class="regularLink">registering today</a>!
</p>

<b>Devoxx</b>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">
<a href="http://devoxx.com/display/DV11/Real-world+deep-dive+into+Infinispan+-+the+open+source+data+grid+platform" target="" class="regularLink">Real-world deep-dive into Infinispan - the open source data grid platform</a> -  university talk with <a href="http://manik.surtani.org/" target="" class="regularLink">Manik Surtani</a> and <a href="http://community.jboss.org/people/mircea.markus" target="" class="regularLink">Mircea Markus</a> in which we'll deep dive into Infinispan</li>
<li class="wikiUnorderedListItem"> <a href="http://devoxx.com/display/DV11/BOF+Day+3" target="" class="regularLink">The Java EE BOF series</a> - 3 hours of discussions on Java EE, CDI and Seam with people such as <a href="http://in.relation.to/Bloggers/Emmanuel" target="" class="regularLink">Emmanuel</a>, <a href="http://in.relation.to/Bloggers/Dan" target="" class="regularLink">Dan</a>, <a href="http://blogs.oracle.com/alexismp/" target="" class="regularLink">Alexis Moussine-Pouchkine's </a> and <a href="http://www.devoxx.com/display/DV11/Nigel+Deakin" target="" class="regularLink">Nigel Deakin</a> - and I know more will be confirmed later!</li>
</ul>

<p class="wikiPara">
Enjoy!</p>
</div>
