---
title: "CDI 1.1 slides"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "05-10-2011"
tags: []

absolute_url: http://in.relation.to/2011/10/05/CDI11Slides
lace: http://in.relation.to/22103.lace
slug: CDI11Slides

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Here are the <a href="/Bloggers/CDI11Slides#attachment1" target="" class="regularLink">slides[1]</a> from my JavaOne talk on CDI 1.1 :-)</p>
</div>
