---
title: "Want to learn about JBoss AS 7?"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "29-06-2011"
tags: [JBoss AS,JBossAS7,Seam News]

relative_url: /2011/06/29/WantToLearnAboutJBossAS7
slug: WantToLearnAboutJBossAS7
lace: http://in.relation.to/20924.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/06/29/WantToLearnAboutJBossAS7
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I've spent some time recently working on <a href="https://docs.jboss.org/author/display/AS7/Getting+Started+Developing+Applications+Guide" target="" class="regularLink">tutorials</a> and <a href="http://jboss.org/jbossas/downloads" target="" class="regularLink">quickstarts</a> for JBoss AS 7, as well as an <a href="https://docs.jboss.org/author/display/AS7/Creating+your+own+application" target="" class="regularLink">archetype</a> for creating your own Java EE 6 project for JBoss AS 7. Check it out!
</p>

<p class="wikiPara">
The quickstarts will be used as the basis for the JBoss AS 7 webinars we are hosting today and tomorrow. There is still time to join us - check out <a href="http://www.jboss.org/webinars" target="" class="regularLink">jboss.org</a> for more, or use this quick reference:
</p>

<table cellpadding="2px">
<tr>
<td><b>June 29, 2011</b></td>
<td>16:00 UTC, 17:00 London, 18:00 Berlin, 12:00 (Noon) US Eastern, 09:00 US Western</td>
<td><a href="https://jboss.webex.com/jboss/onstage/g.php?t=a&amp;d=750162988" target="" class="regularLink">Register</a></td>
</tr>
<tr>
<td><b>June 30, 2011</b></td>
<td>07:00 UTC, 08:00 London, 09:00 Berlin, 12:30 Mumbai, 15:00 Bejing, 17:00 Sydney</td>
<td><a href="https://jboss.webex.com/jboss/onstage/g.php?t=a&amp;d=750291993" target="" class="regularLink">Register</a></td>
</tr>
</table>
</div>
