---
title: "CDI in Newcastle next week"
author: "Pete Muir"
creation_date: "06-05-2011"
blogger_name: "Pete"
layout: blog-post
tags: [Contexts and Dependency Injection,Seam News]
slug: CDIInNewcastleNextWeek
lace: http://in.relation.to/19974.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'll be talking at the <a href="http://community.jboss.org/wiki/NewcastleJBUGSchedule" target="" class="regularLink">Newcastle JBoss User Group</a> on Tuesday evening. I'll be giving a pretty technical introduction to the CDI programming model and talking about how it fits into both the Java EE ecosystem and the JBoss platforms. I'll cover the updates we are planning in CDI 1.1. We'll keep the session pretty informal -- I'm looking forward to some good discussions!
</p>

<p class="wikiPara">
See you there!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'CDIInNewcastleNextWeek';
    var disqus_title = 'CDI in Newcastle next week';
    var disqus_url = 'http://in.relation.to/19974.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
