---
title: "CDI 1.1 slides"
author: "Pete Muir"
creation_date: "05-10-2011"
blogger_name: "Pete"
layout: blog-post
tags: []
slug: CDI11Slides
lace: http://in.relation.to/22103.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Here are the <a href="/Bloggers/CDI11Slides#attachment1" target="" class="regularLink">slides[1]</a> from my JavaOne talk on CDI 1.1 :-)</p>
</div>
