---
title: "CDI 1.1 slides"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "05-10-2011"
tags: []

relative_url: /2011/10/05/CDI11Slides
slug: CDI11Slides
lace: http://in.relation.to/22103.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/10/05/CDI11Slides
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Here are the <a href="/assets/CDI_JavaOne_2011.pdf" target="" class="regularLink">slides</a> from my JavaOne talk on CDI 1.1 :-)</p>
</div>
