---
title: "Interested in application elasticity?"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "30-09-2011"
tags: []

absolute_url: http://in.relation.to/2011/09/30/InterestedInApplicationElasticity
lace: http://in.relation.to/22062.lace
slug: InterestedInApplicationElasticity

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
If so, join me in a webinar next Wednesday where we'll explore you build elastic applications using CDI and Java EE 6. There will be a super cool demo :-D
</p>

<b>Coordinates:</b>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Date: Wednesday, October 5, 2011</li>
<li class="wikiUnorderedListItem"> Time: 17:00 London, 12:00 Noon Boston, 9:00 San Francisco, 12:00 Midnight Singapore</li>
<li class="wikiUnorderedListItem"> <a href="https://engage.redhat.com/forms/20111005ApplicationMobility" target="" class="regularLink">Registration</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://engage.redhat.com/forms/20111005ApplicationMobility" target="" class="regularLink">More Info</a>
</li>
</ul>
</div>
