---
title: "CDI 1.1 JSR approved"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "27-04-2011"
original_tags: [Contexts and Dependency Injection]
tags: [CDI]

relative_url: /2011/04/27/cdi-11-jsr-approved
slug: cdi-11-jsr-approved
lace: http://in.relation.to/19532.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/04/27/cdi-11-jsr-approved
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The JCP posted that the <a href="http://jcp.org/en/jsr/summary?id=346" target="" class="regularLink">CDI 1.1 spec received almost unanimous approval</a> (everyone voted yes except VMWare, who didn't vote at all). The expert group has already started considering issues, and I would like to welcome anyone who has an interest in CDI to join. The homepage for CDI 1.1 development is <a href="https://github.com/pmuir/cdi/wiki" target="" class="regularLink">on github</a>, and provides a set of resources to get you started (more will be posted over time). A <a href="http://in.relation.to/2011/03/14/cdi-11" target="" class="regularLink">previous blog</a> covers what we hope to see improved in CDI 1.1.
</p>

<p class="wikiPara">
We have a very low barrier to entry (<a href="https://lists.jboss.org/mailman/listinfo/cdi-dev" target="" class="regularLink">join a mailing list</a>!) so I hope to see you there!</p>
</div>

