---
title: "CDI In Paris!"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "06-06-2011"
tags: []

absolute_url: http://in.relation.to/2011/06/06/CDIInParis
lace: http://in.relation.to/20680.lace
slug: CDIInParis

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Next week, I'll be <a href="http://www.parisjug.org/xwiki/bin/view/Meeting/20110614" target="" class="regularLink">at the Paris JUG</a> on the evening of Tuesday 14th June. I'll stawt with a CDI overview, and then move on to discuss CDI extensions.
</p>

<p class="wikiPara">
Duchess (a global network for women in Java technology) <a href="http://jduchess.org/duchess-france/blog/a-la-decouverte-de-cdi-rencontre-avec-pete-muir/" target="" class="regularLink">posted an interview</a> with me in preparation for the Paris JUG (the interview is in French).
</p>

<p class="wikiPara">
See you in Paris!</p>
</div>
