---
title: "JavaOne 2011, Wow!"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "15-10-2011"
original_tags: [event,events]
tags: [Events]

relative_url: /2011/10/15/java-one-2011-wow
slug: java-one-2011-wow
lace: http://in.relation.to/22177.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/10/15/java-one-2011-wow
---
<div id="documentDisplay" class="documentDisplay">


<img src="http://farm7.static.flickr.com/6044/6252999118_4189302c13.jpg" width="500" height="332" alt="DSC_0619" align="left" hspace="4px">

<p class="wikiPara">
First, let me start with a confession. Until last week I was a virgin. A JavaOne virgin of course ;-)
</p>

<p class="wikiPara">
Where to start?
</p>

<h2 class="wikiHeadline2" id="H-TheBooth"><a href="/2011/10/15/java-one-2011-wow#H-TheBooth">The booth</a></h2>

<p class="wikiPara">
The <a href="http://community.jboss.org/blogs/mark.little/2011/10/12/javaone-2011" target="" class="regularLink">JBoss / Red Hat booth</a> really was the hub of the conference for me, and my colleagues. I spent more time at the booth than anywhere. Whether it was catching up community members, presenting in the mini-theater, chatting with people interested in JBoss technologies, or just gossiping with colleagues, it was always fun.
</p>

<p class="wikiPara">
The mini-theater was a great crowd draw, and both my mini-theater talks caused the corridor to become impassable. All the mini-theater talks were recorded, and are just starting to appear online. I had a cloudy theme to mine, showing people how to use Red Hat's PaaS, OpenShift.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://vimeo.com/30744675" target="" class="regularLink">Data Grids in the Cloud</a>
</li>
<li class="wikiUnorderedListItem"> Java EE in the Cloud: JBoss AS 7 on OpenShift</li>
</ul>

<p class="wikiPara">
I kept both talks very practical, focusing on how you can use <a href="http://openshift.com" target="" class="regularLink">OpenShift</a> with Java EE, and <a href="http://infinispan.org" target="" class="regularLink">Infinispan</a>, and wove in some information about the technologies I was using. Take a look.
</p>

<h2 class="wikiHeadline2" id="H-Parties"><a href="/2011/10/15/java-one-2011-wow#H-Parties">Parties</a></h2>

<img src="http://farm7.static.flickr.com/6097/6258504145_46a8747605.jpg" width="300" height="225" alt="photo" align="right" hspace="4px">

<p class="wikiPara">
The parties were non-stop, and of course I have to mention the JBoss Party at Slide. But the definite highlight of the week for me was seeing Tom Petty and the Heartbreakers, and Sting. <a href="https://twitter.com/#!/nmcl" target="" class="regularLink">Mark</a>, my boss, told me I was allowed to appreciate Oracle for a couple of hours during the concert, but afterwards I <q>had to take a cold shower</q> ;-) I better not say too much more, as I know there are some <q>good</q> photos of me on his camera!
</p>

<p class="wikiPara">
Our final party of the week was perhaps the most impressive. Roof top terrace of one of the two <q>JBoss Pad's</q> watching the Blue Angels doing a fly-by.
</p>

<h2 class="wikiHeadline2" id="H-Sessions"><a href="/2011/10/15/java-one-2011-wow#H-Sessions">Sessions</a></h2>

<img src="http://farm7.static.flickr.com/6225/6258511627_52aeeed8bb.jpg" width="300" height="400" alt="P1000872" align="left" hspace="4px">

<p class="wikiPara">
I managed to attend a few sessions, and enjoyed attending a couple around migrating from both Spring to Java EE. It's great to see the community really championing the cause of Java EE so enthusiastically. Makes those long hours Gavin, and many others, spent getting CDI off the ground seem very worth it.
</p>

<p class="wikiPara">
My session was a once-in-a-lifetime opportunity - I talked about what's coming in CDI 1.1. I'm not a huge fan of this sort of session (I much prefer showing how you can build applications using the JBoss stack), but I knew the JavaOne audience would be interested in seeing the updates. The session, and many corridor discussions lead to an excellent panel session at the end of the week (with <a href="https://twitter.com/#!/arungupta" target="" class="regularLink">Arun</a> in the chair, and <a href="https://twitter.com/#!/dblevins" target="" class="regularLink">David</a>, <a href="http://www.rahmannet.net/" target="" class="regularLink">Reza</a> and <a href="http://blogs.oracle.com/siva/" target="" class="regularLink">Siva</a> sitting alongside me on the panel). I learnt a lot about what <i class="wikiEmphasis">you</i> are looking for from CDI 1.1, and what <i class="wikiEmphasis">your</i> priorities are, invaluable information.
</p>

<img src="http://farm7.static.flickr.com/6042/6259045618_a30d760aa3.jpg" width="320" height="240" alt="OracleAppreciationEvent" align="right" hspace="4px">

<h2 class="wikiHeadline2" id="H-Interviews"><a href="/2011/10/15/java-one-2011-wow#H-Interviews">Interviews</a></h2>

<p class="wikiPara">
I had the opportunity to talk to InfoQ, O'Reilly and TSS during the week about CDI and Java EE - all three were great fun to do. We covered the inevitable question <q>How does this relate to Spring?</q> a couple of times of course ;-) I'll post when the interviews are up! Thanks to Rick, Tim and Cameron, and their respective teams, for taking the time!
</p>

<h2 class="wikiHeadline2" id="H-ThighDeepSnow"><a href="/2011/10/15/java-one-2011-wow#H-ThighDeepSnow">Thigh deep snow</a></h2>

<p class="wikiPara">
Eh? What? <a href="https://twitter.com/#!/maniksurtani" target="" class="regularLink">Manik</a> and I took a few days off after the conference to go hiking in the Sierra Nevada. There was somewhat more snow than we expected, and was pretty cold (night one, our boots froze), but a great way to unwind. Of course, I was sporting some pretty <del>sexy</del> well travelled head gear (it's been to 5500m above sea level and to 61 degrees north, that cap has).
</p>

<p class="wikiPara">
Bring on next year!
</p>

<small>Photos courtesy of <a href="https://twitter.com/#!/rayploski" target="" class="regularLink">Ray Ploski</a>, <a href="https://twitter.com/#!/pbakker" target="" class="regularLink">Paul Bakker</a> and <a href="http://www.linkedin.com/profile/view?id=3515915&amp;authType=name&amp;authToken=MIK8&amp;locale=en_US&amp;pvs=pp&amp;trk=ppro_viewmore" target="" class="regularLink">Matt Vanderpol</a></small>
</div>

