---
title: "CDI Webinar recording available"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "21-01-2011"
tags: []

absolute_url: http://in.relation.to/2011/01/21/CDIWebinarRecordingAvailable
lace: http://in.relation.to/18167.lace
slug: CDIWebinarRecordingAvailable

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The recording of my CDI webinar from Wednesday (second highest attendance <a href="http://jboss.org/webinars" target="" class="regularLink">in the series</a>, just pipped to the post by Bela talking about clustering!) is now <a href="http://vimeo.com/19010253" target="" class="regularLink">available</a>. Enjoy!</p>
</div>
