---
title: "CDI with JRuby"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "17-06-2011"
original_tags: [Contexts and Dependency Injection]
tags: [CDI]

relative_url: /2011/06/17/cdi-with-j-ruby
slug: cdi-with-j-ruby
lace: http://in.relation.to/20844.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/06/17/cdi-with-j-ruby
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Marek Goldman just wrote a <a href="http://torquebox.org/news/2011/06/13/torquebox-a-javaists-tutorial-on-messaging-services-and-cdi-in-ruby/" target="" class="regularLink">blog</a> on using CDI with JRuby on <a href="http://torquebox.org/" target="" class="regularLink">Torquebox</a>. Nice!</p>
</div>

