---
title: "Java EE 6 on OpenShift"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "12-08-2011"
tags: [Contexts and Dependency Injection,Java EE 6,Seam,Seam News,as7_openshift]

relative_url: /2011/08/12/JavaEE6OnOpenShift
slug: JavaEE6OnOpenShift
lace: http://in.relation.to/21543.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/08/12/JavaEE6OnOpenShift
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Unless you've been living under a rock for the past week, then you'll have seen that <a href="http://redhat.com" target="" class="regularLink">Red Hat</a> just added support for <a href="http://jboss.org/as7" target="" class="regularLink">JBoss AS 7</a> on <a href="http://openshift.redhat.com" target="" class="regularLink">OpenShift</a> (both Express and Flex).
</p>

<img src="http://msrumford.wikispaces.com/file/view/2488.jpg/32015813/2488.jpg" align="right" width="268" height="379" hspace="20">

<h2 class="wikiHeadline2" id="H-WhyShouldYouCare"><a href="/2011/08/12/JavaEE6OnOpenShift#H-WhyShouldYouCare">Why should you care?</a></h2>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem">OpenShift is the first PaaS to offer Java EE 6 support</li>
<li class="wikiUnorderedListItem">OpenShift Express is 100% free, and allows you to run as many non-clustered applications you want on JBoss AS 7</li>
<li class="wikiUnorderedListItem">OpenShift Express offers neat management of your apps via Git, including a source compilation mode</li>
<li class="wikiUnorderedListItem">OpenShift Flex gives you much more freedom, including the ability to run clustered applications, and offers monitoring and automatic scaling. </li>
<li class="wikiUnorderedListItem">OpenShift Flex is free, but you need to provide the EC2 instances. <i class="wikiEmphasis">However</i> Red Hat is offering a free 1 month/30 hour trial, so there is no reason not to check it out right now</li>
<li class="wikiUnorderedListItem">JBoss AS 7 implements the Java EE 6 web profile, with all the benefits of the excellent CDI-based programming model it offers. It's very snappy to use, so deploying apps is quick</li>
</ul>

<h2 class="wikiHeadline2" id="H-HowCanYouLearnMore"><a href="/2011/08/12/JavaEE6OnOpenShift#H-HowCanYouLearnMore">How can you learn more?</a></h2>

<p class="wikiPara">
This week we've been pushing out material like crazy. If you want to give Java EE 6 in the cloud a try check out these resources:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Getting Started with OpenShift Express [<a href="http://vimeo.com/27493566" target="" class="regularLink">Windows</a> | <a href="http://vimeo.com/27478061" target="" class="regularLink">Fedora</a> | <a href="http://vimeo.com/27444290" target="" class="regularLink">Mac</a> ]</li>
<li class="wikiUnorderedListItem"> <a href="http://vimeo.com/27501635" target="" class="regularLink">Using Java EE 6 on OpenShfit Express</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://vimeo.com/27534958" target="" class="regularLink">Mobile to Cloud in 4 minutes using OpenShift Express</a>
</li>
<li class="wikiUnorderedListItem"> Use Seam in OpenShift Express [ <a href="https://www.redhat.com/openshift/blogs/seeing-cdi-working-in-openshift" target="" class="regularLink">Blog</a> | <a href="http://vimeo.com/27605997" target="" class="regularLink">Screencast</a> ]</li>
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/blogs/mark.little/2011/07/10/jbossas-70-comes-to-openshift" target="" class="regularLink">JBoss on OpenShift Overview</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://community.jboss.org/blogs/scott.stark/2011/08/10/jbossas7-configuration-in-openshift-express" target="" class="regularLink">JBoss AS 7 on OpenShift Express</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://vimeo.com/27596937" target="" class="regularLink">Using Infinispan with CDI on OpenShift Express</a>
</li>
</ul>

<p class="wikiPara">
To find out more, check out <a href="http://jboss.org/openshift" target="" class="regularLink">jboss.org</a>.</p>
</div>

