---
title: "CDI In Paris!"
author: "Pete Muir"
creation_date: "06-06-2011"
blogger_name: "Pete"
layout: blog-post
tags: []
slug: CDIInParis
lace: http://in.relation.to/20680.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Next week, I'll be <a href="http://www.parisjug.org/xwiki/bin/view/Meeting/20110614" target="" class="regularLink">at the Paris JUG</a> on the evening of Tuesday 14th June. I'll stawt with a CDI overview, and then move on to discuss CDI extensions.
</p>

<p class="wikiPara">
Duchess (a global network for women in Java technology) <a href="http://jduchess.org/duchess-france/blog/a-la-decouverte-de-cdi-rencontre-avec-pete-muir/" target="" class="regularLink">posted an interview</a> with me in preparation for the Paris JUG (the interview is in French).
</p>

<p class="wikiPara">
See you in Paris!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'CDIInParis';
    var disqus_title = 'CDI In Paris!';
    var disqus_url = 'http://in.relation.to/20680.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
