---
title: "Weld 1.1.0.Final available!"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "17-01-2011"
tags: [Seam News,Weld]

absolute_url: http://in.relation.to/2011/01/17/Weld110FinalAvailable
lace: http://in.relation.to/18118.lace
slug: Weld110FinalAvailable

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I've just published Weld 1.1.0, the reference implementation of JSR-299: Contexts and Dependency Injection for Java EE.  It's based on the <a href="http://docs.jboss.org/cdi/api/1.0-SP4/" target="" class="regularLink">CDI 1.0 API</a>. You can find direct download links at the bottom of this post or you can pull the artifacts from the <a href="http://repository.jboss.org/nexus/content/groups/public/org/jboss/weld/" target="" class="regularLink">JBoss Maven Repository</a>.
</p>

<p class="wikiPara">
This release contains all the new developments from the last six months, the highlights of which are:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Big improvements in memory usage, boot time and runtime performance. Our measurements showed a two fold improvement in boot time with just a few beans in the deployment, but with many beans, we were showing more than a 10 fold improvement. Memory usage showed a consistent 4 fold improvement, regardless of the number of beans deployed. We showed a 40% improvement in runtime performance, and also measured that Weld performs as well as, or better than other CDI implementations available, as well as other projects in the DI space.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Ability to exclude classes from scanning and deployment as beans by Weld. You can configure this in <tt>beans.xml</tt> for the bean archive you are deploying:</li>
</ul>

<pre class="wikiPreformatted">&lt;beans xmlns="http://java.sun.com/xml/ns/javaee" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xmlns:weld="http://jboss.org/schema/weld/beans" 
        xsi:schemaLocation="
           http://java.sun.com/xml/ns/javaee http://jboss.org/schema/cdi/beans_1_0.xsd
           http://jboss.org/schema/weld/beans http://jboss.org/schema/weld/beans_1_1.xsd"&gt;
    
    &lt;weld:scan&gt;
        &lt;!-- Don't include GWT support if GWT is not installed --&gt;
        &lt;weld:exclude name="com.acme.gwt.**"&gt;
            &lt;weld:if-class-available name="!com.google.GWT"/&gt;
        &lt;/weld:exclude&gt;
    &lt;/weld:scan&gt;

&lt;/beans&gt;</pre>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> The new <b>Pastecode</b> example, which shows off many of the new EJB 3.1 features in use with Weld</li>
<li class="wikiUnorderedListItem"> around 140 bug fixes</li>
<li class="wikiUnorderedListItem"> A <a href="http://docs.jboss.org/weld/reference/latest/en-US/html/contexts.html" target="" class="regularLink">new approach to managing contexts</a>, making it easier to write view-layer integrations</li>
</ul>

<p class="wikiPara">
We also just released 1.0.4 of the CDI TCK - you can find the links for it below :-)
</p>

<p class="wikiPara">
Thanks go to Marius Bogoevici, Stuart Douglas, Martin Gencur, <a href="http://in.relation.to/Bloggers/Nicklas" target="" class="regularLink">Nicklas Karlsson</a>, Stale Pedersen, Ales Justin, David Allen, Sivakumar Thyagarajan and Jason Porter for their hard work on this release!
</p>

<p class="wikiPara">
This also marks the last Weld release that I will be running the project for. I just want to take this opportunity to thank the Weld community for all their help over the last 2 years. Weld has an amazing community, full of very talented people, who want to get things right regardless personality and politics.
</p>

<h2 class="wikiHeadline2" id="H-JBossAS"><a href="/Bloggers/Weld110FinalAvailable#H-JBossAS">JBoss AS</a></h2>

<p class="wikiPara">
Weld 1.1.0.CR2 is included in JBoss AS 6.0.0.Final, and Weld 1.1.0.Final will be included in JBoss AS 6.0.1 (it's being integrated as we speak). Weld 1.1.0.Final is also included in GlassFish V3.1
</p>

<h2 class="wikiHeadline2" id="H-AboutWeld"><a href="/Bloggers/Weld110FinalAvailable#H-AboutWeld">About Weld</a></h2>

<p class="wikiPara">
<a href="http://seamframework.org/Weld" target="" class="regularLink">Weld</a> is used in <a href="http://glassfish.dev.java.net" target="" class="regularLink">GlassFish V3</a> and the <a href="http://jboss.org/jbossas/" target="" class="regularLink">JBoss AS 6</a> series. Weld also has support for Servlet containers such as <a href="http://tomcat.apache.org" target="" class="regularLink">Tomcat</a> and <a href="http://www.mortbay.org/jetty/" target="" class="regularLink">Jetty</a>. Alternatively, you can use Weld with Java SE.
</p>

<p class="wikiPara">
There is great testing support via <a href="http://jboss.org/arquillian" target="" class="regularLink">Arquillian</a>, which allows you to test in Weld SE, a mocked out Java EE container, Tomcat or Jetty, as well as JBoss AS and GlassFish.
</p>

<p class="wikiPara">
If you are just getting started, there are a few examples in the <a href="https://sourceforge.net/projects/jboss/files/Weld/1.1.0.Final/weld-1.1.0.Final.zip/download" target="" class="regularLink">distribution</a> to guide you (look for instructions in the reference guide, and each example has a <tt>readme.txt</tt>). If you are looking for help, try our <a href="http://www.seamframework.org/Community/WeldUsers" target="" class="regularLink">user forums</a>, or perhaps join us on <a href="irc://freenode.net/#weld">IRC</a>.
</p>

<p class="wikiPara">
[ Distribution (<a href="https://sourceforge.net/projects/jboss/files/Weld/1.1.0.Final/weld-1.1.0.Final.zip/download" target="" class="regularLink">Weld</a>, <a href="https://sourceforge.net/projects/jboss/files/CDI-TCK/1.0.4.SP1/jsr299-tck-1.0.4.SP1-dist.zip/download" target="" class="regularLink">CDI TCK</a>) ] | [ Release Notes (<a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310891&amp;version=12315878" target="" class="regularLink">Weld</a>, <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310900&amp;version=12315879" target="" class="regularLink">CDI TCK</a>) ] | [ Reference Guide (<a href="http://docs.jboss.org/weld/reference/1.1.0.Final/en-US/html" target="" class="regularLink">Weld</a>, <a href="http://docs.jboss.org/cdi/tck/reference/1.0.4.SP1/en-US/html/" target="" class="regularLink">CDI TCK</a> ] | [ Issue Tracker (<a href="http://jira.jboss.com/jira/browse/WELD" target="" class="regularLink">Weld</a>, <a href="http://jira.jboss.com/jira/browse/CDITCK" target="" class="regularLink">CDI TCK</a>) ] | [ <a href="http://docs.jboss.org/cdi/api/1.0-SP4/" target="" class="regularLink">CDI Javadoc</a> ]</p>
</div>
