---
title: "CDI 1.1 slides"
author: "Pete Muir"
blogger_name: "Pete"
layout: blog-post
tags: []
slug: CDI11Slides
lace: http://in.relation.to/22103.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/CDI11Slides">CDI 1.1 slides</a>
                    </h1>
</div>
<p class="wikiPara">
Here are the <a href="&lt;%=%20site.base_url%20%&gt;/assets/CDI_JavaOne_2011.pdf" target="" class="regularLink">slides</a> from my JavaOne talk on CDI 1.1 :-)</p>
</div>
