---
title: "CDI Webinar recording available"
author: "Pete Muir"
blogger_name: "Pete"
layout: blog-post
tags: []
slug: CDIWebinarRecordingAvailable
lace: http://in.relation.to/18167.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/CDIWebinarRecordingAvailable">CDI Webinar recording available</a>
                    </h1>
</div>
<p class="wikiPara">
The recording of my CDI webinar from Wednesday (second highest attendance <a href="http://jboss.org/webinars" target="" class="regularLink">in the series</a>, just pipped to the post by Bela talking about clustering!) is now <a href="http://vimeo.com/19010253" target="" class="regularLink">available</a>. Enjoy!</p>
</div>
