---
title: "Want to learn about JBoss AS 7? Now you can!"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "01-07-2011"
original_tags: [JBossAS7,Java EE,Media]
tags: [Java EE,JBoss AS]

relative_url: /2011/07/01/want-to-learn-aboutjboss-as-7-now-you-can
slug: want-to-learn-aboutjboss-as-7-now-you-can
lace: http://in.relation.to/20932.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/07/01/want-to-learn-aboutjboss-as-7-now-you-can
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
If you missed our <a href="http://jboss.org/webinars" target="" class="regularLink">webinars</a> on <a href="http://jboss.org/as7" target="" class="regularLink">JBoss AS7</a> then never fear, because we've already got the recordings uploaded!
</p>

<p class="wikiPara">
First, watch <a href="http://www.vimeo.com/25829465" target="" class="regularLink">Jason introduce you to what's new and cool in JBoss AS 7</a>, then, you can watch <a href="http://www.vimeo.com/25829285" target="" class="regularLink">Dan and myself show you how to write apps for JBoss AS 7</a>. Next up was <a href="http://www.vimeo.com/25855285" target="" class="regularLink">Brian, showing you the JBoss AS 7 domain model and how to manage your subsystems</a>, finally we have <a href="http://www.vimeo.com/25863625" target="" class="regularLink">Paul and Bela showing you how to cluster JBoss AS 7</a>.
</p>

<p class="wikiPara">
This was a great series of tutorials, full of live demos, so check it out.
</p>

<p class="wikiPara">
If you are looking to get started with JBoss AS 7, you might want to take a look at <a href="http://www.vimeo.com/25831010" target="" class="regularLink">the 5 ways to deploy an application to JBoss AS 7 screencast</a> I recorded yesterday.</p>
</div>

