---
title: "JBoss AS 7 and Paris JUG"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "17-06-2011"
tags: [Contexts and Dependency Injection,JBoss AS,JBossAS7,Paris JUG,Seam News]

relative_url: /2011/06/17/jboss-as-7-and-paris-jug
slug: jboss-as-7-and-paris-jug
lace: http://in.relation.to/20863.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/06/17/jboss-as-7-and-paris-jug
---
<div id="documentDisplay" class="documentDisplay">


<img align="right" src="http://www.parisjug.org/xwiki/bin/download/Main/WebHome/logoparisjugnvlleversion.jpg">
<p class="wikiPara">
I just got back from the excellent <a href="http://www.parisjug.org/xwiki/bin/view/Main/WebHome" target="" class="regularLink">Paris JUG</a> where I presented CDI to a packed room.
</p>

<p class="wikiPara">
We started by covering the basics - the Java EE 6 platform, before doing a deep dive (using the <a href="https://github.com/weld/core/tree/master/examples/jsf/pastecode" target="" class="regularLink">Weld Pastecode example</a>) into the various features CDI offers and when you might want to use them. We also took a look at EJBs and how you can use them to supplement the programming model offered by CDI. The slides I used are <a href="#jboss-as-7-and-paris-jug_attachment1" target="" class="regularLink">available [1]</a>.
</p>

<p class="wikiPara">
After the break, we then took a look writing CDI extensions. We took a look at the way you can observe the events CDI fires when the container starts, and how you can use these to modify the deployment. We then used a few examples from the <a href="https://github.com/pmuir/cdi-extension-showcase" target="" class="regularLink">cdi-extensions-showcase</a> to show how simple yet powerful the extensions SPI is. The slides I used are <a href="#jboss-as-7-and-paris-jug_attachment2" target="" class="regularLink">available [2]</a>.
</p>

<hr>

<p class="wikiPara">
You can hardly fail to have noticed <a href="http://community.jboss.org/blogs/mark.little/2011/06/04/jbossas-7-is-coming" target="" class="regularLink">that JBoss AS 7 is coming</a> any day now - everyone at JBoss is pretty excited by this!
</p>

<p class="wikiPara">
We want everyone to check it out, as we think the improvements it offers (2.5s boot, small memory footprint, super easy config and more) will have you dancing in the streets. To get you going, we've arranged a special series of <a href="http://www.jboss.org/webinars" target="" class="regularLink">webinars</a> covering AS7 for the end of June. Jason Greene will give you an overview of AS7, Dan Allen and myself will show you how to write and test Java EE6 apps for AS7, Brian Stansberry will demonstrate exactly how easy it is to configure a JBoss AS 7 domain and Paul Ferraro and Bela Ban will show you how to cluster JBoss AS 7. 
</p>

<p class="wikiPara">
Get your registration done today!</p>
</div>

<div class="attachments">
<h4>Attachments</h4>
<ol class="wikiOrderedList"><li class="wikiOrderedListItem"><a name="jboss-as-7-and-paris-jug_attachment1" href="/assets/Java EE Programming Model.pdf">Java EE Programming Model.pdf</a></li>
<li class="wikiOrderedListItem"><a name="jboss-as-7-and-paris-jug_attachment2" href="/assets/cdi-extensions.pdf">cdi-extensions.pdf</a></li>
</ol>
</div>

