---
title: "CDI support for Infinispan"
author: "Pete Muir"
blogger_name: "Pete"
layout: blog-post
tags: []
slug: CDISupportForInfinispan
lace: http://in.relation.to/22086.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/CDISupportForInfinispan">CDI support for Infinispan</a>
                    </h1>
</div>
<p class="wikiPara">
<a href="https://twitter.com/#!/kevinpollet" target="" class="regularLink">Kevin Pollet</a> and I were <a href="http://java.dzone.com/articles/using-cdi-access-infinispan" target="" class="regularLink">interviewed by DZone</a> about the <a href="https://docs.jboss.org/author/display/ISPN/CDI+Support" target="" class="regularLink">CDI support in Infinispan</a> - if you are interested in Infinispan, caching or data-grids, this should be interesting for you.
</p>

<p class="wikiPara">
The CDI support is also a partial implementation of JSR-107 - the temporary caching API for Java that has recently reactivated and published a first draft for review . Greg's <a href="http://gregluck.com/blog/archives/2011/07/start-using-jsr107s-jcache-api/" target="" class="regularLink">blog</a> has more on using JSR-107.</p>
</div>
