---
title: "JSR-346 (CDI 1.1) posted on JCP site"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "13-04-2011"
original_tags: [Contexts and Dependency Injection]
tags: [CDI]

relative_url: /2011/04/13/jsr-346-cdi-11-posted-on-jcp-site
slug: jsr-346-cdi-11-posted-on-jcp-site
lace: http://in.relation.to/19155.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/04/13/jsr-346-cdi-11-posted-on-jcp-site
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm pleased to say that the JCP just posted <a href="http://www.jcp.org/en/jsr/proposalDetails?id=346" target="" class="regularLink">JSR-346</a> - the proposal will now be voted upon by the JCP Executive Committee (EC) and we'll know whether it has been approved to move forward on 25th April.
</p>

<p class="wikiPara">
If you would like to get involved with the spec, then you should subscribe to our <a href="https://lists.jboss.org/mailman/listinfo/cdi-dev" target="" class="regularLink">mailing list</a> where anyone can contribute to the process. If you would like to be on the formally recognized JCP expert group then you'll need to <a href="http://www.jcp.org/en/jsr/egnom?id=346" target="" class="regularLink">fill in this form</a>. If you are wondering what the difference is, then put simply, the JCP require us to have an EG where we can discuss private matters (i.e. legal issues). I can assure you that all technical discussions will happen on the public, open to all, <tt>cdi-dev</tt> mailing list, and then any conference calls etc. will be open to all to join. You will also want to take a look at the <a href="https://issues.jboss.org/browse/CDI" target="" class="regularLink">issue tracker</a> as we'll be using this to record issues, discussions and conclusions to issues.
</p>

<p class="wikiPara">
See you there!</p>
</div>

