---
title: "Interested in application elasticity?"
author: "Pete Muir"
creation_date: "30-09-2011"
blogger_name: "Pete"
layout: blog-post
tags: []
slug: InterestedInApplicationElasticity
lace: http://in.relation.to/22062.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
If so, join me in a webinar next Wednesday where we'll explore you build elastic applications using CDI and Java EE 6. There will be a super cool demo :-D
</p>

<b>Coordinates:</b>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Date: Wednesday, October 5, 2011</li>
<li class="wikiUnorderedListItem"> Time: 17:00 London, 12:00 Noon Boston, 9:00 San Francisco, 12:00 Midnight Singapore</li>
<li class="wikiUnorderedListItem"> <a href="https://engage.redhat.com/forms/20111005ApplicationMobility" target="" class="regularLink">Registration</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://engage.redhat.com/forms/20111005ApplicationMobility" target="" class="regularLink">More Info</a>
</li>
</ul>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'InterestedInApplicationElasticity';
    var disqus_title = 'Interested in application elasticity?';
    var disqus_url = 'http://in.relation.to/22062.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
