---
title: "How to add a dependencies report to your jar with Maven"
author: "Pete Muir"
creation_date: "07-07-2011"
blogger_name: "Pete"
layout: blog-post
tags: []
slug: HowToAddADependenciesReportToYourJarWithMaven
lace: http://in.relation.to/20956.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Quick maven tip for you. If you want to generate a <tt>META-INF/LICNSE.txt</tt> and <tt>META-INF/DEPENDENCIES.txt</tt> for your jars (very useful for libraries so users can quickly build an understanding of any licensing implications), here's how.
</p>

<p class="wikiPara">
Create a licensing bundle, <a href="https://github.com/infinispan/infinispan/tree/license-1/license" target="" class="regularLink">a bit like this one</a>. The magic happens in <a href="https://github.com/infinispan/infinispan/blob/license-1/license/src/main/resources/META-INF/DEPENDENCIES.txt.vm" target="" class="regularLink">src/main/resources/META-INFDEPENDENCIES.txt.vm</a>; we explore the transitive dependencies of the project, and for each one, print out the project name and it's license.
</p>

<p class="wikiPara">
You can then use the licensing bundle in your parent pom, with a snippet a bit like this:
</p>

<pre class="wikiPreformatted">         &lt;plugin&gt;
            &lt;artifactId&gt;maven-remote-resources-plugin&lt;/artifactId&gt;
            &lt;version&gt;1.1&lt;/version&gt;
            &lt;executions&gt;
               &lt;execution&gt;
                  &lt;id&gt;attach-license&lt;/id&gt;
                  &lt;goals&gt;
                     &lt;goal&gt;process&lt;/goal&gt;
                  &lt;/goals&gt;
                  &lt;inherited&gt;true&lt;/inherited&gt;
                  &lt;configuration&gt;
                     &lt;resourceBundles&gt;
                        &lt;resourceBundle&gt;org.infinispan:infinispan-license:1&lt;/resourceBundle&gt;
                     &lt;/resourceBundles&gt;
                  &lt;/configuration&gt;
               &lt;/execution&gt;
            &lt;/executions&gt;
         &lt;/plugin&gt;</pre>
</div>
