---
title: "Interested in application elasticity?"
author: "Pete Muir"
blogger_name: "Pete"
layout: blog-post
tags: []
slug: InterestedInApplicationElasticity
lace: http://in.relation.to/22062.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/InterestedInApplicationElasticity">Interested in application elasticity?</a>
                    </h1>
</div>
<p class="wikiPara">
If so, join me in a webinar next Wednesday where we'll explore you build elastic applications using CDI and Java EE 6. There will be a super cool demo :-D
</p>

<b>Coordinates:</b>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Date: Wednesday, October 5, 2011</li>
<li class="wikiUnorderedListItem"> Time: 17:00 London, 12:00 Noon Boston, 9:00 San Francisco, 12:00 Midnight Singapore</li>
<li class="wikiUnorderedListItem"> <a href="https://engage.redhat.com/forms/20111005ApplicationMobility" target="" class="regularLink">Registration</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://engage.redhat.com/forms/20111005ApplicationMobility" target="" class="regularLink">More Info</a>
</li>
</ul>
</div>
