---
title: "CDI support for Infinispan"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "03-10-2011"
original_tags: []
tags: [CDI]

relative_url: /2011/10/03/cdi-support-for-infinispan
slug: cdi-support-for-infinispan
lace: http://in.relation.to/22086.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/10/03/cdi-support-for-infinispan
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="https://twitter.com/#!/kevinpollet" target="" class="regularLink">Kevin Pollet</a> and I were <a href="http://java.dzone.com/articles/using-cdi-access-infinispan" target="" class="regularLink">interviewed by DZone</a> about the <a href="https://docs.jboss.org/author/display/ISPN/CDI+Support" target="" class="regularLink">CDI support in Infinispan</a> - if you are interested in Infinispan, caching or data-grids, this should be interesting for you.
</p>

<p class="wikiPara">
The CDI support is also a partial implementation of JSR-107 - the temporary caching API for Java that has recently reactivated and published a first draft for review . Greg's <a href="http://gregluck.com/blog/archives/2011/07/start-using-jsr107s-jcache-api/" target="" class="regularLink">blog</a> has more on using JSR-107.</p>
</div>

