---
title: "CDI 1.1"
author: "Pete Muir"
blogger_name: "Pete"
creation_date: "14-03-2011"
tags: [Contexts and Dependency Injection,Hibernate]

relative_url: /2011/03/14/cdi-11
slug: cdi-11
lace: http://in.relation.to/18757.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/03/14/cdi-11
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I pleased to say that I just submitted the JSR proposal for CDI 1.1 (<a href="#cdi-11_attachment1" target="" class="regularLink">full text[1]</a> is attached). In general, we are pretty happy with CDI 1.0, so this release focuses on a small number of much requested features, along with bug fixes and clarifications. 
</p>

<p class="wikiPara">
We'll mainly be working through the <a href="https://issues.jboss.org/browse/CDI" target="" class="regularLink">CDI issue tracker</a>, and on the <a href="https://lists.jboss.org/mailman/listinfo/cdi-dev" target="" class="regularLink">cdi-dev@lists.jboss.org</a> public mailing list - I encourage anyone who has an interest in the development of CDI to subscribe to both, and keep an eye on discussions as we progress. You can find the <a href="https://github.com/pmuir/cdi" target="" class="regularLink">current spec on github</a> - we'll be keeping that up to date as work is done.
</p>

<p class="wikiPara">
Here's the headlines of the work we intend to do - though we will be very happy to add other issues that arise as work progresses.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Global ordering of interceptors and decorators, as well as global enablement of alternatives [<a href="https://issues.jboss.org/browse/CDI-48" target="" class="regularLink">CDI-48</a>]</li>
<li class="wikiUnorderedListItem"> An API for managing built in contexts, allowing the built in implementation of the conversation context to be used outside of JSF [<a href="https://issues.jboss.org/browse/CDI-30" target="" class="regularLink">CDI-30</a>]</li>
<li class="wikiUnorderedListItem"> An embedded mode allowing startup outside of a Java EE container [<a href="https://issues.jboss.org/browse/CDI-26" target="" class="regularLink">CDI-26</a>]</li>
<li class="wikiUnorderedListItem"> Declarative control over which packages/classes are scanned in a bean archive [<a href="https://issues.jboss.org/browse/CDI-87" target="" class="regularLink">CDI-87</a>]</li>
<li class="wikiUnorderedListItem"> Bean declaration at constructor level [<a href="https://issues.jboss.org/browse/CDI-55" target="" class="regularLink">CDI-55</a>]</li>
<li class="wikiUnorderedListItem"> Static injection [<a href="https://issues.jboss.org/browse/CDI-51" target="" class="regularLink">CDI-51</a>]</li>
<li class="wikiUnorderedListItem"> Inclusion of @Unwraps from Seam Solder [<a href="https://issues.jboss.org/browse/CDI-89" target="" class="regularLink">CDI-89</a>]</li>
<li class="wikiUnorderedListItem"> Align with current version of @Inject [<a href="https://issues.jboss.org/browse/CDI-51" target="" class="regularLink">CDI-51</a>]</li>
<li class="wikiUnorderedListItem"> Numerous minor enhancements to the Portable Extensions SPI</li>
<li class="wikiUnorderedListItem"> Client controlled contexts allowing for SaaS style multi-tennancy [<a href="https://issues.jboss.org/browse/CDI-103" target="" class="regularLink">CDI-103</a>]</li>
<li class="wikiUnorderedListItem"> Better support for CDI in libraries when used in the Java EE platform [<a href="https://issues.jboss.org/browse/CDI-84" target="" class="regularLink">CDI-84</a>]</li>
<li class="wikiUnorderedListItem"> Send CDI events for Servlet events [<a href="https://issues.jboss.org/browse/CDI-38" target="" class="regularLink">CDI-38</a>]</li>
<li class="wikiUnorderedListItem"> Application lifecycle events [<a href="https://issues.jboss.org/browse/CDI-86" target="" class="regularLink">CDI-86</a>]</li>
</ul>

<p class="wikiPara">
A full list of proposed features is available in the <a href="http://bit.ly/cdi11features" target="" class="regularLink">issue tracker</a>.
</p>

<p class="wikiPara">
Additionally, a number of inconsistencies have been noticed and clarifications requested and the JSR intends to address all of these. A full list is available in the <a href="http://bit.ly/cdi10bugs" target="" class="regularLink">issue tracker</a>.
</p>
</div>

<div class="attachments">
<h4>Attachments</h4>
<ol class="wikiOrderedList"><li class="wikiOrderedListItem"><a name="cdi-11_attachment1" href="/assets/CDI-1.1-JSR-Proposal.pdf">CDI-1.1-JSR-Proposal.pdf</a></li>
</ol>
</div>

