---
title: "CDI with JRuby"
author: "Pete Muir"
blogger_name: "Pete"
layout: blog-post
tags: [Contexts and Dependency Injection]
slug: CDIWithJRuby
lace: http://in.relation.to/20844.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/CDIWithJRuby">CDI with JRuby</a>
                    </h1>
</div>
<p class="wikiPara">
Marek Goldman just wrote a <a href="http://torquebox.org/news/2011/06/13/torquebox-a-javaists-tutorial-on-messaging-services-and-cdi-in-ruby/" target="" class="regularLink">blog</a> on using CDI with JRuby on <a href="http://torquebox.org/" target="" class="regularLink">Torquebox</a>. Nice!</p>
</div>
