---
title: "JUDCon India, Brno Developer Conferences, Interviews, and more"
author: "Pete Muir"
creation_date: "10-01-2012"
blogger_name: "Pete"
layout: blog-post
tags: [event,events]
slug: JUDConIndiaBrnoDeveloperConferencesInterviewsAndMore
lace: http://in.relation.to/22724.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Whilst I was relaxing over the Christmas break, a few items came in which I want to share with you.
</p>

<p class="wikiPara">
First up, <a href="http://www.jboss.org/events/JUDCon/2012/india" target="" class="regularLink">JUDCon India</a>. In two weeks, what feels like half of the core developers at JBoss will descend on Bangalore for two days packed full of talks on all things JBoss. I'll be covering Infinispan and application development using JBoss AS and Java EE.
</p>

<p class="wikiPara">
Next, I'll be in Brno (my favourite city in the Czech Republic, as I always get to drink lots of beer with friends. I'll be speaking at the JBUG and at the <a href="http://fedoraproject.org/wiki/DeveloperConference2012" target="" class="regularLink">Developer Conference</a> about Infinispan. See you there.
</p>

<p class="wikiPara">
At JavaOne, I had the great pleasure of talking to Rick Hightower for half an hour. We covered CDI, Java EE, EJB and Spring - great fun! Info <a href="http://www.infoq.com/interviews/pete-muir-discusses-cdi-at-javaone-2011" target="" class="regularLink">just published</a> the talk.
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'JUDConIndiaBrnoDeveloperConferencesInterviewsAndMore';
    var disqus_title = 'JUDCon India, Brno Developer Conferences, Interviews, and more';
    var disqus_url = 'http://in.relation.to/22724.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
