---
title: "Transactions for managed beans"
author: "Pete Muir"
creation_date: "01-05-2012"
blogger_name: "Pete"
layout: blog-post
tags: []
slug: TransactionsForManagedBeans
lace: http://in.relation.to/23154.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
A standard, universal @Transactional annotation is coming in Java EE 7. You can read <a href="http://java.net/projects/javaee-spec/lists/users/archive/2011-12/message/2" target="" class="regularLink">more about the proposal here</a>.
</p>

<p class="wikiPara">
However, there are some important things to keep in mind:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <tt>@Transactional</tt> <i class="wikiEmphasis">is</i> being developed as a revision to the JTA spec (as an MR)</li>
<li class="wikiUnorderedListItem"> <tt>@Transactional</tt> <i class="wikiEmphasis">is not</i> being developed by the <a href="https://github.com/jboss/cdi/wiki" target="" class="regularLink">CDI EG</a>, nor will it be in the CDI spec</li>
<li class="wikiUnorderedListItem"> Feedback on <tt>@Transactional</tt> should be sent to the <a href="http://java.net/projects/javaee-spec/pages/Home" target="" class="regularLink">Java EE platform EG</a> <i class="wikiEmphasis">not</i> to the CDI EG. The platform EG is conducting the revision to the JTA spec.</li>
</ul>

<p class="wikiPara">
Java EE does not recognize a Servlet container as a compliant environment and therefore this feature will not be available there by default (mainly due to the absence of JTA in this environemnt).
</p>

<p class="wikiPara">
However, to bridge the divide, <a href="https://cwiki.apache.org/DeltaSpike/index.html" target="" class="regularLink">Deltaspike</a> will likely offer support for @Transactional in a Servlet environment since we acknowledge that it <i class="wikiEmphasis">is</i> important, and is an environment preferred by many developers (but we still strongly urge you to migrate to the web profile!!).</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'TransactionsForManagedBeans';
    var disqus_title = 'Transactions for managed beans';
    var disqus_url = 'http://in.relation.to/23154.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
