---
title: "JBoss AS 7.1 on OpenShift"
author: "Pete Muir"
creation_date: "09-05-2012"
blogger_name: "Pete"
layout: blog-post
tags: []
slug: JBossAS71OnOpenShift
lace: http://in.relation.to/23180.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Excited about JBoss AS 7.1 in the cloud? <a href="http://www.jboss.org/jbossas" target="" class="regularLink">JBoss AS 7.1</a> is now available on <a href="http://openshift.redhat.com" target="" class="regularLink">OpenShift</a> and provides a small memory footprint and <a href="http://in.relation.to/Bloggers/WhyIsJBossAS7SoFast" target="" class="regularLink">lightning fast startup times</a>.
</p>

<p class="wikiPara">
OpenShift is a free <a href="https://openshift.redhat.com/community/blogs/announcing-openshift-the-platform-as-a-service-for-developers-who-love-open-source-and-cdi" target="" class="regularLink">Platform-as-a-Service (PaaS) </a>that enables developers to get deployed to the cloud without having to worry about downloading and managing the stack, writing scripts or installing agents. You can build your applications using the <a href="http://docs.redhat.com/docs/en-US/OpenShift/2.0/html/User_Guide/sect-User_Guide-Using_the_Jenkins_Embedded_Build_System.html" target="" class="regularLink">built in Jenkins support</a>, easily add persistence, like <a href="http://docs.redhat.com/docs/en-US/OpenShift/2.0/html/User_Guide/sect-User_Guide-Adding_and_Managing_Database_Instances.html" target="" class="regularLink">MySQL</a> or <a href="http://docs.redhat.com/docs/en-US/OpenShift/2.0/html/User_Guide/sect-User_Guide-Adding_and_Managing_MongoDB_Instances.html" target="" class="regularLink">MongoDB</a>, <a href="http://arquillian.org/guides/testing_in_the_cloud/" target="" class="regularLink">test using Arquillian</a> <a href="https://vimeo.com/41667870" target="" class="regularLink">or deploy from JBDS</a>.
</p>

<p class="wikiPara">
Getting started simply requires <a href="https://openshift.redhat.com/app/getting_started" target="" class="regularLink">signing up for OpenShift</a>.
</p>

<p class="wikiPara">
To celebrate the availability of JBoss AS 7.1 on OpenShift, we've put together <a href="https://vimeo.com/channels/as71openshift" target="" class="regularLink">a series of 6 videos</a>. <a href="https://vimeo.com/41667870" target="" class="regularLink">Learn how to build a mobile ready application</a>, deployed to OpenShift in 5 minutes. Deploy REST <a href="https://vimeo.com/41419718" target="" class="regularLink">services to the cloud</a>, and <a href="https://vimeo.com/41460454" target="" class="regularLink">consume them</a>. <a href="https://vimeo.com/39840828" target="" class="regularLink">Add a portal</a>, courtesy of the GateIn project. Add very <a href="https://vimeo.com/41558620" target="" class="regularLink">high performance messaging</a>, from HornetQ. Or <a href="https://vimeo.com/41350695" target="" class="regularLink">add atomic transactions over Web Services</a>.
</p>

<p class="wikiPara">
And that's on top of the <a href="https://vimeo.com/channels/openshift" target="" class="regularLink">web profile support, available for about a year</a>!
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
