---
title: "Announcing jdf - JBoss Developer Framework"
author: "Pete Muir"
blogger_name: "Pete"
layout: blog-post
tags: [Seam News,jdf]
slug: AnnouncingJdfJBossDeveloperFramework
lace: http://in.relation.to/23216.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/AnnouncingJdfJBossDeveloperFramework">Announcing jdf - JBoss Developer Framework</a>
                    </h1>
</div>
<p class="wikiPara">
JBoss Developer Framework exists to show you, the developer, how to make the most of JBoss and Java EE 6 technologies on JBoss Enterprise Application Platform and JBoss AS.
</p>

<a href="http://jboss.org/jdf"><img src="http://jboss.org/jdf/images/jdflogo_secondarypage.png"></a>

<p class="wikiPara">
There are three ways we do this:
</p>

<h2 class="wikiHeadline2" id="H-Quickstarts"><a href="/Bloggers/AnnouncingJdfJBossDeveloperFramework#H-Quickstarts">Quickstarts</a></h2>

<p class="wikiPara">
We start small, with the <a href="http://jboss.org/jdf/quickstarts/get-started" target="" class="regularLink">quickstarts</a>. Each quickstart is very focused, and shows you one API, or one use case. There are about 53 quickstarts today, ranging from JAX-RS CRUD to GWT to HTML5 to transactions.
</p>

<h2 class="wikiHeadline2" id="H-Examples"><a href="/Bloggers/AnnouncingJdfJBossDeveloperFramework#H-Examples">Examples</a></h2>

<p class="wikiPara">
Quickstarts are great, but there comes a time in everyone's life when they want to write something other than a simple application! <a href="http://jboss.org/jdf/examples/get-started" target="" class="regularLink">TicketMonster</a> steps up to the plate at this point. Today, it's a full web-app written, with front-ends showing off the three approaches to view layers we like at JBoss - HTML5 + REST, Errai/GWT and RichFaces/JSF.
</p>

<p class="wikiPara">
Over time, we plan to add much more to TicketMonster, as well as spin up other examples. Check out the <a href="http://jboss.org/jdf/about/roadmap" target="" class="regularLink">Roadmap</a> for more info on our plans!
</p>

<h2 class="wikiHeadline2" id="H-Migrating"><a href="/Bloggers/AnnouncingJdfJBossDeveloperFramework#H-Migrating">Migrating</a></h2>

<p class="wikiPara">
We realise that there are lots of people still using older technologies such as Seam 2, Spring or Java EE 5. We've put together a comprehensive set of migration tutorials to <a href="http://jboss.org/jdf/migrations/get-started/" target="" class="regularLink">show you how</a>.
</p>

<h2 class="wikiHeadline2" id="H-JBossBOMs"><a href="/Bloggers/AnnouncingJdfJBossDeveloperFramework#H-JBossBOMs">JBoss BOMs</a></h2>

<p class="wikiPara">
To make all this possible, we've developed <a href="http://jboss.org/jdf/stack/jboss-bom" target="" class="regularLink">a set of BOMs</a>. The BOMs start with Java EE 6, and build on that base API with JBoss extensions such as Hibernate (Search, Validator...), Errai and Arquillian. They're a great way to make sure you're using the same set of dependences that we test with!
</p>

<h2 class="wikiHeadline2" id="H-Roadmap"><a href="/Bloggers/AnnouncingJdfJBossDeveloperFramework#H-Roadmap">Roadmap</a></h2>

<p class="wikiPara">
JBoss Developer Framework 1.0 is firmly focused on education, showing you how to use JBoss Enterprise Application Platform and JBoss AS with Java EE 6.
</p>

<p class="wikiPara">
JBoss Developer Framework 2.0 will start to add other technologies to the stack, such as <a href="https://cwiki.apache.org/DeltaSpike/temporary-documentation.html" target="" class="regularLink">Deltaspike</a> and <a href="http://www.jboss.org/aerogear" target="" class="regularLink">Aerogear</a>. We won't be forking these projects, but simply testing and recommending a version to use (via a <a href="http://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html#Importing_Dependencies" target="" class="regularLink">Maven BOM</a>).
</p>

<h2 class="wikiHeadline2" id="H-GetInvolved"><a href="/Bloggers/AnnouncingJdfJBossDeveloperFramework#H-GetInvolved">Get Involved</a></h2>

<p class="wikiPara">
If you want to ask questions, or help out, then visit our <a href="http://jboss.org/jdf/forums/" target="" class="regularLink">forums</a> (which are also mailing lists).
</p>

<p class="wikiPara">
We'll be <a href="http://www.jboss.org/jdf/about/buzz/" target="" class="regularLink">tweeting using the #jbossjdf tag</a>.
</p>

<p class="wikiPara">
We'll mostly be posting jdf related items on the <a href="http://www.jboss.org/jdf/news.atom" target="" class="regularLink">jdf news feed</a>, so if you want to keep up to date, I suggest you subscribe there.
</p>

<p class="wikiPara">
If you are lucky enough to be coming to <a href="http://www.redhat.com/summit/" target="" class="regularLink">JBoss World, Red Hat Summit</a> or <a href="http://www.jboss.org/events/JUDCon/2012/boston" target="" class="regularLink">JUDCon</a>, then <a href="http://www.jboss.org/jdf/events/" target="" class="regularLink">we'll be there</a>.
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
