---
title: "Integrating Seam Security with OpenLDAP"
author: "Shane Bryzak"
blogger_name: "Shane"
creation_date: "12-09-2008"
tags: [Seam News]

relative_url: /2008/09/12/integrating-seam-security-with-open-ldap
slug: integrating-seam-security-with-open-ldap
lace: http://in.relation.to/9386.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/09/12/integrating-seam-security-with-open-ldap
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I've written a new article describing how to integrate Seam Security with OpenLDAP, using the new features in Seam 2.1.0.  You can read the article <a href="http://shane.bryzak.com/blog/articles/integrating_seam_and_openldap" target="" class="regularLink">here</a>.  Comments are welcome here, enjoy.</p>
</div>

