---
title: "Integrating Seam Security with OpenLDAP"
author: "Shane Bryzak"
creation_date: "12-09-2008"
blogger_name: "Shane"
layout: blog-post
tags: [Seam News]
slug: IntegratingSeamSecurityWithOpenLDAP
lace: http://in.relation.to/9386.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I've written a new article describing how to integrate Seam Security with OpenLDAP, using the new features in Seam 2.1.0.  You can read the article <a href="http://shane.bryzak.com/blog/articles/integrating_seam_and_openldap" target="" class="regularLink">here</a>.  Comments are welcome here, enjoy.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'IntegratingSeamSecurityWithOpenLDAP';
    var disqus_title = 'Integrating Seam Security with OpenLDAP';
    var disqus_url = 'http://in.relation.to/9386.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
