---
title: "Seam Security gets an upgrade"
author: "Shane Bryzak"
blogger_name: "Shane"
creation_date: "26-05-2008"
original_tags: []
tags: [Seam]

relative_url: /2008/05/26/seam-security-gets-an-upgrade
slug: seam-security-gets-an-upgrade
lace: http://in.relation.to/8980.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/05/26/seam-security-gets-an-upgrade
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
For those that are interested in what's happening with Seam Security, I've written an article describing the improvements to the security API in Seam 2.1.0.  You can read the full article <a href="http://shane.bryzak.com/blog/articles/seam_security_gets_an_upgrade" target="" class="regularLink">here</a>, but to summarise, it covers the following features:
</p>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> The new Identity Management API</li>
<li class="wikiUnorderedListItem"> The redesigned authorization system, including pluggable permission resolvers</li>
<li class="wikiUnorderedListItem"> Persistent and rule-based permissions, and the Permission Management API</li>
<li class="wikiUnorderedListItem"> Typesafe security annotations</li>
</ul>

<p class="wikiPara">
The 2.1.0 release of Seam will also include JBossSSO and OpenID integration, as well as a bunch of other security improvements.  It's really shaping up to be a huge release.  Look forward to seeing another article describing how to use an OpenLDAP directory with Seam's Identity Management API shortly.
</p>
</div>

