---
title: "Seam 2.2.1.CR1 released"
author: "Shane Bryzak"
blogger_name: "Shane"
creation_date: "15-03-2010"
tags: []

absolute_url: http://in.relation.to/2010/03/15/Seam221CR1Released
lace: http://in.relation.to/14824.lace
slug: Seam221CR1Released

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
As the title says, Seam 2.2.1.CR1 is now available for download - you can get it from Sourceforge here:
</p>

<p class="wikiPara">
<a href="http://sourceforge.net/projects/jboss/files/JBoss%20Seam/2.2.1.CR1" target="" class="regularLink">http://sourceforge.net/projects/jboss/files/JBoss%20Seam/2.2.1.CR1</a>
</p>

<p class="wikiPara">
Release notes can be found here:
</p>

<p class="wikiPara">
<a href="https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12313677&amp;styleName=Text&amp;projectId=10071&amp;Create=Create" target="" class="regularLink">https://jira.jboss.org/jira/secure/ReleaseNote.jspa?version=12313677&amp;styleName=Text&amp;projectId=10071&amp;Create=Create</a>
</p>

<p class="wikiPara">
And docs can be found here:
</p>

<p class="wikiPara">
<a href="http://docs.jboss.org/seam/2.2.1.CR1" target="" class="regularLink">http://docs.jboss.org/seam/2.2.1.CR1</a>
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
