---
title: "Seamframework.org site upgrade"
author: "Shane Bryzak"
blogger_name: "Shane"
creation_date: "03-08-2010"
original_tags: []
tags: [Seam]

relative_url: /2010/08/03/seamframeworkorg-site-upgrade
slug: seamframeworkorg-site-upgrade
lace: http://in.relation.to/16514.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/08/03/seamframeworkorg-site-upgrade
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Just a heads up to everyone - I'll be updating the seamframework.org wiki software very shortly.  Downtime is currently expected to be around 20 minutes, once the site is back up I'll post an update here.  
</p>

<p class="wikiPara">
Thanks for your patience!
</p>


<p class="wikiPara">
<i class="wikiEmphasis">Update</i>: The site update didn't quite go as planned, with a last minute hiccup occurring with some obscure configuration issue.  For now we're still running the previous version of the wiki software, and the upgrade is postponed temporarily.  I'll keep this post updated with any further changes.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Update 2</i>: The site has now been successfully upgraded.  The purpose of this update was mainly to add a number of admin-only features to help us deal with the increasing problem of spam.  You will now notice a new 'Report as spam' button within the wiki areas (e.g. knowledge base, FAQs) of the site.  If you come across any comments that are obviously spam, it would be greatly appreciated if you could report this post to the site administrators by clicking the new button.  If you come across any other issues while using the updated site, please report them here and we'll address them ASAP.  Thank you once again for being patient.</p>
</div>

