---
title: "Seam Remoting 3.0.0.Beta1 released"
author: "Shane Bryzak"
creation_date: "16-03-2010"
blogger_name: "Shane"
layout: blog-post
tags: [Seam,Seam 3,Seam News]
slug: SeamRemoting300Beta1Released
lace: http://in.relation.to/14840.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm pleased to announce the availability of our first Seam 3 module, Seam Remoting 3.0.0.Beta1. This release provides a CDI-based port of most of the AJAX remoting features that you know from Seam 2.x, and also introduces a new feature, the Model API.  Please refer to the following links for downloads and documentation, and if you encounter any issues please use the issue tracking link to let us know about them.  (Seam Remoting now has its own project in JIRA).
</p>

<p class="wikiPara">
<a href="http://sourceforge.net/projects/jboss/files/JBoss%20Seam/Remoting/3.0.0.Beta1/" target="" class="regularLink">Download</a>
</p>

<p class="wikiPara">
<a href="http://docs.jboss.org/seam/remoting/3.0.0.Beta1/" target="" class="regularLink">Documentation</a>
</p>

<p class="wikiPara">
<a href="http://jira.jboss.org/jira/browse/SEAMREMOTING" target="" class="regularLink">Issue tracking</a>
</p>

<p class="wikiPara">
Also, stay tuned for a release of the Seam XML module in the next day, which will allow you to configure your CDI beans via an XML configuration file.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'SeamRemoting300Beta1Released';
    var disqus_title = 'Seam Remoting 3.0.0.Beta1 released';
    var disqus_url = 'http://in.relation.to/14840.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
