---
title: "Seam 3.0.0.Beta1 released"
author: "Shane Bryzak"
creation_date: "30-01-2011"
blogger_name: "Shane"
layout: blog-post
tags: [Seam 3,Seam News]
slug: Seam300Beta1Released
lace: http://in.relation.to/18197.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm pleased to announce the availability of Seam 3.0.0.Beta1.
</p>

<p class="wikiPara">
<a href="http://sourceforge.net/projects/jboss/files/Seam/3/3.0.0.Beta1/" target="" class="regularLink">Download here</a>
</p>

<p class="wikiPara">
This release is the first consolidated release of all Seam modules in a single downloadable bundle.  If you are currently using Seam in your Maven-based project, then the good news is that you <i class="wikiEmphasis">probably need to do nothing</i> (except maybe check the Maven artifact versions in your pom file are the latest for the Seam modules you are using).
</p>

<p class="wikiPara">
Please be aware that as this release is the first beta, it will be a little rough around the edges.  The next release (Beta 2) is planned for 11 February, and will contain consolidated api and reference documentation and be more polished in general.
</p>

<p class="wikiPara">
I would like to thank all of the contributors to Seam 3, of which there are too numerous to mention individually.  The entire Seam team (both full time and community members) have worked extremely hard to get this release out, and I'd like to congratulate them on their huge effort.
</p>

<p class="wikiPara">
I would also like to encourage everyone to get busy with <a href="http://www.seamframework.org/Seam3/ReportIssues" target="" class="regularLink">reporting any bugs</a> or any other issues that you find with this release.  As the API for all modules should now be mostly stable, the entire team will be focussing on testing and polishing up the code, JavaDoc and reference documentation for each module, as well as developing new examples to demonstrate the cool features that Seam provides.  We would really appreciate your assistance in the time leading up to the final release by letting us know of any issues or improvements that you might discover.</p>
</div>
