---
title: "JBoss Seam 3.1.0.CR1 Released"
author: "Shane Bryzak"
blogger_name: "Shane"
creation_date: "01-12-2011"
tags: [Seam,Seam News]

relative_url: /2011/12/01/jboss-seam-310-cr-1-released
slug: jboss-seam-310-cr-1-released
lace: http://in.relation.to/22515.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/12/01/jboss-seam-310-cr-1-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce the immediate availability of the first candidate release for Seam 3.1.  Here's the usual links:
</p>

<p class="wikiPara">
<a href="https://sourceforge.net/projects/jboss/files/Seam/3/3.1.0.CR1/" target="" class="regularLink">Download Seam 3.1.0.CR1 bundled distribution</a>
</p>

<p class="wikiPara">
<a href="http://docs.jboss.org/seam/3/3.1.0.CR1/reference/en-US/html/" target="" class="regularLink">Reference Documentation</a>
</p>

<p class="wikiPara">
<a href="http://docs.jboss.org/seam/3/3.1.0.CR1/api/" target="" class="regularLink">API Documentation</a>
</p>

<p class="wikiPara">
<a href="http://issues.jboss.org/browse/SEAM" target="" class="regularLink">Report issues</a>
</p>

<p class="wikiPara">
Maven users, please update your project to include the following:
</p>



<pre class="wikiPreformatted">&lt;dependencyManagement&gt;
   &lt;dependencies&gt;
      &lt;dependency&gt;
         &lt;groupId&gt;org.jboss.seam&lt;/groupId&gt;
         &lt;artifactId&gt;seam-bom&lt;/artifactId&gt;
         &lt;version&gt;3.1.0.CR1&lt;/version&gt;
         &lt;scope&gt;import&lt;/scope&gt;
         &lt;type&gt;pom&lt;/type&gt;
       &lt;/dependency&gt;
    &lt;/dependencies&gt;
&lt;/dependencyManagement&gt;</pre>



<p class="wikiPara">
This release is now feature complete - we will only be working on bug fixes and quality issues leading up to the 3.1 final release, which can be expected in mid December.  I encourage everyone to try it out, and let us know if you experience any issues with it by using the <i class="wikiEmphasis">Report issues</i> link above.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">Note</i> - the version of Solder that was included in the <tt>seam-bom</tt> of this release is incorrect, however this should not have any adverse effects.</p>
</div>

