---
title: "Seam 3.0.0.CR2 released"
author: "Shane Bryzak"
blogger_name: "Shane"
creation_date: "08-03-2011"
tags: [Seam,Seam News]

relative_url: /2011/03/08/seam-300-cr-2-released
slug: seam-300-cr-2-released
lace: http://in.relation.to/18640.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/03/08/seam-300-cr-2-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The Seam 3.0 CR2 release is now available for download from the following location:
</p>

<p class="wikiPara">
<a href="http://sourceforge.net/projects/jboss/files/Seam/3/3.0.0.CR2/" target="" class="regularLink">Download distribution</a>
</p>

<p class="wikiPara">
Reference documentation can be found here:
</p>

<p class="wikiPara">
<a href="http://docs.jboss.org/seam/3/latest/reference/en-US/html/" target="" class="regularLink">Reference Docs</a>
</p>

<p class="wikiPara">
While the individual Seam module versions haven't changed for this release, the distribution now includes Seam Forge, the totally new, engineered from the ground up shiny successor to seam-gen.  
</p>

<img src="http://www.seamframework.org/service/File/144996">

<p class="wikiPara">
How many times have you wanted to start a new project in Java EE, but struggled to put all the pieces together? Has the Maven archetype syntax left you scratching your head? Everyone else is talking about Rails, Grails, and Roo, and you're left thinking, <q>I wish it were that easy for me.</q> Well, there's good news: You don't have to leave Java EE just to find a developer tool that makes starting out simple. Seam Forge is heating up Java EE, and is ready to work it into a full-fledged project.
</p>

<p class="wikiPara">
It's also an incremental enhancement tool that lets you to take an existing Java EE projects and safely work-in new functionality. Seam Forge comprehends your entire project, including the abstract structure of the files, and can make intelligent decisions of how and what to change.  It also features an extensible plugin system, powerful command-link features and much more.
</p>

<p class="wikiPara">
Whether you want to get your startup going today, or make your big customers happy tomorrow, Seam Forge is a tool you should be looking at.
</p>

<p class="wikiPara">
Follow the getting started steps in the <a href="http://docs.jboss.org/seam/3/latest/reference/en-US/html/forge-generate.webapp.javaee.html" target="" class="regularLink">Forge reference documentation</a> to find out how easy it is to create a new Java EE project with Forge.
</p>

<p class="wikiPara">
The Seam 3.0 CR2 release also includes an updated version of the Seam Booking example (what would a Seam release be without it?).  Many thanks goes to José Freitas for spending the time to get this example working, and for giving it a refreshing new look.
</p>

<p class="wikiPara">
With the CR2 release out of the way, the Seam team will now be working hard to prepare for the 3.0 Final release, which can be expected by the end of this month.  If you discover any issues while using the CR2 release, please let us know by <a href="http://issues.jboss.org/browse/SEAM" target="" class="regularLink">reporting it in JIRA</a>.</p>
</div>

