---
title: "JBoss Seam 3.1.0.Beta5 Released"
author: "Shane Bryzak"
blogger_name: "Shane"
creation_date: "23-11-2011"
tags: [Seam,Seam News]

relative_url: /2011/11/23/JBossSeam310Beta5Released
slug: JBossSeam310Beta5Released
lace: http://in.relation.to/22367.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/11/23/JBossSeam310Beta5Released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm happy to announce the release of Seam 3.1.0.Beta5.  This will be the last beta release for Seam 3.1, the next release will be CR1 and our plan is to have it available by the end of this month.  We had planned to have a quickened release cycle leading up to CR1, however in the interest of including new modules in this release (namely Seam Spring - see Marius' announcement <a href="http://in.relation.to/Bloggers/SeamSpring310Alpha1Released" target="" class="regularLink">here</a>) we had to extend the release timetable, so we thank you for your patience.
</p>

<p class="wikiPara">
As usual, here's the links for the download and documentation:
</p>

<p class="wikiPara">
<a href="https://sourceforge.net/projects/jboss/files/Seam/3/3.1.0.Beta5/" target="" class="regularLink">Download Seam 3.1.0.Beta5 bundled distribution</a>
</p>

<p class="wikiPara">
<a href="http://docs.jboss.org/seam/3/3.1.0.Beta5/reference/en-US/html/" target="" class="regularLink">Reference Documentation</a>
</p>

<p class="wikiPara">
<a href="http://docs.jboss.org/seam/3/3.1.0.Beta5/api/" target="" class="regularLink">API Documentation</a>
</p>

<p class="wikiPara">
<a href="http://issues.jboss.org/browse/SEAM" target="" class="regularLink">Report issues</a>
</p>

<p class="wikiPara">
Enjoy!
</p>
</div>

