---
title: "Seam 3.1 Beta 4 Released"
author: "Shane Bryzak"
blogger_name: "Shane"
creation_date: "25-10-2011"
tags: [Seam,Seam News]

absolute_url: http://in.relation.to/2011/10/25/Seam31Beta4Released
lace: http://in.relation.to/22211.lace
slug: Seam31Beta4Released

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
As per usual, let's get the links out of the way first:
</p>

<p class="wikiPara">
<a href="https://sourceforge.net/projects/jboss/files/Seam/3/3.1.0.Beta4/" target="" class="regularLink">Download Seam 3.1.0.Beta4</a>
</p>

<p class="wikiPara">
<a href="http://docs.jboss.org/seam/3/latest/reference/en-US/html/" target="" class="regularLink">Reference Documentation</a>
</p>

<p class="wikiPara">
<a href="http://docs.jboss.org/seam/3/latest/api/" target="" class="regularLink">API Documentation</a>
</p>

<p class="wikiPara">
<a href="http://issues.jboss.org/browse/SEAM" target="" class="regularLink">Report Issues</a>
</p>

<p class="wikiPara">
For Maven users, there is a new version of the Seam Bill of Materials:
</p>



<pre class="wikiPreformatted">   &lt;dependency&gt;
      &lt;groupId&gt;org.jboss.seam&lt;/groupId&gt;
      &lt;artifactId&gt;seam-bom&lt;/artifactId&gt;
      &lt;version&gt;3.1.0.Beta4&lt;/version&gt;
      &lt;type&gt;pom&lt;/type&gt;
      &lt;scope&gt;import&lt;/scope&gt;
   &lt;/dependency&gt;</pre>



<p class="wikiPara">
I know that we promised a CR1 release for Seam 3.1 at about this time, however the Seam QA team have done their jobs a little too well and identified a number of issues with the Beta3 release which we wanted to get fixed before we go to a candidate release.  The great news for this release is that we've fixed 68 issues - you can view the issue list here:
</p>

<p class="wikiPara">
<a href="https://issues.jboss.org/secure/IssueNavigator.jspa?mode=hide&amp;requestId=12315988" target="" class="regularLink">https://issues.jboss.org/secure/IssueNavigator.jspa?mode=hide&amp;requestId=12315988</a>
</p>

<p class="wikiPara">
Included in this release is a number of new features, improved documentation and a brand new Arquillian-based structure for our test suites to make it easier to test each module on multiple containers.  We've also squashed a great deal of bugs, improved stability, plus made a number of other minor improvements.
</p>

<p class="wikiPara">
As we still have quite a few open issues remaining for the Seam 3.1 release, we will likely release another beta in the next couple of weeks.  We want this release to be rock solid, so please try out the beta and let us know if you find any problems.</p>
</div>
