---
title: "Seam 3.0.0.CR1 released"
author: "Shane Bryzak"
blogger_name: "Shane"
creation_date: "27-02-2011"
tags: [Seam 3,Seam News]

relative_url: /2011/02/27/seam-300-cr-1-released
slug: seam-300-cr-1-released
lace: http://in.relation.to/18401.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/02/27/seam-300-cr-1-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The Seam 3.0 CR1 release is now available!  First of all the all-important links to the goodies:
</p>

<p class="wikiPara">
<a href="https://sourceforge.net/projects/jboss/files/Seam/3/3.0.0.CR1/?" target="" class="regularLink">Distribution download</a>
</p>

<p class="wikiPara">
<a href="http://docs.jboss.org/seam/3/latest/reference/html/" target="" class="regularLink">Reference documentation</a>
</p>

<p class="wikiPara">
<a href="http://docs.jboss.org/seam/3/latest/api/" target="" class="regularLink">API documentation</a>
</p>

<p class="wikiPara">
<a href="http://issues.jboss.org/browse/SEAM" target="" class="regularLink">Issue reporting</a>
</p>

<p class="wikiPara">
This release contains the following Seam modules:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Seam Catch</li>
<li class="wikiUnorderedListItem"> Seam Config</li>
<li class="wikiUnorderedListItem"> Seam Faces</li>
<li class="wikiUnorderedListItem"> Seam International</li>
<li class="wikiUnorderedListItem"> Seam Persistence</li>
<li class="wikiUnorderedListItem"> Seam Remoting</li>
<li class="wikiUnorderedListItem"> Seam Rest</li>
<li class="wikiUnorderedListItem"> Seam Security</li>
<li class="wikiUnorderedListItem"> Seam Servlet</li>
<li class="wikiUnorderedListItem"> Seam Validation</li>
<li class="wikiUnorderedListItem"> Seam Wicket</li>
<li class="wikiUnorderedListItem"> Seam Solder</li>
</ul>

<p class="wikiPara">
A lot of work was done for this release to streamline our release process and bring all of the modules in line with our established module standards.  We still have a lot of finishing-up work to do before we reach 3.0 Final, however the CR1 release should now be very stable and will closely resemble the final release.
</p>

<p class="wikiPara">
You will be pleased to find that this release now includes consolidated API documentation and reference documentation (i.e. all of the documentation is now in a single document, rather than separate documents for each module).  Further, source code has been included in a single, exploded directory structure making it convenient to browse through the source code for <i class="wikiEmphasis">all</i> of the Seam modules in one place.
</p>

<p class="wikiPara">
The next release that we are planning is CR2, for which the most exciting addition will be Seam Forge. We're really looking forward to getting Forge into the hands of our users, and while it will only be a technical preview we're certain you'll find the cool things it can do really boosts your productivity.  The release cycle for this will be quite short, so expect it in about a week from now.
</p>

<p class="wikiPara">
As always, please report any issues you find with any of the modules, the documentation or examples using the link above.
</p>

<p class="wikiPara">
Once again, thanks to all of the developers in the Seam team for your tremendous efforts on this important milestone release.</p>
</div>

