---
title: "JUDCon India Recap"
author: "Shane Bryzak"
creation_date: "03-02-2012"
blogger_name: "Shane"
layout: blog-post
tags: [JUDCon,conference]
slug: JUDConIndiaRecap
lace: http://in.relation.to/22870.lace
---
<div id="documentDisplay" class="documentDisplay">


<img src="https://lh3.googleusercontent.com/-do91e7h8XDs/TykK7FOlZ8I/AAAAAAAAAW8/LDQ2Nwo08vU/s912/DSC_1299.JPG">

<p class="wikiPara">
I recently had the pleasure of attending Red Hat's first JUDCon event in APAC, <a href="http://www.jboss.org/events/JUDCon/2012/india" target="" class="regularLink">JUDCon India</a>.  The conference was hosted by Saltmarch Media in the Nimhans Convention Centre in Bangalore, and ran for 2 days.  The sessions were organized into 3 separate tracks:
</p>



<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> JBoss Application Server 7</li>
<li class="wikiUnorderedListItem"> OpenShift and Cloud</li>
<li class="wikiUnorderedListItem"> Rules, Workflow , SOA and EAI</li>
</ul>

<p class="wikiPara">
It was a great opportunity to be able to interact with so many other JBoss developers and users, and with an attendance of around 800 people it was the biggest JUDCon ever.  There was a high level of energy in the atmosphere, and most sessions were packed full of people, some with standing room only.  It was also great to see so much interest in JBoss technologies - the sessions I attended (and presented) all received a substantial number of questions at their conclusion, sometimes even running into the next session.  On the first evening of the conference we held an open Q&amp;A session, allowing the audience to ask whichever questions they liked to a panel of JBoss project leads and experts.
</p>

<img src="https://lh4.googleusercontent.com/-QWBaR8nORRk/TykSlScNWrI/AAAAAAAAAmI/e7D1B00Tmcc/s912/HKD_7476.JPG">

<p class="wikiPara">
All in all, it was an awesome event.  If you are interested in attending a JUDCon, then don't worry, you'll get another chance!  The next one will be held in Boston - If you are able to attend, I highly recommend you do as you won't get a better chance to network with the core developers at JBoss.
</p>

<img src="https://lh6.googleusercontent.com/-afCwiOJh7g8/TykQSSN3x3I/AAAAAAAAAig/IhD5kurNo_I/s912/HKD_7285.JPG">

<p class="wikiPara">
We'll also be making the videos of the sessions available online, so keep an eye out for them soon!
</p>





</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'JUDConIndiaRecap';
    var disqus_title = 'JUDCon India Recap';
    var disqus_url = 'http://in.relation.to/22870.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
