---
title: "Seam Validation"
author: "John Haselden"
blogger_name: "John"
creation_date: "18-09-2007"
original_tags: []
tags: [Seam]

relative_url: /2007/09/18/seam-validation
slug: seam-validation
lace: http://in.relation.to/2338.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2007/09/18/seam-validation
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I've been <a href="http://www.abstractec.co.uk/blog/index.php?itemid=6">blogging</a> <a href="http://www.abstractec.co.uk/blog/index.php?itemid=18">elsewhere</a> about validation in Seam recently and been getting some good feedback regarding what has been found out by myself and others, so I thought I'd kick off my blogging here with a quick summary of what has been discovered.
</p>

<p class="wikiPara">
Let's imagine for a moment we have a simple form with a simple backing bean.
</p>

<p class="wikiPara">
The form: 
</p>

<pre>
&lt;h:form&gt;
    &lt;s:validateAll&gt;
        &lt;f:facet name="beforeInvalidField"&gt;
            &lt;s:div styleClass="errors"&gt;
                &lt;s:message //&gt;
            &lt;//s:div&gt;
        &lt;//f:facet&gt;

        &lt;table&gt;
   
            &lt;tr&gt;
                &lt;td&gt;Product name:&lt;/td/&gt;
                &lt;td&gt;
                    &lt;s:decorate id="nameDecorate"&gt;
                        &lt;h:inputText id=<q>Name</q> value="#{product.name}"/&gt;
                    &lt;//s:decorate&gt;
                &lt;//td&gt;
            &lt;//tr&gt;
        &lt;//table&gt;
        &lt;h:commandButton type="submit" value="Save Product" action="#{productService.saveProduct}" /&gt;

    &lt;//s:validateAll&gt;
&lt;//h:form&gt;
</pre>

<p class="wikiPara">
The backing bean:
</p>

<pre>
@NotNull @Length(min=3, max=20)
private String name;

// getters and setters
...
</pre>

<p class="wikiPara">
OK, when we submit this form without filling in the name, we will see a large stack trace and are redirected to the debug page (assuming you've got that configured). This is caused by no validation from the front end being performed so the value of 'name' is not being checked before being passed on to be persisted. At this point Hibernate then checks against its validation rules that DO take into account our @NotNull annotation and complains bitterly about 'name' being null.
</p>

<p class="wikiPara">
Why is this happening? Well, the simple answer is that if you want your annotations to be used for front-end validation, you must add a required attribute to the form element and set it to true (ie: required="true"). This acts as a 'hint' to Seam to run the validation from the backing bean at the front end.
</p>

<p class="wikiPara">
Now, let's consider that we have a @Pattern to validate on a null-able field. To check this you would still need to have the required attribute set to true. Even though the field is not, technically, required. This would then allow you to validate against the @Pattern as you would expect.</p>
</div>

