---
title: "It's been a while.."
author: "John Haselden"
creation_date: "28-10-2007"
blogger_name: "John"
layout: blog-post
tags: []
slug: ItsBeenAWhile
lace: http://in.relation.to/2683.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Since I've blogged on here. Such is life. I've been playing with the Red Hat Development Studio but it's been hampering my efforts due to
</p>

<p class="wikiPara">
a) it not being available for OS X
b) it not having Seam 2.0
</p>

<p class="wikiPara">
As I noted on the past on my <a href="http://www.abstractec.co.uk/blog">Thinking in Seam</a> blog, I was trying to work with the Parallels virtualisation software and this was going quite well but the default install of Seam 1.2 in the Beta 1 version of RHDS that I was using (Beta 2 ships with 1.2.1) meant that it wasn't really ticking all the boxes for me. 
</p>

<p class="wikiPara">
So Max Andersen posted on my blog about the JBoss Tools project shipping an OS X installable, I was very excited. However, the promised hasn't been fulfilled yet as it seems to want to consume all the memory it can and then fall over in a heap! If I don't use all the best bits at once (JSF editor, faces config editor and JBoss Server management) and just use one at a time, then it's not too bad. Hopefully these things will improve with time (and feed back from people like myself), but I do suggest that if you're wanting RHDS for Seam 2.0, then you should give JBoss Tools a try.</p>
</div>
