---
title: "Google Maps and Seam"
author: "John Haselden"
creation_date: "26-06-2008"
blogger_name: "John"
layout: blog-post
tags: []
slug: GoogleMapsAndSeam
lace: http://in.relation.to/9141.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Over on <a href="http://www.abstractec.co.uk/blog" target="" class="regularLink">Thinking in Seam</a>, I've been running a series on working with Google Maps using Seam and I thought it would be an idea to put the links to the series in order on here.
</p>

<p class="wikiPara">
First part of the process is to add a tag onto the map using the GMap tag from the RichFaces tag library. This processed is described on <a href="http://www.abstractec.co.uk/blog/index.php?itemid=30" target="" class="regularLink">Markers in Google Maps</a>.
</p>

<p class="wikiPara">
Secondly, a little note on <a href="http://www.abstractec.co.uk/blog/index.php?itemid=31" target="" class="regularLink">UK postcodes with Google Maps</a> (in that, due to licensing issues, they do not work).
</p>

<p class="wikiPara">
Next up is how to <a href="http://www.abstractec.co.uk/blog/index.php?itemid=38" target="" class="regularLink">populate your Google Map</a> - be warned, it's a big article! Also, there's <a href="http://www.abstractec.co.uk/blog/index.php?itemid=48" target="" class="regularLink">the follow-up article</a> in which a couple of issues I discovered after posting the original article are addressed.
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'GoogleMapsAndSeam';
    var disqus_title = 'Google Maps and Seam';
    var disqus_url = 'http://in.relation.to/9141.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
