---
title: "Hibernate Search and JBoss Seam"
author: "John Haselden"
creation_date: "14-09-2008"
blogger_name: "John"
layout: blog-post
tags: []
slug: HibernateSearchAndJBossSeam
lace: http://in.relation.to/9408.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I have written an article / tutorial over on Thinking in Seam regarding using Hibernate Search with JBoss Seam. You can read the article by following <a href="http://www.abstractec.co.uk/blog/index.php?itemid=57">this link</a>. Comments are, as ever, appreciated.</p>
</div>
