---
title: "Hibernate Search and JBoss Seam"
author: "John Haselden"
blogger_name: "John"
creation_date: "14-09-2008"
tags: []

absolute_url: http://in.relation.to/2008/09/14/HibernateSearchAndJBossSeam
lace: http://in.relation.to/9408.lace
slug: HibernateSearchAndJBossSeam

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I have written an article / tutorial over on Thinking in Seam regarding using Hibernate Search with JBoss Seam. You can read the article by following <a href="http://www.abstractec.co.uk/blog/index.php?itemid=57">this link</a>. Comments are, as ever, appreciated.</p>
</div>
