---
title: "Hibernate ORM 4.1.8.Final Released"
author: "Brett Meyer"
blogger_name: "Brett"
creation_date: "01-11-2012"
tags: [Core Release,Hibernate,News]

relative_url: /2012/11/01/hibernate-orm-418-final-released
slug: hibernate-orm-418-final-released
lace: http://in.relation.to/23638.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/11/01/hibernate-orm-418-final-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate ORM 4.1.8.Final was released early this morning.  This maintenance release contains just shy of <i class="wikiEmphasis">50 resolved issues</i>, including several that were years old.  As usual, we sincerely appreciate the large amount of community involvement on this release.  The full changelog can be viewed here: <a href="https://hibernate.onjira.com/secure/ReleaseNote.jspa?projectId=10031&amp;version=12350" target="" class="regularLink">https://hibernate.onjira.com/secure/ReleaseNote.jspa?projectId=10031&amp;version=12350</a>
</p>

<p class="wikiPara">
JBoss Nexus: <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate" target="" class="regularLink">https://repository.jboss.org/nexus/content/groups/public/org/hibernate</a>
</p>

<p class="wikiPara">
Maven Central: <a href="http://mvnrepository.com/artifact/org.hibernate" target="" class="regularLink">http://mvnrepository.com/artifact/org.hibernate</a> (should update in a couple of days)
</p>

<p class="wikiPara">
SourceForge: <a href="https://sourceforge.net/projects/hibernate/files/hibernate4" target="" class="regularLink">https://sourceforge.net/projects/hibernate/files/hibernate4</a>
</p>

<p class="wikiPara">
Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.1.8.Final/hibernate-release-4.1.8.Final.zip/download" target="" class="regularLink">ZIP</a> or <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.1.8.Final/hibernate-release-4.1.8.Final.tgz/download" target="" class="regularLink">TGZ</a></p>
</div>

