---
title: "Hibernate ORM 4.1.9.Final Released"
author: "Brett Meyer"
blogger_name: "Brett"
creation_date: "13-12-2012"
tags: [Core Release,Hibernate,News]

relative_url: /2012/12/13/HibernateORM419FinalReleased
slug: HibernateORM419FinalReleased
lace: http://in.relation.to/23792.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/12/13/HibernateORM419FinalReleased
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
 Hibernate ORM 4.1.9.Final was released morning. We sincerely appreciate the large amount of community involvement on this release -- a large portion of the fixes were from contributor's pull requests. The full changelog can be viewed here: <a href="https://hibernate.onjira.com/secure/ReleaseNote.jspa?projectId=10031&amp;version=12367" target="" class="regularLink">https://hibernate.onjira.com/secure/ReleaseNote.jspa?projectId=10031&amp;version=12367</a>
</p>

<p class="wikiPara">
JBoss Nexus: <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate" target="" class="regularLink">https://repository.jboss.org/nexus/content/groups/public/org/hibernate</a>
</p>

<p class="wikiPara">
Maven Central: <a href="http://repo1.maven.org/maven2/org/hibernate/hibernate-core%20(should%20update%20in%20a%20couple%20of%20days)" target="" class="regularLink">http://repo1.maven.org/maven2/org/hibernate/hibernate-core (should update in a couple of days)</a>
</p>

<p class="wikiPara">
SourceForge: <a href="https://sourceforge.net/projects/hibernate/files/hibernate4" target="" class="regularLink">https://sourceforge.net/projects/hibernate/files/hibernate4</a>
</p>

<p class="wikiPara">
Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.1.9.Final/hibernate-release-4.1.9.Final.zip/download" target="" class="regularLink">ZIP</a> or <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.1.9.Final/hibernate-release-4.1.9.Final.tgz/download" target="" class="regularLink">TGZ</a></p>
</div>
