---
title: "Hibernate ORM 4.2.0.CR2 Released"
author: "Brett Meyer"
blogger_name: "Brett"
creation_date: "02-03-2013"
original_tags: [Core Release,Hibernate,News]
tags: [Hibernate ORM,Releases]

relative_url: /2013/03/02/hibernate-orm-420-cr-2-released
slug: hibernate-orm-420-cr-2-released
lace: http://in.relation.to/23967.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/03/02/hibernate-orm-420-cr-2-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate ORM 4.2.0.CR2 was just released. The full changelog can be viewed here: <a href="https://hibernate.onjira.com/issues/?jql=project=10031+AND+fixVersion=12651" target="" class="regularLink">https://hibernate.onjira.com/issues/?jql=project=10031+AND+fixVersion=12651</a>
</p>

<p class="wikiPara">
This is the first release with initial support for OSGi.  Please see <a href="https://hibernate.onjira.com/browse/HHH-7527" target="" class="regularLink">HHH-7527</a> and its subtasks for more information.  Example client bundles can be found here: <a href="https://github.com/brmeyer/HibernateOSGi" target="" class="regularLink">HibernateOSGi</a>
</p>

<p class="wikiPara">
In addition to numerous bug fixes and improvements, this CR was necessary due to a critical regression:
<a href="https://hibernate.onjira.com/browse/HHH-8025" target="" class="regularLink">HHH-8025</a>
</p>

<p class="wikiPara">
As usual, thank you to the community for all the support and hard work!
</p>

<p class="wikiPara">
JBoss Nexus: <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate" target="" class="regularLink">https://repository.jboss.org/nexus/content/groups/public/org/hibernate</a>
</p>

<p class="wikiPara">
Maven Central: <a href="http://repo1.maven.org/maven2/org/hibernate/hibernate-core" target="" class="regularLink">http://repo1.maven.org/maven2/org/hibernate/hibernate-core</a> (should update in a couple of days)
</p>

<p class="wikiPara">
SourceForge: <a href="https://sourceforge.net/projects/hibernate/files/hibernate4" target="" class="regularLink">https://sourceforge.net/projects/hibernate/files/hibernate4</a>
</p>

<p class="wikiPara">
Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.0.CR2/hibernate-release-4.2.0.CR2.zip/download" target="" class="regularLink">ZIP</a> or <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.0.CR2/hibernate-release-4.2.0.CR2.tgz/download" target="" class="regularLink">TGZ</a></p>
</div>

