---
title: "Hibernate ORM 4.2.3.Final Released"
author: "Brett Meyer"
creation_date: "03-07-2013"
blogger_name: "Brett"
layout: blog-post
tags: [Core Release,Hibernate,News]
slug: HibernateORM423FinalReleased
lace: http://in.relation.to/24278.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate ORM 4.2.3.Final was just released. The full changelog can be viewed <a href="https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=13550" target="" class="regularLink">here</a>
</p>

<p class="wikiPara">
<a href="https://hibernate.atlassian.net/browse/HHH-8112" target="" class="regularLink">HHH-8112</a> fully documented the OSGi capabilities and included multiple quickstart projects.  Please see the <a href="http://docs.jboss.org/hibernate/orm/4.2/devguide/en-US/html/ch17.html" target="" class="regularLink">Dev Guide</a> and <a href="http://docs.jboss.org/hibernate/orm/4.2/quickstart/en-US/html/ch06.html" target="" class="regularLink">Quickstart</a>.
</p>

<p class="wikiPara">
This release also completed the umbrella OSGi task: <a href="https://hibernate.atlassian.net/browse/HHH-7527" target="" class="regularLink">HHH-7527</a>!  Finally -- whew!
</p>

<p class="wikiPara">
Multiple minor bug fixes were included -- please see the changelog for more info.
</p>

<p class="wikiPara">
JBoss Nexus: <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate" target="" class="regularLink">https://repository.jboss.org/nexus/content/groups/public/org/hibernate</a><br>
Maven Central: <a href="http://repo1.maven.org/maven2/org/hibernate/hibernate-core" target="" class="regularLink">http://repo1.maven.org/maven2/org/hibernate/hibernate-core</a> (should update in a couple of days)<br>
SourceForge: <a href="https://sourceforge.net/projects/hibernate/files/hibernate4" target="" class="regularLink">https://sourceforge.net/projects/hibernate/files/hibernate4</a><br>
Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.3.Final/hibernate-release-4.2.3.Final.zip/download" target="" class="regularLink">4.2.3.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.3.Final/hibernate-release-4.2.3.Final.tgz/download" target="" class="regularLink">4.2.3.Final TGZ</a></p>
</div>
