---
title: "Hibernate ORM 4.2.2.Final Released"
author: "Brett Meyer"
blogger_name: "Brett"
creation_date: "22-05-2013"
tags: [Core Release,Hibernate,News]

relative_url: /2013/05/22/HibernateORM422FinalReleased
slug: HibernateORM422FinalReleased
lace: http://in.relation.to/24234.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/05/22/HibernateORM422FinalReleased
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate ORM 4.2.2.Final was just released. The full changelog can be viewed <a href="https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=13351" target="" class="regularLink">here</a>
</p>

<p class="wikiPara">
In addition to numerous bug fixes, notable changes include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-8217" target="" class="regularLink">HHH-8217</a> reworked <a href="https://hibernate.atlassian.net/browse/HHH-1904" target="" class="regularLink">HHH-1904</a> and made generated constraint names short and non-random</li>
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-7944" target="" class="regularLink">HHH-7944</a> added OSGi support to Envers</li>
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-7995" target="" class="regularLink">HHH-7995</a> supports the use of OSGi services to register Hibernate extension points</li>
</ul>

<p class="wikiPara">
JBoss Nexus: <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate" target="" class="regularLink">https://repository.jboss.org/nexus/content/groups/public/org/hibernate</a><br>
Maven Central: <a href="http://repo1.maven.org/maven2/org/hibernate/hibernate-core" target="" class="regularLink">http://repo1.maven.org/maven2/org/hibernate/hibernate-core</a> (should update in a couple of days)<br>
SourceForge: <a href="https://sourceforge.net/projects/hibernate/files/hibernate4" target="" class="regularLink">https://sourceforge.net/projects/hibernate/files/hibernate4</a><br>
Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.2.Final/hibernate-release-4.2.2.Final.zip/download" target="" class="regularLink">4.2.2.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.2.Final/hibernate-release-4.2.2.Final.tgz/download" target="" class="regularLink">4.2.2.Final TGZ</a></p>
</div>
