---
title: "Feedback Needed for Hibernate ORM OSGi"
author: "Brett Meyer"
blogger_name: "Brett"
creation_date: "30-01-2013"
tags: []

relative_url: /2013/01/30/feedback-needed-for-hibernate-ormos-gi
slug: feedback-needed-for-hibernate-ormos-gi
lace: http://in.relation.to/23921.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/01/30/feedback-needed-for-hibernate-ormos-gi
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="https://hibernate.onjira.com/browse/HHH-7527" target="" class="regularLink">HHH-7527</a> will address Hibernate ORM in OSGi environments.
</p>

<p class="wikiPara">
This task obviously has many design considerations and sub-tasks.  Today, we created a <a href="https://github.com/hibernate/hibernate-orm/wiki/Proposal:-OSGi" target="" class="regularLink">Proposal Wiki</a> to start brainstorming many of the topics.  We'd sincerely appreciate the communities involvement and feedback, especially with respect to identifying the many types of OSGi environment use cases.
</p>

<p class="wikiPara">
The best way to help is to join the discussion on HHH-7527.  Thanks!</p>
</div>

