---
title: "Hibernate ORM 4.2.4.Final Released"
author: "Brett Meyer"
blogger_name: "Brett"
creation_date: "08-08-2013"
tags: [Core Release,Hibernate,News]

absolute_url: http://in.relation.to/2013/08/08/HibernateORM424FinalReleased
lace: http://in.relation.to/24332.lace
slug: HibernateORM424FinalReleased

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate ORM 4.2.4.Final was just released, containing multiple bug fixes.  Please see the full changelog for more information: <a href="https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=13750" target="" class="regularLink">https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=13750</a>
</p>

<p class="wikiPara">
JBoss Nexus: <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate" target="" class="regularLink">https://repository.jboss.org/nexus/content/groups/public/org/hibernate</a><br>
Maven Central: <a href="http://repo1.maven.org/maven2/org/hibernate/hibernate-core" target="" class="regularLink">http://repo1.maven.org/maven2/org/hibernate/hibernate-core</a> (should update in a couple of days)<br>
SourceForge: <a href="https://sourceforge.net/projects/hibernate/files/hibernate4" target="" class="regularLink">https://sourceforge.net/projects/hibernate/files/hibernate4</a><br>
Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.4.Final/hibernate-release-4.2.4.Final.zip/download" target="" class="regularLink">4.2.4.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.4.Final/hibernate-release-4.2.4.Final.tgz/download" target="" class="regularLink">4.2.4.Final TGZ</a></p>
</div>
