---
title: "Hibernate ORM 4.2.5.Final Released"
author: "Brett Meyer"
creation_date: "28-08-2013"
blogger_name: "Brett"
layout: blog-post
tags: [Core Release,Hibernate,News]
slug: HibernateORM425FinalReleased
lace: http://in.relation.to/24344.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate ORM 4.2.5.Final was just released, containing about a dozen bug fixes.  The vast majority of them were community contributions through pull requests -- thank you!  Please see the full changelog for more information: <a href="https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=13953" target="" class="regularLink">https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=13953</a>
</p>

<p class="wikiPara">
JBoss Nexus: <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate" target="" class="regularLink">https://repository.jboss.org/nexus/content/groups/public/org/hibernate</a><br>
Maven Central: <a href="http://repo1.maven.org/maven2/org/hibernate/hibernate-core" target="" class="regularLink">http://repo1.maven.org/maven2/org/hibernate/hibernate-core</a> (should update in a couple of days)<br>
SourceForge: <a href="https://sourceforge.net/projects/hibernate/files/hibernate4" target="" class="regularLink">https://sourceforge.net/projects/hibernate/files/hibernate4</a><br>
Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.5.Final/hibernate-release-4.2.5.Final.zip/download" target="" class="regularLink">4.2.5.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.5.Final/hibernate-release-4.2.5.Final.tgz/download" target="" class="regularLink">4.2.5.Final TGZ</a></p>
</div>
