---
title: "Hibernate ORM 4.2.1.Final and 4.1.12.Final Released"
author: "Brett Meyer"
blogger_name: "Brett"
layout: blog-post
tags: [Core Release,Hibernate,News]
slug: HibernateORM421FinalAnd4112FinalReleased
lace: http://in.relation.to/24157.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/HibernateORM421FinalAnd4112FinalReleased">Hibernate ORM 4.2.1.Final and 4.1.12.Final Released</a>
                    </h1>
</div>
<p class="wikiPara">
Hibernate ORM 4.2.1.Final and 4.1.12.Final were just released. The full changelogs can be viewed here: <a href="https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=12950" target="" class="regularLink">4.2.1.Final</a> and <a href="https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=13053" target="" class="regularLink">4.1.12.Final</a>
</p>

<p class="wikiPara">
Originally, 4.1.11 was slated to be the final release of 4.1.x.  However, in <a href="https://hibernate.atlassian.net/browse/HHH-8149" target="" class="regularLink">HHH-8149</a>, we reverted <a href="https://hibernate.atlassian.net/browse/HHH-7797" target="" class="regularLink">HHH-7797</a> for 4.1 (changed unique columns, keys, and constraints).  The change had snowballed into numerous issues and, in hindsight, shouldn't have been made in 4.1.x to begin with.  To clean things up, it was decided to release 4.1.12.
</p>

<p class="wikiPara">
4.2.1 includes several notable changes:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-8175" target="" class="regularLink">HHH-8175</a> Official support for Postgresql 9.2, Postgres Plus 9.2, and IBM DB2 10.1.  Luckily, these mostly worked out-of-the-box with our existing dialects.  Only a few test changes were necessary.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> As mentioned above, <a href="https://hibernate.atlassian.net/browse/HHH-7797" target="" class="regularLink">HHH-7797</a> (release 4.2.0) changed the way uniqueness is handled.  Rather than mixing "unique" on column definitions, "unique(columns...)" on table definitions, unique indexes, and unique constraints, all were changed to solely use unique constraints (DB2 is the exception -- indexes are use in certain circumstances).  The issues mentioned were corrected in this release: <a href="https://hibernate.atlassian.net/browse/HHH-8092" target="" class="regularLink">HHH-8092</a>, <a href="https://hibernate.atlassian.net/browse/HHH-8162" target="" class="regularLink">HHH-8162</a>, and <a href="https://hibernate.atlassian.net/browse/HHH-8178" target="" class="regularLink">HHH-8178</a>.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> More details about <a href="https://hibernate.atlassian.net/browse/HHH-8162" target="" class="regularLink">HHH-8162</a>: Since unique constraints are now the default, special handling was necessary within SchemaUpdate.  The method used is configurable, selected with the "hibernate.schema_update.unique_constraint_strategy" property.  DROP_RECREATE_QUIETLY is the default.  It attempts to drop, then (re-)create each unique constraint within your model.  All errors and exceptions (constraint doesn't exist, constraint already existed, etc.) are ignored.  RECREATE_QUIETLY is the same, but does not attempt the drop.  SKIP will not attempt to drop or create unique constraints at all on the SchemaUpdate.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-1904" target="" class="regularLink">HHH-1904</a> In order to ensure that Hibernate does not generate foreign key and unique key names that are too long for certain dialects (ie, Oracle), the generation now uses random characters &lt; 30 characters in length.  Of course, this does not affect keys explicitly named in your mappings.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-7617" target="" class="regularLink">HHH-7617</a> Support for generating Eclipse IDE projects was improved.  Please see this <a href="http://in.relation.to/Bloggers/ImprovedEclipseProjectSupportForHibernateORMDevelopment" target="" class="regularLink">post</a> for more info.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Our ClassLoader concepts for OSGi support were greatly improved by <a href="https://hibernate.atlassian.net/browse/HHH-8096" target="" class="regularLink">HHH-8096</a>.  In addition, <a href="https://hibernate.atlassian.net/browse/HHH-7993" target="" class="regularLink">HHH-7993</a> supports basic Bundle scanning to automatically discover entities and mappings in your persistence unit bundle.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-7714" target="" class="regularLink">HHH-7714</a> added support for EntityMode.MAP in the JPA Criteria API.</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-8183" target="" class="regularLink">HHH-8183</a> supports synonyms in schema validation.  Enable the capability with the "hibernate.synonyms=true" property (disabled by default).</li>
</ul>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-8203" target="" class="regularLink">HHH-8203</a> ensures support of Proxool 0.9.1.</li>
</ul>

<p class="wikiPara">
JBoss Nexus: <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate" target="" class="regularLink">https://repository.jboss.org/nexus/content/groups/public/org/hibernate</a><br>
Maven Central: <a href="http://repo1.maven.org/maven2/org/hibernate/hibernate-core" target="" class="regularLink">http://repo1.maven.org/maven2/org/hibernate/hibernate-core</a> (should update in a couple of days)<br>
SourceForge: <a href="https://sourceforge.net/projects/hibernate/files/hibernate4" target="" class="regularLink">https://sourceforge.net/projects/hibernate/files/hibernate4</a><br>
Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.1.Final/hibernate-release-4.2.1.Final.zip/download" target="" class="regularLink">4.2.1.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.1.Final/hibernate-release-4.2.1.Final.tgz/download" target="" class="regularLink">4.2.1.Final TGZ</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.1.12.Final/hibernate-release-4.1.12.Final.zip/download" target="" class="regularLink">4.1.12.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.1.12.Final/hibernate-release-4.1.12.Final.tgz/download" target="" class="regularLink">4.1.12.Final TGZ</a></p>
</div>
