---
title: "Hibernate ORM 4.2.6.Final Released"
author: "Brett Meyer"
blogger_name: "Brett"
creation_date: "25-09-2013"
tags: [Core Release,Hibernate,News]

relative_url: /2013/09/25/HibernateORM426FinalReleased
slug: HibernateORM426FinalReleased
lace: http://in.relation.to/24389.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/09/25/HibernateORM426FinalReleased
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate ORM 4.2.6.Final was just released with 20 fixes.  Please see the full changelog for more information: <a href="https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=14150" target="" class="regularLink">https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=14150</a>.
</p>

<p class="wikiPara">
There were a couple of notable changes:
</p>


<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-8363" target="" class="regularLink">HHH-8363</a> corrected numerous memory leaks involving stopping/destroying ORM and references to ClassLoaders not being GC'd</li>
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-8476" target="" class="regularLink">HHH-8476</a> automatically deletes rows in the foreign key join table when an element is removed from a many-to-many association</li>
</ul>

<p class="wikiPara">
JBoss Nexus: <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate" target="" class="regularLink">https://repository.jboss.org/nexus/content/groups/public/org/hibernate</a><br>
Maven Central: <a href="http://repo1.maven.org/maven2/org/hibernate/hibernate-core" target="" class="regularLink">http://repo1.maven.org/maven2/org/hibernate/hibernate-core</a> (should update in a couple of days)<br>
SourceForge: <a href="https://sourceforge.net/projects/hibernate/files/hibernate4" target="" class="regularLink">https://sourceforge.net/projects/hibernate/files/hibernate4</a><br>
Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.6.Final/hibernate-release-4.2.6.Final.zip/download" target="" class="regularLink">4.2.6.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.6.Final/hibernate-release-4.2.6.Final.tgz/download" target="" class="regularLink">4.2.6.Final TGZ</a></p>
</div>

