---
title: "Feedback Needed for Hibernate ORM OSGi"
author: "Brett Meyer"
blogger_name: "Brett"
layout: blog-post
tags: []
slug: FeedbackNeededForHibernateORMOSGi
lace: http://in.relation.to/23921.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/FeedbackNeededForHibernateORMOSGi">Feedback Needed for Hibernate ORM OSGi</a>
                    </h1>
</div>
<p class="wikiPara">
<a href="https://hibernate.onjira.com/browse/HHH-7527" target="" class="regularLink">HHH-7527</a> will address Hibernate ORM in OSGi environments.
</p>

<p class="wikiPara">
This task obviously has many design considerations and sub-tasks.  Today, we created a <a href="https://github.com/hibernate/hibernate-orm/wiki/Proposal:-OSGi" target="" class="regularLink">Proposal Wiki</a> to start brainstorming many of the topics.  We'd sincerely appreciate the communities involvement and feedback, especially with respect to identifying the many types of OSGi environment use cases.
</p>

<p class="wikiPara">
The best way to help is to join the discussion on HHH-7527.  Thanks!</p>
</div>
