---
title: "Hibernate ORM 4.2.7.SP1 Released"
author: "Brett Meyer"
creation_date: "23-10-2013"
blogger_name: "Brett"
layout: blog-post
tags: [Core Release,Hibernate,News]
slug: HibernateORM427SP1Released
lace: http://in.relation.to/24493.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Shortly after releasing 4.2.7.Final, a regression was found (caused in 4.2.6.Final) that may affect some usages of Date, Calendar-as-a-Date, and JDBC Dates.  See <a href="https://hibernate.atlassian.net/browse/HHH-8617" target="" class="regularLink">https://hibernate.atlassian.net/browse/HHH-8617</a> for more information.  So, we decided to release 4.2.7.SP1 to correct it.
</p>

<p class="wikiPara">
JBoss Nexus: <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate" target="" class="regularLink">https://repository.jboss.org/nexus/content/groups/public/org/hibernate</a><br>
Maven Central: <a href="http://repo1.maven.org/maven2/org/hibernate/hibernate-core" target="" class="regularLink">http://repo1.maven.org/maven2/org/hibernate/hibernate-core</a> (should update in a couple of days)<br>
SourceForge: <a href="https://sourceforge.net/projects/hibernate/files/hibernate4" target="" class="regularLink">https://sourceforge.net/projects/hibernate/files/hibernate4</a><br>
Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.7.SP1/hibernate-release-4.2.7.SP1.zip/download" target="" class="regularLink">4.2.7.SP1 ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.7.SP1/hibernate-release-4.2.7.SP1.tgz/download" target="" class="regularLink">4.2.7.SP1 TGZ</a></p>
</div>
