---
title: "Hibernate ORM 4.2.8.Final Released"
author: "Brett Meyer"
blogger_name: "Brett"
creation_date: "04-12-2013"
original_tags: [Core Release,Hibernate,News]
tags: [Hibernate ORM,Releases]

relative_url: /2013/12/04/hibernate-orm-428-final-released
slug: hibernate-orm-428-final-released
lace: http://in.relation.to/24617.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/12/04/hibernate-orm-428-final-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate ORM 4.2.8.Final was just released with 30 fixes/improvements!  Please see the full changelog for more information: <a href="https://hibernate.atlassian.net/issues/?jql=project=10031+AND+fixVersion=14950" target="" class="regularLink">https://hibernate.atlassian.net/issues/?jql=project=10031+AND+fixVersion=14950</a>.
</p>

<p class="wikiPara">
Apologies for the delay in this release.  Note that 4.2.9.Final will also be delayed until Jan. 8th due to the US holidays.
</p>

<p class="wikiPara">
JBoss Nexus: <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate" target="" class="regularLink">https://repository.jboss.org/nexus/content/groups/public/org/hibernate</a><br>
Maven Central: <a href="http://repo1.maven.org/maven2/org/hibernate/hibernate-core" target="" class="regularLink">http://repo1.maven.org/maven2/org/hibernate/hibernate-core</a> (should update in a couple of days)<br>
SourceForge: <a href="https://sourceforge.net/projects/hibernate/files/hibernate4" target="" class="regularLink">https://sourceforge.net/projects/hibernate/files/hibernate4</a><br>
Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.8.Final/hibernate-release-4.2.8.Final.zip/download" target="" class="regularLink">4.2.8.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.8.Final/hibernate-release-4.2.8.Final.tgz/download" target="" class="regularLink">4.2.8.Final TGZ</a></p>
</div>

