---
title: "Hibernate ORM 4.2.0.Final and 4.1.11.Final Released"
author: "Brett Meyer"
creation_date: "18-03-2013"
blogger_name: "Brett"
layout: blog-post
tags: [Core Release,Hibernate,News]
slug: HibernateORM420FinalAnd4111FinalReleased
lace: http://in.relation.to/24012.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate ORM 4.2.0.Final and 4.1.11.Final were just released. The full changelogs can be viewed here: <a href="https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=12753" target="" class="regularLink">4.2.0.Final</a> and <a href="https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=12752" target="" class="regularLink">4.1.11.Final</a>
</p>

<p class="wikiPara">
Note that this is the <i class="wikiEmphasis">final</i> release for 4.1.x.  All development efforts and commits will now move to 4.2.x and 4.3.0 alpha.
</p>

<p class="wikiPara">
As usual, thank you to the community for all the support and hard work!
</p>

<p class="wikiPara">
JBoss Nexus: <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate" target="" class="regularLink">https://repository.jboss.org/nexus/content/groups/public/org/hibernate</a><br>
Maven Central: <a href="http://repo1.maven.org/maven2/org/hibernate/hibernate-core" target="" class="regularLink">http://repo1.maven.org/maven2/org/hibernate/hibernate-core</a> (should update in a couple of days)<br>
SourceForge: <a href="https://sourceforge.net/projects/hibernate/files/hibernate4" target="" class="regularLink">https://sourceforge.net/projects/hibernate/files/hibernate4</a><br>
Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.0.Final/hibernate-release-4.2.0.Final.zip/download" target="" class="regularLink">4.2.0.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.0.Final/hibernate-release-4.2.0.Final.tgz/download" target="" class="regularLink">4.2.0.Final TGZ</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.1.11.Final/hibernate-release-4.1.11.Final.zip/download" target="" class="regularLink">4.1.11.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.1.11.Final/hibernate-release-4.1.11.Final.tgz/download" target="" class="regularLink">4.1.11.Final TGZ</a></p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'HibernateORM420FinalAnd4111FinalReleased';
    var disqus_title = 'Hibernate ORM 4.2.0.Final and 4.1.11.Final Released';
    var disqus_url = 'http://in.relation.to/24012.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
