---
title: "Hibernate ORM 4.1.10.Final Released"
author: "Brett Meyer"
blogger_name: "Brett"
creation_date: "20-02-2013"
original_tags: [Core Release,Hibernate,News]
tags: [Hibernate ORM,Releases]

relative_url: /2013/02/20/hibernate-orm-4110-final-released
slug: hibernate-orm-4110-final-released
lace: http://in.relation.to/23949.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/02/20/hibernate-orm-4110-final-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate ORM 4.1.10.Final was just released. The full changelog can be viewed here: <a href="https://hibernate.onjira.com/secure/ReleaseNote.jspa?projectId=10031&amp;version=12650" target="" class="regularLink">https://hibernate.onjira.com/secure/ReleaseNote.jspa?projectId=10031&amp;version=12650</a>
</p>

<p class="wikiPara">
Again, many thanks are due to our fantastic community -- having trouble keeping up with pull requests is a great problem to have...
</p>

<p class="wikiPara">
JBoss Nexus: <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate" target="" class="regularLink">https://repository.jboss.org/nexus/content/groups/public/org/hibernate</a>
</p>

<p class="wikiPara">
Maven Central: <a href="http://repo1.maven.org/maven2/org/hibernate/hibernate-core" target="" class="regularLink">http://repo1.maven.org/maven2/org/hibernate/hibernate-core</a> (should update in a couple of days)
</p>

<p class="wikiPara">
SourceForge: <a href="https://sourceforge.net/projects/hibernate/files/hibernate4" target="" class="regularLink">https://sourceforge.net/projects/hibernate/files/hibernate4</a>
</p>

<p class="wikiPara">
Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.1.10.Final/hibernate-release-4.1.10.Final.zip/download" target="" class="regularLink">ZIP</a> or <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.1.10.Final/hibernate-release-4.1.10.Final.tgz/download" target="" class="regularLink">TGZ</a></p>
</div>

