---
title: "Hibernate ORM 4.3.4.Final & 4.2.10.Final Released"
author: "Brett Meyer"
blogger_name: "Brett"
creation_date: "03-03-2014"
tags: [Core Release,Hibernate,News]

relative_url: /2014/03/03/hibernate-orm-434-final-4210-final-released
slug: hibernate-orm-434-final-4210-final-released
lace: http://in.relation.to/24977.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2014/03/03/hibernate-orm-434-final-4210-final-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Shortly after releasing ORM 4.3.2.Final and 4.2.9.Final a critical regression was found, caused by <a href="https://hibernate.atlassian.net/browse/HHH-8961" target="" class="regularLink">HHH-8961</a> and reverted/corrected by <a href="https://hibernate.atlassian.net/browse/HHH-9010" target="" class="regularLink">HHH-9010</a>.  Instead of creating service-pack builds, we decided to simply release the next versions.
</p>

<p class="wikiPara">
What happened to 4.3.3?  Technically and unfortunately, 4.3.2 == 4.3.3 in Nexus and Central (directly my fault -- long story).
</p>

<p class="wikiPara">
TL;DR: Avoid 4.2.9.Final, 4.3.2.Final, and 4.3.3.Final.  Instead, upgrade to 4.2.10.Final or 4.3.4.Final.  Apologies for the confusion this has already caused!
</p>

<p class="wikiPara">
JBoss Nexus: <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate" target="" class="regularLink">https://repository.jboss.org/nexus/content/groups/public/org/hibernate</a><br>
Maven Central: <a href="http://repo1.maven.org/maven2/org/hibernate/hibernate-core" target="" class="regularLink">http://repo1.maven.org/maven2/org/hibernate/hibernate-core</a> (should update in a couple of days)<br>
SourceForge: <a href="https://sourceforge.net/projects/hibernate/files/hibernate4" target="" class="regularLink">https://sourceforge.net/projects/hibernate/files/hibernate4</a><br>
Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.3.4.Final/hibernate-release-4.3.4.Final.zip/download" target="" class="regularLink">4.3.4.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.3.4.Final/hibernate-release-4.3.4.Final.tgz/download" target="" class="regularLink">4.3.4.Final TGZ</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.10.Final/hibernate-release-4.2.10.Final.zip/download" target="" class="regularLink">4.2.10.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.10.Final/hibernate-release-4.2.10.Final.tgz/download" target="" class="regularLink">4.2.10.Final TGZ</a></p>
</div>

