---
title: "Hibernate ORM 4.2.9.Final Released"
author: "Brett Meyer"
blogger_name: "Brett"
layout: blog-post
tags: [Core Release,Hibernate,News]
slug: HibernateORM429FinalReleased
lace: http://in.relation.to/24962.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/HibernateORM429FinalReleased">Hibernate ORM 4.2.9.Final Released</a>
                    </h1>
</div>
<p class="wikiPara">
Hibernate ORM 4.2.9.Final was released this evening with almost 50 fixes!  Please see the full changelog for more information: <a href="https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=15350" target="" class="regularLink">https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=15350</a>.
</p>

<p class="wikiPara">
This should be considered the final 4.2.x release.  There's a chance 4.2.10 will be necessary to coincide with upcoming EAP/Wildfly releases.  Regardless, 4.3.x is the new <q>stable</q> version while we shift focus towards ORM 5.
</p>

<p class="wikiPara">
JBoss Nexus: <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate" target="" class="regularLink">https://repository.jboss.org/nexus/content/groups/public/org/hibernate</a><br>
Maven Central: <a href="http://repo1.maven.org/maven2/org/hibernate/hibernate-core" target="" class="regularLink">http://repo1.maven.org/maven2/org/hibernate/hibernate-core</a> (should update in a couple of days)<br>
SourceForge: <a href="https://sourceforge.net/projects/hibernate/files/hibernate4" target="" class="regularLink">https://sourceforge.net/projects/hibernate/files/hibernate4</a><br>
Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.9.Final/hibernate-release-4.2.9.Final.zip/download" target="" class="regularLink">4.2.9.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.9.Final/hibernate-release-4.2.9.Final.tgz/download" target="" class="regularLink">4.2.9.Final TGZ</a></p>
</div>
