---
title: "Hibernate ORM 4.3.2.Final Released"
author: "Brett Meyer"
blogger_name: "Brett"
creation_date: "27-02-2014"
original_tags: [Core Release,Hibernate,News]
tags: [Hibernate ORM,Releases]

relative_url: /2014/02/27/hibernate-orm-432-final-released
slug: hibernate-orm-432-final-released
lace: http://in.relation.to/24965.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2014/02/27/hibernate-orm-432-final-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
It's been a busy day in Hibernate land.  In addition to 4.2.9.Final last night, we just released Hibernate ORM 4.3.2.Final!  Please see the full changelog for more information: <a href="https://hibernate.atlassian.net/issues/?jql=project=10031%20AND%20fixVersion=15650" target="" class="regularLink">https://hibernate.atlassian.net/issues/?jql=project=10031%20AND%20fixVersion=15650</a>.
</p>

<p class="wikiPara">
In addition to dozens of bug fixes, both 4.2.9 and 4.3.2 were heavily focused on benchmark-driven performance improvements.  Multiple CPU hotspots were mitigated and memory allocations reduced.
</p>

<p class="wikiPara">
JBoss Nexus: <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate" target="" class="regularLink">https://repository.jboss.org/nexus/content/groups/public/org/hibernate</a><br>
Maven Central: <a href="http://repo1.maven.org/maven2/org/hibernate/hibernate-core" target="" class="regularLink">http://repo1.maven.org/maven2/org/hibernate/hibernate-core</a> (should update in a couple of days)<br>
SourceForge: <a href="https://sourceforge.net/projects/hibernate/files/hibernate4" target="" class="regularLink">https://sourceforge.net/projects/hibernate/files/hibernate4</a><br>
Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.3.2.Final/hibernate-release-4.3.2.Final.zip/download" target="" class="regularLink">4.3.2.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.3.2.Final/hibernate-release-4.3.2.Final.tgz/download" target="" class="regularLink">4.3.2.Final TGZ</a></p>
</div>

