---
title: "Hibernate ORM 4.2.12.Final Released"
author: "Brett Meyer"
blogger_name: "Brett"
creation_date: "08-04-2014"
tags: [Core Release,Hibernate,News]

relative_url: /2014/04/08/HibernateORM4212FinalReleased
slug: HibernateORM4212FinalReleased
lace: http://in.relation.to/25215.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2014/04/08/HibernateORM4212FinalReleased
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate ORM 4.2.12.Final was just released!  Please see the full changelog for more information: <a href="https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=16350" target="" class="regularLink">https://hibernate.atlassian.net/secure/ReleaseNote.jspa?projectId=10031&amp;version=16350</a>.
</p>

<p class="wikiPara">
As previously mentioned, 4.3.x is the new <q>stable</q> version and we have shifted focus towards ORM 5.
</p>

<p class="wikiPara">
Another 4.2.x release was necessary due to a few important fixes:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-9107" target="" class="regularLink">HHH-9107</a>: a regression in 4.2.11 broke reading entities from the 2LC under certain circumstances (involving polymorphism)</li>
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-4700" target="" class="regularLink">HHH-4700</a>, <a href="https://hibernate.atlassian.net/browse/HHH-6747" target="" class="regularLink">HHH-6747</a>, and <a href="https://hibernate.atlassian.net/browse/HHH-9100" target="" class="regularLink">HHH-9100</a>: improved/corrected CASE and CAST statements in HQL</li>
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-7971" target="" class="regularLink">HHH-7971</a>: enabling ENABLE_LAZY_LOAD_NO_TRANS would clear collections if they were accessed outside of a transaction</li>
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-9071" target="" class="regularLink">HHH-9071</a>: <q>Proxy narrowing loses the initialized state of the original proxy</q>
</li>
<li class="wikiUnorderedListItem"> <a href="https://hibernate.atlassian.net/browse/HHH-9078" target="" class="regularLink">HHH-9078</a>: corrected the use of @OrderColumns on ToMany cascading</li>
</ul>

<p class="wikiPara">
JBoss Nexus: <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate" target="" class="regularLink">https://repository.jboss.org/nexus/content/groups/public/org/hibernate</a><br>
Maven Central: <a href="http://repo1.maven.org/maven2/org/hibernate/hibernate-core" target="" class="regularLink">http://repo1.maven.org/maven2/org/hibernate/hibernate-core</a> (should update in a couple of days)<br>
SourceForge: <a href="https://sourceforge.net/projects/hibernate/files/hibernate4" target="" class="regularLink">https://sourceforge.net/projects/hibernate/files/hibernate4</a><br>
Downloads: <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.12.Final/hibernate-release-4.2.12.Final.zip/download" target="" class="regularLink">4.2.12.Final ZIP</a>, <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.2.12.Final/hibernate-release-4.2.12.Final.tgz/download" target="" class="regularLink">4.2.12.Final TGZ</a></p>
</div>

