---
title: "Gavin King gets his star"
author: "Nicklas Karlsson"
blogger_name: "Nicklas"
creation_date: "11-01-2011"
tags: []

relative_url: /2011/01/11/GavinKingGetsHisStar
slug: GavinKingGetsHisStar
lace: http://in.relation.to/18036.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/01/11/GavinKingGetsHisStar
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Not sure if this has been posted but I just noticed that Gavin King has been awarded the title of JCP Star Spec Lead. Congratulations!
</p>

<p class="wikiPara">
Read the press release <a href="http://jcp.org/en/press/news/specLeadStars/commFocus_stars_king" target="" class="regularLink">here</a></p>
</div>

