---
title: "Gavin King gets his star"
author: "Nicklas Karlsson"
blogger_name: "Nicklas"
layout: blog-post
tags: []
slug: GavinKingGetsHisStar
lace: http://in.relation.to/18036.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/GavinKingGetsHisStar">Gavin King gets his star</a>
                    </h1>
</div>
<p class="wikiPara">
Not sure if this has been posted but I just noticed that Gavin King has been awarded the title of JCP Star Spec Lead. Congratulations!
</p>

<p class="wikiPara">
Read the press release <a href="http://jcp.org/en/press/news/specLeadStars/commFocus_stars_king" target="" class="regularLink">here</a></p>
</div>
