---
title: "Subversion move"
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "06-03-2006"
tags: []

relative_url: /2006/03/06/SubversionMove
slug: SubversionMove
lace: http://in.relation.to/2077.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2006/03/06/SubversionMove
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Moving Hibernate source code to our new Subversion home is done.  Both developer
and annonymous access have been set up.  Currently, web access is only available
via the Apache module which is less than ideal.  We have been told that either Fisheye 
or ViewCVS access over the Subversion repsoitory will be setup soon.
</p>

<p class="wikiPara">
For the access details, check out: <a href="http://hibernate.org/30.html#A3" target="" class="regularLink">http://hibernate.org/30.html#A3</a>
</p>
</div>

