---
title: "Subversion move"
author: "Steve Ebersole"
creation_date: "06-03-2006"
blogger_name: "Steve"
layout: blog-post
tags: []
slug: SubversionMove
lace: http://in.relation.to/2077.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Moving Hibernate source code to our new Subversion home is done.  Both developer
and annonymous access have been set up.  Currently, web access is only available
via the Apache module which is less than ideal.  We have been told that either Fisheye 
or ViewCVS access over the Subversion repsoitory will be setup soon.
</p>

<p class="wikiPara">
For the access details, check out: <a href="http://hibernate.org/30.html#A3" target="" class="regularLink">http://hibernate.org/30.html#A3</a>
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'SubversionMove';
    var disqus_title = 'Subversion move';
    var disqus_url = 'http://in.relation.to/2077.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
