---
title: "Hibernate Core 3.3.1 released"
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "12-09-2008"
tags: [release]

relative_url: /2008/09/12/HibernateCore331Released
slug: HibernateCore331Released
lace: http://in.relation.to/9382.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2008/09/12/HibernateCore331Released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate Core 3.3.1 has just been <a href="https://sourceforge.net/project/showfiles.php?group_id=40712&amp;package_id=127784&amp;release_id=625684" target="" class="regularLink">released</a> with its artifacts published to the JBoss Maven <a href="http://repository.jboss.org/maven2/org/hibernate/" target="" class="regularLink">Repository</a>.  This release fixed a serious issue with CurrentSessionContext (SessionFactory.getCurrentSession()) when running on IBM WebSphere.  It also includes quite a few improvements to the <a href="http://in.relation.to/Bloggers/New323HibernateIdentifierGenerators" target="" class="regularLink">enhanced id generators</a>.  For details about all the changes in this release, check out it's <a href="https://sourceforge.net/project/shownotes.php?release_id=625684&amp;group_id=40712" target="" class="regularLink">changelog</a>
</p>
</div>

