---
title: "Hibernate Core 3.3.0.SP1"
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "19-08-2008"
tags: [release]

absolute_url: http://in.relation.to/2008/08/19/HibernateCore330SP1
lace: http://in.relation.to/9299.lace
slug: HibernateCore330SP1

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
3.3.0.GA got released the other day with an uncaught problem.  A public method got removed from some of the events (specifically <tt>PreInsertEvent</tt> and <tt>PreUpdateEvent</tt>) which is causing problems with Hibernate Validator and which will probably cause problems for any applications utilizing custom listeners for those events.
</p>

<p class="wikiPara">
Therefore, later today I will be releasing 3.3.0.SP1 to correct that oversight.  I apologize for any inconveniences.
</p>

<p class="wikiPara">
The SP1 release has been done and is available as either the full <a href="http://sourceforge.net/project/showfiles.php?group_id=40712&amp;package_id=127784&amp;release_id=620785/&amp;abmode=1" target="" class="regularLink">distribution</a> from SourceForge or as <a href="http://repository.jboss.org/maven2/org/hibernate/" target="" class="regularLink">artifacts</a> from the JBoss Maven repository.</p>
</div>
