---
title: "Hibernate Core 3.3.0 goes GA"
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "16-08-2008"
tags: [release]

absolute_url: http://in.relation.to/2008/08/16/HibernateCore330GoesGA
lace: http://in.relation.to/9273.lace
slug: HibernateCore330GoesGA

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate 3.3.0.GA has been released.  A big thanks to everyone who helped us get here.
</p>

<p class="wikiPara">
A few changes from 3.2 worth noting:
</p>

<ol class="wikiOrderedList">
<li class="wikiOrderedListItem"> Migration to a <a href="http://maven.org" target="" class="regularLink">Maven</a>-based build</li>
<li class="wikiOrderedListItem"> Splitting of the project into modular jars (here I mean what Maven calls modules).  This allows users to easily see and minimize dependencies.</li>
<li class="wikiOrderedListItem"> Redesigned second-level caching SPI</li>
<li class="wikiOrderedListItem"> Integration with JBossCache 2.x as a second level cache provider.</li>
</ol>

<p class="wikiPara">
I'll be following up with more detailed blogs about some of the specific points.
</p>

<p class="wikiPara">
You can download the full <a href="http://sourceforge.net/project/showfiles.php?group_id=40712&amp;release_id=619997" target="" class="regularLink">distribution</a> from SourceForge or make use of the Maven <a href="http://repository.jboss.org/maven2/org/hibernate/" target="" class="regularLink">artifacts</a> from the JBoss Maven repository.</p>
</div>
