---
title: "Hibernate 3.5.0.Beta-1 released"
author: "Steve Ebersole"
creation_date: "21-08-2009"
blogger_name: "Steve"
layout: blog-post
tags: [Core Release,Hibernate,News]
slug: Hibernate350Beta1Released
lace: http://in.relation.to/12153.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
This is the first release towards supporting <a href="http://jcp.org/en/jsr/detail?id=317" target="" class="regularLink">JPA 2</a>.  Most of the APIs are implemented.  Some know limitations for this beta include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Some of the 'metamodel' APIs are still unimplemented, specifically differentiating between declared attributes and attributes (same wording as java.lang.reflect).  The getDeclaredXYZ methods simply return null in this release.</li>
<li class="wikiUnorderedListItem"> 'criteria' query building is fully implemented aside from defining subquery correlations, to the best of my knowledge and current state of the spec.  However, compiling criteria queries is unimplemented scheduled for the next release.</li>
</ul>

<p class="wikiPara">
Additionally, initial support for <q>fetch profiles</q> has been added in this release.  Currently only join-fetching is supported as a strategy in fetch profiles.
</p>

<p class="wikiPara">
The artifacts have all been published to the JBoss Maven repository.  Additionally the release bundles have been uploaded to <a href="https://sourceforge.net/projects/hibernate/files/hibernate3/3.5.0.Beta-1/" target="" class="regularLink">SourceForge</a>.
</p>

<p class="wikiPara">
This is also the first version bundling annotations, entitymanager and envers together with the other core modules.  Moving forward all will be versioned and released together.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'Hibernate350Beta1Released';
    var disqus_title = 'Hibernate 3.5.0.Beta-1 released';
    var disqus_url = 'http://in.relation.to/12153.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
