---
title: "Hibernate Core 3.3.2 maintenance release "
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "24-06-2009"
original_tags: [Core Release,Hibernate,News]
tags: [Hibernate ORM,Release]

relative_url: /2009/06/24/hibernate-core-332-maintenance-release
slug: hibernate-core-332-maintenance-release
lace: http://in.relation.to/11885.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/06/24/hibernate-core-332-maintenance-release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Just got done releasing <a href="https://sourceforge.net/project/showfiles.php?group_id=40712&amp;package_id=127784&amp;release_id=692125" target="" class="regularLink">3.3.2</a> with tons of <a href="http://opensource.atlassian.com/projects/hibernate/secure/IssueNavigator.jspa?reset=true&amp;&amp;pid=10031&amp;fixfor=10871&amp;sorter/field=issuekey&amp;sorter/order=DESC" target="" class="regularLink">fixes/enhancements/improvements</a> including some much needed documentation updates and again building translated docs.
</p>

<p class="wikiPara">
Next we start focusing on 3.5 and implementing JPA 2 support...</p>
</div>

