---
title: "Simultaneously Supporting JDBC3 And JDBC4 With Maven : II"
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "10-10-2009"
original_tags: [Gradle,Hibernate,Maven]
tags: [Discussion]

relative_url: /2009/10/10/simultaneously-supporting-jdbc-3-and-jdbc-4-with-maven-ii
slug: simultaneously-supporting-jdbc-3-and-jdbc-4-with-maven-ii
lace: http://in.relation.to/12546.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/10/10/simultaneously-supporting-jdbc-3-and-jdbc-4-with-maven-ii
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
As a follow up to <a href="http://in.relation.to/Bloggers/SimultaneouslySupportingJDBC3AndJDBC4WithMaven" target="" class="regularLink">http://in.relation.to/Bloggers/SimultaneouslySupportingJDBC3AndJDBC4WithMaven</a>, I wanted to point out that I uploaded some example projects to the <a href="http://www.jboss.org/community/wiki/Hibernate-JDBC4support" target="" class="regularLink">design discussion</a>.  There are 2 different approaches as Maven projects and one Gradle project.</p>
</div>

