---
title: "Hibernate 3.5.0-Beta-2 release"
author: "Steve Ebersole"
creation_date: "03-11-2009"
blogger_name: "Steve"
layout: blog-post
tags: [Core Release,Hibernate,News]
slug: Hibernate350Beta2Release
lace: http://in.relation.to/12696.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The second release towards JPA 2 support.  Specific JPA 2 related enhancements from Beta-1 include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Initial implementation of criteria query compiling and execution</li>
<li class="wikiUnorderedListItem"> Better metamodel API coverage, including StaticMetamodel support in conjunction with the <a href="http://opensource.atlassian.com/projects/hibernate/browse/METAGEN" target="" class="regularLink">Hibernate StaticMetamodel Generator Annotation Processor</a>.  Still a few use cases missing wrt distinguishing cardinality.</li>
</ul>

<p class="wikiPara">
Additional enhancements from Beta-1 include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-2412" target="" class="regularLink">JDBC 4 support</a>
</li>
<li class="wikiUnorderedListItem"> Support for <a href="http://hibernate.onjira.com/browse/HHH-4440" target="" class="regularLink">column-level read/write</a> fragments (HBM only for now)</li>
<li class="wikiUnorderedListItem"> Support for <a href="http://www.jboss.org/infinispan" target="" class="regularLink">Infinispan</a> as a second-level cache provider</li>
</ul>

<p class="wikiPara">
Check out the <a href="http://opensource.atlassian.com/projects/hibernate/secure/ReleaseNote.jspa?projectId=10031&amp;version=10950" target="" class="regularLink">release notes</a> for the full list of changes.
</p>

<p class="wikiPara">
The artifacts have all been published to the <a href="http://repository.jboss.org/maven2/org/hibernate/" target="" class="regularLink">JBoss Maven</a> repository. Additionally the release bundles have been uploaded to <a href="https://sourceforge.net/projects/hibernate/files/hibernate3/3.5.0-Beta-2/" target="" class="regularLink">SourceForge</a>.
</p>

<p class="wikiPara">
Please report any issues to <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH#selectedTab=com.atlassian.jira.plugin.system.project%3Asummary-panel" target="" class="regularLink">Jira</a>.  Visit us on IRC or the forums if you have a usage question.
</p>

<p class="wikiPara">
Thanks!
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'Hibernate350Beta2Release';
    var disqus_title = 'Hibernate 3.5.0-Beta-2 release';
    var disqus_url = 'http://in.relation.to/12696.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
