---
title: "Hibernate Core 3.2.7 maintance release"
author: "Steve Ebersole"
creation_date: "04-06-2009"
blogger_name: "Steve"
layout: blog-post
tags: [Core Release,Hibernate,News]
slug: HibernateCore327MaintanceRelease
lace: http://in.relation.to/11698.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I just pushed a new Hibernate Core maintenance release <a href="https://sourceforge.net/project/showfiles.php?group_id=40712&amp;package_id=127784&amp;release_id=687131" target="" class="regularLink">3.2.7</a> for download.  It is mostly minor fixes and improvements; check out the specifics in the change log either in <a href="http://opensource.atlassian.com/projects/hibernate/secure/IssueNavigator.jspa?reset=true&amp;pid=10031&amp;fixfor=10783" target="" class="regularLink">Jira</a> or <a href="https://sourceforge.net/project/shownotes.php?release_id=687131&amp;group_id=40712" target="" class="regularLink">SourceForge</a>.
</p>

<p class="wikiPara">
<a href="http://opensource.atlassian.com/projects/hibernate/secure/IssueNavigator.jspa?reset=true&amp;pid=10031&amp;fixfor=10871" target="" class="regularLink">3.3.2</a> will be coming later this week or early next.</p>
</div>
