---
title: "Simultaneously Supporting JDBC3 And JDBC4 With Maven : II"
author: "Steve Ebersole"
creation_date: "10-10-2009"
blogger_name: "Steve"
layout: blog-post
tags: [Gradle,Hibernate,Maven]
slug: SimultaneouslySupportingJDBC3AndJDBC4WithMavenII
lace: http://in.relation.to/12546.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
As a follow up to <a href="http://in.relation.to/Bloggers/SimultaneouslySupportingJDBC3AndJDBC4WithMaven" target="" class="regularLink">http://in.relation.to/Bloggers/SimultaneouslySupportingJDBC3AndJDBC4WithMaven</a>, I wanted to point out that I uploaded some example projects to the <a href="http://www.jboss.org/community/wiki/Hibernate-JDBC4support" target="" class="regularLink">design discussion</a>.  There are 2 different approaches as Maven projects and one Gradle project.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'SimultaneouslySupportingJDBC3AndJDBC4WithMavenII';
    var disqus_title = 'Simultaneously Supporting JDBC3 And JDBC4 With Maven : II';
    var disqus_url = 'http://in.relation.to/12546.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
