---
title: "Mailing list unsubscribe issue"
author: "Steve Ebersole"
creation_date: "23-09-2009"
blogger_name: "Steve"
layout: blog-post
tags: []
slug: MailingListUnsubscribeIssue
lace: http://in.relation.to/12406.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
At some point between August and September there appears to have been a number of incorrect auto-unsubscriptions against some of the Hibernate mailing lists (hibernate-dev for sure).  I am not going to point fingers as to who is to blame in this.  I do however apologize for any inconvenience this might have caused.  If you find yourself part of this group, the current direction I am receiving is that you will just have to re-subscribe :(  if you happen to still have the unsubscribe notification email I would be very interested in getting it to pass along to our mailman admins; you can forward them to me directly.</p>
</div>
