---
title: "Hibernate 3.5.0-CR-1 release "
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "13-02-2010"
tags: [Core Release,Hibernate,News]

relative_url: /2010/02/13/Hibernate350CR1Release
slug: Hibernate350CR1Release
lace: http://in.relation.to/14321.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/02/13/Hibernate350CR1Release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I am pleased to announce that we have just released Hibernate version <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH/fixforversion/11014" target="" class="regularLink">3.5.0-CR-1</a>.  As a refresher, Hibernate follows the <a href="http://community.jboss.org/wiki/JBossProjectVersioning" target="" class="regularLink">JBoss versioing scheme</a> where CR is a <q>Candidate for Release</q> (what many of you might call RC).  The main stated goal of 3.5 is JPA 2 compliance.  This is the first release we believe achieves that goal entirely.  In fact we are in the process of certifying for standalone JPA 2 compliance and have integrated this CR into the imminent JBoss AS M2 release as part of their effort towards full Java EE 6 compliance.
</p>

<p class="wikiPara">
I'll blog more about the full set of changes in 3.5 when we tag 3.5.0 final release.  The changes in this CR-1 represent mostly
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> full support for <q>derived identities</q> (see the specification section <i class="wikiEmphasis">2.4.1 Primary Keys Corresponding to Derived Identities</i>)</li>
<li class="wikiUnorderedListItem"> wrapping up various loose ends </li>
</ul>

<p class="wikiPara">
See the <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH/fixforversion/11014" target="" class="regularLink">release notes</a> for all the gory details.
</p>

<p class="wikiPara">
The <a href="http://sourceforge.net/projects/hibernate/files/hibernate3/3.5.0-CR-1/" target="" class="regularLink">distribution bundles</a> have been uploaded to SourceForge.
</p>

<p class="wikiPara">
Please report any issues to <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH" target="" class="regularLink">Jira</a>. Visit us on IRC or the forums if you have a usage question. 
</p>

<p class="wikiPara">
Once again many people helped out with this release.  I'd like to specifically mention Scott Marlow who not only did some coding but provided us the invaluable, and not to be underestimated, service of performing the standalone JPA TCK runs and analyzing the results.  Thanks Scott and everyone else!
</p>
</div>
