---
title: "Simultaneous Hibernate 3.5.4 and 3.6.0.Beta1 Releases"
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "21-07-2010"
tags: [Core Release,Hibernate,News]

relative_url: /2010/07/21/SimultaneousHibernate354And360Beta1Releases
slug: SimultaneousHibernate354And360Beta1Releases
lace: http://in.relation.to/16459.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/07/21/SimultaneousHibernate354And360Beta1Releases
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The Hibernate team is happy to announce the availability of both the 3.5.4 and 3.6.0.Beta1 releases.
</p>

<h2 class="wikiHeadline2" id="H-354"><a href="/2010/07/21/SimultaneousHibernate354And360Beta1Releases#H-354">3.5.4</a></h2>

<p class="wikiPara">
This is a maintenance release fixing quite a number of mostly minor bugs.  Some fixes of particular interest are: 
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH-4240" target="" class="regularLink">HHH-4240</a>, <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH-4250" target="" class="regularLink">HHH-4250</a> : improved support for <q>joined</q> inheritance</li>
<li class="wikiUnorderedListItem"> <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH-5329" target="" class="regularLink">HHH-5329</a> : fixes a regression that stopped 3.5.3 from being usable in JDK 1.4 environments</li>
</ul>

<p class="wikiPara">
For more details about 3.5.4, including the full list of changes, see the <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH/fixforversion/11100" target="" class="regularLink">release page</a>.
</p>

<p class="wikiPara">
The <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">artifacts</a> have all been published to the <a href="https://repository.jboss.org/nexus" target="" class="regularLink">JBoss Maven repository</a>. You can find out more about the JBoss Maven repository <a href="http://community.jboss.org/en/build/blog/2010/04/20/announcement--new-maven-repository-infrastructure" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
The <a href="https://sourceforge.net/projects/hibernate/files/hibernate3/3.5.4-Final" target="" class="regularLink">release bundles</a> have been uploaded to <a href="https://sourceforge.net/projects/hibernate/" target="" class="regularLink">SourceForge</a>.
</p>

<hr>

<h2 class="wikiHeadline2" id="H-360Beta1"><a href="/2010/07/21/SimultaneousHibernate354And360Beta1Releases#H-360Beta1">3.6.0.Beta1</a></h2>

<p class="wikiPara">
3.6 introduces some new features as well as incorporating most of the fixes from 3.5.  Changes of particular interest include
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Dropping support for JDK 1.4</li>
<li class="wikiUnorderedListItem"> merging some modules into core; specifically hibernate-jmx and hibernate-annotations</li>
<li class="wikiUnorderedListItem"> repackaging of classes in hibernate-testing</li>
<li class="wikiUnorderedListItem"> <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH-2277" target="" class="regularLink">HHH-2277</a> : fixes a long known limitation in key-many-to-one support.</li>
<li class="wikiUnorderedListItem"> <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH-5138" target="" class="regularLink">HHH-5138</a>, <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH-5182" target="" class="regularLink">HHH-5182</a>, <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH-5262" target="" class="regularLink">HHH-5262</a> : collectively address a number of improvements to the <q>Hibernate type system</q>.  See the newly separated and expanded chapter on Types in the reference manual for details.</li>
<li class="wikiUnorderedListItem"> <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH-5268" target="" class="regularLink">HHH-5268</a> : java.util.UUID support</li>
</ul>

<p class="wikiPara">
For more details about 3.6.0.Beta1, including the full list of changes, see the <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH/fixforversion/10941" target="" class="regularLink">release page</a>.
</p>

<p class="wikiPara">
The <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">artifacts</a> have all been published to the <a href="https://repository.jboss.org/nexus" target="" class="regularLink">JBoss Maven repository</a>. You can find out more about the JBoss Maven repository <a href="http://community.jboss.org/en/build/blog/2010/04/20/announcement--new-maven-repository-infrastructure" target="" class="regularLink">here</a>.
</p>

<p class="wikiPara">
The <a href="https://sourceforge.net/projects/hibernate/files/hibernate3/3.6.0.Beta1" target="" class="regularLink">release bundles</a> have been uploaded to <a href="https://sourceforge.net/projects/hibernate/" target="" class="regularLink">SourceForge</a>. 
</p>

<hr>

<p class="wikiPara">
Please report any issues using <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH" target="" class="regularLink">Jira</a>. Visit us on <a href="http://hibernate.org/community/irc.html" target="" class="regularLink">IRC</a> or the <a href="https://forum.hibernate.org/" target="" class="regularLink">forums</a> if you have usage questions. </p>
</div>
