---
title: "Simultaneous Hibernate 3.5.5 and 3.6.0.Beta3 Releases "
author: "Steve Ebersole"
creation_date: "18-08-2010"
blogger_name: "Steve"
layout: blog-post
tags: [Core Release,Hibernate,News]
slug: SimultaneousHibernate355And360Beta3Releases
lace: http://in.relation.to/16614.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Today we have released both 3.5.5 and 3.6.0.Beta3.
</p>

<h2 class="wikiHeadline2" id="H-355"><a href="/Bloggers/SimultaneousHibernate355And360Beta3Releases#H-355">3.5.5</a></h2>

<p class="wikiPara">
This is a maintenance release fixing mostly minor bugs.  Changes of note include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH-5426" target="" class="regularLink">HHH-5426</a> - HQL update/delete does not invalidate the query cache  </li>
<li class="wikiUnorderedListItem"> <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH-5451" target="" class="regularLink">HHH-5451</a> - deprecation of CGLIB as a bytecode provider</li>
<li class="wikiUnorderedListItem"> <a href="http://opensource.atlassian.com/projects/hibernate/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=project+%3D+HHH+AND+%28summary+%7E+ResultTransformer+OR+description+%7E+ResultTransformer%29+AND+resolution+%3D+Fixed+AND+fixVersion+%3D+%223.5.5%22+ORDER+BY+priority+DESC" target="" class="regularLink">Numerous</a> Changes in behavior of ResultTransformers</li>
</ul>

<p class="wikiPara">
For more details about 3.5.5, including the full list of changes, see the <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH/fixforversion/11134" target="" class="regularLink">release page</a>.
</p>

<p class="wikiPara">
The <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">artifacts</a> have all been published to the <a href="https://repository.jboss.org/nexus" target="" class="regularLink">JBoss Maven repository</a>.  Please note that there is a change as of this release in that we no longer deploy <q>irrelevant</q> modules to the repository; see <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH-5438" target="" class="regularLink">HHH-5438</a> for details.
</p>

<p class="wikiPara">
The <a href="https://sourceforge.net/projects/hibernate/files/hibernate3/3.5.5-Final" target="" class="regularLink">release bundles</a> have been uploaded to <a href="https://sourceforge.net/projects/hibernate/" target="" class="regularLink">SourceForge</a>.
</p>

<hr>

<h2 class="wikiHeadline2" id="H-360Beta3"><a href="/Bloggers/SimultaneousHibernate355And360Beta3Releases#H-360Beta3">3.6.0.Beta3</a></h2>

<p class="wikiPara">
3.6.0.Beta3 builds on the work from <a href="http://in.relation.to/16526.lace" target="" class="regularLink">3.6.0.Beta2</a> as well as from 3.5.5  Changes of particular interest include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH-5300" target="" class="regularLink">HHH-5300</a> - Configurable QueryPlanCache reference counts (Manuel Dominguez Sarmiento)</li>
<li class="wikiUnorderedListItem"> <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH-5485" target="" class="regularLink">HHH-5485</a> - Change in DTD hosting</li>
<li class="wikiUnorderedListItem"> <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH-5441" target="" class="regularLink">HHH-5441</a>, <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH-5466" target="" class="regularLink">HHH-5466</a> - Initial work on documentation changes</li>
</ul>

<p class="wikiPara">
For more details about 3.6.0.Beta3, including the full list of changes, see the <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH/fixforversion/11133" target="" class="regularLink">release page</a>.
</p>

<p class="wikiPara">
The <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">artifacts</a> have all been published to the <a href="https://repository.jboss.org/nexus" target="" class="regularLink">JBoss Maven repository</a>.  Please note that there is a change as of this release in that we no longer deploy <q>irrelevant</q> modules to the repository; see <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH-5438" target="" class="regularLink">HHH-5438</a> for details.
</p>

<p class="wikiPara">
The <a href="https://sourceforge.net/projects/hibernate/files/hibernate3/3.6.0.Beta3" target="" class="regularLink">release bundles</a> have been uploaded to <a href="https://sourceforge.net/projects/hibernate/" target="" class="regularLink">SourceForge</a>. 
</p>

<hr>

<p class="wikiPara">
Please report any issues using <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH" target="" class="regularLink">Jira</a>. Visit us on <a href="http://hibernate.org/community/irc.html" target="" class="regularLink">IRC</a> or the <a href="https://forum.hibernate.org/" target="" class="regularLink">forums</a> if you have usage questions. </p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'SimultaneousHibernate355And360Beta3Releases';
    var disqus_title = 'Simultaneous Hibernate 3.5.5 and 3.6.0.Beta3 Releases ';
    var disqus_url = 'http://in.relation.to/16614.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
