---
title: "Hibernate 3.6.0.Beta2 Release"
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "04-08-2010"
original_tags: [Core Release,Hibernate,News]
tags: [Hibernate ORM,Releases]

relative_url: /2010/08/04/hibernate-360-beta-2-release
slug: hibernate-360-beta-2-release
lace: http://in.relation.to/16526.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/08/04/hibernate-360-beta-2-release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The Hibernate team is happy to announce the availability of the 3.6.0.Beta2 release.  The major change from Beta1 is the merging of AnnotationConfiguration into Configuration (<a href="http://hibernate.onjira.com/browse/HHH-5375" target="" class="regularLink">HHH-5375</a>).  AnnotationConfiguration is now completely deprecated.  
</p>

<p class="wikiPara">
Additionally a lot of work went into the initial effort of merging the previous annotations reference manual into the main reference manual.  The docs are in an OK enough state that I felt more comfortable uploading them to the docs server:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/hibernate/core/3.6/javadocs/" target="" class="regularLink">Javadocs</a> (aggregate)</li>
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/hibernate/core/3.6/reference/" target="" class="regularLink">Core Reference Guide</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/hibernate/entitymanager/3.6/reference/" target="" class="regularLink">Hibernate EntityManager Guide</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://docs.jboss.org/hibernate/envers/3.6/reference/" target="" class="regularLink">Envers Reference Guide</a>
</li>
</ul>

<p class="wikiPara">
A lot more work will be going into the docs for 3.6.
</p>

<p class="wikiPara">
For more details about 3.6.0.Beta2, including the full list of changes, see the <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH/fixforversion/11132" target="" class="regularLink">release page</a>.
</p>

<p class="wikiPara">
The <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">artifacts</a> have all been published to the <a href="http://community.jboss.org/en/build/blog/2010/04/20/announcement--new-maven-repository-infrastructure" target="" class="regularLink">JBoss Maven repository</a>.  The <a href="http://sourceforge.net/projects/hibernate/files/hibernate3/3.6.0.Beta2/" target="" class="regularLink">release bundles</a> have been uploaded to <a href="https://sourceforge.net/projects/hibernate/" target="" class="regularLink">SourceForge</a>. 
</p>

<p class="wikiPara">
Please report any issues using <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH" target="" class="regularLink">Jira</a>. Visit us on <a href="https://hibernate.org/community/irc.html" target="" class="regularLink">IRC</a> or the <a href="https://forum.hibernate.org/" target="" class="regularLink">forums</a> if you have usage questions. </p>
</div>

