---
title: "Hibernate 3.5.0-Beta-3 release"
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "14-01-2010"
tags: [Core Release,Hibernate,News]

relative_url: /2010/01/14/Hibernate350Beta3Release
slug: Hibernate350Beta3Release
lace: http://in.relation.to/13956.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/01/14/Hibernate350Beta3Release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Specific JPA 2 related enhancements from Beta-2 include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Complete criteria and JPAQL support</li>
<li class="wikiUnorderedListItem"> Full metamodel API support, including StaticMetamodel support in conjunction with the <a href="http://opensource.atlassian.com/projects/hibernate/browse/METAGEN" target="" class="regularLink">Hibernate StaticMetamodel Generator Annotation Processor</a>.</li>
<li class="wikiUnorderedListItem"> Initial <a href="http://hibernate.onjira.com/browse/HHH-4546" target="" class="regularLink">lock</a> support, mostly what is missing/needed is <a href="http://hibernate.onjira.com/browse/HHH-4765" target="" class="regularLink">verification</a> of all the dialects</li>
<li class="wikiUnorderedListItem"> Mostly complete JPA 2 mapping enhancements including @Access and full Map support.</li>
</ul>

<p class="wikiPara">
Additional enhancements from Beta-2 include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Expanded and more consistent read-only support</li>
</ul>

<p class="wikiPara">
Check out the <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH/fixforversion/10981" target="" class="regularLink">release details</a> for the full list of changes.
</p>

<p class="wikiPara">
The artifacts have all been published to the <a href="http://repository.jboss.org/maven2/org/hibernate/" target="" class="regularLink">JBoss Maven</a> repository. Additionally the release bundles have been uploaded to <a href="https://sourceforge.net/projects/hibernate/files/hibernate3/3.5.0-Beta-3/" target="" class="regularLink">SourceForge</a>.
</p>

<p class="wikiPara">
Please report any issues to <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH" target="" class="regularLink">Jira</a>.  Visit us on IRC or the forums if you have a usage question.
</p>

<p class="wikiPara">
A lot of effort from many folks went into this release and I'd like to thank everyone for all the bug reports, patches and development work that went into this.
</p>

<p class="wikiPara">
Thanks!</p>
</div>
