---
title: "Hibernate 3.5.1-Final "
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "15-04-2010"
original_tags: [Core Release,Hibernate,News]
tags: [Hibernate ORM,Release]

relative_url: /2010/04/15/hibernate-351-final
slug: hibernate-351-final
lace: http://in.relation.to/15171.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/04/15/hibernate-351-final
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
3.5.1-Final is a maintenance release of mainly minor bug fixes.  Two fixes in particular were non-minor:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-5102" target="" class="regularLink">HHH-5102</a> is particularly big issue if you happen to combine InheritanceType.JOINED with an "intermediate" @MappedSuperclass</li>
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-4965" target="" class="regularLink">HHH-4965</a> would lead to incorrect results when using a JPA Criteria query if using certain types of literals (mostly an issue with certain entity and custom types)</li>
</ul>

<p class="wikiPara">
Additionally quite a bit of work was done on the <a href="http://docs.jboss.org/hibernate/core/3.5/reference/" target="" class="regularLink">reference documentation</a> and <a href="http://docs.jboss.org/hibernate/core/3.5/javadocs/" target="" class="regularLink">javadocs</a> (especially in now having some <q>aggregated</q> javadocs).
</p>

<p class="wikiPara">
Check out the <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH/fixforversion/11021" target="" class="regularLink">release page</a> for the full list of changes.
</p>

<p class="wikiPara">
Please report any issues to <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH" target="" class="regularLink">Jira</a>. Visit us on <a href="http://hibernate.org/community/irc.html" target="" class="regularLink">IRC</a> or the <a href="http://forums.hibernate.org/" target="" class="regularLink">forums</a> if you have usage questions. 
</p>

<p class="wikiPara">
Get'em while they are hot!
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://sourceforge.net/projects/hibernate/files/hibernate3/3.5.1-Final/" target="" class="regularLink">Release bundles</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://repository.jboss.org/maven2/org/hibernate/" target="" class="regularLink">Maven repo</a>
</li>
</ul>
</div>

