---
title: "Hibernate JIRA compromised"
author: "Steve Ebersole"
creation_date: "18-04-2010"
blogger_name: "Steve"
layout: blog-post
tags: []
slug: HibernateJIRACompromised
lace: http://in.relation.to/15204.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="http://www.atlassian.com/" target="" class="regularLink">Atlassian</a> and <a href="http://www.contegix.com/" target="" class="regularLink">Contegix</a> (who together make the Hibernate JIRA possible) have found evidence that the <a href="http://opensource.atlassian.com/projects/hibernate" target="" class="regularLink">Hibernate JIRA</a> has been compromised through the recent JIRA <a href="http://confluence.atlassian.com/display/JIRA/JIRA+Security+Advisory+2010-04-16" target="" class="regularLink">exploit</a> affecting numerous Open Source JIRA instances.  
</p>

<p class="wikiPara">
At this time they are still investigating and analyzing to determine the extent of the compromise.  Specifically it is unknown yet whether passwords or user data in general were accessed.
</p>

<p class="wikiPara">
In the meantime, Contegix will be upgrading the JIRA software.  As a protection measure, all passwords have been reset.  On logging back in you will be forced to reset your password via email (look for the <q>Can't access your account?</q> link next to the Log In button).</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'HibernateJIRACompromised';
    var disqus_title = 'Hibernate JIRA compromised';
    var disqus_url = 'http://in.relation.to/15204.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
