---
title: "Hibernate 3.6.0.Beta4 release"
author: "Steve Ebersole"
creation_date: "01-09-2010"
blogger_name: "Steve"
layout: blog-post
tags: [Core Release,Hibernate,News]
slug: Hibernate360Beta4Release
lace: http://in.relation.to/16795.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate 3.6.0.Beta4 has been released incorporating mostly minor bugfixes and improvements.  Most of the work this cycle went into the improved documentation.  For those not aware we are planning on splitting the documentation into 2 books:
</p>

<ol class="wikiOrderedList">
<li class="wikiOrderedListItem"> a <i class="wikiEmphasis">Getting Started Guide</i>, see <a href="http://hibernate.onjira.com/browse/HHH-5441" target="" class="regularLink">HHH-5441</a> : this is a collection of tutorials and information on the Hibernate community, etc.</li>
<li class="wikiOrderedListItem"> a <i class="wikiEmphasis">Developer Guide</i>, see <a href="http://hibernate.onjira.com/browse/HHH-5466" target="" class="regularLink">HHH-5466</a> : this is essentially the information from the existing manual, but presented in a more topical fashion.</li>
</ol>

<p class="wikiPara">
The <i class="wikiEmphasis">Getting Started Guide</i> is mostly done.  There is a single subtask outstanding to incorporate a tutorial on basic Envers usage, but it already contains tutorials on basic Hibernate using (both with hbm.xml and annotation usage) as well as a basic JPA usage tutorial.  They all build on the same schema and domain classes, in hopes it will be useful illustrating how to move from one paradigm to another.  In fact they all perform the exact same steps for illustration (except for the Envers tutorial when it gets done, since it need to present a very different use case to usefully show Envers usage).  
</p>

<p class="wikiPara">
We also are trying out actually bundling up the tutorials in a working project this time (a maven mutli-module project) to make it even easier to get up and running with the tutorials.  We are still working through the details of hosting that in terms of referencing the zip from the tutorials (thats the problem with modularizing stuff).  Anyway, in the interm I thought this one was close enough that I went ahead and made it available from <a href="http://dl.dropbox.com/u/3636512/getting-started-guide/index.html" target="" class="regularLink">http://dl.dropbox.com/u/3636512/getting-started-guide/index.html</a>.  Some notes:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> This url is only made available <b>temporarily</b>
</li>
<li class="wikiUnorderedListItem"> The documentation references a link to obtain the code.  That link is not accurate.  We are still deciding where these will live and how they will be referenced.  In the meantime I have zipped up the code and made it available here: <a href="http://dl.dropbox.com/u/3636512/getting-started-guide/tutorials.tar.gz" target="" class="regularLink">http://dl.dropbox.com/u/3636512/getting-started-guide/tutorials.tar.gz</a> (again <b>temporarily</b>).</li>
</ul>

<p class="wikiPara">
See <a href="http://hibernate.org/downloads.html" target="" class="regularLink">http://hibernate.org/downloads.html</a> for details on obtaining the release.  Or try <a href="http://dl.dropbox.com/u/3636512/getting-started-guide/index.html#hibernate-gsg-obtain" target="" class="regularLink">http://dl.dropbox.com/u/3636512/getting-started-guide/index.html#hibernate-gsg-obtain</a> ;)
</p>

<p class="wikiPara">
Please report any issues to <a href="http://opensource.atlassian.com/projects/hibernate" target="" class="regularLink">JIRA</a>.  Visit us on <a href="http://hibernate.org/community/irc.html" target="" class="regularLink">IRC</a> or the <a href="https://forum.hibernate.org/" target="" class="regularLink">forums</a> if you have usage questions. </p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'Hibernate360Beta4Release';
    var disqus_title = 'Hibernate 3.6.0.Beta4 release';
    var disqus_url = 'http://in.relation.to/16795.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
