---
title: "Hibernate Core 3.6.0.Final Release"
author: "Steve Ebersole"
blogger_name: "Steve"
layout: blog-post
tags: [Core Release,Hibernate,News]
slug: HibernateCore360FinalRelease
lace: http://in.relation.to/17363.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/HibernateCore360FinalRelease">Hibernate Core 3.6.0.Final Release</a>
                    </h1>
</div>
<p class="wikiPara">
The Hibernate team is proud to announce the release of 3.6.0.Final.  Lot of stuff has been going on.  
</p>

<p class="wikiPara">
This is the first release from our new digs on <a href="http://github.com/hibernate/hibernate-core" target="" class="regularLink">GitHub</a>.  
</p>

<p class="wikiPara">
We've been helping out Stale Pedersen with his work to get <a href="http://www.jboss.org/jbossas/" target="" class="regularLink">JBoss Application Server</a> running on the <a href="http://www.spec.org/jEnterprise2010/" target="" class="regularLink">SPECjEnterprise2010</a> benchmark (and their interesting interpretations of the JPA spec).  Likewise, Scott Marlow and Shelley McGowan have been putting a lot of effort into testing JavaEE compatibility of JBoss Application Server running Hibernate as the JPA provider.  JBoss Application Server with Hibernate 3.6 as its persistence provider is is passing all persistence related tests in both of those efforts!  Great work by everyone involved.
</p>

<p class="wikiPara">
The highlights for 3.6 include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Dropping support for JDK 1.4</li>
<li class="wikiUnorderedListItem"> Merging of hibernate-jmx and hibernate-annotations modules into hibernate-core.  For those of you using Maven, that means hibernate-core-3.6.0.Final.jar contains annotation and jmx support.</li>
<li class="wikiUnorderedListItem"> Improved Type support (<a href="http://hibernate.onjira.com/browse/HHH-5138" target="" class="regularLink">HHH-5138</a> and related issues)</li>
<li class="wikiUnorderedListItem"> Change in DTD hosting (<a href="http://hibernate.onjira.com/browse/HHH-5485" target="" class="regularLink">HHH-5485</a>)</li>
<li class="wikiUnorderedListItem"> Slew of documentation changes, including introducing a new <a href="http://docs.jboss.org/hibernate/core/3.6/quickstart/en-US/html_single/" target="" class="regularLink">Getting Started Guide</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://opensource.atlassian.com/projects/hibernate/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=project+%3D+HHH+AND+component=annotations+AND+%28summary+%21%7ETestCase%29+AND+resolution+%3D+Fixed+AND+fixVersion+%3D+%223.6.0.CR2%22+ORDER+BY+priority+DESC" target="" class="regularLink">Several</a> improvements to annotations support for discriminators, column-level read/write expressions, and timestamp versions.</li>
<li class="wikiUnorderedListItem"> New Envers feature (ValidityAuditStrategy) as an alternative way to write history entries.  See Adam's blog entries <a href="http://www.warski.org/blog/?p=239" target="" class="regularLink">here</a> and <a href="http://www.warski.org/blog/?p=261" target="" class="regularLink">here</a> for more information.</li>
</ul>

<p class="wikiPara">
See <a href="http://hibernate.org/issuetracker" target="" class="regularLink">http://hibernate.org/issuetracker</a> for details on reporting issues.  See <a href="http://hibernate.org/community" target="" class="regularLink">http://hibernate.org/community</a> for details on getting community help on usage questions.
</p>

<p class="wikiPara">
Be sure to keep an eye on 4.0 development.  No dates yet, but in 2 weeks as things settle down we will discuss the 4.0 time lines.  I think we will keep the 2 week time-boxes for the Alphas and Betas as that seems like its been productive.</p>
</div>
