---
title: "Hibernate 3.5.0-Final release "
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "01-04-2010"
original_tags: [Core Release,Hibernate,News]
tags: [Hibernate ORM,Releases]

relative_url: /2010/04/01/hibernate-350-final-release
slug: hibernate-350-final-release
lace: http://in.relation.to/15040.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/04/01/hibernate-350-final-release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Yaay, we made it!  :)
</p>

<p class="wikiPara">
Here is the list of the major accomplishments embodied in 3.5.0-Final
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> JSR 317 (JPA2) support.</li>
<li class="wikiUnorderedListItem"> Integration of hibernate-annotations, hibernate-entitymanager and hibernate-envers into the core project.  See <a href="http://in.relation.to/14172.lace" target="" class="regularLink">http://in.relation.to/14172.lace</a> for details</li>
<li class="wikiUnorderedListItem"> Added <a href="http://www.jboss.org/infinispan" target="" class="regularLink">Infinispan</a> as a standard second-level cache.  See <a href="http://infinispan.blogspot.com/2009/10/infinispan-based-hibernate-cache.html" target="" class="regularLink">http://infinispan.blogspot.com/2009/10/infinispan-based-hibernate-cache.html</a> for details</li>
<li class="wikiUnorderedListItem"> Improvements to the new second-level caching SPI introduced in 3.3 based on feedback from implementers including Ehcache, Inifinispan and JBoss Cache.</li>
<li class="wikiUnorderedListItem"> Far better <q>read only</q> / <q>immutable</q> support.  See the new chapter added to the core reference manual dedicated to the subject.</li>
<li class="wikiUnorderedListItem"> Support for <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH-2412" target="" class="regularLink">JDBC 4</a> such that Hibernate can be used in JDK 1.6 JVMs and make use of JDBC4-compliant drivers.'</li>
<li class="wikiUnorderedListItem"> Support for <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH-4440" target="" class="regularLink">column-level read/write</a> fragments (HBM only for now)</li>
<li class="wikiUnorderedListItem"> Initial support for <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH-4047" target="" class="regularLink">fetch profiles</a>
</li>
</ul>

<p class="wikiPara">
Check out the <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH/fixforversion/11022" target="" class="regularLink">release page</a> for the full list of changes (just in 3.5.0-Final, aka not cumulative).
</p>

<p class="wikiPara">
The <a href="http://repository.jboss.org/maven2/org/hibernate/" target="" class="regularLink">artifacts</a> have all been published to the <a href="http://repository.jboss.org/maven2/" target="" class="regularLink">JBoss Maven repository</a> and the <a href="http://sourceforge.net/projects/hibernate/files/hibernate3/3.5.0-Final/" target="" class="regularLink">release bundles</a> have been uploaded to <a href="http://sourceforge.net/" target="" class="regularLink">SourceForge</a>.
</p>

<p class="wikiPara">
Please report any issues to <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH" target="" class="regularLink">Jira</a>. Visit us on <a href="https://hibernate.org/community/irc.html" target="" class="regularLink">IRC</a> or the <a href="http://forums.hibernate.org/" target="" class="regularLink">forums</a> if you have a usage question.
</p>

<p class="wikiPara">
Thanks!</p>
</div>

