---
title: "Hibernate 3.5.0-Beta-4 release "
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "29-01-2010"
tags: [Core Release,Hibernate,News]

relative_url: /2010/01/29/hibernate-350-beta-4-release
slug: hibernate-350-beta-4-release
lace: http://in.relation.to/14155.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/01/29/hibernate-350-beta-4-release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
In terms of JPA 2, its really easier to start talking about things not yet implemented :)  The set of missing features are defined by the unresolved subtasks of the following 2 Jira issues:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH-4190" target="" class="regularLink">http://opensource.atlassian.com/projects/hibernate/browse/HHH-4190</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH-4325" target="" class="regularLink">http://opensource.atlassian.com/projects/hibernate/browse/HHH-4325</a>
</li>
</ul>

<p class="wikiPara">
The still-to-be-implemented features are mainly certain aspects of <q>derived identity</q> support and support for embeddables with associations.
</p>

<p class="wikiPara">
Check out the <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH/fixforversion/11012" target="" class="regularLink">release details</a> for the full list of changes. 
</p>

<p class="wikiPara">
The artifacts have all been published to the <a href="http://repository.jboss.org/maven2/org/hibernate/" target="" class="regularLink">JBoss Maven</a> repository. Additionally the release bundles have been uploaded to <a href="https://sourceforge.net/projects/hibernate/files/hibernate3/3.5.0-Beta-4/" target="" class="regularLink">SourceForge</a>.
</p>

<p class="wikiPara">
As always, please report any issues to <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH" target="" class="regularLink">Jira</a> and come visit us on IRC or the forums if you have a usage question. 
</p>

<p class="wikiPara">
We are getting so close folks!  Great work.</p>
</div>

