---
title: "Hibernate.org migration"
author: "Steve Ebersole"
creation_date: "18-03-2010"
blogger_name: "Steve"
layout: blog-post
tags: [Hibernate,News]
slug: HibernateorgMigration
lace: http://in.relation.to/14891.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We are pleased to announce completion of the first phase of migrating Hibernate.org to what we feel will be a more stable, more collaborative and more friendly experience.  
</p>

<p class="wikiPara">
Phase one included:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> migrating <q>project pages</q> content to the <a href="http://www.magnolia-cms.com/" target="" class="regularLink">Magnolia</a> instance maintained by <a href="http://jboss.org" target="" class="regularLink">JBoss</a>
</li>
<li class="wikiUnorderedListItem"> migrating <q>community wiki</q> content to the <a href="http://www.jivesoftware.com/products" target="" class="regularLink">Clearspace</a> instance maintained by JBoss</li>
<li class="wikiUnorderedListItem"> Redirection of the hibernate.org domain to these new services (this part is being completed as I type actually)</li>
</ul>

<p class="wikiPara">
Eventually the plan is to host the forums as Clearspace discussions as well.  There is still discussion about whether to attempt to migrate the post data or whether we should just start afresh (see the poll on the wiki space).
</p>

<p class="wikiPara">
Members of the Hibernate team have been working on this migration for a very very long time and I'd like to thank them for their time and effort.  Thanks as well to the JBoss Community Team for their help in getting set up and helping us design the site.  I'd also like to thank our users for their patience during the time it took us to get this all set up and migrated.
</p>

<p class="wikiPara">
Enjoy!</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'HibernateorgMigration';
    var disqus_title = 'Hibernate.org migration';
    var disqus_url = 'http://in.relation.to/14891.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
