---
title: "Hibernate Core 3.6.3 Release"
author: "Steve Ebersole"
blogger_name: "Steve"
layout: blog-post
tags: [Core Release,Hibernate,Maintenance,News]
slug: HibernateCore363Release
lace: http://in.relation.to/19036.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/HibernateCore363Release">Hibernate Core 3.6.3 Release</a>
                    </h1>
</div>
<p class="wikiPara">
The Hibernate team have released the 3.6.3.Final maintenance release of Hibernate Core.  This is a minor maintenance release with <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH/fixforversion/11211" target="" class="regularLink">bug fixes</a>.  As always, the release is available from both SourceForge in <a href="https://sourceforge.net/projects/hibernate/files/hibernate3/3.6.3.Final/" target="" class="regularLink">bundle form</a> as well as the JBoss Nexus repository under the <a href="https://repository.jboss.org/nexus/content/repositories/releases/org/hibernate/" target="" class="regularLink">org.hibernate</a> groupId.</p>
</div>
