---
title: "Hibernate and multi-tenancy webinar"
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "15-02-2011"
tags: [Hibernate,News]

absolute_url: http://in.relation.to/2011/02/15/HibernateAndMultitenancyWebinar
lace: http://in.relation.to/18297.lace
slug: HibernateAndMultitenancyWebinar

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
On February 16th I will be doing a presentation on multi-tenacy and Hibernate as part of the <a href="http://www.jboss.org/webinars" target="" class="regularLink">JBoss Developer Webinar Series</a>.  Some background can be found in my earlier <a href="/Bloggers/MultitenancyInHibernate" target="" class="regularLink">Multi-tenancy in Hibernate</a> blog entry.  In the presentation I will cover approaches to handling multi-tenancy in Hibernate today as well as touching on the planned support upcoming in Hibernate 4.
</p>

<p class="wikiPara">
Register for the webinar at <a href="https://engage.redhat.com/forms/20110216HibernateMultitendancy" target="" class="regularLink">https://engage.redhat.com/forms/20110216HibernateMultitendancy</a>.  Hope to see you there!</p>
</div>
