---
title: "Hibernate Core 4.0.0.CR1 Release "
author: "Steve Ebersole"
creation_date: "18-08-2011"
blogger_name: "Steve"
layout: blog-post
tags: [Core Release,Development,Hibernate,News]
slug: HibernateCore400CR1Release
lace: http://in.relation.to/21587.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Progress on the new metamodel ended up being much slower then anticipated, so we decided to move ahead with the 4.0 release and will continue development of it after 4.0.  At that point the rest of the work for 4.0 had already been completed which brings us to the first CR release.  The complete list of its changes can be found in the JIRA <a href="https://hibernate.onjira.com/browse/HHH/fixforversion/11350" target="" class="regularLink">release notes</a>.
</p>

<p class="wikiPara">
The release is available in <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.0.0.CR1/" target="" class="regularLink">bundle form</a> from SourceForge as well as from the JBoss Nexus repository under the <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">org.hibernate</a> groupId.
</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'HibernateCore400CR1Release';
    var disqus_title = 'Hibernate Core 4.0.0.CR1 Release ';
    var disqus_url = 'http://in.relation.to/21587.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
