---
title: "Hibernate Core 4.0.0.CR3 Release"
author: "Steve Ebersole"
creation_date: "15-09-2011"
blogger_name: "Steve"
layout: blog-post
tags: [Core Release,Development,Hibernate,News]
slug: HibernateCore400CR3Release
lace: http://in.relation.to/21939.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate Core 4.0.0.CR3 has just been released.  The complete list of changes can be found in the JIRA <a href="https://hibernate.onjira.com/browse/HHH/fixforversion/11363" target="" class="regularLink">release notes</a>.
</p>

<p class="wikiPara">
This release contains some changes to integration SPIs (for Hibernate OGM, Hibernate Spatial, etc) that we wanted to make sure made their way into 4.0.  See <a href="http://hibernate.onjira.com/browse/HHH-6091" target="" class="regularLink">HHH-6091</a> and <a href="http://hibernate.onjira.com/browse/HHH-6640" target="" class="regularLink">HHH-6640</a> in particular.  There are bug fixes as well.
</p>

<p class="wikiPara">
The release is available in <a href="https://sourceforge.net/projects/hibernate/files/hibernate4/4.0.0.CR3/" target="" class="regularLink">bundle form</a> from SourceForge as well as from the JBoss Nexus repository under the <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">org.hibernate</a> groupId.
</p>
</div>
