---
title: "Hibernate Core 4.0.0.CR1 Release "
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "18-08-2011"
original_tags: [Core Release,Development,Hibernate,News]
tags: [Hibernate ORM,Release]

relative_url: /2011/08/18/hibernate-core-400-cr-1-release
slug: hibernate-core-400-cr-1-release
lace: http://in.relation.to/21587.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/08/18/hibernate-core-400-cr-1-release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Progress on the new metamodel ended up being much slower then anticipated, so we decided to move ahead with the 4.0 release and will continue development of it after 4.0.  At that point the rest of the work for 4.0 had already been completed which brings us to the first CR release.  The complete list of its changes can be found in the JIRA <a href="https://hibernate.onjira.com/browse/HHH/fixforversion/11350" target="" class="regularLink">release notes</a>.
</p>

<p class="wikiPara">
The release is available in <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.0.0.CR1/" target="" class="regularLink">bundle form</a> from SourceForge as well as from the JBoss Nexus repository under the <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">org.hibernate</a> groupId.
</p>
</div>

