---
title: "Hibernate Core 4.0.0.Beta4 Release"
author: "Steve Ebersole"
creation_date: "21-07-2011"
blogger_name: "Steve"
layout: blog-post
tags: [Core Release,Development,Hibernate,News]
slug: HibernateCore400Beta4Release
lace: http://in.relation.to/21168.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate Core 4.0.0.Beta4 has just been released. The complete list of changes can be found in JIRA <a href="http://hibernate.onjira.com/browse/HHH/fixforversion/11242" target="" class="regularLink">release notes</a>
</p>

<p class="wikiPara">
Most of the work is still occurring in relation to the new metamodel.  A primary milestone in this release is the consolidation of how bindings get built between annotation processing and hbm.xml processing (see <a href="http://hibernate.onjira.com/browse/HHH-6447" target="" class="regularLink">HHH-6447</a> for details).  And Gail has started getting the metadata integrated into the Hibernate <q>engine</q>!  So all in all things are really moving along.
</p>

<p class="wikiPara">
The release is available from SourceForge in <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.0.0.Beta4/" target="" class="regularLink">bundle form</a> as well as from the JBoss Nexus repository (now synchronized to Maven Central!) under the org.hibernate groupId.</p>
</div>
