---
title: "Hibernate Core 4.0 is Final"
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "15-12-2011"
tags: [Core Release,Hibernate,News]

absolute_url: http://in.relation.to/2011/12/15/HibernateCore40IsFinal
lace: http://in.relation.to/22584.lace
slug: HibernateCore40IsFinal

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The Hibernate team is pleased to announce the release of Hibernate Core 4.0.0.Final.  A lot of time and effort from many people went into this release, so thank you everyone involved!
</p>

<p class="wikiPara">
The artifacts have all been published to the JBoss Nexus repository under the <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">org.hibernate groupId</a>. Or if you prefer, the download bundles are available from SourceForge in both <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.0.0.Final/hibernate-release-4.0.0.Final.zip/download" target="" class="regularLink">ZIP</a> and <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.0.0.Final/hibernate-release-4.0.0.Final.tgz/download" target="" class="regularLink">TGZ</a> formats.
</p>

<h2 class="wikiHeadline2" id="H-WhatsNew"><a href="/Bloggers/HibernateCore40IsFinal#H-WhatsNew">What's new?</a></h2>

<p class="wikiPara">
A lot of things; too many to list here.  But here is a list of the major improvements done in 4.0:
</p>

<ol class="wikiOrderedList">
<li class="wikiOrderedListItem"> Initial multi-tenancy support.  See <a href="http://in.relation.to/Bloggers/HibernateAndMultitenancyWebinar" target="" class="regularLink">http://in.relation.to/Bloggers/HibernateAndMultitenancyWebinar</a> and <a href="http://in.relation.to/Bloggers/MultitenancyInHibernate" target="" class="regularLink">http://in.relation.to/Bloggers/MultitenancyInHibernate</a> for more information.</li>
<li class="wikiOrderedListItem"> Introduction of ServiceRegistry.  This is a major change in how Hibernate builds and manages <q>services</q>.  See the information in the <i class="wikiEmphasis">Hibernate Developer Guide</i>.</li>
<li class="wikiOrderedListItem"> Clean up of Session opening from SessionFactory</li>
<li class="wikiOrderedListItem"> Improved integration via org.hibernate.integrator.spi.Integrator and auto discovery</li>
<li class="wikiOrderedListItem"> Improved logging with i18n support and message codes</li>
<li class="wikiOrderedListItem"> Initial work on more clear split between API, SPI and implementation classes.  If you import a class contained in an internal package, you know that this code is not guaranteed to work between releases. </li>
<li class="wikiOrderedListItem"> Clean up of deprecated methods, classes, etc</li>
</ol>

<p class="wikiPara">
Also, be sure to check out the <a href="http://community.jboss.org/wiki/HibernateCoreMigrationGuide40" target="" class="regularLink">Migration Guide</a>.
</p>

<h2 class="wikiHeadline2" id="H-Documentation"><a href="/Bloggers/HibernateCore40IsFinal#H-Documentation">Documentation</a></h2>

<p class="wikiPara">
The documentation is caught in a state of flux.  The long term story is that we are trying to migrate to use DocBook v5.1 to leverage its new concept of <i class="wikiEmphasis">Topics</i> and <i class="wikiEmphasis">Assemblies</i>.  Additionally we are trying to split up the content into multiple documents rather than the single document we used to produce.  Plus the fact that DocBook 5.1 is itself still beta.  All that is to say that the documentation is still in a working state.  
</p>

<ol class="wikiOrderedList">
<li class="wikiOrderedListItem"> <a href="http://docs.jboss.org/hibernate/core/4.0/quickstart/en-US/html/" target="" class="regularLink">Hibernate Getting Started Guide</a> is done.  It is a series of quick starts and tutorials to help new users get up and running.</li>
<li class="wikiOrderedListItem"> <a href="http://docs.jboss.org/hibernate/core/4.0/manual/en-US/html/" target="" class="regularLink">Hibernate Reference Documentation</a> is the old documentation.  It has been kept somewhat up to date during 4.0 development, so for the time being that is the best resource for most topics.</li>
<li class="wikiOrderedListItem"> <a href="http://docs.jboss.org/hibernate/core/4.0/devguide/en-US/html/" target="" class="regularLink">Hibernate Developer Guide</a> is the guide for application developers using Hibernate.  It is largely incomplete, except that it has the only good ServiceRegistry coverage.</li>
<li class="wikiOrderedListItem"> <a href="http://docs.jboss.org/hibernate/core/4.0/hem/en-US/html/" target="" class="regularLink">Hibernate EntityManager User Guide</a> will eventually get folded into <i class="wikiEmphasis">Hibernate Developer Guide</i> (in fact some of it has been folded into <i class="wikiEmphasis">Hibernate Developer Guide</i> and <i class="wikiEmphasis">Hibernate Reference Documentation</i> already).</li>
</ol>

<p class="wikiPara">
This is a mess, I know and I apologize.
</p>

<h2 class="wikiHeadline2" id="H-WhatsAhead"><a href="/Bloggers/HibernateCore40IsFinal#H-WhatsAhead">Whats ahead?</a></h2>

<p class="wikiPara">
We had originally planned a major redesign to the Hibernate metamodel (org.hibernate.mapping) code in this 4.0 release, however we decided to delay that to another release for a number of reasons.  We recently agreed that those changes would be the bulk of our 5.0 release.  In the interim we will have a 4.1 release as well with 2 main changes:
</p>

<ol class="wikiOrderedList">
<li class="wikiOrderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-2879" target="" class="regularLink">HHH-2879</a> / <a href="http://hibernate.onjira.com/browse/HHH-2896" target="" class="regularLink">HHH-2896</a> - which deal with providing an actual API for performing natural key lookups.</li>
<li class="wikiOrderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-5472" target="" class="regularLink">HHH-5472</a> - which is a big improvement in cascade performance</li>
<li class="wikiOrderedListItem"> We will also get the docs straightened out for 4.1.  Partially this is so we wont have to break links based on the 4.0 directory name.  But I will get them moved up there ASAP, even before we do the 4.1 release if thats how it works out.</li>
</ol>

<h2 class="wikiHeadline2" id="H-WhatAbout36"><a href="/Bloggers/HibernateCore40IsFinal#H-WhatAbout36">What about 3.6?</a></h2>

<p class="wikiPara">
We simultaneously released 3.6.9, which is the final 3.6 (in fact, final 3.x) release.
</p>


</div>
