---
title: "Hibernate Core 4.0.0.CR6 Release"
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "10-11-2011"
original_tags: [Core Release,Development,Hibernate,News]
tags: [Hibernate ORM,Release]

relative_url: /2011/11/10/hibernate-core-400-cr-6-release
slug: hibernate-core-400-cr-6-release
lace: http://in.relation.to/22284.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/11/10/hibernate-core-400-cr-6-release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate Core 4.0.0.CR6 has just been released. The complete list of changes can be found in the JIRA <a href="https://hibernate.onjira.com/browse/HHH/fixforversion/11652" target="" class="regularLink">release notes</a>.
</p>

<p class="wikiPara">
The main change that required another CR is <a href="https://hibernate.onjira.com/browse/HHH-6816" target="" class="regularLink">HHH-6816</a>.
</p>

<p class="wikiPara">
The artifacts have all been published to the <a href="https://repository.jboss.org/nexus/" target="" class="regularLink">JBoss Nexus repository</a> under the <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">org.hibernate</a> groupId.  Or if you prefer, the download bundles are available from SourceForge in both <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.0.0.CR6/hibernate-release-4.0.0.CR6.zip/download" target="" class="regularLink">ZIP</a> and <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.0.0.CR6/hibernate-release-4.0.0.CR6.tgz/download" target="" class="regularLink">TGZ</a> formats.</p>
</div>

