---
title: "Hibernate Core 4.0.0.Beta1 Release"
author: "Steve Ebersole"
creation_date: "09-06-2011"
blogger_name: "Steve"
layout: blog-post
tags: [Core Release,Development,Hibernate,News]
slug: HibernateCore400Beta1Release
lace: http://in.relation.to/20712.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate Core 4.0.0.Beta1 has just been released.  The complete list of changes can be found in JIRA <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH/fixforversion/11222" target="" class="regularLink">release notes</a>
</p>

<p class="wikiPara">
As this is a Beta, we expect the API to be pretty much complete.  At this point most of the work is going into the newly redesigned metamodel which is the representation into which Hibernate parses user provided metadata (XML and annotations) before building a SessionFactory.  As we finish up that work in the coming weeks there may be adjustments to those contracts.  However, most users will not leverage those contracts anyway.
</p>

<p class="wikiPara">
As the redesigned metamodel is still being finished up and is currently likely to only work on simple domain models we have decided to delay removal of the org.hibernate.cfg.Configuration class and that method of building a SessionFactory until this work is done.  So both approaches are available in parallel for the time being.
</p>

<p class="wikiPara">
The release is available from SourceForge in <a href="https://sourceforge.net/projects/hibernate/files/hibernate4/4.0.0.Beta1/" target="" class="regularLink">bundle form</a> as well as from the JBoss Nexus repository under the <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">org.hibernate</a> groupId.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'HibernateCore400Beta1Release';
    var disqus_title = 'Hibernate Core 4.0.0.Beta1 Release';
    var disqus_url = 'http://in.relation.to/20712.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
