---
title: "Hibernate Core 4.0.0.Beta2 Release "
author: "Steve Ebersole"
blogger_name: "Steve"
layout: blog-post
tags: [Core Release,Development,Hibernate,News]
slug: HibernateCore400Beta2Release
lace: http://in.relation.to/20896.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/HibernateCore400Beta2Release">Hibernate Core 4.0.0.Beta2 Release </a>
                    </h1>
</div>
<p class="wikiPara">
Hibernate Core 4.0.0.Beta2 has just been released.  Most of the work in this release deals with continuing to tidy up the new metamodel.  The complete list of its changes can be found in the JIRA <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH/fixforversion/11231" target="" class="regularLink">release notes</a>
</p>

<p class="wikiPara">
The release is available from SourceForge in <a href="https://sourceforge.net/projects/hibernate/files/hibernate4/4.0.0.Beta1/" target="" class="regularLink">bundle form</a> as well as from the JBoss Nexus repository under the <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">org.hibernate</a> groupId.</p>
</div>
