---
title: "Hibernate Core 4.0.0.Beta2 Release "
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "23-06-2011"
original_tags: [Core Release,Development,Hibernate,News]
tags: [Hibernate ORM,Release]

relative_url: /2011/06/23/hibernate-core-400-beta-2-release
slug: hibernate-core-400-beta-2-release
lace: http://in.relation.to/20896.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/06/23/hibernate-core-400-beta-2-release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate Core 4.0.0.Beta2 has just been released.  Most of the work in this release deals with continuing to tidy up the new metamodel.  The complete list of its changes can be found in the JIRA <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH/fixforversion/11231" target="" class="regularLink">release notes</a>
</p>

<p class="wikiPara">
The release is available from SourceForge in <a href="https://sourceforge.net/projects/hibernate/files/hibernate4/4.0.0.Beta1/" target="" class="regularLink">bundle form</a> as well as from the JBoss Nexus repository under the <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">org.hibernate</a> groupId.</p>
</div>

