---
title: "Hibernate Core 4.0.0.Alpha2 Release"
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "07-04-2011"
tags: [Core Release,Development,Hibernate,News ]

absolute_url: http://in.relation.to/2011/04/07/HibernateCore400Alpha2Release
lace: http://in.relation.to/19040.lace
slug: HibernateCore400Alpha2Release

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The Hibernate team has just released the 4.0.0.Alpha2 development release of Hibernate Core.  Consult the <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH/fixforversion/11162" target="" class="regularLink">full list of changes</a> for all the details.  Some specific changes of interest include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-5697" target="" class="regularLink">HHH-5697</a> - Initial multi-tenancy support.  Currently only schema and database based varieties are supports.  Discrimination based is planned for Alpha3 or the first Beta.</li>
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-5562" target="" class="regularLink">HHH-5562</a> &amp; <a href="http://hibernate.onjira.com/browse/HHH-6081" target="" class="regularLink">HHH-6081</a> - Introduction of <tt>org.hibernate.spi.Integrator</tt>
</li>
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-6047" target="" class="regularLink">HHH-6047</a> - Ability to nest <tt>org.hibernate.service.ServiceRegistry</tt> instances</li>
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-5966" target="" class="regularLink">HHH-5966</a> - Really cool ability for dialects to redefine how binding and extraction of particular SQL DATATYPES is handled.</li>
</ul>

<p class="wikiPara">
As always, the release is available from both SourceForge in <a href="https://sourceforge.net/projects/hibernate/files/hibernate4/4.0.0.Alpha2/" target="" class="regularLink">bundle form</a> as well as the JBoss Nexus repository under the <a href="https://repository.jboss.org/nexus/content/repositories/releases/org/hibernate/" target="" class="regularLink">org.hibernate</a> groupId.</p>
</div>
