---
title: "Hibernate Core 4.0.0.Alpha1 Released"
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "10-03-2011"
tags: [Core Release,Hibernate,News]

relative_url: /2011/03/10/HibernateCore400Alpha1Released
slug: HibernateCore400Alpha1Released
lace: http://in.relation.to/18718.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/03/10/HibernateCore400Alpha1Released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The Hibernate team is pleased to announce the release of Hibernate Core 4.0.0.Alpha1.  Pieces of changes in this release have been in the work for a long time, so even though it is an alpha the changes should all be really really well vetted and tested.  
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> The major focus for this first alpha release was to put the concept of <a href="https://sourceforge.net/apps/mediawiki/hibernate/index.php?title=Category:Services" target="" class="regularLink">ServiceRegistry</a> into place as well as to start migrating various stuff to be services within the registry.</li>
<li class="wikiUnorderedListItem"> Completely reworked the JDBC and transaction interaction internally, leveraging <a href="https://github.com/hibernate/hibernate-core/blob/master/hibernate-core/src/main/java/org/hibernate/engine/jdbc/spi/JdbcCoordinator.java" target="" class="regularLink">JdbcCoordinator</a> and <a href="https://github.com/hibernate/hibernate-core/blob/master/hibernate-core/src/main/java/org/hibernate/engine/transaction/spi/TransactionCoordinator.java" target="" class="regularLink">TransactionCoordinator</a> internally.</li>
<li class="wikiUnorderedListItem"> Move to use <a href="https://github.com/hibernate/hibernate-core/tree/master/hibernate-core/src/main/java/org/hibernate/engine/jdbc/internal/proxy" target="" class="regularLink">proxies</a> for JDBC objects internally.  This is one of the things vetted and tested for a long, long time.  Obviously performance is a hug concern here and my findings were that the proxies added very little speed overhead.  Why do it?  Essentially this allows us to apply consistent behavior in terms of logging, resource tracking and cleanup across the across the various objects and various usage scenarios.  It also allows centralization of lots of previously duplicated code.</li>
<li class="wikiUnorderedListItem"> Migration to notion of a <a href="https://github.com/hibernate/hibernate-core/blob/master/hibernate-core/src/main/java/org/hibernate/service/jta/platform/spi/JtaPlatform.java" target="" class="regularLink">JtaPlatform</a> providing more complete and consistent set of services over legacy <a href="https://github.com/hibernate/hibernate-core/blob/master/hibernate-core/src/main/java/org/hibernate/transaction/TransactionManagerLookup.java" target="" class="regularLink">TransactionManagerLookup</a>
</li>
<li class="wikiUnorderedListItem"> Developed initial support for managing internals of running Hibernate SessionFactory (its services) via JMX.  See <a href="https://github.com/hibernate/hibernate-core/blob/master/hibernate-core/src/main/java/org/hibernate/service/jmx/spi/JmxService.java" target="" class="regularLink">JmxService</a> for details.</li>
<li class="wikiUnorderedListItem"> Removed non-maintained second level cache integrations, hibernate-oscache and hibernate-swarmcache.</li>
<li class="wikiUnorderedListItem"> Began removal of deprecated methods scheduled for removal in 4.0</li>
</ul>

<p class="wikiPara">
See the <a href="http://community.jboss.org/wiki/HibernateCoreMigrationGuide40" target="" class="regularLink">Migration Guide</a> for details of ongoing disruptive changes.  
</p>

<p class="wikiPara">
Additionally, the 3.6.2 maintenance release was also done.  See <a href="http://opensource.atlassian.com/projects/hibernate/browse/HHH/fixforversion/11206" target="" class="regularLink">http://opensource.atlassian.com/projects/hibernate/browse/HHH/fixforversion/11206</a> for list of changes
</p>
</div>

