---
title: "Hibernate ORM 4.1.1 Release"
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "08-03-2012"
original_tags: [Core Release,Hibernate,News]
tags: [Hibernate ORM,Releases]

relative_url: /2012/03/08/hibernate-orm-411-release
slug: hibernate-orm-411-release
lace: http://in.relation.to/22994.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/03/08/hibernate-orm-411-release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate ORM 4.1.1 has just been released. This release contains a slew of improvements and bug fixes.  Some specific changes of interest include: 
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Big performance increase in the internal QueryPlanCache class which caused caching of HQL, JPQL and native-SQL <q>compilation</q> to be a bottleneck in concurrency (<a href="http://hibernate.onjira.com/browse/HHH-5927" target="" class="regularLink">HHH-5927</a>)</li>
<li class="wikiUnorderedListItem"> bunch of improvements to the new 4.1 natural id loading feature, such as the ability to load load by natural ids using persistent inheritance (<a href="http://hibernate.onjira.com/browse/HHH-7046" target="" class="regularLink">HHH-7046</a>) and </li>
<li class="wikiUnorderedListItem"> Speaking of natural id loading improvements, <a href="http://hibernate.onjira.com/browse/HHH-7129" target="" class="regularLink">HHH-7129</a> specifically may cause issues with applications already using @NaturalId in an unintended.  Previously Hibernate had let you define annotations anywhere within an a persistent hierarchy (even spread across the hierarchy).  That was never an intended usage of @NaturalId and attempting to do so now throws an exception.</li>
<li class="wikiUnorderedListItem"> Allowing JPA static metamodel population to still happen even if model uses non-JPA features such as @Any mappings (<a href="http://hibernate.onjira.com/browse/HHH-6589" target="" class="regularLink">HHH-6589</a>)</li>
<li class="wikiUnorderedListItem"> Support for custom collection types using annotations via new @CollectionType annotation (<a href="http://hibernate.onjira.com/browse/HHH-4417" target="" class="regularLink">HHH-4417</a>)</li>
<li class="wikiUnorderedListItem"> On the documentation side, the documentation has all been migrated to DocBook v5 now which is great.  A lot of the devguide has been finished out.  I am still making the older manual available under 4.1 as well until all pertinent content has been migrated.  That work required a lot of coordination between a group of a few of us at Red Hat that work on the DocBook and styling side of things.  We work under the group name PressGang, and we could desperately use help.  None of us are really design nor DocBook people so-to-say.  If anyone is knowledgeable in that area and willing to help out, contact us via our <a href="https://plus.google.com/116875839827766783530" target="" class="regularLink">PressGang Google+ group</a>  End of shameless plug :)</li>
</ul>

<p class="wikiPara">
Speaking of Google+, I just created our <a href="https://plus.google.com/b/112681342290762837955/" target="" class="regularLink">Hibernate.org Google+ account</a> too!
</p>

<p class="wikiPara">
See <a href="https://hibernate.onjira.com/browse/HHH/fixforversion/11859" target="" class="regularLink">the chagelog</a> for more detailed breakdown of all the changes.
</p>
</div>

