---
title: "Hibernate ORM 4.1.7 Release"
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "06-09-2012"
tags: [Core Release,Hibernate,News]

relative_url: /2012/09/06/HibernateORM417Release
slug: HibernateORM417Release
lace: http://in.relation.to/23515.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/09/06/HibernateORM417Release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate ORM version 4.1.7 has just been released. This is a bug fix release containing 27 fixes. See the <a href="https://hibernate.onjira.com/browse/HHH/fixforversion/12250" target="" class="regularLink">changelog</a> for the complete list of fixes.  Again, 4.1.7 benefited from a lot of community involvement.  We really appreciate all the help in terms of pull requests, testing, comments, ideas, etc.
</p>

<p class="wikiPara">
As usual, the artifacts have been uploaded to the <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">JBoss Nexus repository</a> (which is synchronized to Maven Central regularly) and the release bundles have been uploaded to the Hibernate SourceForge in both <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.1.7.Final/hibernate-release-4.1.7.Final.zip/download" target="" class="regularLink">ZIP</a> and <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.1.7.Final/hibernate-release-4.1.7.Final.tgz/download" target="" class="regularLink">TGZ</a> formats. </p>
</div>

