---
title: "Hibernate ORM 4.1.0 Release"
author: "Steve Ebersole"
blogger_name: "Steve"
layout: blog-post
tags: [Core Release,Hibernate,News]
slug: HibernateORM410Release
lace: http://in.relation.to/22882.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/HibernateORM410Release">Hibernate ORM 4.1.0 Release</a>
                    </h1>
</div>
<p class="wikiPara">
Hibernate ORM 4.1.0 has just been released.  This release adds a few new features, as well as a bunch of improvements and bug fixes.  Some features in particular include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> A new (actual) API for loading by natural identifiers.  See mainly <a href="http://hibernate.onjira.com/browse/HHH-2879" target="" class="regularLink">HHH-2879</a> and <a href="http://hibernate.onjira.com/browse/HHH-6974" target="" class="regularLink">HHH-6974</a>.  Additionally, see my <a href="/Bloggers/41FeatureLoadingByNaturalId" target="" class="regularLink">earlier post</a> on this feature.</li>
<li class="wikiUnorderedListItem"> Addition of a TenantIdentifierResolver for use with multitenancy in getCurrentSession use cases.  See <a href="http://hibernate.onjira.com/browse/HHH-6336" target="" class="regularLink">HHH-6336</a>
</li>
<li class="wikiUnorderedListItem"> The ability to provide custom dirty handling.  See <a href="http://hibernate.onjira.com/browse/HHH-3910" target="" class="regularLink">HHH-3910</a> and <a href="http://hibernate.onjira.com/browse/HHH-6998" target="" class="regularLink">HHH-6998</a>
</li>
</ul>

<p class="wikiPara">
See the <a href="https://hibernate.onjira.com/browse/HHH/fixforversion/11223" target="" class="regularLink">4.1 release notes</a> for the full details.
</p>

<p class="wikiPara">
Additionally, quite a bit of work went into the documentation for this release.  The JPA/HEM documentation has been completely consumed into <q>Hibernate Reference Documentation</q> and <q>Hibernate Developer Guide</q>.  Mostly annotation/mapping information went into the former, while everything else went into the latter.  Other efforts such as documenting multitenancy, services, etc when into <q>Hibernate Developer Guide</q> as well.  The focus now, as we move ahead will be folding the information from <q>Hibernate Reference Documentation</q> into <q>Hibernate Developer Guide</q>.
</p>

<p class="wikiPara">
3.6.10 was released  today as well.  It contains some bugfixes.  Again, see the <a href="https://hibernate.onjira.com/browse/HHH/fixforversion/11851" target="" class="regularLink">release notes</a> for the details.
</p>

<p class="wikiPara">
P.S. A quick note about the name <q>Hibernate ORM</q>.  This refers to exactly what we previously called Hibernate Core.  A brief history is that initially there was just <q>Hibernate</q>, but as the team started working on related projects (<q>Hibernate Search</q>, etc.) we agreed to refer to what had been just <q>Hibernate</q> as <q>Hibernate Core</q>.  We recently decided that the <q>core</q> portion of the name was just a bad choice, as it doe not give any clue as to the intent.  Hence <q>Hibernate ORM</q>.</p>
</div>
