---
title: "hibernate-core repo rename"
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "11-01-2012"
tags: []

relative_url: /2012/01/11/HibernatecoreRepoRename
slug: HibernatecoreRepoRename
lace: http://in.relation.to/22738.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/01/11/HibernatecoreRepoRename
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The GitHub repo formerly named hibernate-core will be getting renamed after the 4.0.1 release today.  Its new name will be hibernate-orm.  The <q>why</q>s have been discussed over the past few weeks in the developer meetings, so I will not go into all that; see the meeting minutes if you are interested.  I did, however, want to discuss the ramifications of this rename.
</p>

<h4 class="wikiHeadline4" id="H-Forks"><a href="/2012/01/11/HibernatecoreRepoRename#H-Forks">Forks</a></h4>

<p class="wikiPara">
GitHub manages pointers from the forked repo to its source.  Your fork will still be named {username}/hibernate-core, however, even though it points to hibernate/hibernate-orm.  As far as I can tell this is fine.  You <b>can</b> rename your fork as well if you want; if you decide to follow that path, simply adjust the clone urls as discussed below pointing to your fork in addition to those pointing upstream.
</p>

<h4 class="wikiHeadline4" id="H-LocalClones"><a href="/2012/01/11/HibernatecoreRepoRename#H-LocalClones">Local clones</a></h4>

<p class="wikiPara">
This holds true whether the clone is a clone of a fork or a clone of the upstream repo.  Essentially you will need to adjust the remote url associated with any renamed GitHiub repo.  The way this is done in Git is using the <code>git remote set-url</code> command.  
</p>

<p class="wikiPara">
For example, assuming you are trying to reset the url associated with the remote named <b>origin</b> you would execute <code>git remote set-url origin 
git@github.com:hibernate/hibernate-orm.git</code></p>
</div>
