---
title: "Hibernate Core 4.0.1 Released"
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "11-01-2012"
original_tags: [Core Release,Hibernate,News]
tags: [Hibernate ORM,Releases]

relative_url: /2012/01/11/hibernate-core-401-released
slug: hibernate-core-401-released
lace: http://in.relation.to/22740.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/01/11/hibernate-core-401-released
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate Core 4.0.1 has just been released.  It mainly contains bug fixes and minor improvements.  Check out the <a href="https://hibernate.onjira.com/issues/?jql=project=10031%20AND%20fixVersion=11754" target="" class="regularLink">release notes</a> for details.
</p>

<p class="wikiPara">
The artifacts have all been published to the JBoss Nexus repository under the <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">org.hibernate groupId</a>. Or if you prefer, the download bundles are available from SourceForge in both <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.0.1.Final/hibernate-release-4.0.1.Final.zip/download" target="" class="regularLink">ZIP</a> and <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.0.1.Final/hibernate-release-4.0.1.Final.tgz/download" target="" class="regularLink">TGZ</a> formats. </p>
</div>

