---
title: "Hibernate ORM 4.1.2 Release"
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "04-04-2012"
original_tags: [Core Release,Hibernate,News]
tags: [Hibernate ORM,Releases]

relative_url: /2012/04/04/hibernate-orm-412-release
slug: hibernate-orm-412-release
lace: http://in.relation.to/23073.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2012/04/04/hibernate-orm-412-release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Hibernate ORM version 4.1.2 has just been released.  This is a minor bug fix release containing 35 bug fixes.  See <a href="https://hibernate.onjira.com/browse/HHH/fixforversion/11951" target="" class="regularLink">the changelog</a> for the complete list of fixes.  Specific fixes of note include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Numerous fixes for 4.1-introduced load-by-natural-id feature.  Many thanks to Eric Dalquist and Guenther Demetz for really hitting that feature hard, helping shake out issues and often developing fixes.  Open Source at its finest!  The most significant improvement here was removing the reliance on auto-flushing when performing a load-by-natural-id (<a href="http://hibernate.onjira.com/browse/HHH-7206" target="" class="regularLink">HHH-7206</a>)</li>
<li class="wikiUnorderedListItem"> A few fixes (<a href="http://hibernate.onjira.com/browse/HHH-7017" target="" class="regularLink">HHH-7017</a>, <a href="http://hibernate.onjira.com/browse/HHH-7020" target="" class="regularLink">HHH-7020</a>, <a href="http://hibernate.onjira.com/browse/HHH-7090" target="" class="regularLink">HHH-7090</a>) related to <tt>org.hibernate.SharedSessionBuilder</tt> which is the contract used to build sessions from other sessions.  </li>
<li class="wikiUnorderedListItem"> <a href="http://hibernate.onjira.com/browse/HHH-7190" target="" class="regularLink">HHH-7190</a> - Potentially major performance hit relating to proxy generation </li>
<li class="wikiUnorderedListItem"> Update Infinispan dependency to version 5.1.2.  Also support for natural-id caching added to the hibernate-infinispan integration.</li>
</ul>

<p class="wikiPara">
As usual, the artifacts have been uploaded to the <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">JBoss Nexus repository</a> (and will be synchronized to Maven Central in a day or two) and the release bundles have been uploaded to the Hibernate SourceForge in both <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.1.2.Final/hibernate-release-4.1.2.Final.zip/download" target="" class="regularLink">ZIP</a> and <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.1.2.Final/hibernate-release-4.1.2.Final.tgz/download" target="" class="regularLink">TGZ</a> formats.
</p>

<p class="wikiPara">
FYI, I forgot to name this release with '.Final' qualifier in version.  So the artifacts are just versioned 4.1.2.</p>
</div>

