---
title: "Hibernate ORM 4.3.0.CR2 Release "
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "05-12-2013"
tags: [Core Release,Hibernate,News,jpa21]

relative_url: /2013/12/05/hibernate-orm-430-cr-2-release
slug: hibernate-orm-430-cr-2-release
lace: http://in.relation.to/24627.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/12/05/hibernate-orm-430-cr-2-release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The second release candidate for Hibernate ORM 4.3.0 is just released.  There were a few issues with CR1 that required a second CR, especially <a href="https://hibernate.atlassian.net/browse/HHH-8739" target="" class="regularLink">HHH-8739</a> and <a href="https://hibernate.atlassian.net/browse/HHH-8759" target="" class="regularLink">HHH-8759</a>.
</p>

<p class="wikiPara">
The full change log for the release can be seen at https://hibernate.atlassian.net/browse/HHH/fixforversion/15150.
</p>

<p class="wikiPara">
In 2 weeks we'll decide whether a CR3 is needed or release Final at that time.
</p>

<p class="wikiPara">
Thanks for all the feedback!</p>
</div>

