---
title: "Hibernate ORM 4.3.0.Final Release"
author: "Steve Ebersole"
blogger_name: "Steve"
layout: blog-post
tags: [Core Release,Hibernate,News,ORM,jpa21]
slug: HibernateORM430FinalRelease
lace: http://in.relation.to/24664.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/HibernateORM430FinalRelease">Hibernate ORM 4.3.0.Final Release</a>
                    </h1>
</div>
<p class="wikiPara">
The Hibernate team is proud to announce the Hibernate ORM 4.3.0.Final Release.  With this release, Hibernate is now a certified implementation of the JPA 2.1 specification.  Certified awesomeness!  
</p>

<p class="wikiPara">
A lot of work has gone into this release over the last few months.  The main focus of 4.3 was JPA 2.1 support, so much of the work these past few months focused on new JPA 2.1 features.  The new features defined for JPA 2.1 include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Support for stored procedures.  See my <a href="http://in.relation.to/Bloggers/CallableStatementSupport" target="" class="regularLink">previous blog</a> for details</li>
<li class="wikiUnorderedListItem"> <tt>CriteriaUpdate</tt> and <tt>CriteriaDelete</tt> allow definition and execution of UPDATE and DELETE queries in type-safe Criteria form.</li>
<li class="wikiUnorderedListItem"> Entity listeners can now take advantage of dependency injection through CDI.</li>
<li class="wikiUnorderedListItem"> AttributeConverters, which define the ability to apply conversions on basic values between their database representation and their representation in your domain model.  This is similar in concept to Hibernate's <tt>Type</tt> contract, although certainly less powerful (can only apply to basic values and operate on in-memory values).  On the positive side, JPA AttributeConverters are portable across providers.</li>
<li class="wikiUnorderedListItem"> Entity Graph support</li>
<li class="wikiUnorderedListItem"> Standardized schema generation.  With 2.1 JPA now defines schema generation which is standardized across providers in terms of how generation is performed and the settings providers understand as a baseline.  Arun Gupta has a good <a href="https://blogs.oracle.com/arungupta/entry/jpa_2_1_schema_generation" target="" class="regularLink">write up</a> of the basic schema generation support.</li>
<li class="wikiUnorderedListItem"> Synchronization of persistence contexts via SynchronizationType</li>
<li class="wikiUnorderedListItem"> @ConstructorResult support in result set mappings for native queries</li>
</ul>


<p class="wikiPara">
The significant non-JPA work that has gone into 4.3 includes:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Continued improvement in Hibernate's support for OSGi environments.  OSGi support in 4.3 is still somewhat bound by certain design limitations within Hibernate,  We plan to fully address these limitations in 5.0 (see <a href="https://hibernate.atlassian.net/browse/HHH-8501" target="" class="regularLink">HHH-8501</a> for details).</li>
<li class="wikiUnorderedListItem"> Continued work on new bytecode enhancement support within Hibernate, adding support for <q>inline dirty checking</q>. See <a href="https://hibernate.atlassian.net/browse/HHH-8354" target="" class="regularLink">HHH-8354</a> for details.</li>
<li class="wikiUnorderedListItem"> Initial break down of the monolithic DocBook-based manuals into smaller Asciidoc-based topical guides (<a href="https://hibernate.atlassian.net/browse/HHH-8606" target="" class="regularLink">HHH-8606</a>).  This is an ongoing process.</li>
</ul>
</div>
