---
title: "Hibernate ORM 4.3.0.Beta3 Release "
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "29-05-2013"
tags: [Core Release,Hibernate,News,jpa21]

relative_url: /2013/05/29/HibernateORM430Beta3Release
slug: HibernateORM430Beta3Release
lace: http://in.relation.to/24245.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/05/29/HibernateORM430Beta3Release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The Hibernate team is pleased to announce today's release of Hibernate 4.3.0.Beta3.  Support for entity graphs is still a work in progress, but all other JPA 2.1 features should be fully operational.  Specific JPA 2.1 features fully functional as of this release include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <tt>StoredProcedureQuery</tt> and <tt>@NamedStoredProcedureQuery</tt> support, including XML overrides.  See <a href="http://hibernate.onjira.com/browse/HHH-8222" target="" class="regularLink">HHH-8222</a> and <a href="http://hibernate.onjira.com/browse/HHH-8246" target="" class="regularLink">HHH-8246</a>
</li>
<li class="wikiUnorderedListItem"> Completed support for JPA 2.1 schema generation.  See <a href="http://hibernate.onjira.com/browse/HHH-8231" target="" class="regularLink">HHH-8231</a>, <a href="http://hibernate.onjira.com/browse/HHH-8270" target="" class="regularLink">HHH-8270</a> and <a href="http://hibernate.onjira.com/browse/HHH-8271" target="" class="regularLink">HHH-8271</a>
</li>
</ul>

<p class="wikiPara">
For the full break down of changes, see the <a href="https://hibernate.atlassian.net/browse/HHH/fixforversion/13451" target="" class="regularLink">changelog</a>. </p>
</div>
