---
title: "Hibernate ORM 4.3.0.Beta1 Release"
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "03-04-2013"
original_tags: [Core Release,Hibernate,News,jpa21]
tags: [Hibernate ORM,JPA,Release]

relative_url: /2013/04/03/hibernate-orm-430-beta-1-release
slug: hibernate-orm-430-beta-1-release
lace: http://in.relation.to/24101.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/04/03/hibernate-orm-430-beta-1-release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The Hibernate team is pleased to announce today's release of Hibernate 4.3.0.Beta1 which targets the (still not finalized) JPA 2.1 specification which is part of the upcoming Java EE 7 platform.  This is the first release targeting JPA 2.1 support.  As mentioned, JPA 2.1 is not completely finalized so this support should be considered a preview.  JPA 2.1 defines a number of enhancements.  I won't go in depth in each of them here as I plan to follow up with separate in-depth blog posts for some of these features.  However, the web abounds with good summaries of the new features; for example:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="https://blogs.oracle.com/arungupta/entry/jpa_2_1_early_draft" target="" class="regularLink">https://blogs.oracle.com/arungupta/entry/jpa_2_1_early_draft</a>
</li>
<li class="wikiUnorderedListItem"> <a href="https://blogs.oracle.com/arungupta/entry/jpa_2_1_schema_generation" target="" class="regularLink">https://blogs.oracle.com/arungupta/entry/jpa_2_1_schema_generation</a>
</li>
</ul>

<p class="wikiPara">
One feature that I did not see discussed much is the notion of <q>entity graphs</q>.  This Beta1 release has very limited support for <q>entity graphs</q>.  You can define entity graphs, but at the moment they are not taken into account while loading data.  This will be the focus of Beta2.
</p>

<p class="wikiPara">
4.3 continues building on the OSGi support begun with 4.2, and also contains many other improvements and fixes.  For the full break down of changes, see the <a href="https://hibernate.atlassian.net/browse/HHH/fixforversion/12152" target="" class="regularLink">changelog</a>.
</p>

<p class="wikiPara">
As usual, the artifacts have been uploaded to the <a href="https://repository.jboss.org/nexus/content/groups/public/org/hibernate/" target="" class="regularLink">JBoss Nexus repository</a> (which is synchronized to Maven Central regularly) and the release bundles have been uploaded to the Hibernate SourceForge in both <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.3.0.Beta1/hibernate-release-4.3.0.Beta1.zip/download" target="" class="regularLink">ZIP</a> and <a href="http://sourceforge.net/projects/hibernate/files/hibernate4/4.3.0.Beta1/hibernate-release-4.3.0.Beta1.tgz/download" target="" class="regularLink">TGZ</a> formats. 
</p>

</div>

