---
title: "Hibernate ORM 4.3.0.CR2 Release "
author: "Steve Ebersole"
blogger_name: "Steve"
layout: blog-post
tags: [Core Release,Hibernate,News,jpa21]
slug: HibernateORM430CR2Release
lace: http://in.relation.to/24627.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/HibernateORM430CR2Release">Hibernate ORM 4.3.0.CR2 Release </a>
                    </h1>
</div>
<p class="wikiPara">
The second release candidate for Hibernate ORM 4.3.0 is just released.  There were a few issues with CR1 that required a second CR, especially <a href="https://hibernate.atlassian.net/browse/HHH-8739" target="" class="regularLink">HHH-8739</a> and <a href="https://hibernate.atlassian.net/browse/HHH-8759" target="" class="regularLink">HHH-8759</a>.
</p>

<p class="wikiPara">
The full change log for the release can be seen at https://hibernate.atlassian.net/browse/HHH/fixforversion/15150.
</p>

<p class="wikiPara">
In 2 weeks we'll decide whether a CR3 is needed or release Final at that time.
</p>

<p class="wikiPara">
Thanks for all the feedback!</p>
</div>
