---
title: "Hibernate ORM 4.3.0.CR1 Release"
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "20-11-2013"
tags: [Core Release,Hibernate,ORM,jpa21]

relative_url: /2013/11/20/hibernate-orm-430-cr-1-release
slug: hibernate-orm-430-cr-1-release
lace: http://in.relation.to/24568.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2013/11/20/hibernate-orm-430-cr-1-release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The Hibernate team is proud to announce the 4.3.0.CR1 release of Hibernate ORM.  This is the first release candidate for 4.3 and JPA 2.1 support.  For those who maybe are not familiar with our release methodology, this means that in 2-3 weeks this release will essentially be re-tagged as Final unless some critical bugs are reported with it in the meantime.
</p>

<p class="wikiPara">
I will do a full break down of all the new goodies added over the course of 4.3 development in the Final release announcement.  Specific development of note done for CR1 include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Support for JPA 2.1 EntityGraphs.  This was the biggie holding us back from going to CR.  <a href="https://hibernate.atlassian.net/browse/HHH-8285" target="" class="regularLink">HHH-8285</a> and friends</li>
<li class="wikiUnorderedListItem"> Integration of the Hibernate JPA Static Metamodel Generator into the ORM project - <a href="https://hibernate.atlassian.net/browse/HHH-8483" target="" class="regularLink">HHH-8483</a>
</li>
<li class="wikiUnorderedListItem"> Starting on break down of the monolithic DocBook-based manuals into smaller Asciidoc-based topical guides (ongoing) - <a href="https://hibernate.atlassian.net/browse/HHH-8606" target="" class="regularLink">HHH-8606</a>
</li>
<li class="wikiUnorderedListItem"> A number of performance fixes including <a href="https://hibernate.atlassian.net/browse/HHH-8709" target="" class="regularLink">HHH-8709</a>, <a href="https://hibernate.atlassian.net/browse/HHH-8704" target="" class="regularLink">8704</a>, <a href="https://hibernate.atlassian.net/browse/HHH-8698" target="" class="regularLink">8698</a>, <a href="https://hibernate.atlassian.net/browse/HHH-8682" target="" class="regularLink">HHH-8682</a>, etal.</li>
</ul>

<p class="wikiPara">
The full version info (including change log) can be seen on the <a href="https://hibernate.atlassian.net/browse/HHH/fixforversion/14750" target="" class="regularLink">version page</a>
</p>

<p class="wikiPara">
Artifacts and release bundles can be found in the normal places.</p>
</div>

