---
title: "Hibernate ORM 4.3.1.Final Release"
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "22-01-2014"
tags: [Core Release,Hibernate,News,jpa21]

relative_url: /2014/01/22/HibernateORM431FinalRelease
slug: HibernateORM431FinalRelease
lace: http://in.relation.to/24796.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2014/01/22/HibernateORM431FinalRelease
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I have just released 4.3.1.Final, the first bugfix release for Hibernate ORM 4.3.  In addition to bug fixes, a few improvements of note include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://hibernate.atlassian.net/browse/HHH-5289" target="" class="regularLink">HHH-5289</a> : Improved performance of reflection calls</li>
<li class="wikiUnorderedListItem"> <a href="http://hibernate.atlassian.net/browse/HHH-6911" target="" class="regularLink">HHH-6911</a> : Allows reading and writing @DiscriminatorValue from/to @DiscriminatorColumn when combined with InheritanceType.JOINED (for portability with providers which need DiscriminatorColumn)</li>
<li class="wikiUnorderedListItem"> <a href="http://hibernate.atlassian.net/browse/HHH-8865" target="" class="regularLink">HHH-8865</a> : Added a new guide on logging to the growing set of topical guides.  This is the first know documentation of any sort on using/configuring JBoss Logging, and also discusses some of the more good-to-know specific logging categories.  See <a href="http://docs.jboss.org/hibernate/orm/4.3/topical/html/logging/Logging.html" target="" class="regularLink">http://docs.jboss.org/hibernate/orm/4.3/topical/html/logging/Logging.html</a>
</li>
</ul>

<p class="wikiPara">
See the <a href="http://hibernate.atlassian.net/browse/HHH/fixforversion/15351" target="" class="regularLink">release page</a> for details of all changes.
</p>

<p class="wikiPara">
Artifacts can be found in the usual places.</p>
</div>
