---
title: "Hibernate ORM 5.0.0.Beta1 Release"
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "31-03-2015"
original_tags: [Core Release,Hibernate,News]
tags: [Hibernate ORM,Releases]

relative_url: /2015/03/31/hibernate-orm-500-beta-1-release
slug: hibernate-orm-500-beta-1-release
lace: http://in.relation.to/42616.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2015/03/31/hibernate-orm-500-beta-1-release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We just got done releasing Hibernate O/RM 5.0.0.Beta1.  I will follow up later with a more in depth blog post for 5.0.0.Final, but this first Beta implements all new APIs and most new features.  Specifically in this Beta include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> New bootstrapping API - better determinism, better integration</li>
<li class="wikiUnorderedListItem"> Java 8 Support (though still compatible with Java 6).  Just add hibernate-java8 to your classpath.</li>
<li class="wikiUnorderedListItem"> Ability to handle additional Java types for id attributes marked as <tt>GenerationType#AUTO</tt>.  Built-in support for Number and UUID.  Expandable via new <tt>org.hibernate.boot.model.IdGeneratorStrategyInterpreter</tt> extension</li>
<li class="wikiUnorderedListItem"> scanning support for non-JPA usage</li>
<li class="wikiUnorderedListItem"> NamingStrategy has been removed in favor of a better designed API.  2 actually: <tt>org.hibernate.boot.model.naming.ImplicitNamingStrategy</tt> and <tt>org.hibernate.boot.model.naming.PhysicalNamingStrategy</tt>
</li>
</ul>


<p class="wikiPara">
Additionally, support for AttributeConverters has been expanded and more fully realized:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> fully supported for non-<tt>@Enumerated</tt> enum values</li>
<li class="wikiUnorderedListItem"> applicable in conjunction with <tt>@Nationalized</tt> support</li>
<li class="wikiUnorderedListItem"> called to handle null values</li>
<li class="wikiUnorderedListItem"> settable in hbm.xml by using <tt>type="converter:fully.qualified.AttributeConverterName"</tt>
</li>
<li class="wikiUnorderedListItem"> integrated with hibernate-envers</li>
<li class="wikiUnorderedListItem"> collection values, map keys</li>
</ul>


<p class="wikiPara">
See <a href="http://hibernate.org/orm/downloads/" target="" class="regularLink">http://hibernate.org/orm/downloads/</a> for information on obtaining Hibernate ORM.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">NOTE: 5.0 is expected to be compatible with Java 6 (aside from the hibernate-java8 module naturally).  However, Beta1 will not work with Java 6 due to something with JAXB that I have not yet had time to investigate.  Beta1 requires Java 7.  Again, the expectation is to have it be compatible with Java 6 by the next release if possible.</i></p>
</div>

