---
title: "Hibernate ORM 5.0.0.CR1 Release"
author: "Steve Ebersole"
blogger_name: "Steve"
creation_date: "28-05-2015"
original_tags: [Core Release,Hibernate,News]
tags: [Hibernate ORM,Releases]

relative_url: /2015/05/28/hibernate-orm-500-cr-1-release
slug: hibernate-orm-500-cr-1-release
lace: http://in.relation.to/42802.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2015/05/28/hibernate-orm-500-cr-1-release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The Hibernate team is proud to announce the first candidate release for 5.0.  The main changes since the Beta2 release include:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Initial generic typing for Hibernate native (Session, e.g.) APIs</li>
<li class="wikiUnorderedListItem"> Continued development of the new bytecode enhancement capabilities including improved support in the Maven and Gradle plugins</li>
<li class="wikiUnorderedListItem"> Support for parameterized types with AttributeConverter implementations</li>
<li class="wikiUnorderedListItem"> Improved OSGi integration testing using Pax Exam and Karaf, and publishing a hibernate-osgi Karaf features file</li>
<li class="wikiUnorderedListItem"> Auto quoting of keywords used as identifiers (<q>User</q>, e.g.).</li>
<li class="wikiUnorderedListItem"> Incorporating fixes, improvements and suggestions to the improved schema update and validation tooling</li>
</ul>

<p class="wikiPara">
A lot of help from the community went into this release and the previous Beta releases.  Thanks for all the help and work and testing and doggedness!
</p>

<p class="wikiPara">
As always, see <a href="https://hibernate.org/orm/downloads/" target="" class="regularLink">https://hibernate.org/orm/downloads/</a> for information on obtaining the releases.
</p>

<p class="wikiPara">
Report any issues to <a href="https://hibernate.atlassian.net/browse/HHH" target="" class="regularLink">Hibernate Jira</a></p>
</div>

