---
title: "JSF Summit 2009 postback"
author: "Dan Allen"
blogger_name: "Dan"
creation_date: "08-12-2009"
original_tags: [Contexts and Dependency Injection,JavaServer Faces,RichFaces,Seam,Seam News]
tags: [CDI,JSF,Rich Faces,Seam]

relative_url: /2009/12/08/jsf-summit-2009-postback
slug: jsf-summit-2009-postback
lace: http://in.relation.to/13398.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/12/08/jsf-summit-2009-postback
---
<div id="documentDisplay" class="documentDisplay">


<img align="right" src="/images/legacy/13379.jpeg" style="padding-left: 15px; width: 300px; height: 209px;">

<p class="wikiPara">
Personalizing the experience. That's the primary motif of the <a href="http://www.nofluffjuststuff.com" target="" class="regularLink">NFJS conference series</a>, the brand behind <a href="http://www.jsfsummit.com" target="" class="regularLink">JSF Summit</a>--a conference event focused exclusively on the JSF ecosystem. It's hard to imagine a more personalized experience than the <a href="http://www.jsfsummit.com/conference/orlando/2009/12/home" target="" class="regularLink">2009 JSF Summit</a> delivered, held at the Loews Portofino Bay Resort in Orlando, FL. Conversations between speakers and attendees occurred during talks and between talks. Interchanges began at breakfast, continued through lunch and dinner, and carried on until last call at the bar. While most of the time the dialogs were about JSF and related Java EE technology, they also ventured into topics such as religion, relaxation, tastes, travel and writing.
</p>

<p class="wikiPara">
To view the conference from the perspective of an attendee, check out <a href="http://info.rmatics.org/2009/12/07/jsf-summit-2009-review/" target="" class="regularLink">this review</a> by Steven Boscarine, one of our valued community members.
</p>

<p class="wikiPara">
The two major themes of the 2009 JSF Summit were JSF 2 and Java EE 6, and for good reason. On the first day of the conference, the <a href="/2009/12/01/an-exciting-day-for-enterprise-java" target="" class="regularLink">announcement</a> was made that Java EE 6, along with the remainder of its pedigree specifications, were ratified. JSF 2, which touched down more than a half year earlier, was finally joined with its platform; a platform backed by a robust programming model that boasts type-safe dependency injection, contextual lifecycle management and an event notification facility, features introduced by JSR-299. Combined with the countless improvements in JSF 2, the total change and value in Java EE 6 is simply astonishing. The week also saw the release of <a href="http://www.jboss.org/feeds/post/jboss_as_6_0_0_m1" target="" class="regularLink">JBoss AS 6.0.0 M1</a>, a milestone release which implements the Java EE 6 Web Profile and includes many of the technologies in the full Java EE 6 profile.
</p>

<h2 class="wikiHeadline2" id="H-FirstHalf"><a href="/2009/12/08/jsf-summit-2009-postback#H-FirstHalf">First half</a></h2>

<p class="wikiPara">
<a href="http://www.jsfsummit.com/conference/orlando/2009/12/speakers/ed_burns" target="" class="regularLink">Ed Burns</a> began the conference by taking us on a journey to some of the places JSF is used in production his keynote <a href="http://www.jsfsummit.com/conference/orlando/2009/12/session?id=16533" target="" class="regularLink">JSF Around the World</a>. He replayed interviews that covered how JSF has helped developer productivity and how well it fairs in production. The common message was that JSF makes it easy put applications together and that it scales remarkably well. Most of the customers Ed spoke with either use JSF with Seam or are already putting JSF 2 to use. Tooling was cited as one of the most vital resources for development, with at least one shout-out for auto-completion of Facelets views in <a href="http://www.jboss.org/tools" target="" class="regularLink">JBoss Tools</a>. 
</p>

<p class="wikiPara">
The next morning, the conference sessions kicked off with a presentation by myself and <a href="http://www.jsfsummit.com/conference/speaker/andy_schwartz" target="" class="regularLink">Andy Schwartz</a> titled <a href="http://www.jsfsummit.com/conference/orlando/2009/12/session?id=16080" target="" class="regularLink">JSF 2: Keeping progress coming</a>. This talk turned out to be a great candidate for the first slot because it gave attendees a broad overview of the new features of JSF 2, helped them select which talks to attend later in the conference to get a deeper dive on a topic, set the stage for participation and placed an emphasis on how forward looking we are, ready to embrace ideas for <a href="http://twitter.com/#search?q=%23jsf2next" target="" class="regularLink">#jsf2next</a> that are already circulating.
</p>

<p class="wikiPara">
As part of an initiative by the JSF EG to engage the community, the <q>Keeping progress coming</q> talk concluded with an announcement about the new JSF community site, <a href="http://www.javaserverfaces.org" target="" class="regularLink">www.javaserverfaces.org</a>. The goals of this site are to:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> establish a definitive starting point for users to get involved with JSF,</li>
<li class="wikiUnorderedListItem"> provide information about JSF, the spec, how to get started, key documentation, how to get involved and other resources to help engage the community and encourage participation, and</li>
<li class="wikiUnorderedListItem"> promote JSF as a competitive, inviting solution in the Java web framework community, both at the corporate and developer level</li>
</ul>

<p class="wikiPara">
At last, JSF has a <a href="http://www.javaserverfaces.org" target="" class="regularLink">home</a>!
</p>

<p class="wikiPara">
Aside from my own talks, I can't comment much on what happened the remainder of the day on Wednesday since I presented in all but one of the time slots. (Keep an eye out for companion posts). In fact, I kept so busy the entire week that I never got to see either of the two pools at the resort or the water slide. (My wife enjoyed them on my behalf).
</p>

<a href="http://in.relation.to/service/File/13397"><img align="right" src="/images/legacy/13397.jpeg" style="padding-left: 15px; width: 350px;"></a>

<p class="wikiPara">
In the next slot I presented on the <a href="http://www.jsfsummit.com/conference/orlando/2009/12/session?id=16083" target="" class="regularLink">Seam and RESTEasy integration</a> with <a href="http://www.jsfsummit.com/conference/orlando/2009/12/speakers/lincoln_baxter_iii" target="" class="regularLink">Lincoln Baxter III</a>, who did a fantastic job of laying out the architecture principals of REST. We then blew the audience away by showing them how to leverage Seam's CRUD framework to setup a full-blown REST service with 2-3 lines of XML. We also demoed an Android client that Lincoln put together to get people excited about the possibilities (and data) that REST can open up.
</p>

<p class="wikiPara">
Over lunch, the JSF EG got up on stage for a panel discussion moderated by Kito Mann. On the panel, from left to right, was Jay Balunas, Lincoln Baxter, Dan Allen, Ted Goddard, Jeremey Grelle, David Geary, Ed Burns, Andy Schwartz and Kito Mann. We talked about our favorite new features in JSF 2 and what challenges we want to see solved next. There was some healthy debate about making Facelets templates based on XML rather than XHTML. Once again, the underlying theme was about looking ahead and keeping progress coming.
</p>

<p class="wikiPara">
My next talk was on Seam Security. I always enjoy giving my <a href="http://www.jsfsummit.com/conference/orlando/2009/12/session?id=16065" target="" class="regularLink">Seam Security</a> talk because the demo of that technology also blows away the audience. With 90 minutes, I was able to present how Seam Security works and then spend a whole half hour on the demo. The impact is made when ACLs and rules are cross-bred to allow users to grant context-relative permissions at runtime.
</p>

<p class="wikiPara">
With three talks down, I was at the top of my game when I got to my presentation on <a href="http://www.jsfsummit.com/conference/orlando/2009/12/session?id=16624" target="" class="regularLink">CDI (JSR-299), Weld and the future of Seam</a>. I started out by clarifying the differences between CDI, Weld and Seam. With that foundation set, I explained CDI's significance, how well it integrates and supports the Java EE platform, recommended using it over JSF managed beans, then launched into my rendition of the CDI tutorial. It all led up to the introduction of Seam 3, the first set of portable extensions for Java EE and how they are going to completely change the game. The monolithic middleware framework is dead and innovation will be driven by modularity and portability. I regret not recording that session, because I'm not sure if I'll be able to explain this stack as clearly as I did that day.
</p>

<h2 class="wikiHeadline2" id="H-JSR314EGMeeting"><a href="/2009/12/08/jsf-summit-2009-postback#H-JSR314EGMeeting">JSR-314 EG Meeting</a></h2>

<img align="left" src="/images/legacy/13380.jpeg" style="padding-right: 15px; width: 225px; height: 150px;">

<p class="wikiPara">
After the first day of sessions, the JSR-314 Expert Group (EG) decided to get together for a face-to-face meeting following dinner. We met in the Donatello Board Room, 1,990 square feet of business class. The plush seating and a large conference table definitely made this meeting feel official. In attendance (going around the room) was Ed Burns, Kito Mann, David Geary, Jeremey Grelle, Ted Goddard, Jim Driscoll, Lincoln Baxter, III, Andy Schwartz, Matt Drees, Martin Marinschek and Jay Balunas. On the phone were Roger Kitain and Stephen Kenna. If you weren't in attendance, don't feel left out. This meeting did not happen <q>behind closed doors</q>. Both the agenda and an audio transcript of the meeting can be found the <a href="http://wiki.jcp.org/wiki/index.php?page=JSF+Summit+09" target="" class="regularLink">JSF Summit 09 meeting page</a> on jcp.org. (This is the first time an audio transcript of a JSR-314 EG meeting has been open to the public). Please tune in if you are interested in the JSF community and/or specification.
</p>

<p class="wikiPara">
The main focus of the meeting was community. We discussed future plans for the mailinglists and how the community can use them to participate. Currently, the mailinglists are undergoing migration to the jcp.org infrastructure. The plan is to have three lists:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> jsr-314-public</li>
<li class="wikiUnorderedListItem"> jsr-314-observers</li>
<li class="wikiUnorderedListItem"> jsr-314-eg</li>
</ul>

<p class="wikiPara">
The first list is actually a public forum, <a href="http://wiki.jcp.org/boards/index.php?b=jsr-314-public" target="" class="regularLink">jsr-314-public</a>, that the community can use to discuss the spec and future of JSF. Access will be open to the public for reading and writing (a free <a href="http://jcp.org/en/user/add" target="" class="regularLink">jcp.org account</a> may be required to post, we haven't decided whether that restriction will remain). The second list, jsr-314-observers, is the main design list. Access will be open to the public for reading and members of the extended EG (the EG plus invited guests that work on implementations, component libraries or extensions) will be allowed to post. Finally, there is an internal EG list, jsr-314-eg, for <q>offline</q> discussions, typically involving licensing or legal matters. No discussions involving design will take place on that list.
</p>

<p class="wikiPara">
Lincoln then announced the <a href="http://www.javaserverfaces.org" target="" class="regularLink">JavaServer Faces community site</a> initiative, introduced above. There was a lot of discussion about how important it is to get the word out on JSF 2, engage the community so that they can get their voices heard and ultimately so that JSF can continue to thrive and progress. The relationship with <a href="http://jsfcentral.com" target="" class="regularLink">JSFCentral</a> was clarified and Kito shared his plans for JSFCentral 2.0, which will be based on Liferay portal and offer social networking features. We also talked about the importance of creating a logo for JSF so that people can better identify with the technology (stay tuned for details).
</p>

<p class="wikiPara">
Turning our attention to technical matters, we began discussing Ajax interop between component libraries (RichFaces, ICEFaces, ADF Faces, etc). That quickly led to a discussion of plans for JSF 2.next. Ed ensured the group that there would be a maintenance release of JSF 2.0 in the near future (~January) to correct spec errors and other minor corrections. A formalized release would be further out. Naturally, the Sun-Oracle deal is complicating matters, but the EG is dedicated to keeping progress on JSF moving.
</p>

<p class="wikiPara">
Other matters were also discussed, such as establishing a performance baseline to help us make informed decisions about introducing new features and to allow us to focus our attention on areas of JSF were performance might be a problem. We deferred the post-mortem analysis of the JSR-314 process and how to improve it for a future meeting. But that didn't mean that we stopped talking. After an hour and a half, we were getting a lot thirsty and decided to call it a night and head towards the Thirsty Fish for drinks and social (yet undeniably technical) hour.
</p>

<h2 class="wikiHeadline2" id="H-SecondHalf"><a href="/2009/12/08/jsf-summit-2009-postback#H-SecondHalf">Second half</a></h2>

<p class="wikiPara">
I was a little slow getting up the next morning (I did 4 1.5 hour talks and participated in the panel discussion on EG meeting after all; it wasn't just the drinks) and spent much of the day either chatting with people or attending sessions on topics I didn't know much about. I caught <a href="http://www.jsfsummit.com/conference/orlando/2009/12/speakers/micha_kiener" target="" class="regularLink">Micha Kiener</a>'s talk on the Edoras framework, a comprehensive extension to JSF covering much of the same ground as Seam, but from a slightly different angle.
</p>

<p class="wikiPara">
The last talk of the day was the one I had anticipated all week, a presentation by Lincoln Baxter III about his project PrettyFaces. <a href="http://ocpsoft.com/prettyfaces/" target="" class="regularLink">PrettyFaces</a> is an Open Source extension for JSF 1.2 and JSF 2.0, which enables creation of bookmarkable, pretty URLs. Several of the EG members really wanted to get pretty URLs into JSF 2.0, but it was clear that we didn't have a solid proposal at the time, partly because we weren't 100% sure about the goals. This talk will likely go down as a major turning point. Lincoln spoke in front of an audience that included 8 JSF EG members, myself included. Lincoln did an excellent job presenting the topic and I think we came away with a clear understanding of the problem that needs to be solved. I'm certain we can get pretty URLs into the next revision of the specification.
</p>

<p class="wikiPara">
I separated from the crowd during dinner to prepare for my keynote on Java EE 6 that followed, titled <q>Java EE 6: Here and Now</q> (<a href="http://seamframework.org/service/File/109630">slides</a>). Once again, the timing was perfect. In the keynote I talked about the significance of the week in Java EE history. Only a day earlier, Java EE 6 was ratified. I emphasized that while there were technology improvements, this revision of the spec was marked by extensive collaboration and integration between sibling specifications. The combination of JSF and CDI is going to make developing applications tremendously pleasant and productive. And the creation of the web profile should close the gap between servlet containers and application servers, hitting the happy medium where developers can be productive and have all the key technologies that they need to create enterprise web applications. Most importantly, the future is upon us. Java EE 6 is available today, either in <a href="http://glassfish.org" target="" class="regularLink">GlassFish V3</a> or <a href="http://www.jboss.org/jbossas/downloads/" target="" class="regularLink">JBoss AS 6</a> (a Web profile impl). I walked away from the podium feeling a tremendous sense of pride in the platform, as did the audience.
</p>

<img align="right" src="/images/legacy/13408.jpeg" style="padding-left: 15px; width: 250px; height: 250px;">

<p class="wikiPara">
Following the keynote, we spent another long night at the Thirsty Fish sharing stories, ideas and just getting to know each other better. The next morning I caught <a href="http://www.jsfsummit.com/conference/orlando/2009/12/speakers/stan_silvert" target="" class="regularLink">Stan Silvert</a>'s talk on JSFSpy and WARlets, but I heard I missed a tremendous presentation by <a href="http://www.jsfsummit.com/conference/orlando/2009/12/speakers/cagatay_civici" target="" class="regularLink">Cagatay Civici</a>, creator of <a href="http://primefaces.prime.com.tr" target="" class="regularLink">PrimeFaces</a>, so be sure to check out that project. A couple of BOFs brought the conference to a close. In the Seam BOF, I explained the modularity of Seam 3, our plans to move the repository to Git (or Mercurial) and encouraged everyone to get involved.
</p>

<h2 class="wikiHeadline2" id="H-Reflection"><a href="/2009/12/08/jsf-summit-2009-postback#H-Reflection">Reflection</a></h2>

<p class="wikiPara">
JSF Summit 2009 was a small conference with a big spirit. There was a lot of excitement around JSF 2, interest in how the component libraries are going to support it and how users can migrate (the topic of migration came up at every talk). In light of this, <a href="http://www.jboss.org/richfaces" target="" class="regularLink">RichFaces</a> is working on a 3.3.3 release that will be compatible with JSF 2 and then a 4.0 release that will fully leverage the JSF 2 APIs, in particular the JavaScript library. The various component library representatives at the conference (RichFaces, ICEFaces, ADF Faces, PrimeFaces, etc) not only had great communication, but also a great sense of community between them. As <a href="http://www.jsfsummit.com/conference/speaker/david_geary" target="" class="regularLink">David Geary</a> put it, <q>We are a pretty accommodating bunch.</q> This collaboration will lead to better components and interoperability between these component sets. In the end, this is all going to be very good for the users, and the technology.
</p>

<p class="wikiPara">
One of the unique parts of this conference is that there is no division between conference attendees, speakers and EG members. Speakers sat with attendees, attendees participated in sessions, speakers filled seats in sessions, EG members sat on both sides of the <q>expert panel</q>, community members joined the EG meeting and everyone shared their experiences in real time on <a href="http://twitter.com/jsfsummit2009" target="" class="regularLink">twitter</a>. I attribute this level of interaction to a mutual respect and willingness to put ego aside in the spirit of collaboration and progress. That's how I want people to think of JSF 2.</p>
</div>

