---
title: "RichFaces is the secret to speeding up your JSF-based Seam application"
author: "Dan Allen"
blogger_name: "Dan"
layout: blog-post
tags: [RichFaces,Seam News]
slug: RichFacesIsTheSecretToSpeedingUpYourJSFbasedSeamApplication
lace: http://in.relation.to/11053.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/RichFacesIsTheSecretToSpeedingUpYourJSFbasedSeamApplication">RichFaces is the secret to speeding up your JSF-based Seam application</a>
                    </h1>
</div>
<p class="wikiPara">
The anticipated <a href="http://www.jsfcentral.com/articles/speed_up_your_jsf_app_2.html" target="" class="regularLink">conclusion</a> to my two part article on how to improve the performance of your JSF-based Seam application by two orders of magnitude is finally available at <a href="http://www.jsfcentral.com/articles/speed_up_your_jsf_app_2.html" target="" class="regularLink">JSFCentral</a>. I've also released the <a href="http://code.google.com/p/seaminaction/source/browse/#svn/demos/articles/edas2-perflab" target="" class="regularLink">source code</a> cited in the article.
</p>

<p class="wikiPara">
The promised gains are achieved primarily by leveraging partial page rendering provided by the <a href="http://www.jboss.org/jbossrichfaces" target="" class="regularLink">RichFaces</a> component library and some extra effort to slim down the size of the response. Partial page rendering is Ajax at its finest. It cuts out the main bottleneck of most traditional web applications, which is the overhead of rendering the entire page and its assets, and instead redraws only what is needed as the user interacts with the application. This technique makes the application feel incredibly responsive.
</p>

<p class="wikiPara">
The best part about RichFaces is that it makes partial page rendering so simple that there's really no reason not to use it. Instead of having to write low-level Ajax network calls, RichFaces provides a declarative approach to Ajax. Using either the supplemental Ajax4jsf component tag set or the fully Ajax-aware components in the RichFaces component tag set, you can specify which areas of the page should be updated and the rest is left up to the framework. The normal JSF postback is sent over an Ajax bridge and the Render Response phase supplies the partial page to update.
</p>

<p class="wikiPara">
There's no question, though, that there has been a dearth of good documentation about how to use the RichFaces tags. Fortunately, both a <a href="http://www.apress.com/book/view/9781430210559" target="" class="regularLink">book</a> and <a href="http://refcardz.dzone.com/refcardz/richfaces" target="" class="regularLink">reference card</a> have been published recently which should guide you through the myriad of components and settings in RichFaces and help you wield its potential.
</p>

<p class="wikiPara">
Max Katz addresses just how practical RichFaces is in his book <a href="http://www.apress.com/book/view/9781430210559" target="" class="regularLink">Practical RichFaces</a>, published by Apress. This book sorts out the history of RichFaces, guides you through the myriad of component tags and attributes in RichFaces, and allows you wield its potential. You learn that Ajax and JSF are a good fit for one another and the combination allows you to do Ajax without having to suffer the headache of coding JavaScript and dealing with browser inconsistencies. I recently had a chance to read the book and afterwards posted <a href="http://www.amazon.com/review/R2BOFNIEE0XPAM/ref=cm_cr_rdp_perm" target="" class="regularLink">my review</a> on Amazon. It's my recommendation that if you are using RichFaces, you should definitely take the opportunity to read this book.
</p>

<p class="wikiPara">
If you need a reference to have on the go, then grab a copy of the DZone <a href="http://refcardz.dzone.com/refcardz/richfaces" target="" class="regularLink">RichFaces Refcard</a> (PDF), authored by members of the RichFaces project team. This card helps you keep the RichFaces and Ajax4jsf tags sorted and reminds you of the many attributes from which you have to choose.
</p>

<p class="wikiPara">
To see examples of how to use RichFaces and Seam together, then check out chapter 12 of <a href="http://mojavelinux.com/seaminaction" target="" class="regularLink">Seam in Action</a>.
</p>

<p class="wikiPara">
If you want to be able to retain the attention of your users in this fast paced world, which has a ever diminishing tolerance for long page loads, you should always consider using Ajax in your application. RichFaces offers a great way to get started. Another excellent JSF component library to consider if you want to add partial page rendering to your application is <a href="http://icefaces.org" target="" class="regularLink">ICEfaces</a>. In fact, it's arguably simpler to use because it automatically determines which areas of the page to update based on deltas in the component tree. So you have two good options to get started.</p>
</div>
