---
title: "JSF 2 in the spotlight at Devoxx 09"
author: "Dan Allen"
blogger_name: "Dan"
creation_date: "11-12-2009"
tags: [JavaServer Faces]

relative_url: /2009/12/11/JSF2InTheSpotlightAtDevoxx09
slug: JSF2InTheSpotlightAtDevoxx09
lace: http://in.relation.to/13505.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/12/11/JSF2InTheSpotlightAtDevoxx09
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
After Devoxx 09, I never stopped to look back for published feedback about the 3 hour <a href="http://www.devoxx.com/display/DV09/JSF+2+and+beyond" target="" class="regularLink">JSF 2 university session</a> (<a href="http://seamframework.org/service/File/109627" target="" class="regularLink">download slides</a>) that Andy Schwartz (Oracle), Pete Muir and I presented there. I finally did, and to my pleasant surprise, the feedback was very positive.
</p>

<p class="wikiPara">
Here are some clips:
</p>

<blockquote class="wikiBlockquote">
The course was divided into 3 sections: View (Andy), Controller (Dan) and Model (Peter). What I liked about there presentation style was the fact that they showed how something was in JSF 1.x, how they improved it in JSF2.0 en what they should improve in JSF 2.next. The presentation given by Peter Muir was the best of the 3. He was very enthusiastic and explained why JSF shouldn’t concern (very much) about the model. I’ve learned a lot in this presentation. [1]
</blockquote>

<blockquote class="wikiBlockquote">
Of particular value was the deep dive into the JSF 2.0 spec, with 3 key JSF people, Dan Allen, Peter Muir, and Andy Schwartz introducing various aspects of the related specs. I thought they all spoke great: very clearly and with in depth knowledge of their subject matter. [2]
</blockquote>

<blockquote class="wikiBlockquote">
It was also cool to be told that these 3 speakers weren't just there to tell us about the JSF spec (and other related specs), but to invite us to become part of the process. Sure, that's what one is always told in sessions of this kind, but here it seemed to be really in earnest, with nothing more being needed than an account on java.net to log feature requests for JSF 2.0. [2]
</blockquote>

<blockquote class="wikiBlockquote">
So yesterday I had a BOF with the JSF spec leads (well the 3 key persons: Dan Allen, Peter Muir and Andy Schwartz) and we could in a very relaxed setting ask them some questions about the JSF 2 spec. So we could find out how and why they made some decisions. The question I asked them: 'Why is JSF 2 not more focused on components so that I can mix and match components of 3rd party providers?'. The answer was that they are looking into that and that a lot of problems one has with that right now is how resources are loaded: all 3rd parties made something on their own. So now all the AJAX stuff needs to be gathered and then they will look into that. Good answer, I'm glad that they are aware of what lives in the community. [3]
</blockquote>

<p class="wikiPara">
And here are the three amigos in action:
</p>

<p class="wikiPara">
<a href="/service/File/13504" target="" class="regularLink"><img src="/images/13504.jpeg"></a>
</p>

<p class="wikiPara">
I also discovered feedback about Antonio's Java EE 6 presentation.
</p>

<blockquote class="wikiBlockquote">
The first presentation was again a 3 hours during class about the Java EE6 platform by Antonio Goncalves and Alexis Moussine-Pouchkine....It was the best presentation I’ve seen on Devoxx this year. They explained most of the new features in EE6 (validation, jsf, EJB 3.1, EJB Lite, JSF 2.0, Servlet 3.0, JAX-RS 1.1, JPA 2.0,..) and gave an example for each feature. I’m very excited about JavaEE6. It’s a lot easier and has a lot of cool features. They told us that Java EE6 (and GlassfishV3) will be released in December. I can’t wait. [1]
</blockquote>

<p class="wikiPara">
Great news! <a href="http://jcp.org/en/jsr/results?id=5025" target="" class="regularLink">Java EE 6 is here</a> and so is the reference implementation (<a href="https://glassfish.dev.java.net/downloads/v3-final.html" target="" class="regularLink">GlassFish V3</a>). You can also give <a href="http://www.jboss.org/jbossas/downloads/" target="" class="regularLink">JBoss AS 6.0.0.M1</a> a try.
</p>

<p class="wikiPara">
I should also mention that it was during Devoxx that Sebastian Hennebrueder published his <q>JSF 2 - evaluation and test</q> [4] novel-sized entry. Thanks to coordination by Andy, the very next day four JSR-314 EG members representing three companies sat down with him and listened to his concerns. Now if that doesn't show sign of life from the EG, I don't know what does. We are continuing to work with Sebastian to weave his ideas into the design discussions for <a href="http://twitter.com/#search?q=%23jsf2next" target="" class="regularLink">#jsf2next</a>.
</p>

<ol class="wikiOrderedList">
<li class="wikiOrderedListItem"> <a href="http://dev.eek.be/2009/11/devoxx-university-2009/" target="" class="regularLink">http://dev.eek.be/2009/11/devoxx-university-2009/</a>
</li>
<li class="wikiOrderedListItem"> <a href="http://java.dzone.com/news/devoxx-day-1-university-day-1" target="" class="regularLink">http://java.dzone.com/news/devoxx-day-1-university-day-1</a>
</li>
<li class="wikiOrderedListItem"> <a href="http://ctpjava.blogspot.com/2009/11/devoxx-day-2.html" target="" class="regularLink">http://ctpjava.blogspot.com/2009/11/devoxx-day-2.html</a>
</li>
<li class="wikiOrderedListItem"> <a href="http://www.laliluna.de/jsf-2-evaluation-test.html" target="" class="regularLink">http://www.laliluna.de/jsf-2-evaluation-test.html</a>
</li>
</ol>
</div>

