---
title: "Learn how to speed up your JSF-based Seam application (Part 1 of 2)"
author: "Dan Allen"
blogger_name: "Dan"
creation_date: "06-02-2009"
tags: [JSF,Performance,RichFaces,Seam]

relative_url: /2009/02/06/LearnHowToSpeedUpYourJSFbasedSeamApplicationPart1Of2
slug: LearnHowToSpeedUpYourJSFbasedSeamApplicationPart1Of2
lace: http://in.relation.to/10644.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2009/02/06/LearnHowToSpeedUpYourJSFbasedSeamApplicationPart1Of2
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The <a href="http://www.jsfcentral.com/articles/speed_up_your_jsf_app_1.html" target="" class="regularLink">first part</a> of my new article, published today on <a href="http://www.jsfcentral.com" target="" class="regularLink">JSFCentral</a>, explains how you can increase the rendering performance of a data-driven, JSF-based Seam application by two orders of magnitude! The article originated out of a contract job I did over the summer (before joining Red Hat). I worked for a group of scientists to develop a data-driven application using Seam, JSF, and RichFaces. That means it comes straight to you from the real-world ;)
</p>

<p class="wikiPara">
In the article, I point out several easy-to-fall-into traps that can hinder the performance of your application and go on to present several best practices that ensure your JSF-based Seam application can give the responsiveness of a desktop application a run for it's money. <a href="http://www.jsfcentral.com/articles/speed_up_your_jsf_app_1.html" target="" class="regularLink">Go see for yourself</a>! Sadly, you'll have to wait for part 2 to unfold to discover all the secrets and realize the full benefit.
</p>

<p class="wikiPara">
You might be wondering what else I've been up to lately. <a href="https://javaserverfaces-spec-public.dev.java.net/issues/show_bug.cgi?id=454" target="" class="regularLink">JSF2</a>, <a href="https://javaserverfaces-spec-public.dev.java.net/issues/show_bug.cgi?id=519" target="" class="regularLink">JSF 2</a>, and more <a href="https://javaserverfaces-spec-public.dev.java.net/issues/show_bug.cgi?id=426" target="" class="regularLink">JSF 2</a>. Over the course of the last several weeks I have been working on submitting proposals and implementations to port features from Seam to JSF 2. It's hard work because we're not just throwing the features over the fence, but working with the expert group to improve on them and ensure they integrate well with JSF, rather than just tacked onto the side. If things move along smoothly, I should be rolling out some blog entries about what is changing and how to use the new features.</p>
</div>

