---
title: "Andy Schwartz introduces JSF 2 client behaviors"
author: "Dan Allen"
blogger_name: "Dan"
creation_date: "26-02-2010"
tags: [JavaServer Faces,Seam News]

relative_url: /2010/02/26/AndySchwartzIntroducesJSF2ClientBehaviors
slug: AndySchwartzIntroducesJSF2ClientBehaviors
lace: http://in.relation.to/14501.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/02/26/AndySchwartzIntroducesJSF2ClientBehaviors
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The <a href="http://java.dzone.com/category/tags/jsf-2" target="" class="regularLink">JSF 2 series on DZone</a> we've been working on continues with an <a href="http://java.dzone.com/articles/jsf-2-client-behaviors" target="" class="regularLink">introduction to JSF 2 client behaviors</a> by guest author <a href="http://www.jsfsummit.com/conference/speaker/andy_schwartz" target="" class="regularLink">Andy Schwartz</a>. Andy is a member of the JSR-314 Expert Group (EG) and architect on the ADF Faces project team at Oracle Corporation.
</p>

<p class="wikiPara">
<a href="http://java.dzone.com/articles/jsf-2-client-behaviors" target="" class="regularLink">In this installment</a>, Andy introduces you to client behaviors for UI components, an API which he led, in collaboration with Alex Smirmov (Exadel), Roger Kitain (Sun/Oracle) and Ted Goddard (ICEsoft), to provide a general extension point for adding client-side functionality (i.e., JavaScript) to existing UI components. This new API quickly received support and input from the entire EG and proved to be a solid foundation on which the declarative Ajax control (i.e., <tt>&lt;f:ajax&gt;</tt>) could be based.
</p>

<p class="wikiPara">
One of the goals of providing an extensible API is to encourage JSF users to leverage this for their own needs. While we only have a single standard behavior (<tt>&lt;f:ajax&gt;</tt>) today, we expect to see many third party behavior implementations in the near future. Some of these behaviors may be candidates for inclusion in future versions of the JSF specification – perhaps even yours!
</p>

<p class="wikiPara">
<i class="wikiEmphasis">We'd like to thank Andy for contributing his time and dedication in writing this article!</i> 
Although Andy represents a different company than the other authors in this series, we come together as colleagues on the JSR-314 EG. The strong partnerships that are built between companies through their participation in JSRs are what make the JCP an asset to the Java EE community and allow the technologies to take such large leaps, in this case JSF. <i class="wikiEmphasis">You can thank him too by rating the article.</i></p>
</div>

