---
title: "Seam, Infinispan and Arquillian social at Devoxx, plus your JBoss planner"
author: "Dan Allen"
blogger_name: "Dan"
creation_date: "10-11-2010"
tags: [Devoxx,Event,Seam 3,Seam News]

relative_url: /2010/11/10/SeamInfinispanAndArquillianSocialAtDevoxxPlusYourJBossPlanner
slug: SeamInfinispanAndArquillianSocialAtDevoxxPlusYourJBossPlanner
lace: http://in.relation.to/17701.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/11/10/SeamInfinispanAndArquillianSocialAtDevoxxPlusYourJBossPlanner
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
<a href="http://jboss.org/infinispan" target="" class="regularLink">Infinispan</a> and <a href="http://seamframework.org" target="" class="regularLink">Seam</a> are doing it again. We're hosting a community social in the midst of Europe's premier Java conference, <a href="http://devoxx.com" target="" class="regularLink">Devoxx</a> (in Antwerp, Belgium). This year we'll be joined by <a href="http://jboss.org/arquillian" target="" class="regularLink">Arquillian</a> to keep things under control (you don't want to make <a href="http://design.jboss.org/arquillian/logo/ui/images/error/arquillian_ui_error_256px.png" target="" class="regularLink">Ike mad</a>). 
</p>

<p class="wikiPara">
If you plan to be at Devoxx - or just happen to be nearby - and fancy an evening of in-depth conversation about three JBoss open source projects set to rock the enterprise, come on by and partake in some of the <a href="http://gloriousfoodandwinebelgianbeer.blogspot.com/" target="" class="regularLink">finest beer in the world</a> with the project core developers. Demos, design discussions, architectural questions are all fair game. Join our pilgrimage to <a href="http://beeradvocate.com/beer/profile/1232/?view=beerfly&amp;ba=tendermorsel" target="" class="regularLink">Kulminator</a> at 20:00 on Monday the 15th of November (near the <a href="http://maps.google.com/maps?q=Groenplaats,+Meir+2000+Antwerp,+Flemish+Region,+Belgium&amp;ie=UTF8&amp;hq=&amp;hnear=Groenplaats&amp;ei=19XZTLyrFZDCswb_nIDkBw&amp;ved=0CBUQ8gEwAA&amp;hl=en&amp;cd=2&amp;geocode=FauIDQMdnClDAA&amp;split=0&amp;sll=37.0625,-95.677068&amp;sspn=23.875,57.630033&amp;z=17" target="" class="regularLink">Groenplaats Station</a>).
</p>

<table class="datatable" border="0" cellspacing="0" cellpadding="5" style="width: auto;">
   <tr class="rowEven">
     <td><i class="wikiEmphasis">Seam, Infinispan and Arquillian Social</i></td>
   </tr>
   <tr class="rowOdd">
      <td>
<i class="wikiEmphasis">Date</i>: Monday, November 15 @ 20:00</td>
   </tr>
   <tr class="rowEven">
      <td>
<i class="wikiEmphasis">Destination</i>: Kulminator</td>
   </tr>
   <tr class="rowOdd">
      <td>
<a href="http://maps.google.com/maps?q=Kulminator,Vleminckveld+32,Antwerpen,BE,2000&amp;ie=UTF8&amp;hq=Kulminator&amp;hnear=Vleminckveld+32,+2000+Antwerpen,+AN,+Vlaams+Gewest,+Belgium&amp;ll=51.214577,4.403265&amp;spn=0.006295,0.006295&amp;source=embed"><img src="/service/File/17700" width="425" height="350"></a> <img src="/service/File/17703" width="467" height="350">
</td>
   </tr>
</table>

<p class="wikiPara">
They say open source is free as in speech. Well, our open source social is free as in beer. Yep, we're sponsoring beer! And <a href="http://www.cafepress.com/jbossorg" target="" class="regularLink">free swag</a> too (the early bird gets the swag).
</p>

<p class="wikiPara">
Getting back to business, we've got your Devoxx JBoss planner if you want to learn more about the exciting stuff going on in the <a href="http://jboss.org" target="" class="regularLink">JBoss Community</a>.
</p>

<table class="datatable" border="0" cellspacing="0" cellpadding="5" style="width: auto;">
   <tr class="regularHeader">
     <th>Title</th>
     <th>Time</th>
     <th>Location</th>
     <th>Speaker(s)</th>
     <th> </th>
   </tr>
   <tr class="rowOdd">
      <td><a href="http://devoxx.com/display/Devoxx2K10/Seam+3++State+of+the+Union">Seam 3: State of the Union</a></td>
      <td>Mon, Nov 15 @ 09:00</td>
      <td>Room 8</td>
      <td>Pete Muir, Dan Allen</td> 
      <td rowspan="9" style="background-color: white;"><img src="/service/File/17708" width="170" height="256"></td>
   </tr>
   <tr class="rowEven">
      <td><a href="http://devoxx.com/display/Devoxx2K10/Java+enterprise+testing+made+easy+with+Arquillian">Java enterprise testing made easy with Arquillian</a></td>
      <td>Mon, Nov 15 @ 13:30</td>
      <td>BOF 1</td>
      <td>Aslak Knutsen, Dan Allen, Pete Muir</td>
   </tr>
   <tr class="rowOdd">
      <td><a href="http://devoxx.com/display/Devoxx2K10/Beautiful+Java+EE++URL-rewriting+for+the+next+generation+web-user">Beautiful Java EE: URL-rewriting for the next generation web-user</a></td>
      <td>Mon, Nov 15 @ 16:45</td>
      <td>Room 5</td>
      <td>Lincoln Baxter, III</td>
   </tr>
   <tr class="rowEven">
      <td><a href="http://devoxx.com/display/Devoxx2K10/Seam+Gathering">Seam Gathering</a></td>
      <td>Mon, Nov 15 @ 19:00</td>
      <td>BOF 2</td>
      <td>Pete Muir, Dan Allen, Lincoln Baxter III</td>
   </tr>
   <tr class="rowOdd">
      <td><a href="http://mojavelinux.com/seaminaction">Seam in Action - Book signing</a></td>
      <td>Tues, Nov 16 @ 12:30</td>
      <td>Bookstore</td>
      <td>Dan Allen</td>
   </tr>
   <tr class="rowEven">
      <td><a href="http://devoxx.com/display/Devoxx2K10/JBoss+Tools%2C+the+Deployment+Ninja%21">JBoss Tools, the Deployment Ninja! </a></td>
      <td>Tues, Nov 16 @ 13:00</td>
      <td>Room 4</td>
      <td>Max Andersen</td>
   </tr>
   <tr class="rowOdd">
      <td><a href="http://devoxx.com/display/Devoxx2K10/What%27s+new+in+Hibernate++a+JPA+2+perspective">What's new in Hibernate: A JPA 2 perspective</a></td>
      <td>Tues, Nov 16 @ 13:30</td>
      <td>Room 8</td>
      <td>Emmanuel Bernard</td>
   </tr>
   <tr class="rowEven">
      <td><a href="http://devoxx.com/display/Devoxx2K10/Hacking+Infinispan++the+new+open+source+data+grid+meets+NoSQL">Hacking Infinispan: the new open source data grid meets NoSQL</a></td>
      <td>Wed, Nov 17 @ 14:00</td>
      <td>Room 9</td>
      <td>Manik Surtani</td>
   </tr>
   <tr class="rowOdd">
       <td><a href="http://devoxx.com/display/Devoxx2K10/The+roots+of+Java+EE+6++JSR-299+%28CDI%29+and+Weld+extensions">The roots of Java EE 6: JSR-299 (CDI) and Weld extensions</a></td>
       <td>Fri, Nov 19 @ 11:50</td>
       <td>Room 8</td>
       <td>Dan Allen</td>
   </tr>
</table>

<p class="wikiPara">
We also <i class="wikiEmphasis">strongly</i> recommend that you attend the <a href="http://devoxx.com/display/Devoxx2K10/Java+EE+6+Tutorial.+Reloaded%21" target="" class="regularLink">Java EE 6 Tutorial. Reloaded!</a> by Antonio Goncalves and Alexis Moussine-Pouchkine to soak up essential foundation knowledge of Java EE 6, in particular CDI.
</p>

<p class="wikiPara">
In addition to my Devoxx talks, I'll be flying ✈ Munich on Wednesday (if you can believe it) to present on <a href="http://entwickler.com/konferenzen/ext_scripts/v2/php/sessions-popup.php?module=wjax2010&amp;id=16642" target="" class="regularLink">Seam 3 Faces</a> and <a href="http://entwickler.com/konferenzen/ext_scripts/v2/php/sessions-popup.php?module=wjax2010&amp;id=16641" target="" class="regularLink">PrettyFaces</a> at <a href="http://jax.de/" target="" class="regularLink">W-JAX</a>. I'll be back at Devoxx on Thursday.
</p>

<p class="wikiPara">
If you want to know where else we might turn up at Devoxx, or want to know how else to spend your off hours, check out the <a href="http://hilton.org.uk/antwerp/" target="" class="regularLink">eating and drinking in Antwerp guide</a> that our community member Peter Hilton put together.
</p>

<p class="wikiPara">
Hope to see you there! If you are stuck at home this time around, fork a <a href="https://github.com/seam" target="" class="regularLink">Seam 3 module on github</a> and start hacking away!</p>
</div>

