---
title: "Unified EL JSR in the pipeline"
author: "Dan Allen"
blogger_name: "Dan"
creation_date: "21-02-2010"
tags: [Java EE,Unified EL]

relative_url: /2010/02/21/UnifiedELJSRInThePipeline
slug: UnifiedELJSRInThePipeline
lace: http://in.relation.to/14410.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/02/21/UnifiedELJSRInThePipeline
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm excited to announce that plans for a top-level JSR for the Unified EL are underway. It's likely that <a href="http://blogs.sun.com/kchung/" target="" class="regularLink">Kin-man Chung</a> will be filing a JSR in the near future. But we aren't waiting to get the discussion started. Kin-man has started the open <a href="https://uel.dev.java.net/servlets/SummarizeList?listName=el-next" target="" class="regularLink">el-next mailinglist</a> (el-next@uel.dev.java.net), where we will begin itemizing priorities and designing features. We'll then convert the requests into <a href="https://uel.dev.java.net/servlets/ProjectIssues" target="" class="regularLink">issue reports</a> as they are solidified.
</p>

<p class="wikiPara">
As you may know, the Unified EL is currently trapped inside of the <a href="http://jcp.org/en/jsr/detail?id=245" target="" class="regularLink">JavaServer Pages 2.1 specification: JSR-245</a>. While steps have been taken to free the dependency on JSP, the language still has a distinctive JSP spin. The fact remains that the EL simply cannot become a first-class citizen that works across the Java EE platform without graduating to its own JSR.
</p>

<p class="wikiPara">
In an email, Kin-man defined the goal for the Unified EL JSR:
</p>

<blockquote class="wikiBlockquote">
The goal for the JSR is to make EL a first-class citizen that is easy to use, both inside and outside of Java EE.
</blockquote>

<p class="wikiPara">
Red Hat's focus will be to make sure that the JSR is developed in the open and that as many of the feature requests we have or have heard from our community  are incorporated into the specification. Those enhancements can be found on the <a href="http://seamframework.org/Documentation/ELWishList" target="" class="regularLink">EL wishlist</a> wiki page.
</p>

<p class="wikiPara">
Follow along with the <a href="https://uel.dev.java.net/servlets/SummarizeList?listName=el-next" target="" class="regularLink">mailinglist archives</a> and watch this space for more details. You can <a href="https://uel.dev.java.net/getInvolved.html" target="" class="regularLink">request to join the uel project</a> if you want to get involved.</p>
</div>

