---
title: "Weld Extensions becomes Seam Solder; 3.0.0.Beta1 now available!"
author: "Dan Allen"
blogger_name: "Dan"
layout: blog-post
tags: [Seam,Seam 3,Seam News,Weld Extensions]
slug: WeldExtensionsBecomesSeamSolder300Beta1NowAvailable
lace: http://in.relation.to/17950.lace
---
<div id="documentDisplay" class="documentDisplay">
<p class="wikiPara">

</p>
<div id="j_id481">
                    <h1 class="documentTitle">
<a href="/Bloggers/WeldExtensionsBecomesSeamSolder300Beta1NowAvailable">Weld Extensions becomes Seam Solder; 3.0.0.Beta1 now available!</a>
                    </h1>
</div>
<p class="wikiPara">
Seam's new project lead, <a href="http://community.jboss.org/people/shane.bryzak%40jboss.com" target="" class="regularLink">Shane Bryzak</a>, announced last week on the <a href="http://lists.jboss.org/pipermail/seam-dev/2010-December/002980.html" target="" class="regularLink">seam-dev mailinglist</a> that the Weld Extensions project has be brought under the Seam project banner and renamed to <a href="http://seamframework.org/Seam3/Solder" target="" class="regularLink">Seam Solder</a>. Today we are announcing the first release of Seam Solder, <a href="http://repository.jboss.org/nexus/content/groups/public/org/jboss/seam/solder" target="" class="regularLink">3.0.0.Beta1</a>!
</p>

<img src="http://seamframework.org/service/File/143926" style="float: right; margin-left: 15px;"><p class="wikiPara">
 Seam Solder retains exactly the same purpose and goals as its predecessor:
</p>

<blockquote class="wikiBlockquote" style="background-color: transparent;"><i class="wikiEmphasis">a library of <u>portable</u> CDI utilities for use in developing applications, frameworks and other extensions based on CDI (JSR-299)</i></blockquote>

<p class="wikiPara">
In other words, Generally Useful Stuff (tm) that you'd likely end up having to painstakingly create anyway.
</p>

<h2 class="wikiHeadline2" id="H-WhyTheChange"><a href="/Bloggers/WeldExtensionsBecomesSeamSolder300Beta1NowAvailable#H-WhyTheChange">Why the change?</a></h2>

<p class="wikiPara">
Ever since Weld Extensions was first proposed, there's been confusion about how it differs from Weld and how it fits with the Seam project. Now, the distinction is more clear.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <strong><a href="http://seamframework.org/Weld" target="" class="regularLink">Weld</a></strong>: implements CDI, brings it to additional environments</li>
<li class="wikiUnorderedListItem"> <strong><a href="http://seamframework.org/Seam3" target="" class="regularLink">Seam 3</a></strong>: extends and builds on CDI (plus other goodies)</li>
</ul>

<p class="wikiPara">
CDI is the foundation programming model in Seam 3, but there's still room for core extensions and utilities that all Seam modules share to align and avoid code duplication. That's what Seam Solder provides.
</p>

<h2 class="wikiHeadline2" id="H-WhatsTheNameAbout"><a href="/Bloggers/WeldExtensionsBecomesSeamSolder300Beta1NowAvailable#H-WhatsTheNameAbout">What's the name about?</a></h2>

<p class="wikiPara">
We choose <q>solder</q> because it's the term for an alloy that is used to join metallic parts, but not so strongly as a weld. For instance, fastening modules to a circuitboard. Although CDI extensions don't require Solder, they will greatly benefit from the extra reinforcement it supplies. 
</p>

<h2 class="wikiHeadline2" id="H-ItsNotJustForSeam"><a href="/Bloggers/WeldExtensionsBecomesSeamSolder300Beta1NowAvailable#H-ItsNotJustForSeam">It's not just for Seam!</a></h2>

<p class="wikiPara">
Solder has a life outside of Seam. If you are building on CDI, we <i class="wikiEmphasis">strongly</i> encourage you to evaluate Solder <i class="wikiEmphasis">before</i> spending time writing your own utilities. Solder will save you tons of time, and you'll get your extension working much sooner. Plus, we believe that we'll be able to implement startup optimizations for CDI in Solder that you'll immediately benefit from.
</p>

<h2 class="wikiHeadline2" id="H-AboutTheMigration"><a href="/Bloggers/WeldExtensionsBecomesSeamSolder300Beta1NowAvailable#H-AboutTheMigration">About the migration</a></h2>

<p class="wikiPara">
Rather than migrating all the resources for Weld Extensions, we made a clean break (i.e., a fork). We encourage everyone using Weld Extensions to switch to Seam Solder. If you are adding new features or fixing issues, please apply them to Seam Solder unless there is some specific reason you are updating Weld Extensions. Weld Extensions is effectively closed.
</p>

<p class="wikiPara">
Seam Solder has undergone some other changes to be consistent with the other Seam modules:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Uses seam-parent for dependency management and common build tasks </li>
<li class="wikiUnorderedListItem"> Source code divided into an API and implementation</li>
<li class="wikiUnorderedListItem"> Bumped major version to 3 (the major version of Weld Extensions was 1)</li>
</ul>

<p class="wikiPara">
The switch to Solder has an important implication for the other Seam modules. We need to update each module to use Seam Solder and release a new version of that module. This step
should happen quite quickly, since Seam Solder will prevent the application from deploying if Weld Extensions is detected on the classpath.
</p>

<h2 class="wikiHeadline2" id="H-AboutTheRelease"><a href="/Bloggers/WeldExtensionsBecomesSeamSolder300Beta1NowAvailable#H-AboutTheRelease">About the release</a></h2>

<p class="wikiPara">
All the resources can be found on the <a href="http://seamframework.org/Seam3/Solder" target="" class="regularLink">Seam Solder project page</a>. For your convenience, I've laid out the key resources here:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Project page: <a href="http://seamframework.org/Seam3/Solder" target="" class="regularLink">Seam Solder project page</a>
</li>
<li class="wikiUnorderedListItem"> Git repository: <a href="http://github.com/seam/solder" target="" class="regularLink">http://github.com/seam/solder</a>
</li>
<li class="wikiUnorderedListItem"> JIRA: <a href="http://issues.jboss.org/browse/SOLDER" target="" class="regularLink">http://issues.jboss.org/browse/SOLDER</a>
</li>
<li class="wikiUnorderedListItem"> Discussion forum: <a href="http://seamframework.org/Community/Seam3Users" target="" class="regularLink">http://seamframework.org/Community/Seam3Users</a> (we'll discuss as part of Seam)</li>
</ul>

<p class="wikiPara">
As with all Seam 3 artifacts, Solder is published to the <a href="http://community.jboss.org/wiki/MavenGettingStarted-Users" target="" class="regularLink">JBoss Community repository</a>. If you are using Maven, here's the dependency declaration you need to add to your POM to include the combined API and implementation library in your project:
</p>

<pre class="wikiPreformatted">&lt;dependency&gt;
   &lt;groupId&gt;org.jboss.seam.solder&lt;/groupId&gt;
   &lt;artifactId&gt;seam-solder&lt;/artifactId&gt;
   &lt;version&gt;3.0.0.Beta1&lt;/version&gt;
&lt;/dependency&gt;</pre>


<p class="wikiPara">
Alternatively, you can use two dependency declarations so the implementation is only used at runtime:
</p>

<pre class="wikiPreformatted">&lt;dependency&gt;
   &lt;groupId&gt;org.jboss.seam.solder&lt;/groupId&gt;
   &lt;artifactId&gt;seam-solder-api&lt;/artifactId&gt;
   &lt;version&gt;3.0.0.Beta1&lt;/version&gt;
&lt;/dependency&gt;

&lt;dependency&gt;
   &lt;groupId&gt;org.jboss.seam.solder&lt;/groupId&gt;
   &lt;artifactId&gt;seam-solder-impl&lt;/artifactId&gt;
   &lt;version&gt;3.0.0.Beta1&lt;/version&gt;
   &lt;scope&gt;runtime&lt;/scope&gt;
&lt;/dependency&gt;</pre>


<p class="wikiPara">
This project wouldn't have been possible without the hard work of Pete Muir and Stuart Douglas. Additional thanks goes to Shane Bryzak, Nicklas Karlsson, Lincoln Baxter III and Jason Porter for their contributions.
</p>

<p class="wikiPara">
[ <a href="https://repository.jboss.org/nexus/content/groups/public/org/jboss/seam/solder/seam-solder/3.0.0.Beta1/seam-solder-3.0.0.Beta1.jar" target="" class="regularLink">Combined JAR</a> ] | [ <a href="http://sourceforge.net/projects/jboss/files/Seam/Solder/3.0.0.Beta1/seam-solder-3.0.0.Beta1.zip/download" target="" class="regularLink">Distribution</a> ] | [ <a href="http://issues.jboss.org/browse/SOLDER" target="" class="regularLink">JIRA</a> ] | [ <a href="http://docs.jboss.org/seam/3/solder/3.0.0.Beta1/api" target="" class="regularLink">API docs</a> ] [ <a href="http://docs.jboss.org/seam/3/solder/3.0.0.Beta1/reference/en-US/html/" target="" class="regularLink"> Reference Guide</a> ] | [ <a href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12311110&amp;version=12315845" target="" class="regularLink">Release Notes</a> ]
</p>

<blockquote class="wikiBlockquote">
<strong>NOTE</strong><br>It's important to note that we are still having some difficulties getting Solder to work on GlassFish. There appears to be some confusion about how extensions are supposed to be handled in non-bean archives (follow <a href="http://java.net/jira/browse/GLASSFISH-14808" target="" class="regularLink">GLASSFISH-14808</a>), a feature that Solder makes use of for performance reasons. We anticipate a resolution for GlassFish 3.1, but not likely GlassFish 3.0.1.
</blockquote>

<h2 class="wikiHeadline2" id="H-AndBeyond"><a href="/Bloggers/WeldExtensionsBecomesSeamSolder300Beta1NowAvailable#H-AndBeyond">And beyond</a></h2>

<p class="wikiPara">
For <a href="https://issues.jboss.org/browse/SOLDER/fixforversion/12315848" target="" class="regularLink">Beta 2</a>, we're planning to tidy up the test suite, compliance, documentation and validation. Then we'll move towards a Final release. That should all happen very soon.
</p>

<p class="wikiPara">
There's still plenty of exciting functionality planned for Seam Solder. If you want to get involved, we encourage you to look through the <a href="http://issues.jboss.org/browse/SOLDER" target="" class="regularLink">issue tracker</a> and find something that interests you. If you discover the need for some common functionality when writing your own CDI extensions, consider sharing by adding a feature request (and patch!).</p>
</div>
