---
title: "Welcome Lincoln Baxter III!"
author: "Dan Allen"
blogger_name: "Dan"
creation_date: "19-02-2010"
original_tags: [JavaServer Faces,Seam,Seam News]
tags: [JSF,Seam]

relative_url: /2010/02/19/welcome-lincoln-baxter-iii
slug: welcome-lincoln-baxter-iii
lace: http://in.relation.to/14386.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/02/19/welcome-lincoln-baxter-iii
---
<div id="documentDisplay" class="documentDisplay">


<img align="right" src="http://community.jboss.org/profile-image-display.jspa?username=lincolnthree" style="padding-left: 15px; width: 160px; height: 219px;"><p class="wikiPara">
 I'd like to introduce to you the newest member of the Seam engineering team, <a href="http://community.jboss.org/people/lincolnthree" target="" class="regularLink">Lincoln Baxter III</a>. Lincoln has contributed (very vocally) to JSF 2 and developed a number of Open Source Java projects (such as PrettyFaces, PrettyTime and Scrum Shark). I'll take this opportunity to help you get to know him a little and share with you an abbreviated story of how he arrived at Red Hat.
</p>

<p class="wikiPara">
Lincoln's interaction with the Seam development team started with one of those <q>Can someone please take a look a this?</q> e-mails from Gavin. It was Lincoln <a href="http://old.nabble.com/Re%3A-Can-someone-please-take-a-look-a-this-td20641902.html#a20642930" target="" class="regularLink">introducing</a> his PrettyFaces extension for JSF.
</p>

<blockquote class="wikiBlockquote">
I'm the author of the PrettyFaces extension.
(<i class="wikiEmphasis">...An explanation of how it works and what problems it solves in Seam...</i>)
My source is available here and is licensed under the GPL3. Most of what I think you'd be interested in will be in the PrettyViewHandler class, which is ... simple. Have at it. <a href="http://ocpsoft.com/prettyfaces" target="" class="regularLink">http://ocpsoft.com/prettyfaces</a>
</blockquote>

<p class="wikiPara">
At around the same time Norman was developing a URL rewriting solution for Seam, so we didn't end up giving Lincoln much of a chance on this go around ;)
</p>

<p class="wikiPara">
When Lincoln really started to catch our eye was when he posted on his blog that <a href="http://ocpsoft.com/java/jsf2-in-good-hands/" target="" class="regularLink">JavaServer Faces 2.0 is in Good Hands</a>. In the blog entry, he highlights the impact Red Hat was having (namely Pete and myself) on the progress of the JSF 2 specification. He credited us as the first to really listen to the community and drive the spec in a direction that made the community feel assured and engaged. In short, he identified Red Hat as having leadership, and emphasized how important that quality is to him.
</p>

<p class="wikiPara">
But we couldn't fill his entire vision. Lincoln had the false hope that Sun was putting effort into creating resources to help make the platform easy for newcomers to start using, in particular JSF, and that the JCP truly embraced openness. I had to let him down gently that both assumptions were a long way from reality (though since then Sun/Oracle has made a lot of important changes). I would learn from Lincoln's next move how much he really cared about making these perceptions a reality and whether he could affect change.
</p>

<p class="wikiPara">
<i class="wikiEmphasis">The fact that I'm writing this introduction gives away the answer.</i>
</p>

<p class="wikiPara">
A couple mornings later, the JSR-314 EG woke up and there was a new guy posting to the mailinglist...a mailinglist that was very difficult to get on (for a myriad of technical and political reasons). Lincoln found a way through. How? He became an individual JCP member, far from a simple task. He pleaded to Ed Burns to let him join the list and to be allowed to post. Gradually, people began to view him as an EG member and after many quality posts, everyone just accepted that he was an official member of the group. In fact, we would probably still be trying to find our own arse without him :) And good things are going to happen with him on board.
</p>

<p class="wikiPara">
Since then, Lincoln has been a part of just about everything that has happened with the JSF EG. With my promise to Kito Mann and Jay Zimmerman that Lincoln would be among the best speakers at <a href="/2009/12/08/jsf-summit-2009-postback" target="" class="regularLink">JSF Summit</a> (despite having no speaking credentials), I got him into the conference to speak about his project, PrettyFaces. There he attended the JSF EG meeting, launched <a href="http://javaserverfaces.org" target="" class="regularLink">http://javaserverfaces.org</a>--which  he managed to convince Kito Mann to donate to the group--and sure enough, he gave the best talk of the conference (as decided by the attendees) in front of 12 EG members!
</p>

<p class="wikiPara">
Right after JSF Summit, I contacted my managers at Red Hat and recommended that we hire Lincoln. I argued that we don't just want this guy to join our community, we want him to be a leader in our community. We certainly didn't want him to be stuck behind a desk fixing form fields any longer.
</p>

<p class="wikiPara">
I could go on, but your break is probably over by now. Many of you will get a chance to meet with Lincoln at the next <a href="http://www.redhat.com/promo/summit/2010/" target="" class="regularLink">JBossWorld</a> or interact with him in the <a href="http://community.jboss.org" target="" class="regularLink">JBoss.org community</a>. One way or another, Lincoln is going to be one of the key leaders of our community, I guarantee it.
</p>

<p class="wikiPara">
Good luck, Lincoln! And no pressure. Just do what you do best. <a href="http://ocpsoft.com/services/about/" target="" class="regularLink">Keep it simple!</a></p>
</div>

