---
title: "Weld archetypes in the spotlight"
author: "Dan Allen"
blogger_name: "Dan"
creation_date: "06-02-2010"
tags: [Weld]

absolute_url: http://in.relation.to/2010/02/06/WeldArchetypesInTheSpotlight
lace: http://in.relation.to/14271.lace
slug: WeldArchetypesInTheSpotlight

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The initiative to create <a href="http://www.seamframework.org/Documentation/WeldArchetypeProjectInformation" target="" class="regularLink">Weld archetypes</a> has had a further reaching impact than just the community of developers interested in using CDI (via Weld). A <a href="http://www.sonatype.com/people/2010/01/maven-archetypes-and-nexus-there-is-no-faster-way/" target="" class="regularLink">recent entry</a> on the Sonatype blog, titled <i class="wikiEmphasis">Maven Archetypes and Nexus: “There is No Faster Way”</i>, cites the Weld archetypes as:
</p>

<blockquote class="wikiBlockquote">
...the perfect case study of how using Archetypes benefits the community.
</blockquote>

<p class="wikiPara">
Steven Boscarine (Weld community contributor) is applauded for recognizing the value archetypes can bring to the community and for ultimately getting them promoted to <a href="http://repo2.maven.org/maven2/org/jboss/weld/archetypes/" target="" class="regularLink">Maven central</a> for all <a href="/Bloggers/GetRunningOnCDIJSF2InAJiffyUsingMavenArchetypes" target="" class="regularLink">to use</a>.
</p>

<p class="wikiPara">
Although archetypes are rather technically simple, it's important to recognize the impact they can have by starting people off on the right foot.
</p>

<p class="wikiPara">
By the way, we are still looking for <a href="http://www.seamframework.org/Documentation/WeldArchetypeProjectInformation" target="" class="regularLink">contributors</a> that would like to help shape the vision for the Weld archetypes, and to get us from beta to a stable release.</p>
</div>
