---
title: "Our group name"
author: "Dan Allen"
blogger_name: "Dan"
creation_date: "13-03-2010"
original_tags: [Bean Validation,Hibernate,JBoss Tools,RichFaces,Seam,Seam News,Weld]
tags: [Bean Validation,JBoss Tools,Rich Faces,Seam,Weld]

relative_url: /2010/03/13/our-group-name
slug: our-group-name
lace: http://in.relation.to/14810.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/03/13/our-group-name
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
I'm often asked to identify what projects I'm working on at Red Hat, or what group I'm a part of. My response reads like a laundry list:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Seam</li>
<li class="wikiUnorderedListItem"> Weld</li>
<li class="wikiUnorderedListItem"> CDI TCK</li>
<li class="wikiUnorderedListItem"> Arquillian</li>
</ul>

<p class="wikiPara">
...and sometimes I'm really not sure if I can classify myself as a member of a certain project (e.g., RichFaces). Other developers that hang around here likely have a similar story. Eventually, we just settle on the response, <q>I'm part of the in.relation.to crowd.</q> 
</p>

<p class="wikiPara">
However, for people that don't know this blog, or its history, this description makes no sense whatsoever. Which made me come to the realization that we lack a true identity within the <a href="http://community.jboss.org" target="" class="regularLink">JBoss Community</a>. I believe this detracts from the spirit of integration and coordination between projects. As my first order as <a href="/2010/03/11/community-liaison" target="" class="regularLink">Community Liaison</a>, I set out to fix that.
</p>

<p class="wikiPara">
Seam is often described as the glue that brings together a myriad of standard and third-party Java EE technologies. The glue that brings us together is that we are all working on creating tools and frameworks for the application developer (some use the term <q>enterprise web developer</q>). This purpose not only unites those of us creating these technologies, but also unites us with the folks that consume these technologies. So, to align the name of our group with the common organizational group name of our community members, we have chosen this name for our group:
</p>

<blockquote class="wikiBlockquote">
Application Developer Projects Group (or the more casual name, App Dev Group)
</blockquote>

<p class="wikiPara">
This group is a loose knit collection of projects which people often view as their development stack:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> Seam</li>
<li class="wikiUnorderedListItem"> JBoss Tools</li>
<li class="wikiUnorderedListItem"> Weld (CDI)</li>
<li class="wikiUnorderedListItem"> RichFaces (JSF)</li>
<li class="wikiUnorderedListItem"> Hibernate Validator (Bean Validation)</li>
<li class="wikiUnorderedListItem"> Hibernate (JPA)</li>
<li class="wikiUnorderedListItem"> Hibernate Search</li>
<li class="wikiUnorderedListItem"> ...perhaps others</li>
</ul>

<p class="wikiPara">
We also recently formed the JBoss Testing Group that encompasses Arquillian, ShrinkWrap, JSFUnit, and other testing tools. Some of us are a part of that group too, myself included.
</p>

<p class="wikiPara">
When we address this audience, or seek to describe where we fit in the JBoss community, we can really establish the connectedness by using the term <q>App Dev</q>, or Application Developer Projects, to show we are thinking about the concerns across technologies. So there you have it, our group name.
</p>


</div>

