---
title: "Help us select an Arquillian logo"
author: "Dan Allen"
blogger_name: "Dan"
creation_date: "22-03-2010"
original_tags: [Arquillian]
tags: [Arquillian]

relative_url: /2010/03/22/help-us-select-an-arquillian-logo
slug: help-us-select-an-arquillian-logo
lace: http://in.relation.to/14912.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/03/22/help-us-select-an-arquillian-logo
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Cool software projects have cool logos. We <a href="/Bloggers/Arquillian100Alpha1Released" target="" class="regularLink">recently announced</a> an alpha release of <a href="http://community.jboss.org/en/arquillian" target="" class="regularLink">Arquillian</a>, a project that's going to revolutionize Java EE integration testing. Now we need to make Arquillian cool :)
</p>

<p class="wikiPara">
We are in the process of establishing Arquillian's visual identity, its logo. We've already been through a couple rounds of grayscale design comps with <a href="https://community.jboss.org/people/cheyenneweaver" target="" class="regularLink">Cheyenne</a> from the JBoss Community design team, who is designing the Arquillian logo. Throughout the process, we've asked community members to provide feedback on the comps to help steer the design process. You can follow some of the progress in <a href="http://community.jboss.org/message/525921" target="" class="regularLink">this thread</a> or the <a href="http://twitter.com/#search?q=%23arquillian" target="" class="regularLink">#arquillian</a> Twitter hashtag. We're casting a wider net this time by asking readers of this blog to chime in.
</p>

<p class="wikiPara">
The themes we are pursuing are:
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> aliens</li>
<li class="wikiUnorderedListItem"> remote control</li>
<li class="wikiUnorderedListItem"> in container</li>
</ul>

<p class="wikiPara">
Here are the round 3 logo candidates:
</p>

<a href="http://labs.jboss.com/files/jbosslabs/design/arquillian/logo/images/arquillian_logo_r3v1.png"><img src="http://labs.jboss.com/files/jbosslabs/design/arquillian/logo/images/arquillian_logo_r3v1.png" alt="r3v1" width="480"></a>
<br>
<a href="http://labs.jboss.com/files/jbosslabs/design/arquillian/logo/images/arquillian_logo_r3v2.png"><img src="http://labs.jboss.com/files/jbosslabs/design/arquillian/logo/images/arquillian_logo_r3v2.png" alt="r3v2" width="480"></a>
<br>
<a href="http://labs.jboss.com/files/jbosslabs/design/arquillian/logo/images/arquillian_logo_r3v3.png"><img src="http://labs.jboss.com/files/jbosslabs/design/arquillian/logo/images/arquillian_logo_r3v3.png" alt="r3v3" width="480"></a>
<br>
<a href="http://labs.jboss.com/files/jbosslabs/design/arquillian/logo/images/arquillian_logo_r3v4.png"><img src="http://labs.jboss.com/files/jbosslabs/design/arquillian/logo/images/arquillian_logo_r3v4.png" alt="r3v4" width="480"></a>
<br>
<a href="http://labs.jboss.com/files/jbosslabs/design/arquillian/logo/images/arquillian_logo_r3v5.png"><img src="http://labs.jboss.com/files/jbosslabs/design/arquillian/logo/images/arquillian_logo_r3v5.png" alt="r3v5" width="480"></a>
<br>
<a href="http://labs.jboss.com/files/jbosslabs/design/arquillian/logo/images/arquillian_logo_r3v6.png"><img src="http://labs.jboss.com/files/jbosslabs/design/arquillian/logo/images/arquillian_logo_r3v6.png" alt="r3v6" width="480"></a>

<p class="wikiPara">
Follow the link to the poll below to let us know which ones you like best and why.
</p>

<p class="wikiPara">
<a href="http://tinyurl.com/arquillianlogornd3" target="" class="regularLink">Arquillian logo poll (Round 3)</a>
</p>

<p class="wikiPara">
Once we collect enough feedback, we'll send it over to Cheyenne and let you know which ones made the cut. Thanks for participating!</p>
</div>

