---
title: "Seam 3 Modules \"Stocking Stuffer\" Release"
author: "Dan Allen"
blogger_name: "Dan"
creation_date: "28-12-2010"
tags: [Seam 3,Seam News,Solder]

relative_url: /2010/12/28/seam-3-modules-stocking-stuffer-release
slug: seam-3-modules-stocking-stuffer-release
lace: http://in.relation.to/17974.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/12/28/seam-3-modules-stocking-stuffer-release
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
We're excited to announce that a majority of the <b style="color: rgb(207,129,56); padding-right: 2px;">Seam</b><b style="color: rgb(99,58,24); font-size: 1.1em; font-style: italic;">3</b> modules (listed below) have been migrated to <a href="http://seamframework.org/Seam3/Solder" target="" class="regularLink">Seam Solder</a>!
</p>

<img src="http://design.jboss.org/seam/logo/final/seam3_logo_450px.png" style="float: right; margin-left: 10px;"><p class="wikiPara">
The Seam elves were busy right up until the eve of Christmas working together to prepare a simultaneous release of 8 modules along with two project POMs to stuff in your stockings. The primary purpose of the release was to align with the <a href="http://in.relation.to/Bloggers/WeldExtensionsBecomesSeamSolder300Beta1NowAvailable" target="" class="regularLink">recent release of Seam Solder 3.0.0.Beta1</a>, though minor feature requests and bug fixes were squeezed in as well. You'll have to check your stocking to find out surprises await you.
</p>

<p class="wikiPara">
Here's the list of modules that were released, linked to the corresponding module pages (where you can find all the key links):
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://seamframework.org/Seam3/Servlet" target="" class="regularLink">Servlet</a> - 3.0.0.Alpha3</li>
<li class="wikiUnorderedListItem"> <a href="http://seamframework.org/Seam3/Config" target="" class="regularLink">Config</a> - 3.0.0.Beta2</li>
<li class="wikiUnorderedListItem"> <a href="http://seamframework.org/Seam3/Persistence" target="" class="regularLink">Persistence</a> - 3.0.0.Beta2</li>
<li class="wikiUnorderedListItem"> <a href="http://seamframework.org/Seam3/International" target="" class="regularLink">International</a> - 3.0.0.Alpha2</li>
<li class="wikiUnorderedListItem"> <a href="http://seamframework.org/Seam3/Faces" target="" class="regularLink">Faces</a> - 3.0.0.Beta2</li>
<li class="wikiUnorderedListItem"> <a href="http://seamframework.org/Seam3/Catch" target="" class="regularLink">Catch</a> - 3.0.0.Alpha3</li>
<li class="wikiUnorderedListItem"> <a href="http://seamframework.org/Seam3/Remoting" target="" class="regularLink">Remoting</a> - 3.0.0.Beta2</li>
<li class="wikiUnorderedListItem"> <a href="http://seamframework.org/Seam3/REST" target="" class="regularLink">REST</a> - 3.0.0.Alpha2</li>
<li class="wikiUnorderedListItem"> <a href="http://seamframework.org/Seam3/Security" target="" class="regularLink">Security</a> - 3.0.0.Alpha2</li>
<li class="wikiUnorderedListItem"> <a href="http://github.com/seam/dist" target="" class="regularLink">BOM</a> - 3.0.0.b04</li>
<li class="wikiUnorderedListItem"> <a href="http://github.com/seam/parent" target="" class="regularLink">Parent</a> - 5</li>
</ul>

<p class="wikiPara">
This is the first time we have attempted a simultaneous module release. This is not the first stack release of Seam, but it's an important step towards that goal. We took this opportunity to touch base with the module leads, clean up and align the module builds and survey what remains to be done. We also gained some key insight into what it's going to take to put a Seam 3 distribution release together.
</p>

<p class="wikiPara">
As soon as we return from the holiday shutdown, we are going to release a few additional modules (JMS, Wicket, Mail), lay out a more clear plan for the project and firm up the target dates for Seam 3.
</p>

<p class="wikiPara">
We are very pleased to see how the whole team has pulled together to get all of the releases done this week. Thanks to everyone involved, including Shane Bryzak, Stuart Douglas, Jason Porter, Jozef Hartinger, Lincoln Baxter, III, Martin Gencur and Pete Muir (for laying a solid foundation for all these POMs).
</p>

<p class="wikiPara">
We also have a new look for module pages, which include a new styling of the Seam logo thanks to James Cobb!
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <a href="http://seamframework.org/Seam3" target="" class="regularLink">Seam 3 page</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://seamframework.org/Seam3/Config" target="" class="regularLink">Config module page</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://seamframework.org/Seam3/Persistence" target="" class="regularLink">Persistence module page</a>
</li>
<li class="wikiUnorderedListItem"> <a href="http://seamframework.org/Seam3/Catch" target="" class="regularLink">Catch module page</a>
</li>
</ul>

<p class="wikiPara">
<i class="wikiEmphasis">Some pages still need to be converted and the emblems on several of the modules are just an idea at this point.</i>
</p>

<p class="wikiPara">
I don't want to make this a long entry, because I know you probably have relaxation time to get back to. Have a good holidays everyone! Enjoy time with family and friends, but if you need time away, spend some time with JIRA :)</p>
</div>

