---
title: "Adam Bien: Java Developer of the Year (2010)"
author: "Dan Allen"
blogger_name: "Dan"
creation_date: "11-10-2010"
original_tags: [Award,Contexts and Dependency Injection,Java EE 6]
tags: [CDI,Java EE]

relative_url: /2010/10/11/adam-bien-java-developer-of-the-year-2010
slug: adam-bien-java-developer-of-the-year-2010
lace: http://in.relation.to/17292.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2010/10/11/adam-bien-java-developer-of-the-year-2010
---
<div id="documentDisplay" class="documentDisplay">


<img src="/images/legacy/17291.png" style="float: right; margin-top: 5px; margin-bottom: 10px; margin-left: 15px;"><p class="wikiPara">
 I'd like extend my congratulations to fellow Java EE community member and blogger <a href="http://adam-bien.com" target="" class="regularLink">Adam Bien</a> for being awarded <a href="http://www.oracle.com/technetwork/issue-archive/2010/10-nov/o60eca-176293.html#bien" target="" class="regularLink">Java Developer of the Year for 2010</a> by the editors of <a href="http://www.oracle.com/technetwork/oramag/magazine/index.html" target="" class="regularLink">Oracle Magazine</a> (image from November/December 2010 issue right). This is one award announced by Oracle this year that I can totally get behind and say is truly deserved.
</p>

<p class="wikiPara">
If you speak with Adam even for any length of time, you immediately recognize that he strikes an ideal balance between being practical and flexible. He's quoted in the announcement as stating:
</p>

<blockquote class="wikiBlockquote">
You have to be open to changes and suggestions
</blockquote>

<p class="wikiPara">
Java EE 6 brought a lot of changes in the platform, including <a href="http://docs.jboss.org/cdi/spec/1.0/html/" target="" class="regularLink">JSR-299</a>, and it's great to see Adam embrace the changes, apply them in practice and communicate (and challenge) the benefits through <a href="http://adam-bien.com/roller/abien" target="" class="regularLink">blog entries</a>, <a href="http://press.adam-bien.com/" target="" class="regularLink">books</a>, <a href="http://www.oracle.com/technetwork/articles/java/ejb-3-1-175064.html" target="" class="regularLink">articles</a>, <a href="http://blogs.sun.com/glassfishpodcast/entry/episode_068_interview_with_adam" target="" class="regularLink">podcast interviews</a>, presentations and <a href="http://twitter.com/#!/adambien" target="" class="regularLink">status updates</a>. The message he consistently delivers is:
</p>

<blockquote class="wikiBlockquote">
Most developers are stunned to discover that Java EE 6 became even lighter than POJOs.
</blockquote>

<p class="wikiPara">
Can you ask for a more well-rounded champion for the platform? The best part is, I know Adam bases his support on technical merit and utility. To me, that's what makes his message carry so much weight.
</p>

<blockquote class="wikiBlockquote">
Bien works with many companies as a Java architecture consultant for enterprise applications, helping organizations design and implement high-performance Java solutions and troubleshooting mission-critical problems. He's also the author of eight books and more than 100 articles on Java, architectures, and best practices.
</blockquote>

<p class="wikiPara">
So he works and gives back to the community. Hero.
</p>

<p class="wikiPara">
Keep up the great work Adam and all Java EE rock stars who contribute practical experience to the community! You keep us away from <a href="http://en.wikipedia.org/wiki/Ivory_Tower" target="" class="regularLink">Ivory Towers</a>.</p>
</div>

