---
title: "Weld archetypes in the spotlight"
author: "Dan Allen"
creation_date: "06-02-2010"
blogger_name: "Dan"
layout: blog-post
tags: [Weld]
slug: WeldArchetypesInTheSpotlight
lace: http://in.relation.to/14271.lace
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
The initiative to create <a href="http://www.seamframework.org/Documentation/WeldArchetypeProjectInformation" target="" class="regularLink">Weld archetypes</a> has had a further reaching impact than just the community of developers interested in using CDI (via Weld). A <a href="http://www.sonatype.com/people/2010/01/maven-archetypes-and-nexus-there-is-no-faster-way/" target="" class="regularLink">recent entry</a> on the Sonatype blog, titled <i class="wikiEmphasis">Maven Archetypes and Nexus: “There is No Faster Way”</i>, cites the Weld archetypes as:
</p>

<blockquote class="wikiBlockquote">
...the perfect case study of how using Archetypes benefits the community.
</blockquote>

<p class="wikiPara">
Steven Boscarine (Weld community contributor) is applauded for recognizing the value archetypes can bring to the community and for ultimately getting them promoted to <a href="http://repo2.maven.org/maven2/org/jboss/weld/archetypes/" target="" class="regularLink">Maven central</a> for all <a href="/Bloggers/GetRunningOnCDIJSF2InAJiffyUsingMavenArchetypes" target="" class="regularLink">to use</a>.
</p>

<p class="wikiPara">
Although archetypes are rather technically simple, it's important to recognize the impact they can have by starting people off on the right foot.
</p>

<p class="wikiPara">
By the way, we are still looking for <a href="http://www.seamframework.org/Documentation/WeldArchetypeProjectInformation" target="" class="regularLink">contributors</a> that would like to help shape the vision for the Weld archetypes, and to get us from beta to a stable release.</p>
</div>
<div id="disqus_thread"></div><script type="text/javascript">
    var disqus_shortname = 'otnoitalerni';
    var disqus_identifier = 'WeldArchetypesInTheSpotlight';
    var disqus_title = 'Weld archetypes in the spotlight';
    var disqus_url = 'http://in.relation.to/14271.lace';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
