---
title: "Gel with CDI and Java EE at the Boston JBUG"
author: "Dan Allen"
blogger_name: "Dan"
creation_date: "07-03-2011"
original_tags: [Announcement,Contexts and Dependency Injection,Event]
tags: [CDI,Events]

relative_url: /2011/03/07/gel-with-cdi-and-java-ee-at-the-boston-jbug
slug: gel-with-cdi-and-java-ee-at-the-boston-jbug
lace: http://in.relation.to/18623.lace

layout: blog-post

disqus_thread_id: http://in.relation.to/2011/03/07/gel-with-cdi-and-java-ee-at-the-boston-jbug
---
<div id="documentDisplay" class="documentDisplay">


<p class="wikiPara">
Are you in Boston? Want to learn more about CDI or just meetup? I'll be in town presenting at the Boston JBUG on Tuesday, March 8th about how <a href="http://community.jboss.org/wiki/BostonJBossUserGroup-CDIMakingJavaEEgel" target="" class="regularLink">CDI makes Java EE gel</a>. Join us!
</p>

<div style="background-color: rgb(244,255,241);">

<img src="/images/18625.png" style="width: 400px; float: left; margin-right: 5px;">

<p>Java EE 6 offers significant and compelling improvements over previous revisions of the platform. Java EE is now portable <i class="wikiEmphasis">and</i> lightweight. But what if these improvements still come up short for your needs? Will you have to wait for Java EE 7 to get the features necessary for you to move forward? How do third-party technologies fit into this picture?</p>

<p>Regardless of how sweeping the change, before long, you'll expect more out of the platform. Java EE 6 makes room for growth.</p>

<p>This talk explores the new programming model that was introduced as the foundation of Java EE 6, <a href="http://docs.jboss.org/cdi/spec/1.0/html/" target="" class="regularLink">Contexts and Dependency Injection (CDI)</a>. You discover that with this programming model, it's possible to enhance, extend and customize the platform to suit your needs. You learn how you can achieve loose coupling without sacrificing strong typing and how to create portable extensions that integrate natively with the container by leveraging the extension SPI. In essence, we can backport features of Java EE 7 and beyond, effectively making them available today. You have to look no further than <a href="http://seamframework.org/Seam3" target="" class="regularLink">Seam 3</a>.</p>

</div>

<p class="wikiPara">
<a href="http://community.jboss.org/wiki/BostonJBossUserGroup-CDIMakingJavaEEgel" target="" class="regularLink">Sign-up sheet</a> (for pizza) See you at <strong style="color: rgb(204,0,0);">Boston U</strong> !</p>
</div>

