---
title: "Seam Community Heros announced at JUDCon"
author: "Dan Allen"
blogger_name: "Dan"
creation_date: "03-05-2011"
tags: [Community,Seam 3]

absolute_url: http://in.relation.to/2011/05/03/SeamCommunityHerosAnnouncedAtJUDCon
lace: http://in.relation.to/19867.lace
slug: SeamCommunityHerosAnnouncedAtJUDCon

layout: blog-post
---
<div id="documentDisplay" class="documentDisplay">


<img src="http://in.relation.to/service/File/19860" style="width: 300px; height: 300px; float: right; margin-left: 15px;">
<p class="wikiPara">
At the start of the hackfest at JUDCon, I took the stage to recognize (after a long introduction and too much story telling) the following community members as Seam Community Heros (some additions here for those not in attendance). These community members have been instrumental in shaping the Seam 3 project and advancing it to its first release.
</p>

<ul class="wikiUnorderedList">
<li class="wikiUnorderedListItem"> <strong>Jordan Ganoff</strong> - First Seam community module lead (JMS); encouraged migration to github; first module to identify significant enhancements needed for CDI in the area of events; smoothly transitioned module to John Ament's lead</li>
<li class="wikiUnorderedListItem"> <strong>Brian Leathem</strong> - Took over the lead role of the Seam Faces project, gave it direction and has absolutely been a bug crushing and feature crafting machine; also wrote the <a href="http://seamframework.org/Seam3/Contribute" target="" class="regularLink">Seam contributor guide</a>
</li>
<li class="wikiUnorderedListItem"> <strong>Jason Porter</strong> - Designed and leads the Seam Catch module; keeps the Seam community engaged, particularly in IRC, and continuously helps improve it's efficiency; Jason joined Red Hat shortly after the Seam 3 release</li>
<li class="wikiUnorderedListItem"> <strong>John Ament</strong> - Stepped in as module lead of Seam JMS, taking it from 7 to over 40 classes; he found a way to move past some of roadblocks that were preventing the module from advancing; he also works on Seam JCR</li>
<li class="wikiUnorderedListItem"> <strong>Ken Finnigan</strong> - Leads the Seam International module; worked with James Perkins and David Lloyd to transition the typed-logger in Solder from slideware to working code; his teamwork was critical in making this feature a success</li>
<li class="wikiUnorderedListItem"> <strong>James Perkins</strong> - Wrote the annotation processor for JBoss Logging and worked with Ken Finnigan to make its design flexible enough to accommodate the Solder annotations</li>
<li class="wikiUnorderedListItem"> <strong>Stuart Douglas</strong> - Almost singlehandedly saved the Seam 3 project during its infancy by contributing a stunning amount of code, including Seam Config, significant parts of Seam Solder and Seam Persistence; drastically improved the performance of Weld's extension processing; joined Red Hat at the start of the year to work on AS 7</li>
<li class="wikiUnorderedListItem"> <strong>Cody Lerum</strong> - Has been plugging away at the Seam Mail module since last summer; was a big fan of the e-mail support in Seam 2 and picked up ownership of the Seam Mail module for Seam 3 pretty much on his own, designed a fluent API set to modernize the mail experience in Java EE</li>
</ul>

<p class="wikiPara">
Each person has (or will) receive <a href="http://twitpic.com/4skcvj" target="" class="regularLink">a t-shirt</a> with the Seam Community Hero graphic on the back and a github <a href="http://shop.github.com/products/octopint-set-of-2" target="" class="regularLink">octopint</a>. My wife totally surprised me by designing this custom artwork for the t-shirt in your honor. She got the idea after listening to me recount many stories about the work you done. I'd like to thank her for this contribution (and for being awesome). She is certainly an honorary Seam community member.
</p>

<p class="wikiPara">
I'd also like to thank our QA team, namely Jozef Hartinger and Martin Gencer, for doing a fantastic job of identifying and resolving issues for the Seam 3 release and beyond. Of course, <i class="wikiEmphasis">we value each and every one of our community contributors and their participation</i>. I look forward to recognizing additional individuals for this award as the project continues. (And my wife just offered to design a new graphic for the next ceremony).</p>
</div>
